﻿<div class="main-navigation navbar-collapse1" style="position: inherit;width:824px">
    <div kendo-tree-view="tree" k-data-source="selectedcatalog1"
         style="height:450px;border: 1px solid #ccc;border-radius: 4px;">
        <span k-template>
            @*<a class='k-item' id="{{dataItem.id}}">{{dataItem.CATEGORY_NAME}}</a>*@
            <label class='k-item' id="{{dataItem.id}}"><input type="checkbox" value="{{dataItem.CATEGORY_ID}}" />{{dataItem.CATEGORY_NAME}}</label>
        </span>
    </div>
</div>

