﻿@{
    ViewBag.Title = "Global Attribute Manager";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}
<style>
    .disableBox {
        pointer-events: none !important;
    }

    .attributegroupa > .k-dropdown > .k-dropdown-wrap {
        height: 30px;
    }

  /*  .k-dropdown-wrap {
        height: 30px;
    }*/
</style>
@*<script data-require="angular.js@1.3.x" src="https://code.angularjs.org/1.3.13/angular.js" data-semver="1.3.13"></script>*@

<script type="text/javascript">
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            alert("Invalid data");
            return false;
        }
        return true;
    }


</script>
<form name="Globalattribute_form">
    <div class="col-sm-12 no-padding">
        @*@Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Global Attribute Manager</span>  </div>")*@
        <div id="exportTab" class="tab-pane fade in active">
            @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Global Attribute Manager</span>  </div>")
            <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);
                                                                                                                                              background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;
                                                                                                                                              box-shadow: 0 1px 0 #2c232b inset;">
                <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>Global Attribute Manager
            </div>
        </div>

        <div id="tabstrip" ng-controller="GlobalAttributeManagerController" ng-cloak>
            <ul id="tabselect">
                <li id="att_ass" class="k-state-active" title="{{globalAttributeAssociation}}">
                    Attribute Association
                </li>
                <li id="att_sort" title="{{globalColumnSorter}}">
                    Column Sorter
                </li>
                <li id="att_cal" title="{{globalCalculatedAttributes}}">
                    Calculated Attributes
                </li>
                <li id="att_selectedfamily" title="{{globalAttributeValue}}">
                    Attribute Value
                </li>
            </ul>
            <div>
                <div class="main-content no-margin">
                    <div ng-show="userGlobalattrassociation" class="container" style="padding-top: 8px;min-height: 535px;">

                        <div class="col-sm-3">
                            @*Select Catalog

                                <div style="vertical-align: bottom; padding-bottom: 20px;padding-top: 8px;">
                                    <select kendo-drop-down-list
                                            k-option-label="'--- Select Catalog ---'"
                                            k-data-text-field="'CATALOG_NAME'"
                                            k-data-value-field="'CATALOG_ID'"
                                            k-data-source="catalogDataSource"
                                            ng-model="SelectedCatalogId"
                                            k-on-change="catalogtypeChange(kendoEvent)" style="width:250px" disabled></select>
                                </div>*@

                            <label class="bold">Attribute Type</label>



                            <div style="vertical-align: bottom; padding-bottom: 10px;padding-top: 8px;margin-top: 7px;" class="attributegroupa">
                                <select kendo-drop-down-list
                                        k-option-label="'--- Select Attribute Type ---'"
                                        k-data-text-field="'DATA_TYPE'"
                                        k-data-value-field="'id'"
                                        k-selectable="true"
                                        k-data-source="AttributeDataSource"
                                        k-on-change="AttrtypeChange(kendoEvent)" style="width:250px"></select>
                            </div>


                            <div id="AttributePackageId" style="vertical-align: bottom; padding-bottom: 10px;padding-top: 8px;" ng-show="isAttributePackage">
                                @*<select kendo-drop-down-list
                                            k-options="Packagetypedatasource"
                                            ng-model="GroupeType"
                                            k-data-value-field="'packagetype'"
                                            k-data-text-field="'packagetypename'"
                                            k-on-change="ChangeGroupType(kendoEvent)" style="width: 247px !important"></select>
                                    <br />
                                    <br />*@
                                <select kendo-drop-down-list
                                        k-option-label="'--- Select Group ---'"
                                        k-data-text-field="'GROUP_NAME'"
                                        k-data-value-field="'GROUP_ID'"
                                        k-data-source="groupNameDataSource"
                                        k-on-change="groupNameChange(kendoEvent)"
                                        ng-model="SelectedGroupId"
                                        style="width:247px"></select>

                            </div>



                            <div class="navbar-content isNotAttributePack" id="showcatalogTab">
                                <div class="main-navigation navbar-collapse1" style="position: inherit;width:345px;height:200px;">
                                    <div class="heightsample" style="max-height:200px;min-height:100px; height:200px;overflow: auto;border: 1px solid rgb(204, 204, 204);width:247px">
                                        <div id="checkboxpadding">
                                            <div class="padding-5" ng-repeat="e in entities" @*ng-class="getSelectedClass(e)"*@>
                                                @*<input type="checkbox" name="selected" id="{{e.ATTRIBUTE_ID}}">*@
                                                <input type='checkbox' id='chkid' ng-if="e.ATTRIBUTE_ID!=1" class='chk1' value="{{e.ATTRIBUTE_ID}}" />

                                                <input type='checkbox' ng-if="e.ATTRIBUTE_ID==1" ng-disabled="true" id='chkid1' ng-checked="IsCheck" class='chk1' value="{{e.ATTRIBUTE_ID}}" />
                                                <a ng-if="e.ATTRIBUTE_ID!=1">{{e.ATTRIBUTE_NAME}}</a>
                                                <a ng-if="e.ATTRIBUTE_ID==1">{{CatalogItemNumber}}</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="navbar-content isAttributePack" id="showcatalogTab">
                                <div class="main-navigation navbar-collapse1" style="position: inherit;width:345px;height:200px;">
                                    <div class="heightsample" style="max-height:200px;min-height:100px; height:200px;overflow: auto;border: 1px solid rgb(204, 204, 204);width:247px">
                                        <div id="checkboxpadding">
                                            <div class="padding-5" ng-repeat="e in entities" @*ng-class="getSelectedClass(e)"*@>
                                                <input type='checkbox' id='chkid' ng-if="e.ATTRIBUTE_ID!=1" class='chk' ng-model="checked" style="pointer-events:none" ng-init="checked=true" value="{{e.ATTRIBUTE_ID}}" />

                                                <input type='checkbox' ng-if="e.ATTRIBUTE_ID==1" ng-disabled="true" id='chkid1' style="pointer-events:none" ng-checked="IsCheck" class='chk' value="{{e.ATTRIBUTE_ID}}" />
                                                <a ng-if="e.ATTRIBUTE_ID!=1">{{e.ATTRIBUTE_NAME}}</a>
                                                <a ng-if="e.ATTRIBUTE_ID==1">{{CatalogItemNumber}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <table cellpadding="10px" width="40%" cellspacing="10px" style="border-collapse: inherit; border-spacing: 10px;">
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td align="right" width="50%">
                                            <button class="btn btn-primary btn-xs" type="button" id="chkselectall" ng-click='selectall()' title="{{checkAllAttribute}}">
                                                Check All
                                            </button>
                                        </td>
                                        <td align="left">
                                            <button class="btn btn-primary btn-xs" type="button" ng-disabled="unselectallDisplay" ng-click='unselectall()' title="{{uncheckAllAttribute}}">
                                                Uncheck All
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                            <div style="width:247px;position: inherit; border: 1px solid rgb(204, 204, 204);">
                                <br /> &nbsp; <label class="bold">Select Options</label>

                                <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 10px;">
                                    <tbody>
                                        <tr>

                                            <td align="right" width="20%">
                                                <input type="checkbox" value="ADD" id="selattr" class="chkoption" ng-click='check()'>
                                            </td>
                                            <td align="left" id="addGroup">
                                                Add selected attributes
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" width="20%">
                                                <input type="checkbox" id="remattr" value="REMOVE" class="chkoption" ng-click='remattrcheck()'>
                                            </td>
                                            <td align="left" id="removeGroup">
                                                Remove selected attributes
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" width="20%">
                                                <input type="checkbox" id="addpub" class="chkoption" value="PUBLISH" ng-click='addpubcheck()'>
                                            </td>
                                            <td align="left">
                                                Publish
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" width="20%">
                                                <input type="checkbox" id="rempub" class="chkoption" value="UNPUBLISH" ng-click='rempubcheck()'>
                                            </td>
                                            <td align="left">
                                                Unpublish
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="bold">Item Products</div>
                            <br />
                            <div style="position: inherit;width:100%">
                                <div class="titleblue">
                                    <span><input type="checkbox" id="chkEnabled1" ng-model="CheckOrUncheckBox1" ng-click="CheckOrUncheck1()"> <b>Check / Uncheck</b></input> </span>
                                    <span><input type="checkbox" id="chkEnabled2" ng-model="ExpandOrCollapseBox1" ng-click="ExpandOrCollapse1()"> <b>Expand / Collapse</b></input> </span>
                                </div>
                                <div id="treeviewKendo1" kendo-tree-view="tree" k-data-source="selectedcatalog1" k-options="treeOptionsCatalog"
                                     style="height:408px;border: 1px solid #ccc;" k-load-on-demand="true">
                                    <span k-template>
                                        <label class='k-item' id="{{dataItem.id}}">{{dataItem.CATEGORY_NAME}}</label>
                                    </span>
                                </div>
                                <div class="col-sm-12" style="padding-top: 7px;margin-left: -15px;">
                                    <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing:10px;">
                                        <tbody>
                                            <tr>


                                                <td align="center">

                                                    <button class="btn btn-primary btn-xs" type="button" ng-disabled="!EditMode" ng-click='runscript()' title="{{saveProductFamilies}}">
                                                        <i class="fa fa-save"></i>
                                                    </button>
                                                    <button class="btn btn-primary btn-xs" type="button" ng-disabled="!EditMode" ng-click='pagereload()' title="{{refreshProductFamilies}}">
                                                        <i class="fa fa-refresh"></i>
                                                    </button>
                                                    <button class="btn btn-primary btn-xs" type="button" ng-disabled="!EditMode" ng-click='pagereload()' title="{{cancelProductFamilies}}">

                                                        <i class="fa fa-close"></i>
                                                    </button>

                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4" id="subproductfamily">
                            <div class="bold">Sub Product Families</div>
                            <br />
                            <div style="position: inherit;width:100%">
                                <div class="titleblue">
                                    <span><input type="checkbox" id="chkEnabledsub1" ng-model="CheckOrUncheckBox1sub" ng-click="CheckOrUncheck1sub()"> <b>Check / Uncheck</b></input> </span>
                                    <span><input type="checkbox" id="chkEnabledsub2" ng-model="ExpandOrCollapseBox1sub" ng-click="ExpandOrCollapse1sub()"> <b>Expand / Collapse</b></input> </span>
                                </div>
                                <div id="treeviewKendo1sub" kendo-tree-view="tree" k-data-source="subproductdatasource" k-options="subproducttreeOptionsCatalog"
                                     style="height:408px;border: 1px solid #ccc;" k-load-on-demand="true">
                                    <span k-template>
                                        <label class='k-item' id="{{dataItem.id}}">{{dataItem.CATEGORY_NAME}}</label>
                                    </span>
                                </div>
                                <div class="col-sm-12" style="padding-top: 7px;margin-left: -15px;">
                                    <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing:10px;">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <button class="btn btn-primary btn-xs" type="button" ng-disabled="!EditMode || sbuFamilyEnable" ng-click='runscriptsubproducts()' title="{{saveSubProductFamilies}}">
                                                        <i class="fa fa-save"></i>
                                                    </button>
                                                    <button class="btn btn-primary btn-xs" type="button" ng-disabled="!EditMode || sbuFamilyEnable" ng-click='pagereload()' title="{{refreshSubProductFamilies}}">
                                                        <i class="fa fa-refresh"></i>
                                                    </button>
                                                    <button class="btn btn-primary btn-xs" type="button" ng-disabled="!EditMode || sbuFamilyEnable" ng-click='pagereload()' title="{{cancelSubProductFamilies}}">

                                                        <i class="fa fa-close"></i>
                                                    </button>

                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
            <div>
                <div class="main-content no-margin">
                    <div ng-show="userGlobalcolumnsort" class="container" style="padding-top: 8px;min-height: 535px;">
                        <div class="col-sm-3">
                            @*Select Catalog

                                <div style="vertical-align: bottom; padding-bottom: 20px;padding-top: 8px;">
                                    <select kendo-drop-down-list
                                            k-option-label="'--- Select Catalog ---'"
                                            k-data-text-field="'CATALOG_NAME'"
                                            k-data-value-field="'CATALOG_ID'"
                                            k-data-source="catalogDataSource_Sort"
                                            ng-model="SelectedCatalogId"
                                            k-on-change="catalogtypeChange_sort(kendoEvent)" style="width:250px" disabled></select>
                                </div>*@
                            <label class="bold">Attribute Type</label>
                            <div style="vertical-align: bottom; padding-bottom: 20px;padding-top: 8px;">
                                <select kendo-drop-down-list
                                        k-option-label="'--- Select Attribute Type ---'"
                                        k-data-text-field="'DATA_TYPE'"
                                        k-data-value-field="'id'"
                                        k-selectable="true"
                                        k-data-source="AttributeDataSource"
                                        k-on-change="AttrtypeChangetab(kendoEvent)" style="width:250px" ng-model="attributetype"></select>
                            </div>
                            <label class="bold">Select Attribute</label>


                            <div style="vertical-align: bottom; padding-bottom: 20px;padding-top: 8px;">
                                <select kendo-drop-down-list
                                        k-option-label="'--- Select Attribute ---'"
                                        k-data-text-field="'ATTRIBUTE_NAME'"
                                        k-data-value-field="'ATTRIBUTE_ID'"
                                        k-selectable="true"
                                        k-data-source="selectedAttribute"
                                        k-on-change="Attrselect(kendoEvent)"
                                        style="width:250px" ng-model="attributesort"></select>
                            </div>
                            <label class="bold">Enter new column sort order</label>
                            <div style="color: black; padding-top: 8px;">
                                <input type="text" name="newSortorder" style="width: 240px !important;" ng-trim="false" required ng-model="Sort" onkeypress="return isNumber(event)">
                            </div>
                            <div role="alert">
                                <span class="error" ng-show="Globalattribute_form.newSortorder.$error.required">
                                    Please enter a sort order.
                                </span>
                                @*<p class="error" ng-show="Globalattribute_form.sortorder.$error.pattern">Numbers only, please.</p> ng-pattern="/^(\d)+$/"*@
                            </div>
                            @*<input type="text" name="catalogname" ng-model="Catalog.CATALOG_NAME" ng-trim="false" required="" class="ng-pristine ng-untouched ng-valid">*@
                        </div>

                        <div class="col-sm-4">
                            <div class="bold">
                                Item Products
                            </div>
                            <br />
                            <div style="position: inherit;width:100%">
                                <div class="titleblue">
                                    <span><input type="checkbox" id="chkEnabled3" ng-model="CheckOrUncheckBox2" ng-click="CheckOrUncheck2()"> <b>Check / Uncheck</b></input> </span>
                                    <span><input type="checkbox" id="chkEnabled4" ng-model="ExpandOrCollapseBox2" ng-click="ExpandOrCollapseBox21()"> <b>Expand / Collapse</b></input> </span>
                                </div>
                                <div id="treeviewKendo2" kendo-tree-view="tree" k-data-source="selectedcatalog1_sort" k-options="treeOptionsCatalog_sort"
                                     style="height:400px;border: 1px solid #ccc;" k-load-on-demand="true">
                                    <span k-template>
                                        <label class='k-item' id="{{dataItem.id}}">{{dataItem.CATEGORY_NAME}}</label>
                                    </span>
                                </div>
                            </div>
                            <div style="padding-top: 7px;">
                                <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 10px;">
                                    <tbody>
                                        <tr>
                                            <td align="center" width="50%">
                                                <button class="btn btn-primary btn-xs" type="button" ng-click='runsortscript()' title="{{saveColumnSortProductFamilies}}">
                                                    <i class="fa fa-save"></i>
                                                </button>
                                                <button class="btn btn-primary btn-xs" type="button" ng-click='sortrefresh()' title="{{refreshColumnSortProductFamilies}}">
                                                    <i class="fa fa-refresh"></i>
                                                </button>
                                                <button class="btn btn-primary btn-xs" type="button" ng-click='pagereload()' title="{{cancelColumnSortProductFamilies}}">
                                                    <i class="fa fa-close"></i>
                                                </button>
                                            </td>
                                            @*<td align="right" width="50%">
                                                    <button class="btn btn-primary btn-xs" type="button" ng-click='runsortscript()'>
                                                        Run
                                                    </button>
                                                </td>
                                                <td align="left">
                                                    <button class="btn btn-primary btn-xs" type="button" ng-click='pagereload()'>
                                                        Cancel
                                                    </button>
                                                </td>*@
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-4" id="subproductcolumn">
                            <div class="bold">
                                Sub Product Families
                            </div>
                            <br />
                            <div style="position: inherit;width:100%">
                                <div class="titleblue">
                                    <span><input type="checkbox" id="chkEnabledsubcol3" ng-model="CheckOrUncheckBox2sub" ng-click="CheckOrUncheck2sub()"> <b>Check / Uncheck</b></input> </span>
                                    <span><input type="checkbox" id="chkEnabledsubcol4" ng-model="ExpandOrCollapseBox2sub" ng-click="ExpandOrCollapse2sub()"> <b>Expand / Collapse</b></input> </span>
                                </div>
                                <div id="treeviewKendo2sub" kendo-tree-view="tree" k-data-source="subproductdatasourceColumn" k-options="treeOptionsCatalog_sortsub"
                                     style="height:400px;border: 1px solid #ccc;" k-load-on-demand="true">
                                    <span k-template>
                                        <label class='k-item' id="{{dataItem.id}}">{{dataItem.CATEGORY_NAME}}</label>
                                    </span>
                                </div>
                            </div>



                            <div style="padding-top: 7px;">
                                <table cellpadding="10px" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing:10px;">
                                    <tbody>
                                        <tr>
                                            <td align="center" width="50%">
                                                <button class="btn btn-primary btn-xs" type="button" ng-click='runsortscriptsub()' title="{{saveColumnSortSubProductFamilies}}">
                                                    <i class="fa fa-save"></i>
                                                </button>
                                                <button class="btn btn-primary btn-xs" type="button" ng-click='sortrefresh()' title="{{refreshColumnSortSubProductFamilies}}">
                                                    <i class="fa fa-refresh"></i>
                                                </button>
                                                <button class="btn btn-primary btn-xs" type="button" ng-click='pagereload()' title="{{cancelColumnSortSubProductFamilies}}">
                                                    <i class="fa fa-close"></i>
                                                </button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div>
                <div ng-show="userGlobalcalcattr" class="main-content no-margin">
                    <div class="container" style="padding-top: 8px;min-height: 535px;">

                        <div class="col-sm-3">

                            @*Select Catalog

                                <div style="vertical-align: bottom; padding-bottom: 20px;padding-top: 8px;">
                                    <select kendo-drop-down-list
                                            k-option-label="'--- Select Catalog ---'"
                                            k-data-text-field="'CATALOG_NAME'"
                                            k-data-value-field="'CATALOG_ID'"
                                            k-data-source="catalogCalculatedDataSource"
                                            ng-model="SelectedCatalogId"
                                            k-on-change="catalogCalculatedtypeChange(kendoEvent)" style="width:250px" disabled></select>
                                </div>*@
                            <div class="bold">Apply to</div>
                            <div style="margin-top: 15px; width:247px;position: inherit; border: 1px solid rgb(204, 204, 204);">
                                @*<br /> &nbsp;<label class="bold">&nbsp;Apply to</label>*@
                                <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 10px;">
                                    <tbody>
                                        <tr>
                                            <td align="right" width="20%">
                                                <input type="radio" name="radio" id="checkedRadioCreateNew" ng-click="RadioCreateNew()" checked="checked" ng-model="applytorefresh">
                                            </td>
                                            <td align="left">
                                                All Products
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" width="20%">
                                                <input type="radio" name="radio" id="checkedRadcvbioCreateNew" ng-click="RadiofgCreateNew()" checked="checked" ng-model="applytorefresh1">
                                            </td>
                                            <td align="left">
                                                Selected Products
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br />
                            </div>

                        </div>

                        <div class="col-sm-4">
                            <div class="bold">Item Products</div>
                            <br />
                            <div style="position: inherit;width:100%">
                                <div class="titleblue">
                                    <span><input type="checkbox" id="chkEnabled5" ng-model="CheckOrUncheckBox3" ng-click="CheckOrUncheck3()"> <b>Check / Uncheck</b></input> </span>
                                    <span><input type="checkbox" id="chkEnabled6" ng-model="ExpandOrCollapseBox3" ng-click="ExpandOrCollapse3()"> <b>Expand / Collapse</b></input> </span>
                                </div>
                                <div id="treeviewKendo3" kendo-tree-view="tree" k-data-source="selectedCalculatedcatalog1" k-options="treeOptionsCalculatedCatalog"
                                     style="height:400px;border: 1px solid #ccc;" k-load-on-demand="true">
                                    <span k-template>
                                        <label class='k-item' id="{{dataItem.id}}">{{dataItem.CATEGORY_NAME}}</label>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-11" style="padding-top: 7px;margin-left: -15px;">
                            <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing:10px;">
                                <tbody>
                                    <tr>
                                        <td align="center" width="50%">
                                            <button class="btn btn-primary btn-xs" type="button" ng-click='runcalculatedscript()' title="{{saveCalculateAttributes}}">
                                                <i class="fa fa-save"></i>
                                            </button>
                                            <button class="btn btn-primary btn-xs" type="button" ng-click='Calrefresh()' title="{{refreshCalculateAttributes}}">
                                                <i class="fa fa-refresh"></i>
                                            </button>

                                            <button class="btn btn-primary btn-xs" type="button" ng-click='pagereload()' title="{{cancelCalculateAttributes}}">
                                                <i class="fa fa-close"></i>
                                            </button>
                                        </td>
                                        @*<td align="right" width="50%">
                                                <button class="btn btn-primary btn-xs" type="button" ng-click='runcalculatedscript()'>
                                                    Run
                                                </button>
                                            </td>
                                            <td align="left">
                                                <button class="btn btn-primary btn-xs" type="button" ng-click='pagereload()'>
                                                    Cancel
                                                </button>
                                            </td>*@
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div ng-show="userGlobalattrval" class="main-content no-margin">
                    <div class="container" style="padding-top: 8px;min-height: 535px;">
                        <div class="col-sm-3">
                          
                            <label class="bold">Attribute Type</label>
                            <div style="vertical-align: bottom; padding-bottom: 20px;padding-top: 8px;">
                                <select kendo-drop-down-list
                                        k-option-label="'--- Select Attribute Type ---'"
                                        k-data-text-field="'DATA_TYPE'"
                                        k-data-value-field="'id'"
                                        k-selectable="true"
                                        k-data-source="AttributeDataSource"
                                        k-on-change="AttrtypeChangeForSelectedFamily(kendoEvent)" style="width:250px" ng-model="attributetype1"></select>
                            </div>
                            <label class="bold">Select Attribute</label>


                            <div style="vertical-align: bottom; padding-bottom: 20px;padding-top: 8px;">
                                <select kendo-drop-down-list
                                        k-option-label="'--- Select Attribute ---'"
                                        k-data-text-field="'ATTRIBUTE_NAME'"
                                        k-data-value-field="'ATTRIBUTE_ID'"
                                        k-selectable="true"
                                        k-data-source="selectedAttributeForSelectedFamily"
                                        k-on-change="AttrselectForSelectedFamily(kendoEvent)"
                                        style="width:250px" ng-model="selectattribute"></select>
                            </div>
                            <label class="bold">Value</label> <br />
                            <div style="color: black;padding-top: 8px;">
                                <input type="text" style="width:240px !important" id="Atrributeval" name="sortorder" ng-trim="false" ng-pattern="textPattern" ng-model="valueForSelectedFamily" required>
                                <p ng-show='Globalattribute_form.sortorder.$invalid && Globalattribute_form.sortorder.$error.pattern' class="text-danger">
                                    Enter valid format ({{uimask}}).
                                </p>
                                <input type="text" style="width:240px !important;display:none;" ng-pattern="attributePattern" onkeypress='return (event.which >= 48 && event.which <= 57) || event.which == 8 || event.which == 46' id="Atrributeval2" name="Atrribute2" ng-trim="false" ng-model="valueForSelectedFamily" required>

                                <p ng-show='Globalattribute_form.Atrribute2.$invalid && Globalattribute_form.Atrribute2.$error.pattern' class="text-danger">
                                    Enter valid format ({{uimask}}).
                                </p>


                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="bold">
                                Item Products
                            </div>
                            <br />
                            <div style="position: inherit;width:100%">
                                <div class="titleblue">
                                    <span><input type="checkbox" id="chkEnabled7" ng-model="CheckOrUncheckBox4" ng-click="CheckOrUncheck4()"> <b>Check / Uncheck</b></input> </span>
                                    <span><input type="checkbox" id="chkEnabled8" ng-model="ExpandOrCollapseBox4" ng-click="ExpandOrCollapseBox41()"> <b>Expand / Collapse</b></input> </span>
                                </div>
                                <div id="treeviewKendo4" kendo-tree-view="tree" k-data-source="selectedcatalog_ForSelectedFamily" k-options="treeOptionsCatalog_ForSelectedFamily"
                                     style="height:400px;border: 1px solid #ccc;" k-load-on-demand="true">
                                    <span k-template>
                                        <label class='k-item' id="{{dataItem.id}}">{{dataItem.CATEGORY_NAME}}</label>
                                    </span>
                                </div>
                                <div class="col-sm-12" style="padding-top: 7px;margin-left: -15px;">
                                    <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing:10px;">
                                        <tbody>
                                            <tr>

                                                <td align="center" width="50%">
                                                    <button class="btn btn-primary btn-xs" type="button" ng-disabled="!valueForSelectedFamily.length || Globalattribute_form.Atrribute2.$invalid || Globalattribute_form.Atrribute2.$error.pattern " ng-click='updatevalueForSelectedFamily()' title="{{processProductFamilies}}">
                                                        <i class="fa fa-save"></i>
                                                    </button>
                                                    <button class="btn btn-primary btn-xs" type="button" ng-click="Valuerefresh()" title="Refresh Product Families">
                                                        <i class="fa fa-refresh"></i>
                                                    </button>

                                                    <button class="btn btn-primary btn-xs" type="button" ng-click="pagereload()" title="Cancel Calculated Attribute for Product Families">
                                                        <i class="fa fa-close"></i>
                                                    </button>
                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4" id="subproductattr">
                            <div class="bold">Sub Product Families</div>
                            <br />
                            <div style="position: inherit;width:100%">
                                <div class="titleblue">
                                    <span><input type="checkbox" id="chkEnabledsub5" ng-model="CheckOrUncheckBoxsubvalue" ng-click="CheckOrUncheck1subvalue()"> <b>Check / Uncheck</b></input> </span>
                                    <span><input type="checkbox" id="chkEnabledsub6" ng-model="ExpandOrCollapseBox2value" ng-click="ExpandOrCollapse1subvalue()"> <b>Expand / Collapse</b></input> </span>
                                </div>
                                <div id="treeviewKendoattrvalue" kendo-tree-view="tree" k-data-source="subproductdatasourceAttrvalue" k-options="subproducttreeOptionsCatalogAttrvalue"
                                     style="height:400px;border: 1px solid #ccc;" k-load-on-demand="true">
                                    <span k-template>
                                        <label class='k-item' id="{{dataItem.id}}">{{dataItem.CATEGORY_NAME}}</label>
                                    </span>
                                </div>
                                <div class="col-sm-12" style="padding-top: 7px;margin-left: -15px;">
                                    <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing:10px;">
                                        <tbody>
                                            <tr>
                                                <td align="center" width="50%">
                                                    <button class="btn btn-primary btn-xs" type="button" ng-disabled="!valueForSelectedFamily.length || Globalattribute_form.Atrribute2.$invalid || Globalattribute_form.Atrribute2.$error.pattern " ng-click='updatevalueForSelectedFamilysub()' title="{{processSubProductFamilies}}">
                                                        <i class="fa fa-save"></i>
                                                    </button>
                                                    <button class="btn btn-primary btn-xs" type="button" ng-click="Valuerefresh()" title="Refresh Product Families">
                                                        <i class="fa fa-refresh"></i>
                                                    </button>

                                                    <button class="btn btn-primary btn-xs" type="button" ng-click="pagereload()" title="Cancel Calculated Attribute for Product Families">
                                                        <i class="fa fa-close"></i>
                                                    </button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section scripts{

    <script type="text/javascript" src='@Url.Content("~/Views/Wizard/GlobalAttributeManagerController.js")'></script>

    <script>
        $(document).ready(function () {
            $("#tabstrip").kendoTabStrip({
                animation: {
                    open: {
                        effects: "fadeIn"
                    }
                }
            });
        });
    </script>
}
