﻿@{
    ViewBag.Title = "Product Table Manager";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}
<script src="~/Views/Wizard/ProductTableManager.js"></script>
<div class="col-sm-12 no-padding" style="min-height: 500px">
    @*@Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Product Table Manager</span>  </div>")*@
    <div id="exportTab" class="tab-pane fade in active">
        @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Product Table Manager</span>  </div>")
        <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);
                                                                                                                                              background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;
                                                                                                                                              box-shadow: 0 1px 0 #2c232b inset;">
            <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>Product Table Manager
        </div>
    </div>
    <div ng-controller="ProductTableManager" ng-cloak>
        <div class="main-navigation navbar-collapse1 k-header" id="PTMBeforeTab" style="margin: 15px 0px 15px 0px; width:100%;position: inherit; border: 1px solid rgb(204, 204, 204);background: #eee;">
            <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 10px;">
                <tbody>
                    <tr>

                        <td align="left">
                            <h5 class="bold">This wizard helps to organize and configure product table globally</h5>
                            <div class="bold">What do you want to do?</div>
                        </td>
                    </tr>

                    <tr>

                        <td align="left">
                 
                            <input type="radio" name="radio1" id="checkedradioon" ng-click="TurnOnOffProductTableHeader()" checked="checked"> Turn On/Off Product Table Header
                        </td>
                    </tr>
                    <tr>

                        <td align="left">
                            <input type="radio" name="radio1" id="radioHorizontal" ng-click="CreateConfigureHorizontalTable()"> Create/Configure Horizontal Table
                        </td>
                    </tr>
                    <tr>

                        <td align="left">
                            <input type="radio" name="radio1" id="radiovertical" ng-click="CreateConfigureVerticalTable()"> Create/Configure Vertical Table
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <input type="radio" name="radio1" id="radiosuper" ng-click="CreateConfigureSuperTable()"> Create/Configure Super Table
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <button type="submit" ng-disabled="!EditMode" ng-click="NextToPTM()" class="btn btn-primary btn-xs" title="{{nextPTM}}">Next</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div id="PTMAfterTab" class="main-content no-margin k-header" style="background: #fff;">
            <div class="container" style="padding-top: 8px;">
                <div class="col-sm-2"></div>
                <div class="col-sm-3">
                    @*Select Catalog

                    <div style="vertical-align: bottom; padding-bottom: 20px;padding-top: 8px;">
                        <select kendo-drop-down-list
                                k-option-label="'--- Select Catalog ---'"
                                k-data-text-field="'CATALOG_NAME'"
                                k-data-value-field="'CATALOG_ID'"
                                k-data-source="catalogDataSourcePTM"
                                k-on-change="catalogtypeChangePTM(kendoEvent)" style="width:250px"></select>
                    </div>*@

                    <div id="turnonoffid" style="position: inherit; margin-top: 84px;  height:125px; border: 1px solid rgb(204, 204, 204);">
                        <br />
                        &nbsp; Options to 
                        <table id="headertable" cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 10px;">
                            <tbody>
                                <tr>
                                    <td align="right" width="20%">
                                        <input type="radio" name="radio" id="checkedradioyes" ng-click="TurnHeaderOn()" checked="checked">
                                    </td>
                                    <td align="left">
                                        Turn Header On
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" width="20%">
                                        <input type="radio" name="radio" id="checkedradiono" ng-click="TurnHeaderOff()">
                                    </td>
                                    <td align="left">
                                        Turn Header Off
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                    <div id="Familydet" style="vertical-align: bottom; padding-bottom: 20px;">
                        <div class="bold">
                            Select Family to use its Layout
                        </div>
                        <br />
                        <select kendo-drop-down-list
                                k-option-label="'--- Select Family ---'"
                                k-data-text-field="'FAMILY_NAME'"
                                k-data-value-field="'FAMILY_ID'"
                                k-data-source="familyDataSourcePTM"
                                k-on-change="familytypeChangePTM(kendoEvent)"
                                style="width:200px"></select>
                        <br />
                        <br />
                        <button class="btn btn-primary btn-xs" type="button" id="cancel" ng-click='previewFamilySpecsPTM()' title="{{previewFamilyPTM}}">
                            Preview Family
                        </button>
                        <br />
                        <br />
                        <input type="checkbox" id="chkApplyFTS" ng-model="CheckOrUncheckBoxApplyFTS" ng-click="CheckOrUncheckApplyFTS()" class="ng-pristine ng-valid ng-touched"> Apply the selected Product family table Structure
                        <br />
                        <br />
                        <div  id="turnonoffid" style="height:192px; position: inherit; border: 1px solid rgb(204, 204, 204); overflow:scroll; ">
                            <span ng-bind-html="PreviewTextPTM"></span>

                        </div>
                    </div>

                    @*-------------------*@
                    <div id="horizontalid" style="margin-top: 84px;position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">

                        <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 10px;">
                            <tbody>
                                <tr>
                                    <td align="center" width="20%">
                                        <input type="checkbox" id="chkEnabled1" ng-model="CheckOrUncheckBox2" ng-click="CheckOrUncheck2()" class="ng-pristine ng-valid ng-touched">
                                    </td>
                                    <td align="left">
                                        Set table format as Horizontal to the selected Product families
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @*-------------------*@
                    <div id="verticalid" style="margin-top: 84px;position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">

                        <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 10px;">
                            <tbody>
                                <tr>
                                    <td align="center" width="20%">
                                        <input type="checkbox" id="chkEnabled1" ng-model="CheckOrUncheckBox2" ng-click="CheckOrUncheck2()" class="ng-pristine ng-valid ng-touched">
                                    </td>
                                    <td align="left">
                                        Set table format as Vertical to the selected Product families
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="col-sm-5">
                    <div class="bold">Product Families</div>
                    <br />
                    <div style="position: inherit;width:auto">
                        <div class="titleblue">
                            <span><input type="checkbox" id="chkEnabled" ng-model="CheckOrUncheckBox1" ng-click="CheckOrUncheck1()"> <b>Check/UnCheck</b></input> </span>
                            <span><input type="checkbox" id="chkEnabled" ng-model="ExpandOrCollapseBox1" ng-click="ExpandOrCollapse1()"> <b>Expand/Collapse</b></input> </span>
                        </div>
                        <div id="treeviewKendo1" kendo-tree-view="tree" k-data-source="selectedcatalog1" k-options="treeOptionsCatalog" k-load-on-demand="true"
                             style="height:313px;border: 1px solid #ccc;">
                            <span k-template>
                                <label class='k-item' id="{{dataItem.id}}">{{dataItem.CATEGORY_NAME}}</label>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12" style="padding-top: 7px;margin-left: -15px;">
                    <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 10px;">
                        <tbody>
                            <tr>
                                <td align="center" width="50%">
                                    <button class="btn btn-primary btn-xs" type="button" ng-click='pageBack()' title="{{backPTM}}">
                                        Back
                                    </button>
                                    @*<button class="btn btn-primary btn-xs" type="button" id="cancel" ng-click='pageBack()' title="Cancel">
                                        Cancel
                                    </button>*@
                                    <button class="btn btn-primary btn-xs" type="button" ng-click='runfinishscript()' title="{{finishPTM}}">
                                        Finish
                                    </button>
                                </td>
                                @*<td align="right" width="50%">
                                    <button class="btn btn-primary btn-xs" type="button" id="cancel" ng-click='pageBack()'>
                                        Cancel
                                    </button>
                                    <button class="btn btn-primary btn-xs" type="button" ng-click='runfinishscript()'>
                                        Finish
                                    </button>
                                </td>*@
                                @*<td align="left">
                                      <button class="btn btn-primary btn-xs" type="button" ng-click='pagereload()'>
                                          Cancel
                                      </button>
                                </td>*@
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>