﻿@{
    ViewBag.Title = "Super Admin";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}

<form name="superAdminConfigForm" ng-cloak>
    <div class="main-content no-margin">
        @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Super Admin</span>  </div>")
        <div class="panel panel-default">
            <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png); box-sizing:border-box;
                                      background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;       box-shadow: 0 1px 0 #2c232b inset;">
                <i class="clip-bubbles-2" style="background-color: #fff; color: black;box-sizing:border-box;"></i>
                Super Admin
            </div>

            <div style="height: auto;" class="panel-body panel-scroll ps-container">
                <ul class="nav nav-tabs" role="tablist" id="myTab">
                    <li class="active"><a href="#CustomerManagementTab" data-toggle="tab">Customer Management</a></li>
                    <li><a href="#PlanManagementTab" data-toggle="tab">Plan Management</a></li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div id="CustomerManagementTab" class="tab-pane fade in active">
                        <div class="col-sm-12" style="margin-top: 10px">
                            @*@{Html.RenderPartial("Admin/FamilyGrid");}*@
                            @{Html.RenderPartial("Customers");}
                            @*@{Html.RenderPartial("Clients");}
                                @*  @{Html.RenderPartial("Admin/FamilyGrid");}*@

                        </div>
                    </div>
                    <div id="PlanManagementTab" class="tab-pane fade">
                        <div class="col-sm-12" style="margin-top: 10px">
                            @*@{Html.RenderPartial("Admin/FamilyGrid");}*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section scripts{
    <script type="text/javascript" src='@Url.Content("~/Views/App/SuperAdminConfig/superAdminConfigController.js")'></script>
}

