﻿.errors
{
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

#login-box
{
    width: 350px;
    padding: 30px 76px 0 76px;
}

#login-box img
{
    border: none;
}

#login-box h2
{
    padding: 0;
    margin: 0;
    text-align: center;
}


#login-box-name
{
    float: left;
    display: inline;
    width: 80px;
    text-align: right;
    padding: 14px 10px 0 0;
    margin: 0 0 7px 0;
}

#login-box-field
{
    float: left;
    display: inline;
    width: 237px;
    margin: 0;
    margin: 0 0 7px 0;
}


.form-login
{
    padding: 10px 4px 6px 3px;
}


.login-box-options
{
    clear: both;
    padding-left: 87px;
    font-size: 11px;
}




#DBlogin-box
{
    width: 450px;
    padding: 58px 76px 0 76px;
}

#DBlogin-box img
{
    border: none;
}

#DBlogin-box h2
{
    padding: 0;
    margin: 0;
    text-align: center;
}







.search_outer
{
    float: right;
    border: 3px solid #7ac943;
    border-radius: 5px;
    width: 30%;
    position: relative;
}

.topsearch
{
    float: left;
    height: 35px;
    width: 79.7%;
    border: 0;
    background-image: url("../Content/searchbg.jpg");
    margin: 0;
    padding: 0;
    color: #666;
}

.searchbtn
{
    float: left;
    height: 35px;
    width: 20%;
    background: url(../Content/wesloginmerge.png);
    background-position: -9px -230px;
}

/*-------------Logo Change---------------------*/


.view
{
    /*margin: 10px;*/ /*padding: 5px 0px 0px 10px;*/ /*float:left;*/
    overflow: hidden;
    position: relative;
    text-align: center; /* margin-top:3%;*/
}
.view1
{
    /*margin: 10px;padding: 10px 0px 0px 10px; float:left;
    overflow: hidden;*/
    position: relative;
    /*text-align: center;  margin-top:3%;*/
}
.view .mask, .view .content
{
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    padding: 2px;
    position: absolute;
    padding-top: 15px;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view img
{
    display: block;
    position: relative;
}
.view h2
{
    /*text-transform: uppercase;*/
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
}
.view p
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
}
.view a.info
{
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    /*text-transform: uppercase;*/
    text-transform: capitalize;
    -webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
    box-shadow: 0 0 1px #000;
}
.view a.info: hover
{
    -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

.view-tenth img
{
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}
.view-tenth .mask
{
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}
.view-tenth h2
{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    color: #333;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}
.view-tenth p
{
    color: #333;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.view-tenth a.info
{
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.view-tenth:hover img
{
    -webkit-transform: scale(10);
    -moz-transform: scale(10);
    -o-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}
.view-tenth:hover .mask
{
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.view-tenth:hover h2, .view-tenth:hover p, .view-tenth:hover a.info
{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.col-sm-cr3 .k-dropdown .k-input
{
    padding-left: 150px;
}

/*--------Add to cart button Css-----------------
.cart-icon
{
    background-image: url('../images/new-vd-sprite-08c177e8.png');
    background-repeat: no-repeat;
    background-position: 0 -87px;
    display: inline-block;
    width: 24px;
    height: 21px;
    zoom: 1;
    vertical-align: middle;
}
span.cart-icon
{
    background-image: url('../images/new-vd-sprite-08c177e8.png');
    background-repeat: no-repeat;
    background-position: 0 -87px;
    display: inline-block;
    width: 24px;
    height: 21px;
    zoom: 1;
    vertical-align: middle;
}
.btn-cart
{
    padding: 0;
    width: 100%;
    text-align: center;
    height: 34px;
    line-height: 34px;
    border: 0;
}
.unitExt
{
    width: 14%;
    position: relative;
}
.unitExt
{
    float: right;
}
.btn.btn-blue
{
    background: #007fb8;
    border: 1px solid #004b91;
    background: -moz-linear-gradient(top,#007fb8 1%,#6ebad5 3%,#007fb8 7%,#007fb8 100%);
    background: -webkit-linear-gradient(top,#007fb8 1%,#6ebad5 3%,#007fb8 7%,#007fb8 100%);
    background: -o-linear-gradient(top,#007fb8 1%,#6ebad5 3%,#007fb8 7%,#007fb8 100%);
    background: -ms-linear-gradient(top,#007fb8 1%,#6ebad5 3%,#007fb8 7%,#007fb8 100%);
    background: linear-gradient(to bottom,#007fb8 1%,#6ebad5 3%,#007fb8 7%,#007fb8 100%);
}
.btn, .btn.btn-small
{
    padding: 6px 12px 4px;
    font-size: 11px;
}
.btn
{
   
    border: 1px solid #ccc;
    display: inline-block;
    zoom: 1;
    line-height: 1.3;
    color: #f9f9f9;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.newMenu .header-topbar .cart-btn-cont .btn-cart .cart-count
{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    background-color: #fff;
    color: #007fb8;
    height: 15px;
    width: 15px;
    padding: 2px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 15px;
}
.newMenu .header-topbar .cart-btn-cont .btn-cart .cart-label
{
    margin-left: 5px;
    vertical-align: middle;
    color: #f9f9f9;
}
.btn.btn-blue:hover
{
    background: #007fb8;
    border: 1px solid #004b91;
    background: -moz-linear-gradient(top,#007fb8 1%,#6ebad5 3%,#059fc6 7%,#007fb8 100%);
    background: -webkit-linear-gradient(top,#007fb8 1%,#6ebad5 3%,#059fc6 7%,#007fb8 100%);
    background: -o-linear-gradient(top,#007fb8 1%,#6ebad5 3%,#059fc6 7%,#007fb8 100%);
    background: -ms-linear-gradient(top,#007fb8 1%,#6ebad5 3%,#059fc6 7%,#007fb8 100%);
    background: linear-gradient(to bottom,#007fb8 1%,#6ebad5 3%,#059fc6 7%,#007fb8 100%);
}

/*--------End of Add to cart---------------------*/
