﻿

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    padding-top: 50px;
    background: url(../Content/images/bg.png) repeat;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 13px !important;
    color: #30a8ad !important;
}

#pageWrapper {
    min-height: 100%;
    position: relative;
}

a {
    color: #30a8ad !important;
}
/* Set padding to keep content from hitting the edges */
#containerDiv {
    padding: 15px;
    padding: 30px;
    padding-bottom: 50px; /*it should be 10 higher than footer div height*/
}
/*Footer CSS Start*/
#footerDiv {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #353434;
    height: 40px;
    padding: 10px 15px;
    color: #fff;
}

    #footerDiv a {
        color: #1eb4ba;
    }

.footerRight {
    text-align: right;
}
/*Footer CSS End*/
#loginWrapper, #forgotPasswordWrapper {
    margin: 7% auto;
    width: 400px;
    background-color: #fffbfb;
    border: solid 1px #0e8f94;
    padding: 2% 3%;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#34ccd2, endColorstr=#30a8ad);
    -moz-box-shadow: 0px 2px 0px 3px #dadada;
    -webkit-box-shadow: 0px 2x 0px 3px #dadada;
    box-shadow: 0px 2px 0px 3px #dadada;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /* future proofing */
    -khtml-border-radius: 4px; /* for old Konqueror browsers */
}

/*
.dl-horizontal dt {  white-space: normal;}

input,
select,
textarea {
    max-width: 280px;
}
*/


/*Header CSS Start*/

.lsLogo {
    position: relative;
    top: 10px;
    color: #fff;
    font-size: 30px;
}

.headerbg {
    border-bottom: 1px solid #0e8f94;
    border-top: 1px solid #0e8f94;
    background-color: #34ccd2;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#34ccd2, endColorstr=#30a8ad);
    background-image: -moz-linear-gradient(top, #34ccd2 0%, #30a8ad 100%);
    background-image: -webkit-linear-gradient(top, #34ccd2 0%, #30a8ad 100%);
    background-image: -ms-linear-gradient(top, #34ccd2 0%, #30a8ad 100%);
    background-image: linear-gradient(top, #34ccd2 0%, #30a8ad 100%);
    background-image: -o-linear-gradient(top, #34ccd2 0%, #30a8ad 100%);
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%,#34ccd2), color-stop(100%,#30a8ad));
    -moz-box-shadow: 0px 1px 0px 2px #dadada;
    -webkit-box-shadow: 0px 1x 0px 2px #dadada;
    box-shadow: 0px 1px 0px 2px #dadada;
}

.topMenu {
    margin-left: 30px;
}

    .topMenu li {
        text-align: center;
        padding-top: 20px;
        border-right: 1px solid #0e8f94;
        cursor: pointer;
        height: 68px;
    }

        .topMenu li a {
            padding-top: 0px;
            padding-bottom: 0px;
            color: #ffffff !important;
        }

            .topMenu li a img {
                margin-right: 5px;
            }

        .topMenu li:first-child {
            border-left: 1px solid #0e8f94;
        }

        .topMenu li:hover {
            background-color: #4fdde3;
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4fdde3, endColorstr=#2ac2c8);
            background-image: -moz-linear-gradient(top, #4fdde3 0%, #2ac2c8 100%);
            background-image: -webkit-linear-gradient(top, #4fdde3 0%, #2ac2c8 100%);
            background-image: -ms-linear-gradient(top, #4fdde3 0%, #2ac2c8 100%);
            background-image: linear-gradient(top, #4fdde3 0%, #2ac2c8 100%);
            background-image: -o-linear-gradient(top, #4fdde3 0%, #2ac2c8 100%);
            background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%,#4fdde3), color-stop(100%,#2ac2c8));
        }


.topMenuActive {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4fdde3, endColorstr=#2ac2c8);
    background-image: -moz-linear-gradient(top, #4fdde3 0%, #2ac2c8 100%);
    background-image: -webkit-linear-gradient(top, #4fdde3 0%, #2ac2c8 100%);
    background-image: -ms-linear-gradient(top, #4fdde3 0%, #2ac2c8 100%);
    background-image: linear-gradient(top, #4fdde3 0%, #2ac2c8 100%);
    background-image: -o-linear-gradient(top, #4fdde3 0%, #2ac2c8 100%);
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%,#4fdde3), color-stop(100%,#2ac2c8));
}


.loginBtn li a {
    padding: 6px 14px;
    margin: 16px 0px 0px 10px;
    border: 1px solid #00787d;
    color: #ffffff !important;
    background-color: #51eef5;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#51eef5, endColorstr=#21c7ce);
    background-image: -moz-linear-gradient(top, #51eef5 0%, #21c7ce 100%);
    background-image: -webkit-linear-gradient(top, #51eef5 0%, #21c7ce 100%);
    background-image: -ms-linear-gradient(top, #51eef5 0%, #21c7ce 100%);
    background-image: linear-gradient(top, #51eef5 0%, #21c7ce 100%);
    background-image: -o-linear-gradient(top, #51eef5 0%, #21c7ce 100%);
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%,#51eef5), color-stop(100%,#21c7ce));
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 1px 0px 0px #52eef5;
    -webkit-box-shadow: 0px 1x 0px 0px #52eef5;
    box-shadow: 0px 1px 0px 0px #52eef5;
}


    .loginBtn li a:hover {
        background-color: #21c7ce;
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#21c7ce, endColorstr=#51eef5);
        background-image: -moz-linear-gradient(top, #21c7ce 0%, #51eef5 100%);
        background-image: -webkit-linear-gradient(top, #21c7ce 0%, #51eef5 100%);
        background-image: -ms-linear-gradient(top, #21c7ce 0%, #51eef5 100%);
        background-image: linear-gradient(top, #21c7ce 0%, #51eef5 100%);
        background-image: -o-linear-gradient(top, #21c7ce 0%, #51eef5 100%);
        background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%,#21c7ce), color-stop(100%,#51eef5));
    }

/*Header CSS End*/


/*Content Area CSS Start*/

.pageTitle {
    color: #10aab0;
    font-size: 18px;
}

.contentTextRight {
    text-align: right;
}



.shoppingCartsInp {
    border: 1px solid #8c8c8c;
    background: #ffffff;
    width: 200px;
    font-size: 12px;
    padding: 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}


.allButton {
    padding: 6px 14px;
    border: 1px solid #0e8f94;
    color: #ffffff !important;
    background-color: #34ccd2;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#34ccd2, endColorstr=#30a8ad);
    background-image: -moz-linear-gradient(top, #34ccd2 0%, #30a8ad 100%);
    background-image: -webkit-linear-gradient(top, #34ccd2 0%, #30a8ad 100%);
    background-image: -ms-linear-gradient(top, #34ccd2 0%, #30a8ad 100%);
    background-image: linear-gradient(top, #34ccd2 0%, #30a8ad 100%);
    background-image: -o-linear-gradient(top, #34ccd2 0%, #30a8ad 100%);
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%,#34ccd2), color-stop(100%,#30a8ad));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0px 2px 3px 0px #d3d3d3;
    -webkit-box-shadow: 0px 2x 3px 0px #d3d3d3;
    box-shadow: 0px 2px 3px 0px #d3d3d3;
}


    .allButton:hover {
        border: 1px solid #0e8f94;
        background-color: #34ccd2;
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#30a8ad, endColorstr=#34ccd2);
        background-image: -moz-linear-gradient(top, #30a8ad 0%, #34ccd2 100%);
        background-image: -webkit-linear-gradient(top, #30a8ad 0%, #34ccd2 100%);
        background-image: -ms-linear-gradient(top, #30a8ad 0%, #34ccd2 100%);
        background-image: linear-gradient(top, #30a8ad 0%, #34ccd2 100%);
        background-image: -o-linear-gradient(top, #30a8ad 0%, #34ccd2 100%);
        background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%,#30a8ad), color-stop(100%,#34ccd2));
    }

.dangersms ul li {
    list-style: none;
    color: red;
    text-align: center;
    font-size: 11px;
    margin-top: 5px;
}

/*Content Area CSS End*/




/*Register Page CSS Start*/
.registerDiv {
    width: 400px;
    margin: 50px auto 0px auto;
    border: 1px solid #0e8f94;
    background: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}


    .registerDiv h2 {
        border-bottom: 1px solid #0e8f94;
        padding: 9px 0px 9px 15px;
        margin: 0px;
        color: #fff;
        font-size: 20px;
        -moz-border-radius: 4px 4px 0px 0px;
        -webkit-border-radius: 4px 4px 0px 0px;
        -khtml-border-radius: 4px 4px 0px 0px;
        border-radius: 4px 4px 0px 0px;
        background-color: #34ccd2;
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#34ccd2, endColorstr=#30a8ad);
        background-image: -moz-linear-gradient(top, #34ccd2 0%, #30a8ad 100%);
        background-image: -webkit-linear-gradient(top, #34ccd2 0%, #30a8ad 100%);
        background-image: -ms-linear-gradient(top, #34ccd2 0%, #30a8ad 100%);
        background-image: linear-gradient(top, #34ccd2 0%, #30a8ad 100%);
        background-image: -o-linear-gradient(top, #34ccd2 0%, #30a8ad 100%);
        background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%,#34ccd2), color-stop(100%,#30a8ad));
    }

    .registerDiv h3 {
        font-size: 16px;
        border-bottom: 1px solid #c0c0c0;
        padding: 9px 0px 9px 15px;
        margin: 0px;
    }

.registerRight {
    padding-right: 15px;
}
/*Register Page CSS End*/

/*Bootstrap Override CSS Starts Here*/
@media(min-width: 768px) {
    .navbar-right {
        margin-right: 0px;
    }
}

.form-control {
    padding: 3px 6px;
    height: 28px;
}

.tab-pane {
    padding: 1%;
    border: solid 1px #dddddd;
    border-top-width: 0px;
    background-color: #fff;
}

.form-control.k-widget {
    padding: 0; /*fix*/
}

.btn {
    color: #fff;
}

a.btn-primary {
    color: #fff !important;
}

.btn-primary {
    background-color: #34ccd2;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#34ccd2, endColorstr=#30a8ad);
    background-image: -moz-linear-gradient(top, #34ccd2 0%, #30a8ad 100%);
    background-image: -webkit-linear-gradient(top, #34ccd2 0%, #30a8ad 100%);
    background-image: -ms-linear-gradient(top, #34ccd2 0%, #30a8ad 100%);
    background-image: linear-gradient(top, #34ccd2 0%, #30a8ad 100%);
    background-image: -o-linear-gradient(top, #34ccd2 0%, #30a8ad 100%);
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%,#34ccd2), color-stop(100%,#30a8ad));
}

.btn-info {
    color: #fff !important;
    background-color: #6F6F6F;
    border: solid 1px #000;
}

    .btn-info:hover {
        background-color: #262323;
    }

.form-area {
    background-color: #fff;
    padding: 2%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #dddddd;
}



.table-label {
    width: 20%;
    font-weight: bold;
}

.table {
    margin-bottom: 5px;
}

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 4px;
    }
/*Bootstrap Override CSS Ends Here*/

/*Kendo  Override CSS Starts Here*/
.disabledDay {
    display: block;
    overflow: hidden;
    min-height: 22px;
    line-height: 22px;
    padding: 0.45em 0 .1em;
    cursor: default;
    opacity: 0.5;
}

.k-textbox > input, .k-autocomplete .k-input, .k-picker-wrap .k-input, .k-numeric-wrap .k-input, .k-dropdown-wrap .k-input, .k-selectbox .k-input {
    height: 1.7em;
    line-height: 1.7em;
    padding: .177em 0;
    text-indent: .2em;
}

.k-picker-wrap .k-select, .k-numeric-wrap .k-select, .k-dropdown-wrap .k-select {
    /*line-height:1.8em;*/
}
/*#kendoSplitter{
    border:0;
    background-color:transparent;
    
}*/

.k-splitbar, .k-splitbar:hover {
    background-color: #30c7cd;
}

.k-widget.k-tooltip {
    margin-top: 10px; /* to fix click event not firing issue for anchor and button*/
    background-color: #30a8ad;
}

#kendoSplitter .k-state-selected {
    background-color: #98f5f8;
    color: #000;
}



#rightSplitPanel .k-content {
    padding: 1%;
}

#kAccordion .k-item .k-content input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#leftSplitPanel .k-grid td {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    line-height: 0.9em;
}

#kendoSplitter .k-header {
    line-height: 1.5em;
}

/*Kendo Override CSS Ends Here*/

/*Glyphicon spin Starts Here */

.gly-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

/*Bootstrap Override*/

.form-group {
    margin-bottom: 5px;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.gly-rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.gly-rotate-180 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.gly-rotate-270 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.gly-flip-horizontal {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.gly-flip-vertical {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
    -webkit-transform: scale(1, -1);
    -moz-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    transform: scale(1, -1);
}
/*Glyphicon spin Ends Here */

.gridActive table tr:hover {
    cursor: pointer;
    background-color: #ffb821;
}

.gridActive .ng-scope:hover {
    cursor: pointer;
    background-color: #ffb821;
}

.gridActive .ng-scope a:hover {
    color: #fff;
}

.blank_row {
    height: 10px !important; /* Overwrite any previous rules */
    background-color: #FFFFFF;
}

.small-caps {
    /*text-transform: uppercase;*/
    text-transform: capitalize;
    color: #6d787c;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    text-rendering: geometricPrecision;
    letter-spacing: 0.065em;
}
