﻿
<style>
    .reportdetailsdrop {
        width: 359px;
    }

    #dynamictable > div > .kendowidth > .k-grid-header > .k-grid-header-wrap > table {
        width: inherit !important;
    }

    #dynamictable > div > .kendowidth > .k-grid-content > table {
        width: inherit !important;
    }

    .panel-default {
        border-color: #fff;
    }
</style>
<script id="template" type="text/x-kendo-template">
    <button class="k-button" ng-disabled="!userRoleAddAttributeManagement" ng-click="AddnewattributeClick()" title="{{addNewAttribute}}">Add New Attribute</button>
    <button class="k-button" ng-click="familyproductAttributeGruoping()" title="Manage Attribute Group">Manage Attribute Group</button>


    <select kendo-drop-down-list id="drpdownAttributes"
            k-data-text-field="'Sub_R_name1'"
            k-data-value-field="'Sub_id1'"
            k-options="AllAttributeOptions"
            k-on-change="attributeChange(kendoEvent)"
            class="reportdetailsdrop"></select>

    <button class="k-button" ng-click="exportAttributes()" title="Export"><div class="glyphicon glyphicon-export"></div></button>
    <button class="k-button" ng-click="importAttributes()" title="Import"><div class="glyphicon glyphicon-import"></div></button>

</script>

<div class="panel panel-default" id="showAttributeImportdiv">
        <div ng-show="showAttrImportdiv">

            @{Html.RenderPartial("~/Views/App/Partials/AttributeImport.cshtml");
            }
        </div>
</div>



<style>
    .k-widget.k-window {
        min-width: 500px;
        height: 500px;
    }

    .disableBox {
        pointer-events: none !important;
    }

    .attributegroupa > .k-dropdown > .k-dropdown-wrap {
        height: 30px;
    }

  /*  .k-dropdown-wrap {
        height: 30px;
    }*/
</style>
<style>
    .select-editable {
        position: relative;
        background-color: white;
        border: solid grey 1px;
        width: 174px;
        height: 25px;
    }

        .select-editable select {
            position: absolute;
            top: 0px;
            left: 54px;
            font-size: 14px;
            border: none;
            width: 120px;
            margin: 0;
        }

        .select-editable input {
            position: absolute;
            top: 1px;
            left: 11px;
            width: 140px;
            padding: 1px;
            font-size: 15px;
            border: none;
        }

    .k-edit-buttons {
        border: none !important;
    }

        .k-edit-buttons.k-state-default {
            background: #ccc;
            padding: 10px;
            margin: 0px -35px 0px -35px;
            bottom: 0px;
            position: fixed;
            width: 95%;
        }

    

       .k-filtercell > span > span > .k-icon.k-i-close {
    display: none;
}

    .select-editable select:focus, .select-editable input:focus {
        outline: none;
    }

    div#familyProductGrid > .k-auto-scrollable {
        height: 350px;
    }

    #selectedAttributesId > .k-auto-scrollable {
        height: auto;
        max-height: 400px;
    }
</style>
<script type="text/javascript">
        $(document).ready(function () {

            $(".editableBox").change(function () {
                $(".timeTextBox").val($(".editableBox option:selected").html());
            });

            $("#txt_attr_name").on('keypress', function () {

                if ($(this).val().length > 30) {
                    alert("Attribute name limited upto 30 characters");
                    return false;
                }
            });
        });
        //$(window).on('scroll', function () {

        //    if ($(window).scrollTop() > $(document).height() - $(window).height()) {
        //        toggle();
        //    }
        //}).scroll();
        //function myFunction() {
        //    document.getElementById('attrmaingrid').scrollTop += 10;
        //}
        //$("#divWithuserrole").scroll(function () {
        //    myFunction();
        //});

</script>
<div class="col-sm-12 margin-top-10 margin-bottom-10" id="attrmaingrid" ng-cloak>
    @* For User role implementation time being we duplicated the grid based on rights   *@
    @* For User role implementation time being we duplicated the grid based on rights   *@
    @* For User role implementation  time being we duplicated the grid based on rights   *@
    @* For User role implementation  time being we duplicated the grid based on rights   *@

    <div id="attrgrids">


        @*<script type="text/x-kendo-template" id="newgrouptemplate">*@
        <div id="divWithuserrole" ng-if="userRoleModifyAttributeManagement || userRoleDeleteAttributeManagement" style="overflow: auto;">
            @*<kendo-grid id="attrgrid" options="detailGridOptions(dataItem)">*@
            <div id="attrgroupgrids">
                <kendo-grid id="attrgrid" options="gridOptions">
                    <div k-detail-template>
                        <kendo-tabstrip id="kendotabstrip1">
                            <ul>
                                <li class="k-state-active">{{dataItem.ATTRIBUTE_NAME}}</li>
                            </ul>
                            <div>
                                <table>
                                    <tr>
                                        <td>Attribute Data Format  </td>
                                        <td><strong>{{dataItem.ATTRIBUTE_DATAFORMAT}}</strong></td>
                                        <td>Default Value : </td>
                                        <td><strong>{{dataItem.DEFAULT_VALUE}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Attribute Data Rule </td>
                                        <td>
                                            <div ng-repeat="model in dataItem.dataRuleList">
                                                <table style="border: solid 1px">
                                                    <tr>
                                                        <td>Apply To </td>

                                                        <td><strong>{{model.ApplyTo}}</strong> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Prefix  </td>

                                                        <td><strong>{{model.Prefix}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Suffix  </td>

                                                        <td><strong>{{model.Suffix}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Condition  </td>

                                                        <td><strong>{{model.Condition}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Custom Text  </td>

                                                        <td><strong>{{model.CustomValue}}</strong></td>
                                                    </tr>

                                                </table>
                                            </div>
                                        </td>
                                        <td>Style Format  </td>
                                        <td><strong>{{dataItem.STYLE_FORMAT}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Attribute Calc Formula </td>
                                        <td> <strong>{{dataItem.ATTRIBUTE_CALC_FORMULA}}</strong></td>
                                        <td>Use PickList  </td>
                                        <td>
                                            <strong>
                                                {{dataItem.USE_PICKLIST}}
                                                @*<input type="radio" name="usepicklist{{dataItem.ATTRIBUTE_ID}}" ng-value="true" ng-model="dataItem.USE_PICKLIST" />True
                                                    <input type="radio" name="usepicklist{{dataItem.ATTRIBUTE_ID}}" ng-value="false" ng-model="dataItem.USE_PICKLIST" />False*@
                                            </strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Is Calculated  </td>
                                        <td>
                                            <strong>
                                                {{dataItem.IS_CALCULATED}}
                                                @*<input type="radio" name="iscalculated{{dataItem.ATTRIBUTE_ID}}" ng-value="true" ng-model="dataItem.IS_CALCULATED" ng-change="isCalculatedChange(dataItem)" />True
                                                    <input type="radio" name="iscalculated{{dataItem.ATTRIBUTE_ID}}" ng-value="false" ng-model="dataItem.IS_CALCULATED" ng-change="isCalculatedChange(dataItem)" />False*@
                                            </strong>
                                        </td>
                                        <td>PickList Name </td>
                                        <td> <strong>{{dataItem.PICKLIST_NAME}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Create By Default  </td>
                                        <td>
                                            <strong>
                                                {{dataItem.CREATE_BY_DEFAULT}}
                                                @*<input type="radio" name="createbydefault{{dataItem.ATTRIBUTE_ID}}" ng-value="true" ng-model="dataItem.CREATE_BY_DEFAULT" />True
                                                    <input type="radio" name="createbydefault{{dataItem.ATTRIBUTE_ID}}" ng-value="false" ng-model="dataItem.CREATE_BY_DEFAULT" />False*@
                                            </strong>
                                        </td>
                                        <td>Value Requried  </td>
                                        <td>
                                            <strong>
                                                {{dataItem.VALUE_REQUIRED}}
                                                @*<input type="radio" name="valuerequire{{dataItem.ATTRIBUTE_ID}}" ng-value="true" ng-model="dataItem.VALUE_REQUIRED" />True
                                                    <input type="radio" name="valuerequire{{dataItem.ATTRIBUTE_ID}}" ng-value="false" ng-model="dataItem.VALUE_REQUIRED" />False*@
                                            </strong>
                                        </td>

                                    </tr>

                                </table>
                            </div>
                        </kendo-tabstrip>
                    </div>
                </kendo-grid>
            </div>

        </div>
    </div>



    <div id="divWithuserrole" ng-if="!userRoleModifyAttributeManagement && !userRoleDeleteAttributeManagement" style="overflow: auto;">
        <kendo-grid id="attrgrid" options="detailGridOptionsWithoutEditDelete(dataItem)">
            <div k-detail-template>
                <kendo-tabstrip id="kendotabstrip1">
                    <ul>
                        <li class="k-state-active">{{dataItem.ATTRIBUTE_NAME}}</li>
                    </ul>
                    <div>
                        <table>
                            <tr>
                                <td>Attribute Data Format  </td>
                                <td><strong>{{dataItem.ATTRIBUTE_DATAFORMAT}}</strong></td>
                                <td>Default Value : </td>
                                <td><strong>{{dataItem.DEFAULT_VALUE}}</strong></td>
                            </tr>
                            <tr>
                                <td>Attribute Data Rule </td>
                                <td>
                                    <div ng-repeat="model in dataItem.dataRuleList">
                                        <table style="border: solid 1px">
                                            <tr>
                                                <td>Apply To </td>

                                                <td><strong>{{model.ApplyTo}}</strong> </td>
                                            </tr>
                                            <tr>
                                                <td>Prefix  </td>

                                                <td><strong>{{model.Prefix}}</strong></td>
                                            </tr>
                                            <tr>
                                                <td>Suffix  </td>

                                                <td><strong>{{model.Suffix}}</strong></td>
                                            </tr>
                                            <tr>
                                                <td>Condition  </td>

                                                <td><strong>{{model.Condition}}</strong></td>
                                            </tr>
                                            <tr>
                                                <td>Custom Text  </td>

                                                <td><strong>{{model.CustomValue}}</strong></td>
                                            </tr>

                                        </table>
                                    </div>
                                </td>
                                <td>Style Format  </td>
                                <td><strong>{{dataItem.STYLE_FORMAT}}</strong></td>
                            </tr>
                            <tr>
                                <td>Attribute Calc Formula </td>
                                <td> <strong>{{dataItem.ATTRIBUTE_CALC_FORMULA}}</strong></td>
                                <td>Use PickList  </td>
                                <td>
                                    <strong>
                                        {{dataItem.USE_PICKLIST}}
                                        @*<input type="radio" name="usepicklist{{dataItem.ATTRIBUTE_ID}}" ng-value="true" ng-model="dataItem.USE_PICKLIST" />True
                                            <input type="radio" name="usepicklist{{dataItem.ATTRIBUTE_ID}}" ng-value="false" ng-model="dataItem.USE_PICKLIST" />False*@
                                    </strong>
                                </td>
                            </tr>
                            <tr>
                                <td>Is Calculated  </td>
                                <td>
                                    <strong>
                                        {{dataItem.IS_CALCULATED}}
                                        @*<input type="radio" name="iscalculated{{dataItem.ATTRIBUTE_ID}}" ng-value="true" ng-model="dataItem.IS_CALCULATED" ng-change="isCalculatedChange(dataItem)" />True
                                            <input type="radio" name="iscalculated{{dataItem.ATTRIBUTE_ID}}" ng-value="false" ng-model="dataItem.IS_CALCULATED" ng-change="isCalculatedChange(dataItem)" />False*@
                                    </strong>
                                </td>
                                <td>PickList Name </td>
                                <td> <strong>{{dataItem.PICKLIST_NAME}}</strong></td>
                            </tr>
                            <tr>
                                <td>Create By Default  </td>
                                <td>
                                    <strong>
                                        {{dataItem.CREATE_BY_DEFAULT}}
                                        @*<input type="radio" name="createbydefault{{dataItem.ATTRIBUTE_ID}}" ng-value="true" ng-model="dataItem.CREATE_BY_DEFAULT" />True
                                            <input type="radio" name="createbydefault{{dataItem.ATTRIBUTE_ID}}" ng-value="false" ng-model="dataItem.CREATE_BY_DEFAULT" />False*@
                                    </strong>
                                </td>
                                <td>Value Requried  </td>
                                <td>
                                    <strong>
                                        {{dataItem.VALUE_REQUIRED}}
                                        @*<input type="radio" name="valuerequire{{dataItem.ATTRIBUTE_ID}}" ng-value="true" ng-model="dataItem.VALUE_REQUIRED" />True
                                            <input type="radio" name="valuerequire{{dataItem.ATTRIBUTE_ID}}" ng-value="false" ng-model="dataItem.VALUE_REQUIRED" />False*@
                                    </strong>
                                </td>
                            </tr>
                        </table>
                    </div>
                </kendo-tabstrip>
            </div>
        </kendo-grid>
    </div>
    @*</script>*@








    @*For Pick list management*@
    <div kendo-window="win1" style="display: none; " k-width="500" k-height="540" k-title="'Manage PickList'" k-on-open="win1visible = true" k-on-close="refreshlist()">
        <div style="padding: 0px; margin: 0px">
            <div class="col-sm-12" style="padding: 0px; margin: 0px;width: 100%;">
                <br />
                <div class="form-horizontal" style="padding: 0px; margin: 0px;width: 100%">
                    <div class="form-group ">
                        <div class="row col-sm-12" style="padding: 0px; margin: 0px;width: 100%">
                            <div class="col-sm-6 padding-0">
                                <div class="col-sm-6 padding-0 bold" style="margin-top: 8px">PickList Name </div>

                            </div>
                            <div class="col-sm-6 padding-0">
                                <div class="col-sm-6 padding-0 bold" style="margin-top: 8px">New</div>
                            </div>


                        </div>

                        <div class="col-sm-12" style="padding: 0px; margin: 0px;     width: 100%;">
                            <div class="col-sm-6 padding-0">
                                @*<select kendo-drop-down-list id="drpPickListName"
                                    ng-disabled="!userRoleModifyPickList"
                                    k-option-label="'--- Select PickList ---'"
                                    k-data-text-field="'PICKLIST_NAME'"
                                    k-data-value-field="'PICKLIST_NAME'"
                                    k-data-source="PickListGroup"
                                    k-on-change="picklistChange(kendoEvent)"
                                    style="width: 181px"></select>*@

                                <select kendo-drop-down-list id="drpPickListName"
                                        ng-model="ModifypicklistNamepopup"
                                        k-option-label="'--- Select PickList ---'"
                                        k-data-text-field="'PICKLIST_NAME'"
                                        k-data-value-field="'PICKLIST_NAME'"
                                        k-data-source="PickListGroup"
                                        k-on-change="picklistChange(kendoEvent)"
                                        style="width: 200px"></select>

                            </div>
                            <div class="col-sm-6  padding-0">
                                <div class="col-sm-2 padding-0">
                                    <input type="text" name="NewPickListName" style="width: 185px; height: 20px;" ng-disabled="newPickList" ng-model="NewPickListName.PICKLIST_NAME" id="new_picklist_name" required ng-trim="false" onkeyup="myFunction()">
                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-sm-12" style="padding: 0px; margin: 0px;width: 100%;">
                            <div class="row col-sm-12" style="padding: 0px; margin: 0px;width: 100%">
                                <div class="col-sm-6 padding-0">

                                    <div class="col-sm-6 padding-0 bold" style="margin-top: 5px;">PickList Type</div>

                                </div>
                            </div>
                            <div class="col-sm-12" style="padding: 0px; margin: 0px;width: 100%;">
                                <div class="col-sm-6 padding-0">
                                    <div class="col-sm-2 padding-0">
                                        @*<select kendo-drop-down-list id="drpDownDataType" ng-disabled="addNewPickList"
                                            k-data-text-field="'DATA_TYPE'"
                                            k-data-value-field="'DATA_TYPE'"
                                            k-data-source="PickListDefaultDatatype"
                                            k-on-change="DataTypeChanged(kendoEvent)"
                                            style="width: 200px"></select>*@

                                        <select kendo-drop-down-list id="drpDownDataType" ng-disabled="newPickList"
                                                k-option-label="'--- Select Datatype ---'"
                                                k-data-text-field="'DATA_TYPE'"
                                                k-data-value-field="'DATA_TYPE'"
                                                k-data-source="PickListDefaultDatatype"
                                                k-on-change="DataTypeChanged(kendoEvent)"
                                                style="width: 200px"></select>
                                    </div>
                                </div>
                                <div class="col-sm-2 padding-0">
                                    <button id="addnew" class="btn btn-primary btn-sm" type="button" ng-click='addNewPicklist()' ng-disabled="newPickList" title="{{addNewPickList}}">
                                    <i class="fa fa-save"></i>
                                    </button>
                                    @*<button id="refreshPickList" class="btn btn-primary btn-sm" type="button" ng-click='refreshPicklist()' ng-disabled="addNewPickList" title="Refresh picklist">
                                            Refresh
                                        </button>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div>
                        <div id="PickListValues">
                            <div kendo-grid id="PickListValuesgrid" options="GetPickListValues">
                            </div>
                        </div>
                        <div id="PickListDateValues">
                            <div kendo-grid id="PickListDateValuesgrid" options="GetPickListDateValues">
                            </div>
                        </div>
                        <div id="PickListNumberValues">
                            <div kendo-grid id="PickListNumberValuesgrid" options="GetPickListNumberValues">
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                            $(document).ready(function () {
                                $("#tabstrip").kendoTabStrip({
                                    animation: {
                                        open: {
                                            effects: "fadeIn"
                                        }
                                    }
                                });

                                $("#grid").kendoGrid({
                                    dataSource: {
                                        pageSize: 2
                                    }
                                });
                            });
                </script>

            </div>
        </div>

    </div>

    <script>
                $(document)
                    .ready(function () {
                        $("#tabstrips")
                            .kendoTabStrip({
                                animation: {
                                    open: {
                                        effects: "fadeIn"
                                    }
                                }
                            });
                    });
    </script>

    <script>

                function myFunction() {

                    if (document.getElementById("new_picklist_name").value != "") {
                        document.getElementById("addnew").disabled = false;
                    }
                    else {
                        document.getElementById("addnew").disabled = true;
                    }
                }

                function Piclist() {
                    if (document.getElementById("picklisttype").value != "" && document.getElementById("picklistvalue").value != "") {

                        document.getElementById("piclist_delete").disabled = false;
                    }
                    else {


                        document.getElementById("piclist_delete").disabled = true;
                    }
                }
                function TextBoxChanged(e) {
                    var url = e.value;
                    var pattern = /((?:https?\:\/\/|www\.)(?:[-a-z0-9]+\.)*[-a-z0-9]+.*)/;

                    if (!pattern.test(url)) {
                        alert("Please enter valid URL!");
                        document.getElementById("link").value = "";

                    }
                };

                function omit_special_char(e) {
                    var k;
                    document.all ? k = e.keyCode : k = e.which;
                    return ((k > 64 && k < 91) || k==95 || k == 45 || (k > 96 && k < 123) || k == 8 || k == 32 || (k >= 48 && k <= 57));
                }
    </script>

    @* For User role implementation for time being we duplicated the grid based on rights   *@
    <div kendo-window="Picklistcreate" k-title="'PickList create'" k-width="500" k-height="500" k-visible="false"
         k-actions='["Close"]'
         k-modal="true" k-on-close="onClose(kendoEvent)">
    </div>
    <div kendo-window="winIsCalculatedAttribute" k-title="'Expression Builder'" k-width="600" k-height="650" k-visible="false"
         k-actions='["Close"]'
         k-modal="true" k-on-close="onClose(kendoEvent)">
    </div>

    <script id="popup_editor" type="text/x-kendo-template">
        <table width="435px">
            @*<tr>
                    <td>ID</td>
                    <td><input type="text" class="k-input k-textbox" name="attributeid" data-bind="value:ATTRIBUTE_ID"></td>
                </tr>*@
            <tr>
                <td style="width: 185px;">
                    Attribute Type
                </td>
                <td ng-if="dataItem.ATTRIBUTE_TYPE===1">
                    <input type="text" class="k-input k-textbox" value="Item Specifications" readonly />
                </td>
                <td ng-if="dataItem.ATTRIBUTE_TYPE===3">
                    <input type="text" class="k-input k-textbox" value="Item Image / Attachment" readonly />
                </td>
                <td ng-if="dataItem.ATTRIBUTE_TYPE===4">
                    <input type="text" class="k-input k-textbox" value="Item Price" readonly />
                </td>
                <td ng-if="dataItem.ATTRIBUTE_TYPE===6">
                    <input type="text" class="k-input k-textbox" value="Item Key" readonly />
                </td>
                <td ng-if="dataItem.ATTRIBUTE_TYPE===7">
                    <input type="text" class="k-input k-textbox" value="Product Description" readonly />
                </td>
                <td ng-if="dataItem.ATTRIBUTE_TYPE===9">
                    <input type="text" class="k-input k-textbox" value="Product Image / Attachment" readonly />
                </td>
                <td ng-if="dataItem.ATTRIBUTE_TYPE===11">
                    <input type="text" class="k-input k-textbox" value="Product Specifications" readonly />
                </td>
                <td ng-if="dataItem.ATTRIBUTE_TYPE===12">
                    <input type="text" class="k-input k-textbox" value="Product Price" readonly />
                </td>
                <td ng-if="dataItem.ATTRIBUTE_TYPE===13">
                    <input type="text" class="k-input k-textbox" value="Product Key" readonly />
                </td>
                <td ng-if="dataItem.ATTRIBUTE_TYPE===21">
                    <input type="text" class="k-input k-textbox" value="Category Specifications" readonly />
                </td>
                <td ng-if="dataItem.ATTRIBUTE_TYPE===23">
                    <input type="text" class="k-input k-textbox" value="Category Image / Attachment" readonly />
                </td>
                <td ng-if="dataItem.ATTRIBUTE_TYPE===25">
                    <input type="text" class="k-input k-textbox" value="Category Description" readonly />
                </td>
            </tr>
            <tr>
                <td>Attribute Name</td>
                <td ng-if="dataItem.ATTRIBUTE_ID==1 || dataItem.ATTRIBUTE_ID==3"><input type="text" readonly="true" class="k-input k-textbox" name="attributename" data-bind="value:ATTRIBUTE_NAME"></td>
                <td ng-if="dataItem.ATTRIBUTE_ID!=1 && dataItem.ATTRIBUTE_ID!=3"><input type="text" class="k-input k-textbox" name="attributename" data-bind="value:ATTRIBUTE_NAME"></td>
            </tr>
            <tr>
                <td>Caption</td>
                <td><input type="text" class="k-input k-textbox" name="caption" data-bind="value:CAPTION" style="width: 100%;" /></td>
            </tr>
            <tr>
                <td>Style Name</td>
                <td><input type="text" class="k-input k-textbox" name="stylename" data-bind="value:STYLE_NAME" style="width: 100%;"></td>
            </tr>
            <tr>
                <td>Data Type</td>
                <td ng-if="dataItem.ATTRIBUTE_DATATYPE.contains('Tex')"><input type="text" class="k-input k-textbox" value="Text" readonly></td>

                <td ng-if="dataItem.ATTRIBUTE_DATATYPE.contains('Num')"><input type="text" class="k-input k-textbox" value="Numbers(1,1.0,100)" readonly></td>

                <td ng-if="dataItem.ATTRIBUTE_DATATYPE.contains('Date')">

                    <select demo-display="field" kendo-drop-down-list data-ng-model="dataItem.ATTRIBUTE_DATATYPE"
                            k-data-text-field="'type'"
                            k-data-value-field="'value'"
                            k-data-source="DataTypedatasource"
                            k-on-change="DateFormatChange(kendoEvent)"
                            ng-change="dataItem.dirty=true"
                            style="width:165px"></select>

                </td>
                <td ng-if="dataItem.ATTRIBUTE_DATATYPE.contains('Hyp')">
                    <select demo-display="field" kendo-drop-down-list data-ng-model="dataItem.ATTRIBUTE_DATATYPE"
                            k-data-text-field="'type'"
                            k-data-value-field="'value'"
                            k-data-source="HyperTypedatasource"
                            k-on-change="HyperFormatChange(kendoEvent)"
                            ng-change="dataItem.dirty=true"
                            style="width:165px"></select>

                </td>
            </tr>
            <tr>
                <td>Data Format</td>
                @*<td>
                        {{dataItem.ATTRIBUTE_DATATYPE.length}}
                        {{dataItem.ATTRIBUTE_DATATYPE.substring(8,7)}}
                    </td>*@
                <td><input type="text" id="date_txt" class="k-input k-textbox" ng-model="dataItem.ATTRIBUTE_DATAFORMAT" readonly></td>
            </tr>

            <tr>
                <td align="left">Select Publish Options </td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <input type="checkbox" ng-model="dataItem.PUBLISH2WEB" ng-change="dataItem.dirty=true">&nbsp;&nbsp;Web
                            </td>
                            <td>
                                <input type="checkbox" ng-model="dataItem.PUBLISH2PRINT" ng-change="dataItem.dirty=true">&nbsp;&nbsp;Print
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" ng-model="dataItem.PUBLISH2PDF" ng-change="dataItem.dirty=true">&nbsp;&nbsp;PDF
                            </td>
                            @*<td>
                                <input type="checkbox" ng-model="dataItem.PUBLISH2EXPORT" ng-change="dataItem.dirty=true">Export
                            </td>*@
                        </tr>
                        @*<tr>
                            <td>
                                <input type="checkbox" ng-model="dataItem.PUBLISH2PORTAL" ng-change="dataItem.dirty=true">Portal
                            </td>

                        </tr>*@
                    </table>

                </td>
            </tr>
            <tr>
                <td ng-if="dataItem.ATTRIBUTE_DATATYPE.contains('Num')">Size </td>
                <td id="size" ng-if="dataItem.ATTRIBUTE_DATATYPE.contains('Num')">
                    <div id="attributedataintegersize">
                        <input type="text" class="k-input k-textbox" id="txt_size_number" maxlength="13" style="width:60px;" name="stylename" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46' data-bind="value:NUMERIC">
                        <select demo-display="field" kendo-drop-down-list k-options="size"
                                style="width:50px;"
                                k-data-value-field="'Decimal'"
                                k-data-text-field="'Decimal'"
                                id="datadecimal"
                                data-bind="value:DECIMAL"
                                k-on-change="DecimalChange(dataItem.ATTRIBUTE_DATATYPE,kendoEvent)"></select>
                    </div>

                </td>
            </tr>
            <tr>
                <td colspan="2" ng-if="dataItem.ATTRIBUTE_TYPE!==7 && dataItem.ATTRIBUTE_TYPE!==3 && dataItem.ATTRIBUTE_TYPE!==9">
                    Attribute Data Rule
                </td>
            </tr>
            <tr ng-if="dataItem.ATTRIBUTE_TYPE!==7 && dataItem.ATTRIBUTE_TYPE!==3 && dataItem.ATTRIBUTE_TYPE!==9">
                <td colspan="2" style="padding: 0px;">
                    <div ng-repeat="model in dataItem.dataRuleList">
                        <table width="100%">
                            <tr>
                                <td style="width: 185px;">Apply To </td>
                                <td>
                                    <input id="attrapplytoall" name="applyto" type="radio" ng-model="model.ApplyTo" value="All" />
                                    All Rows

                                    <input id="attrapplytofirst" name="applyto" type="radio" ng-model="model.ApplyTo" value="First" />
                                    First Row
                                </td>
                            </tr>
                            <tr>
                                <td>Prefix  </td>

                                <td><input type="text" id="prefix" class="k-input k-textbox" ng-change="dataItem.dirty=true" ng-model=model.Prefix></td>
                            </tr>
                            <tr>
                                <td>Suffix  </td>

                                <td><input type="text" id="suffix" class="k-input k-textbox" ng-change="dataItem.dirty=true" ng-model=model.Suffix></td>
                            </tr>
                            @*<tr>
                                <td>Apply Custom Text For Numeric Type</td>
                                <td><input type="checkbox" ng-model="dataItem.ApplyCustomTextForNumericType">Web</td></tr>*@
                            <tr>
                                <td>Condition  </td>

                                <td>
                                    <select demo-display="field" ng-change="dataItem.dirty=true" kendo-drop-down-list style="width: 165px;" data-ng-model="model.Condition">
                                        <option></option>
                                        <option>Empty</option>
                                        <option>Null</option>
                                        <option>0.00</option>
                                        <option>0</option>
                                    </select>

                                </td>
                            </tr>
                            <tr>
                                <td>Custom Text  </td>

                                <td><input type="text" id="customvalue" class="k-input k-textbox" ng-change="dataItem.dirty=true" ng-model=model.CustomValue></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="checkbox" ng-change="dataItem.dirty=true" ng-model="model.ApplyForNumericOnly"
                                           ng-true-value="'1'" ng-false-value="'0'">
                                    Apply custom text for numeric type
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div ng-if="dataItem.dataRuleList==null">
                        <table>
                            <tr>
                                <td style="width: 185px;">Apply To</td>

                                <td>
                                    <input id="attrapplytoall" name="applyto" type="radio" ng-model="model.ApplyTo" value="All" />
                                    All Rows

                                    <input id="attrapplytofirst" name="applyto" type="radio" ng-model="model.ApplyTo" value="First" />
                                    First Row
                                </td>
                            </tr>
                            <tr>
                                <td>Prefix  </td>
                                <td><input type="text" class="k-input k-textbox" id="prefix" ng-change="dataItem.dirty=true" ng-model=model.Prefix></td>
                            </tr>
                            <tr>
                                <td>Suffix  </td>
                                <td><input type="text" class="k-input k-textbox" id="suffix" ng-change="dataItem.dirty=true" ng-model=model.Suffix></td>
                            </tr>
                            <tr>
                                <td>Condition  </td>
                                <td>
                                    <select demo-display="field" ng-change="dataItem.dirty=true" kendo-drop-down-list style="width: 165px;" data-ng-model="model.Condition">
                                        <option></option>
                                        <option>Empty</option>
                                        <option>Null</option>
                                        <option>0.00</option>
                                        <option>0</option>
                                    </select>
                                </td>s
                            </tr>
                            <tr>
                                <td>Custom Text  </td>
                                <td><input type="text" class="k-input k-textbox" ng-change="dataItem.dirty=true" id="customvalue" ng-model=model.CustomValue></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="checkbox" ng-change="dataItem.dirty=true" ng-model="model.ApplyForNumericOnly"
                                           ng-true-value="'1'" ng-false-value="'0'" style="width: 222px;">Apply custom text for numeric type
                                </td>
                            </tr>

                        </table>
                    </div>

            </tr>
            <tr ng-if="dataItem.ATTRIBUTE_TYPE!==7 && dataItem.ATTRIBUTE_TYPE!==3 && dataItem.ATTRIBUTE_TYPE!==9 && dataItem.ATTRIBUTE_ID !=1">
                <td>Is Calculated  </td>
                <td align="left" ng-if="dataItem.ATTRIBUTE_ID==1 || dataItem.ATTRIBUTE_ID==3">
                    <strong>
                        <input id="is_cal_true" type="radio" disabled name="iscalculated{{dataItem.ATTRIBUTE_ID}}" ng-value="true" ng-model="dataItem.IS_CALCULATED" ng-change="isCalculatedChange(dataItem)" /> True &nbsp;&nbsp;
                        <input id="is_cal_false" type="radio" disabled name="iscalculated{{dataItem.ATTRIBUTE_ID}}" ng-value="false" ng-model="dataItem.IS_CALCULATED" ng-change="isCalculatedChange(dataItem)" /> False
                        <a class="k-icon k-edit" style="cursor:pointer" ng-if="dataItem.ATTRIBUTE_CALC_FORMULA!==null && dataItem.ATTRIBUTE_CALC_FORMULA.trim()!==''" ng-click="isCalculatedChange(dataItem)" title="Edit"></a>

                    </strong>
                </td>
                <td align="left" ng-if="dataItem.ATTRIBUTE_ID!=1 && dataItem.ATTRIBUTE_ID!=3">
                    <strong>
                        <input id="is_cal_true" type="radio" name="iscalculated{{dataItem.ATTRIBUTE_ID}}" ng-value="true" ng-model="dataItem.IS_CALCULATED" ng-change="isCalculatedChange(dataItem)" /> True &nbsp;&nbsp;
                        <input id="is_cal_false" type="radio" name="iscalculated{{dataItem.ATTRIBUTE_ID}}" ng-value="false" ng-model="dataItem.IS_CALCULATED" ng-change="isCalculatedChange(dataItem)" /> False
                        <a class="k-icon k-edit" style="cursor:pointer" readonly ng-if="dataItem.ATTRIBUTE_CALC_FORMULA!==null && dataItem.ATTRIBUTE_CALC_FORMULA.trim()!==''" ng-click="isCalculatedChange(dataItem)" title="Edit"></a>

                    </strong>
                </td>
            </tr>

            <tr ng-if="dataItem.ATTRIBUTE_TYPE!==7 && dataItem.ATTRIBUTE_TYPE!==3 && dataItem.ATTRIBUTE_TYPE!==9 && dataItem.ATTRIBUTE_ID !=1">
                <td>Attribute Calc Formula </td>
                <td>{{dataItem.ATTRIBUTE_CALC_FORMULA}}</td>
            </tr>
            <tr>
                <td>Default Value  </td>

                <td><input type="text" class="k-input k-textbox" name="defaultValue" data-bind="value:DEFAULT_VALUE"></td>
            </tr>
            <tr ng-if="dataItem.ATTRIBUTE_TYPE!==7 && dataItem.ATTRIBUTE_TYPE!==3 && dataItem.ATTRIBUTE_TYPE!==9 &&dataItem.ATTRIBUTE_DATATYPE.indexOf('Number') > -1">
                <td ng-if="dataItem.ATTRIBUTE_DATATYPE.indexOf('Number') > -1">Style Format  </td>
                <td>
                    <div ng-if="dataItem.ATTRIBUTE_DATATYPE.indexOf('Number') > -1">
                        <select demo-display="field" kndo- kendo-combobox style="width: 165px;" data-bind="value:STYLE_FORMAT">
                            <option value=""></option>
                            <option value="\#,\#\#0 [1,234]">\#,\#\#0 [1,234]</option>
                            <option value="\#,\#\#0.00 [1,234.56]">\#,\#\#0.00 [1,234.56]</option>
                            <option value="\#,\#\#.00 [.56]">1\#,\#\#.00 [.56]</option>
                            <option value="\#.0 [1234.5]">\#.0 [1234.5]</option>
                            <option value="\#.00 [1234.56]">\#.00 [1234.56]</option>
                            <option value="\#0.00 [0.56]">\#0.00 [0.56]</option>
                        </select>
                    </div>

                </td>
            </tr>
            <tr ng-if="dataItem.ATTRIBUTE_TYPE!=3 && dataItem.ATTRIBUTE_TYPE!=9 && dataItem.ATTRIBUTE_TYPE!=7 && dataItem.ATTRIBUTE_ID!=1">
                <td>Use PickList  </td>
                <td ng-if="dataItem.ATTRIBUTE_ID==1 || dataItem.ATTRIBUTE_ID==3">
                    <strong>
                        <input type="radio" name="usepicklist{{dataItem.ATTRIBUTE_ID}}" disabled ng-value="true" ng-model="dataItem.USE_PICKLIST" ng-click="picklistTchange(dataItem.USE_PICKLIST,dataItem.ATTRIBUTE_DATATYPE)" /> True  &nbsp;&nbsp;
                        <input type="radio" name="usepicklist{{dataItem.ATTRIBUTE_ID}}" disabled ng-value="false" ng-model="dataItem.USE_PICKLIST" ng-click="picklistTchange(dataItem.USE_PICKLIST,dataItem.ATTRIBUTE_DATATYPE)" /> False
                    </strong>
                </td>
                <td ng-if="dataItem.ATTRIBUTE_ID!=1 && dataItem.ATTRIBUTE_ID!=3">
                    <strong>
                        <input type="radio" name="usepicklist{{dataItem.ATTRIBUTE_ID}} " ng-value="true" ng-model="dataItem.USE_PICKLIST" ng-click="picklistTchange(dataItem.USE_PICKLIST,dataItem.ATTRIBUTE_DATATYPE)" /> True  &nbsp;&nbsp;
                        <input type="radio" name="usepicklist{{dataItem.ATTRIBUTE_ID}}" ng-value="false" ng-model="dataItem.USE_PICKLIST" ng-click="picklistTchange(dataItem.USE_PICKLIST,dataItem.ATTRIBUTE_DATATYPE)" /> False
                    </strong>
                </td>
            </tr>
            <tr ng-if="dataItem.ATTRIBUTE_TYPE!=3 && dataItem.ATTRIBUTE_TYPE!=9 && dataItem.ATTRIBUTE_TYPE!=7 && dataItem.ATTRIBUTE_ID!=1 && dataItem.USE_PICKLIST==true" id="picklistdata">

                <td>PickList Name </td>
                <td>
                    <span>
                        <select name="asd" demo-display="field" kendo-drop-down-list data-ng-model="dataItem.PICKLIST_NAME"
                                k-option-label="'Select PickList Name'"
                                k-data-text-field="'PICKLIST_NAME'"
                                k-data-value-field="'PICKLIST_NAME'"
                                k-data-source="getpicklistdatasource"
                                style="width:165px"></select>

                        <span ng-show="userPickList" ng-if="!dataItem.ALLOWEDIT">
                            <a style="cursor: pointer;margin-left:10px" ng-click="PickListItems(dataItem.PICKLIST_NAME)">
                                <img src='..\\Content\\images\\Edit Picklist.jpg' title="Modify PickList" style="max-width:20px;max-height:20px;" />
                            </a>
                        </span>

                        @*<a style="cursor: pointer; margin-left:10px" ><font size="1">Modify PickList</font></a>*@
                    </span>
                </td>
            </tr>
            <tr ng-if="dataItem.ATTRIBUTE_ID!=1">
                <td>Create By Default  </td>
                <td>
                    <strong>
                        <input type="radio" name="createbydefault{{dataItem.ATTRIBUTE_ID}}" ng-value="true" ng-model="dataItem.CREATE_BY_DEFAULT" /> True  &nbsp;&nbsp;
                        <input type="radio" name="createbydefault{{dataItem.ATTRIBUTE_ID}}" ng-value="false" ng-model="dataItem.CREATE_BY_DEFAULT" /> False
                    </strong>
                </td>
            </tr>
            <tr ng-if="dataItem.ATTRIBUTE_ID!=1">
                <td>Value Requried  </td>
                <td>
                    <strong>
                        <input type="radio" name="valuerequire{{dataItem.ATTRIBUTE_ID}}" ng-value="true" ng-model="dataItem.VALUE_REQUIRED" /> True  &nbsp;&nbsp;
                        <input type="radio" name="valuerequire{{dataItem.ATTRIBUTE_ID}}" ng-value="false" ng-model="dataItem.VALUE_REQUIRED" /> False
                    </strong>
                </td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>

    </script>

</div>

<div ng-controller="NewAttributeController" ng-cloak>

    <div id="addnewattribute">
        @{Html.RenderPartial("Attribute/NewAttributeCreation");}
        <div class="col-sm-12 responsivebtn" align="center">
            <div class="center-block" align="center" style="margin: 25px 0px;">
                <button class="btn btn-primary btn-xs" type="button" ng-disabled="!userRoleModifyAttributeManagement" ng-click="NewAttrSave(Attribute)" title="{{saveNewAttribute}}"><i class="fa fa-save"></i></button>
                <button class="btn btn-primary btn-xs" type="button" ng-click="ManageAttributes()" title="{{manageAttribute}}">
                    Manage Attributes
                </button>
            </div>
        </div>
    </div>

    <div class="familyProductattributeGrouping">
        <div class="row searchrow">
            <div class="col-md-12 form-group">
                <div class="col-md-12">
                    <div class="col-md-2 bold textalignright margintop padding-0">
                        Group Type
                    </div>
                    @*New Ui Changes done Based on this*@
                    <div class="col-md-4">
                        <select kendo-drop-down-list
                                k-options="Packagetypedatasource"
                                ng-model="GroupeType"
                                k-data-value-field="'packagetype'"
                                k-data-text-field="'packagetypename'"
                                k-on-change="ChangeGroupType(kendoEvent)" style="width: 178px;"></select>
                    </div>

                    <div class="col-md-2 bold textalignright margintop padding-0">Select Group </div>

                    <div class="col-md-4">
                        <select kendo-drop-down-list
                                k-option-label="'----- New -----'"
                                k-data-text-field="'GROUP_NAME'"
                                k-data-value-field="'GROUP_ID'"
                                k-data-source="groupNameDataSource"
                                k-on-change="groupNameChange(kendoEvent)"
                                ng-model="SelectedGroupId"
                                id="selectedGroupName"
                                style="width:180px"></select>

                        <button type="button" class="btn btn-primary btn-xs" id="deleteEnablebtn" ng-disabled="!EditMode || deleteEnable" ng-click="DeleteGroupdetails()" style="padding-top: 3px;"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </div>

            </div>

            <div class="col-sm-12 form-group">

                <div class="col-sm-12">
                    <div class="col-md-2 bold textalignright margintop padding-0">Group Name  </div>
                    <div class="col-md-4">

                        <div id="Datatypeddl">
                            <input type="text" class="k-input k-textbox" id="packageName" ng-model="Attribute.GroupName" style="width: 178px !important;">
                        </div>
                        <div id="Datatypetxt" style="display: none">

                            <input type="text" id="datatxt1" value="" readonly />

                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="col-sm-12 margin-bottom-15" style="margin-top: 25px; border: 1px solid #ccc; padding: 25px 0px;">
            <table>
                <tbody>
                    <tr>
                        <td class="col-sm-1" style="width: 12%;"></td>
                        <td class="col-sm-3" style="vertical-align: top;width: 1%;">
                            <h6 class="col-sm-11 bold alignleft">Available Attributes</h6>
                            <div class="col-sm-3 navbar-content" id="showAttributeName">
                                <div class="main-navigation navbar-collapse1" style="position: inherit; width: 380px;">
                                    <div style="overflow: auto;">
                                        <div id="chkbxAttributeId" style="text-align: left !important;">
                                            <div kendo-grid options="familyProductGridOptions" id="familyProductGrid">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="width: 4%;">
                            <table>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-default btn-xs" ng-click="SavePublishAttributes(Attribute)" title="{{selectFamilyAttributes}}"><span class="glyphicon glyphicon-arrow-right"></span></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-default btn-xs" ng-click="DeletePublishAttributes()" title="{{unselectFamilyAttributes}}"><span class="glyphicon glyphicon-arrow-left"></span></button>
                                    </td>
                                </tr>

                            </table>
                        </td>
                        <td class="col-sm-3" style="vertical-align: top;width: 1%;">
                            <h6 class="col-sm-11 bold alignleft">Selected Attributes</h6>
                            <div class="col-sm-3 navbar-content" id="showSelectedAttributes">
                                <div class="main-navigation navbar-collapse1" style="position: inherit; width: 380px;">
                                    <div style="overflow: auto;">
                                        <div id="chkbxselAttributeId">
                                            <div kendo-grid options="familyProductselectedGridOptions" id="selectedAttributesId">
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>
                            <br />
                            <!--<div align="center">
                                <button type="button" class="btn btn-default btn-xs" ng-click="UnPublishAttributes()">Publish / UnPublish</button>
                            </div>-->
                        </td>
                        <td style="width: 4%;">
                            <table>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-default btn-xs" ng-click="BtnFamilyMoveUpClick()" title="{{moveFamilyAttributesUp}}"><span class="glyphicon glyphicon-arrow-up"></span></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-default btn-xs" ng-click="BtnFamilyMoveDownClick()" title="{{moveFamilyAttributesDown}}"><span class="glyphicon glyphicon-arrow-down"></span></button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="col-sm-1"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 responsivebtn" align="center">
            <button class="btn btn-primary btn-xs" type="button" ng-disabled="" id="saveAttributePackage" ng-click="saveAttributeGrouping(Attribute)" title="{{saveNewAttribute}}"><i class="fa fa-save"></i></button>
            <button class="btn btn-primary btn-xs" type="button" ng-click="ManageAttributes()" title="Back"><i class="fa fa-chevron-left"></i></button>
            <button class="btn btn-primary btn-xs" type="button" ng-click="NextBtnAttributeAssociation()" title="Next"><i class="fa fa-chevron-right"></i></button>
        </div>

    </div>


    <div id="associateAttributeGrouping" ng-show="associateAttrGrouping">
        <div class="main-content no-margin">
            <div ng-show="userGlobalattrassociation" class="container" style="padding-top: 8px;min-height: 535px;">

                <div class="col-sm-3">
                    @*Select Catalog

                        <div style="vertical-align: bottom; padding-bottom: 20px;padding-top: 8px;">
                            <select kendo-drop-down-list
                                    k-option-label="'--- Select Catalog ---'"
                                    k-data-text-field="'CATALOG_NAME'"
                                    k-data-value-field="'CATALOG_ID'"
                                    k-data-source="catalogDataSource"
                                    ng-model="SelectedCatalogId"
                                    k-on-change="catalogtypeChange(kendoEvent)" style="width:250px" disabled></select>
                        </div>*@

                    <label class="bold">Attribute Type</label>



                    <div style="vertical-align: bottom; padding-bottom: 10px;padding-top: 8px;margin-top: 7px;">
                        <select kendo-drop-down-list
                                k-option-label="'--- Select Attribute Type ---'"
                                k-data-text-field="'DATA_TYPE'"
                                k-data-value-field="'id'"
                                k-selectable="true"
                                k-data-source="AttributeDataSource"
                                k-on-change="AttrtypeChange(kendoEvent)" style="width:250px"></select>
                    </div>


                    <div id="AttributePackageId" style="vertical-align: bottom; padding-bottom: 10px;padding-top: 8px;" ng-show="isAttributePackage">
                        @*<select kendo-drop-down-list
                                    k-options="Packagetypedatasource"
                                    ng-model="GroupeTypeAttr"
                                    k-data-value-field="'packagetype'"
                                    k-data-text-field="'packagetypename'"
                                    k-on-change="ChangeGroupTypeAttr(kendoEvent)" style="width: 247px !important"></select>
                            <br />
                            <br />*@
                        <select kendo-drop-down-list
                                k-option-label="'--- Select Group ---'"
                                k-data-text-field="'GROUP_NAME'"
                                k-data-value-field="'GROUP_ID'"
                                k-data-source="groupNameDataSourceAttr"
                                k-on-change="groupNameChangeAttr(kendoEvent)"
                                ng-model="SelectedGroupIdAttr"
                                style="width:247px"></select>

                    </div>



                    <div class="navbar-content" id="showcatalogTab">
                        <div class="main-navigation navbar-collapse1" style="position: inherit;width:345px;height:200px;">
                            <div class="heightsample" style="max-height:200px;min-height:100px; height:200px;overflow: auto;border: 1px solid rgb(204, 204, 204);width:247px">
                                <div id="checkboxpadding">
                                    <div class="padding-5" ng-repeat="e in entities" @*ng-class="getSelectedClass(e)"*@>
                                        @*<input type="checkbox" name="selected" id="{{e.ATTRIBUTE_ID}}">*@
                                        <input type='checkbox' id='chkid' ng-if="e.ATTRIBUTE_ID!=1" class='chk' value="{{e.ATTRIBUTE_ID}}" />

                                        <input type='checkbox' ng-if="e.ATTRIBUTE_ID==1" ng-disabled="true" id='chkid1' ng-checked="IsCheck" class='chk' value="{{e.ATTRIBUTE_ID}}" />
                                        <a ng-if="e.ATTRIBUTE_ID!=1">{{e.ATTRIBUTE_NAME}}</a>
                                        <a ng-if="e.ATTRIBUTE_ID==1">{{CatalogItemNumber}}</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table cellpadding="10px" width="40%" cellspacing="10px" style="border-collapse: inherit; border-spacing: 10px;margin-left: -36px;">
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td align="right" width="50%">
                                    <button class="btn btn-primary btn-xs" type="button" id="chkselectall" ng-click='selectall()' title="{{checkAllAttribute}}">
                                        Check All
                                    </button>
                                </td>
                                <td align="left">
                                    <button class="btn btn-primary btn-xs" type="button" ng-disabled="unselectallDisplay" ng-click='unselectall()' title="{{uncheckAllAttribute}}">
                                        Uncheck All
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <div style="width:247px;position: inherit; border: 1px solid rgb(204, 204, 204);">
                        <br /> &nbsp; <label class="bold">Select Options</label>

                        <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 0px;">
                            <tbody>
                                <tr>

                                    <td align="right" width="20%">
                                        <input type="checkbox" value="ADD" id="selattr" class="chkoption" ng-click='check()'>
                                    </td>
                                    <td align="left" id="addGroup">
                                        Add selected attributes
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" width="20%">
                                        <input type="checkbox" id="remattr" value="REMOVE" class="chkoption" ng-click='remattrcheck()'>
                                    </td>
                                    <td align="left" id="removeGroup">
                                        Remove selected attributes
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" width="20%">
                                        <input type="checkbox" id="addpub" class="chkoption" value="PUBLISH" ng-click='addpubcheck()'>
                                    </td>
                                    <td align="left">
                                        Publish
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" width="20%">
                                        <input type="checkbox" id="rempub" class="chkoption" value="UNPUBLISH" ng-click='rempubcheck()'>
                                    </td>
                                    <td align="left">
                                        Unpublish
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="bold">Item Products</div>
                    <br />
                    <div style="position: inherit;width:100%">
                        <div class="titleblue">
                            <span><input type="checkbox" id="chkEnabled1" ng-model="CheckOrUncheckBox1" ng-click="CheckOrUncheck1()"> <b>Check/Uncheck</b></input> </span>
                            <span><input type="checkbox" id="chkEnabled2" ng-model="ExpandOrCollapseBox1" ng-click="ExpandOrCollapse1()"> <b>Expand/Collapse</b></input> </span>
                        </div>
                        <div id="treeviewKendo1" kendo-tree-view="tree" k-data-source="selectedcatalog1" k-options="treeOptionsCatalog"
                             style="height:408px;border: 1px solid #ccc;" k-load-on-demand="true">
                            <span k-template>
                                <label class='k-item' id="{{dataItem.id}}">{{dataItem.CATEGORY_NAME}}</label>
                            </span>
                        </div>
                        <div class="col-sm-12" style="padding-top: 7px;margin-left: -15px;">
                            <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing:10px;">
                                <tbody>
                                    <tr>


                                        <td align="center">

                                            <button class="btn btn-primary btn-xs" type="button" ng-disabled="!EditMode" ng-click='runscript()' title="{{saveProductFamilies}}">
                                               <i class="fa fa-save"></i>
                                            </button>
                                            <button class="btn btn-primary btn-xs" type="button" ng-disabled="!EditMode" ng-click='pagereload()' title="{{refreshProductFamilies}}">
                                                <i class="fa fa-refresh"></i>
                                            </button>
                                            <button class="btn btn-primary btn-xs" type="button" ng-disabled="!EditMode" ng-click="backToAttributeGrouping()" title="Back">
                                                <i class="fa fa-chevron-left"></i>
                                            </button>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" id="subproductfamily">
                    <div class="bold">Sub Product Families</div>
                    <br />
                    <div style="position: inherit;width:100%">
                        <div class="titleblue">
                            <span><input type="checkbox" id="chkEnabledsub1" ng-model="CheckOrUncheckBox1sub" ng-click="CheckOrUncheck1sub()"> <b>Check/Uncheck</b></input> </span>
                            <span><input type="checkbox" id="chkEnabledsub2" ng-model="ExpandOrCollapseBox1sub" ng-click="ExpandOrCollapse1sub()"> <b>Expand/Collapse</b></input> </span>
                        </div>
                        <div id="treeviewKendo1sub" kendo-tree-view="tree" k-data-source="subproductdatasource" k-options="subproducttreeOptionsCatalog"
                             style="height:408px;border: 1px solid #ccc;" k-load-on-demand="true">
                            <span k-template>
                                <label class='k-item' id="{{dataItem.id}}">{{dataItem.CATEGORY_NAME}}</label>
                            </span>
                        </div>
                        <div class="col-sm-12" style="padding-top: 7px;margin-left: -15px;">
                            <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing:10px;">
                                <tbody>
                                    <tr>
                                        <td align="center">
                                            <button class="btn btn-primary btn-xs" type="button" ng-disabled="!EditMode || sbuFamilyEnable" ng-click='runscriptsubproducts()' title="{{saveSubProductFamilies}}">
                                                <i class="fa fa-save"></i>
                                            </button>
                                            <button class="btn btn-primary btn-xs" type="button" ng-disabled="!EditMode || sbuFamilyEnable" ng-click='pagereload()' title="{{refreshSubProductFamilies}}">
                                                <i class="fa fa-refresh"></i>
                                            </button>
                                            <button class="btn btn-primary btn-xs" type="button" ng-disabled="!EditMode || sbuFamilyEnable" ng-click="backToAttributeGrouping()" title="Back">
                                                <i class="fa fa-chevron-left"></i>
                                            </button>

                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>


</div>
