﻿
<script type="text/javascript" src='@Url.Content("~/Views/App/Attribute/attributeController.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Views/App/Attribute/newattributeController.js")'></script>
<style>
    .heightsample {
        height: 600px !important;
        width: 70%;
    }
</style>
<form name="myForm" ng-controller="attributeController" ng-enter="AddnewattributeClickPrevent()" ng-cloak>

    <div class="col-sm-12 no-padding">
        @{Html.RenderPartial("Attribute/allAttributes");}

    </div>

</form>