﻿<style>
    .form-group {
        margin-bottom: 10px;
    }
</style>
  

 <div class="row">

    <div class="col-md-12 form-group">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-md-2 bold textalignright margintop padding-0">
                Attribute Type
            </div>

            <div class="col-md-4">
                <select demo-display="field" id="attributetype" kendo-drop-down-list k-options="attributetypedatasource" style="width:165px;" data-ng-model="Attribute.ATTRIBUTE_TYPE" k-data-value-field="'attributetype'" k-data-text-field="'attributetypename'"></select>
            </div>
            <div class="col-md-2 bold textalignright margintop padding-0">Attribute Name </div>
            <div class="col-md-4"><input type="text" id="txt_attr_name" style="width:165px;"  class="k-input k-textbox" name="attributename" ng-model="Attribute.ATTRIBUTE_NAME"></div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-12 form-group">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-md-2 bold textalignright margintop padding-0">Data Type  </div>
            <div class="col-md-4">
                <div id="Datatypeddl">
                    <select demo-display="field" id="attributedatatype" kendo-drop-down-list k-options="attributedatetypedatasource" style="width:165px;" data-ng-model="Attribute.ATTRIBUTE_DATATYPE" k-data-value-field="'attributedatatype'" k-data-text-field="'attributedatatypename'"></select>
                </div>
                <div id="Datatypetxt" style="display: none">

                    <input type="text" id="datatxt1" value="" readonly />

                </div>
            </div>
            <div class="col-md-2 bold textalignright margintop padding-0">Caption </div>
            <div class="col-md-4"><input type="text" id="txt_Caption" class="k-input k-textbox" name="Caption" ng-model="Attribute.CAPTION"></div>

        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-12 form-group">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-md-2 bold textalignright margintop padding-0">Data Format  </div>

            <div class="col-md-4">
                <div id="Dataformatddl">
                    <div id="attributedatainteger">
                        <select demo-display="field" kendo-drop-down-list k-options="attributedateintegerformatdatasource" style="width:165px;" data-ng-model="Attribute.ATTRIBUTE_DATAFORMAT" k-data-value-field="'attributedataformat'" k-data-text-field="'attributedataformatname'"></select>
                    </div>
                    <div id="attributedatatext">
                        <select demo-display="field" kendo-drop-down-list k-options="attributedateformattextdatasource" style="width:165px;" data-ng-model="Attribute.ATTRIBUTE_DATAFORMAT" k-data-value-field="'attributedataformat'" k-data-text-field="'attributedataformatname'"></select>
                    </div>
                    <div id="attributedatadate">
                        <select demo-display="field" kendo-drop-down-list k-options="attributedateformatdatedatasource" style="width:165px;" data-ng-model="Attribute.ATTRIBUTE_DATAFORMAT" k-data-value-field="'attributedataformat'" k-data-text-field="'attributedataformatname'"></select>
                    </div>
                    <div id="attributedatahyperlink">
                        <select demo-display="field" kendo-drop-down-list k-options="attributedateformathyperlinkdatasource" style="width:165px;" data-ng-model="Attribute.ATTRIBUTE_DATAFORMAT" k-data-value-field="'attributedataformat'" k-data-text-field="'attributedataformatname'"></select>
                    </div>
                </div>
                <div id="Dataformattxt" style="display: none">

                    <input type="text" id="datatxt" value="" readonly />

                </div>
            </div>

            <div class="col-md-2 bold textalignright margintop padding-0">Style Name </div>
            <div class="col-md-4"><input type="text" id="txt_stylename" class="k-input k-textbox" name="stylename" ng-model="Attribute.STYLE_NAME"></div>
           
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-12 form-group">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-md-2 bold textalignright margintop padding-0" id="txtsize">Size </div>
            <div class="col-md-4" id="size">
                <div id="attributedataintegersize">
                    <input type="text" class="k-input k-textbox" id="txt_size" style="width:200px;" name="stylename" maxlength="13" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46' ng-model="Attribute.ATTRIBUTE_SIZE">
                    <select demo-display="field" kendo-drop-down-list k-options="size" style="width:50px;" data-ng-model="Attribute.ATTRIBUTE_DECIMAL" k-data-value-field="'Decimal'" k-data-text-field="'Decimal'" id="intdata"></select>
                </div>
                <div id="attributedatasize">
                    <input type="text" id="txt_attributedatasize" class="k-input k-textbox" name="stylename" maxlength="13" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46' ng-model="Attribute.ATTRIBUTE_SIZE">
                    <br>
                    <span>(Leave blank for unlimited size)</span>
                </div>
                <div id="attributedataemptysize">-</div>
            </div>
            <div class="col-md-2 bold textalignright margintop padding-0">   </div>
            <div class="col-md-4">
            </div>
          
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="col-md-12 form-group" id="attrdatarule">
        <div class="panel-heading1">Attribute Data Rule</div>

    </div>
    <div class="col-md-12 form-group" id="applyto">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-md-2 bold textalignright padding-0">Apply To </div>
            <div class="col-md-4">
                <input id="attrapplytoallnew" name="applyto" type="radio" ng-model="Attribute.ApplyTo" value="All" />
                All Rows
                <input id="attrapplytofirstnew" name="applyto" type="radio" ng-model="Attribute.ApplyTo" value="First" />
                First Row
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-12 form-group" id="prefixsuffix">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-md-2 bold textalignright margintop padding-0">Prefix  </div>


            <div class="col-md-4"><input type="text" id="prefixnew" ng-model=Attribute.Prefix></div>

            <div class="col-md-2 bold textalignright margintop padding-0">Suffix</div>

            <div class="col-md-4"><input class="k-input k-textbox" type="text" id="suffixnew" ng-model=Attribute.Suffix></div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="col-md-12 form-group" id="condition">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-md-2 bold textalignright margintop padding-0">Condition  </div>

            <div class="col-md-4">
                <select demo-display="field" kendo-drop-down-list style="width:165px;" data-ng-model="Attribute.Condition">
                    <option></option>
                    <option>Empty</option>
                    <option>Null</option>
                    <option>0.00</option>
                    <option>0</option>
                </select>

            </div>
            <div class="col-md-2 bold textalignright margintop padding-0">Custom Text  </div>

            <div class="col-md-4"><input type="text" class="k-input k-textbox" id="customvaluenew" ng-model=Attribute.CustomValue></div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="col-md-12 form-group col-lg-12" id="applycustomtext">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-md-2 bold textalignright padding-0">
                Apply custom text for numeric type
            </div>
            <div class="col-md-4">
                <input type="checkbox" ng-model="Attribute.ApplyForNumericOnly" style="margin-right: 5px">
            </div>
            <div class="col-md-2 bold textalignright padding-0">Select Publish Options </div>
            <div class="col-md-4 padding-right-0">
                <input type="checkbox" ng-model="Attribute.PUBLISH2WEB" style="margin-right: 5px">&nbsp;&nbsp;Web&nbsp;&nbsp;
                <input type="checkbox" ng-model="Attribute.PUBLISH2PRINT" style="margin-right: 5px;margin-left: 12px;">&nbsp;&nbsp;Print&nbsp;&nbsp;
                <input type="checkbox" ng-model="Attribute.PUBLISH2PDF" style="margin-right: 5px;margin-left: 12px;">&nbsp;&nbsp;PDF&nbsp;&nbsp;
                <br>
                @*<input type="checkbox" ng-model="Attribute.PUBLISH2EXPORT" style="margin-right: 5px">&nbsp;&nbsp;Export&nbsp;&nbsp;
                <input type="checkbox" ng-model="Attribute.PUBLISH2PORTAL" style="margin-right: 5px">&nbsp;&nbsp;Portal*@

            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

</div>

