﻿@{
    ViewBag.Title = "Remove";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}

<script src="~/Views/App/Remove/RemoveProjectController.js"></script>
<div class="main-content no-margin no-padding container">
    <div class="container no-padding">
        <div class="row no-margin">
            @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Remove Project</span>  </div>")
            <div class="panel panel-default">
                <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);
                    background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;
                    box-shadow: 0 1px 0 #2c232b inset;">
                    <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>Remove Project
                    <div class="panel-tools">
                    </div>
                </div>
                <div style="height: auto;" class="panel-body panel-scroll ps-container" ng-controller="RemoveProject" ng-cloak>
                    <div class="col-sm-12">

                        <div class="col-sm-12">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6 form-group">
                                <div class="col-sm-4 bold textalignright margintop padding-0">
                                    Working Catalog Name
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" name="description" style="width:180px !important;" ng-model="Deletecatalogname" readonly ng-trim="false" required>
                                </div>
                            </div>
                            <div class="col-sm-3"></div>
                            </div>
                        <div class="col-sm-12">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6 form-group">
                                <div class="col-sm-4 bold textalignright margintop padding-0">
                                    Project Type
                                </div>
                                <div class="col-sm-3">
                                    <div id="projecttypes" style="width:180px"></div>
                                </div>
                            </div>
                            <div class="col-sm-3"></div>
                            </div>
                        <div class="col-sm-12">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6 form-group">
                                <div class="col-sm-4 bold textalignright margintop padding-0">
                                    Project Name
                                </div>
                                <div class="col-sm-3">
                                    <select kendo-drop-down-list
                                            k-option-label="'--- None ---'"
                                            k-data-text-field="'PROJECT_NAME'"
                                            k-data-value-field="'PROJECT_ID'"
                                            k-data-source="projectDataSource"
                                            k-on-change="projectChange(kendoEvent)"
                                            style="width:180px"></select>
                                </div>
                            </div>
                            <div class="col-sm-3"></div>
                            </div>
                            <div align="center" class="col-sm-12">

                                <button class="btn btn-primary btn-xs" ng-disabled="!EditMode" type="button" ng-click="btnDelete()" title="{{removeProject}}">
                                    Remove
                                </button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

