﻿@using LS.Data.Model.Accounts;
@using LS.Data.Utilities;

@{
    var ImageName = "";
    var ProductTitle = "";
    if (string.IsNullOrEmpty(@HttpContext.Current.Session["ProductTitle"] as string))
    {

        ImageName = "MarketStudio.png";
        ProductTitle = "CatalogStudio";
    }
    else
    {
        ProductTitle = @HttpContext.Current.Session["ProductTitle"].ToString();
        ImageName = ProductTitle + ".png";

    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="CatalogStudio Login Page">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Design/VersionCss/assets/images/favicon.ico" type="image/x-icon" />
        <title>@ProductTitle</title>

 
    <!-- Bootstrap Core CSS -->
    <link href="~/Design/Login/assets/css/bootstrap.min.css" rel="stylesheet">
    @*<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">*@
    <!-- Custom CSS -->
    @*<link href="~/Design/Login/assets/css/logo-nav.css" rel="stylesheet">*@
    <link href="~/Design/Login/assets/css/style.css" rel="stylesheet">
    <link href="~/Design/Login/assets/css/sticky-footer.css" rel="stylesheet">
   
    
</head>
    @if (!HttpContext.Current.IsDebuggingEnabled)
    {
        <base href="/LS/" />
    }
    else
    {
        <base href="/" />
    }



<body class="background-color-blue login-bg" >
    @RenderBody()
    <div class="footer">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left footer-center background-color-white padding-0">
            @*A <a href="http://www.questudio.com/" target="_blank"><img class="img-initial margin-left-5" src="~/Design/Login/assets/images/questudio_colorlogo.png" alt="Questudio"></a> product*@
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center footer-center background-color-white padding-0">
            @*© Questudio Inc. @DateTime.Now.Year*@
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right footer-center background-color-white ">
            <div style="float: right">Copyright © 2023 Questudio. All rights reserved.</div>
        </div>
    </div>
    <script src="~/Design/Login/assets/js/jquery.js"></script>
    <script src="~/Design/Login/assets/js/bootstrap.min.js"></script>


    @*<script src="~/Scripts/JQuery/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>*@
    @*<script type="text/javascript" src="~/Scripts/Others/Jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/Others/jquery.validate.min.js"></script>
    
    <script type="text/javascript">
    $().ready(function () {
        // validate the comment form when it is submitted
        $("#registerFormId").validate();
    });

    </script>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    

    <script type="text/javascript" src="~/Scripts/Others/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Others/jquery.validate.unobtrusive.js"></script>
  
</body>
</html>






