﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <title>@ViewBag.Title</title>

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="The description of my page" />
    <meta name="author" content="Questudio">
    <link rel="shortcut icon" href="~/Design/VersionCss/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="@Url.Content("~/Design/assets/css/bootstrap.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Design/assets/fonts/font-awesome-4.5.0/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Design/assets/css/ie10-viewport-bug-workaround.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Design/assets/css/style.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Design/assets/css/main.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Design/assets/css/main-responsive.css")" type="text/css" />
    @*<link rel="stylesheet" href="@Url.Content("~/Design/assets/plugins/iCheck/skins/all.css")" type="text/css" />
        <link rel="stylesheet" href="@Url.Content("~/Design/assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css")" type="text/css" />
        <link rel="stylesheet" href="@Url.Content("~/Design/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css")" type="text/css" />*@
    <link rel="stylesheet" href="@Url.Content("~/Design/assets/css/theme_light.css")" type="text/css" id="skin_color" />
    <link rel="stylesheet" href="@Url.Content("~/Design/assets/css/print.css")" type="text/css" media="print" />
    <link href="~/Design/css/font-awesome-arrow.css" rel="stylesheet" />
    @*<link href="~/Design/assets/kendo/styles/Theme/kendo.custom.css" rel="stylesheet" />*@
    @*<link href="~/Design/assets/kendo/styles/kendo.flat.min.css" rel="stylesheet" />*@
  


    <link href="~/Design/assets/kendo/styles/kendo.bootstrap.min.css" rel="stylesheet" />


    @*<link href="~/Design/assets/kendo/styles/kendo.black.min.css" rel="stylesheet" />*@
    @*<link href="@Url.Content("~/Design/assets/kendo/styles/kendo.blueopal.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Design/assets/kendo/styles/kendo.common.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design/assets/kendo/styles/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design/assets/kendo/styles/kendo.offline.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Design/assets/kendo/styles/kendo.blueopal.min.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Design/assets/kendo/styles/kendo.custom_style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design/Lightbox.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Design/css/ngDialog-custom-width.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design/css/ngDialog-theme-default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design/css/ngDialog-theme-plain.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design/css/ngDialog.css")" rel="stylesheet" type="text/css" />


    <link rel="stylesheet" href=@Url.Content("~/Design/css/jquery-ui.css") type="text/css" />
    <script src=@Url.Content("~/Design/js/1.11.3/jquery.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Design/js/jquery-ui.js") type="text/javascript"></script>


    <!-- <script src=@Url.Content("~/Design/assets/js/radiojquery.js") type="text/javascript"></script> -->

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/app")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Design/angular-block-ui.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery.msgBox.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Design/msgBoxLight.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/angular-sanitize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular-filter.js")" type="text/javascript"></script>

    <link href="~/Design/css/simple-sidebar.css" rel="stylesheet">
    <script src="@Url.Content("~/Design/assets/js/ie-emulation-modes-warning.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/AngularJs/ngStorage.min.js")" type="text/javascript"></script>

    <script src="~/Design/datetimepicker-master/build/jquery.datetimepicker.full.min.js"></script>
    <link href="~/Design/datetimepicker-master/build/jquery.datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Design/datetimepicker-master/jquery.datetimepicker.css" rel="stylesheet" />
    <script type="text/javascript" src='@Url.Content("~/Views/App/Family/angular-dragdrop.min.js")'></script>

    @*Fileupload Scripts*@
    <script src="@Url.Content("~/Design/assets/js/fileupload/main.js")" type="text/javascript"></script>

    @if (!HttpContext.Current.IsDebuggingEnabled)
    {
        <base href="../" />
    }
    else
    {
        <base href="../" />
    }


    <style>
        /*Scroll Bar design of whole site*/

        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar {
            width: 6px;
            height: 8px;
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #ccc;
        }

        /*Scroll Bar design End*/

        .category {
            background-image: url("../Design/treeview/oie_20114226Ib9m9Kwt.png");
            position: absolute;
        }

        .family {
            background-image: url("../Design/treeview/22_16.png");
            position: absolute;
        }

        .subfamily {
            background-image: url("../Design/treeview/SubFamily_16x16.png");
            position: absolute;
        }

        .defaultfamily {
            background-image: url("../Design/treeview/defaultfamilyicon.png");
            position: absolute;
        }

        .defaultsubfamily {
            background-image: url("../Design/treeview/defaultsubfamily.png");
            position: absolute;
        }

        .familyClone {
            background-image: url("../Design/treeview/clone family.png");
            position: absolute;
        }

        .CategoryClone {
            background-image: url("../Design/treeview/CategoryClone.png");
            position: absolute;
        }

        .subfamilyClone {
            background-image: url("../Design/treeview/CloneSubFamily.png");
            position: absolute;
        }

        .producttreeClone {
            background-image: url("../Design/treeview/product.png");
            position: absolute;
        }

        .producttree {
            background-image: url("../Design/treeview/product.png");
            position: absolute;
        }

        .fa-bars:before {
            content: "\f0c9";
        }

        #dynamictable {
            float: left;
            overflow-x: auto;
            width: 100%;
        }

        #dynamictableFmly {
            float: left;
            overflow-x: scroll;
            width: 100%;
        }

        a:hover {
            text-decoration: none !important;
        }

        #custom-menu1, #custom-menuFam {
            z-index: 99999;
            position: absolute;
            border: solid 2px ButtonHighlight;
            /*background-color: darkviolet;*/
            padding: 5px 0;
            display: none;
            cursor: pointer;
        }

            #custom-menu1 ol, #custom-menuFam ol {
                padding: 0;
                margin: 0;
                list-style-type: none;
                min-width: 130px;
                width: auto;
                max-width: 200px;
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
                font-size: 12px;
            }

                #custom-menu1 ol li, #custom-menuFam ol li {
                    margin: 0;
                    display: block;
                    list-style: none;
                    padding: 5px 5px;
                }

                    #custom-menu1 ol li:hover, #custom-menuFam ol li:hover {
                        color: darkslateblue;
                        /*background-color: #0066aa;*/
                        background-color: white;
                    }

                    #custom-menu1 ol li a:hover, #custom-menuFam ol li a:hover {
                        color: darkmagenta;
                        /*background-color: #0066aa;*/
                        background-color: white;
                    }

                    #custom-menu1 ol li:active, #custom-menuFam ol li:active {
                        color: White;
                        background-color: #000;
                    }

                #custom-menu1 ol .list-devider, #custom-menuFam ol .list-devider {
                    padding: 0px;
                    margin: 0px;
                }

                    #custom-menu1 ol .list-devider hr, #custom-menuFam ol .list-devider hr {
                        margin: 2px 0px;
                    }

                #custom-menu1 ol li a, #custom-menuFam ol li a {
                    /*color: white;*/
                    text-decoration: none;
                    display: block;
                    padding: 0px 5px;
                }

                    #custom-menu1 ol li a:active, #custom-menuFam ol li a:active {
                        color: White;
                    }

        /*.tab-content {
            display: table;
            width: 100%; 
        }*/

        /** {
        margin: 0;
        padding: 0;
        }*/

        .slideout-menu {
            position: fixed;
            top: 0;
            left: -280px;
            width: 280px;
            height: 90%;
            z-index: 100;
            margin-top: 140px;
            overflow-y: auto;
            overflow-x: auto;
        }

            .slideout-menu h3 {
                position: relative;
                padding: 12px 10px;
                color: White;
                font-size: 1.8em;
                font-weight: bolder;
                border-bottom: 4px solid #222;
                background-color: #3a4856;
                /*background-color: #0072bb;*/
            }

            .slideout-menu .slideout-menu-toggle {
                position: absolute;
                top: 12px;
                right: 10px;
                display: inline-block;
                padding: 6px 9px 5px;
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
                font-weight: bold;
                line-height: 1;
                /*background: #222;*/
                color: Red;
                text-decoration: none;
                vertical-align: top;
            }

                .slideout-menu .slideout-menu-toggle:hover {
                    color: #cdcdcd;
                }

            .slideout-menu ul {
                list-style: none;
                font-weight: 300;
                border-top: 1px solid #151515;
                border-bottom: 1px solid #454545;
            }

                .slideout-menu ul li {
                    border-top: 1px solid #454545;
                    border-bottom: 1px solid #151515;
                }

                    .slideout-menu ul li a {
                        position: relative;
                        /*display: block;*/
                        padding: 10px;
                        color: #999;
                        text-decoration: none;
                    }

                        .slideout-menu ul li a:hover {
                            /*background: #000;
            color: #fff;*/
                        }

                        .slideout-menu ul li a i {
                            position: absolute;
                            top: 15px;
                            right: 10px;
                            opacity: .5;
                        }

        .header {
            margin-left: -9px;
        }

            .header .slideout-menu-toggle {
                font-size: 1.2em;
                color: Red;
                text-decoration: none;
            }

                .header .slideout-menu-toggle:hover {
                    color: #003DA5;
                }

                .header .slideout-menu-toggle i {
                    vertical-align: top;
                    margin: 5px 3px 0 0;
                }

        span.k-in > span.highlight {
            background: yellow;
        }

        .treeInlineEdit > input {
            font-size: 1.5em;
            min-width: 10em;
            min-height: 2em;
            border-radius: 5px 5px 5px 5px;
            -moz-border-radius: 5px 5px 5px 5px;
            border: 0px solid #ffffff;
        }

        .sidebar-nav h3 {
            position: relative;
            padding: 7px 4px;
            color: #fff;
            font-size: 1.2em;
            font-weight: bolder;
            /*border-bottom: 4px solid #222;*/
            background-color: #0f1d40;
            /*background-color: #0072bb;*/
            margin: 0px;
        }

        .pressable-element {
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
        }

        div[contenteditable] {
            border-color: #B5B5B5;
            background-color: #FFFFFF;
            border: 1px solid #D5D5D5;
            border-radius: 4px !important;
            color: #000000;
            /* font-family: inherit; */
            font-size: 14px;
            line-height: 1.2;
            padding: 5px 4px;
            transition-duration: 0.1s;
            box-shadow: none;
            width: 11.8em;
            margin-bottom: 0px;
        }


        /*#sidebar-wrapper {
            overflow-y: hidden;
        }*/


        /*Upload Button Style*/

        .file-upload {
            position: relative;
            overflow: hidden;
            margin: 10px 10px 0px 0px;
        }

        .uploadbtnstyle {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
        }

        .msgButton {
            margin: 2px;
        }

        .k-grid table tbody tr {
            cursor: pointer;
        }

        .publish {
            background-image: url("../content/images/CheckMark.png");
            background-repeat: no-repeat;
            background-position: left;
            text-align: center;
        }

        .publishkey {
            background-image: url("../content/images/keywithpublish.png");
            background-repeat: no-repeat;
            background-position: left;
            text-align: center;
        }

        .unpublishkey {
            background-image: url("../content/images/key.png");
            background-repeat: no-repeat;
            background-position: left;
            text-align: center;
        }

        /****Right Click Menu*****/

        .dropdown-menu-bg-color {
            background-color: #efefef !important;
        }

        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu > .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: 0px;
                margin-left: 0px;
                -webkit-border-radius: 0 2px 2px 2px;
                -moz-border-radius: 0 2px 2px;
                border-radius: 0 2px 2px 2px;
            }

            .dropdown-submenu:hover > .dropdown-menu {
                display: block;
                color: #fff;
            }

        .dropdown-menu > li > a:hover {
            color: #fff !important;
        }

        .dropdown-submenu > a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #7ab676;
            margin-top: 5px;
            margin-right: -10px;
        }

        .dropdown-submenu:hover > a:after {
            border-left-color: #fff;
        }

        .dropdown-submenu.pull-left {
            float: none;
        }

            .dropdown-submenu.pull-left > .dropdown-menu {
                left: -100%;
                margin-left: 10px;
                -webkit-border-radius: 2px 0 2px 2px;
                -moz-border-radius: 2px 0 2px 2px;
                border-radius: 2px 0 2px 2px;
            }

        ul.dropdown-menu.multi-level {
            margin-top: -8px;
            margin-left: -5px;
        }

        .menu-hover > li > a:hover {
            background-color: #4b9f46b5 !important;
        }

        .dropdown-menu > li > a {
            border-bottom: #ccc;
        }
    </style>



    <link href="~/Design/css/kendo.ext.css" rel="stylesheet" />
    <script src="~/Scripts/kendo.web.ext.js"></script>
    <script src="~/Scripts/aes.js"></script>
    <link href="~/Scripts/AngularJs/angular-ui-switch.css" rel="stylesheet" />
    <script src="~/Scripts/AngularJs/angular-ui-switch.js"></script>
    <script src="@Url.Content("~/Scripts/angular-long-press.js")" type="text/javascript"></script>
    <script type="text/javascript" src='@Url.Content("~/Views/App/Admin/dashboardController.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Views/App/Partials/applicationTitle.js")'></script>
    @*<script language="javascript" type="text/javascript">
        var sessionTimeoutWarning = '@System.Configuration.ConfigurationManager.AppSettings["sessionTimeoutWarning"]';
        var sessionTimeout = @Session.Timeout;
        var timeOnPageLoad = new Date();
        //For warning
        setTimeout('SessionWarning()', parseInt(sessionTimeoutWarning) * 60 * 1000);
        //To redirect to the welcome page
        setTimeout('RedirectToWelcomePage()', parseInt(sessionTimeout) * 60 * 1000);

        //Session Warning
        function SessionWarning() {
            //minutes left for expiry
            var minutesForExpiry = (parseInt(sessionTimeout) -
                parseInt(sessionTimeoutWarning));
            var message = "Your session will expire in another " + minutesForExpiry +
                " mins! Please Save the data before the session expires";
            alert(message);
            var currentTime = new Date();
            //time for expiry
            var timeForExpiry = timeOnPageLoad.setMinutes(timeOnPageLoad.getMinutes()
                + parseInt(sessionTimeout));

            //Current time is greater than the expiry time
            if (Date.parse(currentTime) > timeForExpiry) {
                alert("Session expired. You will be redirected to welcome page");
                // window.location.reload();
                window.location = "../";

            }
        }
        //Session timeout
        function RedirectToWelcomePage() {
            alert("Session expired. You will be redirected to welcome page");
            window.location = "../Accounts/LogOff";
        }
        </script>*@



</head>
<body ng-app="LSApp" ng-controller="applicationTitle">
    @Html.Hidden("hdnBuildDate", LS.Web.Resources.Resource.BuildDate.Replace(" ", "_").Replace(":", "_").Replace(".", "_").Replace("\r\n", ""))
    <script type="text/javascript">
        var buildVersionNo = document.getElementById("hdnBuildDate").value;
    </script>
    @Html.Partial("TopBanner")
    @RenderSection("Header", required: false)
    <div id="body" ng-controller="dashboardController" ng-cloak>
        @*<div kendo-window="skuAlertOptions" k-title="'Alert'" k-width="400" k-height="175" k-visible="false"
                 k-actions='["Close"]'
                 k-modal="true" k-on-open="skuAlertOptionsWindow = true" k-on-close="onClose(kendoEvent)">
            </div>*@
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <!-- Return to Top -->
    @*<a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>*@

    <!-- ICON NEEDS FONT AWESOME FOR CHEVRON UP ICON -->
    <!-- Test the scroll -->


    <style>
        #return-to-top {
            position: fixed;
            bottom: 33px;
            right: 20px;
            background: rgb(9, 31, 63);
            width: 50px;
            height: 50px;
            display: block;
            z-index: 9;
            text-decoration: none;
            -webkit-border-radius: 35px;
            -moz-border-radius: 35px;
            border-radius: 0px;
            display: none;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

            #return-to-top i {
                color: #fff;
                margin: 0;
                position: relative;
                left: 16px;
                top: 13px;
                font-size: 19px;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }

            #return-to-top:hover {
                background: rgb(75, 159, 70);
            }

                #return-to-top:hover i {
                    color: #fff;
                    top: 5px;
                }
    </style>

    <script>
        // ===== Scroll to Top ====
        $(window).scroll(function () {
            if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
                $('#return-to-top').fadeIn(200);    // Fade in the arrow
            } else {
                $('#return-to-top').fadeOut(200);   // Else fade out the arrow
            }
        });
        $('#return-to-top').click(function () {      // When arrow is clicked
            $('body,html').animate({
                scrollTop: 0                       // Scroll to top of body
            }, 500);
        });
    </script>
    <footer class="footer">
        <div style="float: right">Copyright © 2017 Questudio. All rights reserved.</div>
        @*A <a href="http://www.questudio.com/" target="_blank"><img class="img-initial margin-left-5" src="~/Design/Login/assets/images/questudio_colorlogo.png" alt="Questudio"></a> product <span>©Questudio Inc. @DateTime.Now.Year</span>*@
    </footer>

    <div id="custom-menu1" ng-mouseleave="HideMenu1()" class="k-list-container k-split-container k-popup k-group k-reset k-state-border-up" ng-cloak>
        <ol>

            <li ng-click="CreateNewCategory()"><a><b>New Category</b></a> </li>
            <li ng-click="CutCategory()" ng-if="userCopypastedel"><a><b>Cut Category</b></a> </li>
            <li ng-click="CopyCategory()" ng-if="userCopypastedel"><a><b>Copy Category</b></a> </li>
            <li ng-click="RefreshLeftNavTree()"><a><b>Refresh</b></a> </li>
            <li id="ShowMaster" ng-click="ShowMasterCatalog()"><a><b>Show Master Catalog</b></a> </li>
            <li id="SelectedCatalog" ng-click="ShowMasterCurrentCatalog()"><a><b>Show {{SelectedCatalogname}}</b></a></li>
            <li class="list-devider">
                <hr />
            </li>
            @*<li ng-click="CopyFromContextMenu()"><a><b>Copy </b></a> </li>
                <li ng-click="CutFromContextMenu()"><a><b>Cut </b></a> </li>*@
            <li id="PasteCategoryFamily" ng-if="userCopypastedel" ng-click="PasteCategoryFamily()"><a><b>Paste Family</b></a> </li>
            <li id="PasteCategory" ng-if="userCopypastedel" ng-click="PasteCategory()"><a><b>Paste Category</b></a> </li>
            <li id="PasteRootCategory" ng-if="userCopypastedel" ng-click="PasteRootCategory()"><a><b>Paste as Root Category</b></a> </li>
            <li ng-click="TrashFromNavigator()"><a><b>Delete</b></a> </li>
            @*Move To Recycle Bin*@
            <li class="list-devider">
                <hr />
            </li>
            @*<li ng-click="RemoveFromNavigator()"><a><b>Remove</b></a> </li>*@
            <li class="list-devider">
                <hr />
            </li>
            <li ng-click="CreateNewFamily()"><a><b>New Family</b></a> </li>
            <li class="list-devider">
                <hr />
            </li>
            <li ng-click="leftNavExpand()"><a><b>Expand All</b></a> </li>
            <li ng-click="leftNavCollapse()"><a><b>Collapse All</b></a> </li>
            <li class="list-devider">
                <hr />
            </li>
            <li ng-click="ReferenceAssociationCategory()"><a><b>Reference Table Association</b></a> </li>
            <li ng-click="RenameContent()"><a><b>Rename</b></a> </li>
            <li ng-click="FindFromLeftNav()"><a><b>Find</b></a> </li>
            <li class="list-devider">
                <hr />
            </li>
            <li ng-click="PreviewAll()"><a><b>Preview</b></a></li>
        </ol>
    </div>
    <div id="custom-menuFam" ng-mouseleave="HideMenuFam()" class="k-list-container k-split-container k-popup k-group k-reset k-state-border-up" ng-cloak>
        <ol>
            <li ng-click="RefreshLeftNavTree()"><a><b>Refresh</b></a> </li>
            <li class="list-devider">
                <hr />
            </li>
            <li ng-click="CopyFromContextMenu()" ng-if="userCopypastedel"><a><b>Copy Family</b></a> </li>
            <li ng-click="CutFromContextMenu()" ng-if="userCopypastedel"><a><b>Cut Family</b></a> </li>
            <li id="PasteFamily" ng-click="PasteFamily()" ng-if="userCopypastedel"><a><b>Paste Family</b></a> </li>
            <li class="list-devider">
                <hr />
            </li>
            <li ng-click="CreateNewFamily()"><a><b>New Family</b></a> </li>
            <li ng-click="RemoveFamily()"><a><b>Remove</b></a> </li>
            <li id="ShowMasterf" ng-click="ShowMasterCatalog()"><a><b>Show Master Catalog</b></a> </li>
            <li id="SelectedCatalogf" ng-click="ShowMasterCurrentCatalog()"><a><b>Show {{SelectedCatalogname}}</b></a></li>
            <li class="list-devider">
                <hr />
            </li>
            <li ng-click="leftNavExpand()"><a><b>Expand All</b></a> </li>
            <li ng-click="leftNavCollapse()"><a><b>Collapse All</b></a> </li>
            <li class="list-devider">
                <hr />
            </li>
            <li ng-click="CreateNewProduct()"><a><b>New Product</b></a> </li>
            <li ng-click="ReferenceAssociation()"><a><b>Reference Table Association</b></a> </li>
            <li ng-click="RenameContent()"><a><b>Rename</b></a> </li>
            <li ng-click="FindFromLeftNav()"><a><b>Find</b></a> </li>
            <li class="list-devider">
                <hr />
            </li>
            <li ng-click="PreviewAll()"><a><b>Preview</b></a></li>
        </ol>
    </div>

    <div id="dialog-confirm" title="Create a New Category">
        @*<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Do you want to create a Category as root Category?</p>*@
    </div>

    @*<script src="~/Design/js/bootstrap.min.js"></script>*@

    <script src="~/Design/js/sidebar_menu.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/ckeditor/config.js"></script>
    <script src="~/Scripts/ckeditor/styles.js"></script>
    @*<link href="~/Design/timeout-dialog.css" rel="stylesheet" />*@
    @*<script src="~/Scripts/timeout-dialog.js"></script>*@

    @*Session timout scripts*@

    <script src="~/Scripts/Others/store.min.js"></script>
    <script src="~/Scripts/Others/jquery-idleTimeout.js"></script>



    <script>
        $(document).ready(function () {
            var sessionTimeoutWarning = '@System.Configuration.ConfigurationManager.AppSettings["sessionTimeoutWarning"]';
            $(document).idleTimeout({

                redirectUrl: 'Accounts/LogOn',// redirect to this url. Set this value to YOUR site's logout page.
                idleTimeLimit: sessionTimeoutWarning, // 15 seconds
                activityEvents: 'click keypress scroll wheel mousewheel', // separate each event with a space
                dialogDisplayLimit: 30, // Time to display the warning dialog before logout (and optional callback) in seconds
                sessionKeepAliveTimer: false // Set to false to disable pings.
            });
        });


    </script>
    @* END Session timout scripts*@
    @RenderSection("scripts", required: false)
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/Design/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>
