﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <title>@ViewBag.Title</title>

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="The description of my page" />
    <meta name="author" content="Questudio">
    <link rel="shortcut icon" href="~/Design/VersionCss/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="@Url.Content("~/Design/assets/css/bootstrap.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Design/assets/fonts/font-awesome-4.5.0/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Design/assets/css/ie10-viewport-bug-workaround.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Design/assets/css/style.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Design/assets/css/main.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Design/assets/css/main-responsive.css")" type="text/css" />
    @*<link rel="stylesheet" href="@Url.Content("~/Design/assets/plugins/iCheck/skins/all.css")" type="text/css" />
        <link rel="stylesheet" href="@Url.Content("~/Design/assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css")" type="text/css" />
        <link rel="stylesheet" href="@Url.Content("~/Design/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css")" type="text/css" />*@
    <link rel="stylesheet" href="@Url.Content("~/Design/assets/css/theme_light.css")" type="text/css" id="skin_color" />
    <link rel="stylesheet" href="@Url.Content("~/Design/assets/css/print.css")" type="text/css" media="print" />
    <link href="~/Design/css/font-awesome-arrow.css" rel="stylesheet" />

    @*<link href="~/Design/assets/kendo/styles/kendo.common.css" rel="stylesheet" />*@
    @*<link href="~/Design/assets/kendo/styles/Theme/kendo.custom.css" rel="stylesheet" />*@
    @*<link href="~/Design/assets/kendo/styles/kendo.blueopal.css" rel="stylesheet" />*@

    <link href="~/Design/assets/kendo/styles/kendo.bootstrap.min.css" rel="stylesheet" />
    @*<link href="@Url.Content("~/Design/assets/kendo/styles/kendo.blueopal.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Design/assets/kendo/styles/kendo.common.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design/assets/kendo/styles/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design/assets/kendo/styles/kendo.offline.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Design/assets/kendo/styles/kendo.blueopal.min.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Design/assets/kendo/styles/kendo.custom_style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design/Lightbox.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Design/css/ngDialog-custom-width.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design/css/ngDialog-theme-default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design/css/ngDialog-theme-plain.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design/css/ngDialog.css")" rel="stylesheet" type="text/css" />



    <link rel="stylesheet" href=@Url.Content("~/Design/css/jquery-ui.css") type="text/css" />
    @*<script src=@Url.Content("~/Design/js/jquery-1.10.2.js") type="text/javascript"></script>*@
    <script src=@Url.Content("~/Design/js/1.11.3/jquery.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Design/js/jquery-ui.js") type="text/javascript"></script>


    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/app")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Design/angular-block-ui.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery.msgBox.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Design/msgBoxLight.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/angular-sanitize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular-filter.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular-long-press.js")" type="text/javascript"></script>
    <link href="~/Design/css/simple-sidebar.css" rel="stylesheet">
    <script src="@Url.Content("~/Design/assets/js/ie-emulation-modes-warning.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/AngularJs/ngStorage.min.js")" type="text/javascript"></script>

    <script type="text/javascript" src='@Url.Content("~/Views/App/Admin/dashboardController.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Views/App/Partials/applicationTitle.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Views/App/Reference/ReferenceTableAssociationController.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Views/App/Reference/ReferenceTableAssociationCategoryController.js")'></script>

    <script src="~/Design/datetimepicker-master/build/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript" src='@Url.Content("~/Views/App/Family/clipboard.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Views/App/Family/angular-dragdrop.min.js")'></script>
    <link href="~/Design/datetimepicker-master/build/jquery.datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Design/datetimepicker-master/jquery.datetimepicker.css" rel="stylesheet" />


    @*Fileupload Scripts*@
    <script src="@Url.Content("~/Design/assets/js/fileupload/main.js")" type="text/javascript"></script>

    @if (!HttpContext.Current.IsDebuggingEnabled)
    {
        <base href="../" />
    }
    else
    {
        <base href="../" />
    }


    <style>
        /*Scroll Bar design of whole site*/

        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar {
            width: 6px;
            height: 8px;
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #ccc;
        }

        /*Scroll Bar design End*/


        .navbar {
            margin-bottom: 0px !important;
        }

        div.k-window-content {
            background-color: #fff;
        }

        .k-menu .k-group {
            background: #fff;
        }

        .fa-bars:before {
            content: "\f0c9";
        }

        #dynamictable {
            float: left;
            
            width: 100%;
        }

        #dynamictableFmly {
            float: left;
            overflow-x: scroll;
            width: 100%;
        }

        a:hover {
            text-decoration: none !important;
        }

        #custom-menu1, #custom-menuFam {
            z-index: 99999;
            position: absolute;
            border: solid 2px ButtonHighlight;
            /*background-color: #13688c;*/
            padding: 5px 0;
            display: none;
            cursor: pointer;
        }

        span.k-sprite.category, span.k-sprite.family {
            position: inherit;
        }

        .k-treeview .k-sprite {
            margin-right: -20px;
        }

        #custom-menu1 ol, #custom-menuFam ol {
            padding: 0;
            margin: 0;
            list-style-type: none;
            min-width: 130px;
            width: auto;
            max-width: 200px;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
            font-size: 12px;
        }

            #custom-menu1 ol li, #custom-menuFam ol li {
                margin: 0;
                display: block;
                list-style: none;
                padding: 5px 5px;
            }

                #custom-menu1 ol li:hover, #custom-menuFam ol li:hover {
                    color: darkslateblue;
                    /*background-color: #0066aa;*/
                    background-color: white;
                }

                #custom-menu1 ol li a:hover, #custom-menuFam ol li a:hover {
                    color: darkmagenta;
                    /*background-color: #0066aa;*/
                    background-color: white;
                }

                #custom-menu1 ol li:active, #custom-menuFam ol li:active {
                    color: White;
                    background-color: #000;
                }

            #custom-menu1 ol .list-devider, #custom-menuFam ol .list-devider {
                padding: 0px;
                margin: 0px;
            }

                #custom-menu1 ol .list-devider hr, #custom-menuFam ol .list-devider hr {
                    margin: 2px 0px;
                }

            #custom-menu1 ol li a, #custom-menuFam ol li a {
                /*color: white;*/
                text-decoration: none;
                display: block;
                padding: 0px 5px;
            }

                #custom-menu1 ol li a:active, #custom-menuFam ol li a:active {
                    color: White;
                }

       /*.tab-content {
            display: table;
            width: 100%; 
        }*/

        .slideout-menu {
            position: fixed;
            top: 0;
            left: -280px;
            width: 280px;
            height: 90%;
            z-index: 100;
            margin-top: 140px;
            overflow-y: auto;
            overflow-x: auto;
        }

            .slideout-menu h3 {
                position: relative;
                padding: 12px 10px;
                color: White;
                font-size: 1.6em;
                font-weight: bolder;
                border-bottom: 4px solid #222;
                background-color: #3a4856;
                /*background-color: #0072bb;*/
            }

            .slideout-menu .slideout-menu-toggle {
                position: absolute;
                top: 12px;
                right: 10px;
                display: inline-block;
                padding: 6px 9px 5px;
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
                font-weight: bold;
                line-height: 1;
                /*background: #222;*/
                color: Red;
                text-decoration: none;
                vertical-align: top;
            }

                .slideout-menu .slideout-menu-toggle:hover {
                    color: #cdcdcd;
                }

            .slideout-menu ul {
                list-style: none;
                font-weight: 300;
                border-top: 1px solid #151515;
                border-bottom: 1px solid #454545;
            }

                .slideout-menu ul li {
                    border-top: 1px solid #454545;
                    border-bottom: 1px solid #151515;
                }

                    .slideout-menu ul li a {
                        position: relative;
                        /*display: block;*/
                        padding: 10px;
                        color: #999;
                        text-decoration: none;
                    }

                        .slideout-menu ul li a:hover {
                            /*background: #000;
            color: #fff;*/
                        }

                        .slideout-menu ul li a i {
                            position: absolute;
                            top: 15px;
                            right: 10px;
                            opacity: .5;
                        }

        .header {
            margin-left: -9px;
        }

            .header .slideout-menu-toggle {
                font-size: 1.2em;
                color: Red;
                text-decoration: none;
            }

                .header .slideout-menu-toggle:hover {
                    color: #003DA5;
                }

                .header .slideout-menu-toggle i {
                    vertical-align: top;
                    margin: 5px 3px 0 0;
                }

        span.k-in > span.highlight {
            background: yellow;
        }

        .treeInlineEdit > input {
            font-size: 1.5em;
            min-width: 10em;
            min-height: 2em;
            border-radius: 5px 5px 5px 5px;
            -moz-border-radius: 5px 5px 5px 5px;
            border: 0px solid #ffffff;
        }

        .sidebar-nav h3 {
            position: relative;
            padding: 7px 4px;
            color: #fff;
            font-size: 16.5px;
            font-weight: bolder;
            /*border-bottom: 4px solid #222;*/
            background-color: #0f1d40;
            /*background-color: #0072bb;*/
            margin: 0px;
        }
        /*#treeViewDiv .k-sprite {
            background-image: url("../Design/treeview/09_32.png");
            margin-left: -8px;
        }*/

        .category {
            background-image: url("../Design/treeview/oie_20114226Ib9m9Kwt.png");
            position: absolute;
        }

        .family {
            background-image: url("../Design/treeview/22_16.png");
            position: absolute;
        }


        .defaultfamily {
            background-image: url("../Design/treeview/defaultfamilyicon.png");
            position: absolute;
        }

        .subfamily {
            background-image: url("../Design/treeview/SubFamily_16x16.png");
            position: absolute;
        }

        .defaultsubfamily {
            background-image: url("../Design/treeview/defaultsubfamily.png");
            position: absolute;
        }

        .familyClone {
            background-image: url("../Design/treeview/clone family.png");
            position: absolute;
        }

        .CategoryClone {
            background-image: url("../Design/treeview/CategoryClone.png");
            position: absolute;
        }

        .subfamilyClone {
            background-image: url("../Design/treeview/CloneSubFamily.png");
            position: absolute;
        }

        .producttreeClone {
            background-image: url("../Design/treeview/product.png");
            position: absolute;
        }

        .producttree {
            background-image: url("../Design/treeview/product.png");
            position: absolute;
        }

        .family1 {
            background-image: url("../Design/treeview/22_16.png");
            position: absolute;
        }

        .publish {
            background-image: url("../content/images/CheckMark.png");
            background-repeat: no-repeat;
            background-position: left;
            text-align: center;
        }

        .publishkey {
            background-image: url("../content/images/keywithpublish.png");
            background-repeat: no-repeat;
            background-position: left;
            text-align: center;
        }

        .unpublishkey {
            background-image: url("../content/images/key.png");
            background-repeat: no-repeat;
            background-position: left;
            text-align: center;
        }

        .pressable-element {
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
        }

        div[contenteditable] {
            border-color: #B5B5B5;
            background-color: #FFFFFF;
            border: 1px solid #D5D5D5;
            border-radius: 4px !important;
            color: #000000;
            /* font-family: inherit; */
            font-size: 14px;
            line-height: 1.2;
            padding: 5px 4px;
            transition-duration: 0.1s;
            box-shadow: none;
            width: 11.8em;
            margin-bottom: 0px;
        }

        ul.k-group > li.k-item {
            width: 90% !important;
        }

        a.k-window-action.k-link {
            background: lightblue !important;
            border-radius: 2px;
        }

        .k-state-hover {
            background: #cdcdcd !important;
            background-image: none !important;
        }

        .k-window-titlebar.k-header {
            /*background: #275CAB !important;*/ /*set background to the titlebar*/
            /*color: white;*/ /*set color to the titlebar*/
            font-weight: bold !important; /*set font-weight to the titlebar*/
            /*text-transform: uppercase;*/
            text-transform: capitalize;
            text-rendering: geometricPrecision;
            letter-spacing: 0.065em;
        }

        /*div.k-window-content {
            border: 1px solid #275CAB;
        }*/

        /*Upload Button Style*/

        .file-upload {
            position: relative;
            overflow: hidden;
            margin: 10px 10px 0px 0px;
        }

        .uploadbtnstyle {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
        }

        .msgButton {
            margin: 2px;
        }

        .k-grid table tbody tr {
            cursor: pointer;
        }

        /****Right Click Menu*****/

        .dropdown-menu-bg-color {
            background-color: #efefef !important;
        }

        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu > .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: 0px;
                margin-left: 0px;
                -webkit-border-radius: 0 2px 2px 2px;
                -moz-border-radius: 0 2px 2px;
                border-radius: 0 2px 2px 2px;
            }

            .dropdown-submenu:hover > .dropdown-menu {
                display: block;
                color: #fff;
            }

        .dropdown-menu > li > a:hover {
            color: #fff !important;
        }

        .dropdown-submenu > a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #7ab676;
            margin-top: 5px;
            margin-right: -10px;
        }

        .dropdown-submenu:hover > a:after {
            border-left-color: #fff;
        }

        .dropdown-submenu.pull-left {
            float: none;
        }

            .dropdown-submenu.pull-left > .dropdown-menu {
                left: -100%;
                margin-left: 10px;
                -webkit-border-radius: 2px 0 2px 2px;
                -moz-border-radius: 2px 0 2px 2px;
                border-radius: 2px 0 2px 2px;
            }

        ul.dropdown-menu.multi-level {
            margin-top: -8px;
            margin-left: -5px;
        }

        .menu-hover > li > a:hover {
            background-color: #4b9f46b5 !important;
        }

        .dropdown-menu > li > a {
            border-bottom: #ccc;
        }

        div#dialog-confirm8 {
            width: 100% !important;
        }

        div#dialog-confirm9 {
            width: 100% !important;
        }

        #pin {
            position: absolute;
            margin-bottom: 0px;
            margin-top: 0px;
            padding: 7px 6px 4px 6px;
            z-index: 1;
            background: #091f3f;
            border-radius: 0px;
            color: aliceblue;
            margin-left: -30px;
        }

        .vertical-text {
            transform: rotate(90deg);
            transform-origin: left top 0;
        }

        #pin:hover + #sidebar-wrapper2 {
            display: block !important;
        }

        span#NavigationPin, span#NavigationUnPin {
            cursor: pointer;
        }


        /****Right Click Menu Ends****/
    </style>

    <link href="~/Design/css/kendo.ext.css" rel="stylesheet" />
    <script src="~/Scripts/kendo.web.ext.js"></script>
    <script src="~/Scripts/aes.js"></script>
    <script src="~/Views/App/Admin/Maindirectives.js"></script>
    <script src="~/Scripts/Others/store.min.js"></script>
    <script src="~/Scripts/Others/jquery-idleTimeout.js"></script>

    <script>
        $(document).ready(function () {
            var sessionTimeoutWarning = '@System.Configuration.ConfigurationManager.AppSettings["sessionTimeoutWarning"]';
            $(document).idleTimeout({

                redirectUrl: 'Accounts/LogOn',// redirect to this url. Set this value to YOUR site's logout page.
                idleTimeLimit: sessionTimeoutWarning, // 15 seconds
                activityEvents: 'click keypress scroll wheel mousewheel', // separate each event with a space
                dialogDisplayLimit: 30, // Time to display the warning dialog before logout (and optional callback) in seconds
                sessionKeepAliveTimer: false // Set to false to disable pings.
            });
        });
    </script>

    <script>
        function UnPin() {

            /*Product Grid after Unpin Navigator*/

            if (window.screen.availWidth >= 1400 && window.screen.availWidth <= 1490) {
                $("#sampleProdgrid").css("cssText", "margin-top: 20px; margin-bottom: 40px; position: relative !important; width: 950px !important; overflow: hidden !important; border-collapse: collapse !important;max-width: 1030px !important;");
                $("#sampleProdgrid tbody").css("cssText", "margin-left: -2px;width: 1320px !important;");

            }

            if (window.screen.availWidth >= 1600 && window.screen.availWidth <= 1800) {
                $("#sampleProdgrid").css("cssText", "margin-top: 20px; margin-bottom: 40px; position: relative !important;overflow: hidden !important; border-collapse: collapse !important;width: 1430px !important;");
                $("#sampleProdgrid tbody").css("cssText", "margin-left: -2px;width: 1430px !important;");

            }
            if (window.screen.availWidth >= 1900 && window.screen.availWidth <= 2100) {
                $('#sampleProdgrid').css('max-width', '1220px', '!important');
                $('#sampleProdgrid tbody').css('max-width', '1220px', '!important');
            }

            if (window.screen.availWidth >= 1920 && window.screen.availWidth <= 2100) {
                $("#sampleProdgrid").css("cssText", "margin-top: 20px; margin-bottom: 40px; position: relative !important; width: 950px !important; overflow: hidden !important; border-collapse: collapse !important;max-width: 1510px !important;");
                $('#sampleProdgrid tbody').css('width', '1720px', '!important');
            }

            if (window.screen.availWidth >= 1500 && window.screen.availWidth <= 1590) {
                $('#sampleProdgrid').css('max-width', '1200px', '!important');
                $('#sampleProdgrid tbody').css('max-width', '1200px', '!important');
            }
            if (window.screen.availWidth >= 1360 && window.screen.availWidth < 1400) {
                $("#sampleProdgrid").css("cssText", "margin-top: 20px; margin-bottom: 40px; position: relative !important; width: 950px !important; overflow: hidden !important; border-collapse: collapse !important;max-width: 950px !important;");
                $("#sampleProdgrid tbody").css("cssText", "margin-left: -2px;max-width: 1250px !important;");

            }


            /*Sub Products Grid after Unpin Navigator*/

            if (window.screen.availWidth >= 1400 && window.screen.availWidth <= 1490) {
                $("#samplegridss").css("cssText", "margin-top: 20px; margin-bottom: 40px; position: relative !important; width: 950px !important; overflow: hidden !important; border-collapse: collapse !important;max-width: 1030px !important;");
                $("#samplegridss tbody").css("cssText", "margin-left: -2px;width: 1320px !important;");

            }

            if (window.screen.availWidth >= 1600 && window.screen.availWidth <= 1800) {
                $("#samplegridss").css("cssText", "margin-top: 20px; margin-bottom: 40px; position: relative !important;overflow: hidden !important; border-collapse: collapse !important;width: 1480px !important;");
                $("#samplegridss tbody").css("cssText", "margin-left: -2px;width: 1480px !important;");

            }
            if (window.screen.availWidth >= 1900 && window.screen.availWidth <= 2100) {
                $('#samplegridss').css('max-width', '1220px', '!important');
                $('#samplegridss tbody').css('max-width', '1220px', '!important');
            }

            if (window.screen.availWidth >= 1920 && window.screen.availWidth <= 2100) {
                $("#samplegridss").css("cssText", "margin-top: 20px; margin-bottom: 40px; position: relative !important; width: 950px !important; overflow: hidden !important; border-collapse: collapse !important;max-width: 1510px !important;");
                $('#samplegridss tbody').css('width', '1720px', '!important');
            }

            if (window.screen.availWidth >= 1500 && window.screen.availWidth <= 1590) {
                $('#samplegridss').css('max-width', '1200px', '!important');
                $('#samplegridss tbody').css('max-width', '1200px', '!important');
            }
            if (window.screen.availWidth >= 1360 && window.screen.availWidth < 1400) {
                $("#samplegridss").css("cssText", "margin-top: 20px; margin-bottom: 40px; position: relative !important; width: 950px !important; overflow: hidden !important; border-collapse: collapse !important;max-width: 950px !important;");
                $("#samplegridss tbody").css("cssText", "margin-left: -2px;max-width: 1250px !important;");

            }

            localStorage.setItem("Pin", "yes");
            // $("#samplegridss tbody").css("cssText", "width: 1470px;");
            // $("#sampleProdgrid tbody").css("cssText", "width: 1470px;");
            $("#NavigationUnPin").css("cssText", "display: none;");
            $("#NavigationPin").css("cssText", "float: right;font-size: 14px;margin-top: -7px;transform: rotate(45deg);margin-right: -10px;");
            var x = document.getElementById("sidebar-wrapper2");
            if (x.style.display === "none") {
                x.style.display = "block";
                //    $("#samplegridss tbody").css("cssText", "width: 1170px;");
                //    $("#sampleProdgrid tbody").css("cssText", "width: 1170px;");
                //    $('#page-content-wrapper1').css('width', ($("#page-content-wrapper1").width() - 300) + 'px', '!important');
                $(".gutter").css("cssText", "display: block;width: 9px;");
                $("#tabstrip").css("cssText", "margin-left: 0px;margin-top: 0px;")
                $(".vertical-text").css("cssText", "display: none;")
                $('#sidebar-wrapper2').css("cssText", "margin-top: 0px;margin-left: 0px;width: 18%;")
            } else {
                x.style.display = "none";
                $("#page-content-wrapper1").css("cssText", "min-width: 100%;");
                $(".gutter").css("cssText", "display: none;");
                $("#tabstrip").css("cssText", "margin-left: 0px;margin-top: -28px;")
                $(".vertical-text").css("cssText", "display: block;padding: 0px 0px 0px 35px;font-size: 20px;width: 25%;")
            }
        }

        //var flag = true;
        //function Hidetreeonclick() {
        //    $('#page-content-wrapper1').css("cssText", "z-index: 9999;background: #fff;height: 578px;width: 100%;position: absolute;")
        //    flag = false;
        //}

        function pin() {
            //  $("#samplegridss tbody").css("cssText", "width: 1470px;");
            // $("#sampleProdgrid tbody").css("cssText", "width: 1100px;");
            //$("#sampleProdgrid").css("cssText", "width: 1095px !important;");
            // flag = true;
            localStorage.setItem("Pin", "no");
            // $rootScope.gridresolution();
            $("#NavigationUnPin").css("cssText", "float: right;font-size: 14px;margin-top: 0px;transform: rotate(-43deg);");
            $("#NavigationPin").css("cssText", "display: none;");
            $('#menu').css("cssText", "margin-left: -30px;list-style: none;")
            var x = document.getElementById("sidebar-wrapper2");
            if (x.style.display === "block") {
                $("#samplegridss tbody").css("cssText", "width: 1170px;");
                $("#sampleProdgrid").css("cssText", "margin-top: 20px;margin-bottom: 40px;position: relative !important; overflow: hidden !important;border-collapse: collapse !important;");
                $("#sampleProdgrid tbody").css("cssText", "width: 1178px;");

                if (window.screen.availWidth >= 1400 && window.screen.availWidth < 1450) {
                    $("#sampleProdgrid").css("cssText", "margin-top: 20px; margin-bottom: 40px; position: relative !important; width: 950px !important; overflow: hidden !important; border-collapse: collapse !important;max-width: 950px !important;");
                    $("#sampleProdgrid tbody").css("cssText", "margin-left: -2px;max-width: 1045px !important;");

                }

                if (window.screen.availWidth >= 1360 && window.screen.availWidth < 1400) {
                    $("#sampleProdgrid").css("cssText", "margin-top: 20px; margin-bottom: 40px; position: relative !important; width: 950px !important; overflow: hidden !important; border-collapse: collapse !important;max-width: 985px !important;");
                    $("#sampleProdgrid tbody").css("cssText", "margin-left: -2px;max-width: 990px !important;");

                }

                if (window.screen.availWidth >= 1920 && window.screen.availWidth <= 2100) {
                    $("#sampleProdgrid").css("cssText", "margin-top: 20px; margin-bottom: 40px; position: relative !important; width: 950px !important; overflow: hidden !important; border-collapse: collapse !important;max-width: 985px !important;");
                    $("#sampleProdgrid tbody").css("cssText", "margin-left: -2px;max-width: 1430 !important;");

                }

                /*Sub Product Grid after Pin*/

                if (window.screen.availWidth >= 1400 && window.screen.availWidth < 1600) {
                    $("#samplegridss").css("cssText", "margin-top: 20px; margin-bottom: 40px; position: relative !important; width: 950px !important; overflow: hidden !important; border-collapse: collapse !important;max-width: 950px !important;");
                    $("#samplegridss tbody").css("cssText", "margin-left: -2px;max-width: 1045px !important;");

                }

                if (window.screen.availWidth >= 1400 && window.screen.availWidth < 1450) {
                    $("#samplegridss").css("cssText", "margin-top: 20px; margin-bottom: 40px; position: relative !important; width: 950px !important; overflow: hidden !important; border-collapse: collapse !important;max-width: 950px !important;");
                    $("#samplegridss tbody").css("cssText", "margin-left: -2px;max-width: 1045px !important;");

                }

                if (window.screen.availWidth >= 1360 && window.screen.availWidth < 1400) {
                    $("#samplegridss").css("cssText", "margin-top: 20px; margin-bottom: 40px; position: relative !important; width: 950px !important; overflow: hidden !important; border-collapse: collapse !important;max-width: 985px !important;");
                    $("#samplegridss tbody").css("cssText", "margin-left: -2px;max-width: 990px !important;");

                }

                if (window.screen.availWidth >= 1920 && window.screen.availWidth <= 2100) {
                    $("#samplegridss").css("cssText", "margin-top: 20px; margin-bottom: 40px; position: relative !important; width: 950px !important; overflow: hidden !important; border-collapse: collapse !important;max-width: 985px !important;");
                    $("#samplegridss tbody").css("cssText", "margin-left: -2px;max-width: 1430 !important;");

                }


                $('#page-content-wrapper1').css("cssText", "width: 80%;position: inherit;");
                //      $('#page-content-wrapper1').css("cssText", "width: calc(81% - 4.5px);position: inherit;");
                $(".gutter").css("cssText", "display: block;width: 9px;");
                $("#tabstrip").css("cssText", "margin-left: 0px;margin-top: 0px;")
                $(".vertical-text").css("cssText", "display: none;")
                $('#sidebar-wrapper2').css("cssText", "margin-top: 0px;margin-left: 0px;width: 18.5%;")
            }
        }
    </script>

    @*END Session timout scripts*@
    @RenderSection("scripts", required: false)
</head>
<body ng-app="LSApp">
    @Html.Hidden("hdnBuildDate", LS.Web.Resources.Resource.BuildDate.Replace(" ", "_").Replace(":", "_").Replace(".", "_").Replace("\r\n", ""))
    <script type="text/javascript">
        var buildVersionNo = document.getElementById("hdnBuildDate").value;
    </script>

    <script id="item-template" type="text/x-kendo-template">
    </script>
    @Html.Partial("TopBanner")
    @RenderSection("Header", required: false)

    <div id="body" ng-controller="applicationTitle" ng-cloak>
        <div ng-controller="dashboardController">
            <div kendo-window="skuAlertOptions" k-title="'Alert'" k-width="400" k-height="175" k-visible="false"
                 k-actions='["Close"]'
                 k-modal="true" k-on-open="skuAlertOptionsWindow = true" k-on-close="onClose(kendoEvent)">
            </div>
            <div class="container" style="min-height: auto" ng-cloak>
                <div class="main-content no-margin no-padding container">

                    <div class="header">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"></li>
                            </ul>
                        </div>
                    </div>
                    <br />
                    <div id="wrapper2" class="container-fluid">
                        <button class="navbar-toggle collapse in" id="pin" @*onclick="opentree()" ng-click="gridresolution()" title="Toggle Navigator"*@> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
                        <div ng-click="navigationwidth()" id="navigationonhover" ng-mouseover="TreeLoading('show')" ng-mouseleave="TreeLoading('hide')" class="vertical-text" style="display: none;"><span>&nbsp;&nbsp;{{SelectedDataItem.CATALOG_NAME }}</span></div>

                        <div class="row example-1" style="margin-left: -2px;">
                            <!-- Sidebar -->
                            <div id="sidebar-wrapper2" ng-mouseover="PinTreeLoading('show')" ng-mouseleave="PinTreeLoading('hide')" class="k-content col-sm-3 split split-horizontal padding-0">
                                <div class="sidebar-nav nav-pills nav-stacked" style="width: 100%;">
                                    <h3 style="min-width:100px !important">

                                        <p class="small-caps-white">
                                            @*<button class="navbar-toggle collapse in" ng-click="gridresolution()" style="position:absolute; margin-bottom: 0px; margin-top: -7px;padding: 7px 4px 3px 2px;z-index:1;background: #091f3f;border-radius: 0px;" data-toggle="collapse" id="menu-toggle-2" title="Toggle Navigator"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>*@
                                            <span id="showName" style="margin-left: 8px;">NAVIGATOR</span>
                                            <span id="NavigationPin" ng-click="gridresolution()" title="Pin" onclick="pin()" class="pin navbar-toggle collapse in" style="float: right;font-size: 14px;margin-top: -7px;transform: rotate(45deg);">@*&#128204;*@<img style="width: 70%;" src="~/Design/assets/images/pin.png" /></span>
                                            <span id="NavigationUnPin" ng-click="gridresolution()" title="Unpin" onclick="UnPin()" style="float: right;font-size: 14px;margin-top: 0px;transform: rotate(-45deg);">@*&#128204;*@<img style="width: 70%;transform: rotate(45deg);" src="~/Design/assets/images/pin.png" /></span>
                                        </p>

                                    </h3>
                                    <br />
                                    <div id="renamearea" class="col-sm-12 margin-bottom-20 padding-0" style="margin-left: -5px;">
                                        <input id="RenameContent" style="border: 1px solid red;" type="text" name="Rename" ng-model="selectedRenameText" ng-trim="false" />
                                        <button type="button" ng-click="renameUpdateBtn()" class="btn-primary btn-sm"><span class="glyphicon glyphicon-ok"></span></button>
                                        <button type="button" ng-click="CloseRename()" class="btn-primary btn-sm"><span class="fa fa-times" aria-hidden="true"></span></button>
                                    </div>
                                    <div id="searchLeftNavi" style="padding-left: 12px;">
                                        Find :  <input type=text style="border: 1px solid red;" id='search-term' />
                                        <button type="button" ng-click="CloseFindText()" class="btn-primary btn-sm"><span class="fa fa-times" aria-hidden="true"></span></button>

                                        @*<input class="k-textbox" placeholder="I am looking for..." />*@
                                    </div>
                                    @*<button type="button" ng-click="previoustate()" class="btn btn-link">expand previous selection</button>*@
                                    <ul id="menu" style="list-style: none;margin-left: -30px;">
                                        <li id="ddlcatalog">
                                            <select kendo-drop-down-list
                                                    id="ddlKendocatalogDropDown"
                                                    @*k-option-label="'--- Select Catalog ---'"*@
                                                    k-data-text-field="'CATALOG_NAME'"
                                                    k-data-value-field="'CATALOG_ID'"
                                                    k-data-source="catalogDataSource"
                                                    ng-model="SelectedCatalogId"
                                                    onselect="selectCatalog(kendoEvent)"
                                                    k-on-change="catalogChange(kendoEvent)" style="width:100%"></select>
                                        </li>
                                        <li id="lblmastercatalog">
                                            <label style="align-items:center"><b>MASTER CATALOG</b></label>
                                        </li>
                                        <li>
                                            <div id="treeViewDiv" style="margin-top: 10px;">
                                                <div kendo-tree-view="tree" style="width:100%;min-height:auto;max-height: 430px; overflow:auto;background: #fff;"
                                                     ng-right-click="ContextMenuEmpty($event)"
                                                     k-data-source="treeData"
                                                     id="leftNavTreeViewKendoNavigator"
                                                     k-load-on-demand="true"
                                                     k-collapse="collapseData"
                                                     k-expand="expandData"
                                                     data-drag-and-drop="false"
                                                     k-on-change="selectedItem = dataItem"
                                                     k-options="treeOptionsCatalog"
                                                     ng-show="userRoleAddCreateManage">
                                                    <span k-template style="width: 100% !important">
                                                        <a class='k-item' ng-if='dataItem.CategoryIdinNavigator==true' id="{{dataItem.id}}" kendo-tooltip k-content="dataItem.CATEGORY_NAME" ng-click='clickSelectedItem(dataItem,$event)' ng-right-click="ContextMenu($event,dataItem)" on-long-press="onLongPress(dataItem,$event)" on-touch-end="onTouchEnd()" prevent-click="true">
                                                            [{{dataItem.CATEGORY_SHORT}}]{{dataItem.CATEGORY_NAME}}
                                                        </a>
                                                        <a class='k-item' style="display: inline-block" ng-if="dataItem.CategoryIdinNavigator==false && dataItem.CATEGORY_NAME.indexOf('^') !== -1" id="{{dataItem.id}}" ng-click='clickSelectedItem(dataItem,$event)' ng-right-click="ContextMenu($event,dataItem)" on-long-press="onLongPress(dataItem,$event)" on-touch-end="onTouchEnd()" prevent-click="true">
                                                            {{dataItem.CATEGORY_NAME.replace('^','')}}
                                                        </a>
                                                        <a class='k-item' kendo-tooltip k-content="dataItem.CATEGORY_NAME" ng-if="dataItem.CategoryIdinNavigator==false && dataItem.CATEGORY_NAME.indexOf('^') ===-1 "
                                                           id="{{dataItem.id}}" ng-click='clickSelectedItem(dataItem,$event)'
                                                           ng-right-click="ContextMenu($event,dataItem)" on-long-press="onLongPress(dataItem,$event)" on-touch-end="onTouchEnd()" prevent-click="true">
                                                            {{dataItem.CATEGORY_NAME}}
                                                        </a>
                                                        @*<a class='k-item' kendo-tooltip k-content="dataItem.CATEGORY_NAME" ng-if="dataItem.CategoryIdinNavigator==false && dataItem.CATEGORY_NAME.indexOf('^') ===-1"
                                                           id="{{dataItem.id}}" ng-click='clickSelectedItem(dataItem,$event)'
                                                           ng-right-click="ContextMenu($event,dataItem)" on-long-press="onLongPress(dataItem,$event)" on-touch-end="onTouchEnd()" prevent-click="true">
                                                            {{dataItem.CATEGORY_NAME.replace('Family','Product')}}
                                                        </a>*@
                                                        <a style="display: inline-block" ng-if="dataItem.CategoryIdinNavigator==false && dataItem.CATEGORY_NAME.indexOf('^') !== -1"
                                                           ng-click='clickSelectedItemSubProduct(dataItem,$event)' ng-right-click="ContextMenu($event,dataItem)"
                                                           on-long-press="onLongPress(dataItem,$event)" on-touch-end="onTouchEnd()" prevent-click="true">
                                                        </a>
                                                    </span>

                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                    <div ng-right-click="EmptyNavigatorRightClick($event)">
                                        <label style="background-color:white;text-decoration-color:white;text-emphasis-color:white;">&nbsp;</label>
                                    </div>
                                </div>
                            </div><!-- /#sidebar-wrapper --> <!-- /#sidebar-wrapper -->
                            <!-- Page Content -->
                            <div id="page-content-wrapper1" ng-click="BodyClickHideUnpin()" class="col-sm-9 padding-0 split split-horizontal">
                                <div class="container-fluid xyz">
                                    <div class="row">
                                        <div class="col-lg-12"> @RenderBody() </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /#page-content-wrapper -->
                        </div>
                    </div>
                    <div class="sidebarnavigation">

                    </div>

                </div>
            </div>
            <!-- start: PAGE -->
            <!-- end: MAIN CONTAINER -->
            <!-- start: FOOTER -->
            <!-- Return to Top -->
            @*<a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>*@


            <style>
                #return-to-top {
                    position: fixed;
                    bottom: 33px;
                    right: 20px;
                    background: rgb(9, 31, 63);
                    width: 50px;
                    height: 50px;
                    display: block;
                    z-index: 1;
                    text-decoration: none;
                    -webkit-border-radius: 35px;
                    -moz-border-radius: 35px;
                    border-radius: 0px;
                    display: none;
                    -webkit-transition: all 0.3s linear;
                    -moz-transition: all 0.3s ease;
                    -ms-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }

                    #return-to-top i {
                        color: #fff;
                        margin: 0;
                        position: relative;
                        left: 16px;
                        top: 13px;
                        font-size: 19px;
                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -ms-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                    }

                    #return-to-top:hover {
                        background: rgb(75, 159, 70);
                    }

                        #return-to-top:hover i {
                            color: #fff;
                            top: 5px;
                        }

                #menu {
                    background: transparent !important;
                    padding: 0px 10px;
                    /* z-index: 1; */
                }
            </style>

            <script>
                // ===== Scroll to Top ====
                $(window).scroll(function () {
                    if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
                        $('#return-to-top').fadeIn(200);    // Fade in the arrow
                    } else {
                        $('#return-to-top').fadeOut(200);   // Else fade out the arrow
                    }
                });
                $('#return-to-top').click(function () {      // When arrow is clicked
                    $('body,html').animate({
                        scrollTop: 0                       // Scroll to top of body
                    }, 500);
                });
            </script>
            <footer class="footer">
                <div style="float: right">Copyright © 2017 Questudio. All rights reserved.</div>
            </footer>

            <div id="custom-menu1" ng-mouseleave="HideMenu1()" class="k-list-container k-split-container k-popup k-group k-reset k-state-border-up" ng-cloak>
                <div class="dropdown open">
                    <ul class="dropdown-menu dropdown-menu-bg-color menu-hover multi-level" role="menu" aria-labelledby="dropdownMenu">
                        <li class="dropdown-submenu">
                            <a tabindex="-1">New</a>
                            <ul class="dropdown-menu dropdown-menu-bg-color menu-hover">
                                <li id="newcategory" ng-click="CreateNewCategory()" ng-show="userRoleAddCategory && userRoleAddCreateManage"><a>New Category</a> </li>
                                <li id="newfamily" ng-click="CreateNewFamily()" ng-show="userRoleAddCreateManage && userRoleAddFamily"><a>New Product</a> </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" id="EditFunction">Edit</a>
                            <ul class="dropdown-menu dropdown-menu-bg-color menu-hover">
                                <li id="cutcategory" ng-click="CutCategory()"><a>Cut Category</a> </li>
                                <li id="copycategory" ng-click="CopyCategory()" ng-show="userClone"><a>Copy / Clone Category</a> </li>
                                <li id="PasteCategoryFamily" ng-click="PasteCategoryFamily()"><a>Paste Product</a> </li>
                                <li id="CloneFamily" ng-click="CloneFamily()"><a>Clone {{FamilyNameForClone}}</a> </li>
                                <li id="PasteCategory" ng-click="PasteCategory()"><a>Paste Category</a> </li>
                                <li id="PasteRootCategory" ng-click="PasteRootCategory()"><a>Paste as Root Category</a> </li>
                                <li id="CloneCategory" ng-click="CloneCategory()"><a>Clone {{FamilyNameForClone}}</a> </li>
                                <li id="CloneasRooCategory" ng-click="CloneasRootCategory()"><a>Clone as Root Category</a> </li>
                                <li id="Trash" ng-click="TrashFromNavigator()" ng-show="userRoleDeleteCategory && userCopypastedel "><a>Delete</a> </li>
                                <li id="CloneRemoveCategory" ng-click="TrashFromNavigator()" ng-show="userRoleDeleteCategory && userCopypastedel"><a>Remove Clone</a> </li>
                                <li id="association" ng-if="SelectedCatalogId!==1" ng-click="AssociationRemoveFromNavigator()" ng-show="userRoleDetachCategory && clonedCategory"><a>Detach</a> </li>
                                <li id="rename" ng-show="EditMode" ng-click="RenameContent()"><a>Rename</a> </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" id="SelectFunction">Select</a>
                            <ul class="dropdown-menu dropdown-menu-bg-color menu-hover">
                                <li id="checkall" ng-click="CheckUncheckAll(true)"><a>Check All</a> </li>
                                <li id="uncheckall" ng-click="CheckUncheckAll(false)"><a>Uncheck All</a></li>
                                <li id="expandall" ng-click="leftNavExpand()"><a>Expand All</a> </li>
                                <li id="collapseall" ng-click="leftNavCollapse()"><a>Collapse All</a> </li>
                            </ul>
                        </li>
                        <li id="find" ng-click="FindFromLeftNav()"><a>Find</a> </li>
                        <li id="ShowMaster" ng-show="EditMode" ng-click="ShowMasterCatalog()"><a>Show Master Catalog</a> </li>
                        <li id="SelectedCatalog" ng-click="ShowMasterCurrentCatalog()"><a>Show {{SelectedCatalogname}}</a></li>
                        <li id="referencetable" ng-click="ReferenceAssociationCategory()"><a>Reference Table Association</a> </li>
                        @*<li id="referencetable" ng-click="ReferenceAssociationCategory()"><a>Family Attribute Association</a> </li>*@
                        @*<li class="dropdown-submenu">
                                <a tabindex="-1" id="familyAttributeAssociation">Family Attribute Association</a>
                                <ul class="dropdown-menu dropdown-menu-bg-color menu-hover">
                                    <li id="{{group.GROUP_ID}}" ng-repeat="group in familyPackage" ng-click="associateFamilyAttribute(group)">
                                        {{ group.GROUP_NAME }}
                                    </li>
                                </ul>
                            </li>*@
                        <li class="dropdown-submenu">
                            <a tabindex="-1">Add Product Group</a>
                            <ul class="dropdown-menu dropdown-menu-bg-color menu-hover" ng-if="familyPackage.length != 0">
                                @*{{familyPackage}}*@
                                <li id="{{group.GROUP_ID}}" ng-click="associateFamilyAttribute(group)" ng-repeat="group in familyPackage"><a>{{ group.GROUP_NAME }}</a> </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1">Add Item Group</a>
                            <ul class="dropdown-menu dropdown-menu-bg-color menu-hover" ng-if="productPackage.length != 0">
                                @*<li id="{{groupProd.GROUP_ID}}" ng-repeat="groupProd in productPackage" ng-click="associateProductAttribute(groupProd)">
                                        {{ groupProd.GROUP_NAME }}
                                    </li>*@
                                <li id="{{groupProd.GROUP_ID}}" ng-click="associateProductAttribute(groupProd)" ng-repeat="groupProd in productPackage"><a>{{ groupProd.GROUP_NAME }}</a> </li>
                            </ul>
                        </li>
                        <li id="preview" ng-click="PreviewAll()"><a>Preview</a></li>
                        <li id="refresh" ng-click="refreshTree()"><a>Refresh</a> </li>
                        <li class="dropdown" id="Copycategory" ng-model="copycategoryvalue" ng-click="Copycategoryclk('copycat')"><a>Copy "{{copycategoryvalue}}"</a></li>
                        <li class="dropdown" id="Searchcategory" ng-model="searchcategoryvalue" ng-click="Searchcategoryclk('searchcat')"><a>Search for "{{searchcategoryvalue}}"</a></li>
                    </ul>
                </div>



            </div>
            <div id="custom-menuFam" ng-mouseleave="HideMenuFam()" class="k-list-container k-split-container k-popup k-group k-reset k-state-border-up" ng-cloak>




                <div class="dropdown open">
                    <ul class="dropdown-menu dropdown-menu-bg-color menu-hover multi-level" role="menu" aria-labelledby="dropdownMenu">
                        <li class="dropdown-submenu">
                            <a tabindex="-1">New</a>
                            <ul class="dropdown-menu dropdown-menu-bg-color menu-hover">
                                <li ng-click="CreateNewFamily()" ng-show="userRoleAddCreateManage && userRoleAddFamily"><a>New Product</a></li>
                                <li ng-click="CreateNewProduct()" ng-show="userRoleAddProductTable"><a>New Item</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1">Edit</a>
                            <ul class="dropdown-menu dropdown-menu-bg-color menu-hover">
                                @*<li ng-click="CopyFromContextMenu()" ng-if="userCopypastedel" ng-show="userClone"><a>Copy / Clone Family</a></li>*@
                                <li ng-click="CopyFromContextMenu()" ng-if="userCopypastedel"><a>Copy<span ng-show="userClone"> / Clone</span> Product</a></li>
                                <li id="cutFamily" ng-click="CutFromContextMenu()" ng-if="userCopypastedel"><a>Cut Product</a></li>
                                <li id="PasteFamily" ng-click="PasteFamily()" ng-if="userCopypastedel"><a>Paste Product</a></li>
                                <li id="TrashFamily" ng-click="TrashFamily()" ng-show="userRoleDeleteFamily && userCopypastedel"><a>Delete</a></li>
                                <li id="CloneRemoveFamily" ng-click="TrashFamily()" ng-show="userRoleDeleteFamily && userCopypastedel"><a>Remove clone</a> </li>
                                <li id="associationfamily" ng-click="AssociationRemoveFromNavigator()" ng-show="userRoleDetachFamily"><a>Detach</a></li>
                                <li ng-show="EditMode" ng-click="RenameContent()"><a>Rename</a> </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1">Select</a>
                            <ul class="dropdown-menu dropdown-menu-bg-color menu-hover">
                                <li ng-click="leftNavExpand()"><a>Expand All</a></li>
                                <li ng-click="leftNavCollapse()"><a>Collapse All</a></li>
                                <li id="DefaultFamily" ng-click="setDefaultFamilyFromNavigator(this)"><a>Default Product</a></li>
                            </ul>
                        </li>
                        <li ng-click="FindFromLeftNav()"><a>Find</a></li>
                        <li id="ShowMasterf" ng-show="EditMode" ng-click="ShowMasterCatalog()"><a>Show Master Catalog</a></li>
                        <li id="SelectedCatalogf" ng-click="ShowMasterCurrentCatalog()"><a>Show {{SelectedCatalogname}}</a></li>
                        <li id="SwitchMaster" ng-click="SwitchMaster()"><a>Switch Master</a></li>
                        <li ng-click="ReferenceAssociation()"><a>Reference Table Association</a></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" id="familyAttributeAssociation">Add Product Group</a>
                            <ul class="dropdown-menu dropdown-menu-bg-color menu-hover" ng-if="familyPackage.length != 0">
                                <li id="{{group.GROUP_ID}}" ng-click="associateFamilyAttribute(group)" ng-repeat="group in familyPackage"><a>{{ group.GROUP_NAME }}</a> </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1">Add Item Group</a>
                            <ul class="dropdown-menu dropdown-menu-bg-color menu-hover" ng-if="productPackage.length != 0">
                                <li id="{{groupProd.GROUP_ID}}" ng-click="associateProductAttribute(groupProd)" ng-repeat="groupProd in productPackage"><a>{{ groupProd.GROUP_NAME }}</a> </li>
                            </ul>
                        </li>
                        <li ng-click="PreviewAll()"><a>Preview</a></li>
                        <li ng-click="refreshTree()"><a>Refresh</a></li>
                        <li class="dropdown" id="Copyfamily" ng-model="copyfamilyvalue" ng-click="Copyfamilyclk('copyfam')">
                            <a>Copy "{{copyfamilyvalue}}"</a>
                        </li>
                        <li class="dropdown" id="Searchfamily" ng-model="searchfamilyvalue" ng-click="Searchfamilyclk('searchfam')">
                            <a>Search for "{{searchfamilyvalue}}"</a>
                        </li>
                    </ul>
                </div>

            </div>

            <div id="dialog-confirm" title="CatalogStudio">
                <p><span class="" style="float:left; margin:0 7px 20px 0;"></span>Do you want to create a Category as Root Category?</p>
            </div>
            @*<div id="dialog-confirm1" title="Remove Family">
                    <p><span class="" style="float:left; margin:0 7px 20px 0;"></span>Do you want to remove Family?</p>
                </div>*@

            <div id="dialog-confirm1" title="CatalogStudio">
                @*<p><span style="float:left; margin:0 7px 20px 0;"></span>Do you want to delete this Family?</p>*@  @*move to Recycle Bin*@

                <div id="dialog-confirm2" title="CatalogStudio">
                    <p><span class="" style="float:left; margin:0 7px 20px 0;"></span>Do you want to delete this Product?</p> @*move to Recycle Bin*@

                </div>

                <div id="dialog-confirm8" title="CatalogStudio" style="display: none;">
                    <p><span class="" style="float:left; margin:0 7px 20px 0;"></span>Do you want to delete this default Product?</p> @*move to defaultfamily to Recycle Bin*@
                </div>

                <div id="dialog-confirm9" title="CatalogStudio" style="display: none;">
                    <p><span class="" style="float:left; margin:0 7px 20px 0;"></span>Do you want to delete this default subfamily?</p> @*move to defaultfamily to Recycle Bin*@
                </div>

                <div id="dialog-confirm6" title="CatalogStudio">
                    <p><span class="" style="float:left; margin:0 7px 20px 0;"></span>Do you want to delete this Subfamily?</p> @*move to Recycle Bin*@

                </div>
                <div id="dialog-confirm7" title="CatalogStudio">
                    <p><span class="" style="float:left; margin:0 7px 20px 0;"></span>Do you want to delete this clone Product?</p> @*move to Recycle Bin*@
                </div>
                <div id="dialog-confirm10" title="CatalogStudio">
                    <p><span class="" style="float:left; margin:0 7px 20px 0;"></span>Do you want to delete this clone category?</p> @*move to Recycle Bin*@
                </div>
                <div id="dialog-confirm11" title="CatalogStudio">
                    <p><span class="" style="float:left; margin:0 7px 20px 0;"></span>Do you want to delete this clone subfamily?</p> @*move to Recycle Bin*@
                </div>
                @*<div id="dialog-confirm3" title="Remove Category">
                        <p><span class="" style="float:left; margin:0 7px 20px 0;"></span>Do you want to remove Category?</p>
                    </div>*@
                <div id="dialog-confirm4" title="CatalogStudio">
                    <p><span class="" style="float:left; margin:0 7px 20px 0;"></span>Do you want to delete this Category?</p>  @*move to Recycle Bin*@
                </div>
                <div kendo-window="winReferencetableAssociationSetup" k-title="'Reference Table Relation Management'" k-width="800" k-height="550" k-visible="false"
                     k-actions='["Close"]'
                     k-modal="true" k-on-open="winReferencetableAssociation = true" k-on-close="onClose(kendoEvent)">
                </div>
                <div kendo-window="PasteOptions" k-title="'Paste Options'" k-width="300" k-height="160" k-visible="false"
                     k-actions='["Close"]'
                     k-modal="true" k-on-open="PasteOptionsWindow = true" k-on-close="onClose(kendoEvent)">
                </div>
                <div kendo-window="Remove" k-title="'Remove Options'" k-width="350" k-height="180" k-visible="false"
                     k-actions='["Close"]'
                     k-modal="true" k-on-open="RemoveOptions = true" k-on-close="onClose(kendoEvent)">
                </div>
                <div kendo-window="CloneAlert" k-title="'Alert'" k-width="315" k-height="115" k-visible="false"
                     k-actions='["Close"]'
                     k-modal="true" k-on-open="FamilyRemoveOptions = true" k-on-close="onClose(kendoEvent)">
                </div>
                <div kendo-window="ShowMaster" k-title="'Switch Master'" k-width="1100" k-height="450" k-visible="false"
                     k-actions='["Close"]'
                     k-modal="true" k-on-open="ShowMasterOptions = true" k-on-close="onClose(kendoEvent)">
                </div>
                <div kendo-window="FamilyClone" k-title="'Alert'" k-width="315" k-height="115" k-visible="false"
                     k-actions='["Close"]'
                     k-modal="true" k-on-open="FamilyCloneRemoveOptions = true" k-on-close="onClose(kendoEvent)">
                </div>
                <div kendo-window="EditMultipletable" k-title="'Multiple Table Editor'" k-width="800" k-height="450" k-visible="false"
                     k-actions='["Close"]'
                     k-modal="true" k-on-open="EditMultipletable = true" k-on-close="onClose(kendoEvent)">
                </div>

                <div id="dialog">

                </div>
            </div>
        </div>


        @*<script src="~/Design/js/bootstrap.min.js"></script>*@
        <script src="~/Design/js/sidebar_menu.js"></script>
        @*<script src="//cdn.ckeditor.com/4.4.4/standard-all/ckeditor.js"></script>*@
        <script src="~/Scripts/ckeditor/ckeditor.js"></script>
        <script src="~/Scripts/ckeditor/config.js"></script>
        <script src="~/Scripts/ckeditor/styles.js"></script>
        <link href="~/Scripts/AngularJs/angular-ui-switch.css" rel="stylesheet" />
        <script src="~/Scripts/AngularJs/angular-ui-switch.js"></script>
        <script type="text/javascript">
            function isNumber(evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    alert("Invalid data");
                    return false;
                }
                return true;
            }


        </script>

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="~/Design/assets/js/ie10-viewport-bug-workaround.js"></script>


        <!-- Category Page Resize  -->
        @*<script>hljs.initHighlightingOnLoad();</script>*@
        <script src="~/Design/js/split.js"></script>
        <script>
            //$('.gutter').css('margin-left', '-2px');
            //$('#sampleProdgrid tbody').css('width', '1900px', '!important');
            Split(['#sidebar-wrapper2', '#page-content-wrapper1'], {
                sizes: [19, 81],
                minSize: 200
            });

        </script>
        <!-- Category Page Resize Ends -->

</body>

</html>
