﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <title>@ViewBag.Title</title>

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="The description of my page" />
    <meta name="author" content="Questudio">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/bootstrap.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/fonts/font-awesome-4.5.0/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/ie10-viewport-bug-workaround.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/style.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/main.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/main-responsive.css")" type="text/css" />
    @*<link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/iCheck/skins/all.css")" type="text/css" />
      <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css")" type="text/css" />
      <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css")" type="text/css" />*@
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/theme_light.css")" type="text/css" id="skin_color" />
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/print.css")" type="text/css" media="print" />
    <link href="~/Content/css/font-awesome-arrow.css" rel="stylesheet" />

    @*<link href="~/Content/assets/kendo/styles/kendo.common.css" rel="stylesheet" />*@

    @*<link href="~/Content/assets/kendo/styles/kendo.blueopal.css" rel="stylesheet" />*@
    <link href="@Url.Content("~/Content/assets/kendo/styles/kendo.blueopal.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/kendo/styles/kendo.common.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/kendo/styles/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/kendo/styles/kendo.offline.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/kendo/styles/kendo.blueopal.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/kendo/styles/kendo.custom_style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Lightbox.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/css/ngDialog-custom-width.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/ngDialog-theme-default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/ngDialog-theme-plain.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/ngDialog.css")" rel="stylesheet" type="text/css" />

   

    <link rel="stylesheet" href=@Url.Content("~/Content/css/jquery-ui.css") type="text/css" />
    @*<script src=@Url.Content("~/Content/js/jquery-1.10.2.js") type="text/javascript"></script>*@
    <script src=@Url.Content("~/Content/js/1.11.3/jquery.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Content/js/jquery-ui.js") type="text/javascript"></script>
   

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/app")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/angular-block-ui.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery.msgBox.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/msgBoxLight.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/angular-sanitize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular-filter.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular-long-press.js")" type="text/javascript"></script>
    <link href="~/Content/css/simple-sidebar.css" rel="stylesheet">
    <script src="@Url.Content("~/Content/assets/js/ie-emulation-modes-warning.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/AngularJs/ngStorage.min.js")" type="text/javascript"></script>

    <script type="text/javascript" src='@Url.Content("~/Views/App/Admin/dashboardController.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Views/App/Partials/applicationTitle.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Views/App/Reference/ReferenceTableAssociationController.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Views/App/Reference/ReferenceTableAssociationCategoryController.js")'></script>


  
    @*Fileupload Scripts*@
    <script src="@Url.Content("~/Content/assets/js/fileupload/main.js")" type="text/javascript"></script>
   
    @if (!HttpContext.Current.IsDebuggingEnabled)
    {
        <base href="../" />
    }
    else
    {
        <base href="../" />
    }


<style>

.navbar {
    margin-bottom: 0px !important;
}

div.k-window-content {
    background-color: #fff;
}

.k-menu .k-group {
    background: #fff;
}

.fa-bars:before {
    content: "\f0c9";
}

#dynamictable {
    float: left;
    overflow-x: auto;
    width: 100%;
}

#dynamictableFmly {
    float: left;
    overflow-x: scroll;
    width: 100%;
}

a:hover {
    text-decoration: none !important;
}

#custom-menu1, #custom-menuFam {
    z-index: 99999;
    position: absolute;
    border: solid 2px ButtonHighlight;
    /*background-color: #13688c;*/
    padding: 5px 0;
    display: none;
    cursor: pointer;
}

span.k-sprite.category , span.k-sprite.family {
    position: inherit;
}

.k-treeview .k-sprite {
    margin-right: -20px;
}

#custom-menu1 ol, #custom-menuFam ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    min-width: 130px;
    width: auto;
    max-width: 200px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 12px;
}

#custom-menu1 ol li, #custom-menuFam ol li {
    margin: 0;
    display: block;
    list-style: none;
    padding: 5px 5px;
}

#custom-menu1 ol li:hover, #custom-menuFam ol li:hover {
    color: darkslateblue;
    /*background-color: #0066aa;*/
    background-color: white;
}

#custom-menu1 ol li a:hover, #custom-menuFam ol li a:hover {
    color: darkmagenta;
    /*background-color: #0066aa;*/
    background-color: white;
}

#custom-menu1 ol li:active, #custom-menuFam ol li:active {
    color: White;
    background-color: #000;
}

#custom-menu1 ol .list-devider, #custom-menuFam ol .list-devider {
    padding: 0px;
    margin: 0px;
}

#custom-menu1 ol .list-devider hr, #custom-menuFam ol .list-devider hr {
    margin: 2px 0px;
}

#custom-menu1 ol li a, #custom-menuFam ol li a {
    /*color: white;*/
    text-decoration: none;
    display: block;
    padding: 0px 5px;
}

#custom-menu1 ol li a:active, #custom-menuFam ol li a:active {
    color: White;
}

.tab-content {
    display: table;
    width: 100%; /* optional */
}
        
.slideout-menu {
    position: fixed;
    top: 0;
    left: -280px;
    width: 280px;
    height: 90%;
    z-index: 100;
    margin-top: 140px;
    overflow-y: auto;
    overflow-x: auto;
}

.slideout-menu h3 {
    position: relative;
    padding: 12px 10px;
    color: White;
    font-size: 1.6em;
    font-weight: bolder;
    border-bottom: 4px solid #222;
    background-color: #3a4856;
    /*background-color: #0072bb;*/
}

.slideout-menu .slideout-menu-toggle {
    position: absolute;
    top: 12px;
    right: 10px;
    display: inline-block;
    padding: 6px 9px 5px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-weight: bold;
    line-height: 1;
    /*background: #222;*/
    color: Red;
    text-decoration: none;
    vertical-align: top;
}

.slideout-menu .slideout-menu-toggle:hover {
    color: #cdcdcd;
}

.slideout-menu ul {
    list-style: none;
    font-weight: 300;
    border-top: 1px solid #151515;
    border-bottom: 1px solid #454545;
}

.slideout-menu ul li {
    border-top: 1px solid #454545;
    border-bottom: 1px solid #151515;
}

.slideout-menu ul li a {
    position: relative;
    /*display: block;*/
    padding: 10px;
    color: #999;
    text-decoration: none;
}

.slideout-menu ul li a:hover {
    /*background: #000;
    color: #fff;*/
}

.slideout-menu ul li a i {
    position: absolute;
    top: 15px;
    right: 10px;
    opacity: .5;
}

.header {
    margin-left: -9px;
}

.header .slideout-menu-toggle {
    font-size: 1.2em;
    color: Red;
    text-decoration: none;
}

.header .slideout-menu-toggle:hover {
    color: #003DA5;
}

.header .slideout-menu-toggle i {
    vertical-align: top;
    margin: 5px 3px 0 0;
}

span.k-in > span.highlight {
    background: yellow;
}

.treeInlineEdit > input {
    font-size: 1.5em;
    min-width: 10em;
    min-height: 2em;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border: 0px solid #ffffff;
}

.sidebar-nav h3 {
    position: relative;
    padding: 7px 4px;
    color: #fff;
    font-size: 1.2em;
    font-weight: bolder;
    /*border-bottom: 4px solid #222;*/
    background-color: #0f1d40;
    /*background-color: #0072bb;*/
}
/*#treeViewDiv .k-sprite {
    background-image: url("../content/treeview/09_32.png");
    margin-left: -8px;
}*/

.category {
    background-image: url("../content/treeview/oie_20114226Ib9m9Kwt.png");
    position: absolute;
}

.family {
    background-image: url("../content/treeview/22_16.png");
    position: absolute;
}

.subfamily {
    background-image: url("../content/treeview/SubFamily_16x16.png");
    position: absolute;
}

.familyClone {
    background-image: url("../content/treeview/clone family.png");
    position: absolute;
}

.CategoryClone {
    background-image: url("../content/treeview/CategoryClone.png");
    position: absolute;
}

.subfamilyClone {
    background-image: url("../content/treeview/CloneSubFamily.png");
    position: absolute;
}

.producttreeClone {
    background-image: url("../content/treeview/product.png");
    position: absolute;
}

.producttree {
    background-image: url("../content/treeview/product.png");
    position: absolute;
}

.family1 {
    background-image: url("../content/treeview/22_16.png");
    position: absolute;
}

.publish {
    background-image: url("../content/images/CheckMark.png");
    background-repeat: no-repeat;
    background-position: left;
    text-align: center;
}

.publishkey {
    background-image: url("../content/images/keywithpublish.png");
    background-repeat: no-repeat;
    background-position: left;
    text-align: center;
}

.unpublishkey {
    background-image: url("../content/images/key.png");
    background-repeat: no-repeat;
    background-position: left;
    text-align: center;
}

.pressable-element {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

div[contenteditable] {
    border-color: #B5B5B5;
    background-color: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 4px !important;
    color: #858585;
    /* font-family: inherit; */
    font-size: 14px;
    line-height: 1.2;
    padding: 5px 4px;
    transition-duration: 0.1s;
    box-shadow: none;
    width: 11.8em;
    margin-bottom: 0px;
}

ul.k-group > li.k-item {
    width: 90% !important;
}

a.k-window-action.k-link {
    background: lightblue !important;
    border-radius: 2px;
}
.k-state-hover {
    background: lightblue !important;
    background-image: none !important;
} 
.k-window-titlebar.k-header {
    /*background: #275CAB !important;*/ /*set background to the titlebar*/
    /*color: white;*/ /*set color to the titlebar*/
    font-weight: bold !important; /*set font-weight to the titlebar*/
    /*text-transform: uppercase;*/
    text-transform: capitalize;
    text-rendering: geometricPrecision;
    letter-spacing: 0.065em;
}

/*div.k-window-content {
    border: 1px solid #275CAB;
}*/

    /*Upload Button Style*/

.file-upload {
    position: relative;
    overflow: hidden;
    margin: 10px 10px 0px 0px;
}

.uploadbtnstyle {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}

.msgButton {
    margin: 2px;
}

.k-grid table tbody tr {
    cursor: pointer;
}


</style>

    <link href="~/Content/css/kendo.ext.css" rel="stylesheet" />
    <script src="~/Scripts/kendo.web.ext.js"></script>
    <script src="~/Scripts/aes.js"></script>
    <script src="~/Views/App/Admin/Maindirectives.js"></script>
    <script src="~/Scripts/Others/store.min.js"></script>
    <script src="~/Scripts/Others/jquery-idleTimeout.js"></script>
  


    <script>
        $(document).ready(function () {
            var sessionTimeoutWarning = '@System.Configuration.ConfigurationManager.AppSettings["sessionTimeoutWarning"]';
            $(document).idleTimeout({

                redirectUrl: 'Accounts/LogOn',// redirect to this url. Set this value to YOUR site's logout page.
                idleTimeLimit: sessionTimeoutWarning, // 15 seconds
                activityEvents: 'click keypress scroll wheel mousewheel', // separate each event with a space
                dialogDisplayLimit: 30, // Time to display the warning dialog before logout (and optional callback) in seconds
                sessionKeepAliveTimer: false // Set to false to disable pings.
            });
        });


    </script>
    @*END Session timout scripts*@
    @RenderSection("scripts", required: false)
</head>
<body ng-app="LSApp">
    @Html.Hidden("hdnBuildDate", LS.Web.Resources.Resource.BuildDate.Replace(" ", "_").Replace(":", "_").Replace(".", "_").Replace("\r\n", ""))
    <script type="text/javascript">
        var buildVersionNo = document.getElementById("hdnBuildDate").value;
    </script>

    <script id="item-template" type="text/x-kendo-template">
    </script>
    @Html.Partial("TopBanner")
    @RenderSection("Header", required: false)

    <div id="body" ng-controller="applicationTitle" ng-cloak>
        <div ng-controller="dashboardController">
            <div kendo-window="skuAlertOptions" k-title="'Alert'" k-width="400" k-height="175" k-visible="false"
                 k-actions='["Close"]'
                 k-modal="true" k-on-open="skuAlertOptionsWindow = true" k-on-close="onClose(kendoEvent)">
            </div>
            <div class="container" style="min-height: auto" ng-cloak>
                <div class="main-content no-margin no-padding container">

                    <div class="header">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"></li>
                            </ul>
                        </div>
                    </div>
                    @*<nav class="navbar navbar-default no-margin">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header fixed-brand">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                                    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                                </button>
                                <a class="navbar-brand" href="#"><i class="fa fa-rocket fa-4"></i> SEEGATESITE</a>
                            </div><!-- navbar-header-->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="active"><button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button></li>
                                </ul>
                            </div><!-- bs-example-navbar-collapse-1 -->
                        </nav>*@
                    <br />
                    <div id="wrapper" class="container-fluid">
                        <div class="row">
                            <!-- Sidebar -->
                            <div id="sidebar-wrapper" class="k-content col-sm-3">
                                <div class="sidebar-nav nav-pills nav-stacked">

                                    <h3 style="min-width:100px !important">

                                        <p class="small-caps-white">
                                            <button class="navbar-toggle collapse in" ng-click="gridresolution()" style="position:absolute; margin-bottom: 0px; margin-top: -7px;padding: 7px 4px 3px 2px;z-index:1;background: #091f3f;border-radius: 0px;" data-toggle="collapse" id="menu-toggle-2" title="Toggle Navigator"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
                                            <span id="showName">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NAVIGATOR
                                            </span>
                                    </h3>
                                    <br />
                                    <div id="renamearea" class="col-sm-12 margin-bottom-20" style="margin-left: -5px;">
                                        <input id="RenameContent" style="border: 1px solid red;" type="text" name="Rename" ng-model="selectedRenameText" ng-trim="false" />
                                        <button type="button" ng-click="renameUpdateBtn()" class="btn-primary btn-sm"><span class="glyphicon glyphicon-ok"></span></button>
                                        <button type="button" ng-click="CloseRename()" class="btn-primary btn-sm"><span class="fa fa-times" aria-hidden="true"></span></button>
                                    </div>
                                    <div id="searchLeftNavi" style="padding-left: 12px;">
                                        Find :  <input type=text style="border: 1px solid red;" id='search-term' />
                                        <button type="button" ng-click="CloseFindText()" class="btn-primary btn-sm"><span class="fa fa-times" aria-hidden="true"></span></button>

                                        @*<input class="k-textbox" placeholder="I am looking for..." />*@
                                    </div>
                                    @*<button type="button" ng-click="previoustate()" class="btn btn-link">expand previous selection</button>*@
                                    <ul id="menu" style="list-style: none">
                                        <li id="ddlcatalog">
                                            <select kendo-drop-down-list
                                                    @*k-option-label="'--- Select Catalog ---'"*@
                                                    k-data-text-field="'CATALOG_NAME'"
                                                    k-data-value-field="'CATALOG_ID'"
                                                    k-data-source="catalogDataSource"
                                                    ng-model="SelectedCatalogId"
                                                    k-on-change="catalogChange(kendoEvent)" style="width:100%"></select>
                                        </li>
                                        <li id="lblmastercatalog">
                                            <label style="align-items:center"><b>MASTER CATALOG</b></label>
                                        </li>
                                        <li>
                                            <div id="treeViewDiv" style="margin-top: 10px;">
                                                <div kendo-tree-view="tree" style="width:100%;min-height:auto;max-height: 675px; overflow:auto;"
                                                     ng-right-click="ContextMenuEmpty($event)"
                                                     k-data-source="treeData"
                                                     id="leftNavTreeViewKendoNavigator"
                                                     k-load-on-demand="true"
                                                     k-collapse="collapseData"
                                                     k-expand="expandData"
                                                     data-drag-and-drop="false"
                                                     k-on-change="selectedItem = dataItem"
                                                     k-options="treeOptionsCatalog"
                                                     ng-show="userRoleAddCreateManage">
                                                    <span k-template style="width: 100% !important">
                                                        <a class='k-item' ng-if='dataItem.CategoryIdinNavigator==true' id="{{dataItem.id}}" ng-click='clickSelectedItem(dataItem,$event)' ng-right-click="ContextMenu($event,dataItem)" on-long-press="onLongPress(dataItem,$event)" on-touch-end="onTouchEnd()" prevent-click="true">
                                                            [{{dataItem.CATEGORY_SHORT}}]{{dataItem.CATEGORY_NAME}}
                                                        </a>
                                                        <a class='k-item' style="display: inline-block" ng-if="dataItem.CategoryIdinNavigator==false && dataItem.CATEGORY_NAME.indexOf('^') !== -1" id="{{dataItem.id}}" ng-click='clickSelectedItem(dataItem,$event)' ng-right-click="ContextMenu($event,dataItem)" on-long-press="onLongPress(dataItem,$event)" on-touch-end="onTouchEnd()" prevent-click="true">{{dataItem.CATEGORY_NAME.replace('^','')}}</a>
                                                        <a class='k-item' kendo-tooltip k-content="dataItem.CATEGORY_NAME" ng-if="dataItem.CategoryIdinNavigator==false && dataItem.CATEGORY_NAME.indexOf('^') ===-1"
                                                           id="{{dataItem.id}}" ng-click='clickSelectedItem(dataItem,$event)'
                                                           ng-right-click="ContextMenu($event,dataItem)" on-long-press="onLongPress(dataItem,$event)" on-touch-end="onTouchEnd()" prevent-click="true">
                                                            {{dataItem.CATEGORY_NAME}}
                                                        </a>
                                                        <a style="display: inline-block" ng-if="dataItem.CategoryIdinNavigator==false && dataItem.CATEGORY_NAME.indexOf('^') !== -1"
                                                           ng-click='clickSelectedItemSubProduct(dataItem,$event)' ng-right-click="ContextMenu($event,dataItem)"
                                                           on-long-press="onLongPress(dataItem,$event)" on-touch-end="onTouchEnd()" prevent-click="true">
                                                        </a>

                                                    </span>

                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                    <div ng-right-click="EmptyNavigatorRightClick($event)">
                                        <label style="background-color:white;text-decoration-color:white;text-emphasis-color:white;">&nbsp;</label>
                                    </div>
                                </div>
                            </div><!-- /#sidebar-wrapper --> <!-- /#sidebar-wrapper -->
                            <!-- Page Content -->
                            <div id="page-content-wrapper" class="col-sm-9 padding-0">
                                <div class="container-fluid xyz">
                                    <div class="row">
                                        <div class="col-lg-12"> @RenderBody() </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /#page-content-wrapper -->
                        </div>
                    </div>


                </div>
            </div>
            <!-- start: PAGE -->
            <!-- end: MAIN CONTAINER -->
            <!-- start: FOOTER -->
            <!-- Return to Top -->
            <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>


            <style>
                #return-to-top {
                    position: fixed;
                    bottom: 33px;
                    right: 20px;
                    background: rgb(9, 31, 63);
                    width: 50px;
                    height: 50px;
                    display: block;
                    z-index: 1;
                    text-decoration: none;
                    -webkit-border-radius: 35px;
                    -moz-border-radius: 35px;
                    border-radius: 0px;
                    display: none;
                    -webkit-transition: all 0.3s linear;
                    -moz-transition: all 0.3s ease;
                    -ms-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }

                    #return-to-top i {
                        color: #fff;
                        margin: 0;
                        position: relative;
                        left: 16px;
                        top: 13px;
                        font-size: 19px;
                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -ms-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                    }

                    #return-to-top:hover {
                        background: rgb(75, 159, 70);
                    }

                        #return-to-top:hover i {
                            color: #fff;
                            top: 5px;
                        }
            </style>

            <script>
            // ===== Scroll to Top ====
            $(window).scroll(function () {
                if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
                    $('#return-to-top').fadeIn(200);    // Fade in the arrow
                } else {
                    $('#return-to-top').fadeOut(200);   // Else fade out the arrow
                }
            });
            $('#return-to-top').click(function () {      // When arrow is clicked
                $('body,html').animate({
                    scrollTop: 0                       // Scroll to top of body
                }, 500);
            });
            </script>
            <footer class="footer">
                <div style="float: right">Copyright © 2017 Questudio. All rights reserved.</div>
            </footer>

            <div id="custom-menu1" ng-mouseleave="HideMenu1()" class="k-list-container k-split-container k-popup k-group k-reset k-state-border-up" ng-cloak>
                <ol>
                    <li id="newcategory" ng-click="CreateNewCategory()" ng-show="userRoleAddCategory && userRoleAddCreateManage"><a><b>New Category</b></a> </li>
                    <li id="cutcategory" ng-click="CutCategory()"><a><b>Cut Category</b></a> </li>
                    <li id="copycategory" ng-click="CopyCategory()"><a><b>Copy / Clone Category</b></a> </li>
                    <li id="refresh" ng-click="refreshTree()"><a><b>Refresh</b></a> </li>
                    <li id="ShowMaster" ng-show="EditMode" ng-click="ShowMasterCatalog()"><a><b>Show Master Catalog</b></a> </li>
                    <li id="SelectedCatalog" ng-click="ShowMasterCurrentCatalog()"><a><b>Show {{SelectedCatalogname}}</b></a></li>
                    <li class="list-devider">
                        <hr />
                    </li>
                    <li id="PasteCategoryFamily" ng-click="PasteCategoryFamily()"><a><b>Paste Family</b></a> </li>
                    <li id="CloneFamily" ng-click="CloneFamily()"><a><b>Clone {{FamilyNameForClone}}</b></a> </li>
                    <li id="PasteCategory" ng-click="PasteCategory()"><a><b>Paste Category</b></a> </li>
                    <li id="PasteRootCategory" ng-click="PasteRootCategory()"><a><b>Paste as Root Category</b></a> </li>
                    <li id="CloneCategory" ng-click="CloneCategory()"><a><b>Clone {{FamilyNameForClone}}</b></a> </li>
                    <li id="CloneasRooCategory" ng-click="CloneasRootCategory()"><a><b>Clone as Root Category</b></a> </li>
                    <li id="Trash" ng-click="TrashFromNavigator()" ng-show="userRoleDeleteCategory"><a><b>Delete</b></a> </li>
                    @*Move To Recycle Bin*@
                    @*<li id="remove" ng-click="RemoveFromNavigator()" ng-show="userRoleDeleteCategory"><a><b>Remove</b></a> </li>*@
                    <li id="association" ng-if="SelectedCatalogId!==1" ng-click="AssociationRemoveFromNavigator()" ng-show="userRoleDetachCategory"><a><b>Detach</b></a> </li>
                    <li class="list-devider">
                        <hr />
                    </li>
                    @*<li id="remove" ng-click="RemoveFromNavigator()" ng-show="userRoleDeleteCategory"><a><b>Remove</b></a> </li>*@
                    <li id="checkall" ng-click="CheckUncheckAll(true)"><a><b>Check All</b></a> </li>
                    <li id="uncheckall" ng-click="CheckUncheckAll(false)"><a><b>Uncheck All</b></a></li>
                    <li class="list-devider">
                        <hr />
                    </li>
                    <li id="newfamily" ng-click="CreateNewFamily()" ng-show="userRoleAddCreateManage && userRoleAddFamily"><a><b>New Family</b></a> </li>
                    <li class="list-devider">
                        <hr />
                    </li>
                    <li id="expandall" ng-click="leftNavExpand()"><a><b>Expand All</b></a> </li>
                    <li id="collapseall" ng-click="leftNavCollapse()"><a><b>Collapse All</b></a> </li>
                    <li class="list-devider">
                        <hr />
                    </li>
                    <li id="referencetable" ng-click="ReferenceAssociationCategory()"><a><b>Reference Table Association</b></a> </li>
                    <li id="rename" ng-show="EditMode" ng-click="RenameContent()"><a><b>Rename</b></a> </li>
                    <li id="find" ng-click="FindFromLeftNav()"><a><b>Find</b></a> </li>
                    <li class="list-devider">
                        <hr />
                    </li>
                    <li id="preview" ng-click="PreviewAll()"><a><b>Preview</b></a></li>
                </ol>
            </div>
            <div id="custom-menuFam" ng-mouseleave="HideMenuFam()" class="k-list-container k-split-container k-popup k-group k-reset k-state-border-up" ng-cloak>
                <ol>
                    <li ng-click="refreshTree()"><a><b>Refresh</b></a> </li>
                    <li class="list-devider">
                        <hr />
                    </li>
                    <li ng-click="CopyFromContextMenu()" ng-if="userCopypastedel"><a><b>Copy / Clone Family</b></a> </li>
                    <li id="cutFamily" ng-click="CutFromContextMenu()" ng-if="userCopypastedel"><a><b>Cut Family</b></a> </li>
                    <li id="PasteFamily" ng-click="PasteFamily()" ng-if="userCopypastedel"><a><b>Paste Family</b></a> </li>
                    <li class="list-devider">
                        <hr />
                    </li>
                    <li ng-click="CreateNewFamily()" ng-show="userRoleAddCreateManage && userRoleAddFamily"><a><b>New Family</b></a> </li>
                    <li id="TrashFamily" ng-click="TrashFamily()" ng-show="userRoleDeleteFamily"><a><b>Delete</b></a> </li>
                    @*Move To Recycle Bin*@
                    @*<li id="associationfamily" ng-click="AssociationRemoveFromNavigator()" ng-show="userRoleDeleteCategory"><a><b>Association Remove</b></a> </li>*@
                    <li id="associationfamily" ng-click="AssociationRemoveFromNavigator()" ng-show="userRoleDetachFamily"><a><b>Detach</b></a> </li>
                    <li class="list-devider">
                        <hr />
                    </li>
                    @*<li id="RemoveFamily" ng-click="RemoveFamily()" ng-show="userRoleDeleteFamily"><a><b>Remove</b></a> </li>*@
                    @*<li id="CloneRemoveFamily" ng-click="CloneRemoveFamily()" ng-if="userClone"><a><b>Clone Remove</b></a></li>*@
                    <li id="ShowMasterf" ng-show="EditMode" ng-click="ShowMasterCatalog()"><a><b>Show Master Catalog</b></a> </li>
                    <li id="SelectedCatalogf" ng-click="ShowMasterCurrentCatalog()"><a><b>Show {{SelectedCatalogname}}</b></a></li>
                    <li id="SwitchMaster" ng-click="SwitchMaster()"><a><b>Switch Master</b></a> </li>
                    <li class="list-devider">
                        <hr />
                    </li>
                    <li ng-click="leftNavExpand()"><a><b>Expand All</b></a> </li>
                    <li ng-click="leftNavCollapse()"><a><b>Collapse All</b></a> </li>
                    <li class="list-devider">
                        <hr />
                    </li>
                    <li ng-click="CreateNewProduct()" ng-show="userRoleAddProductTable"><a><b>New Product</b></a> </li>
                    <li ng-click="ReferenceAssociation()"><a><b>Reference Table Association</b></a> </li>
                    <li ng-show="EditMode" ng-click="RenameContent()"><a><b>Rename</b></a> </li>
                    <li ng-click="FindFromLeftNav()"><a><b>Find</b></a> </li>
                    <li class="list-devider">
                        <hr />
                    </li>
                    <li ng-click="PreviewAll()"><a><b>Preview</b></a></li>
                </ol>
            </div>

            <div id="dialog-confirm" title="CatalogStudio">
                <p><span class="" style="float:left; margin:0 7px 20px 0;"></span>Do you want to create a Category as root Category?</p>
            </div>
            @*<div id="dialog-confirm1" title="Remove Family">
                <p><span class="" style="float:left; margin:0 7px 20px 0;"></span>Do you want to remove Family?</p>
            </div>*@

            <div id="dialog-confirm1" title="CatalogStudio">
                @*<p><span style="float:left; margin:0 7px 20px 0;"></span>Do you want to delete this Family?</p>*@  @*move to Recycle Bin*@

            <div id="dialog-confirm2" title="CatalogStudio">
              <p><span class="" style="float:left; margin:0 7px 20px 0;"></span>Do you want to delete this Family?</p> @*move to Recycle Bin*@

            </div>
            @*<div id="dialog-confirm3" title="Remove Category">
                <p><span class="" style="float:left; margin:0 7px 20px 0;"></span>Do you want to remove Category?</p>
            </div>*@
            <div id="dialog-confirm4" title="CatalogStudio">
                <p><span class="" style="float:left; margin:0 7px 20px 0;"></span>Do you want to delete this Category?</p>  @*move to Recycle Bin*@
            </div>
            <div kendo-window="winReferencetableAssociationSetup" k-title="'Reference Table Relation Management'" k-width="800" k-height="450" k-visible="false"
                 k-actions='["Close"]'
                 k-modal="true" k-on-open="winReferencetableAssociation = true" k-on-close="onClose(kendoEvent)">
            </div>
            <div kendo-window="PasteOptions" k-title="'Paste Options'" k-width="300" k-height="160" k-visible="false"
                 k-actions='["Close"]'
                 k-modal="true" k-on-open="PasteOptionsWindow = true" k-on-close="onClose(kendoEvent)">
            </div>
            <div kendo-window="Remove" k-title="'Remove Options'" k-width="350" k-height="180" k-visible="false"
                 k-actions='["Close"]'
                 k-modal="true" k-on-open="RemoveOptions = true" k-on-close="onClose(kendoEvent)">
            </div>
            <div kendo-window="CloneAlert" k-title="'Alert'" k-width="315" k-height="115" k-visible="false"
                 k-actions='["Close"]'
                 k-modal="true" k-on-open="FamilyRemoveOptions = true" k-on-close="onClose(kendoEvent)">
            </div>
            <div kendo-window="ShowMaster" k-title="'Switch Master'" k-width="800" k-height="450" k-visible="false"
                 k-actions='["Close"]'
                 k-modal="true" k-on-open="ShowMasterOptions = true" k-on-close="onClose(kendoEvent)">
            </div>
            <div kendo-window="FamilyClone" k-title="'Alert'" k-width="315" k-height="115" k-visible="false"
                 k-actions='["Close"]'
                 k-modal="true" k-on-open="FamilyCloneRemoveOptions = true" k-on-close="onClose(kendoEvent)">
            </div>
            <div kendo-window="EditMultipletable" k-title="'Multiple Table Editor'" k-width="800" k-height="450" k-visible="false"
                 k-actions='["Close"]'
                 k-modal="true" k-on-open="EditMultipletable = true" k-on-close="onClose(kendoEvent)">
            </div>

            <div id="dialog">

            </div>
        </div>
    </div>


    @*<script src="~/Content/js/bootstrap.min.js"></script>*@
    <script src="~/Content/js/sidebar_menu.js"></script>
    @*<script src="//cdn.ckeditor.com/4.4.4/standard-all/ckeditor.js"></script>*@
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/ckeditor/config.js"></script>
    <script src="~/Scripts/ckeditor/styles.js"></script>
    <link href="~/Scripts/AngularJs/angular-ui-switch.css" rel="stylesheet" />
    <script src="~/Scripts/AngularJs/angular-ui-switch.js"></script>
    <script type="text/javascript">
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                alert("Invalid data");
                return false;
            }
            return true;
        }


    </script>
  
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/Content/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>
