﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <title>@ViewBag.Title</title>

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="The description of my page" />
    <meta name="author" content="Questudio">

    <link rel="stylesheet" href="@Url.Content("~/Design/assets/css/bootstrap.min.css")" type="text/css" />
    @*<link rel="stylesheet" href="@Url.Content("~/Design/assets/fonts/font-awesome-4.5.0/css/font-awesome.min.css")">*@
    @*<link rel="stylesheet" href="@Url.Content("~/Design/assets/css/ie10-viewport-bug-workaround.css")" type="text/css" />*@
    @*<link rel="stylesheet" href="@Url.Content("~/Design/assets/css/style.css")" type="text/css" />*@
    <link rel="stylesheet" href="@Url.Content("~/Design/assets/css/main.css")" type="text/css" />
    @*<link rel="stylesheet" href="@Url.Content("~/Design/assets/css/main-responsive.css")" type="text/css" />*@
    @*<link rel="stylesheet" href="@Url.Content("~/Design/assets/css/theme_light.css")" type="text/css" id="skin_color" />*@
    @*<link rel="stylesheet" href="@Url.Content("~/Design/assets/css/print.css")" type="text/css" media="print" />*@
    <link href="~/Design/css/font-awesome-arrow.css" rel="stylesheet" />
    <link href="@Url.Content("~/Design/assets/kendo/styles/kendo.blueopal.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design/assets/kendo/styles/kendo.common.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design/assets/kendo/styles/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design/assets/kendo/styles/kendo.offline.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design/assets/kendo/styles/kendo.blueopal.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design/assets/kendo/styles/kendo.custom_style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design/Lightbox.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Design/css/ngDialog-custom-width.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design/css/ngDialog-theme-default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design/css/ngDialog-theme-plain.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design/css/ngDialog.css")" rel="stylesheet" type="text/css" />


    <link rel="stylesheet" href=@Url.Content("~/Design/css/jquery-ui.css") type="text/css" />
    <script src=@Url.Content("~/Design/js/1.11.3/jquery.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Design/js/jquery-ui.js") type="text/javascript"></script>


    @*<link href="~/Design/assets/vendor/animsition/animsition.min.css" rel="stylesheet" />*@
    <link href="~/Design/assets/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Design/assets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Design/assets/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Design/assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <!-- Bootstrap CSS-->
    <link href="~/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <!-- ~/vendor CSS-->
    @*<link href="~/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">*@
    <link href="~/Design/assets/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/Design/assets/vendor/wow/animate.css" rel="stylesheet" media="all">

    <link href="~/Design/assets/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <link href="~/Design/assets/vendor/slick/slick.css" rel="stylesheet" />
    <link href="~/Design/assets/vendor/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Design/assets/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />
    <!-- Main CSS-->

    <link href="~/Design/assets/css/theme.css" rel="stylesheet" />


    <!-- <script src=@Url.Content("~/Design/assets/js/radiojquery.js") type="text/javascript"></script> -->
    @Scripts.Render("~/bundles/jquery");
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/app")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Design/angular-block-ui.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery.msgBox.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Design/msgBoxLight.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/angular-sanitize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular-filter.js")" type="text/javascript"></script>

    <link href="~/Design/css/simple-sidebar.css" rel="stylesheet">
    <script src="@Url.Content("~/Design/assets/js/ie-emulation-modes-warning.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/AngularJs/ngStorage.min.js")" type="text/javascript"></script>

    <!-- Jquery JS-->
    @*<script src="~/Design/assets/vendor/jquery-3.2.1.min.js"></script>*@
    <!-- Bootstrap JS-->
    <script src="~/Design/assets/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/Design/assets/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/Design/assets/vendor/slick/slick.min.js">
    </script>
    <script src="~/Design/assets/vendor/wow/wow.min.js"></script>
    <script src="~/Design/assets/vendor/animsition/animsition.min.js"></script>
    <script src="~/Design/assets/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="~/Design/assets/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Design/assets/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="~/Design/assets/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/Design/assets/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Design/assets/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/Design/assets/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="~/Design/assets/js/main.js"></script>


    @*Fileupload Scripts*@
    @*<script src="@Url.Content("~/Design/assets/js/fileupload/main.js")" type="text/javascript"></script>*@

    @if (!HttpContext.Current.IsDebuggingEnabled)
    {
        <base href="../" />
    }
    else
    {
        <base href="../" />
    }



    <link href="~/Design/css/kendo.ext.css" rel="stylesheet" />
    <script src="~/Scripts/kendo.web.ext.js"></script>
    <script src="~/Scripts/aes.js"></script>
    <link href="~/Scripts/AngularJs/angular-ui-switch.css" rel="stylesheet" />
    <script src="~/Scripts/AngularJs/angular-ui-switch.js"></script>
    <script src="@Url.Content("~/Scripts/angular-long-press.js")" type="text/javascript"></script>
    @*<script type="text/javascript" src='@Url.Content("~/Views/App/Admin/dashboardController.js")'></script>
        <script type="text/javascript" src='@Url.Content("~/Views/App/Partials/applicationTitle.js")'></script>*@
    @*<script type="text/javascript" src='@Url.Content("~/Views/AtomCustomTool/AttributeDDsync.js")'></script>*@
    @*<script language="javascript" type="text/javascript">
        var sessionTimeoutWarning = '@System.Configuration.ConfigurationManager.AppSettings["sessionTimeoutWarning"]';
        var sessionTimeout = @Session.Timeout;
        var timeOnPageLoad = new Date();
        //For warning
        setTimeout('SessionWarning()', parseInt(sessionTimeoutWarning) * 60 * 1000);
        //To redirect to the welcome page
        setTimeout('RedirectToWelcomePage()', parseInt(sessionTimeout) * 60 * 1000);

        //Session Warning
        function SessionWarning() {
            //minutes left for expiry
            var minutesForExpiry = (parseInt(sessionTimeout) -
                parseInt(sessionTimeoutWarning));
            var message = "Your session will expire in another " + minutesForExpiry +
                " mins! Please Save the data before the session expires";
            alert(message);
            var currentTime = new Date();
            //time for expiry
            var timeForExpiry = timeOnPageLoad.setMinutes(timeOnPageLoad.getMinutes()
                + parseInt(sessionTimeout));

            //Current time is greater than the expiry time
            if (Date.parse(currentTime) > timeForExpiry) {
                alert("Session expired. You will be redirected to welcome page");
                // window.location.reload();
                window.location = "../";

            }
        }
        //Session timeout
        function RedirectToWelcomePage() {
            alert("Session expired. You will be redirected to welcome page");
            window.location = "../Accounts/LogOff";
        }
        </script>*@



</head>
<body ng-app="LSApp">
    @Html.Hidden("hdnBuildDate", LS.Web.Resources.Resource.BuildDate.Replace(" ", "_").Replace(":", "_").Replace(".", "_").Replace("\r\n", ""))
    <script type="text/javascript">
        var buildVersionNo = document.getElementById("hdnBuildDate").value;
    </script>
    @Html.Partial("TopBanner")
    @RenderSection("Header", required: false)
    <div id="body" ng-cloak>
        <div class="container" style="padding: 0px;">
            @RenderBody()
        </div>
    </div>

    <!-- Return to Top -->
    <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>

    <!-- ICON NEEDS FONT AWESOME FOR CHEVRON UP ICON -->
    <!-- Test the scroll -->


    <style>
        #return-to-top {
            position: fixed;
            bottom: 33px;
            right: 20px;
            background: rgb(9, 31, 63);
            width: 50px;
            height: 50px;
            display: block;
            z-index: 9;
            text-decoration: none;
            -webkit-border-radius: 35px;
            -moz-border-radius: 35px;
            border-radius: 0px;
            display: none;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

            #return-to-top i {
                color: #fff;
                margin: 0;
                position: relative;
                left: 16px;
                top: 13px;
                font-size: 19px;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }

            #return-to-top:hover {
                background: rgb(75, 159, 70);
            }

                #return-to-top:hover i {
                    color: #fff;
                    top: 5px;
                }
    </style>

    <script>
        // ===== Scroll to Top ====
        $(window).scroll(function () {
            if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
                $('#return-to-top').fadeIn(200);    // Fade in the arrow
            } else {
                $('#return-to-top').fadeOut(200);   // Else fade out the arrow
            }
        });
        $('#return-to-top').click(function () {      // When arrow is clicked
            $('body,html').animate({
                scrollTop: 0                       // Scroll to top of body
            }, 500);
        });
    </script>
    <footer class="footer">
        <div style="float: right">Copyright © 2017 Questudio. All rights reserved.</div>
        @*A <a href="http://www.questudio.com/" target="_blank"><img class="img-initial margin-left-5" src="~/Design/Login/assets/images/questudio_colorlogo.png" alt="Questudio"></a> product <span>©Questudio Inc. @DateTime.Now.Year</span>*@
    </footer>

    @*<script src="~/Design/js/bootstrap.min.js"></script>*@

    <script src="~/Design/js/sidebar_menu.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/ckeditor/config.js"></script>
    <script src="~/Scripts/ckeditor/styles.js"></script>
    @*<link href="~/Design/timeout-dialog.css" rel="stylesheet" />*@
    @*<script src="~/Scripts/timeout-dialog.js"></script>*@

    @*Session timout scripts*@

    <script src="~/Scripts/Others/store.min.js"></script>
    <script src="~/Scripts/Others/jquery-idleTimeout.js"></script>



    <script>
        $(document).ready(function () {
            var sessionTimeoutWarning = '@System.Configuration.ConfigurationManager.AppSettings["sessionTimeoutWarning"]';
            $(document).idleTimeout({

                redirectUrl: 'Accounts/LogOn',// redirect to this url. Set this value to YOUR site's logout page.
                idleTimeLimit: sessionTimeoutWarning, // 15 seconds
                activityEvents: 'click keypress scroll wheel mousewheel', // separate each event with a space
                dialogDisplayLimit: 30, // Time to display the warning dialog before logout (and optional callback) in seconds
                sessionKeepAliveTimer: false // Set to false to disable pings.
            });
        });


    </script>
    @* END Session timout scripts*@
    @RenderSection("scripts", required: false)
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/Design/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>
