﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Accounts", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right loginBtn" style="color:#fff;">
            <li>
                <a style="cursor:default" href="javascript:void(0);">Hello&nbsp;@User.Identity.GetUserName()</a>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right loginBtn">
        @*<li>@Html.ActionLink("Register", "Register", "Accounts", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        @*<li>@Html.ActionLink("Log in", "LogOn", "Accounts", roteValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
    </ul>
}
