﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Accounts", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="navbar-tools">
            <!-- start: TOP NAVIGATION MENU -->

            <ul class="nav navbar-right">
                <!-- end: MESSAGE DROPDOWN -->
                <!-- start: USER DROPDOWN -->
                <li class="dropdown current-user">
                    <a href="#" data-close-others="true" class="dropdown-toggle"
                       data-hover="dropdown" data-toggle="dropdown" style="color: rgb(58, 165, 224)">
                        <img alt="" class="circle-img" src="../../Design/assets/images/user-admin.png">
                        <span class="username">Welcome, @User.Identity.Name</span> <i class="clip-chevron-down">
                        </i>
                    </a>
                    <ul class="dropdown-menu">
                        @*<li>
                                <a href="#" style="color:#0C203F">
                                    <i class="clip-user-2"></i>&nbsp;My Profile
                                </a>
                            </li>
                            <li class="divider"></li>*@
                        @{if (Roles.IsUserInRole(User.Identity.Name, "Admin") || Roles.IsUserInRole(User.Identity.Name, "SuperAdmin"))
                        {
                            @*<li>
                                <a href="@Url.Action("UserAdmin", "UserAdmin")" style="color: #0C203F">
                                    <i class="clip-settings"></i>&nbsp;User Administration
                                </a>
                            </li>*@
                            @*<li class="divider"></li>*@
                            @*<li>
                                <a href="@Url.Action("AdminConfig", "App")" style="color: #0C203F">
                                    <i class="clip-settings"></i>&nbsp;SuperAdmin Configuration
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="@Url.Action("Preference", "App")" style="color:#0c203f">
                                    <i class="clip-settings"></i>&nbsp;Preferences
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="@Url.Action("RecycleBin", "RecycleBin")" style="color:#0c203f">
                                    <i class="clip-redo"></i>&nbsp;RecycleBin
                                </a>
                            </li>*@
                            @*<li class="divider"></li>*@
                        }}

                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()" style="color: #0C203F"><i class="clip-exit"></i>Log off</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    }
}