﻿
<div class="w3-topnav w3-card-2 w3-slim topnav" id="topnav" style="position: relative; top: 0px;">
    <ul id="menu-images"></ul>
    <ul id="menu-images2" style="display: inline-block; float: right;margin-top: -30px;text-align: right;"></ul>
    <div id="nav_tutorials" class="w3-dropnav w3-light-grey w3-card-2 w3-center"></div>
    <div id="nav_references" class="w3-dropnav w3-light-grey w3-card-2 w3-center"></div>
    <div id="nav_examples" class="w3-dropnav w3-light-grey w3-card-2 w3-center"></div>
    <div id="nav_translate" class="w3-dropnav w3-light-grey w3-card-2 w3-center"></div>
    <div id="nav_search" class="w3-dropnav w3-light-grey w3-card-2 w3-center"></div>
</div>

<script>
    $("#menu-images").kendoMenu({
        dataSource: [
            {
                text: "Dashboard", url: "../App/Dashboard"//, imageUrl: "../Content/images/trans.png"
            },
            {
                text: "Create & Manage",//, imageUrl: "../Content/images/manage.png"//,
                items: [
                     { text: "Catalog", url: "../App/Catalog" },
                    { text: "Category / Family / Products ", url: "../App/AdminDashboard" },
                     { text: "Attribute", url: "../App/Attribute" },
                     { text: "PickList", url: "../App/Picklist" },
                     { text: "Reference Table", url: "../App/Reference" },
                     { text: "WorkFlow", url: "../App/WorkFlow" },
                    { text: "Product List", url: "../App/Inverted" }, { text: "Supplier", url: "../App/Supplier" }

                ]
            },
            {
                text: "Publish",//, imageUrl: "../Content/images/publish.png"
                items: [
                    { text: "Bulk Import", url: "../Import/Import" },
                     { text: "Basic Import", url: "../App/BasicImport" },
                    { text: "Export", url: "../App/Export" },
                    { text: "PDF Catalog", url: "../App/XpressCatalog" },
                    { text: "InDesign Catalog", url: "../App/Indesign" },
                    { text: "Remove Project", url: "../App/RemoveProject" }
                ]
            },
            //{
            //    text: "WebSync"//, imageUrl: "../Content/images/sync.png"
            //},
            //{
            //    text: "Add-Ons"//, imageUrl: "../Content/images/addons.png"
            //},
            //{
            //    text: "Custom Apps"//, imageUrl: "../Content/images/custom.png"
            //},
            {
                text: "Wizard",//, imageUrl: "../Content/images/custom.png"
                items: [
                { text: "Global Attribute Manager", url: "../Wizard/GlobalAttributemanager" },
                { text: "Product Table Manager", url: "../Wizard/ProductTableManager" }]
            },
            //{
            //    text: "Administration Settings",//, imageUrl: "../Content/images/manage.png"//,
            //    items: [
            //            { text: "User Administration", url: "../UserAdmin/UserAdmin" },
            //            { text: "SuperAdmin Configuration", url: "../App/AdminConfig" },
            //             { text: "Preferences", url: "../App/Preference" }

            //    ]
            //},
            //{
            //    text: "Recycle Bin", url: "../RecycleBin/RecycleBin"//, imageUrl: "../Content/images/custom.png"
            //},
                //{
                //    text: "ePayment", url: "../App/Epayment"//, imageUrl: "../Content/images/custom.png"
                //},
            {
                text: "Reports",
                items: [
                     { text: "Missing Images List", url: "../App/Reports" },
                     { text: "Catalog Reports", url: "../App/ReportLog" }
                    //,
                     //{ text: "Item Number Search", url: "../App/Search" }
                ]
            },
            {
                text: "Search", url: "../App/Search"

            },
        {
            text: "Image Management", url: "../App/ImageManagement"

    }

        ]
    });
    $("#menu-images2").kendoMenu({
        dataSource: [
            {
                text: "", 
                imageUrl: "../Content/images/settings.png",
                items: [
                        { text: "User Administration", url: "../UserAdmin/UserAdmin" },
                        { text: "SuperAdmin Configuration", url: "../App/AdminConfig" },
                         { text: "Preferences", url: "../App/Preference" }

                ]
            },
            {
                text: "",
                imageUrl: "../Content/images/recylebin.png",
                url: "../RecycleBin/RecycleBin"//, imageUrl: "../Content/images/custom.png"
            }
        ]
    });
</script>