﻿<div class="search-header">
    <div>
        <div class="col6">
            <input type="text" class="form-control k-textbox" id="srcfield" value="" placeholder="Enter Keywords"
                   onkeypress="return urlredirectK(event);" />
        </div>
        <div class="col2">
            <button class="k-button btn-block" onclick="urlredirect()">
                Search
            </button>
        </div>

    </div>
</div>
