﻿@using Microsoft.AspNet.Identity
@{
    var ImageName = "";
    if (string.IsNullOrEmpty(@HttpContext.Current.Session["ProductTitle"] as string))
    {

        ImageName = "MarketStudio.png";
        ViewBag.Title = "Catalog Dashboard";
    }
    else
    {
        var ProductTitle = @HttpContext.Current.Session["ProductTitle"].ToString();
        ImageName = ProductTitle + ".png";
        ViewBag.Title = ProductTitle + "Dashboard";
    }
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Accounts", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <section class="header-bg">
            <div class="container">
                <div class="container">
                    <div class="masthead padding-vertical-20">
                        @*image issue*@
                        <a id="aimage" href="../App/AdminDashboard">

                            <img src="../../Design/Login/assets/images/@ImageName">

                        </a>
                    </div>
                </div>

        </section>
        <style>
            .dropdown-menu > .active > a {
                background-color: #091F3F;
            }

            .navbar-default {
                height: 20px;
            }


            /*.itemsearch {
            width: 130px !important;
            box-sizing: border-box !important;
            border-radius: 4px !important;
            font-size: 16px!important;
            background-color: white !important;

            background-position: 10px 10px !important;
            background-repeat: no-repeat !important;
            padding: 12px 20px 12px 12px !important;
            -webkit-transition: width 0.4s ease-in-out !important;
            transition: width 0.4s ease-in-out !important;
            margin-top: 7px;
            height: 36px;
            }

            .itemsearch:focus {
            width: 75% !important;
            }*/

            .searchbox {
                position: relative;
                min-width: 50px;
                width: 0%;
                height: 50px;
                float: right;
                overflow: hidden;
                -webkit-transition: width 0.3s;
                -moz-transition: width 0.3s;
                -ms-transition: width 0.3s;
                -o-transition: width 0.3s;
                transition: width 0.3s;
            }

            .searchbox-input {
                border: 0 !important;
                height: 40px !important;
                margin: 5px !important;
                padding: 0px 55px 0px 20px !important;
                color: #4b9f46 !important;
            }

                .searchbox-input::-webkit-input-placeholder {
                    color: #091F3F;
                }

                .searchbox-input:-moz-placeholder {
                    color: #091F3F;
                }

                .searchbox-input::-moz-placeholder {
                    color: #091F3F;
                }

                .searchbox-input:-ms-input-placeholder {
                    color: #091F3F;
                }

            .searchbox-icon,
            .searchbox-submit {
                width: 50px;
                height: 40px;
                position: absolute;
                right: 0;
                margin: 5px;
                line-height: 45px;
                text-align: center;
                cursor: pointer;
                color: #091f3f;
                background: #ffffff;
                border-bottom-right-radius: 4px;
                border-top-right-radius: 4px;
            }

            .byline {
                position: absolute;
                top: 150px;
                left: 30%;
                text-align: center;
                font-size: 18px;
            }

                .byline a {
                    text-decoration: none;
                    color: #d74b4b;
                }

            .dropdown-select {
                position: relative;
                width: 100%;
                padding: 6px 9px 6px 10px;
                height: 40px;
                line-height: 14px;
                font-size: 14px;
                color: #091f3f;
                background: rgba(0, 0, 0, 0) !important;
                border: 0;
                border-radius: 0;
                -webkit-appearance: none;
            }

            input:-webkit-autofill {
                background-color: #fff !important;
                background-image: none;
                color: rgb(0, 0, 0);
            }

            .dropdown-select:focus {
                z-index: 3;
                width: 100%;
                color: #394349;
                outline: 2px solid #fff !important;
                outline: 2px solid -webkit-focus-ring-color;
                outline-offset: -2px;
            }

            .dropdown-select > option {
                margin: 3px;
                padding: 8px 10px;
                text-shadow: none;
                background: #ffffff;
                border-radius: 3px;
                cursor: pointer;
            }

            .dropdown1 {
                display: inline-block;
                position: absolute;
                overflow: hidden;
                height: 40px;
                width: 134px;
                background: #f2f2f2;
                border-color: white #ffffff white;
                background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
                left: -129px;
                margin-top: 5px;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

                .dropdown1:before, .dropdown1:after {
                    content: '';
                    position: absolute;
                    z-index: 2;
                    top: 15px;
                    right: 10px;
                    width: 0;
                    height: 0;
                    border: 4px dashed;
                    border-color: #888888 transparent;
                    pointer-events: none;
                }

                .dropdown1:before {
                    border-bottom-style: solid;
                    border-top: none;
                }

                .dropdown1:after {
                    margin-top: 7px;
                    border-top-style: solid;
                    border-bottom: none;
                }

            .k-notification {
                padding: 17px;
                color: green;
            }

            .modal-backdrop.fade.in {
                display: none !important;
            }

            .modal.fade.in {
                background: #0000005c;
            }

            /* Alert Popup Styles */
            .alert {
                display: none;
                position: fixed;
                z-index: 1;
                padding-top: 100px;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgb(0,0,0);
                background-color: rgba(0,0,0,0.4);
            }

            .alert-content {
                background-color: #fefefe;
                margin: auto;
                padding: 0px;
                /* border: 1px solid #888; */
                width: 40%;
                text-align: center;
                top: 30%;
                position: relative;
                padding-bottom: 20px;
                box-shadow: 1px 1px 7px 2px #666666;
            }

            .close {
                color: #060606;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

                .close:hover,
                .close:focus {
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }

            .alert-content > p {
                font-size: 16px;
                padding-top: 25px;
                padding-bottom: 25px;
            }

            .popup_title {
                background: #091F3F;
                padding: 6px 15px;
                color: #fff;
                font-size: 18px;
            }

                .popup_title > .close {
                    color: #fff;
                    opacity: 1;
                }

            div.msgBoxButton {
                display: inline-block;
                width: 100%;
                text-align: center;
                min-width: 150px;
                margin-bottom: 8px;
            }

            input.msgButton.al-btn.k-button {
                background: #091F3F;
            }
        </style>

        <!-- Static navbar -->
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container ng-cloak">

                <div class="navbar-header hide-menu">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Menu</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse"  >
                    <ul class="nav navbar-nav">
                        <li id="dbli" class="dropdown"><a href="@Url.Action("Dashboard","App")" title="Dashboard">Dashboard</a></li>

                        @*Navigate / Edit, Category, Family & Product content in the hierarchy*@
                        <li><a href="@Url.Action("AdminDashboard", "App")" title="Navigate / Edit, Category, Product & Item content in the hierarchy">Products</a></li>
                        <li id="invli"> <a href="@Url.Action("Inverted", "App")" title="View and Edit Items (SKUs) in a grid mode">Item List</a></li>

                        @*<li id="cmli" class="dropdown">

                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Manage Catalogs">Navigator<span class="caret"></span></a>

                                <ul class="dropdown-menu">


                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" id="manageCat">Catalog</a>
                                        <ul class="dropdown-menu">
                                            <li id="catli"> <a href="@Url.Action("Catalog", "App")" title="Create or Modify catalog settings">Create</a> </li>
                                            <li id="adli">  <a href="@Url.Action("AdminDashboard", "App")" title="Navigate / Edit, Category, Family & Product content in the hierarchy">Manage</a> </li>
                                        </ul>
                                    </li>

                                    <li class="dropdown" id="invli"> <a href="@Url.Action("Inverted", "App")" title="View and Edit Product Items (SKUs) in a grid mode">Product List</a></li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" id="manageProd">Attributes</a>
                                        <ul class="dropdown-menu">
                                            <li id="atli" ng-show="userAttribute"><a href="@Url.Action("Attribute", "App")" title="Create and Edit all Attributes for one or more catalogs">Edit</a></li>
                                            <li id="gamli" ng-show="userGlobalattrassociation || userGlobalcolumnsort || userGlobalcalcattr || userGlobalattrval"><a href="@Url.Action("GlobalAttributemanager", "Wizard")" title="Assign or Remove Attributes in the catalog and manage attributes sort order">Manage</a></li>
                                        </ul>
                                    </li>


                                </ul>
                            </li>*@

                        @*<li class="dropdown-submenu">
                                <a tabindex="-1" id="manageProd">Products</a>
                                <ul class="dropdown-menu">
                                    <li id="invli" ng-show="userinvp || userinvpView"> <a href="@Url.Action("Inverted", "App")" title="{{invertedProducts}}">Edit</a></li>

                                </ul>
                            </li>*@
                        @*<li id="workli"><a href="@Url.Action("WorkFlow", "App")" title="{{workflow}}">WorkFlow</a></li>*@


                        <li id="ManageAsset">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Manage Assets">Assets<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li id="imagemanageli" ng-show="userRoleAssetView"> <a href="@Url.Action("ImageManagement", "App")" title="Manage all Digital Assets used in the catalog including images, PDFs, videos, documents, etc.">Digital Assets</a></li>
                                <li id="picli" ng-show="userPickList"><a href="@Url.Action("Picklist", "App")" title="Create or Edit Picklists used for selecting values in certain item attributes">Attribute Picklists</a></li>
                                <li id="supli" ng-show="userSupplier"><a href="@Url.Action("Supplier", "App")" title="Create and Edit supplier information">Suppliers</a></li>
                                <li id="refli" ng-show="userRoleAddReferenceTable || userRoleViewReferenceTable"><a href="@Url.Action("Reference", "App")" title="Manage Reference Tables used in the catalog">Reference Tables</a></li>

                            </ul>
                        </li>






                        <li id="publi" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Publish Catalogs">Publish<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li id="imli" ng-show="userRoleAddExportIMPORT && userRoleViewExportIMPORT"><a href="@Url.Action("ImportData", "Import")" title="Import Category, Product and Item content using predefined Excel templates into the catalog">Import</a></li>
                                <li id="exli" ng-show="userRoleAddExportIMPORT && userRoleViewExportIMPORT"><a href="@Url.Action("Export", "App")" title="Export content from the catalog to Excel, XML and other formats">Export</a></li>
                                <li id="inli" ng-show="userIndesign || userIndesigncpy || userIndesignmove"><a href="@Url.Action("Indesign", "App")" title="Create and Manage print publishing projects and generate XML for InDesign publishing">InDesign Projects</a></li>
                                <li id="xpli" ng-show="userPdfCreate || userpdfdestemp || userpdfrun || userpdfopencat"><a href="@Url.Action("XpressCatalog", "App")" title="Create, Manage and Publish PDFs (PDF catalog, spec-sheet…) using PDFxPress templates">PDFxPress Templates</a></li>
                                <li id="websyncid" class="dropdown" ng-if="webSyncEnabled"><a href="@Url.Action("WebSync", "WebSync")" title="Interface to review, manage and push content changes from PIM to WEB">WebSync</a></li>
                            </ul>
                        </li>

                        <li id="portal" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="PDF Portal and Online Catalog">Portals<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @*<li id="pxpli" ng-show="userPdfCreate || userpdfdestemp || userpdfrun || userpdfopencat"><a id="pxplihref" href="@Url.Action("PDFPortalRedirect", "UserAdmin")" title="Access PDFxPress Portal to easily publish PDFs for one or more categories in the catalog">PDFxPress</a></li>*@
                                <li id="ocpli" ng-show="userPdfCreate || userpdfdestemp || userpdfrun || userpdfopencat"><a id="ocplihref" href="@Url.Action("OCPRedirect", "UserAdmin")" title="Access Online Catalog Portal to navigate, search and view catalog content using a web site" >Online Catalog</a></li>

                            </ul>
                        </li>

                        @*Create Catalog and Attribute Management Moved Here*@
                        <li id="resources">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="{{resources}}">Settings <span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li class="dropdown-submenu">
                                    <a tabindex="-1" id="manageCat">Catalog</a>
                                    <ul class="dropdown-menu">
                                        <li id="catli"> <a href="@Url.Action("Catalog", "App")" title="Create or Modify catalog settings">Create</a> </li>
                                        @*<li id="adli">  <a href="@Url.Action("AdminDashboard", "App")" title="Navigate / Edit, Category, Family & Product content in the hierarchy">Manage</a> </li>*@
                                    </ul>
                                </li>

                                <li class="dropdown-submenu">
                                    <a tabindex="-1" id="manageProd">Attributes</a>
                                    <ul class="dropdown-menu">
                                        <li id="atli" ng-show="userAttribute"><a href="@Url.Action("Attribute", "App")" title="Create and Edit all Attributes for one or more catalogs">Edit</a></li>
                                        <li id="gamli" ng-show="userGlobalattrassociation || userGlobalcolumnsort || userGlobalcalcattr || userGlobalattrval"><a href="@Url.Action("GlobalAttributemanager", "Wizard")" title="Assign or Remove Attributes in the catalog and manage attributes sort order">Manage</a></li>
                                    </ul>
                                </li>

                                @*<li class="dropdown-submenu" id="cntntLibry">
                                    <a tabindex="-1" id="manageProd">Tools</a>
                                    <ul class="dropdown-menu">
                                        <li> <a href="@Url.Action("ContentLibrary", "PDFIndex")" title="Combine multiple PDF documents into one PDF and generate consolidated index">PDF Indexer</a> </li>

                                    </ul>
                                </li>*@

                                @*<li id="cntntLibry"><a href="http://192.168.25.185:120/#" title="Access Console" target="_blank">Console</a></li>*@

                                <li id="cntntLibry"><a href="@Url.Action("UserAdmin", "UserAdmin")" title="Access Console">Console</a></li>

                                <li class="dropdown-submenu" id="cntntLibry">
                                    <a tabindex="-1" id="manageProd">About MarketStudio</a>
                                    <ul class="dropdown-menu">
                                        <li> <a href="~/Views/Version/10.4.html" target="_blank">10.4.0.7</a> </li>
                                        <li> <a href="~/Views/Version/10.5.html" target="_blank">10.5</a> </li>
                                        <li> <a href="~/Views/Version/10.5.1.0.html" target="_blank">10.5.1.0</a> </li>
                                        <li> <a href="~/Views/Version/10.5.2.0.html" target="_blank">10.5.2.0</a> </li>
                                        <li> <a href="~/Views/Version/10.6.0.0.html" target="_blank">10.6.0.0</a> </li>
                                        <li> <a href="~/Views/Version/10.6.1.0.html" target="_blank">10.6.1.0</a> </li>
                                        <li> <a href="~/Views/Version/10.9.3.html" target="_blank">10.9.3</a> </li>
                                        <li> <a href="~/Views/Version/10.9.4.html" target="_blank">10.9.4</a> </li>
                                    </ul>
                                </li>


                                @*<li><a href="https://questudio.com/products/product-information-management/" target="_blank">About MarketStudio</a></li>*@




                                @*<li><a href="~/Views/Version/10.9.4.html" target="_blank">Release Notes</a></li>*@
                                <li><a href="" data-toggle="modal" data-target="#contactus" target="_blank">Contact Us</a></li>
                            </ul>
                        </li>

                        @*<li id="resources">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="MarketStudio Resources">Resources <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu" id="cntntLibry">
                                        <a tabindex="-1" id="manageProd">Tools</a>
                                        <ul class="dropdown-menu">
                                            <li> <a href="@Url.Action("ContentLibrary", "PDFIndex")" title="Combine multiple PDF documents into one PDF and generate consolidated index">PDF Indexer</a> </li>

                                        </ul>
                                    </li>

                                    <li class="dropdown-submenu" id="cntntLibry">
                                        <a tabindex="-1" id="manageProd">About MarketStudio</a>
                                        <ul class="dropdown-menu">
                                            <li> <a href="/App/VersionHistory" target="_blank">10.9.2</a> </li>
                                        </ul>
                                    </li>


                                    <li><a href="https://questudio.com/products/product-information-management/" target="_blank">About MarketStudio</a></li>




                                    <li><a href="/App/VersionHistory" target="_blank">Release Notes</a></li>
                                    <li><a href="" data-toggle="modal" data-target="#contactus" target="_blank">Contact Us</a></li>
                                </ul>
                            </li>*@


                        @*<li id="ManageVendor">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="{{ }}">Supplier <span class="caret"></span></a>
                                <ul class="dropdown-menu">

                                </ul>
                            </li>*@

                        @*<li id={{header.ID}} ng-repeat="header in header">
                                <a href="http://{{header.URL}}" title="{{header.Header}}" target="_blank">Web</a>
                            </li>*@
                        @*<li id="conffi"><a href="@Url.Action("UserAdmin", "UserAdmin")" title="{{Admin}}">Console</a></li>*@
                        @*<li id="custom" ng-show="customApp" class="dropdown">
                                <a href="#" title="{{Custom}}" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add On<span class="caret"></span></a>
                                <ul class="dropdown-menu" style="max-height: 155px;overflow: auto; min-height: auto">
                                    <li id={{header.ID}} ng-repeat="header in header"><a href="http://{{header.URL}}" title="{{header.Header}}" target="_blank">{{header.Header}}</a></li>

                                </ul>
                            </li>*@


                        @*<button class="btn btn-primary btn-xs" type="button" ng-click="btnsearchClick()" title="Search Using Keywords" style="height: 36px;border-bottom-right-radius: 4px;border-top-right-radius: 4px;margin-left: -38px;margin-top: -3px;">
                            <i class="fa fa-search" aria-hidden="true"></i></button>
                            </li>*@
                        @*<li id="websyncid" class="dropdown" ng-if="webSyncEnabled">
                             <a href="@Url.Action("WebSync", "WebSync")">WebSync</a>

                            </li>*@
                        @*ng-show="userImageEnable"*@



                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li id="searchli" ng-show="userSearchEnable" ng-cloak>
                            <div class="dropdown1" style="display: none;">
                                <select id="mySelect" name="one" class="dropdown-select" ng-if="EnableSubProduct==true">

                                    <option value="1">Category</option>
                                    <option value="2">Product</option>
                                    <option selected value="3">Items</option>
                                    <option value="4">SubItems</option>
                                </select>
                                <select id="mySelect" name="one" class="dropdown-select" ng-if="EnableSubProduct==false" disabled>

                                    @*<option value="1">Category</option>
                                        <option value="2">Family</option>*@
                                    <option selected value="3">Items</option>
                                </select>
                            </div>

                            <input onkeypress="return urlredirectEnter(event)" type="search" id="txt_search" title="Enter Item Number" ng-model="SearchText" class="searchbox-input margin-left-10" onkeyup="buttonUp();" name="search" placeholder="Enter Item Number" style="width: 380px !important;float: inherit;">

                            <button type="button" class="searchbox-submit" onclick="urlredirectEnter('undefined')" value="GO">
                                <i class="fa fa-search" aria-hidden="true" onclick="urlredirectEnter('undefined')" style="font-size: 20px;"></i>
                            </button>

                            <span onclick="urlredirectEnter('undefined')" class="searchbox-icon"><i onclick="urlredirectEnter('undefined')" class="fa fa-search" aria-hidden="true" style="font-size: 20px;"></i></span>


                        </li>


                        @*<li id="caretli" ng-show="userAdmin || userSuperAdmin" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Settings">
                                <i class="fa fa-cog fa-lg"></i><span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li id="acli"><a href="@Url.Action("UserAdmin", "UserAdmin")" title="Application Settings">Console</a></li>*@
                        @*<li id="acli"><a href="@Url.Action("AdminConfig", "App")" title="{{superAdmin}}">Super Admin</a></li>*@
                        @*<li id="acli" ng-show="userSuperAdmin"><a href="@Url.Action("AdminConfig", "App")" title="{{superAdmin}}">Super Admin</a></li>
                                </ul>
                            </li>*@



                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="{{usercss}}"></span>
                                &nbsp;
                                <span id="DisplayUserName">&nbsp;@TempData["WelcomeName"] </span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:document.getElementById('logoutForm').submit()" title="{{logOff}}" ng-click="logOutClick()">Sign Out</a></li>

                            </ul>
                        </li>

                        <li id="caretli" class="dropdown" ng-show="userSuperAdmin">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="{{settings}}"><i class="fa fa-cog fa-lg"></i><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li id="acli" ng-show="userSuperAdmin"><a href="@Url.Action("AdminConfig", "App")" title="{{superAdmin}}">Super Admin</a></li>
                            </ul>
                        </li>

                        <li id="recyclebinmenu" ng-show="userRoleAddRecycleBin"><a href="@Url.Action("RecycleBin", "RecycleBin")" title="Recycle Bin"><img src="Content/images/recycle_icon.png" style="width: 20px;"></a></li>
                    </ul>
                </div><!--/.nav-collapse -->
                <!-- Modal -->
                <div id="contactus" class="modal fade" role="dialog" style="z-index: 1041;">
                    <div class="modal-dialog modal-lg" style="top: 250px;">

                        <!-- Modal content-->
                        <div class="modal-content" style="width: 75%;margin: auto;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Reach us at</h4>
                            </div>
                            <div class="modal-body">
                                @*<div class="address">
                                        <h4>Contact Address</h4>
                                        <p><i class="fa fa-map-marker"></i>  1934 Old Gallows Rd. Suite 350 Vienna, VA 22182 USA.</p>
                                    </div>*@
                                <div class="contact_flex">
                                    <div class="con-number">
                                        <h4>Contact E-Mail</h4>
                                        <p><i class="fa fa-envelope"></i> <a href="mailto:support@questudio.com">support@questudio.com</a> </p>
                                    </div>
                                    <div class="con-mail">
                                        <h4>Contact Phone No</h4>
                                        <p><i class="fa fa-phone"></i> <a href="tel:703-752-6100">703-752-6100</a> </p>
                                    </div>
                                </div>
                                
                            </div>
                            @*<div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>*@
                        </div>

                    </div>
                </div>

                <!-- The Modal Popup for Portal alert -->

                <div id="myModal-alert" class="alert w3-animate-input" style="display:none;">

                    <!-- Modal content -->
                    <div class="alert-content">
                        <div class="popup_title">MarketStudio  <span class="close" id="alertpopup">&times;</span></div>

                        <p>Site was not configured in PIM. Please contact Admin.</p>

                        <div class="msgBoxButton">
                            <input class="msgButton al-btn k-button" type="button" name="OK" value="OK" onclick="popupClose()">
                        </div>

                    </div>

                </div>

                <script>

                    function ReportValues(Value) {
                        sessionStorage.setItem("ReportLogValue", Value);
                        window.document.location = "App/ReportLog";

                    }

                    function urlredirectEnter(e) {
                        if (e.keyCode == 13 || e == "undefined") {
                            var searchText = document.getElementById('txt_search').value;

                            var SelectedDropdownValue = document.getElementById("mySelect").value;

                            var Item;
                            //For Name changes
                            if (SelectedDropdownValue == 1) {
                                Item = "Category";
                            }
                            else if (SelectedDropdownValue == 2) {
                                Item = "Product";
                            } else if (SelectedDropdownValue == 4) {
                                Item = "SubProducts";
                            } else {
                                Item = "Items";
                            }

                            sessionStorage.setItem("Dropdownvalue", Item);
                            sessionStorage.setItem("searchText", searchText);

                            // searchText = searchText.replace("#", "%23").replace(/&/g, "%26").replace("+", "%2B");

                            if (searchText != "") {

                                window.document.location = "/App/Search";

                                return false;
                            } else {
                                window.document.location = "/App/Search";
                                return false;
                            }
                        }
                    }


                </script>
                <script>
                    function Seachvalue() {


                        //var searchText = document.getElementById('txt_search').value;

                        //sessionStorage.setItem("searchText", searchText);

                        //searchText = searchText.replace("#", "%23").replace(/&/g, "%26").replace("+", "%2B");

                        //if (searchText != "") {

                        //    window.document.location = "/App/Search";

                        //    return false;
                        //} else {
                        //    window.document.location = "/App/Search";
                        //    return false;
                        //}
                    }
                </script>
                <script type="text/javascript">

                    const modal = document.getElementById("myModal-alert");
                    modal.style.display = "none";

                    //PDFXpress click
                    $('#pxpli').click(function () {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("GetPDFXpressURL", "App")',
                            success: function (data) {
                                if (data === "Empty") {
                                    modal.style.display = "block";
                                }
                                else {
                                    window.open(data, '_blank').focus();
                                }
                            }
                        });                      

                    });

                    //Online Catalog Portal Click
                    $('#ocpli').click(function () {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("GetOCPURL", "App")',
                            success: function (data) {
                                if (data === "Empty") {
                                    modal.style.display = "block";
                                }
                                else {
                               //window.open(data, '_blank').focus();
                                }
                            }
                        });
                    });

                    //popup
                    $('#alertpopup').click(function () {
                        popupClose();
                    });

                    function popupClose() {
                        modal.style.display = "none";
                    }

                    // When the user clicks anywhere outside of the modal, close it
                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                </script>
            </div>
        </nav>

    }
}