﻿@{
    ViewBag.Title = "MarketStudio RecycleBin";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}

<style>
    .section-width {
    width: 200px;
}

    .d_flex_r {
    display: flex;
    align-items: center;
}
</style>

<form name="recyclebinform" ng-controller="recycleBinController" ng-cloak>
    <div class="main-content no-margin">
        @*<div class="container">*@
        @*<div class="form-horizontal">*@
        @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Recycle Bin</span>  </div>")
        <div class="panel panel-default">
            <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png); box-sizing:border-box;
                            background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;       box-shadow: 0 1px 0 #2c232b inset;">
                <i class="clip-bubbles-2" style="background-color: #fff; color: black;box-sizing:border-box;"></i>
                Recycle Bin
            </div>

            <div class="k-header k-grid-toolbar k-grid-top">
                <div class="toolbar">
                    <button class="btn btn-primary btn-xs" ng-disabled="!EditMode" ng-click="restoreSelectedTrashItems()" title="{{restoreSelected}}">Restore Selected Items</button>
                    <button class="btn btn-primary btn-xs" ng-disabled="!EditMode" ng-click="permanentlyRemoveSelected()" title="{{removeItems}}">Remove Selected Items Permanently</button>
                    <button class="btn btn-primary btn-xs" ng-disabled="!EditMode" ng-click="emptyRecycleBin()" title="{{emptyItemsRecycleBin}}">Empty Recycle Bin</button>
                    <button class="btn btn-primary btn-xs" ng-click="refreshRecycleBin()" title="{{refreshBin}}">Refresh</button>
                </div>
            </div>


        </div>

        @*<table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border: 1px solid rgb(204, 204, 204);background-color: #FAF4F4;border-radius: 4px;
            border-spacing: 10px;">
                            <tbody>
                                <tr>
                                    <td align="right" width="5%">

                                        <button class="btn btn-primary" ng-click="restoreSelectedItems(recycleBinDataSource)">Restore Selected Items</button>
                                    </td>
                                    <td align="right" width="5%">
                                        <button class="btn btn-primary" ng-click="permanentlyRemoveSelected(recycleBinDataSource)">Permanently Remove Selected </button>
                                    </td>
                                    <td align="right" width="5%">
                                        <button class="btn btn-primary" ng-click="emptyRecycleBin()">Empty Recycle</button>
                                    </td>
                                    <td align="left" width="85%">
                                        <button class="btn btn-primary" ng-click="refreshRecycleBin()">Refresh</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>*@
        @*<div class="titleblue">
            Filter Level
        </div>*@
        <div class="col-sm-12 p-0">
            <div class="col-sm-12 padding-0 margin-bottom-10">

              
                    <div class="col-sm-1 textalignright margintop"><b>Item Level </b></div>
                <div class="col-sm-2 padding-0 section-width">
                   
                        <select kendo-drop-down-list
                                k-data-text-field="'Text'"
                                k-data-value-field="'Value'"
                                k-data-source="Attritems"
                                k-on-change="itemChange(kendoEvent)"
                                style="width: 100%"></select>
                       
                    </div>
               @* --- Select Option ---*@
                    <div class="col-sm-1 textalignright margintop"><b>From</b></div>
                <div class="col-sm-2 padding-0 section-width">

                    <input kendo-date-picker
                           ng-model="Filter.FromDate"
                           k-ng-model="obj"
                           style="width: 100%;" />
                </div>
                    <div class="col-sm-1 textalignright margintop"><b>To</b></div>
                <div class="col-sm-2 padding-0 section-width">

                    <input kendo-date-picker
                           ng-model="Filter.ToDate"
                           k-ng-model="obj1"
                           style="width: 100%;" />
                </div>

                    <div class="col-sm-1 textalignright margintop"><b>Users</b></div>
                <div class="col-sm-2 padding-0 section-width">

                    <select kendo-drop-down-list
                            k-option-label="'--- Select User ---'"
                            k-data-text-field="'TB_USER_ID'"
                            k-data-value-field="'TB_USER_ID'"
                            k-data-source="userList"
                            k-on-change="userChange(kendoEvent)"
                            ng-model="Filter.UserId"
                            style="width: 95%"></select>
                </div>

                    @*<button class="k-button btn btn-primary btn-xs" ng-click="refreshRecycleBin()" title="{{filterRecycleBin}}">Filter</button>*@
                   
                    <div><button class="k-button btn btn-primary btn-xs" ng-click="refreshRecycleBin()" title="{{filterRecycleBin}}">Apply</button></div>
              

               <!-- <tr>
                    <td colspan="6">
                        <b>Date Range </b>
                        @*<datetimepicker min-date="minDate" show-weeks="showWeeks" hour-step="hourStep" minute-step="minuteStep" ng-model="date" show-meridian="showMeridian" date-format="dd-MMM-yyyy" date-options="dateOptions" date-disabled="disabled(date, mode)" readonly-time="false"></datetimepicker>*@
                    </td>
                </tr>-->
                @*<tr>
                    <td>From</td>
                    <td>
                        <input kendo-date-picker
                               ng-model="Filter.FromDate"
                               k-ng-model="obj"
                               style="width: 165px;" />
                    </td>
                    <td>To</td>
                    <td>
                        <input kendo-date-picker
                               ng-model="Filter.ToDate"
                               k-ng-model="obj1"
                               style="width: 165px;" />
                    </td>
                    <td>Users</td>
                    <td>

                        <select kendo-drop-down-list
                                k-option-label="'--- Select User ---'"
                                k-data-text-field="'TB_USER_ID'"
                                k-data-value-field="'TB_USER_ID'"
                                k-data-source="userList"
                                k-on-change="userChange(kendoEvent)"
                                style="width: 165px"></select>
                    </td>
                </tr>*@
            </div>

            <div class="col-lg-12 row margin-top-10 margin-bottom-10 p-0">
                <div class="col-sm-2">
                    <div class="d_flex_r">
                        <div style="width:20px; height:15px; background-color:#ccff33; border: 1px solid gray;margin-right: 5px;"></div>
                        <div>Deleted Attributes</div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="d_flex_r">
                        <div style="width:20px; height:15px; background-color:#fffff0; border:1px solid gray;margin-right: 5px;"></div>
                        <div> Deleted Items</div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="d_flex_r">
                        <div style="width:20px; height:15px; background-color:#0099cc;margin-right: 5px;"></div>
                        <div>Deleted SubProducts</div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="d_flex_r">
                        <div style="width:20px; height:15px; background-color:#1975ff;margin-right: 5px;"></div>
                        <div> Deleted Products</div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="d_flex_r">
                        <div style="width:20px; height:15px; background-color:#FF9494; border: 1px solid gray;margin-right: 5px;"></div>
                        <div>Deleted Sub Categories</div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="d_flex_r">
                        <div style="width:20px; height:15px; background-color:#bd5c5c;margin-right: 5px;"></div>
                        <div> Deleted Categories</div>
                    </div>
                </div>



               
            </div>
            @*<table class="table table-responsive margin-bottom-10">
                <tr>
                  
                 
                    <td>
                      
                    </td>
                    <td>
                        
                    </td>
                    <td>
                       
                    </td>
                    <td>
                       
                    </td>
                </tr>
            </table>*@
        </div>

        <div class="col-sm-7 no-padding" id="importErrorWindow" style="width:100%;position: inherit; border-radius: 4px;">
            <div kendo-grid id="recycleBinGrid" k-options="recycleGridOptions"></div>
        </div>

    </div>
    @* </div>

        </div>*@

</form>
@section scripts{
    <script type="text/javascript" src='@Url.Content("~/Views/App/RecycleBin/recycleBinController.js")'></script>
}

