﻿@model LS.Data.Model.Accounts.UserModel

<h4 style="margin: 10px;">
    Add New Account
</h4>
@section styles{
    <link href="http://cdn.kendostatic.com/2014.2.716/styles/kendo.common.min.css" rel="stylesheet" />
    @*<link href="http://cdn.kendostatic.com/2014.2.716/styles/kendo.blueopal.min.css" rel="stylesheet" />*@
    <style>
        .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-list > .k-state-selected, .k-list > .k-state-highlight, .k-panel > .k-state-selected, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-marquee-color {
            color: #FFF;
            background-color: #70A1F8 !important;
            border-color: #70A1F8 !important;
        }

        span.field-validation-error {
            color: Red;
        }

        #combined {
            width: 100%;
        }

        input[type="submit"] {
            height: 8%;
        }

        input[type="radio"] {
            border: 1px solid #fefefe;
            border-radius: 3px;
            height: 12px;
        }

        h3 {
            font-size: 19px;
        }

        .form-control {
            height: 29px;
        }

        .form-group {
            margin-bottom: 4px;
        }

        #firstelement {
            width: 50%;
            float: left;
        }

        #secondelement {
            width: 50%;
            float: right;
        }

        .k-textbox, .k-dropdown {
            width: 100%;
        }

        @@media (min-width:768px) {
            .form-horizontal .control-label {
                text-align: left;
            }
        }

        .col-lg-2 {
            width: 39.667%;
        }

        .form-horizontal .control-label {
            font-size: 14px;
            font-weight: 700;
        }

        #namelabel {
            width: 20.33%;
        }
    </style>
}
<p style="margin: 10px;">
    Please enter the following details to add a new user. Passwords are required to be a minimum of @(Membership.MinRequiredPasswordLength) characters in length.
</p>
@using (Html.BeginForm("AddCustomerUser", "Accounts", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @(Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again."))
    <div style="margin: 10px;" ng-cloak>
        <fieldset>
            <div id="combined">
                <div id="firstelement">
                    <div class="form-group">
                        @(Html.LabelFor(m => m.CustomerName, new { @class = "col-lg-2 col-lg-2 control-label" }))
                        <div class="col-sm-6">
                            <span>@(Html.DisplayFor(m => m.CustomerName))</span>
                        </div>
                    </div>
                    <div class="form-group">
                        @(Html.LabelFor(m => m.FirstName, new { @class = "col-lg-2 col-sm-2 control-label" }))
                        <div class="col-sm-6">
                            @(Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" }))
                        </div>
                        @(Html.ValidationMessageFor(m => m.FirstName))
                    </div>
                    <div class="form-group">
                        @(Html.LabelFor(m => m.LastName, new { @class = "col-lg-2 col-sm-2 control-label" }))
                        <div class="col-sm-6">
                            @(Html.TextBoxFor(m => m.LastName, new { @class = "form-control" }))
                        </div>
                        @(Html.ValidationMessageFor(m => m.LastName))
                    </div>
                    <div class="form-group">
                        @(Html.LabelFor(m => m.Title, new { @class = "col-lg-2 col-sm-2 control-label" }))
                        <div class="col-sm-6">
                            @(Html.TextBoxFor(m => m.Title, new { @class = "form-control" }))
                        </div>
                        @(Html.ValidationMessageFor(m => m.Title))
                    </div>
                    <div class="form-group">
                        @(Html.LabelFor(m => m.Address1, new { @class = "col-lg-2 col-sm-2 control-label" }))
                        <div class="col-sm-6">
                            @(Html.TextBoxFor(m => m.Address1, new { @class = "form-control" }))
                        </div>
                        @(Html.ValidationMessageFor(m => m.Address1))
                    </div>
                    <div class="form-group">
                        @(Html.LabelFor(m => m.City, new { @class = "col-lg-2 col-sm-2 control-label" }))
                        <div class="col-sm-6">
                            @(Html.TextBoxFor(m => m.City, new { @class = "form-control" }))
                        </div>
                        @(Html.ValidationMessageFor(m => m.City))
                    </div>
                    <div class="form-group">
                        @(Html.LabelFor(m => m.State, new { @class = "col-lg-2 col-sm-2 control-label" }))
                        <div class="col-sm-6">
                            @(Html.TextBoxFor(m => m.State, new { @class = "form-control" }))
                        </div>
                        @(Html.ValidationMessageFor(m => m.State))
                    </div>
                    <div class="form-group">
                        @(Html.LabelFor(m => m.Zip, new { @class = "col-lg-2 col-sm-2 control-label" }))
                        <div class="col-sm-6">
                            @(Html.TextBoxFor(m => m.Zip, new { @class = "form-control" }))
                        </div>
                        @(Html.ValidationMessageFor(m => m.Zip))
                    </div>
                </div>
                <div id="secondelement">
                    <div class="form-group">
                        @(Html.LabelFor(m => m.Email, new { @class = "col-lg-2 col-sm-2 control-label" }))
                        <div class="col-sm-6">
                            @(Html.TextBoxFor(m => m.Email, new { @class = "form-control" }))
                        </div>
                        @(Html.ValidationMessageFor(m => m.Email))
                    </div>
                    <div class="form-group">
                        @(Html.LabelFor(m => m.Phone, new { @class = "col-lg-2 col-sm-2 control-label" }))
                        <div class="col-sm-6">
                            @(Html.TextBoxFor(m => m.Phone, new { @class = "form-control" }))
                        </div>
                        @(Html.ValidationMessageFor(m => m.Phone))
                    </div>
                    <div class="form-group">
                        @(Html.LabelFor(m => m.UserName, new { @class = "col-lg-2 col-lg-2 control-label" }))
                        <div class="col-sm-6">
                            @(Html.TextBoxFor(m => m.UserName, new { @class = "form-control" }))
                        </div>
                        @(Html.ValidationMessageFor(m => m.UserName))<span id="result" />
                    </div>
                    <div class="form-group">
                        @(Html.LabelFor(m => m.Password, new { @class = "col-lg-2 col-lg-2 control-label" }))
                        <div class="col-sm-6">
                            @(Html.PasswordFor(m => m.Password, new { @class = "form-control" }))
                        </div>
                        @(Html.ValidationMessageFor(m => m.Password))
                    </div>
                    <div class="form-group">
                        @(Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-lg-2 col-lg-2 control-label" }))
                        <div class="col-sm-6">
                            @(Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" }))
                        </div>
                        @(Html.ValidationMessageFor(m => m.ConfirmPassword))
                    </div>
                    <div class="form-group">
                        @(Html.LabelFor(m => m.UserRoles, new { @class = "col-lg-2 col-sm-2 control-label" }))
                        <div class="col-sm-6">
                            @{ string[] allRoles;}


                            @if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                if (HttpContext.Current.User.IsInRole("Admin"))
                                {
                                    allRoles = Roles.GetAllRoles();
                                }
                                else
                                {
                                    allRoles = new string[] { "CustomerAdmin", "CustomerNormalUser" };
                                }

                                for (int i = 0; i < allRoles.Length; i++)
                                {
                                    var optionName = "options_" + allRoles[i];
                                    var userVal = allRoles[i];
                                    var userText = allRoles[i];
                                    <input type="radio" id="@(optionName)" name="UserRoles" value="@(userVal)" style="margin-right: 10px" /><span style="margin-right: 10px">@(userText)</span>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <p style="text-align: center;">
                <input type="submit" value="Save" id="saveButton" class="btn btn-primary btn-xs" />
                @(Html.ActionLink("Cancel", "CustomerUserList", "Accounts", htmlAttributes: new { @class = "btn btn-default btn-xs", @id = "cancelButton" }, routeValues: null))
            </p>
        </fieldset>
    </div>
}
