﻿@model LS.Data.Model.Accounts.RoleModel
@*@{ 
    ViewBag.Title = "Add New Role"; 
}*@
<h4>
    Add New Role</h4>
@using (Html.BeginForm())
{
    @(Html.ValidationSummary(true, "Role creation was unsuccessful. Please correct the errors and try again."))
    <div>
        <fieldset>
            <div class="editor-field">
                @(Html.LabelFor(m => m.RoleName))
                </div>
                <div class="editor-field">
                @(Html.TextBoxFor(m => m.RoleName))
                @(Html.ValidationMessageFor(m => m.RoleName))
            </div>
            <br />
            <p>
                <input type="submit" id="save" value="Save"/>
                
                @(Html.ActionLink("Cancel", "RolesList", "Account", htmlAttributes: new { @class = "cancel", @id = "cancel" }, routeValues: null))
            </p>
        </fieldset>
    </div>
}

