﻿@*@{ 
    ViewBag.Title = "Change Password"; 

<h4>
    Change Password</h4>}*@
<p>
    User password has been changed successfully. Back to @if (HttpContext.Current.User.IsInRole("FieldTechnician"))
                                                         {
        @(Html.ActionLink("App", "MobileDashboard", "App", htmlAttributes: new { @class = "cancel", @id = "cancel" }, routeValues: null))}
      @if (HttpContext.Current.User.IsInRole("Admin"))
      { 
      @(Html.ActionLink("App", "Index", "App", htmlAttributes: new { @class = "cancel", @id = "cancel" }, routeValues: null))
      
      }                                                                                               
</p>
