﻿@model LS.Data.Model.Accounts.ForgorPasswordModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutForAnonymousPages.cshtml";
}

@{
    var ImageName = "";
    if (string.IsNullOrEmpty(@HttpContext.Current.Session["ProductTitle"] as string))
    {

        ImageName = "MarketStudio.png";
       
    }
    else
    {
        var ProductTitle = @HttpContext.Current.Session["ProductTitle"].ToString();
        ImageName = ProductTitle + ".png";
       
    }
}

<style>

    #form-control-error
    {
        color:#a94442 !important;
    }
    .required-field:after {
    content: "*";
    font-weight: bold;
    color: red;
    position: absolute;
    margin-left: 2px !important;
}
</style>
<section class="margin-top-60 margin-bottom-80">
    @using (Html.BeginForm())
    {
        <div class="container">
            <div class="row">
                <h3 class="pageTitle text-center">Please enter the email to reset password</h3>
                <div class="col-lg-offset-4 col-sm-offset-3 col-lg-4 col-sm-6  col-xs-12 padding-20">
                    <div class="border login-box text-center padding-20">


                      
                            <img class="img-initial margin-vertical-20" src="~/Design/Login/assets/images/@ImageName" >
                   


                        <form id="Forgotpwd">
                            <div class="input-group margin-vertical-20" style="width:100%;">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email *",@id = "form-control" })
                                @*@(Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" }))*@
                              
                                        @(Html.ValidationMessageFor(m => m.Email))
                                   

                            </div>

                            <div>
                                @if (!string.IsNullOrEmpty(Model.ReturnMessage))
                                {
                                    if (Model.ReturnMessage.Contains("Password sent"))
                                    {
                                        <span class="text-info">@Model.ReturnMessage</span><br />
                                        @Html.ActionLink("Go to Login","App", "LogOn")
                                    }
                                    else
                                    {
                                        <span class="text-danger">@Model.ReturnMessage</span>
                                    }

                                }
                            </div>

                            <button type="Submit" class="btn btn-block color-white background-color-green ">Submit</button>

                            <button class="btn btn-block color-white background-color-green " type="button" id="cancel">
                                Cancel
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>


    }
    @section scripts{
        <script type="text/javascript">
            $(function () {
                $("#cancel").click(function () {
                    var baseUrl = $("base").first().attr("href");
                    location.href = baseUrl + "Accounts/LogOn"; //
                });
            });
            
            $().ready(function () {
                // validate the comment form when it is submitted
                $("#Forgotpwd").validate({
                    
                    submitHandler: function (form) { // blocks submission for demo
                        return false;
                    }
                });



            });
        </script>
    }
</section>