﻿@model LS.Data.Model.Accounts.LogOnModel
@{
    ViewBag.Title = "Log On";
    Layout = "~/Views/Shared/_LayoutForAnonymousPages.cshtml";
}
@{
    var ImageName = "";
    if (string.IsNullOrEmpty(@HttpContext.Current.Session["ProductTitle"] as string))
    {

         ImageName = "MarketStudio.png";
    }
    else
    {
        var ProductTitle = @HttpContext.Current.Session["ProductTitle"].ToString();
         ImageName = ProductTitle + ".png";
    }
    
    
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
   #Login ul
   {
       list-style-type: none;
    text-align: center;
    padding-left: inherit;
    margin-top: 5px;

   }
  .required-field:after {
    content: "*";
    font-weight: bold;
    color: red;
    position: absolute;
    margin-left: 2px !important;

  }
  .glyphicon-eye-open:hover{
      opacity: 1;
  }
  .glyphicon-eye-open{
      opacity: 0.6;
  }
   
</style>

<section class="margin-top-60 margin-bottom-80">
    @using (Html.BeginForm())
    {
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-4 col-sm-offset-3 col-lg-4 col-sm-6  col-xs-12 padding-20">
                    <div class="border login-box text-center padding-20" id="Login">
                            <img class="img-initial margin-vertical-10" src="~/Design/Login/assets/images/@ImageName" >                   
                        <span style="color: grey;float: right; font-size: 8pt"><a target="_blank" href="@Url.Action("VersionHistory", "App")" class="color-grey">Version 10.9.4</a></span>                    
                        <form>
                            <div class="input-group margin-vertical-20">
                                <span class="input-group-addon border-radius4">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                </span>
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Email *", @Type = "email", oninvalid = "setCustomValidity('Please enter a valid email address.')", onchange = "try{setCustomValidity('')}catch(e){}", @Title = "Please enter a valid email address", @id = "username" })
                                @*,*@
                            </div>

                            <div class="input-group margin-bottom-30">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control border-radius4", @placeholder = "Password *", @id = "password", @Title = "Password" })
                                @*Added show hide option*@
                                <span class="input-group-addon">
                                    <i style="font-size:17px" class="fa fa-eye-slash" onclick="eyeIconClick()"></i>
                                    
                                </span>

                            </div>

                            <button type="Submit" class="btn btn-block color-white background-color-green " onclick="btnLogonClick()">LOG IN</button>

                            @(Html.ValidationSummary(false, "", new { @class = "text-danger" }))

                            <p class="padding-top-10 margin-0"><a href="@Url.Action("ForgotPassword", "App")" class="color-grey">Forgot Password?</a></p>

                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-4 col-sm-offset-3 col-lg-4 col-sm-6  col-xs-12 padding-20 margin-top-35">
                    <div class="border login-box text-center padding-horizontal-50 padding-vertical-10">
                        <p class="color-themeblue margin-0"><strong>Don't have an Account?</strong></p>
                        <a href="@Url.Action("Register", "App")">Register</a><br />
                        <p class="border-top-green margin-bottom-15"></p>
                        <p class="color-themeblue margin-bottom-5"><strong>Any Questions?</strong></p>
                        <p class="color-themeblue margin-0">Call: 703-752-6100</p>
                    </div>
                </div>
            </div>
        </div>
    }
</section>

<script type="text/javascript">
    window.onload = function () {
        localStorage.removeItem("ngStorage-skuAlertDisplayed");
        localStorage.skuAlertDisplayed = undefined;
        localStorage.removeItem("ngStorage-savebaseFamilyAttributeRow");
        localStorage.removeItem("ngStorage-saveDetails");
        localStorage.removeItem("ngStorage-saveSelectedFamilyDetails");
        localStorage.removeItem("ngStorage-savebaseProductAttributeRow");
        localStorage.removeItem("ngStorage-selectedListOnlyProductDetails");
        localStorage.removeItem("ngStorage-baseUndoOnlyProductDetails");
        localStorage.removeItem("ngStorage-ProductDetailsValueOnly");
    };

    function btnLogonClick() {
        localStorage.undolistFlag = "1";
    }
    function eyeIconClick()
    {
        debugger;
        var className = $(".fa").attr('class');
        className = className.indexOf('slash') !== -1 ? 'fa fa-eye' : 'fa fa-eye-slash'
        $(".fa").attr('class', className);
        var temp = document.getElementById("password");
        if (temp.type === "password") {
            temp.type = "text";

        }
        else {
            temp.type = "password";
        }
    }
</script>