﻿

@*@{ 
 ViewBag.Title = "Create New Account"; 
}


<h4>Create Account</h4>*@
    <p>
        User has been created successfully. Back to @(Html.ActionLink("User List", "UserList", "Accounts"))
    </p> 

