﻿@model LS.Data.Model.Accounts.UserModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutForAnonymousPages.cshtml";
}
@{
    var ImageName = "";
    if (string.IsNullOrEmpty(@HttpContext.Current.Session["ProductTitle"] as string))
    {

        ImageName = "MarketStudio.png";
    }
    else
    {
        var ProductTitle = @HttpContext.Current.Session["ProductTitle"].ToString();
        ImageName = ProductTitle + ".png";
    }


}

<style>
    .fontsize {
        font-size: 12px;
    }

    .labelclass {
        color: #339933;
        background-color: #fff;
        font-size: 12px;
    }
    .required-field:after {
    content: "*";
    font-weight: bold;
    color: red;
    position: absolute;
    margin-left:2px !important;
}
    .input-validation-error
    {
        border-color: #a94442 !important;

    }
    .validation-summary-errors   li{

    list-style-type: none;
    }

    .registerbtn {
    background-color: #339933 !important;
    border-color: #339933;
    padding: 6px;
    width: 25%;
    font-size: 14px;
    margin-right: 10px;
}
</style>


<section class="margin-top-60 margin-bottom-80">
    @using (Html.BeginForm())
    {
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-3 col-sm-offset-2 col-lg-4 col-sm-6 col-xs-12 padding-20">
                    <div class="border login-box text-center padding-20" style="width:600px;">
                        <img class="img-initial margin-vertical-20" src="~/Design/Login/assets/images/@ImageName" alt="Questudio">
                        @if (ViewBag.result != null)
                        {
                            <div class="labelclass">
                                <label>@ViewBag.result</label>
                                @Html.ActionLink("Go to Logon Page", "LogOn", "Accounts")
                            </div>
                        }

                        @using (Html.BeginForm("Register", "App", FormMethod.Post,new { @id = "registerFormId", @class = "form-horizontal", role = "form" }))
                        {

                            @(Html.HiddenFor(m => m.CustomerId))

                            if (Model.CustomerId == null || Model.CustomerId == 0)
                            {
                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 input-group margin-vertical-20">
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 required-field">
                                      
                                        @(Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control border-radius4", @title = "Company Name", @placeholder = "Company Name", @id = "Comp"}))
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 required-field">
                                        @(Html.TextBoxFor(m => m.Email, new { @class = "form-control border-radius4", @title = "Email", @placeholder = "Your@email.com" }))

                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                        <span class="fontsize text-danger pull-left">
                                            @(Html.ValidationMessageFor(m => m.CompanyName))
                                        </span>
                                    </div>
                                   
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                        <span class="fontsize text-danger pull-left">
                                            @(Html.ValidationMessageFor(m => m.Email))
                                        </span>
                                    </div>
                                </div>

                            }
                            else
                            {
                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 input-group margin-vertical-20 ">
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                        @(Html.TextBoxFor(m => m.CompanyName, new { @class = "required form-control border-radius4", @title = "Company Name", @placeholder = "Company Name", @readonly = "readonly" }))
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                        @(Html.TextBoxFor(m => m.Email, new { @class = "form-control border-radius4", @title = "Email", @placeholder = "Your@email.com", @readonly = "readonly" }))

                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                        <span class="fontsize text-danger pull-left">

                                        </span>
                                    </div>
                                  
                                </div>
                            }

                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 input-group margin-vertical-20">

                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 required-field">
                                    @(Html.PasswordFor(m => m.Password, new { @class = "form-control border-radius4", @title = "Password", @placeholder = "Password" }))
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 required-field">
                                    @(Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control border-radius4", @title = "Confirm Password", @placeholder = "Confirm Password" }))
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <span class="fontsize text-danger pull-left">
                                        @(Html.ValidationMessageFor(m => m.Password))
                                    </span>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <span class="fontsize text-danger pull-left">
                                        @(Html.ValidationMessageFor(m => m.ConfirmPassword))
                                    </span>
                                </div>
                            </div>


                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 input-group margin-vertical-20">

                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 required-field">
                                    @(Html.TextBoxFor(m => m.FirstName, new { @class = "form-control border-radius4", @title = "First Name", @placeholder = "First Name" }))
                                </div>

                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 required-field">
                                    @(Html.TextBoxFor(m => m.LastName, new { @class = "form-control border-radius4", @title = "Last Name", @placeholder = "Last Name" }))
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <span class="fontsize text-danger pull-left">
                                        @(Html.ValidationMessageFor(m => m.FirstName))
                                    </span>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <span class="fontsize text-danger pull-left">
                                        @(Html.ValidationMessageFor(m => m.LastName))
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 input-group margin-vertical-20">
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                        @(Html.TextBoxFor(m => m.WebSite, new { @class = "form-control border-radius4", @title = "Website", @placeholder = "Website" }))
                                    </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    @(Html.TextBoxFor(m => m.Address1, new { @class = "form-control border-radius4", @title = "Address 1", @placeholder = "Address 1" }))
                                </div>
                              

                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <span class="fontsize text-danger pull-left">
                                      
                                    </span>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <span class="fontsize text-danger pull-left">
                                        @(Html.ValidationMessageFor(m => m.Address1))
                                    </span>
                                </div>
                            </div>
    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 input-group margin-vertical-20">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            @(Html.TextBoxFor(m => m.Address2, new { @class = "form-control border-radius4", @title = "Address 2", @placeholder = "Address 2" }))
        </div>

        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            @(Html.TextBoxFor(m => m.City, new { @class = "form-control border-radius4", @title = "City", @placeholder = "City" }))

        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <span class="fontsize text-danger pull-left">
                </span>
            </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <span class="fontsize text-danger pull-left">
                        @(Html.ValidationMessageFor(m => m.City))
                    </span>
                </div>
        </div>

        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 input-group margin-vertical-20">



            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 required-field">
                @Html.DropDownListFor(m => m.Country, new SelectList(ViewBag.Countries, "COUNTRY_CODE", "COUNTRY"), "--Select a Country--", new { @class = "form-control border-radius4", @title="Country",@id = "countrydropdown" })
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 required-field">
                @Html.DropDownListFor(m => m.State, (IEnumerable<SelectListItem>)ViewBag.States, "--Select a State--", new { @class = "form-control border-radius4", @title="State", @id = "statedropdown" })
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <span class="fontsize text-danger pull-left">
                    @(Html.ValidationMessageFor(m => m.Country))
                </span>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <span class="fontsize text-danger pull-left">
                    @(Html.ValidationMessageFor(m => m.State))
                </span>
            </div>

        </div>
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 input-group margin-vertical-20">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                @(Html.TextBoxFor(m => m.Zip, new {id="txtZip", @class = "form-control border-radius4", @title="Zip", @placeholder = "Zip" }))

            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"></div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                @(Html.TextBoxFor(m => m.Phone, new { @class = "form-control border-radius4", @title="Phone",@placeholder = "Phone"}))
                
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <span class="fontsize text-danger pull-left">
                    @(Html.ValidationMessageFor(m => m.Zip))
                </span>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <span class="fontsize text-danger pull-left">
                    @(Html.ValidationMessageFor(m => m.Phone))
                </span>
            </div>

        </div>
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 input-group margin-vertical-20">

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                @(Html.TextBoxFor(m => m.Fax, new { id = "txtFax", maxlength = 10, @class = "form-control border-radius4", @title="Fax",@placeholder = "Fax" }))
            </div>


            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <span class="fontsize text-danger pull-left">
                    @(Html.ValidationMessageFor(m => m.Fax))
                </span>
            </div>

        </div>





        <div class="col-sm-12 input-group margin-vertical-20">

         
                <button type="Submit" class="btn btn-primary btn-xs registerbtn">Register</button>
                <button class="btn btn-primary btn-xs registerbtn" type="button" id="cancel">Cancel</button>
                @if (!ViewContext.ViewData.ModelState.IsValid)

                                    {
                    @(Html.ValidationSummary(true, " ", new { @class = "text-danger" }))
                                    }

          
          
        </div>
        }


    </div>

                </div>

            </div>

        </div>



    }
    @section scripts{
        <script type="text/javascript">
            $(function () {
                $("#cancel").click(function () {
                    var baseUrl = $("base").first().attr("href");
                    location.href = baseUrl + "Accounts/LogOn"; //
                });
            });
            $(document).ready(function () {
                $("#txtFax").forceNumeric();
            });
            jQuery.fn.forceNumeric = function () {

                return this.each(function () {
                    $(this).keydown(function (e) {
                        var key = e.which || e.keyCode;

                        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
                            // numbers   
                            key >= 48 && key <= 57 ||
                            // Numeric keypad
                            key >= 96 && key <= 105 ||
                            // comma, period and minus, . on keypad
                           key == 190 || key == 188 || key == 109 || key == 110 ||
                            // Backspace and Tab and Enter
                           key == 8 || key == 9 || key == 13 ||
                            // Home and End
                           key == 35 || key == 36 ||
                            // left and right arrows
                           key == 37 || key == 39 ||
                            // Del and Ins
                           key == 46 || key == 45)
                            return true;

                        return false;
                    });
                });
            }

    


    $().ready(function () {
        // validate the comment form when it is submitted
        $("#registerFormId").validate({
           
            
            submitHandler: function (form) { // blocks submission for demo
                return false;
            }
    });  

           

    });
           
    $('#countrydropdown').change(function () {
      
        var countryId = $(this).val();
        $('#statedropdown').valid = false;
        $('#statedropdown').empty();
       
                var options = '<option value>--Select State---</option>';
                var bindState = $('#statedropdown');
                bindState.removeClass("valid");
                bindState.html("");
                if (countryId) {
                    $.get('/App/GetStateList', {
                        countryId: countryId

                    }, function (states) {
                        if (states) {
                            for (var i = 0; i < states.length; i++) {
                                options += '<option value="' + states[i].STATE_CODE + '">' + states[i].STATE + '</option>';
                            }
                        }
                        bindState.html(options);
                        
                      
                        $("#statedropdown").val($("#statedropdown option:first").val());
                        //bindState.append(options);
                    }, 'json');
                } else {
                    var bindState = $('#statedropdown');
                    bindState.html("");
                   
                    bindState.html(options);
                }
            });




        </script>
    
    }
    @*<script>
            $("#countrydropdown").change(function () {
                var countryId=this.val();
                var countrydata = JSON.stringify({
                    'countryId': countryId

                });
                $.ajax({

                    url: @Url.Action("App", "GetStateList"),
                    data:countrydata,
                    type: "GET",
                    cache: false,
                    success: function (states) {

                    }, error: function (error) {
                        option.error;
                    }

                });
            });

        </script>*@
</section>