﻿@model LS.Data.Model.CustomerModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutForAnonymousPages.cshtml";
}
@{
    var ImageName = "";
    if (string.IsNullOrEmpty(@HttpContext.Current.Session["ProductTitle"] as string))
    {

        ImageName = "MarketStudio.png";
    }
    else
    {
        var ProductTitle = @HttpContext.Current.Session["ProductTitle"].ToString();
        ImageName = ProductTitle + ".png";
    }


}
<style>
    .fontsize {
        font-size: 12px;
    }
</style>

<section class="margin-top-60 margin-bottom-80">
@using (Html.BeginForm("RegisterCustomer", "App",FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-3 col-sm-offset-2 col-lg-4 col-sm-6 col-xs-12 padding-20">
                <div class="border login-box text-center padding-20" style="width: 600px;">
                    <img class="img-initial margin-vertical-20" src="~/Design/Login/assets/images/@ImageName" alt="Questudio">

                 
                        <div class="panel-body">

                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 input-group margin-vertical-20">


                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 required">
                                    @(Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control border-radius4 required", @placeholder = "Customer Name" }))
                                </div>


                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6" style="height:34px;">
                                    @*@(Html.TextBoxFor(m => m.ContactTitle, new {@class = "form-control border-radius4", @placeholder = "Contact Title"}))*@
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <span class="fontsize text-danger pull-left">
                                        @(Html.ValidationMessageFor(m => m.CustomerName))
                                    </span>
                                </div>
                                @*<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <span class="fontsize text-danger pull-left">
                                        @(Html.ValidationMessageFor(m => m.ContactTitle))
                                    </span>
                                </div>*@
                            </div>

                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 input-group margin-vertical-20">


                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    @(Html.TextBoxFor(m => m.ContactName, new {@class = "form-control border-radius4", @placeholder = "Contact Name"}))
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    @(Html.TextBoxFor(m => m.CompanyName, new {@class = "form-control border-radius4", @placeholder = "Company Name"}))
                                </div>
                             
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <span class="fontsize text-danger pull-left">
                                        @(Html.ValidationMessageFor(m => m.ContactName))
                                    </span>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <span class="fontsize text-danger pull-left">
                                      @(Html.ValidationMessageFor(m => m.CompanyName))
                                    </span>
                                </div>
                            </div>


                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 input-group margin-vertical-20">


                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    @(Html.TextBoxFor(m => m.Address1, new {@class = "form-control border-radius4", @placeholder = "Address1"}))

                                </div>


                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    @(Html.TextBoxFor(m => m.Address2, new {@class = "form-control border-radius4", @placeholder = "Address2"}))
                                </div>
                                 
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <span class="fontsize text-danger pull-left">
                                        @(Html.ValidationMessageFor(m => m.Address1))
                                    </span>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <span class="fontsize text-danger pull-left">
                                       @(Html.ValidationMessageFor(m => m.Address2))
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 input-group margin-vertical-20">


                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    @(Html.TextBoxFor(m => m.City, new {@class = "form-control border-radius4", @placeholder = "City"}))

                                </div>

                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    @*@(Html.TextBoxFor(m => m.Country, new { @class = "form-control border-radius4", @placeholder = "Country" }))*@
                                    @Html.DropDownListFor(m => m.Country, new SelectList(ViewBag.Countries, "COUNTRY_CODE", "COUNTRY"), "--Select a Country--", new { @class = "form-control border-radius4", @id = "countrydropdown" })
                                </div>
                               
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <span class="fontsize text-danger pull-left">
                                        @(Html.ValidationMessageFor(m => m.City))
                                    </span>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <span class="fontsize text-danger pull-left">
                                        @(Html.ValidationMessageFor(m => m.Country))
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 input-group margin-vertical-20">


                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    @(Html.TextBoxFor(m => m.Zip, new {@class = "form-control border-radius4", @placeholder = "Zip"}))

                                </div>


                               
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    @*@(Html.TextBoxFor(m => m.StateProvince, new { @class = "form-control border-radius4", @placeholder = "State" }))*@
                                    @Html.DropDownListFor(m => m.StateProvince, (IEnumerable<SelectListItem>)ViewBag.States, "--Select a State--", new { @class = "form-control border-radius4", @id = "statedropdown" })
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <span class="fontsize text-danger pull-left">
                                        @(Html.ValidationMessageFor(m => m.Zip))
                                    </span>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <span class="fontsize text-danger pull-left">
                                        @(Html.ValidationMessageFor(m => m.StateProvince))
                                    </span>
                                </div>
                              
                            </div>


                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 input-group margin-vertical-20">


                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    @(Html.TextBoxFor(m => m.Phone, new {@class = "form-control border-radius4", @placeholder = "Phone"}))
                                </div>


                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    @(Html.TextBoxFor(m => m.Fax, new {@class = "form-control border-radius4", @placeholder = "Fax"}))
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <span class="fontsize text-danger pull-left">
                                        @(Html.ValidationMessageFor(m => m.Phone))
                                    </span>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <span class="fontsize text-danger pull-left">
                                        @(Html.ValidationMessageFor(m => m.Fax))
                                    </span>
                                </div>
                            </div>


                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 input-group margin-vertical-20">

                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    @(Html.TextBoxFor(m => m.EMail, new {@class = "form-control border-radius4", @placeholder = "your@email.com"}))

                                </div>


                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    @(Html.TextBoxFor(m => m.WebSite, new {@class = "form-control border-radius4", @placeholder = "WebSite"}))
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <span class="fontsize text-danger pull-left">
                                        @(Html.ValidationMessageFor(m => m.EMail))
                                    </span>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <span class="fontsize text-danger pull-left">
                                        @(Html.ValidationMessageFor(m => m.WebSite))
                                    </span>
                                </div>
                            </div>

                            @*<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 input-group margin-vertical-20">

                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    @Html.DropDownListFor(m => m.PlanId, new SelectList(ViewBag.Plans, "PLAN_ID", "PLAN_NAME"), "--Select a Plan--", new {@class = "form-control border-radius4", @id = "companydropdown"})*@
                                    @*@onchange = "if( $(this).val()==0){document.location.href ='/App/RegisterCustomer';}*@

                                @*</div>*@
                                @*<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    @(Html.TextBoxFor(m => m.Comments, new {@class = "form-control border-radius4", @placeholder = "Comments"}))
                                </div>*@
                            @*</div>*@

                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-offset-3 col-sm-offset-3 col-lg-12 input-group margin-vertical-20">

                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">

                                    <button type="Submit" class="btn btn-block color-white background-color-green ">Register Company</button>
                                    <button class="btn btn-block color-white background-color-green " type="button" id="cancel">
                                        Cancel
                                    </button>
                                   @* @(Html.ValidationSummary(true, "Please Choose plan / Fix Errors", new { @class = "text-danger" }))*@
                                    
                                </div>
                                @*<div class="col-md-6 col-lg-3 col-sm-3 col-xs-6">
                                    <a href="javascript:history.back()">Go Back</a>

                                </div>*@
                                
                            </div>



                        </div>
                  

                </div>
            </div>
        </div>

    </div>
}
    @section scripts{
        <script type="text/javascript">
            $(function () {
                $("#cancel").click(function () {
                    var baseUrl = $("base").first().attr("href");
                    location.href = baseUrl + "Accounts/LogOn"; //
                });
            });

            $('#countrydropdown').change(function () {
                var countryId = $(this).val();
                var options = '<option>--Select a State--</option>';
                var bindState = $('#statedropdown');
                if (countryId) {
                    $.get('/App/GetStateList', {
                        countryId: countryId

                    }, function (states) {
                        if (states) {
                            for (var i = 0; i < states.length; i++) {
                                options += '<option value="' + states[i].STATE_CODE + '">' + states[i].STATE + '</option>';
                            }
                        }
                         bindState.html(options);
                        //bindState.append(options);
                    }, 'json');
                } else {
                    //#statedropdown.html(options);
                }
            });
        </script>
    }

</section>
