﻿@model LS.Data.Model.Accounts.UserModel


<script type="text/javascript">

    @{
        var val = Json.Encode(Model);
    }

    function CategoryChanged(value) {
        
        //var check = @Html.Raw(val);
        var check = $(value).val();

            $.ajax({
                type: 'GET',
                url: "App/RegisterCustomer",
                data: check,
                contentType: 'application/json; charset=utf-8',
                dataType: "html",
                success : function(html) {
                    html(html);
                    // or a similar method.
                }

            });
        };




</script>




@*<form action='@Url.Action("Register", "App")' method="post" enctype="multipart/form-data" id="attachmentForm">*@
@using (Html.BeginForm("Register", "App", FormMethod.Post))
{
    
    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 input-group margin-vertical-20">

        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            @Html.DropDownListFor(m => m.CompanyName, new SelectList(ViewBag.Companies, "CustomerId", "CompanyName").Concat(new List<SelectListItem> {new SelectListItem {Text = "<New Company>", Value = "-1"}}), "--Select a Company--", new {@onchange = "if( $(this).val()==-1){document.location.href ='/App/RegisterCustomer';}", @class = "form-control border-radius4", @id = "companydropdown"})
            @*@onchange = "if( $(this).val()==0){document.location.href ='/App/RegisterCustomer';}*@
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <div class="alert alert-info fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong></strong> Can't find your company in the list? Choose "New Company" option to register it.
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 input-group margin-vertical-20  pull-left">

        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            @(Html.TextBoxFor(m => m.FirstName, new { @class = "form-control border-radius4", @placeholder = "First Name" }))
        </div>

        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            @(Html.TextBoxFor(m => m.LastName, new { @class = "form-control border-radius4", @placeholder = "Last Name" }))

        </div>
        <br />
        <span class="fontsize text-danger">
           @(Html.ValidationMessageFor(m => m.FirstName))
            @(Html.ValidationMessageFor(m => m.LastName))
        </span>
    </div>

    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 input-group margin-vertical-20">


        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            @(Html.TextBoxFor(m => m.Title, new {@class = "form-control border-radius4", @placeholder = "Title"}))

        </div>


        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            @(Html.TextBoxFor(m => m.Address1, new {@class = "form-control border-radius4", @placeholder = "Address"}))
        </div>
        <span class="fontsize text-danger">
            @(Html.ValidationMessageFor(m => m.Title))

            @(Html.ValidationMessageFor(m => m.Address1))
        </span>
    </div>


    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 input-group margin-vertical-20">

        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            @(Html.TextBoxFor(m => m.City, new {@class = "form-control border-radius4", @placeholder = "City"}))

        </div>


        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            @(Html.TextBoxFor(m => m.State, new {@class = "form-control border-radius4", @placeholder = "State"}))
        </div>
        <span class="fontsize text-danger">
            @(Html.ValidationMessageFor(m => m.City))

            @(Html.ValidationMessageFor(m => m.State))
        </span>
    </div>

    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 input-group margin-vertical-20">


        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            @(Html.TextBoxFor(m => m.Zip, new {@class = "form-control border-radius4", @placeholder = "Zip"}))

        </div>

        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            @(Html.TextBoxFor(m => m.Country, new {@class = "form-control border-radius4", @placeholder = "Country"}))
        </div>
        <span class="fontsize text-danger">
            @(Html.ValidationMessageFor(m => m.Zip))

            @(Html.ValidationMessageFor(m => m.Country))
        </span>
    </div>

    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 input-group margin-vertical-20">


        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            @(Html.TextBoxFor(m => m.Email, new {@class = "form-control border-radius4", @placeholder = "Your@email.com"}))

        </div>

        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            @(Html.TextBoxFor(m => m.Phone, new {@class = "form-control border-radius4", @placeholder = "Phone"}))
        </div>
        <span class="fontsize text-danger">
            @(Html.ValidationMessageFor(m => m.Email))

            @(Html.ValidationMessageFor(m => m.Phone))
        </span>
    </div>


    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 input-group margin-vertical-20">

        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">

            @Html.TextBoxFor(m => m.UserName, new {@class = "form-control border-radius4", @placeholder = "User Name"})
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            @(Html.PasswordFor(m => m.Password, new {@class = "form-control border-radius4", @placeholder = "Password"}))
        </div>
        <span class="fontsize text-danger">
            @(Html.ValidationMessageFor(m => m.UserName))

            @(Html.ValidationMessageFor(m => m.Password))
        </span>
    </div>

    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 input-group margin-vertical-20">

        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            @(Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control border-radius4", @placeholder = "Confirm Password"}))
        </div>
        <span class="fontsize text-danger">
            @(Html.ValidationMessageFor(m => m.ConfirmPassword))
        </span>
    </div>


    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-offset-3 col-sm-offset-3 col-lg-12 input-group margin-vertical-20">

        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            
            <button type="Submit" class="btn btn-block color-white background-color-green ">Register</button>
            <button class="btn btn-block color-white background-color-green " type="button" id="cancel">
                Cancel
            </button>
            @(Html.ValidationSummary(true, "Please correct the errors", new {@class = "text-danger"}))
        </div>
    </div>
}

