﻿@model LS.Data.Model.Accounts.ResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LayoutForAnonymousPages.cshtml";
}

@{
    var ImageName = "";
    if (string.IsNullOrEmpty(@HttpContext.Current.Session["ProductTitle"] as string))
    {

        ImageName = "MarketStudio.png";
    }
    else
    {
        var ProductTitle = @HttpContext.Current.Session["ProductTitle"].ToString();
        ImageName = ProductTitle + ".png";
    }


}

<section class="margin-top-60 margin-bottom-80">
    @using (Html.BeginForm("ResetPassword", "App", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="container">
            <div class="row">
                <h3 class="pageTitle text-center">Please enter details to reset password</h3>
                <div class="col-lg-offset-4 col-sm-offset-3 col-lg-4 col-sm-6  col-xs-12 padding-20">
                    <div class="border login-box text-center padding-20">
                        <img class="img-initial margin-vertical-20" src="~/Design/Login/assets/images/@ImageName" alt="Questudio">
                        <form>
                            <div>
                                @(Html.HiddenFor(m => m.UserName))
                            </div>
                            <div class="input-group margin-vertical-20" style="width:100%;">
                                @(Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password" }))

                                @(Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" }))
                            </div>
                            <div class="input-group margin-vertical-20" style="width:100%;">
                                @(Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" }))
                                @(Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" }))
                            </div>

                            <button type="Submit" id="saveButton" class="btn btn-block color-white background-color-green ">Reset Password</button>

                            <button class="btn btn-block color-white background-color-green " type="button" id="cancel">
                                Cancel
                            </button>

                            <br />
                            <div class="text-danger">
                                <div>
                                    @if (!string.IsNullOrEmpty(Model.ReturnMessage))
                                    {
                                        if (Model.ReturnMessage.Contains("Password changed successfully"))
                                        {
                                            <span class="text-info">@Model.ReturnMessage</span><br />
                                            @Html.ActionLink("Go to Login", "App", "LogOn")
                                        }
                                        else
                                        {
                                            <span class="text-danger">@Model.ReturnMessage</span>
                                        }

                                    }
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>


    }
    @section scripts{
        <script type="text/javascript">
            $(function () {
                $("#cancel").click(function () {
                    var baseUrl = $("base").first().attr("href");
                    location.href = baseUrl + "Accounts/LogOn"; //
                });
            });
        </script>
    }


</section>