﻿@model LS.Web.Common.PagedViewModel<LS.Data.Model.Accounts.RoleModel>
@using MvcContrib.UI.Grid
@using MvcContrib.UI.Grid.ActionSyntax
@section styles{
    <style>
        i.fa.fa-plus
        {
            color: #FFFFFF !important;
        }
    </style>
}
@*@{ 
    ViewBag.Title = "Roles List"; 
}*@
<h4>
    Roles</h4>
@*<p>
    Use the form below to manage roles.
</p>*@
@*<div class="btn-group" style="margin: 10px;">
    @(Html.ActionLink("Add New", "AddNewRole", "Account", htmlAttributes: new { @class = "btn btn-primary", @id = "editable-sample_new" }, routeValues: null))</div>*@
    <div class="btn-group">
        <a href="/Accounts/AddNewRole" class="btn btn-primary btn-xs" id="editable-sample_new">
            Add New <i class="fa fa-plus"></i>
        </a>      
    </div>
@*<div style="width: 99%; float: right; margin: 10px;">@(Html.ActionLink("Add New Role", "AddNewRole", "Account"))</div>*@
<br />
@{ Html.Grid(Model.PagedList)
       .Columns(column =>
       {
           column.For(x => x.RoleName);
       }).Sort(Model.GridSortOptions).Attributes(@class => "grid-style").Render();}
<div class="pagerBox">
    @*@{ Html.RenderPartial("Pager", Model.PagedList);}*@
</div>
