﻿@section styles{
    <style>
        .btn.btn-primary.btn-sm {
            background: none repeat scroll 0 0 #5895AB !important;
            border: 1px solid #5895AB !important;
            /*border-radius: 3px;*/
            font-size: 12px;
            line-height: 1.5;
        }

        input.fixedbox {
            width: 95%;
            margin: 4px;
        }

        .k-textbox {
            width: 100%;
        }

        .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
            position: absolute;
            margin-left: -20px;
            margin-top: -4px;
        }

        input.form-control.ng-invalid, span.ng-invalid {
            border: 1px solid #ED5931 !important;
        }

        a {
            cursor: pointer;
        }

        div.datee span.k-datepicker {
            margin-left: 2.9%;
        }

        .col-lg-2 {
            width: 22.667%;
        }

        .form-control {
            border: 1px solid #C1B49A;
            height: 29px;
            font-size: 13px;
        }

        #editable-sample_new {
            float: left;
        }

        #leftright {
            margin-right: 6%;
        }

        .pagination {
            border-radius: 4px;
            display: block;
            float: right;
            margin: 0;
        }

        .form-group {
            margin-bottom: 9px;
        }

        .table {
            margin-bottom: -3px;
        }

        @@media (max-width:700px) {
            #dashboard {
                width: 100%;
                overflow-y: scroll !important;
            }

            .k-dropdown, .k-dropdown-wrap {
                width: 90% !important;
            }
        }
    </style>
}
<div class="controller" ng-controller="UserListCtrl" ng-cloak>
    <div id="listView">
        <h3 style="text-align: center; color: #000;">
            Users
        </h3>
        <a href="/Accounts/Register" class="btn btn-primary btn-xs" id="editable-sample_new">
            Add
            New <i class="fa fa-plus"></i>
        </a>
        <div ng-show="totalPages > 1" class="align-center">
            <pagination total-items="totalItems" items-per-page="10" ng-model="pageSortCriteria.pageNumber"
                        ng-change="selectPage()" max-size="5" boundary-links="true"></pagination>
        </div>
        <div class="row" id="dashboard">
            <table class="table table-striped grid-style">
                <thead>
                    <tr>
                        <th style="width:10%;">
                            <sort-by onsort="onSort" sortdir="pageSortCriteria.sortDir" sortedby="pageSortCriteria.sortedBy" sortvalue="UserName">User Name</sort-by>
                        </th>
                        <th style="width:17%;">
                            <sort-by onsort="onSort" sortdir="pageSortCriteria.sortDir" sortedby="pageSortCriteria.sortedBy" sortvalue="FirstName">Name</sort-by>
                        </th>
                        <th style="width:17%;">
                            <sort-by onsort="onSort" sortdir="pageSortCriteria.sortDir" sortedby="pageSortCriteria.sortedBy" sortvalue="CustomerName">Customer Name</sort-by>
                        </th>
                        <th style="width:10%;">
                            <sort-by onsort="onSort" sortdir="pageSortCriteria.sortDir" sortedby="pageSortCriteria.sortedBy" sortvalue="Title">Title</sort-by>
                        </th>
                        <th style="width:10%;">
                            <sort-by onsort="onSort" sortdir="pageSortCriteria.sortDir" sortedby="pageSortCriteria.sortedBy" sortvalue="FullAddress">FullAddress</sort-by>
                        </th>
                        <th style="width:10%;">
                            <sort-by onsort="onSort" sortdir="pageSortCriteria.sortDir" sortedby="pageSortCriteria.sortedBy" sortvalue="Phone">Phone Number</sort-by>
                        </th>
                        <th style="width:10%;">
                            <sort-by onsort="onSort" sortdir="pageSortCriteria.sortDir" sortedby="pageSortCriteria.sortedBy" sortvalue="Email">Email</sort-by>
                        </th>
                        <th style="width:10%;">
                            Roles
                        </th>
                        <th style="width:13%;">
                            <a>Edit</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width:10%;">
                            <input on-blur-change="filterResult()" ng-model="filterCriteria.UserName" class="fixedbox" type="text" />
                        </td>
                        <td style="width:17%;">
                            <input on-blur-change="filterResult()" ng-model="filterCriteria.FirstName" class="fixedbox" type="text" />
                        </td>
                        <td style="width:17%;">
                            <input on-blur-change="filterResult()" ng-model="filterCriteria.CustomerName" class="fixedbox" type="text" />
                        </td>
                        <td style="width:10%;">
                            <input on-blur-change="filterResult()" ng-model="filterCriteria.Title" class="fixedbox" type="text" />
                        </td>
                        <td style="width:10%;">
                            <input on-blur-change="filterResult()" ng-model="filterCriteria.FullAddress" class="fixedbox" type="text" />
                        </td>
                        <td style="width:10%;">
                            <input on-blur-change="filterResult()" ng-model="filterCriteria.Phone" class="fixedbox" type="text" />
                        </td>
                        <td style="width:10%;">
                            <input on-blur-change="filterResult()" ng-model="filterCriteria.Email" class="fixedbox" type="text" />
                        </td>
                        <td style="width:13%;"></td>
                        <td style="width:13%;"></td>
                    </tr>

                    <tr ng-repeat="users in dataList">
                        <td>
                            {{users.UserName}}
                        </td>
                        <td>
                            {{users.FirstName}}&nbsp;{{users.LastName}}
                        </td>
                        <td>
                            {{users.CustomerName}}
                        </td>
                        <td>
                            {{users.Title}}
                        </td>
                        <td>
                            {{users.FullAddress}}
                        </td>
                        <td>
                            {{users.Phone}}
                        </td>
                        <td>
                            {{users.Email}}
                        </td>
                        <td>
                            {{users.UserRole}}
                        </td>
                        <td>
                            <a ng-href="/Accounts/EditUserProfile?UserName={{users.UserName}}"><i class="fa fa-pencil fa-lg"></i>&nbsp;&nbsp;Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="totalItems == 0">
            <br /><br /><h3>
                No Users Found
            </h3>
        </div>
    </div>

</div>
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Views/Accounts/UserListController.js?v=1")"></script>
}