﻿@{
    ViewBag.Title = "Product Specifications";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}

<script type="text/javascript" src='@Url.Content("~/Views/App/Product Specs/CKEDITOR.js")'></script>
<div ng-controller="ckeditorController" ng-cloak>
    <div id="treeViewDiv" style="max-height: 626px;">
        
        <div class="row margin-top-0" id="productgridtabstrip" navigatable="false" k-animation="false"  kendo-tab-strip k-content-urls="[ null, null]" style="max-width: 1250px;padding-left: 10px">
            <ul>
                <li id="lnkCategoryTab" class="k-state-active">Category</li>
                <li id="lnkFamilyTab">Family</li>
                <li id="lnkProductsTab">Products</li>
            </ul>
            <div style="padding: 1em">
                <div id="CategoryTab">
                    <div>
                        <form name="testform">
                            <p>
                                Username<br>
                                <input type="text" name="user" ng-model="user" required>
                                <span style="color:red" ng-show="testform.user.$dirty && testform.user.$invalid">
                                    <span ng-show="testform.user.$error.required">Username is required.</span>
                                </span>
                            </p>

                            <p>
                                Email<br>
                                <input type="email" name="email" ng-model="email" required>
                                <span style="color:red" ng-show="testform.email.$dirty && testform.email.$invalid">
                                    <span ng-show="testform.email.$error.required">Email is required.</span>
                                    <span ng-show="testform.email.$error.email">Invalid email address.</span>
                                </span>
                            </p>

                            <p>
                                <input type="submit"
                                       ng-disabled="testform.user.$dirty && testform.user.$invalid ||
  testform.email.$dirty && testform.email.$invalid">
                            </p>

                        </form>
                    </div>
                </div>
            </div>
            <div style="padding: 1em">
                <div id="FamilyTab">
                    <div>
                        asdasd
                    </div>
                </div>
            </div>
            <div style="padding: 1em; height: 641px;">
                <div id="ProductsTab">
                    <div>
                        asd
                    </div>
                </div>
            </div>
        </div>


    
    </div>
</div>
