﻿@{
    ViewBag.Title = "Product Specifications";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}
@section styles{
}
@*<link href="~/Design/Fixed-Header/scrollable-table.css" rel="stylesheet" />*@
<script type="text/javascript" src='@Url.Content("~/Views/App/Product Specs/familyProductController.js")'></script>
<script>
    $(document).ready(function () {
        $('tbody').scroll(function (e) {
            /*
            Setting the thead left value to the negative valule of tbody.scrollLeft will make it track the movement
            of the tbody element. Setting an elements left value to that of the tbody.scrollLeft left makes it maintain 			it's relative position at the left of the table.
            */
            $('thead').css("left", -$("tbody").scrollLeft()); //fix the thead relative to the body scrolling
            $('thead th:nth-child(-n+7)').css("left", $("tbody").scrollLeft()); //fix the first cell of the header
            $('tbody td:nth-child(-n+7)').css("left", $("tbody").scrollLeft()); //fix the first column of tdbody
            //$('thead th:nth-child(-n+7)').css("border-left-color", "#ddd");
            //$('thead th:nth-child(-n+7)').css("border-left-color", "#ddd");
            //$('thead th:nth-child(-n+7)').css({
            //    "border-color": "#ddd",
            //    "border-weight": "1px",
            //    "border-style": "solid"
            //});
            //$('tbody td:nth-child(-n+7)').css({
            //    "border-color": "#ddd ",
            //    "border-weight": "1px",
            //    "border-style": "solid"
            //});
        });
        var pressed = false;
        var start = undefined;
        var startX, startWidth;

        $("thead th").mousedown(function (e) {
            start = $(this);
            pressed = true;
            startX = e.pageX;
            startWidth = $(this).width();
            $(start).addClass("resizing");
        });
        $("thead th").mousemove(function (e) {
            if (pressed) {
                $(start).width(startWidth + (e.pageX - startX));
            }
        });
        $("thead th").mouseup(function (e) {
            if (pressed) {
                $(start).removeClass("resizing");
                pressed = false;
            }
        });
    });
     
</script>
<link href="~/Design/Fixed-Header/FixedColumn.css" rel="stylesheet" />
<div class=" main-content no-margin no-padding container" ng-controller="familyProductController" ng-cloak>
    <div class="row no-margin">
        <div id="dynamictabletest" style="max-width: 100%; font-size:10px;">
            <br />
            <div class="row product-pagination-top" id="productpagingtest1">
                <div class="pull-left" style="margin-left: 20px;">
                    <button class="gridpaging" type="button" ng-click="callProductGridPagingTest('1')"><span class="k-icon k-i-seek-w"></span></button>
                    <button class="gridpaging" type="button" ng-click="callProductGridPagingTest('PREV')"><span class="k-icon k-i-arrow-w"></span></button>
                    <div kendo-dropdownlist class="selectcss" id="cboProdPageCountupTest" style="width: 60px"
                         k-data-source="ProdPageCount"
                         ng-model="ProdCurrentPageTest"
                         k-on-change="callProductGridPagingTest(ProdCurrentPageTest)"></div>
                    <button class="gridpaging" type="button" ng-click="callProductGridPagingTest('NEXT')"><span class="k-icon k-i-arrow-e">Go to the next page</span></button>
                    <button class="gridpaging" type="button" ng-click="callProductGridPagingTest(totalProdPageCount)"><span class="k-icon k-i-seek-e">Go to the last page</span></button>
                </div>
                <div class="pull-right" style="margin-right: 20px;font-size: 15px;">
                    Items
                    <select kendo-drop-down-list class="selectcss" id="gridpagingProdItemsTest1" style="width: 60px "
                            ng-model="gridCurrentPageTest"
                            k-on-change="callProductGridPagePerTest(gridCurrentPageTest)">
                        <option>25</option>
                        <option>50</option>
                        <option>100</option>
                        <option>300</option>
                        <option>400</option>
                        <option style="width: 60px">500</option>

                    </select>
                </div>
            </div>
            <br />
            <br />


            @*<scrollable-table watch="prodData">    style="width:200px !important;max-width:200px !important;min-width:200px !important;"*@
            @*<scrollable-table watch="prodData">*@
            <table id="samplegrids" class="table table-bordered table-condensed table-striped" watch="prodData">
                <thead>
                    @*k-grid-header k-grid-header-wrap*@
                    <tr>
                        <th  class="k-header" ng-repeat="column in columnsForAtt" ng-if="column.Caption==='CATALOG_ID' ">
                                <a href="" class=" k-link"> Actions</a> 
</th>
                        <th class="k-header" ng-repeat="column in columnsForAtt" ng-if="column.Caption==='CATALOG_ID'" style="width:76px !important;max-width:76px !important;min-width:76px !important;">

                            <a href="" class="k-link" ng-if=" column.Caption!=='PUBLISH' && column.Caption!=='PUBLISH2PRINT' ">{{column.Caption.split('__')[0]}} </a>

                        </th>
                        <th class="k-header" ng-repeat="column in columnsForAtt" ng-if="column.Caption==='CATEGORY_ID'" style=" width:76px !important;max-width:76px !important;min-width:.76px !important;">

                            <a href="" class=" k-link" ng-if=" column.Caption!=='PUBLISH' && column.Caption!=='PUBLISH2PRINT' ">
                                {{column.Caption.split('__')[0]}}
                            </a>

                        </th>
                        <th class="k-header" ng-repeat="column in columnsForAtt" ng-if="column.Caption==='FAMILY_ID'" style="width:70px !important;max-width:70px !important;min-width:70px !important;">

                            <a href="" class="k-link" ng-if=" column.Caption!=='PUBLISH' && column.Caption!=='PUBLISH2PRINT' ">{{column.Caption.split('__')[0]}} </a>

                        </th>
                        <th class="k-header" ng-repeat="column in columnsForAtt" ng-if="column.Caption==='PRODUCT_ID'" style="width:76px !important;max-width:76px !important;min-width:76px !important;">
                            <a href="" class="k-link" ng-if=" column.Caption!=='PUBLISH' && column.Caption!=='PUBLISH2PRINT' ">{{column.Caption.split('__')[0]}} </a>

                        </th>
                        <th class="k-header" ng-repeat="column in columnsForAtt" ng-if="column.Caption==='SORT'" style="width:40px !important;max-width:40px !important;min-width:40px !important;">

                            <a href="" class="k-link" ng-if=" column.Caption!=='PUBLISH' && column.Caption!=='PUBLISH2PRINT' ">{{column.Caption.split('__')[0]}} </a>

                        </th>
                        <th class="k-header" ng-repeat="column in columnsForAtt" ng-if="column.Caption==='WORKFLOW STATUS'">

                            <a href="" class="k-link" ng-if=" column.Caption!=='PUBLISH' && column.Caption!=='PUBLISH2PRINT' ">{{column.Caption.split('__')[0]}} </a>

                        </th>
                        <th ng-repeat="column in columnsForAtt" class="k-header" style="word-wrap: break-word;overflow-wrap: break-word;" ng-if="column.Caption.split('__')[1] =='OBJ'">

                            <a href="" class="k-link" ng-if=" column.Caption!=='PUBLISH' && column.Caption!=='PUBLISH2PRINT' && column.Caption.split('__')[3]!== '6'
                    && column.Caption.split('__')[5]=== 'true' && column.Caption!=='SubProdCount' && column.Caption.split('__')[2]!== '1'">
                                <span class="publish">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{{column.Caption.split('__')[0]}}
                            </a>

                            <a href="" style="background-color:lightgreen;margin-left:-5px;border-radius: 8px;" class="k-link"
                               ng-if="column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT' && column.Caption!=='SubProdCount' &&  column.Caption.split('__')[3]=== '6'
                    && column.Caption.split('__')[5]=== 'true'&& column.Caption.split('__')[2]!== '1'"><span class="publishkey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{{column.Caption.split('__')[0]}}</a>

                            <a href="" class="k-link" ng-if=" column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT'
                    && column.Caption.split('__')[3]!== '6' && column.Caption.split('__')[5]=== 'false' && column.Caption!=='SubProdCount' && column.Caption.split('__')[2]!== '1'">{{column.Caption.split('__')[0]}}</a>
                            <a href="" class="k-link" ng-if=" column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT' &&column.Caption!=='SubProdCount' &&
                    column.Caption.split('__')[2]=== '1'" style="min-width: 80px">
                                <span class="publish">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>  {{column.Caption.split('__')[0]}}
                            </a>
                            <a style="background-color:lightgreen;margin-left:-5px;border-radius: 8px;" class="k-link" ng-if=" column.Caption!=='PUBLISH'
                    && column.Caption!=='PUBLISH2PRINT' &&  column.Caption.split('__')[3]=== '6'
                    && column.Caption.split('__')[5]=== 'false'&& column.Caption.split('__')[2]!== '1'"><span class="unpublishkey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{{column.Caption.split('__')[0]}}</a>

                        </th>
                        <th ng-repeat="column in columnsForAtt" class="k-header" style="word-wrap: break-word;overflow-wrap: break-word; " ng-if="column.Caption==='PUBLISH' || column.Caption==='PUBLISH2PRINT'">

                            <a href="" class="k-link" ng-if="column.Caption==='PUBLISH'">Web </a>

                            <a href="" class="k-link" ng-if="column.Caption==='PUBLISH2PRINT'">PDF</a>
                        </th>

                    </tr>
                </thead>
                <tbody class="">
                    <tr ng-repeat="Data in prodData" show-filter="true" class="table table-bordered table-condensed table-striped">
                        <td>

                            <a href='javascript:void(0);'><div title='Edit' class='glyphicon glyphicon-edit blue btn-xs-icon'></div></a>


                            <a href='javascript:void(0);'><div title='Preview' class='glyphicon glyphicon-th-list blue btn-xs-icon'></div></a>


                            <a href='javascript:void(0);'><div title='Detach' class='glyphicon glyphicon-remove-circle blue btn-xs-icon'></div></a>


                            <a href='javascript:void(0);'><div title='Delete' class='glyphicon glyphicon-remove blue btn-xs-icon'></div></a>

                        </td>
                        <td ng-repeat="column in columnsForAtt" style="text-align: right;width:76px !important;max-width:76px !important;min-width:76px !important;" ng-if="  column.Caption==='CATALOG_ID'">

                            <div sortable="'Data[ column.ColumnName]'">
                                {{Data[ column.ColumnName]}}
                            </div>

                        </td>
                        <td ng-repeat="column in columnsForAtt" style="text-align: left;width:76px !important;max-width:76px !important;min-width:76px !important;" ng-if="  column.Caption==='CATEGORY_ID'">

                            <div sortable="'Data[ column.ColumnName]'">
                                {{Data[ column.ColumnName]}}
                            </div>

                        </td>
                        <td ng-repeat="column in columnsForAtt" style="text-align: right;width:70px !important;max-width:70px !important;min-width:70px !important;" ng-if="  column.Caption==='FAMILY_ID'">

                            <div sortable="'Data[ column.ColumnName]'">
                                {{Data[ column.ColumnName]}}
                            </div>

                        </td>
                        <td ng-repeat="column in columnsForAtt" style="text-align: right;width:76px !important;max-width:76px !important;min-width:76px !important;" ng-if="  column.Caption==='PRODUCT_ID'">

                            <div sortable="'Data[ column.ColumnName]'">
                                {{Data[ column.ColumnName]}}
                            </div>

                        </td>

                        <td ng-repeat="column in columnsForAtt" style="text-align: right;width:40px !important;max-width:40px !important;min-width:40px !important;" ng-if="  column.Caption==='SORT'">

                            <div sortable="'Data[ column.ColumnName]'">
                                {{Data[ column.ColumnName]}}
                            </div>

                        </td>
                        <td ng-repeat="column in columnsForAtt" style="text-align: left;" ng-if="  column.Caption==='WORKFLOW STATUS'">

                            <div sortable="'Data[ column.ColumnName]'">
                                {{Data[ column.ColumnName]}}
                            </div>

                        </td>
                        <td ng-repeat="column in columnsForAtt" style="text-align: left;" ng-if=" column.Caption.split('__')[1] =='OBJ' ||  column.Caption==='Sort'" title="ITEM# :  {{Data['ITEM#__OBJ__1__1__false__true']}} &#xa;Sort : {{Data['SORT']}}">

                            <a ng-if=" column.Caption!=='PUBLISH' &&  column.Caption!=='PUBLISH2PRINT' &&  column.Caption!=='SubProdCount' && column.Caption.split('__')[2] !=='1' && !isnotNumber(Data[ column.ColumnName])" ng-class="{'cg-normal': column.EditEnabled == false}" style="text-align: left;float: right;">
                                <span data-ng-bind-html="trustAsHtml(Data[ column.ColumnName])"></span>
                            </a>
                            <a ng-if=" column.Caption!=='PUBLISH' &&  column.Caption!=='PUBLISH2PRINT' && column.Caption!=='SubProdCount' &&  column.Caption.split('__')[2] !=='1' && isnotNumber(Data[ column.ColumnName])" ng-class="{'cg-normal': column.EditEnabled == false}" style="text-align: left;float: left;">
                                <span data-ng-bind-html="trustAsHtml(Data[ column.ColumnName])"></span>
                            </a>

                            <a href="" ng-if=" column.Caption!=='PUBLISH' && column.Caption!=='SubProdCount' &&   column.Caption!=='PUBLISH2PRINT'  &&  column.Caption.split('__')[2] ==='1' && Data['SubProdCount']  " ng-class="{'cg-normal': column.EditEnabled == false}" ng-click="navigateprod(Data)" style="text-align: left;float: left;text-decoration: underline;">
                                {{Data[column.ColumnName]}}{{Data['SubProdCount']}}
                            </a>
                            <a ng-if=" column.Caption!=='PUBLISH' && column.Caption!=='SubProdCount' &&   column.Caption!=='PUBLISH2PRINT'  &&  column.Caption.split('__')[2] ==='1' && !Data['SubProdCount']  " ng-class="{'cg-normal': column.EditEnabled == false}" style="text-align: left;float: left;">
                                {{Data[column.ColumnName]}}
                            </a>
                        </td>
                        <td ng-repeat="column in columnsForAtt" style="text-align: left;" ng-if=" column.Caption==='PUBLISH' ||  column.Caption==='PUBLISH2PRINT'">
                            <a ng-if=" column.Caption=='PUBLISH'">
                                <input type="checkbox" class="chkoption" ng-model="Data[ column.ColumnName]" ng-trim="false" ng-true-value="'True'" ng-false-value="'False'" disabled>
                            </a>
                            <a ng-if=" column.Caption=='PUBLISH2PRINT'">
                                <input type="checkbox" class="chkoption" ng-model="Data[ column.ColumnName]" ng-trim="false" ng-true-value="'True'" ng-false-value="'False'" disabled>
                            </a>
                        </td>


                    </tr>
                </tbody>
            </table>
            @*</scrollable-table>*@



        </div>
    </div>


</div>