﻿
<div class="panel panel-default">
    <div style="height: auto;" class="panel-body panel-scroll ps-container">
        <ul class="nav nav-tabs" role="tablist" id="mycatalogsortingTab">
            <li class="active"><a href="#categorysortTab" data-toggle="tab" title="{{categorySortTab}}">Category</a></li>
            <li><a href="#familysortTab" data-toggle="tab" title="{{familySortTab}}">Product</a></li>
            <li><a href="#productsortTab" data-toggle="tab" title="{{productsSortTab}}">Item</a></li>
        </ul>
        <div class="tab-content" id="mycatalogsortingTabContent">
            <div id="categorysortTab" class="tab-pane fade in active">
                

                @{Html.RenderPartial("Catalog/CategorySort");}
            </div>
            <div id="familysortTab" class="tab-pane fade">
                @{Html.RenderPartial("Catalog/FamilySort");}
               

            </div>
            <div id="productsortTab" class="tab-pane fade">

                @{Html.RenderPartial("Catalog/ProductSort");}
            </div>

        </div>
    </div>
</div>