﻿
<script type="text/javascript" src='@Url.Content("~/Views/App/Catalog/catalogController.js")'></script>
<script src="~/Design/ng-table.js"></script>
<link rel="stylesheet" href="~/Design/ng-table.css">
<link href="~/Design/angular-block-ui.css" rel="stylesheet" />
<script>
    $(function () {
        $("#accordion").accordion({ collapsible: true });
    });

</script>
<style>
    /***File Upload CSS****/
    .file-upload {
        display: block;
        text-align: center;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
        margin: 0px !important;
        width: 193px;
        float: inherit;
        padding-left: 15px;
    }

        .file-upload .file-select {
            display: block;
            border: 2px solid #091f3f;
            cursor: pointer;
            height: 30px;
            line-height: 30px;
            text-align: left;
            background: #FFFFFF;
            overflow: hidden;
            position: relative;
        }

            .file-upload .file-select .file-select-button {
                background: #091f3f;
                padding: 0 10px;
                display: inline-block;
                height: 30px;
                line-height: 30px;
                color: #fff;
                font-size: 14px;
                font-weight: 100;
            }

            .file-upload .file-select .file-select-name {
                line-height: 30px;
                display: inline-block;
                padding: 0 10px;
                font-size: 14px;
            }

            .file-upload .file-select:hover {
                border-color: #4b9f46;
                transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
            }

                .file-upload .file-select:hover .file-select-button {
                    background: #4b9f46;
                    color: #FFFFFF;
                    transition: all .2s ease-in-out;
                    -moz-transition: all .2s ease-in-out;
                    -webkit-transition: all .2s ease-in-out;
                    -o-transition: all .2s ease-in-out;
                }



            .file-upload .file-select input[type=file] {
                z-index: 100;
                cursor: pointer;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                opacity: 0;
                filter: alpha(opacity=0);
            }

            .file-upload .file-select.file-select-disabled {
                opacity: 0.65;
            }

                .file-upload .file-select.file-select-disabled:hover {
                    cursor: default;
                    display: block;
                    border: 2px solid #dce4ec;
                    color: #34495e;
                    cursor: pointer;
                    height: 30px;
                    line-height: 30px;
                    margin-top: 5px;
                    text-align: left;
                    background: #FFFFFF;
                    overflow: hidden;
                    position: relative;
                }

                    .file-upload .file-select.file-select-disabled:hover .file-select-button {
                        background: #dce4ec;
                        color: #666666;
                        padding: 0 10px;
                        display: inline-block;
                        height: 30px;
                        line-height: 30px;
                    }

                    .file-upload .file-select.file-select-disabled:hover .file-select-name {
                        line-height: 30px;
                        display: inline-block;
                        padding: 0 10px;
                    }
</style>
<style>
    .k-widget.k-upload.k-header.k-upload-empty {
        height: 50px;
        border: 1px solid #fff;
    }


    .k-dropzone {
        padding-left: 3% !important;
        height: 30px;
        background: #fff;
    }

    .k-button.k-upload-button, button.k-button.k-clear-selected, button.k-button.k-upload-selected {
        border-radius: 0px;
        float: left;
    }

    button.k-button.k-clear-selected {
        display: none;
    }

    .k-file .k-icon {
        position: static !important;
    }

    button.k-button.k-clear-selected {
        margin-top: 4px;
        margin-left: 8px;
    }

    span.k-icon.k-i-warning {
        display: none !important;
    }

    div#extTreeView1492583379148 {
        max-height: 285px;
    }


    .form-group {
        margin-bottom: 10px;
    }

    .k-window-content.k-content {
        overflow: hidden;
    }
</style>

<style>
    .heightsample {
        height: 600px !important;
        width: 100%;
    }

    .form-group {
        margin-bottom: 10px;
    }
</style>
<script>
    function validateNumber(evt)
    {     
        var test = evt.keyCode;
        var keyCode = (evt.which) ? evt.which : evt.keyCode
        if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 122) && keyCode != 32 && keyCode != 46 && (keyCode < 48 || keyCode > 57)) {
            return false;
        }

        return true;
    }
</script>

<form name="Catalog_Details_Form" ng-controller="catalogController" ng-cloak>
    <div class="form-horizontal searchrow col-sm-12">

        <div class="searchrow1 col-sm-12">
            <div class="form-group margin-bottom-0">
                <div class="col-sm-1"></div>
                <div class="col-lg-10 margin-bottom-0">

                    <div class="col-sm-6">
                    <div class="col-sm-3 padding-0 textalignright margintop bold" id="new">
                       Current Catalog
                    </div>
                    <div class="col-sm-3 padding-0 textalignright margintop bold" id="mirror">
                        Clone Catalog
                    </div>
                    <div class="col-sm-5">
                        <select id="catalogddl" kendo-drop-down-list
                                k-rebind="true"
                                k-option-label="'--- New Catalog ---'"
                                k-data-text-field="'CATALOG_NAME'"
                                k-data-value-field="'CATALOG_ID'"
                                k-data-source="catalogDataSource"
                                k-on-change="catalogChange(kendoEvent)"
                                ng-model="Catalog.CATALOG_ID"
                                ng-disabled="!EditMode"
                                title="Catalog selection."
                                style="width: 210px" text-transform capitalize"></select>
                    </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-3 padding-0 textalignright margintop bold">
                            Name
                        </div>
                        <div class="col-sm-5">
                            <input type="text" name="catalogname" ng-model="Catalog.CATALOG_NAME" style="text-transform: capitalize;width: 210px !important;" title="Catalog name." maxlength="100" ng-trim="false" required>
                        </div>
                    </div>
                 </div>
            </div>



            <br />
            <div class="form-group">
                <div class="col-sm-1"></div>
                <div class="col-lg-10">
                    <div class="col-sm-6">
                        <div class="col-sm-3 padding-0 textalignright margintop bold">
                            Default Product
                        </div>
                        <div class="col-sm-5">
                            <input type="text" name="DFname" ng-model="DEFAULT_FAMILY_NAME" style="text-transform: capitalize;width: 210px !important;" title="Catalog name." maxlength="100" ng-trim="false" required readonly>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="col-sm-3 padding-0 textalignright margintop bold">
                            Description
                        </div>
                        <div class="col-sm-5">
                            <input type="text" name="description" ng-model="Catalog.DESCRIPTION" title="Catalog description." maxlength="500" ng-trim="false" style="width: 210px !important">
                        </div>
                    </div>


                    @*<div class="col-sm-1 padding-0 textalignright margintop bold">
                        Version
                    </div>
                    <div class="col-sm-2" style="width: 22%;">
                        <input type="text" name="version" onkeypress="return validateNumber(event);" ng-model="Catalog.VERSION" maxlength="50" ng-trim="false" style="width: 210px !important;">
                    </div>*@
                    @*<div class="col-sm-1 padding-0 textalignright margintop bold">
                        Mirror Catalog
                    </div>
                    <div class="col-sm-2">
                        <input type="checkbox" id="chk_mirror" ng-model="MirrorCatalog" ng-change="MirrorCatalogclick(MirrorCatalog)" style="margin-right: 5px;margin-top: 10px;">
                    </div>*@
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-1"></div>
                <div class="col-lg-10">
                    <div class="col-sm-6">


                        <div class="col-sm-3 padding-0 textalignright margintop bold">
                            Pdf Template
                        </div>

                        <div class="file-upload col-sm-5 padding-right-0" style="float: left;">
                            <div class="file-select">
                                @*<div class="file-select-button" id="fileName">Default Pdf Temsssplate</div>*@
                                <div class="file-select-name"  id="noFile">{{SelectedFileForUploadnameSetup}}</div>
                                <input type="file" title="{{MyFileUpload}}" name="chooseFile" accept=".mrt" onchange="angular.element(this).scope().selectFileforUploadRun_SetUp(this.files)" id="chooseFile">
                          <label>Select Template</label>
                              </div>
                        </div>

                        <button class="btn btn-primary btn-xs" style="height: 30px;" id="Clearcatalog" type="button" ng-click='ClearPdfTemplate()' title="Clear Pdf Template">
                            <i class="fa fa-close"></i>
                        </button>


                    </div>
                </div>
            </div>
        </div>

        <table width="100%">
            <tr>
                <td>
                    <div class="form-group center-block margin-top-5" align="center">
                        <button class="btn btn-primary btn-xs" id="newcatalog" type="button" ng-disabled="((userRoleAddCatalog) ?  false : true) || !EditMode" ng-click='newcatalog()' title="{{newCatalog}}">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button class="btn btn-primary btn-xs" id="savecatalog" type="button" ng-disabled="((userRoleModifyCatalog) ?  false : true) || !EditMode" ng-click='savecatalog(Catalog)' title="{{saveCatalog}}">
                            <i class="fa fa-save"></i>
                        </button>
                        <button class="btn btn-primary btn-xs" id="deletecatalog" ng-hide="cancelDeleteFlag" type="button" ng-disabled="(( userRoleDeleteCatalog) ?  false : true) || !EditMode" ng-click='deletecatalog(Catalog)' title="{{deleteCatalog}}">
                            <i class="fa fa-trash"></i>
                        </button>
                        <button class="btn btn-primary btn-xs" id="clearcatalog" ng-show="cancelDeleteFlag && (!Catalog_Details_Form.catalogname.$error.required)" type="button" ng-disabled="((Catalog_Details_Form.$valid && userRoleDeleteCatalog) ?  false : true) || !EditMode" ng-click='clearcatalog(Catalog)' title="{{clearCatalog}}">
                            <i class="fa fa-close"></i>
                        </button>
                        <button class="btn btn-primary btn-xs" id="cancelcatalog" ng-show="Catalog_Details_Form.catalogname.$error.required" type="button" ng-click='cancelNewcatalog(Catalog)' title="{{clearCatalog}}">
                            <i class="fa fa-ban"></i>
                        </button>
                        <button class="btn btn-primary btn-xs no-display" id="catalogattributes" type="button" ng-disabled="!Catalog_Details_Form.$valid" ng-click='selectcatalogattr(Catalog.CATALOG_ID)' title="{{catalogAttributes}}">
                            Attributes
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div role="alert" style="position: absolute;padding: 5px;">
        <table>
            <tr>
                <td>
                    <span class="error" ng-show="Catalog_Details_Form.catalogname.$error.required">
                        Please Enter a Catalog Name.
                    </span>
                </td>
            </tr>
        </table>
    </div>

    <div ng-hide="!EditMode" class="col-sm-12 no-padding" id="showcatalogTab">

        <div class="panel panel-default">
            <div style="height: auto;" class="panel-body panel-scroll ps-container">
                <ul class="nav nav-tabs" role="tablist" id="mycatalogTab">
                    <li class="active"><a href="#attributeTab" data-toggle="tab" title="{{catalogAttributesTab}}">Attribute</a></li>
                    <li><a href="#sortingTab" data-toggle="tab" title="{{catalogSortTab}}" ng-click="loadSortOrder()">Sort</a></li>
                    <li><a href="#attributePackTab" data-toggle="tab" title="Attribute Group">Attribute Group</a></li>
                    @*<li><a href="#filterTab" data-toggle="tab" title="{{catalogFilterTab}}">Filter</a></li>*@
                </ul>
                <div class="tab-content" id="mycatalogTabContent">
                    <div id="attributeTab" class="tab-pane fade in active">
                        <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;                                                       box-shadow: 0 1px 0 #2c232b inset;">
                            <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>Attribute
                        </div>
                        @{Html.RenderPartial("Catalog/CatalogAttributes");}
                    </div>
                    <div id="sortingTab" class="tab-pane fade">
                        @{Html.RenderPartial("Catalog/CatalogSort");}
                    </div>

                    <div id="attributePackTab" class="tab-pane fade">
                        <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;                                                       box-shadow: 0 1px 0 #2c232b inset;">
                            <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>Attribute Group
                        </div>
                        @{Html.RenderPartial("Catalog/CatalogAttributePack");}
                    </div>

                    @*<div id="attributePackTab" class="tab-pane fade">
                        <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;                                                       box-shadow: 0 1px 0 #2c232b inset;">
                            <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>Attribute
                        </div>
                        @{Html.RenderPartial("Catalog/CatalogAttributePack");}
                    </div>*@
                    @*<div id="filterTab" class="tab-pane fade">
                        <div class="col-sm-12" style="margin-top: 10px">
                            @{Html.RenderPartial("Catalog/CatalogFilters");}
                        </div>
                    </div>*@

                </div>
            </div>
        </div>
    </div>

</form>