﻿
<div class="col-sm-12" style="margin-top: 10px">
    <div id="accordion">
        <h3>Item Specifications ({{attrcount}})</h3>
        <div class="heightsample">
            <div kendo-grid options="productSpecificationsGridOptions">
            </div>
        </div>
        <h3 @*ng-click="loadproductimage()"*@>Item Image / Attachment ({{prodimageattrcount}})</h3>
        <div class="heightsample">
            <div kendo-grid options="productImageGridOptions">
            </div>
        </div>
        <h3 @*ng-click="loadproductprice()"*@>Item Price ({{prodpriceattrcount}})</h3>
        <div class="heightsample">
            <div kendo-grid options="productPriceGridOptions">
            </div>
        </div>
        <h3 @*ng-click="loadproductkey()"*@>Item Key ({{prodkeyattrcount}})</h3>
        <div class="heightsample">
            <div kendo-grid options="productKeyGridOptions">
            </div>
        </div>
        <h3 @*ng-click="loadfamilyattribute()"*@>Product Specifications ({{familyattrcount}})</h3>
        <div class="heightsample">
            <div kendo-grid options="familyAttributeGridOptions">
            </div>
        </div>

        <h3 @*ng-click="loadfamilyimage()"*@>Product Image / Attachment ({{familyimgcount}})</h3>
        <div class="heightsample">
            <div kendo-grid options="familyImageGridOptions">
            </div>

        </div>

        <h3 @*ng-click="loadfamilyprice()"*@>Product Price ({{familypricecount}})</h3>
        <div class="heightsample">
            <div kendo-grid options="familyPriceGridOptions">
            </div>
        </div>
        <h3 @*ng-click="loadfamilykey()"*@>Product Key ({{familykeycount}})</h3>
        <div class="heightsample">
            <div kendo-grid options="familyKeyGridOptions">
            </div>
        </div>

        <h3 @*ng-click="loadfamilydesc()"*@>Product Description ({{familydesccount}})</h3>
        <div class="heightsample">
            <div kendo-grid options="FamilyDescriptionGridOptions">
            </div>
        </div>

        <h3>Category Specifications ({{CatSpecscount}})</h3>
        <div class="heightsample">
            <div kendo-grid options="CategorySpecGridOptions">
            </div>
        </div>

        <h3>Category Image / Attachment ({{CatImagecount}})</h3>
        <div class="heightsample">
            <div kendo-grid options="CategoryImageGridOptions">
            </div>
        </div>

        <h3>Category Description  ({{CatDesccount}})</h3>
        <div class="heightsample">
            <div kendo-grid options="CategoryDescGridOptions">
            </div>
        </div>

    </div>
</div>
