﻿

<div class="panel panel-default">
    <div style="height: auto;" class="panel-body panel-scroll ps-container">
        <ul class="nav nav-tabs" role="tablist" id="mycatalogfilterTab">
            <li class="active"><a href="#familyfilterTab" data-toggle="tab" title="Filter Catalog Attributes By Family">Family Filter</a></li>
            <li><a href="#productfilterTab" data-toggle="tab" title="Filter Catalog Attributes By Product">Product Filter</a></li>

        </ul>
        <div class="tab-content" id="mycatalogfilterTabContent">
            <div id="familyfilterTab" class="tab-pane fade in active">
                @{Html.RenderPartial("Catalog/FamilyFilter");}
            </div>
            <div id="productfilterTab" class="tab-pane fade">
                @{Html.RenderPartial("Catalog/ProductFilter");}
            </div>


        </div>
    </div>
</div>