﻿<script>
    $(function () {
        $("#accordion1").accordion({ collapsible: true });
    });

</script>
<div class="col-sm-12" style="margin-top: 10px">
    <div id="accordion1">
        <h3>Product Groups ({{familyPackCount}})</h3>
        <div class="">
            <div kendo-grid options="familyAttributePackOptions">
            </div>
        </div>
        <h3>Item Groups ({{prodPackCount}})</h3>
        <div class="">
            <div kendo-grid options="productAttributePackOptions">
            </div>
        </div>
    </div>
</div>

