﻿<div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);                                                       background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;                                                       box-shadow: 0 1px 0 #2c232b inset;">
    <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>Category Sort
    <div class="panel-tools">
    </div>

</div>
<div class="col-sm-12">
   
    <div style="margin-top: 10px">
        <div kendo-grid options="mainGridOptions" ng-show="userRoleModifySort" id="grid" k-on-change="exchangeRows(dataItem,kendoEvent)">
        </div>
        <div kendo-grid options="mainGridOptionsWithoutSort" ng-show="!userRoleModifySort" id="grid2" k-on-change="exchangeRows(dataItem,kendoEvent)">
        </div>
        <script type="text/x-kendo-template" id="template">
            <div ng-show="userRoleModifySort" kendo-grid k-options="detailGridOptions(dataItem)" k-on-change="exchangeRows(dataItem,kendoEvent)"></div>
        </script>
        <script type="text/x-kendo-template" id="templatewithout">
            <div ng-show="!userRoleModifySort" kendo-grid k-options="detailGridOptionsWithoutSort(dataItem)" k-on-change="exchangeRows(dataItem,kendoEvent)"></div>
        </script>
    </div>
   
</div>
<div class="col-sm-12" style="margin-top: 15px">
   
   
        <div class="form-horizontal">
            <div class="margin-top-10 margin-bottom-10 bold">
                Auto Sort
            </div>
            <div class="form-group">
                <div class="col-sm-5 bold">
                    Sort Hierarchy by Category Name
                </div>
                <div class="col-sm-3">
                    <input id="categorynameascradio" type="radio" ng-model="categorynamesortvalue" ng-change="hideIt()" value="CATEGORY_NAME,Asc" />
                    Ascending&nbsp;&nbsp;&nbsp;&nbsp;

                    <input id="categorynamedescradio" type="radio" ng-model="categorynamesortvalue" ng-change="hideIt()" value="CATEGORY_NAME,Desc" />
                    Descending
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 bold">
                    Sort Hierarchy by Category ID
                </div>
                <div class="col-sm-3">
                    <input id="categoryidascradio" type="radio" ng-model="categorynamesortvalue" value="CATEGORY_ID,Asc" ng-change="logIt()" />
                    Ascending&nbsp;&nbsp;&nbsp;&nbsp;

                    <input id="categoryiddescradio" type="radio" ng-model="categorynamesortvalue" value="CATEGORY_ID,Desc" ng-change="logIt()" />
                    Descending
                    <br />
                    <span id="categoryids">
                        <input id="categoryidascradio" type="radio" ng-model="categoryidvalue" value="0" />
                        Sort as Text
                        <br />
                        <input id="categoryiddescradio" type="radio" ng-model="categoryidvalue" value="1" />
                        Sort as Number
                        <br />
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-5 bold">
                            Sort all Products for entire catalog based on Attribute(ASC)
                </div>
                <div class="col-sm-3">
                    <select id="attributedropdown" kendo-drop-down-list
                            k-option-label="'--- Select Category Attribute ---'"
                            k-data-text-field="'ATTRIBUTE_NAME'"
                            k-data-value-field="'ATTRIBUTE_ID'"
                            k-data-source="catalogCategoryattrDataSource"
                            k-on-change="onAttributeSelected(kendoEvent)"
                            ng-model="selectedAttrVal"
                            style="width:225px"></select>
                    <br />
                    @*<span id="familyids">
                        <br />
                        <input id="familyidascradio" type="radio" ng-model="familyidvalue" value="0" />
                        Sort as Text
                        <br />
                        <br />
                        <input id="familyiddescradio" type="radio" ng-model="familyidvalue" value="1" />
                        Sort as Number

                        <br />
                    </span>*@
                </div>
            </div>

            <table width="100%" align="center">
                <tr>
                    <td>
                        <div class="col-sm-12 form-group center-block margin-bottom-5">

                            <button style="width:100px;" class="btn btn-primary btn-xs" type="button" ng-click='sortcategoryorder()' title="{{sortCategories}}">
                                Sort
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
   
   
</div>
