﻿<div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);                                                       background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;                                                       box-shadow: 0 1px 0 #2c232b inset;">
    <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>Family Filter
    <div class="panel-tools">
    </div>
</div>
<div class="col-sm-12">
    <div style="margin: 0 auto; text-align: center;">
        @*<button ng-click="addField()" class="btn btn-primary btn-xs" style="width: 100px"> ++ Filter</button>*@
        <button ng-click="addNew()" class="btn btn-primary btn-xs" style="width: 100px" ng-disabled="!userRoleAddFilter" title="{{addFamilyFilter}}"> Add Filter</button>
        <button ng-click="familySaveField()" class="btn btn-primary btn-xs" style="width: 100px" ng-disabled="!userRoleModifyFilter" title="{{saveFamilyFilter}}"><i class="fa fa-save"></i></button>
    </div>
    <br />
    <div ng-repeat="item in itemsToAdd">
        @*<div ng-repeat="field in data.fields">*@
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-3" style="width: 275px;">
                    @*<select kendo-drop-down-list ng-model="field.Attribute_id"*@
                    <select kendo-drop-down-list ng-model="item.Attribute_id"
                            k-option-label="'-- Select Family Attribute --'"
                            k-data-text-field="'ATTRIBUTE_NAME'"
                            k-data-value-field="'ATTRIBUTE_ID'"
                            k-data-source="catalogfamilyattrDataSource"
                            k-on-change="familyattrChange(kendoEvent,item)"
                            style="width:235px"></select>
                </div>
                <div class="col-sm-3" style="width: 275px;">
                    @*<select demo-display="field" kendo-drop-down-list style="width: 180px;" ng-model="field.Condition">*@
                    <select demo-display="item" kendo-drop-down-list style="width: 235px;" ng-model="item.Operator">
                        <option value="=">Equal to</option>
                        <option value="Like">Contains</option>
                        <option value="&lt;&gt;">Not Equal to</option>
                    </select>
                </div>
                <div class="col-sm-3" style="width: 275px;">
                    @*<select demo-display="field" kendo-drop-down-list ng-model="field.Spec_Value"*@

                    <select demo-display="field" kendo-drop-down-list ng-model="item.Value"
                            k-option-label="'--- Select Family Spec value ---'"
                            k-data-text-field="'STRING_VALUE'"
                            k-data-value-field="'FAMILY_IDS'"
                            @*k-data-source="familyvalueDataSource | filter:{ATTRIBUTE_ID: item.Attribute_id}"*@
                            k-data-source="item.Spec_List"
                            style="width:235px"></select>
                </div>
                <div class="col-sm-3" style="width: 275px;">
                    @*<select demo-display="field" kendo-drop-down-list style="width: 180px;" ng-model="field.Spec_Condition">*@
                    <select demo-display="item" kendo-drop-down-list style="width: 235px;" ng-model="item.Condition">
                        <option value="NONE">NONE</option>
                        <option value="AND">AND</option>
                        <option value="OR">OR</option>
                    </select>
                </div>
                <div class="col-sm-1 padding-0" style="text-align: center;width: 37px;">
                    <button ng-click="Removefilter(item)" class="btn btn-primary btn-xs" ng-disabled="!userRoleDeleteFilter" style="height: 29px;padding-top: 3px;" title="{{removeFamilyFilter}}"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
            </div>

        </div>
    </div>

</div>
<hr />