﻿

<div class="col-sm-12 " style="margin-top: 10px; width:100%;">
   
    <div class="k-content margin-0">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-6">
                <div kendo-tree-view="tree" k-data-source="treeData"
                     k-on-change="selectedItem = dataItem" style="border: 1px solid #ccc;">
                    <span k-template>
                        <a class='k-link k-item' id="{{dataItem.id}}" ng-click='clickSelectedcategoryfamily(dataItem)'>({{dataItem.CATEGORY_SHORT}})&nbsp;{{dataItem.CATEGORY_NAME}}</a>
                    </span>
                </div>
            </div>
            <div class="col-sm-6">
                <div kendo-grid options="mainGridcategoryfamilyOptions" ng-show="userRoleModifySort" k-on-change="familyexchangeRows(dataItem,kendoEvent)" id="gridcategoryfamily"></div>
                
                <script type="text/x-kendo-template" id="templates">
                    <div kendo-grid k-options="detailGridcategoryfamilyOptions(dataItem)" ng-show="userRoleModifySort" k-on-change="familyexchangeRows(dataItem,kendoEvent)" id="gridcategoryfamily1" ></div>
                   
                </script>
                
                <div kendo-grid options="mainGridcategoryfamilyOptionsWithoutSort" ng-show="!userRoleModifySort" k-on-change="familyexchangeRows(dataItem,kendoEvent)" id="gridcategoryfamilyWithoutSort"></div>

                <script type="text/x-kendo-template" id="withouttemplates">
                    <div kendo-grid k-options="detailGridcategoryfamilyOptionsWithoutSort(dataItem)" ng-show="!userRoleModifySort" k-on-change="familyexchangeRows(dataItem,kendoEvent)"  id="gridcategoryfamilyWithoutSort1"></div>

                </script>
            </div>
        </div>
    </div>
    </div>
   
</div>
<div class="col-sm-12" style="margin-top: 15px">
  
  
    <div class="form-horizontal">
        <div class="margin-top-10 margin-bottom-10 bold">
            Auto Sort
        </div>
        <div class="form-group">

            <div class="col-sm-5 bold">
                Sort by Product Name 
            </div>
            <div class="col-sm-3">

                <input id="familynameascradio" type="radio" ng-model="familynamesortvalue" ng-change='newValue("FAMILY_NAME,ASC")' value="FAMILY_NAME,ASC" />
                Ascending&nbsp;&nbsp;&nbsp;&nbsp;

                <input id="familynamedescradio" type="radio" ng-model="familynamesortvalue" ng-change='newValue("FAMILY_NAME,DESC")' value="FAMILY_NAME,DESC" />
                Descending                
            </div>



        </div>
        <div class="form-group">
            <div class="col-sm-5 bold">
                Sort all Products for entire catalog (within the category) 
            </div>
            <div class="col-sm-3">

                <input id="familyallcatalogascradio" type="radio" ng-model="familynamesortvalue" ng-change='newValue("AllCatalog,Asc")' value="AllCatalog,Asc" />
                Ascending&nbsp;&nbsp;&nbsp;&nbsp;

                <input id="familyallcatalogdescradio" type="radio" ng-model="familynamesortvalue" ng-change='newValue("AllCatalog,Desc")' value="AllCatalog,Desc" />
                Descending
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5 bold">
                Sort all Products for entire catalog based on Attribute(ASC) 
            </div>
            <div class="col-sm-3">
                <select id="attributedropdown" kendo-drop-down-list
                        k-option-label="'--- Select Product Attribute ---'"
                        k-data-text-field="'ATTRIBUTE_NAME'"
                        k-data-value-field="'ATTRIBUTE_ID'"
                        k-data-source="catalogfamilyattrDataSource"
                        k-on-change="onAttributeSelected(kendoEvent)"
                        ng-model="selectedAttrVal"
                        style="width:225px"></select>
                <br />
                <span id="familyids">
                    <br />
                    <input id="familyidascradio" type="radio" ng-model="familyidvalue" value="0" />
                    Sort as Text
                    <br />
                    <br />
                    <input id="familyiddescradio" type="radio" ng-model="familyidvalue" value="1" />
                    Sort as Number

                    <br />
                </span>
            </div>
        </div>
        <table width="100%" align="center">
            <tr>
                <td>
                    <div class="center-block margin-bottom-5">

                        <button style="width:100px;" class="btn btn-primary btn-xs" type="button" ng-click='sortfamilyorder()' title="{{sortFamilies}}">
                            Sort
                        </button>
                    </div>
                </td>
            </tr>
        </table>

    </div>
   
   
</div>
