﻿
<div class="col-sm-12 " style="margin-top: 10px; width:100%;">
    
    <div class="k-content margin-0">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-6">
                    <div kendo-tree-view="tree" k-data-source="treeData"
                         k-on-change="selectedItem = dataItem" style="border: 1px solid #ccc;">
                        <span k-template>
                            <a class='k-link k-item' id="{{dataItem.id}}" ng-click='clickSelectedcategoryfamilyProduct(dataItem)'>({{dataItem.CATEGORY_SHORT}})&nbsp;{{dataItem.CATEGORY_NAME}}</a>
                        </span>
                    </div>
                </div>   
                <div class="col-sm-6">
                    <div kendo-grid options="mainGridcategoryfamilyProductOptions" id="gridcategoryfamilyForProduct"></div>
                    
                </div>             
            </div>
        </div>
    </div>
   
</div>
<div class="col-sm-12">
   
   
    <div class="form-horizontal">
       <div class="margin-top-10 margin-bottom-10 bold">
            Sort all Items based on
        </div>

        <div class="form-group">
            <div class="col-sm-3 margintop bold">
                Attribute 1
            </div>
            <div class="col-sm-8">
                <select kendo-drop-down-list
                        k-option-label="'--- Select Item Attribute ---'"
                        k-data-text-field="'ATTRIBUTE_NAME'"
                        k-data-value-field="'ATTRIBUTE_ID'"
                        k-data-source="catalogproductattrDataSource"
                        k-on-change="attributedrpchange(kendoEvent)"
                        ng-model="selectedAttribute"
                        style="width: 225px;margin-right: 15px;"></select>
                <input id="productattrascradio" type="radio" ng-model="productAttrSortValue" value="asc" />
                Ascending&nbsp;&nbsp;&nbsp;&nbsp;

                <input id="productattrdescradio" type="radio" ng-model="productAttrSortValue" value="desc" />
                Descending

            </div>
        </div>
        <div class="form-group" id="productattribute1">
            <div class="col-sm-3 margintop bold">
                Attribute 2
            </div>
            <div class="col-sm-8">
                <select kendo-drop-down-list
                        k-option-label="'--- Select Item Attribute ---'"
                        k-data-text-field="'ATTRIBUTE_NAME'"
                        k-data-value-field="'ATTRIBUTE_ID'"
                        k-data-source="catalogproductattrDataSource"
                        k-on-change="attributedrpchange1(kendoEvent)"
                        style="width: 225px;margin-right: 15px;"></select>
                <input id="productattr2ascradio" type="radio" ng-model="productAttrSortValue2" value="asc" />
                Ascending&nbsp;&nbsp;&nbsp;&nbsp;

                <input id="productattr2descradio" type="radio" ng-model="productAttrSortValue2" value="desc" />
                Descending

            </div>
        </div>
        <div class="form-group" id="productattribute2">
            <div class="col-sm-3 margintop bold">
                Attribute 3
            </div>
            <div class="col-sm-8">
                <select kendo-drop-down-list
                        k-option-label="'--- Select Product Attribute ---'"
                        k-data-text-field="'ATTRIBUTE_NAME'"
                        k-data-value-field="'ATTRIBUTE_ID'"
                        k-data-source="catalogproductattrDataSource"
                        k-on-change="attributedrpchange2(kendoEvent)"
                        style="width: 225px;margin-right: 15px;"></select>
                <input id="productattr3ascradio" type="radio" ng-model="productAttrSortValue3" value="asc" />
                Ascending&nbsp;&nbsp;&nbsp;&nbsp;

                <input id="productattr3descradio" type="radio" ng-model="productAttrSortValue3" value="desc" />
                Descending

            </div>
        </div>
        <div class="form-group" id="productattribute3">
            <div class="col-sm-3 margintop bold">
                Attribute 4
            </div>
            <div class="col-sm-8">
                <select kendo-drop-down-list
                        k-option-label="'--- Select Product Attribute ---'"
                        k-data-text-field="'ATTRIBUTE_NAME'"
                        k-data-value-field="'ATTRIBUTE_ID'"
                        k-data-source="catalogproductattrDataSource"
                        k-on-change="attributedrpchange3(kendoEvent)"
                        style="width: 225px;margin-right: 15px;"></select>
                <input id="productattr4ascradio" type="radio" ng-model="productAttrSortValue4" value="asc" />
                Ascending&nbsp;&nbsp;&nbsp;&nbsp;

                <input id="productattr4descradio" type="radio" ng-model="productAttrSortValue4" value="desc" />
                Descending

            </div>
        </div>
        <div class="form-group" id="productattribute4">
            <div class="col-sm-3 margintop bold">
                Attribute 5
            </div>
            <div class="col-sm-8">
                <select kendo-drop-down-list
                        k-option-label="'--- Select Product Attribute ---'"
                        k-data-text-field="'ATTRIBUTE_NAME'"
                        k-data-value-field="'ATTRIBUTE_ID'"
                        k-data-source="catalogproductattrDataSource"
                        k-on-change="attributedrpchange4(kendoEvent)"
                        style="width:225px;margin-right: 15px;"></select>
                <input id="productattr5ascradio" type="radio" ng-model="productAttrSortValue5" value="asc" />
                Ascending&nbsp;&nbsp;&nbsp;&nbsp;

                <input id="productattr5descradio" type="radio" ng-model="productAttrSortValue5" value="desc" />
                Descending

            </div>
        </div>
        <table width="100%" align="center">
            <tr>
                <td>
                    <div class="col-sm-12 form-group center-block margin-bottom-5">

                        <button style="width:100px;" class="btn btn-primary btn-xs" type="button" ng-disabled="!userRoleModifySort" ng-click='productsortorder()' title="{{sortProducts}}">
                            Sort
                        </button>
                    </div>
                </td>
            </tr>
        </table>

    </div>
   
   
</div>
