﻿<div class="panel-heading" style="background-image: url('../../../Design/assets/kendo/styles/textures/glass-lighter.png');  background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0; box-shadow: 0 1px 0 #2c232b inset; ">
    <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>Product Filter
    <div class="panel-tools">
    </div>

</div>
<div class="col-sm-12">

    <div style="margin: 0 auto; text-align: center;">
        <button ng-click="prodaddField()" class="btn btn-primary btn-xs" ng-disabled="!userRoleAddFilter" style="width: 100px" title="{{addProductFilter}}"> Add Filter</button>
        <button ng-click="productSaveField()" class="btn btn-primary btn-xs" ng-disabled="!userRoleModifyFilter" style="width: 100px" title="{{saveProductFilter}}"><i class="fa fa-save"></i></button>
    </div>

    <br />
    @*<div ng-repeat="field in proddata.fields">*@
    <div ng-repeat="field in prodItemsToAdd">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-3" style="width: 275px;">
                    <select kendo-drop-down-list ng-model="field.Attribute_id" @*ng-change="prodattrChange(field)"*@
                            k-option-label="'--Select Product Attribute--'"
                            k-data-text-field="'ATTRIBUTE_NAME'"
                            k-data-value-field="'ATTRIBUTE_ID'"
                            k-data-source="catalogproductattrDataSource"
                            k-on-change="prodattrChange(kendoEvent,field)"
                            style="width:235px"></select>
                </div>
                <div class="col-sm-3" style="width: 275px;">
                    @*<select demo-display="field" kendo-drop-down-list style="width: 180px;" ng-model="field.Condition">*@
                    <select demo-display="field" kendo-drop-down-list style="width: 235px;" ng-model="field.Operator">
                        <option value="=">Equal to</option>
                        <option value="Like">Contains</option>
                        <option value="&lt;&gt;">Not Equal to</option>
                        <option value="&gt;">Greater than</option>
                        <option value="&lt;">Lesser Than</option>
                        <option value="&gt;=">Greater than or Equal</option>
                        <option value="&lt;=">Lesser Than or Equal</option>
                        <option value="is null;=">Null</option>
                        <option value="is not null">Not Null</option>                       
                    </select>
                </div>
                <div class="col-sm-3" style="width: 275px;">
                    @*<select demo-display="field" kendo-drop-down-list ng-model="field.Spec_Value"*@
                 
                    <select demo-display="field" kendo-drop-down-list ng-model="field.Value"
                            k-option-label="'--Select Spec Value--'"
                            k-data-text-field="'STRING_VALUE'"
                            k-data-value-field="'STRING_VALUE'"
                            k-data-source="field.Spec_List"
                            style="width:235px"></select>
                  
                </div>
                <div class="col-sm-3" style="width: 275px;">
                    @*<select demo-display="field" kendo-drop-down-list style="width: 180px;" ng-model="field.Spec_Condition">*@
                    <select demo-display="field" kendo-drop-down-list style="width: 235px;" ng-model="field.Condition">
                        <option value="NONE">NONE</option>
                        <option value="AND">AND</option>
                        <option value="OR">OR</option>
                    </select>

                </div>
                <div class="col-sm-1 padding-0" style="text-align: center;width: 37px;">
                    <button ng-click="ProdRemovefilter(field)" ng-disabled="!userRoleDeleteFilter" class="btn btn-primary btn-xs" style="height: 29px;padding-top: 3px;" title="{{removeProductFilter}}"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />