﻿

@*<link href="@Url.Content("~/Design/assets/kendo/styles/kendo.blueopal.css")" rel="stylesheet" type="text/css" />*@
<link href="@Url.Content("~/Design/assets/kendo/styles/kendo.common.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Design/assets/kendo/styles/kendo.common.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Design/assets/kendo/styles/kendo.offline.css")" rel="stylesheet" type="text/css" />
@*<link href="@Url.Content("~/Design/assets/kendo/styles/kendo.blueopal.min.css")" rel="stylesheet" type="text/css" />*@
<link href="@Url.Content("~/Design/assets/kendo/styles/kendo.custom_style.css")" rel="stylesheet" type="text/css" />

<link href="~/Design/css/kendo.ext.css" rel="stylesheet" />
<script src="~/Scripts/kendo.web.ext.js"></script>
<style>
    .cathead {
        margin-left: 30px;
    }

    span.k-picker-wrap.k-state-default {
        width: 169px;
    }

    span.k-in {
        width: 200px;
    }

    .demo-section {
        margin: 0px auto 0px auto !important;
    }

    .k-grid td {
        white-space: nowrap;
    }

    .titleblue {
        margin-top: 5px;
    }


    .demo-section {
        padding: 10px !important;
    }

    span.k-widget.k-datetimepicker.k-header.ng-pristine.ng-untouched.ng-invalid.ng-invalid-required.k-input {
        background: none;
    }

    .testwebservice {
        height: 28px;
        margin-left: -10px;
        position: absolute;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .k-datetimepicker {
        width: 198px;
    }

    .websync {
        background: #fff;
        padding-bottom: 0px;
        padding-top: 20px;
        border: 1px solid #ccc;
    }

    input#start, input#end {
        width: 100% !important;
    }

    .modified {
        background-color: limegreen;
    }

    .pending {
        background-color: yellow;
    }

    .CategoryCloneWebSync {
        background-image: url("../Images/WebSync/CategoryClone.png");
        position: absolute;
    }

    #custom-menu1, #custom-menuFam {
        z-index: 99999;
        position: absolute;
        border: solid 2px ButtonHighlight;
        /*background-color: #13688c;*/
        padding: 5px 0;
        display: none;
        cursor: pointer;
    }



    .k-treeview .k-sprite {
        margin-right: -20px;
    }

    #custom-menu1 ol, #custom-menuFam ol {
        padding: 0;
        margin: 0;
        list-style-type: none;
        min-width: 130px;
        width: auto;
        max-width: 200px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
        font-size: 12px;
    }

        #custom-menu1 ol li, #custom-menuFam ol li {
            margin: 0;
            display: block;
            list-style: none;
            padding: 5px 5px;
        }

            #custom-menu1 ol li:hover, #custom-menuFam ol li:hover {
                color: darkslateblue;
                /*background-color: #0066aa;*/
                background-color: white;
            }

            #custom-menu1 ol li a:hover, #custom-menuFam ol li a:hover {
                color: darkmagenta;
                /*background-color: #0066aa;*/
                background-color: white;
            }

            #custom-menu1 ol li:active, #custom-menuFam ol li:active {
                color: White;
                background-color: #000;
            }

        #custom-menu1 ol .list-devider, #custom-menuFam ol .list-devider {
            padding: 0px;
            margin: 0px;
        }

            #custom-menu1 ol .list-devider hr, #custom-menuFam ol .list-devider hr {
                margin: 2px 0px;
            }

        #custom-menu1 ol li a, #custom-menuFam ol li a {
            /*color: white;*/
            text-decoration: none;
            display: block;
            padding: 0px 5px;
        }

            #custom-menu1 ol li a:active, #custom-menuFam ol li a:active {
                color: White;
            }

    .categoryWebSync {
        background-image: url("../Design/treeview/oie_20114226Ib9m9Kwt.png");
        position: absolute;
    }

    .familyWebSync {
        background-image: url("../Design/treeview/22_16.png");
        position: absolute;
    }

    .subfamilyWebSync {
        background-image: url("../Design/treeview/SubFamily_16x16.png");
        position: absolute;
    }

    .producttreeWebSync {
        background-image: url("../Design/treeview/product.png");
        position: absolute;
    }
    .subproducttreeWebSync {
        background-image: url("../Design/treeview/Subproducticon.png");
        position: absolute;
    }

    .famspecstreeWebSync {
        background-image: url("../Images/WebSync/f_16_p.png");
        position: absolute;
    }

    div#Synchronize {
        max-height: 600px;
        height: auto;
        min-height: 475px;
    }

    #showName {
        height: auto;
        overflow: hidden;
        border: 1px solid #bbdceb;
        padding: 10px;
        padding-top: 40px;
    }
</style>

<style>
    #importcontainer
     {
        border: 1px solid #ddd;
        padding: 5px;
    }

    #importtitle {
        float: left;
        padding: 0 5px;
        margin: -30px 0 0 30px;
        background: #fff;
        color: #4b9f46;
    }

    div#importcontainer {
        margin-bottom: 30px;
        padding: 20px;
    }

    button#testWebLink {
        height: 28px;
        border-radius: 0px 4px 4px 0px !important;
    }

    #websynccontainer {
        border: 1px solid #ddd;
        padding: 20px;
    }

    #websynctitle {
        float: left;
        padding: 0 5px;
        margin: -30px 0 0 30px;
        background: #fff;
        color: #4b9f46;
    }

    div#websyncontainer {
        margin-bottom: 30px;
        padding: 20px;
    }
</style>
<div class="col-sm-12" style="float:left">
    <div class="col-sm-12">
        <div id="CatBody" class="form-horizontal">

            <div id="accordion1">
                <!--Application Settings-->

                <div id="importcontainer">
                    <div id="importtitle" class="bold">Application Settings</div>

                    <div id="formDataView">
                        <div class="row form-group">
                            <div class="col-sm-3 bold textalignright padding-right-0">
                                Display IDs
                            </div>
                            <div class="col-sm-3">
                                <div class="row margin-left-0">
                                    <div class="col-sm-3"><switch name="onOff" ng-model="NewProject.DisplayIDColumns" on="Yes" off="No"></switch></div>
                                </div>
                                @*<input id="Display_ID_Y" type="radio" ng-model="NewProject.DisplayIDColumns" ng-value="true" />
                                Yes
                                <input id="Display_ID_N" type="radio" ng-model="NewProject.DisplayIDColumns" ng-value="false" />
                                No*@
                            </div>
                            <div class="col-sm-3 bold textalignright padding-right-0">
                                Enable Workflow
                            </div>
                            <div class="col-sm-3">
                                <div class="row margin-left-0">
                                    <div class="col-sm-3"><switch name="onOff" ng-model="NewProject.EnableWorkFlow" on="Yes" off="No"></switch></div>
                                </div>
                                @*<input id="Workflow_Y" type="radio" ng-model="NewProject.EnableWorkFlow" ng-value="true" />
                                Yes
                                <input id="Workflow_N" type="radio" ng-model="NewProject.EnableWorkFlow" ng-value="false" />
                                No*@
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        @*<div class="col-sm-3 bold textalignright padding-right-0">
                            Family Level Multipletable Preview
                        </div>
                        <div class="col-sm-3">

                            <div class="row margin-left-0">
                                <div class="col-sm-3"><switch name="onOff" ng-model="NewProject.FamilyLevelMultitablePreview" on="Yes" off="No"></switch></div>
                            </div>
                        </div>*@

                        <div class="col-sm-3 bold textalignright padding-right-0">
                            SubProducts

                        </div>
                        <div class="col-sm-3">
                            <div class="row margin-left-0">


                                <div class="col-sm-3"><switch name="onOff" ng-model="NewProject.EnableSubProduct" on="Yes" off="No"></switch></div>
                            </div>

                            @*<input id="EnableSubProduct_Y" type="radio" ng-model="NewProject.EnableSubProduct" ng-value="true" class="ng-pristine ng-untouched ng-valid" name="8" value="true">
                            Yes
                            <input id="EnableSubProduct__N" type="radio" ng-model="NewProject.EnableSubProduct" ng-value="false" class="ng-pristine ng-untouched ng-valid" name="9" value="false">
                            No*@
                        </div>

                        <div class="col-sm-3 bold textalignright padding-right-0">
                            Allow Duplicate Items
                        </div>
                        <div class="col-sm-3">

                            <div class="row margin-left-0">
                                <div class="col-sm-3"><switch name="onOff" ng-model="NewProject.AllowDuplicateItem_PartNum" on="Yes" off="No"></switch></div>
                            </div>
                            @*<input id="Duplicate_Y" type="radio" ng-model="NewProject.AllowDuplicateItem_PartNum" ng-value="true" />
                            Yes
                            <input id="Duplicate_N" type="radio" ng-model="NewProject.AllowDuplicateItem_PartNum" ng-value="false" />
                            No*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 bold textalignright padding-right-0">
                            Attribute Pack
                        </div>
                        <div class="col-sm-3">

                            <div class="row margin-left-0">
                                <div class="col-sm-3"><switch name="onOff" ng-model="NewProject.ProductLevelMultitablePreview" on="Yes" off="No"></switch></div>
                            </div>
                            @*<input id="ProductPreview_Y" type="radio" ng-model="NewProject.ProductLevelMultitablePreview" ng-value="true" />
                            Yes
                            <input id="ProductPreview_N" type="radio" ng-model="NewProject.ProductLevelMultitablePreview" ng-value="false" />
                            No*@
                        </div>
                        <div class="col-sm-3 bold textalignright padding-right-0" style="margin-top: 4px;">
                            Set Master Catalog
                        </div>
                        <div class="col-sm-3 padding-left-30">
                            <select id="catalogddl" kendo-drop-down-list
                                    k-rebind="true"
                                    k-option-label="'--- Select Catalog ---'"
                                    k-data-text-field="'CATALOG_NAME'"
                                    k-data-value-field="'CATALOG_ID'"
                                    k-data-source="catalogDataSource"
                                    k-on-change="customerCatalogChange(kendoEvent)"
                                    ng-model="NewProject.Customer_MasterCatalog"
                                    style="width:210px;text-transform: capitalize"></select>

                        </div>
                    </div>

                    <!--Application Settings . To change the catalogItem no and Sub Item Catalog number .  End-->
                    <div class="row" id="idCatalogValues" style="padding-top:20px">
                        <div class="col-sm-3 bold textalignright padding-right-0">
                            Display Item No:
                        </div>
                        <div class="col-sm-3" style="padding-left:30px">

                            <input type="text" style="width: 210px !important;border-radius: 4px 0px 0px 4px !important;" ng-model="CatalogItemNumber " />
                        </div>
                        <div class="col-sm-3 bold textalignright padding-right-0" style="margin-top: 4px;">
                            Select ImageConverter
                        </div>
                        <div class="col-sm-3 padding-left-30">


                            <select kendo-drop-down-list ng-model="ConvertionType"
                                    k-ng-model="ImagepageConvertType"
                                    k-data-source="ImageConvert"
                                    style="width:210px;text-transform: capitalize"></select>

                            @*</kendo-drop-down-list>*@
                        </div>
                    </div>
                    <div ng-show="NewProject.ENABLESUBPRODUCT">
                        <div class="col-sm-3 bold textalignright padding-right-0">
                            Display SubItem No:
                        </div>
                        <div class="col-sm-3" style="padding-left:30px">

                            <input type="text" style="width: 210px !important;border-radius: 4px 0px 0px 4px !important;" ng-model="CatalogSubItemNumber " />

                        </div>
                    </div>
                </div>
                <!--Application Settings End-->
                <!--Application Settings End-->
                <!--Import Settings-->

                <div id="importcontainer">
                    <div id="importtitle" class="bold">Import Settings</div>
                    <div class="row">

                        <div class="col-sm-3 bold textalignright padding-right-0">
                            Validate Items
                        </div>
                        <div class="col-sm-3">

                            <div class="row margin-left-0">
                                <div class="col-sm-3"><switch name="onOff" ng-model="NewProject.SubCatalog_Items" on="Yes" off="No"></switch></div>
                            </div>

                            @*<input id="validateCatalogItem_Y" type="radio" ng-model="NewProject.SubCatalog_Items" ng-value="1" />
                            Yes
                            <input id="validateCatalogItem_N" type="radio" ng-model="NewProject.SubCatalog_Items" ng-value="0" />
                            No*@

                        </div>
                    </div>
                </div>

                <!--Import Settings End-->
                <!--Picklist Settings-->

                <div id="importcontainer" style="margin-bottom: 20px;">
                    <div id="importtitle" class="bold">PickList Settings</div>
                    <div class="row">

                        <div class="col-sm-3 bold textalignright padding-right-0">
                            PickList Update
                        </div>
                        <div class="col-sm-3">

                            <div class="row margin-left-0">
                                <div class="col-sm-3"><switch name="onOff" ng-model="NewProject.ShowCustomAPPS" on="Yes" off="No"></switch></div>
                            </div>
                            @*<input id="CustomAPPS_Y" type="radio" ng-model="NewProject.ShowCustomAPPS" ng-value="true" />
                            Yes
                            <input id="CustomAPPS_N" type="radio" ng-model="NewProject.ShowCustomAPPS" ng-value="false" />
                            No*@
                        </div>
                    </div>

                </div>
                <!--Picklist Settings Ends-->
                <div id="websynccontainer" style="margin-bottom:20px;">
                    <div id="websynctitle" class="bold">WebSync Setting </div>
                    <div class="row">

                        <div class="col-sm-3 bold textalignright margin-top-5 padding-right-0">
                            WebSync URL
                        </div>
                        <div class="row col-sm-2 margin-left-0 padding-left-30">
                            <input type="text" style="width: 175px !important;border-radius: 4px 0px 0px 4px !important;" ng-disabled="!webSyncModifiedEnabled" ng-model="NewProject.WebcatSyncURL" />
                        </div>
                        <div class="row col-sm-1 padding-left-0">
                            <button class="btn btn-primary btn-sm" id="testWebLink" type="button" ng-click='checkWebApiConnection()'>
                                Test
                            </button>
                        </div>
                        <div class="col-sm-3 bold textalignright padding-right-0">
                            Allow Image/PDF Attachement
                        </div>
                        <div class="col-sm-3">

                            <div class="row margin-left-0">
                                <div class="col-sm-3"><switch name="onOff" ng-model="NewProject.ImagePdfAttachemnt" on="Yes" off="No"></switch></div>
                            </div>
                        </div>


                        @*<input id="Duplicate_Y" type="radio" ng-model="NewProject.AllowDuplicateItem_PartNum" ng-value="true" />
                        Yes
                        <input id="Duplicate_N" type="radio" ng-model="NewProject.AllowDuplicateItem_PartNum" ng-value="false" />
                        No*@
                    </div>
                    <!--Application Settings . To change the catalogItem no and Sub Item Catalog number .  End-->
                    @*<div class="row" id="autoWebSync" style="padding-top:20px">
                        <div class="col-sm-3 bold textalignright padding-right-0">
                            Auto WebSync:
                        </div>
                        <div class="col-sm-3" style="padding-left:30px">

                            <div class="col-sm-3"><switch name="onOff" ng-model="NewProject.autoWebSync" on="Yes" off="No"></switch></div>
                        </div>

                        <div>
                            <div class="col-sm-3 bold textalignright padding-right-0">
                                ScheduleDate:
                            </div>
                            <div class="col-sm-3" style="padding-left:30px">
                                <div class="col-sm-4 padding-right-0"><input type="text" name="searchtxt" placeholder="Date from" id="start" ng-model="webSyncFromDate" ng-trim="false" required></div>
                            </div>
                        </div>
                    </div>*@
                    <!--Application Settings End-->
                </div>
            </div>

        </div>

        </div>
        <div class="col-sm-12" align="center">
            <button class="btn btn-primary btn-xs" type="button" ng-click='savecatalog()' title="{{saveApplicationSettings}}"><i class="fa fa-save"></i></button>
            <button class="btn btn-primary btn-xs" type="button" ng-click='btnresetclick()' title="Reset Changes"><i class="fa fa-rotate-right"></i></button>
        </div>
    </div>

<div class="col-sm-3">
    <div role="alert">
        <table>
            <tr>
                <td>
                    <span class="error" ng-show="App_Pref_Form.filepath.$error.required">
                        Please enter a File path.
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="error" ng-show="App_Pref_Form.tempPath.$error.required">
                        Please enter a Temporary File Path.
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="error" ng-show="App_Pref_Form.tecurl.$error.required">
                        Please enter the Tech Support URL.
                    </span>

                </td>
            </tr>
            <tr>
                <td>
                    <span class="error" ng-show="App_Pref_Form.syncurl.$error.required">
                        Please enter the Webcat Sync URL.
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="error" ng-show="App_Pref_Form.webserviceurl.$error.required">
                        Please enter the Whiteboard Webservice URL.
                    </span>
                </td>
            </tr>
        </table>


    </div>
</div>





<script>
    $(document).ready(function () {
        function startChange() {
            var startDate = start.value(),
            endDate = end.value();

            if (startDate) {
                startDate = new Date(startDate);
                startDate.setDate(startDate.getDate());
                end.min(startDate);
            } else if (endDate) {
                start.max(new Date(endDate));
            } else {
                endDate = new Date();
                start.max(endDate);
                end.min(endDate);
            }
        }

        function endChange() {
            var endDate = end.value(),
            startDate = start.value();

            if (endDate) {
                endDate = new Date(endDate);
                endDate.setDate(endDate.getDate());
                start.max(endDate);
            } else if (startDate) {
                end.min(new Date(startDate));
            } else {
                endDate = new Date();
                start.max(endDate);
                end.min(endDate);
            }
        }

        var today = kendo.date.today("dd/MM/yyyy");

        var start = $("#start").kendoDatePicker({
            value: today,
            change: startChange,
            Format: ["dd/MM/yyyy"]
        }).data("kendoDatePicker");

        var end = $("#end").kendoDatePicker({
            value: today,
            change: endChange,
            Format: ["dd/MM/yyyy"]
        }).data("kendoDatePicker");

        start.max(end.value());
        end.min(start.value());

        function startChangeError() {
            var startDate = start1.value(),
            endDate = end1.value();

            if (startDate) {
                startDate = new Date(startDate);
                startDate.setDate(startDate.getDate());
                end1.min(startDate);
            } else if (endDate) {
                start1.max(new Date(endDate));
            } else {
                endDate = new Date();
                start1.max(endDate);
                end1.min(endDate);
            }
        }

        function endChangeError() {
            var endDate = end1.value(),
            startDate = start1.value();

            if (endDate) {
                endDate = new Date(endDate);
                endDate.setDate(endDate.getDate());
                start1.max(endDate);
            } else if (startDate) {
                end1.min(new Date(startDate));
            } else {
                endDate = new Date();
                start1.max(endDate);
                end1.min(endDate);
            }
        }

        var today = kendo.date.today("dd/MM/yyyy");

        var start1 = $("#Errorstart").kendoDatePicker({
            value: today,
            change: startChangeError,
            Formats: ["dd/MM/yyyy"]
        }).data("kendoDatePicker");

        var end1 = $("#Errorend").kendoDatePicker({
            value: today,
            change: endChangeError,
            Formats: ["dd/MM/yyyy"]
        }).data("kendoDatePicker");

        start1.max(end1.value());
        end1.min(start1.value());



        function startChangeDBError() {
            var startDate = start2.value(),
            endDate = end2.value();

            if (startDate) {
                startDate = new Date(startDate);
                startDate.setDate(startDate.getDate());
                end2.min(startDate);
            } else if (endDate) {
                start2.max(new Date(endDate));
            } else {
                endDate = new Date();
                start2.max(endDate);
                end1.min(endDate);
            }
        }

        function endChangeDBError() {
            var endDate = end2.value(),
            startDate = start2.value();

            if (endDate) {
                endDate = new Date(endDate);
                endDate.setDate(endDate.getDate());
                start2.max(endDate);
            } else if (startDate) {
                end2.min(new Date(startDate));
            } else {
                endDate = new Date();
                start2.max(endDate);
                end2.min(endDate);
            }
        }

        var today = kendo.date.today("dd/MM/yyyy");

        var start2 = $("#DBErrorstart").kendoDatePicker({

            value: today,
            change: startChangeDBError,
            Formats: ["dd/MM/yyyy"]
        }).data("kendoDatePicker");

        var end2 = $("#DBErrorend").kendoDatePicker({
            value: today,
            change: endChangeDBError,
            Formats: ["dd/MM/yyyy"]
        }).data("kendoDatePicker");

        start2.max(end2.value());
        end2.min(start2.value());

    });
</script>