﻿
<div class="col-sm-12" style="float:left">
    <form name="catalog_Pref_Form">
        <div>
            <div id="CatBody" class="form-horizontal">
                <div id="accordion1">
                    <div class="heightsample">
                        <div id="formDataView">


                            <div class="row">
                                <div class="col-sm-2 required-field">
                                    Catalog File Path
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" name="catalogpath" ng-model="NewProject.CatalogFilePath" id="CFP" ng-trim="false" required>

                                </div>
                                <div class="col-sm-2">
                                    Catalog Template Path
                                </div>
                                <div class="col-sm-3 required-field">
                                    <input type="text" name="templatepath" ng-model="NewProject.CatalogTemplatePath" id="temporary" ng-trim="false" required>
                                </div>
                            </div>
                            <div class="row"><div>&nbsp;</div></div>

                            <div class="row">
                                <div class="col-sm-2">
                                    Catalog XML Path
                                </div>
                                <div class="col-sm-3 required-field">
                                    <input type="text" name="xmlpath" ng-model="NewProject.CatalogXMLPath" id="xml" ng-trim="false" required>
                                </div>
                                <div class="col-sm-2">
                                    Export\Import Path
                                </div>
                                <div class="col-sm-3 required-field">
                                    <input type="text" name="exportpath" ng-model="NewProject.Export_ImportPath" id="expath" ng-trim="false" required>
                                </div>
                            </div>
                            <div class="row"><div>&nbsp;</div></div>
                            <div class="row">
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-3">
                                    <button class=" btn btn-primary btn-xs" type="button" ng-disabled="!catalog_Pref_Form.$valid" ng-click='savecatalogsettings()'>
                                        <i class="fa fa-save"></i>
                                    </button>
                                </div>
                                </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>


        <div role="alert">
            <table>
                <tr>
                    <td>
                        <span class="error" ng-show="catalog_Pref_Form.catalogpath.$error.required">
                            Please enter the Catalog File Path.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="error" ng-show="catalog_Pref_Form.templatepath.$error.required">
                            Please enter the Template Path.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="error" ng-show="catalog_Pref_Form.xmlpath.$error.required">
                            Please enter the  WebCat Catalog XML Path.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="error" ng-show="catalog_Pref_Form.exportpath.$error.required">
                            Please enter the   Export\Import Path.
                        </span>
                    </td>
                </tr>
            </table>





        </div>
    </form>
</div>


