﻿
<form name="Image_Pref_form">

    <div class="col-sm-12" style="float:left">

        <div>
            <div id="CatBody" class="form-horizontal">
                <div>

                    <div class="heightsample">
                        <div id="formDataView">

                            <div class="row"><div>&nbsp;</div></div>
                            <div class="row">@*  *@
                                @*<div class="col-sm-2">
                                        Image Path
                                    </div>
                                    <div class="col-sm-3 required-field">
                                        <input type="text" name="imagepath" ng-model="NewProject.ImagePath" id="IMP" ng-trim="false" required>
                                    </div>*@
                                <div class="col-sm-3 required-field">
                                    Image Conversion Utility Path 
                                </div>
                                <div class="col-sm-3">

                                    <input type="text" name="utilitypath" ng-model="NewProject.ImageConversionUtilityPath" id="ICMP" ng-trim="false" style="width:272px" readonly required>

                                </div>
                                @*<div>
                                        <input type="file" id="file_input" onchange="THRUST.remote.send(selectFolder(this))" webkitdirectory mozdirectory msdirectory odirectory directory multiple>
                                    </div>*@
                            </div>

                            <div class="row"><div>&nbsp;</div></div>
                            @*<div class="row">
                                    <div class="col-sm-2">
                                        WebCat Image Path
                                    </div>
                                    <div class="col-sm-3 required-field">
                                        <input type="text" name="webpath" ng-model="NewProject.WebCatImagePath" id="WIMP" ng-trim="false" required>
                                    </div>
                                    <div class="col-sm-2">
                                        Reference Table Image Path
                                    </div>
                                    <div class="col-sm-3 required-field">
                                        <input type="text" name="refpath" ng-model="NewProject.ReferenceTableImagePath" id="RIMP" ng-trim="false" required>
                                    </div>
                                </div>*@
                            <div class="row">
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-3">
                                    @*<button class=" btn btn-primary btn-xs" type="button" ng-disabled="!Image_Pref_form.$valid" ng-click='saveImageSettings()'>
                                        Save
                                    </button>*@
                                </div>
                            </div>
                            <div class="row"><div>&nbsp;</div></div>


                            @*<div class="row"><div>&nbsp;</div></div>*@
                            @*<div class="row"><div>Image Conversion Sizes:</div></div>*@
                            @*<div class="row">


                                    <div class="col-sm-2">
                                        <table>
                                            <tr>
                                                <td>
                                                    <div class="col-sm-3">
                                                        Image Conversion Size1
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-3">
                                                        <input type="text" ng-model="ImageSettings.Size1Width" id="IMCS1W" style="width:30px;">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-3">
                                                        <h5>X</h5>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-3">
                                                        <input type="text" ng-model="ImageSettings.Size1Hht" id="IMCS1H" style="width:30px;">

                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-3">
                                                        Folder Name
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="col-sm-3">
                                                        <input type="text" ng-model="ImageSettings.Size1Folder" id="IMCS1F">
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>
                                <div class="row">


                                    <div class="col-sm-2">
                                        <table>
                                            <tr>
                                                <td>
                                                    <div class="col-sm-3">
                                                        Image Conversion Size2
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-3">
                                                        <input type="text" ng-model="ImageSettings.Size2Width" id="IMCS2W" style="width:30px;">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-3">
                                                        <h5>X</h5>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-3">
                                                        <input type="text" ng-model="ImageSettings.Size2Hht" id="IMCS2H" style="width:30px;">

                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-3">
                                                        Folder Name
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="col-sm-3">
                                                        <input type="text" ng-model="ImageSettings.Size2Folder" id="IMCS2F">
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <table>
                                            <tr>
                                                <td>
                                                    <div class="col-sm-3">
                                                        Image Conversion Size3
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-3">
                                                        <input type="text" ng-model="ImageSettings.Size3Width" id="IMCS3W" style="width:30px;">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-3">
                                                        <h5>X</h5>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-3">
                                                        <input type="text" ng-model="ImageSettings.Size3Hht" id="IMCS3H" style="width:30px;">

                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-3">
                                                        Folder Name
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="col-sm-3">
                                                        <input type="text" ng-model="ImageSettings.Size3Folder" id="IMCS3F">
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <table>
                                            <tr>
                                                <td>
                                                    <div class="col-sm-3">
                                                        Image Conversion Size4
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-3">
                                                        <input type="text" ng-model="ImageSettings.Size4Width" id="IMCS4W" style="width:30px;">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-3">
                                                        <h5>X</h5>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-3">
                                                        <input type="text" ng-model="ImageSettings.Size4Hht" id="IMCS4H" style="width:30px;">

                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-3">
                                                        Folder Name
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="col-sm-3">
                                                        <input type="text" ng-model="ImageSettings.Size4Folder" id="IMCS4F">
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <table>
                                            <tr>
                                                <td>
                                                    <div class="col-sm-3">
                                                        Image Conversion Size5
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-3">
                                                        <input type="text" ng-model="ImageSettings.Size5Width" id="IMCS5W" style="width:30px;">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-3">
                                                        <h5>X</h5>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-3">
                                                        <input type="text" ng-model="ImageSettings.Size5Hht" id="IMCS5H" style="width:30px;">

                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-3">
                                                        Folder Name
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="col-sm-3">
                                                        <input type="text" ng-model="ImageSettings.Size5Folder" id="IMCS5F">
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <table>
                                            <tr>
                                                <td>
                                                    <div class="col-sm-3">
                                                        Image Conversion Size6
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-3">
                                                        <input type="text" ng-model="ImageSettings.Size6Width" id="IMCS6W" style="width:30px;">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-3">
                                                        <h5>X</h5>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-3">
                                                        <input type="text" ng-model="ImageSettings.Size6Hht" id="IMCS6H" style="width:30px;">

                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-3">
                                                        Folder Name
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="col-sm-3">
                                                        <input type="text" ng-model="ImageSettings.Size6Folder" id="IMCS6F">
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>*@
                        </div>
                    </div>


                </div>
            </div>

        </div>


        <div role="alert">
            <table>
                <tr>
                    <td>

                        <span class="error" ng-show="Image_Pref_form.imagepath.$error.required">
                            Please Enter Valid Data.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="error" ng-show="Image_Pref_form.utilitypath.$error.required">
                            Please enter the Image Conversion Utility Path.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="error" ng-show="Imageform.webpath.$error.required">
                            Please enter the  WebCat Image Path.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="error" ng-show="Image_Pref_form.refpath.$error.required">
                            Please enter the Reference Table Image Path.
                        </span>

                    </td>
                </tr>
            </table>




        </div>

    </div>


</form>
