﻿@{
    ViewBag.Title = "MarketStudio Preferences";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}
<script src="~/Scripts/aes.js"></script>
<script type="text/javascript" src='@Url.Content("~/Views/App/Admin/dashboardController.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Views/App/Preference/PreferenceController.js")'></script>
@section styles{
}
    <div class="main-content">
        @*<section class="wrapper">*@
        <div class="row">
            @*<section class="panel"></section>*@
            <div class="row no-margin">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse1">
                    <span class="clip-list-2"></span>
                </button>
            </div>
            <div class="container no-padding" ng-controller="PreferenceController" ng-cloak>
                <div class="row no-margin">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body panel-scroll ps-container" id="myTab1">
                                <ul class="nav nav-tabs" role="tablist" id="myTab">
                                    <li class="active" id="ApplicationTab"><a href="#CategoryTab" data-toggle="tab" title="{{applicationSettings}}">Application Settings</a></li>
                                    @*<li id="lnkFamilyTab" class=""><a href="#FamilyTab" data-toggle="tab">Catalog Settings</a></li>*@
                                    @*<li id="lnkProductsTab" class=""><a href="#ProductsTab" data-toggle="tab">Image Settings</a></li>*@
                                    <li id="lnkUserSettingsTab" class=""><a href="#UserSettingsTab" data-toggle="tab" title="{{userSettings}}">User Settings</a></li>
                                    <li id="lnkorkflowTab" class=""><a href="#workflowTab" data-toggle="tab" title="{{workflowStatus}}">WorkFlow Status</a></li>
                                    @*<li id="lnkSaveSettingsTab" class=""><a href="#SaveSettingsTab" data-toggle="tab">Save Settings</a></li>*@
                                    @*<li id="lnkSampleURLTab" class=""><a href="#SampleURLTab" data-toggle="tab">SampleURL</a></li>*@
                                </ul>
                                <div class="tab-content" id="myTabContent">

                                    <div id="CategoryTab" class="tab-pane fade in active">
                                        @*@Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Application Settings</span>  </div>")
    <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);">
        <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>Application Settings
    </div>*@
                                        <div class="col-sm-12" style="margin-top: 10px">
                                            @{Html.RenderPartial("Preference/ApplicationSettings");}
                                        </div>
                                    </div>
                                    @*<div id="FamilyTab" class="tab-pane fade">
        @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\"Catalog Settings</span>  </div>")
        <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);
                                                                                                                                                                                                                                                                                                                                                                                                            background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;
                                                                                                                                                                                                                                                                                                                                                                                                            box-shadow: 0 1px 0 #2c232b inset;">
            <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>Catalog Settings
        </div>
        <div class="col-sm-12" style="margin-top: 10px">
            @{Html.RenderPartial("Preference/Catalogsettings");}
        </div>
    </div>*@
                                    <div id="ProductsTab" class="tab-pane fade">
                                        @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Image Settings</span>  </div>")
                                        <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       box-shadow: 0 1px 0 #2c232b inset;">
                                            <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>
                                            Image Settings
                                        </div>
                                        <div class="col-sm-12" style="margin-top: 10px">
                                            @{Html.RenderPartial("Preference/ImageSettings");}
                                        </div>
                                    </div>
                                    <div id="UserSettingsTab" class="tab-pane fade">
                                        @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">User Settings</span>  </div>")
                                        <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     box-shadow: 0 1px 0 #2c232b inset;">
                                            <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>
                                            User Settings
                                        </div>
                                        <div class="col-sm-12" style="margin-top: 10px">
                                            @{Html.RenderPartial("Preference/UserSettings");}
                                        </div>
                                    </div>
                                    <div id="SaveSettingsTab" class="tab-pane fade">
                                        @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Save Settings</span>  </div>")
                                        <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       box-shadow: 0 1px 0 #2c232b inset;">
                                            <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>
                                            Save Settings
                                        </div>
                                        <div class="col-sm-12" style="margin-top: 10px">
                                            @{Html.RenderPartial("Preference/SaveSettings");}
                                        </div>
                                    </div>
                                    <div id="workflowTab" class="tab-pane fade">
                                        @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">WorkFlow Status</span>  </div>")
                                        <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       box-shadow: 0 1px 0 #2c232b inset;">
                                            <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>
                                            WorkFlow Status
                                        </div>
                                        <div class="col-sm-12" style="margin-top: 10px">
                                            @{Html.RenderPartial("Preference/WorkFlowStatus");}
                                        </div>
                                    </div>
                                    @*<div id="SampleURLTab" class="tab-pane fade">
        @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">SampleURL</span>  </div>")
        <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       box-shadow: 0 1px 0 #2c232b inset;">
            <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>
            SampleURL
        </div>
        @*<div class="col-sm-12" style="margin-top: 10px">
            {Html.RenderPartial("Preference/SampleURL");}
            <button class="btn btn-primary btn-xs" type="button" ng-click='Encrypt()'>
                Encrypt
            </button>
        </div>
    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end: PAGE -->
            </div>
        </div>
    </div>


@section scripts{
}