﻿
<div class="col-sm-12" style="float:left">
    <form name="save_Pref_Form">
        <div>
            <div id="CatBody" class="form-horizontal">
                <div id="accordion1">
                    <div class="heightsample">
                        <div id="formDataView">
                            @*<div class="row">
                                    <button class="btn btn-primary" type="button" ng-click='Savesettings()'>
                                        Save
                                    </button>
                                </div>*@
                        </div>
                    </div>

                    <div class="heightsample">
                        <div id="formDataView">

                            <div class="row"><div>&nbsp;</div></div>
                            <div class="row">
                                <div class="col-sm-2">
                                    Export Configuration to
                                </div>
                                <div class="col-sm-3 required-field">
                                    <input type="text" name="exp_conf" ng-model="SaveSettings.Ex_config" id="Ex_config" ng-trim="false" required>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-primary btn-xs" type="button" ng-disabled="!save_Pref_Form.$valid" ng-click='Savesettings()' ng-trim="false" required title="Export">
                                        Export
                                    </button>
                                </div>
                            </div>
                            <div class="row"><div>&nbsp;</div></div>
                            <div class="row">
                                <div class="col-sm-2">
                                    Import Configuration to
                                </div>
                                <div class="col-sm-3">
                                    <input type="file" ng-model="SaveSettings.Imp_Config" id="Imp_Config">
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-primary btn-xs" type="button" ng-click='Savesettings()' title="Import">
                                        <div class="glyphicon glyphicon-import"></div>
                                    </button>
                                </div>
                            </div>


                            <div class="row"><div>&nbsp;</div></div>

                        </div>


                    </div>
                </div>

            </div>
        </div>
        <div role="alert">
            <span class="error" ng-show="save_Pref_Form.exp_conf.$error.required">
                Please enter the Export Configuration Field.
            </span>
        </div>
    </form>
</div>


