﻿

<form name="User_Pref_Form">

    <div class="col-sm-12" style="float:left">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div id="CatBody" class="form-horizontal">
                <div id="accordion1">
                    <div class="heightsample">
                        <div id="formDataView">
                            <div class="row form-group">
                                <div class="col-sm-3 bold textalignright padding-right-0">
                                    NewProject Category ID in Navigator
                                </div>
                                <div class="col-sm-3">
                                    <div class="row margin-left-0">
                                        <div class="col-sm-3"><switch name="onOff" ng-model="NewProject.DisplayCategoryIdinNavigator" on="Yes" off="No"></switch></div>
                                    </div>
                                   @*<input id="Display_ID_Y" type="radio" ng-model="NewProject.DisplayCategoryIdinNavigator" ng-value="true" />
                                        Yes
                                        <input id="Display_ID_N" type="radio" ng-model="NewProject.DisplayCategoryIdinNavigator" ng-value="false" />
                                        No*@
                                </div>
                               
                                <div class="col-sm-3 bold textalignright padding-right-0">
                                    NewProject Family and RelatedFamily ProductCount in Navigator
                                </div>
                                <div class="col-sm-3">
                                    <div class="row margin-left-0">
                                        <div class="col-sm-3"><switch name="onOff" ng-model="NewProject.DisplayFamilyandRelatedFamily" on="Yes" off="No"></switch></div>
                                    </div>

                                   @*<input id="Display_ID_Y" type="radio" ng-model="NewProject.DisplayFamilyandRelatedFamily" ng-value="true" />
                                        Yes
                                        <input id="Display_ID_N" type="radio" ng-model="NewProject.DisplayFamilyandRelatedFamily" ng-value="false" />
                                        No*@
                                </div>
                            </div>
                            
                            <div class="row form-group">
                                <div class="col-sm-3 bold textalignright padding-right-0">
                                    Upload Images/PDF for WebSync
                                </div>
                                <div class="col-sm-3">
                                    <div class="row margin-left-0">
                                        <div class="col-sm-3"><switch name="onOff" ng-model="NewProject.UploadImagesPDFForWebSync" on="Yes" off="No"></switch></div>
                                    </div>
                                  @*<input id="Display_ID_Y" type="radio" ng-model="NewProject.UploadImagesPDFForWebSync" ng-value="true" />
                                        Yes
                                        <input id="Display_ID_N" type="radio" ng-model="NewProject.UploadImagesPDFForWebSync" ng-value="false" />
                                        No*@
                                </div>
                                <div class="col-sm-3 bold textalignright padding-right-0">
                                    Create XML for selected Attributes to All Family
                                </div>
                                <div class="col-sm-3">
                                    <div class="row margin-left-0">
                                        <div class="col-sm-3"><switch name="onOff" ng-model="NewProject.CreateXMLForSelectedAttributesToAllFamily" on="Yes" off="No"></switch></div>
                                    </div>
                                  @*<input id="Display_ID_Y" type="radio" ng-model="NewProject.CreateXMLForSelectedAttributesToAllFamily" ng-value="true" />
                                        Yes
                                        <input id="Display_ID_N" type="radio" ng-model="NewProject.CreateXMLForSelectedAttributesToAllFamily" ng-value="false" />
                                        No*@
                                </div>
                            </div>
                            
                            <div class="row form-group">
                               
                                <div class="col-sm-12" align="center">
                                    <button class="btn btn-primary btn-xs" type="button" ng-disabled="!User_Pref_Form.$valid" ng-click='saveUsersettings()' title="{{saveUserSettings}}">
                                        <i class="fa fa-save"></i>
                                    </button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-1"></div>
    </div>
    </form>

