﻿
<div class="col-sm-12" style="float:left">
    <form name="Workflow_Form">
        <div>
            <div id="CatBody" class="form-horizontal">
                <div id="accordion1">
                    <div class="heightsample">
                        <div id="formDataView">
                            @*<div class="row">
                                    <button class="btn btn-primary" type="button" ng-click='Savesettings()'>
                                        Save
                                    </button>
                                </div>*@
                        </div>
                    </div>

                    <div class="heightsample">
                        <div id="formDataView">
                            <div class="col-sm-12">
                                @*<kendo-grid options="workflowGridOptions" id="workflowtab"></kendo-grid>*@
                               
                               
                                <div kendo-grid k-options="workflowGridOptions"></div>
                                
                            @*<button class="btn btn-primarybtn-info btn-xs" type="button"  ng-click='saveWorkflow()'>
                                Save
                            </button>*@ 

                        </div>


                    </div>
                </div>

            </div>
        </div>
       
    </form>
</div>


