﻿<div class="tab-pane">
    <div ng-show="showListView">
        <!--<button class="btn btn-primary" ng-click="add()">Add {{screenName}}</button>-->
        <div class="clearfix"></div>
        <br />
        <div kendo-grid k-options="appRolesGridOptions"></div>
    </div>
</div>