﻿<div class="tab-pane">
    <div ng-show="showListView">
        <button class="btn btn-primary" ng-click="add()">Add {{screenName}}</button>
        <div class="clearfix"></div>
        <br />
        <div kendo-grid k-options="appUsersGridOptions"></div>
    </div>
    <div ng-show="!showListView" ng-cloak class="ng-cloak">
        <form name="addEditAppUser" class="form-horizontal" novalidate>
            <h4>
                {{addOrEditMode}} {{screenName}}
            </h4>
            <p>
                Please enter a details below to {{addOrEditMode}} a {{screenName}}.
            </p>
            <div class="col-md-6 col-lg-6">                              
                <div class="form-group" ng-class="{ 'has-error':addEditAppUser.UserName.$invalid && formSubmitted }">
                    <label for="UserName" class="col-md-4 control-label">Login E-Mail Id</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="UserName" name="UserName" ng-model="selectedRow.UserName" placeholder="E-Mail" ng-minlength="3" ng-maxlength="512" required />
                        <span ng-show="addEditAppUser.UserName.$invalid && formSubmitted && addEditAppUser.UserName.$error.required" class="text-danger">Required.</span>
                        <span ng-show="addEditAppUser.UserName.$error.minlength" class="text-danger">Too short.</span>
                        <span ng-show="addEditAppUser.UserName.$error.maxlength" class="text-danger">Too long.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error':addEditAppUser.Password.$invalid && formSubmitted }">
                    <label for="Password" class="col-md-4 control-label">Password</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="Password" name="Password" ng-model="selectedRow.Password" placeholder="Password" ng-minlength="3" ng-maxlength="256" ng-required="IsAdd" ng-disabled="!IsAdd" />
                        <span ng-show="addEditAppUser.Password.$invalid && formSubmitted && addEditAppUser.Password.$error.required" class="text-danger">Required.</span>
                        <span ng-show="addEditAppUser.Password.$error.minlength" class="text-danger">Too short.</span>
                        <span ng-show="addEditAppUser.Password.$error.maxlength" class="text-danger">Too long.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error':addEditAppUser.ConfirmPassword.$invalid && formSubmitted }">
                    <label for="ConfirmPassword" class="col-md-4 control-label">Confirm Password</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" ng-model="selectedRow.ConfirmPassword" placeholder="Confirm Password" ng-minlength="3" ng-maxlength="256" ng-required="IsAdd" ng-disabled="!IsAdd" />
                        <span ng-show="addEditAppUser.ConfirmPassword.$invalid && formSubmitted && addEditAppUser.ConfirmPassword.$error.required" class="text-danger">Required.</span>
                        <span ng-show="addEditAppUser.ConfirmPassword.$error.minlength" class="text-danger">Too short.</span>
                        <span ng-show="addEditAppUser.ConfirmPassword.$error.maxlength" class="text-danger">Too long.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error':addEditAppUser.UserRoles.$invalid && formSubmitted }">
                    <label for="UserRoles" class="col-md-4 control-label">User Roles</label>
                    <div class="col-sm-6">                        
                        <ul style="list-style:none;">
                            <li ng-repeat="role in userRoleDatasource">
                                <!--<input type="checkbox" id="UserRoles" name="UserRoles" ng-checked="selectedRow.UserRoles.indexOf(role.RoleName) > -1"
                                       ng-click="toggleSelection(role.RoleName)" value="{{role.RoleName}}">&nbsp;<span>{{role.RoleName}}</span>-->
                                <input type="radio" id="UserRoles" name="UserRoles" ng-checked="selectedRow.UserRoles.indexOf(role.RoleName) > -1"
                                       ng-click="toggleSelection(role.RoleName)" value="{{role.RoleName}}">&nbsp;<span>{{role.RoleName}}</span>
                            </li>
                        </ul>
                        <br />
                        <span ng-show="addEditAppUser.UserRoles.$invalid && formSubmitted && addEditAppUser.UserRoles.$error.required" class="text-danger">Required.</span>
                    </div>
                </div>                
                <div class="form-group" ng-class="{ 'has-error':addEditAppUser.FirstName.$invalid && formSubmitted }">
                    <label for="FirstName" class="col-md-4 control-label">First Name</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="FirstName" name="FirstName" ng-model="selectedRow.FirstName" placeholder="FirstName" ng-minlength="3" ng-maxlength="100" required />
                        <span ng-show="addEditAppUser.FirstName.$invalid && formSubmitted && addEditAppUser.FirstName.$error.required" class="text-danger">Required.</span>
                        <span ng-show="addEditAppUser.FirstName.$error.minlength" class="text-danger">Too short.</span>
                        <span ng-show="addEditAppUser.FirstName.$error.maxlength" class="text-danger">Too long.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error':addEditAppUser.LastName.$invalid && formSubmitted }">
                    <label for="LastName" class="col-md-4 control-label">Last Name</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="LastName" name="LastName" ng-model="selectedRow.LastName" placeholder="LastName" ng-minlength="3" ng-maxlength="100" required />
                        <span ng-show="addEditAppUser.LastName.$invalid && formSubmitted && addEditAppUser.LastName.$error.required" class="text-danger">Required.</span>
                        <span ng-show="addEditAppUser.LastName.$error.minlength" class="text-danger">Too short.</span>
                        <span ng-show="addEditAppUser.LastName.$error.maxlength" class="text-danger">Too long.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error':addEditAppUser.Title.$invalid && formSubmitted }">
                    <label for="Title" class="col-md-4 control-label">Title</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="Title" name="Title" ng-model="selectedRow.Title" placeholder="Title" ng-maxlength="512" />
                        <span ng-show="addEditAppUser.Title.$error.maxlength" class="text-danger">Too long.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">               
                <div class="form-group" ng-class="{ 'has-error':addEditAppUser.Address1.$invalid && formSubmitted }">
                    <label for="Address1" class="col-md-4 control-label">Address Line 1</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="Address1" name="Address1" ng-model="selectedRow.Address1" placeholder="Address Line 1" ng-maxlength="512" />
                        <span ng-show="addEditAppUser.Address1.$error.maxlength" class="text-danger">Too long.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error':addEditAppUser.Address2.$invalid && formSubmitted }">
                    <label for="Address2" class="col-md-4 control-label">Address Line 2</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="Address2" name="Address2" ng-model="selectedRow.Address2" placeholder="Address Line 2" ng-maxlength="512" />
                        <span ng-show="addEditAppUser.Address2.$error.maxlength" class="text-danger">Too long.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error':addEditAppUser.City.$invalid && formSubmitted }">
                    <label for="City" class="col-md-4 control-label">City</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="City" name="City" ng-model="selectedRow.City" placeholder="City" ng-maxlength="512" />
                        <span ng-show="addEditAppUser.City.$error.maxlength" class="text-danger">Too long.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error':addEditAppUser.State.$invalid && formSubmitted }">
                    <label for="State" class="col-md-4 control-label">State</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="State" name="State" ng-model="selectedRow.State" placeholder="State" ng-maxlength="512" />
                        <span ng-show="addEditAppUser.State.$error.maxlength" class="text-danger">Too long.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error':addEditAppUser.Country.$invalid && formSubmitted }">
                    <label for="Country" class="col-md-4 control-label">Country</label>
                    <div class="col-sm-6">
                        <!--<input type="text" class="form-control" id="State" name="Country" ng-model="selectedRow.Country" placeholder="Country" ng-maxlength="126" />
                        <span ng-show="addEditAppUser.Country.$error.maxlength" class="text-danger">Too long.</span>-->
                        <select name="Country" kendo-drop-down-list
                                k-option-label="'Select'"
                                k-data-text-field="'CountryName'"
                                k-data-value-field="'CountryName'"
                                k-data-source="countriesDataSource" ng-model="selectedRow.Country" required></select>
                        <span ng-show="addEditAppUser.Country.$invalid && formSubmitted && addEditAppUser.Country.$error.required" class="text-danger">Required.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error':addEditAppUser.Zip.$invalid && formSubmitted }">
                    <label for="Zip" class="col-md-4 control-label">Zip</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="Zip" name="Zip" ng-model="selectedRow.Zip" placeholder="Zip" ng-maxlength="10" style="width:170px;" ng-pattern="regExPostalCode" />
                        <span ng-show="addEditAppUser.Zip.$error.maxlength" class="text-danger">Too long.</span>
                        <span ng-show="addEditLocationAddressForm.Zip.$invalid && formSubmitted && addEditLocationAddressForm.Zip.$error.pattern" class="text-danger">Invalid Format. Format Should be (12345)</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error':addEditAppUser.Phone.$invalid && formSubmitted }">
                    <label for="Phone" class="col-md-4 control-label">Phone</label>
                    <div class="col-sm-6">
                        <!--<input type="text" class="form-control" id="Phone" name="Phone" ng-model="selectedRow.Phone" placeholder="Phone" ng-maxlength="126" />
                        <span ng-show="addEditAppUser.Phone.$error.maxlength" class="text-danger">Too long.</span>-->

                        <input type="tel" kendo-masked-text-box k-mask="'000-000-0000'" class="form-control" id="Phone" ng-pattern="pno" name="Phone"
                               placeholder="000-000-0000" ng-model="selectedRow.Phone" />
                        <span ng-show="addEditAppUser.Phone.$invalid && formSubmitted && addEditAppUser.Phone.$error.pattern" class="text-danger">Invalid Format.</span>
                    </div>
                </div>
                <!--<div class="form-group" ng-class="{ 'has-error':addEditAppUser.Fax.$invalid && formSubmitted }">
                    <label for="Fax" class="col-md-4 control-label">Fax</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="Fax" name="Fax" ng-model="selectedRow.Fax" placeholder="Fax" ng-maxlength="128" />
                        <span ng-show="addEditAppUser.Fax.$error.maxlength" class="text-danger">Too long.</span>
                    </div>
                </div>-->
                <div class="form-group">
                    <label for="Active" class="col-md-4 control-label">Is Active</label>
                    <div class="col-sm-6">
                        <input type="checkbox" class="checkbox" id="Active" name="Active" ng-model="selectedRow.Active"  />                        
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="row">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-xs" ng-click="save()">
                        Save
                    </button>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="reset()">
                        Reset
                    </button>
                    <button type="button" class="btn btn-primary btn-xs" ng-click="cancel()">
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
