﻿
<form name="myForm" ng-controller="AttributeGrouping" ng-cloak>
    <div class="col-sm-12">
        <table width="100%">
            <tr style="line-height: 5;">
                <td> Attribute Type</td>
                <td>
                    <select kendo-drop-down-list
                            k-data-text-field="'DATA_TYPE'"
                            k-data-value-field="'id'"
                            k-selectable="true"
                            k-data-source="AttributeDataSource"
                            k-on-change="AttrtypeChangetab(kendoEvent)"></select>
                </td>
                <td>Layout Type</td>
                <td>
                   
                    <!--<select kendo-drop-down-list
                            k-data-text-field="'LAYOUT'"
                            k-data-value-field="'LAYOUT'"
                            k-data-source="layoutType"
                            ng-model="Group.LAYOUT"
                            k-on-change="layoutTypeChange(kendoEvent)"></select>-->
                    
                    <select kendo-drop-down-list
                            k-data-text-field="'LAYOUT'"
                            k-data-value-field="'LAYOUT'"
                            ng-model="Group.LAYOUT"
                            k-data-source="LayoutGroupDataSource"
                            k-on-change="layoutTypeChange(kendoEvent)"></select>
                </td>
            </tr>
            <tr>
                <td>  Multiple Tables</td>
                <td colspan="2">
                    <select kendo-drop-down-list
                            k-option-label="'--- Select Pack ---'"
                            k-data-text-field="'GROUP_NAME'"
                            k-data-value-field="'GROUP_ID'"
                            ng-model="Group.GROUP_ID"
                            k-data-source="attributeGroupDataSource"
                            k-on-change="catalogtypeChange(kendoEvent)"></select>

                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="vertical-align: top">
                    <h6>Available Attributes</h6>
                    <div class="navbar-content" id="showAttributeName" style="padding-right: 10px;">
                        <div class="main-navigation navbar-collapse1" style="position: inherit; width: 335px;">
                            <div style="min-height: auto; overflow: auto;">
                                <div id="chkbxAttributeId" style="text-align: left !important;">
                                    <div kendo-grid options="mainFamilyGridOptions">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-default btn-xs" ng-click="MultipleSavePublishAttributes()"><span class="glyphicon glyphicon-arrow-right"></span></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-default btn-xs" ng-click="MultipleDeletePublishAttributes()"><span class="glyphicon glyphicon-arrow-left"></span></button>
                            </td>
                        </tr>

                    </table>
                </td>
                <td style="vertical-align: top">
                    <h6 style="padding-left: 10px;">Selected Attributes</h6>
                    <div class="navbar-content" id="showSelectedAttributes" style="padding-left: 10px;padding-right: 10px;">
                        <div class="main-navigation navbar-collapse1" style="position: inherit; width: 335px;">
                            <div style="min-height: auto; overflow: auto;">
                                <div id="chkbxselAttributeId">
                                    <div kendo-grid="multipleselectgrid" options="selectedfamilyGridOptions">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-default btn-xs" ng-click="BtnMoveUpClick()"><span class="glyphicon glyphicon-arrow-up"></span></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-default btn-xs" ng-click="BtnMoveDownClick()"><span class="glyphicon glyphicon-arrow-down"></span></button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</form>
