﻿
<style>
    .btnRadius{
            border-radius: 10px;
    border-bottom-color: #5cb85c;
    border-right-color: #5cb85c !important;
    margin: 10px;
    }

  
  
</style>  
<div id="batchLog">

    <!--<button id="refreshLog" class="btn btn-primary btn-xs" ng-click="RefreshBatchLog()">Refresh</button>
        <button id="clearLog" class="btn btn-primary btn-xs" ng-click="ClearLog()">Clear Log</button>-->
        <div class="heightsample">
        <!--<div kendo-grid options="ImportViewLogGridOptions">
        </div>-->
        <div class="kendowidth" kendo-grid k-data-source="ImportViewLogGridOptionsDatasource" k-options="ImportViewLogGridOptions"></div>
        </div>  
</div>