﻿

<div class="col-sm-12"> <h5> <b>Import Successful</b> </h5></div>
<div class="col-sm-12 margin-bottom-15">
    <div class="col-sm-5 textalignright bold padding-0">Catalog <b>:</b></div>
    <div class="col-sm-6">{{Batchviewdetails.CatalogName}} </div>
</div>
<div class="col-sm-12 margin-bottom-15">
    <div class="col-sm-5  textalignright bold padding-0">Import Type <b>:</b></div>
    <div class="col-sm-6">{{Batchviewdetails.ImportType}} </div>
</div>
<div class="col-sm-12 margin-bottom-15">
    <div class="col-sm-5  textalignright bold padding-0">Import file <b>:</b></div>
    <div class="col-sm-6"> {{Batchviewdetails.FileName}} </div>
</div>
<div class="col-sm-12 margin-bottom-15">
    <div class="col-sm-5  textalignright bold padding-0">Time Taken <b>:</b></div>
    <div class="col-sm-6">{{Batchviewdetails.ElapsedTime}} </div>
</div>
<!--<div class="col-sm-12 margin-bottom-15">
    <div class="col-sm-5  textalignright bold padding-0">New <b>:</b></div>
    <div class="col-sm-6" ng-if="Batchviewdetails.Status == 'INSERT'"> {{(Batchviewdetails.InsertRecords - (Batchviewdetails.DeleteRecords +  Batchviewdetails.SkipRecords) )}}</div>
    <div class="col-sm-6" ng-if="Batchviewdetails.Status !== 'INSERT'">0 </div>
</div>
<div class="col-sm-12 margin-bottom-15">
    <div class="col-sm-5  textalignright bold padding-0">Updated <b>:</b></div>
    <div class="col-sm-6" ng-if="Batchviewdetails.Status == 'UPDATE'">{{(Batchviewdetails.InsertRecords - (Batchviewdetails.DeleteRecords +  Batchviewdetails.SkipRecords) )}} </div>
    <div class="col-sm-6" ng-if="Batchviewdetails.Status !== 'UPDATE'">0 </div>
</div>-->
<div class="col-sm-12 margin-bottom-15">
    <div class="col-sm-5  textalignright bold padding-0">New <b>:</b></div>
   
    <div class="col-sm-6" >{{Batchviewdetails.InsertRecords}} </div>
</div>
<div class="col-sm-12 margin-bottom-15">
    <div class="col-sm-5  textalignright bold padding-0">Updated <b>:</b></div>
   
    <div class="col-sm-6" >{{Batchviewdetails.UPDATEDRECORDS}}</div>
</div>
<div class="col-sm-12 margin-bottom-15">
    <div class="col-sm-5  textalignright bold padding-0">Deleted <b>:</b></div>
    <div class="col-sm-6">{{Batchviewdetails.DeleteRecords}} </div>

</div>
<div class="col-sm-12 margin-bottom-15">
    <div class="col-sm-5  textalignright bold padding-0">Skipped <b>:</b></div>
    <div class="col-sm-6">{{Batchviewdetails.SkipRecords}} </div>
</div>

<!--UPDATE-->
