﻿<style>
    .selected {
        background-color: lightgrey !important;
        color: white;
    }

    /*.k-grid-content table {
        table-layout: auto !important;
    }*/
    .uploadfilename {
        width: 50%;
        overflow: hidden;
        position: inherit;
        bottom: 0;
        left: 0;
        right: 0px;
        min-height: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .uploadfilename1 {
        position: absolute;
        margin-top: 10px;
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }

    .pagination > li > a, .pagination > li > span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #000000;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 10px 14px 10px 14px;
    }


    .pagination > li > a, .pagination > li > span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #000000;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 10px 14px 10px 14px;
    }

    .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
        z-index: 3;
        color: #fff;
        /* cursor: default; */
        /* background-color: #337ab7; */
        /* border-color: #337ab7; */
        color: #333;
        background-color: #d4d4d4;
        border-color: #8c8c8c;
        /* border-radius: 5px; */
        padding: 10px 14px 10px 14px;
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
    }

    .btn-xs-icon {
        padding: 2px 4px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }

    .product-pagination {
        position: absolute;
        margin-top: -40px;
        width: 100%;
    }
</style>

<div class="margin-top-0" ng-mousemove="setWidth()" id="productgridtabstrip" navigatable="false" kendo-tab-strip k-content-urls="[ null, null]" k-animation="false" style="max-width: 100%;">


    <table id="{{inverted}}familygrid" watch="prodData" @*show-filter="true" class="k-grid k-widget"*@ threshold="100" class="familygrid table table-condensed table-bordered table-striped" width="90%" style="margin-top: 20px;position: relative !important;width: auto !important;overflow: hidden !important;border-collapse: collapse !important;margin-bottom: 40px;border-left: 1px solid #ddd;">
        <thead style="margin-left: 0px;" @*class="k-grid-header k-grid-header-wrap"*@>
            <tr>
                <th class="k-header" ng-repeat="column in CategorycolumnsForAttributes" ng-if="column.Caption==='CATALOG_ID' " style="width:45px !important;max-width:45px !important;min-width:45px !important;">
                    <a id="resize" href="" class="k-link"> Actions</a>
                </th>
                <th class="k-header" ng-repeat="column in CategorycolumnsForAttributes" ng-show="DisplayIdcolumns===true" ng-if="column.Caption==='CATALOG_ID' " style="width:70px !important;max-width:70px !important;min-width:70px !important;">
                    <a id="resize" href="" class="k-link" ng-if="column.Caption!=='PUBLISH' && column.Caption!=='PUBLISH2PRINT' " ng-click="fnSort(column)">{{column.Caption.split('__')[0]}} </a>
                </th>
                <th class="k-header" ng-repeat="column in CategorycolumnsForAttributes" ng-show="DisplayIdcolumns===true" ng-if="column.Caption==='CATEGORY_ID' " style="width:73px !important;max-width:73px !important;min-width:73px !important;">
                    <a id="resize" href="" class="k-link" ng-if="column.Caption!=='PUBLISH' && column.Caption!=='PUBLISH2PRINT' " ng-click="fnSort(column)">
                        {{column.Caption.split('__')[0]}}
                    </a>
                </th>
                <th class="k-header" ng-repeat="column in CategorycolumnsForAttributes" ng-show="DisplayIdcolumns===true" ng-if="column.Caption==='FAMILY_ID' " style="width:70px !important;max-width:70px !important;min-width:70px !important;">
                    <a id="resize" href="" class="k-link" ng-if="column.Caption!=='PUBLISH' && column.Caption!=='PUBLISH2PRINT' " ng-click="fnSort(column)">{{column.Caption.split('__')[0]}} </a>
                </th>
                <th class="k-header" ng-mousemove="setWidth(column.Caption.split('__')[0])" id="resize_{{column.Caption.split('__')[0]}}" ng-repeat="column in CategorycolumnsForAttributes" ng-show="EnableWorkflow===true" ng-if="column.Caption==='WORKFLOW STATUS' ">

                    <a ng-mousemove="setWidth(column.Caption.split('__')[0])" id="resize_{{column.Caption.split('__')[0]}}" href="" class="k-link" ng-if="column.Caption!=='PUBLISH' && column.Caption!=='PUBLISH2PRINT'" ng-click="fnSort(column)">{{column.Caption.split('__')[0]}} </a>
                </th>
                <th ng-mousemove="setWidth()" ng-mousedown="GetScrollId(column.Caption.split('__')[0])" ng-mouseup="ClearScrollId()" id="resize_{{column.Caption.split('__')[0]}}" ng-repeat="column in CategorycolumnsForAttributes" class="k-header" style="word-wrap: break-word;overflow-wrap: break-word;width: 100px;" ng-if="column.Caption.split('__')[1] =='OBJ'">
                    <a ng-mousemove="setWidth()" ng-mousedown="GetScrollId(column.Caption.split('__')[0])" ng-mouseup="ClearScrollId()" id="resize_{{column.Caption.split('__')[0]}}" href="" class="k-link" ng-if="column.Caption!=='PUBLISH' && column.Caption!=='PUBLISH2PRINT' && column.Caption.split('__')[3]!== '13'
                                        && column.Caption.split('__')[5]=== 'true' && column.Caption!=='SubProdCount' && column.Caption.split('__')[2]!== '1'" ng-click="fnSort(column)">
                        <span class="publish">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{{column.Caption.split('__')[0]}}
                    </a>
                    <a ng-mousemove="setWidth()" ng-mousedown="GetScrollId(column.Caption.split('__')[0])" ng-mouseup="ClearScrollId()" id="resize_{{column.Caption.split('__')[0]}}" href="" style="background-color:lightgreen;border-radius: 8px;" class="k-link"
                       ng-if="column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT' && column.Caption!=='SubProdCount' &&  column.Caption.split('__')[3]=== '13'
                                       && column.Caption.split('__')[5]=== 'true'&& column.Caption.split('__')[2]!== '1'"
                       ng-click="fnSort(column)"><span class="publishkey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{{column.Caption.split('__')[0]}}</a>
                    <a ng-mousemove="setWidth()" ng-mousedown="GetScrollId(column.Caption.split('__')[0])" ng-mouseup="ClearScrollId()" id="resize_{{column.Caption.split('__')[0]}}" href="" class="k-link" ng-if="column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT'

                                       && column.Caption.split('__')[3]!== '13' && column.Caption.split('__')[5]=== 'false' && column.Caption!=='SubProdCount' && column.Caption.split('__')[2]!== '1'"
                       ng-click="fnSort(column)">{{column.Caption.split('__')[0]}}</a>
                    <a ng-mousemove="setWidth()" ng-mousedown="GetScrollId(column.Caption.split('__')[0])" ng-mouseup="ClearScrollId()" id="resize_{{column.Caption.split('__')[0]}}" href="" class="k-link" ng-if="column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT' &&column.Caption!=='SubProdCount' &&
                                       column.Caption.split('__')[2]=== '1'" ng-click="fnSort(column)" style="min-width: 40px">
                        <span class="publish">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>  {{column.Caption.split('__')[0]}}
                    </a>
                    <a ng-mousemove="setWidth()" ng-mousedown="GetScrollId(column.Caption.split('__')[0])" ng-mouseup="ClearScrollId()" id="resize_{{column.Caption.split('__')[0]}}" style="background-color:lightgreen;border-radius: 8px;" class="k-link" ng-if="column.Caption!=='PUBLISH' && column.Caption!=='PUBLISH2PRINT' &&  column.Caption.split('__')[3]=== '13'
                                       && column.Caption.split('__')[5]=== 'false'&& column.Caption.split('__')[2]!== '1'"
                       ng-click="fnSort(column)"><span class="unpublishkey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{{column.Caption.split('__')[0]}}</a>
                </th>



            </tr>
        </thead>
        <tbody style="margin-left: 0px;" @*class="k-grid-content"*@>
            <tr ng-repeat="Data in CategoryData | limitTo:ProdCountPerPage track by Data.FAMILY_ID" show-filter="true" class="table table-condensed table-bordered table-striped" ng-class="{'selected':Data['PRODUCT_ID'] == selectedRowValue}" ng-click="setClickedRow(Data['PRODUCT_ID'])">

                <td style="width:45px !important;max-width:45px !important;min-width:45px !important;">
                    <a href='javascript:void(0);' ng-click='UpdateCategorySpecs(this)' ng-show='userRoleModifyFamily'><div title='Edit' class='glyphicon glyphicon-edit blue btn-xs-icon'></div></a>
                </td>
                <td ng-repeat="column in CategorycolumnsForAttributes" style="text-align: right;width:70px !important;max-width:70px !important;min-width:70px !important;" ng-if="column.Caption==='CATALOG_ID'" ng-show="DisplayIdcolumns===true">
                    <div id="resize1" sortable="'Data[ column.ColumnName]'">
                        {{Data[ column.ColumnName]}}
                    </div>
                </td>
                <td ng-repeat="column in CategorycolumnsForAttributes" style="text-align: left;width:73px !important;max-width:73px !important;min-width:73px !important;" ng-if="column.Caption==='CATEGORY_ID'" ng-show="DisplayIdcolumns===true">
                    <div id="resize1" sortable="'Data[ column.ColumnName]'">
                        {{Data[ column.ColumnName]}}
                    </div>
                </td>
                <td ng-repeat="column in CategorycolumnsForAttributes" style="text-align: right;width:70px !important;max-width:70px !important;min-width:70px !important;" ng-if="column.Caption==='FAMILY_ID'" ng-show="DisplayIdcolumns===true">
                    <div id="resize1" sortable="'Data[ column.ColumnName]'">
                        {{Data[ column.ColumnName]}}
                    </div>
                </td>
                <td ng-mousemove="setWidth(column.Caption.split('__')[0])" ng-repeat="column in CategorycolumnsForAttributes" style="text-align: left;" ng-if="column.Caption.split('__')[1] =='OBJ' ||  column.Caption==='Sort'" @*title="ITEM# :  {{Data['ITEM#__OBJ__1__1__false__true']}} &#xa;Sort : {{Data['SORT']}}"*@>
                    @*<a ng-if=" column.Caption!=='PUBLISH' &&  column.Caption!=='PUBLISH2PRINT'  &&  column.Caption.split('__')[2] ==='1'" ng-class="{'cg-normal': column.EditEnabled == false}" style="text-align: left;float: left;">
                    *@
                    @*<a ng-mousemove="setWidth(column.Caption.split('__')[0])" id="resize1_{{column.Caption.split('__')[0]}}" ng-if="column.Caption!=='PUBLISH'  &&  column.Caption!=='PUBLISH2PRINT'  && column.Caption.split('__')[2] !=='1' && !isnotNumber(Data[ column.ColumnName])" ng-class="{'cg-normal': column.EditEnabled == false}" style="text-align: left;float: left;width: 100px;">
                        <span data-ng-bind-html="trustAsHtml(Data[ column.ColumnName])" style="display: block;word-wrap: break-word;"></span>
                    </a>
                    <a ng-mousemove="setWidth(column.Caption.split('__')[0])" id="resize1_{{column.Caption.split('__')[0]}}" ng-if="column.Caption!=='PUBLISH' &&  column.Caption!=='PUBLISH2PRINT' &&  column.Caption.split('__')[2] !=='1' && isnotNumber(Data[ column.ColumnName])" ng-class="{'cg-normal': column.EditEnabled == false}" style="text-align: left;float: left;width: 100px;">
                        <span data-ng-bind-html="trustAsHtml(Data[ column.ColumnName])" style="display: block;word-wrap: break-word;"></span>
                    </a>*@
                    <a ng-mousemove="setWidth(column.Caption.split('__')[0])" id="resize1_{{column.Caption.split('__')[0]}}" ng-if="column.Caption!=='PUBLISH'  &&  column.Caption!=='PUBLISH2PRINT'  && column.Caption.split('__')[2] !=='1' && !isnotNumber(Data[ column.ColumnName]) && column.ColumnName.split('__')[3] !='23'" ng-class="{'cg-normal': column.EditEnabled == false}" style="text-align: left;float: left;width: 100px;">
                        <span data-ng-bind-html="trustAsHtml(Data[ column.ColumnName])" style="display: block;word-wrap: break-word;"></span>
                    </a>
                    <a ng-mousemove="setWidth(column.Caption.split('__')[0])" id="resize1_{{column.Caption.split('__')[0]}}" ng-if="column.Caption!=='PUBLISH' &&  column.Caption!=='PUBLISH2PRINT' &&  column.Caption.split('__')[2] !=='1' && isnotNumber(Data[ column.ColumnName]) && column.ColumnName.split('__')[3] !='23'" ng-class="{'cg-normal': column.EditEnabled == false}" style="text-align: left;float: left;width: 100px;">
                        <span data-ng-bind-html="trustAsHtml(Data[ column.ColumnName])" style="display: block;word-wrap: break-word;"></span>
                    </a>
                    <a ng-mousemove="setWidth(column.Caption.split('__')[0])" id="resize1_{{column.Caption.split('__')[0]}}" ng-if="column.Caption!=='PUBLISH' &&  column.Caption!=='PUBLISH2PRINT' &&  column.Caption.split('__')[2] !=='1' && isnotNumber(Data[ column.ColumnName]) && column.ColumnName.split('__')[3] =='23'" ng-class="{'cg-normal': column.EditEnabled == false}" style="text-align: left;float: left;width: 100px;">
                        <img src='\Content\\ProductImages\\PREMISE\{{(Data[ column.ColumnName])}}' alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;" />
                    </a>
                    <a ng-mousemove="setWidth(column.Caption.split('__')[0])" id="resize1_{{column.Caption.split('__')[0]}}" href="" ng-if="column.Caption!=='PUBLISH'   && column.Caption!=='SubProdCount' &&  column.Caption.split('__')[2] ==='1' && Data['SubProdCount'] " ng-class="{'cg-normal': column.EditEnabled == false}" style="text-align: left;float: left;width: 100px;">
                        {{Data[column.ColumnName]}}{{Data['SubProdCount']}}
                    </a>

                </td>
            </tr>
        </tbody>
    </table>
    @*<div style="float: right; margin-top: -32px; font-size: 12px;" > No. of items per page: &nbsp; &nbsp;  </div>*@
    <br />


</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('.familygrid tbody').scroll(function (e) {
            /*
            Setting the thead left value to the negative valule of tbody.scrollLeft will make it track the movement
            of the tbody element. Setting an elements left value to that of the tbody.scrollLeft left makes it maintain
    		it's relative position at the left of the table.
            */
            $('.familygrid thead').css("left", -$(".familygrid tbody").scrollLeft()); //fix the thead relative to the body scrolling
            $('.familygrid thead th:nth-child(-n+4)').css("left", $(".familygrid tbody").scrollLeft()); //fix the first cell of the header
            $('.familygrid tbody td:nth-child(-n+4)').css("left", $(".familygrid tbody").scrollLeft()); //fix the first column of tdbody
        });
    });

</script>