﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>
        <div>
            <table>
                <tbody>
                    <tr>
                        <td align="center"><b>Are You Sure Want to Delete ?</b></td>
                    </tr>
                    <tr>
                        <td align="left">
                            <input type="radio" name="radio" id="checked-radio-0" value="Association" ng-click="RemoveOption($event)" ng-model="associationRemove" /> Remove Association<br /><br />
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <input type="radio" name="radio" id="checked-radio-1" value="Delete" ng-click="RemoveOption($event)" ng-model="associationRemove" /> Delete (Recycle Bin) <br /><br />
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <input type="radio" name="radio" id="checked-radio-2" value="Deletepermanent" ng-click="RemoveOption($event)" ng-model="associationRemove" /> Delete Permanently <br /><br />
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <button class="btn btn-primary btn-xs" type="button" ng-click="Delete()">Delete</button>
                        </td>
                        <td align="center">
                            <button class="btn btn-primary btn-xs" type="button" ng-click="Cancel()">Cancel</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
