﻿<div class="tab-pane">
    <form name="changePassword" class="form-horizontal" novalidate>
        <h4>Please enter details to change password</h4>
        <div class="col-md-6 col-lg-6">
            <!--<input type="hidden" ng-model="selectedRow.UserName">-->
            <div class="form-group" ng-class="{ 'has-error':changePassword.OldPassword.$invalid && formSubmitted }">
                <label for="OldPassword" class="col-md-4 control-label">Old Password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="OldPassword" name="OldPassword" ng-model="selectedRow.OldPassword" placeholder="Old Password" ng-minlength="3" ng-maxlength="30" required />
                    <span ng-show="changePassword.OldPassword.$invalid && formSubmitted && changePassword.OldPassword.$error.required" class="text-danger">Required.</span>
                    <span ng-show="changePassword.OldPassword.$error.minlength" class="text-danger">Too short.</span>
                    <span ng-show="changePassword.OldPassword.$error.maxlength" class="text-danger">Too long.</span>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error':changePassword.NewPassword.$invalid && formSubmitted }">
                <label for="NewPassword" class="col-md-4 control-label">New Password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="NewPassword" name="NewPassword" ng-model="selectedRow.NewPassword" placeholder="New Password" ng-minlength="3" ng-maxlength="30" required />
                    <span ng-show="changePassword.NewPassword.$invalid && formSubmitted && changePassword.NewPassword.$error.required" class="text-danger">Required.</span>
                    <span ng-show="changePassword.NewPassword.$error.minlength" class="text-danger">Too short.</span>
                    <span ng-show="changePassword.NewPassword.$error.maxlength" class="text-danger">Too long.</span>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error':changePassword.ConfirmPassword.$invalid && formSubmitted }">
                <label for="ConfirmPassword" class="col-md-4 control-label">Confirm Password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" ng-model="selectedRow.ConfirmPassword" placeholder="Confirm Password" ng-minlength="3" ng-maxlength="30" required />
                    <span ng-show="changePassword.ConfirmPassword.$invalid && formSubmitted && changePassword.ConfirmPassword.$error.required" class="text-danger">Required.</span>
                    <span ng-show="changePassword.ConfirmPassword.$error.minlength" class="text-danger">Too short.</span>
                    <span ng-show="changePassword.ConfirmPassword.$error.maxlength" class="text-danger">Too long.</span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="row">
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-xs" ng-click="save()">
                    Save
                </button>
                <button type="button" class="btn btn-danger btn-xs" ng-click="reset()">
                    Reset
                </button>
                <button type="button" class="btn btn-primary btn-xs" ng-click="cancel()">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>