﻿<div class="col-sm-11" style="float:left">

    <style>
        .k-window-titlebar.k-header {
            /*background: #275CAB !important;*/ /*set background to the titlebar*/
            /*color: white;*/ /*set color to the titlebar*/
            font-weight: bold !important; /*set font-weight to the titlebar*/
            /*text-transform: uppercase;*/
            text-transform: capitalize;
            text-rendering: geometricPrecision;
            letter-spacing: 0.065em;
        }

        /*div.k-window-content {
            border: 1px solid #275CAB;
        }*/
    </style>
    <form name="myForm" ng-controller="ColumnSetupController" ng-cloak>
        <div style="width:450px" id="popupwindow">

            <div>
                <div class="col-sm-4">
                    <button class="btn btn-primary btn-xs" type="button" ng-click="productNewAttributeSetupClick()">
                        Add New Attribute
                    </button>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-primary btn-xs" type="button" ng-click="UnPublishAttributes()">
                        Save & Close
                    </button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary btn-xs" type="button" ng-click="RefreshProductAttributes()">
                        Refresh
                    </button>
                </div>
                <div class="col-sm-12 no-padding">
                    <table>
                        <tbody>
                            <tr>
                                <td style="vertical-align: top">
                                    <h6 style=" margin-left: 19px;">Available Attributes</h6>
                                    <div class="col-sm-3 navbar-content" id="showAttributeName">
                                        <div class="main-navigation navbar-collapse1" style="position: inherit; width: 345px;">
                                            <div style="max-height: 500px; min-height: 500px; overflow: auto; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                                                <div id="chkbxAttributeId" style="text-align: left !important;">
                                                    <kendo-grid options="mainGridOptions">
                                                    </kendo-grid>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-default btn-xs" ng-click="SavePublishAttributes()"><span class="glyphicon glyphicon-arrow-right"></span></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-default btn-xs" ng-click="DeletePublishAttributes()"><span class=" glyphicon glyphicon-arrow-left"></span></button>
                                            </td>
                                        </tr>

                                    </table>
                                </td>
                                <td style="vertical-align: top">
                                    <h6 style=" margin-left: 19px;">
                                        Selected Attributes
                                    </h6>
                                    <div class="col-sm-3 navbar-content" id="showSelectedAttributes">
                                        <div class="main-navigation navbar-collapse1" style="position: inherit; width: 345px;">
                                            <div style="max-height: 500px; min-height: 500px; overflow: auto; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                                                <div id="chkbxselAttributeId">
                                                    <div kendo-grid="prodselectgrid" options="selectedGridOptions">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                    <br />
                                    <!--<div align="center">
                                        <button type="button" class="btn btn-default btn-xs" ng-click="UnPublishAttributes()">Publish / UnPublish</button>
                                    </div>-->
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-default btn-xs" ng-click="BtnMoveUpClick()"><span class="glyphicon glyphicon-arrow-up"></span></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-default btn-xs" ng-click="BtnMoveDownClick()"><span class="glyphicon glyphicon-arrow-down"></span></button>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
