﻿<style type="text/css">

    .k-treeview {
        font-size: 13px;
    }

    .k-window-titlebar.k-header {
        /*background: #275CAB !important;*/ /*set background to the titlebar*/
        /*color: white;*/ /*set color to the titlebar*/
        font-weight: bold !important; /*set font-weight to the titlebar*/
        /*text-transform: uppercase;*/
        text-transform: capitalize;
        text-rendering: geometricPrecision;
        letter-spacing: 0.065em;
    }

    /*div.k-window-content {
        border: 1px solid #275CAB;
    }*/

</style>

<!--<div style="width:100%" id="window">-->
<div ng-controller="familytabledesignerController" ng-cloak>
    <div id="deletelayout">
        <form name="myformDeleteLayout">
            <div class="col-sm-12 padding-0" width="100%" align="center">
                <div class="col-sm-4 bold margintop padding-right-0">
                    Structure Name
                </div>
                <div class="col-sm-6 padding-left-0">
                    <select kendo-drop-down-list
                            k-option-label="'--- Select Structure Name ---'"
                            k-data-text-field="'STRUCTURE_NAME'"
                            k-data-value-field="'STRUCTURE_NAME'"
                            k-data-source="StructureNameDataSource"
                            k-on-change="StructureNameChange(kendoEvent)"
                            style="width:200px"></select>
                    <br />
                </div>
                <div class="col-sm-11" align="center">
                    <br />

                    <button class="btn btn-primary btn-xs" type="button" ng-click='DeleteStructure()' title="{{deleteFamilyTableLayoutDeletion}}">
                        OK

                    </button>
                    <button class="btn btn-primary btn-xs" type="button" ng-click='DelCancelStructure()' title="{{cancelFamilyTableLayoutDeletion}}">
                        Cancel
                    </button>
                </div>
            </div>
            <td style="padding-left:9px;">
                <br />

            </td>
        </form>
    </div>
</div>
<!--</div>-->
