﻿<style>
    .k-window-titlebar.k-header {
        /*background: #275CAB !important;*/ /*set background to the titlebar*/
        /*color: white;*/ /*set color to the titlebar*/
        font-weight: bold !important; /*set font-weight to the titlebar*/
        /*text-transform: uppercase;*/
        text-transform: capitalize;
        text-rendering: geometricPrecision;
        letter-spacing: 0.065em;
    }

    /*div.k-window-content {
        border: 1px solid #275CAB;
    }*/
</style>
<div class="col-sm-12" style="float:left">
    <form name="myForm" ng-controller="ProductLayoutController" ng-cloak>
        <div class="form-horizontal">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Structure Type </h5>
                </div>
                <div class="col-sm-4">
                    <select kendo-drop-down-list
                            k-option-label="'--- Select Structure Name ---'"
                            k-data-text-field="'STRUCTURE_NAME'"
                            k-data-value-field="'STRUCTURE_NAME'"
                            k-data-source="StructureNameDataSource"
                            k-on-change="StructureNameChange(kendoEvent)"
                            style="width:180px"></select>
                </div>
            </div>

        </div>
        <table width="100%" align="center">
            <tr>
                <td>
                    <div class="form-group center-block">
                        <button class="btn btn-primary btn-xs" type="button" ng-click='DeleteStructure()'>
                            OK
                        </button>
                        <button class="btn btn-primary btn-xs" type="button" ng-click='DelCancelStructure()'>
                            Cancel
                        </button>

                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
