﻿<style>
    .top-buffer {
        margin-top: 17px !important;
    }

    a.k-window-action.k-link {
        background: lightblue !important;
        border-radius: 2px;
    }


    .k-state-hover {
        background: #cdcdcd !important;
        background-image: none !important;
    }

    span.k-input.ng-scope {
        text-align: left;
    }

    .gridpaging {
        margin: 0 .08333em;
        height: 25px;
        line-height: 1em;
        border-radius: 15px;
        cursor: pointer;
        text-align: center;
        border-style: solid;
        border-width: 1px;
        background-color: #f1f1f1;
        border: 1px solid #f1f1f1;
    }

    .selectcss {
        width: 55px;
        padding: 1px;
        font-size: 14px;
        line-height: 1;
        border-radius: 5px;
        -webkit-appearance: none;
        background-position-x: 244px;
        border-radius: 1.0833em;
    }

    .Imgtext {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        font-weight: bold;
    }

    a.k-window-action.k-link {
        background: lightblue !important;
        border-radius: 2px;
    }

    span.pipeline {
        margin: 1px !important;
        font-size: x-large;
        color: #ccc;
    }

    .k-state-hover {
        background: #cdcdcd !important;
        background-image: none !important;
    }

    span.k-input.ng-scope {
        text-align: left;
    }

    .selectcss {
        width: 55px;
        padding: 1px;
        font-size: 14px;
        line-height: 1;
        border-radius: 5px;
        -webkit-appearance: none;
        background-position-x: 244px;
        border-radius: 1.0833em;
    }

    .Imgtext {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        font-weight: bold;
    }

    .scrollsectionsubproduct {
        overflow-y: auto;
        overflow-x: hidden;
        height: 400px;
    }

    .k-window-content.k-content {
        overflow: hidden;
    }

    #ajaxLoaderDiv {
        position: fixed;
        top: 0%;
        left: 0%;
        z-index: 10000;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0.5;
    }

    #overlay {
        display: none;
        position: absolute;
        background: #fff;
    }

    #img-load {
        position: absolute;
    }

    .ajax-loader {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        opacity: 1;
    }
</style>
<div id="ajaxLoaderDiv" ng-show="ajaxLoaderDivShowSub">
    <img src="../../../Images/91.gif" alt="Loading..." class="ajax-loader" />

</div>

<div class="row search-row" style="height: auto;">

    <div id="search">
        <div class="col-sm-12">
            <div class="row">
                <input type="text" id="txtsearchSP" placeholder="Search by Attribute Name" ng-model="searchTextSP" ng-keypress="EntercallAttributeNameSubSearch($event)">
                <button class="btn btn-primary btn-xs btnsearch" ng-click="callAttributeNameSearchSP()" title="{{searchProductSpecs}}" style="margin-left: -5px;"> <i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="col-sm-12 margin-top-10 padding-0">
            <div class="row col-sm-5" id="editSubproductPaging">
                <div class="pull-left">
                    <button class="gridpaging" type="button" ng-click="callpagingSP('1',selectedRowSub)"><span class="k-icon k-i-seek-w"></span></button>
                    <button class="gridpaging" type="button" ng-click="callpagingSP('PREV',selectedRowSub)"><span class="k-icon k-i-arrow-w"></span></button>
                    <select kendo-dropdownlist class="selectcss" id="cboProdPageCount" style="width: 60px"
                            k-data-source="SubProdSpecsPageCount"
                            k-data-text-field="'PAGE_NO'"
                            k-data-value-field="'PAGE_NO'"
                            ng-model="SubProdSpecsCurrentPage"
                            k-on-change="callpagingSP(SubProdSpecsCurrentPage,selectedRowSub)"></select>
                    <button class="gridpaging" type="button" ng-click="callpagingSP('NEXT',selectedRowSub)"><span class="k-icon k-i-arrow-e">Go to the next page</span></button>
                    <button class="gridpaging" type="button" ng-click="callpagingSP(totalSpecsSubProdPageCount,selectedRowSub)"><span class="k-icon k-i-seek-e">Go to the last page</span></button>
                </div>

            </div>

            <div class="col-sm-6 margin-top-10 padding-0 psitem" style="text-align: left;">
                <label class="bold">
                    {{CatalogSubItemNumber}}
                </label>  &nbsp;<label class="bold" ng-bind="Subitem"></label>
            </div>

            <div ng-show="false" class="col-sm-3 padding-0 margin-left-10" style="text-align: right;">
                <button type="button" class="btn btn-primary btn-xs" id="btnSaveOptions" name="btnSaveOptions" ng-disabled="!edit_myForm.$valid" ng-click="SaveOrUpdateProductItem(selectedRowSub)" title="{{saveSubProductSpecs}}">Save</button>
                <button type="button" class="btn btn-primary btn-xs" id="btnCancelOptions" name="btnCancelOptions" ng-click="CancelProductItem()" title="{{cancelSubProductSpecs}}">Cancel</button>
            </div>
        </div>

    </div>

</div>
<div style="margin: 10px 10px 0px -8px;" id="window">
    <form name="edit_myForm">
        <div id="resultsub" style="display:none" class="bold wysiwyg-color-black">No Results Found</div>
        <div class="scrollsectionsubproduct">
            <div ng-repeat="attribute in attributes" ng-if="attribute!=='DynamicList' && attribute!=='CATALOG_ID'&& attribute!=='ATTRIBUTE_ID'&& attribute!=='SUBPRODUCT_ID'&& attribute!=='FAMILY_ID'&& attribute!=='CATEGORY_ID' && attribute!=='PUBLISH'  && attribute!=='WORKFLOW STATUS'" style="margin-bottom: -7px;">
                <div class="row top-buffer">
                    <div class="col-sm-4 textalignright padding-0 padding-left-5" ng-if="attribute==='PUBLISH2WEB'">
                        Web
                    </div>
                    <div class="col-sm-4 textalignright padding-0 padding-left-5" ng-if="attribute==='PUBLISH2PRINT'">
                        Print
                    </div>
                    <div class="col-sm-4 textalignright padding-0 padding-left-5" ng-if="attribute==='PUBLISH2PDF'">
                        PDF
                    </div>
                    <div class="col-sm-4 textalignright padding-0 padding-left-5" ng-if="attribute==='PUBLISH2EXPORT'">
                        Export
                    </div>
                    <div class="col-sm-4 textalignright padding-0 padding-left-5" ng-if="attribute==='PUBLISH2PORTAL'">
                        Portal
                    </div>
                    <div class="col-sm-4 textalignright" ng-if="attribute==='SORT'" style="margin-top: 7px;">
                        SORT
                    </div>
                    <div class="col-sm-4 textalignright" ng-if="attribute!=='PUBLISH'&& attribute!=='PUBLISH2PRINT' && attribute!=='WORKFLOW STATUS' &&  attribute.split('__')[1] ==='OBJ' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_ID!==1" style="margin-top: 7px;">
                        {{attribute.split('__')[0]}}
                    </div>
                    <div class="col-sm-4 textalignright" ng-if="attribute!=='PUBLISH'&& attribute!=='PUBLISH2PRINT' && attribute!=='WORKFLOW STATUS' &&  attribute.split('__')[1] ==='OBJ' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_ID===1" style="margin-top: 7px;">
                        {{CatalogSubItemNumber}}
                    </div>
                    <div ng-if="attribute!=='DynamicList' &&  attribute.split('__')[1] ==='OBJ' && attribute!=='PUBLISH'&& attribute!=='PUBLISH2PRINT' && attribute!=='WORKFLOW STATUS' && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED" class="col-sm-3 padding-0">

                        <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE!==4 && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE!==3 && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST && attribute.split('__')[0]!=='Supplier'">

                            <!--<input type="text" ng-model="selectedRowSub[attribute]" name="textBoxValue{{$index}}" ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Num')" ng-pattern="validPattern">-->
                            <input style="" type="text" ng-model="selectedRowSub[attribute]" ng-pattern="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].attributePattern" ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Num')" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46'
                                   ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" id="textBoxValue{{$index}}" name="textBoxValue{{$index}}">
                            <span ng-show="edit_myForm.textBoxValue{{$index}}.$invalid && edit_myForm.textBoxValue{{$index}}.$error.pattern" class="text-danger">Enter valid format ({{selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].uimask}}).</span>
                     
                            <input style="" type="text"
                                   ng-model="selectedRowSub[attribute]"
                                   ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY"
                                   ng-maxlength="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].attributePattern" id="textBoxValue{{$index}}"
                                   name="textBoxValue{{$index}}"
                                   ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Tex') && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_ID===1"
                                   ng-blur="datatypecheck($event,selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT,attribute)">

                            <textarea ckedit="selectedRowSub[attribute]" rows="3" columns="3" class="form-control"
                                      ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY"
                                      ng-maxlength="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].attributePattern"
                                      id="textBoxValue{{selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_ID}}" name="textBoxValue{{$index}}"
                                      ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Tex') && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_ID!==1"
                                      ng-blur="datatypecheck($event,selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT,attribute)"></textarea>
                            <!--</div>
                            <div ng-if="attribute.split('__')[4]===false">
                                <input type="text" ng-model="selectedRowSub[attribute]" ng-disabled="attribute.split('__')[4]" ng-maxlength="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].attributePattern" id="textBoxValue{{$index}}" name="textBoxValue{{$index}}" ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Tex')" ng-blur="datatypecheck($event,selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT,attribute)">
                            </div>-->
                            <span class="error" ng-show="edit_myForm.textBoxValue{{$index}}.$error.maxlength">
                                Value is too long. Please correct it. Maximum characters is {{selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].uimask}}

                            </span>
                        </div>
                        <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE!==3
                         && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST
                         && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED!==1" style="float: left; width: 208% ">
                            <select kendo-drop-down-list
                                    k-option-label="'--Select Value--'"
                                    k-data-text-field="'ListItem'"
                                    ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY"
                                    k-data-value-field="'ListItem'" style="width:175px;" k-data-source="selectedRowDynamic[attribute.split('__')[2]]" ng-model="selectedRowSub[attribute]" />
                            <span ng-show="userPickList">
                                <a style="cursor: pointer;margin-left:10px" ng-click="PicklistCreate(attribute.split('__')[2],selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].PICKLIST_NAME)" ng-hide="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY">
                                    <img src='..\\Content\\images\\Edit Picklist.jpg' title="Modify PickList" style="max-width:20px;max-height:20px;" />
                                </a>
                            </span>

                        </div>
                        <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE===4 && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink' && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED && attribute.split('__')[0]!=='Supplier' &&  !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date')">
                            <input type="text" ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" name="textBoxValue{{$index}}" ng-model="selectedRowSub[attribute]" ng-pattern="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].attributePattern" id="textBoxValue{{$index}}" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46'>
                            <span ng-show="edit_myForm.textBoxValue{{$index}}.$invalid && edit_myForm.textBoxValue{{$index}}.$error.pattern" class="text-danger">Enter valid format ({{selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].uimask}}).</span>
                        </div>
                        <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE===3 && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink' && attribute.split('__')[1] ==='OBJ' && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                            <input type="text" ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" ng-model="selectedRowSub[attribute]" id="{{attribute}}">

                            <img ng-if="!selectedRowSub[attribute].toLowerCase().contains('.pdf') && !selectedRowSub[attribute].toLowerCase().contains('.zip') && !selectedRowSub[attribute].toLowerCase().contains('.rar') && !selectedRowSub[attribute].toLowerCase().contains('.xls') && !selectedRowSub[attribute].toLowerCase().contains('.xlsx') && !selectedRowSub[attribute].toLowerCase().contains('.pdf') && !selectedRowSub[attribute].toLowerCase().contains('.exe') &&
                              !selectedRowSub[attribute].toLowerCase().contains('.msi') && !selectedRowSub[attribute].toLowerCase().contains('.doc')&& !selectedRowSub[attribute].toLowerCase().contains('.docx') && !selectedRowSub[attribute].toLowerCase().contains('.tif') && !selectedRowSub[attribute].toLowerCase().contains('.tiff') && !selectedRowSub[attribute].toLowerCase().contains('.psd') && !selectedRowSub[attribute].toLowerCase().contains('.eps') " ng-src='..\\Content\\ProductImages\\{{getCustomerCompanyName}}{{selectedRowSub[attribute]}}' alt="{{selectedRowSub[attribute]}}" style="max-width:55%;max-height:195px;margin-top: 10px;" />
                            <a ng-if="selectedRowSub[attribute].toLowerCase().contains('.pdf')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRowSub[attribute]}}' alt="{{selectedRowSub[attribute]}}" style="max-width:55%;max-height:195px;margin-top: 10px;">
                                <img src='..\\Content\\images\\pdf.png' alt="{{selectedRowSub[attribute]}}" style="max-width:55%;max-height:195px;margin-top: 10px;" />
                            </a>
                            <a ng-if="selectedRowSub[attribute].toLowerCase().contains('.zip') || selectedRowSub[attribute].toLowerCase().contains('.rar')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRowSub[attribute]}}' alt="{{selectedRowSub[attribute]}}" style="max-width:55%;max-height:195px;margin-top: 10px;">
                                <img src='..\\Content\\images\\zip.png' alt="{{selectedRowSub[attribute]}}" style="max-width:55%;max-height:195px;margin-top: 10px;" />
                            </a>
                            <a ng-if="selectedRowSub[attribute].toLowerCase().contains('.xls') || selectedRowSub[attribute].toLowerCase().contains('.xlsx')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRowSub[attribute]}}' alt="{{selectedRowSub[attribute]}}" style="max-width:55%;max-height:195px;margin-top: 10px;">
                                <img src='..\\Content\\images\\xls.png' alt="{{selectedRowSub[attribute]}}" style="max-width:55%;max-height:195px;margin-top: 10px;" />
                            </a>
                            <a ng-if="selectedRowSub[attribute].toLowerCase().contains('.exe') || selectedRowSub[attribute].toLowerCase().contains('.msi')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRowSub[attribute]}}' alt="{{selectedRowSub[attribute]}}" style="max-width:55%;max-height:195px;margin-top: 10px;">
                                <img src='..\\Content\\images\\exe.png' alt="{{selectedRowSub[attribute]}}" style="max-width:55%;max-height:195px;margin-top: 10px;" />
                            </a>
                            <a ng-if="selectedRowSub[attribute].toLowerCase().contains('.doc') || selectedRowSub[attribute].toLowerCase().contains('.docx')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRowSub[attribute]}}' alt="{{selectedRowSub[attribute]}}" style="max-width:55%;max-height:195px;margin-top: 10px;">
                                <img src='..\\Content\\images\\doc.png' alt="{{selectedRowSub[attribute]}}" style="max-width:55%;max-height:195px;margin-top: 10px;" />
                            </a>
                            <div ng-if="selectedRowSub[attribute].toLowerCase().contains('.pdf') || selectedRowSub[attribute].toLowerCase().contains('.zip') || selectedRowSub[attribute].toLowerCase().contains('.rar') || selectedRowSub[attribute].toLowerCase().contains('.xls') || selectedRowSub[attribute].toLowerCase().contains('.xlsx') || selectedRowSub[attribute].toLowerCase().contains('.pdf') || selectedRowSub[attribute].toLowerCase().contains('.exe') ||
                              selectedRowSub[attribute].toLowerCase().contains('.msi') || selectedRowSub[attribute].toLowerCase().contains('.doc') || selectedRowSub[attribute].toLowerCase().contains('.docx') || selectedRowSub[attribute].toLowerCase().contains('.tif') || selectedRowSub[attribute].toLowerCase().contains('.tiff') || selectedRowSub[attribute].toLowerCase().contains('.psd') || selectedRowSub[attribute].toLowerCase().contains('.eps') " target="_blank"
                                 style="max-width:100%;max-height:195px;">
                                <div style="max-width:100%;max-height:195px;"><p>Preview only available in Product/Sub-Product preview</p></div>
                            </div>
                            <div align="left">
                                <input name="files" id="{{attribute}}"
                                       type="file"
                                       title="Sub-Product Image"
                                       ng-disabled="!userImageandAttachments"
                                       kendo-upload
                                       k-multiple="false"
                                       k-async="{ saveUrl: '/Category/SaveImage', removeUrl: '/Category/RemoveImage', autoUpload: true }"
                                       k-select="onProdSelect" k-success="onProdSuccess" ng-if="false" />
                                <button id="{{attribute}}" ng-disabled="!userImageandAttachments" title="Sub_product Image" type="button" class="btn btn-primary" style="margin-left: 10px;margin-top: 10px;" ng-click="OpenPopupWindow(attribute)"><i class="fa fa-paperclip"></i></button>
                                <button id="{{attribute}}" ng-disabled="!userImageandAttachments" title="Sub_product Image Clear" type="button" class="btn btn-primary" style="margin-left: -3px;margin-top: 10px;" ng-click="clearImagePath(attribute)"><i class="fa fa-close"></i></button>
                            </div>
                            <label class="Imgtext col-sm-4" style="margin-top: 10%;margin-left: -65%;">Caption</label><input type="text" ng-model="selectedRowSub[attribute.replace('OBJ',1)]" id="textBoximg{{$index}}" style="margin-top: 5%;">
                        </div>
                        <div ng-if="attribute.split('__')[0]==='Supplier'" ng-controller="productSupplierController">
                            <div id="dropDownSupplierGrid">
                            </div>
                        </div>
                        <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE==='Hyperlink(0)' || selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE=='Hyperlink'&& !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED && attribute.split('__')[0]!=='Supplier' && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST" class="">
                            <input type="text" ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" ng-model="selectedRowSub[attribute]" min="0" step="any" focus-me="focusInput" ng-blur="TextBoxChanged($event,this,attribute)" id='textBoxValuenumber{{attribute.split("__")[2]}}'>

                        </div>
                        <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink'&& !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED && attribute.split('__')[0]!=='Supplier' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') &&
                     selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4}\\s\\d{2}(\\-|\\:)\\d\\d(\\-|\\:)\\d{2})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)(?=.{11}(?:0[0-9]|1[0-9]|2[03]))(?=.{14}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{17}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))'  ||
                      selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4}\\s\\d{2}(\\-|\\:)\\d\\d(\\-|\\:)\\d{2}\\s\\w{2})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)(?=.{11}(?:0[1-9]|1[0-2]))(?=.{14}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{17}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{20}(?:[A|P][M]))' && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                            <input kendo-date-time-picker id='datetimeEditSubproduct{{attribute.split("__")[2]}}' ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" k-format="'MM/dd/yyyy hh:mm tt'" ng-model="selectedRowSub[attribute]" ng-blur="datetimecheck($event,attribute)" onkeydown="return true;" k-on-change="onDateSelected(selectedRowSub[attribute],attribute)" />

                        </div>
                        <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink'&& !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED && attribute.split('__')[0]!=='Supplier' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') &&
                     selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=dd(-|/|.)dd(-|/|.)d{4})(?=.{3}(?:0[1-9]|[12]d|3[01]))(?=.{0}(?:0[1-9]|1[0-2]))(?!.{0}(?:0[2469]|11)-31)(?!.{0}02-30)(?!02(-|/|.)29(-|/|.)...[13579])(?!02(-|/|.)29(-|/|.)..[13579][048])(?!02(-|/|.)29(-|/|.)..[02468][26])(?!02(-|/|.)29(-|/|.).[13579]00)(?!02(-|/|.)29(-|/|.)[13579][048]00)(?!02(-|/|.)29(-|/|.)[02468][26]00)' && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                            <input kendo-date-picker id='datetime{{attribute.split("__")[2]}}' ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" k-format="'MM/dd/yyyy'" name="monthdate" ng-model="selectedRowSub[attribute]" ng-blur="datecheck($event,attribute)" onkeydown="return false;" />

                        </div>
                        <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink'&& !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED && attribute.split('__')[0]!=='Supplier' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') &&
                     selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\dd(-|/|.)dd(-|/|.)d{4})(?=.{0}(?:0[1-9]|[12]d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(-|/|.)02(-|/|.)...[13579])(?!29(-|/|.)02(-|/|.)..[13579][048])(?!29(-|/|.)02(-|/|.)..[02468][26])(?!29(-|/|.)02(-|/|.).[13579]00)(?!29(-|/|.)02(-|/|.)[13579][048]00)(?!29(-|/|.)02(-|/|.)[02468][26]00)' ||
                     selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)' ||
                     selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.contains('System') && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                            <input kendo-date-picker id='datetime{{attribute.split("__")[2]}}' ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" k-format="'dd/MM/yyyy'" name="datemonth" ng-model="selectedRowSub[attribute]" ng-blur="datecheck($event,attribute)" onkeydown="return false;" />

                        </div>
                    </div>
                    <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED" class="col-sm-3" style="margin-left: -15px;">
                        <input type="text" ng-model="selectedRowSub[attribute]" min="0" step="any" focus-me="focusInput" id='textBoxValuenumber{{attribute.split("__")[2]}}' readonly class="background-color-grey" style="cursor:not-allowed">
                    </div>
                    <div ng-if="attribute=='PUBLISH2WEB'" class="col-sm-3" style="margin-left: 13px;">
                        <input type="checkbox" class="chkoption" ng-model="selectedRowSub[attribute]" ng-trim="false" ng-true-value="'True'" ng-false-value="'False'">
                    </div>
                    <div ng-if="attribute=='PUBLISH2PRINT'" class="col-sm-3" style="margin-left: 13px;">
                        <input type="checkbox" class="chkoption" ng-model="selectedRowSub[attribute]" ng-trim="false" ng-true-value="'True'" ng-false-value="'False'">
                    </div>
                    <div ng-if="attribute=='PUBLISH2PDF'" class="col-sm-3" style="margin-left: 13px;">
                        <input type="checkbox" class="chkoption" ng-model="selectedRowSub[attribute]" ng-trim="false" ng-true-value="'True'" ng-false-value="'False'">
                    </div>
                    <div ng-if="attribute=='PUBLISH2EXPORT'" class="col-sm-3" style="margin-left: 13px;">
                        <input type="checkbox" class="chkoption" ng-model="selectedRowSub[attribute]" ng-trim="false" ng-true-value="'True'" ng-false-value="'False'">
                    </div>
                    <div ng-if="attribute=='PUBLISH2PORTAL'" class="col-sm-3" style="margin-left: 13px;">
                        <input type="checkbox" class="chkoption" ng-model="selectedRowSub[attribute]" ng-trim="false" ng-true-value="'True'" ng-false-value="'False'">
                    </div>
                    <div ng-if="attribute=='SORT'" class="col-sm-3 padding-0">
                        <select id="dynamicsubsort" kendo-drop-down-list
                                k-data-source="SubProductSortOrder"
                                k-data-text-field="'SORT_ORDER'"
                                k-data-value-field="'SORT_ORDER'"
                                k-option-label="'--Select Value--'"
                                k-on-change="SortingChanges(kendoEvent)"
                                ng-model="selectedRowSub[attribute]"
                                style="width: 175px"></select>
                    </div>
                </div>
            </div>

        </div>

        <div class="subimagenote" style="font-size: 10px;visibility: hidden"> *Note : If the image name contains invalid Special characters( # & \' ) will not be stored.   </div>
        <br />

        <div class="col-sm-12" style="margin-bottom: -15px;text-align: right;margin-left: -30px;background: #eee;padding: 26px 40px 20px 35px;">
            <div class="row col-sm-6" id="editSubproductPaging" ng-if="attrSubLength>=1">
                <div class="pull-left margin-left-5">
                    <button class="gridpaging" type="button" ng-click="callpagingSP('1',selectedRowSub)"><span class="k-icon k-i-seek-w"></span></button>
                    <button class="gridpaging" type="button" ng-click="callpagingSP('PREV',selectedRowSub)"><span class="k-icon k-i-arrow-w"></span></button>
                    <select kendo-dropdownlist class="selectcss" id="cboProdPageCountDown" style="width: 60px"
                            k-data-source="SubProdSpecsPageCount"
                            k-data-text-field="'PAGE_NO'"
                            k-data-value-field="'PAGE_NO'"
                            ng-model="SubProdSpecsCurrentPage"
                            k-on-change="callpagingSP(SubProdSpecsCurrentPage,selectedRowSub)"></select>
                    <button class="gridpaging" type="button" ng-click="callpagingSP('NEXT',selectedRowSub)"><span class="k-icon k-i-arrow-e">Go to the next page</span></button>
                    <button class="gridpaging" type="button" ng-click="callpagingSP(totalSpecsSubProdPageCount,selectedRowSub)"><span class="k-icon k-i-seek-e">Go to the last page</span></button>
                </div>
            </div>

            <button type="button" class="btn btn-primary btn-xs" id="btnSaveOptions" name="btnSaveOptions" ng-disabled="!edit_myForm.$valid" ng-click="SaveOrUpdateProductItem(selectedRowSub)" title="{{saveSubProductSpecs}}">Save</button>
            <button type="button" class="btn btn-primary btn-xs" id="btnCancelOptions" name="btnCancelOptions" style="margin-right: -20px;" ng-click="CancelProductItem()" title="{{cancelSubProductSpecs}}">Cancel</button>

            <!--<div style="text-align: right; margin-bottom: 20px; margin-right: -15px;" class="top-buffer">-->

        </div>
    </form>
</div>
