﻿<style>
    .Imgtext {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        font-weight: bold;
    }

    .scrollsectionFamily {
        overflow-y: auto !important;
        overflow-x: hidden !important;
        height: 440px;
    }

    .selectcss {
        width: 55px;
        padding: 1px;
        font-size: 14px;
        line-height: 1;
        border-radius: 5px;
        -webkit-appearance: none;
        background-position-x: 244px;
        border-radius: 1.0833em;
    }

    .gridpaging {
        margin: 0 .08333em;
        height: 25px;
        line-height: 1em;
        border-radius: 15px;
        cursor: pointer;
        text-align: center;
        border-style: solid;
        border-width: 1px;
        background-color: #f1f1f1;
        border: 1px solid #f1f1f1;
    }

    #ajaxLoaderDiv {
        position: fixed;
        top: 0%;
        left: 0%;
        z-index: 10000;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0.5;
    }

    .familynamepopup {
        width: 70%;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>
<div>
    <div class="row search-row" style="height: auto;">

        <div id="search">
            <div class="col-sm-12">
                <div class="row">
                </div>
            </div>
            <div class="col-sm-12 padding-0 margin-top-10">
                <div class="row col-sm-5">
                    <div class="pull-left">
                        <button class="gridpaging" type="button" ng-click="callpaging('1',selectedRow)"><span class="k-icon k-i-seek-w"></span></button>
                        <button class="gridpaging" type="button" ng-click="callpaging('PREV',selectedRow)"><span class="k-icon k-i-arrow-w"></span></button>
                        <select kendo-dropdownlist class="selectcss" id="cboFamPageCountUp" style="width: 60px"
                                k-data-source="FamSpecsPageCount"
                                k-data-text-field="'PAGE_NO'"
                                k-data-value-field="'PAGE_NO'"
                                ng-model="FamSpecsCurrentPage"
                                k-on-change="callpaging(FamSpecsCurrentPage,selectedRow)"></select>
                        <button class="gridpaging" type="button" ng-click="callpaging('NEXT',selectedRow)"><span class="k-icon k-i-arrow-e">Go to the next page</span></button>
                        <button class="gridpaging" type="button" ng-click="callpaging(totalSpecsFamPageCount,selectedRow)"><span class="k-icon k-i-seek-e">Go to the last page</span></button>
                    </div>

                </div>

                <div class="col-sm-7 margin-top-10 padding-0 psitem" style="text-align: left;">
                    <label class="bold">Family Name : </label>    &nbsp; <label class="bold familynamepopup" title="{{Family.FAMILY_NAME}}">{{Family.FAMILY_NAME}}</label> <!--ng-bind="item_"-->
                </div>

                <!--<div ng-show="false" class="col-sm-3 padding-0" style="text-align: right;margin-left: 19px;">
                    <button type="button" class="btn btn-primary btn-xs" id="btnSaveOptions" name="btnSaveOptions" ng-disabled="!edit_myForm.$valid" ng-click="SaveOrUpdateFamilSpecs(selectedRow)" title="Save">Save</button>
                    <button type="button" class="btn btn-primary btn-xs" id="btnCancelOptions" name="btnCancelOptions" ng-click="CancelFamilSpecs()" title="Cancel">Cancel</button>
                </div>-->
            </div>
        </div>
    </div>




    <div class="margin-top-5" id="window">
        <form name="edit_myForm">
            <div class="scrollsectionFamily">
                <div ng-repeat="attribute in attributes" ng-if="attribute!=='CATALOG_ID'&& attribute!=='ATTRIBUTE_ID' && attribute!=='FAMILY_ID'&& attribute!=='CATEGORY_ID'&& attribute!=='Sort'&& attribute!=='$$hashKey' &&  attribute.split('__')[1] ==='OBJ'">
                    <div class="row top-buffer">
                        <div class="col-sm-4 bold textalignright margintop padding-right-0" style="margin-bottom: 10px">
                            {{attribute.split('__')[0]}}
                            <!--{{ selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT}}-->
                        </div>
                        <div style="margin-bottom: 10px;margin-left: 13px;" ng-if="!selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED " class="col-sm-6">
                            <div ng-if="selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE!==12 && !selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST && selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE!==9">
                                <!--<input type="text" ng-model="selectedRow[attribute]" name="textBoxValue{{$index}}" ng-if="selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Num')" ng-pattern="validPattern">-->
                                <input type="text" ng-model="selectedRow[attribute]" ng-if="selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Num')" ng-pattern="attributePattern[attribute.replace(' ', '_').split('__')[2]]"
                                       id="textBoxValue{{$index}}" name="textBoxValue{{$index}}" onkeypress='return (event.which >= 48 && event.which <= 57) || event.which == 8 || event.which == 46'>

                                <input type="text" ng-model="selectedRow[attribute]" ng-maxlength="attributePattern[attribute.replace(' ', '_').split('__')[2]]"
                                       id="textboxvalue{{selectedfamilyrowdynamicattributes[attribute.replace(' ', '_').split('__')[2]].attribute_id}}"
                                       name="textBoxValue{{$index}}" ng-if="selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Tex') && selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.contains('a-zA-Z') && !selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.contains('uFFFF')"
                                       ng-blur="datatypecheck($event,selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT,attribute)">


                                <textarea ckedit="selectedRow[attribute]" ng-maxlength="attributePattern[attribute.replace(' ', '_').split('__')[2]]"
                                          id="textboxvalue{{selectedfamilyrowdynamicattributes[attribute.replace(' ', '_').split('__')[2]].attribute_id}}"
                                          name="textBoxValue{{$index}}" ng-if="selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Tex') && selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.contains('uFFFF')"
                                          ng-blur="datatypecheck($event,selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT,attribute)"></textarea>

                                <span ng-show="!edit_myForm.textBoxValue{{$index}}.$valid && edit_myForm.textBoxValue{{$index}}.$error.pattern" class="text-danger">Enter valid format ({{uimask[attribute.replace(' ', '_').split('__')[2]]}}).</span>
                                <span class="error" ng-show="edit_myForm.textBoxValue{{$index}}.$error.maxlength">
                                    Value is too long. Please correct it. Maximum characters is {{uimask[attribute.replace(' ', '_').split('__')[2]]}}
                                </span>
                            </div>

                            <div ng-if="selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE===9 && selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink' && attribute.split('__')[1] ==='OBJ' && !selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date')">
                                <input style="" type="text" ng-disabled="selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" ng-model="selectedRow[attribute]" id="{{attribute}}" readonly>
                                <br />
                                <img ng-if="selectedRow[attribute]!=null &&  !selectedRow[attribute].toLowerCase().contains('.pdf') && !selectedRow[attribute].toLowerCase().contains('.zip') && !selectedRow[attribute].toLowerCase().contains('.rar') && !selectedRow[attribute].toLowerCase().contains('.xls') && !selectedRow[attribute].toLowerCase().contains('.xlsx') && !selectedRow[attribute].toLowerCase().contains('.pdf') && !selectedRow[attribute].toLowerCase().contains('.exe') &&
                              !selectedRow[attribute].toLowerCase().contains('.msi') && !selectedRow[attribute].toLowerCase().contains('.doc')&& !selectedRow[attribute].toLowerCase().contains('.docx') && !selectedRow[attribute].toLowerCase().contains('.tif') && !selectedRow[attribute].toLowerCase().contains('.tiff') && !selectedRow[attribute].toLowerCase().contains('.psd') && !selectedRow[attribute].toLowerCase().contains('.eps') " ng-src='\Content\\ProductImages\\{{getCustomerCompanyName}}{{selectedRow[attribute]}}'
                                     alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;margin:5px" />
                                <div ng-if="selectedRow[attribute].split('.')[selectedRow[attribute].split('.').length-1]=='eps' && selectedRow[attribute].split('.')[selectedRow[attribute].split('.').length-1]=='psd' && selectedRow[attribute].split('.')[selectedRow[attribute].split('.').length-1]=='tiff'" style="max-width:55%;max-height:195px;"><p>Preview only available in Family/Category preview</p></div>
                                <a ng-if="selectedRow[attribute].toLowerCase().contains('.pdf')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;">
                                    <img src='..\\Content\\images\\pdf.png' alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;" />
                                </a>
                                <a ng-if="selectedRow[attribute].toLowerCase().contains('.zip') || selectedRow[attribute].toLowerCase().contains('.rar')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;">
                                    <img src='..\\Content\\images\\zip.png' alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;" />
                                </a>
                                <a ng-if="selectedRow[attribute].toLowerCase().contains('.xls') || selectedRow[attribute].toLowerCase().contains('.xlsx')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;">
                                    <img src='..\\Content\\images\\xls.png' alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;" />
                                </a>
                                <a ng-if="selectedRow[attribute].toLowerCase().contains('.exe') || selectedRow[attribute].toLowerCase().contains('.msi')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;">
                                    <img src='..\\Content\\images\\exe.png' alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;" />
                                </a>
                                <a ng-if="selectedRow[attribute].toLowerCase().contains('.doc') || selectedRow[attribute].toLowerCase().contains('.docx')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;">
                                    <img src='..\\Content\\images\\doc.png' alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;" />
                                </a>
                                <div ng-if="selectedRow[attribute].toLowerCase().contains('.pdf') || selectedRow[attribute].toLowerCase().contains('.zip') || selectedRow[attribute].toLowerCase().contains('.rar') || selectedRow[attribute].toLowerCase().contains('.xls') || selectedRow[attribute].toLowerCase().contains('.xlsx') || selectedRow[attribute].toLowerCase().contains('.pdf') || selectedRow[attribute].toLowerCase().contains('.exe') ||
                              selectedRow[attribute].toLowerCase().contains('.msi') || selectedRow[attribute].toLowerCase().contains('.doc') || selectedRow[attribute].toLowerCase().contains('.docx') || selectedRow[attribute].toLowerCase().contains('.tif') || selectedRow[attribute].toLowerCase().contains('.tiff') || selectedRow[attribute].toLowerCase().contains('.psd') || selectedRow[attribute].toLowerCase().contains('.eps') " target="_blank"
                                     style="max-width:100%;max-height:195px;">
                                    <div style="max-width:100%;max-height:195px;"><p>Preview only available in Product/Sub-Product preview</p></div>
                                </div>
                                <div align="left">
                                    <input name="files" id="{{attribute}}"
                                           type="file"
                                           title="Product Image"
                                           ng-disabled="!userImageandAttachments"
                                           kendo-upload
                                           k-multiple="false"
                                           k-async="{ saveUrl: '/Category/SaveImage', removeUrl: '/Category/RemoveImage', autoUpload: true }"
                                           k-select="onProdSelect" k-success="onProdSuccess" ng-if="false" />

                                    <button id="{{attribute}}" ng-disabled="!userImageandAttachments" title="Product Image" type="button" class="btn btn-primary" style="margin-left: 10px;margin-top: 10px;" ng-click="OpenPopupWindow(attribute)"><i class="fa fa-paperclip"></i></button>
                                    <button id="{{attribute}}" ng-disabled="!userImageandAttachments" title="Product Image Clear" type="button" class="btn btn-primary" style="margin-left: -2px;margin-top: 10px;" ng-click="clearImagePath(attribute)"><i class="fa fa-close"></i></button>
                                </div>
                                <label class="Imgtext" style="margin-top: 5%;margin-left: -29%;">Caption</label>&nbsp;&nbsp;   <input type="text" ng-model="selectedRow[attribute.replace('OBJ',1)]" id="textBoximg{{$index}}" style="margin-left: 6%;width: 172px;">
                            </div>

                            <div ng-if="selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE===12 && !selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST && !selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Hyperlink')  &&  !selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date')" onkeypress='return (event.which >= 48 && event.which <= 57) || event.which == 8 || event.which == 46'>
                                <input type="text" name="textBoxValue{{$index}}" ng-model="selectedRow[attribute]" ng-pattern="attributePattern[attribute.replace(' ', '_').split('__')[2]]" id="textBoxValue{{$index}}">
                                <span ng-show="!edit_myForm.textBoxValue{{$index}}.$valid && edit_myForm.textBoxValue{{$index}}.$error.pattern" class="text-danger">Enter valid format ({{uimask[attribute.replace(' ', '_').split('__')[2]]}}).</span>
                            </div>

                            <div ng-if="selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Hyperlink') && !selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                                <input type="text" ng-model="selectedRow[attribute]" focus-me="focusInput" ng-blur="TextBoxChanged($event,this,attribute)" id='textBoxValuenumber{{attribute.split("__")[2]}}'>
                            </div>
                            <div ng-if="!selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Hyperlink') && selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') &&
                     selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4}\\s\\d{2}(\\-|\\:)\\d\\d(\\-|\\:)\\d{2})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)(?=.{11}(?:0[0-9]|1[0-9]|2[03]))(?=.{14}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{17}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))' ||
                      selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4}\\s\\d{2}(\\-|\\:)\\d\\d(\\-|\\:)\\d{2}\\s\\w{2})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)(?=.{11}(?:0[1-9]|1[0-2]))(?=.{14}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{17}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{20}(?:[A|P][M]))' && !selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                                <input kendo-date-time-picker class="form-control" id='datetime{{attribute.split("__")[2]}}' k-format="'MM/dd/yyyy hh:mm tt'" ng-model="selectedRow[attribute]" k-interval="10" ng-blur="datetimecheck($event,attribute)" onkeydown="return true;" k-on-change="onDateSelected(selectedRow[attribute],attribute)" />
                            </div>
                            <div ng-if="!selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Hyperlink') && selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') &&
                     selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4})(?=.{3}(?:0[1-9]|[12]\\d|3[01]))(?=.{0}(?:0[1-9]|1[0-2]))(?!.{0}(?:0[2469]|11)-31)(?!.{0}02-30)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)...[13579])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)..[13579][048])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)..[02468][26])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.).[13579]00)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)[13579][048]00)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)[02468][26]00)' && !selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                                <input kendo-date-picker class="form-control" id='datetime{{attribute.split("__")[2]}}' k-format="'MM/dd/yyyy'" name="monthdate" ng-model="selectedRow[attribute]" ng-blur="datecheck($event,attribute)" onkeydown="return false;" />
                            </div>
                            <div ng-if="!selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Hyperlink')  && selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') &&
                     selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(-|/|.)\\d\\d(-|/|.)\\d{4})(?=.{0}(?:0[1-9]|[12]d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(-|/|.)02(-|/|.)...[13579])(?!29(-|/|.)02(-|/|.)..[13579][048])(?!29(-|/|.)02(-|/|.)..[02468][26])(?!29(-|/|.)02(-|/|.).[13579]00)(?!29(-|/|.)02(-|/|.)[13579][048]00)(?!29(-|/|.)02(-|/|.)[02468][26]00)' ||
                     selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)' ||
                     selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.contains('System') && !selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                                <input kendo-date-picker class="form-control" id='datetime{{attribute.split("__")[2]}}' k-format="'dd/MM/yyyy'" name="datemonth" ng-model="selectedRow[attribute]" ng-blur="datecheck($event,attribute)" onkeydown="return false;" />
                            </div>
                        </div>
                        <div style="margin-bottom: 10px" ng-if="selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED" class=" col-sm-3">
                            <input type="text" class="form-control" ng-model="selectedRow[attribute]" min="0" step="any" focus-me="focusInput" id='textBoxValuenumber{{attribute.split("__")[2]}}' readonly>
                        </div>
                    </div>
                </div>

                <!--
                <div class="row">
                    {{attribute}} : {{Value}}
                </div>-->
                <div class="row">
                </div>
            </div>
            <div style="margin-top: 10px;text-align: center;background: #eee;padding: 13px 20px 12px 21px;margin-left: -35px;margin-right: -35px;">

                <button type="button" class="btn btn-primary btn-xs" id="btnSaveOptions" name="btnSaveOptions" ng-disabled="!edit_myForm.$valid" ng-click="SaveOrUpdateFamilSpecs(selectedRow)" title="Save">Save</button>
                <button type="button" class="btn btn-primary btn-xs" id="btnCancelOptions" name="btnCancelOptions" ng-click="CancelFamilSpecs()" title="Cancel">Cancel</button>
            </div>
        </form>
    </div>




</div>
<!--<form name="myForm" class="form-horizontal">
    <div class="form-group" ng-class="{'has-error': myForm.myDecimal.$invalid}">
        <label for="inputText3" class="col-sm-2 control-label">Decimal</label>
        <div class="col-sm-10">
            <input type="number" name="myDecimal" placeholder="Decimal" ng-model="myDecimal" min="{{min}}" max="{{max}}" ng-pattern="decimal" required />
            <span class="help-block" ng-show="!myForm.myDecimal.$valid">Invalid!</span>
        </div>
    </div>

    <div class="form-group">
        <label for="inputText3" class="col-sm-2 control-label">The value:</label>
        <div class="col-sm-10">
            <input type="text" ng-model="myDecimal" disabled />
        </div>
    </div>
</form>-->
