﻿
<style>
    .top-buffer {
        margin-top: 20px;
    }

    .k-window-titlebar.k-header {
        background: #275CAB !important; /*set background to the titlebar*/
        color: white; /*set color to the titlebar*/
        font-weight: bold !important; /*set font-weight to the titlebar*/
        text-transform: uppercase;
        text-rendering: geometricPrecision;
        letter-spacing: 0.065em;
    }

    div.k-window-content {
        border: 1px solid #275CAB;
    }

    /*.select-style {
        border: 1px solid #ccc;
        width: 120px;
        border-radius: 3px;
        overflow: hidden;
        background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
    }

        .select-style select {
            padding: 5px 8px;
            width: 130%;
            border: none;
            box-shadow: none;
            background: transparent;
            background-image: none;
            -webkit-appearance: none;
        }

            .select-style select:focus {
                outline: none;
            }*/

    .demo select {
	border: 0 !important;  
	-webkit-appearance: none;  
	-moz-appearance: none; 
	background: #d9ecf5 url(../../Content/arrow_down.png) no-repeat 90% center;
	width: 180px; 
	text-indent: 0.01px;
	color: black;
	border-radius: 15px;
	padding: 5px;
	box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
}
</style>


<div style="width:95%" id="window">
    <form name="edit_Config_myForm">
        <div ng-repeat="column1 in columnsForReferenceTable1" ng-if="column1.title!=='PROD_ID' && column1.title!=='PRODUCT_ID' && column1.title.split('__')[2]!=='A1'">
            <div class="row">
                <div class="col-sm-3">
                    {{column1.title.split('__')[0]}}

                </div>
                <div class="demo col-sm-3" ng-if="column1.title.split('__')[1]!=='4' && column1.title.split('__')[3]!=='1'">

                    <select class="select-style" ng-model="column1.value" name=" column1.title.split('__')[2]" id="column1.title.split('__')[2]" ng-options="color.{{column1.title.split('__')[2]}} as color.{{column1.title.split('__')[2]}} for color in referenceTableData1 | unique:'{{column1.title.split('__')[2]}}'"></select>
                </div>
                <div class="demo col-sm-3" ng-if="column1.title.split('__')[1]==='4' && column1.title.split('__')[3]!=='1'">

                    <!--<input data-role="numerictextbox" name="column1.title.split('__')[2]" id="column1.title.split('__')[2]" data-format="0.00" data-decimals="2" data-min="0">-->
                    <input type="text" ng-model="column1.value" name="{{column1.title.split('__')[2]}}" id="{{column1.title.split('__')[2]}}" ng-pattern="attributePattern[column1.title.split('__')[0]]" onkeypress='return (event.which >= 48 && event.which <= 57) || event.which == 8 || event.which == 46' /> 
                    <span ng-show="!edit_Config_myForm.{{column1.title.split('__')[2]}}.$valid && edit_Config_myForm.{{column1.title.split('__')[2]}}.$error.pattern" class="text-danger">Value is too long</span>
                    <!--<span class="error" ng-show="edit_myForm.textBoxValue{{column1.title.split('__')[2]}}.$error.maxlength">
                        Value is too long. Please correct it. Maximum characters is {{attributePattern[column1.title.split('__')[0]]}}
                    </span>-->
             
                </div>
                <div class="demo col-sm-3" ng-if="column1.title.split('__')[3]==='1'">
                    <!--<input data-role="numerictextbox" name="column1.title.split('__')[2]" id="column1.title.split('__')[2]" data-format="0.00" data-decimals="2" data-min="0">-->
                    <input type="text" ng-model="column1.value" name=" column1.title.split('__')[2]" id="column1.title.split('__')[2]" readonly/>
                </div>
            </div>
            <div class="row">
                <br />
            </div>
        </div>

        <div style="margin-left: 45%; margin-bottom: 10px;" class="top-buffer">
            <button type="button" class="btn btn-primary btn-xs" id="btnSaveOptions" name="btnSaveOptions" ng-disabled="!edit_Config_myForm.$valid" ng-click="SaveOrUpdateProductConfigItem(columnsForReferenceTable1)" title="Save">Save</button>
            <button type="button" class="btn btn-primary btn-xs" id="btnCancelOptions" name="btnCancelOptions" ng-click="CancelProductConfigItem()" title="Cancel">Cancel</button>
        </div>
    </form>
</div>
