﻿
<div id="editAttributeGrouping">
    <div class="col-md-12 form-group">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-md-2 bold textalignright margintop padding-0">
                Group Type
            </div>

            <div class="col-md-4">
                <select kendo-drop-down-list
                        ng-model="GroupeType"
                        k-on-change="ChangeGroupType(kendoEvent)">
                    <option>Family</option>
                    <option>Product</option>
                </select>
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-12 form-group">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-md-2 bold textalignright margintop padding-0">Group Name  </div>
            <div class="col-md-4">
                <div id="Datatypeddl">
                    <select kendo-drop-down-list
                            k-data-text-field="'GROUP_NAME'"
                            k-data-value-field="'GROUP_ID'"
                            k-data-source="groupNameDataSource"
                            k-on-change="groupNameChange(kendoEvent)"
                            
                            style="width:180px"></select>
                </div>
                <div id="Datatypetxt" style="display: none">

                    <input type="text" id="datatxt1" value="" readonly />

                </div>
            </div>
            <div class="col-md-2 bold textalignright margintop padding-0"> </div>
            <div class="col-md-4"></div>
        </div>
        <div class="col-md-1"></div>
    </div>


    <div class="col-sm-12 no-padding">
        <table class="margin-left-100">
            <tbody>
                <tr>
                    <td class="col-sm-1"></td>
                    <td class="col-sm-3" style="vertical-align: top;width: 1%;">
                        <h6 class="col-sm-11 bold alignleft">Available Attributes</h6>
                        <div class="col-sm-3 navbar-content" id="showAttributeName">
                            <div class="main-navigation navbar-collapse1" style="position: inherit; width: 380px;">
                                <div style="overflow: auto;">
                                    <div id="chkbxAttributeId" style="text-align: left !important;">
                                        <div kendo-grid options="familyProductGridOptions" id="familyProductGrid">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td style="width: 4%;">
                        <table>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-default btn-xs" ng-click="SavePublishAttributes()" title="{{selectFamilyAttributes}}"><span class="glyphicon glyphicon-arrow-right"></span></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-default btn-xs" ng-click="DeletePublishAttributes()" title="{{unselectFamilyAttributes}}"><span class=" glyphicon glyphicon-arrow-left"></span></button>
                                </td>
                            </tr>

                        </table>
                    </td>
                    <td class="col-sm-3" style="vertical-align: top;width: 1%;">
                        <h6 class="col-sm-11 bold alignleft">Selected Attributes</h6>
                        <div class="col-sm-3 navbar-content" id="showSelectedAttributes">
                            <div class="main-navigation navbar-collapse1" style="position: inherit; width: 380px;">
                                <div style="overflow: auto;">
                                    <div id="chkbxselAttributeId">
                                        <div kendo-grid="familyProdselectedgrid" options="familyProductselectedGridOptions">
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                        <br />
                        <!--<div align="center">
                            <button type="button" class="btn btn-default btn-xs" ng-click="UnPublishAttributes()">Publish / UnPublish</button>
                        </div>-->
                    </td>
                    <td style="width: 4%;">
                        <table>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-default btn-xs" ng-click="BtnFamilyMoveUpClick()" title="{{moveFamilyAttributesUp}}"><span class="glyphicon glyphicon-arrow-up"></span></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-default btn-xs" ng-click="BtnFamilyMoveDownClick()" title="{{moveFamilyAttributesDown}}"><span class="glyphicon glyphicon-arrow-down"></span></button>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="col-sm-1"></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>