﻿<style>
    .k-window-titlebar.k-header {
        /*background: #275CAB !important;*/ /*set background to the titlebar*/
        /*color: white;*/ /*set color to the titlebar*/
        font-weight: bold !important; /*set font-weight to the titlebar*/
        /*text-transform: uppercase;*/
        text-transform: capitalize;
        text-rendering: geometricPrecision;
        letter-spacing: 0.065em;
    }

    /*div.k-window-content {
        border: 1px solid #275CAB;
    }*/
</style>
<div ng-controller="userAdminController" ng-cloak>
    <form name="frmEditUserRolesAllowedFunction">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="popupinTable">
            <tr>
                <td class="textBold">
                    Function Name
                </td>
                <td>
                    <span>{{editUserRolesFunction.FUNCTION_NAME}}</span>
                </td>

            </tr>
            <tr>
                <td class="textBold">
                    Action View
                </td>
                <td>
                    <input type="checkbox" id="chkEnabled" ng-model="editUserRolesFunction.ACTION_VIEW" />
                </td>
            </tr>
            <tr>
                <td class="textBold">
                    Action Modify
                </td>
                <td>
                    <input type="checkbox" id="chkEnabled" ng-model="editUserRolesFunction.ACTION_MODIFY" />
                </td>
            </tr>
            <tr>
                <td class="textBold">
                    Action Add
                </td>
                <td>
                    <input type="checkbox" id="chkEnabled" ng-model="editUserRolesFunction.ACTION_ADD" />
                </td>
            </tr>
            <tr>
                <td class="textBold">
                    Action Remove
                </td>
                <td>
                    <input type="checkbox" id="chkEnabled" ng-model="editUserRolesFunction.ACTION_REMOVE" />
                </td>

            </tr>
            <tr>
                <td colspan="6" align="center">
                    <input type="button" id="btnSave" name="Save" class="btn btn-primary btn-xs" ng-click="updateUserRolesAllowedFunction()" value="Update" />
                    <input type="button" id="btnCancel" name="Cancel" class="btn btn-primary btn-xs" ng-click="closeEdittUserRolesAllowedFunction()" value="Cancel" />
                </td>
            </tr>
        </table>
    </form>
</div>