﻿dsfdsfdsf
<div>
    dsfdf
    <select kendo-drop-down-list
            k-option-label="'--- Select Group ---'"
            k-data-text-field="'GROUP NAME'"
            k-data-value-field="'GROUP ID'"
            k-data-source="attributegruopdatasource"
            k-on-change="groupchange(kendoEvent)"
            style="width: 200px"></select>
</div>
<div class="row" id="productgrid" style="max-width: 98%;padding-left: 10px">
    <div id="dynamictable" style="max-width: 100%; overflow: auto;font-size:10px;">
        <table ng-table="tblDashBoard" id="samplegrid" class="table table-condensed table-bordered table-striped" width="90%">
            <thead class="k-grid-header k-grid-header-wrap">
                <tr>
                    <th ng-if="$data!='' && $data!=null">
                        <a href="" class="k-link"></a>
                        <input type="checkbox" id="checkall" ng-click="CheckAll($event,prodData)" ng-model="valueofcheckall" />
                    </th>
                    <th class="k-header" ng-if="columnsForAtt.length != 0" style="min-width: 69px;" ng-show='userRoleModifyProductTable'>EDIT</th>
                   
                    <th class="k-header" ng-repeat="column in columnsForAtt" style="min-width: 69px;" ng-show="DisplayIdcolumns===true" ng-if="column.title==='CATEGORY_ID' ">

                        <a href="" class="k-link" ng-if="column.title!=='PUBLISH'&& column.title!=='PUBLISH2PRINT' " ng-click="fnSort(column)">{{column.title.split('__')[0]}} </a>

                    </th>
                    <th class="k-header" ng-repeat="column in columnsForAtt" style="min-width: 69px;" ng-show="DisplayIdcolumns===true" ng-if="column.title==='FAMILY_ID' ">

                        <a href="" class="k-link" ng-if="column.title!=='PUBLISH'&& column.title!=='PUBLISH2PRINT' " ng-click="fnSort(column)">{{column.title.split('__')[0]}} </a>

                    </th>
                    <th class="k-header" ng-repeat="column in columnsForAtt" style="min-width: 69px;" ng-show="DisplayIdcolumns===true" ng-if="column.title==='PRODUCT_ID' ">

                        <a href="" class="k-link" ng-if="column.title!=='PUBLISH'&& column.title!=='PUBLISH2PRINT' " ng-click="fnSort(column)">{{column.title.split('__')[0]}} </a>

                    </th>
                    <th class="k-header" ng-repeat="column in columnsForAtt" style="min-width: 69px;" ng-show="DisplayIdcolumns===true" ng-if="column.title==='SORT' ">

                        <a href="" class="k-link" ng-if="column.title!=='PUBLISH'&& column.title!=='PUBLISH2PRINT' " ng-click="fnSort(column)">{{column.title.split('__')[0]}} </a>

                    </th>
                    <th class="k-header" ng-repeat="column in columnsForAtt" style="min-width: 69px;" ng-show="EnableWorkflow===true" ng-if="column.title==='WORKFLOW STATUS' ">

                        <a href="" class="k-link" ng-if="column.title!=='PUBLISH'&& column.title!=='PUBLISH2PRINT' " ng-click="fnSort(column)">{{column.title.split('__')[0]}} </a>

                    </th>
                    <th ng-repeat="column in columnsForAtt" class="k-header" style="min-width: 95px;word-wrap: break-word;overflow-wrap: break-word;" ng-if="column.title.split('__')[1] =='~' || column.title==='PUBLISH' ||column.title==='PUBLISH2PRINT'">
                        <a href="" class="k-link" ng-if="column.title==='PUBLISH'" ng-click="fnSort(column)">Web </a>
                        <a href="" class="k-link" ng-if="column.title==='PUBLISH2PRINT'" ng-click="fnSort(column)">PDF</a>

                        <a href="" class="k-link" ng-if="column.title!=='PUBLISH'&& column.title!=='PUBLISH2PRINT' && column.title.split('__')[3]!== '6' && column.title.split('__')[5]=== 'true'" ng-click="fnSort(column)"><spann class="publish">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</spann>{{column.title.split('__')[0]}}</a>

                        <a href="" style="background-color:lightgreen;margin-left:-5px;border-radius: 8px;" class="k-link" ng-if="column.title!=='PUBLISH'&& column.title!=='PUBLISH2PRINT' && column.title.split('__')[3]=== '6' && column.title.split('__')[5]=== 'true'" ng-click="fnSort(column)"><spann class="publishkey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</spann>{{column.title.split('__')[0]}}</a>

                        <a href="" class="k-link" ng-if="column.title!=='PUBLISH'&& column.title!=='PUBLISH2PRINT' && column.title.split('__')[3]!== '6' && column.title.split('__')[5]=== 'false'" ng-click="fnSort(column)">{{column.title.split('__')[0]}}</a>

                        <a href="" style="background-color:lightgreen;margin-left:-5px;border-radius: 8px;" class="k-link" ng-if="column.title!=='PUBLISH'&& column.title!=='PUBLISH2PRINT' && column.title.split('__')[3]=== '6' && column.title.split('__')[5]=== 'false'" ng-click="fnSort(column)"><spann class="unpublishkey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</spann>{{column.title.split('__')[0]}}</a>

                    </th>

                </tr>
            </thead>
            <tbody class="k-grid-content">
                <tr ng-repeat="Data in $data| orderBy:orderField:reverse" show-filter="true" class="table table-condensed table-bordered table-striped" ng-class="{'selected':Data['PRODUCT_ID'] == selectedRowValue}" ng-click="setClickedRow(Data['PRODUCT_ID'])">
                    <td><input type="checkbox" id="check" ng-click="selectedId(Data.PRODUCT_ID,$event,Data.FAMILY_ID)" ng-model="valueofcheckbox" /></td>
                    <td ng-show='userRoleModifyProductTable'>
                        <a href='javascript:void(0);' ng-click='UpdateProductItem(this)' ng-show='userRoleModifyProductTable'><div title='Edit' kendo-tooltip class='glyphicon glyphicon-edit blue btn'>&nbsp;</div></a>
                    </td>
                    <td>
                        <a href='javascript:void(0);' ng-click='btnProductPreview(this)'><div title='Preview' kendo-tooltip class='glyphicon glyphicon-th-list blue btn'>&nbsp;</div></a>
                    </td>
                    <td ng-show='userRoleDeleteProductTable'>
                        <a href='javascript:void(0);' ng-click='DeleteProductItem(this)' ng-show='userRoleDeleteProductTable'><div title='Association Removal' kendo-tooltip class='glyphicon glyphicon-remove-circle blue btn'>&nbsp;</div></a>
                    </td>
                    <td ng-show='userRoleDeleteProductTable'>
                        <a href='javascript:void(0);' ng-click='DeleteProductItemFromMaster(this)' ng-show='userRoleDeleteProductTable'><div title='Delete' kendo-tooltip class='glyphicon glyphicon-remove blue btn'>&nbsp;</div></a>
                    </td>
                    <td ng-repeat="column in columnsForAtt" style="text-align: left;" ng-if=" column.title==='CATALOG_ID'" ng-show="DisplayIdcolumns===true">

                        <div sortable="'Data[column.field]'">
                            {{Data[column.field]}}
                        </div>

                    </td>
                    <td ng-repeat="column in columnsForAtt" style="text-align: left;" ng-if=" column.title==='CATEGORY_ID'" ng-show="DisplayIdcolumns===true">

                        <div sortable="'Data[column.field]'">
                            {{Data[column.field]}}
                        </div>

                    </td>
                    <td ng-repeat="column in columnsForAtt" style="text-align: left;" ng-if=" column.title==='FAMILY_ID'" ng-show="DisplayIdcolumns===true">

                        <div sortable="'Data[column.field]'">
                            {{Data[column.field]}}
                        </div>

                    </td>
                    <td ng-repeat="column in columnsForAtt" style="text-align: left;" ng-if=" column.title==='PRODUCT_ID'" ng-show="DisplayIdcolumns===true">

                        <div sortable="'Data[column.field]'">
                            {{Data[column.field]}}
                        </div>

                    </td>

                    <td ng-repeat="column in columnsForAtt" style="text-align: left;" ng-if=" column.title==='SORT'" ng-show="DisplayIdcolumns===true">

                        <div sortable="'Data[column.field]'">
                            {{Data[column.field]}}
                        </div>

                    </td>
                    <td ng-repeat="column in columnsForAtt" style="text-align: left;" ng-if=" column.title==='WORKFLOW STATUS'" ng-show="EnableWorkflow===true">

                        <div sortable="'Data[column.field]'">
                            {{Data[column.field]}}
                        </div>

                    </td>
                    <td ng-repeat="column in columnsForAtt" style="text-align: left;" ng-if="column.title.split('__')[1] =='~' || column.title==='PUBLISH' ||column.title==='PUBLISH2PRINT'||column.title==='Sort'">
                        <a ng-if="column.title=='PUBLISH'">
                            <input type="checkbox" class="chkoption" ng-model="Data[column.field]" ng-trim="false" ng-true-value="'True'" ng-false-value="'False'">
                        </a>
                        <a ng-if="column.title=='PUBLISH2PRINT'">
                            <input type="checkbox" class="chkoption" ng-model="Data[column.field]" ng-trim="false" ng-true-value="'True'" ng-false-value="'False'">
                        </a>
                        <a ng-if="column.title!=='PUBLISH' && column.title!=='PUBLISH2PRINT' " ng-class="{'cg-normal': column.EditEnabled == false}" style="text-align: left;width: 100px">
                            {{Data[column.field]}}
                        </a>
                    </td>


                </tr>
            </tbody>
        </table>
    </div>
</div>