﻿<div class="col-sm-12"> <h5> <b>Template Name</b> </h5></div>
<div class="col-sm-12 margin-bottom-15">
    <input type="text" style="width: 176px;float: left;" name="description" ng-model="ScheduleProjectName" ng-trim="true" onkeypress="return AvoidSpace(event)">   
</div>
<div class="col-sm-12 margin-bottom-15">
    <button class="btn btn-primary btn-xs" type="button" ng-click='UpdateProjectName()' value="Batch process">Update</button>
    <button class="btn btn-primary btn-xs" type="button" ng-click='CancelProjectName()'>Cancel</button>
</div>


<script>
    function AvoidSpace(event) {

        var k = event ? event.which : window.event.keyCode;
        if (k >= 49 && k <= 57) {
            return true;
        }
        else if (k >= 97 && k <= 112) {
            return true;
        }
        else if (k >= 65 && k <= 90) {
            return true;
        }
        else if (k >= 186 && k <= 222) {
            return false;
        }
        else if (k >= 58 && k <= 64) {
            return false;
        }
        else if (k >= 91 && k <= 96) {
            return false;
        }
        else if (k >= 123 && k <= 126) {
            return false;
        }
        else if (k == 32) {
            return false;
        }
        else if (k <= 47) {
            return false;
        }

        else {
            return true;
        }
        return true;

    }
</script>
