﻿
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>
        <div>
            <div><b>The family you are trying to delete has one or more clones. Do you want to continue?</b></div>
            <br />
            <br />
            <table>
                <tbody>
                    <!--<tr>
                        <td align="center"><b>The family you are trying to delete has one or more clones. Do you want to continue?</b></td>
                    </tr>-->
                    <tr>
                        <td align="left" style="padding-right: 10px;">
                            <button class="btn btn-primary btn-xs" type="button" ng-click="DeleteFromCloneFamily()">Remove</button>
                        </td>
                        <td align="center" style="padding-right: 10px;">
                            <button class="btn btn-primary btn-xs" type="button" ng-click="AssignMasterFamily()">Assign New Master</button>
                        </td>
                        <td align="right">
                            <button class="btn btn-primary btn-xs" type="button" ng-click="CancelFromFamily()">Cancel</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
