﻿@*<style>
    .FamilyBody {
                        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
                        font-size: 14px !important;
                        line-height: 1.42857143 !important;
                        color: #333 !important;
                        background-color: #fff !important;
                    }


        </style>*@
<style>
    /*#FamilyTab .k-block, .k-button, .k-draghandle, .k-grid-header, .k-grouping-header, .k-header, .k-pager-wrap, .k-toolbar, .k-treemap-tile, html .km-pane-wrapper .k-header
     {
        background-color:#d9ecf5 !important;
        }
    #FamilyTab .k-grid-header
     {
        background-color:#d9ecf5 !important;
     }
     #FamilyTab .k-grid-header-wrap k-auto-scrollable
      {
        background-color:#d9ecf5 !important;
      }
    #FamilyTab #dynamictableFmly .k-filter-row th, .k-grid-header th.k-header
      {
          background-color:#d9ecf5 !important;
      }*/
    .first {
        pointer-events: none !important;
    }
    /*.undoclick{
         color:grey;
     }
      .undolist{
         color:grey;
     }*/

    #undoscroll {
        max-height: 150px;
        overflow: auto;
        min-height: auto;
    }
    #tabstripInvertedProducts-1{
        display:contents !important;
    }
    li.undoscrollup, li.undoscrolldown {
        background: #b3b3b3 !important;
        width: -webkit-fill-available;
        text-align: center;
        height: 20px;
    }

    .family-table {
        float: right;
    }

    .spacer {
        margin: 5px 0px !important;
    }
</style>

<link rel="stylesheet" type="text/css" id="theme" href="" />
<body>

    <div class="container no-padding " ng-controller="familyController" ng-cloak>
        <div kendo-window="winFamilyPDF" id="WinFamilyPDFXpress" k-resizable="true" k-draggable="false" k-title="'Family Pdf Xpress'" k-width="1320" k-height="420" k-visible="false"
             k-actions='["Close"]'
             k-modal="true" k-on-open="winBatchLogVisible = true" k-on-close="onClose(kendoEvent)">
        </div>
        <div align="center" id="BackDiv1" ng-if="invertedproductsbutton1">
            <button class="btn btn-primary btn-xs" type="button" ng-click="back()">Back to Products</button>
        </div>
        <div align="center" id="BackDiv2" ng-if="!invertedproductsbutton1 && SubProdInvert">
            <button class="btn btn-primary btn-xs margin-top-15 margin-bottom-15" type="button" ng-click="backSub()">Back to SubProducts</button>
        </div>
        <div class="row no-margin" ng-show="familyMainEditor">
            <div class="col-sm-12 padding-0">
                <div id="tabstrip" kendo-tab-strip="tabstrip" navigatable="false" kendo-tab-strip k-content-urls="[ null, null]" k-animation="false" style="min-width: 900px;max-width: 100%;background-color: #ffffff;margin-left: 0px;">
                    <ul style="display: none">
                        <li id="lnkCategoryTab" class="k-state-active" ng-click="OpenCategoryDefaultTab()" title="{{categoryTab}}">Category</li>
                        <li id="lnkFamilyTab" ng-click="OpenFamilyDefaultTab()" title="{{familyTab}}">Products</li>
                        <li id="lnkProductsTab" ng-click="OpenProductDefaultTab()" title="{{productsTab}}">Items</li>

                        <div style="float:right" class="btn-group" id="showUndoCategoryDiv" ng-show="categoryUndo">
                            <ul style="padding: 0;float: left;margin-right: 5px;">

                                <li id="undoIdCat" title="Undo" ng-click="UndoclickCat()" style="height: 29px;">
                                    <i class="fa fa-undo" id="undoClickId"></i>
                                </li>
                            </ul>
                            <ul class="dropdown-menu dropdown-menu-bg-color menu-hover navbar-right" id="undoscroll" style="right: 0; left: auto;">
                                <li id="{{groupCat.category.CATEGORY_ID}}" ng-click="undoListSelectCat(groupCat,$index)" ng-repeat="groupCat in categoryUndoList" style="color:#4b9f46; background-color: #4b9f46;border-color: #4b9f46;"><a>{{groupCat.category.CATEGORY_NAME}}</a> </li>
                            </ul>

                            <a class="btn btn-primary btn-xs dropdown-toggle" title="List" id="Undooption" style="margin-bottom: 0px;padding: 3px 13px;" data-toggle="dropdown"><span class="caret"></span></a>

                        </div>

                        <div style="float:right" class="btn-group" id="showUndoFamilyDiv" ng-show="familyUndo">
                            <ul style="padding: 0;float: left;margin-right: 5px;">
                                <button class="btn btn-primary" id="undoId" ng-click="Undoclick()" style="height: 27px;padding: 0px 12px;"><i class="fa fa-undo" id="undoClickId"></i></button>
                                @*<li id="undoId" ng-click="Undoclick()" style="height: 29px;">
                                        <i class="fa fa-undo" id="undoClickId"></i>
                                    </li>*@
                            </ul>
                            <ul class="dropdown-menu dropdown-menu-bg-color menu-hover navbar-right" id="undoscroll" style="right: 0; left: auto;">

                                <li id="{{group.familyWithoutAttributes.FAMILY_ID}}" ng-click="UndoList(group,$index)" ng-repeat="group in selectedFamilyDetails track by $index" style="color:#4b9f46; background-color: #4b9f46;border-color: #4b9f46;"><a>{{group.familyWithoutAttributes.FAMILY_NAME}}</a> </li>

                            </ul>

                            <a class="btn btn-primary btn-xs dropdown-toggle" title="List" id="Undooption" ng-disabled="disableUndoListButton" style="margin-bottom: 0px;padding: 3px 13px;" data-toggle="dropdown" ng-model="undobutton"><span class="caret"></span></a>
                            @*<button class="btn btn-primary" ng-show="showUndoAllbutton" style=" padding: 4px; float: right; margin-right: 5px;" ng-click="btnUndoAll()">Undo All</button>*@
                        </div>

                        <div style="float:right" class="btn-group" id="showUndoProductDiv" ng-show="productUndo">
                            <ul style="padding: 0;float: left;margin-right: 5px;">

                                <li id="undoId" title="Undo" ng-click="UndoProductclick()" style="height: 29px;">
                                    <i class="fa fa-undo" id="undoClickId"></i>
                                </li>
                            </ul>
                            <ul class="dropdown-menu dropdown-menu-bg-color menu-hover navbar-right" id="undoscroll" style="right: 0; left: auto;">
                                <li id="{{Productgroup.PRODUCT_ID}}" ng-click="UndoProductList(Productgroup,$index)" ng-repeat="Productgroup in showSelectedFamilyProductDetails track by $index" style="color:#4b9f46; background-color: #4b9f46;border-color: #4b9f46;"><a>{{Productgroup.ItemHashValue}}</a> </li>
                            </ul>

                            <a class="btn btn-primary btn-xs dropdown-toggle" title="List" id="Undooption" style="margin-bottom: 0px;padding: 3px 13px;" data-toggle="dropdown"><span class="caret"></span></a>

                        </div>

                    </ul>
                    <div style="padding: 15px;">
                        <div id="CategoryTab">
                            <div id="accordions" style="max-width: 100%;">
                                <div>
                                    <h3 ng-click="showfamilygrid()">Category</h3>
                                    <div id="FamilyTab" style="padding-bottom: 0;">
                                        <div>
                                            @{Html.RenderPartial("Category/Category");}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="ProductsTab">

                        <div style="padding: 15px;">

                            <div class="title_head">
                                <h3 ng-click="showfamilygrid()" class="d_flex_pro_menu">Product </h3> 
                           
                                
                               
</div></h3>
                                <div> 
                                    @{Html.RenderPartial("Admin/FamilyGrid");}

                                    <div class="title_head">
                                        <h3>Items</h3>
                                    </div>

                                    @{Html.RenderPartial("Admin/ProductGrid");}
                                </div>

                                @*<div>

            </div>*@
                            </div>

                            @*<div id="accordions" class="familyTab" style="max-width: 100%;margin: 0px 0px;">
                               
                            </div>*@

                            @*<div id="accordions" style="max-width: 100%;margin: 0px 0px;">

                                <div>
                                    <h3 ng-click="showproductgrid()">Items <div class="family-table" id="btnCancelOptions" name="btnCancelOptions" ng-click="CancelProductItem()"></div></h3>

                                  

                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div align="center" id="BackDiv1" ng-if="invertedproductsbutton1">
                <button class="btn btn-primary btn-xs margin-top-15 margin-bottom-15" type="button" ng-click="back()">Back to Products</button>
            </div>
            <div align="center" id="BackDiv2" ng-if="!invertedproductsbutton1 && SubProdInvert">
                <button class="btn btn-primary btn-xs margin-top-15 margin-bottom-15" type="button" ng-click="backSub()">Back to SubProducts</button>
            </div>
            <div class="container" ng-if="invertedproductsshow" ng-controller="invertedproductsController" ng-cloak id="invertedProducts">
                <div>
                    <div class="col-sm-12 padding-0 tabstripresolution">
                        <div id="tabstripInvertedProducts" navigatable="false" kendo-tab-strip k-content-urls="[ null, null]" k-animation="false">
                            <ul>

                                <li id="lnkInvertedProductsTab" class="k-state-active" title="Products List">Items</li>
                                <li id="lnkInvertedSubProductsTab" ng-show="EnableSubProduct" title="SubProducts List" ng-click="SubProductTabSelection()">SubProducts</li>
                            </ul>
                            <div id="invertedProduct">
                                <div>
                                    <div>
                                        @{Html.RenderPartial("Inverted/InvertedProducts");}
                                    </div>
                                </div>
                            </div>
                            <div id="invertedSubProductsMain" style="padding: 1em">
                                <div>
                                    <div>
                                        @{Html.RenderPartial("Inverted/InvertedSubproducts");}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>