﻿<style type="text/css">
    .row {
        padding: 5px;
        text-align: left;
        cursor: pointer;
        min-height: 20px;
        /*width: 100%;
        float:left;     */
    }

    .k-treeview {
        font-size: 13px;
    }
    .k-window-titlebar.k-header {
        /*background: #275CAB !important;*/ /*set background to the titlebar*/
        /*color: white;*/ /*set color to the titlebar*/
        font-weight: bold !important; /*set font-weight to the titlebar*/
        /*text-transform: uppercase;*/
        text-transform: capitalize;
        text-rendering: geometricPrecision;
        letter-spacing: 0.065em;
    }

    /*div.k-window-content {
        border: 1px solid #275CAB;
    }*/
</style>

<!--<div style="width:100%" id="window">-->
<div>
    <div id="newlayout">
        <form name="myformlayout" ng-controller="familytabledesignerController" ng-cloak>
            <table>
                <tr>
                    <td>
                        <br />
                        <div style="width:456px;height: 160px;position: inherit; border: 0px solid rgb(204, 204, 204); border-radius: 4px;">

                            <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 10px; margin-left: 67px;">
                                <tbody class="k-grid-content">
                                    <tr style="height:40px">
                                        <td>
                                            Structure Type&nbsp;
                                        </td>
                                        <td>
                                            <select kendo-drop-down-list
                                                    k-data-text-field="'Text'"
                                                    k-data-value-field="'value'"
                                                    k-options="StructureType"
                                                    k-on-change="StructureTypeChange(kendoEvent)"
                                                    ng-model="Structure.tabletype" style="width:200px"></select>
                                            <br />
                                        </td>
                                    </tr>
                                    <tr style="height:40px">
                                        <td>
                                            Structure Name&nbsp;
                                        </td>
                                        <td>
                                            <input type="text" id="txtLayout" ng-model="Structure.structureName" style="width:250px" />
                                            <br />
                                        </td>
                                    </tr>
                                    <tr style="height:40px">
                                        <td>
                                            Default Layout&nbsp;
                                        </td>
                                        <td>
                                            <label> <input type="radio" id="rdbYes" ng-model="Structure.defaultlayout" ng-value="true" />Yes</label>
                                            &nbsp;&nbsp;
                                            <label> <input type="radio" id="rdbNo" ng-model="Structure.defaultlayout" ng-value="false" />No</label>
                                            <br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="center">
                                            <br />
                                            <button class="btn btn-primary btn-xs" type="button" ng-click="CreateStructure()">
                                                OK
                                            </button>
                                            <button class="btn btn-primary btn-xs" type="button" ng-click="CancelStructure()">
                                                Cancel
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td style="padding-left:9px;">
                        <br />

                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<!--</div>-->
