﻿<style>
    .selected {
        background-color: lightgrey !important;
        color: white;
    }

    /*.k-grid-content table {
        table-layout: auto !important;
    }*/
    .scrollArea {
        display: inline-block;
        max-height: 320px;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
    }

    .uploadfilename {
        width: 50%;
        overflow: hidden;
        position: inherit;
        bottom: 0;
        left: 0;
        right: 0px;
        min-height: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .uploadfilename1 {
        position: absolute;
        margin-top: 10px;
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }

    .pagination > li > a, .pagination > li > span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #000000;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 10px 14px 10px 14px;
    }


    .pagination > li > a, .pagination > li > span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #000000;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 10px 14px 10px 14px;
    }

    .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
        z-index: 3;
        color: #fff;
        /* cursor: default; */
        /* background-color: #337ab7; */
        /* border-color: #337ab7; */
        color: #333;
        background-color: #d4d4d4;
        border-color: #8c8c8c;
        /* border-radius: 5px; */
        padding: 10px 14px 10px 14px;
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
    }

    .btn-xs-icon {
        padding: 2px 4px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }

    .product-pagination {
    position: absolute;
    margin-top: 0px;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

    .html-preview {
        position: absolute;
        margin-left: -20px;
        margin-top: 5px;
        color: #4b9f46;
    }
</style>


<div class="form-group col-md-12 padding-0" id="hideFamilyAttributeGroup">
    <div class="col-md-1 margintop"><b>Select Group </b> </div>
    @*<div class="col-md-3" id="FamilyPackageNames">
            <select kendo-drop-down-list
                    k-option-label="'--- Select ---'"
                    k-data-text-field="'GROUP_NAME'"
                    k-data-value-field="'GROUP_ID'"
                    k-data-source="FamilyGroupNameforFamily"
                    k-on-change="FamilyGroupNameChange(kendoEvent)"
                    ng-model="SelectedFamilyGroupId"
                    style="width:247px"></select>
        </div>*@

    <div class="col-md-3" id="FamilyPackageNames">
        <select kendo-drop-down-list
                k-option-label="'--- Select ---'"
                k-data-text-field="'GROUP_NAME'"
                k-data-value-field="'GROUP_ID'"
                k-data-source="FamilyGroupNameforFamilyAssociate"
                k-on-change="FamilyGroupNameChange(kendoEvent)"
                ng-model="SelectedFamilyGroupId"
                style="width:247px"></select>
    </div>

</div>
<br />
<br />

<div class="panel-heading1" style="margin: 0;">Product Attributes</div>
<br>
<br>
<div class="margin-top-5" id="window">
    <form name="edit_myForm">
        <div class="scrollArea" @*infinite-scroll='LoadMoreData()'*@>


            <div class="scrollsectionFamily">
                <div class="col-sm-6 float-left padding-0" ng-repeat="attribute in attributes" ng-if="attribute!=='CATALOG_ID'&& attribute!=='ATTRIBUTE_ID' && attribute!=='FAMILY_ID'&& attribute!=='CATEGORY_ID'&& attribute!=='Sort'&& attribute!=='$$hashKey' &&  attribute.split('__')[1] ==='OBJ'">
                    <div class="row top-buffer col-sm-12 float-left">
                        <div class="col-sm-4 bold textalignright margintop padding-right-0" style="margin-bottom: 10px" title="{{attribute.split('__')[0]}}">
                            {{attribute.split('__')[0]}}
                            <!--{{ selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT}}-->
                        </div>
                        <div style="margin-bottom: 10px;margin-left: 13px;" ng-if="!selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED " class="col-sm-6">
                            <div ng-if="selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE!==12 && !selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST && selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE!==9">
                                <!--<input type="text" ng-model="selectedRow[attribute]" name="textBoxValue{{$index}}" ng-if="selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Num')" ng-pattern="validPattern">-->
                                <input type="text"  ng-model="selectedRow[attribute]" ng-if="selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.toUpperCase().contains('NUM')" ng-pattern="attributePattern[attribute.replace(' ', '_').split('__')[2]]"
                                       id="textBoxValue{{$index}}" name="textBoxValue{{$index}}" onkeypress='return (event.which >= 48 && event.which <= 57) || event.which == 8 || event.which == 46'>
                                <span ng-if="selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.toUpperCase().contains('NUM')" ng-show="!Familygrid_Form.textBoxValue{{$index}}.$valid && Familygrid_Form.textBoxValue{{$index}}.$error.pattern" class="text-danger">Enter valid format ({{uimask[attribute.replace(' ', '_').split('__')[2]]}}).</span>

                                <input type="text"  ng-model="selectedRow[attribute]" ng-maxlength="attributePattern[attribute.replace(' ', '_').split('__')[2]]"
                                       id="textboxvalue{{selectedfamilyrowdynamicattributes[attribute.replace(' ', '_').split('__')[2]].attribute_id}}"
                                       name="textBoxValue{{$index}}" ng-if="selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.toUpperCase().contains('TEX') && selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.toUpperCase().contains('A-ZA-Z') && !selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.toUpperCase().contains('UFFFF')"
                                       ng-blur="datatypecheck($event,selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT,attribute)">
                                <span ng-if="selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.toUpperCase().contains('TEX') && selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.toUpperCase().contains('A-ZA-Z') && !selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.toUpperCase().contains('UFFFF')" ng-show="!Familygrid_Form.textBoxValue{{$index}}.$valid && Familygrid_Form.textBoxValue{{$index}}.$error.pattern" class="text-danger">Enter valid format ({{uimask[attribute.replace(' ', '_').split('__')[2]]}}).</span>

                                <textarea ckedit="selectedRow[attribute]" ng-maxlength="attributePattern[attribute.replace(' ', '_').split('__')[2]]"
                                          id="textboxvalue{{selectedfamilyrowdynamicattributes[attribute.replace(' ', '_').split('__')[2]].attribute_id}}"
                                          name="textBoxValue{{$index}}" ng-if="selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.toUpperCase().contains('TEX') && selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.toUpperCase().contains('UFFFF')"
                                          ng-blur="datatypecheck($event,selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT,attribute)" style="padding-right: 25px;"></textarea>
                                @*<span class="html-preview" title="Html Preview">
                                    <button type="button" style="text-align: center; padding: 0;border: none;background: none;" data-toggle="modal" ng-click="displayHtmlPreview($index)" data-target="#myModal"><i class="fa fa-eye"></i></button>
                                </span>*@
                                <span ng-if="selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.toUpperCase().contains('TEX') && selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.toUpperCase().contains('UFFFF')" ng-show="!Familygrid_Form.textBoxValue{{$index}}.$valid && Familygrid_Form.textBoxValue{{$index}}.$error.pattern" class="text-danger">Enter valid format ({{uimask[attribute.replace(' ', '_').split('__')[2]]}}).</span>
                                <span class="error" ng-show="Familygrid_Form.textBoxValue{{$index}}.$error.maxlength">
                                    Value is too long. Please correct it. Maximum characters is {{uimask[attribute.replace(' ', '_').split('__')[2]]}}
                                </span>
                            </div>
                            <div class="" ng-if="selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE!==9
                         && selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST
                         && selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED!==1">
                                <select kendo-drop-down-list
                                        k-option-label="'--Select Value--'"
                                        ng-model="selectedRow[attribute]"
                                        k-data-source="selectedFamilyRowDynamic[attribute.split('__')[2]]"
                                        k-data-value-field="'ListItem'"
                                        k-data-text-field="'ListItem'" style="width: 175px;"></select>
                                <span ng-show="userPickList">
                                    <a style="cursor:pointer;margin-left:10px" ng-click="PicklistCreate(attribute.split('__')[2],selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].PICKLIST_NAME)">
                                        <img src='..\\Content\\images\\Edit Picklist.jpg' title="Modify PickList" style="max-width:20px;max-height:20px;" />
                                    </a>
                                </span>
                            </div>
                            <div ng-if="selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE===9 && selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink' && attribute.split('__')[1] ==='OBJ' && !selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date')">
                                <input style="" type="text" ng-disabled="selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" ng-model="selectedRow[attribute]" id="{{attribute}}" readonly>
                                <br />

                                @*<img ng-if="selectedRow[attribute]!=null &&  !selectedRow[attribute].toLowerCase().contains('.pdf') && !selectedRow[attribute].toLowerCase().contains('.zip') &&
                                          !selectedRow[attribute].toLowerCase().contains('.rar') && !selectedRow[attribute].toLowerCase().contains('.xls')
                                         && !selectedRow[attribute].toLowerCase().contains('.xlsx') && !selectedRow[attribute].toLowerCase().contains('.pdf')
                                         && !selectedRow[attribute].toLowerCase().contains('.exe') &&
                                    !selectedRow[attribute].toLowerCase().contains('.msi') && !selectedRow[attribute].toLowerCase().contains('.doc')
                                         && !selectedRow[attribute].toLowerCase().contains('.docx') && !selectedRow[attribute].toLowerCase().contains('.tif')
                                         && !selectedRow[attribute].toLowerCase().contains('.tiff') && !selectedRow[attribute].toLowerCase().contains('.psd')
                                         && !selectedRow[attribute].toLowerCase().contains('.eps') " ng-src='\Content\\ProductImages\\{{getCustomerCompanyName}}{{selectedRow[attribute]}}'
                                       alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;margin:5px" />*@
                                <img ng-if="selectedRow[attribute]!=null && !selectedRow[attribute].toLowerCase().contains('.pdf') && !selectedRow[attribute].toLowerCase().contains('.zip') &&
                                    !selectedRow[attribute].toLowerCase().contains('.rar') && !selectedRow[attribute].toLowerCase().contains('.xls')
                                   && !selectedRow[attribute].toLowerCase().contains('.xlsx') && !selectedRow[attribute].toLowerCase().contains('.pdf')
                                   && !selectedRow[attribute].toLowerCase().contains('.exe') &&
                              !selectedRow[attribute].toLowerCase().contains('.msi') && !selectedRow[attribute].toLowerCase().contains('.doc')
                                   && !selectedRow[attribute].toLowerCase().contains('.docx') && !selectedRow[attribute].toLowerCase().contains('.tif')
                                   && !selectedRow[attribute].toLowerCase().contains('.tiff') && !selectedRow[attribute].toLowerCase().contains('.psd')
                                   && !selectedRow[attribute].toLowerCase().contains('.eps') "
                                     ng-src='{{getFamilPathFromWebConfig}}Content/ProductImages/{{getCustomerCompanyName}}{{selectedRow[attribute]}}'
                                     alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;margin:5px" />


                                <div ng-if="selectedRow[attribute].split('.')[selectedRow[attribute].split('.').length-1]=='eps' && selectedRow[attribute].split('.')[selectedRow[attribute].split('.').length-1]=='psd' && selectedRow[attribute].split('.')[selectedRow[attribute].split('.').length-1]=='tiff'" style="max-width:55%;max-height:195px;"><p>Preview only available in Family/Category preview</p></div>

                                <a ng-if="selectedRow[attribute].toLowerCase().contains('.pdf')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;">
                                    <img src='..\\Content\\images\\pdf.png' alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;" />
                                </a>

                                <a ng-if="selectedRow[attribute].toLowerCase().contains('.zip') || selectedRow[attribute].toLowerCase().contains('.rar')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;">
                                    <img src='..\\Content\\images\\zip.png' alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;" />
                                </a>

                                <a ng-if="selectedRow[attribute].toLowerCase().contains('.xls') || selectedRow[attribute].toLowerCase().contains('.xlsx')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;">
                                    <img src='..\\Content\\images\\xls.png' alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;" />
                                </a>

                                <a ng-if="selectedRow[attribute].toLowerCase().contains('.exe') || selectedRow[attribute].toLowerCase().contains('.msi')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;">
                                    <img src='..\\Content\\images\\exe.png' alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;" />
                                </a>

                                <a ng-if="selectedRow[attribute].toLowerCase().contains('.doc') || selectedRow[attribute].toLowerCase().contains('.docx')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;">
                                    <img src='..\\Content\\images\\doc.png' alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;" />
                                </a>

                                <div ng-if="selectedRow[attribute].toLowerCase().contains('.pdf') || selectedRow[attribute].toLowerCase().contains('.zip') || selectedRow[attribute].toLowerCase().contains('.rar') || selectedRow[attribute].toLowerCase().contains('.xls') || selectedRow[attribute].toLowerCase().contains('.xlsx') || selectedRow[attribute].toLowerCase().contains('.pdf') || selectedRow[attribute].toLowerCase().contains('.exe') ||
                              selectedRow[attribute].toLowerCase().contains('.msi') || selectedRow[attribute].toLowerCase().contains('.doc') || selectedRow[attribute].toLowerCase().contains('.docx') || selectedRow[attribute].toLowerCase().contains('.tif') || selectedRow[attribute].toLowerCase().contains('.tiff') || selectedRow[attribute].toLowerCase().contains('.psd') || selectedRow[attribute].toLowerCase().contains('.eps') " target="_blank"
                                     style="max-width:100%;max-height:195px;">
                                    <div style="max-width:100%;max-height:195px;"><p>Preview only available in Product/Sub-Product preview</p></div>
                                </div>
                                <div align="left">
                                    <input name="files" id="{{attribute}}"
                                           type="file"
                                           title="Product Image"
                                           ng-disabled="!userImageandAttachments"
                                           kendo-upload
                                           k-multiple="false"
                                           k-async="{ saveUrl: '/Category/SaveImage', removeUrl: '/Category/RemoveImage', autoUpload: true }"
                                           k-select="onProdSelect" k-success="onProdSuccess" ng-if="false" />

                                    <button id="{{attribute}}" ng-disabled="!userImageandAttachments" title="Product Image" type="button" class="btn btn-primary" style="margin: 10px" ng-click="OpenPopupWindow(attribute)"><i class="fa fa-paperclip"></i></button>
                                    <button id="{{attribute}}" ng-disabled="!userImageandAttachments" title="Product Image Clear" type="button" class="btn btn-primary" style="margin: 10px;" ng-click="clearImagePath(attribute)"><i class="fa fa-close"></i></button>
                                </div>
                                <input type="text" ng-model="selectedRow[attribute.replace('OBJ',1)]" placeholder="Caption" id="textBoximg{{$index}}">
                            </div>

                            <div ng-if="selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE===12 && !selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST && !selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Hyperlink')  &&  !selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date')" onkeypress='return (event.which >= 48 && event.which <= 57) || event.which == 8 || event.which == 46'>
                                <input type="text" name="textBoxValue{{$index}}" ng-model="selectedRow[attribute]" ng-pattern="attributePattern[attribute.replace(' ', '_').split('__')[2]]" id="textBoxValue{{$index}}">
                                <span ng-show="!Familygrid_Form.textBoxValue{{$index}}.$valid && Familygrid_Form.textBoxValue{{$index}}.$error.pattern" class="text-danger">Enter valid format ({{uimask[attribute.replace(' ', '_').split('__')[2]]}}).</span>
                            </div>

                            <div ng-if="selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Hyperlink') && !selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                                <input type="text" ng-model="selectedRow[attribute]" focus-me="focusInput" ng-blur="TextBoxChanged($event,this,attribute)" id='textBoxValuenumber{{attribute.split("__")[2]}}'>
                            </div>
                            <div ng-if="!selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Hyperlink') && selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') &&
                     selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4}\\s\\d{2}(\\-|\\:)\\d\\d(\\-|\\:)\\d{2})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)(?=.{11}(?:0[0-9]|1[0-9]|2[03]))(?=.{14}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{17}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))' ||
                      selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4}\\s\\d{2}(\\-|\\:)\\d\\d(\\-|\\:)\\d{2}\\s\\w{2})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)(?=.{11}(?:0[1-9]|1[0-2]))(?=.{14}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{17}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{20}(?:[A|P][M]))' && !selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                                <input kendo-date-time-picker class="" id='datetime{{attribute.split("__")[2]}}' k-format="'MM/dd/yyyy hh:mm tt'" ng-model="selectedRow[attribute]" k-interval="10" ng-blur="datetimecheck($event,attribute)" onkeydown="return true;" k-on-change="onDateSelected(selectedRow[attribute],attribute)" />
                            </div>
                            <div ng-if="!selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Hyperlink') && selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') &&
                     selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4})(?=.{3}(?:0[1-9]|[12]\\d|3[01]))(?=.{0}(?:0[1-9]|1[0-2]))(?!.{0}(?:0[2469]|11)-31)(?!.{0}02-30)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)...[13579])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)..[13579][048])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)..[02468][26])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.).[13579]00)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)[13579][048]00)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)[02468][26]00)' && !selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                                <input kendo-date-picker class="" id='datetime{{attribute.split("__")[2]}}' k-format="'MM/dd/yyyy'" name="monthdate" ng-model="selectedRow[attribute]" ng-blur="datecheck($event,attribute)" onkeydown="return false;" />
                            </div>
                            <div ng-if="!selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Hyperlink')  && selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') &&
                     selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(-|/|.)\\d\\d(-|/|.)\\d{4})(?=.{0}(?:0[1-9]|[12]d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(-|/|.)02(-|/|.)...[13579])(?!29(-|/|.)02(-|/|.)..[13579][048])(?!29(-|/|.)02(-|/|.)..[02468][26])(?!29(-|/|.)02(-|/|.).[13579]00)(?!29(-|/|.)02(-|/|.)[13579][048]00)(?!29(-|/|.)02(-|/|.)[02468][26]00)' ||
                     selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)' ||
                     selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.contains('System') && !selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                                <input kendo-date-picker class="" id='datetime{{attribute.split("__")[2]}}' k-format="'dd/MM/yyyy'" name="datemonth" ng-model="selectedRow[attribute]" ng-blur="datecheck($event,attribute)" onkeydown="return false;" />
                            </div>
                        </div>
                        <div style="margin-bottom: 10px" ng-if="selectedFamilyRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED" class=" col-sm-3">
                            <input type="text" class="form-control" ng-model="selectedRow[attribute]" min="0" step="any" focus-me="focusInput" id='textBoxValuenumber{{attribute.split("__")[2]}}' readonly>
                        </div>
                    </div>
                </div>
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">HTML Preview</h4>
                            </div>
                            <div class="modal-body">
                                <p ng-bind-html="gettextareaValue"></p>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
                <!--
                <div class="row">
                    {{attribute}} : {{Value}}
                </div>-->
                <div></div>
                <div class="row">
                </div>
            </div>

        </div>


        <div id="loadMore" ng-click="LoadMoreFamilyData()" class="loadmore">Load more attributes</div>
        @*<div style="margin-top: 10px;text-align: center;background: #eee;padding: 13px 20px 12px 21px;margin-left: -35px;margin-right: -35px;">

                <button type="button" class="btn btn-primary btn-xs" id="btnSaveOptions" name="btnSaveOptions" ng-disabled="!edit_myForm.$valid" ng-click="SaveOrUpdateFamilSpecs(selectedRow)" title="Save">Save</button>
                <button type="button" class="btn btn-primary btn-xs" id="btnCancelOptions" name="btnCancelOptions" ng-click="CancelFamilSpecs()" title="Cancel">Cancel</button>
            </div>*@
    </form>
</div>

<div class="margin-top-0" ng-mousemove="setWidth()" id="productgridtabstrip" navigatable="false" kendo-tab-strip k-content-urls="[ null, null]" k-animation="false" style="max-width: 100%;">

    <br />



</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('.familygrid tbody').scroll(function (e) {
            /*
            Setting the thead left value to the negative valule of tbody.scrollLeft will make it track the movement
            of the tbody element. Setting an elements left value to that of the tbody.scrollLeft left makes it maintain
    		it's relative position at the left of the table.
            */
            $('.familygrid thead').css("left", -$(".familygrid tbody").scrollLeft()); //fix the thead relative to the body scrolling
            $('.familygrid thead th:nth-child(-n+4)').css("left", $(".familygrid tbody").scrollLeft()); //fix the first cell of the header
            $('.familygrid tbody td:nth-child(-n+4)').css("left", $(".familygrid tbody").scrollLeft()); //fix the first column of tdbody
        });
    });

</script>