﻿<style>
    .heightsample {
        height: 600px !important;
    }

    .k-window-titlebar.k-header {
        /*background: #275CAB !important;*/ /*set background to the titlebar*/
        /*color: white;*/ /*set color to the titlebar*/
        font-weight: bold !important; /*set font-weight to the titlebar*/
        /*text-transform: uppercase;*/
        text-transform: capitalize;
        text-rendering: geometricPrecision;
        letter-spacing: 0.065em;
    }
</style>

<!--<form name="myForm" ng-controller="FamilynewattributeController" ng-cloak>
    <div style="width:100%" id="popupwindow">
        <table width="100%" class="table table-condensed table-bordered table-striped">
            <tr>
                <td width="350px">Attribute Type  </td>

                <td width="120px">
                    <select kendo-drop-down-list class="selectcss" id="Add_Attribute_Type" ng-model="AddAttributeType">
                        <option value="9">Family Image / Attachment</option>
                    </select>
                </td>
                <td width="350px">Attribute Name </td>
                <td width="200px"><input type="text" ng-keypress="omit_special_char($event, Attribute.ATTRIBUTE_NAME)" id="txt_attr_name" class="k-input k-textbox" name="attributename" ng-model="Attribute.ATTRIBUTE_NAME" style="width: 165px !important"></td>
            </tr>
            <tr>
                <td>Data Type  </td>

                <td>
                    <div id="Datatypeddl">
                        <select demo-display="field" id="attributedatatype" kendo-drop-down-list k-options="attributedatetypedatasource" data-ng-model="Attribute.ATTRIBUTE_DATATYPE" k-data-value-field="'attributedatatype'" k-data-text-field="'attributedatatypename'" style="width: 165px"></select>
                    </div>
                    <div id="Datatypetxt" style="display: none">
                        <input type="text" id="datatxt1" value="" readonly style="width:165px !important" class="k-input k-textbox" />
                    </div>
                </td>
                <td>Style Name </td>
                <td><input type="text" id="txt_stylename" class="k-input k-textbox" name="stylename" ng-model="Attribute.STYLE_NAME" style="width: 165px !important"></td>
            </tr>
            <tr>
                <td>Data Format  </td>

                <td>
                    <div id="Dataformatddl">
                        <div id="attributedatainteger">
                            <select demo-display="field" kendo-drop-down-list k-options="attributedateintegerformatdatasource" data-ng-model="Attribute.ATTRIBUTE_DATAFORMAT" k-data-value-field="'attributedataformat'" k-data-text-field="'attributedataformatname'" style="width: 165px"></select>
                        </div>
                        <div id="attributedatatext">
                            <select demo-display="field" kendo-drop-down-list k-options="attributedateformattextdatasource" data-ng-model="Attribute.ATTRIBUTE_DATAFORMAT" k-data-value-field="'attributedataformat'" k-data-text-field="'attributedataformatname'" style="width: 165px"></select>
                        </div>
                        <div id="attributedatadate">
                            <select demo-display="field" kendo-drop-down-list k-options="attributedateformatdatedatasource" data-ng-model="Attribute.ATTRIBUTE_DATAFORMAT" k-data-value-field="'attributedataformat'" k-data-text-field="'attributedataformatname'" style="width: 165px"></select>
                        </div>
                        <div id="attributedatahyperlink">
                            <select demo-display="field" kendo-drop-down-list k-options="attributedateformathyperlinkdatasource" data-ng-model="Attribute.ATTRIBUTE_DATAFORMAT" k-data-value-field="'attributedataformat'" k-data-text-field="'attributedataformatname'" style="width: 165px"></select>
                        </div>
                    </div>
                    <div id="Dataformattxt" style="display: none">
                        <input type="text" id="datatxt" value="" class="k-input k-textbox" readonly style="width:165px !important" />
                    </div>
                </td>
                <td id="txtsize">Size </td>
                <td id="size">
                    <div id="attributedataintegersize">

                        <input type="text" class="k-input k-textbox" id="txt_size" maxlength="13" style="width:112px !important;" name="stylename" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46' ng-model="Attribute.ATTRIBUTE_SIZE">

                        <select demo-display="field" kendo-drop-down-list k-options="size" style="width:50px;" data-ng-model="Attribute.ATTRIBUTE_DECIMAL" k-data-value-field="'Decimal'" k-data-text-field="'Decimal'" id="intdata"></select>

                    </div>
                    <div id="attributedatasize">
                        <table>
                            <tr>
                                <td style="padding: 0px;">
                                    <input type="text" id="txt_attributedatasize" class="k-input k-textbox" style="width: 165px !important" maxlength="13" name="stylename" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46' ng-model="Attribute.ATTRIBUTE_SIZE">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    (Leave blank for unlimited size)
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="attributedataemptysize">-</div>
                </td>
            </tr>

            <tr id="attrdatarule">
                <td colspan="4" style="background-color:lightblue"><b>Attribute Data Rule </b> </td>
            </tr>
            <tr id="applyto">
                <td colspan="1">Apply To </td>

                <td colspan="3">
                    <input id="attrapplytoallnew" name="applyto" type="radio" ng-model="Attribute.ApplyTo" value="All" />
                    All Rows
                    <input id="attrapplytofirstnew" name="applyto" type="radio" ng-model="Attribute.ApplyTo" value="First" />
                    First Row
                </td>
            </tr>
            <tr id="prefixsuffix">
                <td>Prefix  </td>

                <td><input type="text" id="prefixnew" class="k-input k-textbox" style="width: 165px !important;" ng-model="Attribute.Prefix"></td>
                <td>Suffix  </td>

                <td><input type="text" id="suffixnew" class="k-input k-textbox" style="width: 165px !important;" ng-model="Attribute.Suffix"></td>
            </tr>

            <tr id="condition">
                <td>Condition  </td>

                <td>
                    <select demo-display="field" kendo-drop-down-list data-ng-model="Attribute.Condition" style="width: 165px">
                        <option></option>
                        <option>Empty</option>
                        <option>Null</option>
                        <option>0.00</option>
                        <option>0</option>
                    </select>

                </td>
                <td>Custom Text  </td>

                <td><input type="text" id="customvaluenew" class="k-input k-textbox" style="width: 165px !important;" ng-model="Attribute.CustomValue"></td>
            </tr>

            <tr id="applycustomtext">
                <td colspan="4"><input type="checkbox" ng-model="Attribute.ApplyForNumericOnly">Apply custom text for numeric type</td>
            </tr>

            <tr>
                <td colspan="4">
                    Select Publish Options  &nbsp;&nbsp;
                    <input type="checkbox" ng-model="Attribute.PUBLISH2WEB">&nbsp;&nbsp;Web&nbsp;&nbsp;
                    <input type="checkbox" ng-model="Attribute.PUBLISH2PRINT">&nbsp;&nbsp;Print&nbsp;&nbsp;
                    <input type="checkbox" ng-model="Attribute.PUBLISH2PDF">&nbsp;&nbsp;PDF&nbsp;&nbsp;
                    <input type="checkbox" ng-model="Attribute.PUBLISH2EXPORT">&nbsp;&nbsp;Export&nbsp;&nbsp;
                    <input type="checkbox" ng-model="Attribute.PUBLISH2PORTAL">&nbsp;&nbsp;Portal
                </td>
            </tr>
        </table>
        <table class="table-condensed" style="border:none;width: 100%;max-width: 100%;">
            <tr>
                <td></td>
                <td>
                    <button class="btn btn-primary btn-xs" type="button" style="float:right" ng-click="NewAttrSave(Attribute)">Save</button>
                </td>
                <td>
                    <button class="btn btn-primary btn-xs" type="button" style="float:left" ng-click="CancelFamilyAttribute()">Cancel</button>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
</form>-->


<div style="width:100%" id="popupwindow">
    <table width="100%" class="table table-condensed table-bordered table-striped" style="margin-bottom: 20px;">
        <tr>
            <td width="350px">Attribute Type  </td>

            <td width="120px">
                <!--<select demo-display="field" id="attributetype1" kendo-drop-down-list k-options="attributeproducttypedatasource"
                        data-ng-model="Attribute.ATTRIBUTE_TYPE" k-data-value-field="'attributetype'" k-data-text-field="'attributetypename'" style="width: 165px"></select>-->
                <select kendo-drop-down-list class="selectcss" id="famadd_Attribute_Type" ng-model="famAttribute.AttributeType">
                    <option value="3">Product Image / Attachment</option>
                </select>
            </td>
            <td width="350px">Attribute Name </td>
            <td width="200px">
                <input type="text" id="famadd_attr_name" class="k-input k-textbox"  name="attributename" style="width: 165px !important" ng-model="famAttribute.ATTRIBUTE_NAME">
            </td>
        </tr>
        <tr>
            <td>Data Type  </td>
            <td>
                <div id="Datatypetxt1">
                    <input type="text" id="datatxt11" value="Text" readonly class="k-input k-textbox" style="width: 165px !important" />
                </div>
            </td>
            <td>Style Name </td>
            <td>
                <input type="text" id="txt_stylename1" class="k-input k-textbox" name="stylename" style="width: 165px !important" ng-model="famAttribute.STYLE_NAME">
            </td>
        </tr>
        <tr>
            <td>Data Format  </td>
            <td>
                <div id="Dataformattxt1">
                    <input type="text" class="k-input k-textbox" id="datatxt1" value="All Characters" style="width: 165px !important" readonly />
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                Select Publish Options  &nbsp;&nbsp;
                <input type="checkbox" ng-init="checked=true" ng-model="famAttribute.PUBLISH2WEB">&nbsp;&nbsp;Web&nbsp;&nbsp;
                <input type="checkbox" ng-init="checked=true" ng-model="famAttribute.PUBLISH2PRINT">&nbsp;&nbsp;Print&nbsp;&nbsp;
                <input type="checkbox" ng-init="checked=true" ng-model="famAttribute.PUBLISH2PDF" >&nbsp;&nbsp;PDF&nbsp;&nbsp;
                <!--<input type="checkbox" ng-init="checked=true" ng-model="famAttribute.PUBLISH2EXPORT">&nbsp;&nbsp;Export&nbsp;&nbsp;
                <input type="checkbox" ng-init="checked=true" ng-model="famAttribute.PUBLISH2PORTAL">&nbsp;&nbsp;Portal-->
            </td>
        </tr>

    </table>

    <div class="col-sm-12 aligncenter table-condensed" style="text-align: center;">
        <div>
            <button class="btn btn-primary btn-xs" type="button" ng-click="FamImgAttrSave(famAttribute)">
                Save
            </button>
            <button class="btn btn-primary btn-xs" type="button" ng-click="CancelFamAttribute()">
                Cancel
            </button>
        </div>
    </div>


</div>
