﻿
<script src="~/Views/ImageManagement/ImageManagement.js"></script>
<div id="grid">
   
</div>
<script type="text/x-kendo-template" id="createtemplate">
    <button class="red k-button ng-scope">Delete All </button>
   


</script>
@*<div id="grid1"></div>
<script>
    var dataSource = new kendo.data.DataSource({
        data: [
          { name: "Pork", category: "Food", subcategory: "Meat" },
          { name: "Pepper", category: "Food", subcategory: "Vegetables" },
          { name: "Beef", category: "Food", subcategory: "Meat" }
        ],
        group: [
          // group by "category" and then by "subcategory"
          { field: "category" },
          { field: "subcategory" },
        ]
    });
    $("#grid1").kendoGrid({
        dataSource: dataSource
    });
</script>*@