﻿
<script src="~/Views/ImageManagement/ImageManagement.js"></script>
<style>
    div#treeviewKendo1 {
        border: 1px solid #a3d0e3;
        padding: 10px;
    }

    .assignimages {
        height: 140px;
        display: block;
        width: 30%;
        padding: 0px;
        background: #efefef;
        margin: 10px;
        cursor: pointer;
        text-align: center;
    }

    .assignfilename {
        width: 90%;
        overflow: hidden;
        background-color: #efefef;
        color: #0f4b63;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0px;
        min-height: 20px;
        padding: 4px 8px 8px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .assignfolderspace {
        height: 319px;
        overflow-y: auto;
        overflow-x: hidden;
        border: 1px solid #ccc;
        box-shadow: 0px 0px 5px 2px #ccc;
    }
</style>

<div class="col-sm-12">
    <div class="bold"> Select:  </div>
    <div id="treeviewKendo1" class="col-sm-3" kendo-tree-view="tree" k-options="treeDataAssignOption" k-load-on-demand="true">
        <span k-template>
            <label class='k-item' id="{{dataItem.id}}" title="{{dataItem.CATEGORY_NAME}}">{{dataItem.CATEGORY_NAME}}</label>
        </span>
    </div>

    <div class="col-sm-8">
        <div class="col-sm-2 bold textalignright margintop"> Attribute Type:  </div>
        <div class="col-sm-3">
            <select kendo-drop-down-list
                    k-option-label="'--- Select ---'"
                    k-options="Attributetypedatasource"
                    ng-model="AttributeType"
                    k-data-value-field="'attributetype'"
                    k-data-text-field="'attributetypename'"
                    k-on-change="ChangeAttributeType(kendoEvent)"></select>
        </div>

        <div class="col-sm-2 bold textalignright margintop">
            Match with:
        </div>
        <div class="col-sm-2">
            <select kendo-drop-down-list class="selectcss" id="match_With" ng-model="matchWith" k-on-change="ChangeMatchWith(kendoEvent)">
                <option value="1">None</option>
                <option value="2">Item#</option>
                <option value="3">Family Name</option>
            </select>
        </div>
        
    </div>

    <div id="singleImage" class="singleImageS">
        <div class="col-sm-8 form-group margin-top-15">
            <div class="col-sm-2 bold textalignright">
                Attribute Name:
            </div>
            <div class="col-sm-4">
                <select kendo-drop-down-list
                        k-option-label="'--- Select ---'"
                        k-data-text-field="'ATTRIBUTE_NAME'"
                        k-data-value-field="'ATTRIBUTE_ID'"
                        k-data-source="AttributeNameDataSource"
                        ng-model="SelectedAttributeId"></select>
            </div>
        </div>
    </div>

    @{ int loopCount = 1;
     string id = "object" + @loopCount;
    }

    @*<div id="multipleImage" class="col-sm-8 form-group margin-top-15">
            @{ int loopCount = 2;
            }
            @for (int j = 1; j <= loopCount; j++)
            {
            string id = "object" + @j;
            <div class="col-sm-2 bold textalignright">
                Attribute Name:
            </div>
            <div class="col-sm-4">
                <select kendo-drop-down-list
                        k-option-label="'--- Select ---'"
                        k-data-text-field="'ATTRIBUTE_NAME'"
                        k-data-value-field="'ATTRIBUTE_ID'"
                        k-data-source="AttributeNameDataSource"
                        id=@id></select>
            </div>
            }
        </div>*@



    <div class="col-sm-8 responsivebtn" align="center">
        <div class="center-block" align="center" style="margin: 25px 0px;">
            <button class="btn btn-primary btn-xs" type="button" id="AssignOption" ng-click="AssociateImages()" title="Assign Images">Assign</button>
            <button class="btn btn-primary btn-xs" type="button" ng-click="CancelBtn()" title="Cancel">
                Cancel
            </button>
            <br />
            <br />
            <div id="productAttributes">
                <button class="btn btn-primary btn-xs" type="button" title="Add Product Attributes" ng-click="productNewAttributeSetup()">
                    Add New Attribute
                </button>
            </div>

            <div id="familyAttributes">
                <button class="btn btn-primary btn-xs" type="button" title="Add Family Attributes" ng-click="familyNewAttributeSetup()">
                    Add New Attribute
                </button>
            </div>
        </div>
    </div>


    <div id="multipleImage" class="row col-sm-8 assignfolderspace" style="width: 70%;float: right">

        <div id="mainGridMultiple{{$index}}" class="col-lg-2 assignimages" ng-repeat="data in getMultipleImageData">

            <div>
                <select kendo-drop-down-list
                        k-option-label="'--- Select ---'"
                        k-data-text-field="'ATTRIBUTE_NAME'"
                        k-data-value-field="'ATTRIBUTE_ID'"
                        k-data-source="MultipleAttributeNameDataSource"
                        id="object{{$index}}" style="width: 192px;"></select>
            </div>

            <div class="image_Preview context-menu-one btn btn-neutral" style="background-image: url({{data.PATH}});width:50%;height:50%;" ng-mou ng-mousedown="ContextMenu(data,$event,'file')" ng-dblclick="fileOpenClick(data.PATH)" aria-hidden="true" ng-if="data.EXTENSION=='.jpg'||data.EXTENSION=='.jpeg' || data.EXTENSION=='.png'  || data.EXTENSION=='.gif' || data.EXTENSION=='.ico' || data.EXTENSION=='.bmp'"></div>
            <i class="fa fa-folder-open folderimage context-menu-one btn btn-neutral" ng-mousedown="ContextMenu(data,$event,'folder')" ng-dblclick="fileClick(data.PATH)" aria-hidden="true" ng-if="data.EXTENSION=='folder'"></i>
            <i class="fa fa-file folderimage context-menu-one btn btn-neutral" ng-mousedown="ContextMenu(data,$event,'file')" ng-dblclick="fileOpenClick(data.PATH)" aria-hidden="true" ng-if="data.EXTENSION=='.pdf' "></i>
            <i class=" fa fa-file-excel-o folderimage context-menu-one btn btn-neutral" ng-mousedown="ContextMenu(data,$event,'file')" ng-dblclick="fileOpenClick(data.PATH)" aria-hidden="true" ng-if="data.EXTENSION=='.doc' || data.EXTENSION=='.docx'"></i>
            <i class="fa fa-file-excel-o folderimage context-menu-one btn btn-neutral" ng-mousedown="ContextMenu(data,$event,'file')" ng-dblclick="fileOpenClick(data.PATH)" ng-if="data.EXTENSION=='.xls' || data.EXTENSION=='.xlsx' || data.EXTENSION =='.doc' " aria-hidden="true"></i>
            <i class="fa fa-file-archive-o folderimage context-menu-one btn btn-neutral" ng-mousedown="ContextMenu(data,$event,'file')" ng-dblclick="fileOpenClick(data.PATH)" aria-hidden="true" ng-if="data.EXTENSION=='.zip' || data.EXTENSION=='.rar' "></i>
            <i class="fa fa-file folderimage context-menu-one btn btn-neutral" ng-mousedown="ContextMenu(data,$event,'file')" ng-dblclick="fileOpenClick(data.PATH)" ng-if="data.EXTENSION=='.xsl' || data.EXTENSION=='.xml' || data.EXTENSION=='.psd'|| data.EXTENSION=='.tif' || data.EXTENSION=='.csv'|| data.EXTENSION=='.eps'" aria-hidden="true"></i>
            <i class="fa fa-file folderimage context-menu-one btn btn-neutral" ng-mousedown="ContextMenu(data,$event,'file')" ng-dblclick="fileOpenClick(data.PATH)" aria-hidden="true" ng-if="data.EXTENSION!='.pdf' && data.EXTENSION!='folder' && data.EXTENSION!='.doc' && data.EXTENSION!='.docx' && data.EXTENSION!='.xls' && data.EXTENSION!='.xlsx' && data.EXTENSION !='.doc' && data.EXTENSION!='.zip' && data.EXTENSION!='.rar' && data.EXTENSION!='.xsl' && data.EXTENSION!='.xml' && data.EXTENSION!='.psd'&& data.EXTENSION!='.tif' && data.EXTENSION!='.csv' && data.EXTENSION!='.jpg' && data.EXTENSION!='.jpeg' && data.EXTENSION!='.png'  && data.EXTENSION!='.gif' && data.EXTENSION!='.eps'&& data.EXTENSION!='.ico' && data.EXTENSION!='.bmp' "></i>
            <div class="col-sm-10 assignfilename" ng-class="{'selected': data.selected}" style="display: block; word-wrap: break-word;">{{data.FOLDERNAME}}</div>
            <input type="hidden" id="fileName{{$index}}" value="{{data.FULLPATH}}" />
        </div>
    </div>


</div>







@*<div id="productAttributes">
        <button class="btn btn-primary btn-xs" type="button" title="Add Product Attributes" ng-click="productNewAttributeSetup()">
            Add New Attribute
        </button>
    </div>

    <div id="familyAttributes">
        <button class="btn btn-primary btn-xs" type="button" title="Add Family Attributes" ng-click="familyNewAttributeSetup()">
            Add New Attribute
        </button>
    </div>*@

<div kendo-window="ProductNewAttributeSetup" k-title="'Product Attributes Setup'" k-width="750" k-height="540" k-visible="false"
     k-actions='["Close"]'
     k-modal="true" k-on-open="winProductNewAttributeSetupVisible = true" k-on-close="onClose(kendoEvent)">
</div>

<div kendo-window="FamilyNewAttributeSetup" k-title="'Add New Attribute'" k-width="700" k-height="550" k-visible="false"
     k-actions='["Close"]'
     k-modal="true" k-on-open="winFamilyNewAttributeSetupVisible = true" k-on-close="onClose(kendoEvent)">
</div>


@*background-image: url({{data.PreviewPATH}});*@
