﻿

<style>
    div#importSuccessWindow {
        position: inherit;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 4px;
        display: block;
        padding: 20px 0px 15px 0px !important;
        margin-bottom: 20px;
    }
</style>

<div class="col-sm-12" style="overflow: auto;height: 352px;margin-bottom: 20px;">



    <div class="col-sm-11" id="sheetvalidation" ng-if="missingColumnInValid" style="position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
        <h5> <b> Column Missing details </b> </h5>
        <div k-columns="missingcolumnsheet" kendo-grid k-data-source="MissingColumns"></div>

    </div>
    <div class="col-sm-11" id="importErrorWindow" ng-show="importErrorWindowdiv" style="position: inherit; border-radius: 4px;">
        <h5> <b> Import Error</b> </h5>
        <div kendo-grid k-options="importResultGridOptions"></div>
    </div>
    <div class="col-sm-11" id="importpicklist" ng-if="importpicklistdiv" style="position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
        <h5> <b> Picklist Log details </b> </h5>
        <div k-columns="gridColumns" kendo-grid k-data-source="getFinishImportFailedpicklistResults"></div>
    </div>

    <div ng-show="importMappingAtttributeErrorWindow">

        <table ng-table="tblDashImportBoard" show-filter="true" style="background-color: ghostwhite;margin-left:0px;width:100%;font-size:13px" class="table-condensed table-bordered table-striped tablescroll1">
            <thead class="k-grid-header k-grid-header">
                <tr>
                    <th class="k-header" style="width: 165px; text-transform: capitalize;">
                        Sheet Name
                    </th>
                    <th class="k-header" style="width: 165px; text-transform: capitalize;">
                        Import type
                    </th>
                    <th class="k-header" style="width: 165px; text-transform: capitalize;">
                        Attribute(s)
                    </th>
                    <th class="k-header" style="width: 165px; text-transform: capitalize;">
                        Error Message
                    </th>
                </tr>
            </thead>
            <tbody class="k-grid-content">
                <tr ng-repeat="values in attributeNames">
                    <td style="width: 165px;">
                        {{validationimportSelectedvalue}}
                    </td>
                    <td style="width: 165px;">
                        {{ImportType}}
                    </td>
                    <td style="width: 165px;">
                        {{values}}
                    </td>

                    <td style="width: 165px;">
                        Attribute/Caption Missing in the mapping table.
                    </td>
                </tr>

            </tbody>
        </table>
    </div>


    <div class="col-sm-11" id="importErrorWindow1" ng-show="importErrorFileWindowdiv" style="position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">


        <div class="col-sm-5"> <h5> <b>Validation Log </b> </h5></div>
        <div class="col-sm-6" ng-show="!importSuccessWindowdiv" style="float: right; padding-bottom: 0px;padding-top: 10px;">
            <div class="alignright">
                <div id="errorLog" style="width:100px" ng-model="Errorlogoutputformat"></div>
                @*<select kendo-drop-down-list
                            k-option-label="'--- Select ---'"
                            ng-model="Errorlogoutputformat"
                            ng-select="ErrorLog(Errorlogoutputformat)"
                            style="width:130px;text-align: center;">
                        <option>XLS</option>
                        <option disabled>CSV</option>
                        <option disabled>Text</option>
                        <option disabled>Text</option>
                    </select>*@
                <div class="exportlnk" ng-click='export_log()' ng-show="showErrorLog">Download Log</div>
            </div>
        </div>

        <div id="validationResultForAll" ng-if="false"></div>
        <table ng-table="tblDashImportBoard" show-filter="true" style="background-color: ghostwhite;margin-left:0px;width:100%;font-size:13px" class="table-condensed table-bordered table-striped tablescroll1">
            <thead class="k-grid-header k-grid-header">
                <tr>
                    <th class="k-header" style="width: 165px; text-transform: capitalize;" ng-repeat="column in validateLogcolumn" ng-if="column.ColumnName!='Import_Type' && column.ColumnName!='ROWID'">
                        <b ng-if="column.ColumnName!='CATALOG_ITEM_NO' && column.ColumnName!='SUBCATALOG_ITEM_NO'" style="text-transform: capitalize;">{{column.ColumnName.replace("_"," ").replace("ATTRIBUTE_VALUES","ATTRIBUTE_VALUE")}}</b>
                        <b ng-if="column.ColumnName === 'CATALOG_ITEM_NO'" style="text-transform: capitalize;">{{CatalogItemNumber}}</b>
                        <b ng-if="column.ColumnName === 'SUBCATALOG_ITEM_NO'" style="text-transform: capitalize;">{{CatalogSubItemNumber}}</b>
                    </th>
                    <th class="k-header" style="width: 100px; text-transform: capitalize;" ng-repeat="column in validateLogcolumn" ng-if="column.ColumnName=='ROWID'">
                        <b style="text-transform: capitalize;">Row no</b>
                    </th>
                </tr>
            </thead>
            <tbody class="k-grid-content">
                <tr ng-repeat="Data in validateLogprod" ng-if="!ImportType.toUpperCase().includes('SUBPROD')">
                    <td style="width: 165px;" ng-repeat="column in validateLogcolumn" ng-if="column.ColumnName!='Import_Type' && column.ColumnName!='ROWID'">
                        {{Data[column.ColumnName].replace("_"," ").replace("MISSING COLUMNS","MISSING COLUMN")}}
                    </td>

                    <td style="width: 165px;" ng-repeat="column in validateLogcolumn" ng-if="column.ColumnName=='ROWID'">
                        {{Data[column.ColumnName]}}
                    </td>
                </tr>
                <tr ng-repeat="Data in validateLogprod" ng-if="ImportType.toUpperCase().includes('SUBPROD')">
                    <td style="width: 165px;" ng-repeat="column in validateLogcolumn" ng-if="column.ColumnName!='Import_Type' && column.ColumnName!='ROWID'">
                        {{Data[column.ColumnName].replace("_"," ").replace("MISSING COLUMNS","MISSING COLUMN / VALUES")}}
                    </td>

                    <td style="width: 165px;" ng-repeat="column in validateLogcolumn" ng-if="column.ColumnName=='ROWID'">
                        {{Data[column.ColumnName]}}
                    </td>
                </tr>
            </tbody>
        </table>

        @*<div kendo-grid k-options="importResultGridOptionsvalidation"></div>*@
    </div>

    <div class="col-sm-11" id="importErrorWindowfortabledesigner" ng-show="importErrorWindowfortabledesignerdiv" style="position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">


        <div class="col-sm-5"> <h5> <b>Validation Log </b> </h5></div>
        <div class="col-sm-6" ng-show="!importSuccessWindowdiv" style="float: right; padding-bottom: 0px;padding-top: 10px;">
            <div class="alignright">
                <div id="errorLog" style="width:100px" ng-model="Errorlogoutputformat"></div>
                @*<select kendo-drop-down-list
                            k-option-label="'--- Select ---'"
                            ng-model="Errorlogoutputformat"
                            ng-select="ErrorLog(Errorlogoutputformat)"
                            style="width:130px;text-align: center;">
                        <option>XLS</option>
                        <option disabled>CSV</option>
                        <option disabled>Text</option>
                        <option disabled>Text</option>
                    </select>*@
                <div class="exportlnk" ng-click='tableDesignerError_log()' ng-show="showTabledesignerErrorLog">Download Log</div>
            </div>
        </div>

        <div id="validationResultForAll" ng-if="false"></div>
        <table ng-table="tblDashImportBoard" show-filter="true" style="background-color: ghostwhite;margin-left:0px;width:100%;font-size:13px" class="table-condensed table-bordered table-striped tablescroll1">
            <thead class="k-grid-header k-grid-header">
                <tr>
                    <th class="k-header" style="width: 165px; text-transform: capitalize;" ng-repeat="column in validateLogcolumn" ng-if="column.ColumnName!='Import_Type' && column.ColumnName!='ROWID'">
                        <b ng-if="column.ColumnName!='CATALOG_ITEM_NO' && column.ColumnName!='SUBCATALOG_ITEM_NO'" style="text-transform: capitalize;">{{column.ColumnName.replace("_"," ").replace("ATTRIBUTE_VALUES","ATTRIBUTE_VALUE")}}</b>
                        <b ng-if="column.ColumnName === 'CATALOG_ITEM_NO'" style="text-transform: capitalize;">{{CatalogItemNumber}}</b>
                        <b ng-if="column.ColumnName === 'SUBCATALOG_ITEM_NO'" style="text-transform: capitalize;">{{CatalogSubItemNumber}}</b>
                    </th>
                    <th class="k-header" style="width: 100px; text-transform: capitalize;" ng-repeat="column in validateLogcolumn" ng-if="column.ColumnName=='ROWID'">
                        <b style="text-transform: capitalize;">Row no</b>
                    </th>
                </tr>
            </thead>
            <tbody class="k-grid-content">
                <tr ng-repeat="Data in validateLogprod" ng-if="!ImportType.toUpperCase().includes('SUBPROD')">
                    <td style="width: 165px;" ng-repeat="column in validateLogcolumn" ng-if="column.ColumnName!='Import_Type' && column.ColumnName!='ROWID'">
                        {{Data[column.ColumnName].replace("_"," ").replace("MISSING COLUMNS","MISSING COLUMN")}}
                    </td>

                    <td style="width: 165px;" ng-repeat="column in validateLogcolumn" ng-if="column.ColumnName=='ROWID'">
                        {{Data[column.ColumnName]}}
                    </td>
                </tr>
                <tr ng-repeat="Data in validateLogprod" ng-if="ImportType.toUpperCase().includes('SUBPROD')">
                    <td style="width: 165px;" ng-repeat="column in validateLogcolumn" ng-if="column.ColumnName!='Import_Type' && column.ColumnName!='ROWID'">
                        {{Data[column.ColumnName].replace("_"," ").replace("MISSING COLUMNS","MISSING COLUMN / VALUES")}}
                    </td>

                    <td style="width: 165px;" ng-repeat="column in validateLogcolumn" ng-if="column.ColumnName=='ROWID'">
                        {{Data[column.ColumnName]}}
                    </td>
                </tr>
            </tbody>
        </table>

        @*<div kendo-grid k-options="importResultGridOptionsvalidation"></div>*@
    </div>


    <div class="col-sm-11 no-padding" id="importSuccessWindow" ng-show="importSuccessWindowdiv" ng-repeat="values in importAllResults">
        @* <div class="col-sm-10"> <h5> <b>Import Successful</b> </h5></div>*@
        @*<div class="col-sm-10"> <h5> <b>Sheet Name: {{values.SheetName}}</b> </h5></div>*@
        <div class="col-sm-5">
            <div class="col-sm-3 textalignright bold padding-0">Catalog <b>:</b></div>
            <div class="col-sm-6">{{values.CatalogName.trim()}} </div>
        </div>
        <div class="col-sm-5">
            <div class="col-sm-3  textalignright bold padding-0">Import Type <b>:</b></div>
            <div class="col-sm-6">{{values.importSheetType}} </div>
        </div>
        <div class="col-sm-5">
            <div class="col-sm-3  textalignright bold padding-0">Import file <b>:</b></div>
            <div class="col-sm-6"> {{SelectedFileForUploadnamemain}} </div>
        </div>
        <div class="col-sm-5">
            <div class="col-sm-3  textalignright bold padding-0">Time Taken <b>:</b></div>
            <div class="col-sm-6">{{values.TimeTaken}} </div>
        </div>
        <div class="col-sm-5">
            <div class="col-sm-3  textalignright bold padding-0">New <b>:</b></div>
            <div class="col-sm-6">{{values.InsertRecords}} </div>
        </div>
        <div class="col-sm-5">
            <div class="col-sm-3  textalignright bold padding-0">Updated <b>:</b></div>
            <div class="col-sm-6">{{values.UpdatedRecords}} </div>
        </div>
        <div class="col-sm-5">
            <div class="col-sm-3  textalignright bold padding-0">Deleted <b>:</b></div>
            <div class="col-sm-6">{{values.DeletedRecords}} </div>

        </div>
        <div class="col-sm-5">
            <div class="col-sm-3  textalignright bold padding-0">Detached <b>:</b></div>
            <div class="col-sm-6">{{values.DetachedRecords}} </div>

        </div>
        <div class="col-sm-5">
            <div class="col-sm-3  textalignright bold padding-0">Skipped <b>:</b></div>
            <div class="col-sm-6">{{values.SkippedRecords}} </div>
        </div>
        <div class="col-sm-5">
            <div class="col-sm-3 textalignright bold padding-0">SheetName <b>:</b></div>
            <div class="col-sm-6">{{values.SheetName}} </div>
        </div>




        <div class="col-sm-11" id="grid" ng-if="importTypeSelection.toUpperCase()=='PRODUCT' && false" style="height:170px;margin-left: 28px;padding: 0px;margin-bottom: 15px;" kendo-grid k-options="importSuccessResultGridOptions"></div>
        <div class="col-sm-11" id="grid" ng-if="importTypeSelection.toUpperCase()=='SUBPRODUCT' && false" style="height:170px;margin-left: 28px;padding: 0px;margin-bottom: 15px;" kendo-grid k-options="importSuccessResultGridOptionsSub"></div>
        <div class="col-sm-11" id="grid" ng-if="importTypeSelection.toUpperCase()=='FAMILY' && false" style="height:170px;margin-left: 28px;padding: 0px;margin-bottom: 15px;" kendo-grid k-options="importSuccessResultGridOptionsFam"></div>

    </div>


</div>

<div class="col-sm-12 aligncenter">
    <div id="attrMappBtn" class="col-sm-7 margin-bottom-20 center" ng-hide="tabledesignerhide">
        <div class="alignright">
            <button class="btn btn-primary btn-xs" type="button" ng-click='Validateback()'>Back</button>


            @*<button type="button" ng-disabled="true" id="btnImport" ng-if="nextSheetProcess" class="btn btn-primary btn-xs" style="width: 100px;" ng-click="finishImport()" title="{{bulkImport}}" data-toggle="modal" data-target="#myModal"> Import</button>*@
            <button class="btn btn-primary btn-xs" ng-if="nextSheetProcess && !sheetCompleted" type="button" ng-click='nextSheetSelection()'><i class="fa fa-chevron-right"></i></button>
            <button class="btn btn-primary btn-xs" ng-if="sheetCompleted && !importErrorWindowdiv" type="button" ng-click='ImportCompeted()'>Finish</button>
            <button class="btn btn-primary btn-xs" ng-if="!(sheetCompleted && !importErrorWindowdiv)" type="button" ng-click="GoToSetup()">Setup import</button>
            <button class="btn btn-primary btn-xs" type="button" ng-disabled="btnSaveImportTemplate" ng-click="btnSaveTemplate()"><i class="fa fa-save"></i></button>

            @*<button class="btn btn-primary btn-xs" ng-show="!validationPassed && passvalidationimportenable && !passvalidationNext" type="button" ng-click='skipValidateimport()'>Skip Validation</button>*@
            @*<button class="btn btn-primary btn-xs" ng-show="!validationPassed && passvalidationimportenable && !passvalidationNext" type="button" ng-click='skipValidateimport()'>Skip Validation</button>*@
        </div>
    </div>

    <div id="attrMappBtn" class="col-sm-7 margin-bottom-20 center" ng-show="tabledesignershow">
        <div class="alignright">
            <button class="btn btn-primary btn-xs" type="button" ng-click='Validatetabledesignerback()'>Back</button>


            @*<button type="button" ng-disabled="true" id="btnImport" ng-if="nextSheetProcess" class="btn btn-primary btn-xs" style="width: 100px;" ng-click="finishImport()" title="{{bulkImport}}" data-toggle="modal" data-target="#myModal"> Import</button>*@
            <button class="btn btn-primary btn-xs" ng-if="nextSheetProcess && !sheetCompleted" type="button" ng-click='nextSheetSelection()'><i class="fa fa-chevron-right"></i></button>
            <button class="btn btn-primary btn-xs" ng-if="sheetCompleted && !importErrorWindowdiv" type="button" ng-click='ImportCompeted()'>Finish</button>
            <button class="btn btn-primary btn-xs" type="button" ng-click="btnSaveTemplate()"><i class="fa fa-save"></i></button>
            <button class="btn btn-primary btn-xs" ng-if="!(sheetCompleted && !importErrorWindowdiv)" type="button" ng-click="GoToSetupfortabledesigner()">Setup import</button>
            @*<button class="btn btn-primary btn-xs" ng-show="!validationPassed && passvalidationimportenable && !passvalidationNext" type="button" ng-click='skipValidateimport()'>Skip Validation</button>*@

        </div>
    </div>

</div>
