﻿
<style>
    .spacing {
        padding-top: 15px;
    }


    #textFooter {
        position: absolute;
        bottom: 40px;
        left: 38px;
    }
</style>

<div id="InDesignFilterWindowpopup" ng-controller="IndesignController">


    <div style="min-height: auto;" class="panel-body panel-scroll ps-container" id="myTab1">
        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li class="active" id="lnkCategoryTab"><a href="#Attributefilter" data-toggle="tab" title="{{Attributefilter}}">Attribute Based Fillter</a></li>
            <li id="lnkFamilyTab" class=""><a href="#treefilter" data-toggle="tab" title="{{treefilter}}">Tree Based Filter</a></li>
        </ul>
        <div class="tab-content" id="myTabContent" style="">
            <div ng-show="userIndesign" id="Attributefilter" class="tab-pane fade in active">
                <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;box-shadow: 0 1px 0 #2c232b inset;">

                </div>
                <div class="col-sm-12" style="margin-top: 10px">

                    <div id="InDesignFilterWindowpopup" ng-controller="IndesignController">
                        <div>
                            <div>
                                <select kendo-drop-down-list
                                        id="attributetypefilter1"
                                        k-option-label="'---Select Attribute Type---'"
                                        k-data-text-field="'productAttributeTypeFilterName'"
                                        k-data-value-field="'productAttributeTypeFilterName'"
                                        k-data-source="IndesignFilterAttributeTypeDataSource"
                                        k-ng-model="attributetypename1"
                                        k-value-primitive="true"
                                        k-on-change="IndesignAttributeTypeChange1(kendoEvent)"></select>


                                <select kendo-drop-down-list
                                        id="ProductAttributefilter1"
                                        k-option-label="'---Select Attribute Name---'"
                                        k-data-text-field="'productAttributeProductFilterName'"
                                        k-data-value-field="'productAttributeProductFilterName'"
                                        k-data-source="IndesignFilterProductAttributeNameDataSource1"
                                        k-ng-model="productAttributeProductFilterNameValue1"
                                        k-value-primitive="true"
                                        k-on-change="IndesignProductAttributeChange1(kendoEvent)"></select>


                                <select kendo-drop-down-list
                                        id="GetFilters1"
                                        k-data-text-field="'FilterName'"
                                        k-data-value-field="'FilterName'"
                                        k-data-source="GetFilters1"
                                        k-on-change="SelectItem1(selectedFilters1)"
                                        k-ng-model="selectedFilters1"
                                        k-value-primitive="true"
                                        style="width: 200px"></select>


                                <input type="text" id="FilterSearchtext1" class="k-input k-textbox ng-pristine ng-untouched ng-valid" name="searchtxt1" ng-model="searchText1" ng-keyup="searchTextKeyup1($event)" style="width: 165px !important">

                                <button ng-click="Removefilter1BtnClick()" id="ClearFilter1" class="btn btn-primary btn-xs" style="height: 20px;padding-top: 3px;" title="Clear Product Filter"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </div>


                            <div class="spacing">


                                <select kendo-drop-down-list
                                        id="attributetypefilter2"
                                        k-option-label="'---Select Attribute Type---'"
                                        k-data-text-field="'productAttributeTypeFilterName'"
                                        k-data-value-field="'productAttributeTypeFilterName'"
                                        k-data-source="IndesignFilterAttributeTypeDataSource"
                                        k-on-change="IndesignAttributeTypeChange2(kendoEvent)"></select>


                                <select kendo-drop-down-list
                                        id="ProductAttributefilter2"
                                        k-option-label="'---Select Attribute Name---'"
                                        k-data-text-field="'productAttributeProductFilterName'"
                                        k-data-value-field="'productAttributeProductFilterName'"
                                        k-data-source="IndesignFilterProductAttributeNameDataSource2"
                                        k-on-change="IndesignProductAttributeChange2(kendoEvent)"></select>


                                <select kendo-drop-down-list
                                        id="GetFilters2"
                                        k-data-text-field="'FilterName'"
                                        k-data-value-field="'FilterName'"
                                        k-data-source="GetFilters2"
                                        k-on-change="SelectItem2(selectedFilters2)"
                                        k-ng-model="selectedFilters2"
                                        k-value-primitive="true"
                                        style="width: 200px"></select>


                                <input type="text" id="Filtertext2" class="k-input k-textbox ng-pristine ng-untouched ng-valid" name="searchtxt2" ng-model="searchText2" ng-keyup="searchTextKeyup2($event)" style="width: 165px !important">

                                <button ng-click="Removefilter2BtnClick()" id="ClearFilter2" class="btn btn-primary btn-xs" style="height: 20px;padding-top: 3px;" title="Clear Product Filter"><i class="fa fa-times" aria-hidden="true"></i></button>

                            </div>


                            <div class="spacing">

                                <select kendo-drop-down-list
                                        id="attributetypefilter3"
                                        k-option-label="'---Select Attribute Type---'"
                                        k-data-text-field="'productAttributeTypeFilterName'"
                                        k-data-value-field="'productAttributeTypeFilterName'"
                                        k-data-source="IndesignFilterAttributeTypeDataSource"
                                        k-on-change="IndesignAttributeTypeChange3(kendoEvent)"></select>


                                <select kendo-drop-down-list
                                        id="ProductAttributefilter3"
                                        k-option-label="'---Select Attribute Name---'"
                                        k-data-text-field="'productAttributeProductFilterName'"
                                        k-data-value-field="'productAttributeProductFilterName'"
                                        k-data-source="IndesignFilterProductAttributeNameDataSource3"
                                        k-on-change="IndesignProductAttributeChange3(kendoEvent)"></select>


                                <select kendo-drop-down-list
                                        id="GetFilters3"
                                        k-data-text-field="'FilterName'"
                                        k-data-value-field="'FilterName'"
                                        k-data-source="GetFilters3"
                                        k-on-change="SelectItem3(selectedFilters3)"
                                        k-ng-model="selectedFilters3"
                                        k-value-primitive="true"
                                        style="width: 200px"></select>


                                <input type="text" id="Filtertext3" class="k-input k-textbox ng-pristine ng-untouched ng-valid" name="searchtxt3" ng-model="searchText3" ng-keyup="searchTextKeyup3($event)" style="width: 165px !important">

                                <button ng-click="Removefilter3BtnClick()" id="ClearFilter3" class="btn btn-primary btn-xs" style="height: 20px;padding-top: 3px;" title="Clear Product Filter"><i class="fa fa-times" aria-hidden="true"></i></button>

                            </div>

                            <div class="spacing">

                                <select kendo-drop-down-list
                                        id="attributetypefilter4"
                                        k-option-label="'---Select Attribute Type---'"
                                        k-data-text-field="'productAttributeTypeFilterName'"
                                        k-data-value-field="'productAttributeTypeFilterName'"
                                        k-data-source="IndesignFilterAttributeTypeDataSource"
                                        k-on-change="IndesignAttributeTypeChange4(kendoEvent)"></select>


                                <select kendo-drop-down-list
                                        id="ProductAttributefilter4"
                                        k-option-label="'---Select Attribute Name---'"
                                        k-data-text-field="'productAttributeProductFilterName'"
                                        k-data-value-field="'productAttributeProductFilterName'"
                                        k-data-source="IndesignFilterProductAttributeNameDataSource4"
                                        k-on-change="IndesignProductAttributeChange4(kendoEvent)"></select>


                                <select kendo-drop-down-list
                                        id="GetFilters4"
                                        k-data-text-field="'FilterName'"
                                        k-data-value-field="'FilterName'"
                                        k-data-source="GetFilters4"
                                        k-on-change="SelectItem4(selectedFilters4)"
                                        k-ng-model="selectedFilters4"
                                        k-value-primitive="true"
                                        style="width: 200px"></select>


                                <input type="text" id="Filtertext4" class="k-input k-textbox ng-pristine ng-untouched ng-valid" name="searchtxt4" ng-model="searchText4" ng-keyup="searchTextKeyup4($event)" style="width: 165px !important">

                                <button ng-click="Removefilter4BtnClick()" id="ClearFilter4" class="btn btn-primary btn-xs" style="height: 20px;padding-top: 3px;" title="Clear Product Filter"><i class="fa fa-times" aria-hidden="true"></i></button>

                            </div>

                            <div class="spacing">

                                <select kendo-drop-down-list
                                        id="attributetypefilter5"
                                        k-option-label="'---Select Attribute Type---'"
                                        k-data-text-field="'productAttributeTypeFilterName'"
                                        k-data-value-field="'productAttributeTypeFilterName'"
                                        k-data-source="IndesignFilterAttributeTypeDataSource"
                                        k-on-change="IndesignAttributeTypeChange5(kendoEvent)"></select>


                                <select kendo-drop-down-list
                                        id="ProductAttributefilter5"
                                        k-option-label="'---Select Attribute Name---'"
                                        k-data-text-field="'productAttributeProductFilterName'"
                                        k-data-value-field="'productAttributeProductFilterName'"
                                        k-data-source="IndesignFilterProductAttributeNameDataSource5"
                                        k-on-change="IndesignProductAttributeChange5(kendoEvent)"></select>


                                <select kendo-drop-down-list
                                        id="GetFilters5"
                                        k-data-text-field="'FilterName'"
                                        k-data-value-field="'FilterName'"
                                        k-data-source="GetFilters5"
                                        k-on-change="SelectItem5(selectedFilters5)"
                                        k-ng-model="selectedFilters5"
                                        k-value-primitive="true"
                                        style="width: 200px"></select>


                                <input type="text" id="Filtertext5" class="k-input k-textbox ng-pristine ng-untouched ng-valid" name="searchtxt5" ng-model="searchText5" ng-keyup="searchTextKeyup5($event)" style="width: 165px !important">

                                <button ng-click="Removefilter5BtnClick()" id="ClearFilter5" class="btn btn-primary btn-xs" style="height: 20px;padding-top: 3px;" title="Clear Product Filter"><i class="fa fa-times" aria-hidden="true"></i></button>

                            </div>

                        </div>


                        <div style="text-align:center">

                            <button ng-click="applyProductFilterBtnClick()" class="btn btn-primary btn-xs" style="margin-bottom: 0px;margin-top: 5%;margin-left: 0%;" title="Apply Product Filter" ng-disabled="applyProductFilterBtnDisabled"> Apply</button>
                            <button ng-click="clearFilterBtnClick()" class="btn btn-primary btn-xs" style="margin-bottom: 0px;margin-top: 5%;margin-left: 0%;" title="Clear Filter"> Clear</button>
                            <button ng-click="cancelFilterBtnClick()" class="btn btn-primary btn-xs" style="margin-bottom: 0px;margin-top: 5%;margin-left: 0%;" title="Cancel Filter"> Cancel</button>
                        </div>
                        <div id="textFooter">

                            <p style="color:red">* Please ensure that the set filter conditions exists for the selected families.</p>
                        </div>


                    </div>

                </div>
            </div>
            <div id="treefilter" class="tab-pane fade">
                <div>
                    <div id="treeviewKendo11"
                         kendo-tree-view="tree"
                         k-data-source="treeDataindesign"
                         k-options="treeDataoptionsindesign"
                         style="height:220px;">
                        <span k-template>
                            <label class='k-item'
                                   id="{{dataItem.id}}"
                                   title={{dataItem.CATEGORY_NAME}}>{{dataItem.CATEGORY_NAME}}</label>
                        </span>
                    </div>
                </div>
                <button ng-click="applyProductFilterBtnClickfilter()" class="btn btn-primary btn-xs" style="margin-bottom: 0px;margin-top: 5%;margin-left: 30%;" title="Apply Product Filter"> Apply</button>
                <button ng-click="clearFilterBtnClicktreefilter()" class="btn btn-primary btn-xs" style="margin-bottom: 0px;margin-top: 5%;margin-left: 0%;" title="Clear Filter"> Clear</button>
                <button ng-click="cancelFilterBtnClick()" class="btn btn-primary btn-xs" style="margin-bottom: 0px;margin-top: 5%;margin-left: 0%;" title="Cancel Filter"> Cancel</button>
            </div>
        </div>
    </div>

</div>



























