﻿<style>
    .heightsample {
        height: 600px !important;
    }
</style>

<form name="myForm" ng-controller="IndesignPopupController" ng-cloak>
    <div id="popupwindow">
        <div>

            <div class="col-sm-3 padding-left-10">
                <button class="btn btn-primary  btn-xs" type="button" ng-click="btnGenerateInDesignXML()">
                    Save & Close
                </button>
            </div>
                <table class="col-sm-12 no-padding">
                    <tbody>
                        <tr>
                            <td class="col-sm-5" style="vertical-align: top">
                                <h6 class="bold">Available Attributes</h6>
                                <div class="navbar-content" id="showAttributeName">
                                    <div class="main-navigation navbar-collapse1" style="position: inherit;width: 350px;">
                                        <div style="overflow: auto; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                                            <div id="chkbxAttributeId" style="text-align: left !important;">
                                                <div kendo-grid="inDesignAllAttributesgrid" options="inDesignAvailableAttributes">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="col-sm-1" style="width: 1%;">
                                <table>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="SaveSelectedAttributes()"><span class="glyphicon glyphicon-arrow-right"></span></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="DeleteSelectedAttributes()"><span class="glyphicon glyphicon-arrow-left"></span></button>
                                        </td>
                                    </tr>

                                </table>
                            </td>
                            <td class="col-sm-5" style="vertical-align: top;padding-left: 45px;">
                                <h6 class="bold">Selected Attributes</h6>
                                <div class="navbar-content" id="showSelectedAttributes">
                                    <div class="main-navigation navbar-collapse1" style="position: inherit; width: 350px;">
                                        <div style="overflow: auto; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                                            <div id="chkbxselAttributeId">
                                                <div kendo-grid="inDesignSelectedAttributesgrid" options="inDesignSelectedAttributesGridOptions">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </td>

                        </tr>
                    </tbody>
                </table>

           
        </div>
    </div>
</form>