﻿﻿
<form name="IsCal_Form">
    <style>
        span.k-widget.k-autocomplete.k-header.k-state-default > input {
    width: 100% !important;
}
    </style>
    <script type="text/javascript">
        jQuery(function ($) {
            var input = $('#txt_cal_val');

        });
    </script>
    <div id="window" style="overflow-x: hidden;">
        <div ng-controller="attributeController" ng-cloak>
            <div class="col-sm-12">

                <div class="row">
                    <h4 id="Heading">{{Value_Attr_Type_name}}</h4>

                    <input type="text" id="txt_cal_val" name="exp_value" ng-model="Value_Attr_Attrname" style="width:50%;" ng-trim="false" ng-checked="Change(Value_Attr_Type_name)" required />

                    <button type="button" class="btn btn-primary" ng-click='Iscalculatedattr_Save(Value_Attr_Attrname,dataItem)' ng-disabled="!IsCal_Form.$valid" style="padding: 4px 10px;margin-top: -3px;">OK</button>

                    <button type="button" class="btn btn-primary" ng-click='Clear()' style="padding: 4px 10px;margin-top: -3px;">Clear</button>
                    <!--<button type="button" class="btn btn-primary" ng-click='WinClose()'>Cancel</button>-->
                </div>
            </div>
            <br />
            <div>&nbsp;</div>

            <table>
                <tr>

                    <!--<td>
                        &nbsp;&nbsp;  <button type="button" id="add" class="btn btn-primary" ng-click='Adding()' ng-disabled="!IsCal_Form.$valid && !isDisabled">+</button>
                    </td>-->

                    <td ng-if="Value_Attr_Type_name!=='Non-NumericValue'" style="padding-left: 0px;"><button type="button" id="add" class="btn btn-primary" ng-click='Adding()' ng-disabled="!IsCal_Form.$valid && !isDisabled">+</button></td>

                    <td ng-if="Value_Attr_Type_name!=='Non-NumericValue'">
                        <button type="button" id="minus" class="btn btn-primary" ng-click='Minus()' ng-disabled="!IsCal_Form.$valid && !isDisabled">-</button>
                    </td>
                    <td ng-if="Value_Attr_Type_name!=='Non-NumericValue'">
                        <button type="button" id="multi" class="btn btn-primary" ng-click='Muti()' ng-disabled="!IsCal_Form.$valid && !isDisabled">*</button>
                    </td>
                    <td ng-if="Value_Attr_Type_name!=='Non-NumericValue'">
                        <button type="button" id="div" class="btn  btn-primary" ng-click='Divide()' ng-disabled="!IsCal_Form.$valid && !isDisabled">/</button>
                    </td>
                </tr>
            </table>
            <br />

            <div role="alert">
                <span class="error" ng-show="IsCal_Form.exp_value.$error.required">
                    Required.
                </span>
            </div>
            <div>
                <p ng-show="myVar">

                    <div class="expression-builder-grid" kendo-grid="prodselectgrid" options="GridIscalAttrlist" k-selectable="true" k-on-change="onSelection(kendoEvent)">
                    </div>

                </p>
            </div>



        </div>

    </div>
</form>
