﻿@*﻿
<style type="text/css">
    .row {
        padding: 5px;
        text-align: left;
        cursor: pointer;
        min-height: 20px;
        /*width: 100%;
        float:left;     */
    }

    .k-treeview {
        font-size: 13px;
    }
</style>*@


<div style="width:1200px" id="window">
    <div ng-controller="attributeController" ng-cloak>
        <table>
            <tr>
                <td>

                    <input type="text" ng-model="Value_Attr_Attrname" style="width:400px;height:30px" ng-trim="false" />

                </td>
                <td><table><tr><td><button type="button" class="btn btn-primary btn-xs" ng-click='Iscalculatedattr_Save(Value_Attr_Attrname)'>OK</button></td></tr><tr><td><button type="button" class="btn btn-primary" ng-click='Clear()'>Clear</button></td></tr><tr><td><button type="button" class="btn btn-primary" ng-click='Iscalculatedattr_win_Cancel()'>Cancel</button></td></tr></table></td>

            </tr>
        </table>

        <table>
            <tr>

                <td>
                    <button type="button" class="btn btn-primary btn-xs" ng-click='Adding()'>+</button>
                </td>

                <td>
                    <button type="button" class="btn btn-primary btn-xs" ng-click='Minus()' ng-disabled="Value_Attr_Type.disable_val=Value_Attr_Type.name">-</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-xs" ng-click='Muti()' ng-disabled="Value_Attr_Type.disable_val=Value_Attr_Type.name">*</button>
                </td>
                <td>
                    <button type="button" class="btn  btn-primary btn-xs" ng-click='Divide()' ng-disabled="Value_Attr_Type.disable_val=Value_Attr_Type.name">/</button>
                </td>
            </tr>
        </table>        <table width="900px">
            <tr>
                <td><button type="button" ng-click='toggle()'>{{Value_Attr_Type.name}} </button></td>
                <td>
                    <div class="main-navigation navbar-collapse1" style="position: inherit; width: 345px;">
                        <div style="max-height: 500px; min-height: 500px; overflow: auto; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                            <p ng-show="myVar">

                                <div kendo-grid="prodselectgrid" options="GridIscalAttrlist" k-selectable="true" k-on-change="onSelection(kendoEvent)">
                                </div>

                            </p>
                        </div>
                    </div>
                </td>

            </tr>
        </table>

    </div>
</div>