﻿

<style>
    .top-buffer {
        margin-top: 20px;
    }

    .k-window-titlebar.k-header {
        /*background: #275CAB !important;*/ /*set background to the titlebar*/
        /*color: white;*/ /*set color to the titlebar*/
        font-weight: bold !important; /*set font-weight to the titlebar*/
        text-transform: uppercase;
        text-rendering: geometricPrecision;
        letter-spacing: 0.065em;
    }

    /*div.k-window-content {
        border: 1px solid #275CAB;
    }*/
</style>
<div style="margin-top: 0px;" id="window">
    <form name="edit_myForm" id="popupscroll" style="overflow-y: auto;height: 475px;overflow-x: hidden;">
        <div>
            <div ng-repeat="attribute in attributes" ng-if="attribute!=='DynamicList' && attribute!=='PUBLISH'&& attribute!=='PUBLISH2PRINT' && attribute!=='SORT' && attribute!=='WORKFLOW STATUS' && attribute!=='CATALOG_ID'&& attribute!=='ATTRIBUTE_ID'&& attribute!=='PRODUCT_ID'&& attribute!=='FAMILY_ID'&& attribute!=='CATEGORY_ID'">
                <div class="row top-buffer">

                    <div class="col-sm-4 textalignright padding-0 padding-left-5" ng-if="attribute!=='PUBLISH'&& attribute!=='PUBLISH2PRINT' && attribute!=='WORKFLOW STATUS' &&  attribute.split('__')[1] ==='OBJ' && attribute.split('__')[0] ==='ITEM#'">
                        {{CatalogItemNumber}}
                    </div>
                    <div class="col-sm-4 textalignright padding-0 padding-left-5" ng-if="attribute!=='PUBLISH'&& attribute!=='PUBLISH2PRINT' && attribute!=='WORKFLOW STATUS' &&  attribute.split('__')[1] ==='OBJ' && attribute.split('__')[0] !=='ITEM#'">
                        {{attribute.split('__')[0]}}
                    </div>
                    <div ng-if="attribute!=='DynamicList' &&  attribute.split('__')[1] ==='OBJ' && attribute!=='PUBLISH'&& attribute!=='PUBLISH2PRINT' && attribute!=='WORKFLOW STATUS' && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED" class="col-sm-7">

                        <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE!==4 && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE!==3 && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST && attribute.split('__')[0]!=='Supplier'">
                            <input type="text" ng-model="selectedRow[attribute]" ng-pattern="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].attributePattern" ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Num')" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46'
                                   ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" id="textBoxValue{{attribute.replace(' ', '_').split('__')[2]}}" name="textBoxValue{{$index}}">
                            <span ng-show="edit_myForm.textBoxValue{{$index}}.$invalid && edit_myForm.textBoxValue{{$index}}.$error.pattern" class="text-danger">Enter valid format ({{selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].uimask}}).</span>


                            <input type="text" ng-model="selectedRow[attribute]"
                                   ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY"
                                   ng-maxlength="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].attributePattern"
                                   id="textBoxValue{{attribute.replace(' ', '_').split('__')[2]}}" name="textBoxValue{{$index}}"
                                   ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Tex') && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_ID === 1"
                                   ng-blur="datatypecheckMultiple($event,selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT,attribute)">

                            <textarea ckedit="selectedRow[attribute]" rows="3" columns="3" class="form-control"
                                      ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY"
                                      ng-maxlength="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].attributePattern"
                                      id="textBoxValue{{attribute.replace(' ', '_').split('__')[2]}}" name="textBoxValue{{attribute.split("__")[2]}}"
                                      ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Tex') && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_ID !== 1"
                                      ng-blur="datatypecheckMultiple($event,selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT,attribute)"></textarea>

                            <span class="error" ng-show="edit_myForm.textBoxValue{{$index}}.$error.maxlength">
                                Value is too long. Please correct it. Maximum characters is {{selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].uimask}}
                            </span>
                        </div>
                        <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE!==3
                         && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST
                         && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED!==1">
                            <select kendo-drop-down-list
                                    k-option-label="'--Select Attribute--'"
                                    k-data-text-field="'ListItem'"
                                    k-data-value-field="'ListItem'" style="width:180px;" k-data-source="selectedRowDynamic[attribute.split('__')[2]]" ng-model="selectedRow[attribute]" />
                        </div>
                        <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE===4 && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink' && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED && attribute.split('__')[0]!=='Supplier' &&  !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date')">
                            <input type="text" ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" name="textBoxValue{{attribute.split("__")[2]}}" ng-model="selectedRow[attribute]" ng-pattern="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].attributePattern" id="textBoxValue{{attribute.replace(' ', '_').split('__')[2]}}" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46'>
                            <span ng-show="edit_myForm.textBoxValue{{$index}}.$invalid && edit_myForm.textBoxValue{{$index}}.$error.pattern" class="text-danger">Enter valid format ({{selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].uimask}}).</span>
                        </div>
                        <!--<div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE===3 && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink' && attribute.split('__')[1] ==='OBJ' && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">

                        <input type="text" ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" ng-model="selectedRow[attribute]" id="{{attribute}}">
                        <img src='..\\Content\\ProdImages{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width: 55%; max-height: 195px;" />
                        <input name="files" id="{{attribute}}"
                               type="file"
                               kendo-upload
                               k-multiple="false"
                               k-async="{ saveUrl: '/Category/SaveImage', removeUrl: '/Category/RemoveImage', autoUpload: true }"
                               k-select="onSelect" />

                        Caption : <input type="text" ng-model="selectedRow[attribute.replace('OBJ',1)]" id="textBoximg{{$index}}">
                    </div>-->
                        

                        



                    <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE===3 && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink' && attribute.split('__')[1] ==='OBJ' && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                        <input type="text" readonly="true" ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" ng-model="selectedRow[attribute]" id="{{attribute.split("__")[2]}}">
                        <img ng-if="!selectedRow[attribute].toLowerCase().contains('.pdf') && !selectedRow[attribute].toLowerCase().contains('.zip') && !selectedRow[attribute].toLowerCase().contains('.rar') && !selectedRow[attribute].toLowerCase().contains('.xls') && !selectedRow[attribute].toLowerCase().contains('.xlsx') && !selectedRow[attribute].toLowerCase().contains('.pdf') && !selectedRow[attribute].toLowerCase().contains('.exe') &&
                              !selectedRow[attribute].toLowerCase().contains('.msi') && !selectedRow[attribute].toLowerCase().contains('.doc')&& !selectedRow[attribute].toLowerCase().contains('.docx') && !selectedRow[attribute].toLowerCase().contains('.tif') && !selectedRow[attribute].toLowerCase().contains('.tiff') && !selectedRow[attribute].toLowerCase().contains('.psd') && !selectedRow[attribute].toLowerCase().contains('.eps') "
                             ng-src='..\\Content\\ProductImages\\{{getCustomerCompanyName}}{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;" />

                        <a ng-if="selectedRow[attribute].toLowerCase().contains('.pdf')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;">
                            <img src='..\\Content\\images\\pdf.png' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;" />
                        </a>
                        <a ng-if="selectedRow[attribute].toLowerCase().contains('.zip') || selectedRow[attribute].toLowerCase().contains('.rar')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;">
                            <img src='..\\Content\\images\\zip.png' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;" />
                        </a>
                        <a ng-if="selectedRow[attribute].toLowerCase().contains('.xls') || selectedRow[attribute].toLowerCase().contains('.xlsx')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;">
                            <img src='..\\Content\\images\\xls.png' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;" />
                        </a>
                        <a ng-if="selectedRow[attribute].toLowerCase().contains('.exe') || selectedRow[attribute].toLowerCase().contains('.msi')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;">
                            <img src='..\\Content\\images\\exe.png' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;" />
                        </a>
                        <a ng-if="selectedRow[attribute].toLowerCase().contains('.doc') || selectedRow[attribute].toLowerCase().contains('.docx')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;">
                            <img src='..\\Content\\images\\doc.png' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;" />
                        </a>
                        <div ng-if="selectedRow[attribute].toLowerCase().contains('.pdf') || selectedRow[attribute].toLowerCase().contains('.zip') || selectedRow[attribute].toLowerCase().contains('.rar') || selectedRow[attribute].toLowerCase().contains('.xls') || selectedRow[attribute].toLowerCase().contains('.xlsx') || selectedRow[attribute].toLowerCase().contains('.pdf') || selectedRow[attribute].toLowerCase().contains('.exe') ||
                              selectedRow[attribute].toLowerCase().contains('.msi') || selectedRow[attribute].toLowerCase().contains('.doc') || selectedRow[attribute].toLowerCase().contains('.docx') || selectedRow[attribute].toLowerCase().contains('.tif') || selectedRow[attribute].toLowerCase().contains('.tiff') || selectedRow[attribute].toLowerCase().contains('.psd') || selectedRow[attribute].toLowerCase().contains('.eps') " target="_blank"
                             style="max-width:100%;max-height:195px;">
                            <div style="max-width:100%;max-height:195px;"><p>Preview only available in Category/Family preview.</p></div>
                        </div>
                        <div align="left">
                            <input name="files" id="{{attribute.split("__")[2]}}"
                                   type="file"
                                   kendo-upload
                                   k-multiple="false"
                                   k-async="{ saveUrl: '/Category/SaveImage', removeUrl: '/Category/RemoveImage', autoUpload: true }"
                                   k-select="onSelect" ng-if="false" />
                            <button id="{{attribute}}" title="Sub_product Image" type="button" class="btn btn-primary" style="margin-left: 10px;margin-top: 10px;" ng-click="OpenPopupWindow(attribute)"><i class="fa fa-paperclip"></i></button>
                        </div>
                        <label class="textalignright" style="margin-top: 10%;margin-left: -28%;">Caption</label>  <input type="text" style="margin-left: 6%;" ng-model="selectedRow[attribute.replace('OBJ',1)]" id="textBoximg{{attribute.split("__")[2]}}">
                    </div>
                    <div ng-if="attribute.split('__')[0]==='Supplier'" ng-controller="productSupplierController">
                        <div id="dropDownSupplierGrid">
                        </div>
                    </div>
                    <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE==='Hyperlink(0)' || selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE=='Hyperlink'&& !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED && attribute.split('__')[0]!=='Supplier' && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST" class="col-sm-3">
                        <input type="text" ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" ng-model="selectedRow[attribute]" required min="0" step="any" focus-me="focusInput" ng-blur="TextBoxChanged($event,this,attribute)" id='textBoxValuenumber{{attribute.split("__")[2]}}'>

                    </div>
                    <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink'&& !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED && attribute.split('__')[0]!=='Supplier' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') &&
                     selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4}\\s\\d{2}(\\-|\\:)\\d\\d(\\-|\\:)\\d{2})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)(?=.{11}(?:0[0-9]|1[0-9]|2[03]))(?=.{14}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{17}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))' ||
                      selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4}\\s\\d{2}(\\-|\\:)\\d\\d(\\-|\\:)\\d{2}\\s\\w{2})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)(?=.{11}(?:0[1-9]|1[0-2]))(?=.{14}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{17}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{20}(?:[A|P][M]))' && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                        <input kendo-date-time-picker id='datetime{{attribute.split("__")[2]}}' ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" k-format="'MM/dd/yyyy hh:mm tt'" ng-model="selectedRow[attribute]" k-interval="10" ng-blur="datetimecheck($event,attribute)" onkeydown="return true;" k-on-change="onDateSelected(selectedRow[attribute],attribute)" />

                    </div>
                    <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink'&& !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED && attribute.split('__')[0]!=='Supplier' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') &&
                     selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4})(?=.{3}(?:0[1-9]|[12]\\d|3[01]))(?=.{0}(?:0[1-9]|1[0-2]))(?!.{0}(?:0[2469]|11)-31)(?!.{0}02-30)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)...[13579])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)..[13579][048])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)..[02468][26])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.).[13579]00)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)[13579][048]00)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)[02468][26]00)' && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                        <input kendo-date-picker id='datetime{{attribute.split("__")[2]}}' ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" k-format="'MM/dd/yyyy'" name="monthdate" ng-model="selectedRow[attribute]" ng-blur="datecheck($event,attribute)" onkeydown="return false;" />

                    </div>
                    <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink'&& !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED && attribute.split('__')[0]!=='Supplier' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') &&
                     selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)' ||
                     selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)' ||
                     selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.contains('System') && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                        <input kendo-date-picker id='datetime{{attribute.split("__")[2]}}' ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" k-format="'dd/MM/yyyy'" name="datemonth" ng-model="selectedRow[attribute]" ng-blur="datecheck($event,attribute)" onkeydown="return false;" />

                    </div>
                </div>
                        <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED" class="col-sm-3">
                            <input type="text" ng-model="selectedRow[attribute]" min="0" step="any" focus-me="focusInput" id='textBoxValuenumber{{attribute.split("__")[2]}}' readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-3"></div>
                <!--<div style="margin-left: 45%; margin-bottom: 10px;" class="top-buffer">-->
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary btn-xs" id="btnSaveOptions" name="btnSaveOptions" ng-disabled="!edit_myForm.$valid" ng-click="UpdateMultipletable(selectedRow)" title="{{saveMultipleTableSpecs}}">Save</button>
                    <button type="button" class="btn btn-primary btn-xs" id="btnCancelOptions" name="btnCancelOptions" ng-click="CancelMultipleTable()" title="{{cancelMultipleTableSpecs}}">Cancel</button>
                </div>
            </div>
        </div>
</form>
</div>
