﻿<style>
    .k-file .k-icon {
        position: initial;
    }

    span.k-input.ng-scope {
        text-align: left;
    }

    #textBoximg9 {
        margin-top: 20px;
    }

    .Imgtext {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        font-weight: bold;
    }

    .k-widget.k-upload.k-header.k-upload-empty {
        margin-top: 20px;
    }

    .k-widget.k-upload.k-header {
        margin-top: 10px;
    }

    div.k-window-content {
        padding: 30px;
    }

    .top-buffer {
        margin-top: 17px !important;
    }

    .attributescroll {
        height: 420px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-bottom: 8px;
    }

    .gridpaging {
        position: relative;
    }

    div#productcreationpopup {
        overflow: hidden !important;
    }
</style>



<div class="col-sm-12" style="padding: 0px">
    <div class="row creationheader" align="center" style="background: #dddddd;padding-bottom: 0px;">
        <div class="form-horizontal">
            <div class="form-group col-sm-12 creationheader" style="height: 12px;padding-bottom: 20px;margin-bottom: 0px;padding-top: 25px;">
                <label> New  </label>&nbsp;<input id="Display_ID_Y" type="radio" ng-model="newitemcli" ng-value="true" class="margin-right-30" style="height: 15px;width: 15px;" />

                <label> Attach  </label>&nbsp;<input id="Display_ID_N" type="radio" ng-model="newitemcli" ng-value="false" style="height: 15px;width: 15px;" />
            </div>
        </div>
        <div ng-if="newitemcli" class="" id="newproductpaging">
            <div class="pull-left margin-left-30 margin-bottom-0" style="margin-top: 5px;">
                <button class="gridpaging" type="button" ng-click="callnewproductpaging('1')"><span class="k-icon k-i-seek-w"></span></button>
                <button class="gridpaging" type="button" ng-click="callnewproductpaging('PREV')"><span class="k-icon k-i-arrow-w"></span></button>
                <select kendo-dropdownlist class="selectcss" id="cboProdPageCount" style="width: 60px"
                        k-data-source="newSubProdPageCount"
                        k-data-text-field="'PAGE_NO'"
                        k-data-value-field="'PAGE_NO'"
                        ng-model="newSubprodCurrentPage"
                        k-on-change="callnewproductpaging(newSubprodCurrentPage)"></select>
                <button class="gridpaging" type="button" ng-click="callnewproductpaging('NEXT')"><span class="k-icon k-i-arrow-e">Go to the next page</span></button>
                <button class="gridpaging" type="button" ng-click="callnewproductpaging(totalSubProdPageCount)"><span class="k-icon k-i-seek-e">Go to the last page</span></button>
            </div>

        </div>
    </div>


    <div id="newitem" class="col-sm-12">
        <div ng-if="newitemcli">
            <div class="margin-top-10" id="window">

                <form name="edit_myForm">
                    <div class="attributescroll">
                        <!--<div style="text-align: center;padding-bottom: 20px;width: 85%;">
                            <button type="button" class="btn btn-primary btn-xs" id="btnSaveOptions" name="btnSaveOptions" ng-disabled="!edit_myForm.$valid" ng-click="SaveProductItem(selectedRow)">Save</button>
                            <button type="button" class="btn btn-primary btn-xs" id="btnCancelOptions" name="btnCancelOptions" ng-click="CancelProductItem()">Cancel</button>
                        </div>-->
                        <div ng-repeat="attribute in attributes" ng-if="attribute.ColumnName!=='DynamicList' && attribute.ColumnName!=='CATALOG_ID'&& attribute.ColumnName!=='ATTRIBUTE_ID'&& attribute.ColumnName!=='PRODUCT_ID'&& attribute.ColumnName!=='FAMILY_ID'&& attribute.ColumnName!=='CATEGORY_ID' && attribute.ColumnName!=='PUBLISH' && !attribute.ColumnName.contains('PUBLISH2')&& attribute.ColumnName!=='PUBLISH2PRINT' && attribute.ColumnName!=='WORKFLOW STATUS'  && attribute.ColumnName!=='SORT' " style=" margin-bottom -8px;">
                            <div class="row top-buffer" style="margin-bottom: 10px;">
                                <div ng-if="attribute.ColumnName.split('__')[0] == 'ITEM#'" class="col-sm-4 alignrightext">
                                    {{CatalogItemNumber}}
                                </div>
                                <div ng-if="attribute.ColumnName.split('__')[0] !== 'ITEM#'" class="col-sm-4 alignrightext">
                                    {{attribute.ColumnName.split('__')[0]}}
                                </div>
                                <div ng-if="attribute.ColumnName!=='DynamicList' && attribute.ColumnName!=='CATALOG_ID'&& attribute.ColumnName!=='ATTRIBUTE_ID'&& attribute.ColumnName!=='PRODUCT_ID'&& attribute.ColumnName!=='FAMILY_ID'&& attribute.ColumnName!=='CATEGORY_ID' && attribute.ColumnName!=='PUBLISH'&& attribute.ColumnName!=='PUBLISH2PRINT' && attribute.ColumnName!=='WORKFLOW STATUS'  && attribute.ColumnName!=='SORT'  &&  attribute.ColumnName.split('__')[1] ==='OBJ' && !selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].IS_CALCULATED" class="col-sm-7">
                                    <div ng-if="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE!==4 && selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE!==3 && !selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].USE_PICKLIST && attribute.ColumnName.split('__')[0]!=='Supplier'">
                                        <input style="width: 170px;" type="text" ng-model="selectedRow[attribute.ColumnName]" ng-pattern="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].attributePattern" ng-if="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Num')" onkeypress='return (event.which >= 48 && event.which <= 57) || event.which == 8 || event.which == 46'
                                               ng-disabled="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" id="textBoxValue{{$index}}" name="textBoxValue{{$index}}">
                                        <span ng-show="edit_myForm.textBoxValue{{$index}}.$invalid && edit_myForm.textBoxValue{{$index}}.$error.pattern" class="text-danger">Enter valid format ({{selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].uimask}}).</span>
                                        <input style="width: 170px;" type="text" required
                                               ng-model="selectedRow[attribute.ColumnName]"
                                               ng-disabled="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY"
                                               ng-maxlength="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].attributePattern" id="textBoxValue{{$index}}"
                                               name="textBoxValue{{$index}}"
                                               ng-if="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Tex') && selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_ID===1"
                                               ng-blur="datatypecheck($event,selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT,attribute)">

                                        <input style="width: 170px;" type="text"
                                               ng-model="selectedRow[attribute.ColumnName]"
                                               ng-disabled="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY"
                                               ng-maxlength="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].attributePattern" id="textBoxValue{{$index}}"
                                               name="textBoxValue{{$index}}"
                                               ng-if="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Tex') && selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.contains('a-zA-Z') && !selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.contains('uFFFF')"
                                               ng-blur="datatypecheck($event,selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT,attribute)">

                                        <textarea ckedit="selectedRow[attribute.ColumnName]" rows="3" columns="3" class="form-control"
                                                  ng-disabled="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY"
                                                  ng-maxlength="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].attributePattern"
                                                  id="textBoxValue{{$index}}" name="textBoxValue{{$index}}"
                                                  ng-if="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Tex') && selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_ID!==1 && selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.contains('uFFFF')"></textarea>

                                        <span class="error" ng-show="edit_myForm.textBoxValue{{$index}}.$error.maxlength">
                                            Value is too long. Please correct it. Maximum characters is {{selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].uimask}}
                                        </span>
                                    </div>
                                    <div class="" ng-if="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE!==3
                         && selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].USE_PICKLIST
                         && selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].IS_CALCULATED!==1">
                                        <select kendo-drop-down-list
                                                k-option-label="'--Select Value--'"
                                                ng-model="selectedRow[attribute.ColumnName]"
                                                k-data-source="selectedRowDynamic[attribute.ColumnName.split('__')[2]]"
                                                k-data-value-field="'ListItem'"
                                                k-data-text-field="'ListItem'" style="width: 175px;"></select>
                                        <span ng-show="userPickList">
                                            <a style="cursor:pointer;margin-left:10px" ng-click="PicklistCreate(attribute.ColumnName.split('__')[2],selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].PICKLIST_NAME)">
                                                <img src='..\\Content\\images\\Edit Picklist.jpg' title="Modify PickList" style="max-width:20px;max-height:20px;" />
                                            </a>
                                        </span>
                                    </div>
                                    <div ng-if="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE===4 && !selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].USE_PICKLIST && selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink' && !selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].IS_CALCULATED && attribute.ColumnName.split('__')[0]!=='Supplier' &&  !selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date')">
                                        <!-- <input type="text" ng-disabled="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" name="textBoxValue{{$index}}" ng-model="selectedRow[attribute.ColumnName]" ng-pattern="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].attributePattern" id="textBoxValue{{$index}}" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46'>-->
                                        <input style="width: 170px;" type="text" ng-disabled="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" name="textBoxValue{{$index}}" ng-model="selectedRow[attribute.ColumnName]" ng-pattern="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].attributePattern" id="textBoxValue{{$index}}" onkeypress='return (event.which >= 48 && event.which <= 57) || event.which == 8 || event.which == 46'>
                                        <span ng-show="edit_myForm.textBoxValue{{$index}}.$invalid && edit_myForm.textBoxValue{{$index}}.$error.pattern" class="text-danger">Enter valid format ({{selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].uimask}}).</span>

                                    </div>

                                    <div ng-if="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE===3 && selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink' && attribute.ColumnName.split('__')[1] ==='OBJ' && !selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') && !selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                                        <input type="text" ng-disabled="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" ng-model="selectedRow[attribute.ColumnName]" id="{{attribute.ColumnName}}">
                                        <img ng-if="!selectedRow[attribute.ColumnName].toLowerCase().contains('.pdf') && !selectedRow[attribute.ColumnName].toLowerCase().contains('.zip') && !selectedRow[attribute.ColumnName].toLowerCase().contains('.rar') && !selectedRow[attribute.ColumnName].toLowerCase().contains('.xls') && !selectedRow[attribute.ColumnName].toLowerCase().contains('.xlsx') && !selectedRow[attribute.ColumnName].toLowerCase().contains('.pdf') && !selectedRow[attribute.ColumnName].toLowerCase().contains('.exe') &&
                              !selectedRow[attribute.ColumnName].toLowerCase().contains('.msi') && !selectedRow[attribute.ColumnName].toLowerCase().contains('.doc')&& !selectedRow[attribute.ColumnName].toLowerCase().contains('.docx') && !selectedRow[attribute.ColumnName].toLowerCase().contains('.tif') && !selectedRow[attribute.ColumnName].toLowerCase().contains('.tiff') && !selectedRow[attribute.ColumnName].toLowerCase().contains('.psd') && !selectedRow[attribute.ColumnName].toLowerCase().contains('.eps') " ng-src='..\\Content\\ProductImages\\{{getCustomerCompanyName}}{{selectedRow[attribute.ColumnName]}}'
                                             alt="{{selectedRow[attribute.ColumnName]}}" style="max-width:55%;max-height:195px;" />

                                        <a ng-if="selectedRow[attribute.ColumnName].toLowerCase().contains('.pdf')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute.ColumnName]}}' alt="{{selectedRow[attribute.ColumnName]}}" style="max-width:55%;max-height:195px;">
                                            <img src='..\\Content\\images\\pdf.png' alt="{{selectedRow[attribute.ColumnName]}}" style="max-width:55%;max-height:195px;" />
                                        </a>
                                        <a ng-if="selectedRow[attribute.ColumnName].toLowerCase().contains('.zip') || selectedRow[attribute.ColumnName].toLowerCase().contains('.rar')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute.ColumnName]}}' alt="{{selectedRow[attribute.ColumnName]}}" style="max-width:55%;max-height:195px;">
                                            <img src='..\\Content\\images\\zip.png' alt="{{selectedRow[attribute.ColumnName]}}" style="max-width:55%;max-height:195px;" />
                                        </a>
                                        <a ng-if="selectedRow[attribute.ColumnName].toLowerCase().contains('.xls') || selectedRow[attribute.ColumnName].toLowerCase().contains('.xlsx')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute.ColumnName]}}' alt="{{selectedRow[attribute.ColumnName]}}" style="max-width:55%;max-height:195px;">
                                            <img src='..\\Content\\images\\xls.png' alt="{{selectedRow[attribute.ColumnName]}}" style="max-width:55%;max-height:195px;" />
                                        </a>
                                        <a ng-if="selectedRow[attribute.ColumnName].toLowerCase().contains('.exe') || selectedRow[attribute.ColumnName].toLowerCase().contains('.msi')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute.ColumnName]}}' alt="{{selectedRow[attribute.ColumnName]}}" style="max-width:55%;max-height:195px;">
                                            <img src='..\\Content\\images\\exe.png' alt="{{selectedRow[attribute.ColumnName]}}" style="max-width:55%;max-height:195px;" />
                                        </a>
                                        <a ng-if="selectedRow[attribute.ColumnName].toLowerCase().contains('.doc') || selectedRow[attribute.ColumnName].toLowerCase().contains('.docx')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute.ColumnName]}}' alt="{{selectedRow[attribute.ColumnName]}}" style="max-width:55%;max-height:195px;">
                                            <img src='..\\Content\\images\\doc.png' alt="{{selectedRow[attribute.ColumnName]}}" style="max-width:55%;max-height:195px;" />
                                        </a>
                                        <div ng-if="selectedRow[attribute.ColumnName].toLowerCase().contains('.pdf') || selectedRow[attribute.ColumnName].toLowerCase().contains('.zip') || selectedRow[attribute.ColumnName].toLowerCase().contains('.rar') || selectedRow[attribute.ColumnName].toLowerCase().contains('.xls') || selectedRow[attribute.ColumnName].toLowerCase().contains('.xlsx') || selectedRow[attribute.ColumnName].toLowerCase().contains('.pdf') || selectedRow[attribute.ColumnName].toLowerCase().contains('.exe') ||
                              selectedRow[attribute.ColumnName].toLowerCase().contains('.msi') || selectedRow[attribute.ColumnName].toLowerCase().contains('.doc') || selectedRow[attribute.ColumnName].toLowerCase().contains('.docx') || selectedRow[attribute.ColumnName].toLowerCase().contains('.tif') || selectedRow[attribute.ColumnName].toLowerCase().contains('.tiff') || selectedRow[attribute.ColumnName].toLowerCase().contains('.psd') || selectedRow[attribute.ColumnName].toLowerCase().contains('.eps') " target="_blank"
                                             style="max-width:100%;max-height:195px;">
                                            <div style="max-width:100%;max-height:195px;"><p>Preview only available in Product/Sub-Product preview</p></div>
                                        </div>
                                        <div align="left">
                                            <input name="files" id="{{attribute.ColumnName}}"
                                                   type="file"
                                                   kendo-upload
                                                   k-multiple="false"
                                                   k-async="{ saveUrl: '/Category/SaveImage', removeUrl: '/Category/RemoveImage', autoUpload: true }"
                                                   k-select="onNewProductSelect" ng-if="false" />
                                            <button id="{{attribute.ColumnName}}" ng-disabled="!userImageandAttachments" title="Product Image" type="button" class="btn btn-primary" style="margin-left: 10px;margin-top: 10px;" ng-click='OpenPopupWindow({"Name":"NewProduct","Value":attribute.ColumnName})'>Attach</button>
                                            <button id="{{attribute.ColumnName}}" ng-disabled="!userImageandAttachments" title="Product Image Clear" type="button" class="btn btn-primary" style="margin-left: -2px;margin-top: 10px;" ng-click="clearImagePath(attribute.ColumnName)">Clear</button>
                                        </div>
                                        <label class="Imgtext" style="margin-top: 5%;margin-left: -21%;">Caption</label><input type="text" ng-model="selectedRow[attribute.ColumnName.replace('OBJ',1)]" id="textBoximg{{$index}}" style="margin-left: 6%;width: 172px;">
                                    </div>
                                    <div ng-if="attribute.ColumnName.split('__')[0]==='Supplier'" ng-controller="productSupplierController">
                                        <div id="dropDownSupplierGrid">
                                        </div>
                                    </div>
                                    <div ng-if="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE==='Hyperlink(0)' || selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE=='Hyperlink'&& !selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].IS_CALCULATED && attribute.ColumnName.split('__')[0]!=='Supplier' && !selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                                        <input style="width: 170px;" type="text" ng-disabled="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" ng-model="selectedRow[attribute.ColumnName]" min="0" step="any" focus-me="focusInput" ng-blur="TextBoxChanged($event,this,attribute)" id='textBoxValuenumber{{attribute.ColumnName.split("__")[2]}}'>

                                    </div>
                                    <div ng-if="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink'&& !selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].IS_CALCULATED && attribute.ColumnName.split('__')[0]!=='Supplier' && selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') &&
                     selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4}\\s\\d{2}(\\-|\\:)\\d\\d(\\-|\\:)\\d{2})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)(?=.{11}(?:0[0-9]|1[0-9]|2[03]))(?=.{14}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{17}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))' ||
                      selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4}\\s\\d{2}(\\-|\\:)\\d\\d(\\-|\\:)\\d{2}\\s\\w{2})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)(?=.{11}(?:0[1-9]|1[0-2]))(?=.{14}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{17}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{20}(?:[A|P][M]))' && !selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                                        <input style="width: 175px;" kendo-date-time-picker id='datetimeNewProduct{{attribute.ColumnName.split("__")[2]}}' ng-disabled="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" k-format="'MM/dd/yyyy hh:mm tt'" ng-model="selectedRow[attribute.ColumnName]" k-interval="10" ng-blur="datetimecheck($event,attribute)" onkeydown="return true;" k-on-change="onDateSelected(selectedRow[attribute.ColumnName],attribute.ColumnName)" />

                                    </div>
                                    <div ng-if="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink'&& !selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].IS_CALCULATED && attribute.ColumnName.split('__')[0]!=='Supplier' && selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') &&
                     selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4})(?=.{3}(?:0[1-9]|[12]\\d|3[01]))(?=.{0}(?:0[1-9]|1[0-2]))(?!.{0}(?:0[2469]|11)-31)(?!.{0}02-30)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)...[13579])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)..[13579][048])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)..[02468][26])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.).[13579]00)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)[13579][048]00)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)[02468][26]00)' && !selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                                        <input style="width: 175px;" kendo-date-picker id='datetime{{attribute.ColumnName.split("__")[2]}}' ng-disabled="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" k-format="'MM/dd/yyyy'" name="monthdate" ng-model="selectedRow[attribute.ColumnName]" ng-blur="datecheck($event,attribute)" onkeydown="return false;" />

                                    </div>
                                    <div ng-if="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink'&& !selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].IS_CALCULATED && attribute.ColumnName.split('__')[0]!=='Supplier' && selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') &&
                     selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)' ||
                     selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)' ||
                     selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.contains('System') && !selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                                        <input style="width: 175px;" kendo-date-picker id='datetime{{attribute.ColumnName.split("__")[2]}}' ng-disabled="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" k-format="'dd/MM/yyyy'" name="datemonth" ng-model="selectedRow[attribute.ColumnName]" ng-blur="datecheck($event,attribute)" onkeydown="return false;" />

                                    </div>
                                </div>
                                <div ng-if="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].IS_CALCULATED" class="col-sm-3">
                                    <input style="width: 170px;" type="text" ng-model="selectedRow[attribute.ColumnName]" min="0" step="any" focus-me="focusInput" id='textBoxValuenumber{{attribute.ColumnName.split("__")[2]}}' readonly class="background-color-grey" style="cursor:not-allowed">
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div ng-if="newitemcli" class="col-sm-12" style="background: #dddddd;padding: 20px;margin-left: -35px;margin-bottom: -35px">
                            <div class="col-sm-5 margin-left-15 padding-0" id="newproductpaging" ng-if="attrNewProdLength>=1">
                                <div class="pull-left">
                                    <button class="gridpaging" type="button" ng-click="callnewproductpaging('1')"><span class="k-icon k-i-seek-w"></span></button>
                                    <button class="gridpaging" type="button" ng-click="callnewproductpaging('PREV')"><span class="k-icon k-i-arrow-w"></span></button>
                                    <select kendo-dropdownlist class="selectcss" id="cboProdPageCount" style="width: 60px"
                                            k-data-source="newSubProdPageCount"
                                            k-data-text-field="'PAGE_NO'"
                                            k-data-value-field="'PAGE_NO'"
                                            ng-model="newSubprodCurrentPage"
                                            k-on-change="callnewproductpaging(newSubprodCurrentPage)"></select>
                                    <button class="gridpaging" type="button" ng-click="callnewproductpaging('NEXT')"><span class="k-icon k-i-arrow-e">Go to the next page</span></button>
                                    <button class="gridpaging" type="button" ng-click="callnewproductpaging(totalSubProdPageCount)"><span class="k-icon k-i-seek-e">Go to the last page</span></button>
                                </div>
                            </div>
                            <div class="col-sm-6" style="text-align: right;padding: 0px 0px 0px 0px;">
                                <button type="button" class="btn btn-primary btn-xs" id="btnSaveOptions" name="btnSaveOptions" ng-disabled="!edit_myForm.$valid" ng-click="SaveProductItem(selectedRow)">Save</button>
                                <button type="button" class="btn btn-primary btn-xs" id="btnCancelOptions" name="btnCancelOptions" ng-click="CancelProductItem()">Cancel</button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>

            <br />
            <!--<div ng-repeat="items in newproductloopCount">
                <div ng-if="currentPage == $index" style="height: 28px;float: left;padding-right: 7px;margin-bottom: 15px;">
                    <input type="button" style="width:16px; font-weight: bold;" id='btnnewproductPaging{{i}}' ng-click="callnewproductpaging(items)" value="{{$index+1}}" class="btn btn-primary btn-xs active">
                    <span class="pipeline"> | </span>
                </div>
                <div ng-if="currentPage!= $index" style="height: 28px;float: left;padding-right: 7px;margin-bottom: 15px;">
                    <input type="button" style="width:16px;color: #000;background-color: #fff;border-color: #fff;" id='btnnewproductPaging{{i}}' ng-click="callnewproductpaging(items)" value="{{$index+1}}" class="btn btn-primary btn-xs">
                    <span class="pipeline"> | </span>
                </div>
            </div>-->

        </div>


    </div>
    <div id="association" style="padding: 0px;" class="col-sm-12 margin-top-10">
        <div ng-if="!newitemcli">
            <div>
                <div class="col-sm-12" style="display: none;">
                    <div class="col-sm-3 textalignright margintop"><label class="bold">{{CatalogItemNumber}}</label></div>
                    <div class="col-sm-4 padding-left-0"><textarea class="test margin-left-5" id="selectedPartNo" style="width: 215px;margin-bottom: -10px; height: 18px;" type="text" name="Cat" ng-model="selectedItem" ng-trim="false" readonly /></div>
                    <div class="margintop"><span ng-if="AllowDublicatePartNoss" class="col-sm-3 margin-left-10"><input type="checkbox" id="chkcopycat" ng-model="copycat" class="chkoption margin-right-5" ng-click="copycatclick($event)" ng-trim="false" />Copy {{CatalogItemNumber}}</span></div>
                </div>

                <div class="col-sm-12 margin-top-10 margin-bottom-20">
                    <div class="col-sm-4 textalignright margintop"><label class="bold">Search By {{CatalogItemNumber}}</label></div>
                    <div class="col-sm-6 padding-left-0">
                        <input type="text" class="margin-left-5" name="Cat" ng-model="partno" ng-trim="false" style="width: 185px;height: 17px;" ng-enter="cathashSearch()" /><button class="btn btn-primary btn-xs" type="button" style="margin-left: -5px;margin-top: 0px;height: 15px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;    border-top: 0px;padding-top: 7px;" ng-click="cathashSearch()">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
                <!--<div class="col-sm-3 margin-top-30 margin-bottom-20" >
                                    <span ng-if="AllowDublicatePartNoss">Copy ITEM#  <input type="checkbox" id="chkcopycat" ng-model="copycat" class="chkoption" ng-click="copycatclick($event)" ng-trim="false"></span>
                </div>-->

            </div>

            <br />
            <br />
            <div id="dynamicproducttable">
                <table ng-table="tblDashBoard1" show-filter="true" class="table" style="height: 500px;overflow: auto;display: block;">
                    <thead>
                        <tr>
                            <th style="text-align: -webkit-auto;" ng-repeat="column in columnsForAtt1">
                                <div ng-if="column.title!=='ProductID' && column.title!=='CatalogItemNo' && column.title!=='familyID' && column.title!=='CategoryID' && column.title!=='Catalogid'">{{column.title}}</div>
                                <div ng-if="column.title==='CatalogItemNo'">
                                    {{CatalogItemNumber}}
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Data in prodData1">
                            <td style="font-size: 13px;" ng-repeat="column in columnsForAtt1" sortable="column.field">
                                <div ng-if="column.title!=='ProductID' && column.title!=='familyID' && column.title!=='CategoryID' && column.title!=='Catalogid'">
                                    {{Data[column.field]}}
                                </div>

                            </td>
                            <td>
                                <button href="#" class="btn btn-primary btn-xs" ng-click="SelectProductItem(this)">Attach</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--<div class="col-sm-12" style="text-align: right;">
                <button class="btn btn-primary btn-xs" style="margin-bottom: 0px;margin-left: 5px;" type="button" ng-click="SaveProduct()" ng-if="ProductCount < ProductSKUCount || AllowDuplicateItem_PartNum == false">
                    Save
                </button>
                <button type="button" class="btn btn-primary btn-xs" id="btnCancelOptions" name="btnCancelOptions" ng-click="CancelProductItem()">Cancel</button>
            </div>-->
        </div>
    </div>

</div>