﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <!--<div>
        <h4>Paste</h4>
    </div>-->

    <div>
        <table class="table table-condensed table-striped" width="100%" style="margin-bottom:0px">
            <tbody>
                <tr>
                    <td>
                        All
                    </td>
                    <td>
                        <input type="radio" name="radio" id="checked-radio-yes" checked="checked" value="all" ng-click="PasteOptionClick($event)" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Categories & Products
                    </td>
                    <td>
                        <input type="radio" name="radio" id="checked-radio-yes" value="catandfam" ng-click="PasteOptionClick($event)" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Categories
                    </td>
                    <td>
                        <input type="radio" name="radio" id="checked-radio-yes" value="cat" ng-click="PasteOptionClick($event)" />
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        <button class="btn btn-primary btn-xs" type="button" ng-click="OkPopup()">Ok</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

   
       
    
</body>
</html>
