﻿
<div ng-controller="XpressDesignPDFCatalogController" ng-cloak>
 
    <div id="pdfselection">
        <form name="myformpdfselection">
            <!--<input type="hidden" id="txtty" ng-model="catalogtype" />-->
            <table>
                <tbody>
                    <tr>
                        <tr>
                            <td><h5> Select Data Fields</h5></td>
                        </tr>
                        <td style="vertical-align: top">
                            <h6>Available Attributes</h6>
                            <div class="navbar-content" id="showAttributeName">
                                <!--Class not avail main-navigation navbar-collapse1 collapse-->
                                <div class="" style="position: inherit; width: 345px;">
                                    <div style="max-height: 500px; min-height: 500px; overflow: auto; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                                        <div id="chkbxAttributeId" style="text-align: left !important;">
                                            <div kendo-grid="Opencatselectgrid" options="OpenmainGridOptions">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-default btn-xs" ng-click="OpenSavePublishAttributes()"><span class="glyphicon glyphicon-arrow-right"></span></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-default btn-xs" ng-click="OpenDeletePublishAttributes()"><span class=" glyphicon glyphicon-arrow-left"></span></button>
                                    </td>
                                </tr>

                            </table>
                        </td>
                        <td style="vertical-align: top">
                            <h6>Selected Attributes</h6>
                            <div class="navbar-content" id="showSelectedAttributes">
                                <div class="" style="position: inherit; width: 345px;">
                                    <div style="max-height: 500px; min-height: 500px; overflow: auto; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                                        <div id="chkbxselAttributeId">
                                            <div kendo-grid="Openprodselectgrid" options="OpenselectedGridOptions">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </td>

                    </tr>
                </tbody>
            </table>
            <br />
            <table width="100" align="center">
                <tr>
                    <td>
                    </td>
                    <td>
                        <div class="form-group center-block">
                            <a>
                                <button class="btn btn-primary btn-xs" type="submit" ng-click="GetOpenPDFSummary()">
                                    Next
                                </button>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="form-group center-block">
                            <button class="btn btn-primary btn-xs" type="button" ng-click='exitPDFXpressCatalog()'>
                                Cancel
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="pdfSummary" style="display:none">
        <form name="myformpdfsummary">
            <div style="background-image: url(../../Content/assets/kendo/styles/textures/glass-lighter.png);
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            background-position: 50% 50%; background-color: #A9D0F5; color: black; border-radius: 3px 3px 0 0;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            box-shadow: 0 1px 0 #A9D0F5 inset; height:35px;">
                <br />
                <p><b>PDF Catalog Project Summary</b></p>
            </div><br />
            <div style="align-content:center">
                PDF Catalog Wizard Settings
            </div><br /><div>
            </div>
            <table class="table ng-scope ng-table">
                <tr><td>PROJECT_ID</td><td><label id="PROJECT_ID"></label></td></tr>
                <tr><td>PROJECT_NAME</td><td><label id="PROJECT_NAME"></label></td></tr>
                <tr><td>COMMENT</td><td><label id="COMMENT"></label></td></tr>
                <tr><td>CATALOG_ID</td><td><label id="CATALOG_ID"></label></td></tr>
                <tr><td>CATALOG_NAME</td><td><label id="CATALOG_NAME"></label></td></tr>
                <tr>
                    <td>PUBLICATION_TYPE</td>
                    <td>
                        <label id="PUBLICATION_TYPE"></label>
                    </td>
                </tr>
                <tr><td>PAPER_SIZE</td><td><label id="PAPER_SIZE"></label></td></tr>
                <tr><td>PAPER_WIDTH</td><td><label id="PAPER_WIDTH"></label></td></tr>
                <tr><td>PAPER_HEIGHT</td><td><label id="PAPER_HEIGHT"></label></td></tr>
                <tr><td>SEGMENT_PER_WIDTH</td><td><label id="SEGMENT_PER_WIDTH"></label></td></tr>
                <tr><td>SEGMENT_PER_HEIGHT</td><td><label id="SEGMENT_PER_HEIGHT"></label></td></tr>
                <tr><td>LEFT_MARGIN</td><td><label id="LEFT_MARGIN"></label></td></tr>
                <tr><td>RIGHT_MARGIN</td><td><label id="RIGHT_MARGIN"></label></td></tr>
                <tr><td>TOP_MARGIN</td><td><label id="TOP_MARGIN"></label></td></tr>
                <tr><td>BOTTOM_MARGIN</td><td><label id="BOTTOM_MARGIN"></label></td></tr>
                <tr><td>PAGE_COLUMNS</td><td><label id="PAGE_COLUMNS"></label></td></tr>
                <tr><td>PAGE_COLUMN_WIDTH</td><td><label id="PAGE_COLUMN_WIDTH"></label></td></tr>
                <tr><td>PAGE_COLUMN_GAP</td><td><label id="PAGE_COLUMN_GAP"></label></td></tr>
                <tr><td>COVER_PAGE</td><td><label id="COVER_PAGE"></label></td></tr>
                <tr><td>ORIENTATION</td><td><label id="ORIENTATION"></label></td></tr>
                <tr><td>CONTENT_PAGE</td><td><label id="CONTENT_PAGE"></label></td></tr>
                <tr><td>CONTENT_PAGE_WITH_CATEGORY_FAMILY</td><td><label id="CONTENT_PAGE_WITH_CATEGORY_FAMILY"></label></td></tr>
                <tr><td>INDEX_PAGE</td><td><label id="INDEX_PAGE"></label></td></tr>
                <tr><td>INDEX_PAGE_WITH_CATALOG_ITEM_NO</td><td><label id="INDEX_PAGE_WITH_CATALOG_ITEM_NO"></label></td></tr>
                <tr><td>INDEXPAGE_COLUMNS</td><td><label id="INDEXPAGE_COLUMNS"></label></td></tr>
                <tr><td>SYSTEM_ATTRIBUTE</td><td style="height:30px;"><label id="SYSTEM_ATTRIBUTE"></label></td></tr>
                <tr><td>CUSTOM_ATTRIBUTE</td><td style="height:30px;"><label id="CUSTOM_ATTRIBUTE"></label></td></tr>
                <tr><td>MULTIPLE_TABLES</td><td><label id="MULTIPLE_TABLES"></label></td></tr>
                <tr><td>REFERENCE_TABLES</td><td><label id="REFERENCE_TABLES"></label></td></tr>
            </table>
            <br />
            <table width="100" align="center">
                <tr>
                    <td>
                        <div class="form-group center-block">
                            <!--<a>
                                <button class="btn btn-primary btn-xs" type="button" ng-click="backpdfgroup()">
                                    Back
                                </button>
                            </a>-->
                        </div>
                    </td>
                    <td>
                        <div class="form-group center-block">
                            <a ng-if="catalogtype=='simple'">
                                <button class="btn btn-primary btn-xs" type="submit" ng-click="simplePDFTemplate()">
                                    Finish
                                </button>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="form-group center-block">
                            <button class="btn btn-primary btn-xs" type="button" ng-click='exitPDFXpressCatalog()'>
                                Cancel
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>

</div>