﻿<style>
    .k-widget.k-window {
        margin-top: -60px;
    }

    .panel-heading2 {
        padding: 10px;
        background-color: #e5f2f8;
        color: #071222;
        border-radius: 3px 3px 0 0;
        font-weight: bold;
    }

    .tablelabelwidth {
        width: 365px;
        word-wrap: break-word;
        display: block;
        height: auto;
    }

    .radio {
        position: relative;
        float: left;
        clear: left;
        display: block;
        padding-left: 40px;
        margin-bottom: 12px;
        line-height: 22px;
        font-size: 14px;
        color: #666;
        cursor: pointer;
    }

        .radio:before {
            background: #fff;
            content: "";
            position: absolute;
            display: inline-block;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            border: 1px solid #bbb;
            border-radius: 100%;
            -moz-border-radius: 100%;
            -webkit-border-radius: 100%;
            box-shadow: inset 0 0 3px 0 #ccc;
            -moz-box-shadow: inset 0 0 3px 0 #ccc;
            -webkit-box-shadow: inset 0 0 3px 0 #ccc;
        }

    input[type="radio"] {
        display: none;
    }

        input[type="radio"]:checked + label:before {
            content: "\2022";
            text-align: center;
            line-height: 14px;
            font-family: Tahoma;
            font-size: 35px;
            color: #091f3f;
            text-shadow: 0 0 4px #bbb;
        }

    .pdfpagesetup {
        height: 420px;
        overflow: auto;
        overflow-x: hidden;
    }

    .switch input {
        display: none;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0px;
        left: 0px;
        right: 0;
        bottom: 0px;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 23px;
            width: 23px;
            left: 5px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #4b9f46;
        color: #fff;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #4b9f46;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    span.yes {
        margin-top: 6px;
        display: flex;
        width: 29px;
        float: left;
        margin-left: 6px;
        font-size: 13px;
    }

    span.no {
        margin-top: 5px;
        float: left;
        margin-left: -2px;
    }

    .pdfXpress {
        width: 77%;
        height: 430px;
        border: 2px solid #4b9f46;
        float: left;
        padding: 10px 5px 10px 15px;
    }

    .leftMenuactive {
        padding: 15px 15px 15px 15px !important;
        background-color: #4b9f46 !important;
        height: 20px !important;
        border: thin !important;
        border-color: #4b9f46 !important;
        color: white !important;
        width: 100%;
    }

    li#PublicationType ,#PageSetup , #PageSetupAdvanced , #DataFields , #HierarchyOption , #SelectGroup , #Summary{
        padding: 15px 15px 15px 15px !important;
        height: 20px !important;
        border: thin !important;
        border-color: #4b9f46 !important;
        color: white !important;
        width: 87%;
    }

    .pdfxpressheight {
    height: 425px;
    overflow-y: auto;
    overflow-x: hidden;
}
</style>

<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

<div ng-controller="xpressPDFCatalogController" ng-cloak>



    <ul class="nav nav-tabs" style="width: 20%;float: left;background: #091f3f;height: 454px;margin-top: -1px;">
        <li ng-disabled="PublicationType" id="PublicationType" class="leftMenuactive">Publication Type</li>
        <li ng-disabled="PageSetup" id="PageSetup" class="leftMenuactive">Page Setup</li>
        <li ng-disabled="PageSetupAdvanced" id="PageSetupAdvanced" class="leftMenuactive">Page Setup-Advanced</li>
        <li ng-disabled="DataFields" id="DataFields" class="leftMenuactive">Data Fields</li>
        <li ng-disabled="HierarchyOption" id="HierarchyOption" class="leftMenuactive">Hierarchy Option</li>
        <li ng-disabled="SelectGroup" id="SelectGroup" class="leftMenuactive">Select Group</li>
        <li ng-disabled="Summary" id="Summary" class="leftMenuactive">Summary</li>



    </ul>

    <div class="pdfXpress">

        <div id="pdfcatalogtyp">
            <form name="myformpdfcatalogtyp">
                <!--<div class="panel-heading1">Select PDF Catalog Publication Type</div>-->
                <div class="pdfxpressheight">
                <div class="form-group">
                    <div class="form-group">
                        <input id="rdbsimple" type="radio" ng-model="catalogtype" ng-change='newValue("simple")' name="type" value="simple" style="margin-right: 10px;">
                        <label for="rdbsimple" class="radio">
                            Simple Catalog(Select this option for publishing reports such as Price List,Item List)
                        </label>
                    </div>



                    <div class="form-group">
                        <input type="radio" id="rdbhierarchy" ng-model="catalogtype" ng-change='newValue("hierarchy")' name="type" value="hierarchy" style="margin-right: 10px;" />
                        <label for="rdbhierarchy" class="radio">
                            Hierarchical Catalog (Select this option to utilize the Category & Product Item hierarchy)
                        </label>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 textalignright margintop">
                            <p><b>Select Catalog </b></p>
                        </div>
                        <div class="col-sm-4">
                            <select kendo-drop-down-list
                                    k-option-label="'--- Select Catalog ---'"
                                    k-data-text-field="'CATALOG_NAME'"
                                    k-data-value-field="'CATALOG_ID'"
                                    k-data-source="catalogDataSource"
                                    k-on-change="catalogChange(kendoEvent)"
                                    ng-model="SelectedCatalogId"
                                    style="width:250px" disabled="disabled"></select>
                        </div>
                    </div>
                </div>
                    </div>

               
                    <table width="100" align="center" style="margin-top: 30px;">
                        <tr>
                            <td>
                                <div class="form-group center-block">
                                    <button class="btn btn-primary btn-xs" type="button" ng-click='pdfPageSetup()' title="{{nextPDF}}">
                                        Next
                                    </button>
                                </div>
                            </td>
                            <td>
                                <div class="form-group center-block">
                                    <button class="btn btn-primary btn-xs" type="button" ng-click='exitPDFXpressCatalog()' title="{{cancelPDF}}">
                                        Cancel
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
              
            </form>
        </div>

        <div id="pdfPageSetup" style="display:none;">
            <form name="myformpagesetup" ng-submit="pagesetup()">

                <div class="pdfxpressheight">
                    <div style="color: #3c3c3c; border-radius: 3px 3px 0 0;margin-bottom: 10px;border: 1px solid #ccc;">
                        <div class="panel-heading2 margin-bottom-15">Paper</div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-2 textalignright margintop">
                                    Size
                                </div>
                                <div class="col-sm-2">
                                    <select kendo-drop-down-list
                                            k-data-text-field="'PaperName'"
                                            k-data-value-field="'PaperName'"
                                            k-data-source="pagesize"
                                            k-on-change="papersizeChange(kendoEvent)"
                                            ng-model="changeName"></select>
                                    <div id="size"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 textalignright margintop">
                                    Width
                                </div>
                                <div class="col-sm-3">
                                    <select kendo-drop-down-list
                                            k-data-text-field="'Width/100'"
                                            k-data-value-field="'Width/100'"
                                            k-data-source="pagewidth"
                                            k-on-change="paperwidthChange(kendoEvent)"
                                            ng-model="widthValue"></select>
                                </div>
                                <div class="col-sm-2 textalignright margintop">
                                    Segment per width
                                </div>
                                <div class="col-sm-2">
                                    <div id="segwidth"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 textalignright margintop">
                                    Height
                                </div>
                                <div class="col-sm-3">
                                    <select kendo-drop-down-list
                                            k-data-text-field="'Height/100'"
                                            k-data-value-field="'Height/100'"
                                            k-data-source="pagewidth"
                                            k-on-change="paperheightChange(kendoEvent)"
                                            ng-model="heightValue"></select>
                                </div>
                                <div class="col-sm-2 textalignright margintop">
                                    Segment per height
                                </div>
                                <div class="col-sm-2">
                                    <div id="segheight"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="color: #3c3c3c; border-radius: 3px 3px 0 0;border: 1px solid #ccc;margin-bottom: 10px;">
                        <div class="panel-heading2 margin-bottom-15">Orientation</div>
                        <div class="form-horizontal">
                            <div class="form-group" style="text-align: center;">


                                <div class="col-sm-2 textalignright">
                                    Portrait
                                </div>
                                <div class="col-sm-1" style="text-align: left;">
                                    <input type="radio" id="prt" name="orient" ng-change='nValue("Portrait")' ng-model="orientn" value="Portrait" style="margin-right: 10px;" />
                                </div>

                                <div class="col-sm-1 textalignright">
                                    Landscape
                                </div>
                                <div class="col-sm-1" style="text-align: left;">
                                    <input type="radio" id="lnd" name="orient" ng-change='nValue("Landscape")' value="Landscape" ng-model="orientn" style="margin-right: 10px;" />
                                </div>
                                <div style="display:none">
                                    <input type="text" ng-model="orientn" id="txtpageformat" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="color: #3c3c3c; border-radius: 3px 3px 0 0;border: 1px solid #ccc;margin-bottom: 10px;">
                        <div class="panel-heading2 margin-bottom-15">Margins</div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-2 textalignright margintop">
                                    Left
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" id="txtleftmrgn" value="0.39" name="left" ng-trim="false">
                                </div>
                                <div class="col-sm-2 textalignright margintop">
                                    Top
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" id="txttopmrgn" value="0.39" name="top" ng-trim="false">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 textalignright margintop">
                                    Right
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" name="right" value="0.39" id="txtrightmrgn" ng-trim="false">
                                </div>
                                <div class="col-sm-2 textalignright margintop">
                                    Bottom
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" name="bottom" value="0.39" id="txtbottommrgn" ng-trim="false">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="color: #3c3c3c; border-radius: 3px 3px 0 0;border: 1px solid #ccc;margin-bottom: 10px;">
                        <div class="panel-heading2 margin-bottom-15">Columns</div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-2 textalignright margintop">
                                    No. of Columns
                                </div>
                                <div class="col-sm-3">
                                    <div id="cols"></div>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 textalignright margintop">
                                    Column Width
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" name="colswidth" value="0.00" id="txtcolswidth" ng-trim="false">
                                </div>
                                <div class="col-sm-2 textalignright margintop">
                                    Column Gap
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="colsgap" id="txtcolsgap" value="0.00" ng-trim="false">
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>

                    <table width="100" align="center" style="margin-top: 30px;">
                        <tr>
                            <td>
                                <div class="form-group center-block">
                                    <button class="btn btn-primary btn-xs" type="button" ng-click='backpdfPageSetup()' title="{{previousPDF}}">
                                        Back
                                    </button>
                                </div>
                            </td>
                            <td>
                                <div class="form-group center-block">
                                    <button class="btn btn-primary btn-xs" type="submit" ng-click='pdfAdvanceOptions()' title="{{nextPDF}}">
                                        Next
                                    </button>
                                </div>
                            </td>
                            <td>
                                <div class="form-group center-block">
                                    <button class="btn btn-primary btn-xs" type="button" ng-click='exitPDFXpressCatalog()' title="{{cancelPDF}}">
                                        Cancel
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
</form>
            <!--<div kendo-window="winpdfAdvanceOptions" k-title="'PDF Catalog Wizard'" k-width="600" k-height="430" k-visible="false"
                     k-actions='["Close"]'
                     k-modal="true" k-on-open="winpdfAdvanceOptionsVisible = true" k-on-close="onClose(kendoEvent)">
                </div>-->
        </div>

        <div id="pdfAdvanceOptions" style="display:none;">
            <form name="myformadvanceoptions" ng-submit="advanceOption()">
                <div class="pdfxpressheight">
                 
                        <!--<div class="panel-heading1">Page Setup-Advanced Options</div><br />-->
                        <br />
                        <div class="form-group col-sm-12">
                            <div class="col-sm-4 bold textalignright">
                                Cover Page
                            </div>
                            <span style="float: left;padding-left: 13px;">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"><span value="Yes" ng-change='Cover("Yes")' ng-model="coverpage" class="yes">Yes</span> <span ng-change='Cover("No")' ng-model="coverpage" class="no">No</span></span>
                                </label>
                            </span>
                            <!--<input type="radio" name="cover" value="Yes" ng-change='Cover("Yes")' ng-model="coverpage" />&nbsp;&nbsp;Yes-->
                            <!--<div class="col-sm-2 padding-left-0">
                    <input type="radio" name="cover" value="No" ng-change='Cover("No")' ng-model="coverpage" />&nbsp;&nbsp;No
                </div>-->
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-4 bold textalignright">
                                Table of Content Page
                            </div>

                            <span style="float: left;padding-left: 13px;">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"><span value="Yes" ng-change='Toc("Yes")' ng-model="tocpage" class="yes">Yes</span> <span ng-change='Toc("No")' ng-model="tocpage" class="no">No</span></span>
                                </label>
                            </span>

                            <!--<div class="col-sm-2 padding-right-0">
                    <input type="radio" name="toc" value="Yes" ng-change='Toc("Yes")' ng-model="tocpage" />&nbsp;&nbsp;Yes
                </div>
                <div class="col-sm-2 padding-left-0">
                    <input type="radio" name="toc" value="No" ng-change='Toc("No")' ng-model="tocpage" />&nbsp;&nbsp;No
                </div>-->
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-4 bold textalignright">
                                Contents based on Category & Product
                            </div>
                            <span style="float: left;padding-left: 13px;">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round">
                                        <span name="cattoc" value="Yes" ng-change='Cattoc("Yes")' ng-model="cattocpage" ng-disabled="tocpage=='No'" class="yes">Yes</span>
                                        <span name="cattoc" value="No" ng-change='Cattoc("No")' ng-model="cattocpage" ng-disabled="tocpage=='No'" class="no">No</span>
                                    </span>
                                </label>
                            </span>
                            <!--<div class="col-sm-2 padding-right-0">
                    <input type="radio" name="cattoc" value="Yes" ng-change='Cattoc("Yes")' ng-model="cattocpage" ng-disabled="tocpage=='No'" />&nbsp;&nbsp;Yes
                </div>
                <div class="col-sm-2 padding-left-0">
                    <input type="radio" name="cattoc" value="No" ng-change='Cattoc("No")' ng-model="cattocpage" ng-disabled="tocpage=='No'" />&nbsp;&nbsp;No
                </div>-->
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-4 bold textalignright">
                                Generate Index Page
                            </div>
                            <span style="float: left;padding-left: 13px;">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round">
                                        <span name="gindex" value="Yes" ng-change='Gindex("Yes")' ng-model="gindexpage" class="yes">Yes</span>
                                        <span name="gindex" value="No" ng-change='Gindex("No")' ng-model="gindexpage" class="no">No</span>
                                    </span>
                                </label>
                            </span>
                            <!--<div class="col-sm-2 padding-right-0">
                    <input type="radio" name="gindex" value="Yes" ng-change='Gindex("Yes")' ng-model="gindexpage" />&nbsp;&nbsp;Yes
                </div>
                <div class="col-sm-2 padding-left-0">
                    <input type="radio" name="gindex" value="No" ng-change='Gindex("No")' ng-model="gindexpage" />&nbsp;&nbsp;No
                </div>-->
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-4 bold textalignright">
                                Index based on Catalog Item Number
                            </div>
                            <span style="float: left;padding-left: 13px;">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round">
                                        <span name="catindex" value="Yes" ng-change='Catindex("Yes")' ng-model="catindexpage" ng-disabled="gindexpage=='No'" class="yes">Yes</span>
                                        <span name="catindex" value="No" ng-change='Catindex("No")' ng-model="catindexpage" ng-disabled="gindexpage=='No'" class="no">No</span>
                                    </span>
                                </label>
                            </span>
                            <!--<div class="col-sm-2 padding-right-0">
                    <input type="radio" name="catindex" value="Yes" ng-change='Catindex("Yes")' ng-model="catindexpage" ng-disabled="gindexpage=='No'" />&nbsp;&nbsp;Yes
                </div>
                <div class="col-sm-2 padding-left-0">
                    <input type="radio" name="catindex" value="No" ng-change='Catindex("No")' ng-model="catindexpage" ng-disabled="gindexpage=='No'" />&nbsp;&nbsp;No
                </div>-->
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-4 bold textalignright">
                                Number of Index Columns
                            </div>
                            <div class="col-sm-2">
                                <!--<div id="indexcols" ng-style="{opacity : ((gindexpage=='No') && '0.4') || '1'};{pointer-events:((gindexpage=='No') && 'none')||'block'}"> </div>-->
                                <div id="indexcols" ng-style="{opacity : ((gindexpage=='No') && '0.4') || '1'}"> </div>
                            </div>

                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-4 bold textalignright">
                                Header
                            </div>
                            <div class="col-sm-2">
                                <input type="text" ng-model="pageadvance.Header" id="txtheader" />
                            </div>

                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-4 bold textalignright">
                                Footer
                            </div>
                            <div class="col-sm-2">
                                <input type="text" ng-model="pageadvance.Footer" id="txtfooter" />
                            </div>

                        </div>
                    
                    </div>
                    <table width="100" align="center" style="margin-top: 30px;">
                        <tr>
                            <td>
                                <div class="form-group center-block">
                                    <button class="btn btn-primary btn-xs" type="button" ng-click="backpdfAdvanceOptions()" title="{{previousPDF}}">
                                        Back
                                    </button>
                                </div>
                            </td>
                            <td>
                                <div class="form-group center-block">
                                    <button class="btn btn-primary btn-xs" type="submit" ng-click="pdfselection()" title="{{nextPDF}}">
                                        Next
                                    </button>
                                </div>
                            </td>
                            <td>
                                <div class="form-group center-block">
                                    <button class="btn btn-primary btn-xs" type="button" ng-click='exitPDFXpressCatalog()' title="{{cancelPDF}}">
                                        Cancel
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
</form>
        </div>

        <div id="pdfselection" style="display:none;">
            <form name="myformpdfselection">
                <!--<input type="hidden" id="txtty" ng-model="catalogtype" />-->
                <!--<div class="panel-heading1"> Select Data Fields</div>-->
                <div class="pdfxpressheight">
                    <table>
                        <tbody>
                            <tr>

                                <td style="vertical-align: top">
                                    <h6 class="bold">Available Attributes</h6>
                                    <div class="navbar-content" id="showAttributeName">
                                        <!--Class not avail main-navigation navbar-collapse1 collapse-->
                                        <div class="" style="position: inherit; width: 345px;">
                                            <div style="min-height: 450px; overflow: auto; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                                                <div id="chkbxAttributeId" style="text-align: left !important;">
                                                    <div kendo-grid="catselectgrid" options="mainGridOptions">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-default btn-xs" ng-click="SavePublishAttributes()"><span class="glyphicon glyphicon-arrow-right"></span></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-default btn-xs" ng-click="DeletePublishAttributes()"><span class=" glyphicon glyphicon-arrow-left"></span></button>
                                            </td>
                                        </tr>

                                    </table>
                                </td>
                                <td style="vertical-align: top">
                                    <h6 class="bold">Selected Attributes</h6>
                                    <div class="navbar-content" id="showSelectedAttributes">
                                        <div class="" style="position: inherit; width: 345px;">
                                            <div style="min-height: 450px; overflow: auto; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                                                <div id="chkbxselAttributeId">
                                                    <div kendo-grid="prodselectgrid" options="selectedGridOptions">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </div>

                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
                <div ng-if="catalogtype=='hierarchy'"> <input type="checkbox" ng-model="displayProduct_" ng-change="displayProduct(displayProduct_)">Display Product Table</div>
                <table width="100" align="center" style="margin-top: 30px;">
                    <tr>
                        <td>
                            <div class="form-group center-block">
                                <button class="btn btn-primary btn-xs" type="button" ng-click="backpdfselection()" title="{{previousPDF}}">
                                    Back
                                </button>
                            </div>
                        </td>
                        <td>
                            <div class="form-group center-block">
                                <a ng-if="catalogtype=='hierarchy'">
                                    <button class="btn btn-primary btn-xs" type="submit" ng-click="UpdateProjectHierarchy()" title="{{nextPDF}}">
                                        Next
                                    </button>
                                </a>
                                <a ng-if="catalogtype=='simple'">
                                    <button class="btn btn-primary btn-xs" type="submit" ng-click="UpdatePrjtblegrupsetup()" title="{{nextPDF}}">
                                        Next
                                    </button>
                                </a>
                                <!--<button class="btn btn-primary" type="submit" ng-click="UpdatePrjtblegrupsetup()">
                                        No Next
                                    </button>-->
                            </div>
                        </td>
                        <td>
                            <div class="form-group center-block">
                                <button class="btn btn-primary btn-xs" type="button" ng-click='exitPDFXpressCatalog()' title="{{cancelPDF}}">
                                    Cancel
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div id="pdfgroup" style="display:none">
            <form name="myformpdfgroup">
                <br />

                <div class="pdfxpressheight">
                    <input type="radio" name="grup" value="Create groups" id="creategrp" ng-change='"Group("Create groups")' ng-model="group" style="margin-right: 10px;" />
                    <label for="creategrp" class="radio">
                        Create Groups(Hierarchy)
                    </label>


                    <br />
                    <input type="radio" name="grup" value="Do Not Create Groups" id="creategrp1" ng-change='Group("Do Not Create Groups")' ng-model="group" style="margin-right: 10px;" />
                    <label for="creategrp1" class="radio">
                        Do Not Create Groups(Hierarchy)
                    </label>


                    <br />

                </div>
                
                    <table width="100" align="center"  style="margin-top: 30px;">
                        <tr>
                            <td>
                                <div class="form-group center-block">
                                    <button class="btn btn-primary btn-xs" type="button" ng-click="backpdfgroup()" title="{{previousPDF}}">
                                        Back
                                    </button>
                                </div>
                            </td>
                            <td>
                                <div class="form-group center-block">
                                    <a ng-if="group=='Create groups'">
                                        <button class="btn btn-primary btn-xs" type="submit" ng-click="pdfgroupingattributes()" title="{{nextPDF}}">
                                            Next
                                        </button>
                                    </a>
                                    <a ng-if="group=='Do Not Create Groups'">
                                        <button class="btn btn-primary btn-xs" type="submit" ng-click="pdfSummary()" title="{{nextPDF}}">
                                            Next
                                        </button>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="form-group center-block">
                                    <button class="btn btn-primary btn-xs" type="button" ng-click='exitPDFXpressCatalog()' title="{{cancelPDF}}">
                                        Cancel
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                
            </form>
        </div>

        <div id="pdfgroupingattributes" style="display:none">
            <!--<div class="panel-heading1">Select Group by Fields</div>-->
            <div class="pdfxpressheight">
                <table>
                    <tbody>
                        <tr>
                            <td style="vertical-align: top">

                                <h6 class="bold">Available Attributes</h6>
                                <div class="navbar-content" id="showAttributeName">
                                    <div class="" style="position: inherit; width: 345px;">
                                        <div style="min-height: 450px; overflow: auto; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                                            <div id="chkbxAttributeId" style="text-align: left !important;">
                                                <div kendo-grid="catselectobjects" options="mainCatalogOptions">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="SavePublishPDF()"><span class="glyphicon glyphicon-arrow-right"></span></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="DeletePublishPDF()"><span class=" glyphicon glyphicon-arrow-left"></span></button>
                                        </td>
                                    </tr>

                                </table>
                            </td>
                            <td style="vertical-align: top">
                                <h6 class="bold">Selected Attributes</h6>
                                <div class="navbar-content" id="showSelectedAttributes">
                                    <div class="" style="position: inherit; width: 345px;">
                                        <div style="min-height: 450px; overflow: auto; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                                            <div id="chkbxselAttributeId">
                                                <div kendo-grid="prodselectObjects" options="selectedCatalogObjects">
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>

                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <table width="100" align="center" style="margin-top: 30px;">
                <tr>
                    <td>
                        <div class="form-group center-block">
                            <button class="btn btn-primary btn-xs" type="button" ng-click="backpdfgroupingattributes()" title="{{previousPDF}}">
                                Back
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="form-group center-block">
                            <button class="btn btn-primary btn-xs" type="submit" ng-click="pdfSummary()" title="{{nextPDF}}">
                                Next
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="form-group center-block">
                            <button class="btn btn-primary btn-xs" type="button" ng-click='exitPDFXpressCatalog()' title="{{cancelPDF}}">
                                Cancel
                            </button>
                        </div>
                    </td>
                </tr>
            </table>

        </div>

        <div id="pdfSummary" style="display:none">
            <form name="myformpdfsummary">

                <!--<div class="panel-heading1">Summary</div><br />-->
                <div class="pdfxpressheight">
                    <table class="table ng-scope ng-table" style="border: 1px solid #ccc;margin-bottom: 0px;border-bottom: 0px;">
                        <tr><td style="width: 100px;">PROJECT_ID</td><td style="width: 300px;"><label id="PROJECT_ID"></label></td></tr>
                        <tr><td>PROJECT_NAME</td><td><label id="PROJECT_NAME"></label></td></tr>
                        <tr><td>COMMENT</td><td><label id="COMMENT"></label></td></tr>
                        <tr><td>CATALOG_ID</td><td><label id="CATALOG_ID"></label></td></tr>
                        <tr><td>CATALOG_NAME</td><td><label id="CATALOG_NAME"></label></td></tr>
                        <tr>
                            <td>PUBLICATION_TYPE</td>
                            <td>
                                <label id="PUBLICATION_TYPE"></label>
                            </td>
                        </tr>
                        <tr><td>PAPER_SIZE</td><td><label id="PAPER_SIZE"></label></td></tr>
                        <tr><td>PAPER_WIDTH</td><td><label id="PAPER_WIDTH"></label></td></tr>
                        <tr><td>PAPER_HEIGHT</td><td><label id="PAPER_HEIGHT"></label></td></tr>
                        <tr><td>SEGMENT_PER_WIDTH</td><td><label id="SEGMENT_PER_WIDTH"></label></td></tr>
                        <tr><td>SEGMENT_PER_HEIGHT</td><td><label id="SEGMENT_PER_HEIGHT"></label></td></tr>
                        <tr><td>LEFT_MARGIN</td><td><label id="LEFT_MARGIN"></label></td></tr>
                        <tr><td>RIGHT_MARGIN</td><td><label id="RIGHT_MARGIN"></label></td></tr>
                        <tr><td>TOP_MARGIN</td><td><label id="TOP_MARGIN"></label></td></tr>
                        <tr><td>BOTTOM_MARGIN</td><td><label id="BOTTOM_MARGIN"></label></td></tr>
                        <tr><td>PAGE_COLUMNS</td><td><label id="PAGE_COLUMNS"></label></td></tr>
                        <tr><td>PAGE_COLUMN_WIDTH</td><td><label id="PAGE_COLUMN_WIDTH"></label></td></tr>
                        <tr><td>PAGE_COLUMN_GAP</td><td><label id="PAGE_COLUMN_GAP"></label></td></tr>
                        <tr><td>COVER_PAGE</td><td><label id="COVER_PAGE"></label></td></tr>
                        <tr><td>ORIENTATION</td><td><label id="ORIENTATION"></label></td></tr>
                        <tr><td>CONTENT_PAGE</td><td><label id="CONTENT_PAGE"></label></td></tr>
                        <tr><td>CONTENT_PAGE_WITH_CATEGORY_FAMILY</td><td><label id="CONTENT_PAGE_WITH_CATEGORY_FAMILY"></label></td></tr>
                        <tr><td>INDEX_PAGE</td><td><label id="INDEX_PAGE"></label></td></tr>
                        <tr><td>INDEX_PAGE_WITH_CATALOG_ITEM_NO</td><td><label id="INDEX_PAGE_WITH_CATALOG_ITEM_NO"></label></td></tr>
                        <tr><td>INDEXPAGE_COLUMNS</td><td><label id="INDEXPAGE_COLUMNS"></label></td></tr>
                    </table>
                    <div ng-if="catalogtype=='simple'">
                        <table class="table ng-scope ng-table" style="border: 1px solid #ccc;margin-bottom: 0px;border-bottom: 0px;">
                            <tr style="visibility: collapse;"><td>CONTENT_PAGE_WITH_CATEGORY_CATEGORY_CAT</td><td><label id="123"></label></td></tr>
                            <tr><td>SYSTEM_ATTRIBUTE</td><td class="tablelabelwidth"><label id="SYSTEM_ATTRIBUTE"></label></td></tr>
                            <tr><td>CUSTOM_ATTRIBUTE</td><td><label id="CUSTOM_ATTRIBUTE"></label></td></tr>
                        </table>
                    </div>
                    <table class="table ng-scope ng-table" style="border: 1px solid #ccc;margin-bottom: 0px;">
                        <tr><td>MULTIPLE_TABLES</td><td><label id="MULTIPLE_TABLES"></label></td></tr>
                        <tr><td>REFERENCE_TABLES</td><td><label id="REFERENCE_TABLES"></label></td></tr>
                    </table>
                    <br />
                    <div ng-if="catalogtype=='hierarchy'">
                        <table class="table ng-scope ng-table" style="border: 1px solid #ccc;margin-bottom: 0px;border-bottom: 0px;">
                            <tr>
                                <td>SYSTEM_ATTRIBUTE</td>
                                <td style="height:30px;"><label id="SYSTEM_ATTRIBUTE"></label></td>
                            </tr>
                            <tr><td>CUSTOM_ATTRIBUTE</td><td style="height:30px;"><label id="CUSTOM_ATTRIBUTE"></label></td></tr>
                        </table>
                    </div>

                </div>
                <br />
                <table width="100" align="center" style="margin-top: 30px;">
                    <tr>
                        <td>
                            <div class="form-group center-block">
                                <a ng-if="catalogtype=='hierarchy'">
                                    <button class="btn btn-primary btn-xs" type="button" ng-click="backpdfgroup()" title="{{previousPDF}}">
                                        Back
                                    </button>
                                </a>
                                <a ng-if="catalogtype=='simple'">
                                    <div id="showgroup" style="display: none">
                                        <a ng-if="group=='Create groups'">
                                            <button class="btn btn-primary btn-xs" type="button" ng-click="backpdfSummary()" title="{{previousPDF}}">
                                                Back
                                            </button>
                                        </a>
                                        <a ng-if="group=='Do Not Create Groups'">
                                            <button class="btn btn-primary btn-xs" type="button" ng-click="backDNTGroup()" title="{{previousPDF}}">
                                                Back
                                            </button>
                                        </a>
                                    </div>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="form-group center-block">
                                <a ng-if="catalogtype=='simple'">
                                    <button class="btn btn-primary btn-xs" type="submit" ng-click="simplePDFTemplate()" title="{{finishPDF}}">
                                        Finish
                                    </button>
                                </a>
                                <a ng-if="catalogtype=='hierarchy'">
                                    <button class="btn btn-primary btn-xs" type="submit" ng-click="hierarchyPDFTemplate()" title="{{finishPDF}}">
                                        Finish
                                    </button>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="form-group center-block">
                                <button class="btn btn-primary btn-xs" type="button" ng-click='exitPDFXpressCatalog()' title="{{cancelPDF}}">
                                    Cancel
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

</div>