﻿



<div class="col-sm-12" style="float:left">
    <form name="myForm" ng-controller="ProductLayoutController" ng-cloak>
        <div class="form-horizontal">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Structure Type </h5>
                </div>
                <div class="col-sm-4">
                    <select kendo-drop-down-list
                            k-data-text-field="'Text'"
                            k-data-value-field="'value'"
                            k-options="StructureType"
                            k-on-change="StructureTypeChange(kendoEvent)"
                            ng-model="Structure.tabletype"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <h5>Structure Name </h5>
                </div>
                <div class="col-sm-4">
                    <input type="text" name="structurename" ng-model="Structure.structureName" ng-trim="false" required>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <h5>Default Layout </h5>
                </div>
                <div class="col-sm-4">
                    <input id="defaultlayoutyes" type="radio" ng-model="Structure.defaultlayout" ng-value="true" />
                    Yes
                    <input id="defaultlayoutno" type="radio" ng-model="Structure.defaultlayout" ng-value="false" />
                    No
                </div>
            </div>
        </div>
        <table width="100%" align="center">
            <tr>
                <td>
                    <div class="form-group center-block">
                        <button class="btn btn-primary btn-xs" type="button" ng-click='CreateStructure()'>
                            OK
                        </button>
                        <button class="btn btn-primary btn-xs" type="button" ng-click='CancelStructure()'>
                            Cancel
                        </button>

                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
