﻿<style>
    a, button {
        font: 14px 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        display: block;
        color: #333;
        margin-bottom: 10px;
    }

        /* The following 'important' styles are just here to show off trapFocus */
        button.ngdialog-button {
            border: solid transparent 1px !important;
        }

            button.ngdialog-button:focus {
                border: solid black 1px !important;
            }

    .ngdialog h2:focus {
        outline: none;
    }

    .blue {
        color: #0072bb;
    }
</style>
<style>
    .selected {
        background-color: black;
        color: white;
        font-weight: bold;
    }
</style>

<link rel="stylesheet" href="style.css" />

<div ng-controller="ProductConfiguratorController">
    <form name="categoryGridForm">
        <div></div>
        <br />
        <div class="row" style="max-width: 98%;padding-left: 10px">
            <div id="dynamictable_Prod" style="max-width: 100%; overflow: auto;font-size:10px;">
                <!--<table ng-table="tblDashBoard" id="samplegrid" class="table table-condensed table-bordered table-striped" width="90%">
                    <thead class="k-grid-header k-grid-header-wrap">
                        <tr>
                            <th ng-if="$data!='' && $data!=null">
                                <a href="" class="k-link"></a>
                                <input type="checkbox" id="checkall" ng-click="CheckAll($event,$data)" ng-model="valueofcheckall" />
                            </th>
                            <th ng-repeat="column in columnsForprodconfig" class="k-header small-capsGrid" style="min-width: 69px;">

                            </th>
                        </tr>
                    </thead>
                    <tbody class="k-grid-content">
                        <tr ng-repeat="Data in $data| orderBy:orderField" show-filter="true" class="table table-condensed table-bordered table-striped" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
                            <td><input type="checkbox" id="check" ng-click="selectedId(Data.PRODUCT_ID,$event,Data.FAMILY_ID)" ng-model="valueofcheckbox" /></td>
                            <td ng-repeat="column in columnsForprodconfig" style="text-align: left;">
                                <a ng-if="column.title!==''" ng-class="{'cg-normal': column.EditEnabled == false}" style="text-align: left;width: 100px">
                                    {{Data[column.field]}}

                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>-->

                <table ng-table="tblReferenceTable" show-filter="true" style="max-width: 100%;" class="k-grid k-widget" width="100%">
                    <thead class="k-grid-header k-grid-header-wrap">
                        <tr>
                            <th ng-repeat="column in columnsForReferenceTable" class=" k-header" style="min-width: 69px;">
                                <a href="" class="k-link">{{column.title}} </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="k-grid-content">
                        <tr ng-repeat="Data in referenceTableData">
                            <td ng-repeat="column in columnsForReferenceTable">
                                <a ng-if="column.title!==''" ng-class="{'cg-normal': column.EditEnabled == false}" style="text-align: left;width: 100px">
                                    {{Data[column.field]}}

                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <br />
    </form>

</div>
