﻿<style>
    .heightsample {
        height: 600px !important;
    }

    .k-window-titlebar.k-header {
        /*background: #275CAB !important;*/ /*set background to the titlebar*/
        /*color: white;*/ /*set color to the titlebar*/
        font-weight: bold !important; /*set font-weight to the titlebar*/
        /*text-transform: uppercase;*/
        text-transform: capitalize;
        text-rendering: geometricPrecision;
        letter-spacing: 0.065em;
    }

    /*div.k-window-content {
        border: 1px solid #275CAB;
    }*/
</style>

<form name="myForm" ng-controller="ProductnewattributeController" ng-cloak>
    <div style="width:100%" id="popupwindow">
        <table width="100%" class="table table-condensed table-bordered table-striped" style="margin-bottom: 20px;">
            <tr>
                <td width="350px">Attribute Type  </td>

                <td width="120px">
                    <select demo-display="field" id="attributetype1" kendo-drop-down-list k-options="attributeproducttypedatasource"
                            data-ng-model="Attribute.ATTRIBUTE_TYPE" k-data-value-field="'attributetype'" k-data-text-field="'attributetypename'" style="width: 165px"></select>
                </td>
                <td width="350px">Attribute Name </td>
                <td width="200px">
                    <input type="text" id="txt_attr_name1" class="k-input k-textbox"  ng-keyup="EnableDisable()" name="attributename" style="width: 165px !important" ng-model="Attribute.ATTRIBUTE_NAME">
                </td>
            </tr>
            <tr>
                <td>Data Type  </td>

                <td>
                    <div id="Datatypeddl1">
                        <select demo-display="field" id="attributedatatype1" kendo-drop-down-list k-options="attributedatetypedatasource"
                                data-ng-model="Attribute.ATTRIBUTE_DATATYPE" k-data-value-field="'attributedatatype'" k-data-text-field="'attributedatatypename'" style="width: 165px"></select>
                    </div>
                    <div id="Datatypetxt1" style="display: none">
                        <input type="text" id="datatxt11" value="" readonly class="k-input k-textbox" style="width: 165px !important" />
                    </div>
                </td>
                <td>Caption </td>
                <td>
                    <input type="text" id="txt_caption" class="k-input k-textbox" name="caption" style="width: 165px !important" ng-model="Attribute.CAPTION">
                </td>
            </tr>
            <tr>
                <td>Data Format  </td>

                <td>
                    <div id="Dataformatddl1">
                        <div id="attributedatainteger1">
                            <select demo-display="field" kendo-drop-down-list k-options="attributedateintegerformatdatasource" data-ng-model="Attribute.ATTRIBUTE_DATAFORMAT" k-data-value-field="'attributedataformat'" k-data-text-field="'attributedataformatname'" style="width: 165px"></select>
                        </div>
                        <div id="attributedatatext1">
                            <select demo-display="field" kendo-drop-down-list k-options="attributedateformattextdatasource" data-ng-model="Attribute.ATTRIBUTE_DATAFORMAT" k-data-value-field="'attributedataformat'" k-data-text-field="'attributedataformatname'" style="width: 165px"></select>
                        </div>
                        <div id="attributedatadate1">
                            <select demo-display="field" kendo-drop-down-list k-options="attributedateformatdatedatasource" data-ng-model="Attribute.ATTRIBUTE_DATAFORMAT" k-data-value-field="'attributedataformat'" k-data-text-field="'attributedataformatname'" style="width: 165px"></select>
                        </div>
                        <div id="attributedatahyperlink1">
                            <select demo-display="field" kendo-drop-down-list k-options="attributedateformathyperlinkdatasource" data-ng-model="Attribute.ATTRIBUTE_DATAFORMAT" k-data-value-field="'attributedataformat'" k-data-text-field="'attributedataformatname'" style="width: 165px"></select>
                        </div>
                    </div>
                    <div id="Dataformattxt1" style=" display: none">
                        <input type="text"  class="k-input k-textbox" id="datatxt1" value="" style="width: 165px !important" readonly />
                    </div>
                </td>
                <td id="txtsize1">Size </td>
                <td id="size1">
                    <div id="attributedataintegersize1">
                        <input type="text" class="k-input k-textbox" id="txt_size1" style="width:110px !important;" name="stylename" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46' ng-model="Attribute.ATTRIBUTE_SIZE">
                        <select demo-display="field" kendo-drop-down-list k-options="size" style="width:50px;" data-ng-model="Attribute.ATTRIBUTE_DECIMAL" k-data-value-field="'Decimal'" k-data-text-field="'Decimal'" id="intdata1"></select>
                    </div>
                    <div id="attributedatasize1">
                        <table>
                            <tr>
                                <td class="padding-left-0">
                                    <input type="text" id="txt_attributedatasize1" class="k-input k-textbox" style="width: 165px !important" name="stylename" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46' ng-model="Attribute.ATTRIBUTE_SIZE">
                                </td>
                            </tr>
                            <tr>
                                <td class="padding-left-0">
                                    (Leave blank for unlimited size)
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="attributedataemptysize1">-</div>
                    
                    

                </td>
            </tr>
            <tr>
                <td>Style Name </td>
                <td>
                    <input type="text" id="txt_stylename1" class="k-input k-textbox" name="stylename" style="width: 165px !important" ng-model="Attribute.STYLE_NAME">
                </td>

            </tr>

            <tr id="attrdatarule1">
                <td colspan="4" style="background-color:lightblue"><b>Attribute Data Rule :</b> </td>
            </tr>
            <tr id="applyto1">
                <td colspan="1">Apply To </td>

                <td colspan="3">
                    <input id="attrapplytoallnew1" name="applyto" type="radio" ng-model="Attribute.ApplyTo" value="All" />
                    All Rows
                    <input id="attrapplytofirstnew1" name="applyto" type="radio" ng-model="Attribute.ApplyTo" value="First" />
                    First Row
                </td>
            </tr>
            <tr id="prefixsuffix1">
                <td>Prefix  </td>

                <td>
                    <input type="text" id="prefixnew1"  class="k-input k-textbox" ng-model="Attribute.Prefix" style="width: 165px !important">
                </td>
                <td>Suffix  </td>

                <td>
                    <input type="text" id="suffixnew1"  class="k-input k-textbox" ng-model="Attribute.Suffix" style="width: 165px !important">
                </td>
            </tr>

            <tr id="condition1">
                <td>Condition  </td>

                <td>
                    <select demo-display="field" kendo-drop-down-list data-ng-model="Attribute.Condition" style="width: 165px">
                        <option></option>
                        <option>Empty</option>
                        <option>Null</option>
                        <option>0.00</option>
                        <option>0</option>
                    </select>

                </td>
                <td>Custom Text  </td>

                <td>
                    <input type="text" id="customvaluenew1"  class="k-input k-textbox" ng-model="Attribute.CustomValue" style="width: 165px !important">
                </td>
            </tr>

            <tr id="applycustomtext1">
                <td colspan="4">
                    <input type="checkbox" ng-model="Attribute.ApplyForNumericOnly">Apply custom text for numeric type
                </td>
            </tr>

            <tr>
                <td colspan="4">
                    Select Publish Options  &nbsp;&nbsp;

                    <input type="checkbox" ng-model="Attribute.PUBLISH2WEB">&nbsp;&nbsp;Web&nbsp;&nbsp;
                    <input type="checkbox" ng-model="Attribute.PUBLISH2PRINT">&nbsp;&nbsp;Print&nbsp;&nbsp;
                    <input type="checkbox" ng-model="Attribute.PUBLISH2PDF">&nbsp;&nbsp;PDF&nbsp;&nbsp;
                    <!--<input type="checkbox" ng-model="Attribute.PUBLISH2EXPORT">&nbsp;&nbsp;Export&nbsp;&nbsp;
                    <input type="checkbox" ng-model="Attribute.PUBLISH2PORTAL">&nbsp;&nbsp;Portal-->
                </td>
            </tr>

        </table>

        <div class="col-sm-12 aligncenter table-condensed" style="text-align: center;">
            <div>
                <button class="btn btn-primary btn-xs" type="button" ng-disabled="IsDisabled" ng-click="NewAttrSave(Attribute)">
                    Save
                </button>
                    <button class="btn btn-primary btn-xs" type="button" ng-click="CancelProductAttribute()" >
                        Cancel
                    </button>
            </div>
        </div>


    </div>
</form>