﻿<style>
    .heightsample {
        height: 600px !important;
    }

    .k-window-titlebar.k-header {
        /*background: #275CAB !important;*/ /*set background to the titlebar*/
        /*color: white;*/ /*set color to the titlebar*/
        font-weight: bold !important; /*set font-weight to the titlebar*/
        /*text-transform: uppercase;*/
        text-transform: capitalize;
        text-rendering: geometricPrecision;
        letter-spacing: 0.065em;
    }
</style>


<div style="width:100%" id="popupwindow">
    <table width="100%" class="table table-condensed table-bordered table-striped" style="margin-bottom: 20px;">
        <tr>
            <td width="350px">Attribute Type  </td>

            <td width="120px">
                <!--<select demo-display="field" id="attributetype1" kendo-drop-down-list k-options="attributeproducttypedatasource"
                        data-ng-model="Attribute.ATTRIBUTE_TYPE" k-data-value-field="'attributetype'" k-data-text-field="'attributetypename'" style="width: 165px"></select>-->
                <select kendo-drop-down-list class="selectcss" id="Add_Attribute_Type" ng-model="ImgAttribute.AttributeType">
                    <option value="3">Item Image / Attachment</option>
                </select>
            </td>
            <td width="350px">Attribute Name </td>
            <td width="200px">
                <input type="text" id="add_attr_name" class="k-input k-textbox" name="attributename" style="width: 165px !important" ng-model="ImgAttribute.ATTRIBUTE_NAME">
            </td>
        </tr>
        <tr>
            <td>Data Type  </td>
            <td>
                <div id="Datatypetxt1">
                    <input type="text" id="datatxt11" value="Text" readonly class="k-input k-textbox" style="width: 165px !important" />
                </div>
            </td>
            <td>Style Name </td>
            <td>
                <input type="text" id="txt_stylename1" class="k-input k-textbox" name="stylename" style="width: 165px !important" ng-model="ImgAttribute.STYLE_NAME">
            </td>
        </tr>
        <tr>
            <td>Data Format  </td>
            <td>
                <div id="Dataformattxt1">
                    <input type="text" class="k-input k-textbox" id="datatxt1" value="All Characters" style="width: 165px !important" readonly />
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="4">
                Select Publish Options  &nbsp;&nbsp;
                <input type="checkbox" ng-init="checked=true" ng-model="ImgAttribute.PUBLISH2WEB">&nbsp;&nbsp;Web&nbsp;&nbsp;
                <input type="checkbox" ng-init="checked=true" ng-model="ImgAttribute.PUBLISH2PRINT">&nbsp;&nbsp;Print&nbsp;&nbsp;
                <input type="checkbox" ng-init="checked=true" ng-model="ImgAttribute.PUBLISH2PDF">&nbsp;&nbsp;PDF&nbsp;&nbsp;
                <!--<input type="checkbox" ng-init="checked=true" ng-model="ImgAttribute.PUBLISH2EXPORT">&nbsp;&nbsp;Export&nbsp;&nbsp;
                <input type="checkbox" ng-init="checked=true" ng-model="ImgAttribute.PUBLISH2PORTAL">&nbsp;&nbsp;Portal-->
            </td>
        </tr>

    </table>

    <div class="col-sm-12 aligncenter table-condensed" style="text-align: center;">
        <div>
            <button class="btn btn-primary btn-xs" type="button" ng-click="ProdImgAttrSave(ImgAttribute)">
                Save
            </button>
            <button class="btn btn-primary btn-xs" type="button" ng-click="CancelProdAttribute()">
                Cancel
            </button>
        </div>
    </div>


</div>
