﻿

<!--<div style="width:100%" id="window">-->
<div ng-controller="familytabledesignerController" ng-cloak>
    <div id="deletelayout">
        <form name="myformDeleteLayout">
           <div>
                                    <div class="col-sm-12" style="height:40px">
                                        <div class="col-sm-4 padding-0 margintop bold">
                                            Structure Name
                                        </div>
                                        <div class="col-sm-6 padding-0">
                                            <select kendo-drop-down-list
                                                    k-option-label="'--- Select Structure Name ---'"
                                                    k-data-text-field="'STRUCTURE_NAME'"
                                                    k-data-value-field="'STRUCTURE_NAME'"
                                                    k-data-source="StructureNameDataSource"
                                                    k-on-change="StructureNameChange(kendoEvent)"
                                                    style="width:200px"></select>
                                            <br />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-sm-12 padding-0" align="center">
                                            <br />
                                            <button class="btn btn-primary btn-xs" type="button" ng-click='DefaultStructure()' title="{{setDefaultFamilyTableLayout}}">
                                                OK
                                            </button>
                                            <button class="btn btn-primary btn-xs" type="button" ng-click='setCancelStructure()' title="{{cancelFamilyTableLayout}}">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                          <td style="padding-left:9px;">
                        <br />

                    </td>
       </form>
    </div>
</div>
<!--</div>-->
