﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>
        <h4><img class="img-initial margin-left-5" src="../Design/info.png" alt="Questudio" style="width:50px;height:50px;"> SKU Alert</h4>
    </div>
    <br />
    <div style="padding-left:50px;" ng-show="!DisplaySkuProductCountInAlert">
        You have reached the <b> {{SKUAlertPercentageCalculated}}%  </b> of your SKU limit.
    </div>
    <div style="padding-left:50px;" ng-show="DisplaySkuProductCountInAlert" ng-if="ProductCount < ProductSKUCount">
        You have reached the <b> {{SKUAlertPercentageCalculated}}%    ({{ProductCount}} </b> out of <b> {{ProductSKUCount}})</b>  of your SKU limit.
    </div>

    <div style="padding-left:50px;" ng-show="DisplaySkuProductCountInAlert" ng-if="ProductCount >= ProductSKUCount">
        You have reached your maximum SKU limit.  
    </div>
</body>
</html>
