﻿
<style>
    .top-buffer {
        margin-top: 20px;
    }

    .k-window-titlebar.k-header {
        background: #275CAB !important; /*set background to the titlebar*/
        color: white; /*set color to the titlebar*/
        font-weight: bold !important; /*set font-weight to the titlebar*/
        /*text-transform: uppercase;*/
        text-transform: capitalize;
        text-rendering: geometricPrecision;
        letter-spacing: 0.065em;
    }

    div.k-window-content {
        border: 1px solid #275CAB;
    }
    
</style>
<div style="width:95%" id="window">
    <form name="edit_myForm">
       
            <br />
            <br />
            <!--<textarea kendo-editor ng-model="html"></textarea>-->
            <textarea ckedit="body"></textarea>
       
</form>
</div>
