﻿<base href="http://demos.telerik.com/kendo-ui/treeview/events">
<div style="width:100%" id="window">
    <script type="text/javascript">
        function isValid(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode == 32) {
                alert("Please enter valid Text");
                return false;
            }
            return true;
        }


    </script>
    <style>
        .k-treeview .k-item {
            display: inherit !important;
        }
    </style>
    <form ng-controller="familytabledesignerController" ng-cloak>
        <table align="left" border="0" style="width:30%; height:500px;">
            <tr style="height:50px">
                <td>
                Structure Name &nbsp;&nbsp; <select kendo-drop-down-list
        k-option-label="'--- Select Structure Name ---'"
        k-data-text-field="'STRUCTURE_NAME'"
        k-data-value-field="'STRUCTURE_NAME'"
        k-data-source="StructureNameDataSource"
        k-on-change="StructureNameChange(kendoEvent)"
        ng-model="StructureName"
        style="width:200px"></select>
                    <!--ng-model="StructureName"-->
                </td>
                <td></td>
            </tr>
            <tr>
                <td valign="top" rowspan="2">
                    Available Attributes 
                    <div id="treeviewallAttributeList" style="height:532px;width:400px;border: 1px solid #ccc;border-radius: 4px; text-align:left; ">
                    </div>
                </td>
                <td>&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;</td>
                <td valign="top" width="50%">

                    Left Row Attributes 

                    <div id="leftreeview" style="height:250px;width:375px;border: 1px solid #ccc;border-radius: 4px; text-align:left;">
                        <div kendo-tree-view="tree" k-data-source="leftTreeNewDataSource" id="leftTreeViewKendo" k-load-on-demand="false" k-on-drop="onDropLeft(kendoEvent)" data-drag-and-drop="true" k-on-change="selectedItem = dataItem" style="height:240px;width:360px">
                            <span k-template style="color: {{dataItem.COLOR}}">
                                <input type="checkbox" ng-true-value="'Checked'" ng-false-value="'Unchecked'" class='k-item' id="{{dataItem.id}}" ng-model="dataItem.Merge" ng-change="onLeftCheck(dataItem)" ng-dblclick='clickSelectedItem(dataItem)' ng-right-click="ContextMenu($event,dataItem)" />&nbsp; {{dataItem.ATTRIBUTE_NAME}}
                            </span>
                        </div>
                    </div>
                    <style>
                        #treeview-left,
                        #treeview-right {
                            overflow: visible;
                        }
                    </style>
                    <br />

                    Right Row Attributes 
                    <!--<div id="treeviewrightAttributes" style="height:250px;width:375px;border: 1px solid #ccc;border-radius: 4px; text-align:left;"></div>-->
                    <div id="righttreeview" style="height:250px;width:375px;border: 1px solid #ccc;border-radius: 4px; text-align:left; ">
                        <div kendo-tree-view="tree" k-data-source="rightTreeNewDataSource" id="rightNavTreeViewKendo" k-load-on-demand="false" k-on-drop="onDropRight(kendoEvent)" k-on-change="selectedItem = dataItem" data-drag-and-drop="true" style="height:240px;width:360px  ">
                            <span k-template style="color:{{dataItem.COLOR}}">
                                <input type="checkbox" ng-true-value="'Checked'" ng-false-value="'Unchecked'" class='k-item' id="{{dataItem.id}}" ng-model="dataItem.Merge" ng-change="onLeftCheck(dataItem)" ng-dblclick='clickSelectedItem(dataItem)' ng-right-click="ContextMenu($event,dataItem)" />&nbsp; {{dataItem.ATTRIBUTE_NAME}}
                            </span>
                        </div>
                    </div>
                </td>
                <td>&nbsp;&nbsp;</td>
                <td valign="top" width="50%">
                    Column Attributes 
                    <!--<div id="treeviewcolumnAttributes" style="height:250px;width:375px;border: 1px solid #ccc;border-radius: 4px; text-align:left;"></div>-->
                    <div id="columntreeview" style="height:250px;width:375px;border: 1px solid #ccc;border-radius: 4px; text-align:left;">
                        <div kendo-tree-view="tree" k-data-source="columnTreeNewDataSource" id="columnNavTreeViewKendo" k-on-drop="onDropColumn(kendoEvent)" k-load-on-demand="false" k-on-change="selectedItem = dataItem" data-drag-and-drop="true" style="height:240px;width:360px  ">
                            <span k-template style="color:{{dataItem.COLOR}}">
                                <input type="checkbox" class='k-item' id="{{dataItem.id}}" ng-true-value="'Checked'" ng-false-value="'Unchecked'" ng-model="dataItem.Merge" ng-change="onLeftCheck(dataItem)" ng-dblclick='clickSelectedItem(dataItem)' ng-right-click="ContextMenu($event,dataItem)" />&nbsp; {{dataItem.ATTRIBUTE_NAME}}
                            </span>
                        </div>
                    </div>
                    <br />
                    Summary Attributes 
                    <!--<div id="treeviewSummaryAttributes" style="height:250px;width:375px;border: 1px solid #ccc;border-radius: 4px; text-align:left;"></div>-->
                    <div id="summarytreeview" style="height:250px;width:375px;border: 1px solid #ccc;border-radius: 4px; text-align:left;">
                        <div kendo-tree-view="tree" k-data-source="summaryTreeNewDataSource" id="summaryNavTreeViewKendo" k-on-drop="onDropSummary(kendoEvent)" k-load-on-demand="false" k-on-change="selectedItem = dataItem" data-drag-and-drop="true" style="height:240px;width:360px">
                            <span k-template style="color:{{dataItem.COLOR}}">
                                <input type="checkbox" class='k-item' id="{{dataItem.id}}" ng-true-value="'Checked'" ng-false-value="'Unchecked'" ng-model="dataItem.Merge" ng-change="onLeftCheck(dataItem)" ng-dblclick='clickSelectedItem(dataItem)' ng-right-click="ContextMenu($event,dataItem)" />&nbsp; {{dataItem.ATTRIBUTE_NAME}}
                            </span>
                        </div>
                    </div>

                </td>
            </tr>
        </table>
        <br />
        <table>
            <tr>
                <td>
                    <br />
                    <div style="width:400px; height:195px;position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">

                        <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 10px;">
                            <tbody>
                                <tr style="height:50px;"><td style="align-content:center;  " colspan="2"> Add New Super Column</td></tr>
                                <tr>
                                    <td>
                                        Super Column Name
                                    </td>
                                    <td>
                                        <input type="text" value="" id="txtSuperColumn" class="chkoption" ng-click='check()'>
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center">
                                        <br />
                                        <button class="btn btn-primary btn-xs" type="button" ng-click="addSuperColumn()">
                                            Add Super Column
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td style="padding-left:9px;">
                    <br />
                    <div id="divAdvancedOptions" style="width:760px;position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                        Advanced Options :
                        <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 10px;">
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="chkDisplayRowHeader" ng-model="DispalyRowHeaderCheckEditor.value1" ng-true-value="true" ng-false-value="false">

                                    </td>
                                    <td>
                                        Display Row Header
                                    </td>

                                    <td>
                                        Table Group Header
                                    </td>
                                    <td>
                                      
                                        <select kendo-drop-down-list
                                                k-option-label="'[none]'"
                                                k-data-text-field="'ATTRIBUTE_NAME'"
                                                k-data-value-field="'ATTRIBUTE_ID'"
                                                k-data-source="tableGroupHeaderDataSource"
                                                k-on-change="tableGroupHeaderChange(kendoEvent)"
                                                ng-model="tableDesignerFields.ComboGroupByColumn"
                                                style="width: 165px"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="chkDispalySummaryHeader" ng-model="DispalySummaryHeaderCheckEditor.value1" ng-true-value="true" ng-false-value="false">
                                    </td>
                                    <td>
                                        Display Summary Header
                                    </td>

                                    <td>
                                        Group Summary Attribute
                                    </td>
                                    <td>
                                       
                                        <select kendo-drop-down-list
                                                k-option-label="'[none]'"
                                                k-data-text-field="'ATTRIBUTE_NAME'"
                                                k-data-value-field="'ATTRIBUTE_ID'"
                                                k-data-source="tableGroupSummaryDataSource"
                                                k-on-change="tableGroupSummaryChange(kendoEvent)"
                                                ng-model="tableDesignerFields.ComboSummaryGroup"
                                                style="width: 165px"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="chkDisplayColumnHeader" ng-model="DisplayColumnHeaderCheckBox.value1" ng-true-value="true" ng-false-value="false">
                                    </td>
                                    <td>
                                        Display Column Header
                                    </td>
                                    <td>
                                        Empty Cell Placeholder
                                    </td>
                                    <td>
                                        <input type="text" id="EmptyCellTextBoxCATEGORY_ID" ng-model="tableDesignerFields.EmptyCellTextBox">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="chkVerticalTable_ChkBox" ng-model="VerticalTable_ChkBox.value1" ng-true-value="true" ng-false-value="false">
                                    </td>
                                    <td>
                                        Transpose Table Output
                                    </td>
                                    <td>
                                        Pivot Header
                                    </td>
                                    <td>
                                        <input type="text" id="PivotHeaderTextBox" ng-model="tableDesignerFields.PivotHeaderTextBox">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
       
        <div style="color: red">*Unpublished atttributes appear in red color</div>
        <div style="margin-left: 45%; margin-bottom: 10px">
            <button type="button" class="btn btn-primary btn-xs" id="btnShowTablePreview" name="btnShowTablePreview" ng-click="showTablePreview()">Preview</button>
            <button type="button" class="btn btn-primary btn-xs" id="btnShowTableSave" name="btnSaveOptions" ng-click="showTableSave()">Save</button>
        </div>
    </form>
</div>
