﻿
<link href="~/Design/css/ng-table.css" rel="stylesheet" />
<script src="~/Views/UserAdmin/UserRoleImportController.js"></script>
<script src="~/Scripts/kendo.all.min.js"></script>
<style>
    div#importCompleteness {
        background: rgba(51, 153, 51, 0.39);
        border: 1px solid #339933;
        border-radius: 0px;
        margin-bottom: 5px;
    }

    .k-progressbar > .k-reset {
        left: 0px;
        border-radius: 0px;
    }

    .k-state-selected {
        color: #fff;
        background-color: #339934 !important;
        border-color: #339934 !important;
    }



    .k-progressbar-horizontal .k-item {
        /*border-width: 1px 0 0px 0px !important;*/
        border-radius: 0px !important;
        border-width: 1px 1px 1px 0px !important;
        border-color: transparent !important;
    }

    .k-progressbar-horizontal .k-last, .k-rtl .k-progressbar-horizontal .k-first {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .selectbulkfile {
        padding-bottom: 15px;
    }

    .k-tabstrip > .k-content {
        margin: 0 .286em .3em !important;
    }

    .exportlnk {
        cursor: pointer;
        text-decoration: underline;
        color: green;
        float: right;
        margin: 5px;
    }

    div#tabstripsub-1 {
        border-color: white;
    }

    ul#tabselectsub {
        display: none;
    }

    hr {
        margin-top: 0px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid lightblue !important;
    }

    #ImportProcess {
        text-decoration: none;
        list-style-type: none;
    }

        #ImportProcess > li {
            float: left;
            border: solid;
            border-color: #4b9f46;
        }

    .listFirst {
        border: none;
        width: 15%;
    }

    .leftBox {
        width: 100%;
        height: 50px;
        background-color: #091f3f;
        text-align: center;
    }

    .leftBoxactive {
        width: 100%;
        height: 50px;
        background-color: #4b9f46;
        text-align: center;
    }

    .leftBox > p {
        color: white;
        font-size: 15px;
        text-align: center;
        padding-top: 15px;
    }

    .leftBoxactive > p {
        color: white;
        font-size: 15px;
        text-align: center;
        padding-top: 15px;
    }

    #leftMenu {
        list-style-type: none;
        width: 100%;
    }

        #leftMenu > li {
            padding: 15px 15px 15px 15px;
            background-color: #091f3f;
            height: 20px;
            border: thin;
            border-color: #091f3f;
            color: white;
            /*width: 170px;*/
        }

    .leftMenuactive {
        padding: 15px 15px 15px 15px !important;
        background-color: #4b9f46 !important;
        height: 20px !important;
        border: thin !important;
        border-color: #4b9f46 !important;
        color: white !important;
    }

    .tablescroll {
        display: -webkit-box;
        height: 240px;
        overflow: auto;
        width: 68%;
    }

    .k-list-filter > .k-icon {
        position: absolute;
        right: 6px !important;
        top: 50%;
        -webkit-transform: translateY(-50%) !important;
    }

    .displayfilename {
        word-break: break-all;
        display: block;
        width: 100%;
    }

    file-upload.btn.btn-primary {
        background: #fff;
        color: #000;
        width: 25%;
        border: 2px dotted #f1f1f1 !important;
        height: 35px;
        margin-bottom: 10px;
        margin-top: 0px;
    }

    .tablescroll1 {
        display: -webkit-inline-box;
        height: 240px;
        overflow: auto;
        width: auto;
        margin-left: 15%;
        background: #fff !important;
    }

    ul#ImportProcess > li > #leftMenu {
        list-style-type: none;
        width: 100%;
        background: #081f40;
        height: 471px;
        padding-left: 0px;
    }

    .fixed-header {
        position: absolute;
        width: 971px;
        top: 130px;
        z-index: 1;
    }

    .float-left {
        float: left;
    }

    #myProgress {
        width: 100%;
        background-color: grey;
    }

    #myBar {
        width: 1%;
        height: 30px;
        background-color: green;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 999999; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }


    .grayout {
        opacity: 0.6; /* Real browsers */
        filter: alpha(opacity = 60); /* MSIE */
    }

    .unselect {
        width: 200px;
        border: 1px solid red;
    }

    .select {
        width: 200px;
    }

    .selectattrList {
        width: 300px;
    }

    .unselectattrList {
        width: 300px;
        border: 1px solid red;
    }

    #leftMenu > li.batchlogmenu:hover {
        background: #4b9f46;
    }

    input#txtDataTime {
        width: 97% !important;
    }

    .k-datetimepicker {
        padding: 0px;
        width: 96% !important;
    }

    .cus {
        font-size: 11px !important;
        color: black !important;
        background-color: #a3d0e4 !important;
    }
</style>

<script>
    $(document).ready(function () {
        $("#tabstripbulk").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });
    });
</script>

<div ng-show="Importdiv" ng-controller="UserRoleImportController" ng-cloak>


    <!-- Modal -->
    <div id="myModal" class="modal" style="padding-top:20%">
        <!-- Modal content -->
        <div class="modal-content">
            <h4 style="margin-top: 0px;"><span ng-if="importCompletedStatus">Importing Content .... </span><span id="completed">10%</span></h4>
            <div id="importCompleteness" style="width:100%"></div>
            <div style="text-align: center">
                <button type="button" ng-if="showOkButton" class="btn btn-primary btn-xs margin-top-10" ng-click="closePopup()">Ok</button>
            </div>
            @*<div id="myProgress">
                    <div id="myBar" style="text-align: -webkit-center;padding-top: 6px;font-weight: bolder;color: antiquewhite;"></div>
                </div>*@
        </div>
    </div>



    <div kendo-window="winBatchLog" id="batchLog" k-resizable="true" k-draggable="false" k-title="'View Jobs'" k-width="1320" k-height="420" k-visible="false"
         k-actions='["Close"]'
         k-modal="true" k-on-open="winBatchLogVisible = true" k-on-close="onClose(kendoEvent)">

        <div kendo-window="winBatchLogvalue" id="batchLogvalue" k-resizable="true" k-draggable="false" k-title="'Batch Log Value'" k-width="600" k-height="420" k-visible="false"
             k-actions='["Close"]'
             k-modal="true" k-on-open="winBatchLogVisible = true" k-on-close="onClose(kendoEvent)">
        </div>
    </div>




    <div id="tabstripbulk">
        <ul id="tabselectbulk" style="display:none">
            <li id="att_assbulk" class="k-state-active">
            </li>
        </ul>

        <div style="padding: 15px 15px;overflow: hidden;">
            <ul id="ImportProcess" class="col-lg-12 padding-0">
                <li style="float:left;width: 12.5%; border:none" class="col-sm-2 padding-0">
                    <ul id="leftMenu">
                        <li ng-disabled="choosefileimp" id="choosefileimp" class="leftMenuactive">Setup Import </li>
                        <li ng-disabled="impvalidation" id="impvalidation"> Validate Content</li>
                        <li ng-disabled="import" id="import"> Import Content </li>
                        <li ng-disabled="logim" id="logim">View Log</li>
                        <li ng-disabled="true" ng-show="false" id="imptamp">Template</li>
                    </ul>
                </li>
                <li class="mappingattribute col-sm-10 padding-0" style="width:87%;height: 465px;">
                    <div ng-show="templateDetails">
                        <div ng-show="templateFirst">
                            <div class="import-header titleblue" style="margin: 0px;border-radius: 0px;">
                                <div id="importHeading" class="center" style="padding-top:5px;padding-bottom: 5px;">
                                    <b>Setup Import</b>

                                </div>
                            </div>
                            <hr>
                            <form novalidate name="templateDetailsForm" ng-submit="SaveFile(templateDetailsForm)">
                                <div class="main-navigation navbar-collapse1" id="templateDetails" style="width:100%;position: inherit;border-radius: 4px;">
                                    <div class="form-horizontal" style="-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px;">
                                        <div style="background-color: white;">
                                            <div class="searchrow1 col-sm-12" style="height: 363px;">

                                                <div class="form-group margin-bottom-30" ng-show="hideImportType">
                                                    <div class="col-sm-2 padding-0 textalignright margintop bold">
                                                        Import Type
                                                    </div>

                                                    <div class="col-sm-3">
                                                        <select kendo-drop-down-list
                                                                k-on-change="Importchangeevent(kendoEvent)"
                                                                ng-model="importtype"
                                                                ng-disabled="hideImportType"
                                                                style="width:165px;margin-left: 5px;">
                                                            <option>User</option>
                                                            <option>Role</option>
                                                        </select>


                                                    </div>
                                                </div>

                                                <div class="form-group margin-bottom-30">
                                                    <div class="col-sm-11 center padding-bottom-5 padding-0">
                                                        <span class="displayfilename" ng-if="!sampleEnable">{{SelectedFileForUploadnamemain}}</span>
                                                        <span class="displayfilename" ng-if="sampleEnable"><a class="k-link" href="{{sampleSheetDownload}}" style="text-decoration:underline">{{SelectedFileForUploadnamemainsam}}</a></span>
                                                        <a style="display:none">Import Products by XLS file.</a>
                                                    </div>
                                                    <div class="col-sm-11 textaligncenter padding-right-0" style="text-align:center">
                                                        <div class="col-sm-5 textalignright margin-top-20" style="color:#091f3f;width:38.5%;display:none">
                                                            *Drag and Drop file here.
                                                        </div>


                                                        <div class="file-upload btn btn-primary" style="background: #fff;color: #000;width: 20%;border: 2px solid #d0cfcf !important;height: 55px;padding-bottom: 10px;margin-top: 0px;" ng-show="UserUploadDiv" ng-disabled="hideUserUploadDiv" ng-class="{'diabled-class':assginVale == true}">
                                                            <input style="padding: 0px; height: 73px" type="file" ng-disabled="sampleEnable" class="selectbulkfile uploadbtnstyle" title="Drag & Drop or Select file" name="file" accept=".xls,.xlsx" id="UserFile" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                                            <img style="width: 40%" src="~/Images/drag.png" />
                                                        </div>

                                                        <div class="file-upload btn btn-primary" style="background: #fff;color: #000;width: 20%;border: 2px solid #d0cfcf !important;height: 55px;padding-bottom: 10px;margin-top: 0px;" ng-show="RoleUploadDiv" @*ng-disabled="hideRoleUploadDiv"*@>
                                                            <input style="padding: 0px; height: 73px" type="file" ng-disabled="sampleEnable" class="selectbulkfile uploadbtnstyle" title="Drag & Drop or Select file" name="file" accept=".xls,.xlsx" id="RoleFile1" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                                            <img style="width: 40%" src="~/Images/drag.png" />
                                                        </div>

                                                        <div style="margin-right: 60%;display:none;" class="exportlnk" ng-click='Cancelfile()'>Delete</div>

                                                    </div>
                                                    <div ng-show="false">
                                                        <table ng-table="tblDashImportBoard" show-filter="true" style="background-color: ghostwhite;height:auto" class="table-condensed table-bordered table-striped tablescroll1" align="center">
                                                            <thead class="k-grid-header k-grid-header-wrap">
                                                                <tr>
                                                                    <th class="k-header" style="min-width: 100px; text-align: center">
                                                                        <a>Select For Import  </a>
                                                                    </th>
                                                                    <th class="k-header" style="min-width: 145px; text-align: center">
                                                                        <a> Sheet Name</a>
                                                                    </th>
                                                                    <th class="k-header" style="min-width: 200px; text-align: center">
                                                                        <a> Import Type </a>
                                                                    </th>
                                                                </tr>
                                                            </thead>

                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="form-group margin-bottom-10" id="Userbuttonhide">
                                                    <div class="col-sm-11" style="text-align: center;">

                                                        <button type="submit" class="btn btn-primary btn-xs" style="margin-top: 0px;" title="Back" ng-click="BackImport(importtype)"><i class="fa fa-chevron-left"></i></button>
                                                        <button class="btn btn-primary btn-xs" style="margin-top: 0px;" ng-show="!NextToTemplate" ng-click="ResetPage()" type="button"><i class="fa fa-rotate-right"></i></button>
                                                        <button type="submit" class="btn btn-primary btn-xs" style="margin-top: 0px;" title="Next" ng-click="SaveFile(templateDetails,importtype)"><i class="fa fa-chevron-right"></i></button>


                                                    </div>
                                                </div>
                                                <div class="col-sm-5" ng-if="false">
                                                    <h6><i class="fa fa-cloud-download" aria-hidden="true"></i>&nbsp;Download a sample file to see an example of the format required</h6>
                                                    <div class="col-sm-12">
                                                        <a class="k-link" href="../../Content/Excel/Sample Sheet1.xls">
                                                            @*Click here to download Template*@
                                                            Sample 1
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <a class="k-link" href="../../Content/Excel/Sample Sheet2.xls">
                                                            @*Click here to download Template*@
                                                            Sample 2
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div ng-if="templatesecond">

                            <div class="form-group">
                                <div class="col-sm-10 margin-top-20 margin-bottom-10" align="center">
                                    <table ng-table="tblDashImportBoard" show-filter="true" style="background-color: ghostwhite;" class="table-condensed table-bordered table-striped tablescroll1" align="center">
                                        <thead class="k-grid-header k-grid-header-wrap">
                                            <tr>
                                                <th class="k-header" style="min-width: 100px; text-align: center">
                                                    <a>Select To Import  </a>
                                                </th>
                                                <th class="k-header" style="min-width: 145px; text-align: center">
                                                    <a> Sheet Name</a>
                                                </th>
                                                <th class="k-header" style="min-width: 200px; text-align: center">
                                                    <a> Import Type </a>
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody class="k-grid-content">
                                            <tr ng-repeat="sheet in listAllSheet">
                                                <td><input class="chkbox" type="checkbox" checked value="0" /> </td>
                                                <td>{{sheet}}</td>
                                                <td>
                                                    <select kendo-drop-down-list>
                                                        <option selected>Product</option>
                                                        <option>SubProduct</option>
                                                        <option>Families</option>

                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12" style="text-align: center;">
                                    <button type="submit" class="btn btn-primary btn-xs" style="margin-top: 10px;" @*title="{{bulkImportLoadFile}}" *@ ng-click="btnBackSheet()">Back</button>
                                    <button type="button" class="btn btn-primary btn-xs" style="margin-top: 10px;" ng-click="btnNextSheet()">Next</button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div ng-hide="Attributediv">

                        <div id="importSelectionTable">
                            <table ng-table="tblDashImportBoard" ng-show="attrMappingEnabled" show-filter="true" style="background-color: ghostwhite;width: 987px;padding-top: 27px;overflow-x: hidden;" class="table-condensed table-bordered table-striped tablescroll " width="80%" align="center">
                                <thead class="k-grid-header k-grid-header-wrap fixed-header" style="width:985px">
                                    <tr ng-if="column.title!=='CatalogField' && column.title!=='IsSystemField' && column.title!==''" style="display:block;position:relative;">
                                        <th class="k-header" ng-repeat="column in columnsForImportAtt" ng-if="column.title==='ExcelColumn'" style="min-width: 186px; text-align: left">
                                            <a ng-if="column.title!=='CatalogField' && column.title!=='IsSystemField' && column.title!==''"> Import attribute </a>
                                        </th>
                                        <th class="k-header" ng-repeat="column in columnsForImportAtt" ng-if="column.title==='SelectedToImport'" style="min-width: 100px; text-align: left">
                                            <a ng-if="column.title!=='CatalogField' && column.title!=='IsSystemField' && column.title!==''"> Import</a>
                                        </th>
                                        <th class="k-header" ng-repeat="column in columnsForImportAtt" ng-if="column.title==='FieldType'" style="min-width: 336px; text-align: left">
                                            <a ng-if="column.title!=='CatalogField' && column.title!=='IsSystemField' && column.title!==''">Attribute type</a>
                                        </th>
                                        <th class="k-header" ng-repeat="column in columnsForImportAtt" ng-if="column.title==='FieldType'" style="min-width: 302px; text-align: left">
                                            <a ng-if="column.title!=='CatalogField' && column.title!=='IsSystemField' && column.title!==''"> Map attributes </a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="k-grid-content padding-3" style="padding-top: 166px;">
                                    <tr ng-repeat="Data in prodImportData" ng-class="{'selected':$index == selectedRow}" ng-if="!(Data.IsSystemField=='True' && Data.FieldType=='0' || Data['ExcelColumn'].contains('catalog_item') || Data['ExcelColumn'].contains('ITEM#')|| Data['ExcelColumn'].contains('Westward Part#') || Data['ExcelColumn'].contains('SUBITEM#')|| Data['ExcelColumn'].contains('SUBPRODUCT_ID') || Data['ExcelColumn'].contains('SUBCATALOG_ITEM_NO'))" ng-click="setClickedRow($index,prodImportData)">

                                        <td style="min-width: 191px;text-align: left;" ng-repeat="column in columnsForImportAtt" ng-if="column.title==='ExcelColumn'" ng-class="{'cg-normal': column.EditEnabled == true}">
                                            {{Data[column.field]}}
                                        </td>
                                        <td style="min-width: 106px;text-align: left;" ng-repeat="column in columnsForImportAtt" ng-if="column.title==='SelectedToImport'">
                                            <input type="checkbox" class="chkoption" ng-model="Data[column.field]" ng-disabled="ProcessName=='Import'" ng-trim="false" ng-true-value="'True'" ng-false-value="'False'" ng-click="SelectToImportClick(Data[column.field],this)">
                                        </td>
                                        <td style="min-width: 342px;text-align: left;" ng-repeat="column in columnsForImportAtt" ng-if="column.title==='FieldType'" sortable="column.field">
                                            @*<a ng-if="Data.IsSystemField==='True' && Data.FieldType==='0' || Data['ExcelColumn'].contains('catalog_item')" ng-model=" data[column.field]" style="pointer-events: none; cursor: default; color: #ccc">
                                                    {{"-SYSTEM FIELD-"}}
                                                </a>*@
                                            <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='1'" ng-model="Data[column.field]" style="pointer-events: none; cursor: default; color: #ccc">
                                                {{"Alpha-Numeric [Item Level]"}}
                                            </a>
                                            <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='3'" ng-model="Data[column.field]" style="pointer-events: none; cursor: default; color: #ccc">
                                                {{"Image / Attachment Path [Item Level]"}}
                                            </a>
                                            <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='4'" ng-model="Data[column.field]" style="pointer-events: none; cursor: default; color: #ccc">
                                                {{"Price / Numbers [Item Level]"}}
                                            </a>
                                            <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='6'" ng-model="Data[column.field]" style="pointer-events: none; cursor: default; color: #ccc">
                                                {{"Item Key Alpha-Numeric [Item Level]"}}
                                            </a>
                                            <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='7'" ng-model="Data[column.field]" style="pointer-events: none; cursor: default; color: #ccc">
                                                {{"Alpha-Numeric [Product Level]"}}
                                            </a>
                                            <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='9'" ng-model="Data[column.field]" style="pointer-events: none; cursor: default; color: #ccc">
                                                {{"Image / Attachment Path [Product Level]"}}
                                            </a>
                                            <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='10'" ng-model="Data[column.field]" style="pointer-events: none; cursor: default; color: #ccc">
                                                {{"Date-Time(MM/DD/YYYY) [Item Level]"}}
                                            </a>

                                            <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='11'" ng-model="Data[column.field]" style="pointer-events: none; cursor: default; color: #ccc">
                                                {{"Product-Attribute [Product Level]"}}
                                            </a>
                                            <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='12'" ng-model="Data[column.field]" style="pointer-events: none; cursor: default; color: #ccc">
                                                {{"Product-Price [Product Level]"}}
                                            </a>
                                            <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='13'" ng-model="Data[column.field]" style="pointer-events: none; cursor: default; color: #ccc">
                                                {{"Product-Key [Product Level]"}}
                                            </a>


                                        </td>
                                        <td style="min-width: 302px;text-align: left;" ng-repeat="column in columnsForImportAtt" ng-if="column.title==='ExcelColumn'" ng-class="{'cg-normal': column.EditEnabled == true}">

                                            <div ng-if="Data.FieldType !=0 || Data.IsSystemField==='False' ||Data.FieldType ==''" style="vertical-align: bottom;padding-top: 10px;padding-bottom: 10px;">
                                                <select kendo-drop-down-list ng-if="Data.AttrMapping!=''" ng-disabled="ProcessName=='Import'"
                                                        @*k-option-label="'--- Select Attribute ---'" *@
                                                        k-data-text-field="'ATTRIBUTE_NAME'"
                                                        k-data-value-field="'ATTRIBUTE_NAME'"
                                                        k-data-source="Attrmapping"
                                                        k-autobind="false"
                                                        @*k-filter="'contains'" *@
                                                        ng-model="Data.AttrMapping"
                                                        @*ng-disabled="ProcessName=='Import'" *@
                                                        k-on-change="attrmapping(kendoEvent,Data[column.field])"
                                                        style="width: 200px"></select>
                                                <select kendo-drop-down-list ng-if="Data.AttrMapping=='' && Data.IsSystemField!=''" ng-disabled="ProcessName=='Import'"
                                                        @*k-option-label="'--- Select Attribute ---'" *@
                                                        k-data-text-field="'ATTRIBUTE_NAME'"
                                                        k-data-value-field="'ATTRIBUTE_NAME'"
                                                        k-data-source="Attrmapping"
                                                        k-autobind="false"
                                                        ng-model="Data[column.field]"
                                                        @*k-filter="'contains'" *@
                                                        @*ng-disabled="ProcessName=='Import'" *@
                                                        k-on-change="attrmapping(kendoEvent,Data[column.field])"
                                                        style="width: 200px"></select>

                                                <div ng-if="Data.AttrMapping=='' && Data.IsSystemField===''">
                                                    {{attrMap=true;""}}
                                                    <select kendo-drop-down-list ng-disabled="ProcessName=='Import'" ng-init="newattribute()" class="unselect"
                                                            k-option-label="'--- Select Attribute ---'"
                                                            k-data-text-field="'ATTRIBUTE_NAME'"
                                                            k-data-value-field="'ATTRIBUTE_NAME'"
                                                            k-data-source="Attrmapping"
                                                            k-autobind="false"
                                                            @*ng-model="Data[column.field]" *@
                                                            @*k-filter="'contains'" *@
                                                            @*ng-disabled="ProcessName=='Import'" *@
                                                            k-on-change="attrmapping(kendoEvent,Data[column.field])"></select>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                    <div class="form-group" ng-show="ValidateUserImportDiv">
                        <div id="importHeadingAttr" class="titleblue" style="padding-top:10px;padding-bottom: 10px;margin:0px;border-radius: 0px;text-align: -webkit-center; margin-left:15px;margin-right:15px;">
                            <b> {{ProcessName}} </b>
                        </div>
                        <div class="padding-10" style="margin-left: 13px">
                            <a style="cursor:pointer;text-transform: capitalize; text-decoration:underline" ng-click="sheetdownload()"><p class="float-left" style="float:left;text-decoration:underline">{{displayFileName}}</p></a>&nbsp;<span style="color:#337ab7">>>&nbsp;{{importSelectedvalue}}&nbsp;>>&nbsp;{{importSheetType}}</span>
                        </div>
                        <hr style="margin-left:15px; margin-right:15px;">
                        <div class="col-sm-12 margin-top-5 padding-0" style="text-align: center;">
                            <table ng-table="tblUserDashImportBoard" show-filter="true" style="background-color: ghostwhite;height:auto;margin-left:0px;margin-top:10px;font-size:16px" class="table-condensed table-bordered table-striped tablescroll1" align="center">
                                <thead class="k-grid-header k-grid-header-wrap">
                                    <tr>
                                        <td colspan="2" style="width:200px"><b>Validations</b></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="col-sm-1 padding-right-0 padding-top-5" ng-if="false">
                                                <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="PicklistValidation!=false"></span>
                                                <span class="glyphicon glyphicon-warning-sign" style="color:darkorange" ng-if="PicklistValidation==false"></span>
                                                <input class="chk" ng-if="false" ng-disabled="true" type="checkbox" value="2" ng-model="validated.Picklist" />
                                            </div>
                                            <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                                <span class="float-left">Misssing Values</span>
                                            </div>
                                        </td>
                                        <td ng-if="false">
                                            <span ng-if="PicklistValidation!=false">Ok</span>
                                            <span ng-if="PicklistValidation==false" title="Validation skipped due to preference set as 'false'">Skipped</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-sm-1 padding-right-0  padding-top-5" ng-if="false">
                                                <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="subcatalogItem!=false"></span>
                                                <span class="glyphicon glyphicon-warning-sign" style="color:darkorange" ng-if="subcatalogItem==false"></span>
                                                <input class="chk" ng-if="false" ng-disabled="true" type="checkbox" value="2" ng-model="validated.subcatalog" />
                                            </div>
                                            <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                                <span class="float-left">Missing Columns</span>
                                            </div>
                                        </td>
                                        <td ng-if="false">
                                            <span ng-if="subcatalogItem!=false">Ok</span>
                                            <span ng-if="subcatalogItem==false" title="Validation skipped due to preference set as 'false'">Skipped</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-sm-1 padding-right-0  padding-top-5" ng-if="false">
                                                <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="subcatalogItem!=false"></span>
                                                <span class="glyphicon glyphicon-warning-sign" style="color:darkorange" ng-if="subcatalogItem==false"></span>
                                                <input class="chk" ng-if="false" ng-disabled="true" type="checkbox" value="2" ng-model="validated.subcatalog" />
                                            </div>
                                            <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                                <span class="float-left">Email Validation</span>
                                            </div>
                                        </td>
                                        <td ng-if="false">
                                            <span ng-if="subcatalogItem!=false">Ok</span>
                                            <span ng-if="subcatalogItem==false" title="Validation skipped due to preference set as 'false'">Skipped</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-sm-1 padding-right-0  padding-top-5" ng-if="false">
                                                <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="subcatalogItem!=false"></span>
                                                <span class="glyphicon glyphicon-warning-sign" style="color:darkorange" ng-if="subcatalogItem==false"></span>
                                                <input class="chk" ng-if="false" ng-disabled="true" type="checkbox" value="2" ng-model="validated.subcatalog" />
                                            </div>
                                            <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                                <span class="float-left">Role Name</span>
                                            </div>

                                        </td>
                                        <td ng-if="false">
                                            <span ng-if="subcatalogItem!=false">Ok</span>
                                            <span ng-if="subcatalogItem==false" title="Validation skipped due to preference set as 'false'">Skipped</span>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-sm-1 padding-right-0  padding-top-5" ng-if="false">
                                                <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="subcatalogItem!=false"></span>
                                                <span class="glyphicon glyphicon-warning-sign" style="color:darkorange" ng-if="subcatalogItem==false"></span>
                                                <input class="chk" ng-if="false" ng-disabled="true" type="checkbox" value="2" ng-model="validated.subcatalog" />
                                            </div>


                                            <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                                <span class="float-left">Duplicate Values</span>
                                            </div>

                                        </td>
                                        <td ng-if="false">
                                            <span ng-if="subcatalogItem!=false">Ok</span>
                                            <span ng-if="subcatalogItem==false" title="Validation skipped due to preference set as 'false'">Skipped</span>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="attrMappBtn" class="margin-bottom-20 center">
                            <button class="btn btn-primary btn-xs" type="button" ng-click='ValidateUserback()'>Back</button>
                            <button class="btn btn-primary btn-xs" ng-show="!passvalidationNext" type="button" ng-click='ValidateUserImport()'>Validate</button>


                        </div>
                    </div>

                    @*new role*@
                    <div class="form-group" ng-show="ValidateRoleImportDiv">
                        <div id="importHeadingAttr" class="titleblue" style="padding-top:10px;padding-bottom: 10px;margin:0px;border-radius: 0px;text-align: -webkit-center; margin-left:15px; margin-right:15px;">
                            <b> {{ProcessName}} </b>

                        </div>

                        <div class="padding-10" style="margin-left: 13px;">

                            <a style="cursor:pointer;text-transform: capitalize; text-decoration:underline" ng-click="sheetdownload()"><p class="float-left" style="float:left;text-decoration:underline">{{displayFileName}}</p></a>&nbsp;<span style="color:#337ab7">>>&nbsp;{{importSelectedvalue}}&nbsp;>>&nbsp;Role</span>
                        </div>
                        <hr style="margin-left:15px; margin-right:15px;">
                        <div class="col-sm-12 margin-top-5 padding-0" style="text-align: center;">
                            <table ng-table="tblUserDashImportBoard" show-filter="true" style="background-color: ghostwhite;height:auto;margin-left:0px;margin-top:10px;font-size:16px" class="table-condensed table-bordered table-striped tablescroll1" align="center">
                                <thead class="k-grid-header k-grid-header-wrap">
                                    <tr>

                                        <td colspan="2" style="width:200px"><b>Validations</b></td>

                                    </tr>
                                </thead>
                                <tbody>


                                    <tr>
                                        <td>
                                            <div class="col-sm-1 padding-right-0 padding-top-5" ng-if="false">
                                                <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="PicklistValidation!=false"></span>
                                                <span class="glyphicon glyphicon-warning-sign" style="color:darkorange" ng-if="PicklistValidation==false"></span>
                                                <input class="chk" ng-if="false" ng-disabled="true" type="checkbox" value="2" ng-model="validated.Picklist" />
                                            </div>


                                            <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                                <span class="float-left">Misssing Values</span>

                                            </div>

                                        </td>
                                        <td ng-if="false">
                                            <span ng-if="PicklistValidation!=false">Ok</span>
                                            <span ng-if="PicklistValidation==false" title="Validation skipped due to preference set as 'false'">Skipped</span>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-sm-1 padding-right-0  padding-top-5" ng-if="false">
                                                <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="subcatalogItem!=false"></span>
                                                <span class="glyphicon glyphicon-warning-sign" style="color:darkorange" ng-if="subcatalogItem==false"></span>
                                                <input class="chk" ng-if="false" ng-disabled="true" type="checkbox" value="2" ng-model="validated.subcatalog" />
                                            </div>


                                            <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                                <span class="float-left">Missing Columns</span>
                                            </div>

                                        </td>
                                        <td ng-if="false">
                                            <span ng-if="subcatalogItem!=false">Ok</span>
                                            <span ng-if="subcatalogItem==false" title="Validation skipped due to preference set as 'false'">Skipped</span>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-sm-1 padding-right-0  padding-top-5" ng-if="false">
                                                <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="subcatalogItem!=false"></span>
                                                <span class="glyphicon glyphicon-warning-sign" style="color:darkorange" ng-if="subcatalogItem==false"></span>
                                                <input class="chk" ng-if="false" ng-disabled="true" type="checkbox" value="2" ng-model="validated.subcatalog" />
                                            </div>


                                            <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                                <span class="float-left">Duplicate Values</span>
                                            </div>

                                        </td>
                                        <td ng-if="false">
                                            <span ng-if="subcatalogItem!=false">Ok</span>
                                            <span ng-if="subcatalogItem==false" title="Validation skipped due to preference set as 'false'">Skipped</span>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div id="attrMappBtn" class="margin-bottom-20 center">
                            <button class="btn btn-primary btn-xs" type="button" ng-click='ValidateRoleback()'>Back</button>
                            <button class="btn btn-primary btn-xs" ng-show="!passvalidationNext" type="button" ng-click='ValidateRoleImport()'>Validate</button>


                        </div>
                    </div>
                    @*new role*@




                    @*role import*@

                    <div class="form-group" ng-show="RoleValidateDiv">
                        <div id="importHeadingAttr" class="titleblue" style="padding-top:10px;padding-bottom: 10px;margin:0px;border-radius: 0px;text-align: -webkit-center; margin-left:15px;margin-right:15px;">
                            <b> {{ProcessName}} </b>

                        </div>

                        <div class="padding-10" style="margin-left: 13px">
                            <a style="cursor:pointer;text-transform: capitalize; text-decoration:underline" ng-click="sheetdownload()"><p class="float-left" style="float:left;text-decoration:underline">{{displayFileName}}</p></a>&nbsp;<span style="color:#337ab7">>>&nbsp;{{importSelectedvalue}}&nbsp;>>&nbsp;{{importSheetType}}</span>
                        </div>
                        <hr style="margin-left:15px; margin-right:15px;">
                        <div class="col-sm-12 margin-top-5 padding-0" style="text-align: center;">
                            <table ng-table="tblDashImportBoard" show-filter="true" style="background-color: ghostwhite;height:auto;margin-left:0px;margin-top:10px;font-size:16px" class="table-condensed table-bordered table-striped tablescroll1" align="center">
                                <thead class="k-grid-header k-grid-header-wrap">
                                    <tr>

                                        <td colspan="2" style="width:200px"><b>Validations</b></td>

                                    </tr>
                                </thead>
                                <tbody>


                                    <tr>
                                        <td>
                                            <div class="col-sm-1 padding-right-0 padding-top-5" ng-if="false">
                                                <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="PicklistValidation!=false"></span>
                                                <span class="glyphicon glyphicon-warning-sign" style="color:darkorange" ng-if="PicklistValidation==false"></span>
                                                <input class="chk" ng-if="false" ng-disabled="true" type="checkbox" value="2" ng-model="validated.Picklist" />
                                            </div>

                                            <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                                <span ng-if="PartsKeyValidationerror" class="float-left">PartsKey Attributes</span>
                                                <span ng-if="!PartsKeyValidationerror" class="float-left">Picklist Attributes</span>
                                            </div>

                                        </td>
                                        <td ng-if="false">
                                            <span ng-if="PicklistValidation!=false">Ok</span>
                                            <span ng-if="PicklistValidation==false" title="Validation skipped due to preference set as 'false'">Skipped</span>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-sm-1 padding-right-0  padding-top-5" ng-if="false">
                                                <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="subcatalogItem!=false"></span>
                                                <span class="glyphicon glyphicon-warning-sign" style="color:darkorange" ng-if="subcatalogItem==false"></span>
                                                <input class="chk" ng-if="false" ng-disabled="true" type="checkbox" value="2" ng-model="validated.subcatalog" />
                                            </div>

                                            <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                                <span class="float-left">New Items</span>
                                            </div>

                                        </td>
                                        <td ng-if="false">
                                            <span ng-if="subcatalogItem!=false">Ok</span>
                                            <span ng-if="subcatalogItem==false" title="Validation skipped due to preference set as 'false'">Skipped</span>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-sm-1 padding-right-0  padding-top-5" ng-if="false">
                                                <span class="glyphicon glyphicon-ok" style="color:forestgreen"></span>
                                                <input class="chk" ng-show="false" ng-disabled="true" type="checkbox" value="3" ng-model="validated.dataType" />
                                            </div>
                                            @*
                                                </td>
                                                <td>
                                            *@
                                            <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                                <span class="float-left">Data Types </span>
                                            </div>

                                        </td>
                                        <td ng-if="false">
                                            <span>Ok</span>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-sm-1 padding-right-0  padding-top-5" ng-if="false">
                                                <span class="glyphicon glyphicon-ok" style="color:forestgreen"></span>
                                                <input class="chk" ng-show="false" ng-disabled="true" type="checkbox" value="4" ng-model="validated.subcatalog" />
                                            </div>
                                            @*
                                                </td>
                                                <td>
                                            *@
                                            <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                                <span class="float-left">Duplicate Items</span>
                                            </div>

                                        </td>
                                        <td ng-if="false">
                                            <span>Ok</span>

                                        </td>

                                    </tr>
                                    <tr style="width:150px;">
                                        <td>
                                            <div class="col-sm-1 padding-right-0  padding-top-5" ng-if="false">
                                                <span class="glyphicon glyphicon-ok" style="color:forestgreen"></span>
                                                <input class="chk ng-pristine ng-untouched ng-valid ng-hide" ng-show="false" ng-disabled="true" type="checkbox" value="0" ng-model="validated.Column" disabled="disabled">
                                            </div>
                                            <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                                <span class="float-left">Missing Attributes</span>
                                            </div>


                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="attrMappBtn" class="margin-bottom-20 center">
                            <button class="btn btn-primary btn-xs" type="button" ng-click='RoleValidateback()'>Back</button>
                            <button class="btn btn-primary btn-xs" ng-show="!passvalidationNext" type="button" ng-click='RoleValidateimport()'>Validate</button>
                            @*<button class="btn btn-primary btn-xs" ng-show="nextSheetProcess" type="button" ng-click='btnNextSheetProcess()'>Next Sheet</button>*@

                        </div>
                    </div>


                    @*role import*@
                    <div class="form-group" ng-show="ResultDisplay">

                        <div id="importHeadingAttr" class="titleblue" style="padding-top:10px;margin-bottom: 0px;text-align: -webkit-center; margin-left:15px;margin-right:15px;">
                            <b> {{ProcessName}} </b>

                        </div>

                        <div class="padding-10" style="margin-left: 13px">
                            @*<span class="bold" style="float:left">Selected Worksheet : </span> <p class="float-left" style="float:left" ng-if="SelectedFileForUploadnamemain.length<=20">{{SelectedFileForUploadnamemain}}</p><p class="float-left" style="float:left" ng-if="SelectedFileForUploadnamemain.length>40">{{SelectedFileForUploadnamemain.substring(0,40)}}...{{SelectedFileForUploadnamemain.split('.')[1]}} </p> >> <a style="cursor:pointer" ng-click="sheetdownload()"> {{importSelectedvalue}} </a> >> {{importSheetType}}*@
                            @*<a style="cursor:pointer;text-transform: capitalize;" ng-click="sheetdownload()"><p class="float-left" style="float:left" ng-if="SelectedFileForUploadnamemain.length<=40">{{SelectedFileForUploadnamemain}}</p><p class="float-left" style="float:left" ng-if="SelectedFileForUploadnamemain.length>40">{{SelectedFileForUploadnamemain.substring(0,40)}}...{{SelectedFileForUploadnamemain.split('.')[1]}}</p></a>&nbsp;<span style="color:#337ab7">>>&nbsp;{{importSelectedvalue}}&nbsp;>>&nbsp;{{importSheetType}}</span>*@
                            <a style="cursor:pointer;text-transform: capitalize;text-decoration:underline" ng-click="sheetdownload()"><p class="float-left" style="float:left;text-decoration:underline">{{displayFileName}}</p></a>&nbsp;<span style="color:#337ab7">>>&nbsp;{{importSelectedvalue}}&nbsp;>>&nbsp;{{importSheetType}}</span>

                        </div>
                        <hr style="margin-bottom:10px ;margin-left:15px;margin-right:15px;">
                        @{Html.RenderPartial("~/Views/App/Partials/UserRoleImportResult.cshtml");
                        }




                    </div>

                    <div class="form-group" ng-show="ResultUserDisplay">

                        <div id="importHeadingAttr" class="titleblue" style="padding-top:10px;margin-bottom: 0px;text-align: -webkit-center; margin-left:15px;margin-right:15px;">
                            <b> {{ProcessName}} </b>

                        </div>

                        <div class="padding-10" style="margin-left: 13px">
                            <a style="cursor:pointer;text-transform: capitalize;text-decoration:underline" ng-click="sheetdownload()"><p class="float-left" style="float:left;text-decoration:underline">{{displayFileName}}</p></a>&nbsp;<span style="color:#337ab7">>>&nbsp;{{importSelectedvalue}}&nbsp;>>&nbsp;{{importSheetType}}</span>

                        </div>
                        <hr style="margin-bottom:10px; margin-left:15px;margin-right:15px;">
                        @{Html.RenderPartial("~/Views/App/Partials/UserRoleImportResult.cshtml");
                        }




                    </div>

                    <div class="form-group" ng-show="ResultRoleDisplay">

                        <div id="importHeadingAttr" class="titleblue" style="padding-top:10px;margin-bottom: 0px;text-align: -webkit-center; margin-left:15px;margin-right:15px;">
                            <b> {{ProcessName}} </b>

                        </div>

                        <div class="padding-10" style="margin-left: 13px">
                            @*<span class="bold" style="float:left">Selected Worksheet : </span> <p class="float-left" style="float:left" ng-if="SelectedFileForUploadnamemain.length<=20">{{SelectedFileForUploadnamemain}}</p><p class="float-left" style="float:left" ng-if="SelectedFileForUploadnamemain.length>40">{{SelectedFileForUploadnamemain.substring(0,40)}}...{{SelectedFileForUploadnamemain.split('.')[1]}} </p> >> <a style="cursor:pointer" ng-click="sheetdownload()"> {{importSelectedvalue}} </a> >> {{importSheetType}}*@
                            @*<a style="cursor:pointer;text-transform: capitalize;" ng-click="sheetdownload()"><p class="float-left" style="float:left" ng-if="SelectedFileForUploadnamemain.length<=40">{{SelectedFileForUploadnamemain}}</p><p class="float-left" style="float:left" ng-if="SelectedFileForUploadnamemain.length>40">{{SelectedFileForUploadnamemain.substring(0,40)}}...{{SelectedFileForUploadnamemain.split('.')[1]}}</p></a>&nbsp;<span style="color:#337ab7">>>&nbsp;{{importSelectedvalue}}&nbsp;>>&nbsp;{{importSheetType}}</span>*@
                            <a style="cursor:pointer;text-transform: capitalize;text-decoration:underline" ng-click="sheetdownload()"><p class="float-left" style="float:left;text-decoration:underline">{{displayFileName}}</p></a>&nbsp;<span style="color:#337ab7">>>&nbsp;{{importSelectedvalue}}&nbsp;>>&nbsp;{{importSheetType}}</span>

                        </div>
                        <hr style="margin-bottom:10px; margin-left:15px;margin-right:15px;">
                        @{Html.RenderPartial("~/Views/App/Partials/UserRoleImportResult.cshtml");
                        }




                    </div>
                    @*////////////////////showUserValidatediv////////////////////*@
                    <div class="form-group" ng-show="showUserValidatediv">

                        <div id="importHeadingAttr1" class="titleblue" style="padding-top:10px;padding-bottom: 10px;margin:0px;border-radius: 0px;text-align: -webkit-center; margin-left:15px;margin-right:15px;">
                            <b> {{ProcessName}} </b>

                        </div>
                        <div class="padding-10" style="margin-left: 13px">
                            <a style="cursor:pointer;text-transform: capitalize;text-decoration:underline" ng-click="sheetdownload()"><p class="float-left" style="float:left;text-decoration:underline">{{displayFileName}}</p></a>&nbsp;<span style="color:#337ab7">>>&nbsp;{{importSelectedvalue}}&nbsp;>>&nbsp;{{importSheetType}}</span>
                        </div>
                        <hr style="margin-left:15px; margin-right:15px;">
                        <div class="col-sm-12 margin-top-5 padding-0" style="text-align: center;" ng-show="UserValidationBackdiv">
                            <table ng-table="tblDashImportBoard" show-filter="true" style="background-color: ghostwhite;height:auto;margin-left:0px;margin-top:10px;font-size:16px" class="table-condensed table-bordered table-striped tablescroll1" align="center" ng-hide="EnableBatch==true">
                                <thead class="k-grid-header k-grid-header-wrap">
                                    <tr>
                                        <td colspan="2" style="width:280px"><b>Validation Completed</b></td>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="col-sm-1 padding-right-0 padding-top-5">

                                                <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="UserPicklistValidation!=false && UserPicklistValidationerror==false"></span>
                                                @*<span class="glyphicon glyphicon-warning-sign" style="color:darkorange" ng-if="UserPicklistValidation==false && UserPicklistValidationerror==false"></span>*@
                                                <span class="glyphicon glyphicon-remove " style="color:red" ng-if="UserPicklistValidationerror!=false"></span>
                                                <input class="chk" ng-if="false" ng-disabled="true" type="checkbox" value="2" ng-model="validated.Picklist" />
                                            </div>
                                            @*
                                                </td>
                                                <td>
                                            *@
                                            <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                                <span class="float-left">Missing Values</span>
                                            </div>

                                        </td>
                                        <td>

                                            <span ng-if="UserPicklistValidation!=false  && UserPicklistValidationerror==false">OK </span>
                                            @*<span ng-if="UserPicklistValidation==false && UserPicklistValidationerror==false" title="Validation skipped due to preference set as 'false'">Skipped</span>*@
                                            <span ng-if="UserPicklistValidationerror!=false">Failed</span>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-sm-1 padding-right-0  padding-top-5">
                                                <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="UserMisssingColumnItem!=false && UserMisssingColumnItemerror==false"></span>
                                                @*<span class="glyphicon glyphicon-warning-sign" style="color:darkorange" ng-if="UserMisssingColumnItem==false && UserMisssingColumnItemerror==false"></span>*@
                                                <span class="glyphicon glyphicon-remove " style="color:red" ng-if="UserMisssingColumnItemerror!=false"></span>
                                            </div>
                                            @*
                                                </td>
                                                <td>
                                            *@
                                            <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                                <span class="float-left">Missing Columns</span>
                                            </div>

                                        </td>
                                        <td>
                                            <span ng-if="UserMisssingColumnItem!=false  && UserMisssingColumnItemerror==false">OK </span>
                                            @*<span ng-if="UserMisssingColumnItem==false && UserMisssingColumnItemerror==false" title="Validation skipped due to preference set as 'false'">Skipped</span>*@
                                            <span ng-if="UserMisssingColumnItemerror!=false">Failed</span>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-sm-1 padding-right-0  padding-top-5">
                                                <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="UserEmailValidationItem!=false && UserEmailValidationItemerror==false"></span>
                                                @*<span class="glyphicon glyphicon-warning-sign" style="color:darkorange" ng-if="UserMisssingColumnItem==false && UserMisssingColumnItemerror==false"></span>*@
                                                <span class="glyphicon glyphicon-remove " style="color:red" ng-if="UserEmailValidationItemerror!=false"></span>
                                            </div>

                                            <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                                <span class="float-left">Email Validation</span>
                                            </div>

                                        </td>
                                        <td>
                                            <span ng-if="UserEmailValidationItem!=false  && UserEmailValidationItemerror==false">OK </span>
                                            @*<span ng-if="UserMisssingColumnItem==false && UserMisssingColumnItemerror==false" title="Validation skipped due to preference set as 'false'">Skipped</span>*@
                                            <span ng-if="UserEmailValidationItemerror!=false">Failed</span>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-sm-1 padding-right-0  padding-top-5">
                                                <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="UserRoleNameItem!=false && UserRoleNameItemerror==false"></span>
                                                @*<span class="glyphicon glyphicon-warning-sign" style="color:darkorange" ng-if="UserMisssingColumnItem==false && UserMisssingColumnItemerror==false"></span>*@
                                                <span class="glyphicon glyphicon-remove " style="color:red" ng-if="UserRoleNameItemerror!=false"></span>
                                            </div>

                                            <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                                <span class="float-left">Role Name</span>
                                            </div>

                                        </td>
                                        <td>
                                            <span ng-if="UserRoleNameItem!=false  && UserRoleNameItemerror==false">OK </span>
                                            @*<span ng-if="UserMisssingColumnItem==false && UserMisssingColumnItemerror==false" title="Validation skipped due to preference set as 'false'">Skipped</span>*@
                                            <span ng-if="UserRoleNameItemerror!=false">Failed</span>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-sm-1 padding-right-0  padding-top-5">
                                                <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="UserDuplicateItem!=false && UserDuplicateItemerror==false"></span>
                                                @*<span class="glyphicon glyphicon-warning-sign" style="color:darkorange" ng-if="UserMisssingColumnItem==false && UserMisssingColumnItemerror==false"></span>*@
                                                <span class="glyphicon glyphicon-remove " style="color:red" ng-if="UserDuplicateItemerror!=false"></span>
                                            </div>

                                            <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                                <span class="float-left">Duplicate Values</span>
                                            </div>

                                        </td>
                                        <td>
                                            <span ng-if="UserDuplicateItem!=false  && UserDuplicateItemerror==false">OK </span>
                                            @*<span ng-if="UserMisssingColumnItem==false && UserMisssingColumnItemerror==false" title="Validation skipped due to preference set as 'false'">Skipped</span>*@
                                            <span ng-if="UserDuplicateItemerror!=false">Failed</span>
                                        </td>

                                    </tr>


                                </tbody>
                            </table>



                        </div>

                        <div class="col-sm-12 padding-0 margin-bottom-40" style="text-align: center;margin-top: 15px;width:250px;margin-left: 40%;" ng-show="UserEnableBatch">
                            @*<span style="margin-right: 5px;"><input type="checkbox" class="" ng-model="EnableBatch" ng-checked="EnableBachfun(EnableBatch)" value="Batch process" />&nbsp; Batch process</span>*@
                            <input id="txtDataTime" ng-model="scheduleTime" style="border: 1px solid #ccc;" />
                        </div>

                        <div id="btnValidte1" ng-show="UservalidationSuccess" class="col-sm-12 padding-0" style="text-align: center;">





                            <div ng-if="!UserEnableBatch">
                                <button class="btn btn-primary btn-xs" type="button" ng-click='UserValidateback()' ng-if="!UserEnableBatch"><i class="fa fa-chevron-left"></i></button>
                                <button type="button" class="btn btn-primary btn-xs" ng-if="!UserBatchImport && !UserEnableBatch" style="width: 100px;" ng-disabled="UserChecktheProdCount" ng-click="UserfinishImport()" @*title="{{bulkImport}}" *@><div class="glyphicon glyphicon-import"></div></button>
                                @*<button class="btn btn-primary btn-xs" type="button" ng-click='UserEnableBachfun()' value="Batch process" ng-if="!UserEnableBatch">Add To Schedule</button>*@

                            </div>
                            @*<div ng-if="UserEnableBatch">
                                    <button class="btn btn-primary btn-xs" type="button" ng-click='UserValidateback1()' ng-if="UserEnableBatch">Back</button>
                                    <button class="btn btn-primary btn-xs" id="UserSchedule" type="button" value="Batch process" ng-if="UserEnableBatch && !UserBatchImport" ng-click="UserScheduleImport()">Schedule</button>
                                    <button type="button" class="btn btn-primary btn-xs" ng-if="UserBatchImport" style="width: 100px;" ng-click="UserGoToSetup()">Setup import</button>
                                </div>*@








                            <button class="btn btn-primary btn-xs" ng-disabled="Userenablevalid" ng-show="Userpassvalidationimportenable && !UserpassvalidationNext" type="button" ng-click='UserValidateimport()'>Validate</button>
                            @*<button class="btn btn-primary btn-xs" ng-show="!validationPassed && passvalidationimportenable && !passvalidationNext" type="button" ng-click='skipValidateimport()'>Skip Validation</button>*@

                        </div>

                        <div id="btnValidte1" ng-if="!UservalidationSuccess" class="col-sm-12 padding-0" style="text-align: center;">
                            <button class="btn btn-primary btn-xs" type="button" ng-click='UserValidateback()'>Back</button>
                            <button type="button" class="btn btn-primary btn-xs" style="width: 100px;" ng-click="UserViewLog()" @*title="{{bulkImport}}" *@>View Log</button>
                            @*<button class="btn btn-primary btn-xs" ng-show="!validationPassed && passvalidationimportenable && !passvalidationNext" type="button" ng-click='skipValidateimport()'>Skip Validation</button>*@
                        </div>

                    </div>


                    @*/////////////////////role import ////////////////////////////*@
                    <div class="form-group" ng-show="showRoleValidatediv">

                        <div id="importHeadingAttr1" class="titleblue" style="padding-top:10px;padding-bottom: 10px;margin:0px;border-radius: 0px;text-align: -webkit-center; margin-left:15px;margin-right:15px;">
                            <b> {{ProcessName}} </b>
                        </div>
                        <div class="padding-10" style="margin-left: 13px">
                            <a style="cursor:pointer;text-transform: capitalize;text-decoration:underline" ng-click="sheetdownload()"><p class="float-left" style="float:left;text-decoration:underline">{{displayFileName}}</p></a>&nbsp;<span style="color:#337ab7">>>&nbsp;{{importSelectedvalue}}&nbsp;>>&nbsp;Role</span>
                        </div>
                        <hr style="margin-left:15px; margin-right:15px;">
                        <div class="col-sm-12 margin-top-5 padding-0" style="text-align: center;" ng-show="RoleValidationBackdiv">
                            <table ng-table="tblDashImportBoard" show-filter="true" style="background-color: ghostwhite;height:auto;margin-left:0px;margin-top:10px;font-size:16px" class="table-condensed table-bordered table-striped tablescroll1" align="center" ng-hide="EnableBatch==true">
                                <thead class="k-grid-header k-grid-header-wrap">
                                    <tr>
                                        <td colspan="2" style="width:280px"><b>Validation Completed</b></td>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="col-sm-1 padding-right-0 padding-top-5">

                                                <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="RolePicklistValidation!=false && RolePicklistValidationerror==false"></span>
                                                @*<span class="glyphicon glyphicon-warning-sign" style="color:darkorange" ng-if="UserPicklistValidation==false && UserPicklistValidationerror==false"></span>*@
                                                <span class="glyphicon glyphicon-remove " style="color:red" ng-if="RolePicklistValidationerror!=false"></span>
                                                <input class="chk" ng-if="false" ng-disabled="true" type="checkbox" value="2" ng-model="validated.Picklist" />
                                            </div>
                                            @*
                                                </td>
                                                <td>
                                            *@
                                            <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                                <span class="float-left">Missing Values</span>
                                            </div>

                                        </td>
                                        <td>

                                            <span ng-if="RolePicklistValidation!=false  && RolePicklistValidationerror==false">OK </span>
                                            @*<span ng-if="UserPicklistValidation==false && UserPicklistValidationerror==false" title="Validation skipped due to preference set as 'false'">Skipped</span>*@
                                            <span ng-if="RolePicklistValidationerror!=false">Failed</span>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-sm-1 padding-right-0  padding-top-5">
                                                <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="RoleMisssingColumnItem!=false && RoleMisssingColumnItemerror==false"></span>
                                                @*<span class="glyphicon glyphicon-warning-sign" style="color:darkorange" ng-if="UserMisssingColumnItem==false && UserMisssingColumnItemerror==false"></span>*@
                                                <span class="glyphicon glyphicon-remove " style="color:red" ng-if="RoleMisssingColumnItemerror!=false"></span>
                                            </div>
                                            @*
                                                </td>
                                                <td>
                                            *@
                                            <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                                <span class="float-left">Missing Columns</span>
                                            </div>

                                        </td>
                                        <td>
                                            <span ng-if="RoleMisssingColumnItem!=false  && RoleMisssingColumnItemerror==false">OK </span>
                                            @*<span ng-if="UserMisssingColumnItem==false && UserMisssingColumnItemerror==false" title="Validation skipped due to preference set as 'false'">Skipped</span>*@
                                            <span ng-if="RoleMisssingColumnItemerror!=false">Failed</span>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-sm-1 padding-right-0  padding-top-5">
                                                <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="RoleDuplicateItem!=false && RoleDuplicateColumnItemerror==false"></span>
                                                @*<span class="glyphicon glyphicon-warning-sign" style="color:darkorange" ng-if="UserMisssingColumnItem==false && UserMisssingColumnItemerror==false"></span>*@
                                                <span class="glyphicon glyphicon-remove " style="color:red" ng-if="RoleDuplicateColumnItemerror!=false"></span>
                                            </div>
                                            @*
                                                </td>
                                                <td>
                                            *@
                                            <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                                <span class="float-left">Duplicate Values</span>
                                            </div>

                                        </td>
                                        <td>
                                            <span ng-if="RoleDuplicateItem!=false  && RoleDuplicateColumnItemerror==false">OK </span>
                                            @*<span ng-if="UserMisssingColumnItem==false && UserMisssingColumnItemerror==false" title="Validation skipped due to preference set as 'false'">Skipped</span>*@
                                            <span ng-if="RoleDuplicateColumnItemerror!=false">Failed</span>
                                        </td>

                                    </tr>


                                </tbody>
                            </table>



                        </div>

                        <div class="col-sm-12 padding-0 margin-bottom-40" style="text-align: center;margin-top: 15px;width:250px;margin-left: 40%;" ng-show="RoleEnableBatch">
                            @*<span style="margin-right: 5px;"><input type="checkbox" class="" ng-model="EnableBatch" ng-checked="EnableBachfun(EnableBatch)" value="Batch process" />&nbsp; Batch process</span>*@
                            <input id="txtDataTime" ng-model="scheduleTime" style="border: 1px solid #ccc;" />
                        </div>

                        <div id="btnValidte1" ng-show="RolevalidationSuccess" class="col-sm-12 padding-0" style="text-align: center;">





                            <div ng-if="!RoleEnableBatch">
                                <button class="btn btn-primary btn-xs" type="button" ng-click='RoleValidateback()' ng-if="!UserEnableBatch"><i class="fa fa-chevron-left"></i></button>
                                <button type="button" class="btn btn-primary btn-xs" ng-if="!RoleBatchImport && !RoleEnableBatch" style="width: 100px;" ng-disabled="RoleChecktheProdCount" ng-click="RolefinishImport()" @*title="{{bulkImport}}" *@><div class="glyphicon glyphicon-import"></div></button>
                                @*<button class="btn btn-primary btn-xs" type="button" ng-click='RoleEnableBachfun()' value="Batch process" ng-if="!RoleEnableBatch">Add To Schedule</button>*@

                            </div>
                            <div ng-if="RoleEnableBatch">
                                <button class="btn btn-primary btn-xs" type="button" ng-click='RoleValidateback1()' ng-if="RoleEnableBatch">Back</button>
                                <button class="btn btn-primary btn-xs" id="RoleSchedule" type="button" value="Batch process" ng-if="RoleEnableBatch && !RoleBatchImport" ng-click="RoleScheduleImport()">Schedule</button>
                                <button type="button" class="btn btn-primary btn-xs" ng-if="RoleBatchImport" style="width: 100px;" ng-click="RoleGoToSetup()">Setup import</button>
                            </div>








                            <button class="btn btn-primary btn-xs" ng-disabled="Roleenablevalid" ng-show="Rolepassvalidationimportenable && !RolepassvalidationNext" type="button" ng-click='RoleValidateimport()'>Validate</button>
                            @*<button class="btn btn-primary btn-xs" ng-show="!validationPassed && passvalidationimportenable && !passvalidationNext" type="button" ng-click='skipValidateimport()'>Skip Validation</button>*@

                        </div>

                        <div id="btnValidte1" ng-if="!RolevalidationSuccess" class="col-sm-12 padding-0" style="text-align: center;">
                            <button class="btn btn-primary btn-xs" type="button" ng-click='RoleValidateback()'>Back</button>
                            <button type="button" class="btn btn-primary btn-xs" style="width: 100px;" ng-click="RoleViewLog()" @*title="{{bulkImport}}" *@>View Log</button>
                            @*<button class="btn btn-primary btn-xs" ng-show="!validationPassed && passvalidationimportenable && !passvalidationNext" type="button" ng-click='skipValidateimport()'>Skip Validation</button>*@
                        </div>

                    </div>
                    @*/////////////////////role import ////////////////////////////*@


                </li>
            </ul>
        </div>
    </div>



</div>
