﻿@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}

@section styles{
    <style>

        .k-calendar {
            width: 230px !important;
        }

        .k-list-scroller {
            overflow: initial;
        }

        div#Date_dateview {
            width: 230px !important;
        }

        .k-grid table tbody tr {
            cursor: pointer;
        }

        /*.text-center, table tbody tr td, #dynamictable table tbody tr td {
            height: 35px;
            padding-left: 10px;
        }*/

        table thead tr th, #dynamictable table thead tr th {
            height: 35px;
            padding-left: 10px;
        }

        a:hover {
            text-decoration: none !important;
        }

        .small-caps {
            letter-spacing: 0em;
        }

        .k-ext-treeview {
            width: 207px !important;
            border: 1px solid #a3d0e4 !important;
        }

        .form-horizontal {
            margin: 10px 5px 5px 5px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            border-radius: 4px;
        }

        #searchli {
        display: none !important;
        }
    </style>


    <style type="text/css">
      /*.tab-content {
            display: table;
            width: 100%; 
        }*/

        .disabledbutton {
            pointer-events: none;
            opacity: 0.4;
        }

        span.k-label.k-pager-sizes {
            float: right;
        }

        span.k-pager-info.k-label {
            display: none;
        }

        span .k-header {
            float: right;
        }

        .k-list-container.k-popup.k-group.k-reset {
            max-height: 200px !important;
            overflow: auto !important;
        }
       
    </style>

}


@*<script type="text/javascript" src='@Url.Content("~/Views/App/Search/SearchController.js")'></script>*@
<script type="text/javascript" src='@Url.Content("~/Views/App/AdvancedSearch/AdvancedSearch.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Views/App/Family/familyController.js")'></script>
<link href="~/Design/css/ng-table.css" rel="stylesheet" />
<div class="main-content no-margin no-padding container" ng-cloak>
    <div class="container no-padding">
        <div class="row no-margin">
            <div class="col-sm-12 no-padding">
                @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Search</span>  </div>")
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);
                                           background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;
                                           box-shadow: 0 1px 0 #2c232b inset;">
                        <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>@Html.Raw("<div class=\"titlebluebreadcrumbs\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Search</span>  </div>")
                        <div class="panel-tools">
                            @*<div id="imagename" />*@
                        </div>
                    </div>
                    <div style="height: auto;" class="panel-body panel-scroll ps-container">
                        <div id="categoryGridView">
                            
                            <style>
                                table thead tr th, #dynamictable table thead tr th {
                                    color: #003DA5;
                                    text-align: center !important;
                                    height: 25px;
                                    /*text-transform: uppercase;*/
                                    text-transform: capitalize;
                                    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
                                    text-rendering: geometricPrecision;
                                    letter-spacing: 0.035em;
                                }

                                span.k-widget.k-dropdown.k-header.k-ext-dropdown {
                                    width: 210px !important;
                                }

                                span.k-widget.k-datepicker.k-header.ng-pristine.ng-untouched.ng-invalid.ng-invalid-required {
    width: 200px;
    height: 33px !important;
    margin-right: -3px !important;
}
                            </style>
                            <script type="text/javascript">
                                function isNumber(evt) {
                                    evt = (evt) ? evt : window.event;
                                    var charCode = (evt.which) ? evt.which : evt.keyCode;
                                    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                                        alert("Please enter valid Data ");
                                        return false;
                                    }
                                    return true;
                                }

                            </script>
                            <form name="searchform" novalidate>

                                <div ng-controller="SearchController" ng-cloak>
                                    <div id="searchtab">

                                        <div class="form-horizontal">
                                            <div class="searchrow">
                                                @*<div class="col-sm-1"></div>*@
                                                <div class="searchrow1 col-sm-12">
                                                    <div class="form-group margin-bottom-0">
                                                        <div class="col-lg-12 margin-bottom-0">
                                                            <div class="col-sm-1 padding-0 textalignright margintop bold">
                                                                Catalog
                                                            </div>
                                                            <div class="col-sm-2" style="width: 19%;">
                                                                <select kendo-drop-down-list
                                                                        k-value-primitive="true"
                                                                        k-data-source="SearchcatalogDataSource"
                                                                        k-ng-model="catalogIdAttr"
                                                                        k-option-label="'ALL'"
                                                                        k-data-text-field="'CATALOG_NAME'"
                                                                        k-data-value-field="'CATALOG_ID'"
                                                                        k-on-change="catalogChange(kendoEvent)" style="width: 210px"></select>
                                                            </div>

                                                            <div class="col-sm-1 padding-0 textalignright margintop bold" id="categorylbldisable">
                                                                Type
                                                            </div>
                                                            <div class="col-sm-2" style="width: 22%;" id="categorylbldisable">
                                                                <select kendo-drop-down-list class="selectcss1" id="drpSearchType" ng-if="EnableSubProduct" style="width: 200px "
                                                                        ng-model="SearchTypeName"
                                                                        k-on-change="callSearchType(SearchTypeName)">
                                                                    <option>Category</option>
                                                                    <option>Product</option>
                                                                    <option>Items</option>
                                                                    <option>SubItems</option>
                                                                    @*Name Changes*@
                                                                </select>

                                                                <select kendo-drop-down-list class="selectcss1" id="drpSearchType" ng-if="!EnableSubProduct" style="width: 200px "
                                                                        ng-model="SearchTypeName"
                                                                        k-on-change="callSearchType(SearchTypeName)">
                                                                    <option>Category</option>
                                                                    <option>Product</option>
                                                                    <option>Items</option>

                                                                </select>
                                                            </div>
                                                            <div class="col-sm-1 padding-0 textalignright margintop bold">
                                                                Attribute
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <select kendo-drop-down-list id="drp" ng-disabled="IsAttribute"
                                                                        @*k-option-label="'--- Select Attribute ---'"*@
                                                                        k-data-text-field="'ATTRIBUTE_NAME'"
                                                                        k-data-value-field="'ATTRIBUTE_NAME'"
                                                                        k-data-source="catalogIdAttrDataSource"
                                                                        k-on-change="attributechange(kendoEvent)"
                                                                        k-ng-model="seletedAttribute"
                                                                        k-value-primitive="true"
                                                                        style="width: 200px"></select>
                                                            </div>
                                                            <div class="col-sm-1">
                                                                @*<label class="padding-0 textalignright margintop bold">Attribute Sort</label>*@
                                                                <input type="checkbox" style="width: 17%;height: 15px;margin-top: 8px;" id="chksortAsc" ng-model="ChksortingAsc" ng-click="sortAsc()">
                                                                <span style="color: #091f3f"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i></span>

                                                                @*<input type="checkbox" style="width: 15%;height: 15px;" id="chksortDes" ng-model="ChksortingDes" ng-click="sortDes()">
                                        <span style="color: #091f3f"><i class="fa fa-sort-alpha-desc" aria-hidden="true"></i></span>*@

                                                            </div>


                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="form-group">
                                                        <div class="col-lg-12">

                                                            @*<div class="col-sm-1" style="margin-left: -5px;"></div>*@
                                                            <div class="col-sm-1 padding-0 textalignright margintop bold" id="categorylbldisable">
                                                                Category
                                                            </div>
                                                            <div class="col-sm-2" id="categorydisable" style="width: 19%;">
                                                                @*<input type="text" id="SearchCategoryTree" placeholder=" -- select --" />*@
                                                                <div id="SearchCategoryTree">

                                                                </div>
                                                            </div>
                                                            <div class="col-sm-1 padding-0 textalignright margintop bold" id="searchlbldisable" ng-show="hidenValue">
                                                                Date
                                                            </div>

                                                            <div class="col-sm-1 padding-0 textalignright margintop bold" id="searchlbldisable" ng-show="hidenSearchText">
                                                                Search
                                                            </div>
                                                            <div class="col-sm-2" style="width: 22%;" ng-show="hidenValue">
                                                                <input type="text" name="searchtxt" placeholder="Search Value" id="Date" style="width: 200px;height: 27px;margin-right: -3px;" ng-model="searchtxt" ng-trim="false" required>
                                                                <button class="btn btn-primary btn-xs" type="button" ng-click="btnsearchClick()" title="{{searchItem}}" style="height: 32px;border-bottom-right-radius: 4px;border-top-right-radius: 4px;">

                                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                                </button>
                                                            </div>


                                                            <div class="col-sm-1 padding-0 textalignright margintop bold" id="searchlbldisable" ng-show="endDateHide" style="margin-right: 17px;">
                                                                <label class="bold"> Range</label>
                                                            </div>

                                                            <div class="col-sm-2 padding-0 textalignright margintop" id="searchlbldisable" ng-show="endDateHide" style="text-align: left;width: 21%;">
                                                                <input type="text" name="searchtxt" placeholder="Date from" id="start" style="width: 200px;height: 26px;margin-right: -6px;font-weight: 200;" ng-model="searchtxt" ng-trim="false" required>
                                                                <br>
                                                                <input type="text" name="searchtxt" placeholder="Date to" id="end" style="width: 200px;height: 26px;margin-right: -6px;font-weight: 200;" ng-model="searchEndtxt" ng-trim="false" required>
                                                                <button class="btn btn-primary btn-xs" type="button" ng-click="btnsearchClick()" title="{{searchItem}}" style="height: 32px;border-bottom-right-radius: 4px;border-top-right-radius: 4px;">

                                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                                </button>
                                                            </div>
                                                            <div class="col-sm-1 padding-0 textalignright margintop bold" id="searchlbldisable" ng-show="numericTextHiden" style="margin-right: 17px;">
                                                                <label class="bold"> Range</label>
                                                            </div>

                                                            <div class="col-sm-2 padding-0 textalignright margintop" id="searchlbldisable" ng-show="numericTextHiden" style="text-align: left;width: 21%;">
                                                                <input type="text" name="searchtxt" placeholder="from" style="width: 200px;height: 30px;margin-right: -6px;font-weight: 200;margin-bottom: 5px;" ng-model="searchtxt" ng-trim="false" required>
                                                                <br>
                                                                <input type="text" name="searchtxt" placeholder="to" style="width: 200px;height: 30px;margin-right: -6px;font-weight: 200;" ng-model="searchEndtxt" ng-trim="false" required>
                                                                <button class="btn btn-primary btn-xs" type="button" ng-click="btnsearchClick()" title="{{searchItem}}" style="height: 29px;border-bottom-right-radius: 4px;border-top-right-radius: 4px;margin-top: -3px;">

                                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                                </button>
                                                            </div>



                                                            <div class="col-sm-2" style="width: 22%;" ng-show="hidenSearchText">
                                                                <input type={{typeInput}} name="search-txt" placeholder={{searchValue}} id="mainCatalogSearch" ng-enter="btnsearchClick()" style="width: 200px;height: 30px;margin-right: -6px;" ng-model="searchtxt" ng-trim="false" ng-blur="blur()" required>
                                                                <button class="btn btn-primary btn-xs" type="button" ng-click="btnsearchClick()" title="{{searchItem}}" style="height: 30px;border-bottom-right-radius: 4px;border-top-right-radius: 4px;margin-top: -2px !important;">

                                                                    <i class="fa fa-search" aria-hidden="true"></i>

                                                                </button>
                                                            </div>
                                                            <div class="col-sm-1 padding-0 textalignright margintop bold">
                                                                Filter
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <select kendo-drop-down-list
                                                                        @*ng-model="selectedFilters"*@
                                                                        k-data-text-field="'FilterName'"
                                                                        k-data-value-field="'FilterId'"
                                                                        k-data-source="GetFilters"
                                                                        k-on-change="SelectItem(selectedFilters)"
                                                                        k-ng-model="selectedFilters"
                                                                        k-value-primitive="true"
                                                                        style="width: 200px"></select>
                                                                @*<select kendo-drop-down-list class="selectcss" id="DrpSearchType" style="width:200px;"
                                            ng-model="usewildcards"
                                            k-on-change="SelectItem(usewildcards)">

                                        <option value="1">Exact</option>
                                        <option value="2">Starts with</option>
                                        <option value="3">Ends with</option>
                                        <option value="4">Contains</option>
                                            @*<option value="5">Is not equal to</option>
                                            <option value="6">Does not contain</option>
                                            <option value="7">Is null</option>
                                            <option value="8">Is not null</option>
                                            <option value="9">Is empty</option>
                                            <option value="10">Is not empty</option>*@
                                                                @*</select>*@
                                                                @*<select kendo-drop-down-list class="selectcss" id="drpSearchType" style="width: 100px ;margin-left: -27px";
                                                ng-model="usewildcards"
                                                k-on-change="SelectItem(usewildcards)"
                                            <option>Exact</option>
                                            <option>Starts with</option>
                                            <option>Ends with</option>
                                            <option>Contains</option>
                                        </select>*@
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <button class="btn btn-primary btn-xs" type="button" ng-click="btnRefresh()" title="{{Refresh}}" style="height: 30px;">
                                                                    <i class="fa fa-refresh"></i>
                                                                </button>
                                                                <button class="btn btn-primary btn-xs" type="button" ng-click="btncancelclick()" title="{{resetSearchItemValue}}" style="height: 30px;">
                                                                    <i class="fa fa-rotate-right"></i>
                                                                </button>
                                                            </div>
                                                            @*<div class="row">
                                                                                        <div class="col-sm-6">
                                                                                            <input kendo-date-picker
                                                                                                   ng-model="dateString"
                                                                                                   k-ng-model="dateObject"
                                                                                                   style="width: 40%;" />


                                                                                            <input kendo-date-picker
                                                                                                   ng-model="dateString"
                                                                                                   k-ng-model="dateObject"
                                                                                                   style="width: 40%;" />
                                                                                            @*<pre>
                                    dateString: {{ dateString }}
                                    dateObject: {{ dateObject | date:"EEEE, MMMM d, yyyy" }}
                                    typeof dateObject: {{ getType(dateObject) }}
                                    dateObject instanceof Date: {{ isDate(dateObject) }}
                                    </pre>*@
                                                            @*</div>
                                    </div>*@

                                                            @*<div class="col-sm-1"></div>*@
                                                            @*<div ng-show="hidenValue" >
                                        <h4>Date:</h4>
                                        <input id="start" style="width: 20%;" />
                                    </div>
                                    <div ng-show="endDateHide">
                                        <h4 style="margin-top: 2em">End date:</h4>
                                        <input id="end" style="width: 20%;" />
                                    </div>*@

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">

                                                </div>
                                            </div>
                                        </div>


                                        <div role="alert">
                                            <span class="error" ng-show="searchform.searchtxt.$error.required && searchform.searchid.$error.required">
                                                Please enter the Search Keyword or Id.
                                            </span>
                                        </div>

                                        <div ng-show="searchEmptyResult" style="padding: 26px;text-align: -webkit-center;margin-top: 25px;background-color: aliceblue;">No Results found</div>
                                        <div id="divItemSearch" class="col-sm-12 no-padding">
                                            <div class="blank_row col-lg-12"></div>
                                            <div class="col-lg-12 padding-0">
                                                <h5 class="col-lg-8 padding-0 bold" style="font-size: 17px">Item Search Results @*{{searchResultsTitle}}*@</h5>
                                                <h5 class="col-lg-4 textalignright padding-0" style="font-size: 17px"><label class="bold">{{TotalPerPage}}</label></h5>
                                            </div>

                                            <br>
                                            <br>

                                            @*<div kendo-grid="prodselectgrid" options="itemSearchGridresults"/>*@

                                            <div kendo-grid="prodselectgrid" id="itemSearchResult"
                                                 k-auto-bind="false"
                                                 k-sortable="true"
                                                 k-pageable='{ "pageSize": 100, "pageSizes": [10,50,100,300,400,500],"buttonCount":5,messages: {itemsPerPage: "Items" } }'
                                                 k-filterable="true"
                                                 k-selectable="false"
                                                 k-on-data-bound="onDataBoundprodgrd()"
                                                 k-columns='itemSearchGridresultsColumns'
                                                 k-data-source="GetItemSearchResultsdataSource">
                                            </div>
                                        </div>
                                        <div id="divSubItemSearch" class="col-sm-12 no-padding">
                                            <div class="blank_row col-lg-12"></div>
                                            <div class="col-lg-12 padding-0">
                                                <h5 class="col-lg-8 padding-0 bold" style="font-size: 17px">
                                                    SubItems Search Results @*{{searchResultsTitle}}*@
                                                </h5>
                                                <h5 class="col-lg-4 textalignright padding-0" style="font-size: 17px"><label class="bold">{{TotalPerPage}}</label></h5>
                                            </div>

                                            <br>
                                            <br>
                                            @*<div kendo-grid="prodselectgrid" options="itemSearchGridresults"/>*@
                                            <div kendo-grid="subprodselectgrid" id="subitemSearchResult"
                                                 k-auto-bind="false"
                                                 k-sortable="true"
                                                 k-pageable='{ "pageSize": 10, "pageSizes": [5,10,25,50,100],"buttonCount":5,messages: {itemsPerPage: "Items" } }'
                                                 k-filterable="true"
                                                 k-selectable="false"
                                                 k-on-data-bound="onDataBoundsubprodgrd()"
                                                 k-columns='subitemSearchGridresultsColumns'
                                                 k-data-source="GetSubItemSearchResultsdataSource">
                                            </div>

                                        </div>

                                        <div id="dynamictable" class="row" style="max-width: 98%;padding-left: 15PX">
                                            <div class="small-capsGrid" style="height: 480px; overflow:auto; background-color: rgba(255,255,255,.6);">
                                                <table ng-table="tblinverted" id="samplegrid" class="table table-condensed table-bordered table-striped" width="90%">
                                                    <thead class="k-grid-header k-grid-header-wrap">
                                                        <tr>
                                                            <th ng-repeat="column in columns" class="k-header" style="min-width: 100px;" ng-if="column.title!=='ROW' && column.title!=='id' && column.title!=='CATALOG_NAME' && column.title!=='FAMILY_ID'">
                                                                {{column.title}}
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="k-grid-content">
                                                        <tr ng-repeat="Data in productData| orderBy:orderField" show-filter="true" class="table table-condensed table-bordered table-striped" ng-class="{'selected':$index == selectedRow}">
                                                            <td ng-repeat="column in columns" style="text-align: left;" ng-if="column.title!=='ROW' && column.title!=='id' && column.title!=='CATALOG_NAME' && column.title!=='FAMILY_ID'" ng-dblclick="navigate(Data)">
                                                                <a href="" ng-dblclick="navigate(Data)" style="text-align: left;width: 100px">{{Data[column.field]}}</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>


                                        <div id="divCategorySearch" class="col-sm-12 no-padding">
                                            <div class="blank_row col-lg-12"></div>
                                            <div class="col-lg-12 padding-0">
                                                <h5 class="col-lg-8 padding-0 bold" style="font-size: 17px">Category Search Results @*{{searchResultsTitle}}*@</h5>
                                                <h5 class="col-lg-4 textalignright padding-0" style="font-size: 17px"><label class="bold">{{TotalPerPage}}</label></h5>
                                            </div>
                                            <br />
                                            <br />
                                            @*<div kendo-grid="categoryselectgrid" options="categorySearchGridresults" />*@
                                            <div kendo-grid="categoryselectgrid" id="page"
                                                 k-auto-bind="false"
                                                 k-sortable="true"
                                                 k-pageable='{ "pageSize": 100, "pageSizes": [10,50,100,300,400,500],"buttonCount":5,messages: {itemsPerPage: "Items" } }'
                                                 k-filterable="true"
                                                 k-selectable="false"
                                                 k-on-data-bound="onDataBoundcatgrd()"
                                                 k-columns='categorySearchGridresultsColumns'
                                                 k-data-source="GetcategorySearchGridresultsdataSource">
                                            </div>

                                        </div>
                                        <div id="divFamilySearch" class="col-sm-12 no-padding">
                                            <div class="blank_row col-lg-12"></div>
                                            <div class="col-lg-12 padding-0">
                                                <h5 class="col-lg-8 padding-0 bold" style="font-size: 17px">Product Search Results @*{{searchResultsTitle}}*@</h5>
                                                <h5 class="col-lg-4 textalignright padding-0" style="font-size: 17px"><label class="bold">{{TotalPerPage}}</label></h5>
                                            </div>
                                            <br />
                                            <br />
                                            @*<div kendo-grid="familyselectgrid" options="familySearchGridresults"/ >*@
                                            <div kendo-grid="familyselectgrid" id="FamilySearchResult"
                                                 k-auto-bind="false"
                                                 k-sortable="true"
                                                 k-pageable='{ "pageSize": 100, "pageSizes": [10,50,100,300,400,500],"buttonCount":5,messages: {itemsPerPage: "Items" } }'
                                                 k-filterable="true"
                                                 k-selectable="false"
                                                 k-on-data-bound="onDataBoundfamgrd()"
                                                 k-columns='familySearchGridresultsColumns'
                                                 k-data-source="GetFamilySearchGridresultsdataSource">
                                            </div>
                                        </div>
                                        <div id="divProductSearch" class="col-sm-12 no-padding">
                                            <div class="blank_row col-lg-12"></div>
                                            <div class="col-lg-12 padding-0">
                                                <h5 class="col-lg-8 padding-0 bold" style="font-size: 17px">Item Search Results @*{{searchResultsTitle}}*@</h5>
                                                <h5 class="col-lg-4 textalignright padding-0" style="font-size: 17px"><label class="bold">{{TotalPerPage}}</label></h5>
                                            </div>
                                            <br />
                                            <br />
                                            @*<div kendo-grid="familyselectgrid" options="productSearchGridresults"/>*@
                                            <div kendo-grid="productselectgrid" id="productSearchResult"
                                                 k-auto-bind="false"
                                                 k-sortable="true"
                                                 k-pageable='{ "pageSize": 100, "pageSizes": [10,50,100,300,400,500],"buttonCount":5,messages: {itemsPerPage: "Items" } }'
                                                 k-filterable="true"
                                                 k-selectable="false"
                                                 k-on-data-bound="onDataBoundProductgrd()"
                                                 k-columns='productSearchGridresultsColumns'
                                                 k-data-source="GetProductSearchGridresultsdataSource">
                                            </div>
                                        </div>
                                        <div id="divSubProductSearch" class="col-sm-12 no-padding">
                                            <div class="blank_row col-lg-12"></div>
                                            <div class="col-lg-12 padding-0">
                                                <h5 class="col-lg-8 padding-0 bold" style="font-size: 17px">SubItems Search Results @*{{searchResultsTitle}}*@</h5>
                                                <h5 class="col-lg-4 textalignright padding-0" style="font-size: 17px"><label class="bold">{{TotalPerPage}}</label></h5>
                                            </div>
                                            <br />
                                            <br />
                                            <div kendo-grid="subproductselectgrid" id="SubproductSearchResult"
                                                 k-auto-bind="false"
                                                 k-sortable="true"
                                                 k-pageable='{ "pageSize": 10, "pageSizes": [5,10,25,50,100],"buttonCount":5,messages: {itemsPerPage: "Items" } }'
                                                 k-filterable="true"
                                                 k-selectable="false"
                                                 k-on-data-bound="onDataBoundSubProductgrd()"
                                                 k-columns='subproductSearchGridresultsColumns'
                                                 k-data-source="GetSubProductSearchGridresultsdataSource">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="familyEditor" ng-controller="familyController" ng-cloak>
                                        @{ Html.RenderPartial("Partials/FamilyEditor"); }



                                        <div align="center" id="resultbtntab"><button class="btn btn-primary btn-xs" type="button" ng-click='ModifyResults(productData)' title="{{backToResults}}">Back to Results</button></div>
                                    </div>
                                </div>
                            </form>

                            <script>
                                $("input:checkbox").on('click', function () {
                                    // in the handler, 'this' refers to the box clicked
                                    var $box = $(this);
                                    if ($box.is(":checked")) {
                                        // the name of the box is retrieved using the .attr() method
                                        // as it is assumed and expected to be immutable
                                        var group = "input:checkbox[name='" + $box.attr("name") + "']";
                                        // the checked state of the group/box on the other hand will change
                                        // and the current value is retrieved using .prop() method
                                        $(group).prop("checked", false);
                                        $box.prop("checked", true);
                                    } else {
                                        $box.prop("checked", false);
                                    }
                                });

                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>