﻿<style>
    .heightsample {
        height: 600px !important;
        width: 70%;
    }

</style>
<form name="myForm">
    <div class="form-horizontal col-sm-12" id="divselectcatalog">
        <div role="alert">
            <span class="error" ng-show="myForm.description.$error.required">
                Please Enter a Project Name.
            </span>
            @*<span class="message-error" ng-show="myForm.catalogname.$error.number">
                Not valid number!
            </span>*@
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-9">
            <div class="form-group">
                <div class="col-sm-2 bold textalignright padding-0 margintop">
                    Select Catalog
                </div>
                <div class="col-sm-3">
                    <select kendo-drop-down-list
                            k-option-label="'--- Select Catalog ---'"
                            k-data-text-field="'CATALOG_NAME'"
                            k-data-value-field="'CATALOG_ID'"
                            k-data-source="catalogDataSource"
                            k-on-change="catalogChange(kendoEvent)"
                            ng-model="SelectedCatalogId"
                            style="width:180px"></select>
                </div>
                <div class="col-sm-2 bold textalignright padding-0 margintop">
                    Project Type
                </div>
                <div class="col-sm-3">
                    <div id="projecttype"></div>
                </div>


            </div>
            <div class="form-group">

                <div class="col-sm-2 required-field bold textalignright padding-0 margintop">
                    Project Name
                </div>
                <div class="col-sm-3">
                    <input type="text" name="description" ng-model="Indesign.PROJECT_NAME" ng-trim="false" style="width: 180px !important;" required>
                    @*<p class="error" ng-show="myForm.description.$error.pattern">Text only, please.</p>*@
                </div>
                <div class="col-sm-2  bold textalignright padding-0">
                    Comments
                </div>
                <div class="col-sm-3">
                    <textarea id="text" cols="40" rows="5" style="min-width: 175px !important;max-width: 250px;" ng-model="Indesign.COMMENTS"></textarea>

                </div>
            </div>

            <div class="col-sm-12 padding-0" align="center">
                <button class="btn btn-primary btn-xs" type="button" ng-disabled="!myForm.$valid || !EditMode" ng-click='btnCreate()' title="{{newIndesignProject}}">
                    Create
                </button>
            </div>
            @*<div class="form-group center-block">
                    <button class="btn btn-primary btn-xs" type="button" ng-click='inDesignAttributeSetupClick()'>
                        Generate XML
                    </button>
                </div>*@



        </div>
        <div class="col-sm-1"></div>
    </div>
   
    <div>
        @*<div kendo-tree-view="tree" k-data-source="treedata" id="leftnavtreeviewkendo" k-load-on-demand="false" k-on-change="selecteditem = dataitem">
                <span k-template>
                    <a class='k-item' id="{{dataitem.id}}" >{{dataitem.category_name}}</a>
                </span>
            </div>*@

    </div>

</form>
