﻿


<style>
    .heightsample {
        height: 600px !important;
        width: 70%;
    }

    .k-edit-field > .k-dropdown {
        width: 165px;
    }

    .resetButton {
        float: right !important;
    }

    #wrapper {
        overflow: inherit;
    }

    .first {
        pointer-events: none !important;
    }
    /*----------------------------------------------------------------------------*/
    .second{
       pointer-events: none !important;
    }
    /*----------------------------------------------------------------------------*/

    .publishedfamilyIndesign {
        background-image: url("../Content/treeview/Family_Checked.png") !important;
        height: 29px;
        background-repeat: no-repeat;
        background-position: center center;
        color: antiquewhite;
    }

    .unPublishedfamilyIndesign {
        background-image: url("../Content/treeview/22_16.png") !important;
        height: 29px;
        background-repeat: no-repeat;
        background-position: center center;
        color: antiquewhite;
    }

    .xmlGeneratedActiveStatus {
        background-image: url("../content/images/Updated-XML.png");
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
    }

    .xmlGeneratedInActiveStatus {
        background-image: url("../content/images/xmlModied.png");
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
    }

    .categorymodified {
        background-image: url(../content/images/category_modified1.png);
        position: absolute;
        width: 25px;
        height: 20px;
        margin-right: 8px !important;
    }

    .familymodified {
        background-image: url("../content/images/family_modified1.png");
        position: absolute;
        width: 20px;
        height: 18px;
    }

    .modifedfamilyIndesign {
        background-image: url("../Content/images/family_modified1.png") !important;
        height: 29px;
        background-repeat: no-repeat;
        background-position: center center;
        color: antiquewhite;
        background-size: contain;
        padding: 5px 3px !important;
        background-origin: content-box;
    }

     #showFilterId
    {
        margin: 10px 0px;
        display: inline-block;
        vertical-align: middle;
        float:right;
        padding-right: 10px;
    }
</style>
<script type="text/javascript" src='@Url.Content("~/Views/App/Indesign/IndesignMenuController.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Views/App/Indesign/IndesignController.js")'></script>

<form name="myFormindesign">
    <div class="header">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">@*<button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2" title="{{showNavigator}}"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>*@</li>
            </ul>
        </div>
    </div>
  
        <!-- Sidebar -->
       
        
       <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
       
           
                <div class="row">
                    <div id="sidebar-wrapper123" class="k-content col-sm-3 p-0" style="min-height:507px;">
                        <div class="sidebar-nav nav-pills nav-stacked" style="width: -webkit-fill-available;">
                            <h3>
                                <p class="small-caps-white">
                                    <span id="showName">
                                        <button class="navbar-toggle collapse in" style="position: absolute;margin: 0px;padding: 0px 8px 0px 7px;z-index: 1;background: #091f3f;border-radius: 0px;left: 0px;color: white;" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NAVIGATOR
                                    </span>
                                </p>
                            </h3>
                            <br />
                            <div class="margin-bottom-15" style="padding-left: 10px;">
                                <button id="btnAddFamilies" class="btn btn-primary btn-xs" type="button" style="display:block" ng-click='btnAddFamilies()' ng-disabled="!EditMode" title="{{AddFamiliestoIndesign}}">
                                    Add
                                </button>

                                @*<select kendo-drop-down-list class="selectcss" style="width : 150px"
                            ng-model="IndesignExportFormatType">
                        <option>.XLS</option>
                        <option>.XLSX </option>
                    </select>*@

                            </div>
                            <div id="treeviewKendo1" kendo-tree-view="tree" k-data-source="treeData" k-options="treeDataoptions" k-load-on-demand="true"
                                 style="height:385px;">
                                <span k-template>
                                    <label class='k-item' id="{{dataItem.id}}" title={{dataItem.CATEGORY_NAME}}>{{dataItem.CATEGORY_NAME}}</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="form-horizontal padding-left-10" id="divselectcatalog">
                            <div ng-show="showImport">
                                <div class="form-group">
                                    <div class="col-sm-2 bold textalignright margintop padding-0">
                                        &nbsp; Select Project
                                    </div>
                                    <div class="col-sm-4">
                                        <select kendo-drop-down-list
                                                k-option-label="'--- Select Project ---'"
                                                k-data-text-field="'PROJECT_NAME'"
                                                k-data-value-field="'PROJECT_ID'"
                                                k-data-source="projectDataSource"
                                                k-on-change="projectChange(kendoEvent)"
                                                ng-model="SelectedprojectId"
                                                style="width:180px"></select>

                                        <button type="button" class="btn btn-primary btn-xs" ng-click="DeletexmlProject(SelectedprojectId)" ng-disabled="!EditMode" style="height: 29px;padding-top: 3px;"><i class="fa fa-trash" aria-hidden="true" title="Delete the selected InDesign project"></i></button>
                                    </div>
                                    <div class="col-sm-2 bold textalignright padding-0">
                                        Selected Catalog
                                    </div>
                                    <div class="col-sm-4">
                                        {{SelectedCatalogName}}
                                    </div>

                                </div>


                                <div class="form-group">
                                    <div ng-if="userIndesigncpy" class="col-sm-2 bold textalignright margintop padding-0">
                                        &nbsp; Copy to
                                    </div>
                                    <div ng-if="userIndesigncpy" class="col-sm-3">
                                        <select kendo-drop-down-list
                                                id="copyindesigndpn"
                                                k-option-label="'--- Select Project ---'"
                                                k-data-text-field="'PROJECT_NAME'"
                                                k-data-value-field="'PROJECT_ID'"
                                                k-data-source="projectCopyDataSource"
                                                k-on-change="projectCopyChange(kendoEvent)"
                                                style="width:180px"></select>
                                    </div>
                                    <div ng_if="userIndesignmove" class="col-sm-3 bold textalignright margintop padding-0">
                                        Move to
                                    </div>
                                    <div ng_if="userIndesignmove" class="col-sm-3">
                                        <select kendo-drop-down-list
                                                id="moveindesigndpn"
                                                k-option-label="'--- Select Project ---'"
                                                k-data-text-field="'PROJECT_NAME'"
                                                k-data-value-field="'PROJECT_ID'"
                                                k-data-source="projectMoveDataSource"
                                                k-on-change="projectMoveChange(kendoEvent)"
                                                style="width:180px"></select>
                                    </div>

                                </div>

                                <div class="form-group" ng-if="EnableWorkflow===true && IsAdmin === true">
                                    <div ng-if="userIndesigncpy" class="col-sm-2 bold textalignright margintop padding-0">
                                        &nbsp; Work Flow
                                    </div>
                                    <div ng-if="userIndesigncpy" class="col-sm-3">
                                        <select kendo-drop-down-list id="WorkflowId"
                                                k-option-label="'--- Select Status ---'"
                                                ng-model="Indesign.STATUS_NAME"
                                                k-data-source="workflowDataSourceIndesign"
                                                k-on-change="workflowitemChangeIdesign(kendoEvent)"
                                                style="width:180px"></select>
                                    </div>
                                </div>

                                <div class="col-sm-6 form-group" style="text-align: center;">
                                    <button id="btnImportInDesign" class="btn btn-primary btn-xs" type="button" ng-click="IndesignImporthideshow()" title={{ImportProject}}>
                                        <div class="glyphicon glyphicon-import"></div>
                                    </button>

                                    <button id="btnExportInDesign" class="btn btn-primary btn-xs" type="button" ng-click='exportInDesign()' ng-disabled="!EditMode" title="{{ExportFamiliestoIndesign}}">
                                        <div class="glyphicon glyphicon-export"></div>
                                    </button>

                                    <button id="btnSaveInDesign" ng-if="EnableWorkflow===true && IsAdmin === true" class="btn btn-primary btn-xs" type="button" ng-click='indesignworkflowsave()' ng-disabled="!EditMode" title="{{ExportFamiliestoIndesign}}">
                                        <i class="fa fa-save"></i>
                                    </button>
                                </div>
                                <div class="col-sm-5 form-group" style="text-align: center;">
                                    <button id="btnFilterInDesign" class="btn btn-primary btn-xs" type="button" ng-click='FilterInDesignClick()' title="Filters" ng-disabled="showFilterButton">
                                        Filters

                                        <div kendo-window="InDesignFilterWindow" id="InDesignFilterWindowpopup" k-resizable="true" k-draggable="false" k-title="'Attribute wise and Tree based Filter'" k-width="921" k-height="430" k-visible="false"
                                             k-actions='["Close"]'
                                             k-modal="true" k-on-open="OpenInDesignFilterWindowOpen = true" k-on-close="onClose(kendoEvent)">
                                        </div>

                                    </button>

                                    <button id="btnClearInDesign" class="btn btn-primary btn-xs" type="button" ng-click='clearInDesign()' ng-disabled="clearFilterButton" title="Clear Filters">
                                        Clear Filters
                                    </button>

                                </div>

                            </div>

                            <div class="col-sm-12">
                                <div class="row">
                                    <div kendo-toolbar k-options="indesigntoolbarOptions" ng-controller="IndesignMenuController" ng-cloak>
                                        <p style="color:red;" id="showFilterId" ng-show="showFilterText">Note: Filter applied</p>
                                    </div>

                                    <div kendo-grid id="IndesignGrid" options="GetIndesignValues"></div>

                                    <div kendo-toolbar k-options="indesignprojecttoolbarOptions" ng-controller="IndesignMenuController" ng-cloak></div>
                                </div>
                            </div>


                            <div class="col-sm-12" style="margin-top:15px;">
                                <div class="row">
                                    <div kendo-grid="IndesignCategoryKendoGrid" id="IndesignCategoryGrid" options="GetIndesignCategoryValues" style="overflow: auto;">
                                    </div>
                                </div>
                            </div>

                            @*Family & Category page redirection*@
                            @*<div id="familyEditor" ng-controller="familyController" ng-cloak>
                                @{ Html.RenderPartial("Partials/FamilyEditor"); }



                                <div align="center" id="resultbtntab"><button class="btn btn-primary btn-xs" type="button" ng-click='ModifyResults(productData)' title="{{backToResults}}">Back to Idesign</button></div>
                            </div>*@

                            <div class="tab-content" ng-show="Importvalidation" id="myTabContent" style="">
                                <br>
                                <br>
                                <div id="Importdiv" ng-show="Importvalidation">
                                    <div class="form-group">
                                        <div class="bold col-sm-12" align="center" id="importPart">
                                            <label class="bold padding-right-10"> <b>Select Import File</b> </label>


                                            <div class="file-upload btn btn-primary" style="background: #fff;color: #000;width: 25%;border: 2px solid #d0cfcf !important;height: 50px;">

                                                <input style="padding: 0px; height: 45px" type="file" class="uploadbtnstyle" title="Drag &amp; Drop or Select file" name="file" accept=".xls,.xlsx" id="importfileIndesign" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required="">

                                                <img style="width: 17%" src="/Images/drag.png">
                                            </div>
                                            <br>
                                            <div style="padding-left: 129px;">
                                                <span class="uploadfilename1" title="{{SelectedFileForUploadIndesign}}">{{SelectedFileForUploadIndesign}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 padding-0 margin-bottom-45" style="text-align: -webkit-center;">

                                        <button type="button" class="btn btn-primary btn-xs" ng-disabled="!EditMode || !userRoleAddReferenceTable ||!enableReferenceImport" ng-click="ValidateFile()" id="importFileIndesign" title={{IndesignValidate}}> Validate</button>
                                        <button id="btn-example-file-reset" ng-disabled="!EditMode || !userRoleAddReferenceTable " class="btn btn-primary btn-xs" title={{IndesignReset}} ng-click="ResetIndesignImport()" type="button">Reset</button>
                                        <button id="btn-example-file-reset" ng-disabled="!EditMode || !userRoleAddReferenceTable" class="btn btn-primary btn-xs" title={{IndesignCancel}} ng-click="cancelImport()" type="button">Cancel</button>

                                    </div>
                                </div>
                                <br>
                                <br>
                            </div>
                            <div ng-show="ImportvalidationResult">
                                <div class="col-sm-12 margin-top-5 padding-0" style="text-align: center;" id="Validation">
                                    <table ng-table="tblDashImportBoard" show-filter="true" style="background-color: ghostwhite;height:auto;margin-top:10px;font-size:16px" class="table-condensed table-bordered table-striped tablescroll1" align="center">
                                        <thead class="k-grid-header k-grid-header-wrap">
                                            <tr>
                                                @*<td><input class="chk" id="chkselectall" ng-show="false" ng-disabled="true" type="checkbox" value="1" checked /> <b>Status</b></td>*@
                                                @*<td><b>List of Validation</b></td>*@
                                                <td colspan="2" style="width:200px"><b>Validations</b></td>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>
                                                    <div class="col-sm-1 padding-right-0 padding-top-5">
                                                        <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="missing!=true"></span>
                                                        @*<span class="glyphicon glyphicon-warning-sign" style="color:darkorange" ng-if="missing==true"></span>*@
                                                        <span class="glyphicon glyphicon-remove" style="color:red" ng-if="missing==true"></span>
                                                        <input class="chk" ng-if="false" ng-disabled="true" type="checkbox" value="2" />
                                                    </div>
                                                    @*
                                                    </td>
                                                    <td>
                                                    *@
                                                    <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                                        <span class="float-left">Misssing Values</span>

                                                    </div>

                                                </td>
                                                <td>
                                                    <span ng-if="missing!=true">Ok</span>
                                                    <span ng-if="missing==true">Failed</span>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="col-sm-1 padding-right-0 padding-top-5">
                                                        <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="newitem!=true"></span>
                                                        @*<span class="glyphicon glyphicon-warning-sign" style="color:darkorange" ng-if="newitem==true"></span>*@
                                                        <span class="glyphicon glyphicon-remove" style="color:red" ng-if="newitem==true"></span>
                                                        <input class="chk" ng-if="false" ng-disabled="true" type="checkbox" value="2" />
                                                    </div>
                                                    @*
                                                    </td>
                                                    <td>
                                                    *@
                                                    <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                                        <span class="float-left">New Item</span>

                                                    </div>

                                                </td>
                                                <td>
                                                    <span ng-if="newitem!=true">Ok</span>
                                                    <span ng-if="newitem==true">Failed</span>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="col-sm-1 padding-right-0 padding-top-5">
                                                        <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="duplicate!=true"></span>
                                                        <span class="glyphicon glyphicon-remove" style="color:red" ng-if="duplicate==true"></span>
                                                        <input class="chk" ng-if="false" ng-disabled="true" type="checkbox" value="2" />
                                                    </div>
                                                    <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                                        <span class="float-left">Duplicate</span>

                                                    </div>

                                                </td>
                                                <td>
                                                    <span ng-if="duplicate!=true">Ok</span>
                                                    <span ng-if="duplicate==true">Failed</span>
                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="col-sm-12">
                                        <button id="processImport" class="btn btn-primary btn-xs" type="button" ng-disabled="validation==false" title={{Import}} ng-click="ImportIndesignvalues()"> <div class="glyphicon glyphicon-import"></div></button>
                                        <button class="btn btn-primary" ng-click="back()" title={{Back}}><i class="fa fa-chevron-left"></i></button>
                                        @*<button class="btn btn-primary" ng-show="validation==false" id="viewlog" ng-click="Viewlog()">View Log</button>*@
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-11" id="viewlogresult" ng-show="ViewLogIndesignvalidation" style="position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;margin-bottom: 1px">
                                <div class="col-sm-5"> <h5> <b>Validation Log </b> </h5></div>
                                <div class="col-sm-6" style="float: right; padding-bottom: 0px;padding-top: 10px; margin-left:-10px;">
                                    <div class="alignright">
                                        <div class="col-sm-3" ng-show="roleerrorlog">
                                        </div>
                                        @*<div class="exportlnk" ng-click='export_log()'>Download Log</div>*@
                                    </div>
                                </div>

                                <div id="validationResultForAll" ng-if="false"></div>
                                <table ng-table="tblDashImportBoard" show-filter="true" style="background-color: ghostwhite;margin-left:0px;width:100%;font-size:13px" class="table-condensed table-bordered table-striped tablescroll1">
                                    @*<thead class="k-grid-header k-grid-header">
                                        <tr>
                                            <th class="k-header" style="width: 165px; text-transform: capitalize;" ng-repeat="column in viewLogresult">
                                                <b ng-if="column='Missing Column'" style="text-transform: capitalize;">{{column.ColumnName.replace("_"," ").replace("ATTRIBUTE_VALUES","ATTRIBUTE_VALUE")}}</b>
                                            </th>
                                            <th class="k-header" style="width: 100px; text-transform: capitalize;" ng-repeat="column in viewLogresult">
                                                <b style="text-transform: capitalize;">Row no</b>
                                            </th>
                                        </tr>
                                    </thead>*@
                                    <thead class="k-grid-header k-grid-header">

                                    </thead>
                                    <tbody class="k-grid-content">
                                        <tr>
                                            <td class="k-header" style="width: 165px; height: 40px; text-transform: capitalize;" ng-if="Data=='Missing Column'" ng-repeat="Data in viewLogresult">
                                                <b style="text-transform: capitalize;">{{Data}}</b>
                                            </td>
                                            <td ng-show="missing=true" style="width: 165px;" ng-repeat="column in viewLogresultmissing">
                                                {{column}}
                                            </td>
                                        </tr>
                                        @*<tr >
                                            <td>

                                            </td>
                                        </tr>*@

                                        <tr>
                                            <td class="k-header" style="width: 165px; height: 40px; text-transform: capitalize;" ng-if="Data=='New Item'" ng-repeat="Data in viewLogresult">
                                                <b style="text-transform: capitalize;">{{Data}}</b>
                                            </td>
                                            <td ng-show="newitem=true" style="width: 165px;" ng-repeat="column in viewLogresultnewitem">
                                                {{column}}
                                            </td>
                                        </tr>
                                        @*<tr >

                                            <td>

                                            </td>
                                        </tr>*@
                                        <tr>
                                            <td class="k-header" style="width: 165px; height: 40px; text-transform: capitalize;" ng-if="Data=='DuplicateItem'" ng-repeat="Data in viewLogresult">
                                                <b style="text-transform: capitalize;">{{Data}}</b>
                                            </td>
                                            <td ng-show="duplicate=true" style="width: 165px;" ng-repeat="column in viewLogresultduplicate">
                                                {{column}}
                                            </td>
                                        </tr>
                                        @*<tr >

                                            <td ng-show="duplicate=true">

                                            </td>
                                        </tr>*@
                                    </tbody>
                                </table>

                                <button id="btn-example-file-reset" ng-disabled="!EditMode || !userRoleAddReferenceTable" class="btn btn-primary btn-xs" title="Indesign Import" ng-click="backlog()" type="button"><i class="fa fa-chevron-left"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
           
       
      

        <div kendo-window="winInDesignCatalogFileNameEditor" k-title="'FileName Editor'" k-width="550" k-height="234" k-visible="false"
             k-actions='["Close"]'
             k-modal="true" k-on-open="winInDesignCatalogFileNameEditorVisible = true" k-on-close="onClose(kendoEvent)">
            <div>
                <div id="newlayout" ng-cloak>
                    <div ng-controller="IndesignController">
                        <div class="col-sm-11" style="height:40px">
                            <div class="col-sm-3 bold margintop">
                                XML File Name&nbsp;
                            </div>
                            <div class="col-sm-7">
                                <input type="text" id="txtXmlFileName" ng-model="catalogXmlFileName" style="width:250px" onkeypress='return (event.which >= 48 && event.which <= 57) || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || event.which == 8 || event.which == 46 || event.which == 95 || event.which == 92  || event.which == 32' />
                                <br />
                            </div>
                        </div>

                        <div>
                            <div class="col-sm-11" align="center">
                                <br />
                                <button class="btn btn-primary btn-xs" type="button" ng-click="getCatalogFileName()" title="{{saveXmlFile}}">
                                    OK
                                </button>
                                <button class="btn btn-primary btn-xs" type="button" ng-click="closeWindow()" title="{{cancelXml}}">
                                    Cancel
                                </button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>




        <div id="familyPreview" class="k-state-border-up" style="display: none">
            <div class="panel-heading1 margin-top-15">Product Preview</div>
            @*<h4 style="text-align: center;background-color: #ffffff"><b>Family Preview</b></h4>*@
            @*<div class="margin-bottom-15 margin-top-15">
                    <button class="btn btn-primary btn-xs" type="button" ng-if="userPrint" ng-click='Print()' title="{{familyPrint}}">Print</button>
                    <button class="btn btn-primary btn-xs" type="button" ng-click='showFamily()' title="{{backToFamily}}">Back</button>
                </div>*@



            <div id="dynamictableFmlyIndesign" style="max-width: 100%; overflow: auto;font-size:10px;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif !important;">
                <script>

                    function PrintElem() {

                        var mywindow = window.open('', 'PRINT', 'height=400,width=600');

                        mywindow.document.write('<html><head><title>' + document.title + '</title>');
                        mywindow.document.write('</head><body >');
                        mywindow.document.write('<h1>' + document.title + '</h1>');

                        mywindow.document.write(document.getElementById("dynamictableFmlypopup").innerHTML);
                        mywindow.document.write('</body></html>');

                        mywindow.document.close(); // necessary for IE >= 10
                        mywindow.focus(); // necessary for IE >= 10*/


                        setTimeout(function () { mywindow.print(); }, 100);
                        setTimeout(function () { mywindow.close(); }, 10000);



                        //mywindow.print();
                        //mywindow.close();

                        return true;


                    }


                </script>


                <div id="dynamictableFmlypopup" style="max-width: 100%; overflow: auto;font-size:10px;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif !important;">
                    <style>
                        div#print_tab {
                            padding: 5px;
                            border: 1px solid #339933;
                            margin: 10px;
                        }

                        td.htmlpreviewtd {
                            background-color: #091f3f;
                            color: white;
                            height: 40px !important;
                            display: block;
                        }

                        h4.headertitle {
                            margin: 5px;
                            text-align: center;
                        }

                        .panel-heading1 {
                            border-bottom: 1px solid transparent;
                            background-position: 50% 50%;
                            background-color: #e5f2f8;
                            border-radius: 3px 3px 0 0;
                            margin-top: 10px;
                            display: block;
                        }

                        .table-striped > tbody > tr:nth-of-type(odd) {
                            background-color: #f1f1f1 !important;
                        }

                        td.featureheader {
                            border: 0px solid #ccc !important;
                        }

                        .subheader {
                            padding: 7px;
                            background: #d2d2d2;
                            color: #091f3f;
                            margin-bottom: 0px;
                            font-size: 18px;
                        }

                        h4.title {
                            background-color: #ccc;
                            padding: 10px;
                            margin-bottom: -20px;
                            text-align: center;
                            border: 1px solid #fff;
                        }

                        .htmlpreviewtable > tbody {
                            width: 100%;
                            display: table;
                        }

                        .htmlpreviewtable {
                            width: 100%;
                            overflow: auto;
                            display: block;
                        }

                        #sampleProdgrid1 > tbody > tr:nth-of-type(even) {
                            background: #f3f3f3;
                        }
                    </style>

                    <div id="print_tab" ng-show="TESTCHANGES">
                        <span data-ng-bind-html="trustAsHtml(PreviewText)"></span>
                    </div>
                    <div class="margin-bottom-15 padding-left-10">
                        <button id="previewPrint" class="btn btn-primary btn-xs" type="button" ng-if="userPrint" onclick="PrintElem()" title="{{familyPrint}}" style="margin-left: 10px;">Print</button>
                        @*<button class="btn btn-primary btn-xs" type="button" ng-click='showFamily()' title="{{backToFamily}}">Back</button>*@
                    </div>
                </div>
            </div>

         

        </div>



</form>
