﻿@{
    ViewBag.Title = "InDesign";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}
<script type="text/javascript" src='@Url.Content("~/Views/App/Indesign/IndesignController.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Views/App/Indesign/IndesignPopupController.js")'></script>

@section styles{
    <style>
        .k-grid table tbody tr {
            cursor: pointer;
        }

        .text-center, table tbody tr td, #dynamictable table tbody tr td {
            height: 35px;
            padding-left: 10px;
        }

        table thead tr th, #dynamictable table thead tr th {
            height: 35px;
            padding-left: 10px;
        }

        a:hover {
            text-decoration: none !important;
        }

        .k-window-action {
            /*visibility: hidden;*/
        }

        .small-caps {
            letter-spacing: 0em;
        }
    </style>
    <style type="text/css">
       /*.tab-content {
            display: table;
            width: 100%; 
        }*/

        div#IndesignGrid {
            /*width: 100%;*/
            overflow: auto;
            display: block;
        }

        .nav-tabs > li > a, .nav-tabs > li > a:focus {
            background-color: #091f3f;
            border-color: #091f3f;
            border-radius: 0 0 0 0 !important;
            color: #ffffff;
            line-height: 19px;
            margin-right: -1px;
            position: relative;
        }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            background-color: #4b9f46 !important;
            border-color: #4b9f46 #4b9f46 transparent !important;
            /* border-top: 2px solid #4b9f46; */
            color: #ffffff !important;
            line-height: 19px;
            /* margin-top: -1px; */
            z-index: 12;
        }

        .nav-tabs > li > a {
            margin-right: 0px !important;
        }

            .nav-tabs > li > a:hover {
                border-color: #4b9f46 #4b9f46 #4b9f46 !important;
            }

        .nav > li > a:focus, .nav > li > a:hover {
            text-decoration: none;
            background-color: #4b9f46 !important;
        }

        label {
            font-weight: 300 !important;
        }

        div.k-window {
            position: fixed !important;
            top: 84px !important;
        }

        .k-edit-form-container .editor-label, .k-edit-label {
            padding: 0px 1px 0px 4px !important;
            height: 20px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .k-edit-buttons{
            text-align: center !important;
        }

        .margintop {
            margin-top: 0px;
        }
    </style>

    }

    <div class="main-content no-margin no-padding container" ng-controller="IndesignController" ng-cloak>
        <div class="container no-padding">
            <div class="row no-margin">
                <div class="col-sm-12 no-padding">
                    <div style="height: auto;" class="panel-body panel-scroll ps-container no-margin">
                        <div class="col-sm-12 no-padding">
                            @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">InDesign Project Creation</span>  </div>")
                            <div class="panel panel-default">
                                <div style="min-height: auto;" class="panel-body panel-scroll ps-container" id="myTab1">
                                    <ul class="nav nav-tabs" role="tablist" id="myTab">
                                        <li class="active" id="lnkCategoryTab"><a href="#NewProjectTab" data-toggle="tab" title="{{newProjectTab}}">New Project Creation</a></li>
                                        <li id="lnkFamilyTab" class=""><a href="#OpenIndesignTab" data-toggle="tab" title="{{openNewProject}}">Open InDesign Project</a></li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent" style="">
                                        <div ng-show="userIndesign" id="NewProjectTab" class="tab-pane fade in active">
                                            <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;box-shadow: 0 1px 0 #2c232b inset;">
                                                <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>New Project
                                            </div>
                                            <div class="col-sm-12" style="margin-top: 10px">
                                                @{Html.RenderPartial("Indesign/IndesignCatalog");}
                                            </div>
                                        </div>
                                        <div id="OpenIndesignTab" class="tab-pane fade">
                                            @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">InDesign Project</span>  </div>")
                                            <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);
                                                background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;
                                                box-shadow: 0 1px 0 #2c232b inset;">
                                                <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>InDesign Project
                                            </div>
                                            <div class="col-sm-12" style="margin-top: 10px;min-height: 530px">
                                                @{Html.RenderPartial("Indesign/IndesignProject");}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>

        <div kendo-window="winInDesignAttributeSetup" id="sd" k-title="'InDesign Attribute Manager'" k-width="1000" k-height="450" k-visible="false"
             k-modal="true" k-on-open="winInDesignAttributeSetupVisible = true">
        </div>
        <br />
    </div>
