﻿@{
    ViewBag.Title = "Version";
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>List of changes for the MarketStudio</title>
    <link href="../../Design/VersionCss/assets/css/layout.css" rel="stylesheet" />
    <link href="../../Design/VersionCss/assets/css/styles.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Design/VersionCss/assets/images/favicon.ico" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:200,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">

    <style>
        .content {
            margin: 10px !important;
        }

        .newfeatureicon {
            background-image: url('../../Design/VersionCss/assets/images/added-line.png');
            width: 30px;
            height: 27px;
            display: block;
            float: left;
        }

        .liststyle {
            list-style: none;
            margin: 4px 4px 10px 0px;
            display: flex;
        }

        .reltitle {
            font-size: 24px;
            margin-bottom: 10px;
            font-weight: 400;
        }

        .relcontant {
            margin-bottom: 20px;
        }

        span.rightarrow {
            color: #339933;
            margin-right: 10px;
        }

        .blt_pts {
            display: flex;
            margin-left: 25px;
        }

        .blt_pts > span {
            margin-right: 15px;
        }

        .changes.w3-animate-left > ul {
            margin-bottom: 10px;
            margin-top: 15px;
        }

      /*  ol {
            counter-reset: item
        }

        li {
            display: block
        }

            li:before {
                content: counters(item, ".") " ";
                counter-increment: item
            }*/
    </style>

</head>
<body>

    <!--Header-->
    <div class="col-sm-12">
        <div class="top-header">
            <a href="10.9.4.html"><img class="logo" alt="Logo" src="../../Design/VersionCss/assets/images/MarketStudio.png" /> </a>
            <div class="background" style="background-image: url('../../Design/VersionCss/assets/images/top_bg.jpg'); background-repeat: round;"></div>
            <div class="content"></div>
        </div>
    </div>
    <!--Header Ends-->
    <!--Section One-->
    <div class="custom w3-animate-right">
        <div class="header">
            <table>
                <tbody>
                    <tr>
                        <td class="caption">What's New On</td>
                    </tr>
                    <tr>
                        <td class="caption"><span style="color: #091f3f;font-weight: 500;">Market</span><span style="color: #4b9f46;font-weight: 500;">Studio</span> 10.9.4</td>
                    </tr>
                    <tr>
                        <td>Roll of enhancements, bug fixes.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Section One Ends-->
    <!--Section Two-->
    <li id="content" style="list-style-type: none;">
        <div class="cs-changes">
            <!-- Changes List -->
            <div class="article changes">

                <div class="reltitle">About This Release</div>
                <div class="relcontant">This release is a full version of the MarketStudio 10.9.4. It can coexist on the same with earlier point releases of the product starting from Version 10.4.</div>

                <div class="reltitle">What’s New</div>
                <div class="relcontant">The following features are available in this release and OCP & Console were developed using Angular 12.0.5 and Web API:</div>

                <div class="changes w3-animate-left" style="margin-bottom: 30px !important;">
                    <h3 style="font-size: 20px;margin-bottom: 15px;color: #339933;">1. PIM</h3>
                    <ul style="padding-left: 0;">
                        <li class="liststyle"><span class="rightarrow">&#8658;</span> General </li>
                    </ul>

                    <div class="blt_pts"><span>1.1.</span> We have changed the Family and Product calling terminology "Family as Product” and "Product as Items" and applied the name changes in all the pages (UI and Excel export/import files). </div>
                    <div class="blt_pts"><span>1.2.</span>	Implemented the spell check option to all the textboxes and a red line will be displayed for misspelled words.  </div>
                    <div class="blt_pts"><span>1.3.</span>	If the OCP portal do not configured then the system will display an alert message. </div>
                    <div class="blt_pts"><span>1.4.</span>	Filter by Attribute Type(Filter tag) </div>
                    @*<div class="blt_pts"><span>1.5.</span>	Now we can use the Local Active Directory concept in MarketStudio PIM and it is a configurable one (Rakesh will configure the setup in local machine and after that we will show a demo to Hari). (TAC team – Do not test it).   </div>*@


                    <ul style="padding-left: 0;">
                        <li class="liststyle"><span class="rightarrow">&#8658;</span> Category / Product / Items  </li>
                    </ul>

                    <div class="blt_pts"><span>1.5.</span>Need to update template at catalog level then only category preview will work otherwise system will display an alter message. </div>
                    @*<div class="blt_pts"><span>1.6.</span>User can see a category’s product items in a grid like Item list and can also filter the items by selecting any specific product.     </div>*@
                    <div class="blt_pts"><span>1.6.</span>In Product's attribute display section, Changed the product specifications access option from Tab to Icons, when clicking the respective icons system will display the related specifications.  </div>


                    <ul style="padding-left: 0;">
                        <li class="liststyle"><span class="rightarrow">&#8658;</span> InDesign Project  </li>
                    </ul>

                    <div class="blt_pts"><span>1.7.</span>To highlight the modified Product and InDesign XML file name in InDesign project section. </div>
                    <div class="blt_pts"><span>1.8.</span>In the XML generation process now we have added the MSID for all the field and it will be used for highlight the modified content in InStudio plug-in.   </div>


                    <ul style="padding-left: 0;">
                        <li class="liststyle"><span class="rightarrow">&#8658;</span> Asset Management  </li>
                    </ul>

                    <div class="blt_pts"><span>1.9.</span>We can filter the files based on Date range. </div>
                    <div class="blt_pts"><span>1.10.</span>We can filter the files based File Size.     </div>
                    <div class="blt_pts"><span>1.11.</span>Users can add Star to their favorite files and can view the starred files in separate page.    </div>



                    <ul style="padding-left: 0;">
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>Category Detach changes  </li>
                    </ul>

                    <div class="blt_pts"><span>1.12.</span>If we detach a category from working catalog then it should detached from working catalog and do NOT detach it from Master Catalog. </div>
                    <div class="blt_pts"><span>1.13.</span>User should able to retain the detached category from Master Catalog into working catalog.</div>
                    <div class="blt_pts"><span>1.14.</span>If we detach a cloned category, the cloned category and its product  should be removed and not from original category.    </div>

                    <ul style="padding-left: 0;">
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>Product Detach (Family) changes  </li>
                    </ul>

                    <div class="blt_pts"><span>1.15.</span>User should able to retain the detached Product (family) from Master Catalog into working catalog.</div>


                    <ul style="padding-left: 0;">
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>Item Detach (Product)  </li>
                    </ul>

                    <div class="blt_pts"><span>1.16.</span>If we detach an Item from working catalog then it should detached from working catalog and Master Catalog. </div>
                    <div class="blt_pts"><span>1.17.</span>If a user detaches an item and it is existing only in the selected product  then the system should show an alert message asking “do you want to move this to the default  product” and if yes move the item to the default product otherwise DELETE (not detach) the item from the working catalog.   </div>

                    <ul style="padding-left: 0;">
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>Newly Added Features </li>
                    </ul>
                    <div class="blt_pts"><span>1.18.</span>Creating Item attribute groups and associating them with Products. Attributes that have been published and selected are not disrupted. By un-associating that attribute group from the product, in previous version the attributes become unpublished and unselected now only the group get removed and all the published attributes remains same. </div>
                    <div class="blt_pts"><span>1.19.</span>To avoid using Special characters and duplication in the attribute name. </div>


                    <div class="blt_pts"><span>1.20.</span>Handled the Cloned category detach. </div>
                    <div class="blt_pts"><span>1.21.</span>In the PDF template the cover image and logo images are static; it means the image attached to that template. It will not refer to any dynamic path. </div>


                </div>

                <div class="changes w3-animate-left" style="margin-bottom: 30px !important;">
                    <h3 style="font-size: 20px;margin-bottom: 15px;color: #339933;">2. Console</h3>

                    <div class="blt_pts"><span>2.1.</span>Now admin users can set the user access permission to MarketStudio WEB (OCP) features.  </div>
                    <div class="blt_pts"><span>2.2.</span>Newly implemented the password policy feature in User creation page and it is a configurable one.   </div>

                </div>

                <div class="changes w3-animate-left" style="margin-bottom: 30px !important;">
                    <h3 style="font-size: 20px;margin-bottom: 15px;color: #339933;">3. OCP</h3>

                    <div class="blt_pts"><span>3.1.</span>Users can set font, logo and other styles in CONSOLE web configuration page and it will reflect in OCP site.  </div>
                    <div class="blt_pts"><span>3.2.</span>Implemented Single Sign-on (SSO) concept.  </div>
                    <div class="blt_pts"><span>3.3.</span>Implemented category / Product / Item wise PDF Generation (Web Portal) and in PDFxPress portal we can select Category / Product and generate PDFs.  </div>
                    <div class="blt_pts"><span>3.4.</span>Now we have handled the "Publish to WEB" in OCP site.</div>
                    <div class="blt_pts"><span>3.5.</span>Now Admin user can add Key (Product / Item) attributes in search attributes setup in super admin page.   </div>
                    <div class="blt_pts"><span>3.6.</span>Added the Key attributes in the left side filter list.  </div>
                    <div class="blt_pts"><span>3.7.</span>Now user can select one or more items and add it into the Wishlist. Use can create multiple Wishlist and add items into one of the Wishlist. The selected products will get displayed on the Wishlist page. User can create new Wishlist name or can save the multiple items under the existing Wishlist name.</div>
                    <div class="blt_pts">
                        <span>3.8.</span>Implemented the flipping Book feature similar to what we have in the previous version. In this we have developed the page flip using navigation controls, search, Copy link, sharing option (Email, Facebook, LinkedIn, twitter) and full screen mode. @*In this feature the following things are not developed yet.
                        1. Click on the image to flip the page instead of that we need to use the navigation icons.
                        2. Auto Play and stop feature
                        3. Index Feature*@
                    </div>

                </div>

                <div class="changes w3-animate-left" style="margin-bottom: 30px !important;">
                    <h3 style="font-size: 20px;margin-bottom: 15px;color: #339933;">4. Major Issues Fixed</h3>

                    <ul style="padding-left: 0;">
                        <li class="liststyle"><span class="rightarrow">&#8658;</span> Navigation / Category / Product / Items  </li>
                    </ul>

                    <div class="blt_pts"><span>4.1.</span>In a Catalog, Full export 1100 products are exported from the catalog. </div>
                    <div class="blt_pts"><span>4.2.</span>In product grid import fixed the Product attribute update issue using without ID option. </div>
                    <div class="blt_pts"><span>4.3.</span>If the admin user not configured the OCP site URL in PIM menu (Online Catalog) then the system will display an alert message.  </div>
                    <div class="blt_pts"><span>4.4.</span>In the product's Item export and import, Item level attributes are not updating and we have fix it.</div>

                    <ul style="padding-left: 0;">
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>Export & Import  </li>
                    </ul>

                    @*<div class="blt_pts"><span>4.5.</span>Removed the ROW wise export option (It was not used by any of our customer) </div>*@
                    <div class="blt_pts"><span>4.5.</span>In Single sheet we have fixed the additional records coming in the export sheet.  </div>


                    <ul style="padding-left: 0;">
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>InDesign  </li>
                    </ul>

                    <div class="blt_pts"><span>4.6.</span>InDesign project import works only if the "Enabled ID" filed is set as true. Now we are exporting with IDs even if the "Enabled ID" filed is set as false.  </div>

                    <ul style="padding-left: 0;">
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>OCP  </li>
                    </ul>

                    <div class="blt_pts"><span>4.7.</span>Handled the Main product name first and then the sub product  name in OCP.  </div>

                    <ul style="padding-left: 0;">
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>General  </li>
                    </ul>

                    <div class="blt_pts"><span>4.8.</span>Fixed the major design issues.   </div>

                </div>





                <!--New Features Ends-->

            </div>

        </div>
        </div>
        <!--Section Two Ends-->
        <!--Footer-->
        <div class="col-sm-12 footer">
            <span>Copyright © 2023 Questudio. All rights reserved.</span>
        </div>
        <!--Footer Ends-->

</body>
</html>

