
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

html {
    overflow-x: hidden;
}

.k-filename {
    float: left !important;
}

.k-icon {
    right: 76% !important;
}

.visible {
    visibility: visible;
}

.not-visible {
    visibility: hidden;
}

.fullwidth {
    display: block;
    width: 100%;
}

.hairline {
    font-weight: 100;
}

.light {
    font-weight: 300;
}

.normal {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.extrabold {
    font-weight: 800;
}

.black {
    font-weight: 900;
}

.uppercase {
    text-transform: uppercase;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
    zoom: 1;
}

.pull-left {
    display: block;
    float: left;
}

.pull-right {
    display: block;
    float: right;
}
/* wordpress default classes */
.alignleft {
    display: block;
    float: left;
    margin-right: 15px;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.alignright {
    display: block;
    float: right;
    margin-left: 15px;
}

.alignnone {
    max-width: 100%;
}


/* Margin */
.margin-0 {
    margin: 0px !important;
}

.margin-5 {
    margin: 5px !important;
}

.margin-vertical-5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.margin-horizontal-5 {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.margin-top-0 {
    margin-top: 0px !important;
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.margin-right-0 {
    margin-right: 0px !important;
}

.margin-left-0 {
    margin-left: 0px !important;
}

.margin-top-3 {
    margin-top: 3px !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-m5 {
    margin-top: -5px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-left-5 {
    margin-left: 5px !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}

/* Padding */
.padding-0 {
    padding: 0px !important;
}

.padding-top-0 {
    padding-top: 0px !important;
}

.padding-bottom-0 {
    padding-bottom: 0px !important;
}

.padding-right-0 {
    padding-right: 0px !important;
}

.padding-left-0 {
    padding-left: 0px !important;
}

.padding-3 {
    padding: 3px !important;
}

.padding-left-3 {
    padding-left: 3px !important;
}

.padding-top-3 {
    padding-top: 3px !important;
}

.padding-bottom-3 {
    padding-bottom: 3px !important;
}

.padding-right-6 {
    padding-right: 6px !important;
}

.padding-3 {
    padding: 3px !important;
}

.padding-5 {
    padding: 5px !important;
}

.padding-vertical-5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.padding-horizontal-5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.padding-top-3 {
    padding-top: 3px !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.padding-left-2 {
    padding-left: 2px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

/* Margin */
.margin-10 {
    margin: 10px !important;
}

.margin-vertical-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.margin-horizontal-10 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-m10 {
    margin-top: -10px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-right-10 {
    margin-right: 10px !important;
}

/* Padding */
.padding-10 {
    padding: 10px !important;
}

.padding-vertical-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.padding-horizontal-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.padding-top-10 {
    padding-top: 10px !important;
}

.padding-bottom-10 {
    padding-bottom: 10px !important;
}

.padding-left-10 {
    padding-left: 10px !important;
}

.padding-right-10 {
    padding-right: 10px !important;
}
.con-number > p, .con-mail > p {
    font-size: 14px;
}
.con-number, .con-mail {
    padding-bottom: 25px;
}

.attr-g > span {
    height: 31px;
}

.attr-g > span > span {
   line-height: 26px !important;
}

.k-filter-menu .k-dropdown{
    width: 100% !important;
}

form.k-filter-menu.k-popup.k-group.k-reset > div > label > input {
    margin-right: 5px;
}

form.k-filter-menu.k-popup.k-group.k-reset > div > label {
    margin-right: 15px;
}



.contact_flex {
    display: flex;
    justify-content: space-around;
}



/* Margin */
.margin-15 {
    margin: 15px !important;
}

.margin-vertical-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.margin-horizontal-15 {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.margin-left-15 {
    margin-left: 15px !important;
}

.margin-right-15 {
    margin-right: 15px !important;
}

/* Padding */
.padding-15 {
    padding: 15px !important;
}

.padding-vertical-15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.padding-horizontal-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.padding-top-15 {
    padding-top: 15px !important;
}

.padding-bottom-15 {
    padding-bottom: 15px !important;
}

.padding-left-15 {
    padding-left: 15px !important;
}

.padding-right-15 {
    padding-right: 15px !important;
}

/* Margin */
.margin-20 {
    margin: 20px !important;
}

.margin-vertical-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.margin-horizontal-20 {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.margin-horizontal-m20 {
    margin-left: -20px !important;
    margin-right: -20px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-m20 {
    margin-top: -20px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}

.margin-right-20 {
    margin-right: 20px !important;
}

/* Padding */
.padding-20 {
    padding: 20px !important;
}

.padding-vertical-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.padding-horizontal-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.padding-top-20 {
    padding-top: 20px !important;
}

.padding-bottom-20 {
    padding-bottom: 20px !important;
}

.padding-left-20 {
    padding-left: 20px !important;
}

.padding-right-20 {
    padding-right: 20px !important;
}

/* Margin */
.margin-25 {
    margin: 25px !important;
}

.margin-vertical-25 {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

.margin-horizontal-25 {
    margin-left: 25px !important;
    margin-right: 25px !important;
}

.margin-top-25 {
    margin-top: 25px !important;
}

.margin-bottom-25 {
    margin-bottom: 25px !important;
}

.margin-left-25 {
    margin-left: 25px !important;
}

.margin-right-25 {
    margin-right: 25px !important;
}

/* Padding */
.padding-25 {
    padding: 25px !important;
}

.padding-vertical-25 {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}

.padding-horizontal-25 {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.padding-top-25 {
    padding-top: 25px !important;
}

.padding-bottom-25 {
    padding-bottom: 25px !important;
}

.padding-left-25 {
    padding-left: 25px !important;
}

.padding-right-25 {
    padding-right: 25px !important;
}

/* Margin */
.margin-30 {
    margin: 30px !important;
}

.margin-vertical-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.margin-horizontal-30 {
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-left-30 {
    margin-left: 30px !important;
}

.margin-right-30 {
    margin-right: 30px !important;
}

/* Padding */
.padding-30 {
    padding: 30px !important;
}

.padding-vertical-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.padding-horizontal-30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.padding-top-30 {
    padding-top: 30px !important;
}

.padding-bottom-30 {
    padding-bottom: 30px !important;
}

.padding-left-30 {
    padding-left: 30px !important;
}

.padding-right-30 {
    padding-right: 30px !important;
}

/* Margin */
.margin-35 {
    margin: 35px !important;
}

.margin-vertical-35 {
    margin-top: 35px !important;
    margin-bottom: 35px !important;
}

.margin-horizontal-35 {
    margin-left: 35px !important;
    margin-right: 35px !important;
}

.margin-top-35 {
    margin-top: 35px !important;
}

.margin-bottom-35 {
    margin-bottom: 35px !important;
}

.margin-left-35 {
    margin-left: 35px !important;
}

.margin-right-35 {
    margin-right: 35px !important;
}

/* Padding */
.padding-35 {
    padding: 35px !important;
}

.padding-vertical-35 {
    padding-top: 35px !important;
    padding-bottom: 35px !important;
}

.padding-horizontal-35 {
    padding-left: 35px !important;
    padding-right: 35px !important;
}

.padding-top-35 {
    padding-top: 35px !important;
}

.padding-bottom-35 {
    padding-bottom: 35px !important;
}

.padding-left-35 {
    padding-left: 35px !important;
}

.padding-right-35 {
    padding-right: 35px !important;
}

/* Margin */
.margin-40 {
    margin: 40px !important;
}

.margin-vertical-40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.margin-horizontal-40 {
    margin-left: 40px !important;
    margin-right: 40px !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.margin-left-40 {
    margin-left: 40px !important;
}

.margin-right-40 {
    margin-right: 40px !important;
}

/* Padding */
.padding-40 {
    padding: 40px !important;
}

.padding-vertical-40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.padding-horizontal-40 {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.padding-top-40 {
    padding-top: 40px !important;
}

.padding-bottom-40 {
    padding-bottom: 40px !important;
}

.padding-left-40 {
    padding-left: 40px !important;
}

.padding-right-40 {
    padding-right: 40px !important;
}

/* Margin */
.margin-45 {
    margin: 45px !important;
}

.margin-vertical-45 {
    margin-top: 45px !important;
    margin-bottom: 45px !important;
}

.margin-horizontal-45 {
    margin-left: 45px !important;
    margin-right: 45px !important;
}

.margin-top-45 {
    margin-top: 45px !important;
}

.margin-bottom-45 {
    margin-bottom: 45px !important;
}

.margin-left-45 {
    margin-left: 45px !important;
}

.margin-right-45 {
    margin-right: 45px !important;
}

/* Padding */
.padding-45 {
    padding: 45px !important;
}

.padding-vertical-45 {
    padding-top: 45px !important;
    padding-bottom: 45px !important;
}

.padding-horizontal-45 {
    padding-left: 45px !important;
    padding-right: 45px !important;
}

.padding-top-45 {
    padding-top: 45px !important;
}

.padding-bottom-45 {
    padding-bottom: 45px !important;
}

.padding-left-45 {
    padding-left: 45px !important;
}

.padding-right-45 {
    padding-right: 45px !important;
}

/* Margin */
.margin-50 {
    margin: 50px !important;
}

.margin-vertical-50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.margin-horizontal-50 {
    margin-left: 50px !important;
    margin-right: 50px !important;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.margin-bottom-50 {
    margin-bottom: 50px !important;
}

.margin-left-50 {
    margin-left: 50px !important;
}

.margin-right-50 {
    margin-right: 50px !important;
}

/* Padding */
.padding-50 {
    padding: 50px !important;
}

.padding-vertical-50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.padding-horizontal-50 {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.padding-top-50 {
    padding-top: 50px !important;
}

.padding-bottom-50 {
    padding-bottom: 50px !important;
}

.padding-left-50 {
    padding-left: 50px !important;
}

.padding-right-50 {
    padding-right: 50px !important;
}

/* Margin */
.margin-55 {
    margin: 55px !important;
}

.margin-vertical-55 {
    margin-top: 55px !important;
    margin-bottom: 55px !important;
}

.margin-horizontal-55 {
    margin-left: 55px !important;
    margin-right: 55px !important;
}

.margin-top-55 {
    margin-top: 55px !important;
}

.margin-bottom-55 {
    margin-bottom: 55px !important;
}

.margin-left-55 {
    margin-left: 55px !important;
}

.margin-right-55 {
    margin-right: 55px !important;
}

/* Padding */
.padding-55 {
    padding: 55px !important;
}

.padding-vertical-55 {
    padding-top: 55px !important;
    padding-bottom: 55px !important;
}

.padding-horizontal-55 {
    padding-left: 55px !important;
    padding-right: 55px !important;
}

.padding-top-55 {
    padding-top: 55px !important;
}

.padding-bottom-55 {
    padding-bottom: 55px !important;
}

.padding-left-55 {
    padding-left: 55px !important;
}

.padding-right-55 {
    padding-right: 55px !important;
}

/* Margin */
.margin-60 {
    margin: 60px !important;
}

.margin-vertical-60 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}

.margin-horizontal-60 {
    margin-left: 60px !important;
    margin-right: 60px !important;
}

.margin-top-60 {
    margin-top: 60px !important;
}

.margin-bottom-60 {
    margin-bottom: 60px !important;
}

.margin-left-60 {
    margin-left: 60px !important;
}

.margin-right-60 {
    margin-right: 60px !important;
}

/* Padding */
.padding-60 {
    padding: 60px !important;
}

.padding-vertical-60 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.padding-horizontal-60 {
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.padding-top-60 {
    padding-top: 60px !important;
}

.padding-bottom-60 {
    padding-bottom: 60px !important;
}

.padding-left-60 {
    padding-left: 60px !important;
}

.padding-right-60 {
    padding-right: 60px !important;
}

/* Margin */
.margin-65 {
    margin: 65px !important;
}

.margin-vertical-65 {
    margin-top: 65px !important;
    margin-bottom: 65px !important;
}

.margin-horizontal-65 {
    margin-left: 65px !important;
    margin-right: 65px !important;
}

.margin-top-65 {
    margin-top: 65px !important;
}

.margin-bottom-65 {
    margin-bottom: 65px !important;
}

.margin-left-65 {
    margin-left: 65px !important;
}

.margin-right-65 {
    margin-right: 65px !important;
}

/* Padding */
.padding-65 {
    padding: 65px !important;
}

.padding-vertical-65 {
    padding-top: 65px !important;
    padding-bottom: 65px !important;
}

.padding-horizontal-65 {
    padding-left: 65px !important;
    padding-right: 65px !important;
}

.padding-top-65 {
    padding-top: 65px !important;
}

.padding-bottom-65 {
    padding-bottom: 65px !important;
}

.padding-left-65 {
    padding-left: 65px !important;
}

.padding-right-65 {
    padding-right: 65px !important;
}

/* Margin */
.margin-70 {
    margin: 70px !important;
}

.margin-vertical-70 {
    margin-top: 70px !important;
    margin-bottom: 70px !important;
}

.margin-horizontal-70 {
    margin-left: 70px !important;
    margin-right: 70px !important;
}

.margin-top-70 {
    margin-top: 70px !important;
}

.margin-bottom-70 {
    margin-bottom: 70px !important;
}

.margin-left-70 {
    margin-left: 70px !important;
}

.margin-right-70 {
    margin-right: 70px !important;
}

/* Padding */
.padding-70 {
    padding: 70px !important;
}

.padding-vertical-70 {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
}

.padding-horizontal-70 {
    padding-left: 70px !important;
    padding-right: 70px !important;
}

.padding-top-70 {
    padding-top: 70px !important;
}

.padding-bottom-70 {
    padding-bottom: 70px !important;
}

.padding-left-70 {
    padding-left: 70px !important;
}

.padding-right-70 {
    padding-right: 70px !important;
}

/* Margin */
.margin-75 {
    margin: 75px !important;
}

.margin-vertical-75 {
    margin-top: 75px !important;
    margin-bottom: 75px !important;
}

.margin-horizontal-75 {
    margin-left: 75px !important;
    margin-right: 75px !important;
}

.margin-top-75 {
    margin-top: 75px !important;
}

.margin-bottom-75 {
    margin-bottom: 75px !important;
}

.margin-left-75 {
    margin-left: 75px !important;
}

.margin-right-75 {
    margin-right: 75px !important;
}

/* Padding */
.padding-75 {
    padding: 75px !important;
}

.padding-vertical-75 {
    padding-top: 75px !important;
    padding-bottom: 75px !important;
}

.padding-horizontal-75 {
    padding-left: 75px !important;
    padding-right: 75px !important;
}

.padding-top-75 {
    padding-top: 75px !important;
}

.padding-bottom-75 {
    padding-bottom: 75px !important;
}

.padding-left-75 {
    padding-left: 75px !important;
}

.padding-right-75 {
    padding-right: 75px !important;
}

/* Margin */
.margin-80 {
    margin: 80px !important;
}

.margin-vertical-80 {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
}

.margin-horizontal-80 {
    margin-left: 80px !important;
    margin-right: 80px !important;
}

.margin-top-80 {
    margin-top: 80px !important;
}

.margin-bottom-80 {
    margin-bottom: 80px !important;
}

.margin-left-80 {
    margin-left: 80px !important;
}

.margin-right-80 {
    margin-right: 80px !important;
}

/* Padding */
.padding-80 {
    padding: 80px !important;
}

.padding-vertical-80 {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}

.padding-horizontal-80 {
    padding-left: 80px !important;
    padding-right: 80px !important;
}

.padding-top-80 {
    padding-top: 80px !important;
}

.padding-bottom-80 {
    padding-bottom: 80px !important;
}

.padding-left-80 {
    padding-left: 80px !important;
}

.padding-right-80 {
    padding-right: 80px !important;
}

/* Margin */
.margin-85 {
    margin: 85px !important;
}

.margin-vertical-85 {
    margin-top: 85px !important;
    margin-bottom: 85px !important;
}

.margin-horizontal-85 {
    margin-left: 85px !important;
    margin-right: 85px !important;
}

.margin-top-85 {
    margin-top: 85px !important;
}

.margin-bottom-85 {
    margin-bottom: 85px !important;
}

.margin-left-85 {
    margin-left: 85px !important;
}

.margin-right-85 {
    margin-right: 85px !important;
}

/* Padding */
.padding-85 {
    padding: 85px !important;
}

.padding-vertical-85 {
    padding-top: 85px !important;
    padding-bottom: 85px !important;
}

.padding-horizontal-85 {
    padding-left: 85px !important;
    padding-right: 85px !important;
}

.padding-top-85 {
    padding-top: 85px !important;
}

.padding-bottom-85 {
    padding-bottom: 85px !important;
}

.padding-left-85 {
    padding-left: 85px !important;
}

.padding-right-85 {
    padding-right: 85px !important;
}

/* Margin */
.margin-90 {
    margin: 90px !important;
}

.margin-vertical-90 {
    margin-top: 90px !important;
    margin-bottom: 90px !important;
}

.margin-horizontal-90 {
    margin-left: 90px !important;
    margin-right: 90px !important;
}

.margin-top-90 {
    margin-top: 90px !important;
}

.margin-bottom-90 {
    margin-bottom: 90px !important;
}

.margin-left-90 {
    margin-left: 90px !important;
}

.margin-right-90 {
    margin-right: 90px !important;
}

/* Padding */
.padding-90 {
    padding: 90px !important;
}

.padding-vertical-90 {
    padding-top: 90px !important;
    padding-bottom: 90px !important;
}

.padding-horizontal-90 {
    padding-left: 90px !important;
    padding-right: 90px !important;
}

.padding-top-90 {
    padding-top: 90px !important;
}

.padding-bottom-90 {
    padding-bottom: 90px !important;
}

.padding-left-90 {
    padding-left: 90px !important;
}

.padding-right-90 {
    padding-right: 90px !important;
}

/* Margin */
.margin-95 {
    margin: 95px !important;
}

.margin-vertical-95 {
    margin-top: 95px !important;
    margin-bottom: 95px !important;
}

.margin-horizontal-95 {
    margin-left: 95px !important;
    margin-right: 95px !important;
}

.margin-top-95 {
    margin-top: 95px !important;
}

.margin-bottom-95 {
    margin-bottom: 95px !important;
}

.margin-left-95 {
    margin-left: 95px !important;
}

.margin-right-95 {
    margin-right: 95px !important;
}

/* Padding */
.padding-95 {
    padding: 95px !important;
}

.padding-vertical-95 {
    padding-top: 95px !important;
    padding-bottom: 95px !important;
}

.padding-horizontal-95 {
    padding-left: 95px !important;
    padding-right: 95px !important;
}

.padding-top-95 {
    padding-top: 95px !important;
}

.padding-bottom-95 {
    padding-bottom: 95px !important;
}

.padding-left-95 {
    padding-left: 95px !important;
}

.padding-right-95 {
    padding-right: 95px !important;
}

/* Margin */
.margin-100 {
    margin: 100px !important;
}

.margin-vertical-100 {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

.margin-horizontal-100 {
    margin-left: 100px !important;
    margin-right: 100px !important;
}

.margin-top-100 {
    margin-top: 100px !important;
}

.margin-bottom-100 {
    margin-bottom: 100px !important;
}

.margin-left-100 {
    margin-left: 100px !important;
}

.margin-right-100 {
    margin-right: 100px !important;
}

/* Padding */
.padding-100 {
    padding: 100px !important;
}

.padding-vertical-100 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

.padding-horizontal-100 {
    padding-left: 100px !important;
    padding-right: 100px !important;
}

.padding-horizontal-105 {
    padding-left: 105px !important;
    padding-right: 105px !important;
}

.padding-top-100 {
    padding-top: 100px !important;
}

.padding-bottom-100 {
    padding-bottom: 100px !important;
}

.padding-left-100 {
    padding-left: 100px !important;
}

.padding-right-100 {
    padding-right: 100px !important;
}

.margin-bottom-8 {
    margin-bottom: -8px !important;
}

.color-white {
    color: #fff;
}

.color-green {
    color: #4c9d27 !important;
}

.color-lightgreen {
    color: #5cb85c !important;
}

.color-green a:hover {
    text-decoration: underline;
}

.color-red {
    color: #CE0809;
}

.color-grey {
    color: #333;
}

    .color-grey a {
        color: #333 !important;
    }

        .color-grey a:hover {
            color: #333 !important;
            text-decoration: none !important;
        }

        .color-grey a:focus {
            color: #333 !important;
            text-decoration: none !important;
        }

.color-blue {
    color: #0000FF !important;
}

.background-color-light {
    color: #000 !important;
    background-color: #b7b7b7 !important;
}

.background-color-dark {
    color: #fff;
    background-color: #333;
}

.background-color-white {
    color: #000 !important;
    background-color: #fff !important;
}

.background-color-green {
    color: #0f1d40 !important;
    background-color: #339933 !important;
}

.background-color-darkgreen {
    color: #fff !important;
    background-color: #227822 !important;
}

.background-color-blue {
    color: #fff !important;
    background-color: #0f1d40 !important;
}

.background-color-grey {
    background-color: #f6f6f6 !important;
}


.center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.justify {
    text-align: justify !important;
}

.border {
    border: 1px solid #c1c1c1;
}

.border-horizontal-3 {
    border-right: 3px solid #c1c1c1 !important;
    border-left: 3px solid #c1c1c1 !important;
}

.border-horizontal-left {
    border-left: 3px solid #c1c1c1 !important;
}

.border-bottom-lightblue {
    border-bottom: 1px solid #8098d8;
}

.border-top-green {
    border-top: 3px solid #339933;
}

.border-blue {
    border: 2px solid #0f1d40;
}

.border-top-blue {
    border-top: 3px solid #0f1d40;
}

.border-black {
    border: 1px solid #000;
}

.border-green {
    border: 1px solid #4c9d27;
}

.border-left {
    border-left: 1px solid #c1c1c1;
}

.border-right {
    border-right: 1px solid #c1c1c1;
}

.border-right-white {
    border-right: 1px solid #fff !important;
}

.border-bottom {
    border-bottom: 1px solid #c1c1c1;
}

.border-nobottom {
    border-bottom: 0px solid #c1c1c1 !important;
}

.border-notop {
    border-top: 0px solid #c1c1c1 !important;
}

.border-top {
    border-top: 1px solid #c1c1c1;
}

.border-radius {
    border-radius: 0 !important;
}

.font-thin {
    font-weight: 500 !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-13 {
    font-size: 13px !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-10 {
    font-size: 10px !important;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-22 {
    font-size: 22px;
}

.font-24 {
    font-size: 24px;
}

.font-35 {
    font-size: 35px;
}

.select-width {
    width: 65%;
}

.select-width1 {
    width: 100%;
}

.width-35 {
    width: 35px;
}

.width-55 {
    width: 55px;
}

.width-65 {
    width: 65px;
    padding-right: 5px !important;
    margin-left: 3px !important;
}

.width-100 {
    width: 100%;
}

.width-70 {
    width: 70%;
}

.float-right {
    float: right !important;
}

/*Popup Animation*/

.w3-animate-fading {
    animation: fading 5s infinite;
}

@keyframes fading {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.w3-animate-opacity {
    animation: opac 0.8s;
}

@keyframes opac {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.w3-animate-top {
    position: absolute;
    animation: animatetop 1s;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0px;
        opacity: 1;
    }
}

.w3-animate-left {
    position: fixed;
    animation: animateleft 0.4s;
}

@keyframes animateleft {
    from {
        left: -500px;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}

.w3-animate-right {
    position: relative;
    animation: animateright 0.7s;
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}

.w3-animate-bottom {
    position: absolute;
    animation: animatebottom 1s;
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}

.w3-animate-zoom, .k-window {
    animation: animatezoom 0.7s !important;
    top: 15% !important;
}

div.msgBox {
    animation: animatezoom 0.7s !important;
    /*top: 15% !important;*/
}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.w3-animate-input {
    transition: width 0.4s ease-in-out;
}

    .w3-animate-input:focus {
        width: 100% !important;
    }

/*Popup Animation Ends*/


.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important; /* essential for enabling glyphicon */
    content: "\e114"; /* adjust as needed, taken from bootstrap.css */
    float: right; /* adjust as needed */
    color: grey; /* adjust as needed */
    margin-top: -18px;
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}

.spacing-right {
    padding-right: 40px;
}

.spacing-left {
    padding-left: 40px;
}

.footer {
    position: absolute;
    width: 100%;
    padding-top: 5px;
    height: 30px;
    text-align: center;
    color: #fff;
    /*background-color: #525252;*/
    background-color: #091f3f;
}

.hide-menu {
    display: none;
}

.header-bg {
    background: url(../images/header.jpg) no-repeat;
    background-position: right top;
}

@media screen and (max-width: 500px) and (min-width: 300px) {

    ul#ImportProcess > li {
        width: 90% !important;
    }


    div#sidebar-wrapper2 {
        min-width: 100%;
        z-index: 0;
    }
}

@media screen and (max-width: 1260px) and (min-width: 500px) {

    li.mappingattribute {
        width: 86% !important;
    }
}

@media screen and (max-width: 750px) and (min-width: 300px) {

    div#tabstrip {
        min-width: 100% !important;
    }

    .table.table-responsive.table-bordered.padding-0.padding-bottom-10 {
        width: 75%;
    }

    div#sidebar-wrapper2 {
        min-width: 100%;
        z-index: 0;
        padding: 0px !important;
        height: auto;
    }
}

@media only screen and (max-width: 765px) {

    .header-bg {
        background: url(../images/header.png) no-repeat;
        background-position: right top;
    }

    .hide-menu {
        display: block;
    }
}

.k-filename {
    float: left !important;
}

.k-icon {
    right: 76% !important;
}


/*.main-menu-copy {
    background: #091f3f !important;
}*/

/*Dynamic popup search*/

.search-row {
    position: relative !important;
    background: #eee;
    height: 87px;
    z-index: 3;
    width: auto;
    min-width: 450px;
    padding: 10px;
    margin: -30px -35px 0px -35px !important;
    overflow-x: hidden !important;
}

.btnsearch {
    line-height: 1.2;
    padding: 4px 4px;
    width: 10%;
    margin-left: -60px;
    height: 16px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin-top: -2px;
}



#txtsearchSP, #txtsearch {
    width: 83% !important;
}

td {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

#search {
    margin: 10px;
}

/*Product creation header*/

.creationheader {
    background: #ddd;
    /*padding: 15px !important;
    margin: -21px -34px -5px -35px !important;*/
    background: #ddd;
    padding: 15px;
    text-align: center;
    margin-top: -10px;
}

.alignrightext {
    text-align: right;
    padding-top: 8px;
    padding-left: 0px !important;
    padding-right: 0px;
    margin-top: 0px !important;
    font-weight: bold;
}

.k-widget.k-upload.k-header.k-upload-empty {
    /*margin-top: 15px;
    margin-bottom: 15px;*/
    border: 1px solid #fff;
}

.alignrightext.ng-binding.ng-scope {
    padding-left: 0px;
    padding-top: 7px;
    padding-right: 0px;
}

/*div[contenteditable] {
    width: 170px !important;
}*/


div.k-window-content {
    padding: 2.60em !important;
    padding-top: 15px !important;
    padding-bottom: 10px !important;
}

/*Category Labels*/
.margintop {
    margin-top: 6px;
}

/*Select file border*/
.k-widget.k-upload.k-header {
    border: none;
}

.textalignright {
    text-align: right;
    font-weight: bold;
}

/*Search Page*/

.searchrow {
    /*background: #eee;*/
    /*margin-top: 10px;*/
    padding-bottom: 0px;
    padding-top: 20px;
}

.searcheckkbox {
    width: 100%;
    margin-bottom: 5px;
    margin-left: 0%;
    background-color: #f5f5f5;
    margin-top: -15px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.checkboxalign {
    margin-left: 5%;
    width: 90%;
}

/*Pagination*/
.paginationnew {
    /*margin-bottom: 30px;*/
    position: absolute !important;
    width: 100%;
}

/*Text align left*/

.textalignleft {
    text-align: left;
    font-weight: bold;
}


.panel-heading1 {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    background-position: 50% 50%;
    background-color: #e5e5e5;;
    color: #091f3f;
    border-radius: 3px 3px 0 0;
    text-align: center;
    font-weight: bold;
}

.invertedproductfont {
    font-size: 10px !important;
}

@-moz-document url-prefix() {
    #Dashboard_CatalogDDl {
        margin-top: 0px;
    }

    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > td {
        /* border: 1px solid #ddd;
    position: relative !important; */
        outline: 1px solid #ddd !important;
    }

    .titleblue.k-toolbar.k-widget.k-toolbar-resizable {
        margin-left: 0px !important;
        margin-top: 0px !important;
        height: 71px !important;
        width: 96%;
        padding-top: 17px !important;
    }

    .ff {
        width: 24%;
        padding-right: 22px !important;
    }

    .widget.widget-default.widget-carousel {
        height: 96px !important;
    }


    #dashboard-donut-1 {
        -moz-transform: scale(0.9);
    }
}

.selected {
 background-color: #4285f4 !important;
    color: #339933 !important;
}

/*Dashboard*/

.dashboardbtn {
    padding: 0px 12px;
}

.subattribute {
    margin-left: 8%;
    margin-right: 8%;
}


/*Export Templatepage*/
.exporttemplate {
    background: rgba(204, 204, 204, 0.32);
    padding-top: 2%;
    padding-bottom: 2%;
}

/*Grid Padding*/

div.k-grid-footer, div.k-grid-header {
    padding-right: 6px !important;
}

.k-grid-content {
    max-height: 460px;
}


.footer {
    display: none;
}

/*Kendo Button Style*/

.k-button.k-upload-button {
    padding: 5px 10px;
    line-height: 1.5;
}

/*@media only screen and (min-width : 1920px) {
    .tabstripresolution {
        padding-right: 120px !important;
    }
}

@media only screen and (min-width : 1900px) {
    .tabstripresolution {
        padding-right: 120px !important;
    }
}

@media only screen and (min-width : 1880px) {
    .tabstripresolution {
        padding-right: 120px !important;
    }
}

@media only screen and (min-width : 1880px) {
    .tabstripresolution {
        padding-right: 120px !important;
    }
}

@media only screen and (min-width : 1860px) {
    .tabstripresolution {
        padding-right: 120px !important;
    }
}

@media only screen and (min-width : 1840px) {
    .tabstripresolution {
        padding-right: 120px !important;
    }
}

@media only screen and (min-width : 1820px) {
    .tabstripresolution {
        padding-right: 120px !important;
    }
}


@media only screen and (min-width : 1800px) {
    .tabstripresolution {
        padding-right: 120px !important;
    }
}

@media only screen and (min-width : 1780px) {
    .tabstripresolution {
        padding-right: 120px !important;
    }
}

@media only screen and (min-width : 1760px) {
    .tabstripresolution {
        padding-right: 120px !important;
    }
}

@media only screen and (min-width : 1740px) {
    .tabstripresolution {
        padding-right: 120px !important;
    }
}

@media only screen and (min-width : 1720px) {
    .tabstripresolution {
        padding-right: 120px !important;
    }
}

@media only screen and (min-width : 1700px) {
    .tabstripresolution {
        padding-right: 120px !important;
    }
}*/



/*------------- Desktops and laptops ----------- */


/**Family Grid**/

@media only screen and (min-width : 1400px) {
    #familygrid tbody {
        max-width: 1030px !important;
    }
}

@media only screen and (min-width : 1370px) {
    #familygrid tbody {
        max-width: 960px !important;
    }
}

@media only screen and (min-width : 1430px) {
    #familygrid tbody {
        max-width: 1324px !important;
        width: 1050px;
    }
}

@media only screen and (min-width : 1460px) {
    #familygrid tbody {
        max-width: 1050px !important;
    }
}

@media only screen and (min-width : 1490px) {
    #familygrid tbody {
        max-width: 1080px !important;
    }
}

@media only screen and (min-width : 1520px) {
    #familygrid tbody {
        max-width: 1110px !important;
    }
}

@media only screen and (min-width : 1550px) {
    #familygrid tbody {
        max-width: 1140px !important;
    }
}

@media only screen and (min-width : 1580px) {
    #familygrid tbody {
        max-width: 1170px !important;
    }
}

@media only screen and (max-width: 1700px) and (min-width: 1600px) {
    #familygrid tbody {
        width: 1165px;
        max-width: 1540px !important;
    }
}

@media only screen and (min-width: 1610px) {
    #familygrid tbody {
        max-width: 1200px !important;
    }
}

@media only screen and (min-width: 1640px) {
    #familygrid tbody {
        max-width: 1240px !important;
    }
}

@media only screen and (min-width: 1670px) {
    #familygrid tbody {
        max-width: 1270px !important;
    }
}

@media only screen and (min-width: 1700px) {
    #familygrid tbody {
        max-width: 1300px !important;
    }
}

@media only screen and (min-width: 1740px) {
    #familygrid tbody {
        max-width: 1330px !important;
    }
}

@media only screen and (min-width: 1770px) {
    #familygrid tbody {
        max-width: 1360px !important;
    }
}

@media only screen and (min-width: 1800px) {
    #familygrid tbody {
        max-width: 1390px !important;
    }
}

@media only screen and (min-width: 1830px) {
    #familygrid tbody {
        max-width: 1420px !important;
    }
}

@media only screen and (min-width: 1860px) {
    #familygrid tbody {
        max-width: 1450px !important;
    }
}

@media only screen and (min-width: 1890px) {
    #familygrid tbody {
        max-width: 1480px !important;
    }
}

@media only screen and (min-width : 1900px) {
    #familygrid tbody {
        max-width: 1770px !important;
        width: 1450px;
    }
}

@media only screen and (min-width : 1920px) {
    #familygrid tbody {
        max-width: 1810px !important;
        width: 1450px;
    }
}

@media only screen and (min-width : 1500px) {
    #familygrid tbody {
        max-width: 1190px; /*1210px for large screen*/
    }
}

@media only screen and (max-width: 1400px) and (min-width: 1360px) {
    #familygrid tbody {
        max-width: 1245px;
    }
}

@media only screen and (max-width : 1366px) {
    #familygrid tbody {
        min-width: 950px;
        max-width: 950px !important;
    }
}

/**Family Grid End**/

/*Product Grid Resolution*/
@media only screen and (min-width : 1400px) {
    #sampleProdgrid tbody {
        max-width: 1030px !important;
    }
}

@media only screen and (min-width : 1370px) {
    #sampleProdgrid tbody {
        max-width: 960px !important;
    }
}

@media only screen and (min-width : 1430px) {
    #sampleProdgrid tbody {
        max-width: 1280px !important;
        width: 1050px;
    }
}

@media only screen and (min-width : 1460px) {
    #sampleProdgrid tbody {
        max-width: 1050px !important;
    }
}

@media only screen and (min-width : 1490px) {
    #sampleProdgrid tbody {
        max-width: 1080px !important;
    }
}

@media only screen and (min-width : 1520px) {
    #sampleProdgrid tbody {
        max-width: 1110px !important;
    }
}

@media only screen and (min-width : 1550px) {
    #sampleProdgrid tbody {
        max-width: 1140px !important;
    }
}

@media only screen and (min-width : 1580px) {
    #sampleProdgrid tbody {
        max-width: 1170px !important;
    }
}

@media only screen and (max-width: 1700px) and (min-width: 1600px) {
    #sampleProdgrid tbody {
        width: 1172px !important;
        max-width: 1485px !important;
    }
}

@media only screen and (min-width: 1610px) {
    #sampleProdgrid tbody {
        max-width: 1200px !important;
    }
}

@media only screen and (min-width: 1640px) {
    #sampleProdgrid tbody {
        max-width: 1240px !important;
    }
}

@media only screen and (min-width: 1670px) {
    #sampleProdgrid tbody{
        max-width: 1270px !important;
    }
}

@media only screen and (min-width: 1700px) {
    #sampleProdgrid tbody {
        max-width: 1300px !important;
    }
}

@media only screen and (min-width: 1740px) {
    #sampleProdgrid tbody {
        max-width: 1330px !important;
    }
}

@media only screen and (min-width: 1770px) {
    #sampleProdgrid tbody {
        max-width: 1360px !important;
    }
}

@media only screen and (min-width: 1800px) {
    #sampleProdgrid tbody {
        max-width: 1390px !important;
    }
}

@media only screen and (min-width: 1830px) {
    #sampleProdgrid tbody {
        max-width: 1420px !important;
    }
}

@media only screen and (min-width: 1860px) {
    #sampleProdgrid tbody {
        max-width: 1450px !important;
    }
}

@media only screen and (min-width: 1890px) {
    #sampleProdgrid tbody {
        max-width: 1480px !important;
    }
}

@media only screen and (min-width : 1900px) {
    #sampleProdgrid tbody {
        max-width: 1770px !important;
        width: 1450px;
    }
}

@media only screen and (min-width : 1920px) {
    #sampleProdgrid tbody {
        max-width: 1810px !important;
        width: 1450px;
    }
}

@media only screen and (min-width : 1500px) {
    #sampleProdgrid tbody {
        max-width: 1190px; /*1210px for large screen*/
    }
}

@media only screen and (max-width: 1400px) and (min-width: 1360px) {
    #sampleProdgrid tbody {
        max-width: 1245px;
    }
}

@media only screen and (max-width : 1366px) {
    #sampleProdgrid tbody {
        min-width: 950px;
        max-width: 950px !important;
    }
}

/*Category Product Grid resolution*/

@media only screen and (min-width : 1400px) {
    #sampleProdgrid10 tbody {
        max-width: 1030px !important;
    }
}

@media only screen and (min-width : 1370px) {
    #sampleProdgrid10 tbody {
        max-width: 960px !important;
    }
}

@media only screen and (min-width : 1430px) {
    #sampleProdgrid10 tbody {
        max-width: 1324px !important;
        width: 1050px;
    }
}

@media only screen and (min-width : 1460px) {
    #sampleProdgrid10 tbody {
        max-width: 1050px !important;
    }
}

@media only screen and (min-width : 1490px) {
    #sampleProdgrid10 tbody {
        max-width: 1080px !important;
    }
}

@media only screen and (min-width : 1520px) {
    #sampleProdgrid10 tbody {
        max-width: 1110px !important;
    }
}

@media only screen and (min-width : 1550px) {
    #sampleProdgrid10 tbody {
        max-width: 1140px !important;
    }
}

@media only screen and (min-width : 1580px) {
    #sampleProdgrid10 tbody {
        max-width: 1170px !important;
    }
}

@media only screen and (max-width: 1700px) and (min-width: 1600px) {
    #sampleProdgrid10 tbody {
        width: 1172px !important;
        max-width: 1485px !important;
    }
}

@media only screen and (min-width: 1610px) {
    #sampleProdgrid10 tbody {
        max-width: 1200px !important;
    }
}

@media only screen and (min-width: 1640px) {
    #sampleProdgrid10 tbody {
        max-width: 1240px !important;
    }
}

@media only screen and (min-width: 1670px) {
    #sampleProdgrid10 tbody{
        max-width: 1270px !important;
    }
}

@media only screen and (min-width: 1700px) {
    #sampleProdgrid10 tbody {
        max-width: 1300px !important;
    }
}

@media only screen and (min-width: 1740px) {
    #sampleProdgrid10 tbody {
        max-width: 1330px !important;
    }
}

@media only screen and (min-width: 1770px) {
    #sampleProdgrid10 tbody {
        max-width: 1360px !important;
    }
}

@media only screen and (min-width: 1800px) {
    #sampleProdgrid10 tbody {
        max-width: 1390px !important;
    }
}

@media only screen and (min-width: 1830px) {
    #sampleProdgrid10 tbody {
        max-width: 1420px !important;
    }
}

@media only screen and (min-width: 1860px) {
    #sampleProdgrid10 tbody {
        max-width: 1450px !important;
    }
}

@media only screen and (min-width: 1890px) {
    #sampleProdgrid10 tbody {
        max-width: 1480px !important;
    }
}

@media only screen and (min-width : 1900px) {
    #sampleProdgrid10 tbody {
        max-width: 1770px !important;
        width: 1450px;
    }
}

@media only screen and (min-width : 1920px) {
    #sampleProdgrid10 tbody {
        max-width: 1810px !important;
        width: 1450px;
    }
}

@media only screen and (min-width : 1500px) {
    #sampleProdgrid10 tbody {
        max-width: 1190px; /*1210px for large screen*/
    }
}

@media only screen and (max-width: 1400px) and (min-width: 1360px) {
    #sampleProdgrid10 tbody {
        max-width: 1245px;
    }
}

@media only screen and (max-width : 1366px) {
    #sampleProdgrid10 tbody {
        min-width: 950px;
        max-width: 950px !important;
    }
}

/*Category Product Grid resolution*/

/*Inverted Product list page resolution*/

@media only screen and (min-width : 1400px) {
    #invertedproductlist tbody, #invertedproductlist > thead, table#invertedproductlist {
        /*max-width: 1035px !important;*/
        max-width: 1422px !important;
    }
}

@media only screen and (min-width : 1430px) {
    #invertedproductlist tbody, #invertedproductlist > thead, table#invertedproductlist {
        max-width: 1330px !important;
    }
}

@media only screen and (min-width : 1460px) {
    #invertedproductlist tbody, #invertedproductlist > thead, table#invertedproductlist {
        max-width: 1340px !important;
    }
}

@media only screen and (min-width : 1490px) {
    #invertedproductlist tbody, #invertedproductlist > thead, table#invertedproductlist {
        max-width: 1380px !important;
    }
}

@media only screen and (min-width : 1520px) {
    #invertedproductlist tbody, #invertedproductlist > thead, table#invertedproductlist {
        max-width: 1420px !important;
    }
}

@media only screen and (min-width : 1550px) {
    #invertedproductlist tbody, #invertedproductlist > thead, table#invertedproductlist {
        max-width: 1460px !important;
    }
}

@media only screen and (min-width : 1580px) {
    #invertedproductlist tbody, #invertedproductlist > thead, table#invertedproductlist {
        max-width: 1480px !important;
    }
}

@media only screen and (min-width: 1610px) {
    #invertedproductlist tbody, #invertedproductlist > thead, table#invertedproductlist {
        max-width: 1530px !important;
    }
}

@media only screen and (min-width: 1640px) {
    #invertedproductlist tbody, #invertedproductlist > thead, table#invertedproductlist {
        max-width: 1563px !important;
    }
}

@media only screen and (min-width: 1670px) {
    #invertedproductlist tbody, #invertedproductlist > thead, table#invertedproductlist {
        max-width: 1593px !important;
    }
}

@media only screen and (min-width: 1700px) {
    #invertedproductlist tbody, #invertedproductlist > thead, table#invertedproductlist {
        max-width: 1620px !important;
    }
}

@media only screen and (min-width: 1740px) {
    #invertedproductlist tbody, #invertedproductlist > thead, table#invertedproductlist {
        max-width: 1660px !important;
    }
}

@media only screen and (min-width: 1770px) {
    #invertedproductlist tbody, #invertedproductlist > thead, table#invertedproductlist {
        max-width: 1690px !important;
    }
}

@media only screen and (min-width: 1800px) {
    #invertedproductlist tbody, #invertedproductlist > thead, table#invertedproductlist {
        max-width: 1720px !important;
    }
}

@media only screen and (min-width: 1830px) {
    #invertedproductlist tbody, #invertedproductlist > thead, table#invertedproductlist {
        max-width: 1755px !important;
    }
}

@media only screen and (min-width: 1860px) {
    #invertedproductlist tbody, #invertedproductlist > thead, table#invertedproductlist {
        max-width: 1780px !important;
    }
}

@media only screen and (min-width: 1890px) {
    #invertedproductlist tbody, #invertedproductlist > thead, table#invertedproductlist {
        max-width: 1810px !important;
    }
}

@media only screen and (min-width : 1600px) {
    #invertedproductlist tbody, #invertedproductlist > thead, table#invertedproductlist {
        max-width: 1530px;
    }
}

@media only screen and (min-width : 1900px) {
    #invertedproductlist tbody, #invertedproductlist > thead, table#invertedproductlist {
        max-width: 1820px !important;
    }
}

@media only screen and (min-width : 1920px) {
    #invertedproductlist tbody, #invertedproductlist > thead, table#invertedproductlist {
        max-width: 1500px !important;
    }
}

@media only screen and (min-width : 1920px) {
    #invertedproductlist tbody, #invertedproductlist > thead, table#invertedproductlist {
        max-width: 1830px !important;
    }
}

@media only screen and (min-width : 1500px) {
    #invertedproductlist tbody, #invertedproductlist > thead, table#invertedproductlist {
        min-width: auto !important;
        max-width: 1440px;
    }
}

@media only screen and (min-width : 1366px) {
    #invertedproductlist tbody, #invertedproductlist > thead, table#invertedproductlist {
        max-width: 1250px;
    }
}

@media only screen and (max-width : 1360px) {
    #invertedproductlist tbody, #invertedproductlist > thead, table#invertedproductlist {
        min-width: 950px !important;
        max-width: 1215px !important;
    }
}




@media only screen and (min-width : 1400px) {
    #samplegrid tbody, #samplegrid1 tbody {
        max-width: 1350px !important;
    }
}

@media only screen and (min-width : 1460px) {
    #samplegrid tbody, #samplegrid1 tbody {
        max-width: 1337px !important;
    }
}

@media only screen and (min-width : 1480px) {
    #samplegrid tbody, #samplegrid1 tbody {
        max-width: 1365px !important;
    }
}

@media only screen and (min-width : 1500px) {
    #samplegrid tbody, #samplegrid1 tbody {
        max-width: 1392px !important;
    }
}

@media only screen and (min-width : 1530px) {
    #samplegrid tbody, #samplegrid1 tbody {
        max-width: 1415px !important;
    }
}

@media only screen and (min-width : 1560px) {
    #samplegrid tbody, #samplegrid1 tbody {
        max-width: 1450px !important;
    }
}

@media only screen and (min-width : 1580px) {
    #samplegrid tbody, #samplegrid1 tbody {
        max-width: 1475px !important;
    }
}


@media only screen and (min-width : 1600px) {
    #samplegrid tbody, #samplegrid1 tbody {
        max-width: 1447px !important;
    }
}

@media only screen and (min-width : 1630px) {
    #samplegrid tbody, #samplegrid1 tbody {
        max-width: 1538px !important;
    }
}

@media only screen and (min-width : 1640px) {
    #samplegrid tbody, #samplegrid1 tbody {
        max-width: 1550px !important;
    }
}

@media only screen and (min-width : 1660px) {
    #samplegrid tbody, #samplegrid1 tbody {
        max-width: 1576px !important;
    }
}

@media only screen and (min-width : 1680px) {
    #samplegrid tbody, #samplegrid1 tbody {
        max-width: 1601px !important;
    }
}

@media only screen and (min-width : 1700px) {
    #samplegrid tbody, #samplegrid1 tbody {
        max-width: 1626px !important;
    }
}

@media only screen and (min-width : 1720px) {
    #samplegrid tbody, #samplegrid1 tbody {
        max-width: 1654px !important;
    }
}

@media only screen and (min-width : 1740px) {
    #samplegrid tbody, #samplegrid1 tbody {
        max-width: 1677px !important;
    }
}

@media only screen and (min-width : 1760px) {
    #samplegrid tbody, #samplegrid1 tbody {
        max-width: 1696px !important;
    }
}

@media only screen and (min-width : 1780px) {
    #samplegrid tbody, #samplegrid1 tbody {
        max-width: 1716px !important;
    }
}

@media only screen and (min-width : 1800px) {
    #samplegrid tbody, #samplegrid1 tbody {
        max-width: 1735px !important;
    }
}

@media only screen and (min-width : 1820px) {
    #samplegrid tbody, #samplegrid1 tbody {
        max-width: 1755px !important;
    }
}

@media only screen and (min-width : 1840px) {
    #samplegrid tbody, #samplegrid1 tbody {
        max-width: 1775px !important;
    }
}

@media only screen and (min-width : 1860px) {
    #samplegrid tbody, #samplegrid1 tbody {
        max-width: 1795px !important;
    }
}

@media only screen and (min-width : 1880px) {
    #samplegrid tbody, #samplegrid1 tbody {
        max-width: 1815px !important;
    }
}


@media only screen and (min-width : 1900px) {
    #samplegrid tbody, #samplegrid1 tbody {
        max-width: 1835px !important;
    }
}

@media only screen and (min-width : 1920px) {
    #samplegrid tbody, #samplegrid1 tbody {
        max-width: 1835px !important;
    }
}

/*@media only screen  and (min-width : 1360px) {
#samplegrid tbody {
    min-width: 950px !important;
    max-width: 950px !important;
    
}
}

@media only screen  and (max-width : 1360px) {
#samplegrid tbody {
    min-width: 950px !important;
    max-width: 1215px !important;
    
}
}*/



@media screen and (max-width: 750px) and (min-width: 300px) {
    .textalignright {
        text-align: left !important;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        background: #091f3f;
    }

    .tab-content {
        display: block;
    }

    .k-tabstrip-wrapper {
        overflow-x: auto;
    }

    .padding-0 {
        padding: 10px !important;
    }

    .margin-left-100 {
        margin-left: 0px !important;
    }

    .reportdetailsdrop {
        width: 238px !important;
    }

    /*Inverted Products*/

    div#tabstripInvertedProducts-1, div#tabstripInvertedProducts-2 {
        width: 175% !important;
    }

    /*.product-pagination {
        width: 190% !important;
    }*/

    .invertedsearch, .responsiveip {
        display: -webkit-box;
    }

    .small-capsGrid {
        margin-top: 215px;
    }

    .responsivebtn {
        margin-top: 20px !important;
        margin-bottom: 10px !important;
    }

    .responsivepaging {
        width: 100% !important;
    }

    .psitem {
        width: 50% !important;
        float: left !important;
    }

    .dashboardchart {
        height: 285px !important;
    }

    div#Dashboard_CatalogDDl {
        display: block;
    }

    /*Popup*/

    .k-widget.k-window {
        width: 100% !important;
    }

    .search-row {
        min-width: 360px;
    }

    .btnsearch {
        margin-left: -35px;
    }

    .picklsttype {
        width: 30% !important;
        float: left !important;
        padding: 10px 15px 10px 0px !important;
    }

    .picklstselect {
        padding: 5px 0px 0px 0px !important;
    }

    .picklstnme {
        width: 30% !important;
        float: left !important;
        padding: 10px 15px 0px 0px !important;
    }

    .alignrightext {
        text-align: left;
        padding-bottom: 10px !important;
    }

    .pull-left {
        margin-left: -10%;
    }

    div#showAttributeName, div#showSelectedAttributes {
        margin-top: -50%;
    }

    .reslabel {
        margin-right: 50%;
    }

    .pklsttxt {
        width: 200px !important;
    }

    .respspace {
        padding-top: 10px !important;
    }

    .gutter.gutter-horizontal {
        display: none;
    }

    div#page-content-wrapper1 {
        max-width: 100%;
        min-width: 100% !important;
    }

    .widget-int.num-count {
        margin-top: 30px;
    }

  

    .responsive_cat {
        display: inline-table;
    }

    div#selectedattribute, #selectedattributeEdit {
        width: 100% !important;
        margin-left: 0px !important;
    }

    div#showUndoFamilyDiv, div#showUndoCategoryDiv {
        display: none !important;
    }

    input.search {
        width: 10em !important;
    }

    .textwrap {
        position: inherit !important;
    }

    div#productgridtabstrip > ul {
        margin: 0 !important;
        display: inline;
    }

    div#ProductPackageNames {
        margin: 10px 0px;
    }

    div#filterAttributePack {
        display: block;
    }

        div#filterAttributePack > .padding-0 {
            text-align: left !important;
        }

    .searchattributes {
        display: flex;
        overflow: auto;
    }

    div#importcontainer {
        width: 100% !important;
        margin-bottom: 20px;
    }
     
    .tag {
        width: 100px !important;
        margin: 5px 0px 5px 10px !important;
    }

    .file-upload.btn.btn-primary {
        height: 15px !important;
    }

    div#treeViewDiv, #treeViewDivFam {
        width: 240px;
    }

    div#example, .maingrid, .folderspace {
        width: 100% !important;
    }
}


.loaderimgnew {
    padding: 5px !important;
    min-width: 81px !important;
    max-width: 190px !important;
    color: #fff;
    border-radius: 20px !important;
    font-weight: 300 !important;
}

.imageloader {
    border: 1px solid rgba(75, 159, 70, 0.62) !important;
    padding: 5px !important;
    min-width: 100px !important;
    max-width: 250px !important;
    margin-left: 42% !important;
    background-color: rgba(75, 159, 70, 0.62) !important;
    color: #fff;
    border-radius: 20px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
    font-weight: 300 !important;
}

.subimagenote {
    display: none;
}


/**Pagination Style**/

.pull-left > .selectcss > .k-dropdown-wrap.k-state-default {
    border-radius: 1.0833em;
}

.pull-right > .selectcss > .k-dropdown-wrap.k-state-default {
    border-radius: 1.0833em;
}

/**Pagination Style End**/

/**White space between fields**/

.form-group {
    margin-bottom: 10px;
}
/**White space between fields Ends**/

.k-treeview .k-plus {
    margin-left: -20px !important;
}


.k-ext-treeview {
    z-index: 99 !important;
}

.k-grid-content-locked > table > tbody > tr {
    height: auto !important;
}

.k-auto-scrollable > table > tbody > tr {
    height: auto !important;
}

.k-callout.k-callout-s {
    display: none;
}

.k-callout.k-callout-n {
    display: none;
}

.textalignright {
    text-align: right;
}


/****Import page height****/
/*@media only screen and (max-width : 500px) and (max-height : 1000px ) {

    div#tabstripbulk-1 {
        height: auto !important;
    }
}

@media only screen and (max-width : 1920px) and (max-height : 1080px ) {

    div#tabstripbulk-1 {
        height: 690px;
    }
}

@media only screen and (max-width : 1900px) and (max-height : 900px ) {

    div#tabstripbulk-1 {
        height: 670px;
    }
}

@media only screen and (max-width : 1880px) and (max-height : 880px ) {

    div#tabstripbulk-1 {
        height: 650px;
    }
}

@media only screen and (max-width : 1600px) {
    div#tabstripbulk-1 {
        height: 510px;
    }
}*/


@-moz-document url-prefix() {
    .dropdown1:before, .dropdown1:after {
        display: none !important;
    }

    .fa-folder-open::before {
        content: "\f07c";
        color: #e1ca6d;
        font-size: 50px;
    }
}

li#lnkCategoryTab, li#lnkFamilyTab, li#lnkProductsTab, div#tabstripfamily, #productgridtabstrip {
    font-size: 14px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */

    .fa-folder-open::before {
        content: "\f07c";
        color: #e1ca6d;
        font-size: 50px;
    }
}


/***************Animate.css Starts**************************/

@media (max-width: 939px) {

    .sp {
        width: 48.62% !important;
    }
}

@media (max-width: 767px) {

    .sp {
        width: 100% !important;
        height: auto !important;
    }
}

@media (max-width: 1200px) {
    .sp {
        width: 49.62% !important;
    }
}

@media (max-width: 767px) {

    .sp {
        width: 100% !important;
        height: auto !important;
    }
}

/***************Animate.css Ends**************************/

/***************Product List Css*************************/

#samplegrid > thead > tr > th > a,
#samplegrid > tbody > tr > td > a,
#samplegrid1 > thead > tr > th > div,
#samplegrid1 > thead > tr > th > a,
#samplegrid1 > tbody > tr > td > a {
    font-size: 10px !important;
}



/*@media only screen and (max-width : 1024px)*/
@media only screen and (max-width: 1298px) and (min-width: 1000px) {

    .nav > li > a {
        padding: 15px 5px;
        font-size: 11px !important;
    }
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable {
    z-index: 99999 !important;
}

div#FamilySpecsTab {
    padding: 1px;
}

.cke_editable {
    max-height: 100px;
    overflow: auto;
}

div#newProductAttributeDesign > .k-grid-content {
    min-height: 165px !important;
}

div#newCategoryAttributeDesign > .k-grid-content, div#newFamilyAttributeDesign > .k-grid-content {
    min-height: 160px !important;
}

.error-log {
    background: #172234;
    color: #fff;
    padding: 8px 7px;
    margin: -20px -20px 13px -20px;
    text-align: center;
}

.viewlogscroll {
    text-align: left;
    max-height: 180px;
    overflow: auto;
    overflow-y: auto;
}

.k-header {
    background-color: #ffffff !important;
    background-image: none !important;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

/*.view-by {
    font-size: 14px;
}

    .view-by.active {
        color: #000;
        cursor: pointer;
    }

.view-by {
    color: #000 !important;
}
a.view-by {
    background: #fff;
    border: none;
}

.view-by-menu > li {
   background: #ffffff !important;
    border: none !important;
}
.view-by-menu > li > span {
    display: none;
}



    .view-by.active::after {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        background: url('../images/check.png') no-repeat bottom;
        padding-right: 3px;
        vertical-align: middle;
        background-size: cover;
        margin-left: 5px;
    }

.view-by-menu > li > a {
    padding: 10px 30px 10px 10px !important;
}

.view-by-menu {
    background: #fff;
}*/

.btn-primary {
    color: #091f3f;
    background-color: #efefef;
    border-color: #efefef;
}

.custom-btn:hover {
    color: #339933;
}

label.caption {
    display: block;
    color: #000;
    letter-spacing: 1px;
    margin-bottom: 8px;
}
.spacer {
    margin: 15px 0px;
}

.p-0{
    padding: 0 !important;
}

.k-autocomplete.k-state-default, .k-dropdown-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-picker-wrap.k-state-default {
    background-color: #ffffff !important;
    border-color: #c1c1c1 !important;
}
.dropdown, .dropup {
    position: relative;
}
/*.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}*/

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #4b9f46;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-menu.attr-btn {
    padding: 0;
}

.attr-btn > button {
    margin: 0px 0px;
    padding: 6px 6px !important;
    width: 91%;
    text-align: left;
    box-shadow: none !important;
    border-bottom: 1px solid #dbdbdb;
}

.view-by-menu.active2 {
    letter-spacing: 0.25px;
    background-color: #4b9f46cc;
}
.view-by-menu.active {
    background-color : #ccc;
}

.dropdown-menu.attr-btn {
    left: -90px;
}

/*.familypreviewtr > tbody > tr > td {
    display: block !important;
}

span.sortorder {
    cursor: pointer;
}

.k-state-default {
    border: 1px solid #efefef;
}

.k-datepicker > span > input, .k-datetimepicker > span > input {
    width: 100% !important;
}

 Contact Popup
 .address > p, .con-number > p, .con-mail > p {
    font-size: 18px;
    color: #000;
}

  .address > p > i, .con-number > p > i, .con-mail > p > i {
    font-size: 18px;
    color: #339933;
}

 .address > h4, .con-number > h4, .con-mail > h4 {
    font-size: 18px;
    font-weight: 600;
    color: #339933
}

 .address,  .con-number, .con-mail {
    padding-bottom: 25px;
}

 .con-number > p > a, .con-mail > p > a {
    color: #000;
    padding-left: 10px;
}*/
span.foldername.selected {
    color: #fff !important;
}
span.web_icon > svg, span.print_icon > svg, span.pdf_icon > svg {
    height: 18px;
    width: 18px;
    fill: #091f3f;
}

.testfield {
    position: fixed;
    right: -60px;
    top: 31%;
    width: 157px;
    margin: 0 auto;
    z-index: 99;
}

h1 {
    padding: 7px 10px;
    margin: 20px 0 10px;
    font-size: 12px;
    line-height: 1.6;
    color: rgba(109, 73, 42, 0.8);
    text-shadow: #fff 0 1px 1px;
    background: #f1e7de;
    border: 1px solid #d3bfae;
    border-radius: 3px;
    box-shadow: inset #fff 0 1px 0 0;
}

    h1 a {
        color: #6d492a;
        text-decoration: none;
        border-bottom: 1px dotted #d3bfae;
    }

        h1 a:hover {
            border-color: #6d492a;
        }


@keyframes expand {
    0% {
        top: 150px;
    }

    50% {
        top: -10px;
    }

    70% {
        top: 15px;
    }

    100% {
        top: 10px;
    }
}

@keyframes contract {
    0% {
        top: 10px;
    }

    40% {
        top: -25px;
    }

    100% {
        top: 150px;
    }
}

@keyframes clicked {
    0% {
        transform: scale(1);
        opacity: 1;
        top: 10px;
    }

    90% {
        top: 10px;
    }

    99% {
        transform: scale(6);
        opacity: 0;
        top: 150px;
    }

    100% {
        transform: scale(0);
    }
}

@keyframes fade {
    0% {
        transform: scale(1);
        opacity: 1;
        top: 10px;
    }

    90% {
        opacity: 0;
        top: 10px;
    }

    99% {
        transform: scale(0);
        top: 150px;
    }

    100% {
        transform: scale(0);
    }
}

@keyframes spin1-expand {
    0% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes spin1-contract {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin2-expand {
    0% {
        transform: rotate(-18deg);
    }

    60% {
        transform: rotate(-378deg);
    }

    100% {
        transform: rotate(-378deg);
    }
}

@keyframes spin2-contract {
    0% {
        transform: rotate(-18deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin3-expand {
    0% {
        transform: rotate(-36deg);
    }

    60% {
        transform: rotate(-396deg);
    }

    100% {
        transform: rotate(-396deg);
    }
}

@keyframes spin3-contract {
    0% {
        transform: rotate(-36deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin4-expand {
    0% {
        transform: rotate(-54deg);
    }

    60% {
        transform: rotate(-414deg);
    }

    100% {
        transform: rotate(-414deg);
    }
}

@keyframes spin4-contract {
    0% {
        transform: rotate(-54deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin5-expand {
    0% {
        transform: rotate(-72deg);
    }

    60% {
        transform: rotate(-432deg);
    }

    100% {
        transform: rotate(-432deg);
    }
}

@keyframes spin5-contract {
    0% {
        transform: rotate(-72deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin6-expand {
    0% {
        transform: rotate(-90deg);
    }

    60% {
        transform: rotate(-450deg);
    }

    100% {
        transform: rotate(-450deg);
    }
}

@keyframes spin6-contract {
    0% {
        transform: rotate(-90deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*******Custom Checkbox**********/

/* The container */
.custom-chkbx {
    display: block;
    position: relative;
    padding-left: 33px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 45px;
    float: left;
    padding-top: 0px;
    margin-right: 0%;
    margin-top: 5px;
}

/* Hide the browser's default checkbox */
.custom-chkbx input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.custom-chkbx:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-chkbx input:checked ~ .checkmark {
  background-color: #4b9f46cc;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-chkbx input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-chkbx .checkmark:after {
    left: 6px;
    top: 2px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.tableFixHead > table > thead > tr > th, .tableFixHead > table > tbody > tr > td {
    border: 1px solid #d5d5d5;
}
.tableFixHead {
    height: 200px !important;
    
}
.title_head > h3 {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    /*width: 100%;*/
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 15px;
}

.tables-container > .accordion > span,
.spec-container > .accordion > span,
.families-container > .accordion > span,
.clone-container > .accordion > span,
.groups-container > .accordion > span {
    float: right;
    cursor: pointer;
    display: block;
}


/*.testfield {
    height: 85px !important;
}*/

  .ml-35 {
        margin-left: 35px !important;
    }

  .block {
      display: block !important;
  }

.product_quick_menu > button > img {
    /* width: 20px; */
    height: 20px;
}

.product_quick_menu > button {
    width: 15px;
}

 .d_flex_pro_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 /*.product_quick_menu > button > img {
    width: 20px;
}*/

 .green-btn {
    background: #339933;
    color: #fff;
}

 div#tabledesignermenu1 {
    display: flex;
    justify-content: space-between;
}
 div#productattrchart > table > tbody > tr > td {
    width: 140px !important;
}

 div#sidebar-wrapper123 {
    z-index: 1000;
    min-height: 540px;
    /* overflow-y: auto; */
    /* background: #000; */
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 1px;
}

 button#modifyAll {
    padding: 3px 5px;
    margin-left: 3px;
}

 .k-animation-container {
    padding: 0px 8px !important;
}

 .k-edit-form-container {
    position: relative;
    width: 400px;
    margin-bottom: 15px !important;
}

 .k-webkit .k-pager-numbers .k-current-page .k-link, .k-ff .k-pager-numbers .k-current-page .k-link, .k-ie11 .k-pager-numbers .k-current-page .k-link, .k-safari .k-pager-numbers .k-current-page .k-link {
    width: 3.2em;
    padding: 0 0.429em 0 0.714em;
    border-radius: 1.0833em !important;
}