/*color-RED #EA4355 color-yellow #FCBD30 color-gray #888C8F  color-green #7D9A41 color-dark #34343E color-Cyan#5B90E4*/
/* Gentral style*/
html, body { height: 100%; }
body { background: #ABB6BF; color: #666; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif !important; padding-top: 70px; }
a { color: #2E5F96; }
a:focus { outline: none; text-decoration: none; }
.text-red{ color:#F03}
.txt-green { color: #7D9A41; }
.bgGray { background: #E7ECEE; }
.txt-yellow { color: #FCBD30; }
.txt-yellow:hover { color: #F38043; }
.bgDark { background: #34343E; }
.bgDark h1, .bgDark h2, .bgDark h3 { color: #FFFFFF; margin: 0; }
.thumb-img img { border: 1px solid #dcdcdc; height: 40px; width: 40px; float:left }
hr { border-color: #3C678F; }
/* Font style*/
::-moz-selection {
color: #34343E;
background: #5B90E4;
}
::selection {
color: #34343E;
background: #5B90E4;
}
.loginOuter { padding: 30px; }
p { color: #888888; font-size: 14px; }
p.lead { color: #222222; }
p.small { font-size: 12px; }
h1, h2, h3, h4, h5, h6 { color:#08264A; text-transform:capitalize; }
h1.h1 { font-size:18px }
/* Color style*/

/* Form style*/
.form-control { border-radius: 0; border-color: #92C2D5; box-shadow: none;
   
}
.btn { border-radius: 0; font-size: 14px; line-height: 30px; min-width: 100px; }
.searchbox { padding:8px 30px 0 0 }
.searchbox .btn { padding:1px 10px}
.searchbox input { min-width:250px}
/* Layout style*/
.pad5 { padding: 5px; }
.pad10 { padding: 10px; }
.pad20 { padding: 20px; }
.pad30 { padding: 30px; }
.pad010 { padding: 0 10px!important; }
.pad020 { padding: 0 20px; }
.pad030 { padding: 0 30px; }
.pad040 { padding: 0 40px; }
.pad1040 { padding: 10px 40px; }
.pad100 { padding: 10px 0; }
.pad200 { padding: 20px 0; }
.pad300 { padding: 30px 0; }
.pad003030 { padding: 0 0 30px 30px; }
.pad030300 { padding: 0 30px 30px 30px; }
.mar0 { margin: 0; }
.marleft10 { margin-left: 10px; }
.mar10 { margin: 10px; }
.mar100 { margin: 10px 0; }
.mar020 { margin: 0 20px; }
.mar200 { margin: 20px 0; }
.mar300 { margin: 30px 0; }
.martop30 { margin-top: 30px; }
.martop20 { margin-top: 20px; }
.martop10 { margin-top: 10px; }
.marbot20 { margin-bottom:20px }
.min-height500 { min-height:500px }
.box1 { background-color: #FFFFFF; box-shadow: 2px 2px 2px #BEBEBE; }
.box2 { background:#EEEEEE url(../images/top-header-bg.jpg) no-repeat top; border-radius: 4px; }
.box2 h1, .box2 label, .box2 a{ color:#FFF}
/* Table style*/
.table-responsive { border: 1px solid #D7D7D7; }
.table-style1 { font-size: 14px; background: #fbfbfb; }
.table-style1 thead tr th { background: #D7D7D7; color: #343434; }
.table.table-style1 > thead > tr > th, .table > tbody > tr > th, .table.table-style1 > tfoot > tr > th, .table > thead > tr > td, .table.table-style1 > tbody > tr > td, .table > tfoot > tr > td { padding: 10px; font-weight: normal; }
/* side menu expanding style*/
.wrapper { position: relative; top: -5px; }
.page-content-wrapper { margin-left:65px; position: relative; background: #E4E4E4;box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);top: -2px; }
.page-content-wrapper.closed { margin-left: 200px; }
#menu-toggle { display: block; float: left; padding: 23px; }
#menu-toggle.open i { margin-left: 180px; }
.sidebar-wrapper { position: fixed; width: 240px; z-index: 0; top:62px; bottom: 0; background: #ABB6BF; }
.sidebar-wrapper .nav-stacked > li + li { margin-top: 0; }
.sidebar-wrapper .nav li a { border-bottom: 1px solid #8e9aa3; border-radius: 0; border-top: 1px solid #C2CCD5; color: #08264A; padding: 15px; ; }
.sidebar-wrapper .nav li a .glyphicon { padding:0 20px 0 7px ; font-size: 24px; }
.sidebar-wrapper .nav li a:hover, .sidebar-wrapper .nav li a:focus, .sidebar-wrapper .nav li a.active { color: #22599A; background:#B4C1CB; }
.sidebar-wrapper .nav li.active a, .sidebar-wrapper .nav li.active a:hover { background: #E4E4E4; color: #22599A; }
/* Bootstrap Rewrite style*/
.navbar-brand { height: 65px; padding: 10px; position: absolute; }
.navbar-brand img { height: 44px; }
.modal-content { border: none; border-radius:0; box-shadow:none; }
.modal-backdrop.in { opacity: 0.9; }
.navbar-default { background:#0B325B url(../images/top-header-bg.jpg) no-repeat top right; border:none }
/* Tab style*/
.nav-tabs > li > a { background:#cfcfcf; font-weight:bold; text-transform:uppercase }
.topnavbar{ padding:7px 30px 0 0;}
.navbar-default .navbar-nav > li > a{color:#FFF}
.navbar-default .navbar-nav > li > a:hover{color:#666}
.panel, .panel-heading{ border-radius:0}

.tx-lbl{ margin-top:10px;}
.disc-tbl td{ padding:5px;}



/*.........................Questudio..............................*/

.doubletitle
{
    float: left;
    width: 200px;
    text-align: left;
    margin-bottom: 13px;
    background-color: #eee;
}
.doublepop h3
{
    color: #555;
    font-size: 20px;
    padding: 5px 10px;
}
.doublebutton
{
    text-align: center;
    padding-bottom: 0;
}
.doublebtn
{
    color: #fff;
    font-size: 11px;
    padding: 3px 10px;
    border: 1px solid #eee;
    background-color: #0068b3;
    margin: 10px 10px 10px 0;
}
.table-style1 tbody tr th {
background: #D7D7D7 !important;
color: #343434 !important;
}

input.Delete
{
     background: url("../Styles/images/delete.jpg") !important;
    border: 0;
    display: block;
    height: 30px;
    width: 30px;
    margin-left:40%;
}
/*.........................Questudio..............................*/
