﻿@{
    ViewBag.Title = "Export - MarketStudio";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}

@section styles{
    <style>
        .k-grid table tbody tr {
            cursor: pointer;
        }

        .text-center, table tbody tr td, #dynamictable table tbody tr td {
            height: 35px;
            padding-left: 10px;
            padding-right: 13px;
        }

        table thead tr th, #dynamictable table thead tr th {
            height: 35px;
            padding-left: 10px;
        }

        a:hover {
            text-decoration: none !important;
        }
    </style>
    <style type="text/css">
      /*.tab-content {
            display: table;
            width: 100%; 
        }*/
        .small-caps {
            letter-spacing: 0em;
        }

        input#txtDataTime {
            width: 180px !important;
        }

        .k-datetimepicker {
            background: #fff;
        }

        .k-datetimepicker {
            width: 240px !important;
        }

        div#txtDataTime_dateview {
            padding: 0px;
            margin-left: 0px;
        }

        span#ExportProject_wnd_title {
            background-color: #091f3f;
            font-size: 12pt;
            color: #ffffff;
            width: 98%;
            text-indent: 7px;
            padding: 7px 0px 7px 10px;
            height: 20px;
            text-align: center;
            margin-left: -8px;
            margin-top: -8px;
            z-index: 9;
        }

        /*.k-window-titlebar.k-header {
            padding: 0px;
        }*/  
        
        div#ExportProject {
            /*padding: 15px 0px 0px 0px !important;*/
            overflow: hidden;
        }

        .w3-animate-zoom, .k-window {
            animation: animatezoom 0.7s !important;
            top: 25% !important;
        }
    </style>

}

@*<script src="@Url.Content("~/Scripts/AngularJs/xlsx.full.min.js")"></script>*@

<link href="~/Design/css/ng-table.css" rel="stylesheet" />

<script type="text/javascript" src='@Url.Content("~/Views/App/Export/ExportController.js")'></script>
<div class="main-content no-margin no-padding container" ng-controller="ExportController">


    <div kendo-window="winExportBatchLog" id="ExportbatchLog" k-resizable="true" k-draggable="false" k-title="'View Jobs'" k-width="1320" k-height="420" k-visible="false"
         k-actions='["Close"]'
         k-modal="true" k-on-open="winExportBatchLogVisible = true" k-on-close="onClose(kendoEvent)">

    </div>


    <div kendo-window="winExportProject" id="ExportProject" k-resizable="false" k-draggable="false" k-title="'CatalogStudio'" k-width="380" k-height="150" k-visible="false"
         k-actions='["Close"]'
         k-modal="true" k-on-open="winExportProjectVisible = true" k-on-close="onClose(kendoEvent)">

    </div>



    <div class="container no-padding">
        <div class="row no-margin">
            <div class="col-sm-12 no-padding">
                <div style="height: auto;" class="panel-body panel-scroll ps-container no-margin">
                    <div class="col-sm-12 no-padding">
                        <div class="panel panel-default">
                            @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Export</span>  </div>")
                            <div class="panel-body panel-scroll ps-container" id="myTab1">
                                <ul class="nav nav-tabs" role="tablist" id="myTab">
                                    <li class="active" id="lnkExporttab" ng-click="Exportclick()"><a href="#exportTab" data-toggle="tab" title="{{exportHover}}">Export</a></li>

                                    <li class="active" style="float: right;" id="liexportlog" ng-click="ViewExportLog()"><a data-toggle="tab" title="Export View Jobs">View Jobs</a></li>
                                    @*<li id="lnkopentab" class=""><a href="#opentab" data-toggle="tab" title="{{exportopentemplate}}">Open Template</a></li>
                                        <li id="lnkdeltab" class=""><a href="#deletetab" data-toggle="tab" title="{{exportdeletetemplate}}">Delete Template</a></li>*@
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div id="exportTab" class="tab-pane fade in active">

                                        <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);
                                                                                                                                                                                                                                               background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;
                                                                                                                                                                                                                                               box-shadow: 0 1px 0 #2c232b inset;">
                                            <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>Export
                                        </div>

                                        <div class="col-sm-12" id="divdate" style="text-align: center;">
                                        <input id="txtDataTime" ng-model="scheduleTime" ng-show="EnableExportBatch" style="width: 170px !important;" />
                                        </div>


                                        <div class="col-sm-12" style="margin-top: 10px">
                                            @{Html.RenderPartial("Export/xlsExport");}
                                        </div>
                                    </div>
                                    @*<div id="openTab" class="tab-pane fade">
                                            @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Open Template</span>  </div>")
                                            <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            box-shadow: 0 1px 0 #2c232b inset;">
                                                <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>Open Template
                                            </div>
                                            <div class="col-sm-12" style="margin-top: 10px">
                                                @{Html.RenderPartial("Export/OpenTemplate");}
                                            </div>
                                        </div>
                                        <div id="deleteTab" class="tab-pane fade">
                                            @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Delete Template</span>  </div>")                                        <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);
                                                                                                8                                                                                                                                                                                              </div>
                                            <div class="col-sm-12" style="margin-top: 10px">
                                                @{Html.RenderPartial("Export/DeleteTemplate");}
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

