﻿
<form name="myForm1">
    <div class="form-group">
        <div class="col-sm-2 bold textalignright padding-0 margintop">
            Open Template 
        </div>
        <div class="col-sm-3">
            <select kendo-drop-down-list
                    k-option-label="'--- Choose a Template---'"
                    k-data-text-field="'PROJECT_NAME'"
                    k-data-value-field="'PROJECT_ID'"
                    k-data-source="templateDataSource"
                    k-on-change="OpenTemplate(kendoEvent)"
                    style="width:180px"></select>
        </div>
    </div>
</form>
