﻿
<style>
    .heightsample {
        /*height: 600px !important;
        width: 70%;*/
    }

    div#importcontainer {
        padding: 20px;
        border: 1px solid #ddd;
        width: 36%;
        margin-right: 14%;
    }

    #importtitle {
        float: left;
        margin: -30px 0 0 0px;
        background: #fff;
    }

    input#datepickerfrom, input#datepickerto {
        width: 145px !important;
    }


    input#txtDataTime {
        width: 155px;
    }

    .chkborder {
        margin-left: 15px;
        padding: 0px 10px 10px 0px;
    }

    #custom-menu1, #custom-menuFam {
        z-index: 99999;
        position: absolute;
        border: solid 2px ButtonHighlight;
        /*background-color: darkviolet;*/
        padding: 5px 0;
        display: none;
        cursor: pointer;
    }

        #custom-menu1 ol, #custom-menuFam ol {
            padding: 0;
            margin: 0;
            list-style-type: none;
            min-width: 130px;
            width: auto;
            max-width: 200px;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
            font-size: 12px;
        }

            #custom-menu1 ol li, #custom-menuFam ol li {
                margin: 0;
                display: block;
                list-style: none;
                padding: 5px 5px;
            }

                #custom-menu1 ol li:hover, #custom-menuFam ol li:hover {
                    color: darkslateblue;
                    /*background-color: #0066aa;*/
                    background-color: white;
                }

                #custom-menu1 ol li a:hover, #custom-menuFam ol li a:hover {
                    color: darkmagenta;
                    /*background-color: #0066aa;*/
                    background-color: white;
                }

                #custom-menu1 ol li:active, #custom-menuFam ol li:active {
                    color: White;
                    background-color: #000;
                }

            #custom-menu1 ol .list-devider, #custom-menuFam ol .list-devider {
                padding: 0px;
                margin: 0px;
            }

                #custom-menu1 ol .list-devider hr, #custom-menuFam ol .list-devider hr {
                    margin: 2px 0px;
                }

            #custom-menu1 ol li a, #custom-menuFam ol li a {
                /*color: white;*/
                text-decoration: none;
                display: block;
                padding: 0px 5px;
            }

                #custom-menu1 ol li a:active, #custom-menuFam ol li a:active {
                    color: White;
                }

    .k-grid tbody .k-grid .k-grid-header {
        display: none;
    }
.k-state-focused, .k-list > .k-state-focused, .k-listview > .k-state-focused, .k-grid-header th.k-state-focused, td.k-state-focused, .k-button.k-state-focused {
   outline-style: none;
   box-shadow: none;
  border-color: transparent;
}
</style>


<form name="myForm">
    <div>
        <div class="form-horizontal" id="divselectcatalog">
            <div class="col-sm-12">
                <div class="col-sm-2"></div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <div class="col-sm-2 bold margintop padding-0">
                            Export Template
                        </div>
                        <div class="col-sm-4">
                            <select kendo-drop-down-list
                                    id="projectName"
                                    k-option-label="'---New---'"
                                    k-data-text-field="'PROJECT_NAME'"
                                    k-data-value-field="'PROJECT_ID'"
                                    k-data-source="genericTemplateDataSource"
                                    k-on-change="OpenExportTemplate(kendoEvent)"
                                    ng-model="PROJECT_ID"
                                    name="projectName"
                                    style="width:175px"></select>
                            <button type="button" class="btn btn-primary btn-xs" ng-disabled="!EditMode" ng-click="DeleteProject(PROJECT_ID)" title="Delete" style="height: 29px;padding-top: 3px;"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </div>

                        <div class="col-sm-2 bold margintop padding-0">
                            Template Name
                        </div>
                        <div class="col-sm-4">
                            <input type="text" ng-disabled="Newproject" style="width: 176px;float: left;" name="description" ng-model="Export.PROJECT_NAME" ng-trim="false" onkeypress="return AvoidSpace(event)">

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 bold margintop padding-0">
                            Catalog Name
                        </div>
                        <div class="col-sm-4">
                            <select kendo-drop-down-list
                                    k-option-label="'--- Select Catalog ---'"
                                    k-data-text-field="'CATALOG_NAME'"
                                    k-data-value-field="'CATALOG_ID'"
                                    k-data-source="catalogDataSource"
                                    k-on-change="catalogChange(kendoEvent)"
                                    ng-model="SelectedCatalogId"
                                    style="width:175px"></select>
                        </div>
                        <div class="col-sm-2 bold margintop padding-0">
                            Export Format
                        </div>
                        <div class="col-sm-4">
                            <select kendo-drop-down-list
                                    @*k-option-label="'--- Select ---'"*@
                                    k-on-change="exportchangeevent(kendoEvent)"
                                    ng-model="outputformat"
                                    style="width:165px;">
                                @*<option>CSV</option>*@
                                <option>Text</option>
                                <option>XML</option>
                                <option>XLS</option>
                                <option>XLSX</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">

                        @*<div id="importcontainer" class="col-sm-5">
                                <div id="importtitle" class="">Export Type</div>
                                <div class="row">

                                    <div class="padding-0">
                                        <input id="rdfull" type="radio" value="1" class="margin-left-15" name="exporttypes" ng-change="displayselectiontree()" ng-model="exporttypes" />
                                        Full&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input id="rdincre" ng-disabled="true" type="radio" name="exporttypes" style="margin-left: 20px;" ng-change="displayselectiontree()" ng-model="exporttypes" ng-value="2" />
                                        <span style="color: #bbb">Incremental</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <br>
                                        <br>
                                        <input id="rdpartial" type="radio" class="margin-left-15" value="3" name="exporttypes" ng-change="displayselectiontree()" ng-model="exporttypes" />
                                        Partial&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input id="rddate" style="margin-left: 1px;" type="radio" value="4" name="exporttypes" ng-change="displayselectiontree()" ng-model="exporttypes" />
                                        Date Range
                                    </div>
                                </div>
                            </div>*@
                        <div id="importcontainer" class="col-sm-5">
                            <div id="importtitle" class="">Export Type</div>
                            <div class="row">

                                <div class="padding-0">
                                    <input id="rdfull" type="radio" value="1" class="margin-left-15" name="exporttypes" ng-change="displayselectiontree()" ng-model="exporttypes" />
                                    Full&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    <input id="rdpartialCat" type="radio" class="margin-left-15" value="2" name="exporttypes" ng-change="displayselectiontree()" ng-model="exporttypes" />
                                    Category&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <br>
                                    <br>
                                    <br>
                                    <input id="rdpartial" type="radio" class="margin-left-15" value="3" name="exporttypes" ng-change="displayselectiontree()" ng-model="exporttypes" />
                                    Partial&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input id="rddate" style="margin-left: 1px;" type="radio" value="4" name="exporttypes" ng-change="displayselectiontree()" ng-model="exporttypes" />
                                    Date Range
                                </div>
                            </div>
                        </div>

                        <div id="importcontainer" class="col-sm-5">
                            <div id="importtitle" class="">Delimiter</div>
                            <div class="row">

                                <div class="padding-0">
                                    <input id="rdtab" ng-disabled="enabledelimiters" class="margin-left-15" type="radio" value="\t" name="Delimiters" ng-change="delimiteroption()" ng-model="Delimiters" style="margin-left: 5px;" />
                                    Tab&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input id="rdcomm" ng-disabled="enabledelimiters" type="radio" value="," name="Delimiters" ng-change="delimiteroption()" ng-model="Delimiters" />
                                    Comma&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <br>
                                    <br>
                                    <br>
                                    <input id="rdpipe" ng-disabled="enabledelimiters" class="margin-left-15" type="radio" value="|" name="Delimiters" ng-change="delimiteroption()" ng-model="Delimiters" style="margin-left: 5px;" />
                                    Pipe&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input id="rdspac" ng-disabled="enabledelimiters" type="radio" value="\s" name="Delimiters" ng-change="delimiteroption()" ng-model="Delimiters" />
                                    Space&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>

                    </div>
                  
                    <div class="form-group">

                        <div class="col-sm-2 bold padding-0">
                            Export ID Values
                        </div>
                        <div class="col-sm-4">
                            <input id="expid" ng-disabled="disableexpids" type="radio" value="Yes" name="exportids" ng-model="exportids" />
                            Yes&nbsp;&nbsp;&nbsp;&nbsp;
                            <input id="expid1" ng-disabled="disableexpids" type="radio" value="No" name="exportids" ng-model="exportids" />
                            No
                        </div>
                        <div class="col-sm-2 bold padding-0">
                            Includes Table Designer
                        </div>
                        <div class="col-sm-4">
                            <input id="tabledesigner" type="radio" value="Yes" name="exporttabledesigner" ng-model="exporttabledesigner" />
                            Yes&nbsp;&nbsp;
                            <input id="tabledesigner" type="radio" value="No" name="exporttabledesigner" ng-model="exporttabledesigner" />
                            No
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 bold padding-0">
                            FTP
                        </div>
                        <div class="col-sm-4">
                            <input type="radio" value="1" name="chooseFile" ng-change="exportpathchange(chooseFile)" ng-model="chooseFile" />
                            Yes&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" value="2" name="chooseFile" ng-change="exportpathchange(chooseFile)" ng-model="chooseFile" />
                            No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>


                        <div class="col-sm-2 bold padding-0" ng-show="splitoption">
                            Split Sheet
                        </div>
                        <div class="col-sm-4" ng-show="splitoption">
                            <input id="splitsheet" type="radio" value="Yes" ng-disabled="splitsheetshow" ng-change="SplitSheetSelection(exportsplitsheet)" name="exportsplitsheet" ng-model="exportsplitsheet" />
                            Yes&nbsp;&nbsp;
                            <input id="splitsheet" type="radio" value="No" ng-disabled="splitsheetshow" ng-change="SplitSheetSelection(exportsplitsheet)" name="exportsplitsheet" ng-model="exportsplitsheet" />
                            No

                        </div>


                    </div>

                    <div class="form-group">
                        @*Hidding "Export Attributes as" in export.*@
                        <div style="display:none;">

                            <div class="col-sm-2 bold padding-0">
                                Export Attributes as
                            </div>
                            <div class="col-sm-4">
                                <input id="familynameascradio" type="radio" ng-model="Export.exportAttributes" value="Row" />
                                Row&nbsp;
                                <input id="familynamedescradio" type="radio" ng-model="Export.exportAttributes" value="Column" style="margin-left: 12px;" />
                                Column
                            </div>

                        </div>
                        <div>
                            <div class="col-sm-2 bold padding-0">
                                Includes Hierarchy
                            </div>
                            <div class="col-sm-4">
                                <input id="hierarchyy" type="radio" value="Yes" ng-disabled="hierarchyshow" ng-change="hierarchychange()" name="hierarchy" ng-model="hierarchy" />
                                Yes&nbsp;&nbsp;&nbsp;&nbsp;
                                <input id="hierarchyn" type="radio" value="No" ng-disabled="hierarchyshow" ng-change="hierarchychange()" name="hierarchy" ng-model="hierarchy" />
                                No
                            </div>
                        </div>
                    </div>


                    <div class="form-group">


                        <div class="col-sm-2 bold padding-0">
                            Single Sheet
                        </div>
                        <div class="col-sm-4">
                            <input type="radio" value="Yes" name="exportsinglesheet" ng-change="singlesheetchange(singlesheet)" ng-model="singlesheet" />
                            Yes&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" value="No" name="exportsinglesheet" ng-change="singlesheetchange(singlesheet)" ng-model="singlesheet" />
                            No

                        </div>



                    </div>

                    <div class="form-group">
                        <div id="ftppath" class="ftpform">
                            <div id="importcontainer" class="col-sm-5" style="font-size: 13px;">
                                <div id="importtitle" class="">FTP Connection</div>
                                <div class="row">
                                    <div class="padding-0">
                                        <div class="col-sm-4 bold textalignright padding-0">
                                            FTP URL
                                        </div>

                                        <div class="col-sm-7">
                                            <input type="text" name="url" ng-model="url" k-on-change="FtpChange()" />
                                        </div>
                                        <br />
                                        <div class="col-sm-4 bold textalignright padding-0">
                                            FTP User Name
                                        </div>

                                        <div class="col-sm-7">
                                            <input type="text" name="username" ng-model="username" ng-change="FtpChange()" />
                                        </div>

                                        <div class="col-sm-4 bold textalignright padding-0">
                                            FTP Password
                                        </div>

                                        <div class="col-sm-7">
                                            <input type="password" name="password" ng-model="password" ng-change="FtpChange()" />
                                        </div>

                                        <div class="col-sm-4">
                                            <button class="btn btn-primary" type="button" ng-disabled="!username || !url || !password" ng-click="btnValidate(url,username,password)">
                                                Validate Connection
                                            </button>
                                            <button class="btn btn-primary" type="button" ng-click="clearFtpValues()" style="margin-left: 182px;margin-top: -52px;">
                                                Clear
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div ng-show="displaydateonselection" class="col-sm-6 padding-0">
                            <div class="col-sm-4 bold padding-0 margintop">Start date</div>
                            <div class="col-sm-5">
                                <input id="datepickerfrom" ng-model="fromdate" />
                            </div>
                            <br />
                            <br />
                            <div class="col-sm-4 bold padding-0 margintop">End date</div>
                            <div class="col-sm-5">
                                <input id="datepickerto" ng-model="todate" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-1"></div>
                <br />
                <br>
                <div class="col-sm-2"></div>
                <div class="col-sm-4" id="treeViewDiv" ng-show="partialexport" style="max-height: 500px;">
                    <h6 class="bold">CATEGORIES</h6>
                    <div class="titleblue" style="width:100%;padding: 5px;">
                        <span><input type="checkbox" id="chkEnabled1" ng-model="CheckOrUncheckBox1" ng-click="CheckOrUncheck1()" style="align-content: center"> <b>All CATEGORIES</b></input> </span>
                    </div>
                    <div kendo-tree-view="tree" style="width:100%;max-height: 500px; height:250px;border: 1px solid #ccc;border-radius: 4px; overflow:auto" k-data-source="ExporttreeData" id="leftNavTreeViewKendoNavigator" k-load-on-demand="true" k-on-change="selectedItem = dataItem"
                         data-drag-and-drop="false" k-options="ExporttreeOptionsCatalog">
                        <span k-template style="width: 95% !important">
                            <a class='k-item' id="{{dataItem.id}}" on-touch-end="onTouchEnd()" prevent-click="true">
                                {{dataItem.CATEGORY_NAME}}
                            </a>
                        </span>
                    </div>
                </div>

                <div class="col-sm-4" id="treeViewDivFam" ng-show="partialexport" style="max-height: 500px;">
                    <h6 class="bold">PRODUCTS</h6>
                    <div class="titleblue" style="width:100%;padding: 5px;">
                        <span style="height: 15px;">
                            <input type="checkbox" id="chkEnabled2" ng-model="CheckOrUncheckBox2" ng-click="CheckOrUncheck1fam(this)"> <b>All PRODUCTS</b></input>
                        </span>
                    </div>
                    <div kendo-tree-view="tree" style="width:100%;max-height: 500px; height:250px;border: 1px solid #ccc;border-radius: 4px; overflow:auto"
                         k-data-source="ExporttreeDatafam" id="leftNavTreeViewKendoNavigatorfam" k-load-on-demand="true" k-on-change="selectedItem = dataItem"
                         data-drag-and-drop="false" k-options="ExporttreeOptionsCatalogfam">
                        <span k-template style="width: 95% !important">
                            <a class='k-item' id="{{dataItem.FAMILY_ID}}" on-touch-end="onTouchEnd()" prevent-click="true">
                                {{dataItem.FAMILY_NAME}}
                            </a>

                        </span>

                    </div>
                    <br>

                </div>

                <div class="col-sm-4" id="treeViewDivCat" ng-show="Categoryexport" style="max-height: 500px;">
                    <h6 class="bold">CATEGORIES</h6>
                    <div kendo-tree-view="tree"
                         style="width:100%;max-height: 500px; height:250px;border: 1px solid #ccc;border-radius: 4px; overflow:auto"
                         k-data-source="ExporttreeData" id="leftNavTreeViewKendoNavigator"
                         k-load-on-demand="true" k-on-change="selectedItem = dataItem"
                         data-drag-and-drop="false"
                         k-options="ExporttreeOptionsCatalog"
                         ng-click="updateChks(this)">
                        <span k-template style="width: 95% !important">
                            <a class='k-item' id="{{dataItem.id}}" on-touch-end="onTouchEnd()" prevent-click="true">
                                {{dataItem.CATEGORY_NAME}}
                            </a>
                        </span>
                    </div>
                </div>

                <div class="col-sm-4" id="treeViewDivFamCat" ng-show="Categoryexport" style="max-height: 500px;">
                    <h6 class="bold">PRODUCTS</h6>
                    <div class="titleblue" style="width:100%;padding: 5px;">
                        <span style="height: 15px;">
                            <input type="checkbox" id="chkEnabled3" ng-model="CheckOrUncheckBox3" ng-click="CheckOrUncheck2fam(this)"> <b>All PRODUCTS</b></input>
                        </span>
                    </div>
                    <div kendo-tree-view="tree" style="width:100%;max-height: 500px; height:250px;border: 1px solid #ccc;border-radius: 4px; overflow:auto"
                         k-data-source="ExporttreeDatafam1" id="leftNavTreeViewKendoNavigatorfam" k-load-on-demand="true" k-on-change="selectedItem = dataItem"
                         data-drag-and-drop="false" k-options="ExporttreeOptionsCatalogfam" ng-click="updateChksfam(this)">
                        <span k-template style=" width 95% !important">
                            <a class='k-item' id="{{dataItem.FAMILY_ID}}" on-touch-end="onTouchEnd()" prevent-click="true">
                                {{dataItem.FAMILY_NAME}}
                            </a>

                        </span>

                    </div>
                    <br>

                </div>
                <div class="col-sm-2"></div>

                <div class="col-sm-12" align="center">
                    @*<button class="btn btn-primary btn-xs" type="button" ng-disabled="!myForm.$valid" ng-click='btnLoad()' title="{{exportLoad}}">
                            Load
                        </button>*@
                    <button class="btn btn-primary btn-xs" type="button" ng-show="nxtbtn" ng-disabled="!myForm.$valid || exportValid || isdisabled" ng-click='btnNext(myForm)' id="nextBtn" title="{{exportNext}}">
                        Next
                    </button>
                    <button class="btn btn-primary btn-xs" type="button" ng-show="Expbtn" ng-click='ExpNext(this)' id="ExportBtn" title="{{exportNext}}">
                        Export
                    </button>
                    @*<button class="btn btn-primary" type="button" ng-click='btnCancel()'>
                            Cancel
                        </button>*@
                </div>

            </div>

        </div>
    </div>


    <div class="col-sm-12" id="divselectcatalogattributes">
        <div class="form-horizontal" id="divselectcatalogs">
            <div class="col-sm-12 exporttemplate">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="col-sm-2 bold textalignright margintop padding-0">
                        Select Catalog
                    </div>
                    <div class="col-sm-4">
                        <select kendo-drop-down-list
                                k-option-label="'--- Select Catalog ---'"
                                k-data-text-field="'CATALOG_NAME'"
                                k-data-value-field="'CATALOG_ID'"
                                k-data-source="catalogDataSource"
                                k-on-change="catalogChange(kendoEvent)"
                                ng-model="SelectedCatalogId"
                                style="width:175px"></select>
                    </div>
                    <div class="col-sm-2 bold textalignright margintop padding-0">
                        Select Category
                    </div>
                    <div class="col-sm-3">
                        <select kendo-drop-down-list
                                k-option-label="'---All Categories ---'"
                                k-data-text-field="'CATEGORY_NAME'"
                                k-data-value-field="'CATEGORY_ID'"
                                k-data-source="categoryDataSource"
                                k-on-change="categoryChange(kendoEvent)"
                                style="width:175px"></select>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
        <div ng-show="!exportFinal">
            <table class="col-sm-12">
                <tbody>
                    <tr>
                        <td class="col-sm-1"></td>
                        <td class="col-sm-3" style="vertical-align: top;width: 1%;">
                            <h6 class="bold">Available Attributes</h6>
                            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                            <div class="navbar-content" id="showAttributeName">
                                <div class="main-navigation navbar-collapse1" style="position: inherit;width: 380px;">
                                    <div style="min-height: auto; overflow: auto; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                                        <div id="chkbxAttributeId" style="text-align: left !important;">
                                            <div kendo-grid="catselectgrid" options="mainGridOptions" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1" style="width: 1%;">
                            <table>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-default btn-xs" ng-click="SavePublishAttributes()"><span class="glyphicon glyphicon-arrow-right"></span></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-default btn-xs" ng-click="DeletePublishAttributes()"><span class=" glyphicon glyphicon-arrow-left"></span></button>
                                    </td>
                                </tr>

                            </table>
                        </td>
                        <td class="col-sm-3" style="vertical-align: top;width: 1%;">
                            <h6 class="bold">Selected Attributes</h6>
                            <h6 class="bold" id="remainingattrib" style="text-transform:none !important">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>

                            <div class="navbar-content" id="showSelectedAttributes">
                                <div class="main-navigation navbar-collapse1" style="position: inherit;width: 380px;">
                                    <div style="min-height: auto; border: 1px solid rgb(204, 204, 204); overflow: auto;border-radius: 4px;">
                                        <div id="chkbxselAttributeId">
                                            <div kendo-grid="prodselectgrid" options="selectedGridOptions">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1"></td>
                        @*<td style="vertical-align: top"></td>*@
                    </tr>

                    <tr>
                        <td colspan="6">
                            <div class="col-sm-12 padding-0" id="treeViewDivAttribute" style="max-height: 626px;">


                                @*<div id="exportAttributes">
                                        <div id="ss" ng-right-click="click($event)">
                                            <div id="gridExportAttributes"></div>
                                        </div>
                                    </div>
                                    <div id="custom-menu1" ng-mouseleave="HideMenu1()" class="k-list-container k-split-container k-popup k-group k-reset k-state-border-up" ng-cloak>
                                        <ol>
                                            <li ng-click="leftNavExpand()"><a><b>Expand All</b></a> </li>
                                            <li ng-click="leftNavCollapse()"><a><b>Collapse All</b></a> </li>
                                        </ol>
                                    </div>*@
                                <div class="row margin-0">
                                    <h6 class="bold" style="float: left;margin: 6px;">Selected Attributes</h6>
                                    @*<div class="col-sm-3"><switch name="onOff" id="pemp_yes" ng-model="NewProject.DisplayIDColumns" on="Yes" off="No"></switch></div>*@
                                </div>
                                @*<input type="radio" value="false" name="user_past_employ_status" id="pemp_yes" checked><label for="pemp_yes">Yes</label>
                                    <input type="radio" value="true" name="user_past_employ_status" id="pemp_no"><label for="pemp_no">No</label>*@
                                <div class="selectedattribute" style="margin-top: 10px;overflow-y: auto; overflow-x: auto;">
                                    <div kendo-grid options="attributeMainGridOptions" id="grid">
                                    </div>
                                    <script type="text/x-kendo-template" id="plantemplate">
                                        <div kendo-grid k-options="attributeDetailGridOptions(dataItem)" id="attributedetailgrid"></div>
                                    </script>
                                </div>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <br />
            <table width="100%" align="center">
                <tr>
                    <td align="center">
                        <div class="form-group margin-top-25 center-block">
                            <button class="btn btn-primary btn-xs" type="button" ng-click='btnNextStep()' title="{{exportProduct}}"> Next </button>
                            <button class="btn btn-primary btn-xs" type="button" ng-click='btnCancel()' title="{{exportBack}}"> Back to Create Project </button>
                            @*<button class="btn btn-primary btn-xs" type="button" ng-show="backtopproj" ng-click='backtoexp()' title="{{exportBack}}"> Back to Create Project </button>*@
                            <div role="alert">
                                <span class="message-error" ng-show="myForm.description.$error.required">
                                    @*Please Enter a Description.*@
                                </span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div ng-show="exportFinal">
            <div id="AttributeDisplayGrid" ng-hide="EnableExportBatch"></div>
            <table width="100%" align="center">
                <tr ng-show="!EnableExportBatch">
                    <td align="center">
                        <div class="form-group margin-top-25 center-block">
                            <button class="btn btn-primary btn-xs" type="button" ng-click='btnCancel()' title="{{exportBack}}"> Back to Create Project </button>
                            <button class="btn btn-primary btn-xs" type="button" ng-click='btnExport()' title="{{exportProduct}}"> Export </button>
                            <button class="btn btn-primary btn-xs" type="button" ng-click='EnableBachfunExport()' title="Add To Schedule" value="Batch process">Add To Schedule</button>



                            @*<div style="padding-top:10px" ng-show="hideProjectName" ng-model="hideProjectName">
                                    <div class="col-sm-2 bold textalignright margintop padding-0" style="margin-left: 372px" ;>
                                        Project Name:
                                    </div>
                                    <input type="text" style="width: 176px;float: left;    margin-left: 16px;" name="description" ng-model="ScheduleProjectName" ng-trim="false">

                                    <button class="btn btn-primary btn-xs" type="button" ng-click='UpdateProjectName()' value="Batch process">Update</button>
                                </div>*@









                            <div role="alert">
                                <span class="message-error" ng-show="myForm.description.$error.required">
                                    @*Please Enter a Description.*@
                                </span>
                            </div>
                        </div>
                    </td>
                </tr>


                <tr ng-show="EnableExportBatch">
                    @*<td align="center">
                            <div class="col-sm-12 padding-0 margin-bottom-40" style="text-align: center;margin-top: 15px;width:19%;margin-left: 40%;" >

                                <input id="txtDataTime" ng-model="scheduleTime" style="border: 1px solid #ccc;" />
                            </div>
                            <hr />
                        </td>*@
                    <td align="center">
                        <div class="form-group margin-top-25 center-block">
                            <button class="btn btn-primary btn-xs" type="button" ng-click='btnCancel()' ng-if="EnableExportBatch" title="{{exportBack}}">Back</button>
                            <button class="btn btn-primary btn-xs" id="Schedule" type="button" value="Batch process" ng-if="EnableExportBatch" title="Schedule" ng-click="btnExport()">Schedule</button>
                            <button type="button" class="btn btn-primary btn-xs" ng-if="EnableExportBatch" style="width: 100px;" title="Setup Export" ng-click="btnCancel()">Setup Export</button>
                        </div>
                    </td>
                </tr>


            </table>
        </div>
    </div>


</form>

<script>

    $("#datepickerfrom").kendoDatePicker({
        animation: false
    });

    $("#datepickerto").kendoDatePicker({
        animation: false
    });


</script>

<script>
    function AvoidSpace(event) {

        var k = event ? event.which : window.event.keyCode;
        if (k >= 49 && k <= 57) {
            return true;
        }
        else if (k >= 97 && k <= 112) {
            return true;
        }
        else if (k >= 65 && k <= 90) {
            return true;
        }
        else if (k >= 186 && k <= 222) {
            return false;
        }
        else if (k >= 58 && k <= 64) {
            return false;
        }
        else if (k >= 91 && k <= 96) {
            return false;
        }
        else if (k >= 123 && k <= 126) {
            return false;
        }
        else if (k == 32) {
            return false;
        }
        else if (k <= 47) {
            return false;
        }

        else {
            return true;
        }
        return true;

    }
</script>

<script>
    $("input[name='onOff']").on("click", function () {
        $(".selectedattribute").toggle(this.value === "false" && this.checked);
    });
</script>







