﻿<script type="text/javascript" src='@Url.Content("~/Views/App/SqlReports/ReportController.js")'></script>


<style>
    .heightsample {
        height: 600px !important;
        width: 100%;
    }
    /*.kendowidth
    {
        width:100% !important;
    }*/

    .reportdetailsdrop {
        width: 500px;
    }

    #dynamictable > div > .kendowidth > .k-grid-header > .k-grid-header-wrap > table {
        width: inherit !important;
    }

    #dynamictable > div > .kendowidth > .k-grid-content > table {
        width: inherit !important;
    }
</style>
<div class="col-sm-12">
    <form name="reportsform" ng-controller="ReportController" ng-cloak>

        <table ng-if="RepotsItemsDropdown">
            <tr>
                <td>
                    <div class="col-sm-12">
                        <select kendo-drop-down-list
                                k-data-text-field="'Sub_R_name1'"
                                k-data-value-field="'Sub_id1'"
                                k-options="SubReportOptions"
                                k-on-change="catalogChange(kendoEvent)"
                                class="reportdetailsdrop"
                                style="margin-left: -20px;"></select>
                    </div>
                </td>

                @*<td valign="middle">

                        <button class="btn btn-info btn-xs" type="button" ng-click='savecatalog()'>
                            View Report
                        </button>

                    </td>*@
            </tr>
        </table>
        <br />

        @*<div class="col-sm-12" style="margin-top: 10px">
            <div id="accordion">
                {{prodData.CATALOG_ID}}
                <div class="heightsample" ng-if="prodData!==null && prodData!==''">
                    <scrollable-table watch="jobArray">
                        <div>
                            <table ng-table="tblDashBoard" class="k-grid k-widget">
                                <thead class="k-grid-header k-grid-header-wrap headerSpacer">
                                    <tr>
                                        <th sortable-header ng-repeat="column in columnsForAtt" class="k-header">
                                            <div>
                                                <a> {{column.title}} </a>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="k-grid-content">
                                    <tr ng-repeat="Data in prodData">
                                        <td ng-repeat="column in columnsForAtt" sortable="column.field">
                                            <div>
                                                {{Data[column.field]}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </scrollable-table>
                    <table>
                        <tr>
                            <td>
                                <div>{{Error_value_Display.name}}</div>     @*&& reportGrid===true ng-show="reportGrid"
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>*@
        <div id="dynamictable" class="row" style="max-width: 100%;padding-left: 20px;overflow-x: hidden;overflow-y: auto;">

            <div style="background-color: rgba(255,255,255,.6);text-align:left !important">

                <div ng-if="reportGrid===true">
                    <div class="kendowidth" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="reportGridoptionsTrue" ng-if="selects!=='' && selects=='Category Listfrom MasterCatalog'"></div>
                </div>

                <div ng-if="reportGrid===false">
                    <div class="kendowidth" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="reportGridoptionsFalse" ng-if="selects!=='' && selects=='Category Listfrom MasterCatalog'"></div>
                </div>



                <div id="gridSource" class="kendowidth" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="ImageTypeReportsoptions" ng-if="selects!=='' && selects=='Image Type Reports'"></div>
                <div id="gridSource" class="kendowidth" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="supplierlistoptions" ng-if="selects!=='' && selects=='Supplier List Report'"></div>
                <div id="gridSource" class="kendowidth" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="virtuallistoptions" ng-if="selects!=='' && selects=='Virtual Pages Report'"></div>
                <div id="gridSource" class="kendowidth" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="familyattriboptions" ng-if="selects!=='' && selects=='Family Attribute Association with Catalog Report'"></div>
                <div id="gridSource" class="kendowidth" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="familyproductoptions" ng-if="selects!=='' && selects=='Family and Products not selected in Catalog Report'"></div>
                <div id="gridSource" class="kendowidth" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="familycreatedoptions" ng-if="selects!=='' && selects=='Family Created in Last 7 days Report'"></div>
                <div id="gridSource" class="kendowidth" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="familymodifiedoptions" ng-if="selects!=='' && selects=='Family Modified in Last 7 days Report'"></div>
                <div id="gridSource" class="kendowidth" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="noimageoptions" ng-if="selects!=='' && selects=='No Image Families Report'">
                    </divid>
                    <div id="gridSource" class="kendowidth" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="prodattriboptions" ng-if="selects!=='' && selects=='Product Attribute Association with catalog Report'"></div>
                    <div id="gridSource" class="kendowidth" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="prodmulticatoptions" ng-if="selects!=='' && selects=='Products with multiple categories and catalog Report'"></div>

                    <div id="gridSource" class="kendowidth" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="prodcreatedoptions" ng-if="selects!=='' && selects=='Products Created in Last 7 days Report'"></div>
                    <div id="gridSource" class="kendowidth" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="prodmodifiedoptions" ng-if="selects!=='' && selects=='Products Modified in Last 7 days Report'"></div>
                    <div id="gridSource" class="kendowidth" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="Totprodoptions" ng-if="selects!=='' && selects=='Total products Count Report'"></div>
                    <div id="gridSource" class="kendowidth" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="unpublishoptions" ng-if="selects!=='' && selects=='Unpublished product Report'"></div>
                    <div id="gridSource" class="kendowidth" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="unpublishcolumnsoptions" ng-if="selects!=='' && selects=='Product that has Unpublished Columns and Values Report'"></div>

                    <div id="gridSource" class="kendowidth" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="allattriboptions" ng-if="selects!=='' && selects=='All Attributes Report'"></div>
                    <div id="gridSource" class="kendowidth" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="allprodoptions" ng-if="selects!=='' && selects=='All Products with No price Report'"></div>
                    <div id="gridSource" class="kendowidth" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="noattriboptions" ng-if="selects!=='' && selects=='All Products with No Attributes Report'"></div>
                    <div id="gridSource" class="kendowidth" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="catattriboptions" ng-if="selects!=='' && selects=='Catalog Attribute Association Report'"></div>
                    <div id="gridSource" class="kendowidth" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="duplicateitemoptions" ng-if="selects!=='' && selects=='Duplicate Catalog Item Number Report'"></div>

                    @*<table>
                            <tr>
                                <td>
                                    <div>{{Error_value_Display.name}}</div>
                                </td>
                            </tr>
                        </table>*@

                </div>
            </div>
    </form>
</div>