﻿

<link href="~/Design/Login/assets/css/register.css" rel="stylesheet" />

<link href="~/Design/assets/css/bootstrap.css" rel="stylesheet" />

<link href="~/Design/assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Design/assets/kendo/styles/kendo.bootstrap.min.css" rel="stylesheet" />
<script src=@Url.Content("~/Design/js/1.11.3/jquery.min.js") type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/Others/jquery.validate.min.js"></script>
<script src="~/Design/Login/assets/js/jquery.js"></script>
<script src="~/Design/Login/assets/js/bootstrap.min.js"></script>
<script src="~/Scripts/Others/kendo.all.min.js"></script>

<div>

    <section class="is-bold" style="background-color: #F0EAE0;">
       

        <div class="hero-body" style="padding: 0;">
            <div class="container-fluid" style="padding: 0;">

                <div class="columns is-vcentered">
                    <div class="column is-6 is-fullheight" style="padding: 0;">
                        <img src="~/Design/Login/assets/images/login-image.png" />
                    </div>

                    <div class="column is-6">

                        <!-- Classic inputs -->
                        <div id="classic" class="login-form-wrapper">
                            <!-- Classic login form -->
                            <form name="loginForm" novalidate>
                               
                                <div id="login-form" class="animated preFadeInLeft fadeInLeft">
                                    <div class="auth-card is-light-raised light-bordered card-overflow">
                                        <div class="auth-card-header">
                                            User Signup
                                        </div>
                                        <!--@*@if (ViewBag.result != null)
                                        {


                                        <div class="labelclass">
                                            <label>Thank you for subscription of Tradewinds.Your subscription will be activated soon. <br /> If you have any query please contact Admin. <br /> </label>

                                        </div>
                                        }*@-->
                                        <!--@using (Html.BeginForm("RegisterWeb", "App", FormMethod.Post, new { @id = "UserRegistrationWebForm", @class = "form-horizontal", role = "form" , @name="UserWebForm"}))
                                        {-->


                                        <div class="field mb-20">
                                            <div class="control">
                                                <label>First Name</label>
                                                <!--@(Html.TextBoxFor(m => m.FirstName, new { @class = "input twi-input-login ", @title = "First Name", required = "required" ,@name= "FirstName" }))-->
                                                <input type="text" class="input twi-input-login" name="f-name" required="" />
                                                <span class="fontsize text-danger pull-left" style="color:red">
                                                  
                                                </span>
                                            </div>
                                        </div>
                                        <div class="field mb-20">
                                            <div class="control ">
                                                <label>Last Name</label>
                                                <!--@(Html.TextBoxFor(m => m.LastName, new { @class = "input twi-input-login", @title = "Last Name", required = "required" , @name= "LastName" }))-->
                                                <input type="text" class="input twi-input-login" name="l-nmae" required="" />
                                                <span class="fontsize text-danger pull-left" style="color:red">
                                                  
                                                </span>
                                            </div>
                                        </div>

                                        <div class="field mb-20">
                                            <div class="control">
                                                <label>Company Name</label>
                                                <!--@(Html.TextBoxFor(m => m.CompanyName, new { @class = "input twi-input-login", @title = "Company Name", @id = "Comp", required = "required",@name= "CompanyName" }))-->
                                             <input type="text" class="input twi-input-login" name="company-name" required="" />
                                                <span class="fontsize text-danger pull-left" style="color:red">
                                                    @(Html.ValidationMessageFor(m => m.CompanyName))
                                                </span>
                                            </div>
                                        </div>

                                        <div class="field mb-20">
                                            <div class="control">
                                                <label>Email Address</label>
                                                <!--@(Html.TextBoxFor(m => m.Email, new { @class = "input twi-input-login", @title = "Email", required = "required" , @name= "Email" }))-->
                                               <input type="email" class="input twi-input-login" name="email" required="" />
                                                <span class="fontsize text-danger pull-left" style="color:red">
                                                
                                                </span>
                                            </div>
                                        </div>

                                        <div class="field mb-20">
                                            <div class="control">
                                                <label>Additional Information</label>
                                                <!--@(Html.TextAreaFor(m => m.Notes, new { @class = "input twi-input-login", @title = "Notes", required = "required",@name= "Notes" }))-->
                                                <textarea type="text" class="input twi-input-login" name="notes" required=""></textarea>
                                                <span class="fontsize text-danger pull-left" style="color:red">
                                                 
                                                </span>
                                            </div>
                                        </div>

                                        <br />
                                        <div class="pt-10 mb-20" id="dialog">
                                            <button type="button" name="button" class="btn twi-login-btn" onclick="buttonValue(this)" data-toggle="modal">
                                                SUBMIT

                                                <img src="~/Design/Login/assets/images/login-page-arrow.png" style="margin-top: -3px;" />
                                            </button>
                                           

                                            <div id="myModal" class="modal fade" role="dialog">
                                                <div class="modal-dialog">

                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">TRADEWINDS</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                     
                                                        </div>
                                                        <div class="modal-footer">
                                                            <center> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>



                         
                                    </div>
                                </div>
                        
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

   

        <!-- Modal -->
        

        <script type="text/javascript" src="~/Scripts/Others/jquery.validate.min.js"></script>
        <script type="text/javascript" src="~/Scripts/Others/jquery.validate.unobtrusive.js"></script>



        <script type="text/javascript">

            function buttonValue(e) {
                alert(e.value);
            }

            $("#btnSubmit").on("click", function (e) {
                var dataString = $("#UserRegistrationWebForm").serialize();

                $.ajax({
                    type: "POST",
                    url: "/App/RegisterWeb",
                    data: dataString,
                    success: function () {
                        $("#myModal").show();

                    }
                });

                //e.preventDefault();
            });





            $(function () {
                $("#cancel").click(function () {
                    var baseUrl = $("base").first().attr("href");
                    location.href = baseUrl + "Accounts/LogOn"; //
                });
            });
            $(document).ready(function () {

                $("#txtFax").forceNumeric();
            });
            jQuery.fn.forceNumeric = function () {

                return this.each(function () {
                    $(this).keydown(function (e) {
                        var key = e.which || e.keyCode;

                        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
                            // numbers
                            key >= 48 && key <= 57 ||
                            // Numeric keypad
                            key >= 96 && key <= 105 ||
                            // comma, period and minus, . on keypad
                           key == 190 || key == 188 || key == 109 || key == 110 ||
                            // Backspace and Tab and Enter
                           key == 8 || key == 9 || key == 13 ||
                            // Home and End
                           key == 35 || key == 36 ||
                            // left and right arrows
                           key == 37 || key == 39 ||
                            // Del and Ins
                           key == 46 || key == 45)
                            return true;

                        return false;
                    });
                });
            }




            $().ready(function () {
        // validate the comment form when it is submitted
        $("#registerFormId").validate({
            submitHandler: function (form) { // blocks submission for demo
                return false;
            }
    });



    });




            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            //$(".close").click(function () {
            //    var win = window.open("about:blank", "_self");
            //    win.close();
                //$('#myModal').modal('hide');
            //});

        </script>
    </section>




</div>
