﻿

@model LS.Data.Model.Accounts.UserWebModel
@{

    Layout = null;
}



<link href="~/Design/Login/assets/css/register.css" rel="stylesheet" />

<link href="~/Design/assets/css/bootstrap.css" rel="stylesheet" />

<link href="~/Design/assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="@Url.Content("~/Design/assets/kendo/styles/kendo.common.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Design/assets/kendo/styles/kendo.common.min.css")" rel="stylesheet" type="text/css" />


<div>

    <section class="is-bold" style="background-color: #F0EAE0;">
        @using (Html.BeginForm())
        {

            <div class="hero-body" style="padding: 0;">
                <div class="container-fluid" style="padding: 0;">

                    <div class="columns is-vcentered">
                        <div class="column is-6 is-fullheight" style="padding: 0;">
                            <img src="~/Design/Login/assets/images/login-image.png" />
                        </div>

                        <div class="column is-6">

                            <!-- Classic inputs -->
                            <div id="classic" class="login-form-wrapper">
                                <!-- Classic login form -->
                                @*<form name="loginForm" novalidate>*@
                                <div id="login-form" class="animated preFadeInLeft fadeInLeft">
                                    <div class="auth-card is-light-raised light-bordered card-overflow">
                                        <div class="auth-card-header">
                                            User Signup
                                        </div>
                                        @if (ViewBag.result != null)
                                        {


                                            <div class="labelclass">
                                                <label> Thank you for registering for the TWI Member Portal.Hang tight, your account will be verified shortly.<br /> Please contact portal@twiconsol.com if you have any questions.  <br /> </label>
                                            </div>
                                        }
                                        @using (Html.BeginForm("RegisterWeb", "App", FormMethod.Post, new { @id = "registerFormId", @class = "form-horizontal", role = "form" }))
                                        {


                                            <div class="field mb-20">
                                                <div class="control">
                                                    <label>First Name</label>
                                                    @(Html.TextBoxFor(m => m.FirstName, new { @class = "input twi-input-login ", @title = "First Name", required = "required" }))
                                                    @*<input type="text" class="input twi-input-login" name="f-name" required="" />*@
                                                    <span class="fontsize text-danger pull-left" style="color:red">
                                                        @(Html.ValidationMessageFor(m => m.FirstName))
                                                    </span>
                                                </div>
                                            </div>
                                                <div class="field mb-20">
                                                    <div class="control ">
                                                        <label>Last Name</label>
                                                        @(Html.TextBoxFor(m => m.LastName, new { @class = "input twi-input-login", @title = "Last Name", required = "required" }))
                                                        @*<input type="text" class="input twi-input-login" name="l-nmae" required="" />*@
                                                        <span class="fontsize text-danger pull-left" style="color:red">
                                                            @(Html.ValidationMessageFor(m => m.LastName))
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="field mb-20">
                                                    <div class="control">
                                                        <label>Company Name</label>
                                                        @(Html.TextBoxFor(m => m.CompanyName, new { @class = "input twi-input-login", @title = "Company Name", @id = "Comp", required = "required" }))
                                                        @*<input type="text" class="input twi-input-login" name="company-name" required="" />*@
                                                        <span class="fontsize text-danger pull-left" style="color:red">
                                                            @(Html.ValidationMessageFor(m => m.CompanyName))
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="field mb-20">
                                                    <div class="control">
                                                        <label>Email Address</label>
                                                        @(Html.TextBoxFor(m => m.Email, new { @class = "input twi-input-login", @title = "Email", required = "required" }))
                                                        @*<input type="email" class="input twi-input-login" name="email" required="" />*@
                                                        <span class="fontsize text-danger pull-left" style="color:red">
                                                            @(Html.ValidationMessageFor(m => m.Email))
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="field mb-20">
                                                    <div class="control">
                                                        <label>Additional Information</label>
                                                        @(Html.TextAreaFor(m => m.Notes, new { @class = "input twi-input-login", @title = "Notes" }))
                                                        @*<textarea type="text" class="input twi-input-login" name="notes" required=""></textarea>*@
                                                    </div>
                                                </div>

                                                <br />
                                                <div class="pt-10 mb-20">
                                                    <button type="submit" class="btn twi-login-btn" id="submit1">
                                                        SUBMIT&nbsp;
                                                        <img src="~/Design/Login/assets/images/login-page-arrow.png" style="margin-top: -3px;" />
                                                    </button>

                                                    @if (!ViewContext.ViewData.ModelState.IsValid)
                                                    {
                                                        @(Html.ValidationSummary(true, " ", new { @class = "text-danger" }))
                                                    }


                                                </div>



                                        }
                                    </div>
                                </div>
                                @*</form>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            //Trigger the modal with a button
            @*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@

            <!-- Modal -->
        }
        <script src="~/Design/Login/assets/js/jquery.js"></script>
        <script src="~/Design/Login/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/Scripts/Others/jquery.validate.min.js"></script>
        <script type="text/javascript" src="~/Scripts/Others/jquery.validate.unobtrusive.js"></script>




        <script type="text/javascript">




            $(function () {
                @*$("#submit1").click(function (e) {
                    //

                    //$.msgBox({
                    //    title: "testing",
                    //    content: 'Saved successfully.',
                    //    type: "info",
                    //});
                    var data = "@ViewBag.result";
                    if (data != "") {
                        var $buttonClicked = $(this);
                        var options = { "backdrop": "static", keyboard: true };

                        alert(data);
                        //$('#myModalContent').html(data);
                        //('#myModal').modal(options);
                        //('#myModal').modal('show');

                    }


                });*@

            });

            $(function () {
                $("#cancel").click(function () {
                    var baseUrl = $("base").first().attr("href");
                    location.href = baseUrl + "Accounts/LogOn"; //
                });
            });
            $(document).ready(function () {

                $("#txtFax").forceNumeric();
            });
            jQuery.fn.forceNumeric = function () {

                return this.each(function () {
                    $(this).keydown(function (e) {
                        var key = e.which || e.keyCode;

                        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
                            // numbers
                            key >= 48 && key <= 57 ||
                            // Numeric keypad
                            key >= 96 && key <= 105 ||
                            // comma, period and minus, . on keypad
                           key == 190 || key == 188 || key == 109 || key == 110 ||
                            // Backspace and Tab and Enter
                           key == 8 || key == 9 || key == 13 ||
                            // Home and End
                           key == 35 || key == 36 ||
                            // left and right arrows
                           key == 37 || key == 39 ||
                            // Del and Ins
                           key == 46 || key == 45)
                            return true;

                        return false;
                    });
                });
            }




            $().ready(function () {
        // validate the comment form when it is submitted
        $("#registerFormId").validate({
            submitHandler: function (form) { // blocks submission for demo
                return false;
            }
    });



    });




            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $(".close").click(function () {
                var win = window.open("about:blank", "_self");
                win.close();
                //$('#myModal').modal('hide');
            });

        </script>
    </section>

</div>
