﻿@*@{
        ViewBag.Title = "Basic Import";
        Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
    }
    <script type="text/javascript" src='@Url.Content("~/Views/App/Import/ImportController.js")'></script>*@
<style>
    .k-tabstrip > .k-content {
        margin: 0 .286em .3em !important;
    }
</style>
<script>
    $(document).ready(function () {
        $("#tabstrip").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });
    });
</script>
<div>
    @*<div>
            @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Basic Import</span>  </div>")
        </div>
        <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);
                                           background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;
                                           box-shadow: 0 1px 0 #2c232b inset;">
            <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>Basic Import
            <div class="panel-tools">
                @* <div id="imagename" />
            </div>
        </div>*@

    <div ng-controller="ImportController" ngcloak>
        @*<div kendo-window="winNewxmlcreation" k-title="Lite Studio" k-width="300" k-height="100" k-visible="false" k-action='["Close"]' k-model="true" k-on-open="winNewxmlcreationVisible = true" k-on-close="onClose(kendoEvent)"></div>
            <div kendo-window="loadingimg" k-width="300" k-height="100" k-visible="false">
            </div>
            <div kendo-window="winxmlupdation" k-title="'Lite Studio'" k-width="300" k-height="100" k-visible="false"
                 k-actions='["Close"]'
                 k-modal="true" k-on-open="winxmlupdationVisible = true" k-on-close="onClose(kendoEvent)">
            </div>*@
        <div id="tabstrip">
            <ul id="tabselect">
                <li id="att_ass" class="k-state-active" title="{{quickImportHover}}">
                    Quick Import
                </li>
                <li id="att_sort" title="{{quickImportOpenTemplate}}">
                    Open Template
                </li>
            </ul>

            <div class="main-content no-margin">

                <form novalidate name="f1" ng-submit="SaveFileBasic()">
                    <div class="main-navigation navbar-collapse1" id="importTableSheetWindow" style="width:100%;position: inherit; @*border: 1px solid rgb(204, 204, 204);*@ border-radius: 4px;">
                        <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 10px;">
                            <tbody>
                                <tr>
                                    <td align="right" width="25%" class="bold padding-top-10">
                                        Select Import File
                                    </td>
                                    <td align="left" width="20%" style="padding-right: 280px;">
                                        <div class="file-upload btn btn-primary">
                                            <span>Choose file</span>
                                            <input type="file" name="file" id="importfile" class="selectfile uploadbtnstyle" accept=".xls,.xlsx" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" width="25%" class="bold"></td>
                                    <td align="left" width="20%" style="padding-right: 280px;">
                                        <div ng-if="SelectedFileForUploadnamemain!=''">{{SelectedFileForUploadnamemain}}</div>
                                        @*<input type="file" name="file" class="selectfile uploadbtnstyle" accept=".xls,.xlsx" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />*@

                                        <a class="k-link" href="../../Content/Excel/Quick Import Sample Sheet.xlt">
                                            Quick Import Template
                                        </a>

                                    </td>
                                </tr>
                                @*
                                    <tr>
                                        <td align="right" width="20%">
                                            <input type="radio" name="radio" id="checkedRadioCreateNew" ng-click="RadioCreateNew()" checked="checked">
                                        </td>
                                        <td align="left" width="25%">
                                            Create new catalog import settings
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" width="20%">
                                            <input type="radio" name="radio" id="checkedRadioUseSavedSettings" ng-click="RadioUseSavedSettings()" checked="checked">
                                        </td>
                                        <td align="left" width="25%">
                                            Use previously created catalog import settings
                                        </td>

                                    </tr>*@
                                <tr>
                                    <td align="right" width="20%">
                                        @*<button class="btn btn-primary btn-xs" style="margin-top: 10px;" type="button" ng-click='Cancelfile_main()'>
                                                Cancel

                                            </button>*@
                                    </td>
                                    <td align="left">
                                        <button class="btn btn-primary btn-xs" style="margin-top: 10px;" type="button" ng-click='Cancelfile_main()'>Cancel </button>
                                        <button type="submit" class="btn btn-primary btn-xs" style="margin-top: 10px;" title="{{quickImportLoadFile}}">Load </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="error"></span></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </form>

                <div class="col-sm-7 no-padding" id="basicimportTableSheetSlectectionWindow" style="width:100%;position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                    <div class="heightsample">
                        <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 10px;">
                            <tbody>
                                <tr>
                                    <td align="right" width="50%" class="bold">
                                        Select Import Worksheet
                                    </td>
                                    <td align="left" width="50%">
                                        <div>
                                            <div style="vertical-align: bottom; padding-bottom: 20px;padding-top: 8px;">
                                                <select kendo-drop-down-list
                                                        k-option-label="'--Select the Sheet--'"
                                                        k-data-text-field="'TABLE_NAME'"
                                                        k-data-value-field="'TABLE_NAME'"
                                                        k-data-source="importExcelSheetSelction"
                                                        k-on-change="basicImportExcelSheetDDSelection(kendoEvent)"></select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="basicImportSelectionTable">
                            @*<table ng-table="tblBasicDashImportBoard" show-filter="true" class="table-condensed table-bordered table-striped" width="80%" align="center">
                            *@
                            <table class="table-condensed table-bordered table-striped" width="60%" align="center" style="background-color: ghostwhite;">
                                <thead>
                                    <tr>
                                        <th ng-repeat="columns in basiccolumnsForImportAtt" ng-if="columns.title!='CatalogField' && columns.title!=='IsSystemField' && columns.title!=='' ">
                                            <div ng-if="columns.title!=='SelectedToImport'">
                                                <a>{{columns.title}}</a>
                                            </div>
                                            <div ng-if="columns.title==='SelectedToImport'" align="center">
                                                <a>{{columns.title}}</a>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="Data in basicprodImportData" class="table table-condensed table-bordered table-striped" ng-class="{'selected':$index==selectedRow}">
                                        <td ng-repeat="column in basiccolumnsForImportAtt" sortable="column.field" style="text-align: left;" ng-if="column.title!=='' && column.title!=='CatalogField' && column.title!=='IsSystemField'">
                                            <div ng-if="column.title=='SelectedToImport'" align="center">
                                                <input type="checkbox" class="chkoption" ng-model="Data[column.field]" ng-trim="false" ng-true-value="'True'" ng-false-value="'False'" />
                                            </div>
                                            <div ng-if="column.title=='ExcelColumn'">
                                                <a>{{Data[column.field]}}</a>
                                            </div>

                                            <div ng-if="column.title=='FieldType' && column.title!==''">
                                                <a ng-if="Data.IsSystemField=='True' && Data.FieldType=='0' || Data['ExcelColumn'].contains('catalog_item')" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                    {{"--SYSTEM FIELD--"}}
                                                </a>
                                                <a ng-if="Data.IsSystemField=='True' && Data.FieldType=='1'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                    {{"Alpha-Numeric [Item Level]"}}
                                                </a>
                                                <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='3'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                    {{"Image / Attachment Path [Item Level]"}}
                                                </a>
                                                <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='4'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                    {{"Price / Numbers [Item Level]"}}
                                                </a>
                                                <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='6'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                    {{"Item Key Alpha-Numeric [Item Level]"}}
                                                </a>
                                                <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='7'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                    {{"Alpha-Numeric [Product Level]"}}
                                                </a>
                                                <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='10'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                    {{"Date-Time(MM/DD/YYYY) [Item Level]"}}
                                                </a>
                                                <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='9'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                    {{"Image / Attachment Path [Product Level]"}}
                                                </a>
                                                <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='11'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                    {{"Product-Attribute [Product Level]"}}
                                                </a>
                                                <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='12'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                    {{"Product-Price [Product Level]"}}
                                                </a>
                                                <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='13'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                    {{"Product-Key [Product Level]"}}
                                                </a>
                                                <a ng-if="Data.IsSystemField=='False' || Data.IsSystemField==''">
                                                    <select kendo-drop-down-list
                                                            k-option-label="'--Select Attribute--'"
                                                            k-data-text-field="'Text'"
                                                            k-data-value-field="'value'"
                                                            k-selectable="true"
                                                            k-data-source="AttributeDataSource1"
                                                            ng-model="Data[column.field]"></select>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <table class="margin-top-20 margin-left-70" cellpadding="5" width="70%" align="center" cellspacing="5" ng-init="allowDuplication='0'">
                            <tbody>
                                <tr>
                                    <td align="right">
                                        Create duplicate product for same item Number
                                    </td>
                                    <td align="left">
                                        <input type="radio" name="radio1" id="checked-radio-yes" ng-model="allowDuplication" value="1" ng-click="radioButtonYes()" checked="checked">Yes
                                        <input type="radio" name="radio1" id="checked-radio-no" ng-model="allowDuplication" value="0" ng-click="radioButtonNo()" checked="checked">No
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 10px;">
                            <tbody>
                                <tr>
                                    <td align="center" style="padding-left:108px;">
                                        <button type="button" class="btn btn-primary btn-xs" style="width: 100px;" ng-click="FinishImportBasic()" title="{{quickImportFile}}"><div class="glyphicon glyphicon-import"></div></button>
                                        <button type="button" class="btn btn-primary btn-xs" style="width: 100px;" ng-click="SaveAsTemplate()" title="{{quickImportSave}}"><i class="fa fa-save"></i></button>
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @*<div class="col-sm-7 no-padding" id="importErrorWindow" style="width:100%;position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                            <div kendo-grid k-options="importResultGridOptions"></div>
                        </div>*@

                    <div class="col-sm-7 no-padding" id="basicImportSuccessWindow" style="width:100%;position: inherit; border-radius: 4px;" align="center">
                        @*<table ng-table="tblImportBasic" class="table-condensed table-bordered table-striped" width="100%">
                                <thead>
                                    <tr style="background-color: #e0eff7;">
                                        <th align="center" style="width: 100px;">
                                            <div align="center">
                                                <a>Row</a>
                                            </div>
                                        </th>
                                        <th align="center" style="width: 100px;">
                                            <div align="center">
                                                <a>Column</a>
                                            </div>
                                        </th>
                                        <th align="center" style="width: 250px;">
                                            <div align="center">
                                                <a>Message</a>
                                            </div>
                                        </th>
                                        <th>
                                            <div align="center">
                                                <a>Data</a>
                                            </div>
                                        </th>

                                    </tr>
                                </thead>
                            </table>
                            <div class="scrollit">
                                <table class="table-condensed table-bordered table-striped" style="width: 100%;">
                                    <tbody class="scrollit">
                                        <tr ng-repeat="Data in successREsultBasic[0].Table" class="table table-condensed table-bordered table-striped" ng-class="{'selected':$index==selectedRow}" align="center">
                                            <td align="center" style="width: 100px;">
                                                {{Data.Row}}
                                            </td>
                                            <td align="center" style="width: 100px;">
                                                {{Data.Column}}
                                            </td>
                                            <td align="center" style="width: 250px;">
                                                {{Data.Message}}
                                            </td>
                                            <td>
                                                {{Data.Data}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>*@
                        @*<div id="grid" style="height:250px;" kendo-grid k-options="BasicimportSuccessResultDatasource"></div>*@

                        <table ng-table="tblImportBasic" class="table-condensed table-bordered table-striped" width="100%">
                            <tr ng-repeat="user in $data">
                                <td title="'Row'" style="width: 100px;">
                                    {{user.Row}}
                                </td>
                                <td title="'Column'" style="width: 100px;">
                                    {{user.Column}}
                                </td>
                                <td title="'Message'" style="width: 250px;">
                                    {{user.Message}}
                                </td>
                                <td title="'Data'">
                                    {{user.Data}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="main-content no-margin">

                <form novalidate name="f1" ng-submit="SaveFileTemplate(this)">
                    <div class="main-navigation navbar-collapse1" id="importTableSheetWindowTemplate" style="width:100%;position: inherit; @*border: 1px solid rgb(204, 204, 204);*@ border-radius: 4px;">
                        <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 10px;">
                            <tbody>
                                <tr>
                                    <td align="right" width="25%" class="bold">
                                        Select Template
                                    </td>
                                    <td align="left" width="20%" style=" padding-right 280px;">
                                        <div class="file-upload btn btn-primary">
                                            <span>Choose file</span>
                                            <input type="file" class="uploadbtnstyle" name="file" accept=".xml" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                        </div>


                                    </td>
                                </tr>
                                @*
                                    <tr>
                                        <td align="right" width="20%">
                                            <input type="radio" name="radio" id="checkedRadioCreateNew" ng-click="RadioCreateNew()" checked="checked">
                                        </td>
                                        <td align="left" width="25%">
                                            Create new catalog import settings
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" width="20%">
                                            <input type="radio" name="radio" id="checkedRadioUseSavedSettings" ng-click="RadioUseSavedSettings()" checked="checked">
                                        </td>
                                        <td align="left" width="25%">
                                            Use previously created catalog import settings
                                        </td>

                                    </tr>*@
                                <tr>
                                    <td align="right" width="20%"></td>
                                    <td align="left">
                                        <button type="submit" style="margin-top: 10px;" class="btn btn-primary btn-xs" title="{{quickImportFile}}"><div class="glyphicon glyphicon-import"></div></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="error"></span></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </form>
                <div class="col-sm-7 no-padding" id="importTableSheetSlectectionWindowTemplate" style="width:100%;position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">

                    @*<div class="col-sm-7 no-padding" id="importErrorWindow" style="width:100%;position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                            <div kendo-grid k-options="importResultGridOptions"></div>
                        </div>*@
                    <div class="col-sm-7 no-padding" id="basicImportSuccessWindowTemplate" style="width:100%;position: inherit; border-radius: 4px;" align="center">
                        <table class="table-condensed table-bordered table-striped" width="100%">
                            <thead>
                                <tr style="background-color: #e0eff7;">
                                    <th align="center" style="width: 100px;">
                                        <div align="center">
                                            <a>Row</a>
                                        </div>
                                    </th>
                                    <th align="center" style="width: 100px;">
                                        <div align="center">
                                            <a>Column</a>
                                        </div>
                                    </th>
                                    <th align="center" style="width: 250px;">
                                        <div align="center">
                                            <a>Message</a>
                                        </div>
                                    </th>
                                    <th>
                                        <div align="center">
                                            <a>Data</a>
                                        </div>
                                    </th>

                                </tr>
                            </thead>
                        </table>
                        <div class="scrollit">
                            <table class="table-condensed table-bordered table-striped" style="width: 100%;">
                                <tbody class="scrollit">
                                    <tr ng-repeat="Data in successREsultBasic[0].Table" class="table table-condensed table-bordered table-striped" ng-class="{'selected':$index==selectedRow}" align="center">
                                        <td align="center" style="width: 100px;">
                                            {{Data.Row}}
                                        </td>
                                        <td align="center" style="width: 100px;">
                                            {{Data.Column}}
                                        </td>
                                        <td align="center" style="width: 250px;">
                                            {{Data.Message}}
                                        </td>
                                        <td>
                                            {{Data.Data}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        @*<div id="grid" style="height:250px;" kendo-grid k-options="BasicimportSuccessResultDatasource"></div>*@
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
