﻿<script type="text/javascript" src='@Url.Content("~/Views/App/Import/ImportController.js")'></script>
<link href="~/Design/css/ng-table.css" rel="stylesheet" />

<style>
    .selectbulkfile {
        padding-bottom: 15px;
    }

    .k-tabstrip > .k-content {
        margin: 0 .286em .3em !important;
    }

    .exportlnk {
        cursor: pointer;
        text-decoration: underline;
        color: green;
        float: right;
        margin: 5px;
    }
</style>

<script>
    $(document).ready(function () {
        $("#tabstripbulk").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });
    });
</script>


<div>

    <div ng-controller="ImportController" ng-cloak>
        <div kendo-window="winNewxmlcreation" k-title="'Lite Studio'" k-width="300" k-height="100" k-visible="false"
             k-actions='["Close"]'
             k-modal="true" k-on-open="winNewxmlcreationVisible = true" k-on-close="onClose(kendoEvent)">
        </div>
        <div kendo-window="loadingimg" k-width="300" k-height="100" k-visible="false">
        </div>
        <div kendo-window="winxmlupdation" k-title="'Lite Studio'" k-width="300" k-height="100" k-visible="false"
             k-actions='["Close"]'
             k-modal="true" k-on-open="winxmlupdationVisible = true" k-on-close="onClose(kendoEvent)">
        </div>
        <div id="tabstripbulk" ng-init="importType='Bulk'">
            <ul id="tabselectbulk">
                <li id="att_assbulk" class="k-state-active" title="{{bulkImportHover}}">
                    Product  Import
                </li>
                @*<li id="att_sortbulk" title="{{bulkImportOpenTemplate}}">
                        Open Template
                    </li>*@
            </ul>
            <div class="main-content no-margin">
                <form novalidate name="f1" ng-submit="SaveFile()">
                    <div class="main-navigation navbar-collapse1" id="importTableSheetWindow" style="width:100%;position: inherit;border-radius: 4px;">
                        <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 10px;">
                            <tbody>
                                <tr>
                                    <td align="right" width="25%" class="bold padding-top-10">
                                        Import File
                                    </td>
                                    <td align="left" width="20%" style="padding-right: 280px;">
                                        <div class="file-upload btn btn-primary">
                                            <span>Select file</span>
                                            <input type="file" class="selectbulkfile uploadbtnstyle" name="file" accept=".xls,.xlsx" id="importfile1" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" width="25%" class="bold"></td>
                                    <td align="left" width="20%" style="padding-right: 280px;">
                                        <div class="bold" ng-if="SelectedFileForUploadnamemain!=''">{{SelectedFileForUploadnamemain}}</div>

                                        @*<input type="file" class="selectbulkfile uploadbtnstyle" name="file" accept=".xls,.xlsx" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />*@
                                        @*<a class="k-link" href="../../Content/Excel/Bulk Import Sample Sheet.xlt">
                                                Advanced Import Template
                                            </a>*@

                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" width="20%">
                                        @*<button class="btn btn-primary btn-xs" style="margin-top: 10px;"  type="button" ng-click='Cancelfile()'>
                                                Cancel

                                            </button>*@
                                    </td>
                                    <td align="left">
                                        <button type="button" class="btn btn-primary btn-xs" style="margin-top: 10px;" title="Reset" ng-click='ResetPage()'>Reset</button>
                                        <button class="btn btn-primary btn-xs margin-tight-0" style="margin-top: 10px;display:none" type="button" ng-click='Cancelfile()'>Cancel</button>
                                        <button type="submit" class="btn btn-primary btn-xs" style="margin-top: 10px;" title="{{bulkImportLoadFile}}">Load</button>

                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="error">{{FileInvalidMessage}}</span></td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </form>

                <div class="col-sm-7 no-padding" id="importTableSheetSlectectionWindow" style="width:100%;position: inherit; border-radius: 4px;">
                    <div class="heightsample">
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-3 margin-top-5 margin-bottom-10" align="center">
                                <span class="bold col-sm-5 textalignright margintop">Import Worksheet</span>
                                <select kendo-drop-down-list id="familyimportsheetselectsub"
                                        k-option-label="'--- Select Sheet ---'"
                                        ng-model="importSelectedvalue"
                                        k-data-text-field="'TABLE_NAME'"
                                        k-data-value-field="'TABLE_NAME'"
                                        k-data-source="importExcelSheetSelction"
                                        k-on-change="importExcelSheetDDSelection(kendoEvent)" class="col-sm-4 padding-0" style="width:180px"></select>@*k-on-change="MultipleTableTabChange(kendoEvent)"*@
                                    </div>
                                    <div class="col-sm-4 margin-top-10 margin-bottom-10" align="center">
                                        <span class="bold col-sm-9 textalignright"> Create duplicate product for same item Number</span>
                                        <span class="col-sm-2" style="text-align: left;padding: 0px;">
                                            <input type="radio" name="radio5" id="checked-radio-yes" ng-model="allowDuplication" value="1" ng-click="radioButtonYes()" checked="checked">Yes
                                            &nbsp;<input type="radio" name="radio5" id="checked-radio-no" ng-model="allowDuplication" value="0" ng-click="radioButtonNo()" checked="checked">No
                                        </span>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>


                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-2"></div>

                                    <div class="col-sm-2"></div>
                                </div>
                                <div id="importSelectionTable" style="text-align: -webkit-center;">

                                    <table ng-table="tblDashImportBoard" show-filter="true" style="background-color: ghostwhite;height: 500px !important;overflow-y: auto;overflow-x: hidden;display: table-caption;width: 100%;" class="table-condensed table-bordered table-striped" width="80%" align="center">
                                        <thead class="k-grid-header k-grid-header-wrap">
                                            <tr ng-if="column.title!=='CatalogField' && column.title!=='IsSystemField' && column.title!==''">
                                                <th class="k-header" ng-repeat="column in columnsForImportAtt" ng-if="column.title==='ExcelColumn'" style="min-width: 320px;text-align: center">
                                                    <a ng-if="column.title!=='CatalogField' && column.title!=='IsSystemField' && column.title!==''"> Excel Column </a>
                                                </th>
                                                <th class="k-header" ng-repeat="column in columnsForImportAtt" ng-if="column.title==='SelectedToImport'" style="min-width: 320px;text-align: center">
                                                    <a ng-if="column.title!=='CatalogField' && column.title!=='IsSystemField' && column.title!==''"> Selected to Import </a>
                                                </th>
                                                <th class="k-header" ng-repeat="column in columnsForImportAtt" ng-if="column.title==='FieldType'" style="min-width: 320px; text-align: center">
                                                    <a ng-if="column.title!=='CatalogField' && column.title!=='IsSystemField' && column.title!==''"> Field Type </a>
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody class="k-grid-content importgrid">
                                            <tr ng-repeat="Data in prodImportData" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index,prodImportData)">
                                                <td ng-repeat="column in columnsForImportAtt" ng-if="column.title==='ExcelColumn'" ng-class="{'cg-normal': column.EditEnabled == true}" style="min-width: 325px;">
                                                    {{Data[column.field]}}
                                                </td>
                                                <td ng-repeat="column in columnsForImportAtt" ng-if="column.title==='SelectedToImport'" style="min-width: 325px;">
                                                    <input type="checkbox" class="chkoption" ng-model="Data[column.field]" ng-trim="false" ng-true-value="'True'" ng-false-value="'False'">
                                                </td>
                                                <td ng-repeat="column in columnsForImportAtt" ng-if="column.title==='FieldType'" sortable="column.field" style="min-width: 325px;">
                                                    <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='0' || Data['ExcelColumn'].contains('catalog_item')" ng-model=" data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                        {{"-SYSTEM FIELD-"}}
                                                    </a>
                                                    <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='1'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                        {{"Alpha-Numeric [Item Level]"}}
                                                    </a>
                                                    <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='3'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                        {{"Image / Attachment Path [Item Level]"}}
                                                    </a>
                                                    <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='4'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                        {{"Price / Numbers [Item Level]"}}
                                                    </a>
                                                    <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='6'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                        {{"Item Key Alpha-Numeric [Item Level]"}}
                                                    </a>
                                                    <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='7'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                        {{"Alpha-Numeric [Product Level]"}}
                                                    </a>
                                                    <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='9'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                        {{"Image / Attachment Path [Product Level]"}}
                                                    </a>
                                                    <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='10'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                        {{"Date-Time(MM/DD/YYYY) [Item Level]"}}
                                                    </a>

                                                    <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='11'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                        {{"Product-Attribute [Product Level]"}}
                                                    </a>
                                                    <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='12'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                        {{"Product-Price [Product Level]"}}
                                                    </a>
                                                    <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='13'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                        {{"Product-Key [Product Level]"}}
                                                    </a>
                                                    <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='21'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                        {{"Alpha-Numeric [Category Level]"}}
                                                    </a>
                                                    <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='23'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                        {{"Image / Attachment Path [Category Level]"}}
                                                    </a>
                                                    <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='25'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                        {{"Category Description[Category Level]"}}
                                                    </a>
                                                    <div ng-if="Data.IsSystemField==='False' || Data.IsSystemField===''" style="vertical-align: bottom; padding-bottom: 20px;padding-top: 8px;">
                                                        <select kendo-drop-down-list
                                                                k-option-label="'--- Select Attribute type ---'"
                                                                k-data-text-field="'Text'"
                                                                k-data-value-field="'value'"
                                                                k-selectable="true"
                                                                k-data-source="AttributeDataSource1"
                                                                ng-model="Data[column.field]"
                                                                k-on-change="AttrtypeChange1(kendoEvent)"
                                                                style="width:300px"></select>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-7 no-padding" id="importpicklist" style="width:100%;position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                            <h5> <b> Picklist Log details </b> </h5>
                            <div k-columns="gridColumns" kendo-grid k-data-source="getFinishImportFailedpicklistResults1"></div>
                        </div>

                        <div class="col-sm-7 no-padding" id="importErrorWindow" style="width:100%;position: inherit; border-radius: 4px;">
                            <div kendo-grid k-options="importResultGridOptions"></div>
                        </div>
                        <div class="col-sm-7 no-padding" id="importErrorWindow1" style="width:100%;position: inherit; border-radius: 4px;">
                            <div class="errorlog margin-top-10 margin-bottom-10" align="right">
                                @*<button class="btn btn-primary btn-xs" ng-show="displayexportbutton" type="button" ng-click='export_log()'>Export</button>*@



                                <select kendo-drop-down-list
                                        k-option-label="'--- Select ---'"
                                        ng-model="Errorlogoutputformat"
                                        style="width:130px;text-align: center;">
                                    <option>XLS</option>
                                    <option>CSV</option>
                                    <option>Text</option>

                                </select>

                                <div class="exportlnk" ng-show="displayexportbutton" ng-click='export_log()'>Download Log</div>
                            </div>
                            <div kendo-grid k-options="importResultGridOptionsvalidation"></div>
                        </div>
                        <div class="col-sm-7 no-padding" id="importSuccessWindow" style="width:100%;position: inherit; border-radius: 4px;">
                            <div id="grid" style="height:250px;" kendo-grid k-options="importSuccessResultGridOptions"></div>
                        </div>
                        <div id="buttoncheck">
                            <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 10px;">
                                <tbody>
                                    <tr>
                                        <td align="center" style="padding-left:108px;">
                                            <button type="button" ng-show="passvalidationimport" class="btn btn-primary btn-xs" style="width: 100px;" ng-click="finishImport()" title="{{bulkImport}}"><div class="glyphicon glyphicon-import"></div></button>
                                            <button type="button" ng-show="false" class="btn btn-primary btn-xs" style="width: 100px;" ng-click="BulkSaveAsTemplate()" title="{{bulkImportSaveTemplate}}"><i class="fa fa-save"></i></button>
                                            <button class="btn btn-primary btn-xs" ng-show="passvalidation" type="button" ng-click='Validateimport()'>Validate</button>
                                            <button class="btn btn-primary btn-xs" ng-show="backbutton" type="button" ng-click='Validateback()'><i class="fa fa-chevron-left"></i></button>
                                            @*<button class="btn btn-primary btn-xs" ng-show="displayexportbutton" type="button" ng-click='export_log()'>Export</button>

                                                <select kendo-drop-down-list
                                                        k-option-label="'--- Select ---'"
                                                        ng-model="Errorlogoutputformat"
                                                        style="width:182px">
                                                    <option>XLS</option>
                                                    <option>CSV</option>
                                                    <option>Text</option>

                                                </select>*@


                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="main-content no-margin">
                        <form novalidate name="f1" ng-submit="SaveFileTemplate(this)">
                            <div class="main-navigation navbar-collapse1" id="importTableSheetWindow" style="width:100%;position: inherit; @*border: 1px solid rgb(204, 204, 204);*@ border-radius: 4px;">
                                <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 10px;">
                                    <tbody>
                                        <tr>
                                            <td align="right" width="25%" class="bold">
                                                Select Template
                                            </td>
                                            <td align="left" width="20%" style="padding-right: 280px;">
                                                <div class="file-upload btn btn-primary">
                                                    <span>Choose file</span>
                                                    <input type="file" class="uploadbtnstyle" name="file" accept=".xml" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                                </div>
                                                @*<input type="file" name="file" accept=".xml" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />*@

                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" width="20%"></td>
                                            <td align="left">
                                                <button type="submit" class="btn btn-primary btn-xs" style="margin-top: 10px;" title="{{bulkImport}}"><div class="glyphicon glyphicon-import"></div></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="error">{{FileInvalidMessage}}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>

                        <div class="col-sm-7 no-padding" id="bulkimportErrorWindow" style="width:100%;position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                            <div kendo-grid k-options="importResultGridOptions"></div>
                        </div>
                        <div class="col-sm-7 no-padding" id="bulkimportSuccessWindow" style="width:100%;position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                            <div id="grid" style="height:250px;" kendo-grid k-options="importSuccessResultGridOptions"></div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
