﻿@{
    ViewBag.Title = "Import";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}
<script type="text/javascript" src='@Url.Content("~/Views/App/Import/ImportTypeController.js")'></script>
<div>
    @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Import</span>  </div>")
</div>
<div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);
                                      background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;
                                      box-shadow: 0 1px 0 #2c232b inset;">
    <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>Import
    <div class="panel-tools">
  
    </div>
</div>

<div ng-controller="ImportTypeController" ng-init="Import='Bulk'" ng-cloak>
    <div class="margin-top-10 margin-bottom-10" style="width: 100%;background: #e5f2f8;" align="center">
        <table class="table-responsive table-striped table-condensed">
            <tr>
                <td class="bold">Import Type</td>
                <td style="width: 300px">
                    @*<input type="radio" id="t-option" name="selector" ng-click="ImportTypeChange()" ng-model="Import" value="Basic">
                    <label for="t-option">Quick Import</label>*@

                    <input type="radio" id="s-option" name="selector" ng-click="ImportTypeChange()" ng-model="Import" value="Bulk">
                    <label for="s-option">Products</label>

                    <input type="radio" id="r-option" name="selector" ng-click="ImportTypeChange()" ng-model="Import" value="Sub">
                    <label for="r-option">SubProducts</label>
                </td>
            </tr>

        </table>
    </div>
    <div ng-show="Import=='Bulk'">
        @Html.Partial("~/Views/App/Import/Import.cshtml")
    </div>
    <div ng-show="Import=='Basic'">
        @Html.Partial("~/Views/App/Import/BasicImport.cshtml")
    </div>
    <div ng-show="Import=='Sub'">
        @Html.Partial("~/Views/App/Import/SubProductImport.cshtml")
    </div>

</div>
<style>
    input[type=radio]:checked ~ .check {
        border: 5px solid #0DFF92;
    }

        input[type=radio]:checked ~ .check::before {
            background: #0DFF92;
        }

    input[type=radio]:checked ~ label {
    }
</style>