﻿@*@{
        ViewBag.Title = "SubProducts Import";
        Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
    }*@
<script type="text/javascript" src='@Url.Content("~/Views/App/Import/SubproductImportController.js")'></script>

<style>
    .selectsamplefile {
        padding-bottom: 15px;
    }

    .exportlnk {
        cursor: pointer;
        text-decoration: underline;
        color: green;
        float: right;
        margin: 5px;
    }
</style>

<script>
    $(document).ready(function () {
        $("#tabstripsub").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });
    });
</script>
<div>
    @*<div class="titleblue"><a href="../App/AdminDashboard" class="breadcrumbs">Home</a><span class="breadcrumbs">&nbsp;&gt;&nbsp;</span><span class="breadcrumbs">Import</span>  </div>*@
    @*<div>
        @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Import</span>  </div>")
    </div>
    <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);
                    background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;
                    box-shadow: 0 1px 0 #2c232b inset;">
        <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>SubProducts Import
        <div class="panel-tools">
            @* <div id="imagename" />
        </div>
    </div>*@

    <div ng-controller="SubproductImportController" ng-cloak>

        <div kendo-window="loadingimg" k-width="300" k-height="100" k-visible="false">
        </div>
        <div id="tabstripsub">
            <ul id="tabselectsub">
                <li id="att_asssub" class="k-state-active" title="{{subProductImportHover}}">
                    SubProduct Import
                </li>
                @*<li id="att_sortsub" title="{{subproductOpenTemplate}}">
                        Open Template
                    </li>*@
            </ul>
            <div>
                <form novalidate name="f1" ng-submit="SaveFile()">
                    <div class="main-navigation navbar-collapse1" id="subimportTableSheetWindow" style="width:100%;position: inherit; @*border: 1px solid rgb(204, 204, 204);*@ border-radius: 4px;">
                        <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 10px;">
                            <tbody>
                                <tr>
                                    <td align="right" width="25%" class="bold padding-top-10">
                                        Import File
                                    </td>
                                    <td align="left" width="20%" style="padding-right: 280px;">
                                        <div class="file-upload btn btn-primary">
                                            <span>Select file</span>
                                            <input type="file" name="file" class="selectsamplefile uploadbtnstyle" id="importfile-sub" accept=".xls,.xlsx" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" width="25%" class="bold"></td>
                                    <td align="left" width="20%" style="padding-right: 280px;">
                                        <div class="bold" ng-if="SelectedFileForUploadnamemain!=''">{{SelectedFileForUploadnamemain}}</div>
                                        @*<input type="file" name="file" class="selectsamplefile" accept=".xls,.xlsx" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />*@
                                        @*<a class="k-link" href="../../Content/Excel/SubProducts Sample Import Sheet.xlt">
                                                Sample Import Template
                                            </a>*@
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" width="20%">
                                        @*<button class="btn btn-primary btn-xs" style="margin-top: 10px;" type="button" ng-click='Cancelfilesubproduct()'>Cancel</button>*@
                                    </td>
                                    <td align="left">
                                        <button type="button" class="btn btn-primary btn-xs" style="margin-top: 10px;" title="Reset" ng-click='ResetPage()'>Reset</button>
                                        <button class="btn btn-primary btn-xs" style="margin-top: 10px;display:none;" type="button" ng-click='Cancelfilesubproduct()'>Cancel</button>
                                        <button type="submit" class="btn btn-primary btn-xs" style="margin-top: 10px;" title="{{subProductLoadFile}}">Load</button>

                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="error">{{FileInvalidMessage}}</span></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </form>

                <div class="col-sm-7 no-padding" id="subimportTableSheetSlectectionWindow" style="width:100%;position: inherit; border-radius: 4px;">
                    <div class="heightsample">
                        <div class="heightsample" id="advancedimport">
                            @*<table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 10px;">
                                <tbody>
                                    <tr>
                                        <td align="right" width="50%" class="bold">
                                            Select Import Worksheet
                                        </td>
                                        <td align="left" width="50%">
                                            <div>
                                                <div style="vertical-align: bottom; padding-bottom: 20px;padding-top: 8px;">
                                                    <select kendo-drop-down-list
                                                            k-option-label="'--- Select Sheet ---'"
                                                            k-data-text-field="'TABLE_NAME'"
                                                            k-data-value-field="'TABLE_NAME'"
                                                            k-data-source="ImportExcelSheetSelction"
                                                            k-on-change="importExcelSheetDDSelection(kendoEvent)" style="width:180px"></select>@*k-on-change="MultipleTableTabChange(kendoEvent)"
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>*@

                            <div class="col-sm-12 padding-0">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-3 margin-top-5 margin-bottom-10" align="center">
                                    <span class="bold col-sm-5 textalignright margintop">Import Worksheet</span>

                                    <select kendo-drop-down-list id="familyimportsheetselectsub1"
                                            k-option-label="'--- Select Sheet ---'"
                                            k-data-text-field="'TABLE_NAME'"
                                            k-data-value-field="'TABLE_NAME'"
                                            ng-model="importSelectedvalue"
                                            k-data-source="ImportExcelSheetSelction"
                                            k-on-change="importExcelSheetDDSelection(kendoEvent)" class="col-sm-4 padding-0" style="width:180px"></select>@*k-on-change="MultipleTableTabChange(kendoEvent)"*@
                                        </div>

                                <div class="col-sm-4 margin-top-10 margin-bottom-10" align="center">
                                    <span class="bold col-sm-9 textalignright"> Create duplicate product for same item Number</span>

                                    @*<input type="radio" name="radio" id="checked-radio-yes" ng-model="allowDuplication" value="yes" ng-click="radioButtonYes()" checked="checked">Yes
            <input type="radio" name="radio" id="checked-radio-no" ng-model="allowDuplication" value="no" ng-click="radioButtonNo()" checked="checked">No*@
                                    <span class="col-sm-2" style="text-align: left;padding: 0px;">
                                        <input type="radio" name="radio6" id="checked-radio-yes" ng-click="radioButtonYes()" checked="checked">Yes
                                        &nbsp;<input type="radio" name="radio6" id="checked-radio-no" ng-click="radioButtonNo()" checked="checked">No
                                    </span>

                                </div>
                                        <div class="col-sm-2"></div>
                                    </div>

                            <div class="col-sm-12 padding-0">
                                <div class="col-sm-2"></div>
                               
                            </div>

                                    <div id="subimportSelectionTable" style="text-align: -webkit-center;">
                                        <table ng-table="tblDashImportBoard" show-filter="true" class="table-condensed table-bordered table-striped" width="80%" align="center" style="background-color: ghostwhite;height: 500px !important;overflow-y: auto;overflow-x: hidden;display: table-caption;width: 100%;">
                                            <thead class="k-grid-header k-grid-header-wrap">
                                                <tr ng-if="column.title!=='CatalogField' && column.title!=='IsSystemField' && column.title!==''">
                                                    <th class="k-header" ng-repeat="column in columnsForImportAtt" ng-if="column.title==='ExcelColumn'" style="min-width: 320px;text-align: center">
                                                        <a ng-if="column.title!=='CatalogField' && column.title!=='IsSystemField' && column.title!==''"> Excel Column </a>
                                                    </th>
                                                    <th class="k-header" ng-repeat="column in columnsForImportAtt" ng-if="column.title==='SelectedToImport'" style="min-width: 320px;text-align: center">
                                                        <a ng-if="column.title!=='CatalogField' && column.title!=='IsSystemField' && column.title!==''"> Selected to Import </a>
                                                    </th>
                                                    <th class="k-header" ng-repeat="column in columnsForImportAtt" ng-if="column.title==='FieldType'" style="min-width: 320px;text-align: center">
                                                        <a ng-if="column.title!=='CatalogField' && column.title!=='IsSystemField' && column.title!==''"> Field Type </a>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="k-grid-content">
                                                <tr ng-repeat="Data in prodImportData" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index,prodImportData)">
                                                    @*<td ng-repeat="column in columnsForImportAtt" ng-if="column.title==='ExcelColumn'" ng-class="{'cg-normal': column.EditEnabled == true}">
                                                            {{Data[column.field]}}
                                                        </td>*@
                                                    <td ng-repeat="column in columnsForImportAtt" ng-if="column.title==='ExcelColumn' && Data.IsSystemField==='True' && Data.FieldType!=='0'" ng-class="{'cg-normal': column.EditEnabled == true}" style="min-width: 325px;">
                                                        {{Data[column.field]}}
                                                    </td>
                                                    <td ng-repeat="column in columnsForImportAtt" ng-if="column.title==='ExcelColumn' && Data.IsSystemField==='True' && Data.FieldType==='0'" style="background-color: lightgray;pointer-events: none;cursor: default;" ng-class="{'cg-normal': column.EditEnabled == true}" >
                                                        {{Data[column.field]}}
                                                    </td>
                                                    <td ng-repeat="column in columnsForImportAtt" ng-if="column.title==='ExcelColumn' && (Data.IsSystemField==='False' || Data.IsSystemField==='') &&  Data.FieldType===''" ng-class="{'cg-normal': column.EditEnabled == true}">
                                                        {{Data[column.field]}}
                                                    </td>
                                                    <td ng-repeat="column in columnsForImportAtt" ng-if="column.title==='ExcelColumn' && (Data.IsSystemField==='False' || Data.IsSystemField==='') &&  Data.FieldType!==''" ng-class="{'cg-normal': column.EditEnabled == true}">
                                                        {{Data[column.field]}}
                                                    </td>
                                                    <td ng-repeat="column in columnsForImportAtt" ng-if="column.title==='SelectedToImport' && Data.IsSystemField==='True' && Data.FieldType!=='0'" style="min-width: 325px;">
                                                        <input type="checkbox" class="chkoption" ng-model="Data[column.field]" ng-trim="false" ng-true-value="'True'" ng-false-value="'False'">
                                                    </td>
                                                    <td ng-repeat="column in columnsForImportAtt" ng-if="column.title==='SelectedToImport' && Data.IsSystemField==='True' && Data.FieldType==='0'" style="background-color: lightgray;">
                                                        <input type="checkbox" class="chkoption" ng-model="Data[column.field]" ng-trim="false" ng-true-value="'True'" ng-false-value="'False'" disabled="disabled">
                                                    </td>
                                                    <td ng-repeat="column in columnsForImportAtt" ng-if="column.title==='SelectedToImport' && (Data.IsSystemField==='False' || Data.IsSystemField==='') &&  Data.FieldType===''" style="min-width: 325px;">
                                                        <input type="checkbox" class="chkoption" ng-model="Data[column.field]" ng-trim="false" ng-true-value="'True'" ng-false-value="'False'">
                                                    </td>

                                                    <td ng-repeat="column in columnsForImportAtt" ng-if="column.title==='SelectedToImport' && (Data.IsSystemField==='False' || Data.IsSystemField==='') &&  Data.FieldType!==''" style="min-width: 325px;">
                                                        <input type="checkbox" class="chkoption" ng-model="Data[column.field]" ng-trim="false" ng-true-value="'True'" ng-false-value="'False'">
                                                    </td>

                                                    <td ng-repeat="column in columnsForImportAtt" ng-if="column.title==='FieldType' && Data.IsSystemField==='True' && Data.FieldType==='0'" style="background-color: lightgray;">
                                                        <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='0' || Data['ExcelColumn'].contains('catalog_item')" ng-model=" data[column.field]" style="pointer-events: none;cursor: default;">
                                                            {{"-SYSTEM FIELD-"}}
                                                        </a>
                                                    </td>
                                                    <td ng-repeat="column in columnsForImportAtt" ng-if="column.title==='FieldType' && Data.IsSystemField==='True' && Data.FieldType!=='0'">

                                                        <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='1'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                            {{"Alpha-Numeric [Product Level]"}}
                                                        </a>
                                                        <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='3'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                            {{"Image / Attachment Path [Product Level]"}}
                                                        </a>
                                                        <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='4'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                            {{"Price / Numbers [Product Level]"}}
                                                        </a>
                                                        <a ng-if="Data.IsSystemField==='True' && Data.FieldType==='6'" ng-model="Data[column.field]" style="pointer-events: none;cursor: default;color:#ccc">
                                                            {{"Product Key Alpha-Numeric [Product Level]"}}
                                                        </a>
                                                    </td>
                                                    <td ng-repeat="column in columnsForImportAtt" ng-if="column.title==='FieldType' && (Data.IsSystemField==='False' || Data.IsSystemField==='') &&  Data.FieldType===''">
                                                        <div ng-if="Data.IsSystemField==='False' || Data.IsSystemField===''" style="vertical-align: bottom; padding-bottom: 20px;padding-top: 8px;">
                                                            <select kendo-drop-down-list
                                                                    k-option-label="'--- Select Attribute type ---'"
                                                                    k-data-text-field="'Text'"
                                                                    k-data-value-field="'value'"
                                                                    k-selectable="true"
                                                                    k-data-source="AttributeDataSource1"
                                                                    ng-model="Data[column.field]"
                                                                    k-on-change="AttrtypeChange1(kendoEvent)"
                                                                    style="width:300px"></select>
                                                        </div>
                                                    </td>

                                                    <td ng-repeat="column in columnsForImportAtt" ng-if="column.title==='FieldType' && (Data.IsSystemField==='False' || Data.IsSystemField==='') &&  Data.FieldType!==''">
                                                        <div ng-if="Data.IsSystemField==='False' || Data.IsSystemField===''" style="vertical-align: bottom; padding-bottom: 20px;padding-top: 8px;">
                                                            <select kendo-drop-down-list
                                                                    k-option-label="'--- Select Attribute type ---'"
                                                                    k-data-text-field="'Text'"
                                                                    k-data-value-field="'value'"
                                                                    k-selectable="true"
                                                                    k-data-source="AttributeDataSource1"
                                                                    ng-model="Data[column.field]"
                                                                    k-on-change="AttrtypeChange1(kendoEvent)"
                                                                    style="width:300px"></select>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                    @*<table cellpadding="5" width="70%" align="center" cellspacing="5">
                                            <tbody>
                                                <tr>
                                                    <td align="right">
                                                        Create duplicate product for same item Number
                                                    </td>
                                                    <td align="left">
                                                        <input type="radio" name="radio6" id="checked-radio-yes" ng-click="radioButtonYes()" checked="checked">Yes
                                                        <input type="radio" name="radio6" id="checked-radio-no" ng-click="radioButtonNo()" checked="checked">No
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>*@

                                   

                                </div>

                            </div>

                        </div>
                <div class="col-sm-7 no-padding" id="Subimportpicklist" style="width:100%;position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                    <h5> <b> Picklist Log details </b> </h5>
                    <div k-columns="gridColumnsSub" kendo-grid k-data-source="getFinishImportFailedpicklistResultsSub"></div>
                </div>
                        <div class="col-sm-7 no-padding" id="subimportErrorWindow" style="width:100%;position: inherit;border-radius: 4px;">
                            <div kendo-grid k-options="importResultGridOptions"></div>
                        </div>
                        <div class="col-sm-7 no-padding" id="subimportSuccessWindow" style="width:100%;position: inherit;border-radius: 4px;">
                            <div id="grid" style="height:250px;" kendo-grid k-options="importSuccessResultGridOptions"></div>
                        </div>
                        <div class="col-sm-7 no-padding" id="subimportSuccessWindow1" style="width:100%;position: inherit;border-radius: 4px;">
                            <div class="errorlogout margin-top-10 margin-bottom-10" align="right">
                                <div class="exportlnk" ng-show="displayexportbuttonsub" ng-click='export_logsub()'>Download Log </div>
                                <select kendo-drop-down-list
                                        k-option-label="'--- Select ---'"
                                        ng-model="Errorlogoutputformatsub"
                                        style="width:130px;text-align: center">
                                    <option>XLS</option>
                                    <option>CSV</option>
                                    <option>Text</option>

                                </select>
                                @*<button class="btn btn-primary btn-xs" ng-show="displayexportbuttonsub" type="button" ng-click='export_logsub()'>Export</button>*@

                            </div>
                            <div kendo-grid k-options="importsubvalidationResultGridOptions"></div>
                        </div>
                        <div id="importbuttons">

                            <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 10px;">
                                <tbody>
                                    <tr>
                                        <td align="center" style="padding-left:108px;">
                                            <button type="button" ng-show="displayimport" class="btn btn-primary btn-xs" style="width: 100px;" ng-click="finishImport()" title="{{subProductImportFile}}"> <div class="glyphicon glyphicon-import"></div></button>
                                            <button type="button" ng-show="false" class="btn btn-primary btn-xs" style="width: 100px;" ng-click="SaveAsTemplate()" title="{{subProductSaveTemplate}}"><i class="fa fa-save"></i></button>
                                            <button type="button" ng-show="displayimportvalidate" class="btn btn-primary btn-xs" style="width: 100px;" ng-click="subprodvalidation()">Validate</button>
                                            <button class="btn btn-primary btn-xs" ng-show="backbuttonsub" type="button" ng-click='Validatebacksub()'><i class="fa fa-chevron-left"></i></button>
                                            @*<button class="btn btn-primary btn-xs" ng-show="displayexportbuttonsub" type="button" ng-click='export_logsub()'>Export</button>
                                                <select kendo-drop-down-list
                                                        k-option-label="'--- Select ---'"
                                                        ng-model="Errorlogoutputformatsub"
                                                        style="width:182px">
                                                    <option>XLS</option>
                                                    <option>CSV</option>
                                                    <option>Text</option>

                                                </select>*@

                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div>
                        <form novalidate name="f1" ng-submit="SaveFileTemplate()">
                            <div class="main-navigation navbar-collapse1" id="subimportTableSheetWindowTemplate" style="width:100%;position: inherit; @*border: 1px solid rgb(204, 204, 204);*@ border-radius: 4px;">
                                <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 10px;">
                                    <tbody>
                                        <tr>
                                            <td align="right" width="25%" class="bold">
                                                Select Template
                                            </td>
                                            <td align="left" width="20%" style="padding-right:280px;">
                                                <div class="file-upload btn btn-primary">
                                                    <span>Choose file</span>

                                                    <input type="file" name="file" class="uploadbtnstyle" accept=".xml" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                                </div>
                                                @*<input type="file" name="file" accept=".xml" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />*@
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" width="20%"></td>
                                            <td align="left">
                                                <button type="submit" class="btn btn-primary btn-xs" style="margin-top: 10px;" title="{{subProductImport}}"><div class="glyphicon glyphicon-import"></div></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="error">{{FileInvalidMessage}}</span></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </form>

                        <div class="col-sm-7 no-padding" id="subimportTableSheetSlectectionWindowTemplate" style="width:100%;position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">


                        </div>
                        <div class="col-sm-7 no-padding" id="subimportErrorWindowTemplate" style="width:100%;position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                            <div kendo-grid k-options="importResultGridOptions"></div>
                        </div>
                        <div class="col-sm-7 no-padding" id="subimportSuccessWindowTemplate" style="width:100%;position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                            <div id="grid" style="height:250px;" kendo-grid k-options="importSuccessResultGridOptions"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
