@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Cart Info
7. Footer


******************************/


/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 362px;
	background: #FFFFFF;
	z-index: 2;
	padding-top: 130px;
	padding-left: 0px;
	padding-right: 0px;
}
.home_container
{
	width: 100%;
	height: 100%;
}
.home_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.home_content_container
{
	position: absolute;
	top: 53%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
}
.home_content
{
	width: 580px;
}
.breadcrumbs ul li
{
	display: inline-block;
	position: relative;
	font-size: 14px;
	font-weight: 500;
	color: #e95a5a;
}
.breadcrumbs ul li:not(:last-child)::after
{
	display: inline-block;
	content: '/';
	margin-left: 10px;
	margin-right: 6px;
	color: #FFFFFF;
}
.breadcrumbs ul li a
{
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.breadcrumbs ul li a:hover
{
	color: #e95a5a;
}


.product_quantity_container
{
	
}
.product_quantity
{
	display: inline-block;
	width: 147px;
	height: 61px;
	border: solid 2px #d0d0d0;
	overflow: hidden;
	padding-left: 78px;
	vertical-align: middle;
}
.product_quantity span
{
	position: absolute;
	top: 50%;
	left: 23px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 16px;
	font-weight: 600;
	color: #6c6a74;
}
.product_quantity input
{
	display: block;
	width: 30px;
	height: 57px;
	border: none;
	outline: none;
	font-size: 16px;
	font-weight: 600;
	color: #1b1b1b;
	text-align: left;
	padding-left: 9px;
	line-height: 39px;
	float: left;
}
.quantity_buttons
{
	position: absolute;
	top: 0;
	right: 1px;
	height: 100%;
	width: 29px;
}
.quantity_inc, 
.quantity_dec
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 50%;
	cursor: pointer;
}
.quantity_control i
{
	font-size: 10px;
	color: #232323;
	pointer-events: none;
}
.quantity_control:active
{
	border: solid 1px rgba(14, 140, 228, 0.2);
}
.quantity_inc
{
	padding-bottom: 3px;
	justify-content: flex-end;
}
.quantity_inc i
{
	-webkit-transform: translateY(3px);
	-moz-transform: translateY(3px);
	-ms-transform: translateY(3px);
	-o-transform: translateY(3px);
	transform: translateY(3px);
}
.quantity_dec
{
	padding-top: 3px;
	justify-content: flex-start;
}
.quantity_dec i
{
	-webkit-transform: translateY(-3px);
	-moz-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	-o-transform: translateY(-3px);
	transform: translateY(-3px);
}
.cart_item_total
{
	font-size: 14px;
	font-weight: 400;
	color: #1b1b1b;
}
.row_cart_buttons
{
	margin-top: 21px;
}
.continue_shopping_button
{
	width: 261px;
}
.clear_cart_button,
.update_cart_button
{
	display: inline-block;
	font-size: 25px;
}
.update_cart_button
{
	margin-left: 16px;
}
.row_extra
{
	margin-top: 106px;
	padding-bottom: 100px;
}
.delivery
{
	width: 100%;
}
.section_title
{
	font-size: 24px;
	font-weight: 600;
	color: #1b1b1b;
}
.section_subtitle
{
	font-size: 14px;
	font-weight: 400;
	color: #6c6a74;
	margin-top: 3px;
}
.delivery_options
{
	margin-top: 38px;
}
.delivery_option
{
	display: block;
	position: relative;
	padding-left: 36px;
	cursor: pointer;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    font-weight: 400;
    color: #1b1b1b;
}
.delivery_option:not(:last-child)
{
	margin-bottom: 27px;
}
.delivery_option input
{
	position: absolute;
	opacity: 0;
	visibility: hidden;
}
.checkmark
{
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 4px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	border: solid 2px #9f9f9f;
	background: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.delivery_option input:checked ~ .checkmark
{
	background: #e95a5a;
	border: solid 2px #e95a5a;
}
.delivery_option input:hover ~ .checkmark
{
	background: #e95a5a;
}
label
{
	margin-bottom: 0;
}
.delivery_price
{
	float: right;
}
.coupon
{
	margin-top: 83px;
}
.coupon_form_container
{
	margin-top: 42px;
	width: 100%;
}
.coupon_form
{
	position: relative;
	width: 100%;
}
.coupon_input
{
	width: 100%;
	height: 52px;
	border: none;
	outline: none;
	background: #f2f4f8;
	padding-left: 15px;
}
.coupon_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 112px;
	height: 52px;
}
.coupon_button span
{
	display: block;
	position: relative;
	font-size: 14px;
	font-weight: 500;
	color: #1b1b1b;
	z-index: 2;
}
.coupon_button:hover span
{
	color: #FFFFFF;
}
.cart_total_container
{
	margin-top: 42px;
	padding-left: 45px;
	padding-top: 20px;
	padding-right: 44px;
	padding-bottom: 19px;
	background: #f2f4f8;
}
.cart_total_container ul
{
	width: 100%;
}
.cart_total_container ul li
{
	width: 100%;
	height: 48px;
}
.cart_total_title
{
	font-size: 14px;
	font-weight: 400;
	color: #1b1b1b;
}
.cart_total_value
{
	font-size: 14px;
	font-weight: 400;
	color: #1b1b1b;
	float: right;
}
.checkout_button
{
	width: 100%;
}






