@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Contact
7. Footer


******************************/



/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 362px;
	background: #FFFFFF;
	z-index: 2;
	padding-top: 130px;
	padding-left: 0px;
	padding-right: 0px;
}
.home_container
{
	width: 100%;
	height: 100%;
}
.home_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.home_content_container
{
	position: absolute;
	top: 53%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
}
.home_content
{
	width: 580px;
}
.breadcrumbs ul li
{
	display: inline-block;
	position: relative;
	font-size: 14px;
	font-weight: 500;
	color: #e95a5a;
}
.breadcrumbs ul li:not(:last-child)::after
{
	display: inline-block;
	content: '/';
	margin-left: 10px;
	margin-right: 6px;
	color: #FFFFFF;
}
.breadcrumbs ul li a
{
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.breadcrumbs ul li a:hover
{
	color: #e95a5a;
}

/*********************************
6. Contact
*********************************/

.contact
{
	width: 100%;
	background: #FFFFFF;
	z-index: 2;
	padding-top: 93px;
	padding-bottom: 97px;
}
.section_title
{
	font-size: 24px;
	font-weight: 600;
	color: #1b1b1b;
}
.section_subtitle
{
	font-size: 14px;
	font-weight: 400;
	color: #6c6a74;
	margin-top: 3px;
}
.contact_form_container
{
	width: 100%;
	margin-top: 46px;
}
.contact_form > div:not(:last-child)
{
	margin-bottom: 14px;
}
.contact_form label
{
	font-size: 14px;
	font-weight: 400;
	color: #6c6a74;
}
.contact_input
{
	width: 100%;
	height: 52px;
	background: #f2f4f8;
	border: none;
	outline: none;
	padding-left: 15px;
}
.contact_textarea
{
	height: 197px;
	padding-top: 15px;
}
.contact_button
{
	position: relative;
	margin-top: 10px;
}
.contact_button span
{
	display: block;
	position: relative;
	color: #1b1b1b;
	z-index: 2;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.contact_button:hover span
{
	color: #FFFFFF;
}
.contact_info_section:not(:first-child)
{
	margin-top: 74px;
}
.contact_info_title
{
	font-size: 18px;
	font-weight: 500;
	color: #1b1b1b;
}
.contact_info_section ul
{
	margin-top: 46px;
}
.contact_info_section ul li
{
	font-size: 14px;
	font-weight: 400;
	color: #1b1b1b;
}
.contact_info_section ul li:not(:last-child)
{
	margin-bottom: 7px;
}
.contact_info_section ul li span
{
	color: #6c6a74;
	margin-left: 8px;
}
.map_row
{
	margin-top: 98px;
}
.google_map
{
	width: 100%;
	height: 577px;
}
.map_container
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#map
{
	width: 100%;
	height: calc(100% + 30px);
}

