﻿@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Product Details
7. Products
8. Newsletter
9. Footer


******************************/



/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 625px;
	background: #FFFFFF;
	z-index: 2;
	padding-top: 130px;
	padding-left: 0px;
	padding-right: 0px;
}
.home_container
{
	width: 100%;
	height: 100%;
}
.home_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.home_content_container
{
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
}
.home_content
{
	width: 580px;
}
.home_title
{
	font-size: 60px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 1.2;
}
.home_title span
{
	color: #e95a5a;
}
.home_text
{
	margin-top: 7px;
}
.home_text p
{
	color: #FFFFFF;
}

/*********************************
6. Product Details
*********************************/

.product_details
{
	width: 100%;
	background: #FFFFFF;
	z-index: 2;
	  
}
.details_row
{
	margin-top: 95px;
}
.details_image
{
	
}
.details_image_large
{
	width: 100%;
}
.details_image_large img
{
	max-width: 100%;
}
.details_image_thumbnails
{
	margin-top: 17px;
}
.details_image_thumbnail
{
	width: calc((100% - 51px) / 4);
	cursor: pointer;
}
.details_image_thumbnail::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: solid 2px #1b1b1b;
	content: '';
	background: transparent;
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.details_image_thumbnail.active::after,
.details_image_thumbnail:hover::after
{
	visibility: visible;
	opacity: 1;
}
.details_image_thumbnail > a > img
{
	max-width: 100%;
}
.product_name
{
	font-size: 30px;
	font-weight: 600;
	color: #232323;
	line-height: 0.75;
}
.product_price
{
	font-size: 24px;
	font-weight: 600;
	margin-top: 9px;
	color: #8a8a8a;
}
.in_stock_container
{
	margin-top: 22px;
}
.availability
{
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	color: #6c6a74;
}
.in_stock_container span
{
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	color: #44a038;
	margin-left: 5px;
}
.details_name
{
	font-size: 24px;
	font-weight: 500;
	color: #1b1b1b;
	margin-top: -9px;
}
.details_discount
{
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	color: #e95a5a;
	margin-right: 20px;
	text-decoration: line-through;
}
.details_price
{
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	color: #6c6a74;
	margin-top: 12px;
}
.details_text
{
	margin-top: 49px;
}
.details_text p
{
	font-weight: 500;
}
.product_quantity_container
{
	margin-top: 48px;
}
.product_quantity
{
	display: inline-block;
	width: 147px;
	height: 61px;
	border: solid 2px #d0d0d0;
	overflow: hidden;
	padding-left: 78px;
	vertical-align: middle;
}
.product_quantity span
{
	position: absolute;
	top: 50%;
	left: 23px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 16px;
	font-weight: 600;
	color: #6c6a74;
}
.product_quantity input
{
	display: block;
	width: 30px;
	height: 57px;
	border: none;
	outline: none;
	font-size: 16px;
	font-weight: 600;
	color: #1b1b1b;
	text-align: left;
	padding-left: 9px;
	line-height: 39px;
	float: left;
}
.quantity_buttons
{
	position: absolute;
	top: 0;
	right: 1px;
	height: 100%;
	width: 29px;
}
.quantity_inc, 
.quantity_dec
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 50%;
	cursor: pointer;
}
.quantity_control i
{
	font-size: 10px;
	color: #232323;
	pointer-events: none;
}
.quantity_control:active
{
	border: solid 1px rgba(14, 140, 228, 0.2);
}
.quantity_inc
{
	padding-bottom: 3px;
	justify-content: flex-end;
}
.quantity_inc i
{
	-webkit-transform: translateY(3px);
	-moz-transform: translateY(3px);
	-ms-transform: translateY(3px);
	-o-transform: translateY(3px);
	transform: translateY(3px);
}
.quantity_dec
{
	padding-top: 3px;
	justify-content: flex-start;
}
.quantity_dec i
{
	-webkit-transform: translateY(-3px);
	-moz-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	-o-transform: translateY(-3px);
	transform: translateY(-3px);
}
.cart_button
{
	display: inline-block;
	vertical-align: middle;
	margin-left: 13px;
}
.cart_button::after
{
	background: #1b1b1b;
}
.details_share
{
	margin-top: 51px;
	border-top: solid 1px #d0d0d0;
}
.details_share span
{
	display: inline-block;
}
.details_share ul
{
	display: inline-block;
	margin-top: 31px;
	margin-left: 41px;
}
.details_share ul li
{
	display: inline-block;
}
.details_share ul li:not(:last-child)
{
	margin-right: 18px;
}
.details_share ul li a i
{
	font-size: 16px;
	color: #b5b5b5;
	padding: 5px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.details_share ul li a i:hover
{
	color: #1b1b1b;
}
.description_row
{
	margin-top: 91px;
}
.description_title
{
	display: inline-block;
	font-size: 24px;
	font-weight: 500;
	color: #1b1b1b;
}
.reviews_title
{
	display: inline-block;
	margin-left: 41px;
}
.reviews_title a
{
	font-size: 24px;
	font-weight: 500;
	color: #6c6a74;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.reviews_title a:hover
{
	color: #1b1b1b;
}
.description_text
{
	margin-top: 0px;
}

/*********************************
7. Products
*********************************/

.products
{
	width: 100%;
	background: #FFFFFF;
	z-index: 2;
	padding-top: 89px;
}
.products_title
{
	font-size: 30px;
	font-weight: 500;
	color: #1b1b1b;
}
.product_grid
{
	margin-top: 88px;
}
.product
{
	width: calc((100% - 90px) / 4);
	margin-bottom: 59px;
}
.product_image
{
	width: 100%;
}
.product_image img
{
	max-width: 100%;
}
.product_content
{
	width: 100%;
	padding-top: 36px;
	padding-bottom: 38px;
}
.product_title a
{
	font-size: 18px;
	font-weight: 500;
	color: #1b1b1b;
	line-height: 1.1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.product_title a:hover
{
	color: #e95a5a;
}
.product_price
{
	font-size: 16px;
	font-weight: 500;
	color: #6c6a74;
	line-height: 0.75;
	margin-top: 13px;
}
.product_extra
{
	position: absolute;
	top: 0;
	left: 54px;
	width: 66px;
	height: 36px;
	text-align: center;
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	transform-origin: top left;
	transform: rotate(90deg);
}
.product_extra a
{
	display: block;
	font-size: 16px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 36px;
}
.product_new
{
	background: #6c6a74;
}
.product_sale
{
	background: #e95a5a;
}
.product_hot
{
	background: #1b1b1b;
}


.menu-2 {
    border-top: 15px solid #9a1937;
    line-height: 3;
    background-color: #535353;
    box-shadow: 0 3px 5px rgba(25,25,25,.75);
    color: #bbb;
    left: 0;
    right: 0;
}

.hassubs ul li {
    padding: 0px 25px;
    border-bottom: 1px solid #efefef;
}
/* 
.m-t-200 {
	margin-top: 200px;
} */

.nav-tabs > li {
    margin-right: 30px;
    min-width: 60px;
    text-align: center;
}

.nav-tabs > li > .active {
    border-bottom: 3px solid #000;
}

.tab-content>.active {
    display: block;
    /* border: 1px solid #efefef; */
    /* padding: 6px 15px; */
}

.section-border {
    border: 1px solid #efefef;
    float: left;
    width: 100%;
    margin-bottom: 25px;
	padding: 10px 40px;
	background: #fff;
}

.nav-tabs > li > a {
    color: #000;
}

.m-0{
	margin: 0px;
}

.table {
	margin-bottom: 0px;
}

.card{
	background: transparent;
}

.checkout_form_container
{
	width: 100%;
	margin-top: 46px;
}
.checkout_form > div:not(:last-child)
{
	margin-bottom: 14px;
}
.checkout_form label
{
	font-size: 17px;
	font-weight: 400;
	color: #6c6a74;
}
.checkout_input
{
	width: 100%;
    height: 52px;
    background: #f7f7f7;
    outline: none;
    padding-left: 15px;
    border: 2px solid #ccc;
}

.fa-file-pdf:before, .fa-file-pdf:before {
    content: "\f1c1";
}

.center{
	text-align: center
}

p {
    margin-top: 0;
    margin-bottom: 0px;
}

.showing	{
    display: flex;
    padding: 20px 15px;
    background: #fff;
}

.processing-s-2{
	text-align: center !important;
    display: block;
    padding: 20px 15px;
    background: #fff;
}



.processing, .completed, .failed {
    border: 1px solid #8fbd8f;
    padding: 3px 10px;
    background: #d1f5d1;
    margin-right: 15px;
    border-radius: 5px;
}


