﻿@charset "utf-8";

/* CSS Document */


/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Product Details
7. Products
8. Newsletter
9. Footer


******************************/


/*********************************
5. Home
*********************************/

.home {
    width: 100%;
    height: 625px;
    background: #FFFFFF;
    z-index: 2;
    padding-top: 130px;
    padding-left: 0px;
    padding-right: 0px;
}

.home_container {
    width: 100%;
    height: 100%;
}

.home_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.home_content_container {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.home_content {
    width: 580px;
}

.home_title {
    font-size: 60px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 1.2;
}

.home_title span {
    color: #e95a5a;
}

.home_text {
    margin-top: 7px;
}

.home_text p {
    color: #FFFFFF;
}


/*********************************
6. Product Details
*********************************/

.product_details {
    width: 100%;
    background: #FFFFFF;
    z-index: 2;
   
}

.filter>h4 {
    color: #b52950;
    font-weight: 500;
}

.details_row {
    margin-top: 50px;
}

.details_image {}

.details_image_large {
    width: 100%;
}

.details_image_large {
    border: 1px solid #ccc;
    padding: 25px;
}

.details_image_large img {
    max-width: 100%;
}

.details_image_thumbnails {
    margin-top: 17px;
}

.details_image_thumbnail {
    width: calc((100% - 51px) / 4);
    cursor: pointer;
}

.details_image_thumbnail::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 2px #1b1b1b;
    content: '';
    background: transparent;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.details_image_thumbnail.active::after,
.details_image_thumbnail:hover::after {
    visibility: visible;
    opacity: 1;
}

.details_image_thumbnail > a > img {
    max-width: 100%;
}

.product_name {
    font-size: 30px;
    font-weight: 600;
    color: #232323;
    line-height: 0.75;
}

.product_price {
    font-size: 24px;
    font-weight: 600;
    margin-top: 9px;
    color: #8a8a8a;
}

.in_stock_container {
    margin-top: 0px;
}

.in_stock_container span {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #44a038;
    margin-left: 5px;
}

.details_discount {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #e95a5a;
    margin-right: 20px;
    text-decoration: line-through;
}

.details_price {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #6c6a74;
    margin-top: 12px;
}

.details_text {
    margin-top: 0px;
}

.details_text p {
    font-weight: 500;
}

.resources {
    margin-top: 25px;
}

.res-title {
    text-align: left;
}

.space {
    margin: 15px 0px;
}

.product_quantity_container {
    margin-top: 48px;
}

.product_quantity {
    display: inline-block;
    width: 147px;
    height: 61px;
    border: solid 2px #d0d0d0;
    overflow: hidden;
    padding-left: 78px;
    vertical-align: middle;
}

.product_quantity span {
    position: absolute;
    top: 50%;
    left: 23px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 600;
    color: #6c6a74;
}

.product_quantity input {
    display: block;
    width: 30px;
    height: 57px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: #1b1b1b;
    text-align: left;
    padding-left: 9px;
    line-height: 39px;
    float: left;
}

.quantity_buttons {
    position: absolute;
    top: 0;
    right: 1px;
    height: 100%;
    width: 29px;
}

.quantity_inc,
.quantity_dec {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    cursor: pointer;
}

.quantity_control i {
    font-size: 10px;
    color: #232323;
    pointer-events: none;
}

.quantity_control:active {
    border: solid 1px rgba(14, 140, 228, 0.2);
}

.quantity_inc {
    padding-bottom: 3px;
    justify-content: flex-end;
}

.quantity_inc i {
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
}

.quantity_dec {
    padding-top: 3px;
    justify-content: flex-start;
}

.quantity_dec i {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
}

.cart_button {
    display: inline-block;
    vertical-align: middle;
    margin-left: 13px;
}

.cart_button::after {
    background: #1b1b1b;
}

.details_share {
    margin-top: 51px;
    border-top: solid 1px #d0d0d0;
}

.details_share span {
    display: inline-block;
}

.details_share ul {
    display: inline-block;
    margin-top: 31px;
    margin-left: 41px;
}

.details_share ul li {
    display: inline-block;
}

.details_share ul li:not(:last-child) {
    margin-right: 18px;
}

.details_share ul li a i {
    font-size: 16px;
    color: #b5b5b5;
    padding: 5px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.details_share ul li a i:hover {
    color: #1b1b1b;
}

.description_row {
    margin-top: 91px;
}

.description_title {
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    color: #1b1b1b;
}

.reviews_title {
    display: inline-block;
    margin-left: 41px;
}

.reviews_title a {
    font-size: 24px;
    font-weight: 500;
    color: #6c6a74;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.reviews_title a:hover {
    color: #1b1b1b;
}

.description_text {
    margin-top: 0px;
}


/*********************************
7. Products
*********************************/

.products {
    width: 100%;
    background: #FFFFFF;
    z-index: 2;
    padding-top: 89px;
}

.products_title {
    font-size: 30px;
    font-weight: 500;
    color: #1b1b1b;
}

.product_grid {
    margin-top: 88px;
}

.product {
    width: calc((100% - 90px) / 4);
    margin-bottom: 59px;
}

.product_image {
    width: 100%;
}

.product_image img {
    max-width: 100%;
}

.product_content {
    width: 100%;
    padding-top: 36px;
    padding-bottom: 38px;
}

.product_title a {
    font-size: 18px;
    font-weight: 500;
    color: #1b1b1b;
    line-height: 1.1;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.product_title a:hover {
    color: #e95a5a;
}

.product_price {
    font-size: 16px;
    font-weight: 500;
    color: #6c6a74;
    line-height: 0.75;
    margin-top: 13px;
}

.product_extra {
    position: absolute;
    top: 0;
    left: 54px;
    width: 66px;
    height: 36px;
    text-align: center;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    transform: rotate(90deg);
}

.product_extra a {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 36px;
}

.product_new {
    background: #6c6a74;
}

.product_sale {
    background: #e95a5a;
}

.product_hot {
    background: #1b1b1b;
}


/*********************************
8. Newsletter
*********************************/

.newsletter {
    width: 100%;
    background: #FFFFFF;
    padding-bottom: 99px;
    z-index: 2;
}

.newsletter_border {
    width: 100%;
    border-top: solid 2px #e3e3e3;
}

.newsletter_content {
    padding-top: 88px;
}

.newsletter_title {
    font-size: 30px;
    font-weight: 500;
    color: #1b1b1b;
}

.newsletter_text {
    margin-top: 8px;
}

.newsletter_form_container {
    width: 100%;
    margin-top: 46px;
}

.newsletter_form {
    width: 100%;
}

.newsletter_input {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: solid 2px #787878;
    outline: none;
    text-align: center;
}

.newsletter_button {
    position: relative;
    width: 178px;
    height: 61px;
    border: solid 2px #1b1b1b;
    background: #FFFFFF;
    cursor: pointer;
    margin-top: 55px;
    overflow: hidden;
}

.newsletter_button span {
    display: block;
    position: relative;
    z-index: 10;
    font-size: 16px;
    font-weight: 600;
    color: #1b1b1b;
    background: none;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.newsletter_button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: #1b1b1b;
    z-index: 0;
    opacity: 0;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.newsletter_button:hover::after {
    opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.newsletter_button:hover span {
    color: #FFFFFF;
}

.menu-2 {
    border-top: 15px solid #9a1937;
    position: absolute;
    width: 100%;
    background: #ccc;
    line-height: 2;
}

.filter {
    height: 550px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 11px 1px #ccc;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.avds {
    width: 100%;
    background: #FFFFFF;
    z-index: 2;
}

.avds_container {
    width: 100%;
    height: 490px;
}


/* Ad Small*/

.avds_small {
    width: calc((100% * 0.391) - 15px);
    height: 100%;
}

.avds_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.avds_small_inner {
    width: 100%;
    height: 100%;
    border: solid 2px #FFFFFF;
    height: 100%;
    background: rgba(0, 0, 0, 0.63);
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 51px;
    padding-bottom: 30px;
}

.avds_discount_container {
    position: absolute;
    right: 36px;
    bottom: 0;
}

.avds_discount_container>div {
    position: relative;
    width: 100%;
    height: 100%;
}

.avds_discount {
    position: absolute;
    bottom: 71px;
    right: 0;
    width: 152px;
    text-align: center;
}

.avds_discount div:first-child {
    font-size: 60px;
    font-weight: 700;
    color: #1b1b1b;
    line-height: 0.75;
}

.avds_discount div:first-child span {
    font-size: 36px;
    font-weight: 700;
    vertical-align: super;
}

.avds_discount div:last-child {
    font-size: 14px;
    font-weight: 400;
    color: #1b1b1b;
    margin-top: 1px;
}

.avds_small_content {
    /* max-width: 250px; */
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.avds_title {
    font-size: 40px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 1.16;
}

.avds_link {
    margin-top: 18px;
    padding-left: 4px;
}

.avds_link a {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

.avds_link a::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #FFFFFF;
    content: '';
}


/* Ad Large */

.avds_large {
    width: calc((100% * 0.608) - 15px);
    height: 50%;
    margin-right: 15px;
}

.avds_large_container {
    width: 100%;
    height: 100%;
    /* padding-top: 39px;
	padding-left: 32px;
	padding-bottom: 44px; */
}

.avds_large_content {
    /* max-width: 567px; */
    height: 100%;
    background: rgba(0, 0, 0, 0.63);
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 51px;
    padding-bottom: 30px;
}

.avds_text {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 2.14;
    margin-top: 11px;
    padding-left: 2px;
}

.avds_link_large {
    margin-top: 40px;
}

.slick-arrow {
    background: transparent;
    padding: 30px 6px;
    color: #9e1938;
    border: 1px solid #fff;
}