﻿@using System.Web.UI.WebControls
@using Stimulsoft.Report.Mvc;
@using Stimulsoft.Report.Web;
<style>
    .heightsample {
        height: 600px !important;
        width: 70%;
    }
</style>
@{
   
    Layout = null;
}
<div class="col-sm-12 no-padding">


  @Html.Stimulsoft().StiMvcViewer("MvcViewerCategory",

new StiMvcViewerOptions()
{

    Actions =

{

GetReport = "GetReport",

ViewerEvent = "ViewerEvent"

},
    Toolbar =

{

ViewMode = StiWebViewMode.MultiplePages

}

})






   
</div>
