﻿
@using System.Web.UI.WebControls
<style>
    .heightsample {
        height: 600px !important;
        width: 70%;
    }
</style>

<div class="col-sm-12 no-padding">
    @Html.Stimulsoft().StiMvcViewerFx(new StiMvcViewerFxOptions()
                                                                             {
                                                                                 Actions =
                                                                                 {
                                                                                     GetReportSnapshot = "../XpressCatalog/openTemplatePreview",
                                                                                     ExportReport = "../Category/ExportResult",
                                                                                 },
                                                                                 Toolbar =
                                                                                 {
                                                                                     ShowAboutButton = false,
                                                                                     ShowOpenButton = false,
                                                                                     ShowBookmarksButton = false,
                                                                                     Zoom = 100
                                                                                 },
                                                                                 Width = Unit.Percentage(100),
                                                                                 Height = Unit.Pixel(700),

                                                                                 Server =
                                                                                 {
                                                                                     RequestTimeout = 3000
                                                                                 }
                                                                             }
                            )
</div>
