﻿@using Stimulsoft.Report.Mvc;
@using Stimulsoft.Report.Web;
@{
    ViewBag.Title = "Reports";
    Layout = null;
}

<style>
    div#MvcViewerFamilyReportPanel {
        overflow: scroll !important;
    }
</style>
<div id="body" class="ng-scope">
    <div class="container">
        @Html.Stimulsoft().StiMvcViewer("MvcViewerFamily",

new StiMvcViewerOptions()
{

    Actions =

{

GetReport = "../XpressCatalog/openTemplatePreview",

ViewerEvent = "ViewerEvent"

},
    
    Toolbar =
{

ViewMode = StiWebViewMode.Continuous

},
    Server =

{

CacheTimeout = 10

}

})
    </div>
</div>