﻿@using Stimulsoft.Report.Mvc;
@using Stimulsoft.Report.Web;

@{

    Layout = null;
}
<style>
    div#MvcViewerProductReportPanel {
        overflow: scroll !important;
    }
</style>


<div id="body" class="ng-scope">
    <div class="container">
        @Html.Stimulsoft().StiMvcViewer("MvcViewerProduct",

new StiMvcViewerOptions()
{

    Actions =

{

GetReport = "../XpressCatalog/openTemplatePreview",
ViewerEvent = "ViewerEvent"

},
    Toolbar =
{

ViewMode = StiWebViewMode.Continuous

},
    Server =

{

CacheTimeout = 10

}
})
    </div>
</div>