﻿@using Stimulsoft.Report.Mvc;
@using Stimulsoft.Report.Web;

@{
    ViewBag.Title = "Reports";
    Layout = null;
}
<style>
    div#MvcViewerCategory1ReportPanel {
        overflow: scroll !important;
    }
</style>
<div id="body"  class="ng-scope">
<div class="container">

@Html.Stimulsoft().StiMvcViewer("MvcViewerCategory1",

new StiMvcViewerOptions()
{

    Actions =

{

GetReport = "../XpressCatalog/openTemplatePreview",

ViewerEvent = "../XpressCatalog/ViewerEvent"

},
   
    Toolbar =
{

ViewMode = StiWebViewMode.Continuous

},
    Server =

{

RequestTimeout = 3600

}

})
        </div>
    </div>

