﻿@using System.Web.UI.WebControls;
@using Stimulsoft.Report.Mvc;

@{
    ViewBag.Title = "PreviewCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style>
        .k-grid table tbody tr {
            cursor: pointer;
        }
    </style>

    <style type="text/css">
        #custom-menu {
            z-index: 1000;
            position: absolute;
            border: solid 2px black;
            background-color: white;
            padding: 5px 0;
            display: none;
            cursor: pointer;
        }

            #custom-menu ol {
                padding: 0;
                margin: 0;
                list-style-type: none;
                min-width: 130px;
                width: auto;
                max-width: 200px;
                font-family:"Helvetica Neue",Helvetica,Arial,sans-serif !important;
                font-size: 12px;
            }

                #custom-menu ol li {
                    margin: 0;
                    display: block;
                    list-style: none;
                    padding: 5px 5px;
                }

                    #custom-menu ol li:hover {
                        background-color: #efefef;
                    }

                    #custom-menu ol li:active {
                        color: White;
                        background-color: #000;
                    }

                #custom-menu ol .list-devider {
                    padding: 0px;
                    margin: 0px;
                }

                    #custom-menu ol .list-devider hr {
                        margin: 2px 0px;
                    }

                #custom-menu ol li a {
                    color: Black;
                    text-decoration: none;
                    display: block;
                    padding: 0px 5px;
                }

                    #custom-menu ol li a:active {
                        color: White;
                    }
    </style>
}

@Html.Stimulsoft().RenderMvcViewerFxScripts()

<div class="col-sm-12">
    <form name="previewcategoryform">
        <div ng-controller="dashboardController">
            <div style="width: 30%; float:left">
                <div class="demo-section k-content">
                    <div class="box-col">
                        <div kendo-tree-view="tree" k-data-source="treeData"
                             k-on-change="selectedItem = dataItem">
                            <span k-template>
                                <a class='k-item' id="{{dataItem.id}}" ng-click='click(dataItem)' ng-right-click="ContextMenu($event,dataItem)">({{dataItem.id}})&nbsp;{{dataItem.CATEGORY_NAME}}</a>
                            </span>
                        </div>
                    </div>
                    <div class="box-col" ng-show="selectedItem">
                        @*<h4>Selected: {{selectedItem.CATEGORY_NAME}}</h4>*@
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h2>PreviewCategory</h2>

            @Html.Stimulsoft().StiMvcViewerFx(new StiMvcViewerFxOptions()
{
    //Theme = StiTheme.Office2010,
    ActionGetReportSnapshot = "Preview",
    ActionExportReport = "ExportResult",
    Height= Unit.Pixel(700),
    ////Zoom= Unit.Percentage(100),
    Width= Unit.Pixel(700)
    //Localization = Server.MapPath("~/Content/Localization/"),
    //ActionViewerEvent = "ViewerEvent",
    //ActionInteraction = "Interaction"
})
        </div>
        <div id="custom-menu">
            <ol>
                <li><a>New Category</a> </li>
                <li ng-click="CutCategory()"><a>Cut Category</a> </li>
                <li ng-click="CopyCategory()"><a>Copy Category</a> </li>
                <li class="list-devider">
                    <hr />
                </li>
                <li><a>Clone</a> </li>
                <li><a>Remove</a> </li>
                <li ng-click="PasteCategory()"><a>Paste </a> </li>
                <li ng-click="PasteRootCategory()"><a>Paste as Root Category</a> </li>
                <li class="list-devider">
                    <hr />
                </li>
                <li><a>Preview</a> </li>
                <li><a></a> </li>
            </ol>
        </div>
    </form>

    @section scripts{
        <script type="text/javascript" src='@Url.Content("~/Views/App/Admin/dashboardController.js")'></script>
        <script type="text/javascript" src='@Url.Content("~/Views/App/Category/categoryController.js")'></script>
    }
</div>

