
.block-ui {
  /*position: relative;*/
}

body.block-ui > .block-ui-container {
  position: fixed;
}

.block-ui-container {
  position: absolute;
  z-index: 99999;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=00);
  cursor: default;
}

#LoaderNewImg{
   width: 25%;
    padding: 5px !important;
    min-width: 100px !important;
    max-width: 250px !important;
    margin-left: 25% !important;
    color: #fff;
    border-radius: 20px !important;
    font-weight: 300 !important;
}

.block-ui-active > .block-ui-container {
  height: 100%;
}

.block-ui-active .block-ui-active > .block-ui-container {
  height: 0;
}

.block-ui-visible > .block-ui-container {
  opacity: 1;
  filter: alpha(opacity=100);
}

.block-ui-overlay {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  filter: alpha(opacity=50);
  background-color: #000000;
}

.block-ui-message-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 0;
  text-align: center;
  z-index: 10001;

}

.block-ui-message {
  display: inline-block;
  text-align: left;
  background-color:#4B9F46;
  color: #f5f5f5;
  padding: 20px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  /* needed for IE */
  filter: alpha(opacity=100);
}
.ng-hide { display:none!important; }