﻿@charset "utf-8";

/* CSS Document */


/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Products
7. Icon Boxes
8. Newsletter
9. Footer


******************************/


/*********************************
5. Home
*********************************/

.home {
    width: 100%;
    height: 625px;
    background: #FFFFFF;
    z-index: 2;
    padding-top: 130px;
    padding-left: 0px;
    padding-right: 0px;
}

.home_container {
    width: 100%;
    height: 100%;
}

.home_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.home_content_container {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.home_content {
    width: 580px;
}

.home_title {
    font-size: 60px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 1.2;
}

    .home_title span {
        color: #e95a5a;
    }

.home_text {
    margin-top: 7px;
}

    .home_text p {
        color: #FFFFFF;
    }


/*********************************
6. Products
*********************************/

.products {
    width: 100%;
    background: #FFFFFF;
    z-index: 2;
}


/* Sorting Bar */

.sorting_bar {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.results {
    font-size: 14px;
    font-weight: 400;
    color: #6c6a74;
}

.item_sorting {
    display: inline-block;
}

    .item_sorting > li {
        display: inline-block;
        position: relative;
        width: 191px;
        height: 36px;
        line-height: 32px;
        cursor: pointer;
        border: solid 2px #ececec;
        padding-left: 26px;
        padding-right: 19px;
        margin-right: 8px;
        font-size: 14px;
        font-weight: 400;
        color: #6c6a74;
        margin-bottom: 10px;
    }

        .item_sorting > li:last-child {
            margin-right: 0;
        }

.num_sorting_text {
    padding-right: 11px;
}

.item_sorting li i {
    float: right;
    line-height: 32px;
    font-size: 10px;
    color: #787878;
}

.item_sorting li ul {
    display: block;
    position: absolute;
    right: 0;
    top: 120%;
    margin: 0;
    width: 100%;
    background: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    box-shadow: 0 15px 25px rgba(63, 78, 100, 0.15);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}

.item_sorting > li:hover ul {
    visibility: visible;
    opacity: 1;
    top: calc(100% + 1px);
}

.item_sorting li ul li {
    display: block;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

    .item_sorting li ul li span {
        display: block;
        height: 36px;
        line-height: 36px;
        border-bottom: solid 1px #dddddd;
        color: #6c6a74;
        text-align: right;
        padding-right: 5px;
        -webkit-transition: opacity 0.3s ease;
        -moz-transition: opacity 0.3s ease;
        -ms-transition: opacity 0.3s ease;
        -o-transition: opacity 0.3s ease;
        transition: all 0.3s ease;
    }

        .item_sorting li ul li span:hover {
            color: #b5aec4;
        }

    .item_sorting li ul li:last-child span {
        border-bottom: none;
    }

.item_sorting li span:nth-child(2) {
    margin-left: 63px;
}


/* Product */

.product {
    width: calc((100% - 120px) / 3);
    margin-bottom: 25px;
    height: 250px;
    border: 5px solid #ffffff;
    padding: 0px;
    text-align: center;
    box-shadow: 0px 0px 2px 3px #efefef;
    transition: ease-in 1s;
    background: linear-gradient(45deg, #ffffff, #e1e1e1);
    float: left;
    margin-right: 30px;
    cursor: pointer;
}

    .product:hover {
        box-shadow: 0px 0px 4px 5px #da94a7;
        border: 5px solid #9e1938;
    }

.product_image {
    width: 100%;
    height: 190px;
    padding: 15px;
}

    .product_image img {
        max-width: 100%;
        height: 160px;
    }

.filter {
    height: 570px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 11px 1px #ccc;
    /*width: 280px;*/
}

    .filter.browser-navigation {
        width: 21%;
    }

    .filter > span {
        line-height: 1;
    }

    .filter > h4 {
        color: #b52950;
    }

.product_content {
    margin: 0px 10px;
}

.product_title {
    padding: 4px 10px;
    color: #ffffff;
    background: linear-gradient(45deg, #ff003b, #75001b);
    margin-top: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

    .product_title a {
        font-size: 18px;
        font-weight: 500;
        color: #1b1b1b;
        line-height: 1.1;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

        .product_title a:hover {
            color: #e95a5a;
        }

.product_price {
    font-size: 14px;
    font-weight: 500;
    color: #6c6a74;
    line-height: 0.75;
    margin-top: 13px;
    float: left;
    margin-right: 27px;
}

.product_extra {
    position: absolute;
    top: 0;
    left: 54px;
    width: 66px;
    height: 36px;
    text-align: center;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    transform: rotate(90deg);
}

    .product_extra a {
        display: block;
        font-size: 16px;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 36px;
    }

.product_new {
    background: #6c6a74;
}

.product_sale {
    background: #e95a5a;
}

.product_hot {
    background: #1b1b1b;
}

.product_pagination {
    width: 100%;
    margin-top: 3px;
}

    .product_pagination ul li {
        display: inline-block;
    }

        .product_pagination ul li:not(:last-child) {
            margin-right: 3px;
        }

        .product_pagination ul li a {
            font-size: 14px;
            font-weight: 400;
            color: #6c6a74;
            -webkit-transition: all 200ms ease;
            -moz-transition: all 200ms ease;
            -ms-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            transition: all 200ms ease;
        }

        .product_pagination ul li.active a,
        .product_pagination ul li:hover a {
            color: #1b1b1b;
        }


/*********************************
7. Icon Boxes
*********************************/

.icon_boxes {
    width: 100%;
    padding-top: 99px;
    padding-bottom: 99px;
    background: #FFFFFF;
    z-index: 2;
}

.icon_box_row {
}

.icon_box {
    width: 100%;
    text-align: center;
}

.icon_box_image {
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
}

    .icon_box_image img {
        max-width: 100%;
    }

.icon_box_title {
    font-size: 18px;
    font-weight: 500;
    color: #1b1b1b;
    margin-top: 33px;
}

.icon_box_text {
    margin-top: 20px;
}

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/


/************
1. 1600px
************/

@media only screen and (max-width: 1600px) {
}


/************
2. 1440px
************/

@media only screen and (max-width: 1440px) {
}


/************
3. 1380px
************/

@media only screen and (max-width: 1380px) {
}


/************
3. 1280px
************/

@media only screen and (max-width: 1280px) {
}


/************
4. 1199px
************/

@media only screen and (max-width: 1199px) {
}


/************
4. 1100px
************/

@media only screen and (max-width: 1100px) {
}


/************
5. 1024px
************/

@media only screen and (max-width: 1024px) {
}


/************
6. 991px
************/

@media only screen and (max-width: 991px) {


    .product {
        width: calc((100% - 0px) / 1);
    }

    .filter {
        height: 250px;
        margin-top: 25px;
        margin-bottom: 115px;
        top: 100px;
    }
}


/************
7. 959px
************/

@media only screen and (max-width: 959px) {
    .product {
        width: calc((100% - 0px) / 1);
    }

     .filter {
        height: 250px;
        margin-top: 25px;
        margin-bottom: 115px;
        top: 100px;
    }
}


/************
8. 880px
************/

@media only screen and (max-width: 880px) {
    .product {
        width: calc((100% - 0px) / 1);
    }

     .filter {
        height: 250px;
        margin-top: 25px;
        margin-bottom: 115px;
        top: 100px;
    }
}


/************
9. 768px
************/

@media only screen and (max-width: 768px) {
    .product {
        width: calc((100% - 0px) / 1);
    }

     .filter {
        height: 250px;
        margin-top: 25px;
        margin-bottom: 115px;
        top: 100px;
    }
}


/************
10. 767px
************/

@media only screen and (max-width: 767px) {
    .product {
        width: calc((100% - 0px) / 1);
    }

    .filter {
        height: 250px;
        margin-top: 25px;
        margin-bottom: 115px;
        top: 100px;
    }
}


/************
11. 575px
************/

@media only screen and (max-width: 575px) {
    .product {
        width: calc((100% - 0px) / 1);
    }

     .filter {
        height: 250px;
        margin-top: 25px;
        margin-bottom: 115px;
        top: 100px;
    }
}


/************
11. 539px
************/

@media only screen and (max-width: 539px) {
    .product {
        width: calc((100% - 0px) / 1);
    }

     .filter {
        height: 250px;
        margin-top: 25px;
        margin-bottom: 115px;
        top: 100px;
    }
}


/************
12. 480px
************/

@media only screen and (max-width: 480px) {
    .product {
        width: calc((100% - 0px) / 1);
    }

     .filter {
        height: 250px;
        margin-top: 25px;
        margin-bottom: 115px;
        top: 100px;
    }
}


/************
13. 479px
************/

@media only screen and (max-width: 479px) {

    .product {
        width: calc((100% - 0px) / 1);
    }

      .filter {
        height: 250px;
        margin-top: 25px;
        margin-bottom: 115px;
        top: 100px;
    }
}

/************
14. 400px
************/

@media only screen and (max-width: 400px) {
    .product {
        width: calc((100% - 0px) / 1);
    }

     .filter {
        height: 250px;
        margin-top: 25px;
        margin-bottom: 115px;
        top: 100px;
    }
}
