/*:::::::::::::Top Bar:::::::::::::::*/


.logo > a > img {
    width: 100%;
}

.logo {
    width: 13%;
}

input[type="file"] {
    color: transparent;
}

/*:::::::::::::Top Navigation:::::::::::::::*/

.navbar-right {
    right: 0;
    position: absolute;
    margin-right: 4%;
}

.search_panel {
    background: linear-gradient(45deg, #f10037, #7f001d);
    background: -webkit-linear-gradient(45deg, #f10037, #7f001d); /* Chrome10+,Safari5.1+ */
}

    .search_panel.active {
        bottom: 0px;
    }

.search_panel_content {
    height: 45px;
}

.search_input {
    width: 300px;
    /* height: 30px; */
    outline: none;
    border-radius: 3px;
    padding-left: 20px;
    border: 1px solid #000;
    border-right: 0;
}

    .search_input::-webkit-input-placeholder {
        font-size: 14px !important;
        font-weight: 400 !important;
        font-style: italic;
        color: #767676 !important;
    }

    .search_input:-moz-placeholder {
        font-size: 14px !important;
        font-weight: 400 !important;
        font-style: italic;
        color: #767676 !important;
    }

    .search_input::-moz-placeholder {
        font-size: 14px !important;
        font-weight: 400 !important;
        font-style: italic;
        color: #767676 !important;
    }

    .search_input:-ms-input-placeholder {
        font-size: 14px !important;
        font-weight: 400 !important;
        font-style: italic;
        color: #767676 !important;
        height: 29px;
    }

    .search_input::input-placeholder {
        font-size: 14px !important;
        font-weight: 400 !important;
        font-style: italic;
        color: #767676 !important;
    }

.txt_livesearch {
    background: transparent;
    border: none;
    color: #fff !important;
    padding: 7px 22px;
    font-size: 21px;
    cursor: pointer;
    display: block;
}

.f-name {
    background: linear-gradient(45deg, #9e1938, black);
    background: -webkit-linear-gradient(45deg, #9e1938, black); /* Chrome10+,Safari5.1+ */
    color: #fff;
}

.total-price {
    text-align: right;
    border: 1px solid #ccc;
    padding: 0;
    float: right;
    box-shadow: 0px 0px 5px 2px #ccc;
    margin-left: 20px;
}

.price-head {
    background: #9e1938;
    padding: 8px;
    text-align: center;
    color: #fff;
}

.price {
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

span.left {
    float: left;
}

.cart-info {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px 2px #ccc;
    padding: 15px;
}

.product_folder {
    width: 100%;
    height: 150px;
    padding: 15px;
}

    .product_folder img {
        max-width: 100%;
        height: 125px;
    }

.product_title_q {
    color: #ffffff;
    margin-top: 0px;
    width: 75%;
    float: left;
    background: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
}

    .product_title_q a {
        font-size: 18px;
        font-weight: 500;
        color: #1b1b1b;
        line-height: 1.1;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

        .product_title_q a:hover {
            color: #e95a5a;
        }

.product_content_q {
    width: 90%;
    margin: 0px 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px 2px #ccc;
    background: linear-gradient(45deg, #9e1938, transparent);
    background: -webkit-linear-gradient(45deg, #9e1938, transparent); /* Chrome10+,Safari5.1+ */
    background: #9e1938;
}

.product_title_w {
    color: #ffffff;
    margin-top: 0px;
    width: 50%;
    float: left;
    background: #000000;
}

    .product_title_w a {
        font-size: 18px;
        font-weight: 500;
        color: #ffffff;
        line-height: 1.1;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

        .product_title_w a:hover {
            color: #e95a5a;
        }

.product_content_w {
    width: 90%;
    margin: 0px 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px 2px #ccc;
    background: linear-gradient(45deg, #9e1938, transparent);
    background: -webkit-linear-gradient(45deg, #9e1938, transparent); /* Chrome10+,Safari5.1+ */
    background: #9e1938;
}

.product-link > .fa {
    color: #fff;
}

.product-link > a {
    color: #fff;
}

.product_image > .fa {
    font-size: 100px;
    color: #7d7d7d;
    padding: 75px 0px;
    background: -webkit-gradient(linear, left top, left bottom, from(#9e1938), to(#000));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product-link {
    /* position: absolute; */
    z-index: 1;
    width: 100%;
    height: 100%;
}

.product-title {
    margin-bottom: 15px;
    border-bottom: 3px solid #9e1938;
    font-size: 25px;
    background: -webkit-linear-gradient(#9e1938, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.collapsible {
    background-color: #b23c53;
    color: white;
    cursor: pointer;
    padding: 0px 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-bottom: 1px solid #9e9e9e;
}

    .active,
    .collapsible:hover {
        background-color: #a30026;
    }

.fade.active {
    opacity: 1;
}

.content {
    padding: 0 0px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

    .content > .pro-menu:hover {
        /* background-color: #9e1938; */
        color: #9e1938;
    }

    .content > span {
        padding: 5px !important;
        display: -webkit-inline-box;
    }

a.pro-menu {
    padding: 0px 11px;
    display: block;
    color: #000;
    font-size: 16px;
}

.product_title > a {
    color: #fff;
}


/* The container */

.container-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


    /* Hide the browser's default checkbox */

    .container-check input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }


/* Create a custom checkbox */

.checkmark-check {
    position: absolute;
    top: 4px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}


/* On mouse-over, add a grey background color */

.container-check:hover input ~ .checkmark-check {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.container-check input:checked ~ .checkmark-check {
    background-color: #9e1938;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark-check:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container-check input:checked ~ .checkmark-check:after {
    display: block;
}


/* Style the checkmark/indicator */

.container-check .checkmark-check:after {
    left: 7px;
    top: 2px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/***********
1. Fonts
***********/


/* @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900'); */

@import url('../fonts/LGSmart-Bold.ttf');

/*********************************
2. Body and some general stuff
*********************************/

@font-face {
    font-family: 'LGSmart-Bold';
    src: url('../fonts/LGSmart-Bold.ttf');
}

@font-face {
    font-family: 'LGSmart-BoldItalic';
    src: url('../fonts/LGSmart-BoldItalic.ttf');
}

@font-face {
    font-family: 'LG-Smart-Light';
    src: url('../fonts/LG-Smart-Light.ttf');
}

@font-face {
    font-family: 'LG-Smart-Regular';
    src: url('../fonts/LG-Smart-Regular.ttf');
}

@font-face {
    font-family: 'LG-Smart-Regular-Italic';
    src: url('../fonts/LG-Smart-Regular-Italic.ttf');
}

@font-face {
    font-family: 'LG-Smart-SemiBold';
    src: url('../fonts/LG-Smart-SemiBold.ttf');
}

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body {
    font-family: 'LG-Smart-Regular';
    font-size: 18px;
    font-weight: 400;
    background: #FFFFFF;
    color: #000000;
}

div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style: disc;
    margin-bottom: 0px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #6c6a74;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

    p a {
        display: inline;
        position: relative;
        color: inherit;
        border-bottom: solid 1px #ffa07f;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

    p:last-of-type {
        margin-bottom: 0;
    }

a,
a:hover,
a:visited,
a:active,
a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a:active {
    position: relative;
    color: #FF6347;
}

p a:hover {
    color: #FFFFFF;
    background: #ffa07f;
}

    p a:hover::after {
        opacity: 0.2;
    }

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

.form-control {
    color: #000000;
}

section {
    display: block;
    position: relative;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.trans_200 {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.trans_300 {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.trans_400 {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.trans_500 {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.fill_height {
    height: 100%;
}

.super_container {
    width: 100%;
}

.prlx_parent {
    overflow: hidden;
}

.prlx {
    height: 130% !important;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.nopadding {
    padding: 0px !important;
}

.button {
    width: 178px;
    height: 61px;
    background: none;
    text-align: center;
    border: solid 2px #1b1b1b;
    overflow: hidden;
    cursor: pointer;
}

    .button a {
        display: block;
        position: relative;
        font-size: 16px;
        font-weight: 600;
        line-height: 57px;
        color: #1b1b1b;
        background: none;
        z-index: 1;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

    .button::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 150%;
        height: 100%;
        background: #FFFFFF;
        z-index: 0;
        opacity: 0;
        -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
        transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
        transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
    }

    .button:hover::after {
        opacity: 1;
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
        -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }

.button_light {
    border: solid 2px #FFFFFF;
}

    .button_light a {
        color: #FFFFFF;
    }

.button:hover a {
    color: #FFFFFF;
}

.button_light:hover a {
    color: #1b1b1b;
}

.checkout_input {
    width: 100%;
    height: 52px;
    background: #f7f7f7;
    outline: none;
    padding-left: 15px;
    border: 2px solid #ccc;
}


/*********************************
3. Header
*********************************/

.header {
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header_container {
    width: 100%;
    z-index: 1;
    background: #000000;
}

.header_content {
    width: 100%;
    /*height: 90px;*/
    padding: 10px 0px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.header.scrolled .header_content {
    height: 85px;
}

.logo a {
    font-size: 30px;
    font-weight: 700;
    color: #1b1b1b;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.header.scrolled .logo a {
    font-size: 24px;
}

.header_social {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 60px;
    z-index: 1;
    margin-right: -5px;
}

.header_social {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 60px;
    z-index: 1;
    margin-right: -5px;
}

    .header_social ul li {
        display: inline-block;
    }

        .header_social ul li:not(:last-child) {
            margin-right: 18px;
        }

        .header_social ul li a i {
            font-size: 16px;
            color: #b5b5b5;
            padding: 5px;
            -webkit-transition: all 200ms ease;
            -moz-transition: all 200ms ease;
            -ms-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            transition: all 200ms ease;
        }

            .header_social ul li a i:hover {
                color: #1b1b1b;
            }

.header-search {
    background: #fafbfb;
    color: #9e1938;
    border: 1px solid #000;
    padding: 2px 9px;
    border-radius: 0px 5px 5px 0px;
    margin-left: -5px;
    margin-top: 0px;
    height: 29px;
    cursor: pointer;
}

.main_nav {
    margin-left: 120px;
    width: 100%;
    text-align: right;
    margin: 0px;
    padding: 8px 25px;
}

    .main_nav > ul > li {
        display: inline-block;
        position: relative;
    }

        .main_nav > ul > li:not(:last-child) {
            margin-right: 46px;
        }

        .main_nav > ul > li > a {
            font-size: 17px;
            font-weight: 600;
            color: #ffffff !important;
            -webkit-transition: all 200ms ease;
            -moz-transition: all 200ms ease;
            -ms-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            transition: all 200ms ease;
            cursor: pointer;
        }

            .main_nav > ul > li > a:hover,
            .main_nav > ul > li.active > a {
                color: #000000;
            }

    .main_nav ul li.hassubs::after {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: calc(100% + 3px);
        font-family: 'FontAwesome';
        font-size: 10px;
        content: '\f078';
        color: #767676;
    }

    .main_nav ul li:hover::after,
    .main_nav ul li.active::after {
        color: #1b1b1b;
    }


.dropdown-menu > li:hover > a:not([href]):not([tabindex]) {
    color: #fff;
}

.hassubs ul {
    position: absolute;
    right: -15px;
    top: calc(100% + 20px);
    text-align: right;
    background: #FFFFFF;
    padding-right: 25px;
    padding-left: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.hassubs:hover ul {
    visibility: visible;
    opacity: 1;
    top: calc(100% + 0px);
}

.hassubs ul li:not(:last-child) {
    margin-bottom: 11px;
}

.hassubs ul li a {
    font-size: 14px;
    font-weight: 600;
    color: #767676;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

    .hassubs ul li a:hover {
        color: #1b1b1b;
    }

.shopping_cart {
    display: inline-block;
}

    .shopping_cart a svg {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

    .shopping_cart a:hover svg,
    .shopping_cart a:hover div {
        fill: #e95a5a;
        color: #e95a5a;
    }

    .shopping_cart a div {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        font-weight: 500;
        color: #1b1b1b;
        margin-left: 13px;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

        .shopping_cart a div span {
            margin-left: 4px;
        }

.search {
    display: inline-block;
    margin-left: 51px;
    cursor: pointer;
    vertical-align: sub;
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    transform: translateY(-1px);
}

.search_panel_content {
    padding-left: 13px;
}

.search_icon {
    width: 13px;
    height: 13px;
}

    .search_icon svg {
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
        color: #fff;
    }

    .search_icon:hover svg {
        fill: #e95a5a;
    }

.hamburger {
    display: none;
    margin-left: 30px;
    cursor: pointer;
    margin-right: 4px;
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
}

    .hamburger i {
        font-size: 18px;
        color: #1b1b1b;
    }




/*********************************
4. Menu
*********************************/

.menu {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    background: #e4e4e4;
    z-index: 101;
}

    .menu.active {
        right: 0;
    }

.menu_container {
    width: 100%;
    height: 0px;
    padding-top: 130px;
}

.menu.active .menu_container {
    height: 500px;
}

.page_menu_content {
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
    text-align: right;
}

.page_menu_search {
    display: none;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.page_menu_search_input {
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: none;
    outline: none;
    padding-left: 25px;
}

.page_menu_item {
    display: block;
    position: relative;
    vertical-align: middle;
}

.page_menu_nav > li {
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.page_menu_item > a {
    display: block;
    color: #1b1b1b;
    font-weight: 700;
    line-height: 50px;
    height: 50px;
    font-size: 16px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

    .page_menu_item > a:hover {
        color: #c3c1cc;
    }

.page_menu_item a i {
    display: none;
    margin-left: 8px;
}

.page_menu_item.has-children > a > i {
    display: inline-block;
}

.page_menu_selection {
    margin: 0;
    width: 100%;
    height: 0px;
    overflow: hidden;
    z-index: 1;
}

    .page_menu_selection li {
        padding-right: 15px;
        line-height: 40px;
    }

        .page_menu_selection li:last-child {
            padding-bottom: 20px;
        }

        .page_menu_selection li a {
            display: block;
            color: #1b1b1b;
            border-bottom: solid 1px rgba(0, 0, 0, 0.2);
            font-size: 14px;
            -webkit-transition: opacity 0.3s ease;
            -moz-transition: opacity 0.3s ease;
            -ms-transition: opacity 0.3s ease;
            -o-transition: opacity 0.3s ease;
            transition: all 0.3s ease;
        }

            .page_menu_selection li a:hover {
                color: #c3c1cc;
            }

        .page_menu_selection li:last-child a {
            border-bottom: none;
        }

.menu_social {
    position: absolute;
    right: 30px;
    bottom: 15px;
}

    .menu_social ul li {
        display: inline-block;
    }

        .menu_social ul li:not(:last-child) {
            margin-right: 18px;
        }

        .menu_social ul li a i {
            font-size: 16px;
            color: #b5b5b5;
            padding: 5px;
            -webkit-transition: all 200ms ease;
            -moz-transition: all 200ms ease;
            -ms-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            transition: all 200ms ease;
        }

            .menu_social ul li a i:hover {
                color: #1b1b1b;
            }

.menu_close {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

    .menu_close i {
        font-size: 16px;
        color: #1b1b1b;
        padding: 5px;
    }


/*********************************
7. Footer
*********************************/

.footer_overlay {
    width: 100%;
    height: 129px;
    background: transparent;
    z-index: 1;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.footer_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.footer_content {
    width: 100%;
    height: 40px;
}

.footer_logo {
    width: 30%;
}

    .footer_logo a {
        font-size: 30px;
        line-height: 0.75;
        color: #1b1b1b;
        font-weight: 700;
    }

.copyright {
    width: 40%;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

.footer_social {
    width: 30%;
    text-align: right;
}

    .footer_social ul li {
        display: inline-block;
    }

        .footer_social ul li:not(:last-child) {
            margin-right: 26px;
        }

        .footer_social ul li a i {
            font-size: 17px;
            color: #1b1b1b;
            -webkit-transition: all 200ms ease;
            -moz-transition: all 200ms ease;
            -ms-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            transition: all 200ms ease;
        }

            .footer_social ul li a i:hover {
                color: #FFFFFF;
            }


/* width */

::-webkit-scrollbar, html::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

embed.embed-file::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}


/* Track */

::-webkit-scrollbar-track, html::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

embed.embed-file::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, dimgrey, #e0e0e0);
   background: -webkit-linear-gradient(45deg, dimgrey, #e0e0e0); /* Chrome10+,Safari5.1+ */
    border-radius: 10px;
}

embed.embed-file::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, dimgrey, #e0e0e0);
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #000;
}

embed.embed-file::-webkit-scrollbar-thumb:hover {
    background: #000;
}

.product_title a {
    color: #ffffff !important;
}

.details_text > ul {
    list-style: disc;
    margin-left: 50px;
    line-height: 2;
    font-weight: 600;
}

.availability {
    display: inline-block;
    font-size: 32px;
    font-weight: 600;
    color: #9e1938;
    padding: 0px 15px;
}

.breadcrump {
    color: white;
    margin-bottom: 20px;
    background: linear-gradient(45deg, #f10037, #7f001d);
    background: -webkit-linear-gradient(45deg, #f10037, #7f001d); /* Chrome10+,Safari5.1+ */
    padding: 0px 15px;
    font-weight: 600;
    width: 100%;
}

    .breadcrump > a {
        color: #fff;
        cursor: pointer;
    }

.back {
    float: left;
    line-height: 2.5;
    cursor: pointer;
}

    .back > .fa {
        color: #fff;
    }

.btn-small {
    padding: 0px 10px;
    /*margin-right: 10px;*/
    cursor: pointer;
    /*width: 105px;*/
}

.folder {
    height: 155px;
    border: 5px solid transparent;
    box-shadow: none;
    width: 25%;
    margin-bottom: 0px;
}

    .folder:hover {
        box-shadow: none;
    }

.file {
    height: 230px;
    width: 28%;
    border: 5px solid #fff;
    border-radius: 0px;
    padding-top: 0px;
    float: left;
    margin: 25px 0px;
    margin-right: 30px;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(45deg, #ffffff, #e1e1e1);
    background: -webkit-linear-gradient(45deg, #ffffff, #e1e1e1); /* Chrome10+,Safari5.1+ */
    box-shadow: 0px 0px 2px 3px #efefef;
    transition: ease-in 1s;
}

    .file:hover {
        box-shadow: 0px 0px 4px 5px #da94a7;
        border: 5px solid #9e1938;
        /* background-image: linear-gradient(#efefef, #8e8e8e, #e4e4e4); */
    }


/*.file:hover > .file-grid > .file-name {
            font-size: 17px;
        }*/

.centered {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    color: #fff;
    line-height: 1;
}

.file-grid {
    margin: 0px 0px 0px 35px;
    height: inherit;
}

.file-img {
    margin: 0 auto;
    width: 50%;
    padding-top: 10px;
    height: 150px;
    overflow: hidden;
}

    .file-img > img {
        width: 60%;
    }

    .file-img > a > img {
        width: 60%;
    }


.file-details {
    font-size: 14px;
    display: inline-block;
    width: 100%;
    padding: 0px 15px;
}

    .file-details > .file-type {
        float: left;
    }

    .file-details > .file-size {
        float: right;
    }

.file-name {
    font-size: 17px;
    font-weight: 700;
    margin-top: 5px;
    /* width: 240px; */
    word-break: break-word;
    padding: 0px 9px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 45px;
}

/*.file-name:hover {
        font-size: 17px;
    }*/

.file-grid_q {
    margin: 0px 25px;
}

.file-img_q {
    /* float: left; */
    /* margin-left: 15px; */
    width: 100%;
}

    .file-img_q > img {
        width: 50px;
        margin-top: 10px;
    }

.file-details_q {
    display: inline-block;
    font-size: 14px;
}

.file-name_q {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    white-space: nowrap;
    width: 185px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 15px;
}

.file-btn {
    display: flex;
}

.section-title {
    padding: 10px 10px;
    background: linear-gradient(45deg, #9e1938, black);
    background: -webkit-linear-gradient(45deg, #9e1938, black); /* Chrome10+,Safari5.1+ */
    margin-bottom: 20px;
    color: #fff;
    font-size: 24px;
    line-height: 21px;
}


/*********************************
6. Cart Info
*********************************/


.shopping-cart-table > thead {
    background: #333;
    color: #fff;
    font-size: 16px;
}

.shopping-cart-table > tbody > tr > td {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

span.item_price {
    width: 100px;
    display: block;
    text-align: right;
}

.btn-qty {
    background: #fff;
    box-shadow: 0px 1px 4px 2px #ccc;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 0px 10px;
}

.cart-value {
    border: 1px solid #ccc;
    padding: 10px 15px;
    box-shadow: 0px 0px 5px #ccc;
}

.shopping-cart-table {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px 2px #ccc;
}

    .shopping-cart-table > thead > tr > td {
        padding: 5px 10px;
    }

    .shopping-cart-table > tbody > tr > td {
        padding-left: 10px;
        padding-right: 10px;
    }

.cart-download {
    cursor: pointer;
    text-decoration: underline !important;
}

a.shopping_cart_remove {
    width: 150px;
    display: block;
    text-align: center;
    margin: 0;
    cursor: pointer;
}

.shopping_cart_remove > i {
    color: #aa192d;
    font-size: 25px;
}

.product_quantity {
    display: inline-block;
    width: 115px;
    height: 40px;
    border: solid 2px #d0d0d0;
    overflow: hidden;
    padding-right: 30px;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-top: 10px;
}

.product_quantity_container {
    text-align: center;
}

.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}

.product_quantity span {
    position: absolute;
    top: 50%;
    /* left: 23px; */
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 600;
    color: #6c6a74;
    right: 40%;
}

.product_quantity input {
    display: block;
    width: 30px;
    height: 44px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: #1b1b1b;
    text-align: left;
    padding-left: 9px;
    line-height: 39px;
    float: left;
}

.quantity_buttons {
    position: absolute;
    top: 0;
    right: 1px;
    height: 100%;
    width: 29px;
}

.quantity_inc {
    padding-bottom: 3px;
    justify-content: flex-end;
}

.quantity_dec {
    padding-top: 3px;
    justify-content: flex-start;
}

.quantity_inc, .quantity_dec {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    cursor: pointer;
}

.quantity_control i {
    font-size: 10px;
    color: #232323;
    pointer-events: none;
}

.checkout_section {
    width: 100%;
    padding: 40px 40px;
    border: 1px solid #ccc;
    box-shadow: 3px 2px 6px 4px #ccc;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.btn-red {
   background: #a3182b;
    color: #ffffff !important;
    padding: 3px 8px;
}

    .btn-red > a {
        color: #fff;
    }

.product-rib {
    width: 95%;
    height: 70px !important;
    margin-top: 18px;
    margin-right: 10px;
}

.product-border {
    float: left;
    height: 135px;
    margin: 15px 20px;
    width: 25%;
    border: 3px solid #9e1938;
    border-radius: 30px;
}

span.rbutton {
    background: linear-gradient(45deg, #ababab, #323232, #adadad);
    background: -webkit-linear-gradient(45deg, #ababab, #323232, #adadad); /* Chrome10+,Safari5.1+ */
    position: absolute;
    height: 220px;
    color: #fff;
    border-radius: 0px;
    width: 35px;
    top: 0px;
    line-height: 5;
    left: 0;
    cursor: pointer;
}

span.dark-link {
    position: absolute;
    height: 60px;
    /* background: linear-gradient(45deg, #ababab, #323232, #adadad); */
    color: #fff;
    border-radius: 0px;
    width: 35px;
    top: 160px;
    line-height: 3.5;
    cursor: pointer;
    left: 0;
}

    span.dark-link:hover {
        background: #9e1938;
    }

span.dark-download {
    position: absolute;
    height: 60px;
    /* background: linear-gradient(45deg, #ababab, #323232, #adadad); */
    color: #fff;
    border-radius: 0px;
    width: 35px;
    top: 0px;
    line-height: 3;
    left: 0;
    cursor: pointer;
}

    span.dark-download:hover {
        background: #9e1938;
    }

.dark-print {
    position: absolute;
    height: 70px;
    /* background: linear-gradient(45deg, #ababab, #323232, #adadad); */
    color: #fff;
    border-radius: 0px;
    width: 35px;
    top: 75px;
    line-height: 3.5;
    left: 0;
    cursor: pointer;
}

    .dark-print:hover {
        background: #9e1938;
    }


span.dark-print.disabled {
    color: #929292;
    cursor: no-drop;
}

    span.dark-print.disabled:hover {
        background: #0000;
    }


a.reset-email {
    cursor: pointer;
}

.details_name {
    font-size: 34px;
    font-weight: 600;
    color: #000000;
    /*margin-top: 35px;*/
}

::selection {
    background: #000;
    color: #fff;
}

.cat-fam > div > a {
    cursor: pointer;
}

.imageloader > p > img {
    width: 5%;
}

img.ricon {
    width: 80px;
    height: 80px !important;
    margin-top: 10%;
}

.product_details {
    width: 100%;
    background: #FFFFFF;
    z-index: 2;
}

.slick-slider {
    overflow: hidden;
}

.details_image_large {
    border: 1px solid #ccc;
    padding: 23px;
    width: 100%;
    padding-top: 0px;
}


/*.details_image_large img {
        width: 100%;
    }*/

.slide.details_image_thumbnail {
    height: 80px;
    width: 80px !important;
    border: 2px solid #afafaf;
    margin-right: 30px;
    padding: 5px;
    text-align: center;
}

.details_image_thumbnail > a > img {
    max-width: 95%;
    max-height: 95%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-track {
    opacity: unset;
    transform: none !important;
}

.details_image_thumbnails {
    margin-top: 17px;
}

.Search-result {
    margin: 20px 0px;
    padding: 12px 0px;
    box-shadow: 0px 0px 6px 5px #efefef;
}

select.resultc {
    border-radius: 3px;
    height: 33px;
    width: 58px;
    background: #ffffff;
    margin: 0px 5px;
    border: 1px solid #efefef;
    box-shadow: 0px 4px 6px 3px #efefef;
    color: #a20025;
    text-indent: 10px;
}

.btn-pagination {
    border-radius: 25px;
    padding: 3px 11px;
    color: #9e1938;
    background: #ffffff;
    margin: 0px 4px;
    border: 1px solid #efefef;
    box-shadow: 0px 4px 6px 3px #efefef;
}

select.paginationc {
    border-radius: 3px;
    height: 33px;
    width: 58px;
    background: #ffffff;
    margin: 0px 5px;
    border: 1px solid #efefef;
    box-shadow: 0px 4px 6px 3px #efefef;
    color: #a20025;
    text-indent: 10px;
}

.refine-filter {
    height: 265px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 1px 3px 5px #ccc;
    margin-top: 10px;
}

.active-menu {
    background: linear-gradient(45deg, #f10037, #80001d) !important;
    background: -webkit-linear-gradient(45deg, #f10037, #80001d) !important; /* Chrome10+,Safari5.1+ */
}

.tab-content > .active {
    background: #fff !important;
}

ul.nav.nav-pills {
    background: linear-gradient(45deg, black, transparent);
    background: -webkit-linear-gradient(45deg, black, transparent);
}

.nav-pills > li > a {
    padding: 3px 10px;
    color: #fff;
}

.nav-pills > li > .active {
    background: #970022 !important;
}

.cart-responsive {
    padding: 45px 130px;
}

.line-height-2 {
    line-height: 2;
}

.nav-tabs > li {
    border: 1px solid #efefef;
    /*padding: 7px 7px;*/
}

    .nav-tabs > li.active {
        background: linear-gradient(90deg, #7f001d, #ff0000);
        background: -webkit-linear-gradient(90deg, #7f001d, #ff0000);
    }

        .nav-tabs > li.active:hover {
            background: linear-gradient(45deg, #ff0000, #7f001d);
            background: -webkit-linear-gradient(45deg, #ff0000, #7f001d);
        }

    .nav-tabs > li:hover {
        background: linear-gradient(90deg, #9d9d9d, black);
        background: -webkit-linear-gradient(90deg, #9d9d9d, black);
    }


    .nav-tabs > li > a {
        color: #a9172a;
        display: block;
        padding: 7px 7px;
    }

        .nav-tabs > li > a:hover {
            color: #fff;
        }


    .nav-tabs > li.active > a {
        color: #fff;
        font-weight: 600;
    }

.product_content > p {
    text-align: left;
}

.btn-black {
    background: #000;
    color: #fff;
    padding: 0px 10px;
    width: 90%;
    border-radius: 0;
    margin-top: 10px;
}

    .btn-black:hover {
        background: #9e1938;
    }

/**********Navigation***********/

.navigation {
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 1;
    font-size: 14px;
}

    .navigation ul,
    .navigation ul li,
    .navigation ul ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navigation ul {
        position: relative;
        z-index: 500;
        float: left;
    }

        .navigation ul li {
            float: left;
            min-height: 0.05em;
            line-height: 1em;
            vertical-align: middle;
            position: relative;
        }

            .navigation ul li.hover,
            .navigation ul li:hover {
                position: relative;
                z-index: 510;
                cursor: default;
                background: #9e1938 !important;
            }

        .navigation ul ul {
            visibility: hidden;
            position: absolute;
            top: 100%;
            left: 0px;
            z-index: 520;
            width: 100%;
        }

            .navigation ul ul li {
                float: none;
            }

            .navigation ul ul ul {
                top: 0;
                right: 0;
            }

        .navigation ul li:hover > ul {
            visibility: visible;
        }

        .navigation ul ul {
            top: 0;
            left: 99%;
        }

        .navigation ul li {
            float: none;
        }

.navigation {
    width: 100%;
    background: #333333;
    font-family: 'roboto', Tahoma, Arial, sans-serif;
    zoom: 1;
}

    .navigation:before {
        content: '';
        display: block;
    }

    .navigation:after {
        content: '';
        display: table;
        clear: both;
    }

    .navigation a {
        display: block;
        padding: 10px 10px;
        color: #ffffff;
        text-decoration: none;
        border-bottom: 1px solid #464646;
    }

    .navigation > ul {
        width: 100%;
    }

    .navigation ul ul {
        width: 100%;
    }

    .navigation > ul > li > a {
        border-right: 0.3em solid #9e1938;
        color: #ffffff !important;
    }

        .navigation > ul > li > a:hover {
            color: #ffffff;
            background: #9e1938 !important;
        }

    .navigation > ul > li a:hover {
        background: #464646;
    }

    .navigation li {
        position: relative;
    }

    .navigation ul li.has-sub > a:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 7px solid #ffffff;
        position: absolute;
        top: 13px;
        right: 10px;
    }

    .navigation ul ul li.first {
        -webkit-border-radius: 0 3px 0 0;
        -moz-border-radius: 0 3px 0 0;
        border-radius: 0 3px 0 0;
    }

    .navigation ul ul li.last {
        -webkit-border-radius: 0 0 3px 0;
        -moz-border-radius: 0 0 3px 0;
        border-radius: 0 0 3px 0;
        border-bottom: 0;
    }

    .navigation ul ul {
        -webkit-border-radius: 0 3px 3px 0;
        -moz-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;
    }

        .navigation ul ul a {
            color: #ffffff !important;
            background: #333333 !important;
        }

            .navigation ul ul a:hover {
                background: #9e1938;
            }

            .navigation ul ul a:hover {
                color: #ffffff;
            }

        .navigation ul ul li:hover > a {
            background: #9e1938 !important;
            color: #ffffff;
        }

    .navigation.align-right > ul > li > a {
        border-left: 0.3em solid #9e1938;
        border-right: none;
    }

    .navigation.align-right {
        float: right;
    }

        .navigation.align-right li {
            text-align: right;
        }

        .navigation.align-right ul li.has-sub > a:before {
            content: '+';
            position: absolute;
            top: 50%;
            left: 15px;
            margin-top: -6px;
        }

        .navigation.align-right ul li.has-sub > a:after {
            content: none;
        }

        .navigation.align-right ul ul {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: -100%;
            z-index: 598;
            width: 100%;
        }

            .navigation.align-right ul ul li.first {
                -webkit-border-radius: 3px 0 0 0;
                -moz-border-radius: 3px 0 0 0;
                border-radius: 3px 0 0 0;
            }

            .navigation.align-right ul ul li.last {
                -webkit-border-radius: 0 0 0 3px;
                -moz-border-radius: 0 0 0 3px;
                border-radius: 0 0 0 3px;
            }

        .navigation.align-right ul ul {
            -webkit-border-radius: 3px 0 0 3px;
            -moz-border-radius: 3px 0 0 3px;
            border-radius: 3px 0 0 3px;
        }

.gridpaging {
    border-radius: 20px;
    border: none;
    padding: 3px 8px;
    background: #a3182b;
}

.dropdown-menu > li > a {
    color: #000;
}

.search-filter {
    background: linear-gradient(45deg, #ee0036, #82001e);
    background: -webkit-linear-gradient(45deg, #ee0036, #82001e); /* Chrome10+,Safari5.1+ */
    width: 100%;
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #fff !important;
    padding: 0px 10px;
}

.w3-button.subcategory {
    cursor: pointer;
}

.k-i-arrow-end-right {
    background-position: 0px -80px;
}

.k-i-arrow-60-right {
    background-position: 0px -16px;
}

.k-i-arrow-60-left {
    background-position: 0px -48px;
}

.k-i-arrow-end-left {
    background-position: 0px -112px;
}

/* ::::::::::: Product Details ::::::::::::: */

#container123 {
    width: 87%;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    margin-left: 15px;
}

button#slideBack {
    float: left;
    background: transparent;
    padding: 30px 1px;
    color: #9e1938;
    border: 1px solid #fff;
    cursor: pointer;
    margin-top: 8px;
}

button#slide {
    padding: 30px 1px;
    color: #9e1938;
    border: 1px solid #fff;
    margin-right: 0px;
    cursor: pointer;
    margin-top: 8px;
    background: transparent;
    right: 0;
    position: absolute;
}

#content123 {
    width: fit-content;
    white-space: nowrap;
}

/*.product_layout {
    flex: 0 0 79%;
    max-width: 79%;
}*/

.product_layout_main {
    flex: 0 0 79%;
    max-width: 79%;
}

.product-details-main-image {
    /*width: 350px;*/
    margin: 10px 0px;
    height: 240px;
    text-align: center;
}

    .product-details-main-image > a > img {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

/*********************************
6. Feedback
*********************************/

.contact {
    width: 100%;
    background: #FFFFFF;
    z-index: 2;
    padding-bottom: 97px;
}

.section_title {
    /*font-size: 24px;
    font-weight: 600;
    color: #1b1b1b;*/
    padding: 0px 10px;
    background: linear-gradient(45deg, #9e1938, black);
    background: -webkit-linear-gradient(45deg, #9e1938, black); /* Chrome10+,Safari5.1+ */
    margin-bottom: 20px;
    color: #fff;
    font-size: 24px;
}

.section_subtitle {
    font-size: 14px;
    font-weight: 400;
    color: #6c6a74;
    margin-top: 3px;
}

.contact_form_container {
    width: 100%;
}

.contact_form > div:not(:last-child) {
    margin-bottom: 14px;
}

.contact_form label {
    font-size: 14px;
    font-weight: 400;
    color: #6c6a74;
}

.contact_input {
    width: 100%;
    height: 52px;
    background: #f2f4f8;
    border: none;
    outline: none;
    padding-left: 15px;
}

.contact_textarea {
    height: 197px;
    padding-top: 15px;
}

.contact_button {
    position: relative;
    margin-top: 10px;
}

    .contact_button span {
        display: block;
        position: relative;
        color: #1b1b1b;
        z-index: 2;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

    .contact_button:hover span {
        color: #FFFFFF;
    }

.contact_info_section:not(:first-child) {
    margin-top: 74px;
}

.contact_info_title {
    font-size: 18px;
    font-weight: 500;
    color: #1b1b1b;
}

.contact_info_section ul {
    margin-top: 46px;
}

    .contact_info_section ul li {
        font-size: 14px;
        font-weight: 400;
        color: #1b1b1b;
    }

        .contact_info_section ul li:not(:last-child) {
            margin-bottom: 7px;
        }

        .contact_info_section ul li span {
            color: #6c6a74;
            margin-left: 8px;
        }

.svg-inline--fa {
    display: none;
}

.dropdown-toggle::after {
    color: #fff;
}

#DisplayUserName {
    color: #fff;
}

.t-a-r {
    text-align: right;
}

.notallowed {
    cursor: not-allowed;
    color: #b7b7b7;
}

.sts-btn {
    padding: 4px 10px;
    background: #a3182b;
}

/* ::::::::::: KENDO TREE ::::::::::::: */

div#treeviewKendo1 {
    max-height: 350px;
    overflow: auto;
    border: 1px solid #ccc;
    /* box-shadow: 0px 1px 7px 2px #ccc; */
    padding: 10px;
    min-height: 190px;
    margin: 10px 0;
}


/* ::::::::::: IE CSS ::::::::::::: */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

    #userGroupGrid {
        width: 100%;
    }

    .details_image_thumbnail > a > img {
        max-width: 90%;
        max-height: 90%;
    }


    .details_image_thumbnail.slide {
        display: inline-table;
    }

    .slick-slider {
        overflow: visible !important;
    }

    .quantity_inc, .quantity_dec {
        padding: 0;
        top: -13px;
        height: 60%;
    }


    /*@media all and (-ms-high-contrast:none), all and (-ms-high-contrast:active)*/
    .svg-inline--fa {
        height: 19px;
        display: inline-block;
        width: 17px;
        top: 3px;
        position: relative;
        left: -6px;
    }

    #container123 {
        width: 77%;
        overflow: hidden;
        float: left;
        margin-right: 15px;
        margin-left: 15px;
    }


    .modal-header {
        height: 80px;
    }

    .modal {
        background: rgba(0, 0, 0, 0.5);
    }

    .product_quantity {
        text-indent: 20px;
    }



    /*.fa-cart-arrow-down {
        
        background-image: url('../images/ieicons/cart-arrow-down-solid.svg');
    }


    .fa-chevron-circle-left {
        background-image: url('../images/ieicons/arrow-circle-left-solid.svg');
    }

    .fa-comment {
        background-image: url('../images/ieicons/comment-regular.svg');
    }

    .fa-link {
        background-image: url('../images/ieicons/link-solid.svg');
    }

    .fa-download {
        background-image: url('../images/ieicons/download-solid.svg');
    }

    .fa-search {
        background-image: url('../images/ieicons/search-solid.svg');
    }

 

        .fa-cart-arrow-down:hover,
        .fa-cart-arrow-down:focus {
            color: #ffffff;
        }*/

    .file-name {
        word-break: break-all;
        line-height: 22px;
    }


    .fa {
        font: 14px/1 none !important;
    }
}

/* ::::::::::: Responsive ::::::::::::: */

@charset "utf-8";

/* CSS Document */


/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/


/************
1. 1600px
************/

@media screen and (min-width: 992px) {
    .responsive-menu {
        display: none;
    }
}

@media screen and (max-width: 2200px) {
    .responsive-menu {
        display: none;
    }
}




@media only screen and (max-width: 1600px) {
    .header_social {
        display: none;
    }

    .responsive-menu {
        display: none;
    }

    .cart-responsive {
        padding: 45px 130px;
    }
}


/************
2. 1440px
************/

@media only screen and (max-width: 1440px) {
    .responsive-menu {
        display: none;
    }

    .cart-responsive {
        padding: 45px 130px;
    }
}


/************
3. 1380px
************/

@media only screen and (max-width: 1380px) {
    .responsive-menu {
        display: none;
    }

    .cart-responsive {
        padding: 45px 130px;
    }
}


/************
3. 1280px
************/

@media only screen and (max-width: 1280px) {
    .responsive-menu {
        display: none;
    }

    .cart-responsive {
        padding: 45px 130px;
    }
}


/************
4. 1199px
************/

@media only screen and (max-width: 1199px) {
    .header_container {
        padding-left: 45px;
        padding-right: 45px;
    }

        .header_container .container {
            max-width: 100%;
        }

    .main_nav {
        margin-left: 50px;
    }

    .search {
        margin-left: 25px;
    }

    .main_nav > ul > li:not(:last-child) {
        margin-right: 40px;
    }

    .responsive-menu {
        display: none;
    }

    .cart-responsive {
        padding: 45px 0px;
    }
}


/************
4. 1100px
************/

@media only screen and (max-width: 1100px) {
    .responsive-menu {
        display: none;
    }

    .cart-responsive {
        padding: 45px 0px;
    }
}


/************
5. 1024px
************/

@media only screen and (max-width: 1024px) {
    .responsive-menu {
        display: none;
    }

    .cart-responsive {
        padding: 45px 0px;
    }
}


/************
6. 991px
************/

@media only screen and (max-width: 991px) {
    .header_container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .main_nav,
    .header_social {
        display: block;
    }

    .search {
        display: none;
    }

    .hamburger {
        display: inline-block;
    }

    .home {
        padding-left: 30px;
        padding-right: 30px;
    }

    .home_title {
        font-size: 48px;
    }

    .details_content {
        margin-top: 80px;
    }

    .product {
        width: calc((100% - 30px) / 2);
    }

    .icon_box {
        padding-left: 80px;
        padding-right: 80px;
    }

    .footer_overlay {
        height: 200px;
    }

    .footer_content {
        height: 50px;
    }

    .footer_logo,
    .copyright,
    .footer_social {
        text-align: center;
        width: 100%;
    }

    .copyright {
        margin-top: 0px;
    }

    .footer_social {
        margin-top: 21px;
    }

    .signage-res {
        display: contents;
    }

    .file {
        box-shadow: none;
        width: 100%;
        padding-top: 10px;
        margin: 15px 0px;
        text-align: center;
        cursor: pointer;
    }

    .browser-navigation {
        display: none;
    }

    .responsive-menu {
        display: block;
    }

    .cart-responsive {
        padding: 45px 0px;
    }

    .back {
        text-align: center;
    }

    .product_layout_main {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .product-title {
        width: 100%;
    }

    span.dark-link, span.dark-download {
        top: 170px;
    }

    span.rbutton {
        height: 220px;
    }

    .checkout_section {
        padding: 0px 0px;
    }

    .t-a-r {
        text-align: left;
        padding-left: 0;
        margin-top: 15px;
    }
}


/************
7. 959px
************/

@media only screen and (max-width: 959px) {

    .logo {
        width: 50%;
    }

    .signage-res {
        display: contents;
    }

    .file {
        box-shadow: none;
        width: 100%;
        padding-top: 10px;
        margin: 15px 0px;
        text-align: center;
        cursor: pointer;
    }

    .browser-navigation {
        display: none;
    }

    .responsive-menu {
        display: block;
    }

    .cart-responsive {
        padding: 45px 0px;
    }

    .back {
        text-align: center;
    }

    .product_layout_main {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .product-title {
        width: 100%;
    }

    .t-a-r {
        text-align: left;
        padding-left: 0;
        margin-top: 15px;
    }
}


/************
8. 880px
************/

@media only screen and (max-width: 880px) {

    .logo {
        width: 50%;
    }

    .main_nav > ul > li:not(:last-child) {
        margin-right: 25px;
    }

    .main_nav, .header_social {
        padding: 8px 5px;
        margin: 0px;
    }


    .signage-res {
        display: contents;
    }

    .file {
        box-shadow: none;
        width: 100%;
        padding-top: 10px;
        margin: 15px 0px;
        text-align: center;
        cursor: pointer;
    }

    .browser-navigation {
        display: none;
    }

    .responsive-menu {
        display: block;
    }

    .cart-responsive {
        padding: 45px 0px;
    }

    .back {
        text-align: center;
    }

    .navbar-right {
        right: 0;
        position: inherit;
        margin-right: 0%;
    }

    .search_input {
        width: 165px;
    }

    .product_layout {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .product_layout_main {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .product-title {
        width: 100%;
    }

    .t-a-r {
        text-align: left;
        padding-left: 0;
        margin-top: 15px;
    }
}


/************
9. 768px
************/

@media only screen and (max-width: 768px) {

    .logo {
        width: 50%;
    }

    .main_nav > ul > li:not(:last-child) {
        margin-right: 25px;
    }

    .main_nav, .header_social {
        padding: 8px 5px;
        margin: 0px;
    }


    .signage-res {
        display: contents;
    }

    .file {
        box-shadow: none;
        width: 100%;
        padding-top: 10px;
        margin: 15px 0px;
        text-align: center;
        cursor: pointer;
    }

    .browser-navigation {
        display: none;
    }

    .responsive-menu {
        display: block;
    }

    .cart-responsive {
        padding: 45px 0px;
    }

    .back {
        text-align: center;
    }

    .navbar-right {
        right: 0;
        position: inherit;
        margin-right: 0%;
    }

    .search_input {
        width: 165px;
    }

    .product_layout {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #container123 {
        width: 80%;
        overflow: hidden;
        float: left;
        margin-right: 15px;
        margin-left: 15px;
    }

    .product_layout_main {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .product-title {
        width: 100%;
    }

    .t-a-r {
        text-align: left;
        padding-left: 0;
        margin-top: 15px;
    }
}


/************
10. 767px
************/

@media only screen and (max-width: 767px) {

    .logo {
        width: 50%;
    }

    .main_nav > ul > li:not(:last-child) {
        margin-right: 25px;
    }

    .main_nav, .header_social {
        padding: 8px 5px;
        margin: 0px;
    }


    .home_content {
        width: 100%;
    }

    .home_title {
        font-size: 36px;
    }

    .sorting_container {
        margin-top: 15px;
    }

    .icon_box {
        padding-left: 50px;
        padding-right: 50px;
    }

    .signage-res {
        display: contents;
    }

    .file {
        box-shadow: none;
        width: 100%;
        padding-top: 10px;
        margin: 15px 0px;
        text-align: center;
        cursor: pointer;
    }

    .browser-navigation {
        display: none;
    }

    .responsive-menu {
        display: block;
    }

    .cart-responsive {
        padding: 45px 0px;
    }

    .back {
        text-align: center;
    }

    .navbar-right {
        right: 0;
        position: inherit;
        margin-right: 0%;
    }

    .search_input {
        width: 165px;
    }

    .product_layout {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #container123 {
        width: 80%;
        overflow: hidden;
        float: left;
        margin-right: 15px;
        margin-left: 15px;
    }

    .product_layout_main {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .product-title {
        width: 100%;
    }

    .t-a-r {
        text-align: left;
        padding-left: 0;
        margin-top: 15px;
    }
}
 

/************
11. 575px
************/

@media only screen and (max-width: 575px) {

    .logo {
        width: 50%;
    }

    .main_nav > ul > li:not(:last-child) {
        margin-right: 25px;
    }

    .main_nav, .header_social {
        padding: 8px 5px;
        margin: 0px;
    }


    p {
        font-size: 13px;
    }

    .menu {
        width: 100vw;
        right: -100vw;
    }

    .menu_container {
        padding-top: 80px;
    }

    .page_menu_item > a,
    .page_menu_selection li a {
        font-size: 13px;
        height: 40px;
        line-height: 40px;
    }

    .header_container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .header_content {
        height: 70px;
    }

    .logo a,
    .header.scrolled .logo a {
        font-size: 18px;
    }

    .home {
        height: 350px;
        padding-top: 80px;
        padding-left: 0;
        padding-right: 0;
    }

    .home_title {
        font-size: 24px;
    }

    .button {
        width: 148px;
        height: 41px;
    }

        .button a {
            font-size: 13px;
            line-height: 37px;
        }

    .home_button {
        margin-top: 32px;
    }

    .results {
        font-size: 13px;
    }

    .item_sorting > li {
        width: 161px;
        font-size: 13px;
    }

    .product {
        width: 100%;
    }

    .newsletter_title {
        font-size: 24px;
    }

    .newsletter_button {
        width: 128px;
        height: 41px;
    }

        .newsletter_button span {
            font-size: 13px;
        }

    .copyright {
        font-size: 13px;
    }

    .footer_logo a {
        font-size: 24px;
    }

    .signage-res {
        display: contents;
    }

    .file {
        box-shadow: none;
        width: 100%;
        padding-top: 10px;
        margin: 15px 0px;
        text-align: center;
        cursor: pointer;
    }

    .browser-navigation {
        display: none;
    }

    .responsive-menu {
        display: block;
    }

    .cart-responsive {
        padding: 45px 0px;
    }

    .back {
        text-align: center;
    }

    .navbar-right {
        right: 0;
        position: inherit;
        margin-right: 0%;
    }

    .search_input {
        width: 165px;
    }

    .product_layout {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #container123 {
        width: 80%;
        overflow: hidden;
        float: left;
        margin-right: 15px;
        margin-left: 15px;
    }

    .product_layout_main {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .product-title {
        width: 100%;
    }

    .t-a-r {
        text-align: left;
        padding-left: 0;
        margin-top: 15px;
    }
}


/************
11. 539px
************/

@media only screen and (max-width: 539px) {

    .logo {
        width: 50%;
    }

    .main_nav > ul > li:not(:last-child) {
        margin-right: 25px;
    }

    .main_nav, .header_social {
        padding: 8px 5px;
        margin: 0px;
    }


    .signage-res {
        display: contents;
    }

    .file {
        box-shadow: none;
        width: 100%;
        padding-top: 10px;
        margin: 15px 0px;
        text-align: center;
        cursor: pointer;
    }

    .browser-navigation {
        display: none;
    }

    .responsive-menu {
        display: block;
    }

    .cart-responsive {
        padding: 45px 0px;
    }

    .back {
        text-align: center;
    }

    .navbar-right {
        right: 0;
        position: inherit;
        margin-right: 0%;
    }

    .search_input {
        width: 165px;
    }

    .product_layout {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #container123 {
        width: 80%;
        overflow: hidden;
        float: left;
        margin-right: 15px;
        margin-left: 15px;
    }

    .product_layout_main {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .product-title {
        width: 100%;
    }

    .t-a-r {
        text-align: left;
        padding-left: 0;
        margin-top: 15px;
    }
}


/************
12. 480px
************/

@media only screen and (max-width: 480px) {

    .logo {
        width: 50%;
    }

    .main_nav > ul > li:not(:last-child) {
        margin-right: 25px;
    }

    .main_nav, .header_social {
        padding: 8px 5px;
        margin: 0px;
    }


    .icon_box {
        padding-left: 30px;
        padding-right: 30px;
    }

    .signage-res {
        display: contents;
    }

    .file {
        box-shadow: none;
        width: 100%;
        padding-top: 10px;
        margin: 15px 0px;
        text-align: center;
        cursor: pointer;
    }

    .browser-navigation {
        display: none;
    }

    .responsive-menu {
        display: block;
    }

    .cart-responsive {
        padding: 45px 0px;
    }

    .back {
        text-align: center;
    }

    .navbar-right {
        right: 0;
        position: inherit;
        margin-right: 0%;
    }

    .search_input {
        width: 165px;
    }

    .product_layout {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #container123 {
        width: 80%;
        overflow: hidden;
        float: left;
        margin-right: 15px;
        margin-left: 15px;
    }

    .product_layout_main {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .product-title {
        width: 100%;
    }

    .t-a-r {
        text-align: left;
        padding-left: 0;
        margin-top: 15px;
    }
}


/************
13. 479px
************/

@media only screen and (max-width: 479px) {

    .logo {
        width: 50%;
    }

    .main_nav > ul > li:not(:last-child) {
        margin-right: 25px;
    }

    .main_nav, .header_social {
        padding: 8px 5px;
        margin: 0px;
    }


    .signage-res {
        display: contents;
    }

    .file {
        box-shadow: none;
        height: 240px;
        width: 100%;
        padding-top: 10px;
        margin: 15px 0px;
        text-align: center;
        cursor: pointer;
    }

    .browser-navigation {
        display: none;
    }

    .responsive-menu {
        display: block;
    }

    .cart-responsive {
        padding: 45px 0px;
    }

    .back {
        text-align: center;
    }

    .navbar-right {
        right: 0;
        position: inherit;
        margin-right: 0%;
    }

    .search_input {
        width: 165px;
    }

    .product_layout {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #container123 {
        width: 80%;
        overflow: hidden;
        float: left;
        margin-right: 15px;
        margin-left: 15px;
    }

    .product_layout_main {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .product-title {
        width: 100%;
    }

    .t-a-r {
        text-align: left;
        padding-left: 0;
        margin-top: 15px;
    }
}


/************
14. 400px
************/

@media only screen and (max-width: 400px) {

    .logo {
        width: 50%;
    }

    .main_nav > ul > li:not(:last-child) {
        margin-right: 25px;
    }


    .main_nav, .header_social {
        padding: 8px 5px;
        margin: 0px;
    }


    .signage-res {
        display: contents;
    }

    .file {
        box-shadow: none;
        width: 100%;
        padding-top: 10px;
        margin: 15px 0px;
        text-align: center;
        cursor: pointer;
    }

    .browser-navigation {
        display: none;
    }

    .responsive-menu {
        display: block;
    }

    .cart-responsive {
        padding: 45px 0px;
    }

    .back {
        text-align: center;
    }

    .navbar-right {
        right: 0;
        position: inherit;
        margin-right: 0%;
    }

    .search_input {
        width: 165px;
    }

    /*.product_layout {
        flex: 0 0 100%;
        max-width: 100%;
    }*/

    #container123 {
        width: 80%;
        overflow: hidden;
        float: left;
        margin-right: 15px;
        margin-left: 15px;
    }

    .product_layout_main {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .product-title {
        width: 100%;
    }
}




/**************PHASE 2 DESIGN CHANGES******************/


.embed-file, .no-pdf-found {
    width: 90%;
    overflow: hidden;
    display: block;
    height: 125px;
    margin: -135px 10px 10px 12px;
}


.embed-file-products-details {
    width: 90%;
    overflow: hidden;
    display: block;
    height: 100px;
    margin: 10px 0px;
}

.tab-pane {
    /*border: 1px solid #ccc;*/
    padding: 0px 0px 20px 0px;
}

.p-l-0 {
    padding-left: 0;
}

a.image-magnify {
    display: block;
    height: inherit;
    z-index: 99;
    position: absolute;
    width: -webkit-fill-available;
    left: 0px;
}

    a.image-magnify > img {
    }


.over-image-magnify {
    width: 90%;
    height: 65%;
    /* position: absolute; */
    padding-top: 10px;
    margin: 0 auto;
}

a.image-magnify > .over-image-magnify > img {
    max-width: 100%;
    height: 100%;
}

/*.file-name-onhover {
    display: none;
    font-size: 17px;
    position: absolute;
    background: #0000005e;
    color: #fff;
    width: 100%;
    z-index: 99999;
    word-break: break-all;
    height: 96%;
}*/

/*.file:hover > .file-grid > .file-name-onhover {
    display: block;
}*/

/**********Collections***************/

.addcollections {
    text-align: right;
}

.collectionsearch {
    border: 1px solid #ccc;
    padding: 0px 10px;
}

input.searchcollection {
    border: none;
    width: 97%;
    padding: 5px 10px;
}

div#addItem {
    /*  width: 70%; */
    /* margin: 0 auto; */
    /* border: 1px solid #efefef; */
    /* box-shadow: 0px 0px 8px 4px #efefef; */
    /* padding-top: 15px; */
    height: 400px;
    overflow: auto;
}

/* Popup box BEGIN */
.hover_bkgr_fricc, .hover_addcollection, .hover_history_info {
    background: rgba(0,0,0,.4);
    cursor: pointer;
    display: none;
    height: 100%;
    position: fixed;
    top: 70px;
    width: auto;
    z-index: 10000;
    margin: 0 auto;
    left: 0;
    right: 0;
}

    .hover_bkgr_fricc .helper, .hover_addcollection .helper, .hover_history_info .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .hover_bkgr_fricc > div, .hover_addcollection > div, .hover_history_info > div {
        background-color: #fff;
        box-shadow: 10px 10px 60px #555;
        display: inline-block;
        height: auto;
        max-width: 890px;
        min-height: 100px;
        vertical-align: middle;
        width: 100%;
        position: relative;
        border-radius: 8px;
        padding: 15px 0%;
        left: 20%;
    }

.popupCloseButton {
    border: 0px solid #999;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 19px;
    line-height: 27px;
    width: 44px;
    height: 32px;
    text-align: right;
    padding: 0px 13px;
    color: #fff;
}

    .popupCloseButton:hover {
        background-color: #a90026;
        color: #fff;
    }

.trigger_popup_fricc, .trigger_addcollection {
    cursor: pointer;
    /*margin: 20px;*/
    display: inline-block;
}

.custompopupheader {
    background: #000;
    display: inline-block;
    font-family: arial;
    top: -26px;
    right: 0px;
    width: 100%;
    height: 32px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 11px;
}

.panel-group .panel {
    margin-bottom: 20px;
    border-radius: 4px;
}

.panel-default {
    border-color: #ddd;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-group {
    margin-bottom: 20px;
}

div.browse-wrap {
    top: 0;
    left: 0;
    margin: 15px 0px;
    cursor: pointer;
    overflow: hidden;
    padding: 10px 50px;
    text-align: center;
    position: relative;
    background-color: #f6f7f8;
    border: solid 1px #d2d2d7;
}

div.title {
    color: #3b5998;
    font-size: 14px;
    font-weight: bold;
    font-family: tahoma, arial, sans-serif;
}

input.upload {
    right: 0;
    margin: 0;
    bottom: 0;
    padding: 0;
    opacity: 0;
    height: 60px;
    outline: none;
    cursor: inherit;
    position: absolute;
    font-size: 23px !important;
}

.uploaded-file-name {
    background: #efefef;
    margin: 10px 0px;
    padding: 5px 10px;
}

span.remove-file {
    float: right;
}

span#clipboard_div {
    word-break: break-all;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */

    a.image-magnify {
        display: block;
        height: inherit;
        z-index: 99;
        position: absolute;
        width: 100%;
        left: 0px;
    }

    .btn-red {
        margin-top: 10px;
    }

    .header {
        position: fixed;
    }

    .product_details {
        margin-top: 10%;
    }

  
}

/************PHASE 2 DESIGN CHANGES END***************/


.spacer-15 {
    padding: 15px;
}

/**************/

.details_image_large > img {
    width: 350px;
    height: 200px;
}

.ui-window-bar .ui-button {
    position: absolute;
    top: 50%;
    width: 20px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px;
}


.ui-window-bar .ui-window-minimize {
    right: calc(.3em + 40px);
}

.ui-window-bar .ui-window-maximize {
    right: calc(.3em + 20px);
}

.ui-icon-maximize {
    background-position: -17px -80px;
}

.ui-icon-restore {
    background-position: -177px -128px;
}

.ui-icon-minusthick {
    background-position: -64px -125px;
}

.table-responsive {
    margin: 0;
    padding: 0;
}

.res-overflow-auto {
    overflow: auto;
}
