﻿div.msgBox
{
    /*padding: 0px 5px 4px 0px;*/
    position: fixed;
    z-index: 100000;
    min-width: 200px;
    min-height:105px;
    color: #00335e;
    -moz-box-shadow: 0px 0px 11px #000000;
    -webkit-box-shadow: 0px 0px 11px #000000;
    box-shadow: 0px 0px 11px #000000;
}
div.msgBoxBackGround
{
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    /*opacity: 0.9;*/
    z-index: 999;
}
div.msgBoxTitle {
   
    background-color: #a4182b;  
    font-size: 13pt;
    font-weight: lighter;
    color: #ffffff;
    width: 100%;
    /*margin: 2px;*/
    text-indent: 8px;
    padding: 2px;
    height: 35px;
    text-align: center;
    padding-top: 5px;

}
div.msgBoxImage
{
    display: none !important;
    margin:5px 0 0 0;
    display:inline-block;
    float:left;
    height:65px;
    width:75px;
}
div.msgBoxImage img
{ display: none !important;
    height:65px;
    width:65px;
}
div.msgBoxContent
{
    font-size:10pt;
    /*margin:0 3px 6px 3px;*/
    display:inline-block;
    float:left;
    min-height:28px;
    min-width:150px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
div.msgBoxContent p
{
    padding:0;
    margin:0;
    display: table;
    height: 100%;
    width: 93%;
    margin-left: 10px;
    margin-right: 10px;
}

div.msgBoxContent span 
{
    display: table-cell;
    vertical-align: middle;
    color: #00335e;
    /*padding: 4px 8px 8px;
    word-break: break-all;*/
}

div.msgBoxButtons
{
    display:inline-block;
    width:100%;
    text-align:center;
    min-width:150px;
    margin-bottom: 8px;
}

div.msgBoxInputs
{
    margin:0 auto;
    padding-top:2px;
    padding-bottom:2px;
    margin-top:5px;
    width:195px;
}
div.msgInput input[type='text'],div.msgInput input[type='password']
{
    padding:4px;
    border:1px solid #DFDFDF;
    color:#2f2f2f;
    width:180px;
}
div.msgInput text
{
    color:#2f2f2f;
    font-size:10pt;
}

div.htmlContainer{
	display: block;
	width: auto;
	height: auto;
}
div.msgBox {
    width:20% !important;
    background: #fff;
}
.msgButton {
    margin: 5px;
}