/* Styles go here */

.grip{
    width:20px;
    height:20px;
    margin-top:-10px;
    background-image:url('http://lorempixel.com/20/20/abstract');
    margin-left:-5px;
    position:relative;
    z-index:88;
    cursor:e-resize;
}

.grip:hover{
    background-position:20px 0px;
}

.dragging .grip{
    background-position:40px 0px;
}