
.context-menu-icon-add {
  @include context-menu-item-icon(add);
}
.context-menu-icon-copy {
  @include context-menu-item-icon(copy);
}
.context-menu-icon-cut {
  @include context-menu-item-icon(cut);
}
.context-menu-icon-delete {
  @include context-menu-item-icon(delete);
}
.context-menu-icon-edit {
  @include context-menu-item-icon(edit);
}
.context-menu-icon-loading {
  @include context-menu-item-icon(loading);
}
.context-menu-icon-paste {
  @include context-menu-item-icon(paste);
}
.context-menu-icon-quit {
  @include context-menu-item-icon(quit);
}
.context-menu-icon-compress {
  @include context-menu-item-icon(compress);
}