﻿<script type="text/javascript" src='@Url.Content("~/Views/App/Family/familyController.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Views/App/WorkFlow/workFlowController.js")'></script>
<link href="~/Design/css/ng-table.css" rel="stylesheet" />
<form name="Multiple_tbl_Form">
    <div ng-controller="WorkFlowController">

        <div id="wrapper" style="margin-top: 5px;">
            <!-- Sidebar -->
            <div id="sidebar-wrapper" class="k-content" style="min-height: 100% !important;  overflow-y: auto;">
                <div class="sidebar-nav nav-pills nav-stacked">
                    <h5 style="line-height: 15px"><p class="small-caps"><b>Selected Filter Items</b></p></h5>
                    <br />
                    <div id="treeViewDiv" style=" width:100%; overflow-x: auto; position: relative; padding-left:-10px; ">
                        <div kendo-tree-view="tree" k-data-source="workflowtreeData" id="leftNavTreeViewKendo" k-load-on-demand="false"
                             @*k-on-change="selectedItem = dataItem"  *@
                             k-options="treeOptionsCatalog">
                            <span k-template>
                                <a class='k-item' id="{{dataItem.id}}" ng-dblclick='clickSelectedItemWorkFlow(dataItem)'>{{dataItem.CATEGORY_NAME}} </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="filter">
                @*<div id="accordion" style="max-width: 98%;margin-left: 20px;">
                    <h3>Filter Option</h3>*@
                <div id="page-content-wrapper">
                    <div id="workflowFilter" style="margin-left: 20px; ">
                        <table width="96%">
                            <tr>
                                <td valign="top" rowspan="3">
                                    Status
                                    <div class="main-navigation navbar-collapse1" style="position: inherit;width:100%;">
                                        <div kendo-grid k-options="workFlowStatusGridOptions" style="height:131px;"></div>
                                    </div>
                                </td>


                                <td rowspan="3" valign="top">
                                    Users
                                    <div class="main-navigation navbar-collapse1" style="position: inherit;width:100%; ">
                                        <div kendo-grid k-options="workFlowUserGridOptions" style="height:131px;"></div>
                                    </div>
                                </td>
                                <td> Date Range</td>
                                <td valign="top">
                                    From
                                    <br />
                                    <input kendo-date-picker
                                           ng-model="WorkFlowFilter.FromDate"
                                           k-ng-model="obj"
                                           style="width: 155px;" />
                                </td>

                            </tr>
                            <tr>
                                <td></td>
                                <td valign="top">
                                    To<br />
                                    <input kendo-date-picker
                                           ng-model="WorkFlowFilter.ToDate"
                                           k-ng-model="obj1"
                                           style="width: 155px;" />



                                </td>
                            </tr>
                            @*<td align="center"><button type="button" class="btn" style="width:100px;" ng-click="workflowtreeDataRead()">Filter</button></td>*@


                            <tr>
                                <td valign="top">
                                    Change Status <br />
                                </td>
                                <td valign="top">
                                    <select kendo-drop-down-list
                                            k-data-text-field="'STATUS_NAME'"
                                            k-data-value-field="'STATUS_NAME'"
                                            k-data-source="workFlowActiveStaus"
                                            ng-model="WorkFlowFilter.ACTIVE_STATUS_NAME"
                                            style="width: 155px; "></select>


                                </td>

                            </tr>
                            <tr>
                                <td>
                                  
                                </td>
                                <td>
                                   
                                </td>
                               
                                <td valign="top"><button type="button" class="btn" style="width:100px;" ng-click="workflowtreeDataRead()">Filter</button></td>
                                <td valign="top"><button type="button" class="btn" style="width:100px;" ng-click="changeWorkFlowStatus()">Change</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
                @*</div>*@
            </div>
            <div>
                <div id="familyEditor" ng-controller="familyController" style="width:100%; padding-top: 15px;">
                    @{ Html.RenderPartial("Partials/FamilyEditor"); }
                </div>
            </div>
        </div>


    </div>
</form>
