﻿@{
    ViewBag.Title = "CatalogStudio - ImageMangement";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}
@*------------------------------------ImageMangement------------------------------------------------*@



@*------------------------------------ImageMangement------------------------------------------------*@


<div class="main-content no-margin no-padding container">

    <div class="container no-padding">
        <div class="row no-margin">
            <div class="col-sm-12 no-padding">
                <div style="height: auto;" class="panel-body panel-scroll ps-container no-margin">
                    <div class="col-sm-12 no-padding">
                        <div class="panel panel-default">
                            @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Export</span>  </div>")

                            <div class="box wide">
                                <p>Allowed file types for the Image browser are: jpg, jpeg, gif, png</p>
                                <p>Allowed file types for the File browser for this demo are: txt, doc, docx, xls, xlsx, ppt, pptx, zip, rar, jpg, jpeg, gif, png</p>
                            </div>
                            <div>
                            </div>
                            
                            @*<textarea id="editor" rows="10" cols="30" style="height:440px">
                                    &lt;p&gt;&lt;img src=&quot;../content/web/editor/kendo-ui-web.png&quot; alt=&quot;Editor for ASP.NET MVC logo&quot; style=&quot;display:block;margin-left:auto;margin-right:auto;&quot; /&gt;&lt;/p&gt;

                                </textarea>
                                <script>
                                    $(document).ready(function () {
                                        // create Editor from textarea HTML element with default set of tools
                                        $("#editor").kendoEditor({
                                            tools: [
                                                "insertImage",
                                                "insertFile"
                                            ],
                                            imageBrowser: {
                                                messages: {
                                                    dropFilesHere: "Drop files here"
                                                },
                                                transport: {
                                                    read: "D:\Reka\Reka\Working_Projects\Image Management\src\LS.Web\Content\ProductImages",
                                                    destroy: {
                                                        url: "/kendo-ui/service/ImageBrowser/Destroy",
                                                        type: "POST"
                                                    },
                                                    create: {
                                                        url: "/kendo-ui/service/ImageBrowser/Create",
                                                        type: "POST"
                                                    },
                                                    thumbnailUrl: "/kendo-ui/service/ImageBrowser/Thumbnail",
                                                    uploadUrl: "/kendo-ui/service/ImageBrowser/Upload",
                                                    imageUrl: "/kendo-ui/service/ImageBrowser/Image?path={0}"
                                                }
                                            },
                                            fileBrowser: {
                                                messages: {
                                                    dropFilesHere: "Drop files here"
                                                },
                                                transport: {
                                                    read: "/kendo-ui/service/FileBrowser/Read",
                                                    destroy: {
                                                        url: "/kendo-ui/service/FileBrowser/Destroy",
                                                        type: "POST"
                                                    },
                                                    create: {
                                                        url: "/kendo-ui/service/FileBrowser/Create",
                                                        type: "POST"
                                                    },
                                                    uploadUrl: "/kendo-ui/service/FileBrowser/Upload",
                                                    fileUrl: "/kendo-ui/service/FileBrowser/File?fileName={0}"
                                                }
                                            }
                                        });
                                    });
                                </script>*@
                            
                                @*@(Html.Kendo().Editor()
      .Name("editor")
      .HtmlAttributes(new { style = "height:440px" })
      .Tools(tools => tools.Clear().InsertImage().InsertFile())
      .Value(@<text>
                            <p>
                                <img src="@Url.Content("~/content/web/editor/kendo-ui-web.png")" alt="Editor for ASP.NET MVC logo" style="display:block;margin-left:auto;margin-right:auto;" />
                            </p>
                            <p>
                                Kendo UI Editor allows your users to edit HTML in a familiar, user-friendly way.<br />
                                In this version, the Editor provides the core HTML editing engine, which includes basic text formatting, hyperlinks, lists,
                                and image handling. The widget <strong>outputs identical HTML</strong> across all major browsers, follows
                                accessibility standards and provides API for content manipulation.
                            </p>
                            <p>Features include:</p>
                            <ul>
                                <li>Text formatting &amp; alignment</li>
                                <li>Bulleted and numbered lists</li>
                                <li>Hyperlink and image dialogs</li>
                                <li>Cross-browser support</li>
                                <li>Identical HTML output across browsers</li>
                                <li>Gracefully degrades to a <code>textarea</code> when JavaScript is turned off</li>
                            </ul>

                        </text>)
.ImageBrowser(imageBrowser => imageBrowser
                .Image("~/Content/user/images/{0}")
.Read("Read", "ImageBrowser")
.Create("Create", "ImageBrowser")
.Destroy("Destroy", "ImageBrowser")
.Upload("Upload", "ImageBrowser")
.Thumbnail("Thumbnail", "ImageBrowser"))
.FileBrowser(fileBrowser => fileBrowser
                .File("~/Content/user/images/{0}")
.Read("Read", "FileBrowser")
.Create("Create", "FileBrowser")
.Destroy("Destroy", "FileBrowser")
.Upload("Upload", "FileBrowser")
)
                                )*@
</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
