﻿@{
    ViewBag.Title = "Suppliers";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}
<style>
    .k-content {
        max-height: 690px;
    }

    input#zip {
    font-size: 100%;
    font-family: inherit;
    border-style: solid;
    border-width: 1px;
    -webkit-appearance: none;
    border-color: #a3d0e4;
    height: 2.13em;
    text-indent: .33em;
    line-height: 1.6em;
    border-radius: 4px !important;
    width: 165px;
}

    input#zip:hover {
        border-color: #B5B5B5;
    }

input.ng-pristine.ng-valid.ng-touched {
    border-color: #a3d0e4 !important;
}

.k-widget.k-upload.k-header.k-upload-empty {
    
    width: 70%;
    height: 55px;
}

.k-upload .k-upload-button {
    min-width: 140px;
}
</style>

<script type="text/javascript" src='@Url.Content("~/Views/App/Supplier/SupplierController.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Views/ImageManagement/ImageManagementPopup.js")'></script>
<div class="main-content no-margin no-padding container">
    <div class="container no-padding">
        <div class="row no-margin">
            <div class="col-sm-12 no-padding">
                @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Suppliers</span>  </div>")
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);
                                       background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;
                                       box-shadow: 0 1px 0 #2c232b inset;">
                        <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>Suppliers
                        <div class="panel-tools">
                            @* <div id="imagename" />*@
                        </div>
                    </div>
                    <div class="container no-padding" ng-controller="SupplierController" ng-cloak>
                        <div class="row no-margin">
                            <div class="col-sm-12 padding-bottom-20">
                                @{Html.RenderPartial("Supplier/Supplierdetails");}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
