﻿
<style>
    div.k-window {
    position: fixed;
    height: 500px;
    top: 70px !important;
}

    .k-dropzone {
    padding: 0px;
}

    .form-group {
        margin-bottom: 10px;
    }
    </style>
<link href="~/Design/ContextMenuNew/dist/jquery.contextMenu.css" rel="stylesheet" />
<link href="~/Design/ContextMenuNew/dist/jquery.contextMenu.min.css" rel="stylesheet" />
<script src="~/Design/ContextMenuNew/gulpfile.js"></script>
<script src="~/Design/ContextMenuNew/karma-saucelabs.conf.js"></script>
<script src="~/Design/ContextMenuNew/src/jquery.contextMenu.js"></script>
<script src="~/Design/ContextMenuNew/src/jquery.ui.position.js"></script>
<script src="~/Design/ContextMenuNew/src/icons/"></script>
<script src="~/Design/ContextMenuNew/wdio.conf.js"></script>
<script type="text/javascript" src='@Url.Content("~/Views/ImageManagement/ImageManagementPopup.js")'></script>
<form name="Multiple_tbl_Form" id="Supplierform">
    <script src="~/Scripts/jszip.min.js"></script>
    <div>
        <div class="btn-group" role="group" aria-label="...">
        </div>

        <div class="col-sm-12 margin-top-20" id="suppliergrid">
            <div style="width: 100%;" ng-show="userRoleModifySupplier && userRoleDeleteSupplier" kendo-grid options="supplierGridOptions" k-on-change="exchangeRows(dataItem,kendoEvent)" id="gridsupplierdetails"></div>

            <div style="width: 100%;" ng-show="!userRoleModifySupplier && userRoleDeleteSupplier" kendo-grid options="supplierGridOptionsWithoutEdit" k-on-change="exchangeRows(dataItem,kendoEvent)" id="gridsupplierdetails1"></div>

            <div style="width: 100%;" ng-show="userRoleModifySupplier && !userRoleDeleteSupplier" kendo-grid options="supplierGridOptionsWithoutDelete" k-on-change="exchangeRows(dataItem,kendoEvent)" id="gridsupplierdetails2"></div>

            <div style="width: 100%;" ng-show="!userRoleModifySupplier && !userRoleDeleteSupplier" kendo-grid options="supplierGridOptionsWithoutEditDelete" k-on-change="exchangeRows(dataItem,kendoEvent)" id="gridsupplierdetails3"></div>
        </div>

        <script id="popup_suppliereditor" type="text/x-kendo-template">
            <div class="col-sm-12">


                <div class="col-sm-11 margin-bottom-10">
                    <div class="col-sm-4 bold textalignright margintop">Supplier Name</div>

                    <div class="col-sm-6">
                        <input type="text" class="k-input k-textbox" name="SUPPLIER_NAME" data-bind="value:SUPPLIER_NAME" ng-keydown="AllowChar($event)">
                        @*<span style="color:red">*</span>*@
                    </div>
                </div>

                <div class="col-sm-11 margin-bottom-10">
                    <div class="col-sm-4 bold textalignright margintop">Company Name</div>
                    <div class="col-sm-6"><input type="text" class="k-input k-textbox" name="SUPPLIER_COMPANY_NAME" data-bind="value:SUPPLIER_COMPANY_NAME" ng-keydown="AllowChar($event)"></div>
                </div>

                <div class="col-sm-11 margin-bottom-10">
                    <div class="col-sm-4 bold textalignright margintop">City</div>
                    <div class="col-sm-6"><input type="text" class="k-input k-textbox" name="CITY" data-bind="value:CITY"></div>
                </div>
               
                <div class="col-sm-11 margin-bottom-10">
                    <div class="col-sm-4 bold textalignright margintop">State </div>
                    <div class="col-sm-6">
                        @*<input id="statesdropdown" name="statesdropdown" data-bind="value:STATE" />*@
                        <select id="STATE_CODE" kendo-drop-down-list
                                k-rebind="true"
                                k-option-label="'--- Select State ---'"
                                k-data-text-field="'STATE'"
                                k-data-value-field="'STATE'"
                                k-data-source="stateListDataSource"
                                ng-model="Supplier.STATE"
                                data-bind="value:STATE"
                                style="width:166px"></select>
                    </div>
                </div>

                <div class="col-sm-11 margin-bottom-10">
                    <div class="col-sm-4 bold textalignright margintop">Country </div>
                    <div class="col-sm-6">
                        @*<input id="countrydropdown" name="countrydropdown" data-bind="value:COUNTRY" />*@
                        <select id="COUNTRY_CODE" kendo-drop-down-list
                                k-rebind="true"
                                k-option-label="'--- Select Country ---'"
                                k-data-text-field="'COUNTRY'"
                                k-data-value-field="'COUNTRY'"
                                k-data-source="countryListDataSource"
                                k-on-change="countryChange(kendoEvent)"
                                ng-model="Supplier.COUNTRY"
                                data-bind="value:COUNTRY"
                                style="width:166px"></select>
                    </div>
                </div>

                <div class="col-sm-11 margin-bottom-10">
                    <div class="col-sm-4 bold textalignright margintop">Logo  </div>
                    <div class="col-sm-6">
                        <input type="text" ng-model="Supplier.LOGO_IMAGE_FILE" id="logoimage" name="LOGO_IMAGE_FILE" style="width:156px !important;">
                        <img ng-if="Supplier.LOGO_IMAGE_FILE_PREVIEW !=''" id="Imageupdateclear" src='{{imageDriverPath}}/Content/ProductImages/{{getCustomerCompanyName}}{{Supplier.LOGO_IMAGE_FILE_PREVIEW}}' alt="{{Supplier.LOGO_IMAGE_FILE_PREVIEW}}" class="margin-top-5" style="max-width: 70%; max-height: 195px;" />
                        <img ng-if="Supplier.LOGO_IMAGE_FILE_PREVIEW ==''" id="Imageupdateclear1" src='{{imageDriverPath}}/Content/ProductImages/{{getCustomerCompanyName}}{{Supplier.LOGO_IMAGE_FILE_PREVIEW1}}' alt="{{Supplier.LOGO_IMAGE_FILE_PREVIEW1}}" class="margin-top-5" style="max-width: 70%; max-height: 195px;" />
                        <input name="files" type="file" kendo-upload k-async="{ saveUrl: '/Family/SaveFamilyImage', removeUrl: '/Family/RemoveFamilyImage', autoUpload: true }"
                         k-select="onSelect" ng-if="false" k-success="onSuccess1" />


                        <button title="Supplier Image" type="button" class="btn btn-primary margin-top-10" ng-click='OpenPopupWindow({"value":"SupplierImageUpdate"})'><i class="fa fa-paperclip"></i></button>
                        <button title="Clearpopup Image" type="button" class="btn btn-primary margin-top-10" ng-click="Clearimage(dataItem.LOGO_IMAGE_FILE,'Update')"><i class="fa fa-close"></i></button>


                    </div>
                </div>
                <div class="col-sm-11 margin-bottom-10">
                    <div class="col-sm-4 bold textalignright margintop">Address 1</div>
                    <div class="col-sm-6"><input type="text" class="k-input k-textbox" name="ADDRESS_LINE_1" data-bind="value:ADDRESS_LINE_1"></div>
                </div>
                <div class="col-sm-11 margin-bottom-10">
                    <div class="col-sm-4 bold textalignright margintop">Address 2</div>
                    <div class="col-sm-6"><input type="text" class="k-input k-textbox" name="ADDRESS_LINE_2" data-bind="value:ADDRESS_LINE_2"></div>
                </div>
                <div class="col-sm-11 margin-bottom-10">
                    <div class="col-sm-4 bold textalignright margintop">Address 3</div>
                    <div class="col-sm-6"><input type="text" class="k-input k-textbox" name="ADDRESS_LINE_3" data-bind="value:ADDRESS_LINE_3"></div>
                </div>
                <div class="col-sm-11 margin-bottom-10">
                    <div class="col-sm-4 bold textalignright margintop">Zip</div>
                    @*<td>
                            <input ng-model="dataItem.Zip" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46' id="zip">
                        </td>*@
                    <div class="col-sm-6">
                        <input data-bind="value:ZIP" class="k-input k-textbox" name="Zip" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46' id="zip">
                    </div>

                </div>
                <div class="col-sm-11 margin-bottom-10">
                    <div class="col-sm-4 bold textalignright margintop">Phone</div>
                    <div class="col-sm-6"><input type="text" class="k-input k-textbox" name="PHONE_1" data-bind="value:PHONE_1" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46'></div>
                </div>
                <div class="col-sm-11 margin-bottom-10">
                    <div class="col-sm-4 bold textalignright margintop">Fax</div>
                    <div class="col-sm-6"><input type="text" class="k-input k-textbox" name="FAX" data-bind="value:FAX" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46' id="FAX"></div>
                </div>
                <div class="col-sm-11 margin-bottom-10">
                    <div class="col-sm-4 bold textalignright margintop">Email</div>
                    <div class="col-sm-6"><input type="email" class="k-input k-textbox" name="EMAIL" data-bind="value:EMAIL" ng-pattern="emailvalid"></div>
                </div>
                <div class="col-sm-11 margin-bottom-10">
                    <div class="col-sm-4 bold textalignright margintop">URL</div>
                    <div class="col-sm-6"><input type="text" class="k-input k-textbox" name="url" data-bind="value:URL"></div>
                </div>


            </div>
        </script>
        <script id="createtemplate" type="text/x-kendo-template">
            <a class="red k-button ng-scope" ng-disabled="!userRoleAddSupplier" ng-click="AddnewsupplierClick()" title="{{addNewSupplier}}">Add </a>
            <a class="k-button k-button-icontext k-grid-excel"  ng-disabled="!userRoleAddSupplier && !userRoleModifySupplier" title="{{exportSupplier}}">Export</a>
        </script>

    </div>
        @*<script id="refreshtemplate" type="text/x-kendo-template">
                <a class="red k-button ng-scope" ng-show="userRoleAddSupplier" ng-click="RefreshGorup()">Refresh</a>
            </script>*@
</form>
<form id="supplierNewForm" ng-submit="NewSupplierSave(Supplier)">
    <div id="addnewsupplier">
        <div class="col-sm-12">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="col-md-12 form-group">
                    <div class="col-sm-3 bold textalignright margintop">Supplier Name</div>
                    <div class="col-sm-3">
                        <input type="text" class="k-input k-textbox" name="SUPPLIER_NAME" ng-model="Supplier.SUPPLIER_NAME" required>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-sm-2 bold textalignright margintop">Company Name</div>
                    <div class="col-sm-3"><input type="text" class="k-input k-textbox" name="SUPPLIER_COMPANY_NAME" ng-model="Supplier.SUPPLIER_COMPANY_NAME" ng-keydown="AllowChar($event)"> </div>
                </div>
                <div class="col-md-12 form-group">
                    <div class="col-sm-3 bold textalignright margintop">Country</div>
                    <div class="col-sm-3">
                        <select id="COUNTRY_CODE" kendo-drop-down-list
                                k-rebind="true"
                                k-option-label="'--- Select Country ---'"
                                k-data-text-field="'COUNTRY'"
                                k-data-value-field="'COUNTRY'"
                                k-data-source="countryListDataSource"
                                k-on-change="countryChange(kendoEvent)"
                                ng-model="Supplier.COUNTRY"
                                style="width:166px"></select>
                    </div>
                    <div class="col-sm-2 bold textalignright margintop">State</div>
                    <div class="col-sm-3">
                        <select id="STATE_CODE" kendo-drop-down-list
                                k-rebind="true"
                                k-option-label="'--- Select State ---'"
                                k-data-text-field="'STATE'"
                                k-data-value-field="'STATE'"
                                k-data-source="stateListDataSource"
                                ng-model="Supplier.STATE"
                                style="width:166px"></select>
                    </div>

                </div>
                <div class="col-md-12 form-group">
                    <div class="col-sm-3 bold textalignright margintop">City</div>
                    <div class="col-sm-3"><input type="text" class="k-input k-textbox" name="CITY" ng-model="Supplier.CITY" ng-keydown="AllowChar($event)"> </div>
                    <div class="col-sm-2 bold textalignright margintop">Zip</div>
                    <div class="col-sm-3">
                        <input ng-model="Supplier.Zip" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46'
                               id="zip">

                    </div>
                </div>
                <div class="col-md-12 form-group">
                    <div class="col-sm-3 bold textalignright margintop">Address 1</div>
                    <div class="col-sm-3"><input type="text" class="k-input k-textbox" name="ADDRESS_LINE_1" ng-model="Supplier.ADDRESS_LINE_1"> </div>

                    <div class="col-sm-2 bold textalignright margintop">Address 2</div>
                    <div class="col-sm-3"><input type="text" class="k-input k-textbox" name="ADDRESS_LINE_2" ng-model="Supplier.ADDRESS_LINE_2"> </div>
                </div>
                <div class="col-md-12 form-group">
                    <div class="col-sm-3 bold textalignright margintop">Address 3</div>
                    <div class="col-sm-3"><input type="text" class="k-input k-textbox" name="ADDRESS_LINE_3" ng-model="Supplier.ADDRESS_LINE_3"> </div>

                    <div class="col-sm-2 bold textalignright margintop">Phone</div>
                    <div class="col-sm-3"><input type="tel" class="k-input k-textbox" name="PHONE_1" ng-model="Supplier.PHONE_1" maxlength="12" onkeypress="return event.charCode >= 48 && event.charCode <= 57"> </div>
                </div>
                <div class="col-md-12 form-group">
                    @*<div class="col-sm-3 bold textalignright">Phone </div>
                        <div class="col-sm-3"><input type="text" class="k-input k-textbox" name="phone" ng-model="Supplier.PHONE_1"> </div>*@

                    <div class="col-sm-3 bold textalignright margintop">Fax</div>
                    <div class="col-sm-3"><input type="text" class="k-input k-textbox" name="FAX" ng-model="Supplier.FAX" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46' id="FAX"> </div>

                    <div class="col-sm-2 bold textalignright margintop">Email</div>
                    <div class="col-sm-3">
                        <input type="email" class="k-input k-textbox" name="EMAIL" ng-model="Supplier.EMAIL" ng-pattern="emailvalid">

                    </div>
                </div>
                <div class="col-md-12 form-group">
                    @*<div class="col-sm-3 bold textalignright">EMAIL </div>
                        <div class="col-sm-3"><input type="text" class="k-input k-textbox" name="email" ng-model="Supplier.EMAIL"> </div>*@

                    <div class="col-sm-3 bold textalignright margintop">URL</div>
                    <div class="col-sm-3"><input type="text" class="k-input k-textbox" name="URL" ng-model="Supplier.URL" ng-pattern="URL"> </div>

                    <div class="col-sm-2 bold textalignright margintop">Logo</div>


                    <div class="col-sm-4 padding-0">
                        <div class="col-sm-8">
                            <input type="text" ng-model="Supplier.LOGO_IMAGE_FILE" id="{{attribute}}">
                            <img id="Imageclear" src='{{imageDriverPath}}/Content/ProductImages/{{getCustomerCompanyName}}{{Supplier.LOGO_IMAGE_FILE_PREVIEW}}' alt="{{Supplier.LOGO_IMAGE_FILE_PREVIEW}}" style="max-width: 55%; max-height: 195px;margin-top: 10px;margin-bottom: 10px;" />
                            @*<img id="Imageclear" src='{{serverImgPath}}' alt="{{Supplier.LOGO_IMAGE_FILE_PREVIEW}}" style="max-width: 55%; max-height: 195px;margin-top: 10px;margin-bottom: 10px;" />*@
                            <input name="files" type="file" kendo-upload k-async="{ saveUrl: '/Family/SaveFamilyImage', removeUrl: '/Family/RemoveFamilyImage', autoUpload: true }"
                                   k-select="onSelect" ng-if="false" k-success="onSuccess" />

                        </div>
                        <div class="col-sm-12">
                            <button title="Supplier Image" type="button" class="btn btn-primary margin-top-10" ng-click='OpenPopupWindow({"value":"SupplierImageSave"})'><i class="fa fa-paperclip"></i></button>
                            <button title="Clear Image" type="button" class="btn btn-primary margin-top-10" ng-click="Clearimage(Supplier.LOGO_IMAGE_FILE,'New')"><i class="fa fa-close"></i></button>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>



        <div class="col-sm-12 responsivebtn" align="center">
            <button class="btn btn-primary btn-xs" type="submit" ng-show="userRoleAddSupplier" title="{{saveNewSupplier}}"><i class="fa fa-save"></i> </button>
            <button class="btn btn-primary btn-xs" type="button" ng-click="AddnewsupplierClick()" title="{{refreshSupplierList}}">
                <i class="fa fa-refresh"></i>
            </button>
            <button class="btn btn-primary btn-xs" type="button" ng-click="ManageSupplier()" title="{{backToSupplierList}}">
                <i class="fa fa-chevron-left"></i>
            </button>
        </div>
    </div>

</form>
<div kendo-window="winManageDrive" k-resizable="false" k-draggable="false" k-title="'Asset Management'" k-width="1170" k-height="620" k-visible="false"
     k-actions='["Close"]' k-modal="true" k-on-open="driveMahementIsVisible==true" k-on-close="onClose(kendoEvent)">
</div>

