﻿@{
    ViewBag.Title = "ContentLibrary";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}

<script src="~/Views/PDFIndex/PDFIndexController.js"></script>
<style>
    #nav {
        list-style: none;
        border-width: 1px 0;
        padding: 3px 0;
        float: left;
        width: 100%;
    }

        #nav li {
            display: inline;
            float: left;
        }

            #nav li a {
                padding-left: 12px;
                margin-right: 2px;
                height: 30px;
                float: left;
                color: #424343;
            }

                #nav li a span {
                    padding-right: 9px;
                    display: block;
                    float: left;
                    height: 26px;
                    padding-top: 4px;
                }

    .clear {
        clear: both;
    }

    span.keywords {
        float: left;
        padding: 1px;
        margin-right: 2px;
        width: 100%;
        overflow: hidden;
        bottom: 0;
        white-space: nowrap;
    }

    span.ui-icon.ui-icon-close {
        margin-top: 4px;
    }

    .tag {
        width: 145px;
        float: left;
        background: #e6e6e6;
        padding: 2px 2px 2px 10px;
        margin: 5px 30px 5px 30px;
        color: #000;
    }

    .header-section {
        width: 100%;
        padding: 7px;
        background: #e0e0e0;
        color: #000;
        text-align: center;
        margin-bottom: 15px;
        font-size: 16px;
    }

    .padding-0 {
        padding: 0px;
    }

    .active > button {
        background: #fff !important;
        color: #337ab7 !important;
    }

    .activemenu1 {
        background-color: #4b9f46;
        color: #fff !important;
    }

    .popupActive {
        display: block !important;
        background: #00000052;
    }

    .popupclose {
        display: none !important;
    }

    .isolate {
        background: yellow;
    }

    .file-upload {
        display: block;
        text-align: center;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
        margin: 0px !important;
        width: 80%;
        float: left;
    }

        .file-upload .file-select {
            display: block;
            border: 2px solid #091f3f;
            cursor: pointer;
            height: 34px;
            line-height: 30px;
            text-align: left;
            background: #FFFFFF;
            overflow: hidden;
            position: relative;
        }

            .file-upload .file-select .file-select-button {
                background: #091f3f;
                padding: 0 10px;
                display: inline-block;
                height: 30px;
                line-height: 30px;
                color: #fff;
                font-size: 14px;
                font-weight: 100;
                float: left;
            }

            .file-upload .file-select .file-select-name {
                line-height: 15px;
                font-weight: 100;
                overflow: hidden;
                min-height: 20px;
                padding: 8px;
                width: 67%;
                color: #091f3f;
                position: absolute;
                right: -12px;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .file-upload .file-select:hover {
                border-color: #4b9f46;
                transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
            }

                .file-upload .file-select:hover .file-select-button {
                    background: #4b9f46;
                    color: #FFFFFF;
                    transition: all .2s ease-in-out;
                    -moz-transition: all .2s ease-in-out;
                    -webkit-transition: all .2s ease-in-out;
                    -o-transition: all .2s ease-in-out;
                }



            .file-upload .file-select input[type=file] {
                z-index: 100;
                cursor: pointer;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                opacity: 0;
                filter: alpha(opacity=0);
            }

            .file-upload .file-select.file-select-disabled {
                opacity: 0.65;
            }

                .file-upload .file-select.file-select-disabled:hover {
                    cursor: default;
                    display: block;
                    border: 2px solid #dce4ec;
                    color: #34495e;
                    cursor: pointer;
                    height: 30px;
                    line-height: 30px;
                    margin-top: 5px;
                    text-align: left;
                    background: #FFFFFF;
                    overflow: hidden;
                    position: relative;
                }

                    .file-upload .file-select.file-select-disabled:hover .file-select-button {
                        background: #dce4ec;
                        color: #666666;
                        padding: 0 10px;
                        display: inline-block;
                        height: 30px;
                        line-height: 30px;
                    }

                    .file-upload .file-select.file-select-disabled:hover .file-select-name {
                        line-height: 30px;
                        display: inline-block;
                        padding: 0 10px;
                    }

    .text_input {
        border: 1px solid #ccc;
        padding: 10px;
        height: 32px;
    }

    .margin-top--3 {
        margin-top: -3px;
    }
</style>
<div class="page-wrapper" ng-controller="PDFIndexController">
    <div class="row no-margin" ng-show="familyMainEditor">
        <div class="col-sm-12 padding-0">
            <div id="tabstrip" kendo-tab-strip="tabstrip" navigatable="false" kendo-tab-strip k-content-urls="[ null, null]" k-animation="false" style="min-width: 900px;max-width: 100%;background-color: #ffffff;margin-left: 0px;">
                <ul>
                    <li id="cntntLibry" class="k-state-active"><a href="@Url.Action("ContentLibrary", "PDFIndex")" title="Content Library">Index PDF</a></li>
                    <li id="keywrdMngemnt"><a href="@Url.Action("ExemptedWords", "PDFIndex")" title="Exempt List">Exempt List</a></li>
                    <li id="indxGen"><a href="@Url.Action("IndexGeneration", "PDFIndex")" title="Index Generation">Generate</a></li>
                </ul>
            </div>
        </div>
    </div>
    @*<div class="titleblue">
            <a href="@Url.Action("ContentLibrary", "PDFIndex")" title="Content Library">Index PDF</a>
            <a href="@Url.Action("ExemptedWords", "PDFIndex")" title="Exempt List">Excempt List</a>
            <a href="@Url.Action("IndexGeneration", "PDFIndex")" title="Index Generation">Generate</a>
        </div>*@


    <div class="page-content--bgf7" style="margin: 0px 15px 0px 4px;border: 1px solid #4b9f46;padding: 20px;min-height: 355px;">

        <div id="mainContentLibrary" class="row form-group">
            <div class="col-md-12">
                <div class="section-1">
                    <div class="col-sm-2 margin-top-5 textalignright padding-0">Select Template</div>
                    <div class="col-sm-3">
                        <select kendo-drop-down-list
                                id="contentTemplateDrp"
                                k-option-label="'New'"
                                k-data-text-field="'TEMPLATE_NAME'"
                                k-data-value-field="'TEMPLATE_NAME'"
                                k-data-source="contentTemplateDatasource"
                                ng-model="SelectedContentTemplate"
                                k-on-change="contentTemplateChange(kendoEvent)" style="width:80%"></select>
                        <button type="button" class="btn btn-primary btn-xs" ng-disabled="deletePdfTempEnable" ng-click="deleteIndexPDFClick()" style="padding-top: 3px;"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-sm-1 margin-top-5 textalignright padding-0">Template Name</div>
                    <div class="col-sm-2" style="padding: 0px 15px;">
                        <input type="text" class="form-control cc-name valid text_input" ng-model="txt_ContentTemplate" placeholder="New Template">
                    </div>
                    @*<div class="col-sm-1 margin-top-5 textalignright padding-0">Select PDF</div>*@
                    <div class="col-sm-3">
                        @*<div class="file-upload" style="width: 50%;">
                                <div class="file-select">
                                    <input style="padding: 0px;" type="file" ng-disabled="sampleEnable" class="selectbulkfile uploadbtnstyle" title="{{SelectedFileForUploadnamemain}}" name="file" accept=".pdf" id="importfile1" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                    <span class="displayfilename">{{SelectedFileForUploadnamemain}}</span>
                                </div>
                            </div>*@
                        <div class="file-upload">
                            <div class="file-select">
                                <div class="file-select-button" id="fileName">Select PDF</div>
                                <div class="file-select-name" id="noFile">{{SelectedFileForUploadnamemain}}</div>
                                <input style="padding: 0px;" type="file" ng-disabled="sampleEnable" class="selectbulkfile uploadbtnstyle" title="{{SelectedFileForUploadnamemain}}" name="file" accept=".pdf" id="importfileContentLibrary" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                            </div>
                        </div>
                        <button id="testButton" class="btn btn-primary" title="Cancel the selected file" ng-click="Cancelfile()" style="margin-left: 12px;"><i class="fa fa-close"></i></button>
                    </div>

                    <button class="btn btn-primary" title="Load the selected PDF data" ng-click="PDFContentRead()">
                        Load
                    </button>
                </div>

                @*<button class="au-btn-filter" style="background: #337ab7;color: #fff;">
                        Import
                    </button>
                    <button class="au-btn-filter" style="background: #337ab7;color: #fff;">
                        Export
                    </button>*@
            </div>
        </div>
        <div class="tab-content" id="myTabContent" ng-show="Importvalidation" style="">
            <br>
            <br>
            <div id="Importdiv" ng-show="Importvalidation">
                <div class="form-group">
                    <div class="bold col-sm-12" align="center" id="importPart">
                        <label class="bold padding-right-10">Select Import File</label>

                        <div class="file-upload btn btn-primary" style="background: #fff;color: #000;width: 25%;border: 2px solid #d0cfcf !important;height: 50px;float: none;">

                            <input style="padding: 0px; height: 45px" type="file" class="uploadbtnstyle" title="Drag &amp; Drop or Select file" name="file" accept=".xls,.xlsx" id="importfileIndesign" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required="">

                            <img style="width: 17%" src="/Images/drag.png">
                        </div>
                        <br>
                        <div>
                            <span class="uploadfilename1" id="uploadFileName" title="{{SelectedFileForUploadnamemainproduct}}">{{SelectedFileForUploadnamemainproduct}}</span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 padding-0 margin-bottom-45" style="text-align: -webkit-center;">
                    @*<button type="button" class="btn btn-primary btn-xs" ng-disabled="!EditMode || !userRoleAddReferenceTable ||!enableReferenceImport" ng-click="ValidateFile()" id="importFileIndesign" title="Import Indesign"> Validate</button>*@
                    <button id="btn-example-file-reset" ng-disabled="!EditMode || !userRoleAddReferenceTable " class="btn btn-primary btn-xs" title={{Reset}} ng-click="Resetsheet()" type="button">Reset</button>
                    <button id="btn-example-file-reset" ng-disabled="!EditMode || !userRoleAddReferenceTable" class="btn btn-primary btn-xs" title={{ContentNext}} ng-click="Next()" type="button">Next</button>
                    <button id="btn-example-file-reset" class="btn btn-primary btn-xs" title="Back to content library" ng-click="cancelImport()" type="button">Back</button>
                </div>
            </div>
            <br>
            <br>

        </div>
        <div id="selectsheetdiv" class="col-sm-12" ng-show="selectSheet">
            @*<div class="col-sm-2 margintop textalignright">
                    <span class="bold">Select Import sheet</span>
                </div>*@
            @*<div class="col-sm-3">
                    <select kendo-drop-down-list
                            id="sheetOption"
                            k-data-text-field="'text'"
                            k-data-value-field="'value'"
                            k-data-source="sheetOptionDatasource"
                            ng-model="selectedSheetOption" style="width: 130px;"></select>

                </div>*@

            <div class="col-sm-12 margin-top-5 padding-0" style="text-align: center;" id="Validation">
                <table ng-table="tblDashImportBoard" show-filter="true" style="background-color: ghostwhite;height:auto;margin-top:10px;font-size:16px" class="table-condensed table-bordered table-striped tablescroll1" align="center">
                    <thead class="k-grid-header k-grid-header-wrap">
                        <tr>
                            <td colspan="2" style="width:200px"><b>Validations</b></td>

                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                <div class="col-sm-1 padding-right-0 padding-top-5">
                                    <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="Missing==false" ng-show="validationPassed"></span>
                                    <span class="glyphicon glyphicon-remove" style="color:red" ng-if="Missing == true" ng-show="validationPassed"></span>
                                    <input class="chk" ng-if="false" ng-disabled="true" type="checkbox" value="2" />
                                </div>
                                <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                    <span class="float-left">Misssing Values</span>

                                </div>

                            </td>
                            <td ng-show="validationPassed">
                                <span ng-if="Missing==false">Ok</span>
                                <span ng-if="Missing==true">Failed</span>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <div class="col-sm-1 padding-right-0 padding-top-5">
                                    <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="Duplicate==false" ng-show="validationPassed"></span>
                                    <span class="glyphicon glyphicon-remove" style="color:red" ng-if="Duplicate == true" ng-show="validationPassed"></span>
                                    <input class="chk" ng-if="false" ng-disabled="true" type="checkbox" value="2" />
                                </div>
                                <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                    <span class="float-left">Duplicate</span>

                                </div>

                            </td>
                            <td ng-show="validationPassed">
                                <span ng-if="Duplicate==false">Ok</span>
                                <span ng-if="Duplicate==true">Failed</span>
                            </td>

                        </tr>

                        <tr>
                            <td>
                                <div class="col-sm-1 padding-right-0 padding-top-5">
                                    <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="newColumn==false" ng-show="validationPassed"></span>
                                    <span class="glyphicon glyphicon-remove" style="color:red" ng-if="newColumn == true" ng-show="validationPassed"></span>
                                    <input class="chk" ng-if="false" ng-disabled="true" type="checkbox" value="2" />
                                </div>
                                <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                    <span class="float-left">New Column</span>

                                </div>

                            </td>
                            <td ng-show="validationPassed">
                                <span ng-if="newColumn==false">Ok</span>
                                <span ng-if="newColumn==true">Failed</span>
                            </td>

                        </tr>

                    </tbody>
                </table>
                <div class="col-sm-12">
                    <button id="processImport" class="btn btn-primary btn-xs" type="button" ng-disabled="validation==false" ng-click="Validatesheet(selectedSheetOption,'Validate')" title={{Validation}}> Validate</button>
                    <button class="btn btn-primary" ng-click="BackFromValidation()">Back</button>
                    <button id="processImport" class="btn btn-primary btn-xs" type="button" ng-if="importEnable == true" ng-click="Validatesheet(selectedSheetOption,'import')" title={{ImportContent}}> Import</button>
                    @*<button class="btn btn-primary" ng-show="validation==false" id="viewlog" ng-click="Viewlog()">View Log</button>*@
                    <button id="processImport" class="btn btn-primary btn-xs" type="button" ng-if="validatendexpdfresult == false" ng-click="ViewLogIndexpdfsheet()" title={{IndexpdfLog}}> View Log</button>
                </div>
                <div class="col-sm-7 no-padding" id="keywordImportErrorWindow" style="width:100%;position: inherit; border-radius: 4px;">
                    <div kendo-grid k-options="keywordImportResultGridOptions"></div>
                </div>
            </div>

            <div id="ValidationIndexPDFResult" style="margin-top: 10px;">
                <h5 style="margin-top:0px;"><b>Validation Log</b></h5>

                <table ng-table="tblDashImportBoard" show-filter="true" style="background-color: ghostwhite;margin-left:0px; width:100%;font-size:13px ;word-break: break-word;" class="table-condensed table-bordered table-striped tablescroll1">
                    <thead style="width: 165px;  text-transform: capitalize;">
                        <tr>
                            <th class="k-header" style="width: 165px; text-transform: capitalize;">
                                Validation Type
                            </th>
                            <th class="k-header" style="width: 100px; text-transform: capitalize;">
                                Message
                            </th>
                        </tr>
                    </thead>
                    <tbody class="k-grid-content">
                        <tr ng-repeat="Data in validateLogprod">
                            <td>
                                {{Data.ValidationType}}
                            </td>
                            <td>
                                {{Data.Message}}
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div style="text-align: center">
                    <button class="btn btn-primary" style="text-align:center;" ng-click="BackFromValidationLog()">Back</button>
                </div>
            </div>
            <div id="keywordImportSuccessWindow">
                <div class="col-sm-12 no-padding" style="position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;padding-bottom: 25px !important;box-shadow: 0px 0px 7px 1px #ccc;">
                    <div class="col-sm-12" style="background: aliceblue;"> <h5> <b>Import Successful</b> </h5></div>


                    <div class="col-sm-12 margin-top-10 margin-bottom-10">

                        <div class="col-sm-3">
                            <div class="col-sm-3 bold padding-0">Import file:</div>
                            <div class="col-sm-8 padding-0 filename" title="{{file.name}}"> {{file.name}} </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-sm-3 bold padding-0">Inserted <b>:</b></div>
                            <div class="col-sm-6 padding-0">{{insertedCount}} </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-sm-3 bold padding-0">Updated <b>:</b></div>
                            <div class="col-sm-6 padding-0">{{updatedCount}} </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-sm-3 bold padding-0">Deleted <b>:</b></div>
                            <div class="col-sm-6 padding-0">{{deletedCount}} </div>
                        </div>
                    </div>

                    <div class="col-sm-12">


                        <div class="col-sm-3">
                            <button class="btn btn-primary btn-xs" type="button" ng-click="backKeywordImportClick()" title={{BackLog}}> Back</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <section class="p-t-20" ng-show="keywordsList.length>0" id="ShowKeyWordLIst">
            <div class="header-section">Keyword List</div>
            <div class="container">
                <div class="row">
                    <div class="table-data__tool margin-bottom-15">
                        <div class="table-data__tool-left col-sm-9">
                            <div class="col-sm-2">
                                <select kendo-drop-down-list
                                        id="searchOption"
                                        k-data-text-field="'text'"
                                        k-data-value-field="'value'"
                                        k-data-source="searchOptionDatasource"
                                        ng-model="selecttedSearchOption" style="width: 130px;"></select>
                            </div>
                            <input type="text" ng-model="keywordSearch" placeholder="Search text" class="text_input" ng-keypress="filterFuncKey($event)" ng-change="checkContent('PDF')" />

                            <button class="btn btn-primary margin-top--3" title="Search keywords" style="margin-left: -4px;border-radius: 0px 4px 4px 0px !important;" ng-click="filterFunc()"><i class="fa fa-search"></i></button>

                            <button class="btn btn-primary margin-top--3" title="Refresh the keywords grid" ng-click="refreshKeyword()" style="margin-left: 1%;margin-right: 1%;"><i class="fa fa-refresh"></i></button>

                            <button class="btn btn-primary margin-top--3" title="Save all keywords" ng-click="saveKeywordsList()"><i class="fa fa-save"></i></button>
                            <button class="btn btn-primary margin-top--3" title="Export keywords" ng-click="ExportKeywordsList(SelectedContentTemplate)"><div class="glyphicon glyphicon-export"></div></button>
                            <button class="btn btn-primary margin-top--3" title="Import keywords" ng-click="ImportKeyWordList()"><div class="glyphicon glyphicon-import"></div></button>
                        </div>

                        <div class="table-data__tool-right">
                            <input type="text" ng-model="txt_keyword" placeholder="Keyword name" class="text_input" onkeypress="return AvoidSpace(event)" ng-enter="addKeywordWord(txt_keyword,event)" />
                            <button class="btn btn-primary margin-top--3" style="margin-left: -5px;border-radius: 0px 4px 4px 0px !important;" title="Add keyword" ng-click="addKeywordWord(txt_keyword)"><i class="fa fa-save"></i></button>
                        </div>

                    </div>


                    <div class="col-md-12">
                        <table class="" style="border: 1px solid #ccc;margin-bottom: 30px;width: 100%;">
                            <thead style="border: 1px solid #ccc;">
                                <tr>
                                    <td>
                                        <ul id="nav" class="clear margin-0">
                                            <li ng-repeat="row in alphabetData" style="cursor: pointer;"><a id="content_{{row.text}}" ng-click="keywordSectionChange(row.text)"><span>{{row.text}}</span></a></li>
                                        </ul>
                                    </td>

                                </tr>
                            </thead>
                            <tbody ng-if="keywordsList.length>0" style="height: 250px;overflow: auto;display: block;resize: vertical;min-height: 150px;max-height: 400px;">
                                <tr ng-repeat="row in keywordListSelected | orderBy : 'KEYWORD_NAME'" style="display: block;float: left;">
                                    <td ng-if="row.KEYWORD_NAME.length>1"><div class="wrapper tag" style="display: flex;"><span id="{{row.ID}}" class="keywords" contenteditable="true">{{row.KEYWORD_NAME}}</span><span ng-click="keywordDeleteClick(row)" class="ui-icon ui-icon-close"></span></div></td>
                                </tr>
                                <tr ng-if="keywordListSelected.length ==0" style="overflow: auto; display: block; resize: vertical; text-align: -webkit-center; padding: 60px;">
                                    <td>No keywords available</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive table-responsive-data2">
                            <table class="table table-data2 table-striped" style="display: block;border: 1px solid #ccc;">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;">
                                            Page
                                        </th>
                                        <th style="width: 95%;">Content</th>
                                        <th style="width: 10%;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody style="height: 250px;overflow: auto;display: block;">
                                    <tr class="tr-shadow" ng-repeat="row in contentGridData">
                                        <td style="width: 5%;">
                                            {{row.PAGE_NO}}
                                        </td>
                                        <td style="height: 53px;overflow: hidden;display: block;width: 98%;">{{row.PAGE_DATA}}</td>
                                        <td style="width: 5%;text-align: center;">
                                            <div class="table-data-feature">
                                                <a class="item" data-toggle="modal" data-target="#mediumModal1" ng-click="contentViewClick(row.PAGE_DATA)" data-placement="top" title="View" style="cursor: pointer;">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </section>

        <div class="modal fade" id="mediumModal1" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="color: #091f3f;background: #eee">
                        <h5 class="modal-title" id="mediumModalLabel" style="float: left;margin-top: 5px;">Search Keyword</h5>

                        <div class="col-sm-3 textalignright margintop">Find</div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control cc-name valid" ng-model="contentSearchWord" ng-keypress="contentSearchClick(contentSearchWord,contentDataVal,event)" placeholder="Text to find" style="float: left;">
                            <button class="btn btn-primary" title="Search keywords" style="height: 35px;margin-left: -3px;border-radius: 0px 4px 4px 0px;" ng-click="contentSearchClick(contentSearchWord,contentDataVal)">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>

                        <button type="button" class="close" ng-click="popupCancelClick()" data-dismiss="modal" aria-label="Close" style="color: #091f3f;margin-top: 5px;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <p style="height: 300px;overflow: auto;" ng-bind-html="contentDataVal">
                        </p>
                    </div>
                    <div class="modal-footer" style="text-align: right;">
                        <button type="button" class="btn btn-primary" ng-click="popupCancelClick()" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function AvoidSpace(event) {
       
        var k = event ? event.which : window.event.keyCode;
        if (k >= 49 && k <= 57) {
            return true;
        }
        else if (k >= 97 && k <= 112) {
            return true;
        }
        else if (k >= 65 && k <= 90) {
            return true;
        }
        else if (k >= 186 && k <= 222) {
            return false;
        }
        else if (k >= 58 && k <= 64) {
            return false;
        }
        else if (k >= 91 && k <= 96) {
            return false;
        }
        else if (k >= 123 && k <= 126) {
            return false;
        }
            //else if (k == 32) {
            //    return false;
            //}
        else if (k <= 47 && k != 32) {
            return false;
        }

        else {
            return true;
        }
        return true;

    }
</script>