﻿@{
    ViewBag.Title = "ExemptedWords";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}
<script src="~/Views/PDFIndex/PDFIndexController.js"></script>
<style>
    .active > button {
        background: #fff !important;
        color: #337ab7 !important;
    }

    #nav {
        list-style: none;
        border-width: 1px 0;
        padding: 3px 0;
        float: left;
        width: 100%;
    }

        #nav li {
            display: inline;
            float: left;
        }

            #nav li a {
                padding-left: 12px;
                margin-right: 2px;
                height: 30px;
                float: left;
                color: #424343;
            }

                #nav li a span {
                    padding-right: 9px;
                    display: block;
                    float: left;
                    height: 26px;
                    padding-top: 4px;
                }

    .clear {
        clear: both;
    }

    span.keywords {
        float: left;
        padding: 1px;
        margin-right: 2px;
        width: 100%;
        overflow: hidden;
        bottom: 0;
        white-space: nowrap;
    }

    span.ui-icon.ui-icon-close {
        margin-top: 4px;
    }

    .tag {
        width: 145px;
        float: left;
        background: #e6e6e6;
        padding: 2px 2px 2px 10px;
        margin: 5px 30px 5px 30px;
        color: #000;
    }

    .activemenu1 {
        background-color: #4b9f46;
        color: #fff !important;
    }

    .text_input {
        border: 1px solid #ccc;
        padding: 10px;
        height: 32px;
    }

    .margin-top--3 {
        margin-top: -3px;
    }
</style>
<div class="page-wrapper" ng-controller="PDFIndexController">
    <div class="row no-margin" ng-show="familyMainEditor">
        <div class="col-sm-12 padding-0">
            <div id="tabstrip" kendo-tab-strip="tabstrip" navigatable="false" kendo-tab-strip k-content-urls="[ null, null]" k-animation="false" style="min-width: 900px;max-width: 100%;background-color: #ffffff;margin-left: 0px;">
                <ul>
                    <li id="cntntLibry"><a href="@Url.Action("ContentLibrary", "PDFIndex")" title="Content Library">Index PDF</a></li>
                    <li id="keywrdMngemnt" class="k-state-active" title="{{familyTab}}"><a href="@Url.Action("ExemptedWords", "PDFIndex")" title="Exempt List">Exempt List</a></li>
                    <li id="indxGen"><a href="@Url.Action("IndexGeneration", "PDFIndex")" title="Index Generation">Generate</a></li>
                </ul>
            </div>
        </div>
    </div>
    @*<div class="titleblue">
            <a href="@Url.Action("ContentLibrary", "PDFIndex")" title="Content Library">Index PDF</a>
            <a href="@Url.Action("ExemptedWords", "PDFIndex")" title="Exempt List">Excempt List</a>
            <a href="@Url.Action("IndexGeneration", "PDFIndex")" title="Index Generation">Generate</a>
        </div>*@
    @*<div class="titleblue"><a href="../App/AdminDashboard" class="breadcrumbs">Home</a><span class="breadcrumbs">&nbsp;&gt;&nbsp;</span><span class="breadcrumbs">Exempted Words</span>  </div>*@
    <!-- PAGE CONTENT-->
    <div class="page-content--bgf7" style="margin-left: 4px;">
        <section class="p-t-0" style="border: 1px solid #4b9f46;" ng-show="hideKeyword">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title-5 m-b-35"></h3>
                        <br>
                        <div class="table-data__tool">
                            <div class="table-data__tool-left col-sm-9">
                                <div class="col-sm-2">
                                    <select kendo-drop-down-list
                                            id="searchOption"
                                            k-data-text-field="'text'"
                                            k-data-value-field="'value'"
                                            k-data-source="searchOptionDatasource"
                                            ng-model="selecttedSearchOptionExempted" style="width: 130px;"></select>
                                </div>
                                <input type="text" ng-model="exempkeywordSearch" placeholder="Search text" class="text_input" ng-keypress="filterFuncExemptedKey($event)" ng-change="checkContent('Exempt')" />
                                <button class="btn btn-primary margin-top--3" title="Search exempt words" style="margin-left: -5px;border-radius: 0px 4px 4px 0px;" ng-click="filterFuncExempted()">
                                    <i class="fa fa-search"></i>
                                </button>
                                <button class="btn btn-primary margin-top--3" title="Refresh exempt grid" style="margin-left: 1%;" ng-click="refreshExemptedword()">
                                    <i class="fa fa-refresh"></i>
                                </button>
                                <button class="btn btn-primary margin-top--3" title="Export exempt words" style="margin-left: 1%;" ng-click="ExportExempte()">
                                    <div class="glyphicon glyphicon-export"></div>

                                </button>
                                <button class="btn btn-primary margin-top--3" title="Import exempt words" style="margin-left: 1%;" ng-click="ImportExempte()">
                                    <div class="glyphicon glyphicon-import"></div>
                                </button>
                                @*<div style="float:right;">
                                        <button class="au-btn-filter" style="background: #337ab7;color: #fff;">
                                            Import
                                        </button>
                                        <button class="au-btn-filter" style="background: #337ab7;color: #fff;">
                                            Export
                                        </button>
                                    </div>*@
                            </div>

                            <div class="table-data__tool-right">
                                <input type="text" ng-model="txt_exemptword" placeholder="Exempted word name" class="text_input" onkeypress="return AvoidSpace(event)" ng-enter="addExemptedWord(txt_exemptword,event)" />
                                <button class="btn btn-primary margin-top--3" title="Add exempt word" style="margin-left: -5px;border-radius: 0px 4px 4px 0px;" ng-click="addExemptedWord(txt_exemptword)">
                                    <i class="fa fa-save"></i>
                                </button>
                            </div>

                        </div>
                        <br>
                        <div class="table-responsive table-responsive-data2">
                            <table class="" style="border: 1px solid #ccc;margin-bottom: 30px;width: 100%;">
                                <thead style="border: 1px solid #ccc;">
                                    <tr>
                                        <td>
                                            <ul id="nav" class="clear" style="margin: 0px;">
                                                <li ng-repeat="row in alphabetData" style="cursor: pointer;"><a id="exempted_{{row.text}}" ng-click="keywordSectionChangeExempted(row.text)"><span>{{row.text}}</span></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                </thead>

                                <tbody ng-if="exemptedwordsList.length>0" style="height: 300px;overflow: auto;display: block;">
                                    <tr ng-repeat="row in exemptedListSelected |orderBy:'WORD'" style="display: block;float: left;">
                                        <td><div class="wrapper tag" style="display: flex;"><span class="keywords">{{row.WORD}}</span><span ng-click="exemptedDeleteClick(row)" class="ui-icon ui-icon-close"></span></div></td>
                                    </tr>
                                    <tr ng-if="exemptedListSelected.length ==0" style="overflow: auto; display: block; resize: vertical; text-align: -webkit-center; padding: 60px;">
                                        <td>No words available</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h3 class="title-5 m-b-35"></h3>
                    </div>
                </div>
            </div>
        </section>
        <div class="tab-content" id="myTabContent" ng-show="ImportExempteValidation" style="">
            <br>
            <br>
            <div id="Importdiv" ng-show="Importvalidation">
                <div class="form-group">
                    <div class="bold col-sm-12" align="center" id="importPart">
                        <label class="bold padding-right-10"> <b>Select Import File</b> </label>


                        <div class="file-upload btn btn-primary" style="background: #fff;color: #000;width: 21%;border: 2px solid #d0cfcf !important;height: 50px;">

                            <input style="padding: 0px; height: 45px" type="file" class="uploadbtnstyle" title="Drag &amp; Drop or Select file" name="file" accept=".xls,.xlsx" id="importfile" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required="">

                            <img style="width: 17%" src="/Images/drag.png">
                        </div>
                        <br>
                        <div style="padding-left: 129px;">
                            <span class="uploadfilename1" id="uploadFileName1" title="{{SelectedFileForUploadnamemainproduct}}">{{SelectedFileForUploadnamemainproduct}}</span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 padding-0 margin-bottom-45" style="text-align: -webkit-center;">
                    @*<button type="button" class="btn btn-primary btn-xs" ng-disabled="!EditMode || !userRoleAddReferenceTable ||!enableReferenceImport" ng-click="ValidateFile()" id="importFileIndesign" title="Import Indesign"> Validate</button>*@
                    <button id="btn-example-file-reset" ng-disabled="!EditMode || !userRoleAddReferenceTable " class="btn btn-primary btn-xs" title={{ExemptedReset}} ng-click="ResetsheetExempt()" type="button">Reset</button>
                    <button id="btn-example-file-reset" ng-disabled="!EditMode || !userRoleAddReferenceTable" class="btn btn-primary btn-xs" title={{ExemptedNext}} ng-click="NextExempt()" type="button">Next</button>
                    <button id="btn-example-file-reset" class="btn btn-primary btn-xs" title="Back to exempt list" ng-click="backImportExempt()" type="button">Back</button>
                </div>
            </div>
            <br>
            <br>
            <div id="selectsheetdiv" ng-show="selectSheet">
                <div>
                    <div class="col-sm-12 margin-top-5 padding-0" style="text-align: center;" id="ValidationExempt">
                        <table ng-table="tblDashImportBoard" show-filter="true" style="background-color: ghostwhite;height:auto;margin-top:10px;font-size:16px;word-break: break-word;" class="table-condensed table-bordered table-striped tablescroll1" align="center">
                            <thead class="k-grid-header k-grid-header-wrap">
                                <tr>
                                    <td colspan="2" style="width:200px"><b>Validations</b></td>

                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>
                                        <div class="col-sm-1 padding-right-0 padding-top-5">
                                            <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="Missing==false" ng-show="validationPassed"></span>
                                            <span class="glyphicon glyphicon-remove" style="color:red" ng-if="Missing == true" ng-show="validationPassed"></span>
                                            <input class="chk" ng-if="false" ng-disabled="true" type="checkbox" value="2" />
                                        </div>
                                        <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                            <span class="float-left">Misssing Values</span>

                                        </div>

                                    </td>
                                    <td ng-show="validationPassed">
                                        <span ng-if="Missing==false">Ok</span>
                                        <span ng-if="Missing==true">Failed</span>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-sm-1 padding-right-0 padding-top-5">
                                            <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="Duplicate==false" ng-show="validationPassed"></span>
                                            <span class="glyphicon glyphicon-remove" style="color:red" ng-if="Duplicate == true" ng-show="validationPassed"></span>
                                            <input class="chk" ng-if="false" ng-disabled="true" type="checkbox" value="2" />
                                        </div>
                                        <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                            <span class="float-left">Duplicate</span>

                                        </div>

                                    </td>
                                    <td ng-show="validationPassed">
                                        <span ng-if="Duplicate==false">Ok</span>
                                        <span ng-if="Duplicate==true">Failed</span>
                                    </td>

                                </tr>

                                <tr>
                                    <td>
                                        <div class="col-sm-1 padding-right-0 padding-top-5">
                                            <span class="glyphicon glyphicon-ok" style="color:forestgreen" ng-if="newColumn==false" ng-show="validationPassed"></span>
                                            <span class="glyphicon glyphicon-remove" style="color:red" ng-if="newColumn == true" ng-show="validationPassed"></span>
                                            <input class="chk" ng-if="false" ng-disabled="true" type="checkbox" value="2" />
                                        </div>
                                        <div class="col-sm-9 padding-right-0 float-left  padding-top-5">
                                            <span class="float-left">New Column</span>

                                        </div>

                                    </td>
                                    <td ng-show="validationPassed">
                                        <span ng-if="newColumn==false">Ok</span>
                                        <span ng-if="newColumn==true">Failed</span>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                        <div class="col-sm-12">
                            <button id="processImport" class="btn btn-primary btn-xs" type="button" ng-disabled="validation==false" ng-click="ValidateExemptsheet('Validate')" title={{ExemptValidate}}> Validate</button>
                            <button class="btn btn-primary" ng-click="BackFromValidation()" title={{ExemptBack}}>Back</button>
                            <button id="processImport" class="btn btn-primary btn-xs" type="button" ng-if="importEnable == true" ng-click="ValidateExemptsheet('Import')" title={{ExemptImport}}> Import</button>
                            @*<button class="btn btn-primary" ng-show="validation==false" id="viewlog" ng-click="Viewlog()">View Log</button>*@
                            <button id="processImport" class="btn btn-primary btn-xs" type="button" ng-if="validateresult == false" ng-click="ViewLogExemptsheet()" title={{ExemptImport}}> View Log</button>
                        </div>
                        <div class="col-sm-7 no-padding" id="exemptImportErrorWindow" style="width:100%;position: inherit; border-radius: 4px;">
                            <div kendo-grid k-options="exemptImportResultGridOptions"></div>
                        </div>
                    </div>
                    <div id="ValidationExemptResult">

                        <h5 style="margin-top: -65px;"><b>Validation Log</b></h5>
                        <table ng-table="tblDashImportBoard" show-filter="true" style="background-color: ghostwhite;margin-left:0px; width:100%;font-size:13px" class="table-condensed table-bordered table-striped tablescroll1">
                            <thead style="width: 165px; text-transform: capitalize;">
                                <tr>
                                    <th class="k-header" style="width: 165px; text-transform: capitalize;">
                                        Validation Type
                                    </th>
                                    <th class="k-header" style="width: 100px; text-transform: capitalize;">
                                        Message
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="k-grid-content">
                                <tr ng-repeat="Data in validateLogprod">
                                    <td>
                                        {{Data.ValidationType}}
                                    </td>
                                    <td>
                                        {{Data.Message}}
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div style="text-align: center">
                            <button class="btn btn-primary" style="text-align:center;" ng-click="BackFromexemptValidationLog()">Back</button>
                        </div>
                    </div>
                    <div id="exemptImportSuccessWindow">
                        <div class="col-sm-12 no-padding" style="position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;padding-bottom: 25px !important;box-shadow: 0px 0px 7px 1px #ccc;">
                            <div class="col-sm-12" style="background: aliceblue;"> <h5> <b>Import Successful</b> </h5></div>
                            <div class="col-sm-12 margin-top-10 margin-bottom-10">

                                <div class="col-sm-3">
                                    <div class="col-sm-4 bold padding-0">Import file <b>:</b></div>
                                    <div class="col-sm-6 padding-0 "> {{SelectedFileForUploadnamemain}} </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="col-sm-3 bold padding-0">Inserted <b>:</b></div>
                                    <div class="col-sm-6 padding-0">{{exemptInsertRecords}} </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="col-sm-3 bold padding-0">Updated <b>:</b></div>
                                    <div class="col-sm-6 padding-0">{{exemptUpdateRecords}} </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="col-sm-3  bold padding-0">Deleted <b>:</b></div>
                                    <div class="col-sm-6 padding-0">{{exemptDeleteRecords}} </div>
                                </div>

                            </div>
                            <div class="col-sm-12 margin-top-10 margin-bottom-10">
                                <div class="col-sm-3"><button class="btn btn-primary btn-xs" type="button" ng-click="backExemptImportClick()" title="Back"> Back</button></div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function AvoidSpace(event) {
       
        var k = event ? event.which : window.event.keyCode;
        if (k >= 49 && k <= 57) {
            return true;
        }
        else if (k >= 97 && k <= 112) {
            return true;
        }
        else if (k >= 65 && k <= 90) {
            return true;
        }
        else if (k >= 186 && k <= 222) {
            return false;
        }
        else if (k >= 58 && k <= 64) {
            return false;
        }
        else if (k >= 91 && k <= 96) {
            return false;
        }
        else if (k >= 123 && k <= 126) {
            return false;
        }
            //else if (k == 32) {
            //    return false;
            //}
        else if (k <= 47 && k != 32) {
            return false;
        }

        else {
            return true;
        }
        return true;

    }
</script>

