﻿@{
    ViewBag.Title = "IndexGeneration";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}
<script src="~/Views/PDFIndex/PDFIndexController.js"></script>
<style>
    .active > button {
        background: #fff !important;
        color: #337ab7 !important;
    }

    .file-upload {
        display: block;
        text-align: center;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
        margin: 0px !important;
        width: 80%;
        float: left;
    }

        .file-upload .file-select {
            display: block;
            border: 2px solid #091f3f;
            cursor: pointer;
            height: 34px;
            line-height: 30px;
            text-align: left;
            background: #FFFFFF;
            overflow: hidden;
            position: relative;
        }

            .file-upload .file-select .file-select-button {
                background: #091f3f;
                padding: 0 10px;
                display: inline-block;
                height: 30px;
                line-height: 30px;
                color: #fff;
                font-size: 14px;
                font-weight: 100;
                float: left;
            }

            .file-upload .file-select .file-select-name {
                line-height: 15px;
                font-weight: 100;
                overflow: hidden;
                min-height: 20px;
                padding: 8px;
                width: 67%;
                color: #091f3f;
                position: absolute;
                right: 0px;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .file-upload .file-select:hover {
                border-color: #4b9f46;
                transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
            }

                .file-upload .file-select:hover .file-select-button {
                    background: #4b9f46;
                    color: #FFFFFF;
                    transition: all .2s ease-in-out;
                    -moz-transition: all .2s ease-in-out;
                    -webkit-transition: all .2s ease-in-out;
                    -o-transition: all .2s ease-in-out;
                }



            .file-upload .file-select input[type=file] {
                z-index: 100;
                cursor: pointer;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                opacity: 0;
                filter: alpha(opacity=0);
            }

            .file-upload .file-select.file-select-disabled {
                opacity: 0.65;
            }

                .file-upload .file-select.file-select-disabled:hover {
                    cursor: default;
                    display: block;
                    border: 2px solid #dce4ec;
                    color: #34495e;
                    cursor: pointer;
                    height: 30px;
                    line-height: 30px;
                    margin-top: 5px;
                    text-align: left;
                    background: #FFFFFF;
                    overflow: hidden;
                    position: relative;
                }

                    .file-upload .file-select.file-select-disabled:hover .file-select-button {
                        background: #dce4ec;
                        color: #666666;
                        padding: 0 10px;
                        display: inline-block;
                        height: 30px;
                        line-height: 30px;
                    }

                    .file-upload .file-select.file-select-disabled:hover .file-select-name {
                        line-height: 30px;
                        display: inline-block;
                        padding: 0 10px;
                    }

    .radio {
        position: relative;
        float: left;
        /*clear: left;*/
        display: block;
        padding-left: 40px;
        margin-bottom: 12px;
        line-height: 8px;
        font-size: 16px;
        color: #666;
        cursor: pointer;
    }

        .radio:before {
            background: #fff;
            content: "";
            position: absolute;
            display: inline-block;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            border: 1px solid #bbb;
            border-radius: 100%;
            -moz-border-radius: 100%;
            -webkit-border-radius: 100%;
            box-shadow: inset 0 0 3px 0 #ccc;
            -moz-box-shadow: inset 0 0 3px 0 #ccc;
            -webkit-box-shadow: inset 0 0 3px 0 #ccc;
        }

    input[type="radio"] {
        display: none;
    }

        input[type="radio"]:checked + label:before {
            content: "\2022";
            text-align: center;
            line-height: 13px;
            font-family: Tahoma;
            font-size: 35px;
            color: #091f3f;
            text-shadow: 0 0 4px #bbb;
        }
</style>
<div class="page-wrapper" ng-controller="PDFIndexController">
    <div class="row no-margin" ng-show="familyMainEditor">
        <div class="col-sm-12 padding-0">
            <div id="tabstrip" kendo-tab-strip="tabstrip" navigatable="false" kendo-tab-strip k-content-urls="[ null, null]" k-animation="false" style="min-width: 900px;max-width: 100%;background-color: #ffffff;margin-left: 0px;">
                <ul>
                    <li id="cntntLibry"><a href="@Url.Action("ContentLibrary", "PDFIndex")" title="Content Library">Index PDF</a></li>
                    <li id="keywrdMngemnt"><a href="@Url.Action("ExemptedWords", "PDFIndex")" title="Exempt List">Exempt List</a></li>
                    <li id="indxGen" class="k-state-active"><a href="@Url.Action("IndexGeneration", "PDFIndex")" title="Index Generation">Generate</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page-content--bgf7" style="margin-left: 4px;">
        <form class="form-horizontal" style="padding: 20px;border: 1px solid #4b9f46;">
            <div id="indexGenPart">
                <div class="row form-group">
                    <div class="col col-md-12">
                        <div class="section-1">
                            <div class="col-sm-3 margin-top-5 textalignright">Select Template</div>
                            <div class="col-sm-2">
                                <select kendo-drop-down-list
                                        id="indexGenerationTemplate"
                                        k-option-label="'---Select---'"
                                        k-data-text-field="'TEMPLATE_NAME'"
                                        k-data-value-field="'TEMPLATE_NAME'"
                                        k-data-source="contentTemplateDatasource"
                                        k-on-change="indexGenTemplateChange(kendoEvent)"
                                        ng-model="SelectedIndexGenTemplate" style="width: 180px;"></select>
                            </div>
                            <div class="section-3">
                                <div class="col-sm-3 margin-top-5 textalignright">Select Layout</div>
                                <div class="col-sm-2">
                                    <select kendo-drop-down-list
                                            id="layoutListDrpen"
                                            k-option-label="'---Select---'"
                                            k-data-text-field="'text'"
                                            k-data-value-field="'value'"
                                            k-data-source="layoutDatasource"
                                            ng-model="selectedLayoutGen" style="width: 180px;"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group" style="text-align: -webkit-center;">
                            <button type="submit" title="Generate index" ng-click="indexGeneration()" class="btn btn-primary">@*<i class="fa fa-dot-circle-o"></i>*@ Generate Index</button>
                            <button type="reset" title="Cancel" ng-click="cancelIndexTemplateDetails()" class="btn btn-primary">@*<i class="fa fa-ban"></i>*@ Cancel</button>
                </div>
            </div>
            <div class="container p-t-20" id="mergePart">
                <div class="row form-group">
                    <div class="col-md-12">
                        @*<div class="col-sm-1 margin-top-5 textalignright padding-0">Source PDF </div>*@
                        <div class="col-sm-3">
                            @*<div class="file-upload">
                                    <div class="file-select">
                                        <input style="padding: 0px;" type="file" ng-disabled="sampleEnable" class="selectbulkfile uploadbtnstyle" title="Drag & Drop or Select file" name="file" accept=".pdf" id="importfile1" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                        <span class="displayfilename">{{SelectedFileForUploadnamemain}}</span>
                                    </div>
                                </div>*@
                            <div class="file-upload">
                                <div class="file-select">
                                    <div class="file-select-button" id="fileName">Source PDF</div>
                                    <div class="file-select-name" style=" margin-right: -19px;" id="noFile">{{SelectedFileForUploadnamemain}}</div>
                                    <input style="padding: 0px;" type="file" ng-disabled="sampleEnable" class="selectbulkfile uploadbtnstyle" title="Drag & Drop or Select file" name="file" accept=".pdf" id="importfile1" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                </div>
                            </div>
                            <button id="testButton" class="btn btn-primary" ng-click="Cancelfile()" style="margin-left: 3%;"><i class="fa fa-close"></i></button>
                        </div>
                        <div class="col-sm-4 margintop">
                            <div class="col-sm-4 textalignright">Insert Index </div>

                            <div class="radio" style="float: left;padding: 0px">
                                <input id="radio1" type="radio" name="radio" ng-model="radioCheck" value="top" class="form-check-input radio"><label for="radio1" class="radio"><span class="margin-left-10">Top</span></label>
                            </div>
                            <div class="radio" style="float: left;margin-left: 50px;padding: 0px;">
                                <input id="radio2" type="radio" name="radio" ng-model="radioCheck" value="bottom" class="form-check-input radio" checked><label for="radio2" class="radio"><span class="margin-left-10">Bottom</span></label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <div style="text-align: right;padding: 0;">
                                    <button type="submit" title="Merge the index to catalog" ng-click="mergeClick()" class="btn btn-primary">
                                        @*<i class="fa fa-dot-circle-o"></i>*@ <i class="fa fa-code-fork"></i>
                                    </button>
                                    <button type="reset" class="btn btn-primary" ng-click="mergeCancel()">
                                        @*<i class="fa fa-ban"></i>*@ <i class="fa fa-close"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="p-t-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div id='mytable' class="table-responsive table-responsive-data2">
                                <table class="table table-data2 table-striped" ng-if="selectedFilesToMerge.length>0" style="display: block;border: 1px solid #ccc;">

                                    <thead>
                                        <tr>
                                            <th style="width: 1%;">       </th>
                                            <th style="width: 75%;">File Name</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody style="height: 150px;overflow: auto;display: block;">
                                        <tr class="tr-shadow" ng-repeat="row in selectedFilesToMerge">
                                            <td style="width: 1%;"></td>
                                            <td style="width: 75%;">{{row.FILE_NAME}}</td>
                                            <td>
                                                <div class="table-data-feature">
                                                    <a class="item" data-toggle="tooltip" ng-click="sourceRowDeleteClick(row)" data-placement="top" title="Delete" style="cursor: pointer;">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="p-t-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="reset" title="Delete multiple keywords" ng-if="indexGridSource.length>0" ng-click="deleteMultipleClick()" class="btn btn-primary">Delete Multiple</button>
                            <div class="table-responsive table-responsive-data2" ng-if="indexGridSource.length>0">
                                <table class="table table-data2 table-striped" style="display: block;border: 1px solid #ccc;">
                                    <thead>
                                        <tr>
                                            <th style="width:10%;"><input type='checkbox' id='key_SelectAll' ng-click="selectAllKeyWords()" /></th>
                                            <th>Content</th>
                                            <th>Page No</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody style="height: 400px;overflow: auto;display: block;">
                                        <tr class="tr-shadow" ng-repeat="row in indexGridSource | orderBy:'KEYWORD_NAME'">
                                            @*<td style="width: 1%;">{{row.ID}}</td>*@
                                            <td style="width:10%;"><input type='checkbox' id='key_{{row.KEYWORD_NAME}}' ng-click="selectKeyordForDelete(row)" /></td>
                                            <td style="width: 33%;">{{row.KEYWORD_NAME}}</td>
                                            <td style="width: 35%;">{{row.PAGE_NO}}</td>
                                            <td>
                                                <div class="table-data-feature">
                                                    <a class="item" data-toggle="tooltip" ng-click="rowDeleteClick(row)" data-placement="top" title="Delete" style="cursor: pointer;">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
        <!-- END DATA TABLE-->
    </div>

</div>

