﻿<script type="text/javascript" src='@Url.Content("~/Views/App/Search/SearchController.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Views/App/Family/familyController.js")'></script>
<link href="~/Design/css/ng-table.css" rel="stylesheet" />

<style>
    table thead tr th, #dynamictable table thead tr th {
        color: #003DA5;
        text-align: center !important;
        height: 25px;
        /*text-transform: uppercase;*/
        text-transform: capitalize;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
        text-rendering: geometricPrecision;
        letter-spacing: 0.035em;
    }

.k-ext-treeview {
    width: 247px !important;
    border: 1px solid #a3d0e4 !important;
}

    .k-widget k-dropdown k-header k-ext-dropdown {

        width: 250px !important;
    }

    span.k-widget.k-dropdown.k-header.k-ext-dropdown {
    width: 250px!important;
}
    .disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}
</style>
<script type="text/javascript">
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            alert("Please enter valid Data ");
            return false;
        }
        return true;
    }

</script>
<form name="searchform">

    <div ng-controller="SearchController" ng-cloak>
        <div id="searchtab">
            
                <div class="form-horizontal" style="margin: 20px 5px 5px 5px;  -webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px;">
                    <div class="searchrow">
                        <div class="col-sm-1"></div>
                        <div class="searchrow1 col-sm-12">
                    <div class="form-group">

                        <div class="col-sm-1 padding-0 textalignright margintop bold" style="width: 170px;">
                            Select Catalog 

                        </div>
                        <div class="col-sm-3" style="width: 280px;">
                            <select kendo-drop-down-list
                                    k-value-primitive="true"
                                    k-data-source="SearchcatalogDataSource"
                                    k-ng-model="catalogIdAttr"
                                    @*k-option-label="'All Catalogs'"*@
                                    k-data-text-field="'CATALOG_NAME'"
                                    k-data-value-field="'CATALOG_ID'"
                                    k-on-change="catalogChange(kendoEvent)" style="width: 250px;"></select>

                        </div>

                        <div class="col-sm-1 padding-0 textalignright margintop bold" >
                            Category 

                        </div>
                        <div class="col-sm-3" >

                            <div id="SearchCategoryTree" ng-disable="false"></div>
                        </div>
                       
                        <div class="col-sm-1 padding-0 textalignright margintop bold">
                            Attribute

                        </div>
                        <div class="col-sm-2">
                            <select kendo-drop-down-list
                                    k-value-primitive="true"
                                    @*k-option-label="'All'"*@
                                    k-data-text-field="'ATTRIBUTE_NAME'"
                                    k-data-value-field="'ATTRIBUTE_NAME'"
                                    k-data-source="catalogIdAttrDataSource"
                                    k-on-change="attributechange(kendoEvent)"
                                    ng-model="seletedAttribute"
                                    style="width: 250px"
                                    ng-disabled="productdetails==false && subproductdetails==false"></select>

                        </div>
                        
                    </div>
                    <div class="form-group">

                        @*<div class="col-sm-3 textalignright margintop bold">
                            Attribute 

                        </div>
                        <div class="col-sm-3">
                            <select kendo-drop-down-list
                                    k-option-label="'All'"
                                    k-data-text-field="'ATTRIBUTE_NAME'"
                                    k-data-value-field="'ATTRIBUTE_NAME'"
                                    k-data-source="catalogIdAttrDataSource"
                                    k-on-change="attributechange(kendoEvent)"
                                    style="width: 11.8em"></select>
                        </div>*@

                        <div class="col-sm-1 padding-0 textalignright margintop required-field bold" style="width: 170px;">
                            Family / Product ID 

                        </div>
                        <div class="col-sm-2" style="width: 280px;">
                            <input type="number" id="searchid" name="searchid" ng-init="searchid=0" min="0" ng-model=" searchid" ng-trim="false" ng-mouseleave="mouseleave($event)" required style="width:250px;">
                        </div>

                        <div class="col-sm-1 padding-0 textalignright margintop bold required-field">
                            Search Text

                        </div>
                        <div class="col-sm-2">
                            <input type="text" name="searchtxt" id="mainCatalogSearch" ng-keypress="enterKeyPressedSearch($event)" ng-model="searchtxt" ng-trim="false" style="width:250px" ng-blur="blur()" required>
                        </div>
                    </div>
                        </div>
                    <div class="form-group">

                        @*<div class="col-sm-3 textalignright margintop bold required-field">
                            Search Text 

                        </div>
                        <div class="col-sm-3">
                            <input type="text" name="searchtxt" ng-model="searchtxt" ng-trim="false" ng-blur="blur()" required>
                        </div>*@
                    </div>
                </div>
                 <div class="searcheckkbox">
                     <div class="checkboxalign">
                    <div class="form-group margin-left-100">
                        <div class="col-sm-3">
                            <input type="checkbox" ng-model="categorydetails" value="1" name="search[1][]" ng-change="categorydetailsclick(itemnumberonly)"> Category
                        </div>
                        <div class="col-sm-3">
                            <input type="checkbox" ng-model="familydetails" value="1" name="search[1][]" ng-change="familydetailsclick(itemnumberonly)"> Family
                        </div>
                        <div class="col-sm-3">
                            <input type="checkbox" ng-model="productdetails" value="1" name="search[1][]" ng-change="productdetailsclick(itemnumberonly)"> Product
                        </div>
                        <div class="col-sm-3">
                            <input type="checkbox" ng-model="subproductdetails" value="1" name="search[1][]" ng-change="subproductdetailsclick(itemnumberonly)"> SubProduct
                        </div>
                    </div>
                    <div class="form-group margin-left-100">
                        <div class="col-sm-3">
                            <input type="checkbox" ng-model="itemnumberonly"  ng-change="itemnumberclick(itemnumberonly)" style="margin-right: 5px;">ITEM#
                        </div>
                        <div class="col-sm-3">
                            <input type="checkbox" ng-model="subitemnumberonly" ng-change="subitemnumberclick(subitemnumberonly)" style="margin-right: 5px;">SUBITEM#
                        </div>
                        <div class="col-sm-3">
                            <input type="checkbox" ng-model="globalattributes" ng-change="globalattributesclick(itemnumberonly,globalattributes)"> Global Attributes
                        </div>
                        <div class="col-sm-3">
                            <input type="checkbox" ng-change="wildCard(this)" ng-model="usewildcards"> Use Wildcards
                        </div>
                    </div>
                         </div>
                </div>
                    <div class="form-group">
                        <div class="col-sm-12 margin-top-10" style="margin-bottom: -10px;" align="center">
                            <button class="btn btn-primary btn-xs" @*ng-disabled="!searchform.$valid"*@ type="button" ng-click="btnsearchClick()" title="{{searchItem}}">
                                Search
                            </button>

                            <button class="btn btn-primary btn-xs" type="button" ng-click="btncancelclick()" title="{{cancelSearchItem}}">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
                <div role="alert">
                    <span class="error" ng-show="searchform.searchtxt.$error.required && searchform.searchid.$error.required">
                        Please enter the Search Keyword or Id.
                    </span>
                </div>
            <div ng-show="searchEmptyResult" style="padding: 26px;text-align: -webkit-center;margin-top: 25px;background-color: aliceblue;">No Records Found</div>
            <div id="divItemSearch" class="col-sm-12 no-padding" style="margin-bottom: 40px;">
                <div class="blank_row"></div>
                <h4 class="">Item Search Results</h4>
                @*<div kendo-grid="prodselectgrid" options="itemSearchGridresults"/>*@
                <div kendo-grid="prodselectgrid"
                     k-auto-bind="false"
                     k-sortable="true"
                     k-pageable='{ "pageSize": 5, "pageSizes": false,"buttonCount":5 }'
                     k-filterable="true"
                     k-selectable="false"
                     k-columns='itemSearchGridresultsColumns'
                     k-data-source="GetItemSearchResultsdataSource">
                </div>

            </div>
            <div id="divSubItemSearch" class="col-sm-12 no-padding" style="margin-bottom: 40px;">
                <div class="blank_row"></div>
                <h4 class="">
                    SubProduct Item Search Results
                </h4>
                @*<div kendo-grid="prodselectgrid" options="itemSearchGridresults"/>*@
                <div kendo-grid="subprodselectgrid"
                     k-auto-bind="false"
                     k-sortable="true"
                     k-pageable='{ "pageSize": 5, "pageSizes": false,"buttonCount":5 }'
                     k-filterable="true"
                     k-selectable="false"
                     k-columns='subitemSearchGridresultsColumns'
                     k-data-source="GetSubItemSearchResultsdataSource">
                </div>

            </div>

            <div id="dynamictable" class="row" style="max-width: 98%;padding-left: 15PX">
                <div class="small-capsGrid" style="height: 480px; overflow:auto; background-color: rgba(255,255,255,.6);">
                    <table ng-table="tblinverted" id="samplegrid" class="table table-condensed table-bordered table-striped" width="90%">
                        <thead class="k-grid-header k-grid-header-wrap">
                            <tr>
                                <th ng-repeat="column in columns" class="k-header" style="min-width: 100px;" ng-if="column.title!=='ROW' && column.title!=='id' && column.title!=='CATALOG_NAME' && column.title!=='FAMILY_ID'">
                                    {{column.title}}
                                </th>
                            </tr>
                        </thead>
                        <tbody class="k-grid-content">
                            <tr ng-repeat="Data in productData| orderBy:orderField" show-filter="true" class="table table-condensed table-bordered table-striped" ng-class="{'selected':$index == selectedRow}">
                                <td ng-repeat="column in columns" style="text-align: left;" ng-if="column.title!=='ROW' && column.title!=='id' && column.title!=='CATALOG_NAME' && column.title!=='FAMILY_ID'" ng-dblclick="navigate(Data)">
                                    <a href="" ng-dblclick="navigate(Data)" style="text-align: left;width: 100px">{{Data[column.field]}}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div id="divCategorySearch" class="col-sm-12 no-padding">
                <div class="blank_row"></div>
                <h4 class="">Category Search Results</h4>
                @*<div kendo-grid="categoryselectgrid" options="categorySearchGridresults" />*@
                <div kendo-grid="categoryselectgrid"
                     k-auto-bind="false"
                     k-sortable="true"
                     k-pageable='{ "pageSize": 5, "pageSizes": false,"buttonCount":5 }'
                     k-filterable="true"
                     k-selectable="false"
                     k-columns='categorySearchGridresultsColumns'
                     k-data-source="GetcategorySearchGridresultsdataSource">
                </div>

            </div>
            <div id="divFamilySearch" class="col-sm-12 no-padding">
                <div class="blank_row"></div>
                <h4 class="">Family Search Results</h4>
                @*<div kendo-grid="familyselectgrid" options="familySearchGridresults"/ >*@
                <div kendo-grid="familyselectgrid"
                     k-auto-bind="false"
                     k-sortable="true"
                     k-pageable='{ "pageSize": 5, "pageSizes": false,"buttonCount":5 }'
                     k-filterable="true"
                     k-selectable="false"
                     k-columns='familySearchGridresultsColumns'
                     k-data-source="GetFamilySearchGridresultsdataSource">
                </div>
            </div>
            <div id="divProductSearch" class="col-sm-12 no-padding">
                <div class="blank_row"></div>
                <h4 class="">Product Search Results</h4>
                @*<div kendo-grid="familyselectgrid" options="productSearchGridresults"/>*@
                <div kendo-grid="productselectgrid"
                     k-auto-bind="false"
                     k-sortable="true"
                     k-pageable='{ "pageSize": 5, "pageSizes": false,"buttonCount":5 }'
                     k-filterable="true"
                     k-selectable="false"
                     k-columns='productSearchGridresultsColumns'
                     k-data-source="GetProductSearchGridresultsdataSource">
                </div>
            </div>
            <div id="divSubProductSearch" class="col-sm-12 no-padding">
                <div class="blank_row"></div>
                <h4 class="">SubProduct Search Results</h4>
                <div kendo-grid="subproductselectgrid"
                     k-auto-bind="false"
                     k-sortable="true"
                     k-pageable='{ "pageSize": 5, "pageSizes": false,"buttonCount":5 }'
                     k-filterable="true"
                     k-selectable="false"
                     k-columns='subproductSearchGridresultsColumns'
                     k-data-source="GetSubProductSearchGridresultsdataSource">
                </div>
            </div>
        </div>
        <div id="familyEditor" ng-controller="familyController" ng-cloak>
            @{ Html.RenderPartial("Partials/FamilyEditor"); }
        </div>

        <div align="center" id="resultbtntab"><button class="btn btn-primary btn-xs" type="button" ng-click='ModifyResults(productData)' title="{{backToResults}}">Back to Results</button></div>
    </div>
</form>

<script>
    $("input:checkbox").on('click', function () {
        // in the handler, 'this' refers to the box clicked on
        var $box = $(this);
        if ($box.is(":checked")) {
            // the name of the box is retrieved using the .attr() method
            // as it is assumed and expected to be immutable
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            // the checked state of the group/box on the other hand will change
            // and the current value is retrieved using .prop() method
            $(group).prop("checked", false);
            $box.prop("checked", true);
        } else {
            $box.prop("checked", false);
        }
    });

</script>