﻿@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}

@section styles{
    <style>
        .k-grid table tbody tr {
            cursor: pointer;
        }

        .text-center, table tbody tr td, #dynamictable table tbody tr td {
            height: 35px;
            padding-left: 10px;
        }

        table thead tr th, #dynamictable table thead tr th {
            height: 35px;
            padding-left: 10px;
        }

        a:hover {
            text-decoration: none !important;
        }

        .small-caps {
            letter-spacing: 0em;
        }
    </style>
    <style type="text/css">
      /*.tab-content {
            display: table;
            width: 100%; 
        }*/
    </style>

}
<div class="main-content no-margin no-padding container" ng-cloak>
    <div class="container no-padding">
        <div class="row no-margin">
            <div class="col-sm-12 no-padding">
                @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Search</span>  </div>")
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);
                                           background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;
                                           box-shadow: 0 1px 0 #2c232b inset;">
                        <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>@Html.Raw("<div class=\"titlebluebreadcrumbs\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Search</span>  </div>")
                        <div class="panel-tools">
                            @*<div id="imagename" />*@
                        </div>
                    </div>
                    <div style="height: auto;" class="panel-body panel-scroll ps-container">
                        <div id="categoryGridView">
                            @{Html.RenderPartial("Search/ItemNumberSearch");}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

