@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Products
7. Icon Boxes
8. Newsletter
9. Footer


******************************/


/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 625px;
	background: #FFFFFF;
	z-index: 2;
	padding-top: 130px;
	padding-left: 0px;
	padding-right: 0px;
}
.home_container
{
	width: 100%;
	height: 100%;
}
.home_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.home_content_container
{
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
}
.home_content
{
	width: 580px;
}
.home_title
{
	font-size: 60px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 1.2;
}
.home_title span
{
	color: #e95a5a;
}
.home_text
{
	margin-top: 7px;
}
.home_text p
{
	color: #FFFFFF;
}

/*********************************
6. Products
*********************************/

.products
{
	width: 100%;
	background: #FFFFFF;
	z-index: 2;
}

/* Sorting Bar */
.sorting_bar
{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.results
{
	font-size: 14px;
	font-weight: 400;
	color: #6c6a74;
}
.item_sorting
{
	display: inline-block;
}
.item_sorting > li
{
	display: inline-block;
	position: relative;
	width: 191px;
	height: 36px;
	line-height: 32px;
	cursor: pointer;
	border: solid 2px #ececec;
	padding-left: 26px;
	padding-right: 19px;
	margin-right: 8px;
	font-size: 14px;
	font-weight: 400;
	color: #6c6a74;
	margin-bottom: 10px;
}
.item_sorting > li:last-child
{
	margin-right: 0;
}
.num_sorting_text
{
	padding-right: 11px;
}
.item_sorting li i
{
	float: right;
	line-height: 32px;
	font-size: 10px;
	color: #787878;
}
.item_sorting li ul
{
	display: block;
	position: absolute;
	right: 0;
	top: 120%;
	margin: 0;
	width: 100%;
	background: #FFFFFF;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
	box-shadow: 0 15px 25px rgba(63, 78, 100, 0.15);
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}
.item_sorting > li:hover ul
{
	visibility: visible;
	opacity: 1;
	top: calc(100% + 1px);
}
.item_sorting li ul li
{
	display: block;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
}
.item_sorting li ul li span
{
	display: block;
	height: 36px;
	line-height: 36px;
	border-bottom: solid 1px #dddddd;
	color: #6c6a74;
	text-align: right;
	padding-right: 5px;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}
.item_sorting li ul li span:hover
{
	color: #b5aec4;
}
.item_sorting li ul li:last-child span
{
	border-bottom: none;
}
.item_sorting li span:nth-child(2)
{
	margin-left: 63px;
}

/* Product */
.product
{
	width: calc((100% - 25px) / 4);
    margin-bottom: 59px;
    height: 315px;
    border: 1px solid #efefef;
    padding: 0px;
    text-align: center;
    box-shadow: 0px 0px 2px 3px #efefef;
}

.product:hover {
    box-shadow: 0px 0px 4px 5px #da94a7;
}
.product_image
{
	width: 100%;
	height: 250px;
	padding: 15px;
}
.product_image img
{
	max-width: 100%;
	height: 250px;
}

.filter {
    height: 700px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 11px 1px #ccc;
}

.filter > span {
    line-height: 2;
}

.filter > h4 {
    color: #b52950;
}
.product_content
{
	width: 100%;
	
}
.product_title {
	padding: 4px 0px;
    color: #ffffff;
    background: linear-gradient(45deg, #aa192d, black);
    margin-top: 30px;
}
.product_title a
{
	font-size: 18px;
	font-weight: 500;
	color: #1b1b1b;
	line-height: 1.1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.product_title a:hover
{
	color: #e95a5a;
}
.product_price
{font-size: 14px;
    font-weight: 500;
    color: #6c6a74;
    line-height: 0.75;
    margin-top: 13px;
    float: left;
    margin-right: 27px;
}
.product_extra
{
	position: absolute;
	top: 0;
	left: 54px;
	width: 66px;
	height: 36px;
	text-align: center;
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	transform-origin: top left;
	transform: rotate(90deg);
}
.product_extra a
{
	display: block;
	font-size: 16px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 36px;
}
.product_new
{
	background: #6c6a74;
}
.product_sale
{
	background: #e95a5a;
}
.product_hot
{
	background: #1b1b1b;
}
.product_pagination
{
	width: 100%;
	margin-top: 3px;
}
.product_pagination ul li
{
	display: inline-block;
}
.product_pagination ul li:not(:last-child)
{
	margin-right: 3px;
}
.product_pagination ul li a
{
	font-size: 14px;
	font-weight: 400;
	color: #6c6a74;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.product_pagination ul li.active a,
.product_pagination ul li:hover a
{
	color: #1b1b1b;
}

/*********************************
7. Icon Boxes
*********************************/

.icon_boxes
{
	width: 100%;
	padding-top: 99px;
	padding-bottom: 99px;
	background: #FFFFFF;
	z-index: 2;
}
.icon_box_row
{

}
.icon_box
{
	width: 100%;
	text-align: center;
}
.icon_box_image
{
	width: 75px;
	height: 75px;
	margin-left: auto;
	margin-right: auto;
}
.icon_box_image img
{
	max-width: 100%;
}
.icon_box_title
{
	font-size: 18px;
	font-weight: 500;
	color: #1b1b1b;
	margin-top: 33px;
}
.icon_box_text
{
	margin-top: 20px;
}

/*********************************
8. Newsletter
*********************************/

.newsletter
{
	width: 100%;
	background: #FFFFFF;
	padding-bottom: 99px;
	z-index: 2;
}
.newsletter_border
{
	width: 100%;
	border-top: solid 2px #e3e3e3;
}
.newsletter_content
{
	padding-top: 88px;
}
.newsletter_title
{
	font-size: 30px;
	font-weight: 500;
	color: #1b1b1b;
}
.newsletter_text
{
	margin-top: 8px;
}
.newsletter_form_container
{
	width: 100%;
	margin-top: 46px;
}
.newsletter_form
{
	width: 100%;
}
.newsletter_input
{
	width: 100%;
	height: 40px;
	border: none;
	border-bottom: solid 2px #787878;
	outline: none;
	text-align: center;
}
.newsletter_button
{
	position: relative;
	width: 178px;
	height: 61px;
	border: solid 2px #1b1b1b;
	background: #FFFFFF;
	cursor: pointer;
	margin-top: 55px;
	overflow: hidden;
}
.newsletter_button span
{
	display: block;
	position: relative;
	z-index: 10;
	font-size: 16px;
	font-weight: 600;
	color: #1b1b1b;
	background: none;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.newsletter_button::after
{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: #1b1b1b;
    z-index: 0;
    opacity: 0;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.newsletter_button:hover::after
{
	opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.newsletter_button:hover span
{
	color: #FFFFFF;
}




