
.logo > a > img {
  width: 65%;
}	

.logo {
  width: 13%;
}

.header-search {
  background: #fafbfb;
  color: #aa192d;
  border: #aa192d;
  padding: 4px 9px;
  border-radius: 0px 5px 5px 0px;
  margin-left: -5px;
  margin-top: -4px;
  height: 33px;
  cursor: pointer;
}

/* .folder {
    margin: 12px 12px;
   
    width: 23%;
    float: left;
    border: 1px solid #efefef;
	text-align: center;
	cursor: pointer;
}
.folder > .icon{
	padding: 20px;
}

.folder > .icon > .fa {
    font-size: 85px;
    color: #5a5a5a;
} */

.f-name {
  background: linear-gradient(45deg, #aa192d, black);
    color: #fff;
}


.total-price {
    text-align: right;
    border: 1px solid #ccc;
	padding: 0;
	float: right;
	box-shadow: 0px 0px 5px 2px #ccc;
	margin-left: 20px;
	
}

.price-head {
	background: #aa192d;
    padding: 8px;
    text-align: center;
    color: #fff;
}

.price {
	padding: 15px;
	border-bottom: 1px solid #ccc;
}

span.left {
    float: left;
}

.cart-info{
	border: 1px solid #ccc;
    box-shadow: 0px 0px 5px 2px #ccc;
    padding: 15px;
}

.product_image > .fa {
	font-size: 100px;
    color: #7d7d7d;
    padding: 75px 0px;
    background: -webkit-gradient(linear, left top, left bottom, from(#aa192d), to(#000));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product-link{
    /* position: absolute; */
    z-index: 1;
    width: 100%;
    height: 100%;
 }

 .product-title {
	margin-bottom: 15px;
    border-bottom: 3px solid #aa192d;
    font-size: 25px;
    background: -webkit-linear-gradient(#aa192d, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
}
 .collapsible {
          background-color: #aa192d;
          color: white;
          cursor: pointer;
          padding: 0px 10px;
          width: 100%;
          border: none;
          text-align: left;
          outline: none;
          font-size: 18px;
          border-bottom: 1px solid #9e9e9e;
          }
          .active, .collapsible:hover {
          background-color: #555;
          }
          .content {
          padding: 0 0px;
          display: none;
          overflow: hidden;
          background-color: #f1f1f1;
          }
 
          .content > .pro-menu:hover {
     /* background-color: #aa192d; */
     color: #aa192d;
 }
 
 
          .content > span {
          padding: 5px !important;
          display: -webkit-inline-box;
          }
 
          a.pro-menu {
			padding: 0px 11px;
			display: block;
			color: #000;
			font-size: 16px;
 }
 .product_title > a {
    color: #fff;
}

/* The container */
.container-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark-check {
    position: absolute;
    top: 4px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container-check:hover input ~ .checkmark-check {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container-check input:checked ~ .checkmark-check {
    background-color: #aa192d;  
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark-check:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container-check input:checked ~ .checkmark-check:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container-check .checkmark-check:after {
    left: 7px;
    top: 2px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


  
/***********
1. Fonts
***********/

/* @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900'); */

@import url('../fonts/LGSmart-Bold.ttf');



/*********************************
2. Body and some general stuff
*********************************/

@font-face {
  font-family: 'LGSmart-Bold';
  src: url('../fonts/LGSmart-Bold.ttf');
}

@font-face {
  font-family: 'LGSmart-BoldItalic';
  src: url('../fonts/LGSmart-BoldItalic.ttf');
}

@font-face {
  font-family: 'LG-Smart-Light';
  src: url('../fonts/LG-Smart-Light.ttf');
}

@font-face {
  font-family: 'LG-Smart-Regular';
  src: url('../fonts/LG-Smart-Regular.ttf');
}

@font-face {
  font-family: 'LG-Smart-Regular-Italic';
  src: url('../fonts/LG-Smart-Regular-Italic.ttf');
}

@font-face {
  font-family: 'LG-Smart-SemiBold';
  src: url('../fonts/LG-Smart-SemiBold.ttf');
}

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'LG-Smart-Regular';
	font-size: 18px;
	font-weight: 400;
	background: #FFFFFF;
	color: #000000;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 2.14;
	font-weight: 400;
	color: #6c6a74;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.nopadding
{
	padding: 0px !important;
}
.button
{
	width: 178px;
	height: 61px;
	background: none;
	text-align: center;
	border: solid 2px #1b1b1b;
	overflow: hidden;
	cursor: pointer;
}
.button a
{
	display: block;
	position: relative;
	font-size: 16px;
	font-weight: 600;
	line-height: 57px;
	color: #1b1b1b;
	background: none;
	z-index: 1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button::after
{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: #FFFFFF;
    z-index: 0;
    opacity: 0;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.button:hover::after
{
	opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button_light
{
	border: solid 2px #FFFFFF;
}
.button_light a
{
	color: #FFFFFF;
}
.button:hover a
{
	color: #FFFFFF;
}
.button_light:hover a
{
	color: #1b1b1b;
}

/*********************************
3. Header
*********************************/

.header
{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}
.header_container
{
	width: 100%;
	z-index: 1;
	background: #000000;
}
.header_content
{
	width: 100%;
	height: 75px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled .header_content
{
	height: 85px;
}
.logo a
{
	font-size: 30px;
	font-weight: 700;
	color: #1b1b1b;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled .logo a
{
	font-size: 24px;
}
.main_nav
{
	margin-left: 120px;
	width: 100%;
    text-align: right;
}
.main_nav > ul > li
{
	display: inline-block;
	position: relative;
}
.main_nav > ul > li:not(:last-child)
{
	margin-right: 46px;
}
.main_nav > ul > li > a
{
	font-size: 17px;
    font-weight: 600;
    color: #ffffff;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.main_nav > ul > li > a:hover,
.main_nav > ul > li.active > a
{
	color: #ae354d;
}
.main_nav ul li.hassubs::after
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: calc(100% + 3px);
	font-family: 'FontAwesome';
	font-size: 10px;
	content: '\f078';
	color: #767676;
}
.main_nav ul li:hover::after,
.main_nav ul li.active::after
{
	color: #1b1b1b;
}
.hassubs ul
{
	position: absolute;
	right: -15px;
	top: calc(100% + 20px);
	text-align: right;
	background: #FFFFFF;
	padding-right: 25px;
	padding-left: 35px;
	padding-top: 25px;
	padding-bottom: 25px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hassubs:hover ul
{
	visibility: visible;
	opacity: 1;
	top: calc(100% + 0px);
}
.hassubs ul li:not(:last-child)
{
	margin-bottom: 11px;
}
.hassubs ul li a
{
	font-size: 14px;
	font-weight: 600;
	color: #767676;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hassubs ul li a:hover
{
	color: #1b1b1b;
}
.header_extra
{

}
.shopping_cart
{
	display: inline-block;
}
.shopping_cart a svg
{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.shopping_cart a:hover svg,
.shopping_cart a:hover div
{
	fill: #e95a5a;
	color: #e95a5a;
}
.shopping_cart a div
{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 500;
	color: #1b1b1b;
	margin-left: 13px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.shopping_cart a div span
{
	margin-left: 4px;
}
.search
{
	display: inline-block;
	margin-left: 51px;
	cursor: pointer;
	vertical-align: sub;
	-webkit-transform: translateY(-1px);
	-moz-transform: translateY(-1px);
	-ms-transform: translateY(-1px);
	-o-transform: translateY(-1px);
	transform: translateY(-1px);
}
.search_icon
{
	width: 13px;
	height: 13px;
}
.search_icon svg
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	color: #fff;
}
.search_icon:hover svg
{
	fill: #e95a5a;
}
.hamburger
{
	display: none;
	margin-left: 30px;
	cursor: pointer;
	margin-right: 4px;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}
.hamburger i
{
	font-size: 18px;
	color: #1b1b1b;
}
.search_panel
{
	background: #aa192d;
}
.search_panel.active
{
	bottom: -80px;
}
.search_panel_content
{
	height: 45px;
}
.search_input
{
	width: 300px;
	height: 33px;
	border: none;
	outline: none;
	border-radius: 3px;
	padding-left: 20px;
}
.search_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #767676 !important;
}
.search_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #767676 !important;
}
.search_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #767676 !important;
} 
.search_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #767676 !important;
}
.search_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #767676 !important;
}
.header_social
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 60px;
	z-index: 1;
	margin-right: -5px;
}
.header_social
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 60px;
	z-index: 1;
	margin-right: -5px;
}
.header_social ul li
{
	display: inline-block;
}
.header_social ul li:not(:last-child)
{
	margin-right: 18px;
}
.header_social ul li a i
{
	font-size: 16px;
	color: #b5b5b5;
	padding: 5px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header_social ul li a i:hover
{
	color: #1b1b1b;
}

/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100vh;
	background: #e4e4e4;
	z-index: 101;
}
.menu.active
{
	right: 0;
}
.menu_container
{
	width: 100%;
	height: 0px;
	padding-top: 130px;
}
.menu.active .menu_container
{
	height: 500px;
}
.page_menu_content
{
	padding-left: 30px;
	padding-right: 30px;
	overflow: hidden;
	text-align: right;
}
.page_menu_search
{
	display: none;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}
.page_menu_nav
{

}
.page_menu_search_input
{
	width: 100%;
	height: 40px;
	background: #FFFFFF;
	border: none;
	outline: none;
	padding-left: 25px;
}
.page_menu_item
{
	display: block;
	position: relative;
	vertical-align: middle;
}
.page_menu_nav > li
{
	border-bottom: solid 1px rgba(0,0,0,0.2);
}
.page_menu_item > a
{
	display: block;
	color: #1b1b1b;
	font-weight: 700;
	line-height: 50px;
	height: 50px;
	font-size: 16px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.page_menu_item > a:hover
{
	color: #c3c1cc;
}
.page_menu_item a i
{
	display: none;
	margin-left: 8px;
}
.page_menu_item.has-children > a > i
{
	display: inline-block;
}
.page_menu_selection
{
	margin: 0;
	width: 100%;
	height: 0px;
	overflow: hidden;
	z-index: 1;
}
.page_menu_selection li
{
	padding-right: 15px;
	line-height: 40px;
}
.page_menu_selection li:last-child
{
	padding-bottom: 20px;
}
.page_menu_selection li a
{
	display: block;
	color: #1b1b1b;
	border-bottom: solid 1px rgba(0,0,0,0.2);
	font-size: 14px;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}
.page_menu_selection li a:hover
{
	color: #c3c1cc;
}
.page_menu_selection li:last-child a
{
	border-bottom: none;
}
.menu_social
{
	position: absolute;
	right: 30px;
	bottom: 15px;
}
.menu_social ul li
{
	display: inline-block;
}
.menu_social ul li:not(:last-child)
{
	margin-right: 18px;
}
.menu_social ul li a i
{
	font-size: 16px;
	color: #b5b5b5;
	padding: 5px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_social ul li a i:hover
{
	color: #1b1b1b;
}
.menu_close
{
	position: absolute;
	top: 25px;
	right: 25px;
	cursor: pointer;
}
.menu_close i
{
	font-size: 16px;
	color: #1b1b1b;
	padding: 5px;
}

/*********************************
7. Footer
*********************************/

.footer_overlay
{
	width: 100%;
	height: 129px;
	background: transparent;
	z-index: 1;
}
.footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 1;
}
.footer_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.footer_content
{
	width: 100%;
	height: 40px;
}
.footer_logo
{
	width: 30%;
}
.footer_logo a
{
	font-size: 30px;
	line-height: 0.75;
	color: #1b1b1b;
	font-weight: 700;
}
.copyright
{
	width: 40%;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	color: #ffffff;
}
.footer_social
{
	width: 30%;
	text-align: right;
}
.footer_social ul li
{
	display: inline-block;
}
.footer_social ul li:not(:last-child)
{
	margin-right: 26px;
}
.footer_social ul li a i
{
	font-size: 17px;
	color: #1b1b1b;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_social ul li a i:hover
{
	color: #FFFFFF;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, black, #aa192d);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.product_title a {
    color: #ffffff !important;
}

.breadcrump {
    color: white;
    margin-bottom: 20px;
    background: linear-gradient(45deg, #aa192d, black);
    padding: 0px 15px;
}

.breadcrump > a {
    color: #fff;
}

.btn-small {
	padding: 0px 10px;
    margin-right: 30px;
    cursor: pointer;
    width: 105px;
}

.product_folder
{
	width: 100%;
    height: 150px;
    padding: 15px;
}
.product_folder img
{
	max-width: 100%;
    height: 125px;
}

.folder {
	height: 155px;
    border: none;
    box-shadow: none;
    width: 25%;
    margin-bottom: 0px;
    float: left;
}

.folder:hover {
    box-shadow: none;
}

.file {
	height: 130px;
    box-shadow: none;
    width: 25%;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding-top: 10px;
    float: left;
	margin: 25px 20px;
	text-align: center;
}

.file:hover {
    box-shadow: none;
}

.centered {
	position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    color: #fff;
    line-height: 1;
  }

  .file-img{
	float: left;
	/* margin-left: 15px; */
	width: 75px;
  }

  .file-img > img {
    width: 50%;
}

  .file-details {
	display: inline-block;
	font-size: 14px;
}

  .file-name{
	display: inline-block;
    font-size: 15px;
    font-weight: 700;
    white-space: nowrap;
    width: 185px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 15px;
  }

  .file-btn {
    display: flex;
}

.section-title {
    padding: 10px 10px;
    background: linear-gradient(45deg, #aa192d, black);
    margin-bottom: 20px;
    color: #fff;
}


/*********************************
6. Cart Info
*********************************/

.cart_info
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 130px;
	z-index: 2;
}
.cart_info_columns
{
	width: 100%;
	border-bottom: solid 2px #e3e3e3;
	padding-bottom: 7px;
}
.cart_info_col
{
	float: left;
	font-size: 18px;
	font-weight: 400;
	color: #1b1b1b;
}
.cart_info_col_product
{
	width: 37%;
}
.cart_info_col_print-class
{
	width: 12%;
}

.cart_info_col_print-cost
{
	width: 13%;
}
.cart_info_col_pages
{
	width: 15%;
}
.cart_info_col_price
{
	width: 12%;
}

.cart_info_col_quantity
{
	width: 16%;
}
.cart_info_col_total
{
	width: 10%;
	text-align: right; 
}
.cart_item
{
	padding-top: 15px;
	padding-bottom: 15px;
}
.cart_item_product
{
	width: 37%;
}
.cart_item_price
{
	width: 12%;
}
.cart_item_quantity
{
	width: 17%;
	/* text-align: center; */
}
.cart_item_total
{
	width: 10%;
	/* text-align: right; */
}
.cart_item_image div
{
	width: 100px;
	height: 50px;
}
.cart_item_image div img
{
	max-width: 100%;
}
.cart_item_name_container
{
	padding-left: 36px;
}
.cart_item_name a
{
	font-size: 22px;
	font-weight: 500;
	color: #1b1b1b;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.cart_item_name a:hover
{
	color: #e95a5a;
}
.cart_item_edit
{
	margin-top: 3px;
}
.cart_item_edit a
{
	font-size: 20px;
	font-weight: 500;
	color: #6c6a74;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.cart_item_edit a:hover
{
	color: #1b1b1b;
}
.cart_item_price
{
	font-size: 18px;
	font-weight: 400;
	color: #1b1b1b;
}

.btn-red {
	background: #aa192d;
	color: #FFFFFF;
}

.btn-red > a {
    color: #fff;
}

.product-rib{
	width: 95%;
	height: 70px !important;
	margin-top: 18px;
	margin-right: 10px;
}

.product-border {
    float: left;
    height: 135px;
    margin: 15px 20px;
    width: 25%;
    border: 3px solid #aa192d;
    border-radius: 30px;
}

span.dark-link {
	right: 0;
    position: absolute;
    height: 129px;
    background: #ab1229;
    color: #fff;
    border-radius: 0px 30px 30px 0px;
    width: 25px;
    top: 0;
    line-height: 7;
}

span.dark-download {
	position: absolute;
    height: 129px;
    background: #ab1229;
    color: #fff;
    border-radius: 30px 0px 0px 30px;
    width: 25px;
    top: 0;
    line-height: 7;
    left: 0;
}

.file-grid{

    margin: 0px 25px;
  
}

::selection {
	background: #000;
	color: #fff;
}