﻿@{
    ViewBag.Title = "E-Payment";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}
<style>
    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .pricing-table {
        width: 100%;
        margin: 50px 0;
        text-align: center;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
        font-size: 14px;
        color: #fff;
    }

        .pricing-table:before,
        .pricing-table:after {
            content: " ";
            display: table;
        }

        .pricing-table:after {
            clear: both;
        }

    .pricing-table {
        *zoom: 1;
    }

        .pricing-table ul:first-child {
            margin-left: 0;
        }

        .pricing-table ul li {
            padding: 10px 20px;
        }

    .col-price {
        list-style: none;
        padding: 0;
        margin: 10px 1px;
        position: relative;
        display: block;
        float: left;
        border: 1px solid #ddd;
        background: #fff;
        transition: all 0.2s;
    }

        .col-price:hover {
            box-shadow: 0 0 2px 2px #00aa72;
            -webkit-transform: scale(1.1,1.1);
            transform: scale(1,1.1);
            z-index: 1001;
            cursor: pointer;
        }

        .col-price.stand-out {
            z-index: 1000;
            box-shadow: 0 0 2px 2px #00aa72;
            -webkit-transform: scale(1.1,1.1);
            transform: scale(1,1.1);
        }

        .col-price li:nth-child(2n+1) {
            background: #444;
        }

        .col-price li:nth-child(2n) {
            background: #888;
        }

        .col-price li.header {
            color: #00aa72;
            font-size: 18px;
            font-weight: bold;
            background: #eee;
        }

        .col-price li.price {
            color: #333;
            background: #fff;
        }

        .col-price .price span {
            font-size: 34px;
        }

        .col-price li.get-it {
            background: #fff;
        }

    button {
        padding: 5px 20px;
        font-size: 16px;
        color: #fff;
        border: 1px solid #00aa72;
        box-shadow: 0 3px #009a67;
        background: #00aa72;
    }
</style>

<form name="myForm" ng-controller="EpaymentController" ng-cloak>
    <div class="main-content no-margin">
        @*<div class="container">*@
        @*<div class="form-horizontal">*@
        @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">ePayment</span>  </div>")
        <div class="panel panel-default">
            <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png); box-sizing:border-box;
                                       background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;       box-shadow: 0 1px 0 #2c232b inset;">
                <i class="clip-bubbles-2" style="background-color: #fff; color: black;box-sizing:border-box;"></i>
                ePayment
            </div>
            <div class="navbar-collapse1 col-sm-12" style="position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                <div class="container">
                    <div class="pricing-table">
                        <ul class="col-price">
                            <li class="header">STARTER</li>
                            <li class="price"><span>$10</span><i>per month</i></li>
                            <li>500 SKUs</li>
                            <li>3 Features</li>
                            <li>No PDF Xpress</li>
                            <li>No Support</li>
                            <li class="get-it"><button type="button" ng-click="EpaymentClick()">Get it now</button></li>
                        </ul>
                        <ul class="col-price stand-out">
                            <li class="header">BASIC</li>
                            <li class="price"><span>$20</span><i>per month</i></li>
                            <li>1,000 SKUs</li>
                            <li>15 Features</li>
                            <li>No PDF Xpress</li>
                            <li>Support</li>
                            <li class="get-it"><button type="button" ng-click="paypalpaymentClick()">Get it now</button></li>
                        </ul>
                        <ul class="col-price">
                            <li class="header">PROFESSIONAL</li>
                            <li class="price"><span>$40</span><i>per month</i></li>
                            <li>5,000 SKUs</li>
                            <li>50 Features</li>
                            <li>PDF Xpress</li>
                            <li>Support</li>
                            <li class="get-it"><button type="button" ng-click="EpaymentClick()">Get it now</button></li>
                        </ul>
                        <ul class="col-price">
                            <li class="header">BUSINESS</li>
                            <li class="price"><span>$50</span><i>per month</i></li>
                            <li>10,000 SKUs</li>
                            <li>75 Features</li>
                            <li>PDF Xpress</li>
                            <li>Support</li>
                            <li class="get-it"><button type="button" ng-click="EpaymentClick()">Get it now</button></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
@section scripts{
    <script type="text/javascript" src='@Url.Content("~/Views/App/Epayment/EpaymentController.js")'></script>}

