﻿@{
    ViewBag.Title = "MarketStudio - PickList";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}

<script>

    function myFunction() {

        if (document.getElementById("new_picklist_name").value != "") {
            document.getElementById("addnew").disabled = false;
        }
        else {
            document.getElementById("addnew").disabled = true;
        }
    }

    function Piclist() {
        if (document.getElementById("picklisttype").value != "" && document.getElementById("picklistvalue").value != "") {
            // document.getElementById("picklistadd").disabled = false;
            //  document.getElementById("piclist_save").disabled = false;
            document.getElementById("piclist_delete").disabled = false;
        }
        else {

            //  document.getElementById("picklistadd").disabled = true;
            //  document.getElementById("piclist_save").disabled = true;
            document.getElementById("piclist_delete").disabled = true;
        }
    }
    function TextBoxChanged(e) {

        var url = e.value;
        var pattern = /((?:https?\:\/\/|www\.)(?:[-a-z0-9]+\.)*[-a-z0-9]+.*)/;

        if (!pattern.test(url)) {
            //    alert("Please enter a valid URL1");


            //}
            $.msgBox({
                title: "CatalogStudio",
                content: "Please enter a valid URL",
                type: "info",
                buttons: [{ value: "Ok" }, { value: "Cancel" }],
                success: function (result) {
                    document.getElementById("link").value = "";
                    var bool = false;
                    if (result === "Yes") {
                        document.getElementById("link").value = "";
                        bool = true;
                    }
                }
            })
        }
    };
</script>
<style>
    .k-state-hover {
        background: #cdcdcd !important;
        background-image: none !important;
    }

    .k-tabstrip > .k-content {
        overflow: hidden;
    }
</style>
@*<div class="col-sm-9" style="float:right">
        <form name="myForm">
            <div  class="col-sm-2" ng-controller="picklistController">
                <h2>PickList</h2>
                <table>
                    <tr>
                    <td>PickList Name </td>
                    <td><select id="Select1">
        <option ng-model="PickListGroup.PICKLIST_NAME">{{PickListGroup.PICKLIST_NAME}}</option>
    </select></td>
                    </tr>
                    <tr>
                        <td>PickList DataType </td>
                        <td><select id="Select2">
        <option ng-model="PickListGroup.PICKLIST_DATA_TYPE">{{PickListGroup.PICKLIST_DATA_TYPE}}</option>
    </select></td>
                    </tr>
                </table>

                <div ng-grid="PickListGrid">

                </div>
            </div>
        </form>
       @section scripts{
        <script type="text/javascript" src='@Url.Content("~/Views/Picklist/picklistController.js")'></script>
        @*<script type="text/javascript" src='@Url.Content("~/Views/App/Category/categoryController.js")'></script>
    }


    </div>*@


<form name="NewPickList_Form" ng-controller="picklistController" ng-cloak>
    <div class="col-sm-12 no-padding">
        @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Picklist</span>  </div>")

        <div class="form-horizontal">
            <div style="padding: 0px; margin: 0px">
                <div class="col-sm-12 margin-bottom-20 padding-bottom-20 padding-top-10" style="border: 1px solid #ccc;">
                    <div class="col-sm-1"></div>
                    <div class="form-horizontal col-sm-12" style="margin: 0px;">
                        <div class="form-group margin-bottom-0">

                            <div class="col-sm-12">
                                <div class="col-sm-3">
                                    <span class="bold padding-right-5 reslabel"> Name</span>
                                    <select kendo-drop-down-list id="drpPickListName"
                                            k-option-label="'All'"
                                            k-data-text-field="'PICKLIST_NAME'"
                                            k-data-value-field="'PICKLIST_NAME'"
                                            k-data-source="PickListGroup"
                                            k-on-change="picklistChange(kendoEvent)"
                                            style="width: 200px"></select>

                                </div>
                                <div class="col-sm-3 respspace">

                                    <span class="bold reslabel padding-right-5">New</span>
                                    <input type="text" name="NewPickListName" class="pklsttxt" style="width: 200px !important; height: 30px;" ng-model="NewPickListName.PICKLIST_NAME" id="new_picklist_name" onkeyup="myFunction()">
                                    @*ng-disabled="newPickList || !userRoleModifyPickList"*@

                                </div>
                                <div class="col-sm-3">

                                    <span class="bold reslabel padding-right-5"> Type</span>
                                    <select kendo-drop-down-list id="drpDownDataType" ng-disabled="newPickList"
                                            k-data-text-field="'DATA_TYPE'"
                                            k-data-value-field="'DATA_TYPE'"
                                            k-data-source="PickListDefaultDatatype"
                                            k-on-change="DataTypeChanged(kendoEvent)"
                                            style="width: 200px"></select>

                                </div>
                                <div class="col-sm-3" style="text-align: center;">

                                    <button id="addnew" class="btn btn-primary btn-sm" type="button" ng-click='addNewPicklist()' ng-disabled="!userRoleAddPickListManagement || !EditMode" title="{{addNewPickList}}">
                                        <i class="fa fa-save"></i>
                                    </button>
                                    <button class="btn btn-primary btn-sm" ng-disabled="!newPickList || !EditMode || !userRoleDeletePickListManagement" ng-show="userRoleDeletePickListManagement" type="button" ng-click='DeletePickList()' id="piclist_delete" title="Delete Picklist">
                                        <i class="fa fa-close"></i>
                                    </button>


                                    <button id="export" class="btn btn-primary btn-sm" type="button" ng-click='ExprotBTN()' title="Export">
                                        <div class="glyphicon glyphicon-export"></div>
                                    </button>

                                    <button class="btn btn-primary btn-sm" type="button" ng-click='ImportBTN()' title="Import">
                                        <div class="glyphicon glyphicon-import"></div>
                                    </button>

                                    </div>

                                @*---------------PICKLIST IMPORT--------*@

                               
                                </div>




                                <div class="col-sm-12" ng-show="Importdiv" id="showImportdiv">
                                    <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png); box-sizing:border-box; background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;       box-shadow: 0 1px 0 #2c232b inset;">
                                        <i class="clip-bubbles-2" style="background-color: #fff; color: black;box-sizing:border-box;"></i>
                                        Import
                                    </div>
                                  
                                   
                                        <div ng-show="showImportdiv">
                                            @{Html.RenderPartial("~/Views/App/Partials/PickListImport.cshtml");
                                            }
                                        </div>
                                    
                                   
                                </div>



                                @*----------------------PICKLIST END---------------*@

                                 


                                    @*<button id="refreshPickList" class="btn btn-primary btn-sm" type="button" ng-click='refreshPicklist()' ng-disabled="addNewPickList" title="Refresh picklist">
                                            Refresh
                                        </button>*@
                                </div>

                                @*<div class="col-sm-4 padding-0">
                                        <div class="col-sm-3 padding-0" style="margin-top: 5px;">PickList type  {{PickListDataType.PICKLIST_DATA_TYPE}} </div>
                                        <div class="col-sm-2" style="margin-top: 0px;">

                                            <button class="btn btn-primary btn-xs" ng-disabled="!userRoleDeletePickList" type="button" ng-click='DeletePickList()' id="piclist_delete" title="Delete picklist">
                                                Delete
                                            </button>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                       

                        <div id="PicklistGrid" class="col-sm-12">
                            <div id="PickListValues">
                                <div kendo-grid id="PickListValuesgrid" ng-disabled="!userRoleModifyPickList" options="GetPickListValues">
                                </div>
                            </div>
                            <div id="PickListDateValues">
                                <div kendo-grid id="PickListDateValuesgrid" ng-disabled="!userRoleModifyPickList" options="GetPickListDateValues">
                                </div>
                            </div>
                            <div id="PickListNumberValues">
                                <div kendo-grid id="PickListNumberValuesgrid" ng-disabled="!userRoleModifyPickList" options="GetPickListNumberValues">
                                </div>
                            </div>

                        </div>

                        @*<div id="PicklistImportPage">
                            @{Html.RenderPartial("~/Views/App/Partials/PicklistImport.cshtml");
                            }
                        </div>*@







                    </div>



                    @*<span>{{displayFileName}}</span>
                        <div class="file-upload btn btn-primary" style="background: #fff;color: #000;width: 17%;border: 2px solid #d0cfcf !important;height: 81px;padding-bottom: 10px;margin-top: 0px;margin-left:600px">
                            @*<span>Choose file</span>*@

                    @*<js-xls onread="selectFileforUploadRead" class="selectbulkfile uploadbtnstyle" style="padding: 0px; height: 73px" title="Click to browse the import file" accept=".xls,.xlsx"> </js-xls>*@
                    @*<input style="padding: 0px; height: 73px" type="file" ng-disabled="sampleEnable" class="selectbulkfile uploadbtnstyle" title="Drag & Drop or Select file" name="file" accept=".xls,.xlsx" id="importfile1" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                            <img style="width: 40%" src="~/Images/drag.png" />
                        </div>

                        <div style="padding-bottom: 10px;margin-top: 10px;margin-left:680px">

                            <button id="ResetID" class="btn btn-primary btn-sm" type="button" ng-click='ResetBTN()' title="Reset">
                                Reset
                            </button>*@



                    @*<button id="ImportID" class="btn btn-primary btn-sm" type="button" ng-click='ImportBTN()' title="Import">
                                Import
                            </button>
                        </div>*@



                </div>

            </div>
      
</form>

@section scripts{
    <script type="text/javascript" src='@Url.Content("~/Views/App/Picklist/picklistController.js")'></script>
    @*<script type="text/javascript" src='@Url.Content("~/Views/App/Category/categoryController.js")'></script>*@
}