﻿


<div class="col-sm-12">
<div class="col-sm-2"></div>
<div class="col-sm-8 row">

    <div class="col-sm-1 padding-0 textalignright margintop"><label class="bold">From</label></div>
    <div class="col-sm-4"><input type="text" placeholder="Date from" id="DBErrorstart" ng-model="DBErrorFromDate" ng-trim="false" required></div>
    <div class="col-sm-1 padding-0 textalignright margintop"><label class="bold">To</label></div>
    <div class="col-sm-4"><input type="text" placeholder="Date to" id="DBErrorend" ng-model="DBErrorToDate" ng-trim="false" required></div>


    <button class="btn btn-primary btn-sm" style="margin-top: 3px;" id="ViewSyncError" type="button" ng-click='ViewSyncDBErrorLogs()'>
       ErrorLogs
    </button>
</div>
<div class="col-sm-2"></div>
    </div>

<div id="WebSyncDBErrorgrids" class="margin-top-45">
    <div kendo-grid options="WebSyncDBErrorGridOptions" id="WebSyncDBError" >

    </div>
</div>

   





