﻿ 
 <style type="text/css">
                #details-container
                {
                    padding: 10px;
                }

                #details-container h2
                {
                    margin: 0;
                }
                </style>

    <div id="WebSyncgrids" class="margin-top-25">
        <div kendo-grid options="WebSyncMainLogGridOptions" id="WebsyncSyncError">

        </div>
</div>
<div id="details">
</div>
    <script type="text/x-kendo-template" id="newgrouptemplate">
        <kendo-grid id="WebSyncGrid" options="WebSyncErrorLog(dataItem)">
            <div k-detail-template>
                <kendo-tabstrip id="kendotabstrip1">
                </kendo-tabstrip>
            </div>
            
        </kendo-grid>
    </script>
@*<script type="text/x-kendo-template" id="newgrouptemplate">
    <div id="details-container">
        <h2>#=Message #</h2>
    </div>
</script>*@
  



