﻿
<script type="text/javascript" src='@Url.Content("~/Views/App/ColumnSetup/ColumnSetupController.js")'></script>

<style>
    .heightsample {
        height: 600px !important;
        width: 70%;
    }
</style>

<style>

    </style>
<form name="myForm" ng-controller="ColumnSetupController" ng-cloak>
    <div class="col-sm-12 no-padding">
        @*<p ng-bind-html="myHTML"></p>*@

        <table>
            <tbody>
                <tr>
                    <td style="vertical-align: top">
                        <h6>Available Attributes</h6>
                        <div class="navbar-content" id="showAttributeName">
                            <div class="main-navigation navbar-collapse1" style="position: inherit; width: 345px;">
                                <div style="overflow: auto; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                                    <div id="chkbxAttributeId" style="text-align: left !important;">
                                        <kendo-grid options="mainGridOptions">
                                        </kendo-grid>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-default btn-xs" ng-click="SavePublishAttributes()"><span class="glyphicon glyphicon-arrow-right"></span></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-default btn-xs" ng-click="DeletePublishAttributes()"><span class=" glyphicon glyphicon-arrow-left"></span></button>
                                </td>
                            </tr>

                        </table>
                    </td>
                    <td style="vertical-align: top">
                        <h6>Selected Attributes</h6>
                        <div class="navbar-content" id="showSelectedAttributes">
                            <div class="main-navigation navbar-collapse1" style="position: inherit; width: 345px;">
                                <div style="overflow: auto; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                                    <div id="chkbxselAttributeId">
                                        <div kendo-grid="prodselectgrid" options="selectedGridOptions">
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                        <br />
                        <div align="center">
                            <button type="button" class="btn btn-default btn-xs" ng-click="UnPublishAttributes()">Publish / UnPublish</button>
                        </div>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-default btn-xs" ng-click="BtnMoveUpClick()"><span class="glyphicon glyphicon-arrow-up"></span></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-default btn-xs" ng-click="BtnMoveDownClick()"><span class="glyphicon glyphicon-arrow-down"></span></button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</form>