﻿
<div class="panel" style="margin-top: 10px;">
    <div id="accordion" style="max-width: 100%;">
        <button class="ui-accordion-header ui-state-default ui-accordion-icons ui-accordion-header-active ui-state-active ui-corner-top" style="width: 94%; text-align: left;">
            <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span>
        Product Groups ({{CatfamilyPackCount}})</button>
       
        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="width: 94%;" >
            <div kendo-grid options="CategoryfamilyAttributePackOptions">
            </div>
        </div>
        <button class="ui-accordion-header ui-state-default ui-accordion-icons ui-accordion-header-active ui-state-active ui-corner-top" style="width: 94%; text-align: left;">
            <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span>
        Item Groups ({{CatprodPackCount}})</button>
        
        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="width: 94%;">
            <div kendo-grid options="CategoryproductAttributePackOptions">
            </div>
        </div>
    </div>

</div>

<!--<div style="margin-top: 10px">
    <div id="accordion">
        <h3>Family Groups ({{CatfamilyPackCount}})</h3>
        <div class="">
            <div kendo-grid options="CategoryfamilyAttributePackOptions">
            </div>
        </div>
        <h3>Product Groups ({{CatprodPackCount}})</h3>
        <div class="">
            <div kendo-grid options="CategoryproductAttributePackOptions">
            </div>
        </div>
    </div>
</div>-->

