﻿<style>
    .heightsample {
        height: 700px !important;
    }
     .selectable {
        font-weight: bold;
      }
</style>

<form name="myForm">

    <div style="width:100%">
  
        <div class="panel-heading1 margin-bottom-10">Category Attribute Management</div>
        <div class="col-sm-12 padding-0 margin-bottom-10" align="center">
            <div>

                <button class="btn btn-primary btn-xs" type="button" ng-click="categoryNewAttributeSetupClick()" title="{{}}">
                    Add New Attribute
                </button>


                <button class="btn btn-primary btn-xs" type="button" ng-click="UnPublishCategoryAttributes()" title="{{}}">
                    Save & Close
                </button>


                <button class="btn btn-primary btn-xs" type="button" ng-click="RefreshCategoryAttributes()" title="{{}}">
                    <i class="fa fa-refresh"></i>
                </button>


                <button class="btn btn-primary btn-xs" type="button" ng-click="CancelCategoryAttributes()" title="{{}}">
                    <i class="fa fa-close"></i>
                </button>
            </div>
        </div>
        @*<div class="col-sm-12 no-padding">
            <table class="margin-left-100">
                <tbody>
                    <tr>
                        <td class="col-sm-1"></td>
                        <td class="col-sm-3" style="vertical-align: top;width: 1%;">
                            <h6 class="col-sm-11 bold alignleft">Available Attributes</h6>
                            <div class="col-sm-3 navbar-content" id="showAttributeName">
                                <div class="main-navigation navbar-collapse1" style="position: inherit; width: 380px;">
                                    <div style="overflow: auto;">
                                        <div id="chkbxAttributeId" style="text-align: left !important;">
                                            <div kendo-grid options="CategoryMainGridOptions" id="CategoryMainGrid">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="width: 4%;">
                            <table>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-default btn-xs" ng-click="SaveCategoryPublishAttributes()" title="{{selectFamilyAttributes}}"><span class="glyphicon glyphicon-arrow-right"></span></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-default btn-xs" ng-click="DeleteCategoryPublishAttributes()" title="{{unselectFamilyAttributes}}"><span class=" glyphicon glyphicon-arrow-left"></span></button>
                                    </td>
                                </tr>

                            </table>
                        </td>
                        <td class="col-sm-3" style="vertical-align: top;width: 1%;">
                            <h6 class="col-sm-11 bold alignleft">Selected Attributes</h6>
                            <div class="col-sm-3 navbar-content" id="showSelectedAttributes">
                                <div class="main-navigation navbar-collapse1" style="position: inherit; width: 380px;">
                                    <div style="overflow: auto;">
                                        <div id="chkbxselAttributeId">
                                            <div kendo-grid="CategoryselectedGrid" options="CategoryattrdataSource">
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>
                            <br />                         
                        </td>
                        <td style="width: 4%;">
                            <table>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-default btn-xs" ng-click="BtnCategoryMoveUpClick()" title="{{}}"><span class="glyphicon glyphicon-arrow-up"></span></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-default btn-xs" ng-click="BtnCategoryMoveDownClick()" title="{{}}"><span class="glyphicon glyphicon-arrow-down"></span></button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="col-sm-1"></td>
                    </tr>
                </tbody>
            </table>
        </div>*@

        <div class="col-sm-12 no-padding">
            <kendo-sortable options="sortableOptions">
                <kendo-grid k-scope-field="myGrid" id="newCategoryAttributeDesign" options="newCategoryAttributeDesign"></kendo-grid>
            </kendo-sortable>
        </div>






    </div>

</form>