﻿<style>
    .heightsample {
        height: 700px !important;
    }
    span.k-widget.k-autocomplete.k-header.k-state-default > input {
    width: 100% !important;
}

</style>

<form name="myForm">

    <div style="width:100%">
        @*<div class="col-sm-4">
                <button class="btn btn-primary btn-xs" type="button" ng-click="familyNewAttributeSetupClick()">
                    Add New Attribute
                </button>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-primary btn-xs" type="button" ng-click="UnPublishFamilyAttributes()">
                    Save & Close
                </button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary btn-xs" type="button" ng-click="RefreshFamilyAttributes()">
                    Refresh
                </button>
            </div>*@
        <div class="panel-heading1 margin-bottom-10">Product Attribute Management</div>
        @*<div class="bold" style="margin-bottom: 23px;margin-bottom: 24px;text-align: center">Family Attribute Management</div>*@
        <div class="col-sm-12 padding-0 margin-bottom-10" align="center">
            <div>

                <button class="btn btn-primary btn-xs" type="button" ng-click="familyNewAttributeSetupClick()" title="{{newFamilyAttributeSetup}}">
                    Add New Attribute
                </button>


                <button class="btn btn-primary btn-xs" type="button" ng-click="UnPublishFamilyAttributes()" title="{{saveFamilyAttributeSetup}}">
                    Save & Close
                </button>


                <button class="btn btn-primary btn-xs" type="button" ng-click="RefreshFamilyAttributes()" title="{{refreshFamilyAttributeSetup}}">
                    <i class="fa fa-refresh"></i>
                </button>


                <button class="btn btn-primary btn-xs" type="button" ng-click="CancelFamilyAttributes()" title="{{cancelFamilyAttributeSetup}}">
                    <i class="fa fa-close"></i>
                </button>


                @*<td style="padding: 10px">
                        <button class="btn btn-primary btn-xs" type="button" ng-click="UnPublishFamilyAttributes()" title="Cancel">

                            UnPublish
                        </button>
                    </td>*@

            </div>
        </div>

        @*Famiily Atribute Setup  - Start*@


        <div class="col-sm-12 no-padding">
            <kendo-sortable options="sortableOptions">
                <div kendo-grid="newCategoryAttribute" id="newFamilyAttributeDesign" options="newFamilyAttributeDesign">

                </div>
            </kendo-sortable>

        </div>

        @*Famiily Atribute Setup  - Start*@



        @*     <div class="col-sm-12 no-padding">
                <table class="margin-left-100">
                    <tbody>
                        <tr>
                            <td class="col-sm-1"></td>
                            <td class="col-sm-3" style="vertical-align: top;width: 1%;">
                                <h6 class="col-sm-11 bold alignleft">Available Attributes</h6>
                                <div class="col-sm-3 navbar-content" id="showAttributeName">
                                    <div class="main-navigation navbar-collapse1" style="position: inherit; width: 380px;">
                                        <div style="overflow: auto;">
                                            <div id="chkbxAttributeId" style="text-align: left !important;">
                                                <div kendo-grid options="familymainGridOptions" id="familymainGrid">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style="width: 4%;">
                                <table>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="SavePublishAttributes()" title="{{selectFamilyAttributes}}"><span class="glyphicon glyphicon-arrow-right"></span></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="DeletePublishAttributes()" title="{{unselectFamilyAttributes}}"><span class=" glyphicon glyphicon-arrow-left"></span></button>
                                        </td>
                                    </tr>

                                </table>
                            </td>
                            <td class="col-sm-3" style="vertical-align: top;width: 1%;">
                                <h6 class="col-sm-11 bold alignleft">Selected Attributes</h6>
                                <div class="col-sm-3 navbar-content" id="showSelectedAttributes">
                                    <div class="main-navigation navbar-collapse1" style="position: inherit; width: 380px;">
                                        <div style="overflow: auto;">
                                            <div id="chkbxselAttributeId">
                                                <div kendo-grid="prodselectedgrid" options="familyselectedGridOptions">
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                                <br />
                                <!--<div align="center">
                <button type="button" class="btn btn-default btn-xs" ng-click="UnPublishAttributes()">Publish / UnPublish</button>
            </div>-->
                            </td>
                            <td style="width: 4%;">
                                <table>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="BtnFamilyMoveUpClick()" title="{{moveFamilyAttributesUp}}"><span class="glyphicon glyphicon-arrow-up"></span></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="BtnFamilyMoveDownClick()" title="{{moveFamilyAttributesDown}}"><span class="glyphicon glyphicon-arrow-down"></span></button>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td class="col-sm-1"></td>
                        </tr>
                    </tbody>
                </table>
            </div>



        *@




    </div>

</form>