﻿<style>
    .k-pager-wrap.k-grid-pager.k-widget.k-floatwrap {
        padding-top: 20px;
}
  
</style>
<div class="col-sm-12 padding-0" style="float:left">
    <form name="columsetupproductform">
        <div id="popupwindow">
            <div class="col-sm-12 padding-0 margin-top-20 margin-bottom-20" align="center">
                <button class="btn btn-primary btn-xs" type="button" ng-click="productNewAttributeSetupClick()" title="{{newProductAttributeSetup}}">Add New Attribute</button>
                <button class="btn btn-primary btn-xs" type="button" ng-click="UnPublishAttributes()" title="{{saveProductAttributeSetup}}">Save & Close</button>
                <button class="btn btn-primary btn-xs" type="button" ng-click="RefreshProductAttributes()" title="{{refreshProductAttributeSetup}}"><i class="fa fa-refresh"></i></button>
                <button class="btn btn-primary btn-xs" type="button" ng-click="CancelProductAttributes()" title="{{cancelProductAttributeSetup}}"><i class="fa fa-close"></i></button>
            </div>

            <div>
                <div class="col-sm-12 no-padding">
                    <kendo-sortable options="sortableOptions">
                        <div kendo-grid="newProductAttribute" k-scope-field="myGrid" id="id_newProductAttributeDesign" options="newProductAttributeDesign">

                        </div>
                    </kendo-sortable>

                </div>
                @* <div class="col-sm-12 no-padding">
                        <table style="margin-left: 50px;margin-right: 50px;">
                            <tbody>
                                <tr>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-3" style="vertical-align: top;width: 1%;">
                                        <h6 class="col-sm-11 bold alignleft">Available Attributes</h6>
                                        <div class="col-sm-3 navbar-content" id="showAttributeName">
                                            <div class="main-navigation navbar-collapse1" style="position: inherit; width: 380px;">
                                                <div style="overflow: auto;">
                                                    <div id="chkbxAttributeId" style="text-align: left !important;">
                                                        <kendo-grid options="mainGridOptions">
                                                        </kendo-grid>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width: 4%;">
                                        <table>
                                            <tr>
                                                <td>
                                                    <button type="button" class="btn btn-default btn-xs" ng-click="SavePublishAttributes()"><span class="glyphicon glyphicon-arrow-right" title="{{selectProductAttributes}}"></span></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button type="button" class="btn btn-default btn-xs" ng-click="DeletePublishAttributes()"><span class=" glyphicon glyphicon-arrow-left" title="{{unselectProductAttributes}}"></span></button>
                                                </td>
                                            </tr>

                                        </table>
                                    </td>
                                    <td class="col-sm-3" style="vertical-align: top;width: 1%;">
                                        <h6 class="col-sm-11 bold alignleft">Selected Attributes</h6>
                                        <div class="col-sm-3 navbar-content" id="showSelectedAttributes">
                                            <div class="main-navigation navbar-collapse1" style="position: inherit; width: 380px;">
                                                <div style="overflow: auto;">
                                                    <div id="chkbxselAttributeId">
                                                        <div kendo-grid="prodselectgrid" id="newId" options="selectedGridOptions">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>
                                        <br />
                                        <!--<div align="center">
                                                <button type="button" class="btn btn-default btn-xs" ng-click="UnPublishAttributes()">Publish / UnPublish</button>
                                            </div>-->
                                    </td>
                                    <td style="width: 4%;">
                                        <table>
                                            <tr>
                                                <td>
                                                    <button type="button" class="btn btn-default btn-xs" ng-click="BtnMoveUpClick()" title="{{moveProductAttributesUp}}"><span class="glyphicon glyphicon-arrow-up"></span></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button type="button" class="btn btn-default btn-xs" ng-click="BtnMoveDownClick()" title="{{moveProductAttributesDown}}"><span class="glyphicon glyphicon-arrow-down"></span></button>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td class="col-sm-1"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>*@
            </div>


        </div>
    </form>
</div>


