﻿@{
    ViewBag.Title = "Column Setup";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}

<div class="main-content no-margin no-padding container">
    <div class="container no-padding">
        <div class="row no-margin">
            <div class="col-sm-12 no-padding">
                @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Column Setup Details</span>  </div>")
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);
                    background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;
                    box-shadow: 0 1px 0 #2c232b inset;">
                        <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>Attribute Setup Details
                        <div class="panel-tools">
                            @* <div id="imagename" />*@
                        </div>
                    </div>
                    <div style="height: auto;" class="panel-body panel-scroll ps-container">

                        <div class="col-sm-12">
                            <div id="categoryGridView">
                                @{Html.RenderPartial("ColumnSetup/AttributeSetup");}
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>