﻿@using System.Web.UI.WebControls;
@using System.Web.Routing;
@using Stimulsoft.Report.Mvc;


@using Stimulsoft.Base.Drawing;
@using Stimulsoft.Report.Components;
@using Stimulsoft.Report.Dictionary;
@using Stimulsoft.Report;


@{
    ViewBag.Title = "PDF Publish";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}
@*@Html.StiMvcViewerFxRenderScripts();*@
@section styles{
    <style>
        .k-grid table tbody tr {
            cursor: pointer;
        }

        .text-center, table tbody tr td, #dynamictable table tbody tr td {
            height: 35px;
            padding-left: 10px;
        }

        table thead tr th, #dynamictable table thead tr th {
            height: 35px;
            padding-left: 10px;
        }

        a:hover {
            text-decoration: none !important;
        }

        .small-caps {
            letter-spacing: 0em;
        }
    </style>
    <style type="text/css">
       /*.tab-content {
            display: table;
            width: 100%; 
        }*/

        .thumb {
            width: 24px;
            height: 24px;
            float: none;
            position: relative;
            top: 7px;
        }

        form .progress {
            line-height: 15px;
        }

        .progress {
            display: inline-block;
            width: 100px;
            border: 3px groove #CCC;
        }

            .progress div {
                font-size: smaller;
                background: orange;
                width: 0;
            }

        /***File Upload CSS****/

        .file-upload {
            display: block;
            text-align: center;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 12px;
            margin: 2px 10px 0px 0px !important;
        }

            .file-upload .file-select {
                display: block;
                border: 2px solid #091f3f;
                cursor: pointer;
                height: 42px;
                line-height: 40px;
                text-align: left;
                background: #FFFFFF;
                overflow: hidden;
                position: relative;
            }

                .file-upload .file-select .file-select-button {
                    background: #091f3f;
                    padding: 0 10px;
                    display: inline-block;
                    height: 40px;
                    line-height: 40px;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 100;
                    float: left;
                }

                .file-upload .file-select .file-select-name {
                    line-height: 40px;
                    /* display: inline-block; */
                    /*padding: 0 10px;*/
                    font-size: 12px;
                    font-weight: 100;
                }

                .file-upload .file-select:hover {
                    border-color: #4b9f46;
                    transition: all .2s ease-in-out;
                    -moz-transition: all .2s ease-in-out;
                    -webkit-transition: all .2s ease-in-out;
                    -o-transition: all .2s ease-in-out;
                }

                    .file-upload .file-select:hover .file-select-button {
                        background: #4b9f46;
                        color: #FFFFFF;
                        transition: all .2s ease-in-out;
                        -moz-transition: all .2s ease-in-out;
                        -webkit-transition: all .2s ease-in-out;
                        -o-transition: all .2s ease-in-out;
                    }



                .file-upload .file-select input[type=file] {
                    z-index: 100;
                    cursor: pointer;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    filter: alpha(opacity=0);
                }

                .file-upload .file-select.file-select-disabled {
                    opacity: 0.65;
                }

                    .file-upload .file-select.file-select-disabled:hover {
                        cursor: default;
                        display: block;
                        border: 2px solid #dce4ec;
                        color: #34495e;
                        cursor: pointer;
                        height: 40px;
                        line-height: 40px;
                        margin-top: 5px;
                        text-align: left;
                        background: #FFFFFF;
                        overflow: hidden;
                        position: relative;
                    }

                        .file-upload .file-select.file-select-disabled:hover .file-select-button {
                            background: #dce4ec;
                            color: #666666;
                            padding: 0 10px;
                            display: inline-block;
                            height: 40px;
                            line-height: 40px;
                        }

                        .file-upload .file-select.file-select-disabled:hover .file-select-name {
                            line-height: 40px;
                            display: inline-block;
                            padding: 0 10px;
                        }

        /*.file-select-name {
            padding: 0 10px;
            height: 40px;
            line-height: 40px;
            font-size: 12px;
            font-weight: 100;
        }*/

        .ExpressTree {
            overflow: auto;
            max-height: 100px;
            margin-left: 50px;
            margin-top: 10px;
            min-width: 40%;
        }

        div#noFile {
            width: 59%;
            overflow: hidden;
            color: #091f3f;
            bottom: 0;
            left: 0;
            right: 0px;
            min-height: 20px;
            padding: 0px 4px 0px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .k-grid-header th.k-header {
            text-align: center;
       }
    </style>

}
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>
<script type="text/javascript" src='@Url.Content("~/Views/App/XpressCatalog/xpressCatalogController.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Views/App/XpressCatalog/xpressPDFCatalogController.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Views/App/XpressCatalog/XpressDesignPDFCatalogController.js")'></script>
<div class="main-content no-margin no-padding container">
    <form name="Xpresscatalog_Form" ng-controller="xpressCatalogController" novalidate>
        <div class="container no-padding" ng-cloak>
            <div class="row no-margin">
                <div class="col-sm-12 no-padding">

                    @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\"class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">PDFxPress Catalog</span></div>")
                    <div class="panel panel-default">
                        <div style="height: auto;" class="panel-body panel-scroll ps-container">
                            <ul class="nav nav-tabs" role="tablist" id="myTab">
                                <li id="newTemp" ng-show="userPdfCreate" class="active"><a href="#NewTab" data-toggle="tab" title="{{newPDFProject}}">New</a></li>
                                <li id="designTemp" ng-show="userpdfdestemp"><a href="#DesignTemplate" ng-click="switchMethod()" data-toggle="tab" title="{{designPDFTemplate}}">Design</a></li>
                                <li id="openTemp"><a href="#OpenTemplate" data-toggle="tab" title="{{openPDFTemplate}}">Open Template</a></li>
                                @*<li id="runTemp" ng-show="userpdfrun"><a href="#Run" data-toggle="tab" title="{{runPDFTemplate}}">Run</a></li>*@
                                @*<li id="opencatalogTemp" ng-show="userpdfopencat"><a href="#openCatalog" data-toggle="tab" title="{{openCatalogPDF}}">Edit</a></li>*@
                                <li id="downloadTemp"><a href="#Template" data-toggle="tab" ng-click="OpenManage()" title="{{downloadPDFTemplate}}">Manage</a></li>
                            </ul>
                            <div class="tab-content" id="myFamilyContent">
                                <div id="NewTab" class="tab-pane fade in active">
                                    <div id="newPDFTemplate">
                                        <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png); background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0; box-shadow: 0 1px 0 #2c232b inset;">
                                            <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>NewPDF Catalog Project {{usertest}}
                                        </div><br />
                                        <div class="form-horizontal col-sm-12">
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-9">
                                                <div class="form-group" style="line-height: 3;">
                                                    <div class="col-sm-2 bold textalignright padding-0">
                                                        Select Catalog
                                                    </div>
                                                    <div class="col-sm-4">

                                                        <select kendo-drop-down-list
                                                                k-option-label="'--- Select Catalog ---'"
                                                                k-data-text-field="'CATALOG_NAME'"
                                                                k-data-value-field="'CATALOG_ID'"
                                                                k-data-source="catalogDataSource"
                                                                k-on-change="catalogChange(kendoEvent)"
                                                                ng-model="SelectedCatalogId"
                                                                style="width: 180px"></select>
                                                    </div>
                                                    <div class="form-group" style="display: none">
                                                        <div class="col-sm-2 bold textalignright padding-0 margintop">
                                                            Project Type
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div id="projecttype" style="width: 180px;"></div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-2 required-field bold textalignright padding-0">
                                                        Project Name
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" name="description" ng-model="NewProject.projectName" required ng-disabled="Projectnamedisable" ng-trim="false" style="width: 180px !important;" ng-pattern="/[a-zA-Z0-9^]/">
                                                        <p class="error" ng-show="Xpresscatalog_Form.description.$error.pattern">AlphaNumeric only, please.</p>
                                                    </div>

                                                </div>
                                                <div class="form-group">

                                                    <div class="col-sm-2 bold textalignright margintop padding-0">
                                                        PDFxPress Project
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <select kendo-drop-down-list
                                                                k-option-label="'--- New ---'"
                                                                k-data-text-field="'PROJECT_NAME'"
                                                                k-data-value-field="'PROJECT_ID'"
                                                                k-data-source="projectDataSource"
                                                                k-on-change="projectChange(kendoEvent)"
                                                                ng-model="SelectedprojectId"
                                                                style="width:180px"></select>
                                                        <button type="button" class="btn btn-primary btn-xs" ng-click="DeletePDFProject(SelectedprojectId)" title="Delete" ng-disabled="!EditMode" style="height: 29px;padding-top: 3px;"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                    </div>

                                                    <div class="col-sm-2 bold textalignright margintop padding-0">
                                                        Select Categories
                                                    </div></br>
                                                    <div class="col-sm-4 titleblue" style="margin-top: 13px;min-width: 40%;margin-left: 93px;">
                                                        <span><input type="checkbox" id="chkEnabled" ng-model="CheckOrUncheckBox" ng-click="selectAll()"> <b>Check / Uncheck</b></input> </span>
                                                    </div>
                                                    <div class="col-sm-4 ExpressTree"
                                                         kendo-tree-view="tree"
                                                         k-data-source="PDFExpressTreeData"
                                                         id="leftNavTreeViewKendoNavigator1"
                                                         k-load-on-demand="true"
                                                         k-on-change="selectedItem = dataItem"
                                                         k-options="PDFExpressTreeOptionsCatalog"
                                                         style="overflow:auto;max-height:100px;float: right;">
                                                        <span k-template style="width: 100% !important">
                                                            <a class='k-item' id="{{dataItem.id}}" kendo-tooltip k-content="dataItem.CATEGORY_NAME" prevent-click="true">
                                                                {{dataItem.CATEGORY_NAME}}
                                                            </a>

                                                        </span>

                                                    </div>

                                                </div>
                                                @*<div class="form-group">
                                                        <div class="col-sm-2 bold textalignright padding-0">
                                                            Comments
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <textarea id="text" cols="40" rows="5" style="min-width:180px !important;max-width: 250px !important" ng-model="NewProject.comments"></textarea>
                                                        </div>
                                                    </div>*@
                                                <div style="display: none">
                                                    <input type="text" ng-model="NewProject.projectName" id="txtprjnm" />
                                                    <input type="text" ng-model="NewProject.comments" id="txtprjcmnts" />
                                                </div>

                                                <div class="col-sm-12" align="center">
                                                    <button class="btn btn-primary btn-xs" type="submit" ng-disabled="!Xpresscatalog_Form.$valid" ng-click="pdfCatalogType()" title="Create a new project">
                                                        Create
                                                    </button>
                                                </div>


                                            </div>

                                            <div kendo-window="winPDFCatalog" k-resizable="false" k-title="'PDF CatalogWizard'" k-width="1200" k-height="550" k-visible="false"
                                                 k-actions='["Close"]'
                                                 k-modal="true" k-on-open="winPDFCatalogVisible = true" k-on-close="onClose(kendoEvent)">
                                            </div>
                                            <div class="col-sm-1"></div>
                                        </div>

                                        @*<div role="alert" style="position: absolute;padding-left: 10px;padding-top: 5px;">
                                                <span class="error" ng-show="Xpresscatalog_Form.description.$error.required">
                                                    Please Enter the Project Name.
                                                </span>
                                            </div>*@
                                    </div>
                                    <div id="simplePDFTemplateDesinger" style="display: none">
                                        <button id="simpleback" type="button" class="btn btn-primary btn-xs" ng-click="closeSimpletemplate()" title="Back"><i class="fa fa-chevron-left"></i></button>
                                        <button id="simpleDownload" type="button" class="btn btn-primary btn-xs" data-toggle="tooltip" title="Download Current Saved Template" ng-click="downloadSimpletemplate()"><i class="fa fa-download"></i></button>
                                        <br /><br />

                                        <iframe name="SimpleTemplateDesign" style="width:1300px;height:1200px"></iframe>     

                                        <br />


                                    </div>
                                    <div id="hierarchyPDFTemplateDesinger" style="display: none">
                                        <button id="hierarchyback" type="button" class="btn btn-primary btn-xs" ng-click="closeHierarchicaltemplate()" title="Back"><i class="fa fa-chevron-left"></i></button>
                                        <button id="hierarchyDownload" type="button" class="btn btn-primary btn-xs" data-toggle="tooltip" title="Download Current Saved Template" ng-click="downloadHierarchytemplate()"><i class="fa fa-download"></i></button>
                                        <br /><br />
                                        <iframe name="hierarchicalDesignerTemplate" style="width:1300px;height:1200px"></iframe>  
                                        <br />


                                    </div>
                                </div>
                                <div id="DesignTemplate" class="tab-pane fade" ng-click="switchMethod()">
                                    <button id="designDownload" type="button" class="btn btn-primary btn-xs" data-toggle="tooltip" title="Download Current Saved Template" ng-click="downloadDesignTemplate()"><i class="fa fa-download"></i></button>
                                    &nbsp;
                                    <button id="closeDownload" type="button" class="btn btn-primary btn-xs" data-toggle="tooltip" title="Close" ng-click="closeDesignTemplate()"><i class="fa fa-close"></i></button>
                                    <br />
                                    <br />
                                    <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png); background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0; box-shadow: 0 1px 0 #2c232b inset;">
                                        <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>Design
                                    </div>
                                    <iframe name="theFrame" style="width:100%;height:1200px;border: none;"></iframe>














                                    <div kendo-window="winloadreport" k-title="'PDF CatalogWizard'" k-width="400" k-height="230" k-visible="false"
                                         k-actions='["Close"]'
                                         k-modal="true" k-on-open="winloadreportVisible = true" k-on-close="onClose(kendoEvent)">
                                    </div>
                                </div>
                                <div id="OpenTemplate" class="tab-pane fade">

                                    <div style="height: auto; width: 100%;">
                                        <div class="panel-heading" style="background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0; box-shadow: 0 1px 0 #2c232b inset;">
                                            <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>Open template
                                        </div>
                                        <div id="loadreport">
                                            <div class="container">

                                                <div class="col-sm-12">
                                                    <div class="col-sm-6">
                                                        <div class="bold col-sm-7">
                                                            <div class="file-upload">
                                                                <div class="file-select">
                                                                    <div class="file-select-button" id="fileName">Select Template</div>
                                                                    <div class="file-select-name" id="noFile">{{SelectedFileForUploadnamemain}}</div>
                                                                    <input type="file" name="chooseFile" accept=".mrt" onchange="angular.element(this).scope().selectFileforUpload(this.files)" id="chooseFile">
                                                                </div>
                                                            </div>

                                                            @*<input type="file" accept=".mrt" onchange="angular.element(this).scope().selectFileforUpload(this.files)" class="custom-file-input" style="float: right;">*@
                                                            @*<input type="file" name="file" accept=".mrt" onchange="angular.element(this).scope().selectFileforUpload(this.files)" style="display: initial;padding-left: 15px;padding-right: 15px;" required />*@
                                                        </div>

                                                        <div class="col-sm-5" style="margin-top: 6px;">
                                                            <button type="button" class="btn btn-primary btn-xs" ng-click="SaveFile()" title="Load file">Load</button>
                                                            <button type="button" class="btn btn-primary btn-xs " title="Preview file">Preview</button>
                                                            <button type="button" class="btn btn-primary btn-xs " ng-click="SaveRunFile()" title="Publish file">Publish</button>
                                                        </div>
                                                        @*<div class="padding-top-5"></div>
                                                            <div class="padding-top-5 col-sm-2"></div>
                                                            <div class="padding-top-5"></div>*@
                                                    </div>
                                                    <div class="col-sm-4 padding-top-5">

                                                        <div ng-if="SelectedFileForUpload.name!='' && SelectedFileForUpload.name!=null &&SelectedFileForUpload.name!=undefiend">

                                                            <select kendo-drop-down-list
                                                                    k-option-label="'--- Export As ---'"
                                                                    ng-change="ModifiyExportType(this)"
                                                                    ng-model="exportType"
                                                                    style="width: 180px">
                                                                <option value="mdc">Document File</option>
                                                                <option value="pdf">Adobe PDF File</option>
                                                                <option value="xps">Microsoft XPS File</option>
                                                                <option value="ppt">Microsoft Powerpoint File</option>
                                                                <option value="html">Html File</option>
                                                                <option value="txt">Text File</option>
                                                                <option value="rtf">Rich Text File</option>
                                                                <option value="doc">Microsoft Word File</option>
                                                                <option value="xls">Microsoft Excel File</option>
                                                                <option value="csv">Data File</option>
                                                                <option value="jpg">Image File</option>
                                                            </select>
                                                            <button type="button" class="btn btn-primary btn-xs " ng-click="export(exportType)">Export</button>
                                                            <div>
                                                                <p>Note:Export will work only if preview is available.</p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-sm-3"><span class="error">{{FileInvalidMessage}}</span></div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                    <div id="opendesigner" style="display: none">
                                        @Html.Stimulsoft().StiMvcDesigner("MvcDesigner2",

                                        new StiMvcDesignerOptions()
                                        {

                                            Actions =

                                            {
                                                GetReport = "../xpressSimpleCatalog/HierarchicalCatalog",
                                                SaveReport = "../xpressSimpleCatalog/SaveReportHierarchicalTemplaterun",
                                                SaveReportAs = "../xpressSimpleCatalog/SaveReportHierarchicalTemplaterun",
                                                // SaveReportTemplate = "../xpressSimpleCatalog/SaveReportTemplaterun",
                                                //SaveReportTemplateAs = "../xpressSimpleCatalog/SaveReportTemplaterun",
                                                // GetReportSnapshot = "../xpressSimpleCatalog/GetReportSnapshotPreviewrun",
                                                //GetReportSnapshot = "../xpressSimpleCatalog/HierarchicalPreview",
                                                ExportReport = "../XpressCatalog/ExportResult",
                                                //GetReport = "../xpressSimpleCatalog/SimpleCatalog",
                                                DesignerEvent = "../xpressSimpleCatalog/DesignerEvent"
                                            },
                                            Appearance =

                                            {

                                                ShowTooltipsHelp = false,

                                                ShowDialogsHelp = false,

                                                DefaultUnit = Stimulsoft.Report.StiReportUnitType.Centimeters

                                            },

                                            Dictionary =

                                            {

                                                PermissionBusinessObjects = Stimulsoft.Report.Web.StiDesignerPermissions.None,

                                                PermissionDataConnections = Stimulsoft.Report.Web.StiDesignerPermissions.View

                                            },

                                            Bands =

                                            {

                                                ShowChildBand = false,

                                                ShowEmptyBand = false,

                                                ShowOverlayBand = false

                                            },
                                            Server =
                                                {
                                                    RequestTimeout = 300
                                                }

                                        })
                                        <br />

                                        <br />
                                        <button id="openback" type="button" class="btn btn-primary btn-xs" ng-click="closeOpentemplate()" title="Back">Back</button>
                                    </div>

                                </div>
                                <div id="Run" class="tab-pane fade">

                                    <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png); background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0; box-shadow: 0 1px 0 #2c232b inset;">
                                        <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>Run
                                    </div>
                                    <div id="loadreport">
                                        <div class="container">

                                            <div class="col-sm-12">
                                                <div class="col-sm-5">

                                                    <div class="bold col-sm-7">

                                                        <div class="file-upload">
                                                            <div class="file-select">
                                                                <div class="file-select-button" id="fileName">Select Template</div>
                                                                <div class="file-select-name" id="noFile">{{SelectedFileForUploadnamemain}}</div>
                                                                <input type="file" name="chooseFile" accept=".mrt" onchange="angular.element(this).scope().selectFileforUploadRun(this.files)" id="chooseFile">
                                                            </div>
                                                        </div>

                                                        @*Select
                                                            <input type="file" name="file" accept=".mrt" onchange="angular.element(this).scope().selectFileforUploadRun(this.files)" style="display: initial;padding-right: 15px;padding-left: 15px;" required />*@
                                                    </div>
                                                    <div class="padding-top-5 col-sm-2"><button type="button" class="btn btn-primary btn-xs " title="Preview file">Preview</button></div>
                                                    <div class="padding-top-5"><button type="button" class="btn btn-primary btn-xs " ng-click="SaveRunFile()" title="Publish file">Publish</button></div>
                                                </div>

                                                <div class="col-sm-4 padding-top-5">

                                                    <div ng-if="SelectedFileForUploadRun.name!='' && SelectedFileForUploadRun.name!=null &&SelectedFileForUploadRun.name!=undefiend">

                                                        <select kendo-drop-down-list
                                                                k-option-label="'--- Export As ---'"
                                                                ng-change="ModifiyExportType(this)"
                                                                ng-model="exportType"
                                                                style="width: 180px">
                                                            <option value="mdc">Document File</option>
                                                            <option value="pdf">Adobe PDF File</option>
                                                            <option value="xps">Microsoft XPS File</option>
                                                            <option value="ppt">Microsoft Powerpoint File</option>
                                                            <option value="html">Html File</option>
                                                            <option value="txt">Text File</option>
                                                            <option value="rtf">Rich Text File</option>
                                                            <option value="doc">Microsoft Word File</option>
                                                            <option value="xls">Microsoft Excel File</option>
                                                            <option value="csv">Data File</option>
                                                            <option value="jpg">Image File</option>
                                                        </select>
                                                        <button type="button" class="btn btn-primary btn-xs " ng-click="export(exportType)">Export</button>
                                                        @*<div>
                                                                <p>Note:Export after select the Preview.</p>
                                                            </div>*@
                                                    </div>

                                                </div>
                                                <div class="col-sm-3"><span class="error">{{FileInvalidMessage}}</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="runtemplate" style="display: none">
                                        @*@Html.Stimulsoft().StiMvcViewerFx(new StiMvcViewerFxOptions()
                                            {
                                                Actions =
                                                {
                                                    GetReportSnapshot = "../XpressCatalog/RunTemplatePreview",
                                                    ExportReport = "../XpressCatalog/ExportReport"
                                                    //Theme = StiThemeFx.Office2013,
                                                    //   ExportReport = "../XpressCatalog/ExportReport"
                                                    //  ExportReport = "../XpressCatalog/ExportReports"
                                                },
                                                Exports =
                                                {
                                                    ShowExportDialog = true,
                                                    ShowExportToDbf = false,
                                                    ShowExportToDif = false,
                                                    ShowExportToPdf = true
                                                },
                                                Print =
                                                {
                                                    AutoPageOrientation = true,
                                                    AutoPageScale = true
                                                }
                                            })*@
                                        @*@Html.Stimulsoft().StiMvcViewerFx(new StiMvcViewerFxOptions()
                                   {
                                       ActionGetReportSnapshot = "../XpressCatalog/RunTemplatePreview",
                                       //ActionExportReport = "../XpressCatalog/ExportResult",
                                       ShowButtonOpen = false,
                                       ShowButtonAbout = false,
                                       ShowButtonBookmarks = true,
                                       Width = Unit.Percentage(100),
                                       Height = Unit.Pixel(700),
                                       Zoom = 100,
                                       Server =
                                {
                                    RequestTimeout = 300
                                }
                                   })*@
                                        <br />

                                        <br />
                                        <button id="runback" type="button" class="btn btn-primary btn-xs" ng-click="closeRuntemplate()" title="Back">Back</button>
                                    </div>
                                    @*</form>*@
                                </div>

                                <div id="openCatalog" class="tab-pane fade">
                                    <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png); background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0; box-shadow: 0 1px 0 #2c232b inset;">
                                        <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>Edit
                                    </div>
                                    <div id="loadreport">
                                        <div class="container">

                                            <div class="bold padding-left-40 col-sm-3">

                                                <div class="file-upload">
                                                    <div class="file-select">
                                                        <div class="file-select-button" id="fileName">Select Template</div>
                                                        <div class="file-select-name" id="noFile">{{SelectedFileForUploadnamemain}}</div>
                                                        <input type="file" name="chooseFile" accept=".mdc" onchange="angular.element(this).scope().selectFileforUploadCatalog(this.files)" id="chooseFile">
                                                    </div>
                                                </div>
                                            </div>
                                            @*<div class="padding-top-10 bold">
                                                    Select
                                                    <input type="file" name="file" accept=".mdc" onchange="angular.element(this).scope().selectFileforUploadCatalog(this.files)" style="display: initial;padding-left: 15px;" required />
                                                </div>*@

                                            <div class="padding-top-5"><button type="button" class="btn btn-primary btn-xs" ng-click="SaveCatalogFile()" title="Upload file">Publish</button></div>
                                            <div><span class="error">{{FileInvalidMessage}}</span></div>

                                        </div>
                                    </div>
                                    <div id="catalogtemplate" style="display: none">
                                        @*@Html.Stimulsoft().StiMvcViewerFx(new StiMvcViewerFxOptions()
                                   {
                                       ActionGetReportSnapshot = "../XpressCatalog/RunCatalogPreview",
                                       ActionExportReport = "../XpressCatalog/ExportResult",
                                       ShowButtonOpen = false,
                                       ShowButtonAbout = false,
                                       ShowButtonBookmarks = true,
                                       Width = Unit.Percentage(100),
                                       Height = Unit.Pixel(700),
                                       Zoom = 100,
                                       Server =
                                {
                                    RequestTimeout = 300
                                }
                                   })*@
                                        <br />

                                        <br />
                                        <button id="catalogback" type="button" class="btn btn-primary btn-xs" ng-click="closeOpenCatalog()" title="Back">Back</button>
                                    </div>
                                    @*</form>*@
                                </div>
                                <div id="Template" class="tab-pane fade">

                                    <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png); background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0; box-shadow: 0 1px 0 #2c232b inset;">
                                        <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>Manage
                                    </div>
                                    <div id="loadreport">
                                        <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit; border-spacing: 10px;">
                                            <tbody>
                                                <tr>
                                                    <td align="center" width="20%">
                                                        @*<div kendo-grid options="getTemplateValues">
                                                            </div>*@

                                                        <div kendo-grid="getTemplateValues"
                                                             k-auto-bind="true"
                                                             k-sortable="true"
                                                             k-pageable='{ "pageSize": 5, "pageSizes": false,"buttonCount":5 }'
                                                             k-filterable="true"
                                                             k-selectable="false"
                                                             k-columns='getTemplateValuesColumns'
                                                             k-data-source="getTemplateFileValuesDatasource">
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
  
</div>
