﻿@{
    ViewBag.Title = "Version";
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>List of changes for the CatalogStudio</title>
    <link href="../../Design/VersionCss/assets/css/layout.css" rel="stylesheet" />
    <link href="../../Design/VersionCss/assets/css/styles.css" rel="stylesheet" />
    <link rel="shortcut icon" href="../../Views/Version/assets/images/favicon.ico" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:200,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">

    <style>
        .content {
            margin: 10px !important;
        }

        .newfeatureicon {
            background-image: url('../../Design/VersionCss/assets/images/added-line.png');
            width: 30px;
            height: 27px;
            display: block;
            float: left;
        }

        .liststyle {
            list-style: none;
            margin: 4px 4px 10px 0px;
            display: flex;
        }

        .reltitle {
            font-size: 24px;
            margin-bottom: 10px;
            font-weight: 400;
        }

        .relcontant {
            margin-bottom: 20px;
        }

        span.rightarrow {
            color: #339933;
            margin-right: 10px;
        }
    </style>

</head>
<body>

    <!--Header-->
    <div class="col-sm-12">
        <div class="top-header">
            <a href="/en"><img class="logo" alt="Logo" src="../../Design/VersionCss/assets/images/logo.png" /> </a>
            <div class="background" style="background-image: url('../../Design/VersionCss/assets/images/top_bg.jpg'); background-repeat: round;"></div>
            <div class="content"></div>
        </div>
    </div>
    <!--Header Ends-->
    <!--Section One-->
    <div class="custom w3-animate-right">
        <div class="header">
            <table>
                <tbody>
                    <tr>
                        <td class="caption">What's New On</td>
                    </tr>
                    <tr>
                        <td class="caption"><span style="color: #091f3f;font-weight: 500;">Catalog</span><span style="color: #4b9f46;font-weight: 500;">Studio</span> 10.5.2.0</td>
                    </tr>
                    <tr>
                        <td>Roll of enhancements, bug fixes.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Section One Ends-->
    <!--Section Two-->
    <li id="content" style="list-style-type: none;">
        <div class="cs-changes">
            <!-- Changes List -->
            <div class="article changes">

                <div class="reltitle">About This Release</div>
                <div class="relcontant">This release is a full version of the CatalogStudio 10.5.2.0. It can coexist on the same with earlier point releases of the product starting from Version 10.4.</div>

                <div class="reltitle">What’s New</div>
                <div class="relcontant">The following new features are available in this release:</div>
                <!--New Features-->
                <!--<strong class="caption w3-animate-left">WebSync</strong><br>
                    <h5>The following functionalities are implemented in this release:</h5>
                <table class="changes w3-animate-left">
                    <tr><td class="newfeaturebg"></td><td>Navigator Changes</td></tr>
                    <tr><td class="newfeaturebg"></td><td>User-wise filter</td></tr>
                    <tr><td class="newfeaturebg"></td><td>Sync Button is shown at the bottom instead of context menu option.</td></tr>
                    <tr><td class="newfeaturebg"></td><td>Navigator icons have been changed.</td></tr>
                    <tr><td class="newfeaturebg"></td><td>A separate button is provided to do check and uncheck all.</td></tr>
                    <tr><td class="newfeaturebg"></td><td>WebSync “From” and “To” Date filters.</td></tr>
                    <tr><td class="newfeaturebg"></td><td>Implemented the “Test” Button in the preferences to test the configured WebService URL.</td></tr>
                    <tr><td class="newfeaturebg"></td><td>User can view the Sync Log</td></tr>
                    <tr><td class="newfeaturebg"></td><td>Status changes.</td></tr>
                    <tr><td class="newfeaturebg"></td><td>Detailed Log with synced items in each Job.</td></tr>
                    <tr><td class="newfeaturebg"></td><td>Navigator Changes</td></tr>
                    <tr><td class="newfeaturebg"></td><td>On Web Sync Completion - Hyperlink is shown to view and download the XML.</td></tr>
                    <tr><td class="newfeaturebg"></td><td>Created user changes in Websync Stored Procedures and triggers ("Tbadmin" to "Specific User" for newly developed features)</td></tr>
                </table>-->


                <div class="changes w3-animate-left" style="margin-bottom: 30px !important;">
                    <h3 style="font-size: 20px;margin-bottom: 15px;">Export</h3>
                    <div class="newfeatureicon"></div><div class="content">The following functionality is implemented in the Export:</div>
                    <ul>
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>Export is handled in the Batch process.</li>
                        <!--<li class="liststyle"><span class="rightarrow">&#8658;</span>User-wise filter</li>
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>Sync Button is shown at the bottom instead of context menu option.</li>
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>Navigator icons have been changed.</li>
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>A separate button is provided to do check and uncheck all.</li>
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>WebSync “From” and “To” Date filters.</li>
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>Implemented the “Test” Button in the preferences to test the configured WebService URL.</li>
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>Sync Log</li>
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>Status changes.</li>
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>Detailed Log with synced items in each Job.</liclass="liststyle">
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>Navigator Changes</li>
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>On Web Sync Completion - Hyperlink is shown to view and download the XML.</li>
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>Created user changes in Websync Stored Procedures and triggers (&quot;Tbadmin&quot; to &quot;Specific User&quot; for newly developed features)</li>-->
                    </ul>
                </div>

                <div class="changes w3-animate-left" style="margin-bottom: 30px !important;">
                    <h3 style="font-size: 20px;margin-bottom: 15px;">Dashboard</h3>
                    <div class="newfeatureicon"></div><div class="content">The following functionalities are implemented in the Dashboard:</div>
                    <ul>
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>Date wise filter with modified user information.</li>
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>User can view the release notes of the different CatalogStudio Versions on the Dashboard.</li>

                    </ul>
                </div>

                <div class="changes w3-animate-left" style="margin-bottom: 30px !important;">
                    <h3 style="font-size: 20px;margin-bottom: 15px;">Catalog Creation</h3>
                    <div class="newfeatureicon"></div><div class="content">The following functionalities are implemented in the Catalog Creation Page:</div>
                    <ul>
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>Whenever the user creates a new Catalog the default category and default family will be automatically created.</li>
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>User can clone some other Catalog during new catalog creation process.</li>

                    </ul>
                </div>

                <div class="changes w3-animate-left" style="margin-bottom: 30px !important;">
                    <h3 style="font-size: 20px;margin-bottom: 15px;">Product Updates Using Context Menu</h3>
                    <div class="newfeatureicon"></div><div class="content">The following functionality is implemented in the Item# Configuration:</div>
                    <ul>
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>User can create a new product, attach, detach, cut, copy and update the product sort sequence wherever they want in the product grid using the context menu.</li>
                    </ul>
                </div>

                <div class="changes w3-animate-left" style="margin-bottom: 30px !important;">
                    <h3 style="font-size: 20px;margin-bottom: 15px;">Reference Table</h3>
                    <div class="newfeatureicon"></div><div class="content">The following functionality is implemented in the Reference Table:</div>
                    <ul>
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>The User can export and import the reference table values.</li>
                    </ul>
                </div>

                <div class="changes w3-animate-left" style="margin-bottom: 30px !important;">
                    <h3 style="font-size: 20px;margin-bottom: 15px;">Attribute Search Using Filters</h3>
                    <div class="newfeatureicon"></div><div class="content">The following functionality is implemented in the Attribute Search:</div>
                    <ul>
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>The Attribute search functionality is implemented in the CatalogStudio where the user can search the product and family level attributes using the filter option.</li>
                    </ul>
                </div>

                <div class="changes w3-animate-left" style="margin-bottom: 30px !important;">
                    <h3 style="font-size: 20px;margin-bottom: 15px;">Navigator</h3>
                    <div class="newfeatureicon"></div><div class="content">The following functionality is implemented in the Navigator:</div>
                    <ul>
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>The users have an option to resize the Navigator and they also have an option to pin and unpin the navigator.</li>
                    </ul>
                </div>

                <div class="changes w3-animate-left" style="margin-bottom: 30px !important;">
                    <h3 style="font-size: 20px;margin-bottom: 15px;">Publish Options</h3>
                    <div class="newfeatureicon"></div><div class="content">The following functionality is implemented in the Publish Options:</div>
                    <ul>
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>Various publishing options like Publish to WEB, Publish to PRINT, Publish to PDF, Publish to EXPORT and Publish to IMPORT are implemented in the CatalogStudio.</li>
                    </ul>
                </div>

                <div class="changes w3-animate-left" style="margin-bottom: 30px !important;">
                    <h3 style="font-size: 20px;margin-bottom: 15px;">Family Level Attribute Edit</h3>
                    <div class="newfeatureicon"></div><div class="content">The following functionality is implemented in the Family Level Attribute:</div>
                    <ul>
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>Family level attribute edit functionality is implemented in the CatalogStudio as like the Product edit.</li>
                    </ul>
                </div>

                <div class="changes w3-animate-left" style="margin-bottom: 30px !important;">
                    <h3 style="font-size: 20px;margin-bottom: 15px;">Preview option in the Indesign Project Creation </h3>
                    <div class="newfeatureicon"></div><div class="content">The following functionality is implemented in the Indesign project creation page:</div>
                    <ul>
                        <li class="liststyle"><span class="rightarrow">&#8658;</span> The new preview option is implemented in the CatalogStudio where the user can preview the selected Catalog Data File and all the product and sub-product attributes associated with the selected families.</li>
                    </ul>
                </div>


                <!--New Features Ends-->
                <!--Fixed Bugs-->
                <!--<strong class="caption w3-animate-left">Fixed Bugs:</strong>
                <br>
                <table class="changes w3-animate-left">

                    <tr><td class="fixedbugbg"></td><td>Item# Configurable</td></tr>
                    <tr><td class="fixedbugbg"></td><td>If we export the catalog without hierarchy the product sheet shows all the family attributes.</td></tr>
                    <tr><td class="fixedbugbg"></td><td>If we do partial export the family sheet displays all the families under the selected category.</td></tr>
                    <tr><td class="fixedbugbg"></td><td>In the Indesign page, after adding the family we tried to change the sort order by clicking on the edit button but the drop-down alignment gets collapsed.</td></tr>
                    <tr><td class="fixedbugbg"></td><td>Publish Export with hierarchy.</td></tr>
                    <tr><td class="fixedbugbg"></td><td>In the publish export page, if we choose existing template the category and families are not displayed when we choose Partial Export.</td></tr>
                    <tr><td class="fixedbugbg"></td><td>In the preferences page if we set the sub products as &quot;NO&quot; then the &quot;Display SubItem No&quot; should not be shown in preferences page.</td></tr>
                    <tr><td class="fixedbugbg"></td><td>WinForms, Wpf, WpfV2 designers. The sorting in the data dictionary worked incorrectly (the elements were sorted after the report was reopened, even if NoSort was set).</td></tr>
                    <tr><td class="fixedbugbg"></td><td>Check the validation for the &quot;From&quot; and &quot;To&quot; field in the WebSync page.</td></tr>
                    <tr><td class="fixedbugbg"></td><td>After doing publish export Category short is not displayed in the family sheets.</td></tr>
                </table>-->
                <!--Fixed Bugs Ends-->
            </div>

        </div>
        </div>
        <!--Section Two Ends-->
        <!--Footer-->
        <div class="col-sm-12 footer">
            <span>Copyright © 2018 Questudio. All rights reserved.</span>
        </div>
        <!--Footer Ends-->

</body>
</html>

