﻿@{
    ViewBag.Title = "Announcement";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}


<link href="../../Design/VersionCss/assets/css/layout.css" rel="stylesheet" />
<link href="../../Design/VersionCss/assets/css/styles.css" rel="stylesheet" />
<link rel="shortcut icon" href="../../Views/Version/assets/images/favicon.ico" type="image/x-icon" />
<link href='https://fonts.googleapis.com/css?family=Raleway:200,400' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">*@

<style>
    .content {
        margin: 10px !important;
    }

    .newfeatureicon {
        background-image: url('../../Design/VersionCss/assets/images/added-line.png');
        width: 30px;
        height: 27px;
        display: block;
        float: left;
    }

    .liststyle {
        list-style: none;
        margin: 4px 4px 10px 0px;
        display: flex;
    }

    .reltitle {
        font-size: 24px;
        margin-bottom: 10px;
        font-weight: 400;
    }

    .relcontant {
        margin-bottom: 20px;
    }

    span.rightarrow {
        color: #339933;
        margin-right: 10px;
    }

    .caption {
    font-size: 25px;
    padding-top: 25px;
}

    div.header1 {
    height:80px;
    background: #4a729a;
    text-align: center;
    color: #fff;
}
</style>


<body ng-controller="UserDashboardController">

    <!--Header-->
    @*<div class="col-sm-12">
            <div class="top-header">
                <a href="/en"><img class="logo" alt="Logo" src="../../Design/VersionCss/assets/images/logo.png" /> </a>
                <div class="background" style="background-image: url('../../Design/VersionCss/assets/images/top_bg.jpg'); background-repeat: round;"></div>
                <div class="content"></div>
            </div>
        </div>*@
    <!--Header Ends-->
    <!--Section One-->
    <div class="custom w3-animate-right">
        <div class="header1">

            <div class="col-sm-12">
                <div class="caption">Announcement</div>
                </div>

            @*<div class="col-sm-12">
                <div class="caption"><span style="color: #091f3f;font-weight: 500;">Catalog</span><span style="color: #4b9f46;font-weight: 500;">Studio</span> 10.6.1.0</div>
            </div>*@

            @*<table>
                <tbody>
                    <tr>
                        <td class="caption">Announcement</td>
                    </tr>
                    <tr>
                        <td class="caption"><span style="color: #091f3f;font-weight: 500;">Catalog</span><span style="color: #4b9f46;font-weight: 500;">Studio</span> 10.6.0.0</td>
                    </tr>
                </tbody>
            </table>*@
        </div>
    </div>
    <!--Section One Ends-->
    <!--Section Two-->
    <li id="content" style="list-style-type: none;">
        <div class="cs-changes">
            <!-- Changes List -->
            <div class="article changes" ng-repeat="item in GetAnnouncement" style="padding: 30px 0px;">

                @*<div class="reltitle"></div>
                    <div class="relcontant">This release is a full version of the CatalogStudio 10.6.0.0. It can coexist on the same with earlier point releases of the product starting from Version 10.4.</div>

                    <div class="reltitle">What’s New</div>
                    <div class="relcontant">The following new features are available in this release:</div>*@

                @*<div class="changes w3-animate-left" style="margin-bottom: 30px !important;">
                        <h3 style="font-size: 20px;margin-bottom: 15px;">Attribute Group</h3>
                        <div class="newfeatureicon"></div><div class="content">The following functionalities are implemented in the Attribute Group:</div>
                        <ul>
                            <li class="liststyle"><span class="rightarrow">&#8658;</span>CatalogStudio now has an option to group the Family or Product level attributes into a group. If the user associates a group the attributes available under that group will be associated with the relevant Families / Products. Attribute group association can be done using Global attribute manager and by right clicking context menu in the navigator. Attribute group has been considered in InDesign projects. The previously developed Attribute group feature developed at the level of each family has been renamed as Attribute Pack and will be discontinued in future release</li>

                        </ul>
                    </div>*@

                <div class="changes w3-animate-left">



                    <h3 style="font-size: 20px;margin-bottom: 15px;">{{item.Announcement_Header}}</h3>
                    <div class="newfeatureicon"></div><div class="content">{{item.Announcement_Date}}</div>
                    <ul>
                        <li class="liststyle"><span class="rightarrow">&#8658;</span>{{item.Announcement_Description}}</li>
                        <!--<li class="liststyle">&#8658;&nbsp;If we do publish export separate sheets will be generated for families, products, and sub-products.</li>-->
                    </ul>
                </div>

              

                <!--New Features Ends-->

            </div>

        </div>
        <!--Section Two Ends-->
        <!--Footer-->
        <div class="col-sm-12 footer">
            <span>Copyright © 2018 Questudio. All rights reserved.</span>
        </div>
        <!--Footer Ends-->

</body>


