﻿@{
    Layout = null;
}
@{
    var ImageName = "";
    if (string.IsNullOrEmpty(@HttpContext.Current.Session["ProductTitle"] as string))
    {

        ImageName = "MarketStudio.png";
    }
    else
    {
        var ProductTitle = @HttpContext.Current.Session["ProductTitle"].ToString();
        ImageName = ProductTitle + ".png";
    }


}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="CatalogStudio Login Page">
    <meta name="author" content="">
    <title>CatalogStudio</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Design/Login/assets/css/bootstrap.min.css" rel="stylesheet">
    @*<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">*@
    <!-- Custom CSS -->
    @*<link href="~/Design/Login/assets/css/logo-nav.css" rel="stylesheet">*@
    <link href="~/Design/Login/assets/css/style.css" rel="stylesheet">
    <link href="~/Design/Login/assets/css/sticky-footer.css" rel="stylesheet">
</head>
<body class="background-color-blue login-bg">
    <section class="margin-top-60 margin-bottom-80">

        <div class="container">
            <div class="row">
                <div class="col-lg-offset-4 col-sm-offset-3 col-lg-4 col-sm-6  col-xs-12 padding-20">
                    <div class="border login-box text-center padding-20">
                        <img class="img-initial margin-vertical-20" src="~/Design/Login/assets/images/@ImageName" alt="Questudio">
                        @if (ViewBag.result != null)
                        {
                            <div class="labelclass">
                                <label style="color:black !important;font-weight: 400;">@ViewBag.result</label>
                                @Html.ActionLink("Go to Logon Page", "LogOn", "Accounts")
                            </div>
                        }
                        else
                        {
                            <form class="color-grey">
                                Thank you for choosing Questudio products. <br /> <br />
                                <div class="color-red"> @ViewBag.Message<br /><br /></div>
                                Please contact <a>support@questudio.com</a>&nbsp;for activation / query.
                            </form>

                        }
                      
                    </div>
                </div>
            </div>
           
        </div>

    </section>
    <div class="footer">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left footer-center background-color-white padding-0">
            A <a href="http://www.questudio.com/" target="_blank"><img class="img-initial margin-left-5" src="~/Design/Login/assets/images/questudio_colorlogo.png" alt="Questudio"></a> product
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center footer-center background-color-white padding-0">
            © Questudio Inc. @DateTime.Now.Year
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right footer-center background-color-white ">
            Version 10.9.3
        </div>
    </div>
</body>
</html>






