﻿@{
    ViewBag.Title = "Reference Table Details";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}

<script type="text/javascript" src='@Url.Content("~/Views/App/Reference/Referencetable.js")'></script>
<div class="main-content no-margin no-padding container" ng-cloak>
    <div class="container no-padding">
        <div class="row no-margin">
            <div class="col-sm-12 no-padding">
                @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Reference Table</span>  </div>")
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png);
                                       background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;
                                       box-shadow: 0 1px 0 #2c232b inset;">
                        <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>Reference Table
                        <div class="panel-tools">
                            @* <div id="imagename" />*@
                        </div>
                    </div>
                    <div class="container no-padding" ng-controller="ReferencetableController">
                        <div class="row no-margin">
                            <div class="col-sm-12 padding-top-15 padding-bottom-15">
                                <div id="tabstrip" navigatable="false" k-animation="false"  kendo-tab-strip k-content-urls="[ null, null]">
                                    <ul>
                                        <li id="lnkreferenceTab" class="k-state-active" title="{{referenceTableMgmt}}">Reference Table Management</li>
                                        <li id="lnkreferencetablevalueTab" title="{{referenceTableValues}}">Reference Table Values</li>
                                    </ul>
                                    <div style="padding: 10px 30px 15px 0px">
                                        <div id="CategoryTab">
                                            <div>
                                                @{Html.RenderPartial("Reference/Referencetabledetails");}
                                            </div>
                                        </div>
                                    </div>
                                    <div style="padding: 1em;overflow: hidden !important;">
                                        <div id="FamilyTab">
                                            <div>
                                                @{Html.RenderPartial("Reference/ReferenceTableCreation");}
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
