﻿
<form class="col-sm-12" name="Multiple_tbl_Form">
    
    <div>
        @*<div>
            <button type="button" class="btn btn-primary btn-xs" ng-click="btnAddTableName()" title="{{saveReferenceTableMgmt}}"> Save</button>
            <button type="button" class="btn btn-primary btn-xs" ng-click="RefreshGorup()" title="{{refreshReferenceTableMgmt}}">Refresh</button>
       </div>*@
        <div class="col-sm-6 btn-group" style="margin-top: 0px;" role="group" aria-label="...">
            <br />
        </div>
            <div class="col-sm-8 padding-0">
                <div class="col-sm-2 padding-0 bold margin-top-10">Table Name</div>
                <div class="col-sm-4 padding-0">
                    <span class="error" ng-show="Multiple_tbl_Form.tableNames.$error.required && formSubmit==true" ng-hide="formSubmit==false" >*</span>
                    <input type="text" name="tableNames" ng-model="tableName" required class="newGroupTextBox" />
                </div>
            </div>
        <br>
        <br>
        <br>
            <div class="btn-group" style="margin-top: 0px;" role="group" aria-label="...">
                <br />
                @*<button type="button" class="btn btn-default" ng-click="RemoveGorup()"><span class="glyphicon glyphicon-remove"> Remove</span></button>*@
            </div>
            <div>
                <kendo-grid options="referencetableGridOptions" ng-show="EditMode" k-on-change="handleChange(dataItem)" id="gridcategoryfamily"></kendo-grid>
                <kendo-grid options="referencetableGridOptionsWithoutEdit" ng-show="!EditMode" k-on-change="handleChange(dataItem)" id="gridcategoryfamily"></kendo-grid>
                <script type="text/x-kendo-template" id="templates">
                    <div kendo-grid k-options="detailGridReferencetableOptions(dataItem)"></div>
                </script>
            </div>
          <div class="margin-top-15 margin-bottom-10">
            <button type="button" class="btn btn-primary btn-xs" ng-disabled="!EditMode || !userRoleAddReferenceTable "  ng-click="btnAddTableName()" title="{{saveReferenceTableMgmt}}"> <i class="fa fa-save"></i></button>
            <button type="button" class="btn btn-primary btn-xs" ng-disabled="!EditMode"  ng-click="RefreshGorup()" title="{{refreshReferenceTableMgmt}}"> <i class="fa fa-refresh"></i></button>
         </div>
        </div>
    
</form>

