﻿

<script src="~/Design/ng-table.js"></script>
<link rel="stylesheet" href="~/Design/ng-table.css">
<link href="~/Design/angular-block-ui.css" rel="stylesheet" />
<style>
    .k-dropzone {
        padding: 0;
    }
</style>

@*<SCRIPT language="javascript">

            function deleteRow(tableID) {
                try {
                var table = document.getElementById(tableID);
                var rowCount = table.rows.length;

                for(var i=0; i<rowCount; i++) {
                    var row = table.rows[i];
                    var chkbox = row.cells[0].childNodes[0];
                    if(null != chkbox && true == chkbox.checked) {
                        if(rowCount <= 1) {
                            alert("Cannot delete all the rows.");
                            break;
                        }
                        table.deleteRow(i);
                        rowCount--;
                        i--;
                    }


                }
                }catch(e) {
                    alert(e);
                }
            }

    </SCRIPT>*@
<link href="~/Design/ContextMenuNew/dist/jquery.contextMenu.css" rel="stylesheet" />
<link href="~/Design/ContextMenuNew/dist/jquery.contextMenu.min.css" rel="stylesheet" />
<script src="~/Design/ContextMenuNew/gulpfile.js"></script>
<script src="~/Design/ContextMenuNew/karma-saucelabs.conf.js"></script>
<script src="~/Design/ContextMenuNew/src/jquery.contextMenu.js"></script>
<script src="~/Design/ContextMenuNew/src/jquery.ui.position.js"></script>
<script src="~/Design/ContextMenuNew/src/icons/"></script>
<script src="~/Design/ContextMenuNew/wdio.conf.js"></script>
<script type="text/javascript" src='@Url.Content("~/Views/ImageManagement/ImageManagementPopup.js")'></script>
<form class="col-sm-12" name="Catalog_Details_Form">

    <div class="col-sm-8 padding-0">
        <div class="form-horizontal" style="margin-left: 10px">
            <div class="form-group">
                @*<div role="group" aria-label="...">
                        <button type="button" class="btn btn-primary btn-xs" id="product-toolbar-new-product" ng-click="InsertRow()" title="{{insertRow}}">Insert Row</button>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="InsertColumn()" title="{{insertColumn}}">Insert Column</button>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="SaveAllValues(this)" title="{{saveReferenceTable}}"> Save</button>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="RefreshTable()" title="{{refreshReferenceTable}}"> Refresh</button>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="RemoveRow()" title="{{removeRow}}"> Remove Row</button>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="RemoveColumn()" title="{{removeColumn}}"> Remove Column</button>
                    </div>*@

            </div>
        </div>
        <div class="form-horizontal" style="margin-left: 10px;">

            <div class="form-group padding-0">
                <div class="col-sm-2 padding-0 bold margintop" style="width: 125px;">Reference Table</div>
                <div class="col-sm-2 padding-0">
                    <select id="drpreferencetable" kendo-drop-down-list
                            k-data-text-field="'TABLE_NAME'"
                            k-data-value-field="'TABLE_ID'"
                            k-data-source="ReferenceTableDataSource"
                            k-on-change="ReferenceTableChange(kendoEvent)"
                            ng-model="Table.TABLE_ID"
                            k-selectable="true"
                            style="width:100%"></select>
                </div>

                <div class="col-sm-2 padding-0"><button type="button" class="btn btn-primary btn-xs margin-right-5" style="padding: 4px 10px !important;margin-left: 10px !important;" ng-click="Export()" id="refTblExport" title="Export" ng-disabled="refTblExport || !EditMode || !userRoleAddReferenceTable">Export</button></div>

            </div>

            <div class="addremovecolumn margin-bottom-15 margin-left-30">
                <button type="button" class="btn btn-primary btn-xs margin-right-5" ng-disabled="!EditMode || !userRoleAddReferenceTable" ng-click="InsertColumn()" title="{{insertColumn}}"><i class="fa fa-plus" style="padding: 0px" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-primary btn-xs" ng-disabled="!EditMode || !userRoleRemoveReferenceTable" ng-click="RemoveColumn()" title="{{removeColumn}}"><i class="fa fa-minus" style="padding: 0px" aria-hidden="true"></i></button>
            </div>
            <div class="form-group margin-bottom-0">
                <div class="col-sm-1 padding-0 addremoverow" style="margin-right: -25px;">
                    <button type="button" class="btn btn-primary btn-xs margin-bottom-5" ng-disabled="!EditMode|| !userRoleAddReferenceTable" id="product-toolbar-new-product" ng-click="InsertRow()" title="{{insertRow}}"><i class="fa fa-plus" style="padding: 0px" aria-hidden="true"></i></button>
                    <br>
                    <button type="button" class="btn btn-primary btn-xs" ng-disabled="!EditMode || !userRoleRemoveReferenceTable" ng-click="RemoveRow()" title="{{removeRow}}"><i class="fa fa-minus" style="padding: 0px" aria-hidden="true"></i></button>
                </div>
                <div class="col-sm-8" style="border: 1px solid #4b9f46;overflow: auto;width: 70%;max-height: 215px;">
                    <table ng-table="tblReferenceTable" show-filter="true" style="max-width: 100%;background-color: transparent;border: none;" class="k-grid k-widget">
                        @*<thead class="k-grid-header k-grid-header-wrap">
                                <tr>
                                    <th ng-repeat="column in columnsForReferenceTable" ng-click="setClickedColumn($index)" ng-if="column.show" class=" k-header" style="min-width: 69px;">
                                        <a href="" class="k-link">{{column.title}} </a>
                                        <input type="text" class="form-control input-sm" style="height: 20px;width: 88% !important" ng-model="column.title" />
                                    </th>
                                </tr>
                            </thead>*@

                        <tbody class="k-grid-content">
                            <tr ng-repeat="Data in referenceTableData" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
                                @*<TD><INPUT type="checkbox" name="chk" /></TD>*@
                                <td ng-repeat="column in columnsForReferenceTable" sortable="column.field" ng-if="column.show" ng-click="setClickedColumn($index)" style="border: none;">
                                    <textarea rows="1" cols="50" class="form-control input-sm" id="{{Data['ROW_INDEX']}}{{column.title}}" style="height:20px;width:81% !important" ng-click="setimagepreview($event)" ng-model="Data[column.field]"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-2" ng-if="referenceTableData!=''">




                    @*<div ng-if="Table.ImagePreview && clearImage!=true">
                        @*Image Preview
                        <div style="max-height:100px;width:100%; margin-top: 10px">
                            <div ng-if="Table.ImagePreview != 'No'">
                                <img id="imagePreview" src='../Content/ProductImages/{{getCustomerCompanyName}}/{{Table.ImagePreview}}' alt="{{Table.ImagePreview}}" style="max-width: 100%; max-height: 100px" />
                            </div>
                            <div ng-if="Table.ImagePreview == 'No' && Table.ImagePreview1 != ''">
                                <img id="imagePreview1" src='../Content/{{Table.ImagePreview1}}' alt="{{Table.ImagePreview}}" style="max-width: 100%; max-height: 100px" />
                            </div>
                        </div>

                    </div>*@


                    <div ng-if="Table.ImagePreview && clearImage!=true">
                      
                        <div style="max-height:100px;width:100%; margin-top: 10px">
                            <div ng-if="Table.ImagePreview != 'No'">
                                <img id="imagePreview" src='{{getPathFromWebConfig}}Content/ProductImages/{{getCustomerCompanyName}}{{Table.ImagePreview}}' alt="{{Table.ImagePreview}}" style="max-width: 100%; max-height: 100px" />
                            </div>
                            <div ng-if="Table.ImagePreview == 'No' && Table.ImagePreview1 != ''">
                                <img id="imagePreview1" src='{{getPathFromWebConfig}}{{Table.ImagePreview1}}' alt="{{Table.ImagePreview}}" style="max-width: 100%; max-height: 100px" />
                            </div>
                        </div>
                    </div>

                    <div style="padding:0">
                        <input name="files" type="file" title="Reference Image" ng-disabled="!EditMode || IsView==false"
                               kendo-upload
                               k-async="{ saveUrl: '/Family/SaveFamilyImage', removeUrl: '/Family/RemoveFamilyImage', autoUpload: true , title:'Reference Image' }"
                               k-select="onSelect" ng-if="false"
                               k-success="onSuccess1" />
                        <button title="Reference Image Attach" ng-disabled="IsDisabled || !EditMode || !userRoleAddReferenceTable" type="button" class="btn btn-primary" ng-click='OpenPopupWindow({"value":"ReferenceTableImage"})'><i class="fa fa-paperclip"></i></button>
                        <button ng-if="Table.ImagePreview && clearImage!=true" id="btnClear" class="btn btn-primary btn-xs" style="margin: 1px" type="button" ng-click='clearReferenceTBImgAttach(Table.ImagePreview)' title="Clear Image"><i class="fa fa-close"></i></button>
                    </div>

                </div>
            </div>
            <div class="margin-top-10 margin-bottom-10 margin-left-30">
                <button type="button" class="btn btn-primary btn-xs" ng-disabled="!EditMode || !userRoleAddReferenceTable" ng-click="SaveAllValues(this)" title="{{saveReferenceTable}}"> <i class="fa fa-save"></i></button>
                <button type="button" class="btn btn-primary btn-xs" ng-disabled="!EditMode" ng-click="RefreshTable()" title="{{refreshReferenceTable}}"> <i class="fa fa-refresh"></i></button>
            </div>
        </div>

    </div>
    <div class="col-sm-4 padding-0">
        <br />
        @Html.ActionLink("Download Sample.xls", "DownloadSample", "Catalog")
        <br />
        <br />
        <div class="bold" align="center" style="text-align: left;" id="importPart">
            <label class="bold padding-right-10"> Select Import File </label>

            @*  <div class="file-upload btn btn-primary" style="margin: 0px 10px 0px 10px;">*@
            <div class="file-upload btn btn-primary" style="background: #fff;color: #000;width: 50%;border: 2px solid #d0cfcf !important;height: 20px;padding-bottom: 10px;margin-top: 0px;">

                <input style="padding: 0px; height: 73px" type="file" class="uploadbtnstyle" title="Drag & Drop or Select file" name="file" accept=".xls,.xlsx" id="importfile1reference" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                @*<input class="uploadbtnstyle" type="file" name="file" id="importfamily" accept=".xls,.xlsx" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required>*@
                <img style="width: 20%" src="~/Images/drag.png" />
            </div>
            <br />
            <div style="padding-left: 129px;">
                <span class="uploadfilename1" title="{{SelectedFileForUploadReferenceTable}}">{{SelectedFileForUploadReferenceTable}}</span>
            </div>


            @*<input type="file" name="file" id="importfamily" accept=".xls,.xlsx" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />*@
            @*<a class="k-link" href="../../Content/Excel/FamilyImportTemplate.xlt" style=" float: right; margin-right: -250px; margin-top: -20px;">
                Family Import Template
            </a>*@
        </div>
        <br />

    </div>

    <div class="col-sm-4 padding-0 align-right" style="margin-left: -109px;text-align: right;">
        <button type="button" class="btn btn-primary btn-xs" ng-disabled="!EditMode || !userRoleAddReferenceTable ||!enableReferenceImport" ng-click="SaveFile()" id="importFileRef" title="Import Reference Table"> Import</button>
        <button id="btn-example-file-reset" ng-disabled="!EditMode || !userRoleAddReferenceTable" class="btn btn-primary btn-xs" title="Reset Reference Table" ng-click="ResetReferenceImport()" type="button">Reset</button>
    </div>
    <br />
    <div class="col-sm-4 padding-0 align-right" style="margin-left: -200px;text-align: right;">
        <span class="error">{{FileInvalidMessage}}</span>
    </div>
</form>

<div kendo-window="winManageDrive" k-resizable="false" k-draggable="false" k-title="'Asset Management'" k-width="1170" k-height="620" k-visible="false"
     k-actions='["Close"]' k-modal="true" k-on-open="driveMahementIsVisible==true" k-on-close="onClose(kendoEvent)">
</div>