/*! bulma.io v0.3.2 | MIT License | github.com/jgthms/bulma */
@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes spinAround {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

label.twi-label {
   font-family: 'JosefinSans-Medium';
    letter-spacing: 4.667px;
    font-size: 14px;
    color: #5b5b5b;
    text-transform: uppercase;
    margin-bottom: 0;
}

.input-header {
    text-align: center;
    font-family: edinburgh-regular;
    font-size: 36px;
    letter-spacing: 6.968px;
    line-height: 41px;
}


span.help-block {
    font-family: 'JosefinSans-Light';
}

/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400
}

ul {
    list-style: none
}

button,
input,
select,
textarea {
    margin: 0
}

html {
    box-sizing: border-box
}

* {
    box-sizing: inherit
}

:after,
:before {
    box-sizing: inherit
}

audio,
embed,
img,
object,
video {
    height: auto;
    max-width: 100%
}

iframe {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0;
    text-align: left
}

html {
    background-color: #fff;
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
    display: block
}

body,
button,
input,
select,
textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}

code,
pre {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: Inconsolata, Consolas, Monaco, monospace
}

body {
    color: #4a4a4a;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: JosefinSans-Light;
}

a {
    color: #00d1b2;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: none 86ms ease-out;
    transition: none 86ms ease-out
}

a:hover {
    color: #363636
}

code {
    background-color: #f5f5f5;
    color: #ff3860;
    font-size: .8em;
    font-weight: 400;
    padding: .25em .5em .25em
}

hr {
    background-color: #dbdbdb;
    border: none;
    display: block;
    height: 1px;
    margin: 1.5rem 0
}

img {
    max-width: 100%
}

input[type=checkbox],
input[type=radio] {
    vertical-align: baseline
}

small {
    font-size: .8em
}

span {
    font-style: inherit;
    font-weight: inherit
}

strong {
    color: #363636;
    font-weight: 700
}

pre {
    /*background-color:#f5f5f5*/
 
    color: #4a4a4a;
    /*font-size:.8em*/
   
    white-space: pre;
    word-wrap: normal
}

pre code {
    background: 0 0;
    color: inherit;
    display: block;
    /*font-size:1.4em;*/
    overflow-x: auto;
    padding: 1.25rem 1.5rem
}

table {
    width: 100%
}

table td,
table th {
    text-align: left;
    vertical-align: top
}

table th {
    color: #363636
}

.is-block {
    display: block
}

@media screen and (max-width:768px) {
    .is-block-mobile {
        display: block !important
    }
}

@media screen and (min-width:769px) {
    .is-block-tablet {
        display: block !important
    }
}

@media screen and (min-width:769px) and (max-width:999px) {
    .is-block-tablet-only {
        display: block !important
    }
}

@media screen and (max-width:999px) {
    .is-block-touch {
        display: block !important
    }
}

@media screen and (min-width:1000px) {
    .is-block-desktop {
        display: block !important
    }
}

@media screen and (min-width:1000px) and (max-width:1191px) {
    .is-block-desktop-only {
        display: block !important
    }
}

@media screen and (min-width:1192px) {
    .is-block-widescreen {
        display: block !important
    }
}

.is-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media screen and (max-width:768px) {
    .is-flex-mobile {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important
    }
}

@media screen and (min-width:769px) {
    .is-flex-tablet {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important
    }
}

@media screen and (min-width:769px) and (max-width:999px) {
    .is-flex-tablet-only {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important
    }
}

@media screen and (max-width:999px) {
    .is-flex-touch {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important
    }
}

@media screen and (min-width:1000px) {
    .is-flex-desktop {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important
    }
}

@media screen and (min-width:1000px) and (max-width:1191px) {
    .is-flex-desktop-only {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important
    }
}

@media screen and (min-width:1192px) {
    .is-flex-widescreen {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important
    }
}

.is-inline {
    display: inline
}

@media screen and (max-width:768px) {
    .is-inline-mobile {
        display: inline !important
    }
}

@media screen and (min-width:769px) {
    .is-inline-tablet {
        display: inline !important
    }
}

@media screen and (min-width:769px) and (max-width:999px) {
    .is-inline-tablet-only {
        display: inline !important
    }
}

@media screen and (max-width:999px) {
    .is-inline-touch {
        display: inline !important
    }
}

@media screen and (min-width:1000px) {
    .is-inline-desktop {
        display: inline !important
    }
}

@media screen and (min-width:1000px) and (max-width:1191px) {
    .is-inline-desktop-only {
        display: inline !important
    }
}

@media screen and (min-width:1192px) {
    .is-inline-widescreen {
        display: inline !important
    }
}

.is-inline-block {
    display: inline-block
}

@media screen and (max-width:768px) {
    .is-inline-block-mobile {
        display: inline-block !important
    }
}

@media screen and (min-width:769px) {
    .is-inline-block-tablet {
        display: inline-block !important
    }
}

@media screen and (min-width:769px) and (max-width:999px) {
    .is-inline-block-tablet-only {
        display: inline-block !important
    }
}

@media screen and (max-width:999px) {
    .is-inline-block-touch {
        display: inline-block !important
    }
}

@media screen and (min-width:1000px) {
    .is-inline-block-desktop {
        display: inline-block !important
    }
}

@media screen and (min-width:1000px) and (max-width:1191px) {
    .is-inline-block-desktop-only {
        display: inline-block !important
    }
}

@media screen and (min-width:1192px) {
    .is-inline-block-widescreen {
        display: inline-block !important
    }
}

.is-inline-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}

@media screen and (max-width:768px) {
    .is-inline-flex-mobile {
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important
    }
}

@media screen and (min-width:769px) {
    .is-inline-flex-tablet {
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important
    }
}

@media screen and (min-width:769px) and (max-width:999px) {
    .is-inline-flex-tablet-only {
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important
    }
}

@media screen and (max-width:999px) {
    .is-inline-flex-touch {
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important
    }
}

@media screen and (min-width:1000px) {
    .is-inline-flex-desktop {
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important
    }
}

@media screen and (min-width:1000px) and (max-width:1191px) {
    .is-inline-flex-desktop-only {
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important
    }
}

@media screen and (min-width:1192px) {
    .is-inline-flex-widescreen {
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important
    }
}

.is-clearfix:after {
    clear: both;
    content: " ";
    display: table
}

.is-pulled-left {
    float: left
}

.is-pulled-right {
    float: right
}

.is-clipped {
    overflow: hidden !important
}

.is-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.has-text-centered {
    text-align: center
}

.has-text-left {
    text-align: left
}

.has-text-right {
    text-align: right
}

.is-hidden {
    display: none !important
}

@media screen and (max-width:768px) {
    .is-hidden-mobile {
        display: none !important
    }
}

@media screen and (min-width:769px) {
    .is-hidden-tablet {
        display: none !important
    }
}

@media screen and (min-width:769px) and (max-width:999px) {
    .is-hidden-tablet-only {
        display: none !important
    }
}

@media screen and (max-width:999px) {
    .is-hidden-touch {
        display: none !important
    }
}

@media screen and (min-width:1000px) {
    .is-hidden-desktop {
        display: none !important
    }
}

@media screen and (min-width:1000px) and (max-width:1191px) {
    .is-hidden-desktop-only {
        display: none !important
    }
}

@media screen and (min-width:1192px) {
    .is-hidden-widescreen {
        display: none !important
    }
}

.is-disabled {
    pointer-events: none
}

.is-marginless {
    margin: 0 !important
}

.is-paddingless {
    padding: 0 !important
}

.is-unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.box {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
    display: block;
    padding: 1.25rem
}

.box:not(:last-child) {
    margin-bottom: 1.5rem
}

a.box:focus,
a.box:hover {
    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px #00d1b2
}

a.box:active {
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, .2), 0 0 0 1px #00d1b2
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    height: 2.285em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.5;
    padding-left: .75em;
    padding-right: .75em;
    position: relative;
    vertical-align: top;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    color: #363636;
    cursor: pointer;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: .75em;
    padding-right: .75em;
    text-align: center;
    white-space: nowrap
}

.button.is-active,
.button.is-focused,
.button:active,
.button:focus {
    outline: 0
}

.button.is-disabled,
.button[disabled] {
    pointer-events: none
}

.button strong {
    color: inherit
}

.button .icon:first-child:not(:last-child) {
    margin-left: -.25rem;
    margin-right: .5rem
}

.button .icon:last-child:not(:first-child) {
    margin-left: .5rem;
    margin-right: -.25rem
}

.button .icon:first-child:last-child {
    margin-left: calc(-1px + -.25rem);
    margin-right: calc(-1px + -.25rem)
}

.button .icon.is-small:first-child:not(:last-child) {
    margin-left: 0
}

.button .icon.is-small:last-child:not(:first-child) {
    margin-right: 0
}

.button .icon.is-small:first-child:last-child {
    margin-left: calc(-1px + 0rem);
    margin-right: calc(-1px + 0rem)
}

.button .icon.is-medium:first-child:not(:last-child) {
    margin-left: -.5rem
}

.button .icon.is-medium:last-child:not(:first-child) {
    margin-right: -.5rem
}

.button .icon.is-medium:first-child:last-child {
    margin-left: calc(-1px + -.5rem);
    margin-right: calc(-1px + -.5rem)
}

.button .icon.is-large:first-child:not(:last-child) {
    margin-left: -1rem
}

.button .icon.is-large:last-child:not(:first-child) {
    margin-right: -1rem
}

.button .icon.is-large:first-child:last-child {
    margin-left: calc(-1px + -1rem);
    margin-right: calc(-1px + -1rem)
}

.button.is-hovered,
.button:hover {
    border-color: #f3a23c;
    color: #f3a23c;
}

.button.is-focused,
.button:focus {
    border-color: #00d1b2;
    box-shadow: 0 0 .5em rgba(0, 209, 178, .25);
    color: #363636
}

.button.is-active,
.button:active {
    border-color: #4a4a4a;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, .2);
    color: #363636
}

.button.is-link {
    background-color: transparent;
    border-color: transparent;
    color: #4a4a4a;
    text-decoration: underline
}

.button.is-link.is-active,
.button.is-link.is-focused,
.button.is-link.is-hovered,
.button.is-link:active,
.button.is-link:focus,
.button.is-link:hover {
    background-color: #f5f5f5;
    color: #363636
}

.button.is-white {
    background-color: #fff;
    border-color: transparent;
    color: #0a0a0a
}

.button.is-white.is-hovered,
.button.is-white:hover {
    background-color: #f9f9f9;
    border-color: transparent;
    color: #0a0a0a
}

.button.is-white.is-focused,
.button.is-white:focus {
    border-color: transparent;
    box-shadow: 0 0 .5em rgba(255, 255, 255, .25);
    color: #0a0a0a
}

.button.is-white.is-active,
.button.is-white:active {
    background-color: #f2f2f2;
    border-color: transparent;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, .2);
    color: #0a0a0a
}

.button.is-white.is-inverted {
    background-color: #0a0a0a;
    color: #fff
}

.button.is-white.is-inverted:hover {
    background-color: #000
}

.button.is-white.is-loading:after {
    border-color: transparent transparent #0a0a0a #0a0a0a !important
}

.button.is-white.is-outlined {
    background-color: transparent;
    border-color: #fff;
    color: #fff
}

.button.is-white.is-outlined:focus,
.button.is-white.is-outlined:hover {
    background-color: #fff;
    border-color: #fff;
    color: #0a0a0a
}

.button.is-white.is-outlined.is-loading:after {
    border-color: transparent transparent #fff #fff !important
}

.button.is-white.is-inverted.is-outlined {
    background-color: transparent;
    border-color: #0a0a0a;
    color: #0a0a0a
}

.button.is-white.is-inverted.is-outlined:focus,
.button.is-white.is-inverted.is-outlined:hover {
    background-color: #0a0a0a;
    color: #fff
}

.button.is-black {
    background-color: #0a0a0a;
    border-color: transparent;
    color: #fff
}

.button.is-black.is-hovered,
.button.is-black:hover {
    background-color: #040404;
    border-color: transparent;
    color: #fff
}

.button.is-black.is-focused,
.button.is-black:focus {
    border-color: transparent;
    box-shadow: 0 0 .5em rgba(10, 10, 10, .25);
    color: #fff
}

.button.is-black.is-active,
.button.is-black:active {
    background-color: #000;
    border-color: transparent;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, .2);
    color: #fff
}

.button.is-black.is-inverted {
    background-color: #fff;
    color: #0a0a0a
}

.button.is-black.is-inverted:hover {
    background-color: #f2f2f2
}

.button.is-black.is-loading:after {
    border-color: transparent transparent #fff #fff !important
}

.button.is-black.is-outlined {
    background-color: transparent;
    border-color: #0a0a0a;
    color: #0a0a0a
}

.button.is-black.is-outlined:focus,
.button.is-black.is-outlined:hover {
    background-color: #0a0a0a;
    border-color: #0a0a0a;
    color: #fff
}

.button.is-black.is-outlined.is-loading:after {
    border-color: transparent transparent #0a0a0a #0a0a0a !important
}

.button.is-black.is-inverted.is-outlined {
    background-color: transparent;
    border-color: #fff;
    color: #fff
}

.button.is-black.is-inverted.is-outlined:focus,
.button.is-black.is-inverted.is-outlined:hover {
    background-color: #fff;
    color: #0a0a0a
}

.button.is-light {
    background-color: #f5f5f5;
    border-color: transparent;
    color: #363636
}

.button.is-light.is-hovered,
.button.is-light:hover {
    background-color: #eee;
    border-color: transparent;
    color: #363636
}

.button.is-light.is-focused,
.button.is-light:focus {
    border-color: transparent;
    box-shadow: 0 0 .5em rgba(245, 245, 245, .25);
    color: #363636
}

.button.is-light.is-active,
.button.is-light:active {
    background-color: #e8e8e8;
    border-color: transparent;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, .2);
    color: #363636
}

.button.is-light.is-inverted {
    background-color: #363636;
    color: #f5f5f5
}

.button.is-light.is-inverted:hover {
    background-color: #292929
}

.button.is-light.is-loading:after {
    border-color: transparent transparent #363636 #363636 !important
}

.button.is-light.is-outlined {
    background-color: transparent;
    border-color: #f5f5f5;
    color: #f5f5f5
}

.button.is-light.is-outlined:focus,
.button.is-light.is-outlined:hover {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: #363636
}

.button.is-light.is-outlined.is-loading:after {
    border-color: transparent transparent #f5f5f5 #f5f5f5 !important
}

.button.is-light.is-inverted.is-outlined {
    background-color: transparent;
    border-color: #363636;
    color: #363636
}

.button.is-light.is-inverted.is-outlined:focus,
.button.is-light.is-inverted.is-outlined:hover {
    background-color: #363636;
    color: #f5f5f5
}

.button.is-dark {
    background-color: #363636;
    border-color: transparent;
    color: #f5f5f5
}

.button.is-dark.is-hovered,
.button.is-dark:hover {
    background-color: #2f2f2f;
    border-color: transparent;
    color: #f5f5f5
}

.button.is-dark.is-focused,
.button.is-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 .5em rgba(54, 54, 54, .25);
    color: #f5f5f5
}

.button.is-dark.is-active,
.button.is-dark:active {
    background-color: #292929;
    border-color: transparent;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, .2);
    color: #f5f5f5
}

.button.is-dark.is-inverted {
    background-color: #f5f5f5;
    color: #363636
}

.button.is-dark.is-inverted:hover {
    background-color: #e8e8e8
}

.button.is-dark.is-loading:after {
    border-color: transparent transparent #f5f5f5 #f5f5f5 !important
}

.button.is-dark.is-outlined {
    background-color: transparent;
    border-color: #363636;
    color: #363636
}

.button.is-dark.is-outlined:focus,
.button.is-dark.is-outlined:hover {
    background-color: #363636;
    border-color: #363636;
    color: #f5f5f5
}

.button.is-dark.is-outlined.is-loading:after {
    border-color: transparent transparent #363636 #363636 !important
}

.button.is-dark.is-inverted.is-outlined {
    background-color: transparent;
    border-color: #f5f5f5;
    color: #f5f5f5
}

.button.is-dark.is-inverted.is-outlined:focus,
.button.is-dark.is-inverted.is-outlined:hover {
    background-color: #f5f5f5;
    color: #363636
}

.button.is-primary {
    background-color: #00d1b2;
    border-color: transparent;
    color: #fff
}

.button.is-primary.is-hovered,
.button.is-primary:hover {
    background-color: #00c4a7;
    border-color: transparent;
    color: #fff
}

.button.is-primary.is-focused,
.button.is-primary:focus {
    border-color: transparent;
    box-shadow: 0 0 .5em rgba(0, 209, 178, .25);
    color: #fff
}

.button.is-primary.is-active,
.button.is-primary:active {
    background-color: #00b89c;
    border-color: transparent;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, .2);
    color: #fff
}

.button.is-primary.is-inverted {
    background-color: #fff;
    color: #00d1b2
}

.button.is-primary.is-inverted:hover {
    background-color: #f2f2f2
}

.button.is-primary.is-loading:after {
    border-color: transparent transparent #fff #fff !important
}

.button.is-primary.is-outlined {
    background-color: transparent;
    border-color: #00d1b2;
    color: #00d1b2
}

.button.is-primary.is-outlined:focus,
.button.is-primary.is-outlined:hover {
    background-color: #00d1b2;
    border-color: #00d1b2;
    color: #fff
}

.button.is-primary.is-outlined.is-loading:after {
    border-color: transparent transparent #00d1b2 #00d1b2 !important
}

.button.is-primary.is-inverted.is-outlined {
    background-color: transparent;
    border-color: #fff;
    color: #fff
}

.button.is-primary.is-inverted.is-outlined:focus,
.button.is-primary.is-inverted.is-outlined:hover {
    background-color: #fff;
    color: #00d1b2
}


.is-orange {
    background-color: #ffffff;
    border: 2px solid #F3A23C;
    color: #F3A23C;
    letter-spacing: 2px;
    font-family: JosefinSans-SemiBold;
}


.button.is-info {
    background-color: #3273dc;
    border-color: transparent;
    color: #fff
}

.button.is-info.is-hovered,
.button.is-info:hover {
    background-color: #276cda;
    border-color: transparent;
    color: #fff
}

.button.is-info.is-focused,
.button.is-info:focus {
    border-color: transparent;
    box-shadow: 0 0 .5em rgba(50, 115, 220, .25);
    color: #fff
}

.button.is-info.is-active,
.button.is-info:active {
    background-color: #2366d1;
    border-color: transparent;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, .2);
    color: #fff
}

.button.is-info.is-inverted {
    background-color: #fff;
    color: #3273dc
}

.button.is-info.is-inverted:hover {
    background-color: #f2f2f2
}

.button.is-info.is-loading:after {
    border-color: transparent transparent #fff #fff !important
}

.button.is-info.is-outlined {
    background-color: transparent;
    border-color: #3273dc;
    color: #3273dc
}

.button.is-info.is-outlined:focus,
.button.is-info.is-outlined:hover {
    background-color: #3273dc;
    border-color: #3273dc;
    color: #fff
}

.button.is-info.is-outlined.is-loading:after {
    border-color: transparent transparent #3273dc #3273dc !important
}

.button.is-info.is-inverted.is-outlined {
    background-color: transparent;
    border-color: #fff;
    color: #fff
}

.button.is-info.is-inverted.is-outlined:focus,
.button.is-info.is-inverted.is-outlined:hover {
    background-color: #fff;
    color: #3273dc
}

.button.is-success {
    background-color: #23d160;
    border-color: transparent;
    color: #fff
}

.button.is-success.is-hovered,
.button.is-success:hover {
    background-color: #22c65b;
    border-color: transparent;
    color: #fff
}

.button.is-success.is-focused,
.button.is-success:focus {
    border-color: transparent;
    box-shadow: 0 0 .5em rgba(35, 209, 96, .25);
    color: #fff
}

.button.is-success.is-active,
.button.is-success:active {
    background-color: #20bc56;
    border-color: transparent;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, .2);
    color: #fff
}

.button.is-success.is-inverted {
    background-color: #fff;
    color: #23d160
}

.button.is-success.is-inverted:hover {
    background-color: #f2f2f2
}

.button.is-success.is-loading:after {
    border-color: transparent transparent #fff #fff !important
}

.button.is-success.is-outlined {
    background-color: transparent;
    border-color: #23d160;
    color: #23d160
}

.button.is-success.is-outlined:focus,
.button.is-success.is-outlined:hover {
    background-color: #23d160;
    border-color: #23d160;
    color: #fff
}

.button.is-success.is-outlined.is-loading:after {
    border-color: transparent transparent #23d160 #23d160 !important
}

.button.is-success.is-inverted.is-outlined {
    background-color: transparent;
    border-color: #fff;
    color: #fff
}

.button.is-success.is-inverted.is-outlined:focus,
.button.is-success.is-inverted.is-outlined:hover {
    background-color: #fff;
    color: #23d160
}

.button.is-warning {
    background-color: #ffdd57;
    border-color: transparent;
    color: rgba(0, 0, 0, .7)
}

.button.is-warning.is-hovered,
.button.is-warning:hover {
    background-color: #ffdb4a;
    border-color: transparent;
    color: rgba(0, 0, 0, .7)
}

.button.is-warning.is-focused,
.button.is-warning:focus {
    border-color: transparent;
    box-shadow: 0 0 .5em rgba(255, 221, 87, .25);
    color: rgba(0, 0, 0, .7)
}

.button.is-warning.is-active,
.button.is-warning:active {
    background-color: #ffd83d;
    border-color: transparent;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, .2);
    color: rgba(0, 0, 0, .7)
}

.button.is-warning.is-inverted {
    background-color: rgba(0, 0, 0, .7);
    color: #ffdd57
}

.button.is-warning.is-inverted:hover {
    background-color: rgba(0, 0, 0, .7)
}

.button.is-warning.is-loading:after {
    border-color: transparent transparent rgba(0, 0, 0, .7) rgba(0, 0, 0, .7) !important
}

.button.is-warning.is-outlined {
    background-color: transparent;
    border-color: #ffdd57;
    color: #ffdd57
}

.button.is-warning.is-outlined:focus,
.button.is-warning.is-outlined:hover {
    background-color: #ffdd57;
    border-color: #ffdd57;
    color: rgba(0, 0, 0, .7)
}

.button.is-warning.is-outlined.is-loading:after {
    border-color: transparent transparent #ffdd57 #ffdd57 !important
}

.button.is-warning.is-inverted.is-outlined {
    background-color: transparent;
    border-color: rgba(0, 0, 0, .7);
    color: rgba(0, 0, 0, .7)
}

.button.is-warning.is-inverted.is-outlined:focus,
.button.is-warning.is-inverted.is-outlined:hover {
    background-color: rgba(0, 0, 0, .7);
    color: #ffdd57
}

.button.is-danger {
    background-color: #ff3860;
    border-color: transparent;
    color: #fff
}

.button.is-danger.is-hovered,
.button.is-danger:hover {
    background-color: #ff2b56;
    border-color: transparent;
    color: #fff
}

.button.is-danger.is-focused,
.button.is-danger:focus {
    border-color: transparent;
    box-shadow: 0 0 .5em rgba(255, 56, 96, .25);
    color: #fff
}

.button.is-danger.is-active,
.button.is-danger:active {
    background-color: #ff1f4b;
    border-color: transparent;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, .2);
    color: #fff
}

.button.is-danger.is-inverted {
    background-color: #fff;
    color: #ff3860
}

.button.is-danger.is-inverted:hover {
    background-color: #f2f2f2
}

.button.is-danger.is-loading:after {
    border-color: transparent transparent #fff #fff !important
}

.button.is-danger.is-outlined {
    background-color: transparent;
    border-color: #ff3860;
    color: #ff3860
}

.button.is-danger.is-outlined:focus,
.button.is-danger.is-outlined:hover {
    background-color: #ff3860;
    border-color: #ff3860;
    color: #fff
}

.button.is-danger.is-outlined.is-loading:after {
    border-color: transparent transparent #ff3860 #ff3860 !important
}

.button.is-danger.is-inverted.is-outlined {
    background-color: transparent;
    border-color: #fff;
    color: #fff
}

.button.is-danger.is-inverted.is-outlined:focus,
.button.is-danger.is-inverted.is-outlined:hover {
    background-color: #fff;
    color: #ff3860
}

.button.is-small {
    border-radius: 2px;
    font-size: .75rem
}

.button.is-small .icon:first-child:not(:last-child) {
    margin-left: -.375rem;
    margin-right: .375rem
}

.button.is-small .icon:last-child:not(:first-child) {
    margin-left: .375rem;
    margin-right: -.375rem
}

.button.is-small .icon:first-child:last-child {
    margin-left: calc(-1px + -.375rem);
    margin-right: calc(-1px + -.375rem)
}

.button.is-small .icon.is-small:first-child:not(:last-child) {
    margin-left: -.125rem
}

.button.is-small .icon.is-small:last-child:not(:first-child) {
    margin-right: -.125rem
}

.button.is-small .icon.is-small:first-child:last-child {
    margin-left: calc(-1px + -.125rem);
    margin-right: calc(-1px + -.125rem)
}

.button.is-small .icon.is-medium:first-child:not(:last-child) {
    margin-left: -.625rem
}

.button.is-small .icon.is-medium:last-child:not(:first-child) {
    margin-right: -.625rem
}

.button.is-small .icon.is-medium:first-child:last-child {
    margin-left: calc(-1px + -.625rem);
    margin-right: calc(-1px + -.625rem)
}

.button.is-small .icon.is-large:first-child:not(:last-child) {
    margin-left: -1.125rem
}

.button.is-small .icon.is-large:last-child:not(:first-child) {
    margin-right: -1.125rem
}

.button.is-small .icon.is-large:first-child:last-child {
    margin-left: calc(-1px + -1.125rem);
    margin-right: calc(-1px + -1.125rem)
}

.button.is-medium {
    font-size: 1.25rem
}

.button.is-medium .icon:first-child:not(:last-child) {
    margin-left: -.125rem;
    margin-right: .625rem
}

.button.is-medium .icon:last-child:not(:first-child) {
    margin-left: .625rem;
    margin-right: -.125rem
}

.button.is-medium .icon:first-child:last-child {
    margin-left: calc(-1px + -.125rem);
    margin-right: calc(-1px + -.125rem)
}

.button.is-medium .icon.is-small:first-child:not(:last-child) {
    margin-left: .125rem
}

.button.is-medium .icon.is-small:last-child:not(:first-child) {
    margin-right: .125rem
}

.button.is-medium .icon.is-small:first-child:last-child {
    margin-left: calc(-1px + .125rem);
    margin-right: calc(-1px + .125rem)
}

.button.is-medium .icon.is-medium:first-child:not(:last-child) {
    margin-left: -.375rem
}

.button.is-medium .icon.is-medium:last-child:not(:first-child) {
    margin-right: -.375rem
}

.button.is-medium .icon.is-medium:first-child:last-child {
    margin-left: calc(-1px + -.375rem);
    margin-right: calc(-1px + -.375rem)
}

.button.is-medium .icon.is-large:first-child:not(:last-child) {
    margin-left: -.875rem
}

.button.is-medium .icon.is-large:last-child:not(:first-child) {
    margin-right: -.875rem
}

.button.is-medium .icon.is-large:first-child:last-child {
    margin-left: calc(-1px + -.875rem);
    margin-right: calc(-1px + -.875rem)
}

.button.is-large {
    font-size: 1.5rem
}

.button.is-large .icon:first-child:not(:last-child) {
    margin-left: 0;
    margin-right: .75rem
}

.button.is-large .icon:last-child:not(:first-child) {
    margin-left: .75rem;
    margin-right: 0
}

.button.is-large .icon:first-child:last-child {
    margin-left: calc(-1px + 0rem);
    margin-right: calc(-1px + 0rem)
}

.button.is-large .icon.is-small:first-child:not(:last-child) {
    margin-left: .25rem
}

.button.is-large .icon.is-small:last-child:not(:first-child) {
    margin-right: .25rem
}

.button.is-large .icon.is-small:first-child:last-child {
    margin-left: calc(-1px + .25rem);
    margin-right: calc(-1px + .25rem)
}

.button.is-large .icon.is-medium:first-child:not(:last-child) {
    margin-left: -.25rem
}

.button.is-large .icon.is-medium:last-child:not(:first-child) {
    margin-right: -.25rem
}

.button.is-large .icon.is-medium:first-child:last-child {
    margin-left: calc(-1px + -.25rem);
    margin-right: calc(-1px + -.25rem)
}

.button.is-large .icon.is-large:first-child:not(:last-child) {
    margin-left: -.75rem
}

.button.is-large .icon.is-large:last-child:not(:first-child) {
    margin-right: -.75rem
}

.button.is-large .icon.is-large:first-child:last-child {
    margin-left: calc(-1px + -.75rem);
    margin-right: calc(-1px + -.75rem)
}

.button.is-disabled,
.button[disabled] {
    opacity: .5
}

.button.is-fullwidth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.button.is-loading {
    color: transparent !important;
    pointer-events: none
}

.button.is-loading:after {
    -webkit-animation: spinAround .5s infinite linear;
    animation: spinAround .5s infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1rem;
    position: relative;
    width: 1rem;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    position: absolute !important
}

/*.content {
    color: #4a4a4a
}*/

.content:not(:last-child) {
    margin-bottom: 1.5rem
}

.content li+li {
    margin-top: .25em
}

.content blockquote:not(:last-child),
.content ol:not(:last-child),
.content p:not(:last-child),
.content table:not(:last-child),
.content ul:not(:last-child) {
    margin-bottom: 1em
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    color: #363636;
    font-weight: 400;
    line-height: 1.125
}

.content h1 {
    font-size: 2em;
    margin-bottom: .5em
}

.content h1:not(:first-child) {
    margin-top: 1em
}

.content h2 {
    font-size: 1.75em;
    margin-bottom: .5714em
}

.content h2:not(:first-child) {
    margin-top: 1.1428em
}

.content h3 {
    font-size: 1.5em;
    margin-bottom: .6666em
}

.content h3:not(:first-child) {
    margin-top: 1.3333em
}

.content h4 {
    font-size: 1.25em;
    margin-bottom: .8em
}

.content h5 {
    font-size: 1.125em;
    margin-bottom: .8888em
}

.content h6 {
    font-size: 1em;
    margin-bottom: 1em;
    font-family: JosefinSans-Bold;
}

.content blockquote {
    background-color: #f5f5f5;
    border-left: 5px solid #dbdbdb;
    padding: 1.25em 1.5em
}

.content ol {
    list-style: decimal outside;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em
}

.content ul {
    list-style: disc outside;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em
}

.content ul ul {
    list-style-type: circle;
    margin-top: .5em
}

.content ul ul ul {
    list-style-type: square
}

.content table {
    width: 100%;
}

.content table td,
.content table th {
    border: 1px solid #dbdbdb;
    border-width: 0 0 1px;
    padding: .5em .75em;
    vertical-align: top
}

.content table th {
    color: #363636;
    text-align: left
}

.content table tr:hover {
    background: rgb(240, 234, 224, 0.7);
}

 .input-text:focus {
    outline: none !important;
    /*border:1px solid red;*/
    /*box-shadow: 0 0 10px #719ECE;*/
}

.content table thead td,
.content table thead th {
    border-width: 0 0 2px;
    color: #363636
}

.content table tfoot td,
.content table tfoot th {
    border-width: 2px 0 0;
    color: #363636
}

.content table tbody tr:last-child td,
.content table tbody tr:last-child th {
    border-bottom-width: 0
}

.content.is-small {
    font-size: .75rem
}

.content.is-medium {
    font-size: 1.25rem
}

.content.is-large {
    font-size: 1.5rem
}

.input,
.textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size:14px;
    height: 3em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.5;
    padding-left: .75em;
    padding-right: .75em;
    position: relative;
    vertical-align: top;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    color: #363636;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, .1);
    max-width: 100%;
    width: 100%;
    letter-spacing: 2.9px;
}

.input.is-active,
.input.is-focused,
.input:active,
.input:focus,
.textarea.is-active,
.textarea.is-focused,
.textarea:active,
.textarea:focus {
    outline: 0
}

.input.is-disabled,
.input[disabled],
.textarea.is-disabled,
.textarea[disabled] {
    pointer-events: none
}

.input.is-hovered,
.input:hover,
.textarea.is-hovered,
.textarea:hover {
    border-color: #b5b5b5
}

.input.is-active,
.input.is-focused,
.input:active,
.input:focus,
.textarea.is-active,
.textarea.is-focused,
.textarea:active,
.textarea:focus {
    border-color: #00d1b2
}

.input.is-disabled,
.input[disabled],
.textarea.is-disabled,
.textarea[disabled] {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    box-shadow: none;
    color: #7a7a7a
}

.input.is-disabled::-moz-placeholder,
.input[disabled]::-moz-placeholder,
.textarea.is-disabled::-moz-placeholder,
.textarea[disabled]::-moz-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input.is-disabled::-webkit-input-placeholder,
.input[disabled]::-webkit-input-placeholder,
.textarea.is-disabled::-webkit-input-placeholder,
.textarea[disabled]::-webkit-input-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input.is-disabled:-moz-placeholder,
.input[disabled]:-moz-placeholder,
.textarea.is-disabled:-moz-placeholder,
.textarea[disabled]:-moz-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input.is-disabled:-ms-input-placeholder,
.input[disabled]:-ms-input-placeholder,
.textarea.is-disabled:-ms-input-placeholder,
.textarea[disabled]:-ms-input-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input[type=search],
.textarea[type=search] {
    border-radius: 290486px
}

.input.is-white,
.textarea.is-white {
    border-color: #fff
}

.input.is-black,
.textarea.is-black {
    border-color: #0a0a0a
}

.input.is-light,
.textarea.is-light {
    border-color: #f5f5f5
}

.input.is-dark,
.textarea.is-dark {
    border-color: #363636
}

.input.is-primary,
.textarea.is-primary {
    border-color: #00d1b2
}

.input.is-info,
.textarea.is-info {
    border-color: #3273dc
}

.input.is-success,
.textarea.is-success {
    border-color: #23d160
}

.input.is-warning,
.textarea.is-warning {
    border-color: #ffdd57
}

.input.is-danger,
.textarea.is-danger {
    border-color: #ff3860
}

.input.is-small,
.textarea.is-small {
    border-radius: 2px;
    font-size: .75rem
}

.input.is-medium,
.textarea.is-medium {
    font-size: 1rem;
    font-weight: bold;
}

.input.is-large,
.textarea.is-large {
    font-size: 1.5rem
}

.input.is-fullwidth,
.textarea.is-fullwidth {
    display: block;
    width: 100%
}

.input.is-inline,
.textarea.is-inline {
    display: inline;
    width: auto
}

.textarea {
    display: block;
    line-height: 1.25;
    max-height: 600px;
    max-width: 100%;
    min-height: 120px;
    min-width: 100%;
    padding: 10px;
    resize: vertical
}

.container {
    position: relative
}

@media screen and (min-width:1000px) {
    .container {
        margin: 0 auto;
        max-width: 960px
    }

    .container.is-fluid {
        margin: 0 20px;
        max-width: none
    }
}

@media screen and (min-width:1192px) {
    .container {
        max-width: 1300px
    }
}

.delete {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(10, 10, 10, .2);
    border: none;
    border-radius: 290486px;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    height: 20px;
    outline: 0;
    position: relative;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    vertical-align: top;
    width: 20px
}

.delete:after,
.delete:before {
    background-color: #fff;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}

.delete:before {
    height: 2px;
    width: 50%
}

.delete:after {
    height: 50%;
    width: 2px
}

.delete:focus,
.delete:hover {
    background-color: rgba(10, 10, 10, .3)
}

.delete:active {
    background-color: rgba(10, 10, 10, .4)
}

.delete.is-small {
    height: 14px;
    width: 14px
}

.delete.is-medium {
    height: 26px;
    width: 26px
}

.delete.is-large {
    height: 30px;
    width: 30px
}

.fa {
    font-size: 21px;
    text-align: center;
    vertical-align: top
}



.panel {
    font-size: 1rem
}

.panel:not(:last-child) {
    margin-bottom: 1.5rem
}

.panel-block,
.panel-heading,
.panel-tabs {
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb
}

.panel-block:first-child,
.panel-heading:first-child,
.panel-tabs:first-child {
    border-top: 1px solid #dbdbdb
}

.panel-heading {
    background-color: #f5f5f5;
    border-radius: 3px 3px 0 0;
    color: #363636;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.25;
    padding: .5em .75em
}

.panel-tabs {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: .875em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.panel-tabs a {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: -1px;
    padding: .5em
}

.panel-tabs a.is-active {
    border-bottom-color: #4a4a4a;
    color: #363636
}

.panel-list a {
    color: #4a4a4a
}

.panel-list a:hover {
    color: #00d1b2
}

.panel-block {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #363636;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: .5em .75em
}

.panel-block input[type=checkbox] {
    margin-right: .75em
}

.panel-block>.control {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    width: 100%
}

.panel-block.is-active {
    border-left-color: #00d1b2;
    color: #363636
}

.panel-block.is-active .panel-icon {
    color: #00d1b2
}

a.panel-block,
label.panel-block {
    cursor: pointer
}

a.panel-block:hover,
label.panel-block:hover {
    background-color: #f5f5f5
}

.panel-icon {
    display: inline-block;
    font-size: 14px;
    height: 1em;
    line-height: 1em;
    text-align: center;
    vertical-align: top;
    width: 1em;
    color: #7a7a7a;
    margin-right: .75em
}

.panel-icon .fa {
    font-size: inherit;
    line-height: inherit
}

.tabs {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap
}

.tabs:not(:last-child) {
    margin-bottom: 1.5rem
}

.tabs a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    color: #4a4a4a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: -1px;
    padding: .5em 1em;
    vertical-align: top
}

.tabs a:hover {
    border-bottom-color: #363636;
    color: #363636
}

.tabs li {
    display: block
}

.tabs li.is-active a {
    border-bottom-color: #00d1b2;
    color: #00d1b2
}

.tabs ul {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.tabs ul.is-left {
    padding-right: .75em
}

.tabs ul.is-center {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: .75em;
    padding-right: .75em
}

.tabs ul.is-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-left: .75em
}

.tabs .icon:first-child {
    margin-right: .5em
}

.tabs .icon:last-child {
    margin-left: .5em
}

.tabs.is-centered ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.tabs.is-right ul {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.tabs.is-boxed a {
    border: 1px solid transparent;
    border-radius: 3px 3px 0 0
}

.tabs.is-boxed a:hover {
    background-color: #f5f5f5;
    border-bottom-color: #dbdbdb
}

.tabs.is-boxed li.is-active a {
    background-color: #fff;
    border-color: #dbdbdb;
    border-bottom-color: transparent !important
}

.tabs.is-fullwidth li {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.tabs.is-toggle a {
    border: 1px solid #dbdbdb;
    margin-bottom: 0;
    position: relative
}

.tabs.is-toggle a:hover {
    background-color: #f5f5f5;
    border-color: #b5b5b5;
    z-index: 2
}

.tabs.is-toggle li+li {
    margin-left: -1px
}

.tabs.is-toggle li:first-child a {
    border-radius: 3px 0 0 3px
}

.tabs.is-toggle li:last-child a {
    border-radius: 0 3px 3px 0
}

.tabs.is-toggle li.is-active a {
    background-color: #00d1b2;
    border-color: #00d1b2;
    color: #fff;
    z-index: 1
}

.tabs.is-toggle ul {
    border-bottom: none
}

.tabs.is-small {
    font-size: .75rem
}

.tabs.is-medium {
    font-size: 1.25rem
}

.tabs.is-large {
    font-size: 1.5rem
}

.column {
    display: block;
    -ms-flex-preferred-size: 0;
    flex-basis: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    padding: .75rem
}

.columns.is-mobile>.column.is-narrow {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
}

.columns.is-mobile>.column.is-full {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
}

.columns.is-mobile>.column.is-three-quarters {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 75%
}

.columns.is-mobile>.column.is-two-thirds {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 66.6666%
}

.columns.is-mobile>.column.is-half {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 50%
}

.columns.is-mobile>.column.is-one-third {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 33.3333%
}

.columns.is-mobile>.column.is-one-quarter {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 25%
}

.columns.is-mobile>.column.is-offset-three-quarters {
    margin-left: 75%
}

.columns.is-mobile>.column.is-offset-two-thirds {
    margin-left: 66.6666%
}

.columns.is-mobile>.column.is-offset-half {
    margin-left: 50%
}

.columns.is-mobile>.column.is-offset-one-third {
    margin-left: 33.3333%
}

.columns.is-mobile>.column.is-offset-one-quarter {
    margin-left: 25%
}

.columns.is-mobile>.column.is-1 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 8.33333%
}

.columns.is-mobile>.column.is-offset-1 {
    margin-left: 8.33333%
}

.columns.is-mobile>.column.is-2 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 16.66667%
}

.columns.is-mobile>.column.is-offset-2 {
    margin-left: 16.66667%
}

.columns.is-mobile>.column.is-3 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 25%
}

.columns.is-mobile>.column.is-offset-3 {
    margin-left: 25%
}

.columns.is-mobile>.column.is-4 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 33.33333%
}

.columns.is-mobile>.column.is-offset-4 {
    margin-left: 33.33333%
}

.columns.is-mobile>.column.is-5 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 41.66667%
}

.columns.is-mobile>.column.is-offset-5 {
    margin-left: 41.66667%
}

.columns.is-mobile>.column.is-6 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 50%
}

.columns.is-mobile>.column.is-offset-6 {
    margin-left: 50%
}

.columns.is-mobile>.column.is-7 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 58.33333%
}

.columns.is-mobile>.column.is-offset-7 {
    margin-left: 58.33333%
}

.columns.is-mobile>.column.is-8 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 66.66667%
}

.columns.is-mobile>.column.is-offset-8 {
    margin-left: 66.66667%
}

.columns.is-mobile>.column.is-9 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 75%
}

.columns.is-mobile>.column.is-offset-9 {
    margin-left: 75%
}

.columns.is-mobile>.column.is-10 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 83.33333%
}

.columns.is-mobile>.column.is-offset-10 {
    margin-left: 83.33333%
}

.columns.is-mobile>.column.is-11 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 91.66667%
}

.columns.is-mobile>.column.is-offset-11 {
    margin-left: 91.66667%
}

.columns.is-mobile>.column.is-12 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
}

.columns.is-mobile>.column.is-offset-12 {
    margin-left: 100%
}

@media screen and (max-width:768px) {
    .column.is-narrow-mobile {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none
    }

    .column.is-full-mobile {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 100%
    }

    .column.is-three-quarters-mobile {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 75%
    }

    .column.is-two-thirds-mobile {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 66.6666%
    }

    .column.is-half-mobile {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 50%
    }

    .column.is-one-third-mobile {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 33.3333%
    }

    .column.is-one-quarter-mobile {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 25%
    }

    .column.is-offset-three-quarters-mobile {
        margin-left: 75%
    }

    .column.is-offset-two-thirds-mobile {
        margin-left: 66.6666%
    }

    .column.is-offset-half-mobile {
        margin-left: 50%
    }

    .column.is-offset-one-third-mobile {
        margin-left: 33.3333%
    }

    .column.is-offset-one-quarter-mobile {
        margin-left: 25%
    }

    .column.is-1-mobile {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 8.33333%
    }

    .column.is-offset-1-mobile {
        margin-left: 8.33333%
    }

    .column.is-2-mobile {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 16.66667%
    }

    .column.is-offset-2-mobile {
        margin-left: 16.66667%
    }

    .column.is-3-mobile {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 25%
    }

    .column.is-offset-3-mobile {
        margin-left: 25%
    }

    .column.is-4-mobile {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 33.33333%
    }

    .column.is-offset-4-mobile {
        margin-left: 33.33333%
    }

    .column.is-5-mobile {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 41.66667%
    }

    .column.is-offset-5-mobile {
        margin-left: 41.66667%
    }

    .column.is-6-mobile {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 50%
    }

    .column.is-offset-6-mobile {
        margin-left: 50%
    }

    .column.is-7-mobile {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 58.33333%
    }

    .column.is-offset-7-mobile {
        margin-left: 58.33333%
    }

    .column.is-8-mobile {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 66.66667%
    }

    .column.is-offset-8-mobile {
        margin-left: 66.66667%
    }

    .column.is-9-mobile {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 75%
    }

    .column.is-offset-9-mobile {
        margin-left: 75%
    }

    .column.is-10-mobile {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 83.33333%
    }

    .column.is-offset-10-mobile {
        margin-left: 83.33333%
    }

    .column.is-11-mobile {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 91.66667%
    }

    .column.is-offset-11-mobile {
        margin-left: 91.66667%
    }

    .column.is-12-mobile {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 100%
    }

    .column.is-offset-12-mobile {
        margin-left: 100%
    }
}

@media screen and (min-width:769px) {

    .column.is-narrow,
    .column.is-narrow-tablet {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none
    }

    .column.is-full,
    .column.is-full-tablet {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 100%
    }

    .column.is-three-quarters,
    .column.is-three-quarters-tablet {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 75%
    }

    .column.is-two-thirds,
    .column.is-two-thirds-tablet {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 66.6666%
    }

    .column.is-half,
    .column.is-half-tablet {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 50%
    }

    .column.is-one-third,
    .column.is-one-third-tablet {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 33.3333%
    }

    .column.is-one-quarter,
    .column.is-one-quarter-tablet {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 25%
    }

    .column.is-offset-three-quarters,
    .column.is-offset-three-quarters-tablet {
        margin-left: 75%
    }

    .column.is-offset-two-thirds,
    .column.is-offset-two-thirds-tablet {
        margin-left: 66.6666%
    }

    .column.is-offset-half,
    .column.is-offset-half-tablet {
        margin-left: 50%
    }

    .column.is-offset-one-third,
    .column.is-offset-one-third-tablet {
        margin-left: 33.3333%
    }

    .column.is-offset-one-quarter,
    .column.is-offset-one-quarter-tablet {
        margin-left: 25%
    }

    .column.is-1,
    .column.is-1-tablet {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 8.33333%
    }

    .column.is-offset-1,
    .column.is-offset-1-tablet {
        margin-left: 8.33333%
    }

    .column.is-2,
    .column.is-2-tablet {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 16.66667%
    }

    .column.is-offset-2,
    .column.is-offset-2-tablet {
        margin-left: 16.66667%
    }

    .column.is-3,
    .column.is-3-tablet {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 25%
    }

    .column.is-offset-3,
    .column.is-offset-3-tablet {
        margin-left: 25%
    }

    .column.is-4,
    .column.is-4-tablet {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 33.33333%
    }

    .column.is-offset-4,
    .column.is-offset-4-tablet {
        margin-left: 33.33333%
    }

    .column.is-5,
    .column.is-5-tablet {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 41.66667%
    }

    .column.is-offset-5,
    .column.is-offset-5-tablet {
        margin-left: 41.66667%
    }

    .column.is-6,
    .column.is-6-tablet {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 50%
    }

    .column.is-offset-6,
    .column.is-offset-6-tablet {
        margin-left: 50%
    }

    .column.is-7,
    .column.is-7-tablet {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 58.33333%
    }

    .column.is-offset-7,
    .column.is-offset-7-tablet {
        margin-left: 58.33333%
    }

    .column.is-8,
    .column.is-8-tablet {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 66.66667%
    }

    .column.is-offset-8,
    .column.is-offset-8-tablet {
        margin-left: 66.66667%
    }

    .column.is-9,
    .column.is-9-tablet {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 75%
    }

    .column.is-offset-9,
    .column.is-offset-9-tablet {
        margin-left: 75%
    }

    .column.is-10,
    .column.is-10-tablet {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 83.33333%
    }

    .column.is-offset-10,
    .column.is-offset-10-tablet {
        margin-left: 83.33333%
    }

    .column.is-11,
    .column.is-11-tablet {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 91.66667%
    }

    .column.is-offset-11,
    .column.is-offset-11-tablet {
        margin-left: 91.66667%
    }

    .column.is-12,
    .column.is-12-tablet {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 100%
    }

    .column.is-offset-12,
    .column.is-offset-12-tablet {
        margin-left: 100%
    }
}

@media screen and (min-width:1000px) {
    .column.is-narrow-desktop {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none
    }

    .column.is-full-desktop {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 100%
    }

    .column.is-three-quarters-desktop {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 75%
    }

    .column.is-two-thirds-desktop {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 66.6666%
    }

    .column.is-half-desktop {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 50%
    }

    .column.is-one-third-desktop {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 33.3333%
    }

    .column.is-one-quarter-desktop {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 25%
    }

    .column.is-offset-three-quarters-desktop {
        margin-left: 75%
    }

    .column.is-offset-two-thirds-desktop {
        margin-left: 66.6666%
    }

    .column.is-offset-half-desktop {
        margin-left: 50%
    }

    .column.is-offset-one-third-desktop {
        margin-left: 33.3333%
    }

    .column.is-offset-one-quarter-desktop {
        margin-left: 25%
    }

    .column.is-1-desktop {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 8.33333%
    }

    .column.is-offset-1-desktop {
        margin-left: 8.33333%
    }

    .column.is-2-desktop {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 16.66667%
    }

    .column.is-offset-2-desktop {
        margin-left: 16.66667%
    }

    .column.is-3-desktop {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 25%
    }

    .column.is-offset-3-desktop {
        margin-left: 25%
    }

    .column.is-4-desktop {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 33.33333%
    }

    .column.is-offset-4-desktop {
        margin-left: 33.33333%
    }

    .column.is-5-desktop {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 41.66667%
    }

    .column.is-offset-5-desktop {
        margin-left: 41.66667%
    }

    .column.is-6-desktop {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 50%
    }

    .column.is-offset-6-desktop {
        margin-left: 50%
    }

    .column.is-7-desktop {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 58.33333%
    }

    .column.is-offset-7-desktop {
        margin-left: 58.33333%
    }

    .column.is-8-desktop {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 66.66667%
    }

    .column.is-offset-8-desktop {
        margin-left: 66.66667%
    }

    .column.is-9-desktop {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 75%
    }

    .column.is-offset-9-desktop {
        margin-left: 75%
    }

    .column.is-10-desktop {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 83.33333%
    }

    .column.is-offset-10-desktop {
        margin-left: 83.33333%
    }

    .column.is-11-desktop {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 91.66667%
    }

    .column.is-offset-11-desktop {
        margin-left: 91.66667%
    }

    .column.is-12-desktop {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 100%
    }

    .column.is-offset-12-desktop {
        margin-left: 100%
    }
}

@media screen and (min-width:1192px) {
    .column.is-narrow-widescreen {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none
    }

    .column.is-full-widescreen {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 100%
    }

    .column.is-three-quarters-widescreen {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 75%
    }

    .column.is-two-thirds-widescreen {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 66.6666%
    }

    .column.is-half-widescreen {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 50%
    }

    .column.is-one-third-widescreen {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 33.3333%
    }

    .column.is-one-quarter-widescreen {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 25%
    }

    .column.is-offset-three-quarters-widescreen {
        margin-left: 75%
    }

    .column.is-offset-two-thirds-widescreen {
        margin-left: 66.6666%
    }

    .column.is-offset-half-widescreen {
        margin-left: 50%
    }

    .column.is-offset-one-third-widescreen {
        margin-left: 33.3333%
    }

    .column.is-offset-one-quarter-widescreen {
        margin-left: 25%
    }

    .column.is-1-widescreen {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 8.33333%
    }

    .column.is-offset-1-widescreen {
        margin-left: 8.33333%
    }

    .column.is-2-widescreen {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 16.66667%
    }

    .column.is-offset-2-widescreen {
        margin-left: 16.66667%
    }

    .column.is-3-widescreen {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 25%
    }

    .column.is-offset-3-widescreen {
        margin-left: 25%
    }

    .column.is-4-widescreen {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 33.33333%
    }

    .column.is-offset-4-widescreen {
        margin-left: 33.33333%
    }

    .column.is-5-widescreen {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 41.66667%
    }

    .column.is-offset-5-widescreen {
        margin-left: 41.66667%
    }

    .column.is-6-widescreen {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 50%
    }

    .column.is-offset-6-widescreen {
        margin-left: 50%
    }

    .column.is-7-widescreen {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 58.33333%
    }

    .column.is-offset-7-widescreen {
        margin-left: 58.33333%
    }

    .column.is-8-widescreen {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 66.66667%
    }

    .column.is-offset-8-widescreen {
        margin-left: 66.66667%
    }

    .column.is-9-widescreen {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 75%
    }

    .column.is-offset-9-widescreen {
        margin-left: 75%
    }

    .column.is-10-widescreen {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 83.33333%
    }

    .column.is-offset-10-widescreen {
        margin-left: 83.33333%
    }

    .column.is-11-widescreen {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 91.66667%
    }

    .column.is-offset-11-widescreen {
        margin-left: 91.66667%
    }

    .column.is-12-widescreen {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 100%
    }

    .column.is-offset-12-widescreen {
        margin-left: 100%
    }
}

.columns {
    margin-left: -.75rem;
    margin-right: -.75rem;
    margin-top: -.75rem
}

.columns:last-child {
    margin-bottom: -.75rem
}

.columns:not(:last-child) {
    margin-bottom: .75rem
}

.columns.is-centered {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.columns.is-gapless {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
}

.columns.is-gapless:last-child {
    margin-bottom: 0
}

.columns.is-gapless:not(:last-child) {
    margin-bottom: 1.5rem
}

.columns.is-gapless>.column {
    margin: 0;
    padding: 0
}

@media screen and (min-width:769px) {
    .columns.is-grid {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .columns.is-grid>.column {
        max-width: 33.3333%;
        padding: .75rem;
        width: 33.3333%
    }

    .columns.is-grid>.column+.column {
        margin-left: 0
    }
}

.columns.is-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.columns.is-multiline {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.columns.is-vcentered {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media screen and (min-width:769px) {
    .columns:not(.is-desktop) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media screen and (min-width:1000px) {
    .columns.is-desktop {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

.tile {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: block;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content
}

.tile.is-ancestor {
    margin-left: -.75rem;
    margin-right: -.75rem;
    margin-top: -.75rem
}

.tile.is-ancestor:last-child {
    margin-bottom: -.75rem
}

.tile.is-ancestor:not(:last-child) {
    margin-bottom: .75rem
}

.tile.is-child {
    margin: 0 !important
}

.tile.is-parent {
    padding: .75rem
}

.tile.is-vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.tile.is-vertical>.tile.is-child:not(:last-child) {
    margin-bottom: 1.5rem !important
}



.hero.is-fullheight {
    min-height: 100vh
}

.hero.is-fullheight .hero-body {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.hero.is-fullheight .hero-body>.container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1
}

/*Login Page CSS Starts*/

@font-face {
    font-family: 'JosefinSans-Medium';
    src: url('../fonts/Josefin Sans/JosefinSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Holland';
    src: url('../fonts/Holland/Holland Monoline Clean.otf') format('opentype');
}
@font-face {
    font-family: 'Edinburgh-Regular';
    src: url('../fonts/Edinburgh-Regular.ttf') format('truetype');
}

    .auth-card-header {
        font-family: Holland;
        color: #324E4C;
        font-size: 100px;
    }

    button.btn.twi-login-btn {
        background: #324E4C;
        color: #fff;
        letter-spacing: 4.767px;
        border-radius: 0;
        font-family: 'JosefinSans-Medium';
    }

    input.input.twi-input-login {
        border: 0px solid #fff;
        height: 45px;
        background: #fff;
        border-radius: 0;
        font-family: 'JosefinSans-Medium';
        font-size: 14px;
        color: #324E4C !important;
    }

    span.forgot-password-text-new {
        margin-top: 17px;
        display: block;
        font-family: GothamMedium;
        text-decoration: underline;
        font-size: 12px;
        letter-spacing: 3.014px;
    }

    div#classic {
        width: 80%;
        margin: auto;
    }

    .field.mb-20 {
    margin-bottom: 20px;
}

    .control > label {
    font-family: 'JosefinSans-Medium';
    letter-spacing: 2.25px;
    font-size: 15px;
    text-transform: uppercase;
}

    .btn {
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .modal-body > p {
    text-align: center;
    font-size: 18px;
    font-family: 'JosefinSans-Medium';
    letter-spacing: 0.25px;
}

    h4.modal-title {
    font-family: Edinburgh-Regular !important;
    font-size: 34px;
    text-align: center;
    letter-spacing: 5px;
}

    .modal-header {
    padding: 15px;
    border-bottom: 0px solid #e5e5e5 !important;
    padding-bottom: 0;
}
    .modal-content {
    border-radius: 0 !important;
    background: #F0EAE0 !important;
}


    /*Login Page CSS Ends*/