/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  //height: 32px;
  padding: 5px 25px 4px 25px;
  color: #0E3262;
  background-color: #ffffff;
}
