img{
	
}

.img-initial{
	width: initial;
}

.img-width{
	width: initial;
}

.height-30{
	height: 30px;
}

.height-145{
	height: 145px;
}

.height-400{
	height: 400px;
}
}.hidden {
  display: none;
}
.visible {
  visibility: visible;
}
.not-visible {
  visibility: hidden;
}
.fullwidth {
  display: block;
  width: 100%;
}
.hairline {
  font-weight: 100;
}
.light {
  font-weight: 300;
}
.normal {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}
.extrabold {
  font-weight: 800;
}
.black {
  font-weight: 900;
}
.uppercase {
  text-transform: uppercase;
}
.textshadow {
  text-shadow: 3px 3px #000;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
  zoom: 1;
}
.pull-left {
  display: block;
  float: left;
}
.pull-right {
  display: block;
  float: right;
}
/* wordpress default classes */
.alignleft {
  display: block;
  float: left;
  margin-right: 15px;
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.alignright {
  display: block;
  float: right;
  margin-left: 15px;
}
.alignnone {
  max-width: 100%;
}







/* Margin */
.margin-0 {
  margin: 0px !important;
}
.margin-5 {
  margin: 5px !important;
}

.margin-vertical-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.margin-horizontal-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.margin-top-0 {
  margin-top: 0px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-right-0 {
  margin-right: 0px !important;
}

.margin-left-0 {
  margin-left: 0px !important;
}

.margin-top-3 {
  margin-top: 3px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-top-m5 {
  margin-top: -5px !important;
}
.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-left-5 {
  margin-left: 5px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

/* Padding */
.padding-0 {
  padding: 0px !important;
}

.padding-top-0 {
  padding-top: 0px !important;
}

.padding-bottom-0 {
  padding-bottom: 0px !important;
}

.padding-right-0 {
  padding-right: 0px !important;
}

.padding-left-0 {
  padding-left: 0px !important;
}

.padding-3{
	padding: 3px !important;
}

.padding-left-3{
	padding-left: 3px !important;
}

.padding-top-3{
	padding-top: 3px !important;
}

.padding-bottom-3{
	padding-bottom: 3px !important;
}

.padding-right-6{
	padding-right: 6px !important;
}
.padding-3 {
  padding: 3px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-vertical-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.padding-horizontal-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.padding-top-3 {
  padding-top: 3px !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-bottom-5 {
  padding-bottom: 5px !important;
}

.padding-left-2 {
  padding-left: 2px !important;
}

.padding-left-5 {
  padding-left: 5px !important;
}

.padding-right-5 {
  padding-right: 5px !important;
}

/* Margin */
.margin-10 {
  margin: 10px !important;
}

.margin-vertical-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.margin-horizontal-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-m10 {
  margin-top: -10px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

/* Padding */
.padding-10 {
  padding: 10px !important;
}

.padding-vertical-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.padding-horizontal-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.padding-left-10 {
  padding-left: 10px !important;
}

.padding-right-10 {
  padding-right: 10px !important;
}

/* Margin */
.margin-15 {
  margin: 15px !important;
}

.margin-vertical-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.margin-horizontal-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-right-15 {
  margin-right: 15px !important;
}

/* Padding */
.padding-15 {
  padding: 15px !important;
}

.padding-vertical-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.padding-horizontal-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.padding-top-15 {
  padding-top: 15px !important;
}

.padding-bottom-15 {
  padding-bottom: 15px !important;
}

.padding-left-15 {
  padding-left: 15px !important;
}

.padding-right-15 {
  padding-right: 15px !important;
}

/* Margin */
.margin-20 {
  margin: 20px !important;
}

.margin-vertical-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.margin-horizontal-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.margin-horizontal-m20 {
  margin-left: -20px !important;
  margin-right: -20px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-top-m20 {
  margin-top: -20px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-left-20 {
  margin-left: 20px !important;
}

.margin-right-20 {
  margin-right: 20px !important;
}

/* Padding */
.padding-20 {
  padding: 20px !important;
}

.padding-vertical-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.padding-horizontal-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.padding-bottom-20 {
  padding-bottom: 20px !important;
}

.padding-left-20 {
  padding-left: 20px !important;
}

.padding-right-20 {
  padding-right: 20px !important;
}

/* Margin */
.margin-25 {
  margin: 25px !important;
}

.margin-vertical-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.margin-horizontal-25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.margin-top-25 {
  margin-top: 25px !important;
}

.margin-bottom-25 {
  margin-bottom: 25px !important;
}

.margin-left-25 {
  margin-left: 25px !important;
}

.margin-right-25 {
  margin-right: 25px !important;
}

/* Padding */
.padding-25 {
  padding: 25px !important;
}

.padding-vertical-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.padding-horizontal-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.padding-top-25 {
  padding-top: 25px !important;
}

.padding-bottom-25 {
  padding-bottom: 25px !important;
}

.padding-left-25 {
  padding-left: 25px !important;
}

.padding-right-25 {
  padding-right: 25px !important;
}

/* Margin */
.margin-30 {
  margin: 30px !important;
}

.margin-vertical-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.margin-horizontal-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-left-30 {
  margin-left: 30px !important;
}

.margin-right-30 {
  margin-right: 30px !important;
}

/* Padding */
.padding-30 {
  padding: 30px !important;
}

.padding-vertical-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.padding-horizontal-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.padding-top-30 {
  padding-top: 30px !important;
}

.padding-bottom-30 {
  padding-bottom: 30px !important;
}

.padding-left-30 {
  padding-left: 30px !important;
}

.padding-right-30 {
  padding-right: 30px !important;
}

/* Margin */
.margin-35 {
  margin: 35px !important;
}

.margin-vertical-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.margin-horizontal-35 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}

.margin-top-35 {
  margin-top: 35px !important;
}

.margin-bottom-35 {
  margin-bottom: 35px !important;
}

.margin-left-35 {
  margin-left: 35px !important;
}

.margin-right-35 {
  margin-right: 35px !important;
}

/* Padding */
.padding-35 {
  padding: 35px !important;
}

.padding-vertical-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.padding-horizontal-35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.padding-top-35 {
  padding-top: 35px !important;
}

.padding-bottom-35 {
  padding-bottom: 35px !important;
}

.padding-left-35 {
  padding-left: 35px !important;
}

.padding-right-35 {
  padding-right: 35px !important;
}

/* Margin */
.margin-40 {
  margin: 40px !important;
}

.margin-vertical-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.margin-horizontal-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.margin-top-40 {
  margin-top: 40px !important;
}

.margin-bottom-40 {
  margin-bottom: 40px !important;
}

.margin-left-40 {
  margin-left: 40px !important;
}

.margin-right-40 {
  margin-right: 40px !important;
}

/* Padding */
.padding-40 {
  padding: 40px !important;
}

.padding-vertical-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.padding-horizontal-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.padding-top-40 {
  padding-top: 40px !important;
}

.padding-bottom-40 {
  padding-bottom: 40px !important;
}

.padding-left-40 {
  padding-left: 40px !important;
}

.padding-right-40 {
  padding-right: 40px !important;
}

/* Margin */
.margin-45 {
  margin: 45px !important;
}

.margin-vertical-45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.margin-horizontal-45 {
  margin-left: 45px !important;
  margin-right: 45px !important;
}

.margin-top-45 {
  margin-top: 45px !important;
}

.margin-bottom-45 {
  margin-bottom: 45px !important;
}

.margin-left-45 {
  margin-left: 45px !important;
}

.margin-right-45 {
  margin-right: 45px !important;
}

/* Padding */
.padding-45 {
  padding: 45px !important;
}

.padding-vertical-45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

.padding-horizontal-45 {
  padding-left: 45px !important;
  padding-right: 45px !important;
}

.padding-top-45 {
  padding-top: 45px !important;
}

.padding-bottom-45 {
  padding-bottom: 45px !important;
}

.padding-left-45 {
  padding-left: 45px !important;
}

.padding-right-45 {
  padding-right: 45px !important;
}

/* Margin */
.margin-50 {
  margin: 50px !important;
}

.margin-vertical-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.margin-horizontal-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.margin-top-50 {
  margin-top: 50px !important;
}

.margin-bottom-50 {
  margin-bottom: 50px !important;
}

.margin-left-50 {
  margin-left: 50px !important;
}

.margin-right-50 {
  margin-right: 50px !important;
}

/* Padding */
.padding-50 {
  padding: 50px !important;
}

.padding-vertical-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.padding-horizontal-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.padding-top-50 {
  padding-top: 50px !important;
}

.padding-bottom-50 {
  padding-bottom: 50px !important;
}

.padding-left-50 {
  padding-left: 50px !important;
}

.padding-right-50 {
  padding-right: 50px !important;
}

/* Margin */
.margin-55 {
  margin: 55px !important;
}

.margin-vertical-55 {
  margin-top: 55px !important;
  margin-bottom: 55px !important;
}

.margin-horizontal-55 {
  margin-left: 55px !important;
  margin-right: 55px !important;
}

.margin-top-55 {
  margin-top: 55px !important;
}

.margin-bottom-55 {
  margin-bottom: 55px !important;
}

.margin-left-55 {
  margin-left: 55px !important;
}

.margin-right-55 {
  margin-right: 55px !important;
}

/* Padding */
.padding-55 {
  padding: 55px !important;
}

.padding-vertical-55 {
  padding-top: 55px !important;
  padding-bottom: 55px !important;
}

.padding-horizontal-55 {
  padding-left: 55px !important;
  padding-right: 55px !important;
}

.padding-top-55 {
  padding-top: 55px !important;
}

.padding-bottom-55 {
  padding-bottom: 55px !important;
}

.padding-left-55 {
  padding-left: 55px !important;
}

.padding-right-55 {
  padding-right: 55px !important;
}

/* Margin */
.margin-60 {
  margin: 60px !important;
}

.margin-vertical-60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.margin-horizontal-60 {
  margin-left: 60px !important;
  margin-right: 60px !important;
}

.margin-top-60 {
  margin-top: 60px !important;
}

.margin-bottom-60 {
  margin-bottom: 60px !important;
}

.margin-left-60 {
  margin-left: 60px !important;
}

.margin-right-60 {
  margin-right: 60px !important;
}

/* Padding */
.padding-60 {
  padding: 60px !important;
}

.padding-vertical-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.padding-horizontal-60 {
  padding-left: 60px !important;
  padding-right: 60px !important;
}

.padding-top-60 {
  padding-top: 60px !important;
}

.padding-bottom-60 {
  padding-bottom: 60px !important;
}

.padding-left-60 {
  padding-left: 60px !important;
}

.padding-right-60 {
  padding-right: 60px !important;
}

/* Margin */
.margin-65 {
  margin: 65px !important;
}

.margin-vertical-65 {
  margin-top: 65px !important;
  margin-bottom: 65px !important;
}

.margin-horizontal-65 {
  margin-left: 65px !important;
  margin-right: 65px !important;
}

.margin-top-65 {
  margin-top: 65px !important;
}

.margin-bottom-65 {
  margin-bottom: 65px !important;
}

.margin-left-65 {
  margin-left: 65px !important;
}

.margin-right-65 {
  margin-right: 65px !important;
}

/* Padding */
.padding-65 {
  padding: 65px !important;
}

.padding-vertical-65 {
  padding-top: 65px !important;
  padding-bottom: 65px !important;
}

.padding-horizontal-65 {
  padding-left: 65px !important;
  padding-right: 65px !important;
}

.padding-top-65 {
  padding-top: 65px !important;
}

.padding-bottom-65 {
  padding-bottom: 65px !important;
}

.padding-left-65 {
  padding-left: 65px !important;
}

.padding-right-65 {
  padding-right: 65px !important;
}

/* Margin */
.margin-70 {
  margin: 70px !important;
}

.margin-vertical-70 {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}

.margin-horizontal-70 {
  margin-left: 70px !important;
  margin-right: 70px !important;
}

.margin-top-70 {
  margin-top: 70px !important;
}

.margin-bottom-70 {
  margin-bottom: 70px !important;
}

.margin-left-70 {
  margin-left: 70px !important;
}

.margin-right-70 {
  margin-right: 70px !important;
}

/* Padding */
.padding-70 {
  padding: 70px !important;
}

.padding-vertical-70 {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}

.padding-horizontal-70 {
  padding-left: 70px !important;
  padding-right: 70px !important;
}

.padding-top-70 {
  padding-top: 70px !important;
}

.padding-bottom-70 {
  padding-bottom: 70px !important;
}

.padding-left-70 {
  padding-left: 70px !important;
}

.padding-right-70 {
  padding-right: 70px !important;
}

/* Margin */
.margin-75 {
  margin: 75px !important;
}

.margin-vertical-75 {
  margin-top: 75px !important;
  margin-bottom: 75px !important;
}

.margin-horizontal-75 {
  margin-left: 75px !important;
  margin-right: 75px !important;
}

.margin-top-75 {
  margin-top: 75px !important;
}

.margin-bottom-75 {
  margin-bottom: 75px !important;
}

.margin-left-75 {
  margin-left: 75px !important;
}

.margin-right-75 {
  margin-right: 75px !important;
}

/* Padding */
.padding-75 {
  padding: 75px !important;
}

.padding-vertical-75 {
  padding-top: 75px !important;
  padding-bottom: 75px !important;
}

.padding-horizontal-75 {
  padding-left: 75px !important;
  padding-right: 75px !important;
}

.padding-top-75 {
  padding-top: 75px !important;
}

.padding-bottom-75 {
  padding-bottom: 75px !important;
}

.padding-left-75 {
  padding-left: 75px !important;
}

.padding-right-75 {
  padding-right: 75px !important;
}

/* Margin */
.margin-80 {
  margin: 80px !important;
}

.margin-vertical-80 {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}

.margin-horizontal-80 {
  margin-left: 80px !important;
  margin-right: 80px !important;
}

.margin-top-80 {
  margin-top: 80px !important;
}

.margin-bottom-80 {
  margin-bottom: 80px !important;
}

.margin-left-80 {
  margin-left: 80px !important;
}

.margin-right-80 {
  margin-right: 80px !important;
}

/* Padding */
.padding-80 {
  padding: 80px !important;
}

.padding-vertical-80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.padding-horizontal-80 {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.padding-top-80 {
  padding-top: 80px !important;
}

.padding-bottom-80 {
  padding-bottom: 80px !important;
}

.padding-left-80 {
  padding-left: 80px !important;
}

.padding-right-80 {
  padding-right: 80px !important;
}

/* Margin */
.margin-85 {
  margin: 85px !important;
}

.margin-vertical-85 {
  margin-top: 85px !important;
  margin-bottom: 85px !important;
}

.margin-horizontal-85 {
  margin-left: 85px !important;
  margin-right: 85px !important;
}

.margin-top-85 {
  margin-top: 85px !important;
}

.margin-bottom-85 {
  margin-bottom: 85px !important;
}

.margin-left-85 {
  margin-left: 85px !important;
}

.margin-right-85 {
  margin-right: 85px !important;
}

/* Padding */
.padding-85 {
  padding: 85px !important;
}

.padding-vertical-85 {
  padding-top: 85px !important;
  padding-bottom: 85px !important;
}

.padding-horizontal-85 {
  padding-left: 85px !important;
  padding-right: 85px !important;
}

.padding-top-85 {
  padding-top: 85px !important;
}

.padding-bottom-85 {
  padding-bottom: 85px !important;
}

.padding-left-85 {
  padding-left: 85px !important;
}

.padding-right-85 {
  padding-right: 85px !important;
}

/* Margin */
.margin-90 {
  margin: 90px !important;
}

.margin-vertical-90 {
  margin-top: 90px !important;
  margin-bottom: 90px !important;
}

.margin-horizontal-90 {
  margin-left: 90px !important;
  margin-right: 90px !important;
}

.margin-top-90 {
  margin-top: 90px !important;
}

.margin-bottom-90 {
  margin-bottom: 90px !important;
}

.margin-left-90 {
  margin-left: 90px !important;
}

.margin-right-90 {
  margin-right: 90px !important;
}

/* Padding */
.padding-90 {
  padding: 90px !important;
}

.padding-vertical-90 {
  padding-top: 90px !important;
  padding-bottom: 90px !important;
}

.padding-horizontal-90 {
  padding-left: 90px !important;
  padding-right: 90px !important;
}

.padding-top-90 {
  padding-top: 90px !important;
}

.padding-bottom-90 {
  padding-bottom: 90px !important;
}

.padding-left-90 {
  padding-left: 90px !important;
}

.padding-right-90 {
  padding-right: 90px !important;
}

/* Margin */
.margin-95 {
  margin: 95px !important;
}

.margin-vertical-95 {
  margin-top: 95px !important;
  margin-bottom: 95px !important;
}

.margin-horizontal-95 {
  margin-left: 95px !important;
  margin-right: 95px !important;
}

.margin-top-95 {
  margin-top: 95px !important;
}

.margin-bottom-95 {
  margin-bottom: 95px !important;
}

.margin-left-95 {
  margin-left: 95px !important;
}

.margin-right-95 {
  margin-right: 95px !important;
}

/* Padding */
.padding-95 {
  padding: 95px !important;
}

.padding-vertical-95 {
  padding-top: 95px !important;
  padding-bottom: 95px !important;
}

.padding-horizontal-95 {
  padding-left: 95px !important;
  padding-right: 95px !important;
}

.padding-top-95 {
  padding-top: 95px !important;
}

.padding-bottom-95 {
  padding-bottom: 95px !important;
}

.padding-left-95 {
  padding-left: 95px !important;
}

.padding-right-95 {
  padding-right: 95px !important;
}

/* Margin */
.margin-100 {
  margin: 100px !important;
}

.margin-vertical-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

.margin-horizontal-100 {
  margin-left: 100px !important;
  margin-right: 100px !important;
}

.margin-top-100 {
  margin-top: 100px !important;
}

.margin-bottom-100 {
  margin-bottom: 100px !important;
}

.margin-left-100 {
  margin-left: 100px !important;
}

.margin-right-100 {
  margin-right: 100px !important;
}

/* Padding */
.padding-100 {
  padding: 100px !important;
}

.padding-vertical-100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.padding-horizontal-100 {
  padding-left: 100px !important;
  padding-right: 100px !important;
}

.padding-horizontal-105 {
  padding-left: 105px !important;
  padding-right: 105px !important;
}

.padding-top-100 {
  padding-top: 100px !important;
}

.padding-bottom-100 {
  padding-bottom: 100px !important;
}

.padding-left-100 {
  padding-left: 100px !important;
}

.padding-right-100 {
  padding-right: 100px !important;
}

.margin-bottom-8{
	margin-bottom: -8px !important;
}

.login-box {
    background-color: #fff  !important;
    box-shadow: 0px 0px 20px #000;
    border-radius: 10px;
}

.login-bg {
    background-image: url(../images/login_bg.jpg);
	background-repeat: repeat;
	background-position: left bottom;    
}

.color-white{
	color: #fff !important;
}

.color-green{
	color: #4c9d27 !important;
    cursor: pointer !important;
}

.color-lightgreen{
	color: #5cb85c !important;
}

.color-green a:hover{
	text-decoration: underline;
    cursor: pointer !important;
}

.color-red{
	color: #CE0809;
}

.color-grey{
	color: #333;
}

.color-grey a {
  color: #333 !important;
}
.color-grey a:hover {
  color: #333  !important;
  text-decoration: none !important;
}
.color-grey a:focus {
  color: #333  !important;
  text-decoration: none !important;
}
.color-blue{
	color: #0000FF !important;
}

.color-themeblue{
	color: #0f1d40 !important;
}

.background-color-light {
  color: #000 !important;
  background-color: #b7b7b7 !important
}

.background-color-dark {
  color: #fff;
  background-color: #333;
}

.background-color-white {
  color: #000 !important;
  background-color: #fff  !important
}

.background-color-green {
  color: #0f1d40 ;
  background-color: #339933  !important
}

.background-color-darkgreen {
  color: #fff !important;
  background-color: #227822  !important
}

.background-color-blue {
  color: #fff !important;
  background-color: #0f1d40  !important
}

.background-color-grey {
  background-color: #f6f6f6  !important
}


.center{
	text-align: center !important;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

.justify{
	text-align: justify !important;
}

.border{
	border: 1px solid #c1c1c1;
}

.border-horizontal-3{
	border-right: 3px solid #c1c1c1 !important;
	border-left: 3px solid #c1c1c1 !important;
}

.border-horizontal-left{
	border-left: 3px solid #c1c1c1 !important;
}
.border-bottom-lightblue{
	border-bottom: 1px solid #8098d8;
}

.border-top-green{
	border-top: 2px solid #339933;
}

.border-blue{
	border: 2px solid #0f1d40;
}

.border-top-blue{
	border-top: 3px solid #0f1d40;
}

.border-black{
	border: 1px solid #000;
}

.border-green{
	border: 1px solid #4c9d27;
}

.border-left{
	border-left : 1px solid #c1c1c1;
}

.border-right{
	border-right : 1px solid #c1c1c1;
}
.border-right-white{
	border-right : 1px solid #fff !important;
}

.border-bottom{
	border-bottom : 1px solid #c1c1c1;
}

.border-nobottom{
	border-bottom : 0px solid #c1c1c1 !important;
}

.border-notop{
	border-top : 0px solid #c1c1c1 !important;
}

.border-top{
	border-top : 1px solid #c1c1c1;
}

.border-radius{
	border-radius: 0 !important;
}

.border-radius4{
	border-radius: 4px !important;
}

.font-thin{
	font-weight: 500 !important;
}

.font-14{
	font-size: 14px !important;
}

.font-13{
	font-size: 13px !important;
}

.font-12{
	font-size: 12px !important;
}

.font-10{
	font-size: 10px !important;
}

.font-16{
	font-size: 16px;
}

.font-18{
	font-size: 18px;
}

.font-20{
	font-size: 20px;
}

.font-22{
	font-size: 22px;
}

.font-24{
	font-size: 24px;
}

.font-35{
	font-size: 35px;
}

.select-width{
	width:65%;
}

.select-width1{
	width:100%;
}

.width-35{
	width: 35px;
}

.width-55{
	width: 55px;
}

.width-65{
	width: 65px;
    padding-right: 5px !important;
	margin-left: 3px !important;
}

.width-100 {
	width: 100%;
}

.width-70 {
	width:70%;
}

.float-right{
	float: right !important;
}

.spacing-right{
	padding-right: 40px;
}
.spacing-left{
	padding-left: 40px;
}

.banner-bg{
    background:  url(../images/bg.jpg) repeat-y center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
   background-origin: content-box;
}

@media only screen and (max-width: 1200px) {
.spacing-right{
	padding-right: 15px;
}
.spacing-left{
	padding-left: 15px;
}
.img-width{
	width: 100%;
}

.padding-horizontal-105 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
}

@media only screen and (max-width: 780px) {
.ad-size{
	width: 300px; 
	height: 250px;
}

.testimonials-small-left {
	 background:  url(../images/bracket-left.png) no-repeat;	 
	 background-position: left;
	 height: 180px;
}

.testimonials-small-right {
	 background:  url(../images/bracket-right.png) no-repeat;	 
	 background-position: right;
	 height: 180px;
}
.footer-center {
	text-align: center !important;
}
}

@media only screen and (max-width: 300px) {
.spacing-right{
	padding-right: 15px;
}
.spacing-left{
	padding-left: 15px;
}
.img-width{
	width: 100%;
}
.padding-horizontal-105 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.ad-size{
	width: 425px; 
	height: 250px;
}
}

/********** Testimonial Slide ************/

/* carousel */
#quote-carousel {
  padding: 10px 25px 30px 25px;
  text-align:center;
}
/* indicator position */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
/* indicator color */
#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}
/* active indicator */
#quote-carousel .carousel-indicators .active {
  background: #333333;
  height:10px;
  width:10px;
  margin-bottom:1px;
}
/* typography */
h1 {
  text-align:center;
  margin-bottom:-20px !important;
}


/********** Endof Testimonial Slide ************/
