/*********************************Menu Style***************************/
#menu {
    background: #fff;
    padding: 0px 10px;
    z-index: 1;
}

    #menu h2 {
        font-size: 1em;
        /*text-transform: uppercase;*/
        text-transform: capitalize;
        padding: 5px 10px;
    }

#template img {
    margin: 5px 20px 0 0;
    float: left;
}

#template {
    width: 380px;
}

    #template ol {
        float: left;
        margin: 0 0 0 30px;
        padding: 10px 10px 0 10px;
    }

    #template:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    #template .k-button {
        float: left;
        clear: left;
        margin: 5px 0 5px 12px;
    }

.k-menu .k-item > .k-link:background {
    hover: ##f5f5f5 !important;
    color: #555555 !important;
}

span.k-link {
/*    color: #428bca;*/
}

    span.k-link:hover {
        background: #f5f5f5;
        color: #555555;
    }

    span.k-link:active {
        background: #0089cd;
        color: #fff;
    }
/********************************* Grid List View ***************************/
.demo-section {
    padding: 30px;
    width: 577px;
}


#listView {
    padding: 10px;
    margin-bottom: -1px;
    /* min-width: 555px;
        min-height: 510px;*/
}

.product {
    float: left;
    position: relative;
    width: 111px;
    height: 170px;
    margin: 0;
    padding: 0;
}

    .product img {
     
    }

    .product h3 {
        margin: 0;
        padding: 3px 5px 0 0;
        max-width: 96px;
        overflow: hidden;
        line-height: 1.1em;
        font-size: .9em;
        font-weight: normal;
       
        color: #999;
    }

    .product p {
        /*visibility: hidden;*/
    }

    .product:hover p {
       /* visibility: visible;
        position: absolute;
        width: 110px;
        height: 110px;
        top: 0;
        margin: 0;
        padding: 0;
        line-height: 110px;
        vertical-align: middle;
        text-align: center;
        color: #fff;
        background-color: rgba(0,0,0,0.75);
        transition: background .2s linear, color .2s linear;
        -moz-transition: background .2s linear, color .2s linear;
        -webkit-transition: background .2s linear, color .2s linear;
        -o-transition: background .2s linear, color .2s linear;*/
    }

    .k-listview:after, .product dl:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
/********************************* Index Panel Bar ***************************/
@section HeadContent {
    #organizer;

{
    width: 300px;
    margin: 0 auto;
    padding: 47px 0 0 0;
    background: url('@Url.Content("~/Content/web/panelbar/orgHead.png")') transparent no-repeat 0 0;
}

#bottom {
    width: 300px;
    height: 90px;
    background: url('@Url.Content("~/Content/web/panelbar/orgFoot.png")') transparent no-repeat 0 0;
}

.teamMate:after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}

.teamMate h2 {
    font-size: 1.4em;
    font-weight: normal;
    padding-top: 20px;
}

.teamMate p {
    margin: 5px 0;
}

.teamMate img {
    float: left;
    margin: 5px 15px 5px 5px;
    border: 1px solid #ccc;
}

}
/********************************* Index Panel Bar ***************************/
.configuration .k-textbox {
    width: 40px;
}
/*********************************Side Menu Style***************************/
#side_menu {
    background: #F6F6F6;
    /*padding: 0px 10px;*/
    z-index: 1;
    border: 0;
}

    #side_menu li {
        border-bottom: 1px solid #c8c7cc;
        /*	padding-left:10px;*/
    }
/*#side_menu li a{padding-left:5px;}*/
ul#side_menu li ul {
    z-index: 9;
}

#side_menu h2 {
    font-size: 1em;
    /*text-transform: uppercase;*/
    text-transform: capitalize;
    padding: 5px 10px;
}

#side_menu span.k-link:hover {
    background: #fff;
}

#template img {
    margin: 5px 20px 0 0;
    float: left;
}

#side_menu span.k-link {
    padding: 0.5em 1.8em 0.5em 0.9em;
}

#template {
    width: 380px;
}

    #template ol {
        float: left;
        margin: 0 0 0 30px;
        padding: 10px 10px 0 10px;
    }

    #template:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    #template .k-button {
        float: left;
        clear: left;
        margin: 5px 0 5px 12px;
    }

.k-menu .k-item > .k-link:hover {
    background: ##f5f5f5 !important;
    color: #555555 !important;
}

.k-menu span.k-link {
   color: #428bca;
}

    span.k-link:hover {
        background: #f5f5f5;
        color: #555555;
    }

    span.k-link:active {
        background: #0089cd;
        color: #fff;
    }

#side_menu a.k-link {
    /*padding:0.7em 0.0em;*/
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}
/***************************Weather Widget Style****************************/
#tabstrip {
    border: medium none;
    margin: 0 auto;
    width: 100%;
}

.sunny, .cloudy, .rainy {
    display: inline-block;
    margin: 20px 0 20px 10px;
    width: 128px;
    height: 128px;
    background: url('http://demos.telerik.com/kendo-ui/content/web/tabstrip/weather.png') transparent no-repeat 0 0;
}

.cloudy {
    background-position: -128px 0;
}

.rainy {
    background-position: -256px 0;
}

.weather {
    width: 160px;
    padding: 40px 0 0 0;
    float: right;
}

#tabstrip h2 {
    font-weight: lighter;
    font-size: 5em;
    padding: 0;
    margin: 0;
}

    #tabstrip h2 span {
        background: none;
        padding-left: 5px;
        font-size: .5em;
        vertical-align: top;
    }

#tabstrip p {
    margin: 0;
    padding: 0;
}
/***************************Accordian Menu Style****************************/
.history {
    padding: 15px;
}

.bottom {
    width: 252px;
    height: 9px;
    background: none transparent no-repeat 0 -35px;
}
/***************************Accordian li  Style****************************/
.k-state-hover {
    background: none !important;
    background-image: none !important;
}

.acc_table {
    margin-top: 1em;
}
/***************************Contact Page Style****************************/
table.contact_table {
    border: 0;
}

    table.contact_table tr td {
        width: 100%;
        color: #000;
    }

    table.contact_table tr:nth-child(odd) {
        background: #F9F9F9 !important;
    }

    table.contact_table tr:nth-child(even) {
        background: #ffffff !important;
    }
/***************************Contact Page File Upload Style****************************/
.file-icon {
    display: inline-block;
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 13.5px;
}

.img-file {
    background-image: url(/content/web/upload/jpg.png);
}

.doc-file {
    background-image: url(/content/web/upload/doc.png);
}

.pdf-file {
    background-image: url(/content/web/upload/pdf.png);
}

.xls-file {
    background-image: url(/content/web/upload/xls.png);
}

.zip-file {
    background-image: url(/content/web/upload/zip.png);
}

.default-file {
    background-image: url(/content/web/upload/default.png);
}

#example .file-heading {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 1.1em;
    display: inline-block;
    float: left;
    width: 450px;
    margin: 0 0 0 20px;
    height: 25px;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#example .file-name-heading {
    font-weight: bold;
}

#example .file-size-heading {
    font-weight: normal;
    font-style: italic;
}

li.k-file .file-wrapper .k-upload-action {
    position: absolute;
    top: 0;
    right: 0;
}

li.k-file div.file-wrapper {
    position: relative;
    height: 75px;
}
/********************Product page Style******************************/
#vertical {
    height: 380px;
    width: 700px;
    margin: 0 auto;
}

#middle-pane {
    background-color: rgba(60, 70, 80, 0.10);
}

#bottom-pane {
    background-color: rgba(60, 70, 80, 0.15);
}

#left-pane, #center-pane, #right-pane {
    background-color: rgba(60, 70, 80, 0.05);
}

.pane-content {
    padding: 0 10px;
}
/********************Product Innerpage Style******************************/
.demo-section {
    width: 80%;
    height: auto;
    overflow: hidden;
    margin: 25px auto 0px auto;
}

    .demo-section h2 {
        /*text-transform: uppercase;*/
        text-transform: capitalize;
        font-size: 1.2em;
        margin-bottom: 30px;
    }

    .demo-section h4 {
        margin-top: 1.5em;
    }

#tshirt {
    float: left;
    margin: 0 40px 30px 0;
}

#options {
    padding: 0 0 30px;
    width: 60%;
    overflow: hidden;
}

.get {
    margin-top: 25px;
}

.k-readonly {
    color: gray;
}
/********************Product listpage Style******************************/
.demo-section_product_list {
    width: 97%;
    margin: 20px auto;
    border: 0;
    background: none;
}

#listView {
    padding: 10px 5px;
    margin-bottom: -1px;
    min-height: 510px;
}

.product {
    float: left;
    position: relative;
    width: 196px;
    height: 250px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
}

    

    .product h3 {
        margin: 0;
        padding: 3px 5px 5px 0;
        max-width: 196px;
        overflow: hidden;
        line-height: 1.1em;
        font-size: .9em;
        font-weight: normal;
    
        color: #999;
    }

    .product p {
        /*visibility: hidden;*/
    }

    .product:hover p {
        /*visibility: visible;
        position: absolute;
        width: 110px;
        height: 110px;
        top: 0;
        margin: 0;
        padding: 0;
        line-height: 110px;
        vertical-align: middle;
        text-align: center;
        color: #fff;
        background-color: rgba(0,0,0,0.75);
        transition: background .2s linear, color .2s linear;
        -moz-transition: background .2s linear, color .2s linear;
        -webkit-transition: background .2s linear, color .2s linear;
        -o-transition: background .2s linear, color .2s linear;*/
    }

.k-listview:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#listView a:hover {
    color: #000 !important;
    text-decoration: none;
}
/********************Product diaplay Style******************************/
.demo-section_product_display {
    width: 96%;
    margin: 20px auto;
    border: 0;
    background: none;
}

    .demo-section_product_display #listView {
        padding: 10px 5px;
        margin-bottom: -1px;
        height: 500px;
        overflow-y: scroll;
    }

    .demo-section_product_display > #listView .product {
        background: #EDEDED;
        float: left;
        position: relative;
        height: auto;
        margin: 0 5px;
        padding: 0;
        width: 96%;
        padding: 1em;
        margin-bottom: 10px;
    }

        .demo-section_product_display > #listView .product img {
           
            float: left;
            margin-right: 10px;
        }

        .demo-section_product_display > #listView .product h3 {
            margin: 0;
            padding: 3px 5px 0 0;
            max-width: 96px;
            overflow: hidden;
            line-height: 1.1em;
            font-size: .9em;
            font-weight: normal;
            /*text-transform: uppercase;*/
            text-transform: capitalize;
            color: #999;
        }

        .demo-section_product_display > #listView .product p {
            display: none;
        }

.product:hover p {
   /* visibility: visible;
    position: absolute;
    width: 196px;
    height: 150px;
    top: 0;
    margin: 5px 0 0 0;
    padding: 0;
    line-height: 110px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,0.75);
    transition: background .2s linear, color .2s linear;
    -moz-transition: background .2s linear, color .2s linear;
    -webkit-transition: background .2s linear, color .2s linear;
    -o-transition: background .2s linear, color .2s linear;*/
}

.k-listview:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#listView a:hover {
    color: #000 !important;
    text-decoration: none;
}
/********************litrature CSS*********************/
#organizer {
    width: 300px;
    margin: 0 auto;
    padding: 47px 0 0 0;
    background: url('../content/web/panelbar/orgHead.png') transparent no-repeat 0 0;
}

#bottom {
    width: 300px;
    height: 90px;
    background: url('../content/web/panelbar/orgFoot.png') transparent no-repeat 0 0;
}

.teamMate:after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}

.teamMate h2 {
    font-size: 1.4em;
    font-weight: normal;
    padding-top: 20px;
}

.teamMate p {
    margin: 5px 0;
}

.teamMate img {
    float: left;
    margin: 5px 15px 5px 5px;
    border: 1px solid #ccc;
}

.clr {
    clear: both;
}

.k-state-active
{
    background-color:inherit !important;
}
.k-group a
{
    color:Blue !important;
}
.k-menu>.k-state-highlight a 
{
    color:#fff;
}

.navbar-collapse1.collapse {
    display: block;
    z-index: 1;
}

.no-margin {
    margin: 0 !important;
}

#scheduler ul {
    margin-bottom: 5px;
}

.pro-img {
    float: left;
}

.pro-nme {
    float: left;
    width: 20%;
}

.pro-fame {
    float: left;
    width: 21%;
}

.pro-desc {
    float: left;
    width: 35%;
}

.pro-size {
    float: left;
    width: 4%;
}

.float-left p {
    margin: 5px 0;
}

#calendar {
  display:block;
}

.pro-lst {
    margin: 2px 0;
}

    .pro-lst .prosize {
        float: right;
        width: 40%;
    }

    .pro-lst .col1 {
        float: left;
        width: 45%;
        margin-right: 1%;
    }

.profame {
    margin: 5px 0;
    width: 100%;
}

@media screen and (max-width:1500px) {
    div.search-header {
        float: left;
        width: 46%;
        margin: 20px 5%;
    }
	.cart-lbl{padding-right:15px; /*margin-top:-15px;*/ float:right;}
}
@media screen and (max-width:1370px) {
   
	.cart-lbl{padding-right:15px;/* margin-top:-15px; */float:right;}
	
	
}
@media screen and (max-width:1340px) {
li.current-user a{ width:220px; font-size:14px;       
	}
}
@media screen and (min-width:1200px) and (max-width:1277px) {
	div.search-header {
        float: left;        /*width: 39.9%;*/ width: 46.9%;        margin: 20px 6%;
    }
	
	}
@media screen and (max-width:1277px) {
    #options {
        width: 50%;
    }
	.cart-lbl{padding-right:15px; /*margin-top:-15px;*/ float:right;}

    /*div.search-header {
        float: left;
        width: 39.9%; width: 47.9%;
        margin: 20px 1%;
    }*/
	

        div.search-header .col6 {
            width: 52%;
            font-size: 12px;
        }

        div.search-header .col4 {
            width: 36%;
            padding-left: 5px;
            padding-right: 0px;
            font-size: 11px;
        }

        div.search-header .col2 {
            width: 12%;
        }

        div.search-header .col6 input {
            font-size: 14px;
            height: 2.4em;
        }
}

@media screen and (max-width:1160px) {
	 div.search-header {
        float: left;
        width: 41.5%;
        margin: 20px 7%;
    }
	}

@media screen and (max-width:1100px) {
    #options {
        width: 40%;
    }
.cart-lbl{padding-right:15px; /*margin-top:-15px;*/ float:right;}
    .demo-section_product_display > #listView .product {
        width: 94%;
    }
	div.search-header{ width: 38%;}
/*	.search-header {   float: left;    width: 45%;    margin: 20px 2%;}*/
}
@media screen and (min-width:1024px) and (max-width:1099px) {
   
	.search-header .k-button {font-size:11px; padding:4px 2px;}
	
}


@media screen and (max-width:1024px) {
    div.search-header {
        float: left;
       /* width: 39.9%;
        margin: 20px 1%;*/
		 width: 40.9%;
        margin: 20px 5%;
    }

    .main-container {
        margin-top: 80px;
    }

    div.search-header .col4 {
        font-size: 10px;
        width: 32%;
    }

    div.search-header .col2 {
        width: 16%;
    }

    div.search-header .col6 input {
        font-size: 14px;
    }
}

@media screen and (max-width:1020px) {
    div.search-header {
        float: left;
        width: 64%;
        margin: 20px 1%;
    }

    /*.main-container {
        margin-top: 120px;
    }*/
	 div.search-header .col6 input {
        font-size: 14px;
    }
	div.cart-lbl{padding-right:0; padding-right:15px;/* margin-top:-15px;*/ float:right;}
	
}

@media screen and (max-width:768px) {
    .col-md-2 .k-button.btn-block {
        width: 20%;
        margin: 0 auto;
    }

    div.col-md-2 button.wid100 {
        width: 100% !important;
    }

    .demo-section_product_display > #listView .product {
        width: 92.7%;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding: 0 10px;
        float: none;
        width: 98%;
        margin: 0 .7%;
    }

    .pro-fame {
        display: none;
    }
    /*.product, .product img{width:100px;}*/
    #options {
        width: 100%;
    }

        #options td {
            padding: 5px !important;
        }

    #tshirt {
        width: 70%;
        margin: 0px auto;
        float: none;
    }
}

@media screen and (max-width:767px) {
	/*.navbar-fixed-top{z-index:99999999;}
	.fix-top{position:absolute; z-index:99999999999;}*/
	div.cart-lbl{margin-top:-32px; float:left; padding-left:20px;}
	.main-navigation.navbar-collapse{overflow:visible;}
	div.kendo_nav div.navbar-collapse.collapse.in{overflow:visible; position:absolute;}
	.main-navigation.navbar-collapse1{top:200px;}
	
	.main-navigation.navbar-collapse1{/*min-height:150px; overflow-y: scroll;*/ overflow:visible; width:95%; }
	ul#side_menu li ul{z-index:1000000000000; position:absolute; width:95% !important; left:10px;}
	
    div.search-header {
        float: left;
        width: 100%;
        margin: 20px 1%;
    }
.view
{
    padding-left: 10px;
   /* width: 36%;*/
}
.view img
{
   width: 27%;
}
    .main-container {
       margin-top: 93px;
    }

    div.kendo_nav div.navbar-collapse.collapse.in {
        position: absolute;
        top: 50px;
        z-index: 9999;
        width: 100%;
    }

    .k-menu .k-item > .k-link {
        padding: .5em 0.8em;
    }

    .k-scheduler-toolbar .k-link, .k-scheduler-footer .k-link {
        padding: 0 5px;
    }

    .k-menu .k-item, .k-widget.k-menu-horizontal > .k-item {
        float: none;
    }

    .col-md-2 .k-button.btn-block {
        width: 30%;
        margin: 0 auto;
    }

    div.no-padding {
        padding: 0 5px !important;
    }

    .main-content {
        border-left: 0px;
    }

    .k-menu .k-item > .k-link:hover {
        background-color: #e7e7e7;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
    }

    a.navbar-brand img {
        width: 70%;
    }

    /*.main-navigation.navbar-collapse1 {
        top: 140px;
    }*/

    .navbar-collapse1.collapse {
        display: none;
    }

        .navbar-collapse1.collapse.in {
            display: block;
        }

    div.k-animation-container {
        /*left: 40px !important;*/
		left: 10px !important;
        top: 30px !important;
    }

        div.k-animation-container ul {
            width: 300px !important;
        }

    div.form-group .col-sm-3, div.form-group .col-sm-4, div.form-group .col-sm-6 {
        margin-bottom: 5px;
    }

    #options {
        width: 100%;
    }

        #options td {
            padding: 5px !important;
        }

    #tshirt {
        width: 100%;
        margin: 0px auto;
        float: none;
    }

    div.pro-desc {
        display: none;
    }

    .demo-section_product_display > #listView .product {
        width: 92%;
    }
}
@media screen and (max-width:600px)
{
    .view img
    {
   width: 34%;
    }

}
@media screen and (max-width:500px)
{
    .view img
    {
   width: 42%;
    }

}
@media screen and (max-width:400px)
{
 
    .view img
    {
        width: 50%;
    }

}
@media screen and (max-width:300px)
{
    .view img
    {
   width: 45%;
    }
    .view .mask, .view .content
    {
        padding-top: 9px;
    }

}
@media screen and (max-width:570px) {.k-picker-wrap .k-input, .k-button {
        font-size: 14px;
    }}

@media screen and (max-width:500px) {
	
    .demo-section_product_display > #listView .product {
        width: 89%;
    }

    .product {
        margin: 2px;
        padding: 3px;
    }

    .k-textbox > input, .k-input[type="text"], .k-input[type="number"], .k-textbox, .k-picker-wrap .k-input, .k-button {
        font-size: 100%;
    }
	.k-picker-wrap .k-input, .k-button {
        font-size: 14px;
    }
}
@media screen and (max-width:480px){li.current-user a{width:auto}}
@media screen and (max-width:400px) {
    div.search-header .col2 {
        width: 16%;
    }

    div.search-header .col4 {
        width: 32%;
    }

    .k-picker-wrap .k-input, .k-button {
        font-size: 96%;
    }

    .pro-fame, .pro-size {
        display: none;
    }

    .demo-section_product_display > #listView .product {
        width: 85%;
    }
	.k-picker-wrap .k-input, .k-button {
        font-size:14px;
    }
	a.navbar-brand img{width:67%;}
	div.search-header .col2{width:25%;}
	div.search-header .col4{width:80%;}
	.main-container {
       /* margin-top: 200px;*/
    }
	.main-navigation.navbar-collapse1{/*top:205px;*/ top:240px;}
}

@media screen and (max-width:319px) {
    .navbar > .container .navbar-brand, .logo 
    {
        float:none;
        padding: 0px !important;
    }
	div.search-header .col2{width:25%;}
	div.search-header .col4{width:80%;}
	.main-container {
        /*margin-top: 200px;*/
    }
	.main-navigation.navbar-collapse1{top:250px;}
	.k-picker-wrap .k-input, .k-button {
        font-size: 100%;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
    /* STYLES GO HERE */
    body {
        font-size: 7px;
    }

    .navbar-fixed-top, .navbar-fixed-bottom {
        position: relative;
        margin-top: 1%;
    }

    .main-container {
        margin-top: 0px;
    }

    .k-menu .k-item > .k-link {
        padding: 2px 0.8em;
    }

    #side_menu span.k-link {
        padding: 0.2em 1.8em 0.2em 0.9em;
    }

    .main-navigation.navbar-collapse1 {
        top: 35%;
    }
}

input[type="radio"], input[type="checkbox"] {
    vertical-align: text-bottom;
}

.search-header {
    float: left;
    width: 40%;
   /* margin: 20px 8%; margin: 20px 15%;*/
   margin-top:20px;
   margin-left:17%;
}

    .search-header .col6 {
        width: 50%;
        float: left;
    }

    .search-header .col2 {
        width: 16.6667%;
        float: left;
    }

    .search-header .col6 .k-textbox {
        height: 2em;
    }

    .search-header .col4 {
        width: 33.3333%;
        float: left;
        margin-top: 0.5%;
    }

    .search-header .col6, .search-header .col2 {
        padding-left: 1px;
        padding-right: 1px;
    }

    .search-header .col4 {
        padding-left: 15px;
        padding-right: 12px;
    }

.sea_tab{background-color: #428bca;
    background-image: none;
    border-left:5px solid #900;
	padding-left:6px;
margin-top:10px;
margin-bottom:5px;
	line-height:25px;
    color: #ffffff;}
.sea_pro span.k-header{
    border-left:5px solid #900 !important;
	border-top:0px;
	border-bottom:0px;
	background:#E8ECEF;
	color:#1F3564;
	font-weight:bold;
	}
.sea_pro span.k-state-focused{background-color:transparent; color:#1F3564; box-shadow: none;}
.sea_pro span.k-link{border-bottom-style: none !important; border-top-style: none !important;}
.sea_usr span{  color:#1F3564; font-size:12px; font-weight:bold; margin:0 0 0 5px;}
.sea_usr ul{margin:0 0 0 5px; padding:0px;}
.sea_usr ul li{list-style:none;}
.sea_usr ul li span{font-weight:normal;}
.top-icon{
	transition: all 300ms ease-in-out 0s; 
 -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s; 
}

.km-cart {border-radius:0px; border-top:3px solid #3eb0e5;}
.km-cart .km-icon {
    background: url(../../images/cart.png) no-repeat left center ; /*height:20px; width:20px; z-index:30;*/ background-size:15px 70%; 
	padding:10px 10px 10px 10px ;
	text-decoration:none; color:#fff;
}
.cart-lbl{padding-right:15px; float:right;}
.cart-lbl .k-button:hover{ border-top:3px solid #3eb0e5; background:#017fb9;}

.cont{color:#017fb9}
.current-user a{ /*width:300px;*/ 
   max-width: 300px;    min-width: 215px;
    text-overflow:ellipsis;
    white-space: nowrap;  
	overflow:hidden;
	}
/*.sea_usr ul li span.k-icon{background:#1F3564;}*/

.k-widget.k-tooltip {
  border-color: #dbdbde;
  background-color: gray !important;
  color: #555555;
}


 
 /*
 @media screen and (max-width:350px) {
 .k-widget, .k-window
 {
     width:200px;
 }
 } */  
 .k-i-close
    {
        background-image: url(../../images/close.png);
        background-position: -2px;
    }
    .k-i-close:hover
    {
        background-image: url(../../images/close.png);
        background-position: -2px;
    }
    .k-state-hover > .k-i-close
    {
        background-position: -2px !important;
    }