﻿


/*--------------------------- Start of Content Left -------------------------------------*/
#content_left
{
    width: 33.333333%;
    vertical-align: top;
}
/*--------------------------- End of Content Left -------------------------------------*/




/*--------------------------- Start of Content Right -------------------------------------*/
#content_right
{
   
    vertical-align: top;
}
.panelcategory
{
    padding: 10px;
}
.panelfamily
{
    padding: 10px;
}
.panelproduct
{
    padding: 10px;
}


/*--------------------------- Start of Category Family -------------------------------------*/
#categorylistview
{
    padding: 10px;
}
#familylistview
{
    padding: 10px;
}
#subfamillistview {
    padding: 10px;
}
.twit-reader
{
    margin: 0 auto;
    padding: 0;
    border: 1px solid rgba(0,0,0,0.1);
    height: 400px;
    overflow: auto;
    -webkit-transform: translatez(0);
    position: relative; /*IE7*/
}
.subtwit-reader
{
    width:66%;
    margin: 0 auto;
    padding: 0;
    border: 1px solid rgba(0,0,0,0.1);    
    overflow: auto;
    -webkit-transform: translatez(0);
    position: relative; /*IE7*/
}
.subtwit-read
{
    margin: 0 auto;
    padding: 0;
    border: 1px solid rgba(0,0,0,0.1);    
    overflow: auto;
    -webkit-transform: translatez(0);
    position: relative; /*IE7*/
}
.twit
{
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,1);
    border-right: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(255,255,255,0.1);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.10) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.05)), color-stop(100%,rgba(0,0,0,0.10)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.10) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.10) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.10) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.10) 100%);
}
.twit img
{
    border: 3px solid transparent;
    float: left;
    overflow: hidden;
    max-width: 150px;
   max-height:150px;
}

.twit a:hover img
{
    border: 3px solid #00acec;
}
.twit p
{
    float: left;
    margin: 0;
    padding: 0 0 0 10px;
}
.twit:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/*--------------------------- Start of Product -------------------------------------*/

  
          .demo-section
        {
           width:66%;
            float:right;
            padding: 10px;
           
        }
        #productlistView
        {
            padding: 10px;
            margin-bottom: -1px;
            min-height: 510px;
            width:836px;
        }
        .product
        {
            float: left;
            position: relative;
            width: 390px;
            height: 300px;
            margin: 0;
            padding: 0px 0px 25px 25px;
            
        }
        .product img
        {
            width: 135px;        
              height: 135px;
        }
        .product h3
        {
            font-size: small;
            font-weight: normal;
            text-transform: capitalize;
            color: Green;
            padding:3px;
            border-top:1px solid #c9c9c9;
            border-bottom:1px solid #c9c9c9;
        }
      
/*----------------------------------------------------------------*/\

 #productdetailslistView
        {
            padding: 10px;
            margin-bottom: -1px;
            min-height: 510px;
        }
        .productdetails
        {
            float: left;
            position: relative;
            height: auto;
            margin: 0;
            padding: 3px 5px 0 0;
        }
        .productdetails img
        {
            width: 120px;
            height: 110px;
        }
        .productdetails h3
        {
            font-size: small;
            font-weight: normal;
            text-transform: capitalize;
            color: Green;
        }
     
        .k-listview:after, .productdetails dl:after
        {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }



/* info and errors */
.message-info
{
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}
 
.message-error
{
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success
{
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error
{
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error
{
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid
{
    display: none;
}

input.input-validation-error
{
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error
{
    border: 0 none;
}

.validation-summary-errors
{
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid
{
    display: none;
}


@media (min-width: 768px) and (max-width: 1000px)
{
    .loginui
    {
        width:43% !important;
    }
   
}