﻿
<div>
    <style>
        .form-control {
            display: inline-block !important;
        }

    </style>
    <form name="customerForm">
        <h4 id="editTitle">
            Edit Customer
        </h4>
        <p id="editsub">
            Please enter the details below to add a new customer.
        </p>
        <br>
        <div class="row">
           
                <div class="form-horizontal">
                    <div class="form-group" ng-class="{'has-error': customerForm.customerName.$invalid && formSubmitted }">
                        <label for="customerName" class="col-sm-3 control-label">
                            Customer Name
                        </label>

                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Customer Name"
                                   ng-model="selectedCustomer.CustomerName" required />
                            <span ng-show="customerForm.customerName.$invalid && formSubmitted && customerForm.customerName.$error.required" class="text-danger" ng-hide="!formSubmitted"></span>
                        </div>

                        <div ng-class="{'has-error': customerForm.companyName.$invalid && formSubmitted }" style="margin-top:-10px">
                            <label for="companyName" class="col-sm-3 control-label">
                                Company Name
                            </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="companyName" name="companyName" placeholder="Company Name"
                                       ng-model="selectedCustomer.CompanyName" required />
                                <span ng-show="customerForm.companyName.$invalid && formSubmitted && customerForm.companyName.$error.required" class="text-danger" ng-hide="!formSubmitted"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group" ng-class="{'has-error': customerForm.customerURL.$invalid && formSubmitted }">
                        <label for="customerURL" class="col-md-3 control-label">
                            Customer URL / WebSite URL
                        </label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="customerURL" name="customerURL" placeholder="Customer URL"
                                   ng-model="selectedCustomer.WebSite" />
                            <span ng-show="customerForm.customerURL.$invalid && formSubmitted" class="text-danger" ng-hide="!formSubmitted"></span>
                        </div>

                        <div>
                            <label @*for="isActive"*@ class="col-md-3 control-label">
                                IsActive ?
                            </label>
                            <div class="col-md-3 margintop" style="height:34px">
                                <input type="checkbox" class="" id="isActive" name="isActive"
                                       ng-model="selectedCustomer.IsActive" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group" ng-class="{'has-error': customerForm.customerActivationDate.$invalid && formSubmitted }">
                        <label for="activationDate" class="col-md-3 control-label">
                            Activation Date
                        </label>
                        <div class="col-md-3">
                            <input id="activationDate" name="activationDate" class="form-control" kendo-date-picker="kdpActivationDate" onkeypress='return event.charCode == 8 || event.charCode == 46 ' min="mindate"
                                   ng-model="selectedCustomer.ActivationDate" k-ng-model="ActivationDateObject" />
                        </div>

                        <div>
                            <label for="planId" class="col-md-3 control-label">
                                Plan Name
                            </label>
                            <div class="col-md-3">
                                <select style="width:165px" id="planId" name="planId" kendo-drop-down-list
                                        k-option-label="'Select'"
                                        k-data-text-field="'PLAN_NAME'"
                                        k-data-value-field="'PLAN_ID'"
                                        k-on-change="planChange(kendoEvent)"
                                        k-data-source="planListDataSource" ng-model="selectedCustomer.PlanId"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        <div class="row">
            <div>
                <div class="panel-heading1 margin-bottom-20">Address</div>
                <div class="form-horizontal">
                    <div class="form-group" ng-class="{'has-error': customerForm.customerContactName.$invalid && formSubmitted }">
                        <label for="customerContactName" class="col-md-3 control-label">
                            Contact Name
                        </label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="customerContactName" name="customerContactName" placeholder="Customer Contact Name"
                                   ng-model="selectedCustomer.ContactName" required />
                            <span ng-show="customerForm.customerContactName.$invalid && formSubmitted && customerForm.customerContactName.$error.required" class="text-danger" ng-hide="!formSubmitted"></span>
                        </div>

                        <div ng-class="{'has-error': customerForm.customerAddr1.$invalid && formSubmitted }">
                            <label for="customerAddr1" class="col-md-3 control-label">
                                Address 1
                            </label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="customerAddr1" name="customerAddr1" placeholder="Customer Address Line 1"
                                       ng-model="selectedCustomer.Address1" required />
                                <span ng-show="customerForm.customerAddr1.$invalid && formSubmitted && customerForm.customerAddr1.$error.required" class="text-danger" ng-hide="!formSubmitted"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group" ng-class="{'has-error': customerForm.customerAddr2.$invalid && formSubmitted }">
                        <label for="customerAddr2" class="col-md-3 control-label">
                            Address 2
                        </label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="customerAddr2" name="customerAddr2" placeholder="Customer Address Line 2"
                                   ng-model="selectedCustomer.Address2" required />
                            <span ng-show="customerForm.customerAddr2.$invalid && formSubmitted && customerForm.customerAddr2.$error.required" class="text-danger" ng-hide="!formSubmitted"></span>
                        </div>


                        <div>
                            <label for="customerCity" class="col-md-3 control-label">
                                City
                            </label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="customerCity" placeholder="Customer City" pattern="[a-zA-Z]+"  ng-pattern-restrict
                                       ng-model="selectedCustomer.City" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group" ng-class="{'has-error': customerForm.customerCountry.$invalid && formSubmitted }">
                        <label for="customerCountry" class="col-md-3 control-label">
                            Country
                        </label>
                        <div class="col-sm-3">
                            <select id="COUNTRY_CODE" kendo-drop-down-list
                                    k-rebind="true"
                                    k-option-label="'--- Select Country ---'"
                                    k-data-text-field="'COUNTRY'"
                                    k-data-value-field="'COUNTRY_CODE'"
                                    k-data-source="countryListDataSource"
                                    k-on-change="countryChange(kendoEvent)"
                                    ng-model="selectedCustomer.COUNTRY_CODE"
                                    style="width:165px"></select>

                        </div>

                    

                        <div>
                            <label for="customerState" class="col-md-3 control-label">
                                State
                            </label>
                            <div class="col-sm-3">
                                <select id="StateProvince" name="StateProvince" kendo-drop-down-list
                                        k-rebind="true"
                                        k-option-label="'--- Select State ---'"
                                        k-data-text-field="'STATE'"
                                        k-data-value-field="'STATE_CODE'"
                                        k-data-source="stateListDataSource"
                                        ng-model="selectedCustomer.STATE_CODE"
                                        k-on-change="selectedState(kendoEvent)"
                                        style="width:165px"></select>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-horizontal">




                    <div class="form-group" ng-class="{'has-error': customerForm.customerZip.$invalid && formSubmitted }">
                        <label for="customerZip" class="col-md-3 control-label">
                            Zip
                        </label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="customerZip" name="customerZip" placeholder="Customer Zip" ng-model="selectedCustomer.Zip" ng-pattern="regExPostalCode" min="5" maxlength="6" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 ' />
                            <span ng-show="customerForm.customerZip.$invalid && formSubmitted && customerForm.customerZip.$error.required" class="text-danger" ng-hide="!formSubmitted"></span> <br />
                            <span ng-show="customerForm.customerZip.$invalid && formSubmitted && customerForm.customerZip.$error.pattern" class="text-danger" ng-hide="!formSubmitted"></span>

                        </div>

                        <div>
                            <label for="customerEmail" class="col-md-3 control-label" ng-class="{'has-error': customerForm.customerEmail.$invalid && formSubmitted }">
                                Email
                            </label>
                            <div class="col-md-3">
                                <input type="email" class="form-control" id="customerEmail" placeholder="Customer Email" name="customerEmail"
                                       ng-model="selectedCustomer.EMail" ng-pattern="emailvalid" /><br />
                                <span ng-show="customerForm.customerEmail.$invalid && formSubmitted && customerForm.customerEmail.$error.pattern" class="text-danger" ng-hide="!formSubmitted"></span>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="form-horizontal">
                    <div class="form-group" ng-class="{'has-error': customerForm.customerComments.$invalid && formSubmitted }">
                        <label for="customerComments" class="col-md-3 control-label">
                            Folder Name
                        </label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="customerComments" name="customerComments" placeholder="Folder Name"
                                   ng-model="selectedCustomer.Comments" ng-paste="PasteValidation($event.originalEvent);" ng-keypress="UsersSpecialValidation($event);" required />
                            <span ng-show="customerForm.Comments.$invalid && formSubmitted && customerForm.Comments.$error.required" class="text-danger" ng-hide="!formSubmitted"></span>
                        </div>








                        <div ng-class="{'has-error': customerForm.customerPhone.$invalid && formSubmitted }">
                            <label for="customerPhone" class="col-md-3 control-label">
                                Phone
                            </label>
                            <div class="col-md-3">
                                <input kendo-masked-text-box style="width:165px" class="form-control" id="customerPhone" ng-pattern="pno" name="customerPhone" maxlength="12" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 45 '
                                       ng-model="selectedCustomer.Phone" />
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="form-horizontal">
                    <div class="form-group" ng-class="{'has-error': customerForm.customerFax.$invalid && formSubmitted }">
                        <label for="customerFax" class="col-md-3 control-label">
                            Fax
                        </label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="customerFax" name="customerFax" placeholder="Fax"
                                   ng-model="selectedCustomer.Fax" />
                            <span ng-show="customerForm.customerFax.$invalid && formSubmitted " class="text-danger" ng-hide="!formSubmitted"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div id="customercatalogGrid" kendo-grid k-options="customercatalogGridoptions" style="height:250px"></div>
        </div>
      
        <br />
        <div class="row">
            <div class="col-md-offset-5 col-lg-offset-5">
                <button type="submit" class="btn btn-primary btn-xs" ng-click="saveCustomer(this)" id="saveButton" title="{{saveCustomerDetails}}">
                    <i class="fa fa-save"></i>
                </button>
                <button type="button" class="btn btn-primary btn-xs" ng-click="reset()" title="{{refreshCustomerDetails}}">
                    <i class="fa fa-rotate-right"></i>
                </button>
                <button class="btn btn-primary btn-xs" ng-click="cancelChanges()" id="cancelButton" title="{{cancelCustomerDetails}}">
                    <i class="fa fa-close"></i>
                </button>
            </div>
        </div>
    </form>
</div>
