﻿<div class="form-area">
    <form name="planForm" class="form-horizontal">
        <h4 id="editPlanTitle">
            Edit Plan
        </h4>
        <p id="editPlansub">
            Please enter the details below to add a new Plan.
        </p>
        <br>
        <div @*id="accordion"*@>
            @*<h3>Plan Details</h3>*@
            <div id="formDataView">
                @*<div class="heightsample">*@
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-md-12 text-left">
                            <div class="form-group" ng-class="{'has-error': planForm.planName.$invalid && formSubmitted }">
                                <label for="planName" class="col-md-6 control-label">
                                    Plan Name
                                </label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="planName" name="planName" placeholder="PlanName" ng-model="selectedPlan.PLAN_NAME" required />
                                    <span ng-show="planForm.PlanName.$invalid && formSubmitted && planForm.PlanName.$error.required" class="text-danger">Required.</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': planForm.skuCount.$invalid && formSubmitted }">
                                <label for="skuCount" class="col-md-6 control-label">
                                    SKU's Count
                                </label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="skuCount" name="skuCount"
                                           placeholder="SKU's Count" onkeypress=' return event.charCode >= 48 && event.charCode <= 57' ng-model="selectedPlan.SKU_COUNT" required />
                                    <span ng-show="planForm.SkuCount.$invalid && formSubmitted && planForm.SkuCount.$error.required" class="text-danger">Required.</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': planForm.UsersCount.$invalid && formSubmitted}">
                                <label for="usersCount" class="col-md-6 control-label">
                                    No of Allowed Users
                                </label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="usersCount" name="usersCount" placeholder="Users Count" onkeypress='return event.charCode >= 48 && event.charCode <= 57 ' ng-model="selectedPlan.NO_OF_USERS" required />
                                    <span ng-show="planForm.UsersCount.$invalid && formSubmitted && planForm.UsersCount.$error.required" class="text-danger">Required.</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': planForm.SubscriptionPeriod.$invalid &&formSubmitted }">
                                <label for="subscriptionPeriod" class="col-md-6 control-label">
                                    Subscription Period in Months
                                </label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="subscriptionPeriod"
                                           name="subscriptionPeriod" placeholder="Subscription Duration" onkeypress='return event.charCode >= 48 && event.charCode <=57 ' ng-model="selectedPlan.SUBSCRIPTION_IN_MONTHS" required />
                                    <span ng-show="planForm.SubscriptionPeriod.$invalid && formSubmitted &&planForm.SubscriptionPeriod.$error.required" class="text-danger">Required.</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': planForm.priceInDollars.$invalid &&formSubmitted }">
                                <label for="priceInDollars" class="col-md-6 control-label">
                                    Price in Dollars
                                </label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="priceInDollars" name="priceInDollars"
                                           placeholder="$" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46' ng-model="selectedPlan.Price_In_Dollars" required />
                                    <span ng-show="planForm.priceInDollars.$invalid && formSubmitted &&planForm.priceInDollars.$error.required" class="text-danger">Required.</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': planForm.Storage.$invalid && formSubmitted }">
                                <label for="StorageGB" class="col-md-6 control-label">
                                    StorageGB
                                </label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="StorageGB" name="StorageGB"
                                           onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46' ng-model="selectedPlan.StorageGB" required />
                                    <span ng-show="planForm.StorageGB.$invalid && formSubmitted && planForm.StorageGB.$error.required" class="text-danger">Required.</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': planForm.CustomPDFCatalogTemplates.$invalid &&formSubmitted }">
                                <label for="CustomPDFCatalogTemplates" class="col-md-6 control-label">
                                    Custom PDF Catalog Templates
                                </label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="CustomPDFCatalogTemplates"
                                           name="CustomPDFCatalogTemplates" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                           ng-model="selectedPlan.CustomPDFCatalogTemplates" required />
                                    <span ng-show="planForm.CustomPDFCatalogTemplates.$invalid && formSubmitted &&planForm.CustomPDFCatalogTemplates.$error.required" class="text-danger">Required.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="isActive" class="col-md-6 control-label">
                                    IsActive ?
                                </label>
                                <div class="col-md-6">
                                    <input type="checkbox" class="" id="isActive" name="isActive" placeholder="IsActive"
                                           ng-model="selectedPlan.IS_ACTIVE" />
                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-3 col-lg-3" align="justify">*@

                    </div>
                </div>
                <div>
                    <div class="col-sm-6">
                        <div style="display: none">
                            <div id="functionsAllowedForPlanGrid"></div>
                        </div>

                        <div class="col-sm-12">
                            <div kendo-grid options="planMainGridOptions" id="grid" style="margin-bottom: 5%;">
                            </div>
                            <script type="text/x-kendo-template" id="plantemplate">
                                <div kendo-grid k-options="planDetailGridOptions(dataItem)" id="plandetailgrid"></div>
                            </script>
                        </div>
                    </div>
                </div>
                <br /><br />
                <div class="col-sm-12" align="center">
                    <button type="submit" class="btn btn-primary btn-xs" ng-click="savePlan()" id="saveButton" title="{{savePlanDetails}}">
                        <i class="fa fa-save"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-xs" ng-click="resetPlan()" title="{{refreshPlanDetails}}">
                        <i class="fa fa-rotate-right"></i>
                    </button>
                    <button class="btn btn-primary btn-xs" ng-click="cancelPlanChanges()" id="cancelButton" title="{{cancelPlanDetails}}">
                        <i class="fa fa-close"></i>
                    </button>
                </div>
                @*</div>*@
            </div>
            @*<h3>Functions  Allowed</h3>
                <div class="heightsample">
                    <div class="row">
                        <div id="functionsAllowedForPlanGrid"></div>
                    </div>
                </div>*@
        </div>



        <div>
            <div id="EditformDataView">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-md-12 text-left">
                            <div class="form-group" ng-class="{'has-error': planForm.planName.$invalid && formSubmitted }">
                                <label for="planName" class="col-md-6 control-label">
                                    Plan Name
                                </label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="planName" name="planName" placeholder="Plan Name"
                                           ng-model="selectedPlan.PLAN_NAME" required  />
                                    <span ng-show="planForm.PlanName.$invalid && formSubmitted && planForm.PlanName.$error.required" class="text-danger">Required.</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': planForm.skuCount.$invalid && formSubmitted }">
                                <label for="skuCount" class="col-md-6 control-label">
                                    SKU's Count
                                </label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="skuCount" name="skuCount" placeholder="SKU's Count" onkeypress='return event.charCode >= 48 && event.charCode <= 57  '
                                           ng-model="selectedPlan.SKU_COUNT" required readonly />
                                    <span ng-show="planForm.SkuCount.$invalid && formSubmitted && planForm.SkuCount.$error.required" class="text-danger">Required.</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': planForm.UsersCount.$invalid && formSubmitted }">
                                <label for="usersCount" class="col-md-6 control-label">
                                    No of Allowed Users
                                </label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="usersCount" name="usersCount" placeholder="Users Count" onkeypress='return event.charCode >= 48 && event.charCode <= 57 '
                                           ng-model="selectedPlan.NO_OF_USERS" required readonly />
                                    <span ng-show="planForm.UsersCount.$invalid && formSubmitted && planForm.UsersCount.$error.required" class="text-danger">Required.</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': planForm.SubscriptionPeriod.$invalid && formSubmitted }">
                                <label for="subscriptionPeriod" class="col-md-6 control-label">
                                    Subscription Period in Months
                                </label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="subscriptionPeriod" name="subscriptionPeriod" placeholder="Subscription Duration" onkeypress='return event.charCode >= 48 && event.charCode <= 57 '
                                           ng-model="selectedPlan.SUBSCRIPTION_IN_MONTHS" required readonly />
                                    <span ng-show="planForm.SubscriptionPeriod.$invalid && formSubmitted && planForm.SubscriptionPeriod.$error.required" class="text-danger">Required.</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': planForm.priceInDollars.$invalid && formSubmitted }">
                                <label for="priceInDollars" class="col-md-6 control-label">
                                    Price in Dollars
                                </label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="priceInDollars" name="priceInDollars" placeholder="$" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46'
                                           ng-model="selectedPlan.Price_In_Dollars" required  />
                                    <span ng-show="planForm.priceInDollars.$invalid && formSubmitted && planForm.priceInDollars.$error.required" class="text-danger">Required.</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': planForm.Storage.$invalid && formSubmitted }">
                                <label for="StorageGB" class="col-md-6 control-label">
                                    StorageGB
                                </label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="StorageGB" name="StorageGB" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46'
                                           ng-model="selectedPlan.StorageGB" required readonly />
                                    <span ng-show="planForm.StorageGB.$invalid && formSubmitted && planForm.StorageGB.$error.required" class="text-danger">Required.</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': planForm.CustomPDFCatalogTemplates.$invalid && formSubmitted }">
                                <label for="CustomPDFCatalogTemplates" class="col-md-6 control-label">
                                    Custom PDF Catalog Templates
                                </label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="CustomPDFCatalogTemplates" name="CustomPDFCatalogTemplates" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                           ng-model="selectedPlan.CustomPDFCatalogTemplates" required readonly />
                                    <span ng-show="planForm.CustomPDFCatalogTemplates.$invalid && formSubmitted && planForm.CustomPDFCatalogTemplates.$error.required" class="text-danger">Required.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="isActive" class="col-md-6 control-label">
                                    IsActive ?
                                </label>
                                <div class="col-md-6">
                                    <input type="checkbox" class="" id="isActive" name="isActive" placeholder="IsActive"
                                           ng-model="selectedPlan.IS_ACTIVE"  />
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="col-sm-6"  style="height: 400px; overflow-y: scroll; ">
                    <div style="display: none">
                        <div id="EditfunctionsAllowedForPlanGrid"></div>
                    </div>

                    <div class="col-sm-12">
                        <div kendo-grid options="EditplanMainGridOptions" id="Editgrid">
                        </div>
                        <script type="text/x-kendo-template" id="Editplantemplate">
                            <div kendo-grid k-options="EditplanDetailGridOptions(dataItem)" id="Editplandetailgrid"></div>
                        </script>
                    </div>
                </div>
                <br /><br />
                <div class="col-sm-12" align="center">
                    <button type="submit" class="btn btn-primary btn-xs" ng-click="savePlan()" id="saveButton" title="{{savePlanDetails}}">
                        <i class="fa fa-save"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-xs" ng-click="resetPlan()" title="{{refreshPlanDetails}}">
                        <i class="fa fa-rotate-right"></i>
                    </button>
                    <button class="btn btn-primary btn-xs" ng-click="cancelPlanChanges()" id="cancelButton" title="{{cancelPlanDetails}}">
                        <i class="fa fa-close"></i>
                    </button>
                </div>

            </div>

        </div>



    </form>
    <script>
        $(function () {
            $("#accordion").accordion();
        });
    </script>
    <style>
        .heightsample {
            height: 250px;
            width: 100%;
        }
    </style>
</div>
