﻿
@{
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}

@{
    var ImageName = "";
    if (string.IsNullOrEmpty(@HttpContext.Current.Session["ProductTitle"] as string))
    {

        ImageName = "MarketStudio.png";

    }
    else
    {
        var ProductTitle = @HttpContext.Current.Session["ProductTitle"].ToString();
        ImageName = ProductTitle + ".png";

    }
}

@section styles{

}


<div class="main-content no-margin no-padding container" ng-controller="UserDashboardController" ng-cloak>
    <div id="DashBoard" @*ng-controller="MaindashboardController" ng-cloak*@>
        @{ Html.RenderPartial("Partials/AdminMainDashboard"); }

    </div>
    <div id="familyEditor" ng-controller="familyController" ng-cloak>
        @{ Html.RenderPartial("Partials/FamilyEditor"); }
    </div>
    <div align="center" id="resultbtntab"><button class="btn btn-primary btn-xs" type="button" ng-click="ModifyResults(productData)">Back to DashBoard</button></div>
</div>

@section scripts{
    
    @*<script type="text/javascript" src='@Url.Content("~/Views/App/Admin/dashboardController.js")'></script>*@
    @*<script type="text/javascript" src='@Url.Content("~/Views/App/Admin/MaindashboardController.js")'></script>*@
<script type="text/javascript" src='@Url.Content("~/Views/App/Admin/UserDashboardController.js")'></script>
   
        @*<script type="text/javascript" src='@Url.Content("~/Views/App/Admin/DashBoardMenuController.js")'></script>*@
    <script type="text/javascript" src='@Url.Content("~/Views/App/Family/familyController.js")'></script>
    <link href="~/Design/css/ng-table.css" rel="stylesheet" />
}












