﻿@{
    ViewBag.Title = "Super Admin";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}
@section styles{
    <style>
       /*.tab-content {
            display: table;
            width: 100%; 
        }*/
    </style>
}
@*<form name="superAdminConfigForm" ng-controller="adminConfigController">*@
    <div class="main-content no-margin" ng-controller="adminConfigController" ng-cloak>
    @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Super Admin</span>  </div>")
    <div class="panel panel-default">
        <div class="panel-heading" style="background-image: url(../../Design/assets/kendo/styles/textures/glass-lighter.png); box-sizing:border-box;
                                      background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;       box-shadow: 0 1px 0 #2c232b inset;">
            <i class="clip-bubbles-2" style="background-color: #fff; color: black; box-sizing:border-box;"></i>
            Super Admin
        </div>
        <div style="height: auto;" class="panel-body panel-scroll ps-container">
            <ul class="nav nav-tabs" role="tablist" id="myTab">
                <li class="active"><a href="#CustomerManagementTab" data-toggle="tab" title="{{customerMgmt}}">Customer Management</a></li>
                <li><a href="#PlanManagementTab" data-toggle="tab" title="{{planMgmt}}">Plan Management</a></li>
                <li><a href="#GeneralSettingsTab" data-toggle="tab" title="{{generalSettings}}">General Settings</a></li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div id="CustomerManagementTab" class="tab-pane fade in active">
                    <div class="col-sm-12" style="margin-top: 10px">
                        @{Html.RenderPartial("Admin/Customers");}
                    </div>
                </div>
                <div id="PlanManagementTab" class="tab-pane fade" style="width:71%">
                    <div class="col-sm-12" style="margin-top: 10px">
                        @{Html.RenderPartial("Admin/PlanManagement");}
                    </div>
                </div>
                <div id="GeneralSettingsTab" class="tab-pane fade">
                    <div class="col-sm-12" style="margin-top: 10px">
                        @{Html.RenderPartial("Admin/GeneralSettings");}
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*</form>*@
@section scripts{
    <script type="text/javascript" src='@Url.Content("~/Views/App/Admin/adminConfigController.js")'></script>
     
}

