﻿@{
    ViewBag.Title = "AttributeGroupingPopUp";
    Layout = null;
}
<div ng-controller="AttributeGrouping" ng-cloak>
    <div class="titleblue">
        <button type="button" class="btn btn-default btn-xs" ng-click="saveAttributeGrouping()"> <i class="fa fa-save"></i></button>
        @*<button type="button" class="btn btn-default btn-xs" ng-click="ReloadWindow()"> Refresh</button>*@
    </div>
    <div align="justify" class="col-sm-10">
        <table>
            <tbody>
                <tr>
                    <td align="right" width="25%">
                        Attribute Type
                    </td>
                    <td align="left" width="25%">
                        <div>
                            <div style="vertical-align: bottom; padding-bottom: 20px;padding-top: 8px;">
                                <select kendo-drop-down-list
                                        k-data-text-field="'DATA_TYPE'"
                                        k-data-value-field="'id'"
                                        k-selectable="true"
                                        k-data-source="AttributeDataSource"
                                        k-on-change="AttrtypeChangetab(kendoEvent)" style="width:250px"></select>@*catalogtypeChange*@
                                    </div>
                                </div>
                            </td>
                            <td align="right" width="25%">
                                Multiple Tables
                            </td>
                            <td align="left" width="25%">
                                <div>
                                    <select kendo-drop-down-list
                                            k-option-label="'--- Select Pack ---'"
                                            k-data-text-field="'GROUP_NAME'"
                                            k-data-value-field="'GROUP_ID'"
                                            k-data-source="attributeGroupDataSource"
                                            ng-model="Group.GROUP_ID"
                                            k-on-change="catalogtypeChange(kendoEvent)" style="width:250px"></select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="25%"></td>
                            <td align="left" width="25%"></td>
                            <td align="right" width="25%">
                                Layout Type
                            </td>
                            <td align="left" width="25%">
                                <div>
                                    <select kendo-drop-down-list
                                            @* k-option-label="'--- Select Layout ---'"*@
                                            k-data-text-field="'DATA_TYPE'"
                                            k-data-value-field="'id'"
                                            k-data-source="layoutType"
                                            k-on-change="layoutTypeChange(kendoEvent)" style="width:250px"></select>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="right" width="25%">
                                <span><input type="checkbox" id="chkLeftTree" ng-model="CheckOrUncheckBoxLeftTree" ng-click="CheckOrUncheckLeftTree()"> <b>Check all</b></input> </span>
                            </td>
                            <td align="left" width="25%"></td>
                            <td align="right" width="25%">
                                <span><input type="checkbox" id="chkRightTree" ng-model="CheckOrUncheckBoxRightTree" ng-click="CheckOrUncheckRightTree()"> <b>Check all</b></input> </span>
                            </td>
                            <td align="left" width="25%"></td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td align="right" width="40%">
                                @*<div id="treeviewKendo1" kendo-tree-view="tree" k-data-source="selectedcatalog" k-options="treeOptionsCatalog"
                                           style="height:100px;border: 1px solid #ccc;border-radius: 4px;">
                                        <span k-template>
                                            <label class='k-item' id="{{dataItem.ATTRIBUTE_ID}}">{{dataItem.ATTRIBUTE_NAME}}</label>
                                        </span>
                                    </div>*@
                                @*<div id="treeviewAttributeGroupLeft" style="min-height:100px;min-width:330px;border: 1px solid #ccc;border-radius: 4px; text-align:left;"></div>*@
                                <div class="navbar-content" id="showcatalogTab">
                                    <div class="main-navigation navbar-collapse1" style="position: inherit;width:335px;padding-right: 10px;">
                                        <div class="heightsample" style="max-height:200px;min-height:100px;overflow: auto;border: 1px solid rgb(204, 204, 204);border-radius: 4px;">
                                            <div id="checkboxpadding" style="text-align: left !important;">
                                                <div ng-repeat="e in entities">
                                                    <input type='checkbox' id='chkid' class='chk' ng-click="chkidCheckOrUncheckLeftTree()" value="{{e.ATTRIBUTE_ID}}" />
                                                    {{e.ATTRIBUTE_NAME}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td align="left" width="10%">
                                <table>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="entitiesToLeft()"><span class="glyphicon glyphicon-arrow-left"></span></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="entitiesToRight()"><span class="glyphicon glyphicon-arrow-right"></span></button>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td align="right" width="40%">
                                @*<div id="treeviewAttributeGroupRight" style="min-height:100px;min-width:330px;border: 1px solid #ccc;border-radius: 4px; text-align:left;"></div>*@
                                <div class="navbar-content" id="showcatalogTab">
                                    <div class="main-navigation navbar-collapse1" style="position: inherit;width:335px;padding-left: 10px;padding-right: 10px;">
                                        <div class="heightsample" style="max-height:200px;min-height:100px;overflow: auto;border: 1px solid rgb(204, 204, 204);border-radius: 4px;">
                                            <div id="checkboxpadding" style="text-align: left !important;">
                                                <div ng-repeat="e in entitiesRightTree">
                                                    <input type='checkbox' id='chkidRightTree' ng-click="chkidCheckOrUncheckLeftTree()" class='chkRgtTree' value="{{e.ATTRIBUTE_ID}}" />
                                                    {{e.ATTRIBUTE_NAME}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            @*<td align="left" width="10%">
                                    <table>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-arrow-up"></span></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-arrow-down"></span></button>
                                            </td>
                                        </tr>
                                    </table>
                                </td>*@
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>