﻿

<style>
    .btnRadius {
        border-radius: 10px;
        border-bottom-color: #5cb85c;
        border-right-color: #5cb85c !important;
        margin: 10px;
    }
  
</style>
 

<div id="clonefamily">

    <!--<div class="row no-margin">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse1">
            <span class="clip-list-2"></span>
        </button>
    </div>-->
    <div kendo-grid k-options="GetClonefamilyGridOptions" style="width:100%"></div>
    <!--<div id="winGetClonefamilyGridOptions" kendo-grid k-options="GetClonefamilyGridOptions" style="width:100%"></div>-->

</div>
