﻿<div class="col-sm-12">
    <form name="customersForm">
        <div >
            <div id="customerListView">
                <div class="col-md-12 col-lg-12 padding-0">
                    <h2 class="pageTitle">Customer Management</h2>
                    <br>
                    <button class="btn btn-primary btn-xs" ng-click="addCustomer()" title="{{newCustomer}}">Add Customer</button>
                    @*<div style="float:right; display:inline-block;margin-top:-50px" class="form-inline bodyContent">
                        <label for="searchByName">Search Customer By Name:</label>  &nbsp;
                        <input type="text" name="searchByName" ng-model="searchingCustomer" required width="50px">
                        <span class="error" ng-show="customersForm.searchByName.$error.required">
                            Required.
                        </span>
                        <button type="button" ng-click="searchCustomers()" ng-disabled="!customersForm.$valid" class="btn btn-primary btn-xs">Search</button>
                    </div>*@
                </div>
                <div class="clearfix"></div>
                <br />
                <div kendo-grid k-options="customersGridOptions"></div>
            </div>
            <div id="editCustomerView"  style="display:none">
                @{Html.RenderPartial("Admin/AddEditCustomer");}
            </div>
        </div>
    </form>
</div>


