﻿@{
    var ImageName = "";
    if (string.IsNullOrEmpty(@HttpContext.Current.Session["ProductTitle"] as string))
    {

        ImageName = "MarketStudio.png";
        ViewBag.Title = "CatalogStudio Dashboard";
    }
    else
    {
        var ProductTitle = @HttpContext.Current.Session["ProductTitle"].ToString();
        ImageName = ProductTitle + ".png";
        ViewBag.Title = ProductTitle + "Dashboard";

    }
}
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{


}
<div class="main-content" ng-cloak>
    <div class="row">
        <div class="row no-margin">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse1">
                <span class="clip-list-2"></span>
            </button>
        </div>
        @{ Html.RenderPartial("Partials/FamilyEditor"); }
    </div>
</div>

<div kendo-window="winGetClone" id="winGetCloneid" k-resizable="true" k-draggable="false" k-title="'CloneProductList'" k-width="1100" top="150" k-height="450" k-visible="false"
     k-actions='["Close"]'
     k-modal="true" k-on-open="winBatchLogVisible = true" k-on-close="onClose(kendoEvent)">

</div>


<div kendo-window="winTrashClone" id="winTrashCloneid" k-resizable="true" k-draggable="false" k-title="'TrashProductList'" k-width="1100" top="150" k-height="450" k-visible="false"
     k-actions='["Close"]'
     k-modal="true" k-on-open="winBatchLogVisible = true" k-on-close="onClose(kendoEvent)">
</div>

<div ng-cloak>
    <div id="associatedgrid">
    </div>
    <div id="dynamictable" style="max-width: 100%;padding-left: 0px;overflow-x: hidden !important;">
        @*Pagination Top*@
        <div class="col-sm-12 row product-pagination-top padding-0 margin-bottom-15" id="PagingTop">
            <div class="col-sm-3 padding-0 pull-left margin-left-20">
                @*<button class="gridpaging1" type="button" ng-if="ResultEmpty!=true" ng-click="callProductGridPagingMain('1')"><span class="k-icon k-i-seek-w"></span></button>
                    <button class="gridpaging1" type="button" ng-if="ResultEmpty!=true" ng-click="callProductGridPagingMain('PREV')"><span class="k-icon k-i-arrow-w"></span></button>
                    <select kendo-drop-down-list class="selectcss" ng-show="ResultEmpty!=true" id="cboProdPageCount" style="width: 60px;"
                            k-data-source="ProdPageCount"
                            ng-model="ProdCurrentPage"
                            k-on-change="callProductGridPagingMain(ProdCurrentPage)" style="background-color: white !important;"></select>*@
                @*<button class="gridpaging1" type="button" ng-if="ResultEmpty!=true" ng-click="callProductGridPagingMain('NEXT')"><span class="k-icon k-i-arrow-e">Go to the next page</span></button>
                    <button class="gridpaging1" type="button" ng-if="ResultEmpty!=true" ng-click="callProductGridPagingMain(totalProdPageCount)"><span class="k-icon k-i-seek-e">Go to the last page</span></button>*@
            </div>
            @section scripts{

                <script type="text/javascript" src='@Url.Content("~/Views/App/Family/familyController.js")'></script>
                }




