﻿@using Microsoft.Ajax.Utilities
@using System.Web.UI.WebControls;
@using System.Web.Routing;
@using Stimulsoft.Report.Mvc;


@section styles{
    <style>
        .k-grid table tbody tr {
            cursor: pointer;
        }
    </style>
    <style>
            #treeview-left,
            #treeview-right {
                overflow: visible;
            }

            #treeview li.k-item {
                float: left;
            }

            table thead tr th, #dynamictable table thead tr th {
                color: #003DA5 !important;
                text-align: center !important;
                text-transform: capitalize;
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
                text-rendering: geometricPrecision;
                letter-spacing: 0.035em;
            }

            a:hover {
                text-decoration: none !important;
            }

            .k-window-titlebar.k-header {
                font-weight: bold !important;
                text-transform: capitalize;
            }

            .k-button {
                color: #fff;
                background-color: #337ab7;
                border-color: #2e6da4;
            }


            /* Custom style For Accordion Plus Minus */
            /*.accordion-button::after {
          background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
          transform: scale(.7) !important;
        }
        .accordion-button:not(.collapsed)::after {
          background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
        }*/
    </style>
}

<script type="text/javascript" src='@Url.Content("~/Views/App/Attribute/FamilynewattributeController.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Views/App/Family/FamilyMenuController.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Views/App/Family/familytabledesignerController.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Views/App/Family/familyProductController.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Views/App/Family/FamilyImport.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Views/App/Family/FamilyImport.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Views/App/Family/FamilySpecController.js")'></script>

<style>
    /*div#print_tab {
        display: none;
    }*/

    .red {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }

    .selected {
        background-color: lightgrey !important;
        color: white;
    }

    .title {
        padding: 6px;
    }

    .familybtn {
        margin-top: 3%;
    }

    .label-familyname {
        float: left;
    }

    .label-category {
        float: left;
        padding: 6px;
    }

    .pagination {
        display: none !important;
    }

    table#sampleProdgrid1 {
        height: 445px;
        overflow: auto;
        display: block;
    }

    #sampleProdgrid1 > tbody {
        width: 921px;
        display: inline-table;
    }

    td.featureheader {
        width: 83%;
        overflow: auto;
        display: block;
    }

    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        margin-bottom: 15px;
    }

        .active1, .accordion:hover {
            background-color: #ccc;
        }

        .accordion:after {
            display:none;
            content: '\002B';
            color: #777;
            font-weight: bold;
            margin-left: 5px;
            position: absolute;
            right: 50px;
        }

    .active1:after {
        content: "\2212";
        color: white;
    }

    .active1:after {
        content: "\2212";
    }



    .panel {
        padding: 0 18px;
        /*  display: none;*/
        background-color: white;
        overflow: hidden;
    }

    #sub_accordion {
        width: 95%;
    }

    #prod_spec_Title {
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        background-position: 50% 50%;
        background-color: #e5e5e5;;
        color: #091f3f;
        border-radius: 3px 3px 0 0;
        text-align: center;
        font-weight: bold;
        display: inline-block!important;
        width: 100%;
        margin-bottom: 20px;
    }
</style>
<script type="text/javascript">
    function isValid(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode == 32) {
            alert("Please enter valid Text");
            return false;
        }
        return true;
    }
    $(function () {
        $("#accordions > div").accordion({ header: "h3", collapsible: true });
    });

</script>


<style>
    .k-treeview .k-item {
        display: inherit !important;
    }

    .k-split-button:focus > .k-button {
        background-color: #337ab7 !important;
    }
</style>

<script>
    $(function () {
        $("#accordion1").accordion({ collapsible: true });
    });
</script>

<script>
    $(function () {
        $('.ui.accordion').accordion({ exclusive: true });
    });
</script>

<script type="text/javascript" src='@Url.Content("~/Views/ImageManagement/ImageManagementPopup.js")'></script>
<form name="Familygrid_Form" id="gridfamily" ng-init="LoadFamilySpecsData()" style="margin-bottom: 15px;">
    @*<div ng-controller="MenuController" ng-cloak>
            <div id="user-toolbar" kendo-toolbar k-options="toolbarOptions"></div>
        </div>*@

    <div id="divFmlyTab">
        <div class="k-widget main-menu-copy " id="tabledesignermenu1" style="padding: 0px;margin-bottom: 20px;">
           
        <div class="product_btn_left">
            <div class="btn-group">
                <button type="button" id="user-toolbar-create-newsubfamily" class="btn btn-primary btn-xs dropdown-toggle" ng-disabled="!EditMode" style="margin-bottom: 0px" data-toggle="dropdown" title="{{new}}">
                    <i class="fa fa-plus"></i> <span style="margin-left: 15px;" class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" style="font-size: 12px">
                    <li id="user-toolbar-create-new-family"><a href="javascript:void(0)" class="k-link" ng-disabled="!EditMode" ng-click="SetFlag()" title="{{newFamily}}" style="color: white;">New Product</a></li>
                    <li id="user-toolbar-create-newsub-family"><a href="javascript:void(0)" ng-if="Family.FAMILY_NAME!=''" ng-disabled="!EditMode" class="k-link" ng-click="btnSubFamilyCreate()" title="{{newSubFamily}}" style="color: white;">New SubProduct</a></li>
                </ul>
            </div>
            <button type="button" class="btn btn-primary btn-xs green-btn" id="user-toolbar-save-family" style="margin-bottom: 0px" ng-click="Create()" title="{{saveFamily}}"><i class="fa fa-save"></i></button>
            <button type="button" class="btn btn-primary btn-xs" ng-show="familyCreated" id="user-toolbar-preview" style="margin-bottom: 0px" ng-click="previewFamily()" title='{{familyPreview}}'><i class="fa fa-eye"></i></button>
            <button type="button" class="btn btn-primary btn-xs" ng-show="familyCreated" id="user-toolbar-association-removal-family" style="margin-bottom: 0px" ng-disabled="!userRoleDetachFamily || isCloneFamilyDetach" ng-click="removeFamilyPermanently()" title="{{detachFamily}}"><i class="fa fa-ban"></i></button>
            @*<button type="button" class="btn btn-primary btn-xs" id="user-toolbar-delete-family" style="margin-bottom: 0px" ng-click="removeFamilyPermanentlyFromMaster()" title="{{deleteFamily}}">Delete</button>*@
            <button type="button" class="btn btn-primary btn-xs" ng-show="familyCreated" id="user-toolbar-trash-family" style="margin-bottom: 0px" ng-disabled="!userRoleDeleteFamily || isCloneFamilyDelete" ng-click="trashFamilyPermanentlyFromMaster()" title="{{deleteFamily}}"><i class="fa fa-trash"></i></button> @*Move to Recycle Bin*@
            <button type="button" class="btn btn-primary btn-xs" ng-show="familyCreated" id="user-toolbar-family-attribute-setup" style="margin-bottom: 0px" ng-click="familyAttributeSetupClick()" title="{{familyAttributeSetUp}}">Attributes</button>
            <div class="btn-group">
                <button type="button" id="user-toolbar-default-layout" class="btn btn-primary btn-xs dropdown-toggle" title="{{tableDesignerLayout}}" style="margin-bottom: 0px" data-toggle="dropdown">
                    Default Layout <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" style="font-size: 12px">
                    <li id="user-toolbar-create-new-layout"><a href="javascript:void(0)" ng-click="createLayoutClick()" class="k-link" title="{{createNewTableLayout}}" style="color: white;">Create New Layout</a></li>
                    <li id="user-toolbar-delete-layout"><a href="javascript:void(0)" ng-click="deleteLayoutClick()" class="k-link" title="{{deleteTableLayout}}" style="color: white;">Delete Layout</a></li>
                    <li id="user-toolbar-set-table-layout"><a href="javascript:void(0)" ng-click="defaultLayoutClick()" class="k-link" title="{{setDefaultLayout}}" style="color: white;">Set Default Layout</a></li>
                </ul>
            </div>

            <button type="button" class="btn btn-primary btn-xs" id="user-toolbar-table-designer" ng-disabled="!EditMode" style="margin-bottom: 0px" ng-click="tableDesignerClick()" title="{{familyTableDesigner}}">Table Designer</button>
            @*<button type="button" class="btn btn-primary btn-xs" id="user-toolbar-export" style="margin-bottom: 0px" ng-click="Family_import()">Import</button>
        <button type="button" class="btn btn-primary btn-xs" id="user-toolbar-export" style="margin-bottom: 0px" ng-click="GetProdSpecsExport()">Export</button>*@


        </div>
        
        <div class="spec_right">
            <div class="product_quick_menu">

                <button class="btn btn-primary btn-xs" ng-click="openspec()" title="Specifications"> <img src="~/Content/assets/images/1.png" /> </button>&nbsp;&nbsp;
                <button class="btn btn-primary btn-xs" ng-click="openproducts()" title="Related Products"> <img src="~/Content/assets/images/2.png" />   </button>&nbsp;&nbsp;
                <button class="btn btn-primary btn-xs" ng-click="openclone()" title="Clones"> <img src="~/Content/assets/images/4.png" />  </button>&nbsp;&nbsp;
                <button class="btn btn-primary btn-xs" ng-click="opentable()" title="Multiple Tables"> <img src="~/Content/assets/images/5.png" />   </button>&nbsp;&nbsp;
                <button class="btn btn-primary btn-xs" ng-click="opengroups()" title="Attribute Groups"> <img src="~/Content/assets/images/3.png" /> </button>&nbsp;&nbsp;
            </div>
        </div>
        
        </div>


        @*<button type="button" class="btn btn-primary btn-xs" ng-click="btnSubFamilyCreate()">New Family</button>*@

        <div class="col-sm-12 " id="family-top-sec" style="z-index: 9;">
            <div class="margin-bottom-15 row">
                <div class="col-sm-3 padding-0">
                    <label class="caption">Product </label>
                    <input type="text" id="txtFAMILY_NAME" name="familyname" ng-model="Family.FAMILY_NAME" required ng-trim="false" style="width: 170px;">
                </div>

                <div class="col-sm-3 padding-0">
                    <label class="caption"> Publish </label>


                    <label class="custom-chkbx" style="width: 30px;">
                        @*Web*@
                        <span class="web_icon" title="WEB">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe2" viewBox="0 0 16 16">
                                <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855-.143.268-.276.56-.395.872.705.157 1.472.257 2.282.287V1.077zM4.249 3.539c.142-.384.304-.744.481-1.078a6.7 6.7 0 0 1 .597-.933A7.01 7.01 0 0 0 3.051 3.05c.362.184.763.349 1.198.49zM3.509 7.5c.036-1.07.188-2.087.436-3.008a9.124 9.124 0 0 1-1.565-.667A6.964 6.964 0 0 0 1.018 7.5h2.49zm1.4-2.741a12.344 12.344 0 0 0-.4 2.741H7.5V5.091c-.91-.03-1.783-.145-2.591-.332zM8.5 5.09V7.5h2.99a12.342 12.342 0 0 0-.399-2.741c-.808.187-1.681.301-2.591.332zM4.51 8.5c.035.987.176 1.914.399 2.741A13.612 13.612 0 0 1 7.5 10.91V8.5H4.51zm3.99 0v2.409c.91.03 1.783.145 2.591.332.223-.827.364-1.754.4-2.741H8.5zm-3.282 3.696c.12.312.252.604.395.872.552 1.035 1.218 1.65 1.887 1.855V11.91c-.81.03-1.577.13-2.282.287zm.11 2.276a6.696 6.696 0 0 1-.598-.933 8.853 8.853 0 0 1-.481-1.079 8.38 8.38 0 0 0-1.198.49 7.01 7.01 0 0 0 2.276 1.522zm-1.383-2.964A13.36 13.36 0 0 1 3.508 8.5h-2.49a6.963 6.963 0 0 0 1.362 3.675c.47-.258.995-.482 1.565-.667zm6.728 2.964a7.009 7.009 0 0 0 2.275-1.521 8.376 8.376 0 0 0-1.197-.49 8.853 8.853 0 0 1-.481 1.078 6.688 6.688 0 0 1-.597.933zM8.5 11.909v3.014c.67-.204 1.335-.82 1.887-1.855.143-.268.276-.56.395-.872A12.63 12.63 0 0 0 8.5 11.91zm3.555-.401c.57.185 1.095.409 1.565.667A6.963 6.963 0 0 0 14.982 8.5h-2.49a13.36 13.36 0 0 1-.437 3.008zM14.982 7.5a6.963 6.963 0 0 0-1.362-3.675c-.47.258-.995.482-1.565.667.248.92.4 1.938.437 3.008h2.49zM11.27 2.461c.177.334.339.694.482 1.078a8.368 8.368 0 0 0 1.196-.49 7.01 7.01 0 0 0-2.275-1.52c.218.283.418.597.597.932zm-.488 1.343a7.765 7.765 0 0 0-.395-.872C9.835 1.897 9.17 1.282 8.5 1.077V4.09c.81-.03 1.577-.13 2.282-.287z" />
                            </svg>
                        </span>
                        <input type="checkbox" id="publishCHK" class="chkoption" ng-click="pubCHK()" ng-model="Family.PUBLISH2WEB" required ng-trim="false">
                        <span class="checkmark"></span>
                    </label>

                    <label class="custom-chkbx" style="width: 30px;">
                        @*Print*@
                        <span class="print_icon" title="PRINT">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                                <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
                                <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z" />
                            </svg>
                        </span>
                        <input type="checkbox" id="publish2PrintCHK" class="chkoption" ng-click="pub2PrintCHK()" ng-model="Family.PUBLISH2PRINT" required ng-trim="false">
                        <span class="checkmark"></span>
                    </label>

                    <label class="custom-chkbx" style="width: 30px;">
                        @*PDF*@
                        <span class="pdf_icon" title="PDF">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-pdf" viewBox="0 0 16 16">
                                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                                <path d="M4.603 14.087a.81.81 0 0 1-.438-.42c-.195-.388-.13-.776.08-1.102.198-.307.526-.568.897-.787a7.68 7.68 0 0 1 1.482-.645 19.697 19.697 0 0 0 1.062-2.227 7.269 7.269 0 0 1-.43-1.295c-.086-.4-.119-.796-.046-1.136.075-.354.274-.672.65-.823.192-.077.4-.12.602-.077a.7.7 0 0 1 .477.365c.088.164.12.356.127.538.007.188-.012.396-.047.614-.084.51-.27 1.134-.52 1.794a10.954 10.954 0 0 0 .98 1.686 5.753 5.753 0 0 1 1.334.05c.364.066.734.195.96.465.12.144.193.32.2.518.007.192-.047.382-.138.563a1.04 1.04 0 0 1-.354.416.856.856 0 0 1-.51.138c-.331-.014-.654-.196-.933-.417a5.712 5.712 0 0 1-.911-.95 11.651 11.651 0 0 0-1.997.406 11.307 11.307 0 0 1-1.02 1.51c-.292.35-.609.656-.927.787a.793.793 0 0 1-.58.029zm1.379-1.901c-.166.076-.32.156-.459.238-.328.194-.541.383-.647.547-.094.145-.096.25-.04.361.01.022.02.036.026.044a.266.266 0 0 0 .035-.012c.137-.056.355-.235.635-.572a8.18 8.18 0 0 0 .45-.606zm1.64-1.33a12.71 12.71 0 0 1 1.01-.193 11.744 11.744 0 0 1-.51-.858 20.801 20.801 0 0 1-.5 1.05zm2.446.45c.15.163.296.3.435.41.24.19.407.253.498.256a.107.107 0 0 0 .07-.015.307.307 0 0 0 .094-.125.436.436 0 0 0 .059-.2.095.095 0 0 0-.026-.063c-.052-.062-.2-.152-.518-.209a3.876 3.876 0 0 0-.612-.053zM8.078 7.8a6.7 6.7 0 0 0 .2-.828c.031-.188.043-.343.038-.465a.613.613 0 0 0-.032-.198.517.517 0 0 0-.145.04c-.087.035-.158.106-.196.283-.04.192-.03.469.046.822.024.111.054.227.09.346z" />
                            </svg>
                        </span>
                        <input type="checkbox" id="publish2Pdf" class="chkoption" ng-click="publish2Pdf()" ng-model="Family.PUBLISH2PDF" required ng-trim="false">
                        <span class="checkmark"></span>
                    </label>


                    @*<input type="checkbox" id="publishCHK" class="chkoption" ng-click="pubCHK()" ng-model="Family.PUBLISH2WEB" required ng-trim="false">&nbsp;&nbsp;Web &nbsp;&nbsp;
            <input type="checkbox" id="publish2PrintCHK" class="chkoption" ng-click="pub2PrintCHK()" ng-model="Family.PUBLISH2PRINT" required ng-trim="false">&nbsp;&nbsp;Print &nbsp;&nbsp;
            <input type="checkbox" id="publish2Pdf" class="chkoption" ng-click="publish2Pdf()" ng-model="Family.PUBLISH2PDF" required ng-trim="false">&nbsp;&nbsp;PDF &nbsp;&nbsp;*@
                    @*<input type="checkbox" id="publish2Export" class="chkoption" ng-click="publish2Export()" ng-model="Family.PUBLISH2EXPORT" required ng-trim="false">&nbsp;&nbsp;Export &nbsp;&nbsp;
            <input type="checkbox" id="publish2Portal" class="chkoption" ng-click="publish2Portal()" ng-model="Family.PUBLISH2PORTAL" required ng-trim="false">&nbsp;&nbsp;Portal &nbsp;&nbsp;*@
                </div>

                <div class="col-sm-4 padding-0">
                    <label class="caption">Category</label>
                    @*<div id="dropDownTreeView" title="You can move the Family to this category if required by selecting the category and saving it."></div>*@
                    <input type="text" name="familycategoryname" id="familycategoryname" ng-model="Family.CATEGORY_NAME" disabled="disabled" style="width: 170px;">
                    <input type="hidden" ng-model="Family.CATEGORY_ID">
                </div>

                <div class="col-sm-2 padding-0" ng-if="EnableWorkflow===true">
                    <div class="caption">Work Flow</div>
                    <select kendo-drop-down-list
                            ng-model="Family.STATUS_NAME"
                            k-data-source="workflowDataSource"
                            k-on-change="workflowitemChange(kendoEvent)"
                            style="width: 180px"></select>
                </div>
            </div>


            

            <div class="margin-bottom-15 row">
                <div class="col-sm-6 padding-0">
                    <div class="file-upload" style="float: left;width: 65%;">
                        <div class="file-select">
                            <div class="file-select-button" id="fileName">Product Template</div>
                            <div class="file-select-name" id="noFile">{{SelectedFileForFamily}}</div>
                            <input type="file" title="{{SelectedFileForFamilyTooltip}}" name="chooseFile" accept=".mrt" onchange="angular.element(this).scope().selectFileforUploadRun_Family(this.files)" id="FamilyFile">
                        </div>
                    </div>

                    <div class="col-sm-1 p-0"> <button type="button" class="btn btn-primary btn-xs" ng-click="deleteFamilyPdf()" title="Clear file"><i class="fa fa-close"></i></button></div>
                </div>

                <div class="col-sm-6 padding-0">
                    <div class="file-upload" style="float: left;width: 65%;">
                        <div class="file-select">
                            <div class="file-select-button" id="fileName">Item Template</div>
                            <div class="file-select-name" id="noFile">{{SelectedFileForProduct}}</div>
                            <input type="file" title="No file chosen" name="chooseFile1" accept=".mrt" onchange="angular.element(this).scope().selectFileforUploadRun_Product(this.files)" id="ProductFile">
                        </div>
                    </div>
                    <div class="col-sm-1 p-0">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="deleteProductPdf()" title="Clear file"><i class="fa fa-close"></i></button>
                    </div>
                </div>
                <div class="testfield" style="display: none !important;">
                    <div class="flyout-wrap">
                        <a class="flyout-btn" href="javascript:void(0)" title="Product Quick Ball"><span">Flyout Menu Toggle</span></a>
                        <ul class="flyout flyout-init">
                            <li title="Specification" ng-click="openspec()" id="spec-container"><a href="javascript:void(0)"><span>Item</span></a></li>
                            <li title="Related Products" ng-click="openproducts()"><a href="javascript:void(0)"><span>Item</span></a></li>
                            <li title="Clones" ng-click="openclone()"><a href="javascript:void(0)"><span>Item</span></a></li>
                            <li title="Multiple Tables" ng-click="opentable()"><a href="javascript:void(0)"><span>Item</span></a></li>
                            <li title="Attribute Groups" ng-click="opengroups()"><a href="javascript:void(0)"><span>Item</span></a></li>
                        </ul><!-- .flyout -->
                    </div><!-- .flyout-wrap -->
                </div><!-- #testfield -->

            </div>
        </div>





        <div role="alert">
            <span class="error" ng-show="Familygrid_Form.familyname.$error.required">Product Name Required.</span>
        </div>
        <div class="row no-margin " id="familyselect" style="max-width: 100%;">
           
            <div class="spec-container" ng-show="speccontainer">
                    <button class="accordion" style="font-weight: bolder;">Product Specifications <span><i class="fa fa-close" ng-click="CloseQuickBall()"></i></span></button>
                    <div id="FamilySpecsTab">
                        <div>
                            @{Html.RenderPartial("Partials/FamilySpecGrid");}
                        </div>
                        <div>
                            <div id="opendesignerFAM" style="display: none">

                                <br />

                                <br />
                                <button id="openback" type="button" class="btn btn-primary btn-xs" ng-click="closeOpentemplate()" title="Back">Back</button>
                            </div>
                        </div>
                    </div>
                @*</div>*@

            </div>



            <div class="families-container" ng-show="familiescontainer">
                <button class="accordion" ng-click="LoadRelatedFamilyData()" style="font-weight: bolder;">Related Products <span><i class="fa fa-close" ng-click="CloseQuickBall()"></i></span></button>
                @*<div class="panel" style="display: none;">*@
                    <div ng-show="renderrelatedfamily" style="display: block!important;">
                        <div id="RelatedFamilyTab">
                            <div ng-if="Family.FAMILY_ID!=='' && Family.FAMILY_ID!=='0' && Family.FAMILY_NAME!='' ">

                                <div ng-if="Family.PARENT_FAMILY_ID===0">
                                    <div kendo-grid k-options="relatedFamilyGridOptions" k-on-change="exchangeFamilyRows(dataItem,kendoEvent)" style="width:100%;"></div>
                                </div>

                                <div ng-if="Family.PARENT_FAMILY_ID!==0">
                                    <div kendo-grid k-options="relatedmainFamilyGridOptions" style="width:600px;"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                @*</div>*@
            </div>

            <div class="clone-container" ng-show="clonecontainer">
                <button class="accordion  title" style="font-weight: bolder;" ng-click="LoadAttributePack()">Clones <span><i class="fa fa-close" ng-click="CloseQuickBall()"></i></span></button>
                @*<div id="prod_spec_Title">Clones</div>*@
                @*<div class="panel" style="display: none;">*@
                    <div id="clonedCategoryTab">
                        <div id="accordion">
                            <button class="styled accordion">Original List</button>
                            <div class="heightfamilygrid" style="display: block;">
                                <div kendo-grid k-options="orginalCategoryGridOptions" style="width:100%"></div>
                            </div>
                        </div>
                        
                        <div ng-show="clonedcategoryshow" id="accordion" style="margin-top: 15px;">
                            <button class="styled accordion active title" id="sub_accordion">Cloned List</button>
                            <div class="heightfamilygrid" style="display: block;">
                                <div kendo-grid k-options="clonedCategoryGridOptions" style="width:100%"></div>
                            </div>
                        </div>
                    </div>
                @*</div>*@
            </div>

            <div class="tables-container" ng-show="tablescontainer">
                <button class="accordion" ng-click="LoadAttributeGroupType()" style="font-weight: bolder;">Multiple Tables <span><i class="fa fa-close" ng-click="CloseQuickBall()"></i></span></button>

                @*<div class="" style="display: none;">*@
                    <div id="MultipleTablesTab" style="display: block;">
                        @{Html.RenderPartial("Admin/MultipleTable");}
                    </div>
                @*</div>*@

            </div>

            <div class="groups-container" ng-show="groupscontainer">
                <button class="accordion" ng-click="LoadAttributePack()" style="font-weight: bolder;">Attribute Groups <span><i class="fa fa-close" ng-click="CloseQuickBall()"></i></span></button>
                @*<div id="prod_spec_Title">Attribute Groups</div>*@
                @*<div class="ui styled accordion  title" >Attribute Groups</div>*@ 
                @*<div class="panel-heading1"  style="display: none;">*@
                    <div id="AttributePackTab">
                        <div id="accordion" style="max-width: 100%;" class="accordionIconChange">
                            <div>
                                <button class="styled accordion">Product Groups ({{familyPackCount}})</button>
                                <div class="heightfamilygrid" style="display: block;">
                                    <div kendo-grid k-options="familylevelAttributePackOptions" style="width:100%"></div>
                                </div>
                            </div>
                            <br />
                            <div>
                                <button class="styled accordion">Item Groups ({{prodPackCount}})</button>
                                <div class="heightfamilygrid" style="display: block;">
                                    <div kendo-grid k-options="productlevelAttributePackOptions" style="width:100%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                @*</div>*@

            </div>

               

                @*<div class="panel" style="display: none;">
                <div style="padding: 1em" class="styled accordion">
                    <div id="AttributePackTab">
                        <div id="accordions" style="max-width: 100%;">

                            <div>
                                <h3>Family Groups ({{familyPackCount}})</h3>
                                <div class="heightfamilygrid">
                                    <div kendo-grid k-options="familylevelAttributePackOptions" style="width:100%"></div>
                                </div>
                            </div>
                            <br />
                            <div>
                                <h3>Product Groups ({{prodPackCount}})</h3>
                                <div class="heightfamilygrid">
                                    <div kendo-grid k-options="productlevelAttributePackOptions" style="width:100%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            </div>
        </div>





    <div id="familyPreview" class="k-state-border-up" style="display: none">
        <div class="panel-heading1 margin-top-15">Product Preview</div>
        @*<h4 style="text-align: center;background-color: #ffffff"><b>Family Preview</b></h4>*@
        @*<div class="margin-bottom-15 margin-top-15">
                <button class="btn btn-primary btn-xs" type="button" ng-if="userPrint" ng-click='Print()' title="{{familyPrint}}">Print</button>
                <button class="btn btn-primary btn-xs" type="button" ng-click='showFamily()' title="{{backToFamily}}">Back</button>
            </div>*@



        <div id="dynamictableFmly" style="max-width: 100%; overflow: auto;">
            <script>

                function PrintElem() {
                    var mywindow = window.open('', 'PRINT', 'height=400,width=600');

                    mywindow.document.write('<html><head><title>' + document.title + '</title>');
                    mywindow.document.write('</head><body >');
                    mywindow.document.write('<h1>' + document.title + '</h1>');
                    var contain = document.getElementById('dynamictableFmly').innerHTML;
                    mywindow.document.write(contain);
                    mywindow.document.write('</body></html>');
                    mywindow.document.close(); // necessary for IE >= 10
                    mywindow.focus(); // necessary for IE >= 10*/


                    setTimeout(function () { mywindow.print(); }, 100);
                    setTimeout(function () { mywindow.close(); }, 10000);


                    return true;


                }


            </script>


            <div id="dynamictableFmlypopup" style="max-width: 100%; overflow: auto;font-size:10px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif !important;">
                <style>
                    div#print_tab {
                        padding: 5px;
                        border: 1px solid #339933;
                        margin: 10px;
                    }

                    td.htmlpreviewtd {
                        background-color: #091f3f;
                        color: white;
                        height: 40px !important;
                        display: block;
                    }

                    h4.headertitle {
                        margin: 5px;
                        text-align: center;
                    }

                    .panel-heading1 {
                        border-bottom: 1px solid transparent;
                        background-position: 50% 50%;
                        background-color: #e5e5e5;
                        border-radius: 3px 3px 0 0;
                        margin-top: 20px;
                        display: flow-root;
                    }

                    .table-striped > tbody > tr:nth-of-type(odd) {
                        background-color: #f1f1f1 !important;
                    }

                    td.featureheader {
                        border: 0px solid #ccc !important;
                    }

                    .subheader {
                        padding: 7px;
                        background: #d2d2d2;
                        color: #091f3f;
                        margin-bottom: 0px;
                        font-size: 18px;
                    }

                    h4.title {
                        background-color: #ccc;
                        padding: 10px;
                        margin-bottom: -20px;
                        text-align: center;
                        border: 1px solid #fff;
                    }

                    .htmlpreviewtable > tbody {
                        width: 100%;
                        display: table;
                    }

                    .htmlpreviewtable {
                        width: 100%;
                        overflow: auto;
                        display: block;
                    }

                    #sampleProdgrid1 > tbody > tr:nth-of-type(even) {
                        background: #f3f3f3;
                    }
                </style>

                <div id="print_tab">
                    <span data-ng-bind-html="trustAsHtml(PreviewText)"></span>
                </div>
                <div class="margin-bottom-15 padding-left-10">
                    <button id="previewPrint" class="btn btn-primary btn-xs" type="button" ng-if="userPrint" onclick="PrintElem()" title="{{familyPrint}}" style="margin-left: 10px;">Print</button>
                    @*<button class="btn btn-primary btn-xs" type="button" ng-click='showFamily()' title="{{backToFamily}}">Back</button>*@
                </div>
            </div>
        </div>



    </div>
    <div class="row" id="divNewFmlyAttriEntry" style="display:none">

        <div class="form-horizontal">
            <div class="row">
                <div class="col-sm-2">
                    Attribute Name
                </div>
                <div class="col-sm-6">
                    <input type="text" name="AttributeName" ng-trim="false">

                    <div role="alert">
                        <span class="error" ng-show="myForm.input.$error.required">
                            Required!
                        </span>
                        <span class="error" ng-show="myForm.input.$error.pattern">
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    Style Name
                </div>
                <div class="col-sm-6">
                    <input type="text" name="StyleName" ng-trim="false">

                    <div role="alert">
                        <span class="error" ng-show="myForm.input.$error.required">
                            Required!
                        </span>
                        @*<span class="error" ng-show="myForm.input.$error.pattern">
                                Single word only!
                            </span>*@<span class="error" ng-show="myForm.input.$error.pattern">
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    Data Type
                </div>
                <div class="col-sm-6">
                    <input type="text" name="StyleName" value="Text" ng-trim="false">

                    <div role="alert">
                        <span class="error" ng-show="myForm.input.$error.required">
                            Required!
                        </span>
                        @*<span class="error" ng-show="myForm.input.$error.pattern">
                                Single word only!
                            </span>*@<span class="error" ng-show="myForm.input.$error.pattern">
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    Size
                </div>
                <div class="col-sm-6">
                    <input type="text" name="FmlyAttrSize" value="Text" ng-trim="false">
                    ( Leave blank for unlimited size )
                    <div role="alert">
                        <span class="error" ng-show="myForm.input.$error.required">
                            Required!
                        </span>
                        @*<span class="error" ng-show="myForm.input.$error.pattern">
                                Single word only!
                            </span>*@<span class="error" ng-show="myForm.input.$error.pattern">
                        </span>
                    </div>
                </div>
            </div>
            <br />

            <div kendo-window="winFamilyAttributeSetup" k-title="'Family Attribute Setup'" k-width="708" k-height="450" k-visible="false"
                 k-actions='["Close"]'
                 k-modal="true" k-on-open="winFamilyAttributeSetupVisible = true" k-on-close="onClose(kendoEvent)">
            </div>



            <div class="form-group">
                <div class="col-sm-2">
                    Apply To
                </div>
                <div class="col-sm-6">
                    <input type="checkbox" name="ApplyToAllRows" value="AllRows">All Rows<br>
                    <input type="checkbox" name="ApplyToFirstRow" value="FirstRow" checked> First Row <br />

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    Prefix
                </div>
                <div class="col-sm-6">
                    <input type="text" name="FmlyAttrPrefix" ng-trim="false">

                    <div role="alert">
                        <span class="error" ng-show="myForm.input.$error.required">
                            Required!
                        </span>
                        @*<span class="error" ng-show="myForm.input.$error.pattern">
                                Single word only!
                            </span>*@<span class="error" ng-show="myForm.input.$error.pattern">
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    Suffix
                </div>
                <div class="col-sm-6">
                    <input type="text" name="FmlyAttrSuffix" ng-trim="false">

                    <div role="alert">
                        <span class="error" ng-show="myForm.input.$error.required">
                            Required!
                        </span>
                        @*<span class="error" ng-show="myForm.input.$error.pattern">
                                Single word only!
                            </span>*@<span class="error" ng-show="myForm.input.$error.pattern">
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    Condition
                </div>
                <div class="col-sm-6">
                    @*<select kendo-drop-down-list
                        k-option-label="'--- Select Condition ---'"
                        k-data-text-field="'CATALOG_NAME'"
                        k-data-value-field="'CATALOG_ID'"
                        k-data-source="catListDatasource"
                        k-on-change="catalogChange(kendoEvent)"
                        style="width: 200px"></select>*@

                    <div role="alert">
                        <span class="error" ng-show="myForm.input.$error.required">
                            Required!
                        </span>
                        @*<span class="error" ng-show="myForm.input.$error.pattern">
                                Single word only!
                            </span>*@<span class="error" ng-show="myForm.input.$error.pattern">
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    Custom Text
                </div>
                <div class="col-sm-6">
                    <input type="text" name="FmlyAttrCustomText" ng-trim="false">

                    <div role="alert">
                        <span class="error" ng-show="myForm.input.$error.required">
                            Required!
                        </span>
                        @*<span class="error" ng-show="myForm.input.$error.pattern">
                                Single word only!
                            </span>*@<span class="error" ng-show="myForm.input.$error.pattern">
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    Select Publish Options
                </div>
                <div class="col-sm-6">
                    <input type="checkbox" name="ApplyToAllRows" value="Print" checked>Print<br>
                    <input type="checkbox" name="ApplyToFirstRow" value="Web" checked> Web <br />

                </div>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary btn-xs" type="button" ng-click="showNewFmlyAttrCancel()">
                    <i class="fa fa-close"></i>
                </button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary btn-xs" type="button" ng-click="showNewFmlyAttrSave()">
                    <i class="fa fa-save"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="tabledesigner">
        <div ng-if="Family.FAMILY_ID!=='' && Family.FAMILY_ID!=='0' "> @{Html.RenderPartial("Admin/TableDesigner");}</div>
    </div>
    <div kendo-window="winCreateNewLayout" k-title="'Create New Layout'" k-width="550" k-height="234" k-visible="false"
         k-actions='["Close"]'
         k-modal="true" k-on-open="winCreateNewLayoutVisible = true" k-on-close="onClose(kendoEvent)">
        <div>
            <div id="newlayout" ng-cloak>
                <div style="height:50px">
                    <div class="col-sm-4 bold textalignright margintop">
                        Structure Type
                    </div>
                    <div>
                        <select kendo-drop-down-list
                                k-data-text-field="'Text'"
                                k-data-value-field="'value'"
                                k-options="StructureType"
                                k-on-change="StructureTypeChange(kendoEvent)"
                                ng-model="Structure.tabletype" style="width:200px"></select>
                        <br />
                    </div>
                </div>
                <div style="height:50px">
                    <div class="col-sm-4 bold textalignright margintop">
                        Structure Name
                    </div>
                    <div>
                        <input type="text" id="txtLayout" ng-model="Structure.structureName" style="width:190px !important" />
                        <br />
                    </div>
                </div>
                <div>
                    <div class="col-sm-4 bold textalignright">
                        Default Layout
                    </div>
                    @*<div>
                        <label> <input type="radio" id="rdbYes" ng-model="Structure.defaultlayout" ng-value="true" />Yes</label>
                        &nbsp;&nbsp;
                        <label> <input type="radio" id="rdbNo" ng-model="Structure.defaultlayout" ng-value="false" />No</label>
                        <br />
                    </div>*@
                    <div class="col-sm-4">
                        <input type="radio" id="rdbYes" ng-model="Structure.defaultlayout" ng-value="true" />
                        Yes&nbsp;&nbsp;
                        <input type="radio" id="rdbNo" ng-model="Structure.defaultlayout" ng-value="false" />
                        No
                    </div>
                </div>

                <div class="col-sm-12 padding-0" align="center">
                    <br />

                    <button class="btn btn-primary btn-xs" type="button" ng-click="CreateStructure()" title="{{createFamilyTableLayoutCreation}}">
                        OK

                    </button>
                    <button class="btn btn-primary btn-xs" type="button" ng-click="CancelStructure()" title="{{cancelFamilyTableLayoutCreation}}">
                        Cancel
                    </button>
                </div>

                <td style="padding-left:9px;">
                    <br />
                </td>
            </div>
        </div>
    </div>

    <div kendo-window="winDeleteLayout" k-title="'Delete Layout'" k-width="472" k-height="136" k-visible="false"
         k-actions='["Close"]'
         k-modal="true" k-on-open="winDeleteLayoutVisible = true" k-on-close="onClose(kendoEvent)">
    </div>
    <div kendo-window="winDefaultLayout" k-title="'Set Default Layout'" k-width="480" k-height="150" k-visible="false"
         k-actions='["Close"]'
         k-modal="true" k-on-open="winDefaultLayoutVisible = true" k-on-close="onClose(kendoEvent)">
    </div>
    <div kendo-window="winTableDesigner" k-title="'Table Designer'" k-width="1300" k-height="650" k-visible="false"
         k-actions='["Close"]'
         k-modal="true" k-on-open="winTableDesignerVisible = true" k-on-close="onClose(kendoEvent)">
    </div>

    <div kendo-window="winFamilyAttributeSetup" k-title="'Family Attribute Setup'" k-width="600" k-height="450" k-visible="false"
         k-actions='["Close"]'
         k-modal="true" k-on-open="winFamilyAttributeSetupVisible = true" k-on-close="onClose(kendoEvent)">
    </div>

    <div kendo-window="winFamilyNewAttributeSetup" k-title="'Add New Attribute'" k-width="700" k-height="550" k-visible="false"
         k-actions='["Close"]'
         k-modal="true" k-on-open="winFamilyNewAttributeSetupVisible = true" k-on-close="onClose(kendoEvent)">
    </div>

    <div kendo-window="winTableDesignerPreview" k-title="'Preview'" k-width="1000" k-height="550" k-visible="false"
         k-actions='["Close"]'
         k-modal="true" k-on-open="winTableDesignerPreviewVisible = true" k-on-close="onClose(kendoEvent)">
    </div>
    <div kendo-window="winAddOrEditFamilySpecs" k-resizable="false" k-title="'Edit Family Specs'" k-width="600" k-height="570" k-visible="false"
         k-actions='["Close"]'
         k-modal="true" k-on-open="winAddOrEditFamilySpecsVisible = true" k-on-close="onClose(kendoEvent)">
    </div>
    <div kendo-window="MultipleTableEditPopupWindow" k-title="'Edit product'" k-width="500" k-height="500" k-visible="false"
         k-actions='["Close"]'
         k-modal="true" k-on-open="MultipleTableEditPopupVisible = true" k-on-close="onClose(kendoEvent)">
    </div>

</form>

<div id="columnsetupfamily">
    @{Html.RenderPartial("ColumnSetup/ColumnSetupFamily");}
</div>


<div id="EditMultipletable">
    <div ng-if="Family.FAMILY_ID!=='' && Family.FAMILY_ID!=='0' && renderEdit">
        <div class="margin-bottom-15 margin-top-15">
            <label class="bold">Attribute Pack</label>
            <select kendo-drop-down-list
                    id="multipletabledrp"
                    k-option-label="'--Select Pack--'"
                    k-data-source="GetAllmultipleGroupdataSource"
                    k-data-text-field="'GROUP_NAME'"
                    k-data-value-field="'GROUP_ID'"
                    k-on-change="multipleDatasource(kendoEvent)"></select>
        </div>
        <div class="row" id="productgridmultipletble" ng-show="grid && option != '--Select Pack--'" style="max-width: 100%;padding-left: 10px">



            <div id="dynamictable1" style="max-width: 100%; overflow: auto;font-size:10px;">

                <div class="row product-pagination-top" id="familypaging1" ng-show="columnsSubAtt.length != 0" style="display: block !important;">
                    <div class="pull-left" style="margin-left: 20px;">
                        <button class="gridpaging" ng-show="ResultEmpty!=true" type="button" ng-click="callFamilyGridPaging('1')"><span class="k-icon k-i-seek-w"></span></button>
                        <button class="gridpaging" ng-show="ResultEmpty!=true" type="button" ng-click="callFamilyGridPaging('PREV')"><span class="k-icon k-i-arrow-w"></span></button>
                        <select kendo-drop-down-list class="selectcss" id="cboProdPageCountUP" ng-show="ResultEmpty!=true"
                                k-data-source="ProdPageCount"
                                ng-model="ProdCurrentPageTest"
                                k-on-change="callFamilyGridPaging(ProdCurrentPageTest)" style="background-color: white !important;width: 60px"></select>
                        <button class="gridpaging" ng-show="ResultEmpty!=true" type="button" ng-click="callFamilyGridPaging('NEXT')"><span class="k-icon k-i-arrow-e">Go to the next page</span></button>
                        <button class="gridpaging" ng-show="ResultEmpty!=true" type="button" ng-click="callFamilyGridPaging(totalProdPageCount)"><span class="k-icon k-i-seek-e">Go to the last page</span></button>
                    </div>
                    <div class="pull-right" style="margin-right: 20px;font-size: 15px;text-transform: none !important;">
                        Items
                        <select kendo-drop-down-list class="selectcss" id="familygridpaging" style="width: 60px"
                                ng-model="gridCurrentPageTest"
                                k-on-change="callProductGridPagePerfamily(gridCurrentPageTest)">
                            <option>5</option>
                            <option>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option style="width: 60px">100</option>
                        </select>
                    </div>

                </div>


                <table ng-table="tblDashBoardMultiple" id="samplegrid1" class="table table-condensed table-bordered table-striped" width="90%" style="margin-top: 45px;margin-bottom: 50px;">
                    <thead class="k-grid-header k-grid-header-wrap">
                        <tr>

                            <th ng-if="$data!=null && $data!=''" class="k-header" style="min-width: 69px;" ng-show='userRoleModifyProductTable'>Actions</th>

                            <th class="k-header" ng-repeat="column in columnsMultipletable" style="min-width: 69px;" ng-show="DisplayIdcolumns===true" ng-if="column.Caption==='CATALOG_ID' ">

                                <a href="" class="k-link" ng-if="column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT' " ng-click="fnSort(column)">{{column.Caption.split('__')[0]}} </a>

                            </th>
                            <th class="k-header" ng-repeat="column in columnsMultipletable" style="min-width: 69px;" ng-show="DisplayIdcolumns===true" ng-if="column.Caption==='CATEGORY_ID' ">

                                <a href="" class="k-link" ng-if="column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT' " ng-click="fnSort(column)">{{column.Caption.split('__')[0]}} </a>

                            </th>
                            <th class="k-header" ng-repeat="column in columnsMultipletable" style="min-width: 69px;" ng-show="DisplayIdcolumns===true" ng-if="column.Caption==='FAMILY_ID' ">

                                <a href="" class="k-link" ng-if="column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT' " ng-click="fnSort(column)">{{column.Caption.split('__')[0]}} </a>

                            </th>
                            <th class="k-header" ng-repeat="column in columnsMultipletable" style="min-width: 69px;" ng-show="DisplayIdcolumns===true" ng-if="column.Caption==='PRODUCT_ID' ">

                                <a href="" class="k-link" ng-if="column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT' " ng-click="fnSort(column)">{{column.Caption.split('__')[0]}} </a>

                            </th>

                            <th ng-repeat="column in columnsMultipletable" class="k-header" style="min-width: 95px;word-wrap: break-word;overflow-wrap: break-word;" ng-if="column.Caption.split('__')[1] =='OBJ' && column.Caption!='PUBLISH' && column.Caption!='PUBLISH2PRINT'">

                                <a href="" class="k-link" ng-if="column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT' && column.Caption.split('__')[3]!== '6' && column.Caption.split('__')[5]=== 'true' && column.Caption.split('__')[0] !=='ITEM#'" ng-click="fnSort(column)">
                                    <spann class="publish">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</spann>

                                    {{column.Caption.split('__')[0]}}

                                </a>

                                <a href="" class="k-link" ng-if="column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT' && column.Caption.split('__')[3]!== '6' && column.Caption.split('__')[5]=== 'true'  && column.Caption.split('__')[0] ==='ITEM#'" ng-click="fnSort(column)">
                                    <spann class="publish">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</spann>

                                    {{CatalogItemNumber}}

                                </a>

                                <a href="" style="background-color:lightgreen;margin-left:-5px;border-radius: 8px;" class="k-link" ng-if="column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT' && column.Caption.split('__')[3]=== '6' && column.Caption.split('__')[5]=== 'true'" ng-click="fnSort(column)"><spann class="publishkey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</spann>{{column.Caption.split('__')[0]}}</a>

                                <a href="" class="k-link" ng-if="column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT' && column.Caption.split('__')[3]!== '6' && column.Caption.split('__')[5]=== 'false'" ng-click="fnSort(column)">{{column.Caption.split('__')[0]}}</a>

                                <a href="" style="background-color:lightgreen;margin-left:-5px;border-radius: 8px;" class="k-link" ng-if="column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT' && column.Caption.split('__')[3]=== '6' && column.Caption.split('__')[5]=== 'false'" ng-click="fnSort(column)"><spann class="unpublishkey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</spann>{{column.Caption.split('__')[0]}}</a>

                            </th>

                        </tr>
                    </thead>
                    <tbody class="k-grid-content">
                        <tr ng-repeat="Data in $data| orderBy:orderField:reverse" show-filter="true" class="table table-condensed table-bordered table-striped" ng-class="{'selected':Data['PRODUCT_ID'] == selectedRowValue}" ng-click="setClickedRow(Data['PRODUCT_ID'])">

                            <td ng-show='userRoleModifyProductTable'>
                                <a href='javascript:void(0);' ng-click='UpdateMultipletableProductItem(this)' ng-show='userRoleModifyProductTable'><div title='Edit' class='glyphicon glyphicon-edit blue btn'>&nbsp;</div></a>
                            </td>

                            <td ng-repeat="column in columnsMultipletable" style="text-align: left;" ng-if="column.Caption==='CATALOG_ID' " ng-show="DisplayIdcolumns===true">

                                <div sortable="'Data[column.ColumnName]'">
                                    {{Data[column.ColumnName]}}
                                </div>

                            </td>
                            <td ng-repeat="column in columnsMultipletable" style="text-align: left;" ng-if="column.Caption==='CATEGORY_ID' " ng-show="DisplayIdcolumns===true">

                                <div sortable="'Data[column.ColumnName]'">
                                    {{Data[column.ColumnName]}}
                                </div>

                            </td>
                            <td ng-repeat="column in columnsMultipletable" style="text-align: left;" ng-if="column.Caption==='FAMILY_ID' " ng-show="DisplayIdcolumns===true">

                                <div sortable="'Data[column.ColumnName]'">
                                    {{Data[column.ColumnName]}}
                                </div>

                            </td>
                            <td ng-repeat="column in columnsMultipletable" style="text-align: left;" ng-if="column.Caption==='PRODUCT_ID' " ng-show="DisplayIdcolumns===true">

                                <div sortable="'Data[column.ColumnName]'">
                                    {{Data[column.ColumnName]}}
                                </div>

                            </td>


                            <td ng-repeat="column in columnsMultipletable" style="text-align: left;" ng-if="column.Caption.split('__')[1] =='OBJ' && column.Caption!='PUBLISH' && column.Caption!='PUBLISH2PRINT' && column.Caption!='Sort'">

                                <a ng-if="column.Caption!=='PUBLISH' && column.Caption!=='PUBLISH2PRINT' " ng-class="{'cg-normal': column.EditEnabled == false}" style="text-align: left;width: 100px">
                                    <span data-ng-bind-html="trustAsHtml(Data[column.ColumnName])"></span>
                                </a>
                            </td>


                        </tr>
                    </tbody>
                </table>

                <div class="row" id="subproductpaging1" ng-show="columnsSubAtt.length != 0" style="display: block !important;position: absolute;width: 100%;margin-top: -40px;">
                    <div class="pull-left" style="margin-left: 20px;">
                        <button class="gridpaging" ng-show="ResultEmpty!=true" type="button" ng-click="callFamilyGridPaging('1')"><span class="k-icon k-i-seek-w"></span></button>
                        <button class="gridpaging" ng-show="ResultEmpty!=true" type="button" ng-click="callFamilyGridPaging('PREV')"><span class="k-icon k-i-arrow-w"></span></button>
                        <select kendo-drop-down-list class="selectcss" id="cboProdPageCountDown" style="width: 60px;background-color: white !important;" ng-show="ResultEmpty!=true"
                                k-data-source="ProdPageCount"
                                ng-model="ProdCurrentPageTest"
                                k-on-change="callFamilyGridPaging(ProdCurrentPageTest)"></select>
                        <button class="gridpaging" ng-show="ResultEmpty!=true" type="button" ng-click="callFamilyGridPaging('NEXT')"><span class="k-icon k-i-arrow-e">Go to the next page</span></button>
                        <button class="gridpaging" ng-show="ResultEmpty!=true" type="button" ng-click="callFamilyGridPaging(totalProdPageCount)"><span class="k-icon k-i-seek-e">Go to the last page</span></button>
                    </div>
                    <div class="pull-right" style="margin-right: 20px;font-size: 15px;text-transform: none !important;">
                        Items
                        <select kendo-drop-down-list class="selectcss" id="gridpaginginverted" style="width: 60px"
                                ng-model="gridCurrentPageTest"
                                k-on-change="callProductGridPagePerfamily(gridCurrentPageTest)">
                            <option value="5">5</option>
                            <option>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
        <div align="center">
            <button class="btn btn-primary btn-xs" type="button" ng-click="BackMultipleTable()">
                Back
            </button>
        </div>
    </div>
</div>

@*For pick list management*@
<div kendo-window="productattrPicklist" style="display: none" k-width="700" k-height="365" k-title="'Manage Picklist'" k-on-open="win1visible = true" k-on-close="CancelFamilySpecs()">

    <div class="col-sm-11">
        <br />
        <div class="row">
            <div class="form-group col-sm-12 ">
                <div class="col-sm-2 bold margintop textalignright picklstnme">Picklist Name </div>
                <div class="col-sm-4 picklstselect">
                    <select kendo-drop-down-list
                            k-option-label="'--Select Picklist--'"
                            k-data-text-field="'Picklist_NAME'"
                            k-data-value-field="'Picklist_NAME'"
                            k-data-source="PicklistGroup"
                            ng-model="Picklistname"
                            k-on-change="PicklistChange(kendoEvent)"
                            style="width: 200px"></select>
                </div>

            </div>
            <div class="form-group col-sm-12 " ng-if="Picklistname!=''">
                <div class="col-sm-2 bold textalignright picklsttype">Picklist Type</div>
                <div class="col-sm-4 picklsttype"><b>{{PicklistDataType.Picklist_DATA_TYPE}}</b></div>
            </div>
        </div>
        <div>
            <div id="PicklistValues">
                <div kendo-grid id="PicklistValuesgrid" options="GetPicklistValues">
                </div>
            </div>
            <div id="PicklistDateValues">
                <div kendo-grid id="PicklistDateValuesgrid" options="GetPicklistDateValues">
                </div>
            </div>
            <div id="PicklistNumberValues">
                <div kendo-grid id="PicklistNumberValuesgrid" options="GetPicklistNumberValues">
                </div>
            </div>
        </div>
    </div>
</div>


@*------------------------*@



<script type="text/javascript">
    (function () {
        $(".flyout-btn").click(function () {
            const classExists = document.getElementsByClassName(
                     'btn-rotate'
                    ).length > 0;

            if (!classExists) {
                $(".flyout-btn").toggleClass("btn-rotate");
                $(".flyout").find("a").removeClass();
                return $(".flyout").removeClass("flyout-init fade").toggleClass("expand");
            }
            else

            {
                $(".flyout-btn").toggleClass("btn-rotate");
                $(".flyout").removeClass("expand");
                $(".flyout").addClass("fade flyout-init");
                return $(this).addClass("clicked");
            }
        });

        $(".flyout").find("a").click(function () {
            $(".flyout-btn").toggleClass("btn-rotate");
            $(".flyout").removeClass("expand");
            $(".flyout").addClass("fade flyout-init");
            return $(this).addClass("clicked");
        });


    }).call(this);
</script>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>


<script>
    function openspec() {
        $('.spec-container').addClass("display-block");
        $('.spec-container').removeClass("display-none");

        $('.clone-container').addClass("display-none");
        $('.clone-container').removeClass("display-block");

        $('.families-container').addClass("display-none");
        $('.families-container').removeClass("display-block");

        $('.tables-container').addClass("display-none");
        $('.tables-container').removeClass("display-block");

        $('.groups-container').addClass("display-none");
        $('.groups-container').removeClass("display-block");
    }

    function openclone() {
        $('.clone-container').addClass("display-block");
        $('.clone-container').removeClass("display-none");

        $('.spec-container').addClass("display-none");
        $('.spec-container').removeClass("display-block");

        $('.families-container').addClass("display-none");
        $('.families-container').removeClass("display-block");

        $('.tables-container').addClass("display-none");
        $('.tables-container').removeClass("display-block");

        $('.groups-container').addClass("display-none");
        $('.groups-container').removeClass("display-block");
    }

    function opentable() {
        $('.clone-container').addClass("display-none");
        $('.clone-container').removeClass("display-block");

        $('.spec-container').addClass("display-none");
        $('.spec-container').removeClass("display-block");

        $('.families-container').addClass("display-none");
        $('.families-container').removeClass("display-block");

        $('.tables-container').addClass("display-block");
        $('.tables-container').removeClass("display-none");

        $('.groups-container').addClass("display-none");
        $('.groups-container').removeClass("display-block");
    }

    function opengroups() {
        $('.clone-container').addClass("display-none");
        $('.clone-container').removeClass("display-block");

        $('.spec-container').addClass("display-none");
        $('.spec-container').removeClass("display-block");

        $('.families-container').addClass("display-none");
        $('.families-container').removeClass("display-block");

        $('.tables-container').addClass("display-none");
        $('.tables-container').removeClass("display-block");

        $('.groups-container').addClass("display-block");
        $('.groups-container').removeClass("display-none");

        //$(".panel-heading1").show();
        
    }
</script>
