﻿@section styles{
    <style>
        a, button {
            font: 14px 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
            display: block;
            color: #333;
            margin-bottom: 10px;
        }

            /* The following 'important' styles are just here to show off trapFocus */
            button.ngdialog-button {
                border: solid transparent 1px !important;
            }

                button.ngdialog-button:focus {
                    border: solid black 1px !important;
                }

        .ngdialog h2:focus {
            outline: none;
        }
    </style>
}
<div class="form-area">
    <div id="dynamictable">
        <table ng-table="tblFamilySpecs" ng-show="actiondisable"  class="table table-condensed table-bordered table-striped" width="90%">
            <thead class="k-grid-header k-grid-header-wrap">
                <tr >
                    <th class="k-header"  style="width: 25px"><a href="" class="k-link"> Actions</a></th>
                    <th class="k-header" ng-repeat="column in columnsForFamilSpecs" ng-show="DisplayIdcolumns===true" ng-if="column.title==='FAMILY_ID' " style="width:100px !important; max-width:70px !important;min-width:70px !important;">
                        <a href="" class="k-link" ng-click="fnSort(column)">{{column.title.split('__')[0]}} </a>
                    </th>

                    <th ng-repeat="column in columnsForFamilSpecs" ng-if="column.title!=='FAMILY_ID'" class="k-header" style="word-wrap: break-word;overflow-wrap: break-word;">

                        <a href="" class="k-link" ng-if="column.title.split('__')[1]!='13'" ng-click="fnSort(column)"><span class="publish">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{{column.title.split('__')[0]}}</a>

                        <a href="" style="background-color:lightgreen;margin-left:-5px;border-radius: 8px;" class="k-link" ng-if="column.title.split('__')[1]=='13'" ng-click="fnSort(column)"><span class="publishkey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{{column.title.split('__')[0]}}</a>
                    </th>
                </tr>
            </thead>
            <tbody class="k-grid-content">

                <tr ng-repeat="Data in familySpecsData" class="table table-condensed table-bordered table-striped" ng-click="fnRowClick(Data)">
                    <td style="width:110px !important;max-width:110px !important;min-width:110px !important;">
                        <a href='javascript:void(0);' ng-click='UpdateFamilySpecs(this)' ng-show='userRoleModifyFamily'><div title='Edit' class='glyphicon glyphicon-edit blue btn-xs'></div></a>
                    </td>

                    <td ng-repeat="column in columnsForFamilSpecs" style="text-align: right;" ng-if="column.title==='FAMILY_ID'" ng-show="DisplayIdcolumns===true">
                        <div sortable="'Data[column.field]'">
                            {{Data[column.field]}}
                        </div>
                    </td>
                    <td ng-repeat="column in columnsForFamilSpecs" style="text-align: left;" ng-if="column.title!=='FAMILY_ID'">
                        <a ng-class="{'cg-normal': column.EditEnabled == false}" ng-if="!isnotNumber(data[column.field])" style="text-align: left;float: right;">
                            <span data-ng-bind-html="trustAsHtml(Data[column.field])"></span>
                        </a>
                        <a ng-class="{'cg-normal': column.EditEnabled == false}" ng-if="isnotNumber(data[column.field])" style="text-align: left;float: left;">
                            <span data-ng-bind-html="trustAsHtml(Data[column.field])"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
