﻿<div class="col-sm-12" ng-cloak>

    <div>
        <div id="generalsettingsView">
            <div class="col-md-12 col-lg-12">
                <h2 class="pageTitle">General Settings</h2>
                <br><form name="generalsettingForm">
                        <div class="form-group row">
                            <div class="col-sm-3 bold textalignright">
                                Display Product Count in SKU Limit Alert
                            </div>
                            <div class="col-sm-3">

                                <input id="SKULimit_Y" type="radio" ng-model="GeneralSettings.DisplaySkuProductCountInAlert" ng-value="true" />
                                Yes
                                <input id="SKULimit_N" type="radio" ng-model="GeneralSettings.DisplaySkuProductCountInAlert" ng-value="false" />
                                No

                            </div>
                            <div class="col-sm-3 bold textalignright margintop">
                                SKU Alert Limit Percentage
                            </div>
                            <div class="col-sm-3">
                                <input type="number" id="SKUAlertLimitPercentage" name="SKUAlertLimitPercentage" ng-init="GeneralSettings.SKUAlertPercentage=90" min="1" max="100" ng-model="GeneralSettings.SKUAlertPercentage" ng-trim="false" required>

                            </div>
                        </div>
               
                        <div class="form-group row">
                            @*  *@
                        @*<div class="col-sm-2">
            Image Path
        </div>
        <div class="col-sm-3 required-field">
            <input type="text" name="imagepath" ng-model="NewProject.ImagePath" id="IMP" ng-trim="false" required>
        </div>*@
                        <div class="col-sm-3 bold textalignright margintop">
                            Image Conversion Utility Path 
                        </div>
                        <div class="col-sm-3">

                            <input type="text" name="utilitypath" ng-model="GeneralSettings.ImageConversionUtilityPath" id="ICMP" ng-trim="false" style="width:272px" readonly required>

                        </div>
                        @*<div>
            <input type="file" id="file_input" onchange="THRUST.remote.send(selectFolder(this))" webkitdirectory mozdirectory msdirectory odirectory directory multiple>
        </div>*@
                            <div>
                                <div>

                                </div>
                                <div>
                                    <div class="col-sm-3 bold textalignright margintop">
                                        AssetAlert Limit Percentage
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="number" id="AssetLimitPercentage" name="AssetLimitPercentage" ng-init="GeneralSettings.AssetLimitPercentage=90" min="1" max="100" ng-model="GeneralSettings.AssetLimitPercentage" ng-trim="false" required>
                                        

                                    </div>
                                </div>
                            </div>
                    </div>
                       

                        <div class="form-group row">
                            <div class="col-sm-12" align="center">
                                <button class="btn btn-primary btn-xs" type="button" ng-disabled="!generalsettingForm.$valid" ng-click='savegeneralsettings()' title="{{saveGeneralSettings}}">
                                    <i class="fa fa-save"></i>
                                </button>
                            </div>
                        </div>
                   
                </form>
            </div>
            <div class="clearfix"></div>
            
        </div>
        
    </div>

</div>
 