﻿@{
    var ImageName = "";
    if (string.IsNullOrEmpty(@HttpContext.Current.Session["ProductTitle"] as string))
    {

        ImageName = "MarketStudio.png";
        ViewBag.Title = "CatalogStudio Dashboard";

    }
    else
    {
        var ProductTitle = @HttpContext.Current.Session["ProductTitle"].ToString();
        ImageName = ProductTitle + ".png";
        ViewBag.Title = ProductTitle + "Dashboard";
    }
}

@{
  
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";

}
<div class="main-content no-margin no-padding container" ng-controller="UserDashboardController" ng-cloak>
    <div id="DashBoard" @*ng-controller="MaindashboardController" ng-cloak*@>
        @{ Html.RenderPartial("Partials/UserDashboard"); }
        
    
    
    <div id="familyEditor" ng-controller="familyController" style="margin-top: 15px; width: 100%" ng-cloak>
        @{ Html.RenderPartial("Partials/FamilyEditor"); }
    </div>
    <div align="center" id="resultbtntab"><button class="btn btn-primary btn-xs margin-15" type="button" ng-click="ModifyResults(productData)">Back to DashBoard</button></div>
        </div>
</div>

@section scripts{
<script type="text/javascript" src='@Url.Content("~/Views/App/Admin/dashboardController.js")'></script>
    @*--<script type="text/javascript" src='@Url.Content("~/Views/App/Admin/MaindashboardController.js")'></script>*@
<script type="text/javascript" src='@Url.Content("~/Views/App/Admin/UserDashboardController.js")'></script>
    @*<script type="text/javascript" src='@Url.Content("~/Views/App/Admin/DashBoardMenuController.js")'></script>*@
    <script type="text/javascript" src='@Url.Content("~/Views/App/Family/familyController.js")'></script>
    <link href="~/Design/css/ng-table.css" rel="stylesheet" />
}






