﻿<style>
 
</style>
<form name="Multiple_tbl_Form" >
    <div id="multipleattributegroup" ng-show="userMultiplenable">
       
        <div class="form-horizontal">
            <div class="form-group col-sm-12 padding-0">    
                <div class="col-lg-6">
                    <div class="bold textalignright margin-top-5 label-category padding-left-0 padding-right-0">
                    Table Name 
                    </div>
                    <div class="col-sm-8">
                    <input type="text" name="groupName" ng-model="tableName" required class="newGroupTextBox" title="Enter new Table name" /><span style="color: red;top: -10px;position: relative;">*</span>
                        <button type="button" ng-click='btnAddTableNames()' ng-if="userMultiplenableAdd" class="btn btn-primary btn-xs margintop" style="height: 18px;margin-top: -3px;margin-left: 10px;" title="{{multipleTableSaveGroup}}">
                            <i class="fa fa-save"></i>
                        </button>
                    </div>                    
                   
                </div>

                <div class="col-lg-6">
                    <div role="group" class="margin-bottom-10" aria-label="...">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="AttributeGroup()" title="{{multipleAttributeGroupingSetUp}}">Setup</button>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="TableDesigner()" ng-disabled="!userMultiplenableModify" title="{{multipleTableDesigner}}">Layout </button>
                        <button type="button" class="btn btn-primary btn-xs" aria-label="Left Align" ng-click="RefreshGroup()" title="{{multipleTableRefresh}}"><i class="fa fa-refresh"></i></button>
                        <button type="button" class="btn btn-primary btn-xs" ng-disabled="!userMultiplenableRemove" ng-click="RemoveGroup()" title="{{multipleTableRemoveGroup}}"> <i class="fa fa-close"></i></button>
                        <button type="button" class="btn btn-primary btn-xs" ng-disabled="!userMultiplenableModify" ng-click="Edit()" title="{{multipleTableEditGroup}}"> <i class="fa fa-edit"></i></button>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 padding-left-0">
                <div ng-show="userMultiplenableModify">
                    <kendo-grid options="mainGridOptionssd" k-on-change="handleChange(dataItem)" id="gridcategoryfamily"></kendo-grid>
                    <script type="text/x-kendo-template" id="templates">
                        <div kendo-grid k-options="detailGridmultipleGroupOptions(dataItem)"></div>
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div id="multipletabledesigner" ng-if="Family.FAMILY_ID!=='' && Family.FAMILY_ID!=='0' && Group.GROUP_ID!=='' && Group.GROUP_ID!=='0'">
        <div ng-if="rendermultipletable">
            @{Html.RenderPartial("Admin/MultipleTableDesigner");}
        </div>
    </div>
    <div kendo-window="winNewAttributeGorup" k-title="'Multiple Tables'" k-width="850" k-height="620" k-visible="false"
         k-actions='["Close"]'
         k-modal="true" k-on-open="winNewAttributeGorupVisible = true" k-on-close="onClose(kendoEvent)">
    </div>
    <div kendo-window="winPreviewlayout" k-title="'Table Structure Designer'" k-width="500" k-height="300" k-visible="false"
         k-actions='["Close"]'
         k-modal="true" k-on-open="winPreviewlayoutVisible = true" k-on-close="onClose(kendoEvent)">
    </div>
</form>
@*<script>
        angular.module("KendoDemos", ["kendo.directives"])
            .controller("MyCtrl", function ($scope) {
                $scope.hello = "Hello from Controller!";
            })

    </script>*@
<script type="text/javascript" src='@Url.Content("~/Views/App/Family/AttributeGrouping.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Views/App/Family/multipleTablePreview.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Views/App/Family/familymultipletabledesignerController.js")'></script>
<script src="~/Design/ng-table.js"></script>
<link rel="stylesheet" href="~/Design/ng-table.css">