﻿@{
    ViewBag.Title = "MultipleTablePreviewPopUp";
    Layout = null;
}



<div ng-controller="multipleTablePreview" ng-cloak>
    <div align="justify" class="col-sm-10">
        <table>
            <tbody>
                <tr>
                    <td align="right" width="25%">
                        Attribute Type
                    </td>
                    <td align="left" width="25%">
                        <div>
                            <div style="vertical-align: bottom; padding-bottom: 20px;padding-top: 8px;">
                                <select kendo-drop-down-list
                                        k-option-label="'--- Select Group ---'"
                                        k-data-text-field="'GROUP_NAME'"
                                        k-data-value-field="'GROUP_ID'"
                                        k-data-source="MultipleTableDataSource"
                                        k-on-change="MultipleTableTabChange(kendoEvent)" style="width:180px"></select>
                            </div>
                        </div>
                    </td>
                    <td align="right" width="25%"></td>
                    <td align="left" width="25%"></td>
                </tr>
            </tbody>
        </table>
        <div class="col-sm-9 no-padding" id="showMultipleTablePreviewTab">
            <div class="heightsample">
                <table ng-table="tableParams" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Attribute Name</th>
                            <th>Attribute Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="e in previewEntities">
                            <td>
                                {{e.ATTRIBUTE_NAME}}
                            </td>
                            <td>{{e.ATTRIBUTE_TYPE}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

