﻿
<div style=" width:100%" ng-controller="familymultipletabledesignerController" ng-if="Family.FAMILY_ID!=='' && Family.FAMILY_ID!=='0' && Group.GROUP_ID!=='' && Group.GROUP_ID!=='0'" ng-cloak>

    <table align="left" border="0" style="width:30%; height:500px;">
        <tr style="height:50px">
            <td>
                <span class="bold">Structure Name</span> &nbsp;&nbsp; {{$scope.multipleStructureName}}<select kendo-drop-down-list
        k-option-label="'--- Select Structure Name ---'"
        k-data-text-field="'STRUCTURE_NAME'"
        k-data-value-field="'STRUCTURE_NAME'"
        k-data-source="multipleStructureNameDataSource"
        k-on-change="multipleStructureNameChange(kendoEvent)"
        ng-model="multipleStructureName"
        style="width:200px"></select>
                <!--ng-model="StructureName"-->
            </td>
            <td></td>
        </tr>
        <tr>
            <td valign="top" rowspan="2">
                <span class="bold">Available Attributes</span> 
                @*<div id="treeviewallAttributeList" style="height:532px;width:400px;border: 1px solid #ccc;border-radius: 4px; text-align:left; ">
                    </div>*@
                <div id="multipletreeviewallAttribute" style="height:532px;width:275px;border: 1px solid #ccc;border-radius: 4px; text-align:left;">
                    <div kendo-tree-view="tree" k-data-source="multipleallAttributeListDatasource" id="multipletreeviewallAttributeList" k-load-on-demand="false" k-on-drop="multipleonDropall(kendoEvent)" data-drag-and-drop="true" k-on-change="selectedItem = dataItem" k-dragend="multipleonDragEnd" style="height:500px;width:275px">
                        <span k-template style="color:{{dataItem.COLOR}}">
                            <input type="checkbox" ng-true-value="'Checked'" id="{{dataItem.id}}" ng-false-value="'Unchecked'" value="Unchecked" ng-model="dataItem.Merge" />&nbsp; {{dataItem.ATTRIBUTE_NAME}}
                        </span>
                    </div>
                </div>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;</td>
            <td valign="top" width="50%">

                <span class="bold">Left Row Attributes</span>

                    <div id="multipleleftreeview" style="height:250px;width:315px;border: 1px solid #ccc;border-radius: 4px; text-align:left;">
                        <div kendo-tree-view="tree" k-data-source="multipleleftTreeNewDataSource" id="multipleleftTreeViewKendo" k-load-on-demand="false" k-on-drop="multipleonDropLeft(kendoEvent)" data-drag-and-drop="true" k-on-change="selectedItem = dataItem" style="height:240px;width:315px">
                            <span k-template style="color:{{dataItem.COLOR}}">
                                <input type="checkbox" ng-true-value="'Checked'" ng-false-value="'Unchecked'" class='k-item' id="{{dataItem.id}}" ng-model="dataItem.Merge" />&nbsp; {{dataItem.ATTRIBUTE_NAME}}
                            </span>
                        </div>
                    </div>
                    <style>
                        #treeview-left,
                        #treeview-right {
                            overflow: visible;
                        }
                    </style>
                    <br />

                <span class="bold">
                    Right Row Attributes</span>
                    <!--<div id="treeviewrightAttributes" style="height:250px;width:375px;border: 1px solid #ccc;border-radius: 4px; text-align:left;"></div>-->
                    <div id="multiplerighttreeview" style="height:250px;width:315px;border: 1px solid #ccc;border-radius: 4px; text-align:left; ">
                        <div kendo-tree-view="tree" k-data-source="multiplerightTreeNewDataSource" id="multiplerightNavTreeViewKendo" k-load-on-demand="false" k-on-drop="multipleonDropRight(kendoEvent)" k-on-change="selectedItem = dataItem" data-drag-and-drop="true" style="height:240px;width:315px  ">
                            <span k-template style="color:{{dataItem.COLOR}}">
                                <input type="checkbox" ng-true-value="'Checked'" ng-false-value="'Unchecked'" class='k-item' id="{{dataItem.id}}" ng-model="dataItem.Merge" />&nbsp; {{dataItem.ATTRIBUTE_NAME}}
                            </span>
                        </div>
                    </div>
</td>
            <td>&nbsp;&nbsp;</td>
            <td valign="top" width="50%">
                <span class="bold">
                    Column Attributes</span>
                    <!--<div id="treeviewcolumnAttributes" style="height:250px;width:375px;border: 1px solid #ccc;border-radius: 4px; text-align:left;"></div>-->
                    <div id="multiplecolumntreeview" style="height:250px;width:315px;border: 1px solid #ccc;border-radius: 4px; text-align:left;">
                        <div kendo-tree-view="tree" k-data-source="multiplecolumnTreeNewDataSource" id="multiplecolumnNavTreeViewKendo" k-on-drop="multipleonDropColumn(kendoEvent)" k-load-on-demand="false" k-on-change="selectedItem = dataItem" data-drag-and-drop="true" style="height:240px;width:315px  ">
                            <span k-template style="color:{{dataItem.COLOR}}">
                                <input type="checkbox" class='k-item' id="{{dataItem.id}}" ng-true-value="'Checked'" ng-false-value="'Unchecked'" ng-model="dataItem.Merge" />&nbsp; {{dataItem.ATTRIBUTE_NAME}}
                            </span>
                        </div>
                    </div>
                    <br />
                <span class="bold">
                    Summary Attributes</span>
                    <!--<div id="treeviewSummaryAttributes" style="height:250px;width:375px;border: 1px solid #ccc;border-radius: 4px; text-align:left;"></div>-->
                    <div id="multiplesummarytreeview" style="height:250px;width:315px;border: 1px solid #ccc;border-radius: 4px; text-align:left;">
                        <div kendo-tree-view="tree" k-data-source="multiplesummaryTreeNewDataSource" id="multiplesummaryNavTreeViewKendo" k-on-drop="multipleonDropSummary(kendoEvent)" k-load-on-demand="false" k-on-change="selectedItem = dataItem" data-drag-and-drop="true" style="height:240px;width:315px">
                            <span k-template style="color:{{dataItem.COLOR}}">
                                <input type="checkbox" class='k-item' id="{{dataItem.id}}" ng-true-value="'Checked'" ng-false-value="'Unchecked'" ng-model="dataItem.Merge" />&nbsp; {{dataItem.ATTRIBUTE_NAME}}
                            </span>
                        </div>
                    </div>

</td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <td>
                <br />
                <div style="width:275px; height:210px;position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">

                    <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 10px;">
                        <tbody>
                            <tr style="height:50px;"><td style="align-content:center;" class="bold" colspan="2"> Add New Super Column</td></tr>
                            <tr>
                                <td>
                                    Super Column Name
                                </td>
                                <td>
                                    <input type="text" value="" id="txtmultipleSuperColumn" class="chkoption" ng-click='check()'>
                                    <br />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    <br />
                                    <button class="btn btn-primary btn-xs" type="button" ng-click="multipleaddSuperColumn()" title="{{multipleTableSuperColumn}}">
                                        Add Super Column
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td style="padding-left:9px;">
                <br />
                <div id="divmultipleAdvancedOptions" style="width:645px;position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                    <span class="bold">Advanced Options</span>
                    <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 10px;">
                        <tbody>
                            <tr>
                                <td class="padding-10">
                                    <input type="checkbox" name="chkDisplayRowHeader" ng-model="multipleDispalyRowHeaderCheckEditor.value1" ng-true-value="true" ng-false-value="false">

                                </td>
                                <td class="bold padding-10">
                                    Display Row Header
                                </td>

                                <td class="col-sm-4 bold textalignright padding-10">
                                    Table Group Header
                                </td>
                                <td class="padding-10">

                                    <select kendo-drop-down-list
                                            id="multipleallAttributeListview"
                                            k-option-label="'[none]'"
                                            k-data-text-field="'ATTRIBUTE_NAME'"
                                            k-data-value-field="'ATTRIBUTE_ID'"
                                            k-data-source="multipletableGroupHeaderDataSource"
                                            k-on-change="multipletableGroupHeaderChange(kendoEvent)"
                                            ng-model="multipletableDesignerFields.ComboGroupByColumn"
                                            style="width: 175px"></select>
                                </td>
                            </tr>
                            <tr>
                                <td class="padding-10">
                                    <input type="checkbox" name="chkDispalySummaryHeader" ng-model="multipleDispalySummaryHeaderCheckEditor.value1" ng-true-value="true" ng-false-value="false">
                                </td>
                                <td class="bold padding-10">
                                    Display Summary Header
                                </td>

                                <td class="col-sm-4 bold textalignright padding-10">
                                    Group Summary Attribute
                                </td>
                                <td class="padding-10">

                                    <select kendo-drop-down-list
                                            id="multiplesummaryAttributeListview"
                                            k-option-label="'[none]'"
                                            k-data-text-field="'ATTRIBUTE_NAME'"
                                            k-data-value-field="'ATTRIBUTE_ID'"
                                            k-data-source="multipletableGroupSummaryDataSource"
                                            k-on-change="multipletableGroupSummaryChange(kendoEvent)"
                                            ng-model="multipletableDesignerFields.ComboSummaryGroup"
                                            style="width: 175px"></select>
                                </td>
                            </tr>
                            <tr>
                                <td class="padding-10">
                                    <input type="checkbox" name="chkDisplayColumnHeader" ng-model="multipleDisplayColumnHeaderCheckBox.value1" ng-true-value="true" ng-false-value="false">
                                </td>
                                <td class="bold padding-10">
                                    Display Column Header
                                </td>
                                <td class="col-sm-4 bold textalignright padding-10">
                                    Empty Cell Placeholder
                                </td>
                                <td class="padding-10">
                                    <input type="text" id="multipleEmptyCellTextBoxCATEGORY_ID" ng-model="multipletableDesignerFields.EmptyCellTextBox">
                                </td>
                            </tr>
                            <tr>
                                <td class="padding-10">
                                    <input type="checkbox" name="chkVerticalTable_ChkBox" ng-model="multipleVerticalTable_ChkBox.value1" ng-true-value="true" ng-false-value="false">
                                </td>
                                <td class="bold padding-10">
                                    Transpose Table Output
                                </td>
                                <td class="col-sm-4 bold textalignright padding-10">
                                    Pivot Header
                                </td>
                                <td class="padding-10">
                                    <input type="text" id="multiplePivotHeaderTextBox" ng-model="multipletableDesignerFields.PivotHeaderTextBox">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
   
    <div style="color: red">*Unpublished atttributes appear in red color</div>
    <div align="center">
        <button type="button" class="btn btn-primary btn-xs" id="btnmultipleShowTablePreview" name="btnShowTablePreview" ng-click="showmultipleTablePreview()" title="{{multipleTablePreviewTD}}"><i class="fa fa-eye"></i></button>
        <button type="button" class="btn btn-primary btn-xs" id="btnmultipleShowTableSave" name="btnSaveOptions" ng-click="showmultipleTableSave()" title="{{multipleTableSaveTD}}"><i class="fa fa-save"></i></button>
        <button type="button" class="btn btn-primary btn-xs" ng-click='Backtomultipletable()' title="{{multipleTableBackToGroup}}"><i class="fa fa-chevron-left"></i></button>
    </div>
    @*</form>*@
</div>

