﻿<div class="col-sm-12" ng-cloak>

    <div>
        <div id="planListView">
            <div class="col-md-12 col-lg-12">
                <h2 class="pageTitle">Plan Mangement</h2>
                <br><form name="planManagementForm">
                        <button class="btn btn-primary btn-xs" ng-click="addNewPlan()" title="{{newPlan}}">Add New Plan</button>
                        @*<div style="float:right; display:inline-block;margin-top:-50px" class="form-inline bodyContent">
                            <label for="searchPlanByName">Search By Plan Name:</label>  &nbsp;
                            <input type="text" name="searchPlanByName" ng-model="searchingPlan" required width="50px">
                            <span class="error" ng-show="planManagementForm.searchPlanByName.$error.required">
                                Required.
                            </span>
                            <button type="button" ng-click="searchPlan()" ng-disabled="!planManagementForm.$valid" class="btn btn-primary btn-xs">Search</button>
                        </div>*@
                </form>
            </div>
            <div class="clearfix"></div>
            <br />
            <div kendo-grid k-options="planGridOptions"></div>
        </div>
        <div id="editPlanView" style="display:none">
            @{Html.RenderPartial("Admin/AddEditPlan");}
        </div>
    </div>

</div>


