﻿@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}


<style>
    .panel-heading {
        height: 50px;
    }


    .btn.btn-xs, .btn-group-xs > .btn {
        font-size: 14px;
        padding: 0px 5px;
    }

    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
        color: #fff !important;
        background-color: #4B9F46 !important;
    }

    body {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
        font-size: 14px !important;
        line-height: 1.42857143 !important;
        color: #333 !important;
        background-color: #fff !important;
    }

    .navbar-default .navbar-nav > li > a {
        color: #fff !important;
    }

    .navbar {
        position: relative !important;
        min-height: 50px !important;
        margin-bottom: 20px !important;
        border: 1px solid transparent;
    }

    .navbar {
        margin-bottom: 0px !important;
    }

    .navbar-default {
        background-color: #091F3F !important;
        border-color: #091F3F !important;
    }

    .navbar-static-top {
        border-radius: 0 !important;
    }

    .navbar-static-top {
        z-index: 1000;
        border-width: 0 0 1px !important;
    }

    .page-container {
        width: 100%;
        float: left;
        min-height: 100%;
        position: relative;
        background: none !important;
    }

        .page-container .page-content {
            min-height: 100%;
            margin-left: 0px !important;
            background: #f5f5f5 url(../img/bg.png) left top repeat;
            position: relative;
            zoom: 1;
        }
</style>


<style>
    #example {
        margin: 0;
        padding: 0;
        border: 0;
        /* width: 100%; */
        max-width: none;
        background: transparent;
    }

    .k-nav-current > .k-link span + span {
        max-width: 400px;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: top;
    }

    #team-schedule {
        background: url('../content/web/scheduler/team-schedule.png') transparent no-repeat;
        height: 115px;
        position: relative;
    }

    #people {
        background: url('../content/web/scheduler/scheduler-people.png') no-repeat;
        width: 345px;
        height: 115px;
        position: absolute;
        right: 0;
    }

    #alex {
        position: absolute;
        left: 4px;
        top: 81px;
    }

    #bob {
        position: absolute;
        left: 119px;
        top: 81px;
    }

    #charlie {
        position: absolute;
        left: 234px;
        top: 81px;
    }
</style>
<style>
    html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>


<script src="//kendo.cdn.telerik.com/2016.3.1118/js/kendo.timezones.min.js"></script>


<div class="main-content padding-top-20 container" ng-cloak>
    <div class="container no-padding">
        <div class="row no-margin">
            <div class="col-sm-12 no-padding">
                @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Schedule</span>  </div>")
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-image: url(../../Content/assets/kendo/styles/textures/glass-lighter.png);
                                           background-position: 50% 50%; background-color: #2c232b; color: #fff; border-radius: 3px 3px 0 0;
                                           box-shadow: 0 1px 0 #2c232b inset;">
                        <i class="clip-bubbles-2" style="background-color: #fff; color: black;"></i>@Html.Raw("<div class=\"titlebluebreadcrumbs\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">Search</span>  </div>")
                        <div class="panel-tools">
                            @*<div id="imagename" />*@
                        </div>
                    </div>
                    <div style="height: auto;" class="panel-body panel-scroll ps-container">
                        <div id="schedulerview">
                            <div ng-controller="Schedulecontroller">
                                <div kendo-scheduler="scheduler" k-options="schedulerOptions" class=""></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- END SCRIPTS -->

<script type="text/javascript" src='@Url.Content("~/Views/App/Admin/Schedulecontroller.js")'></script>



