﻿<script type="text/javascript">
    function popup(mylink, windowname) {
        if (!window.focus) return true;
        var href;
        if (typeof (mylink) == 'string') href = mylink;
        else href = mylink.href;
        window.open(href, windowname, 'width=800,height=500,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no');
        return false;
    }
</script>
<style>
    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
    }
</style>

<div style=" width:100%" ng-controller="familytabledesignerController" ng-if="Family.FAMILY_ID!=='' && Family.FAMILY_ID!=='0'" ng-cloak>

    <table align="left" border="0" style="width:100%; height:500px;">
        <tr style="height:50px">
            <div class="col-sm-12 padding-0 margin-top-10">
               <div class="col-sm-2 padding-0" style="margin-right: -30px;">
                    <label class="bold margintop">Layout Name</label>
                </div>
                <div class="col-sm-3 padding-0">
                    <select kendo-drop-down-list id="dfsdf"
                            k-option-label="'--- Select Layout Name ---'"
                            k-data-text-field="'STRUCTURE_NAME'"
                            k-data-value-field="'STRUCTURE_NAME'"
                            k-data-source="StructureNameDataSource"
                            k-on-change="StructureNameChange(kendoEvent)"
                            ng-model="StructureName"
                            style="width:200px"></select>
                    <!--ng-model="StructureName"-->
                </div>

                @*Attribute pack start*@
                <div class="col-md-1 textalignright margintop"><b>Select Group</b></div>
                <div class="col-md-1" id="ProductPackageNames">
                    <select kendo-drop-down-list
                            k-option-label="'--- Select ---'"
                            k-data-text-field="'GROUP_NAME'"
                            k-data-value-field="'GROUP_ID'"
                            k-data-source="ProductGroupNameForFamily"
                            k-on-change="ProductPackNameChange(kendoEvent)"
                            ng-model="SelectedProductPackId"
                            style="width:247px;text-align: left;"></select>
                </div>
                @*Attribute pack end*@

                <div class="col-sm-3 margintop"><a href="~/Content/TableLayouts.html" style="float: right;text-decoration: underline;color: blue;margin-right: -94px;" onclick="return popup(this, true)">Layout Examples</a></div>
            </div>
            @*  Start - Multiple table designer select families - Aswin kumar   *@
            <div>
                <button type="button" class="btn btn-primary btn-xs" id="user-toolbar-association-removal-family" style="margin-bottom: 0px;margin-top: 2%;margin-left: 14%;" ng-click="multipleTabledesignerClick()" title="Apply Multiple">Replicate Table Layouts</button>
            </div>

            <div kendo-window="MultipletabledesignerCreation" id="Multipletabledesignerpopup" k-resizable="true" k-draggable="false" k-title="'Select Multiple Families'" k-width="650" k-height="580" k-visible="false"
                 k-actions='["Close"]'
                 k-modal="true" k-on-open="OpenMultipletabledesignerCreation = true" k-on-close="onClose(kendoEvent)">

                <div id="treeviewKendo1" kendo-tree-view="tree" k-data-source="treeData" k-options="treeDataoptions" k-load-on-demand="true"
                     style="max-height:420px;border: 1px solid #ccc;padding: 15px;overflow: auto">
                    <span k-template>
                        <label class='k-item' id="{{dataItem.id}}">{{dataItem.CATEGORY_NAME}}</label>
                    </span>
                </div>
                <div id="footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="checkbox" name="Checkbox_StructureName"  ng-model="IsDefaultStructureName" value="" class="ng-pristine ng-untouched ng-valid"> Set as Default Table Layout
                        </div>
                        @*<div class="col-sm-4">
                            <input type="checkbox" name="Checkbox_UpdateMasterCatalog" ng-model="IsUpdateMasterCatalog" value="" class="ng-valid ng-dirty ng-touched"> Update to Master Catalog<br>
                        </div>*@
                    </div>
                    
                    <button type="button" class="btn btn-primary btn-xs" id="user-toolbar-association-apply-family" style="margin-bottom: 0px;margin-top: 5%;margin-left: 30%;" ng-disabled="disableApplyBtn" ng-click="multipleTabledesignerApplyClick()" title="Apply">Apply</button>
                    <button type="button" class="btn btn-primary btn-xs" id="user-toolbar-association-clear-family" style="margin-bottom: 0px;margin-top: 5%;margin-left: 0%;" ng-disabled="disableClearBtn" ng-click="multipleTabledesignerClearClick()" title="Clear">Clear</button>
                    <button type="button" class="btn btn-primary btn-xs" id="user-toolbar-association-cancel-family" style="margin-bottom: 0px;margin-top: 5%;margin-left: 0%;" ng-click="multipleTabledesignerCancelClick()" title="Cancel">Cancel</button>

                </div>


            </div>


            @*  End - Multiple table designer select families - Aswin kumar   *@

       </tr>
        <tr>
            <td valign="top" rowspan="2">
                <label class="bold">Available Attributes</label>
                @*<div id="treeviewallAttributeList" style="height:532px;width:400px;border: 1px solid #ccc;border-radius: 4px; text-align:left; ">
                    </div>*@
                <div id="treeviewallAttribute" style="height:532px;width:316px;border: 1px solid #ccc;border-radius: 4px; text-align:left;">

                    <div kendo-tree-view="tree" k-data-source="allAttributeListDatasource" id="treeviewallAttributeList" k-load-on-demand="false" k-on-drop="onDropall(kendoEvent)" data-drag-and-drop="true" k-on-change="selectedItem = dataItem" k-dragend="onDragEnd" style="height:500px;width:315px">
                      
                        <span k-template style="color:{{dataItem.COLOR}}">
                            <input type="checkbox" ng-true-value="'Checked'" id="{{dataItem.id}}" ng-false-value="'Unchecked'" value="Unchecked" ng-model="dataItem.Merge" />
                            
                            
                            &nbsp; {{dataItem.ATTRIBUTE_NAME}}

                        </span>


                    </div>

                </div>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;</td>
            <td valign="top" style="width:316px;">

                <label class="bold">Left Row Attributes</label>

                <div id="leftreeview" style="height:250px;width:316px;border: 1px solid #ccc;border-radius: 4px; text-align:left;">
                    <div kendo-tree-view="tree" k-data-source="leftTreeNewDataSource" id="leftTreeViewKendo" k-load-on-demand="false" k-on-drop="onDropLeft(kendoEvent)" data-drag-and-drop="true" k-on-change="selectedItem = dataItem" style="height:240px;width:315px">
                        <span k-template style="color:{{dataItem.COLOR}}">
                            <input type="checkbox" ng-true-value="'Checked'" ng-false-value="'Unchecked'" class='k-item' id="{{dataItem.id}}" ng-model="dataItem.Merge" />&nbsp; {{dataItem.ATTRIBUTE_NAME}}
                        </span>
                    </div>
                </div>
                <style>
                    #treeview-left,
                    #treeview-right {
                        overflow: visible;
                    }
                </style>
                <br />

                <label class="bold">Right Row Attributes </label>
                <!--<div id="treeviewrightAttributes" style="height:250px;width:375px;border: 1px solid #ccc;border-radius: 4px; text-align:left;"></div>-->
                <div id="righttreeview" style="height:250px;width:316px;border: 1px solid #ccc;border-radius: 4px; text-align:left; ">
                    <div kendo-tree-view="tree" k-data-source="rightTreeNewDataSource" id="rightNavTreeViewKendo" k-load-on-demand="false" k-on-drop="onDropRight(kendoEvent)" k-on-change="selectedItem = dataItem" data-drag-and-drop="true" style="height:240px;width:315px  ">
                        <span k-template style="color:{{dataItem.COLOR}}">
                            <input type="checkbox" ng-true-value="'Checked'" ng-false-value="'Unchecked'" class='k-item' id="{{dataItem.id}}" ng-model="dataItem.Merge" />&nbsp; {{dataItem.ATTRIBUTE_NAME}}
                        </span>
                    </div>
                </div>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td valign="top" width="50%">
                <label class="bold">Column Attributes</label>
                <!--<div id="treeviewcolumnAttributes" style="height:250px;width:375px;border: 1px solid #ccc;border-radius: 4px; text-align:left;"></div>-->
                <div id="columntreeview" style="height:250px;width:316px;border: 1px solid #ccc;border-radius: 4px; text-align:left;">
                    <div kendo-tree-view="tree" k-data-source="columnTreeNewDataSource" id="columnNavTreeViewKendo" k-on-drop="onDropColumn(kendoEvent)" k-load-on-demand="false" k-on-change="selectedItem = dataItem" data-drag-and-drop="true" style="height:240px;width:315px  ">
                        <span k-template style="color:{{dataItem.COLOR}}">
                            <input type="checkbox" class='k-item' id="{{dataItem.id}}" ng-true-value="'Checked'" ng-false-value="'Unchecked'" ng-model="dataItem.Merge" />&nbsp; {{dataItem.ATTRIBUTE_NAME}}
                        </span>
                    </div>
                </div>
                <br />
                <label class="bold">Summary Attributes</label>
                <!--<div id="treeviewSummaryAttributes" style="height:250px;width:375px;border: 1px solid #ccc;border-radius: 4px; text-align:left;"></div>-->
                <div id="summarytreeview" style="height:250px;width:316px;border: 1px solid #ccc;border-radius: 4px; text-align:left;">
                    <div kendo-tree-view="tree" k-data-source="summaryTreeNewDataSource" id="summaryNavTreeViewKendo" k-on-drop="onDropSummary(kendoEvent)" k-load-on-demand="false" k-on-change="selectedItem = dataItem" data-drag-and-drop="true" style="height:240px;width:315px">
                        <span k-template style="color:{{dataItem.COLOR}}">
                            <input type="checkbox" class='k-item' id="{{dataItem.id}}" ng-true-value="'Checked'" ng-false-value="'Unchecked'" ng-model="dataItem.Merge" />&nbsp; {{dataItem.ATTRIBUTE_NAME}}
                        </span>
                    </div>
                </div>

            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr style="vertical-align:top;">
            <td>
                <br />
                <div style="width:316px; height:240px;position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;padding: 10px;">
                    <label class="bold">Add New Super Column</label>
                    <table cellpadding="10px" width="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 10px;">
                        <tbody>

                            <tr style="height: 60px;">
                                <td>
                                    <label class="bold">Super Column Name</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" value="" id="txtSuperColumn" class="chkoption" ng-click='check()'>
                                    <br />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    <br />
                                    <button class="btn btn-primary btn-xs" type="button" ng-click="addSuperColumn()" title="{{familyTDSuperColumn}}">
                                        &nbsp;Add Super Column
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td style="padding-left:9px;">
                <br />

                <div id="divAdvancedOptions" style="width:621px; height:220px; padding: 10px; position: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 4px;">
                    <label class="bold">Advanced Options</label> 
                    <table cellpadding="10px" width="100%" height="100%" align="center" cellspacing="10px" style="border-collapse: inherit;border-spacing: 10px;">
                        <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox" name="chkDisplayRowHeader" ng-model="DispalyRowHeaderCheckEditor.value1" ng-true-value="true" ng-false-value="false">

                                </td>
                                <td class="bold">
                                    Display Row Header
                                </td>

                                <td class="col-sm-4 bold textalignright">
                                    Table Group Header
                                </td>
                                <td>

                                    <select kendo-drop-down-list
                                            id="allAttributeListview"
                                            k-option-label="'[none]'"
                                            k-data-text-field="'ATTRIBUTE_NAME'"
                                            k-data-value-field="'ATTRIBUTE_ID'"
                                            k-data-source="tableGroupHeaderDataSource"
                                            k-on-change="tableGroupHeaderChange(kendoEvent)"
                                            ng-model="tableDesignerFields.ComboGroupByColumn"
                                            style="width: 165px"></select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="chkDispalySummaryHeader" ng-model="DispalySummaryHeaderCheckEditor.value1" ng-true-value="true" ng-false-value="false">
                                </td>
                                <td class="bold">
                                    Display Summary Header
                                </td>

                                <td class="col-sm-4 bold textalignright">
                                    Group Summary Attribute
                                </td>
                                <td>

                                    <select kendo-drop-down-list
                                            id="summaryAttributeListview"
                                            k-option-label="'[none]'"
                                            k-data-text-field="'ATTRIBUTE_NAME'"
                                            k-data-value-field="'ATTRIBUTE_ID'"
                                            k-data-source="tableGroupSummaryDataSource"
                                            k-on-change="tableGroupSummaryChange(kendoEvent)"
                                            ng-model="tableDesignerFields.ComboSummaryGroup"
                                            style="width: 165px"></select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="chkDisplayColumnHeader" ng-model="DisplayColumnHeaderCheckBox.value1" ng-true-value="true" ng-false-value="false">
                                </td>
                                <td  class="bold">
                                    Display Column Header
                                </td>
                                <td class="col-sm-4 bold textalignright">
                                    Empty Cell Placeholder
                                </td>
                                <td>
                                    <input type="text" id="EmptyCellTextBoxCATEGORY_ID" ng-model="tableDesignerFields.EmptyCellTextBox">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="chkVerticalTable_ChkBox" ng-model="VerticalTable_ChkBox.value1" ng-true-value="true" ng-false-value="false">
                                </td>
                                <td  class="bold">
                                    Transpose Table Output
                                </td>
                                <td class="col-sm-4 bold textalignright">
                                    Pivot Header
                                </td>
                                <td>
                                    <input type="text" id="PivotHeaderTextBox" ng-model="tableDesignerFields.PivotHeaderTextBox">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
   
    @*<div style="color: red">*Unpublished atttributes appear in red color</div>*@
    <div class="center" style="margin-top: 15px;">
        <button type="button" class="btn btn-primary btn-xs" id="btnShowTablePreview" name="btnShowTablePreview" ng-click="showTablePreview()" title="{{familyTDPreview}}"><i class="fa fa-eye"></i></button>
        <button type="button" class="btn btn-primary btn-xs" id="btnShowTableSave" name="btnSaveOptions" ng-click="showTableSave()" title="{{familyTDSave}}"><i class="fa fa-save"></i></button>
        <button type="button" class="btn btn-primary btn-xs" ng-click='showFamily2()' title="{{familyTDBackGroup}}"><i class="fa fa-chevron-left"></i></button>
    </div>
    @*</form>*@
</div>

