﻿/**************************************Main Product Grid Column Freeze****************************/


/*thead*/

#sampleProdgrid > thead, #samplegrid > thead {
    position: relative;
    display: block; /*seperates the header from the body allowing it to be positioned*/
    width: 870px;
    overflow: visible;
    margin-left: 0 !important;
    z-index: 2;
}

/*#sampleProdgrid5 > thead, #samplegrid > thead {
    position: relative;
    display: block; 
    width: 870px;
    overflow: visible;
}*/

#invertedproductlist > thead {
    position: relative;
    display: block; /*seperates the header from the body allowing it to be positioned*/
    width: 870px;
    overflow: visible;
}

#familygrid > thead {
    position: relative;
    display: block; /*seperates the header from the body allowing it to be positioned*/
    width: 870px;
    overflow: visible;
}


#sampleProdgrid thead th, #samplegrid thead th {
    background-color: #d9ecf5;
    border: 1px solid #ddd !important;
    min-width: 100px;
    padding: 5px 10px 0px 3px !important;
    padding-bottom: 0px !important;
}

/*#sampleProdgrid5 thead th, #samplegrid thead th {
    background-color: #d9ecf5;
    border: 1px solid #ddd !important;
    min-width: 100px;
    padding: 5px 10px 0px 3px !important;
    padding-bottom: 0px !important;
}*/

#invertedproductlist thead th {
    background-color: #d9ecf5;
    border: 1px solid #ddd !important;
    min-width: 100px;
    padding: 5px 10px 0px 3px !important;
    padding-bottom: 0px !important;
}

#familygrid thead th {
    background-color: #d9ecf5;
    border: 1px solid #ddd !important;
    min-width: 100px;
    padding: 5px 10px 0px 3px !important;
    padding-bottom: 0px !important;
}

#sampleProdgrid thead th a, #samplegridss thead th a {
    display: flex;
    min-height: 18px;
    line-height: 13px;
    margin: -.5em -.6em -.4em 0;
    padding: 5px 5px 5px 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
}

/*#sampleProdgrid5 thead th a, #samplegridss thead th a {
    display: flex;
    min-height: 18px;
    line-height: 13px;
    margin: -.5em -.6em -.4em 0;
    padding: 5px 5px 5px 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
}*/

#samplegrid thead th a {
    display: flex;
    min-height: 18px;
    line-height: 13px;
    margin: -.5em -.6em -.4em 0;
    padding: 9px 5px 9px 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
}

#invertedproductlist thead th a {
    display: flex;
    min-height: 18px;
    line-height: 13px;
    margin: -.5em -.6em -.4em 0;
    padding: 5px 5px 5px 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
}

#familygrid thead th a, #familygrid thead th a {
    display: flex;
    min-height: 18px;
    line-height: 13px;
    margin: -.5em -.6em -.4em 0;
    padding: 5px 5px 5px 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
}

#sampleProdgrid thead th a, #samplegrid thead tr th a, #samplegrid thead th a {
    min-width: 10px !important;
    max-width: 200px !important;
    resize: horizontal;
    overflow: auto;
    word-break: break-all;
}

/*#sampleProdgrid5 thead th a, #samplegrid thead tr th a, #samplegrid thead th a {
    min-width: 100px !important;
    max-width: 200px !important;
    resize: horizontal;
    overflow: auto;
    word-break: break-all;
}*/

#invertedproductlist thead th a {
    min-width: 100px !important;
    max-width: 200px !important;
    resize: horizontal;
    overflow: auto;
    word-break: break-all;
}

#familygrid thead th a {
    min-width: 100px !important;
    max-width: 200px !important;
    resize: horizontal;
    overflow: auto;
    word-break: break-all;
}

#sampleProdgrid tbody tr td a, #samplegrid tbody tr td a {
    min-width: 100px !important;
    max-width: 200px !important;
}

/*#sampleProdgrid5 tbody tr td a, #samplegrid tbody tr td a {
    min-width: 100px !important;
    max-width: 200px !important;
}*/

#invertedproductlist tbody tr td a {
    min-width: 100px !important;
    max-width: 200px !important;
}

#familygrid tbody tr td a {
    min-width: 100px !important;
    max-width: 200px !important;
}


.table-condensed > thead > tr > th {
    padding: 3px !important;
}

#sampleProdgrid thead th:nth-child(-n+9), #samplegrid thead th:nth-child(-n+9) { /*first cell in the header*/
    position: relative;
    /* display: block; seperates the first cell in the header from the header*/
    background-color: #d9ecf5;
    outline: 1px solid #ddd;
}

/*#sampleProdgrid5 thead th:nth-child(-n+9), #samplegrid thead th:nth-child(-n+9) { 
    position: relative;
   
    background-color: #d9ecf5;
    outline: 1px solid #ddd;
}*/

#invertedproductlist thead th:nth-child(-n+9) { /*first cell in the header*/
    position: relative;
    /* display: block; seperates the first cell in the header from the header*/
    background-color: #d9ecf5;
    outline: 1px solid #ddd;
}

#familygrid thead th:nth-child(-n+4) { /*first cell in the header*/
    position: relative !important;
    /* display: block; seperates the first cell in the header from the header*/
    background-color: #d9ecf5 !important;
    outline: 1px solid #ddd !important;
}

/*tbody*/
#sampleProdgrid tbody {
    position: relative;
    display: block;
    /*max-width: 950px;*/
    /*height: 322px;*/
    overflow: auto;
    max-height: 355px !important;
    min-height: auto !important;
    margin-left: 0 !important;
    font-size: 10px !important;
    margin-top: -34px;
    padding-top: 34px;
    z-index: 1;
}

/*tbody*/
/*#sampleProdgrid5 tbody {
    position: relative;
    display: block;
    overflow: auto;
    max-height: 355px !important;
    min-height: auto !important;
    font-size: 10px !important;
}*/


#samplegrid tbody {
    position: relative;
    display: block;
    /*max-width: 950px;*/
    /*height: 322px;*/
    overflow: auto;
    max-height: 400px !important;
    min-height: auto !important;
    font-size: 13px !important;
    margin-left: 0 !important;
}
/*tbody*/
#invertedproductlist tbody {
    position: relative;
    display: block;
    /*max-width: 950px;*/
    /*height: 322px;*/
    overflow: auto;
    max-height: 355px !important;
    min-height: auto !important;
    font-size: 10px !important;
}

#familygrid tbody {
    position: relative;
    display: block;
    /*max-width: 950px;*/
    /*height: 322px;*/
    overflow: auto;
    max-height: 500px !important;
    min-height: auto !important;
    font-size: 10px !important;
}

#sampleProdgrid tbody > tr > td {
    font-size: 10px !important;
}

/*#sampleProdgrid5 tbody > tr > td {
    font-size: 10px !important;
}*/

#samplegrid tbody > tr > td {
    font-size: 12px !important;
    padding: 3px 6px 3px 7px;
}

#invertedproductlist tbody > tr > td {
    font-size: 10px !important;
}

#familygrid tbody > tr > td {
    font-size: 10px !important;
}

#sampleProdgrid tbody tr:nth-child(2n+1).selected td, #samplegrid tbody tr:nth-child(2n+1).selected td {
    background-color: lightgrey;
}
/*#sampleProdgrid5 tbody tr:nth-child(2n+1).selected td, #samplegrid tbody tr:nth-child(2n+1).selected td {
    background-color: lightgrey;
}*/
#invertedproductlist tbody tr:nth-child(2n+1).selected td {
    background-color: lightgrey;
}

#familygrid tbody tr:nth-child(2n+1).selected td {
    background-color: lightgrey;
}

#sampleProdgrid tbody tr:nth-child(2n).selected td, #samplegrid tbody tr:nth-child(2n).selected td {
    background-color: lightgrey;
}
/*#sampleProdgrid5 tbody tr:nth-child(2n).selected td, #samplegrid tbody tr:nth-child(2n).selected td {
    background-color: lightgrey;
}*/

#invertedproductlist tbody tr:nth-child(2n).selected td {
    background-color: lightgrey;
}

#familygrid tbody tr:nth-child(2n).selected td {
    background-color: lightgrey;
}

#sampleProdgrid tbody tr:nth-child(2n) td, #samplegrid tbody tr:nth-child(2n) td {
    background-color: #fff;
}

/*#sampleProdgrid5 tbody tr:nth-child(2n) td, #samplegrid tbody tr:nth-child(2n) td {
    background-color: #fff;
}*/

#invertedproductlist tbody tr:nth-child(2n) td {
    background-color: #fff;
}

#familygrid tbody tr:nth-child(2n) td {
    background-color: #fff;
}

#sampleProdgrid tbody tr:nth-child(2n+1) td, #samplegrid tbody tr:nth-child(2n+1) td {
    background-color: #f1f1f1;
}

/*#sampleProdgrid5 tbody tr:nth-child(2n+1) td, #samplegrid tbody tr:nth-child(2n+1) td {
    background-color: #f1f1f1;
}*/

#invertedproductlist tbody tr:nth-child(2n+1) td {
    background-color: #d9ecf5;
}

#familygrid tbody tr:nth-child(2n+1) td {
    background-color: #d9ecf5;
}

#sampleProdgrid tbody td, #samplegrid tbody td {
    min-width: 100px;
    border: 1px solid #ddd !important;
    padding: 0px 10px 0px 3px;
    width: 100px;
}

/*#sampleProdgrid5 tbody td, #samplegrid tbody td {
    min-width: 100px;
    border: 1px solid #ddd !important;
    padding: 0px 10px 0px 3px;
    width: 100px;
}*/

#invertedproductlist tbody td {
    min-width: 100px;
    border: 1px solid #ddd !important;
    padding: 0px 10px 0px 3px;
    width: 100px;
}

#familygrid tbody td {
    min-width: 100px;
    border: 1px solid #ddd !important;
    padding: 0px 10px 0px 3px;
    width: 100px;
}

#sampleProdgrid tbody tr td:nth-child(-n+9), #samplegrid tbody tr td:nth-child(-n+9) { /*the first cell in each tr*/
    position: relative;
    outline: 1px solid #ddd;
    word-break: break-all;
    width: 100px;
}

/*#sampleProdgrid5 tbody tr td:nth-child(-n+9), #samplegrid tbody tr td:nth-child(-n+9) {
    position: relative;
    outline: 1px solid #ddd;
    word-break: break-all;
    width: 100px;
}*/

#invertedproductlist tbody tr td:nth-child(-n+9) { /*the first cell in each tr*/
    position: relative;
    outline: 1px solid #ddd;
    word-break: break-all;
    width: 100px;
}


#familygrid tbody tr td:nth-child(-n+4) { /*first cell in the header*/
    position: relative !important;
    outline: 1px solid #ddd;
    word-break: break-all;
    width: 100px;
}
/******************************************/
/**************************************Sub Product Grid Column Freeze****************************/


/*thead*/
#samplegridss > thead {
    position: relative;
    display: block; /*seperates the header from the body allowing it to be positioned*/
    max-width: 950px;
    overflow: visible;
}

#samplegridss thead th {
    /*background-color: #d9ecf5;*/
    background-color: #d9ecf5;
    /*min-width: 120px;
        max-width: 200px;*/
    border: 1px solid #ddd !important;
    min-width: 100px;
}

    #samplegridss thead th:nth-child(-n+9) { /*first cell in the header*/
        position: relative;
        /* display: block; seperates the first cell in the header from the header*/
        background-color: #d9ecf5;
        outline: 1px solid #ddd;
    }

/*tbody*/
#samplegridss tbody {
    position: relative;
    display: block;
    max-width: 950px;
    /*height: 322px;*/
    overflow: auto;
    min-height: auto !important;
    max-height: 500px;
    font-size: 10px !important;
}

    #samplegridss tbody > tr > td {
         font-size: 10px !important;
         word-break: break-all !important;
    }

    #samplegridss tbody tr:nth-child(2n+1).selected td {
        background-color: lightgrey;
        width: 100px;
    }

    #samplegridss tbody tr:nth-child(2n).selected td {
        background-color: lightgrey;
    }

    #samplegridss tbody tr:nth-child(2n) td {
        background-color: #fff;
    }

    #samplegridss tbody tr:nth-child(2n+1) td {
        background-color: #f1f1f1;
    }

    #samplegridss tbody td {
        /*background-color: #d9ecf5;*/
        /*min-width: 120px;
        max-width: 200px;*/
        min-width: 100px;
        border: 1px solid #ddd !important;
        padding: 3px;
    }

    #samplegridss tbody tr td:nth-child(-n+9) { /*the first cell in each tr*/
        position: relative;
        outline: 1px solid #ddd;
        width: 100px;
        word-break: break-all;
    }
/*.k-grid-header-wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-style: solid;
    border-width: 0 1px 0 0;
    zoom: 1;
}

.k-grid-header th.k-header > .k-link {
    display: block;
    min-height: 18px;
    line-height: 18px;
    margin: -.5em -.6em -.4em 0;
    padding: .5em .6em .4em 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.k-grid-header th.k-header {
    white-space: nowrap;
}

.k-grid-content {
    white-space: normal;
    position: relative;
    width: 100%;
    overflow: auto;
    overflow-x: auto;
    overflow-y: scroll;
    zoom: 1;
    min-height: 0;
    overflow-y: auto !important;
}*/
/*Resizing CSS*/

/*table td {
    overflow: hidden;
    border: 1px solid gray;
}
 
table th .resize-handle {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background-color: #000;
    cursor: col-resize;
}
table th .resize-marquee {
    position: absolute;
    top:0;
    left: 0;
    box-shadow: inset 0 0 0 1px gray;
}*/
/*table th.resizing {
    cursor: col-resize;
}*/

/**************************************Product grid from inverted page****************************/


/*thead*/




 
