/* ----------------------------------- */
/* ---------- Global Styles ---------- */
/* ----------------------------------- */


html, body {
	padding: 0;
	margin: 0;
	font-family: Open Sans, Arial;
	font-weight: 300;
}
html {
	font-size: 18px;
}
img {
	border: 0;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
a {
	color: #1197f4;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}


/* ---------------------------------- */
/* ---------- Site Content ---------- */
/* ---------------------------------- */

div.content,
div.article,
table.content,
table.article,
div.header table,
table.downloads,
div.foxcontainer table,
dd.published,
div.link {
	width: 1130px;
	margin: 0 auto;
	/*font-family: Open Sans, Arial;*/
    font-family: Calibri;
	font-size: 18px;
	font-weight: 300;
	color: #2b2b2b;
	
}
table.content td,
table.article td {
	vertical-align: top;
}
div.content img,
table.content img,
div.article img,
table.article img {
	display: block;
	margin: 0 auto;
}
table.article td.left img {
	margin-right: 50px;
}
table.article td.right img {
	margin-left: 50px;
}
div.article,
div.padding,
td.padding,
table.padding td,
table.article td {
	padding: 60px 0;
}
div.padding-top,
table td.padding-top,
table.padding-top td {
	padding: 60px 0 0 0;
}
div.padding-bottom,
table td.padding-bottom,
table.padding-bottom td {
	padding: 0 0 60px 0;
}
div.content strong,
table.content strong,
div.article strong,
table.article strong,
div.foxcontainer table strong {
	font-weight: 400;
}
div.content h1,
div.article h1,
div.header h1,
div.foxcontainer h1,
table.content h1,
table.article h1 {
	width: 100%;
	margin: 20px 0;
	padding: 0;
	text-align: center;
	font-family: Raleway, Roboto, Arial;
	font-size: 45px;
	font-weight: 200;
	color: #2b2b2b;
}
div.content h1.content,
table.content h1.content,
div.article h1,
table.article h1 {
	font-family: Open Sans, Arial;
	font-size: 30px;
	text-align: left;
	font-weight: 300;
	display: inline-block;
	margin: 0 0 20px 0;
}
div.content h2,
table.content h2,
div.article h2,
table.article h2,
div.header h2,
div.foxcontainer h2 {
	width: 100%;
	font-family: Open Sans, Arial;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	color: #6a7576;
}
div.article h2,
table.article h2 {
	text-align: left;
	font-size: 14px;
}
div.content h3,
table.content h3,
div.article h3,
table.article h3 {
	margin: 0;
	padding: 0;
	font-family: Open Sans, Arial;
	font-size: 18px;
	font-weight: 400;
	text-align: left;
}
table.content h6,
table.article h6 {
	margin: 0;
	padding: 10px 0 0;
	font-family: Open Sans, Arial;
	color: #a0a0a0;
	font-weight: 400;
}
div.big,
div.big h2 {
	font-size: 23px;
}
div.big h1 {
	font-size: 75px;
}
div.content h1 strong,
div.content h2 strong,
div.content h3 strong,
table.content h1 strong,
table.content h2 strong,
table.content h3 strong,
div.article h1 strong,
div.article h2 strong,
div.article h3 strong,
table.article h1 strong,
table.article h2 strong,
table.article h3 strong {
	font-weight: 400;
}
div.white,
div.white .content,
div.white h1,
div.white h2,
div.white a,
div.white span.link {
	color: #fff;
}
div.black,
div.black h1,
div.black h2 {
	color: #000;
}
div.highlight {
	background: #f5f5f5;
}
span.highlight {
	font-weight: 400;
}
div.separator {
	background: #f5f5f5;
	height: 15px;
}
div.prereleases {
	text-align: center;
	font-weight: 400;
}
span.link {
	color: #1197f4;
	font-weight: 400;
}
a.anchor {
	height: 0;
	font-size: 0;
}
table.center {
	margin: 0 auto;
}
table.center td {
	text-align: center;
}
div.article input,
div.article button,
div.article select {
	min-height: 19px;
	padding: 2px 3px;
	outline: 0;
	font-family: Open Sans, Arial;
	font-size: 14px;
	font-weight: 400;
}
div.article select {
	padding: 2px 0;
}
div.article input[type=radio] {
	min-height: auto;
}
div.code {
	font-size: 14px;
	border: 1px dashed #a0a0a0;
}
div.code pre {
	margin: 10px;
}
div.alert {
	border: 2px dashed #a0a0a0;
	padding: 15px;
}


/* ------------------------------------ */
/* ---------- Article Header ---------- */
/* ------------------------------------ */

div.header,
div.header table {
	height: 220px;
	background: #4a729a;
	text-align: center;
	color: #fff;
}
div.header td.caption {
	height: 65px;
	font-family: Raleway, Roboto, Arial;
	font-size: 35px;
	font-weight: 200;
	vertical-align: bottom;
}
div.header a {
	font-weight: 400;
	color: #fff;
}
div.blog {
	height: auto;
	text-align: left;
}
div.blog h1 {
	font-family: Open Sans, Arial;
	font-size: 30px;
	text-align: left;
	font-weight: 300;
	display: inline-block;
	color: white;
	margin: 0 0 40px 0;
}
div.blog div.content {
	color: white;
	padding: 50px;
}


/* ------------------------------- */
/* ---------- Main Menu ---------- */
/* ------------------------------- */

div.top-header  {
	height: 80px;
	font-family: Raleway, Roboto, Arial;
	position: relative;
	z-index: 100;
}
div.top-header .content {
	font-size: 14px;
	font-weight: 400;
}
div.top-header .background {
	position: absolute;
	width: 100%;
	top: 0;
	height: 80px;
	/* background: #fff; */
	opacity: 0.8;
	z-index: -80;
	
}
div.top-header .logo {
	margin-top: 18px;
}
div.top-header .menu {
	margin: 47px 0 0 0;
	padding: 4px 9px 3px 0;
	float: right;
	border-right: 1px solid #4b4b4b;
}
div.top-header .menu li {
	display: inline;
	text-transform: uppercase;
}
div.top-header .menu a {
	color: #2b2b2b;
	padding: 0 9px;
	text-decoration: none;
}
div.top-header .menu li:hover a {
	text-decoration: underline;
}
div.top-header form.mod-search {
	display: inline-block;
	height: 20px;
	float: right;
	margin: 47px 13px 0 17px;
	background: URL('../images/search.png');
	background-repeat: no-repeat;
	background-position: left bottom;
}
div.top-header .mod-search input[type=text] {
	border: 1px solid transparent;
	width: 10px;
	min-height: 19px;
	padding: 2px 3px;
	background: transparent;
	color: transparent;
	cursor: pointer;
	outline: 0;
	font-family: Open Sans;
	font-size: 14px;
	font-weight: 400;
	transition: all .3s ease;
}
div.top-header .mod-search input[type=text]:focus {
	width: 175px;
	border: 1px solid #d0d0d0;
	background: #fff;
	cursor: text;
	color: black;
}
div.top-header .mod-languages {
	float: right;
	margin: 51px 2px 0 0;
}
div.top-header .mod-languages img {
	float: right;
	cursor: pointer;
}
div.top-header .site-langs-cont {
	width: 0;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	transition: all .3s ease;
}
div.top-header .site-langs {
	float: left;
	margin: 0 10px 0 4px;
	width: 60px;
}
div.top-header .site-langs li {
	display: inline;
	float: left;
}


/* -------------------------------------------- */
/* ---------- Content: Round Buttons ---------- */
/* -------------------------------------------- */

div.buttons {
	background: #f5f5f5;
	padding: 50px 0;
}
div.buttons table {
	margin: 0 auto;
	width: auto;
}
div.buttons td {
	font-size: 24px;
	text-align: center;
	font-weight: 400;
	padding: 7px 30px;
	line-height: 27px;
}


/* --------------------------------------------------- */
/* ---------- Content: Contact Buttons Line ---------- */
/* --------------------------------------------------- */

div.custom-contact-buttons {
	text-align: center;
	background: #eee;
}
div.custom-contact-buttons .content {
	font-size: 0;
}
div.custom-contact-buttons a {
	width: 32px;
	height: 32px;
	display: inline-block;
	margin: 15px;
	overflow: hidden;
}
@media only screen and (max-device-width: 480px) {
	div.custom-contact-buttons a {
		transform: scale(2);
		margin: 40px 30px;
	}
}
div.custom-contact-buttons img {
	width: 32px;
	height: 32px;
	position: relative;
	margin: 0;
	opacity: 0;
	transition: all .2s ease;
}
div.custom-contact-buttons img.icon,
div.custom-contact-buttons a:hover img.icon {
	left: 0;
	top: -32px;
}
div.custom-contact-buttons img.top {
	top: -64px;
}
div.custom-contact-buttons img.right {
	left: 32px;
}
div.custom-contact-buttons img.bottom {
	top: 0;
}
div.custom-contact-buttons img.left {
	left: -32px;
}
div.custom-contact-buttons a:hover img {
	opacity: 1;
}


/* ----------------------------- */
/* ---------- Buttons ---------- */
/* ----------------------------- */

div.button {
	display: inline-block;
	margin: 10px;
}
div.button a,
div.button input.button,
button.foxbutton {
	display: inline-block;
	font-weight: 400;
	color: #fff;
	width: auto;
	height: 30px;
	text-decoration: none;
	padding: 10px 40px;
	background: #1ba1e2;
	font-size: 20px;
	white-space: nowrap;
	cursor: pointer;
	margin: 0;
	border: 0;
	transition: all 0.5s ease;
	text-align: center;
}
div.button input.button {
	height: 50px;
}
div.button a:hover,
div.button input.button:hover,
button.foxbutton:hover {
	background: #0171cb;
}
div.button.green a {
	background: #50d876;
}
div.button.green a:hover {
	background: #08bf3c;
}
div.button.disabled a,
div.button.disabled input.button {
	background: #aeaeae;
	cursor: default;
}


/* ----------------------------------------- */
/* ---------- Round Image Buttons ---------- */
/* ----------------------------------------- */

a.image-link {
	height: 48px;
	color: #2b2b2b;
	display: inline-block;
	margin: 10px 15px 0 0;
	background-repeat: no-repeat;
	transition: all .2s ease;
}
a.image-link span {
	display: inline-block;
	margin: 10px 0 0 10px;
	font-size: 18px;
}
a.image-link img {
	opacity: 0;
	float: left;
	position: relative;
	margin: 0 !important;
	transition: all .2s ease;
}
a.image-link:hover span {
	text-decoration: underline;
}
a.image-link:hover img {
	opacity: 1;
}


/* -------------------------------------- */
/* ---------- Form: Contact Us ---------- */
/* -------------------------------------- */

div.foxcontainer {
	padding: 50px 0 70px 0;
	width: 100%;
	background: #6cbae0;
}
div.foxcontainer,
div.foxcontainer h1,
div.foxcontainer h2,
div.foxcontainer label {
	color: #000;
}
div.foxcontainer a {
	color: #2b2bef;
}
table.content td input,
div.foxcontainer input,
div.foxcontainer select,
div.foxcontainer textarea {
	height: 20px;
	outline: 0;
	border: 1px solid #ffffff;
	font-family: Open Sans;
	font-size: 14px;
	font-weight: 400;
	background: #fff;
	padding: 2px 4px 3px 4px;
}
div.invoice table.content td input,
div.invoice table.content td select {
	border: 1px solid #7bb9f3;
}
div.invoice input#vatcode {
	border-right: 0;
}
div.foxcontainer select {
	height: 25px !important;
}
input.foxtext, input.validfoxtext, input.invalidfoxtext {
	margin-bottom: 10px;
}
div.foxcontainer input.invalidfoxtext,
div.foxcontainer select.invalidfoxtext,
div.foxcontainer textarea.invalidfoxtext {
	border: 1px solid #f33;
}
textarea.foxtext, textarea.validfoxtext, textarea.invalidfoxtext {
	margin-bottom: 6px;
}
select.foxtext, select.validfoxtext, select.invalidfoxtext {
	margin-bottom: 8px;
	height: 22px !important;
	position: inherit !important;
	opacity: 1 !important;
}
span.defaultfoxfield, span.validfoxfield {
	display: none !important;
}
div.fcaptchafieldcontainer {
	float: left;
	height: 28px;
	overflow: hidden;
}
div.fcaptchafieldcontainer img {
	display: none;
}
div.fcaptchafieldcontainer img.fox_captcha_img {
	display: inline;
}
div.fcaptchainputcontainer {
	float: left;
	padding-left: 20px;
}
button.foxbutton {
	height: auto;
	margin: 20px 0 0 120px;
	padding-left: 60px;
	padding-right: 60px;
}
div.reports-design-service-request-quote button.foxbutton {
	margin-left: 160px;
}

/* Uninstall page */

div.foxcontainer.uninstall {
	background: #fff;
}
div.foxcontainer.uninstall select {
	opacity: 0 !important;
	height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
}
div.foxcontainer.uninstall input,
div.foxcontainer.uninstall textarea {
	border: 1px solid #7bb9f3;
}
div.foxcontainer.uninstall label.radio {
	display: inline-block;
	cursor: pointer;
}
div.foxcontainer.uninstall label.radio input {
	margin: 5px 10px 0 0;
	border: 0;
}
div.foxcontainer.uninstall label.radio i {
	font-style: normal;
	position: relative;
	top: -4px;
}
div.foxcontainer.uninstall button.foxbutton {
	margin-left: 140px;
}
div.foxcontainer.uninstall strong {
	margin: 0 0 30px 150px;
	display: block;
}


/* ---------------------------------- */
/* ---------- News Content ---------- */
/* ---------------------------------- */

dl.article-info {
	margin: 0;
}
dd.published {
	color: #768283;
}
div.cat-items {
	margin: 60px 0;
}
div.cat-items div.pagination {
	margin: 30px 0 -60px 0;
}
div.link {
	width: 980px;
	margin: 10px auto;
}
div.link a {
	padding: 15px 20px 20px 20px;
	display: block;
	color: #6a7576;
	text-decoration: none;
	transition: all .2s ease;
	border-radius: 20px;
}
div.link h3 {
	font-size: 24px;
	font-family: Open Sans, Arial;
	font-weight: 400;
	margin: 0;
	color: #2b2b2b;
}
div.link a:hover {
	background: #f0f0f0;
}


/* -------------------------------- */
/* ---------- Pagination ---------- */
/* -------------------------------- */

div.pagination {
	height: 100px;
	text-align: center;
	background: #f5f5f5;
}
div.pagination strong,
div.pagination strong span {
	font-weight: 400;
	font-size: 22px;
}
div.pagination a {
	display: inline-block;
	padding: 0 5px 0 5px;
	font-size: 22px;
}
div.pagination span {
	display: inline-block;
	padding: 33px 5px;
	font-size: 22px;
	color: #2b2b2b;
}


/* ------------------------------------- */
/* ---------- Product Buttons ---------- */
/* ------------------------------------- */

div.product-buttons {
	padding: 60px 0 50px 0;
	background: #f5f5f5;
}
div.product-buttons .button {
	margin: 0 20px 0 0;
}
div.float-up {
	position: absolute;
	width: 100%;
	transition: all 1s ease;
}
div.float-up div.product-buttons {
	background: transparent;
	position: relative;
	z-index: 10;
}
div.float-up .background {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.15;
}


/* -------------------------------------------- */
/* ---------- Shadowbox Media Viewer ---------- */
/* -------------------------------------------- */

#sb-loading-inner span {
	color: #a0a0a0;
}

#sb-title-inner {
	font-weight: 400;
}

#sb-counter {
	color: white;
}


/* ------------------------------- */
/* ---------- Resellers ---------- */
/* ------------------------------- */

div.resellers table td {
	padding-right: 10px;
}


/* ------------------------------------- */
/* ---------- Russian Invoice ---------- */
/* ------------------------------------- */

div.invoice {
	overflow: hidden;
}
div.invoice th {
	padding: 30px 0 15px 0;
	text-align: left;
	font-weight: 400;
	font-size: 22px;
}
div.invoice td {
	padding: 3px 0;
}
div.invoice strong {
	color: red;
}


/* ------------------------------------ */
/* ---------- Pages Scroller ---------- */
/* ------------------------------------ */

@keyframes next-page {
	0% { transform: translateY(0); opacity: 1; }
	70% { transform: translateY(0); opacity: 1; }
	85% { transform: translateY(10px); opacity: 0; }
	86% { transform: translateY(-10px); opacity: 0; }
	100% { transform: translateY(0px); opacity: 1; }
}

@-webkit-keyframes next-page {
	0% { -webkit-transform: translateY(0); opacity: 1; }
	70% { -webkit-transform: translateY(0); opacity: 1; }
	85% { -webkit-transform: translateY(10px); opacity: 0; }
	86% { -webkit-transform: translateY(-10px); opacity: 0; }
	100% { -webkit-transform: translateY(0px); opacity: 1; }
}

img.next-page {
	position: fixed;
	left: 50%;
	bottom: 50px;
	z-index: 500;
	cursor: pointer;
	margin-left: -12px;
	animation: next-page 7s ease-in-out 0s infinite;
	-webkit-animation: next-page 7s ease-in-out 0s infinite;
}

div.anchors-container {
	position: fixed;
	width: 30px;
	right: 10px;
	top: 50%;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
}

div.anchors-container div {
	width: 5px;
	height: 5px;
	border: 1px solid #fff;
	border-radius: 5px;
	background: #e0e0e0;
	display: inline-block;
	cursor: pointer;
	margin: 6px;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
}

div.anchors-container div:hover {
	transform: scale(2);
	-webkit-transform: scale(2);
}

div.anchors-container div.active {
	background: #808080;
	transform: scale(2);
	-webkit-transform: scale(2);
}


/* Social buttons */

div.itp-social-buttons-box {
	width: 980px;
	margin: -50px auto 0 auto;
}
div.itp-social-buttons-box h4 {
	display: none;
}
div.itp-social-buttons-box .itp-sb-right a {
	opacity: 1;
	transition: opacity 0.3s ease;
}
div.itp-social-buttons-box .itp-sb-right a:hover {
	opacity: 0.7;
}
.itp-sb-right img.white {
	display: none;
}
div.blog-site .itp-sb-right img.white {
	position: absolute;
	opacity: 0.95;
	display: inherit;
}