/* --- Main --- */

div.cs-changes strong.caption {
    font-size: 20px;
}

div.cs-changes table td {
    vertical-align: top;
    padding-bottom: 15px;
}

div.cs-changes div.changes {
    margin-bottom: -30px;
}

div.cs-changes table.changes {
    margin: 10px 0 30px 0;
}

    div.cs-changes table.changes img {
        margin-left: 15px;
    }

div.cs-changes table.builds {
    width: 95%;
    margin-left: 15px;
}

    div.cs-changes table.builds.hidden {
        display: none;
        opacity: 0;
        transition: opacity .3s ease;
    }

div.cs-changes table a {
    padding-left: 8px;
    font-weight: 400;
}

div.cs-changes table img {
    float: left;
    padding-right: 5px;
}

div.cs-changes a.show-more {
    display: inline-block;
    margin: 10px 0 0 24px;
    font-size: 16px;
    cursor: pointer;
}

/* --- Tags --- */

div.cs-changes div.tags {
    margin: 40px auto -20px auto;
}

    div.cs-changes div.tags a {
        cursor: pointer;
        display: inline-block;
        padding: 5px 10px;
        margin: 5px 10px 0 0;
        border: 2px solid #dae6f1;
        border-radius: 10px;
        font-weight: 300;
        font-size: 14px;
        background: white;
        color: #202020;
        transition: all .2s ease;
        text-decoration: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        div.cs-changes div.tags a:hover {
            border: 2px solid #7bb9f3;
        }

        div.cs-changes div.tags a.active {
            border: 2px solid #7bb9f3;
            background: #dae6f1;
            cursor: pointer;
        }

div.mod-languages ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

div.mod-languages li {
    margin-left: 0px;
    margin-right: 4px;
}

div.mod-languages ul.lang-inline li {
    display: inline;
}

div.mod-languages ul.lang-block li {
    display: block;
}

div.mod-languages img {
    border: none;
}

div.mod-languages a {
    text-decoration: none;
}

div.user-info {
    height: 0;
    width: 100%;
    text-align: right;
    font-size: 17px;
    color: #505050;
}

    /* --- Main --- */

    div.user-info table {
        display: inline-block;
        margin-top: 5px;
        cursor: pointer;
        border: 0;
        border-collapse: collapse;
        padding: 0;
    }

        div.user-info table td {
            vertical-align: top;
            padding: 0;
        }

    div.user-info td.user-caption {
        transition: all .3s ease;
        padding: 6px 12px;
    }

    div.user-info table:hover td.user-caption {
        text-decoration: underline;
    }

    /* --- Buttons --- */

    div.user-info div.user-buttons {
        text-transform: uppercase;
        font-size: 14px;
        display: block;
        position: absolute;
        white-space: nowrap;
        transition: all .4s ease;
        padding: 9px 0;
        overflow: hidden;
        opacity: 0;
        z-index: 100;
    }

        div.user-info div.user-buttons a {
            padding: 0 7px;
            color: #2b2b2b;
            cursor: pointer;
        }


    /* --- Avatar --- */

    div.user-info .user-avatar img,
    div.user-info .user-avatar div {
        width: 34px;
        height: 34px;
        font-size: 15px;
        line-height: 34px;
        color: white;
        font-weight: 300;
        text-align: center;
        border-radius: 50%;
    }

    div.user-info .user-avatar .shadow {
        position: absolute;
        box-shadow: inset 0 0 0 2px rgba(255,255,255,.3);
    }

div.cookies-info {
    height: 36px;
    width: 100%;
    text-align: right;
    background: #1ba1e2;
    position: fixed;
    z-index: 200;
    text-align: left;
    top: 0;
    opacity: 1;
    display: none;
    transition: all .3s ease;
}

    div.cookies-info .content {
        color: white;
        padding: 6px 0 0 0;
        font-size: 17px;
        text-align: left;
        font-weight: 400;
    }

        div.cookies-info .content div {
            display: inline-block;
        }

        div.cookies-info .content a {
            float: right;
            color: white;
            cursor: pointer;
            text-transform: uppercase;
        }

            div.cookies-info .content a strong {
                padding: 0 0 0 25px;
            }

/**
 * @copyright	Copyright (C) 2005 - 2014 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

/* Import project-level system CSS */
@import url(../../../media/system/css/system.css);

/* Unpublished */
.system-unpublished, tr.system-unpublished {
    background: #e8edf1;
    border-top: 4px solid #c4d3df;
    border-bottom: 4px solid #c4d3df;
}

span.highlight {
    background-color: #FFFFCC;
    font-weight: bold;
    padding: 1px 4px;
}

.img-fulltext-float-right {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

.img-fulltext-float-left {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.img-fulltext-float-none {
}

.img-intro-float-right {
    float: right;
    margin-left: 5px;
    margin-bottom: 5px;
}

.img-intro-float-left {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.img-intro-float-none {
}

::selection {
    color: #339933;
}

/*Scroll Bar design of whole site*/

html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #4a729a;
}

html::-webkit-scrollbar {
    width: 6px;
    height: 8px;
    background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #fff;
}

/*Scroll Bar design End*/

.loginbutton {
    float: right;
    margin-top: 30px;
    margin-right: 10%;
}

.footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #e8e8e8;
}

.footer > span {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}



.fixedbugbg {
    background-image: url(../../assets/images/fixed-line.png);
    width: 30px;
    height: 27px;
    display: block;
}

.newfeaturebg {
    background-image: url('../../assets/images/added-line.png');
    width: 30px;
    height: 27px;
    display: block;
}

.w3-animate-left {
    position: relative;
    animation: animateleft 0.4s;
}

@keyframes animateleft {
    from {
        left: -500px;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}

.w3-animate-right {
    position: relative;
    animation: animateright 0.7s;
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}
