﻿<style>
    ul.k-group > li.k-item {
        width: 0px !important;
    }

    .cke_textarea_inline.cke_editable.cke_editable_inline.cke_contents_ltr.cke_show_borders {
        width: 11.6em;
    }
</style>


    <div class="panel-heading1 margin-bottom-20 margin-top-20">
       Common value update
    </div>



    <div ng-show="usercommon" ng-controller="CommonValueUpdateSubproductController" ng-cloak>
        <table class="table-responsive" width="25%" cellpadding="5" cellspacing="5" style="border:0px solid white; min-height: 100px;float:left">
            <tr>
                <td rowspan="3">
                    <div kendo-tree-view="tree" style="width:95%;max-height: 626px; overflow:auto;" k-data-source="commonvalueupdatesubproducttreeData" id="treecommonvalueupdatesubproduct"
                         k-load-on-demand="false" data-drag-and-drop="false" k-on-change="selectedItem = dataItem" k-options="commonvaluesubproductupdatetreeOptions">
                        <span k-template>
                            <a class='k-item' id="{{dataItem.id}}">{{dataItem.FAMILY_NAME}}</a>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
        <table >
            <tr>
                <td>
                    <div ng-if="Family.FAMILY_ID!=='' && Family.FAMILY_ID!=='0'" >
                        <select kendo-drop-down-list
        k-option-label="'-Select Attribute-'"
        k-data-source="subproductAttrDatasource"
        k-data-text-field="'ATTRIBUTE_NAME'"
        k-data-value-field="'ATTRIBUTE_ID'"
        ng-model="commonvaluesubdata.ATTRIBUTE_ID"
        k-on-change="commonvalueattrChange(kendoEvent)"></select>@*ng-model="getAttributeId"*@
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                            <div>
                                <div ng-if="attribute.ATTRIBUTE_TYPE!==4 && attribute.ATTRIBUTE_TYPE!==3 && !attribute.USE_PICKLIST && attribute.ATTRIBUTE_NAME!=='Supplier'">
                                    <input type="text" ng-model="commonvaluesubdata.STRING_VALUE" ng-pattern="attribute.attributePattern" ng-if="attribute.ATTRIBUTE_DATATYPE.contains('Num')" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46'
                                           id="textBoxValue{{attribute.ATTRIBUTE_ID}}" name="textBoxValue{{attribute.ATTRIBUTE_ID}}">
                                    <span ng-show="productgridform.textBoxValue{{attribute.ATTRIBUTE_ID}}.$invalid && productgridform.textBoxValue{{attribute.ATTRIBUTE_ID}}.$error.pattern" class="text-danger">Enter valid format ({{attribute.uimask}}).</span>

                                    <input type="text"
                                           ng-model="commonvaluesubdata.STRING_VALUE"
                                           ng-maxlength="attribute.attributePattern" id="textBoxValue{{attribute.ATTRIBUTE_ID}}"
                                           name="textBoxValue{{attribute.ATTRIBUTE_ID}}"
                                           ng-if="attribute.ATTRIBUTE_DATATYPE.contains('Tex') && attribute.ATTRIBUTE_ID===1"
                                           ng-blur="datatypecheck($event,attribute.ATTRIBUTE_DATAFORMAT,attribute)">

                                    <textarea ckedit="commonvaluesubdata.STRING_VALUE" rows="3" columns="3" class="form-control"
                                              ng-maxlength="attribute.attributePattern"
                                              id="textBoxValue{{attribute.ATTRIBUTE_ID}}" name="textBoxValue{{attribute.ATTRIBUTE_ID}}"
                                              ng-if="attribute.ATTRIBUTE_DATATYPE.contains('Tex') && attribute.ATTRIBUTE_ID!==1"
                                              ng-blur="datatypecheck($event,attribute.ATTRIBUTE_DATAFORMAT,attribute)"></textarea>
                                    <span class="error" ng-show="productgridform.textBoxValue{{attribute.ATTRIBUTE_ID}}.$error.maxlength">
                                        Value is too long. Please correct it.
                                    </span>
                                </div>
                                <div ng-if="attribute.ATTRIBUTE_TYPE===4 && !attribute.USE_PICKLIST && attribute.ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && attribute.ATTRIBUTE_DATATYPE!=='Hyperlink' && attribute.ATTRIBUTE_NAME!=='Supplier' &&  !attribute.ATTRIBUTE_DATATYPE.contains('Date')">
                                    <input type="text" name="textBoxValue{{attribute.ATTRIBUTE_ID}}" ng-model="commonvaluesubdata.STRING_VALUE" ng-pattern="attribute.attributePattern" id="textBoxValue{{attribute.ATTRIBUTE_ID}}" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46'>
                                    <span ng-show="productgridform.textBoxValue{{attribute.ATTRIBUTE_ID}}.$invalid && productgridform.textBoxValue{{attribute.ATTRIBUTE_ID}}.$error.pattern" class="text-danger">Enter valid format ({{attribute.uimask}}).</span>
                                </div>
                                <div ng-if="attribute.ATTRIBUTE_TYPE===3 && attribute.ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && attribute.ATTRIBUTE_DATATYPE!=='Hyperlink' && !attribute.ATTRIBUTE_DATATYPE.contains('Date') && !attribute.USE_PICKLIST">
                                    @*<div ng-if="commonvaluesubdata.STRING_VALUE!==''">
        <img ng-src='..\\Content\\ProdImages{{commonvaluesubdata.STRING_VALUE}}' alt="{{commonvaluesubdata.STRING_VALUE}}" style="max-width: 55%; max-height: 195px;" />
    </div>*@
                                    <div ng-if="commonvaluesubdata.IMAGE_CAPTION!==''">
                                        <img id="textBox1{{$index}}" name="textBox" ng-src='/Content/ProductImages/{{getCustomerCompanyName}}{{commonvaluesubdata.IMAGE_CAPTION}}' alt="{{commonvaluesubdata.IMAGE_CAPTION}}" title="/Content/ProductImages/{{getCustomerCompanyName}}{{commonvaluesubdata.Subproduct}}" style="max-width: 100%; max-height: 80px; word-break: break-all;" />

                                    </div>
                                    <button id="textBox{{$index}}" @*ng-disabled="!userImageandAttachments"*@ title="Common value Update" type="button" class="btn btn-primary" style="width:25%;margin-left: 0px;margin-top: 10px;margin-bottom:10px" ng-click='OpenPopupWindow({"value":"CommonSub"})'><i class="fa fa-paperclip"></i></button>
                                    <button class="btn btn-primary btn-xs" type="button" ng-disabled="(commonvaluesubdata.IMAGE_CAPTION =='' || commonvaluesubdata.IMAGE_CAPTION ==undefined)" ng-click='RemoveImage()' title="{{clearCommonvalueImage}}"><i class="fa fa-close"></i></button>
                                    <br />
                                    <span class="bold" style="margin-left: -58px;">Caption</span>  <input type="text" ng-model="commonvaluesubdata.IMAGE_CAPTION_BOX" id="textBoximg{{$index}}">
                                    <input name="files" id="{{attribute}}" type="file" kendo-upload k-multiple="false"
                                           k-async="{ saveUrl: '/Category/SaveImage', removeUrl: '/Category/RemoveImage', autoUpload: true }"
                                           k-select="onCommonValueSubproductSelect" ng-if="false" />
                                    <br />

                                    @*Caption  <input type="text" ng-model="commonvaluesubdata.IMAGE_CAPTION" id="textBoximg{{attribute.ATTRIBUTE_ID}}">*@

                                </div>

                                <div ng-if="attribute.ATTRIBUTE_DATATYPE==='Hyperlink(0)' || attribute.ATTRIBUTE_DATATYPE=='Hyperlink' && attribute.ATTRIBUTE_NAME!=='Supplier' && !attribute.USE_PICKLIST" class="col-sm-3">
                                    <input type="text" ng-model="commonvaluesubdata.STRING_VALUE" min="0" step="any" focus-me="focusInput" ng-blur="TextBoxChanged($event,this,attribute)" id='textBoxValuenumber{{attribute}}'>

                                </div>
                                <div ng-if="attribute.ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && attribute.ATTRIBUTE_DATATYPE!=='Hyperlink' && attribute.ATTRIBUTE_NAME!=='Supplier' && attribute.ATTRIBUTE_DATATYPE.contains('Date') &&
                     attribute.ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4}\\s\\d{2}(\\-|\\:)\\d\\d(\\-|\\:)\\d{2})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)(?=.{11}(?:0[0-9]|1[0-9]|2[03]))(?=.{14}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{17}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))' ||
                      attribute.ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4}\\s\\d{2}(\\-|\\:)\\d\\d(\\-|\\:)\\d{2}\\s\\w{2})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)(?=.{11}(?:0[1-9]|1[0-2]))(?=.{14}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{17}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{20}(?:[A|P][M]))' && !attribute.USE_PICKLIST">
                                    <input kendo-date-time-picker id='datetimeCommonUpdate{{attribute.ATTRIBUTE_ID}}' k-format="'MM/dd/yyyy hh:mm tt'" ng-model="commonvaluesubdata.STRING_VALUE" k-interval="10" ng-blur="datetimecheck($event,attribute)" onkeydown="return true;" k-on-change="onDateSelected(commonvaluesubdata.STRING_VALUE,attribute)" />

                                </div>
                                <div ng-if="attribute.ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && attribute.ATTRIBUTE_DATATYPE!=='Hyperlink'&& attribute.ATTRIBUTE_NAME!=='Supplier' && attribute.ATTRIBUTE_DATATYPE.contains('Date') &&
                     attribute.ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4})(?=.{3}(?:0[1-9]|[12]\\d|3[01]))(?=.{0}(?:0[1-9]|1[0-2]))(?!.{0}(?:0[2469]|11)-31)(?!.{0}02-30)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)...[13579])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)..[13579][048])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)..[02468][26])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.).[13579]00)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)[13579][048]00)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)[02468][26]00)' && !attribute.USE_PICKLIST">
                                    <input kendo-date-picker id='datetime{{attribute.ATTRIBUTE_ID}}' k-format="'MM/dd/yyyy'" name="monthdate" ng-model="commonvaluesubdata.STRING_VALUE" ng-blur="datecheck($event,attribute)" onkeydown="return false;" />

                                </div>
                                <div ng-if="attribute.ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && attribute.ATTRIBUTE_DATATYPE!=='Hyperlink'&& attribute.ATTRIBUTE_NAME!=='Supplier' && attribute.ATTRIBUTE_DATATYPE.contains('Date') &&
                     attribute.ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(-|/|.)\\d\\d(-|/|.)\\d{4})(?=.{0}(?:0[1-9]|[12]d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(-|/|.)02(-|/|.)...[13579])(?!29(-|/|.)02(-|/|.)..[13579][048])(?!29(-|/|.)02(-|/|.)..[02468][26])(?!29(-|/|.)02(-|/|.).[13579]00)(?!29(-|/|.)02(-|/|.)[13579][048]00)(?!29(-|/|.)02(-|/|.)[02468][26]00)' ||
                     attribute.ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)' ||
                     attribute.ATTRIBUTE_DATAFORMAT.contains('System') && !attribute.USE_PICKLIST">
                                    <input kendo-date-picker id='datetime{{attribute.ATTRIBUTE_ID}}' k-format="'dd/MM/yyyy'" name="datemonth" ng-model="commonvaluesubdata.STRING_VALUE" ng-blur="datecheck($event,attribute)" onkeydown="return false;" />

                                </div>

                                <div ng-if="attribute.ATTRIBUTE_NAME==='Supplier'" ng-controller="CommonvalueSupplierController">
                                    <div id="dropDownCommonvalueSupplierGrid">
                                    </div>
                                </div>
                                <div ng-if="attribute.ATTRIBUTE_TYPE!==3 && attribute.USE_PICKLIST">

                                    <select kendo-drop-down-list k-option-label="'--Select Value--'" k-data-text-field="'ListItem'" k-data-value-field="'ListItem'"
                                            style="width:12.4em;" k-data-source="CommonValuePicklistDatasource" ng-model="commonvaluesubdata.STRING_VALUE" />
                                </div>
                            </div>

                        </td>
                    </tr>
            <tr style="text-align: center;">
                <td>
                    <br /><button class="btn btn-primary btn-xs" type="button" ng-disabled="!productgridform.$valid" ng-click="SaveCommonValuesubproduct()" title="{{saveSubProductCommonValue}}"><i class="fa fa-save"></i></button>
                    <button class="btn btn-primary btn-xs margin-left-5" type="button" ng-click="OpenSubProductDefaultTab()" title="{{cancelSubProductCommonValue}}"><i class="fa fa-close"></i></button>
                </td>
            </tr>
                </table>

            </div>
    