﻿<style>
    ul.k-group > li.k-item
    {
        width: 0px !important;
    }
    .cke_textarea_inline.cke_editable.cke_editable_inline.cke_contents_ltr.cke_show_borders {
        width: 11.6em;
    }
</style>

<form name="edit_mycommonForm" class="col-sm-12 padding-0">
    <div class="panel-heading1 margin-bottom-20" ng-show="commonitemupdater">Common value update</div> 
    <div ng-show="usercommon" ng-controller="CommonValueUpdateController" ng-cloak>
        <table class="table-responsive" width="25%" cellpadding="5" cellspacing="5" style="border:0px solid white; min-height: 100px;float:left">
            <tr>
                <td rowspan="3">
                    <div kendo-tree-view="tree" style="width:95%;max-height: 626px; overflow:auto;" k-data-source="commonvalueupdatetreeData" id="treecommonvalueupdate"
                         k-load-on-demand="false" data-drag-and-drop="false" k-on-change="selectedItem = dataItem" k-options="commonvalueupdatetreeOptions">
                        <span k-template>
                            <a class='k-item' id="{{dataItem.id}}">{{dataItem.FAMILY_NAME}}</a>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <div ng-if="Family.FAMILY_ID!=='' && Family.FAMILY_ID!=='0'" id="subproductattribute">
                        <select kendo-drop-down-list
                                k-option-label="'-Select Attribute-'"
                                k-data-source="productAttrDatasource"
                                k-data-text-field="'ATTRIBUTE_NAME'"
                                k-data-value-field="'ATTRIBUTE_ID'"
                                ng-model="commonvaluedata.ATTRIBUTE_ID"
                                k-on-change="commonvalueattrChange(kendoEvent)" style="width: 180px;"></select>@*ng-model="getAttributeId"*@
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <br />
                    <div>
                        <div ng-if="attribute.ATTRIBUTE_TYPE!==4 && attribute.ATTRIBUTE_TYPE!==3 && !attribute.USE_PICKLIST && attribute.ATTRIBUTE_NAME!=='Supplier'">
                            <input  type="text" ng-model="commonvaluedata.STRING_VALUE" ng-pattern="attribute.attributePattern" ng-if="attribute.ATTRIBUTE_DATATYPE.contains('Num')" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46'
                                    id="textBoxValue{{$index}}" name="textBoxValue{{$index}}">
                            <span ng-show="edit_mycommonForm.textBoxValue{{$index}}.$invalid && edit_mycommonForm.textBoxValue{{$index}}.$error.pattern" class="text-danger">Enter valid format ({{attribute.uimask}}).</span>

                            <input type="text"
                                   ng-model="commonvaluedata.STRING_VALUE"
                                   ng-maxlength="attribute.attributePattern" id="textBoxValue{{$index}}"
                                   name="textBoxValue{{$index}}"
                                   ng-if="attribute.ATTRIBUTE_DATATYPE.contains('Tex') && attribute.ATTRIBUTE_ID===1"
                                   ng-blur="datatypecheck($event,attribute.ATTRIBUTE_DATAFORMAT,attribute)">

                            <textarea ckedit="commonvaluedata.STRING_VALUE" rows="3" columns="3" class="form-control"
                                      ng-maxlength="attribute.attributePattern"
                                      id="textBoxValue{{$index}}" name="textBoxValue{{$index}}"
                                      ng-if="attribute.ATTRIBUTE_DATATYPE.contains('Tex') && attribute.ATTRIBUTE_ID!==1"
                                      ng-blur="datatypecheck($event,attribute.ATTRIBUTE_DATAFORMAT,attribute)"></textarea>
                            <span class="error" ng-show="edit_mycommonForm.textBoxValue{{$index}}.$error.maxlength">
                                Value is too long. Please correct it.
                            </span>
                        </div>
                        <div ng-if="attribute.ATTRIBUTE_TYPE===4 && !attribute.USE_PICKLIST && attribute.ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && attribute.ATTRIBUTE_DATATYPE!=='Hyperlink' && attribute.ATTRIBUTE_NAME!=='Supplier' &&  !attribute.ATTRIBUTE_DATATYPE.contains('Date')">
                            <input type="text" name="textBoxValue{{$index}}" ng-model="commonvaluedata.STRING_VALUE" ng-pattern="attribute.attributePattern" id="textBoxValue{{$index}}" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46'>
                            <span ng-show="edit_mycommonForm.textBoxValue{{$index}}.$invalid && edit_mycommonForm.textBoxValue{{$index}}.$error.pattern" class="text-danger">Enter valid format ({{attribute.uimask}}).</span>
                        </div>
                        <div ng-if="attribute.ATTRIBUTE_TYPE===3 && attribute.ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && attribute.ATTRIBUTE_DATATYPE!=='Hyperlink' && !attribute.ATTRIBUTE_DATATYPE.contains('Date') && !attribute.USE_PICKLIST">
                            
                            @*<div ng-if="commonvaluedata.STRING_VALUE!==''">
                                <img ng-src='..\\Content\\ProdImages{{commonvaluedata.STRING_VALUE}}' alt="{{commonvaluedata.STRING_VALUE}}" style="max-width: 55%; max-height: 195px;" />
                            </div>*@
                            <div ng-if="commonvaluedata.IMAGE_CAPTION!==''">
                                <img id="textBox{{$index}}" name="textBox"  ng-src='/Content/ProductImages/{{getCustomerCompanyName}}{{commonvaluedata.IMAGE_CAPTION}}' alt="{{commonvaluedata.IMAGE_CAPTION}}" title="/Content/ProductImages/{{getCustomerCompanyName}}{{commonvaluedata.Image}}" style="max-width: 100%; max-height: 80px; word-break: break-all;" />

                            </div>
                            
                            <input name="files" id="{{attribute}}" type="file" kendo-upload k-multiple="false"
                                   k-async="{ saveUrl: '/Category/SaveImage', removeUrl: '/Category/RemoveImage', autoUpload: true }"
                                   k-select="onCommonValueSelect" ng-if="false"/>
                            
                            <button id="textBox{{$index}}" ng-disabled="!userImageandAttachments" title="Common value Update" type="button" class="btn btn-primary" style="width:25%;margin-left: 0px;margin-top: 10px;margin-bottom:10px" ng-click='OpenPopupWindow({"value":"CommonMain"})'><i class="fa fa-paperclip"></i></button>
                            @*<div class="col-sm-7 margin-top-20 " style="text-align: right;">*@<button class="btn btn-primary btn-xs" ng-disabled="(commonvaluedata.IMAGE_CAPTION =='' || commonvaluedata.IMAGE_CAPTION ==undefined)" type="button" ng-click='RemoveImage()' title="{{clearCommonvalueImage}}"><i class="fa fa-ban"></i></button>@*</div>*@
                            <br />
                            <span class="bold" style="margin-left: -58px;">Caption</span>  <input type="text" ng-model="commonvaluedata.IMAGE_CAPTION_BOX" id="textBoximg{{$index}}">
                            
                         </div>

                        <div ng-if="attribute.ATTRIBUTE_DATATYPE==='Hyperlink(0)' || attribute.ATTRIBUTE_DATATYPE=='Hyperlink' && attribute.ATTRIBUTE_NAME!=='Supplier' && !attribute.USE_PICKLIST" class="col-sm-3">
                            <input type="text" ng-model="commonvaluedata.STRING_VALUE" min="0" step="any" focus-me="focusInput" ng-blur="TextBoxChanged($event,this,attribute)" id='textBoxValuenumber{{attribute}}'>

                        </div>
                        <div ng-if="attribute.ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && attribute.ATTRIBUTE_DATATYPE!=='Hyperlink' && attribute.ATTRIBUTE_NAME!=='Supplier' && attribute.ATTRIBUTE_DATATYPE.contains('Date') &&
                     attribute.ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4}\\s\\d{2}(\\-|\\:)\\d\\d(\\-|\\:)\\d{2})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)(?=.{11}(?:0[0-9]|1[0-9]|2[03]))(?=.{14}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{17}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))' ||
                      attribute.ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4}\\s\\d{2}(\\-|\\:)\\d\\d(\\-|\\:)\\d{2}\\s\\w{2})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)(?=.{11}(?:0[1-9]|1[0-2]))(?=.{14}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{17}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{20}(?:[A|P][M]))' && !attribute.USE_PICKLIST">
                            <input style="width: 180px;" kendo-date-time-picker id='datetimeCommonUpdate{{attribute.ATTRIBUTE_ID}}' k-format="'MM/dd/yyyy hh:mm tt'" ng-model="commonvaluedata.STRING_VALUE" k-interval="10" ng-blur="datetimecheck($event,attribute)" onkeydown="return true;" k-on-change="onDateSelected(commonvaluedata.STRING_VALUE,attribute)" />
                             
                        </div>
                        <div ng-if="attribute.ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && attribute.ATTRIBUTE_DATATYPE!=='Hyperlink'&& attribute.ATTRIBUTE_NAME!=='Supplier' && attribute.ATTRIBUTE_DATATYPE.contains('Date') &&
                     attribute.ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4})(?=.{3}(?:0[1-9]|[12]\\d|3[01]))(?=.{0}(?:0[1-9]|1[0-2]))(?!.{0}(?:0[2469]|11)-31)(?!.{0}02-30)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)...[13579])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)..[13579][048])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)..[02468][26])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.).[13579]00)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)[13579][048]00)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)[02468][26]00)' && !attribute.USE_PICKLIST">
                            <input style="width: 180px;" kendo-date-picker id='datetime{{attribute.ATTRIBUTE_ID}}' k-format="'MM/dd/yyyy'" name="monthdate" ng-model="commonvaluedata.STRING_VALUE" ng-blur="datecheck($event,attribute)" onkeydown="return false;" />

                        </div>
                        <div ng-if="attribute.ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && attribute.ATTRIBUTE_DATATYPE!=='Hyperlink'&& attribute.ATTRIBUTE_NAME!=='Supplier' && attribute.ATTRIBUTE_DATATYPE.contains('Date') &&
                     attribute.ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(-|/|.)\\d\\d(-|/|.)\\d{4})(?=.{0}(?:0[1-9]|[12]d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(-|/|.)02(-|/|.)...[13579])(?!29(-|/|.)02(-|/|.)..[13579][048])(?!29(-|/|.)02(-|/|.)..[02468][26])(?!29(-|/|.)02(-|/|.).[13579]00)(?!29(-|/|.)02(-|/|.)[13579][048]00)(?!29(-|/|.)02(-|/|.)[02468][26]00)' ||
                     attribute.ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)' ||
                     attribute.ATTRIBUTE_DATAFORMAT.contains('System') && !attribute.USE_PICKLIST">
                            <input style="width: 180px;" kendo-date-picker id='datetime{{attribute.ATTRIBUTE_ID}}' k-format="'dd/MM/yyyy'" name="datemonth" ng-model="commonvaluedata.STRING_VALUE" ng-blur="datecheck($event,attribute)" onkeydown="return false;" />

                        </div>

                        <div ng-if="attribute.ATTRIBUTE_NAME==='Supplier'" ng-controller="CommonvalueSupplierController">
                            <div id="dropDownCommonvalueSupplierGrid">
                            </div>
                        </div>
                        <div ng-if="attribute.ATTRIBUTE_TYPE!==3 && attribute.USE_PICKLIST">

                            <select kendo-drop-down-list k-option-label="'--Select Value--'" k-data-text-field="'ListItem'" k-data-value-field="'ListItem'"
                                    style="width: 180px;" k-data-source="CommonValuePicklistDatasource" ng-model="commonvaluedata.STRING_VALUE" />
                        </div>
                    </div>

                </td>
            </tr>
            <tr style="text-align: center;">
                <td>
                    <br /><button class="btn btn-primary btn-xs" type="button" ng-disabled="!edit_mycommonForm.$valid" ng-click="SaveCommonValue()" title="{{saveProductCommonValue}}"><i class="fa fa-save"></i></button>
                    <button class="btn btn-primary btn-xs margin-left-5" type="button" ng-click="CloseCommonValuTab()" title="{{cancelProductCommonValue}}"><i class="fa fa-close"></i></button>
                </td>
            </tr>
        </table>

    </div>
</form>