﻿@{
    ViewBag.Title = "Family";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}

@section styles{
    <style>
        .k-grid table tbody tr {
            cursor: pointer;
        }

        .k-header .k-link {
            text-align: center;
        }
    </style>

}
<script type="text/javascript" src='@Url.Content("~/Views/ImageManagement/ImageManagementPopup.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Views/App/Family/FamilySpecController.js")'></script>
<div class="col-sm-12" ng-cloak>
    <form name="myForm">
        <div style="width: 68%; float:right">
            <div class="row">
                <div class="col-sm-4">
                    <label k-template>
                        Family Name 
                        <input type="text" name="catalogname" ng-model="$scope.Family.FAMILY_ID"
                               required ng-trim="false">
                    </label>
                    <div role="alert">
                        <span class="error" ng-show="myForm.input.$error.required">
                            Required!
                        </span>
                        @*<span class="error" ng-show="myForm.input.$error.pattern">
                                Single word only!
                            </span>*@
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>
                        Category 
                        <input type="text" name="catalogversion" ng-model="SelectedDataItem.VERSION" required ng-trim="false">
                    </label>
                    <div role="alert">
                        <span class="error" ng-show="myForm.input.$error.required">
                            Required!
                        </span>
                        @*<span class="error" ng-show="myForm.input.$error.pattern">
                                Single word only!
                            </span>*@
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>
                        Desc 
                        <input type="text" name="catalogdesc" ng-model="SelectedDataItem.DESCRIPTION" ng-trim="false">
                    </label>
                    <div role="alert">
                        <span class="error" ng-show="myForm.input.$error.required">
                            Required!
                        </span>
                        @*<span class="error" ng-show="myForm.input.$error.pattern">
                                Single word only!
                            </span>*@
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
              
                @*<div id="tabstrip">
                    <ul>
                        <li class="k-state-active">
                            Product
                        </li>
                        <li>
                            Family Specs
                        </li>
                        <li>
                            Images & -Attachments
                        </li>
                        <li>
                            Related Family
                        </li>
                        <li>
                            Multiple Tables
                        </li>
                    </ul>
                    <div>
                        <div>
                            <div kendo-grid k-options="catProdListGridOptions"></div>
                        </div>
                        <span>&nbsp;</span>
                    </div>
                    <div>
                        <div kendo-grid k-options="catListGridOptions"></div>
                        <span>&nbsp;</span>
                    </div>
                    <div>
                        <div>
                            <div>
                                <table width="900px">
                                    <tr>
                                        <td>Attribute</td>
                                        <td>
                                            <select>
                                                <option value="1" ng-model="SelectedDataItem.CATEGORY_NAME">Family Image</option>
                                            </select>
                                        </td>
                                        <td>Name</td>
                                        <td><input type="text" /></td>
                                        <td><span><img src="~/Images/Folder-icon.png" /><input type="button" value="Select Image / Attachment" /></span></td>
                                        <td><input type="button" value="Clear Attachment" /></td>
                                    </tr>
                                </table>
                            </div>
                            <div>
                                Image Path
                                <img src="" />
                            </div>
                        </div>
                        <span>&nbsp;</span>
                    </div>
                    <div>
                        <div>
                            <h2>Related Family</h2>
                        </div>
                        <span>&nbsp;</span>
                    </div>
                    <div>
                        <div>
                            <h2>Multiple Tables</h2>
                        </div>
                        <span>&nbsp;</span>
                    </div>

                </div>*@
                @*<div class="row">
                        <div kendo-grid k-options="catListGridOptions"></div>
                    </div>*@
            </div>
        </div>
    </form>
    @section scripts{
        <script>
            $(document).ready(function () {
                $("#tabstrip").kendoTabStrip({
                    animation: {
                        open: {
                            effects: "fadeIn"
                        }
                    }
                });
            });
        </script>
    }


</div>