﻿
<style>
    a, button {
        font: 14px 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        display: block;
        color: #333;
        margin-bottom: 10px;
    }

        /* The following 'important' styles are just here to show off trapFocus */
        button.ngdialog-button {
            border: solid transparent 1px !important;
        }

            button.ngdialog-button:focus {
                border: solid black 1px !important;
            }

    .ngdialog h2:focus {
        outline: none;
    }

    .blue {
        color: #0072bb;
    }

      .familypreviewtr > tbody > tr > td {
    display: block !important;
}
</style>
<style>
    .selected {
        background-color: black;
        color: white;
        font-weight: bold;
    }
</style>


<div>
    <form name="familypreview">
        <div>
            <br />
            <div ng-controller="familyController">
                <span ng-bind="PreviewText1"></span>
                <span ng-bind-html="PreviewText"></span>
                <div id="dynamictableFmly" style="max-width: 100%; overflow: auto;font-size:10px;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif !important;">
                    <table width="100%">
                        <tr>
                            <td>
                                <div id="print_tab">
                                    <span ng-bind-html="PreviewText"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><button class="btn btn-primary btn-xs" type="button"  ng-if="userPrint"ng-click='Print()'>Print</button></td>
                            <td><button class="btn btn-primary btn-xs" type="button" ng-click='showFamily()'>Back</button></td>

                        </tr>
                    </table>
                </div>
            </div>
            <br />
            <br />
        </div>
    </form>

</div>
