﻿
<div>
    <form name="prodconfiguratorform">
       
        <div>

        </div>
        <br />
        <div class="row" style="max-width: 98%;padding-left: 10px;">
            <button class="btn btn-primary btn-xs" ng-click="Create_prodconfig()" title="Create new config products">Create</button>
            <button class="btn btn-primary btn-xs" ng-click="Remove_prodconfig()" title="Remove available products">Remove</button>
            <button class="btn btn-primary btn-xs" id="btnsaveclose" ng-click="Save_prodconfig()" title="Save config products" >Save & Close</button>
        </div>


        <div class="row" style="max-width: 98%;padding-left: 10px;">
            <div id=" dynamictable_newProdconfig" style="margin-bottom: 10px;">
                <table ng-table="tblprdconfigTable" show-filter="true" style="max-width: 100%;" class="table table-condensed table-bordered table-striped" width="100%">
                    <thead class="k-grid-header k-grid-header-wrap">
                        <tr>
                            
                            <th ng-repeat="column in columnsForProdconfigTable" class=" k-header" style="min-width: 69px;">
                                <a href="" class="k-link">{{column.title}} </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="k-grid-content">
                        <tr ng-repeat="Data in ProdconfigData" class="table table-condensed table-bordered table-striped">
                            <td>
                                <a href='javascript:void(0);' ng-click='UpdateProductConfig(Data["PROD_ID"])'><div title='Edit' class='glyphicon glyphicon-edit blue'>&nbsp;</div></a>

                            </td>
                            <td ng-repeat="column in columnsForProdconfigTable">
                                <a ng-if="column.title!==''" ng-class="{'cg-normal': column.EditEnabled == false}" style="text-align: left;width: 100px">
                                    {{Data[column.field]}}

                                </a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>

            <div id=" dynamictable_Prod" style="max-width: 100%;">

                <table ng-table="tblReferenceTable" show-filter="true" style="max-width: 100%;" class="table table-condensed table-bordered table-striped" width="100%">
                    <thead class="k-grid-header k-grid-header-wrap">
                        <tr>
                            <th>
                                <a href="" class="k-link"></a>
                            </th>
                            <th ng-repeat="column in columnsForReferenceTable" class=" k-header" style="min-width: 69px;">
                                <a href="" class="k-link">{{column.title}} </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="k-grid-content">
                        <tr ng-repeat="Data in referenceTableData" class="table table-condensed table-bordered table-striped">
                            <td><input type="checkbox" id="check_Prd_Config" ng-click="prodconfigselectedId(Data.product_id,$event)" ng-model="valueofcheckboxconfig" /></td>

                            <td ng-repeat="column in columnsForReferenceTable">
                                <a ng-if="column.title!==''" ng-class="{'cg-normal': column.EditEnabled == false}" style="text-align: left;width: 100px">
                                    @* {{Data[column.field]}}*@
                                    <span data-ng-bind-html="trustAsHtml(Data[column.field])"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
         
        </div>
        <br />
        <br />
    </form>
</div>
