﻿
<div >
    <form name="prodconfiguratorTreeform">
          
        <div class="row">
            <div id="config_treedata" style="width: 100%;">
                <div id="configtreeViewDiv">
                    <div class="col-sm-11">
                        <kendo-grid options="productconfiguratorGridOptions" k-on-change="handleChanges(dataItem)" id="ConfiguratorGrid"></kendo-grid>
                        <script type="text/x-kendo-template" id="prodconfigtemplates">
                            <div kendo-grid k-options="detailGridproductconfiguratorOptions(dataItem)"></div>
                        </script>
                    </div>
                  </div>
            </div>
        </div>
        <br />
        <br />
    </form>

</div>
