﻿@section styles{
    <style>
        .k-grid table tbody tr {
            cursor: pointer;
        }
    </style>
    <style>
        #treeview-left,
        #treeview-right {
            overflow: visible;
        }

        #treeview li.k-item {
            float: left;
        }

        table#samplegridss {
            border: none;
        }

        table thead tr th, #dynamictablesub table thead tr th {
            color: #003DA5 !important;
            text-align: center !important;
            height: 25px;
            text-transform: capitalize;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
            text-rendering: geometricPrecision;
            letter-spacing: 0.035em;
        }

            table thead tr th a:hover {
                color: #B3D57D;
            }

        a:hover {
            text-decoration: none !important;
        }

        .k-window-titlebar.k-header {
            font-weight: bold !important;
            text-transform: capitalize;
        }

        .k-button {
            color: #fff;
            background-color: #337ab7;
            border-color: #2e6da4;
        }

        #custom-menusubEdit {
            z-index: 1000;
            position: absolute;
            border: solid 2px ButtonHighlight;
            /*background-color: #13688c;*/
            padding: 5px 0;
            display: none;
            cursor: pointer;
        }

        .selected {
            background-color: lightgrey !important;
            color: white;
        }

        div#productgridtabstrip-2 {
            overflow: hidden !important;
        }

        .subproditemSelect {
        }

        #samplegridss thead th a {
            min-width: 100px !important;
            max-width: 200px !important;
            resize: horizontal !important;
            overflow: auto !important;
        }
    </style>


}
<style>
    .menu {
        width: 150px;
        box-shadow: 3px 3px 5px #888888;
        border-style: solid;
        border-width: 1px;
        border-color: grey;
        border-radius: 2px;
        background: #efefef;
        color: #000;
        position: fixed;
        display: none;
        z-index: 9999;
    }

        .menu > .dropdown > ul > li > a {
            color: #000;
        }

    .menu-item {
        height: 20px;
    }

        .menu-item:hover {
            background-color: #6CB5FF;
            cursor: pointer;
        }
</style>
<link href="~/Design/Fixed-Header/FixedColumn.css" rel="stylesheet" />
<div class="menu subProductsContext">
    <div class="dropdown open">
        <ul class="dropdown-menu dropdown-menu-bg-color menu-hover multi-level">
            <li class="dropdown" ng-click="CreateSubProduct(MenuClick)">
                <a>New</a>

            </li>
            <li class="dropdown" ng-click="subproductscopy(MenuClick)">
                <a>Copy</a>

            </li>
            <li class="dropdown" ng-disabled="!EditMode" ng-if="cutcopyFlag!=='empty'" ng-click="subproductspaste()">
                <a>Paste</a>

            </li>
            <li class="dropdown" ng-click="subproductscut(MenuClick)">
                <a>Cut</a>
            </li>
            <li class="dropdown" ng-click="DeleteSubProductItem('deleteDetach')">
                <a>Detach</a>

            </li>
        </ul>
    </div>
</div>
<div id="subproductsgrid" ng-show="subproductsgrid">
    <div class="height-30 margin-top-10">
        <input type="checkbox" id="checkShowSubProducts" ng-click="showAllClick()" ng-model="valueofShowSubProducts" checklist-value="subprod" /> &nbsp;Show All
    </div>
    <br />

    <div kendo-grid id="subproductsmaingrid" k-options="subproducts" k-on-change="itemClick(dataItem,kendoEvent)" style="width:100%;">
    </div>

    @*<div id="subproductsmaingrid" ></div>*@
    <div id="subproductdiv">
        <br />
        <div id="dynamictablesub" ng-mousemove="subsetWidth()" style="max-width: 100%;font-size:10px;">

            @*Pagination Top*@

            <div class="row product-pagination-top" id="subproductpaging1" ng-show="columnsSubAtt.length != 0">
                <div class="pull-left" style="margin-left: 20px;">
                    <button class="gridpaging" type="button" ng-click="callProductGridPagingSP('1')"><span class="k-icon k-i-seek-w"></span></button>
                    <button class="gridpaging" type="button" ng-click="callProductGridPagingSP('PREV')"><span class="k-icon k-i-arrow-w"></span></button>
                    <select kendo-dropdownlist class="selectcss" id="cboProdPageCountSPup" style="width: 60px"
                            k-data-source="ProdPageCountSP"
                            ng-model="ProdCurrentPageSP"
                            k-on-change="callProductGridPagingSP(ProdCurrentPageSP)"></select>
                    <button class="gridpaging" type="button" ng-click="callProductGridPagingSP('NEXT')"><span class="k-icon k-i-arrow-e">Go to the next page</span></button>
                    <button class="gridpaging" type="button" ng-click="callProductGridPagingSP(totalProdPageCountSP)"><span class="k-icon k-i-seek-e">Go to the last page</span></button>
                </div>
                <div class="pull-right" style="margin-right: 20px;font-size: 15px;text-transform: none !important;">
                    Items
                    <select kendo-drop-down-list class="selectcss" id="gridpagingSubprodItems1" style="width: 60px"
                            ng-model="gridCurrentPageSP"
                            k-on-change="callProductGridPagePerSP(gridCurrentPageSP)">
                        <option value="5">5</option>
                        <option>10</option>
                        <option>25</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            @*Pagination Bottom*@

            <div id="divsubProductGrid">

                <table @*ng-table="tblDashBoardss"*@ id="{{inverted}}samplegrid" class="table table-condensed table-bordered table-striped" style="position: relative !important;overflow: hidden !important;@*width: 950px !important;*@border-collapse: collapse !important;margin-bottom: 40px;border-left: 1px solid #ddd;" watch="SubprodData" width="90%">
                    <thead style="margin-left: 0px;" @*class="k-grid-header k-grid-header-wrap"*@>
                        <tr>
                            <th class="k-header" ng-repeat="column in columnsSubAtt" ng-if="column.Caption==='CATALOG_ID' " style="width:20px !important;max-width:20px !important;min-width:20px !important;text-align: center;">

                                <input type="checkbox" id="checkall" ng-click="CheckAllsubproducts($event,prodData)" ng-model="valueofcheckall" />
                            </th>


                            <th class="k-header" ng-repeat="column in columnsSubAtt" ng-if="column.Caption==='CATALOG_ID' " style="width:45px !important;max-width:45px !important;min-width:45px !important;">
                                <a id="subresize" href="" class="k-link"> Actions</a>
                            </th>

                            @*<th class="k-header" ng-if="columnsSubAtt.length != 0" ng-show='userRoleModifyProductTable'></th>
                                <th class="k-header" ng-if="columnsSubAtt.length != 0"></th>
                                <th class="k-header" ng-if="columnsSubAtt.length != 0" ng-show='userRoleDeleteProductTable'></th>
                                <th class="k-header" ng-if="columnsSubAtt.length != 0" ng-show='userRoleDeleteProductTable'></th>*@
                            <th class="k-header" ng-repeat="column in columnsSubAtt" ng-show="DisplayIdcolumns===true" ng-if="column.Caption==='CATALOG_ID' " style="width:70px !important;max-width:70px !important;min-width:70px !important;">

                                <a id="subresize" href="" class="k-link" ng-if="column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT' " ng-click="fnSort(column)">{{column.Caption.split('__')[0]}} </a>

                            </th>
                            <th class="k-header" ng-repeat="column in columnsSubAtt" ng-show="DisplayIdcolumns===true" ng-if="column.Caption==='CATEGORY_ID' " style="width:70px !important;max-width:70px !important;min-width:70px !important;">

                                <a id="subresize" href="" class="k-link" ng-if="column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT' " ng-click="fnSort(column)">{{column.Caption.split('__')[0]}} </a>

                            </th>
                            <th class="k-header" ng-repeat="column in columnsSubAtt" ng-show="DisplayIdcolumns===true" ng-if="column.Caption==='FAMILY_ID' " style="width:70px !important;max-width:70px !important;min-width:70px !important;">

                                <a id="subresize" href="" class="k-link" ng-if="column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT' " ng-click="fnSort(column)">{{column.Caption.split('__')[0]}} </a>

                            </th>
                            <th class="k-header" ng-repeat="column in columnsSubAtt" ng-show="DisplayIdcolumns===true" ng-if="column.Caption==='SUBPRODUCT_ID' ">

                                <a id="subresize" href="" class="k-link" ng-if="column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT' " ng-click="fnSort(column)">{{column.Caption.split('__')[0]}} </a>

                            </th>
                            <th class="k-header" ng-repeat="column in columnsSubAtt" ng-if="column.Caption==='SORT' " style="width:40px !important ; max-width:40px !important; min-width:40px !important;">

                                <a id="subresize" href="" class="k-link" ng-if="column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT' " ng-click="fnSort(column)">{{column.Caption.split('__')[0]}} </a>

                            </th>
                            <th class="k-header" ng-repeat="column in columnsSubAtt" ng-show="EnableWorkflow===true" ng-if="column.Caption==='WORKFLOW STATUS' ">

                                <a id="subresize" href="" class="k-link" ng-if="column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT' " ng-click="fnSort(column)">{{column.Caption.split('__')[0]}} </a>

                            </th>
                            <th ng-mousemove="subsetWidth()" ng-mousedown="GetScrollId(column.Caption.split('__')[0])" ng-mouseup="ClearScrollId()" ng-repeat="column in columnsSubAtt" class="k-header" style="word-wrap: break-word ;overflow-wrap: break-word;width: 100px;" ng-if="column.Caption.split('__')[1] =='OBJ'">

                                <a ng-mousemove="subsetWidth()" ng-mousedown="GetScrollId(column.Caption.split('__')[0])" ng-mouseup="ClearScrollId()" id="subresize_{{column.Caption.split('__')[0]}}" href="" class="k-link" ng-if="column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT' && column.Caption.split('__')[3]!== '6'&& column.Caption.split('__')[5]=== 'true' && column.Caption.split('__')[0]==='ITEM#'">
                                    <span class="publish">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{{CatalogSubItemNumber}}
                                </a>

                                <a ng-mousemove="subsetWidth()" ng-mousedown="GetScrollId(column.Caption.split('__')[0])" ng-mouseup="ClearScrollId()" id="subresize_{{column.Caption.split('__')[0]}}" href="" class="k-link" ng-if="column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT' && column.Caption.split('__')[3]!== '6' && column.Caption.split('__')[5]=== 'true' && column.Caption.split('__')[0]!=='ITEM#'" ng-click="fnSort(column)">
                                    <spann class="publish">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</spann>{{column.Caption.split('__')[0]}}
                                </a>

                                <a ng-mousemove="subsetWidth()" ng-mousedown="GetScrollId(column.Caption.split('__')[0])" ng-mouseup="ClearScrollId()" id="subresize_{{column.Caption.split('__')[0]}}" href="" style="background-color:lightgreen;margin-left:-5px;border-radius: 8px;" class="k-link" ng-if="column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT' && column.Caption.split('__')[3]=== '6' && column.Caption.split('__')[5]=== 'true'" ng-click="fnSort(column)">
                                    <span class="publishkey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{{column.Caption.split('__')[0]}}
                                </a>

                                <a ng-mousemove="subsetWidth()" ng-mousedown="GetScrollId(column.Caption.split('__')[0])" ng-mouseup="ClearScrollId()" id="subresize_{{column.Caption.split('__')[0]}}" href="" class="k-link" ng-if="column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT' && column.Caption.split('__')[3]!== '6' && column.Caption.split('__')[5]=== 'false' && column.Caption.split('__')[0]==='ITEM#'" ng-click="fnSort(column)">
                                    {{CatalogSubItemNumber}}
                                </a>

                                <a ng-mousemove="subsetWidth()" ng-mousedown="GetScrollId(column.Caption.split('__')[0])" ng-mouseup="ClearScrollId()" id="subresize_{{column.Caption.split('__')[0]}}" href="" class="k-link" ng-if="column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT' && column.Caption.split('__')[3]!== '6' && column.Caption.split('__')[5]=== 'false' && column.Caption.split('__')[0]!=='ITEM#'" ng-click="fnSort(column)">
                                    {{column.Caption.split('__')[0]}}
                                </a>

                                <a href="" style="background-color:lightgreen;margin-left:-5px;border-radius: 8px;" class="k-link" ng-if="column.Caption!=='PUBLISH'&& column.Caption!=='PUBLISH2PRINT' && column.Caption.split('__')[3]=== '6' && column.Caption.split('__')[5]=== 'false'" ng-click="fnSort(column)"><spann class="unpublishkey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</spann>{{column.Caption.split('__')[0]}}</a>


                            </th>
                            <th ng-repeat="column in columnsSubAtt" class="k-header" style="word-wrap: break-word;overflow-wrap: break-word;width:30px !important;max-width:30px !important;min-width:30px !important;" ng-if="column.Caption==='PUBLISH2WEB' ||  column.Caption==='PUBLISH2PRINT' ||  column.Caption==='PUBLISH2PDF' ||  column.Caption==='PUBLISH2EXPORT' ||  column.Caption==='PUBLISH2PORTAL'">

                                <a id="resize1" href="" class="k-link" ng-if="column.Caption==='PUBLISH2WEB'" ng-click="fnSort(column)" style="overflow: inherit;">Web </a>

                                <a id="resize2" href="" class="k-link" ng-if="column.Caption==='PUBLISH2PRINT'" ng-click="fnSort(column)" style="overflow: inherit;">Print</a>

                                <a id="resize3" href="" class="k-link" ng-if="column.Caption==='PUBLISH2PDF'" ng-click="fnSort(column)" style="overflow: inherit;">PDF</a>

                                <a id="resize4" href="" class="k-link" ng-if="column.Caption==='PUBLISH2EXPORT'" ng-click="fnSort(column)" style="overflow: inherit;">Export</a>

                                <a id="resize5" href="" class="k-link" ng-if="column.Caption==='PUBLISH2PORTAL'" ng-click="fnSort(column)" style="overflow: inherit;">Portal</a>
                            </th>
                            @*<th ng-repeat="column in columnsSubAtt" class="k-header" style="word-wrap: break-word;overflow-wrap: break-word;" ng-if="column.Caption==='PUBLISH' || column.Caption==='PUBLISH2PRINT'">
                                    <a href="" class="k-link" ng-if="column.Caption==='PUBLISH'" ng-click="fnSort(column)">Web </a>

                                    <a href="" class="k-link" ng-if="column.Caption==='PUBLISH2PRINT'" ng-click="fnSort(column)">PDF</a>
                                </th>*@

                        </tr>
                    </thead>
                    <tbody style="margin-left: 0px;" @*class="k-grid-content"*@>

                        <tr ng-repeat="Data in SubprodData | limitTo:ProdCountPerPageSP track by Data.SUBPRODUCT_ID" show-filter="true" class="table table-condensed table-bordered table-striped" ng-class="{'selected':Data['SUBPRODUCT_ID'] == selectedRowValuesubproduct}" ng-click="setClickedRowsubproduct(Data['SUBPRODUCT_ID'])" ng-right-click="EmptyNavigatorSubRightClick1($event,Data['SUBPRODUCT_ID'],Data['FAMILY_ID'],Data['SORT'])" ng-mouseenter="hidesubmenu()">
                            <td style="width:22px !important;max-width:22px !important;min-width:20px !important;text-align: center;"><input type="checkbox" id="check" ng-click="selectedsubproductId(Data.SUBPRODUCT_ID,$event,Data.FAMILY_ID)" ng-model="valueofcheckbox" /></td>
                            <td style="width:45px !important; max-width:45px !important;min-width:45px !important;">
                                <a href='javascript:void(0);' ng-click='UpdateProductItemSubProduct(this)' ng-show='userRoleModifyFamily'><div title='Edit' class='glyphicon glyphicon-edit blue btn-xs-icon'></div></a>

                                <a href='javascript:void(0);' ng-click='btnSubProductPreview(this)' ng-show='userRoleViewFamily'><div title='Preview' class='glyphicon glyphicon-th-list blue btn-xs-icon'></div></a>
                                <br />
                                <a href='javascript:void(0);' ng-click='DeleteSubProductItem(this)' ng-show='userRoleDetachFamily'><div title='Detach' class='glyphicon glyphicon-remove-circle blue btn-xs-icon'></div></a>

                                <a href='javascript:void(0);' ng-click='trashSubProductItemFromMaster(this)' ng-show='userRoleDeleteFamily'><div title='Delete' class='glyphicon glyphicon-remove blue btn-xs-icon'></div></a> @*Move to Recycle Bin*@
                            </td>
                            <td ng-repeat="column in columnsSubAtt" style="text-align: left; width:70px !important;max-width:70px !important;min-width:70px !important" ng-if=" column.Caption= = ='CATALOG_ID' " ng-show="DisplayIdcolumns===true">

                                <div id="subresize1" sortable="'Data[column.ColumnName]'">
                                    {{Data[column.ColumnName]}}
                                </div>

                            </td>
                            <td ng-repeat="column in columnsSubAtt" style="text-align: left; width:70px !important;max-width:70px !important;min-width:70px !important" ng-if="column.Caption==='CATEGORY_ID'" ng-show="DisplayIdcolumns===true">

                                <div id="subresize1" sortable="'Data[column.ColumnName]'">
                                    {{Data[column.ColumnName]}}
                                </div>

                            </td>
                            <td ng-repeat="column in columnsSubAtt" style="text-align: left; width:70px !important;max-width:70px !important;min-width:70px !important" ng-if="column.Caption==='FAMILY_ID'" ng-show="DisplayIdcolumns===true">

                                <div id="subresize1" sortable="'Data[column.ColumnName]'">
                                    {{Data[column.ColumnName]}}
                                </div>

                            </td>
                            <td ng-repeat="column in columnsSubAtt" style="text-align: left;width:100px;" ng-if="column.Caption==='SUBPRODUCT_ID'" ng-show="DisplayIdcolumns===true">

                                <div id="subresize1" sortable="'Data[column.ColumnName]'">
                                    {{Data[column.ColumnName]}}
                                </div>

                            </td>

                            <td ng-repeat="column in columnsSubAtt" style="text-align: left;  width:40px !important;max-width:40px !important;min-width:40px !important;" ng-if="column.Caption==='SORT'">

                                <div id="subresize1" sortable="'Data[column.ColumnName]'">
                                    {{Data[column.ColumnName]}}
                                </div>

                            </td>
                            <td ng-repeat="column in columnsSubAtt" style="text-align: left;width:100px;" ng-if="column.Caption==='WORKFLOW STATUS'" ng-show="EnableWorkflow===true">

                                <div id="subresize1" sortable="'Data[column.ColumnName]'">
                                    {{Data[column.ColumnName]}}
                                </div>

                            </td>
                            <td ng-mousemove="subsetWidth(column.Caption.split('__')[0])" ng-repeat="column in columnsSubAtt" style="text-align: left;width:100px;" ng-if="column.Caption.split('__')[1] =='OBJ' || column.Caption==='Sort'" @*title="ITEM# :  {{Data['ITEM#__OBJ__1__1__false__true']}} &#xa;Sort : {{Data['SORT']}}"*@>

                                <a ng-mousemove="subsetWidth(column.Caption.split('__')[0])" id="subresize1_{{column.Caption.split('__')[0]}}" ng-if="column.Caption!=='PUBLISH' && column.Caption!=='PUBLISH2PRINT'  && column.Caption.split('__')[2] ==='1'" ng-click="fnSort(column)" ng-class="{'cg-normal': column.EditEnabled == false}" style="text-align: left;float: left;">
                                    {{Data[column.ColumnName]}}
                                </a>
                                <a ng-mousemove="subsetWidth(column.Caption.split('__')[0])" id="subresize1_{{column.Caption.split('__')[0]}}" ng-if="column.Caption!=='PUBLISH' && column.Caption!=='PUBLISH2PRINT'  && column.Caption.split('__')[2] !=='1' && !isnotNumber(Data[column.ColumnName])" ng-class="{'cg-normal': column.EditEnabled == false}" style="text-align: left;float: left;">
                                    <span data-ng-bind-html="trustAsHtml(Data[column.ColumnName])"></span>
                                </a>
                                <a ng-mousemove="subsetWidth(column.Caption.split('__')[0])" id="subresize1_{{column.Caption.split('__')[0]}}" ng-if="column.Caption!=='PUBLISH' && column.Caption!=='PUBLISH2PRINT'  && column.Caption.split('__')[2] !=='1' && isnotNumber(Data[column.ColumnName])" ng-class="{'cg-normal': column.EditEnabled == false}" style="text-align: left;float: left;">
                                    <span data-ng-bind-html="trustAsHtml(Data[column.ColumnName])"></span>
                                </a>
                            </td>
                            <td ng-repeat="column in columnsSubAtt" style="text-align: left;width:30px !important;max-width:30px !important;min-width:30px !important;" ng-if="column.Caption==='PUBLISH2WEB' ||  column.Caption==='PUBLISH2PRINT' ||  column.Caption==='PUBLISH2PDF' ||  column.Caption==='PUBLISH2EXPORT' ||  column.Caption==='PUBLISH2PORTAL'">
                                <a id="resize1" ng-if="column.Caption=='PUBLISH2WEB'">
                                    <input type="checkbox" class="chkoption" ng-model="Data[column.ColumnName]" ng-trim="false" ng-true-value="'True'" ng-false-value="'False'" disabled>
                                </a>
                                <a id="resize2" ng-if="column.Caption=='PUBLISH2PRINT'">
                                    <input type="checkbox" class="chkoption" ng-model="Data[column.ColumnName]" ng-trim="false" ng-true-value="'True'" ng-false-value="'False'" disabled>
                                </a>
                                <a id="resize3" ng-if="column.Caption=='PUBLISH2PDF'">
                                    <input type="checkbox" class="chkoption" ng-model="Data[column.ColumnName]" ng-trim="false" ng-true-value="'True'" ng-false-value="'False'" disabled>
                                </a>
                                <a id="resize4" ng-if="column.Caption=='PUBLISH2EXPORT'">
                                    <input type="checkbox" class="chkoption" ng-model="Data[column.ColumnName]" ng-trim="false" ng-true-value="'True'" ng-false-value="'False'" disabled>
                                </a>
                                <a id="resize5" ng-if="column.Caption=='PUBLISH2PORTAL'">
                                    <input type="checkbox" class="chkoption" ng-model="Data[column.ColumnName]" ng-trim="false" ng-true-value="'True'" ng-false-value="'False'" disabled>
                                </a>

                            </td>
                            @*<td ng-repeat="column in columnsSubAtt" style="text-align: left;" ng-if="column.Caption==='PUBLISH' || column.Caption==='PUBLISH2PRINT'">
                                    <a ng-if="column.Caption=='PUBLISH'">
                                        <input type="checkbox" class="chkoption" ng-model="Data[column.ColumnName]" ng-trim="false" ng-true-value="'True'" ng-false-value="'False'" disabled>
                                    </a>
                                    <a ng-if="column.Caption=='PUBLISH2PRINT'">
                                        <input type="checkbox" class="chkoption" ng-model="Data[column.ColumnName]" ng-trim="false" ng-true-value="'True'" ng-false-value="'False'" disabled>
                                    </a>
                                </td>*@
                        </tr>
                    </tbody>
                </table>
                <br />
                <div class="row product-pagination" id="subproductpaging" ng-show="columnsSubAtt.length != 0" style="margin-top: -34px;">
                    <div class="pull-left" style="margin-left: 20px;">
                        <button class="gridpaging" type="button" ng-click="callProductGridPagingSP('1')"><span class="k-icon k-i-seek-w"></span></button>
                        <button class="gridpaging" type="button" ng-click="callProductGridPagingSP('PREV')"><span class="k-icon k-i-arrow-w"></span></button>
                        <select kendo-dropdownlist class="selectcss" id="cboProdPageCountSPdown" style="width: 60px"
                                k-data-source="ProdPageCountSP"
                                ng-model="ProdCurrentPageSP"
                                k-on-change="callProductGridPagingSP(ProdCurrentPageSP)"></select>
                        <button class="gridpaging" type="button" ng-click="callProductGridPagingSP('NEXT')"><span class="k-icon k-i-arrow-e">Go to the next page</span></button>
                        <button class="gridpaging" type="button" ng-click="callProductGridPagingSP(totalProdPageCountSP)"><span class="k-icon k-i-seek-e">Go to the last page</span></button>
                    </div>
                    <div class="pull-right" style="margin-right: 20px;font-size: 15px; text-transform: none !important;">
                        Items
                        <select kendo-drop-down-list class="selectcss" id="gridpagingSubprodItems2" style="width: 60px"
                                ng-model="gridCurrentPageSP"
                                k-on-change="callProductGridPagePerSP(gridCurrentPageSP)">
                            <option>5</option>
                            <option>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option style="width: 60px">100</option>
                        </select>
                    </div>
                </div>

            </div>
            <br>
            <div id="subproductpreview">
                <div class="panel-heading1 margin-bottom-20" style="font-size: 14px;">SubProduct Preview</div>
                <button class="btn btn-primary btn-xs" type="button" ng-if="userPrint" ng-click='SubProductPrint()' style="margin-bottom:15px" title="Print">Print</button>
                <button class="btn btn-primary btn-xs float-left" type="button" ng-click="subhideClick()" style="margin-bottom:15px">Back</button>
                <div id="SubProductPreviewprint_tab">
                    <span ng-bind-html="trustAsHtml(subProductPreviewText)"></span>
                </div>
                <button class="btn btn-primary btn-xs" type="button" ng-if="userPrint" ng-click='SubProductPrint()' style="margin-bottom:15px" title="Print">Print</button>
                <button class="btn btn-primary btn-xs float-left" type="button" ng-click="subhideClick()" style="margin-bottom:15px">Back</button>

            </div>
            @*<div id="subproductpreview">
                    <h4>Product Preview</h4> <button class="btn btn-primary btn-xs float-right" type="button" ng-click="subhideClick()">Back</button>
                    <div id="ProductPreviewprint_tab">
                        <span ng-bind-html="trustAsHtml(subProductPreviewText)"></span>
                    </div>
                    <button class="btn btn-primary btn-xs" type="button" ng-click="subhideClick()">Back</button>

                </div>*@
        </div>
    </div>
    <div id="ColumnSetupSubproducts">
        <div class="panel-heading1 margin-top-20">SubProduct Attribute Management</div>
        <div>
            @*&nbsp;&nbsp;<div class="col-sm-4">
                    <button class="btn btn-primary btn-xs" type="button" ng-click="productNewAttributeSetupClick()">
                        Add New Attribute
                    </button>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-primary btn-xs" type="button" ng-click="UnPublishAttributesSubproducts()">
                        Save & Close
                    </button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary btn-xs" type="button" ng-click="RefreshProductAttributessubproducts()">
                        Refresh
                    </button>
                </div>*@
            <div class="col-sm-12 padding-0 margin-top-20 margin-bottom-20" align="center">
                <div>

                    <button class="btn btn-primary btn-xs" type="button" ng-click="subProductNewAttributeSetupClick()" title="{{newSubProductAttributeSetup}}">
                        Add New Attribute
                    </button>

                    <button class="btn btn-primary btn-xs" type="button" ng-click="UnPublishAttributesSubproducts()" title="{{saveSubProductAttributeSetup}}">
                        Save & Close
                    </button>

                    <button class="btn btn-primary btn-xs" type="button" ng-click="RefreshProductAttributessubproducts()" title="{{refreshSubProductAttributeSetup}}">
                        Refresh
                    </button>

                    <button class="btn btn-primary btn-xs" type="button" ng-click="CancelProductAttributessubproducts()" title="{{cancelSubProductAttributeSetup}}">
                        Cancel
                    </button>

                </div>
            </div>

            <div class="col-sm-12 no-padding">
                <table style="margin-left: 50px;margin-right: 50px;">
                    <tbody>
                        <tr>
                            <td class="col-sm-1"></td>
                            <td class="col-sm-3" style="vertical-align: top;width: 1%;">
                                <h6 class="col-sm-11 bold alignleft">Available Attributes</h6>
                                <div class="col-sm-3 navbar-content" id="showAttributeNamesubproducts">
                                    <div class="main-navigation navbar-collapse1" style="position: inherit; width: 380px;">
                                        <div style="overflow: auto;">
                                            <div id="chkbxAttributeIdsubproducts" style="text-align: left !important;">
                                                <kendo-grid options="mainGridOptionsSubproducts">
                                                </kendo-grid>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style="width: 4%;">
                                <table>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="SavePublishAttributesforsubproducts()" title="{{selectSubProductAttributes}}"><span class="glyphicon glyphicon-arrow-right"></span></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="DeletePublishAttributessubproducts()" title="{{unselectSubProductAttributes}}"><span class="glyphicon glyphicon-arrow-left"></span></button>
                                        </td>
                                    </tr>

                                </table>

                            </td>
                            <td class="col-sm-3" style="vertical-align: top;width: 1%;">
                                <h6 class="col-sm-11 bold alignleft">Selected Attributes</h6>
                                <div class="col-sm-3 navbar-content" id="showSelectedAttributessubproducts">
                                    <div class="main-navigation navbar-collapse1" style="position: inherit; width: 380px;">
                                        <div style="overflow: auto;">
                                            <div id="chkbxselAttributeIdsubproducts">
                                                <div kendo-grid="prodselectgridsubproducts" options="selectedGridOptionssubproducts">
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                                <br />
                            </td>
                            <td style="width: 4%;">
                                <table>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="BtnMoveUpClicksub()" title="{{moveSubProductAttributesUp}}"><span class="glyphicon glyphicon-arrow-up"></span></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="BtnMoveDownClicksub()" title="{{moveSubProductAttributesDown}}"><span class="glyphicon glyphicon-arrow-down"></span></button>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td class="col-sm-1"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="cmnvalupdateforsubproduct">
        <div ng-if="Family.FAMILY_ID!=='' && Family.FAMILY_ID!=='0' && rendercommonvalueupdatesubproduct">
            @{Html.RenderPartial("Family/CommonValueUpdateSubproduct");}
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#samplegridss tbody').scroll(function (e) {
            /*
            Setting the thead left value to the negative valule of tbody.scrollLeft will make it track the movement
            of the tbody element. Setting an elements left value to that of the tbody.scrollLeft left makes it maintain
            it's relative position at the left of the table.
            */
            $('#samplegridss thead').css("left", -$("#samplegridss tbody").scrollLeft()); //fix the thead relative to the body scrolling
            $('#samplegridss thead th:nth-child(-n+9)').css("left", $("#samplegridss tbody").scrollLeft()); //fix the first cell of the header
            $('#samplegridss tbody td:nth-child(-n+9)').css("left", $("#samplegridss tbody").scrollLeft()); //fix the first column of tdbody
        });
    });

    $(document).ready(function () {
        $('#invertedproductssamplegridss tbody').scroll(function (e) {
            /*
            Setting the thead left value to the negative valule of tbody.scrollLeft will make it track the movement
            of the tbody element. Setting an elements left value to that of the tbody.scrollLeft left makes it maintain
            it's relative position at the left of the table.
            */
            $('#invertedproductssamplegridss thead').css("left", -$("#invertedproductssamplegridss tbody").scrollLeft()); //fix the thead relative to the body scrolling
            $('#invertedproductssamplegridss thead th:nth-child(-n+9)').css("left", $("#invertedproductssamplegridss tbody").scrollLeft()); //fix the first cell of the header
            $('#invertedproductssamplegridss tbody td:nth-child(-n+9)').css("left", $("#invertedproductssamplegridss tbody").scrollLeft()); //fix the first column of tdbody
        });
    });
</script>