﻿<style>
    .ng-table-pager {
        display: none !important;
    }

.k-list-scroller , div#attributeNameSub-list {
    max-height: 300px !important;
    min-height: auto !important;
}

#samplegrid1 > thead {
    position: relative !important;
    display: block !important; /*seperates the header from the body allowing it to be positioned*/
    width: 500px !important;
    overflow: visible !important;
}

#samplegrid1 thead th {  
    background-color: #d9ecf5;
    min-width: 100px;
    font-size: 10px;
}

#samplegrid1 thead th a {
    display: flex;
    min-height: 18px;
    line-height: 13px;
    margin: -.5em -.6em -.4em 0;
    padding: .5em .6em .4em 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

#samplegrid1 thead th a {
    min-width: 100px !important;
    max-width: 200px !important;
    resize: horizontal;
    overflow: auto;
    font-size: 10px;
}
    span.k-input.ng-scope {
        text-align: left;
    }


    #dynamictable {
        overflow-x: inherit;
    }

    .gridpaging1 {
        margin: 0 .08333em;
        height: 25px;
        line-height: 1em;
        border-radius: 15px;
        cursor: pointer;
        text-align: center;
        border-style: solid;
        border-width: 1px;
        background-color: #f1f1f1;
        border: 1px solid #f1f1f1;
    }

        .gridpaging1:hover {
            background-color: #e4f1f8;
            border: 1px solid #c5e2ef;
        }

    .gridpaginghighlight {
        color: #777;
        background-color: #ddd;
        border-color: #ffffff;
        padding: 6px 12px;
        border: 1px solid #ddd;
        padding: 10px 14px 10px 14px;
        cursor: pointer;
        font-size: 14px;
        border-radius: 5px;
    }

    .gridpaging:hover {
        background-color: #e7e7e7;
        border: 1px solid #c7c7c7;
    }

    .clearable {
        background: url('../../../Images/clear.png') no-repeat right -10px center;
        border: 1px solid #999;
        padding: 3px 18px 3px 4px; /* USE the same right padding in jQ! */
        border-radius: 3px;
        transition: background 0.4s;
        /*REMOVE THIS LINE IF YOU ENCOUNTER ISSUES IN Chrome (Bug 02.2014)*/
    }

        .clearable.x {
            background-position: right 5px center;
        }

        .clearable.onX {
            cursor: pointer;
        }

    .k-list {
        white-space: nowrap;
        max-width: 150px;
    }

    .k-item {
        width: max-content;
    }

    .k-list-scroller, div#attributeNameSub-list {
        max-height: 300px !important;
        min-height: auto !important;
    }

    #samplegrid1 > thead {
        position: relative !important;
        display: block !important; /*seperates the header from the body allowing it to be positioned*/
        width: 500px !important;
        overflow: visible !important;
    }

    #samplegrid1 thead th {
        background-color: #d9ecf5;
        min-width: 100px;
        font-size: 10px;
    }

        #samplegrid1 thead th a {
            display: flex;
            min-height: 18px;
            line-height: 13px;
            margin: -.5em -.6em -.4em 0;
            padding: .5em .6em .4em 0;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        #samplegrid1 thead th a {
            min-width: 100px !important;
            max-width: 200px !important;
            resize: horizontal;
            overflow: auto;
            font-size: 10px;
        }

    #samplegrid1 tbody {
        position: relative;
        display: block;
        max-width: 1225px;
        /*height: 322px;*/
        overflow-y: auto !important;
        max-height: 355px;
        !important;
        min-height: auto !important;
    }

        #samplegrid1 tbody td {
            min-width: 100px;
            border: 1px solid #ddd !important;
            word-break: break-word;
            font-size: 10px;
        }

    #samplegrid1 thead th:nth-child(-n+4) { /*first cell in the header*/
        position: relative;
        /* display: block; seperates the first cell in the header from the header*/
        background-color: #d9ecf5;
        outline: 1px solid #ddd;
    }

    #samplegrid1 tbody tr:nth-child(4n+1).selected td {
        background-color: lightgrey;
    }

    #samplegrid1 tbody tr:nth-child(2n).selected td {
        background-color: lightgrey;
    }

    #samplegrid1 tbody tr:nth-child(2n) td {
        background-color: #fff;
    }

    #samplegrid1 tbody tr:nth-child(2n+1) td {
        background-color: #d9ecf5;
    }

    #samplegrid1 tbody tr td:nth-child(-n+4) { /*the first cell in each tr*/
        position: relative;
        outline: 1px solid #ddd;
    }
</style>
<script>
    $(document).ready(function () {

        $('#samplegrid1 tbody').scroll(function (e) {
            /*
            Setting the thead left value to the negative valule of tbody.scrollLeft will make it track the movement
            of the tbody element. Setting an elements left value to that of the tbody.scrollLeft left makes it maintain
    		it's relative position at the left of the table.
            */
            $('#samplegrid1 thead').css("left", -$("#samplegrid1 tbody").scrollLeft()); //fix the thead relative to the body scrolling
            $('#samplegrid1 thead th:nth-child(-n+9)').css("left", $("#samplegrid1 tbody").scrollLeft()); //fix the first cell of the header
            $('#samplegrid1 tbody td:nth-child(-n+9)').css("left", $("#samplegrid1 tbody").scrollLeft()); //fix the first column of tdbody
        });
    });

</script>
<script>
    jQuery(function ($) {

        function tog(v) {
            return v ? 'addClass' : 'removeClass';
        }

        $(document).on('input', '.clearable',
          function () {
              $(this)[tog(this.value)]('x');
          }).on('mousemove', '.x', function (e) {

              $(this)[tog(
                this.offsetWidth - 18 < e.clientX - this.getBoundingClientRect().left)]('onX');
          }).on('click', '.onX', function () {
              $(this).removeClass('x onX').val('');
              angular.element(document.getElementById('txtSearchSub')).scope().SearchSubProduct('');
          });

    });
</script>
<link href="~/Design/css/ng-table.css" rel="stylesheet" />
<form name="NewInvertedSubProducts">
    <div ng-controller="invertedsubproductsController" ng-cloak>
        <div id="subassociatedgrid">

            <div kendo-grid k-options="subproductassociatedfamilyGridOptions" style="width:100%"></div>
        </div>

        @*<div class="row">
                <div class="col-sm-12">
                    <div class="form-group  col-sm-9">
                        <div class="col-sm-6 textalignright margintop padding-0 bold" style="float:left">
                            Search
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="col-sm-3" ng-model="InvertSubProductSearch" ng-blur="SearchSubProduct(InvertSubProductSearch)" ng-enter="SearchProduct(InvertSubProductSearch)">
                        </div>

                        <div class="col-sm-3 padding-0">
                            <div class="dropdown">
                                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" ng-model="selectedAttr" data-toggle="dropdown" style="height:16px;border-bottom-left-radius: 0px;border-top-left-radius: 0px">
                                    {{selectedAttr}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" style="height: 120px;overflow-x: auto">
                                    <li ng-click="SelectAttribute('Select Attribute')">Select Attribute</li>
                                    <li ng-repeat="column in InvertedcolumnsSubproducts" ng-click="SelectAttribute(column.Caption)" ng-if="column.Caption!='PRODUCT_ID' && column.Caption!='MAINPRODUCT_ID' && column.Caption!='SUBPRODUCT_ID'  && column.Caption!='id' &&  column.Caption!='CATALOG_ID' &&  column.Caption!='CATALOG_NAME' &&  column.Caption!='FAMILY_ID' &&  column.Caption!='CATEGORY_ID'">{{column.Caption}}</li>
                                </ul>
                                <select >
                                    <option ng-repeat="x in Invertedcolumns" ng-if="x.Caption!='PRODUCT_ID' &&  x.Caption!='CATALOG_ID' &&  x.Caption!='CATALOG_NAME' &&  x.Caption!='FAMILY_ID' &&  x.Caption!='CATEGORY_ID'">{{x.Caption}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

        <div id="dynamictablesubproducts" ng-mousemove="invsubprodsetWidth()" style="max-width: 100%;padding-left: 0px;overflow: hidden !important;">
            @*Pagination Top*@
            <div class="col-sm-12 row product-pagination-top" id="SubPagingTop" style="display:none">
                <div class="col-sm-3 padding-0 pull-left margin-bottom-20 margin-left-5">
                    <button class="gridpaging1" ng-show="ResultEmpty!=true" type="button" ng-click="callProductGridPaging('1')"><span class="k-icon k-i-seek-w"></span></button>
                    <button class="gridpaging1" ng-show="ResultEmpty!=true" type="button" ng-click="callProductGridPaging('PREV')"><span class="k-icon k-i-arrow-w"></span></button>
                    <select kendo-drop-down-list class="selectcss" id="cboProdPageCount" ng-show="ResultEmpty!=true"
                            k-data-source="ProdPageCount"
                            ng-model="ProdCurrentPage"
                            k-on-change="callProductGridPaging(ProdCurrentPage)" style="background-color: white !important;width: 60px;"></select>
                    <button class="gridpaging1" ng-show="ResultEmpty!=true" type="button" ng-click="callProductGridPaging('NEXT')"><span class="k-icon k-i-arrow-e">Go to the next page</span></button>
                    <button class="gridpaging1" ng-show="ResultEmpty!=true" type="button" ng-click="callProductGridPaging(totalProdPageCount)"><span class="k-icon k-i-seek-e">Go to the last page</span></button>
                </div>

                <div class="col-sm-7 padding-0">
                    <div class="col-sm-5 padding-0" style="margin-top: 2px;">
                        <div class="dropdown responsiveip col-sm-7 padding-0">
                            <input id="attributeNameSub" ng-model="selectedAttr" style="width: 150px;max-height: 200px;border-bottom-left-radius: 0px;border-top-left-radius: 0px" />
                        </div>
                        <div class="dropdown responsiveip col-sm-2">
                            <select kendo-drop-down-list class="selectcss" id="DrpSearchType" style="width: 100px;margin-left: -36px"
                                    ng-model="usewildcards"
                                    k-on-change="SelectItem(usewildcards)">
                                <option value="1">Exact</option>
                                <option value="2">Starts with</option>
                                <option value="3">Ends with</option>
                                <option value="4">Contains</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-5 padding-0">
                        <div class="input-group" style="width: 150px;">

                            <input id="txtSearchSub" class="" ng-keypress="keyPressed($event)" type="text" placeholder="Search by Attribute Value" style="height: 21px;margin-right: -2px" ng-model="InvertSubProductSearch" @*ng-blur="SearchSubProduct(InvertSubProductSearch)" ng-enter="SearchSubProduct(InvertSubProductSearch)"*@>
                            <span class="input-group-addon" ng-click="SearchSubProduct(InvertSubProductSearch)">

                                <i class="fa fa-search color-white"></i>
                            </span>

                            <span class="btn btn-primary btn-xs margin-left-5" style="border-radius: 0px;height: 20px;margin-bottom: 1px;" ng-click="refreshSearch()">Refresh</span>

                        </div>
                    </div>
                </div>



                <div class="padding-0 pull-right margin-right-45" ng-show="ResultEmpty!=true" style="text-transform: none !important; font-size: 15px">
                    Items
                    <select kendo-drop-down-list class="selectcss" id="gridpaginginverted" style="width: 60px"
                            ng-model="gridCurrentPage"
                            k-on-change="callProductGridPagePerinverted(gridCurrentPage)">
                        <option value="25">25</option>
                        <option>50</option>
                        <option>100</option>
                        <option>300</option>
                        <option>400</option>
                        <option>500</option>
                    </select>
                </div>
            </div>

            @*Paginatio Top End*@
            <div class="small-capsGrid" style="background-color: rgba(255,255,255,.6);">
                <table ng-table="tblInvertedGridSubproducts" id="samplegrid1" class="table table-condensed table-bordered table-striped margin-bottom-50 margin-top-45" width="90%" style="margin-top: 20px;position: relative !important;width: auto !important;overflow: hidden !important;border-collapse: collapse !important;outline: 0px solid #ddd;margin-bottom: 40px;">
                    <thead>
                        <tr class="invertedproductfont">
                            <th ng-repeat="column in InvertedcolumnsSubproducts track by $index" ng-show="DisplayIdcolumns===true" class="k-header" style="min-width: 100px;" ng-if="column.Caption=='MAINPRODUCT_ID'  || column.Caption=='SUBPRODUCT_ID'   || column.Caption=='CATALOG_ID' ">


                                <div ng-if="column.Caption=='MAINPRODUCT_ID'" style="color:#00435e">PRODUCT_ID</div>
                                <div ng-mousemove="invsubprodsetWidth(column.Caption.split('__')[0])" id="invsubprodresize_{{column.Caption.split('__')[0]}}" ng-if="column.Caption !=='MAINPRODUCT_ID'" style="color:#00435e">{{column.Caption}}  </div>
                            </th>
                            <th ng-repeat="column in InvertedcolumnsSubproducts track by $index" class="k-header" style="width: 100px;" ng-if="column.Caption!=='ROW' && column.Caption==='ITEM#' && column.Caption!=='id' && column.Caption!=='ID' && column.Caption!=='CATALOG_NAME' && column.Caption!=='CATEGORY_ID' && column.Caption!=='FAMILY_ID' && column.Caption!=='MAINPRODUCT_ID'  && column.Caption!=='SUBPRODUCT_ID'   && column.Caption!=='CATALOG_ID' ">
                                {{CatalogSubItemNumber}}
                            </th>
                            <th ng-repeat="column in InvertedcolumnsSubproducts track by $index" class="k-header" style="width: 100px;" ng-if="column.Caption!=='ROW' && column.Caption!=='ITEM#' && column.Caption!=='id' && column.Caption!=='ID' && column.Caption!=='CATALOG_NAME' && column.Caption!=='CATEGORY_ID' && column.Caption!=='FAMILY_ID' && column.Caption!=='MAINPRODUCT_ID'  && column.Caption!=='SUBPRODUCT_ID'   && column.Caption!=='CATALOG_ID' ">
                                <a ng-mousemove="invsubprodsetWidth()" ng-mousedown="GetScrollId(column.Caption.split('__')[0])" ng-mouseup="ClearScrollId()" id="invsubprodresize_{{column.Caption.split('__')[0]}}"> {{column.Caption}}</a>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="invertedproductfont table table-condensed table-bordered table-striped" ng-repeat="Data in $data  | orderBy:orderFields" show-filter="true" ng-class="{'selected':$index == selectedRow}">
                            <td ng-repeat="column in InvertedcolumnsSubproducts track by $index" style="text-align: left;" ng-show="DisplayIdcolumns===true" ng-if="column.Caption=='MAINPRODUCT_ID'  || column.Caption=='SUBPRODUCT_ID'   || column.Caption=='CATALOG_ID'" ng-dblclick="navigatesub(Data)">
                                <a ng-mousemove="invsubprodsetWidth(column.Caption.split('__')[0])" id="invsubprodresize1_{{column.Caption.split('__')[0]}}" href="" ng-click="navigatesub(Data)" style="text-align: left;width: 100px;display: block;">{{Data[column.ColumnName]}}</a>

                            </td>
                            <td ng-repeat="column in InvertedcolumnsSubproducts track by $index" style="text-align: left;" ng-if="column.Caption!=='ROW' && column.Caption!=='id' && column.Caption!=='ID' && column.Caption!=='CATALOG_NAME' && column.Caption!=='CATEGORY_ID' && column.Caption!=='FAMILY_ID' && column.Caption!=='MAINPRODUCT_ID'  && column.Caption!=='SUBPRODUCT_ID'   && column.Caption!=='CATALOG_ID'" ng-dblclick="navigate(Data)">
                                <a ng-mousemove="invsubprodsetWidth(column.Caption.split('__')[0])" id="invsubprodresize1_{{column.Caption.split('__')[0]}}" href="" ng-click="navigatesub(Data)" style="text-align: left;width: 100px;display: block;">{{Data[column.ColumnName]}}</a>

                            </td>
                        </tr>

                        @*<tr ng-if="ResultEmptyFirst==true">
                                <td><div class="bold color-black">No Items available</div></td>

                            </tr>*@
                    </tbody>
                </table>
                <div ng-if="ResultEmpty==true" style="padding: 26px;text-align: -webkit-center;margin-top: 25px;background-color: aliceblue;">No Results Found</div>
                <div class="row product-pagination" ng-show="ResultEmpty!=true" id="SubPagingBottom" style="display:none">
                    <div class="pull-left margin-left-20">
                        <button class="gridpaging1" type="button" ng-click="callProductGridPaging('1')"><span class="k-icon k-i-seek-w"></span></button>
                        <button class="gridpaging1" type="button" ng-click="callProductGridPaging('PREV')"><span class="k-icon k-i-arrow-w"></span></button>
                        <select kendo-drop-down-list class="selectcss" id="cboProdPageCount" style="width: 60px"
                                k-data-source="ProdPageCount"
                                ng-model="ProdCurrentPage"
                                k-on-change="callProductGridPaging(ProdCurrentPage)" style="background-color: white !important;"></select>
                        <button class="gridpaging1" type="button" ng-click="callProductGridPaging('NEXT')"><span class="k-icon k-i-arrow-e">Go to the next page</span></button>
                        <button class="gridpaging1" type="button" ng-click="callProductGridPaging(totalProdPageCount)"><span class="k-icon k-i-seek-e">Go to the last page</span></button>
                    </div>
                    <div class="padding-0 pull-right" style="margin-right: 30px;text-transform: none !important;font-size: 15px">
                        Items
                        <select kendo-drop-down-list class="selectcss" id="gridpaginginverted" style="width: 60px"
                                ng-model="gridCurrentPage"
                                k-on-change="callProductGridPagePerinverted(gridCurrentPage)">
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                            <option>300</option>
                            <option>400</option>
                            <option>500</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div align="center" id="BackSubDiv">
            <button class="btn btn-primary btn-xs margin-top-15" type="button" ng-click="backsub()">Back to SubProducts</button>
        </div>
    </div>
</form>


<script type="text/javascript" src='@Url.Content("~/Views/App/Inverted/invertedsubproductsController.js")'></script>


