.k-theme-test-class,
.ktb-theme-id-material {
  opacity: 0;
}
.ktb-var-accent {
  color: #3f51b5;
}
.ktb-var-base {
  color: #ffffff;
}
.ktb-var-background {
  color: #ffffff;
}
.ktb-var-border-radius {
  border-radius: 2px;
}
.ktb-var-normal-background {
  color: #ffffff;
}
.ktb-var-normal-gradient {
  background-image: none;
}
.ktb-var-normal-text-color {
  color: #444444;
}
.ktb-var-hover-background {
  color: #ebebeb;
}
.ktb-var-hover-gradient {
  background-image: none;
}
.ktb-var-hover-text-color {
  color: #444444;
}
.ktb-var-selected-background {
  color: #00b0ff;
}
.ktb-var-selected-gradient {
  background-image: none;
}
.ktb-var-selected-text-color {
  color: #3f51b5;
}
.ktb-var-primary {
  color: #3f51b5;
}
.ktb-var-secondary {
  color: #ffffff;
}
.ktb-var-tertiary {
  color: #4caf50;
}
.ktb-var-error {
  color: #f44336;
}
.ktb-var-warning {
  color: #ff9800;
}
.ktb-var-success {
  color: #4caf50;
}
.ktb-var-info {
  color: #2196f3;
}
.ktb-var-dark {
  color: #000000;
}
.ktb-var-light {
  color: #ffffff;
}
.ktb-var-inverse {
  color: #000000;
}
.ktb-var-series-a {
  color: #3f51b5;
}
.ktb-var-series-b {
  color: #03a9f4;
}
.ktb-var-series-c {
  color: #4caf50;
}
.ktb-var-series-d {
  color: #f9ce1d;
}
.ktb-var-series-e {
  color: #ff9800;
}
.ktb-var-series-f {
  color: #ff5722;
}
.k-grid-norecords-template {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
}
.k-button {
  border-radius: 2px;
  border-color: #f5f5f5;
  color: #444444;
  background-color: #f5f5f5;
  background-position: 50% 50%;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}
.k-button.k-state-default {
  border-color: #f5f5f5;
}
.k-button:hover,
.k-button.k-state-hover {
  color: #444444;
  border-color: #ebebeb;
  background-color: #ebebeb;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.k-button:active,
.k-button.k-state-active,
.k-button.k-state-selected {
  color: #000000;
  background-color: #d6d6d6;
  border-color: #d6d6d6;
  box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.3);
}
.k-button.k-state-active:hover,
.k-button.k-state-selected:hover {
  color: #ffffff;
  border-color: #5e6cbf;
  background-color: #5e6cbf;
}
.k-button:focus:active {
  box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.3);
}
.k-button:focus,
.k-button:focus:hover,
.k-button.k-state-focused,
.k-button.k-state-focused.k-state-disabled,
.k-state-disabled .k-button.k-state-focused {
  border-color: #cccccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.k-button[disabled],
.k-state-disabled .k-button,
.k-button.k-state-disabled,
.k-button[disabled]:hover,
.k-state-disabled .k-button:hover,
.k-button.k-state-disabled:hover,
.k-button[disabled]:focus,
.k-state-disabled .k-button:focus,
.k-button.k-state-disabled:focus,
.k-button[disabled]:active,
.k-state-disabled .k-button:active,
.k-button.k-state-disabled:active {
  color: #444444;
  border-color: #f5f5f5;
  background-color: #f5f5f5;
  box-shadow: none;
  background-image: none;
}
.k-primary {
  color: #ffffff;
  border-color: #3f51b5;
  background-color: #3f51b5;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}
.k-primary.k-state-default {
  border-color: #3f51b5;
}
.k-primary:hover,
.k-primary.k-state-hover {
  color: #ffffff;
  border-color: #5e6cbf;
  background-color: #5e6cbf;
}
.k-primary:active,
.k-primary.k-state-active {
  color: #ffffff;
  border-color: #273895;
  background-color: #273895;
}
.k-primary:focus:active:not(.k-state-disabled):not([disabled]) {
  box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.3);
}
.k-primary:focus,
.k-primary:focus:hover,
.k-primary.k-state-focused,
.k-primary.k-state-focused.k-state-disabled,
.k-state-disabled .k-primary.k-state-focused {
  border-color: #273895;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.k-primary[disabled],
.k-state-disabled .k-primary,
.k-primary.k-state-disabled,
.k-primary[disabled]:hover,
.k-state-disabled .k-primary:hover,
.k-primary.k-state-disabled:hover {
  color: #ffffff;
  border-color: #3f51b5;
  background-color: #3f51b5;
  box-shadow: none;
}
.k-button-group .k-button {
  border-radius: 0;
}
.k-button-group .k-group-start,
.k-button-group .k-button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.k-button-group .k-group-end,
.k-button-group .k-button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.k-button-group .k-group-start.k-group-end,
.k-button-group .k-button:first-child:last-child {
  border-radius: 2px;
}
.k-widget.k-button-group {
  background: none;
}
.k-split-button {
  border-radius: 2px;
}
.k-split-button .k-button {
  border-radius: 0;
}
.k-split-button .k-button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.k-split-button .k-button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.k-split-button.k-state-border-down > .k-button,
.k-split-button.k-state-border-up > .k-button {
  color: #444444;
  background-color: #ebebeb;
  border-color: #ebebeb;
  box-shadow: none;
}
.k-split-button:focus {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
  border-color: #cccccc;
}
.k-split-button:focus .k-button {
  box-shadow: none;
  border-color: inherit;
}
.k-edit-buttons {
  border-color: #e6e6e6;
  background: #3f51b5;
}
.k-button.k-flat.k-primary,
.k-button.k-bare.k-primary,
.k-button.k-flat.k-primary:hover,
.k-button.k-bare.k-primary:hover,
.k-button.k-flat.k-primary.k-state-hover,
.k-button.k-bare.k-primary.k-state-hover,
.k-button.k-flat.k-primary:active,
.k-button.k-bare.k-primary:active,
.k-button.k-flat.k-primary.k-state-active,
.k-button.k-bare.k-primary.k-state-active,
.k-button.k-flat.k-primary:hover:active,
.k-button.k-bare.k-primary:hover:active,
.k-button.k-flat.k-primary:hover.k-state-active,
.k-button.k-bare.k-primary:hover.k-state-active {
  color: #3f51b5;
}
.k-rtl .k-button-group .k-button {
  border-radius: 0;
}
.k-rtl .k-button-group .k-group-start,
.k-rtl .k-button-group .k-button:first-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.k-rtl .k-button-group .k-group-end,
.k-rtl .k-button-group .k-button:last-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.k-rtl .k-button-group .k-group-start.k-group-end,
.k-rtl .k-button-group .k-button:first-child:last-child {
  border-radius: 2px;
}
.k-rtl .k-split-button .k-button {
  border-radius: 0;
}
.k-rtl .k-split-button .k-button:first-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.k-rtl .k-split-button .k-button:last-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.k-avatar-icon,
.k-avatar-initials {
  color: #ffffff;
  background-color: #3f51b5;
}
.k-card {
  border-color: #e6e6e6;
  color: #444444;
  background-color: #ffffff;
}
.k-card .k-card-callout {
  border-color: #e6e6e6;
  background-color: #ffffff;
}
.k-card .k-card-actions {
  border-color: #e6e6e6;
}
.k-card-header {
  border-color: #e6e6e6;
  color: #ffffff;
  background-color: #3f51b5;
}
.k-card-footer {
  border-color: #e6e6e6;
  color: #ffffff;
  background-color: #3f51b5;
}
.k-card-separator {
  border-color: #e6e6e6;
}
.k-card.k-state-primary,
.k-card.k-card-primary {
  border-color: #9fa8da;
  color: #20295b;
  background-color: #c5cbe9;
}
.k-card.k-state-info,
.k-card.k-card-info {
  border-color: #83a1ba;
  color: #03223a;
  background-color: #b4c7d6;
}
.k-card.k-state-success,
.k-card.k-card-success {
  border-color: #8ea28f;
  color: #0f2210;
  background-color: #bbc7bc;
}
.k-card.k-state-warning,
.k-card.k-card-warning {
  border-color: #b39e80;
  color: #331e00;
  background-color: #d1c5b3;
}
.k-card.k-state-error,
.k-card.k-card-error {
  border-color: #c48883;
  color: #450804;
  background-color: #dcb7b5;
}
.k-tilelayout,
.k-widget.k-tilelayout {
  background-color: #f5f5f5;
}
.k-layout-item-hint {
  border-color: #e6e6e6;
  background-color: rgba(255, 255, 255, 0.2);
}
.k-chat {
  border-color: #e6e6e6;
  color: #444444;
  background-color: #ffffff;
}
.k-chat .k-timestamp {
  text-transform: uppercase;
  opacity: 0.7;
}
.k-chat .k-author {
  font-weight: bold;
}
.k-chat .k-bubble {
  border-color: #f5f5f5;
  color: #444444;
  background-color: #f5f5f5;
  transition: box-shadow 0.2s ease-in-out;
  order: -1;
}
.k-chat .k-alt .k-bubble {
  border-color: #3f51b5;
  color: #ffffff;
  background-color: #3f51b5;
}
.k-chat .k-quick-reply {
  border-color: #3f51b5;
  color: #3f51b5;
  background-color: transparent;
}
.k-chat .k-quick-reply:hover {
  border-color: #3f51b5;
  color: #ffffff;
  background-color: #3f51b5;
}
.k-chat .k-message-box {
  border-color: inherit;
  color: #444444;
  background-color: #ffffff;
}
.k-chat .k-message-box .k-button:hover {
  color: #3f51b5;
}
.k-chat .k-toolbar-box {
  border-color: inherit;
  color: #444444;
  background-color: #f5f5f5;
}
.k-chat .k-toolbar-box .k-button:hover {
  color: #3f51b5;
  background: none;
}
.k-chat .k-toolbar-box .k-scroll-button {
  background-color: #ffffff;
  box-shadow: 0 0 20px 5px #ffffff;
}
.k-chat .k-toolbar-box .k-scroll-button:hover {
  background-color: #ffffff;
}
.k-calendar {
  border-color: #e6e6e6;
  color: #444444;
  background-color: #ffffff;
}
.k-calendar > .k-header {
  border-color: #e6e6e6;
  color: #ffffff;
  background-color: #3f51b5;
  background-image: none;
}
.k-calendar > .k-header .k-link.k-state-hover {
  color: inherit;
  background-color: #324191;
  box-shadow: none;
}
.k-calendar > .k-header .k-nav-fast {
  border-radius: 0;
}
.k-calendar th {
  border-color: #e6e6e6;
  color: #444444;
  background-color: #ffffff;
}
.k-calendar .k-alt {
  border-color: #e6e6e6;
  color: #444444;
  background-color: #f5f5f5;
}
.k-calendar .k-weekend {
  background-color: transparent;
}
.k-calendar .k-other-month {
  color: #999999;
  background-color: transparent;
}
.k-calendar .k-out-of-range {
  pointer-events: none;
  visibility: hidden;
}
.k-calendar .k-today .k-link {
  color: #3f51b5;
  box-shadow: inset 0 0 0 1px #3f51b5;
}
.k-calendar td.k-state-hover .k-link {
  border-color: #ebebeb;
  color: #444444;
  background-color: #ebebeb;
  background-image: none;
}
.k-calendar td.k-state-selected .k-link {
  border-color: #3f51b5;
  color: #ffffff;
  background-color: #3f51b5;
  background-image: none;
}
.k-calendar td.k-state-focused .k-link {
  box-shadow: inset 0 0 0 1px #808080;
}
.k-calendar .k-footer .k-nav-today,
.k-calendar .k-calendar-header .k-today {
  color: #3f51b5;
}
.k-calendar .k-footer .k-nav-today:hover,
.k-calendar .k-calendar-header .k-today:hover,
.k-calendar .k-footer .k-nav-today:focus,
.k-calendar .k-calendar-header .k-today:focus {
  color: #3a4aa6;
}
.k-calendar-range {
  border-color: #e6e6e6;
  color: #444444;
  background-color: #ffffff;
}
.k-calendar-range th {
  color: inherit;
  background-color: transparent;
  text-transform: uppercase;
}
.k-calendar-range td.k-state-hover .k-link {
  border-color: #ebebeb;
  color: #444444;
  background-color: #ebebeb;
}
.k-calendar-range td.k-state-selected .k-link {
  border-color: #3f51b5;
  color: #ffffff;
  background-color: #3f51b5;
}
.k-calendar-range td.k-state-focused .k-link {
  box-shadow: inset 0 0 0 1px #808080;
}
.k-calendar-range td.k-range-start,
.k-calendar-range td.k-range-mid,
.k-calendar-range td.k-range-end {
  background-image: linear-gradient(transparent 1px, rgba(63, 81, 181, 0.3) 1px, rgba(63, 81, 181, 0.3) calc(100% - 1px), transparent calc(100% - 1px));
}
.k-ie .k-calendar-range td.k-range-start,
.k-ie .k-calendar-range td.k-range-mid,
.k-ie .k-calendar-range td.k-range-end,
.k-edge .k-calendar-range td.k-range-start,
.k-edge .k-calendar-range td.k-range-mid,
.k-edge .k-calendar-range td.k-range-end {
  background-image: none;
  background-color: rgba(63, 81, 181, 0.3);
}
.k-calendar-range td.k-range-split-start::after {
  background-image: linear-gradient(to left, rgba(63, 81, 181, 0.3), transparent);
}
.k-calendar-range td.k-range-split-end::after {
  background-image: linear-gradient(to right, rgba(63, 81, 181, 0.3), transparent);
}
.k-calendar-range .k-footer .k-nav-today {
  color: #3f51b5;
  background: none;
}
.k-pdf-viewer .k-toolbar .k-icon,
.k-pdf-viewer .k-toolbar .k-pager-input {
  color: #444444;
}
.k-pdf-viewer .k-canvas {
  background-color: #ffffff;
}
.k-pdf-viewer .k-page {
  border-color: #e6e6e6;
  color: #444444;
  background-color: white;
  box-shadow: 0 0 15px #e6e6e6;
}
.k-pdf-viewer .k-search-highlight {
  background-color: #4d4d4d;
}
.k-scrollview-nav > li.k-link {
  border-color: #f5f5f5;
  background-color: #f5f5f5;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}
.k-scrollview-nav > li.k-link.k-primary {
  border-color: #3f51b5;
  background-color: #3f51b5;
}
.k-scrollview-elements {
  color: #3f51b5;
}
.k-scrollview-next,
.k-scrollview-prev {
  color: inherit;
  background: rgba(0, 0, 0, 0);
  text-shadow: rgba(0, 0, 0, 0.3) 0 0 15px;
  opacity: 0.7;
  outline-width: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.k-scrollview-next:hover,
.k-scrollview-prev:hover {
  color: #3f51b5;
  opacity: 1;
}
.k-scrollview-next:hover span::before,
.k-scrollview-prev:hover span::before {
  background-color: transparent;
}
.k-switch-handle {
  background-clip: border-box;
}
.k-switch-on .k-switch-container {
  border-color: transparent;
  color: white;
  background-color: #98a2db;
}
.k-switch-on .k-switch-handle {
  border-color: transparent;
  color: white;
  background-color: #3f51b5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
}
.k-switch-on:focus .k-switch-container,
.k-switch-on.k-state-focused .k-switch-container {
  border-color: transparent;
  color: white;
  background-color: #98a2db;
}
.k-switch-on:focus .k-switch-handle,
.k-switch-on.k-state-focused .k-switch-handle {
  border-color: transparent;
  color: white;
  background-color: #2e3b84;
}
.k-switch-on:hover .k-switch-container,
.k-switch-on.k-state-hover .k-switch-container {
  border-color: transparent;
  color: white;
  background-color: #8591d5;
}
.k-switch-on:hover .k-switch-handle,
.k-switch-on.k-state-hover .k-switch-handle {
  border-color: transparent;
  color: white;
  background-color: #5c6cc6;
}
.k-switch-on .k-switch-label-off {
  color: transparent;
}
.k-switch-off .k-switch-container {
  border-color: transparent;
  color: white;
  background-color: #f5f5f5;
}
.k-switch-off .k-switch-handle {
  border-color: transparent;
  color: white;
  background-color: #fafafa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
}
.k-switch-off:focus .k-switch-container,
.k-switch-off.k-state-focused .k-switch-container {
  border-color: transparent;
  color: white;
  background-color: #ebebeb;
}
.k-switch-off:focus .k-switch-handle,
.k-switch-off.k-state-focused .k-switch-handle {
  border-color: transparent;
  color: white;
  background-color: #ebebeb;
}
.k-switch-off:hover .k-switch-container,
.k-switch-off.k-state-hover .k-switch-container {
  border-color: transparent;
  color: white;
  background-color: #ebebeb;
}
.k-switch-off:hover .k-switch-handle,
.k-switch-off.k-state-hover .k-switch-handle {
  border-color: transparent;
  color: white;
  background-color: #ebebeb;
}
.k-switch-off .k-switch-label-on {
  color: transparent;
}
.k-switch {
  background-color: transparent;
  box-shadow: none;
}
.k-switch:focus .k-switch-container,
.k-switch.k-state-focused .k-switch-container {
  outline: none;
}
.k-switch.k-state-disabled {
  cursor: default;
}
.k-switch[aria-readonly="true"] {
  pointer-events: none;
}
undefined .k-filter .k-filter-preview-field {
  color: #3f51b5;
}
undefined .k-filter .k-filter-preview-operator {
  color: rgba(68, 68, 68, 0.6);
}
undefined .k-filter .k-filter-item::before,
undefined .k-filter .k-filter-toolbar::before,
undefined .k-filter .k-filter-lines .k-filter-item:last-child > .k-filter-toolbar::after {
  background-color: #e6e6e6;
}
.k-drawer {
  border-color: #e6e6e6;
  color: #444444;
  background-color: #ffffff;
}
.k-drawer-wrapper {
  scrollbar-color: rgba(156, 156, 156, 0.7) #dedede;
}
.k-drawer-wrapper::-webkit-scrollbar-track {
  background: #dedede;
}
.k-drawer-wrapper::-webkit-scrollbar-thumb {
  background: rgba(156, 156, 156, 0.7);
}
.k-drawer-wrapper::-webkit-scrollbar-thumb:hover {
  background: #9c9c9c;
}
.k-drawer-item:hover,
.k-drawer-item.k-state-hover {
  color: #444444;
  background-color: #ebebeb;
  background-image: none;
}
.k-drawer-item:focus,
.k-drawer-item.k-state-focused {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px #808080;
}
.k-drawer-item:focus:hover,
.k-drawer-item.k-state-focused:hover,
.k-drawer-item:focus.k-state-hover,
.k-drawer-item.k-state-focused.k-state-hover {
  color: #444444;
  background-color: #ebebeb;
}
.k-drawer-item.k-state-selected {
  color: #3f51b5;
  background-color: #ffffff;
}
.k-drawer-item.k-state-selected:hover,
.k-drawer-item.k-state-selected.k-state-hover {
  color: #3f51b5;
  background-color: #ebebeb;
}
.k-drawer-separator {
  background-color: #e6e6e6;
}
.k-rating.k-widget {
  background-color: transparent;
}
.k-rating:focus,
.k-rating.k-state-focused {
  box-shadow: none;
}
.k-rating:focus .k-rating-item > .k-icon,
.k-rating.k-state-focused .k-rating-item > .k-icon {
  text-shadow: 0 2px 3.6px rgba(0, 0, 0, 0.1);
}
.k-rating:focus .k-rating-item.k-state-selected > .k-icon,
.k-rating.k-state-focused .k-rating-item.k-state-selected > .k-icon {
  text-shadow: 0 2px 3.6px rgba(63, 81, 181, 0.5);
}
.k-rating-item {
  color: #e6e6e6;
}
.k-rating-item.k-state-selected {
  color: #3f51b5;
  background: none;
  box-shadow: none;
}
.k-rating-item.k-state-selected:focus,
.k-rating-item.k-state-selected.k-state-focused {
  color: #3f51b5;
}
.k-rating-item:hover,
.k-rating-item.k-state-hover {
  color: #3f51b5;
  cursor: pointer;
  background: none;
  box-shadow: none;
}
.k-rating-item:hover.k-state-selected,
.k-rating-item.k-state-hover.k-state-selected {
  box-shadow: none;
}
.k-rating-item:focus,
.k-rating-item.k-state-focused {
  background: none;
  box-shadow: none;
}
.k-rating-item:focus.k-state-selected,
.k-rating-item.k-state-focused.k-state-selected {
  box-shadow: none;
}
.k-timeline .k-timeline-flag {
  background-color: #3f51b5;
  color: #ffffff;
}
.k-timeline .k-timeline-circle {
  background-color: #3f51b5;
}
.k-timeline .k-timeline-card .k-card-header {
  background-color: #ffffff;
  color: #444444;
}
.k-timeline .k-timeline-card .k-card-body {
  scrollbar-color: #e6e6e6 #ffffff;
}
.k-timeline .k-timeline-card .k-card-body::-webkit-scrollbar-track {
  background: #ffffff;
}
.k-timeline .k-timeline-card .k-card-body::-webkit-scrollbar-thumb {
  background: #e6e6e6;
}
.k-timeline .k-timeline-card .k-card-body::-webkit-scrollbar-thumb:hover {
  background: #ebebeb;
}
.k-timeline .k-timeline-date {
  color: #444444;
}
.k-timeline .k-timeline-arrow.k-button:not(.k-flat):not(.k-bare):not(.k-outline):not(.k-overflow-button).k-state-disabled {
  opacity: 1;
  color: #999999;
  background-color: #fafafa;
  border-color: #fafafa;
}
.k-timeline-vertical::after,
.k-timeline-horizontal .k-timeline-track-wrap::after {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}
.k-timeline-horizontal .k-timeline-flag::after {
  background-color: #3f51b5;
}
.k-breadcrumb:focus,
.k-breadcrumb.k-state-focused {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.k-breadcrumb .k-breadcrumb-link {
  border-color: transparent;
  color: #3f51b5;
  background-color: transparent;
}
.k-breadcrumb .k-breadcrumb-link:hover,
.k-breadcrumb .k-breadcrumb-link.k-state-hover {
  border-color: transparent;
  color: #3a4aa6;
  background-color: rgba(0, 0, 0, 0.08);
}
.k-breadcrumb .k-breadcrumb-link:focus,
.k-breadcrumb .k-breadcrumb-link.k-state-focused {
  border-color: false;
  color: #3f51b5;
  background-color: false;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.12);
}
.k-breadcrumb .k-breadcrumb-root-link {
  border-color: false;
  color: #444444;
  background-color: false;
}
.k-breadcrumb .k-breadcrumb-root-link:hover,
.k-breadcrumb .k-breadcrumb-root-link.k-state-hover {
  border-color: false;
  color: false;
  background-color: rgba(0, 0, 0, 0.08);
}
.k-breadcrumb .k-breadcrumb-root-link:focus,
.k-breadcrumb .k-breadcrumb-root-link.k-state-focused {
  border-color: false;
  color: false;
  background-color: false;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.12);
}
.k-breadcrumb .k-breadcrumb-root-link,
.k-breadcrumb .k-breadcrumb-delimiter-icon {
  color: inherit;
}
.k-listgroup {
  border-radius: 2px;
  border-color: #e6e6e6;
  color: #444444;
  background-color: #ffffff;
}
.k-listgroup-flush {
  border-radius: 0;
}
.k-messagebox-primary {
  border-color: #f5fafd;
  color: #6b7880;
  background-color: #f1f8fd;
}
.k-messagebox-secondary {
  border-color: #cce3f4;
  color: #003b67;
  background-color: #b8d8ef;
}
.k-messagebox-tertiary {
  border-color: #cce8d1;
  color: #00480c;
  background-color: #b8debe;
}
.k-messagebox-info {
  border-color: #d1e4f6;
  color: #0d3d6d;
  background-color: #bfd9f2;
}
.k-messagebox-success {
  border-color: #d9ecda;
  color: #235325;
  background-color: #cae4cb;
}
.k-messagebox-warning {
  border-color: #fff8cd;
  color: #857202;
  background-color: #fff5b9;
}
.k-messagebox-error {
  border-color: #fdd9d7;
  color: #7f231c;
  background-color: #fccac7;
}
.k-messagebox-dark {
  border-color: #cccccc;
  color: #000000;
  background-color: #b8b8b8;
}
.k-messagebox-light {
  border-color: #ffffff;
  color: #858585;
  background-color: #ffffff;
}
.k-messagebox-inverse {
  border-color: #cccccc;
  color: #000000;
  background-color: #b8b8b8;
}
.k-badge-solid.k-badge-primary {
  border-color: #cde6f7;
  color: #000000;
  background-color: #cde6f7;
}
.k-badge-solid.k-badge-secondary {
  border-color: #0072c6;
  color: #ffffff;
  background-color: #0072c6;
}
.k-badge-solid.k-badge-tertiary {
  border-color: #008a17;
  color: #ffffff;
  background-color: #008a17;
}
.k-badge-solid.k-badge-info {
  border-color: #1976d2;
  color: #ffffff;
  background-color: #1976d2;
}
.k-badge-solid.k-badge-success {
  border-color: #43a047;
  color: #ffffff;
  background-color: #43a047;
}
.k-badge-solid.k-badge-warning {
  border-color: #ffdb04;
  color: #000000;
  background-color: #ffdb04;
}
.k-badge-solid.k-badge-error {
  border-color: #f44336;
  color: #ffffff;
  background-color: #f44336;
}
.k-badge-solid.k-badge-dark {
  border-color: #000000;
  color: #ffffff;
  background-color: #000000;
}
.k-badge-solid.k-badge-light {
  border-color: #ffffff;
  color: #000000;
  background-color: #ffffff;
}
.k-badge-solid.k-badge-inverse {
  border-color: #000000;
  color: #ffffff;
  background-color: #000000;
}
.k-badge-outline {
  border-color: currentColor;
  background-color: #ffffff;
}
.k-badge-outline.k-badge-primary {
  color: #cde6f7;
}
.k-badge-outline.k-badge-secondary {
  color: #0072c6;
}
.k-badge-outline.k-badge-tertiary {
  color: #008a17;
}
.k-badge-outline.k-badge-info {
  color: #1976d2;
}
.k-badge-outline.k-badge-success {
  color: #43a047;
}
.k-badge-outline.k-badge-warning {
  color: #ffdb04;
}
.k-badge-outline.k-badge-error {
  color: #f44336;
}
.k-badge-outline.k-badge-dark {
  color: #000000;
}
.k-badge-outline.k-badge-light {
  color: #ffffff;
}
.k-badge-outline.k-badge-inverse {
  color: #000000;
}
.k-badge-border-cutout {
  box-shadow: 0 0 0 2px #ffffff;
}
.k-checkbox {
  border-radius: 0;
  border-color: #c9c9c9;
  color: #444444;
  background-color: #ffffff;
}
.k-checkbox:checked::before {
  border-radius: 0;
}
.k-checkbox.k-invalid,
.k-checkbox.k-state-invalid {
  border-color: #c9c9c9;
}
.k-checkbox:hover {
  border-color: #a3a3a3;
  color: #3f51b5;
  background-color: #ffffff;
}
.k-checkbox:focus {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.06);
  border-color: #a3a3a3;
}
.k-checkbox:indeterminate,
.k-checkbox.k-state-indeterminate {
  border-color: #c9c9c9;
  color: #3f51b5;
  background-color: #ffffff;
}
.k-checkbox:checked {
  border-color: #3f51b5;
  color: #ffffff;
  background-color: #3f51b5;
}
.k-checkbox:checked:focus {
  box-shadow: 0 0 0 2px rgba(63, 81, 181, 0.3);
  border-color: #3f51b5;
}
.k-radio {
  border-color: #c9c9c9;
  color: #444444;
  background-color: #ffffff;
  border-radius: 50%;
}
.k-radio::before {
  border-radius: 50%;
}
.k-radio:hover {
  border-color: #a3a3a3;
  color: #3f51b5;
  background-color: #ffffff;
}
.k-radio:focus {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.06);
  border-color: #a3a3a3;
}
.k-radio:checked {
  border-color: #3f51b5;
  color: #ffffff;
  background-color: #3f51b5;
}
.k-radio:checked:focus {
  box-shadow: 0 0 0 2px rgba(63, 81, 181, 0.3);
  border-color: #3f51b5;
}
.k-filemanager {
  border-color: false;
  color: false;
  background-color: false;
}
.k-filemanager-toolbar {
  border-color: #e6e6e6;
  color: false;
  background-color: false;
}
.k-filemanager-navigation {
  border-color: #e6e6e6;
  color: false;
  background-color: false;
}
.k-filemanager-breadcrumb {
  border-color: #e6e6e6;
  color: false;
  background-color: #ffffff;
}
.k-filemanager .k-dropzone-hovered {
  border-color: false;
  color: inherit;
  background-color: inherit;
}
.k-filemanager-listview {
  border-color: false;
  color: false;
  background-color: false;
}
.k-filemanager-listview .k-item {
  border-color: false;
  color: false;
  background-color: false;
}
.k-filemanager-listview .k-item.k-state-selected .k-icon {
  border-color: false;
  color: #ffffff;
  background-color: false;
}
.k-filemanager-listview .k-item .k-icon {
  border-color: false;
  color: #b1b1b1;
  background-color: false;
}
.k-filemanager-grid {
  border-color: false;
  color: false;
  background-color: false;
}
.k-filemanager-preview {
  border-color: #e6e6e6;
  color: false;
  background-color: false;
}
.k-filemanager-preview .k-file-preview-wrapper .k-icon {
  border-color: false;
  color: #b1b1b1;
  background-color: false;
}
.k-filemanager-preview .k-file-size {
  color: inherit;
}
.k-filemanager-drag-hint {
  border-color: false;
  color: #ffffff;
  background-color: #3f51b5;
}
.k-filemanager-drag-hint .k-icon {
  border-color: false;
  color: #ffffff;
  background-color: false;
}
.k-window {
  border-radius: 2px;
  border-color: #e6e6e6;
  color: #444444;
  background-color: #ffffff;
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.12);
}
.k-window.k-state-focused {
  border-color: #e6e6e6;
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.25);
}
.k-window-titlebar {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-color: #e6e6e6;
  color: #ffffff;
  background-color: #3f51b5;
  background-image: linear-gradient(false);
}
.k-window-action {
  border-radius: 2px;
}
.k-window-content {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.k-window-titleless .k-window-content {
  border-radius: 2px;
}
.k-dialog-buttongroup {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-color: #e6e6e6;
}
.k-stepper {
  border-color: false;
  color: false;
  background-color: false;
}
.k-stepper .k-step:hover .k-step-indicator,
.k-stepper .k-step.k-step-hover .k-step-indicator {
  border-color: false;
  color: false;
  background-color: #e6e6e6;
}
.k-stepper .k-step.k-step-disabled .k-step-indicator,
.k-stepper .k-step:disabled .k-step-indicator {
  border-color: #e6e6e6;
  color: #8f8f8f;
  background-color: #ffffff;
}
.k-stepper .k-step-indicator {
  border-color: #e6e6e6;
  color: #444444;
  background-color: #ffffff;
}
.k-stepper .k-step-indicator::after {
  box-shadow: inset 0 0 0 2px #ffffff;
}
.k-stepper .k-step-label:only-child {
  border-color: #e6e6e6;
  color: #444444;
  background-color: #ffffff;
}
.k-stepper .k-step-done .k-step-indicator {
  border-color: #3f51b5;
  color: #ffffff;
  background-color: #3f51b5;
}
.k-stepper .k-step-done:hover .k-step-indicator,
.k-stepper .k-step-done.k-step-hover .k-step-indicator {
  border-color: false;
  color: false;
  background-color: #32408f;
}
.k-stepper .k-step-done.k-step-disabled .k-step-indicator,
.k-stepper .k-step-done:disabled .k-step-indicator {
  border-color: #8c97d3;
  color: #ffffff;
  background-color: #8c97d3;
}
.k-stepper .k-step-current .k-step-indicator {
  border-color: #3f51b5;
  color: #ffffff;
  background-color: #3f51b5;
}
.k-stepper .k-step-current:hover .k-step-indicator,
.k-stepper .k-step-current.k-step-hover .k-step-indicator {
  border-color: false;
  color: false;
  background-color: #32408f;
}
.k-stepper .k-step-current.k-step-disabled .k-step-indicator,
.k-stepper .k-step-current:disabled .k-step-indicator {
  border-color: #8c97d3;
  color: #ffffff;
  background-color: #8c97d3;
}
.k-stepper .k-step-label {
  color: #444444;
}
.k-stepper .k-step-success .k-step-label .k-icon {
  color: #3d8b40;
}
.k-stepper .k-step-error .k-step-label {
  color: #fccbc7;
}
.k-stepper .k-step-disabled .k-step-label {
  color: #999999;
}
.k-stepper .k-step-focus .k-step-label:only-child,
.k-stepper .k-step-link:focus .k-step-label:only-child {
  box-shadow: inset 0 0 0 2px #e6e6e6;
}
.k-stepper .k-step-optional .k-step-label-optional {
  opacity: 0.35;
}
.k-widget.k-form {
  background: none;
}
.k-form-error {
  color: #f44336;
}
.k-form-legend {
  border-color: #e6e6e6;
}
.k-tooltip,
.k-tooltip.k-widget,
.k-tooltip.k-popup {
  border-radius: 2px;
  border-color: rgba(100, 100, 100, 0.9);
  color: #ffffff;
  background-color: rgba(100, 100, 100, 0.9);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.k-tooltip-primary {
  border-color: #cde6f7;
  color: #000000;
  background-color: #cde6f7;
}
.k-tooltip-secondary {
  border-color: #0072c6;
  color: #ffffff;
  background-color: #0072c6;
}
.k-tooltip-tertiary {
  border-color: #008a17;
  color: #ffffff;
  background-color: #008a17;
}
.k-tooltip-info {
  border-color: #1976d2;
  color: #ffffff;
  background-color: #1976d2;
}
.k-tooltip-success {
  border-color: #43a047;
  color: #ffffff;
  background-color: #43a047;
}
.k-tooltip-warning {
  border-color: #ffdb04;
  color: #000000;
  background-color: #ffdb04;
}
.k-tooltip-error {
  border-color: #f44336;
  color: #ffffff;
  background-color: #f44336;
}
.k-tooltip-dark {
  border-color: #000000;
  color: #ffffff;
  background-color: #000000;
}
.k-tooltip-light {
  border-color: #ffffff;
  color: #000000;
  background-color: #ffffff;
}
.k-tooltip-inverse {
  border-color: #000000;
  color: #ffffff;
  background-color: #000000;
}
.k-chart-tooltip {
  color: white;
}
.k-chart-tooltip-inverse {
  color: black;
}
.k-wizard-step:focus,
.k-wizard-step.k-state-focused {
  box-shadow: inset 0 0 0 2px #e6e6e6;
  outline: none;
}
.k-textarea {
  border-color: #f0f0f0;
  color: #444444;
  background-color: #ffffff;
}
.k-textarea::placeholder,
.k-textarea > .k-input::placeholder {
  color: rgba(68, 68, 68, 0.5);
  opacity: 1;
  user-select: none;
}
.k-textarea::selection,
.k-textarea .k-input::selection {
  color: #ffffff;
  background-color: #3f51b5;
}
.k-textarea:focus,
.k-textarea:focus-within,
.k-textarea.k-state-focus,
.k-textarea.k-state-focused {
  border-color: #f5f5f5;
  color: #444444;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.k-textarea:hover,
.k-textarea.k-state-hover {
  border-color: #f5f5f5;
  color: #444444;
  background-color: #ffffff;
}
.k-textarea.k-invalid,
.k-textarea.k-state-invalid,
.k-textarea.ng-invalid.ng-touched,
.k-textarea.ng-invalid.ng-dirty {
  border-color: rgba(244, 67, 54, 0.5);
}
.k-textarea.k-invalid:focus,
.k-textarea.k-state-invalid:focus,
.k-textarea.ng-invalid.ng-touched:focus,
.k-textarea.ng-invalid.ng-dirty:focus,
.k-textarea.k-invalid:focus-within,
.k-textarea.k-state-invalid:focus-within,
.k-textarea.ng-invalid.ng-touched:focus-within,
.k-textarea.ng-invalid.ng-dirty:focus-within,
.k-textarea.k-invalid.k-state-focus,
.k-textarea.k-state-invalid.k-state-focus,
.k-textarea.ng-invalid.ng-touched.k-state-focus,
.k-textarea.ng-invalid.ng-dirty.k-state-focus,
.k-textarea.k-invalid.k-state-focused,
.k-textarea.k-state-invalid.k-state-focused,
.k-textarea.ng-invalid.ng-touched.k-state-focused,
.k-textarea.ng-invalid.ng-dirty.k-state-focused {
  box-shadow: 0 0 0 1px #f44336;
}
.k-textarea:disabled::selection,
.k-textarea[disabled]::selection,
.k-textarea.k-state-disabled::selection {
  color: #444444;
  background-color: transparent;
}
.k-floating-label-container.k-textarea-container > .k-label,
.k-textbox-container.k-textarea-container > .k-label {
  color: #444444;
}
.k-ie .k-textarea :-ms-input-placeholder,
.k-ie .k-textarea:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}
.k-appbar {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.24);
}
.k-appbar.k-appbar-bottom {
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.24);
}
.k-appbar-primary {
  color: #000000;
  background-color: #cde6f7;
}
.k-appbar-secondary {
  color: #ffffff;
  background-color: #0072c6;
}
.k-appbar-tertiary {
  color: #ffffff;
  background-color: #008a17;
}
.k-appbar-info {
  color: #ffffff;
  background-color: #1976d2;
}
.k-appbar-success {
  color: #ffffff;
  background-color: #43a047;
}
.k-appbar-warning {
  color: #000000;
  background-color: #ffdb04;
}
.k-appbar-error {
  color: #ffffff;
  background-color: #f44336;
}
.k-appbar-dark {
  color: #ffffff;
  background-color: #000000;
}
.k-appbar-light {
  color: #000000;
  background-color: #ffffff;
}
.k-appbar-inverse {
  color: #ffffff;
  background-color: #000000;
}
.k-loader-primary .k-loader-segment::after {
  background-color: #cde6f7;
}
.k-loader-secondary .k-loader-segment::after {
  background-color: #0072c6;
}
.k-loader-tertiary .k-loader-segment::after {
  background-color: #008a17;
}
.k-loader-info .k-loader-segment::after {
  background-color: #1976d2;
}
.k-loader-success .k-loader-segment::after {
  background-color: #43a047;
}
.k-loader-warning .k-loader-segment::after {
  background-color: #ffdb04;
}
.k-loader-error .k-loader-segment::after {
  background-color: #f44336;
}
.k-loader-dark .k-loader-segment::after {
  background-color: #000000;
}
.k-loader-light .k-loader-segment::after {
  background-color: #ffffff;
}
.k-loader-inverse .k-loader-segment::after {
  background-color: #000000;
}
.k-task-delayed.k-task-milestone {
  border-color: transparent;
  background-image: repeating-linear-gradient(90deg, #FFFFFF, #FFFFFF 2px, #f44336 2px, #f44336 4px);
}
.k-task-delayed.k-task-summary {
  background-color: #f6695e;
  border-color: #f6695e;
}
.k-task-delayed.k-task-summary .k-task-summary-complete {
  background-color: #f44336;
  border-color: #f44336;
}
.k-task-delayed.k-task-summary.k-state-selected .k-task-summary-complete {
  background-color: #3f51b5;
  border-color: #3f51b5;
}
.k-task-delayed.k-task-single {
  background-color: #f6695e;
  color: #FFFFFF;
}
.k-task-delayed.k-task-single.k-state-selected {
  background-color: #66d0ff;
  color: #ffffff;
}
.k-task-delayed .k-task-complete {
  background-color: #f44336;
}
.k-task-delayed.k-state-selected .k-task-complete {
  background-color: #00b0ff;
}
.k-task-advanced.k-task-milestone {
  background-color: #4caf50;
  border-color: transparent;
}
.k-task-advanced.k-task-summary {
  background-color: #70bf73;
  border-color: #70bf73;
}
.k-task-advanced.k-task-summary .k-task-summary-complete {
  background-color: #4caf50;
  border-color: #4caf50;
}
.k-task-advanced.k-task-summary.k-state-selected .k-task-summary-complete {
  background-color: #3f51b5;
  border-color: #3f51b5;
}
.k-task-advanced.k-task-single {
  background-color: #70bf73;
  color: #FFFFFF;
}
.k-task-advanced.k-task-single.k-state-selected {
  background-color: #66d0ff;
  color: #ffffff;
}
.k-task-advanced .k-task-complete {
  background-color: #4caf50;
}
.k-task-advanced.k-state-selected .k-task-complete {
  background-color: #00b0ff;
}
.k-task-planned .k-task-moment {
  border-color: #3f51b5;
}
.k-task-planned .k-task-duration {
  background-color: #3f51b5;
}
.k-task-planned:hover .k-task-moment {
  background-color: #3f51b5;
}
.k-task-offset {
  background-image: repeating-linear-gradient(135deg, #FFF, #FFF 2px, #f44336 2px, #f44336 4px);
}
.k-task-offset .k-resize-handle::after {
  background-color: #000000;
}
.k-task-offset:hover {
  background-image: repeating-linear-gradient(135deg, #FFF, #FFF 2px, #f6695e 2px, #f6695e 4px);
}
.k-task-offset .k-task-actions .k-link {
  color: #000000;
}
.k-task-offset-wrap .k-task-summary-complete:after,
.k-task-offset-wrap .k-task-summary:after {
  border-right-color: transparent;
}
.k-rtl .k-task-offset-wrap .k-task-summary-complete:after,
.k-rtl .k-task-offset-wrap .k-task-summary:after {
  border-right-color: inherit;
}
.k-rtl .k-task-offset-wrap .k-task-summary-complete:before,
.k-rtl .k-task-offset-wrap .k-task-summary:before {
  border-left-color: transparent;
}
.k-summary-wrap .k-task-offset:after {
  border-color: transparent;
  border-right-color: #f44336;
}
.k-rtl .k-summary-wrap .k-task-offset:before {
  border-color: transparent;
  border-left-color: #f44336;
}
.k-rtl .k-summary-wrap .k-task-offset:after {
  border-right-color: transparent;
}
.k-pdf-export .k-task-offset {
  background-color: #f44336;
}
.k-offset-tooltip-delayed {
  background-color: #f44336;
  color: #FFFFFF;
}
.k-planned-tooltip {
  background-color: #3f51b5;
  color: #FFFFFF;
}
.k-imageeditor {
  border-color: #e6e6e6;
  color: #444444;
  background-color: #ffffff;
}
.k-imageeditor-content {
  border-color: false;
  color: false;
  background-color: #c6c6c6;
}
.k-imageeditor-canvas {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.09) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.09) 75%, rgba(0, 0, 0, 0.09) 0), linear-gradient(45deg, rgba(0, 0, 0, 0.09) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.09) 75%, rgba(0, 0, 0, 0.09) 0), white;
  background-repeat: repeat, repeat;
  background-position: 0px 0px, calc(10px / 2) calc(10px / 2);
  transform-origin: 0 0 0;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  background-size: 10px 10px, 10px 10px;
  box-shadow: none;
  text-shadow: none;
  transition: none;
  transform: scaleX(1) scaleY(1) scaleZ(1);
}
.k-imageeditor-action-pane {
  border-color: #e6e6e6;
  color: false;
  background-color: #ffffff;
}
.k-imageeditor-crop {
  border-color: white;
  color: false;
  background-color: false;
}
.k-imageeditor-crop-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}
.k-imageeditor-crop .k-resize-handle {
  border-color: white;
  color: false;
  background-color: false;
}
.k-in,
.k-item {
  border-color: transparent;
}
a.k-icon {
  color: #444444;
}
a.k-icon:hover {
  color: #444444;
}
.k-button-icon .k-icon {
  opacity: 0.8;
}
.k-button-icon:hover .k-icon {
  opacity: 1;
}
.k-state-disabled .k-button-icon .k-icon,
.k-state-disabled.k-button-icon .k-icon {
  opacity: 0.8;
}
.k-splitbar .k-resize-handle {
  background-color: #444444;
}
.k-block,
.k-widget {
  background-color: #ffffff;
}
.k-block,
.k-widget,
.k-input,
.k-group,
.k-content,
.k-header,
.k-filter-row > th,
.k-separator,
.k-autocomplete,
.k-dropdown-wrap,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-state-default,
.k-state-default .k-select,
.k-state-disabled,
.k-grid-header,
.k-grid-header-wrap,
.k-grid-header-locked,
.k-grid-footer-locked,
.k-grid-content-locked,
.k-grid td,
.k-grid td.k-state-selected,
.k-grid-footer-wrap,
.k-grouping-header,
.k-grouping-header .k-group-indicator,
.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link,
.k-panelbar .k-panel,
.k-panelbar .k-content,
.k-toolbar,
.k-treemap-tile,
.k-slider-track,
.k-splitbar,
.k-dropzone-active,
.k-upload-files,
.k-upload .k-action-buttons,
.k-popup.k-align .k-list .k-item:last-child {
  border-color: #e6e6e6;
}
.k-group,
.k-grouping-header,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status,
.k-dropzone-hovered,
.k-popup {
  background-color: #3f51b5;
}
.k-grouping-row td,
td.k-group-cell,
.k-resize-handle-inner {
  background-color: #3f51b5;
}
.k-list-container {
  border-color: rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
.k-content,
.k-panelbar > li.k-item,
.k-panel > li.k-item {
  background-color: #ffffff;
}
.k-alt,
.k-separator,
.k-resource.k-alt,
.k-pivot-layout > tbody > tr:first-child > td:first-child {
  background-color: #f2f2f2;
}
.k-pivot-rowheaders .k-alt .k-alt,
.k-header.k-alt {
  background-color: #dedede;
}
.k-textbox,
.k-autocomplete.k-header,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active {
  border-color: #e6e6e6;
  background-color: #ffffff;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-textbox.k-state-focused,
.k-autocomplete.k-state-focused .k-input,
.k-dropdown-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-input,
.k-numeric-wrap.k-state-focused .k-input {
  border-color: #e6e6e6;
}
.k-input,
.k-textbox,
.k-textbox > input,
.k-multiselect-wrap {
  background-color: #ffffff;
  color: #444444;
}
.k-input-label {
  color: #444444;
}
.k-text-error {
  color: #f44336;
}
.k-input[readonly] {
  background-color: #ffffff;
  color: #444444;
}
.k-block,
.k-widget,
.k-popup,
.k-content,
.k-dropdown .k-input {
  color: #444444;
}
.k-inverse {
  color: #ffffff;
}
.k-block {
  color: #ffffff;
}
.k-link {
  color: #428bca;
}
.k-tabstrip-items .k-link {
  color: #444444;
}
.k-header,
.k-treemap-title,
.k-grid-header .k-header > .k-link {
  color: #ffffff;
}
.k-header,
.k-grid-header,
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap,
.k-grouping-header,
.k-progressbar,
.k-draghandle,
.k-autocomplete,
.k-state-highlight,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item {
  background-position: 50% 50%;
  background-color: #3f51b5;
}
.k-block,
.k-header,
.k-grid-header,
.k-grouping-header,
.k-draghandle,
.k-treemap-tile {
  background-color: #3f51b5;
}
.k-hr {
  border-color: #e6e6e6;
}
.k-icon:hover,
.k-state-hover .k-icon,
.k-state-selected .k-icon,
.k-state-focused .k-icon,
.k-column-menu .k-state-hover .k-sprite,
.k-column-menu .k-state-active .k-sprite {
  opacity: 1;
}
.k-state-disabled .k-icon,
.k-column-menu .k-sprite {
  opacity: 0.7;
}
.k-i-loading {
  background-image: url('https://kendo.cdn.telerik.com/2020.3.1021/styles/Material/loading.gif');
}
.k-loading-image {
  background-image: url('https://kendo.cdn.telerik.com/2020.3.1021/styles/Material/loading-image.gif');
}
.k-loading-color {
  background-color: #ebebeb;
}
.k-draghandle {
  border-color: #3f51b5;
  background-color: #3f51b5;
  box-shadow: none;
}
.k-draghandle:hover {
  border-color: #3f51b5;
  background-color: #3f51b5;
  box-shadow: 0 0 0 8px rgba(63, 81, 181, 0.3);
}
.k-drop-hint-line {
  background-color: #3f51b5;
}
.k-drop-hint-h .k-drop-hint-start {
  border-left-color: #3f51b5;
}
.k-drop-hint-h .k-drop-hint-end {
  border-right-color: #3f51b5;
}
.k-drop-hint-v .k-drop-hint-start {
  border-top-color: #3f51b5;
}
.k-drop-hint-v .k-drop-hint-end {
  border-bottom-color: #3f51b5;
}
.k-scheduler {
  color: #444444;
  background-color: #ffffff;
}
.k-scheduler-layout {
  color: #444444;
}
.k-scheduler-datecolumn,
.k-scheduler-groupcolumn {
  background-color: #ffffff;
  color: #444444;
}
.k-scheduler-times tr,
.k-scheduler-times th,
.k-scheduler-table td,
.k-scheduler-header th,
.k-scheduler-header-wrap,
.k-scheduler-times {
  border-color: #e6e6e6;
}
.k-scheduler-table .k-nonwork-hour,
.k-scheduler-dayview .k-today.k-nonwork-hour,
.k-scheduler-timelineview .k-today.k-nonwork-hour {
  background-color: #fafafa;
}
.k-gantt .k-nonwork-hour {
  background-color: rgba(0, 0, 0, 0.02);
}
.k-gantt .k-header.k-nonwork-hour {
  background-color: rgba(0, 0, 0, 0.2);
}
.k-scheduler-table .k-today,
.k-today > .k-scheduler-datecolumn,
.k-today > .k-scheduler-groupcolumn {
  background-color: #f5f5f5;
}
.k-scheduler-header .k-today {
  background: transparent;
}
table:not(.k-scheduler-dayview) .k-scheduler-header-wrap .k-today {
  color: #3f51b5;
}
.k-scheduler-now-arrow {
  border-left-color: #eed3d7;
}
.k-scheduler-now-line {
  background-color: #eed3d7;
}
.k-event,
.k-task-complete {
  border-color: #606fc7;
  background: #606fc7;
  color: #ffffff;
}
.k-event-inverse {
  color: #000000;
}
.k-event.k-state-selected {
  background-position: 0 0;
  box-shadow: 0 0 0 2px #444444;
}
.k-event .k-resize-handle:after,
.k-task-single .k-resize-handle:after {
  background-color: #ffffff;
}
.k-scheduler-marquee:before,
.k-scheduler-marquee:after {
  border-color: #ffffff;
}
.k-panelbar .k-content,
.k-panelbar .k-panel,
.k-panelbar .k-item {
  background-color: #ffffff;
  color: #444444;
  border-color: #e6e6e6;
}
.k-panelbar > .k-item > .k-link {
  color: #444444;
}
.k-panelbar > .k-item > .k-link {
  border-color: #e6e6e6;
}
.k-panel > li.k-item {
  background-color: #ffffff;
}
.k-state-active,
.k-state-active:hover,
.k-active-filter,
.k-tabstrip .k-state-active {
  background-color: #ffffff;
  border-color: #cccccc;
  color: #444444;
}
.k-fieldselector .k-list-container {
  background-color: #ffffff;
}
.k-menu .k-state-hover > .k-state-active {
  background-color: transparent;
}
.k-state-highlight {
  background: #ffffff;
  color: #444444;
}
.k-state-focused,
.k-grouping-row .k-state-focused {
  border-color: #67afe9;
}
.k-mediaplayer-toolbar .k-button.k-flat:active,
.k-mediaplayer-toolbar .k-button.k-flat.k-state-active,
.k-mediaplayer-toolbar .k-button.k-flat.k-state-active:hover {
  color: #3f51b5;
}
.k-mediaplayer-toolbar .k-button.k-flat:active:before,
.k-mediaplayer-toolbar .k-button.k-flat.k-state-active:before,
.k-mediaplayer-toolbar .k-button.k-flat.k-state-active:hover:before {
  opacity: 0.24;
}
.k-slider.k-mediaplayer-seekbar {
  top: -14px;
}
.k-quality-list {
  margin-left: -25px !important;
}
.k-calendar-container.k-group {
  border-color: rgba(0, 0, 0, 0.2);
}
.k-state-selected,
.k-state-selected:link,
.k-state-selected:visited,
.k-list > .k-state-selected,
.k-list > .k-state-highlight,
.k-panel > .k-state-selected,
.k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover,
.k-scheduler .k-today.k-state-selected,
.k-marquee-color,
.k-drag-clue.k-state-selected {
  color: #3f51b5;
  background-color: #ffffff;
  border-color: #ffffff;
}
.k-virtual-item.k-first,
.k-group-header + .k-list > .k-item.k-first,
.k-static-header + .k-list > .k-item.k-first {
  border-top-color: #ebebeb;
}
.k-group-header + div > .k-list > .k-item.k-first:before {
  border-top-color: #ebebeb;
}
.k-popup > .k-group-header,
.k-popup > .k-virtual-wrap > .k-group-header {
  background: #ebebeb;
  color: #3f51b5;
}
.k-popup .k-list .k-item > .k-group {
  background: #ebebeb;
  color: #3f51b5;
  border-bottom-left-radius: 1px;
}
.k-marquee-text {
  color: #3f51b5;
}
.k-state-focused,
.k-list > .k-state-focused,
.k-listview > .k-state-focused,
.k-listview > .k-state-focused.k-state-selected,
td.k-state-focused {
  box-shadow: inset 0 0 0 1px #808080;
}
.k-menu .k-item.k-state-default.k-state-focused {
  box-shadow: inset 0 0 0 1px #b3b3b3;
}
.k-state-focused.k-state-selected,
.k-list > .k-state-focused.k-state-selected,
td.k-state-focused.k-state-selected {
  box-shadow: none;
}
.k-list-optionlabel.k-state-selected.k-state-focused {
  box-shadow: none;
}
.k-state-selected > .k-link,
.k-panelbar > .k-item > .k-state-selected,
.k-panelbar .k-group .k-item > .k-state-selected {
  color: #3f51b5;
}
.k-state-hover,
.k-splitbar-horizontal-hover,
.k-splitbar-vertical-hover,
.k-list > .k-state-hover,
.k-dropdown .k-state-focused,
.k-filebrowser-dropzone {
  color: #444444;
  background-color: #ebebeb;
  border-color: #ebebeb;
}
.k-state-hover > .k-select,
.k-state-focused > .k-select {
  border-color: #ebebeb;
}
.k-state-hover,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em,
.k-draghandle:hover,
.k-listbox .k-item:hover:not(.k-state-disabled) {
  background-image: none;
}
.k-pager-wrap {
  border-color: #e6e6e6;
  color: #444444;
  background-color: #fafafa;
}
.k-pager-wrap .k-link {
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
}
.k-pager-wrap .k-link:hover {
  color: #444444;
}
.k-pager-wrap .k-link.k-state-disabled {
  color: #999999;
}
.k-pager-wrap .k-pager-numbers .k-link {
  color: #444444;
}
.k-pager-wrap .k-pager-numbers .k-link:hover {
  border-top-color: #e6e6e6;
}
.k-pager-wrap .k-pager-numbers .k-state-selected,
.k-pager-wrap .k-pager-numbers .k-state-selected:hover {
  border-top-color: #3f51b5;
  color: #3f51b5;
}
.k-pager-wrap .k-pager-info {
  color: #999999;
}
.k-pager-wrap .k-dropdown {
  color: #444444;
}
.k-autocomplete.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active,
.k-dropdown-wrap.k-state-active,
.k-state-active,
.k-state-active:hover,
.k-state-active > .k-link,
.k-panelbar > .k-item > .k-state-focused {
  background-image: none;
}
.k-state-selected,
.k-draghandle.k-state-selected:hover {
  background-image: none;
}
.k-draghandle.k-state-selected:hover {
  background-position: 50% 50%;
}
.k-state-hover > .k-link,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em {
  color: #444444;
}
.k-autocomplete.k-state-hover,
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-hover,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-hover,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-hover,
.k-dropdown-wrap.k-state-focused {
  background-color: #ffffff;
  background-image: none;
  background-position: 50% 50%;
  border-color: #ebebeb;
}
.k-dropdown .k-state-focused .k-input {
  color: #444444;
}
.k-dropdown .k-state-hover .k-input {
  color: #444444;
}
.k-state-error {
  border-color: #eed3d7;
  background-color: #f2dede;
  color: #b94a48;
}
.k-state-disabled {
  opacity: 0.6;
}
.k-loading-mask.k-state-selected {
  border-width: 0;
  background-image: none;
  background-color: transparent;
}
.k-state-disabled,
.k-state-disabled .k-link,
.k-other-month,
.k-other-month .k-link,
.k-dropzone em,
.k-dropzone .k-upload-status,
.k-slider .k-draghandle {
  color: #999999;
}
.k-file .k-upload-status {
  color: #444444;
}
.k-progressbar-indeterminate {
  background: url('https://kendo.cdn.telerik.com/2020.3.1021/styles/Material/indeterminate.gif');
}
.k-progressbar-indeterminate .k-progress-status-wrap,
.k-progressbar-indeterminate .k-state-selected {
  display: none;
}
.k-slider-track {
  background-color: #e6e6e6;
}
.k-slider-selection {
  background-color: #ffffff;
}
.k-slider-horizontal .k-tick {
  background-image: url('https://kendo.cdn.telerik.com/2020.3.1021/styles/Material/slider-h.gif');
}
.k-slider-vertical .k-tick {
  background-image: url('https://kendo.cdn.telerik.com/2020.3.1021/styles/Material/slider-v.gif');
}
.k-chart-crosshair-tooltip,
.k-chart-shared-tooltip {
  border-color: rgba(100, 100, 100, 0.9);
  background-color: rgba(100, 100, 100, 0.9);
  color: #ffffff;
}
.k-splitbar {
  background-color: #fafafa;
}
.k-restricted-size-vertical,
.k-restricted-size-horizontal {
  background-color: #b94a48;
}
.k-file {
  background-color: #ffffff;
  border-color: #e6e6e6;
}
.k-file:last-child {
  border-radius: 0 0 2px 2px;
}
.k-file-progress .k-progress {
  background-color: #2196f3;
}
.k-file-success .k-file-validation-message,
.k-file-success .k-upload-pct {
  color: #4caf50;
}
.k-file-success .k-progress {
  background-color: #4caf50;
}
.k-file-error .k-file-validation-message,
.k-file-invalid .k-file-validation-message,
.k-file-error .k-upload-pct,
.k-file-invalid .k-upload-pct {
  color: #f44336;
}
.k-file-error .k-progress,
.k-file-invalid .k-progress {
  background-color: #f44336;
}
.k-file-extension-wrapper,
.k-multiple-files-extension-wrapper,
.k-file-group-wrapper,
.k-multiple-files-group-wrapper,
.k-file-invalid-group-wrapper {
  color: #999999;
  border-color: #999999;
}
.k-file-extension-wrapper:before,
.k-multiple-files-extension-wrapper:before {
  background-color: #ffffff;
  border-color: transparent transparent #999999 #999999;
}
.k-multiple-files-extension-wrapper:after {
  border-top-color: #999999;
  border-left-color: #999999;
}
.k-file-size,
.k-file-information,
.k-file-validation-message {
  color: #999999;
}
.k-textbox:hover {
  border-color: #ebebeb;
}
.k-leaf,
.k-leaf.k-state-hover {
  color: #fff;
}
.k-leaf.k-inverse,
.k-leaf.k-inverse.k-state-hover {
  color: #000;
}
.k-slider,
.k-treeview,
.k-upload,
.k-rating,
.k-breadcrumb {
  box-shadow: none;
}
.k-state-hover {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
.k-textbox:focus,
.k-textbox.k-state-focused,
.k-autocomplete.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.k-state-selected {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.k-state-active {
  box-shadow: none;
}
.k-grid td.k-state-selected.k-state-focused {
  background-color: #ffffff;
}
.k-popup,
.k-menu .k-menu-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar,
.k-autocomplete.k-state-border-down,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-multiselect-wrap.k-state-focused,
.k-state-focused > .k-multiselect-wrap,
.k-filebrowser .k-image {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.k-calendar-container.k-popup {
  box-shadow: 0 0px 6px 1px rgba(0, 0, 0, 0.2);
}
.k-treemap-tile.k-state-hover {
  box-shadow: inset 0 0 0 3px #e6e6e6;
}
.k-shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.k-inset {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}
.k-editor-inline ::selection {
  background-color: #3f51b5;
  text-shadow: none;
  color: #fff;
}
.k-editor-inline ::-moz-selection {
  background-color: #3f51b5;
  text-shadow: none;
  color: #fff;
}
.k-window-content.editorToolbarWindow {
  color: #444444;
  background-color: #f5f5f5;
}
.k-notification {
  border-radius: 2px;
}
.k-notification-info {
  background-color: #2196f3;
  color: #ffffff;
  border-color: #2196f3;
}
.k-notification-success {
  background-color: #4caf50;
  color: #ffffff;
  border-color: #4caf50;
}
.k-notification-warning {
  background-color: #ff9800;
  color: #000000;
  border-color: #ff9800;
}
.k-notification-error {
  background-color: #f44336;
  color: #ffffff;
  border-color: #f44336;
}
.k-gantt .k-treelist {
  background: #f2f2f2;
}
.k-gantt .k-treelist .k-alt {
  background-color: #d9d9d9;
}
.k-gantt .k-treelist tr:hover {
  background-color: #ebebeb;
}
.k-gantt .k-treelist tr.k-state-selected,
.k-gantt .k-treelist tr.k-state-selected td,
.k-gantt .k-treelist tr.k-alt.k-state-selected,
.k-gantt .k-treelist tr.k-alt.k-state-selected > td {
  background-color: #ffffff;
}
.k-gantt .k-treelist .k-alt.k-state-selected:hover,
.k-gantt .k-treelist .k-alt.k-state-selected:hover td {
  background-color: #00a2eb;
}
.k-task-dot:after {
  background-color: #444444;
  border-color: #444444;
}
.k-task-dot:hover:after {
  background-color: #ffffff;
}
.k-task-summary {
  border-color: #98a2db;
  background: #98a2db;
}
.k-task-milestone,
.k-task-summary-complete {
  border-color: #444444;
  background: #444444;
}
.k-state-selected.k-task-summary {
  border-color: #98a2db;
  background: #98a2db;
}
.k-state-selected.k-task-milestone,
.k-state-selected .k-task-summary-complete {
  border-color: #ffffff;
  background: #ffffff;
}
.k-task-single {
  background-color: #7a87d1;
  border-color: #606fc7;
  color: #ffffff;
}
.k-state-selected.k-task-single {
  border-color: #ffffff;
}
.k-gantt-line {
  background-color: #444444;
  color: #444444;
}
.k-state-selected.k-gantt-line {
  background-color: #ffffff;
  color: #ffffff;
}
.k-resource {
  background-color: #ffffff;
}
.k-block,
.k-textbox,
.k-drag-clue,
.k-touch-scrollbar,
.k-inline-block,
.k-grid .k-filter-options,
.k-grouping-header .k-group-indicator,
.k-autocomplete,
.k-multiselect,
.k-combobox,
.k-dropdown,
.k-dropdown-wrap,
.k-datepicker,
.k-timepicker,
.k-colorpicker,
.k-datetimepicker,
.k-numerictextbox,
.k-picker-wrap,
.k-numeric-wrap,
.k-list-container,
.k-calendar-container,
.k-treeview .k-in,
.k-editor-inline,
.k-slider-track,
.k-slider-selection,
.k-upload {
  border-radius: 2px;
}
.k-calendar-container.k-state-border-up,
.k-list-container.k-state-border-up,
.k-autocomplete.k-state-border-up,
.k-multiselect.k-state-border-up,
.k-dropdown-wrap.k-state-border-up,
.k-picker-wrap.k-state-border-up,
.k-numeric-wrap.k-state-border-up,
.k-filter-menu {
  border-radius: 0 0 2px 2px;
}
.k-autocomplete.k-state-border-up .k-input,
.k-dropdown-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-selected-color,
.k-numeric-wrap.k-state-border-up .k-input {
  border-radius: 0 0 0 2px;
}
.k-multiselect.k-state-border-up .k-multiselect-wrap {
  border-radius: 0 0 2px 2px;
}
.k-block > .k-header,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.k-tabstrip-items .k-link,
.k-calendar-container.k-state-border-down,
.k-list-container.k-state-border-down,
.k-autocomplete.k-state-border-down,
.k-multiselect.k-state-border-down,
.k-dropdown-wrap.k-state-border-down,
.k-picker-wrap.k-state-border-down,
.k-numeric-wrap.k-state-border-down {
  border-radius: 2px 2px 0 0;
}
.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input {
  border-radius: 1px 0 0 1px;
}
.k-rtl .k-dropdown-wrap .k-input,
.k-rtl .k-picker-wrap .k-input,
.k-rtl .k-numeric-wrap .k-input {
  border-radius: 0 1px 1px 0;
}
.k-numeric-wrap .k-link {
  border-radius: 0 1px 0 0;
}
.k-numeric-wrap .k-link + .k-link {
  border-radius: 0 0 1px 0;
}
.k-colorpicker .k-selected-color {
  border-radius: 1px 0 0 1px;
}
.k-rtl .k-colorpicker .k-selected-color {
  border-radius: 0 1px 1px 0;
}
.k-autocomplete.k-state-border-down .k-input {
  border-radius: 2px 2px 0 0;
}
.k-dropdown-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-selected-color,
.k-numeric-wrap.k-state-border-down .k-input {
  border-radius: 2px 0 0 0;
}
.k-numeric-wrap .k-link.k-state-selected {
  background-color: #ebebeb;
}
.k-multiselect.k-state-border-down .k-multiselect-wrap {
  border-radius: 1px 1px 0 0;
}
.k-dropdown-wrap .k-select,
.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-datetimepicker .k-select + .k-select,
.k-list-container.k-state-border-right {
  border-radius: 0 2px 2px 0;
}
.k-rtl .k-dropdown-wrap .k-select,
.k-rtl .k-picker-wrap .k-select,
.k-rtl .k-numeric-wrap .k-select,
.k-rtl .k-datetimepicker .k-select + .k-select,
.k-rtl .k-list-container.k-state-border-right {
  border-radius: 2px 0 0 2px;
}
.k-numeric-wrap.k-expand-padding .k-input {
  border-radius: 2px;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-multiselect-wrap {
  border-radius: 1px;
}
.k-list .k-state-hover,
.k-list .k-state-focused,
.k-list .k-state-highlight,
.k-list .k-state-selected,
.k-fieldselector .k-list .k-item,
.k-list-optionlabel,
.k-dropzone,
.k-listbox .k-item {
  border-radius: 1px;
}
.k-slider .k-button,
.k-grid .k-slider .k-button {
  border-radius: 13px;
}
.k-draghandle {
  border-radius: 13px;
}
.k-more-events,
.k-event,
.k-task-single,
.k-task-complete,
.k-event .k-link {
  border-radius: 1px;
}
.k-scheduler-mobile .k-event {
  border-radius: 0px;
}
.k-autocomplete,
.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-dropdown-wrap.k-state-default {
  background-position: 50% 50%;
  color: #444444;
  background-color: #fafafa;
  border-color: #f0f0f0;
}
.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover {
  background-color: #ffffff;
  background-image: none;
  background-position: 50% 50%;
  border-color: #f5f5f5;
}
.k-multiselect-wrap {
  border-color: #f0f0f0;
}
.k-multiselect-wrap.k-state-hover,
.k-state-hover > .k-multiselect-wrap,
.k-multiselect-wrap.k-state-hover {
  border-color: #f5f5f5;
  background-color: #ffffff;
  color: #444444;
}
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-multiselect.k-header.k-state-focused {
  background-color: #ffffff;
  background-image: none;
  background-position: 50% 50%;
  border-color: #f5f5f5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.k-multiselect-wrap.k-state-focused,
.k-state-focused > .k-multiselect-wrap {
  border-color: #f5f5f5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.k-list-container {
  color: #444444;
}
.k-nodata {
  color: #999999;
}
.k-dropdown .k-input,
.k-dropdown .k-state-focused .k-input,
.k-menu .k-popup {
  color: #444444;
}
.k-state-default > .k-select {
  border-color: #f0f0f0;
}
.k-state-focused > .k-select {
  border-color: #f5f5f5;
}
.k-state-hover > .k-select {
  border-color: #f5f5f5;
}
.k-tabstrip:focus {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.k-tabstrip-items .k-item .k-link {
  color: #ffffff;
}
.k-tabstrip-items .k-state-hover .k-link,
.k-panelbar > li.k-state-hover > .k-link,
.k-panelbar .k-group > li > .k-link.k-state-hover {
  color: #444444;
}
.k-panelbar > li > .k-state-focused.k-state-hover {
  background: #ebebeb;
  box-shadow: none;
}
.k-tabstrip-items .k-state-default,
.k-panelbar .k-tabstrip-items .k-state-default {
  border-color: transparent;
}
.k-tabstrip-items .k-state-hover {
  border-color: #ebebeb;
}
.k-tabstrip .k-content.k-state-active {
  background-color: #ffffff;
  color: #444444;
}
.k-menu.k-header,
.k-menu .k-item {
  border-color: #e6e6e6;
}
.k-column-menu,
.k-column-menu .k-item {
  border-color: #e6e6e6;
}
.k-column-menu .k-separator {
  border-color: #e6e6e6;
  background-color: transparent;
}
.k-menu .k-group {
  border-color: rgba(0, 0, 0, 0.2);
}
.k-grid-filter.k-state-active {
  background-color: #ffffff;
}
.k-grouping-row td,
.k-group-footer td,
.k-grid-footer td {
  color: #ffffff;
  border-color: #e6e6e6;
  font-weight: bold;
}
.k-grouping-header {
  color: #ffffff;
}
.k-header,
.k-grid-header-wrap,
.k-grid .k-grouping-header,
.k-grid-header,
.k-grouping-header .k-group-indicator,
.k-gantt-toolbar .k-state-default {
  border-color: #e6e6e6;
}
.k-button-group {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}
.k-button-group.k-state-disabled {
  box-shadow: none;
}
.k-button-group .k-button {
  box-shadow: none;
}
.k-toolbar .k-button {
  box-shadow: none;
}
.k-toolbar .k-button-group {
  box-shadow: none;
}
.k-treeview .k-in {
  border-color: transparent;
}
.k-treeview .k-icon,
.k-scheduler-table .k-icon,
.k-grid .k-hierarchy-cell .k-icon {
  background-color: transparent;
  border-radius: 2px;
}
.k-scheduler-table .k-state-hover .k-icon {
  background-color: transparent;
}
.k-splitbar.k-splitbar-horizontal-hover .k-icon,
.k-splitbar.k-splitbar-vertical-hover .k-icon,
div.k-splitbar.k-state-focused .k-icon,
.k-textbox:hover > .k-icon,
.k-grouping-header .k-i-delete,
.k-grouping-header .k-button-icon:hover > .k-icon.k-i-delete,
.k-grouping-header .k-i-delete,
.k-grouping-header .k-button-icon:hover > .k-icon.k-i-delete,
.k-grouping-header .k-i-arrow-60-up,
.k-grouping-header .k-link:hover > .k-icon.k-i-arrow-60-up,
.k-grouping-header .k-i-arrow-60-up,
.k-grouping-header .k-link:hover > .k-icon.k-i-arrow-60-up,
.k-grouping-header .k-i-arrow-60-down,
.k-grouping-header .k-link:hover > .k-icon.k-i-arrow-60-down,
.k-grouping-header .k-i-arrow-60-down,
.k-grouping-header .k-link:hover > .k-icon.k-i-arrow-60-down,
.k-grid-toolbar .k-i-file-pdf,
.k-grid-toolbar .k-button:hover > .k-i-file-pdf,
.k-grid-toolbar .k-i-file-excel,
.k-grid-toolbar .k-button:hover > .k-i-file-excel,
.k-grid-toolbar .k-icon,
.k-scheduler-content .k-icon,
.k-gantt-toolbar .k-icon,
.k-field-actions .k-icon,
.k-notification .k-icon,
.k-pivot-configurator-settings .k-icon:hover {
  opacity: 1;
}
.k-splitbar .k-icon,
.k-pivot-configurator-settings .k-icon {
  opacity: 0.7;
}
.k-button,
.k-header {
  font-weight: 500;
}
.k-dropdown .k-state-default {
  border-color: #f5f5f5;
  background-position: 50% 50%;
  background-color: #f5f5f5;
}
.k-dropdown,
span.k-colorpicker {
  background-color: #f5f5f5;
}
.k-textbox {
  background-color: #fafafa;
  border-color: #f0f0f0;
}
.k-combobox,
.k-datepicker,
.k-timepicker,
.k-datetimepicker,
.k-combobox .k-input,
.k-datepicker .k-input,
.k-timepicker .k-input,
.k-datetimepicker .k-input {
  background-color: #fafafa;
}
.k-picker-wrap.k-state-default > .k-select {
  border-color: #fafafa;
}
.k-autocomplete.k-state-active .k-input,
.k-picker-wrap.k-state-active .k-input,
.k-numeric-wrap.k-state-active .k-input {
  background-color: #ffffff;
}
.k-picker-wrap.k-state-hover > .k-select,
.k-picker-wrap.k-state-focused > .k-select {
  border-color: #ffffff;
}
.k-picker-wrap.k-state-hover .k-input,
.k-picker-wrap.k-state-focused .k-input {
  background-color: #ffffff;
}
.k-textbox:hover,
.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover {
  background-color: #ffffff;
  border-color: #f5f5f5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.k-maskedtextbox.k-state-disabled > .k-textbox:hover,
.k-dateinput.k-state-disabled > .k-textbox:hover {
  border-color: #f0f0f0;
  box-shadow: none;
}
.k-textbox:focus,
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-multiselect.k-header.k-state-focused {
  background-color: #ebebeb;
  background-image: none;
  background-position: 50% 50%;
  border-color: #ebebeb;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.k-numeric-wrap.k-state-focused > .k-select {
  background-color: #ebebeb;
}
.k-textbox:focus,
.k-autocomplete.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active,
.k-dropdown-wrap.k-state-active,
.k-multiselect.k-header.k-state-active {
  background-color: #ffffff;
  background-image: none;
  background-position: 50% 50%;
  border-color: #f5f5f5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.k-autocomplete.k-state-disabled,
.k-picker-wrap.k-state-disabled,
.k-numeric-wrap.k-state-disabled,
.k-numeric-wrap.k-state-disabled .k-input,
.k-numeric-wrap.k-state-disabled .k-select,
.k-dropdown-wrap.k-state-disabled,
.k-multiselect.k-header.k-state-disabled {
  background-color: #fafafa;
}
.k-numeric-wrap.k-state-disabled .k-select {
  border-color: #fafafa;
}
.k-numerictextbox .k-select {
  background-color: #ffffff;
  border-color: #ffffff;
}
.k-list > .k-state-selected.k-state-focused {
  box-shadow: none;
  color: #3f51b5;
}
.k-list > .k-state-selected {
  box-shadow: none;
}
.k-list > .k-state-focused {
  border-color: transparent;
  box-shadow: none;
}
.k-list > .k-state-hover,
.k-list > .k-state-selected.k-state-hover {
  background-color: #ebebeb;
  border-color: #ebebeb;
}
.k-list-container {
  border-color: #ebebeb;
}
.k-grid td.k-state-focused.k-state-selected {
  box-shadow: inset 0 0 0 1px #808080;
}
.k-tabstrip > .k-tabstrip-items > .k-item {
  border-radius: 0;
}
.k-tabstrip-items .k-state-active,
.k-panelbar .k-tabstrip-items .k-state-active {
  background-color: #3f51b5;
  background-image: none;
  border-bottom-color: #00b0ff;
}
.k-tabstrip .k-content.k-state-active {
  border-color: transparent;
}
.k-tabstrip-items .k-item.k-state-hover {
  background: #5c6dc4;
  border-color: #5c6dc4;
}
.k-tabstrip-items .k-state-hover .k-link {
  color: #ffffff;
}
.k-group,
.k-flatcolorpicker.k-group,
.k-menu,
.k-menu .k-group,
.k-popup.k-widget.k-context-menu {
  color: #444444;
  background-color: #ffffff;
}
.k-menu .k-group,
.k-popup.k-context-menu.k-group {
  border-color: #e6e6e6;
}
.k-menu.k-header,
.k-menu .k-item,
.k-widget.k-menu-horizontal > .k-item {
  box-shadow: none;
}
.k-menu .k-state-active,
.k-popup.k-context-menu.k-group .k-state-hover {
  background-color: #ebebeb;
  border-color: #ebebeb;
}
.k-grid .k-header .k-button {
  color: #ffffff;
  background-color: #3f51b5;
  border-color: #3f51b5;
  box-shadow: none;
}
.k-grid .k-header .k-button:hover {
  background-color: #5c6dc4;
  border-color: #5c6dc4;
}
.k-scheduler-mark {
  border-radius: 50%;
}
.k-grid .k-alt {
  background-color: #ffffff;
}
.k-grouping-row td,
td.k-group-cell,
.k-resize-handle-inner,
.k-grid .k-state-selected:hover .k-group-cell {
  color: #444444;
  background-color: #f2f2f2;
}
.k-grouping-header .k-group-indicator,
.k-pivot-toolbar .k-button {
  color: #ffffff;
  background-color: #32408f;
  border-color: #32408f;
  box-shadow: none;
}
.k-grid-header,
.k-grid-header .k-header,
.k-grid-footer,
.k-grid-footer td {
  color: #444444;
  background-color: #fafafa;
}
.k-header,
.k-grid-header-wrap,
.k-grid .k-grouping-header,
.k-grid-header,
.k-gantt-toolbar .k-state-default,
.k-grouping-row td,
.k-group-footer td,
.k-grid-footer td {
  border-color: #e6e6e6;
}
.k-group-footer td,
.k-footer-template td,
.k-fieldselector .k-item.k-header {
  color: #444444;
  background-color: #f2f2f2;
}
.k-grid .k-grouping-header {
  color: rgba(255, 255, 255, 0.5);
}
.k-grouping-header .k-link,
.k-grouping-header .k-link:link {
  color: #ffffff;
}
.k-scheduler-layout .k-state-selected,
.k-scheduler .k-today.k-state-selected,
.k-grid tr.k-state-selected,
.k-grid td.k-state-selected,
.k-grid td.k-state-selected.k-state-focused,
.k-marquee-color,
.k-gantt .k-treelist tr.k-state-selected,
.k-gantt .k-treelist tr.k-state-selected td,
.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td,
.k-listview > .k-state-selected,
.k-state-selected.k-gantt-line {
  background-color: #00b0ff;
}
.k-state-selected.k-gantt-line {
  color: #00b0ff;
}
.k-grid tr.k-state-selected,
.k-grid td.k-state-selected,
.k-listview > .k-state-selected,
.k-state-selected .k-progress-status {
  color: #ffffff;
}
.k-grid tr:hover {
  background-color: #ebebeb;
}
.k-grid .k-filter-row:hover,
.k-pivot-rowheaders .k-grid tr:hover {
  background: none;
}
.k-grid td.k-state-selected,
.k-grid tr.k-state-selected > td {
  border-color: #008dcc;
}
.k-grid td.k-state-selected:hover,
.k-grid tr.k-state-selected:hover td {
  background-color: #00a2eb;
}
.k-grid-header .k-header .k-link,
.k-grid-header .k-header,
.k-grid-header .k-link,
.k-grid-header .k-link:link,
.k-scheduler-header,
.k-scheduler-agendaview .k-scheduler-datecolumn {
  color: #999999;
}
.k-grid .k-header .k-grid-search {
  background: none;
  background-color: #ffffff;
  color: #444444;
}
.k-gantt .k-task-draghandle {
  border-color: #00b0ff;
}
.k-gantt-toolbar li:first-child,
.k-gantt-toolbar li:first-child > .k-link,
.k-gantt-toolbar li:last-child,
.k-gantt-toolbar li:last-child > .k-link {
  border-radius: 0;
}
.k-grid,
.k-panelbar,
.k-notification,
.k-popup .k-textbox:focus,
.k-popup .k-autocomplete.k-state-focused,
.k-popup .k-picker-wrap.k-state-focused,
.k-popup .k-numeric-wrap.k-state-focused,
.k-popup .k-dropdown-wrap.k-state-focused,
.k-popup .k-multiselect.k-header.k-state-focused,
.k-popup .k-textbox:hover,
.k-popup .k-autocomplete.k-state-hover,
.k-popup .k-picker-wrap.k-state-hover,
.k-popup .k-numeric-wrap.k-state-hover,
.k-popup .k-dropdown-wrap.k-state-hover {
  box-shadow: none;
}
.k-panelbar,
.k-panelbar .k-header,
.k-panelbar .k-content,
.k-panel > li.k-item,
.k-panelbar .k-state-selected {
  background-color: #fafafa;
}
.k-panelbar .k-grid-toolbar {
  background-color: #3f51b5;
}
.k-panelbar > li > .k-state-hover {
  background-color: #ebebeb;
}
.k-panelbar > .k-item > .k-link,
.k-panelbar.k-header,
.k-panelbar .k-content,
.k-panelbar .k-panel,
.k-panelbar .k-item {
  border-color: #e6e6e6;
}
.k-splitbar {
  border-color: #f5f5f5;
}
.k-splitbar.k-state-focused {
  background-color: #3f51b5;
  border-color: #3f51b5;
  box-shadow: none;
}
.k-upload {
  color: #444444;
  background-color: #ffffff;
}
.k-upload .k-upload-button,
.k-upload-files .k-button {
  box-shadow: none;
}
.k-task-milestone,
.k-task-summary-complete,
.k-state-selected.k-task-milestone,
.k-state-selected .k-task-summary-complete {
  background-color: #3f51b5;
  border-color: #3f51b5;
}
.k-task-single {
  background-color: #66d0ff;
}
.k-task-complete {
  background: #00b0ff;
}
.k-treelist tr.k-state-selected,
.k-treelist tr.k-state-selected td,
.k-treelist tr.k-alt.k-state-selected,
.k-treelist tr.k-alt.k-state-selected > td {
  background-color: #00b0ff;
  border-color: #00b0ff;
}
.k-multiselect .k-button:focus:active:not(.k-state-disabled):not([disabled]),
.k-group-indicator .k-button,
.k-group-indicator .k-button:focus:active:not(.k-state-disabled):not([disabled]),
.k-group-indicator .k-button:focus:not(.k-state-disabled):not([disabled]),
.k-gantt-toolbar .k-button:focus:not(.k-state-disabled):not([disabled]),
.k-gantt-toolbar .k-button:focus:active:not(.k-state-disabled):not([disabled]) {
  box-shadow: none;
}
.k-multiselect:not(.k-state-disabled) .k-button:active:hover {
  color: #444444;
  background-color: #d6d6d6;
  border-color: #d6d6d6;
}
.k-multiselect-wrap > ul > .k-button {
  box-shadow: none;
}
.k-filebrowser .k-header {
  color: #444444;
}
.k-treeview .k-state-selected,
.k-treeview .k-state-focused,
.k-panelbar > li > .k-state-focused {
  box-shadow: none;
}
.k-treeview .k-state-focused,
.k-panelbar > li > .k-state-focused {
  background-color: #ebebeb;
}
.k-progressbar {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}
.k-progressbar .k-item,
.k-progressbar .k-item.k-state-selected {
  border-color: #ffffff;
}
.k-progressbar .k-state-selected {
  background-color: #3f51b5;
  border-color: #3f51b5;
}
.k-grid.k-alt {
  background-color: #fafafa;
}
.k-gantt .k-treelist .k-alt,
.k-gantt .k-header.k-nonwork-hour {
  background-color: #f2f2f2;
}
.k-list > .k-state-hover,
.k-list > .k-state-focused {
  color: #444444;
  background-color: #ebebeb;
  border-color: #ebebeb;
}
.k-slider-track {
  background-color: #e6e6e6;
  box-shadow: none;
}
.k-slider-selection {
  background-color: #3f51b5;
  border-color: #3f51b5;
}
.k-slider .k-button,
.k-slider .k-button.k-state-hover,
.k-slider .k-button:active:hover,
.k-slider .k-button:focus,
.k-slider .k-button:active {
  background: none;
  border: none;
  box-shadow: none;
}
.k-draghandle,
.k-flatcolorpicker .k-slider-horizontal .k-slider-track {
  box-shadow: none;
}
.k-flatcolorpicker .k-hue-slider .k-draghandle,
.k-flatcolorpicker .k-transparency-slider .k-draghandle {
  border-color: #3f51b5;
  background-color: #3f51b5;
  box-shadow: none;
}
.k-flatcolorpicker .k-hue-slider .k-draghandle:hover,
.k-flatcolorpicker .k-transparency-slider .k-draghandle:hover {
  border-color: #3f51b5;
  background-color: #3f51b5;
  box-shadow: 0 0 0 8px rgba(63, 81, 181, 0.3);
}
.k-draghandle.k-state-selected,
.k-draghandle.k-state-selected:link,
.k-draghandle.k-state-selected:hover,
.k-flatcolorpicker .k-hue-slider .k-draghandle.k-state-selected,
.k-flatcolorpicker .k-transparency-slider .k-draghandle.k-state-selected {
  background-color: #cccccc;
  border-color: #cccccc;
}
.k-draghandle.k-state-focused,
.k-draghandle.k-state-focused:link,
.k-flatcolorpicker .k-hue-slider .k-draghandle.k-state-focused,
.k-flatcolorpicker .k-transparency-slider .k-draghandle.k-state-focused {
  box-shadow: none;
  border-color: #3f51b5;
  background-color: #3f51b5;
}
.k-edit-buttons {
  background-color: #fafafa;
}
.k-popup .k-button,
.k-popup .k-button:active:hover {
  box-shadow: none;
}
.k-edit-form-container .k-button,
.k-popup .k-button,
.k-popup .k-primary:active,
.k-popup .k-primary:active:hover,
.k-edit-form-container .k-primary:active {
  color: #444444;
  background-color: #fafafa;
  border-color: #fafafa;
  box-shadow: none;
}
.k-popup .k-primary,
.k-edit-form-container .k-primary {
  color: #00b0ff;
  background-color: #fafafa;
  border-color: #fafafa;
}
.k-filter-menu .k-button {
  background: transparent;
  border-color: transparent;
}
.k-filter-menu .k-primary {
  border-left-color: #f0f0f0;
}
.k-filter-menu > div > div:last-child {
  border-color: #f0f0f0;
}
.k-popup .k-button:focus:active:not(.k-state-disabled):not([disabled]),
.k-edit-form-container .k-button:focus:active:not(.k-state-disabled):not([disabled]) {
  box-shadow: none;
}
.k-edit-form-container .k-scheduler-delete {
  color: #00b0ff;
}
div.k-scheduler-marquee:before,
div.k-scheduler-marquee:after {
  border-color: #00b0ff;
}
.k-popup.k-context-menu {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.k-drag-clue {
  color: #444444;
  background-color: #ebebeb;
  border-color: #ebebeb;
  box-shadow: inset 0 0 0 1px #808080;
}
.k-popup > .k-group-header,
.k-popup > .k-virtual-wrap > .k-group-header {
  color: #444444;
}
.k-popup .k-item > .k-group {
  color: #444444;
}
.k-chart .k-mask {
  background-color: #ffffff;
  filter: alpha(opacity=68);
  opacity: 0.68;
}
.k-chart .k-selection {
  border-color: #e5e5e5;
}
.k-chart .k-handle {
  width: 15px;
  height: 15px;
  background-color: #3f51b5;
  border-radius: 10px;
}
.k-chart .k-left-handle {
  left: -8px;
}
.k-chart .k-right-handle {
  right: -8px;
}
.k-chart .k-handle:hover {
  background-color: #00b0ff;
  border-color: #00b0ff;
}
.k-chart .k-navigator-hint .k-tooltip {
  border: 3px solid #ffffff;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  color: #242424;
}
.k-chart .k-navigator-hint .k-scroll {
  background: #3f51b5;
  height: 4px;
}
.k-map {
  border-color: #e6e6e6;
  color: #444444;
  background-color: #ffffff;
}
.k-map .k-navigator {
  border-color: #f5f5f5;
  color: #444444;
  background-color: #f5f5f5;
  background-position: 50% 50%;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}
.k-map .k-navigator .k-button {
  box-shadow: none;
}
.k-map .k-marker {
  color: #3f51b5;
}
.k-spreadsheet-row-header,
.k-spreadsheet-column-header {
  background-color: #ffffff;
}
.k-spreadsheet-top-corner,
.k-spreadsheet-row-header,
.k-spreadsheet-column-header {
  background-color: #ffffff;
  background-image: none;
  color: #000000;
  border-color: #cccccc;
}
.k-spreadsheet-top-corner {
  border-color: #cccccc;
}
.k-spreadsheet-top-corner:after {
  border-color: transparent #cccccc #cccccc transparent;
}
.k-spreadsheet-pane {
  border-color: #cccccc;
}
.k-spreadsheet-pane .k-spreadsheet-vaxis,
.k-spreadsheet-pane .k-spreadsheet-haxis {
  border-color: #e6e6e6;
}
.k-spreadsheet-pane .k-spreadsheet-column-header,
.k-spreadsheet-pane .k-spreadsheet-row-header {
  border-color: #cccccc;
}
.k-spreadsheet-pane .k-spreadsheet-merged-cell {
  background-color: #ffffff;
}
.k-spreadsheet-pane .k-selection-partial,
.k-spreadsheet-pane .k-selection-full {
  border-color: rgba(0, 176, 255, 0.2);
  background-color: rgba(0, 176, 255, 0.2);
}
.k-spreadsheet-pane .k-filter-range {
  border-color: #00b0ff;
}
.k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-partial,
.k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-full {
  border-bottom-color: #00b0ff;
}
.k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-partial,
.k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-full {
  border-right-color: #00b0ff;
}
.k-auto-fill,
.k-spreadsheet-selection {
  border-color: #00b0ff;
  box-shadow: inset 0 0 0 1px #00b0ff;
}
.k-spreadsheet-selection {
  background-color: rgba(0, 176, 255, 0.2);
}
.k-spreadsheet-active-cell {
  box-shadow: inset 0 0 0 1px #00b0ff;
  background-color: #ffffff;
}
.k-spreadsheet-active-cell.k-right {
  box-shadow: inset 0 0 0 1px #00b0ff, inset -1px 0 0 1px #00b0ff;
}
.k-spreadsheet-active-cell.k-bottom {
  box-shadow: inset 0 0 0 1px #00b0ff, inset 0 -1px 0 1px #00b0ff;
}
.k-spreadsheet-active-cell.k-bottom.k-right {
  box-shadow: inset 0 0 0 1px #00b0ff, inset -1px -1px 0 1px #00b0ff;
}
.k-spreadsheet-active-cell.k-single {
  color: #444444;
  background-color: #ffffff;
}
.k-spreadsheet .k-spreadsheet-action-bar {
  background-color: #ffffff;
  border-color: #e6e6e6;
}
.k-spreadsheet .k-spreadsheet-action-bar .k-spreadsheet-name-editor {
  border-color: #cccccc;
}
.k-spreadsheet .k-spreadsheet-action-bar .k-spreadsheet-formula-bar::before {
  border-color: #cccccc;
}
.k-spreadsheet .k-spreadsheet-formula-input {
  background-color: #ffffff;
  color: #444444;
}
.k-spreadsheet .k-resize-handle,
.k-spreadsheet .k-resize-hint-handle,
.k-spreadsheet .k-resize-hint-marker {
  background-color: #00b0ff;
}
.k-spreadsheet .k-resize-hint-vertical .k-resize-hint-handle,
.k-spreadsheet .k-resize-hint-vertical .k-resize-hint-marker {
  background-color: #00b0ff;
}
.k-spreadsheet .k-single-selection::after {
  background-color: #00b0ff;
  border-color: #ffffff;
}
.k-spreadsheet .k-auto-fill-punch {
  background-color: rgba(255, 255, 255, 0.5);
}
.k-spreadsheet .k-single-selection.k-dim-auto-fill-handle::after {
  background-color: rgba(0, 176, 255, 0.5);
}
.k-spreadsheet .k-spreadsheet-cell-comment {
  color: #ffffff;
  background-color: rgba(100, 100, 100, 0.9);
  border-color: rgba(100, 100, 100, 0.9);
}
.k-spreadsheet .k-spreadsheet-has-comment:after {
  border-color: #00b0ff #00b0ff transparent transparent;
}
.k-spreadsheet .k-dirty {
  border-color: #f44336 transparent transparent #f44336;
}
.k-spreadsheet-format-cells .k-spreadsheet-preview {
  border-color: #e6e6e6;
}
.k-spreadsheet-filter {
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px #e6e6e6;
}
.k-spreadsheet-filter.k-state-active {
  color: #3f51b5;
  background-color: #00b0ff;
}
.k-spreadsheet-filter:hover {
  color: #444444;
  background: #ebebeb;
  border-color: #d7d7d7;
}
.k-action-window .k-action-buttons {
  border-color: #e6e6e6;
  background: #3f51b5;
}
.k-spreadsheet-sample {
  color: #919191;
}
.k-state-selected .k-spreadsheet-sample {
  color: inherit;
}
.k-spreadsheet-window .k-list {
  border-color: #e6e6e6;
  border-radius: 2px;
}
.k-spreadsheet-popup {
  border-radius: 2px;
}
.k-spreadsheet-popup .k-separator {
  background-color: #e6e6e6;
}
.k-spreadsheet-popup .k-button {
  background-color: transparent;
}
.k-spreadsheet-popup .k-button:hover {
  background-color: #ebebeb;
}
.k-spreadsheet-popup .k-state-active {
  background-color: #00b0ff;
  color: #ffffff;
}
.k-spreadsheet-popup .k-state-active:hover {
  background-color: #008dcc;
}
.k-spreadsheet-filter-menu .k-details {
  border-color: #e6e6e6;
}
.k-spreadsheet-filter-menu .k-details-content .k-space-right {
  background-color: #ffffff;
}
.k-spreadsheet-filter-menu .k-spreadsheet-value-treeview-wrapper {
  background-color: #ffffff;
  border-color: #e6e6e6;
  border-radius: 2px 0 0 2px;
}
.k-syntax-ref {
  color: #ff8822;
}
.k-syntax-num {
  color: #0099ff;
}
.k-syntax-func {
  font-weight: bold;
}
.k-syntax-str {
  color: #38b714;
}
.k-syntax-error {
  color: red;
}
.k-syntax-bool {
  color: #a9169c;
}
.k-syntax-startexp {
  font-weight: bold;
}
.k-syntax-paren-match {
  background-color: #caf200;
}
.k-series-a {
  border-color: #3f51b5;
  background-color: rgba(63, 81, 181, 0.15);
}
.k-series-b {
  border-color: #03a9f4;
  background-color: rgba(3, 169, 244, 0.15);
}
.k-series-c {
  border-color: #4caf50;
  background-color: rgba(76, 175, 80, 0.15);
}
.k-series-d {
  border-color: #f9ce1d;
  background-color: rgba(249, 206, 29, 0.15);
}
.k-series-e {
  border-color: #ff9800;
  background-color: rgba(255, 152, 0, 0.15);
}
.k-series-f {
  border-color: #ff5722;
  background-color: rgba(255, 87, 34, 0.15);
}
.k-spreadsheet-sheets-remove:hover .k-icon {
  color: #cc2222;
}
.k-spreadsheet-formula-list .k-state-focused {
  background-color: #00b0ff;
  color: #3f51b5;
}
.k-spreadsheet-insert-image-dialog {
  border-color: #e6e6e6;
  border-radius: 2px;
}
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image:hover,
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image.k-state-hovered {
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image:hover div,
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image.k-state-hovered div {
  color: #fff;
}
.k-spreadsheet-drawing.k-spreadsheet-active-drawing {
  outline-color: #00b0ff;
}
.k-spreadsheet-drawing .k-spreadsheet-drawing-handle {
  border-color: #fff;
  background-color: #00b0ff;
  border-radius: 50%;
}
.k-spreadsheet-drawing-anchor-cell {
  background: rgba(0, 176, 255, 0.2);
}
.k-rtl .k-spreadsheet .k-spreadsheet-has-comment::after {
  border-color: #00b0ff transparent transparent #00b0ff;
}
.k-rtl .k-spreadsheet .k-dirty {
  border-color: #f44336 #f44336 transparent transparent;
}
.k-spreadsheet .k-spreadsheet-quick-access-toolbar .k-button,
.k-spreadsheet .k-spreadsheet-sheets-bar .k-button {
  box-shadow: none;
  color: #ffffff;
  border-radius: 0;
  line-height: 2.6em;
  height: calc(3.1em + 2px);
  width: 3em;
}
.k-spreadsheet .k-spreadsheet-quick-access-toolbar .k-button:hover,
.k-spreadsheet .k-spreadsheet-sheets-bar .k-button:hover {
  background-color: #324191;
  border-color: #324191;
}
.k-spreadsheet .k-spreadsheet-sheets-bar .k-button {
  right: 0;
  bottom: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  line-height: 2.2em;
}
.k-spreadsheet .k-spreadsheet-sheets-remove {
  margin: 0 0 0 -1em;
}
.k-spreadsheet-sheets-items .k-state-default .k-link,
.k-spreadsheet-tabstrip .k-state-default .k-link {
  color: #9fa8da;
}
.k-spreadsheet-sheets-items .k-item.k-state-hover,
.k-spreadsheet-tabstrip .k-item.k-state-hover,
.k-spreadsheet-sheets-items .k-item.k-state-active,
.k-spreadsheet-tabstrip .k-item.k-state-active,
.k-spreadsheet-sheets-items .k-item.k-state-focused,
.k-spreadsheet-tabstrip .k-item.k-state-focused {
  background-color: transparent;
}
.k-spreadsheet-sheets-items .k-item.k-state-hover .k-link,
.k-spreadsheet-tabstrip .k-item.k-state-hover .k-link,
.k-spreadsheet-sheets-items .k-item.k-state-active .k-link,
.k-spreadsheet-tabstrip .k-item.k-state-active .k-link,
.k-spreadsheet-sheets-items .k-item.k-state-focused .k-link,
.k-spreadsheet-tabstrip .k-item.k-state-focused .k-link {
  color: #ffffff;
}
.k-spreadsheet-sheets-items .k-state-active .k-link,
.k-spreadsheet-tabstrip .k-state-active .k-link {
  color: #ffffff;
}
.k-rtl .k-grid-header .k-header:first-child,
.k-rtl .k-filter-row th:first-child,
.k-rtl .k-grid tbody td:first-child,
.k-rtl .k-grid tfoot td:first-child {
  border-left-width: 0;
}
.k-numeric-wrap .k-i-warning {
  color: #f44336;
  position: absolute;
  top: 0;
  right: 2.2em;
  width: 2.2em;
}
.k-numeric-wrap.k-state-invalid {
  border-color: #f44336;
}
.k-numeric-wrap.k-state-invalid input {
  color: #f44336;
}
.k-rtl .k-numeric-wrap.k-state-invalid .k-i-warning {
  right: auto;
  left: 1.9em;
}
.k-maskedtextbox.k-state-invalid .k-textbox {
  border-color: #f44336;
  color: #f44336;
}
.k-maskedtextbox.k-state-invalid .k-i-warning {
  color: #f44336;
}
.k-dateinput.k-state-invalid .k-textbox {
  color: #f44336;
  border-color: #f44336;
}
.k-dateinput.k-state-invalid .k-i-warning {
  margin-left: 0;
  margin-right: 0.7em;
  color: #f44336;
}
.k-rtl .k-dateinput .k-i-warning {
  margin-right: 0;
  margin-left: 0.7em;
}
.k-datepicker .k-picker-wrap.k-state-invalid,
.k-timepicker .k-picker-wrap.k-state-invalid {
  border-color: #f44336;
}
.k-datepicker .k-picker-wrap.k-state-invalid .k-input,
.k-timepicker .k-picker-wrap.k-state-invalid .k-input {
  color: #f44336;
}
.k-datepicker .k-picker-wrap .k-i-warning,
.k-timepicker .k-picker-wrap .k-i-warning {
  color: #f44336;
  margin-left: 0;
  margin-right: 2.8em;
}
.k-rtl .k-datepicker .k-picker-wrap .k-i-warning,
.k-rtl .k-timepicker .k-picker-wrap .k-i-warning {
  margin-right: 0;
  margin-left: 2.8em;
}
.k-datetimepicker .k-picker-wrap.k-state-invalid {
  border-color: #f44336;
}
.k-datetimepicker .k-picker-wrap.k-state-invalid .k-input {
  color: #f44336;
}
.k-datetimepicker .k-picker-wrap .k-i-warning {
  color: #f44336;
  margin-left: 0;
  margin-right: 5.6em;
}
.k-rtl .k-datetimepicker .k-picker-wrap .k-icon.k-i-warning {
  margin-right: 0;
  margin-left: 5.6em;
}
.k-time-header .k-time-now {
  color: #3f51b5;
  background: transparent;
}
.k-time-header .k-time-now:hover,
.k-time-header .k-time-now:focus {
  color: #3a4aa6;
}
.k-time-list-wrapper {
  background-color: #ffffff;
}
.k-time-list-wrapper .k-title {
  border-color: #e6e6e6;
  color: #999999;
  background-color: #3f51b5;
  background: #ffffff;
}
.k-time-list-wrapper.k-state-focused .k-title {
  color: #000000;
  opacity: 1;
}
.k-time-list-wrapper.k-state-focused::before,
.k-time-list-wrapper.k-state-focused::after {
  background-color: rgba(0, 0, 0, 0.04);
}
.k-time-list::before,
.k-time-list::after {
  box-shadow: 0 0 3em 1.5em #ffffff;
}
.k-time-list .k-item:hover {
  color: #3f51b5;
}
.k-time-container {
  background: transparent;
}
.k-time-highlight {
  background-color: #ffffff;
  border-color: #e6e6e6;
}
.k-datetime-container .k-date-tab .k-datetime-buttongroup,
.k-datetime-container .k-date-tab .k-datetime-selector {
  background-color: #ffffff;
}
.k-listbox .k-list-scroller {
  border-color: #e6e6e6;
  background-color: #ffffff;
}
.k-listbox .k-item:hover:not(.k-state-disabled),
.k-listbox .k-item.k-state-selected {
  background-color: #ebebeb;
  border-color: transparent;
}
.k-listbox .k-button.k-state-disabled:hover .k-icon {
  opacity: 0.7;
}
.k-listbox .k-drop-hint {
  height: 0;
  border-top: 1px solid #3f51b5;
}
.k-item.k-state-selected.k-drag-clue {
  border-color: transparent;
  background-color: #ebebeb;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.k-grid-header .k-i-sort-asc-sm,
.k-grid-header .k-i-sort-desc-sm,
.k-grid-header .k-sort-order {
  color: #3f51b5;
  opacity: 1;
  margin-bottom: -1px;
}
.k-menu-scroll-button {
  border-width: 0;
  box-shadow: none;
  border-color: #e6e6e6;
  color: #444444;
  background-color: #ffffff;
}
.k-menu-scroll-wrapper.horizontal .k-scroll-left {
  border-right-width: 1px;
}
.k-menu-scroll-wrapper.horizontal .k-scroll-right {
  border-left-width: 1px;
}
.k-menu-scroll-wrapper.vertical .k-scroll-up {
  border-bottom-width: 1px;
}
.k-menu-scroll-wrapper.vertical .k-scroll-down {
  border-top-width: 1px;
}
.k-mediaplayer-toolbar {
  background: rgba(250, 250, 250, 0.85);
}
table.k-editor {
  border-color: #e6e6e6;
}
.k-filebrowser .k-header {
  color: #444444;
  background-color: #f2f2f2;
  box-shadow: none;
}
.k-dropdowngrid-popup {
  border-color: #e6e6e6;
  color: #444444;
  background-color: #ffffff;
}
.k-dropdowngrid-popup .k-header {
  border-color: #e6e6e6;
  color: #999999;
  background-color: #fafafa;
}
.k-dropdowngrid-popup .k-group-header {
  border-color: #e6e6e6;
  color: #999999;
  background-color: #fafafa;
}
.k-dropdowngrid-popup .k-cell {
  border-color: #e6e6e6;
}
.k-dropdowngrid-popup .k-item:nth-child(2n) {
  background-color: #f2f2f2;
}
.k-dropdowngrid-popup .k-footer {
  border-color: #e6e6e6;
  color: #999999;
  background-color: #fafafa;
}
.k-dropdowngrid-popup .k-item.k-state-hover {
  border-color: #e6e6e6;
  color: #444444;
  background-color: #ebebeb;
}
.k-dropdowngrid-popup .k-item.k-state-selected {
  border-color: #e6e6e6;
  color: #ffffff;
  background-color: #00b0ff;
}
.k-dropdowngrid-popup .k-group-cell span {
  background-color: #444444;
  color: #ffffff;
}
.k-grid-list > .k-item.k-last > .k-cell,
.k-grid-list > .k-item.k-last > .k-group-cell,
.k-grid-list > .k-item.k-last > .k-spacer-cell {
  border-bottom-color: #444444;
}
.k-calendar .k-header,
.k-calendar .k-footer {
  text-transform: uppercase;
}
.k-dialog-button-group .k-button {
  box-shadow: none;
}
.k-button:focus,
.k-button.k-state-focus,
.k-button.k-state-focused {
  color: #444444;
  border-color: #ebebeb;
  background-color: #ebebeb;
}
.k-split-button:focus > .k-button,
.k-split-button.k-state-focus > .k-button {
  color: #444444;
  border-color: #ebebeb;
  background-color: #ebebeb;
}
.k-master-row .k-grid-content-sticky {
  background-color: #ffffff;
}
.k-master-row.k-alt .k-grid-content-sticky {
  background-color: #ffffff;
}
.k-master-row.k-state-selected .k-grid-content-sticky {
  background-color: #00b0ff;
  background-position: 50% 50%;
}
.k-master-row:hover .k-grid-content-sticky,
.k-master-row.k-state-hover .k-grid-content-sticky {
  background-color: #ebebeb;
}
.k-master-row.k-state-selected:hover .k-grid-content-sticky,
.k-master-row.k-state-selected.k-state-hover .k-grid-content-sticky {
  background-color: #00a2eb;
  background-image: none;
}
.k-grid-header .k-grid-header-sticky,
.k-master-row .k-grid-content-sticky,
.k-grouping-row .k-grid-content-sticky,
.k-footer-template .k-grid-footer-sticky {
  border-left-color: #999999;
  border-right-color: #999999;
}
.k-grid-header-locked,
.k-grid-content-locked,
.k-grid-header-locked .k-header,
.k-grid-content-locked td {
  border-left-color: #999999;
  border-right-color: #999999;
}
