﻿@using Microsoft.Ajax.Utilities
@using System.Web.UI.WebControls;
@using System.Web.Routing;
@using Stimulsoft.Report.Mvc;



<script>
    $(function () {
        $("#accordion").accordion({ collapsible: true });
    });
</script>


<style>
    /***File Upload CSS****/

    .file-upload {
        display: block;
        text-align: center;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
        margin: 0px !important;
    }

        .file-upload .file-select {
            display: block;
            border: 2px solid #c9c9c9;
            cursor: pointer;
            height: 30px;
            line-height: 30px;
            text-align: left;
            background: #FFFFFF;
            overflow: hidden;
            position: relative;
        }

            .file-upload .file-select .file-select-button {
                background: #efefef;
                padding: 0 10px;
                display: inline-block;
                height: 30px;
                line-height: 30px;
                color: #000;
                font-size: 14px;
                font-weight: 100;
            }

            .file-upload .file-select .file-select-name {
                line-height: 30px;
                display: inline-block;
                font-size: 14px;
                overflow: hidden;
                position: absolute;
                padding: 0px 5px 0px;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .file-upload .file-select:hover {
                border-color: #4b9f46;
                transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
            }

                .file-upload .file-select:hover .file-select-button {
                    background: #4b9f46;
                    color: #FFFFFF;
                    transition: all .2s ease-in-out;
                    -moz-transition: all .2s ease-in-out;
                    -webkit-transition: all .2s ease-in-out;
                    -o-transition: all .2s ease-in-out;
                }



            .file-upload .file-select input[type=file] {
                z-index: 100;
                cursor: pointer;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                opacity: 0;
                filter: alpha(opacity=0);
            }

            .file-upload .file-select.file-select-disabled {
                opacity: 0.65;
            }

                .file-upload .file-select.file-select-disabled:hover {
                    cursor: default;
                    display: block;
                    border: 2px solid #dce4ec;
                    color: #34495e;
                    cursor: pointer;
                    height: 30px;
                    line-height: 30px;
                    margin-top: 5px;
                    text-align: left;
                    background: #FFFFFF;
                    overflow: hidden;
                    position: relative;
                }

                    .file-upload .file-select.file-select-disabled:hover .file-select-button {
                        background: #dce4ec;
                        color: #666666;
                        padding: 0 10px;
                        display: inline-block;
                        height: 30px;
                        line-height: 30px;
                    }

                    .file-upload .file-select.file-select-disabled:hover .file-select-name {
                        line-height: 30px;
                        display: inline-block;
                        padding: 0 10px;
                    }
</style>

<style>
    .k-widget.k-upload.k-header.k-upload-empty {
        height: 50px;
        border: 1px solid #fff;
    }

    .k-dropzone {
        padding-left: 3% !important;
        height: 30px;
        background: #fff;
    }

    .k-button.k-upload-button, button.k-button.k-clear-selected, button.k-button.k-upload-selected {
        border-radius: 0px;
        float: left;
    }

    button.k-button.k-clear-selected {
        display: none;
    }

    .k-file .k-icon {
        position: static !important;
    }

    button.k-button.k-clear-selected {
        margin-top: 4px;
        margin-left: 8px;
    }

    span.k-icon.k-i-warning {
        display: none !important;
    }

    div#extTreeView1492583379148 {
        max-height: 285px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .k-window-content.k-content {
        overflow: hidden;
    }

    .label-categoryname {
        float: left;
    }

    .html-preview {
        position: absolute;
        margin-left: -20px;
        margin-top: 5px;
        color: #4b9f46;
    }
</style>
<link href="~/Design/ContextMenuNew/dist/jquery.contextMenu.css" rel="stylesheet" />
<link href="~/Design/ContextMenuNew/dist/jquery.contextMenu.min.css" rel="stylesheet" />
<script src="~/Design/ContextMenuNew/src/jquery.contextMenu.js"></script>
<script src="~/Design/ContextMenuNew/src/jquery.ui.position.js"></script>
<script language="javascript">
    function runScript(e) {
        if (e.keyCode == 13) {

            return false;
        }
    }
    function isnum(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            alert("Invalid Data");
            return false;
        }
        if (charCode == 13) {
            return false;
        }
        return true;
    }
    var rowCount = 3;
    function addRow(tableID) {
        var table = document.getElementById(tableID);
        var rowCount = table.rows.length;
        if (rowCount < 3) {
            var row = table.insertRow(rowCount);
            var colCount = table.rows[0].cells.length;
            for (var i = 0; i < colCount; i++) {
                var newcell = row.insertCell(i);
                newcell.innerHTML = table.rows[0].cells[i].innerHTML;
                switch (newcell.childNodes[0].type) {
                    case "text":
                        newcell.childNodes[0].value = "";
                        break;
                    case "checkbox":
                        newcell.childNodes[0].checked = false;
                        break;
                    case "select-one":
                        newcell.childNodes[0].selectedIndex = 0;
                        break;
                }
            }
        }
    }

    function deleteRow(tableID) {
        try {
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;

            for (var i = 0; i < rowCount; i++) {
                var row = table.rows[i];
                var chkbox = row.cells[0].childNodes[0];
                if (null != chkbox && true == chkbox.checked) {
                    if (rowCount <= 1) {
                        alert("Cannot delete all the attributes.");
                        break;
                    }
                    table.deleteRow(i);
                    rowCount--;
                    i--;
                }
            }
        } catch (e) {
            alert(e);
        }
    }

</script>

<style>
    .k-dropzone {
        padding-left: 38%;
    }

    span.k-widget.k-dropdown.k-header.k-ext-dropdown {
        width: 180px;
    }
</style>

<script type="text/javascript" src='@Url.Content("~/Views/App/Category/CategorynewattributeController.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Views/App/Category/categoryController.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Views/ImageManagement/ImageManagementPopup.js")'></script>
<div class="col-sm-12 row tblborder" ng-controller="categoryController" ng-cloak>
    <form name="cat_myForm" id="gridcategory">


        <div id="CatBody" class="form-horizontal" ng-cloak>
            <div class="k-widget main-menu-copy" id="tabledesignermenu" style="padding: 0px">
                <button class="btn btn-primary btn-xs" type="button" ng-show="isNavigate" ng-disabled="(cat_myForm.$valid || !userRoleModifyCategory || !userRoleViewCategory) ?  false : true" ng-click='Create(selectedCategoryRow)' title="{{saveCategory}}"><i class="fa fa-save"></i></button>
                <button class="btn btn-primary btn-xs" type="button" ng-show="isNavigate" ng-disabled="!cat_myForm.$valid || IsPreview" ng-click='Encrypt()' title="{{previewCategory}}">
                    <i class="fa fa-eye"></i>
                </button>
                <button class="btn btn-primary btn-xs" type="button" ng-show="isSearch" ng-disabled="(!Category.CATEGORY_NAME || !userRoleModifyCategory || !userRoleViewCategory || !Category.CATEGORY_SHORT)" ng-click='Create(selectedCategoryRow)' title="{{saveCategory}}"><i class="fa fa-save"></i></button>
                <button class="btn btn-primary btn-xs" type="button" ng-show="isSearch" ng-disabled="!Category.CATEGORY_NAME" ng-click='Encrypt()' title="{{previewCategory}}">
                    <i class="fa fa-eye"></i>
                </button>
                <button class="btn btn-primary btn-xs" type="button" ng-disabled="!userRoleDetachCategory || newCat || !userRoleViewCategory || isCloneCategoryDetach" ng-click='Delete()' title="{{detachCategory}}">
                    <i class="fa fa-ban"></i>
                </button>
                <button class="btn btn-primary btn-xs" type="button" ng-disabled="!userRoleDeleteCategory || newCat || !userRoleViewCategory " ng-click='trashFromMaster()' title="Delete Category">
                    <i class="fa fa-trash"></i>@*Move to Recycle Bin*@
                </button>
                <button class="btn btn-primary btn-xs" type="button" ng-disabled="!userRoleDeleteCategory || newCat || !userRoleViewCategory" ng-click='CategorySetupAttributes()' title="Attributes Setup Category">
                    Attributes
                </button>
                <button class="btn btn-primary btn-xs" type="button" ng-click='AttributePackforCategory()' title="Attribute Groups">
                    Attribute Groups
                </button>

            </div>


            <div class="col-sm-12 padding-0 spacer">

                <div class="col-sm-3 padding-0">
                    <label class="caption">Category</label>
                    <input type="text" id="txt_CategoryName" name="CategoryName" ng-model="Category.CATEGORY_NAME" placeholder="{{PlaceHolder_CATEGORY_NAME}}" ng-trim="false" required>
                </div>

                <div class="col-sm-3 padding-0">
                    <label class="caption">Publish</label>


                    <label class="custom-chkbx" style="width: 30px;">
                        @*Web*@
                        <span class="web_icon" title="WEB">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe2" viewBox="0 0 16 16">
                                <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855-.143.268-.276.56-.395.872.705.157 1.472.257 2.282.287V1.077zM4.249 3.539c.142-.384.304-.744.481-1.078a6.7 6.7 0 0 1 .597-.933A7.01 7.01 0 0 0 3.051 3.05c.362.184.763.349 1.198.49zM3.509 7.5c.036-1.07.188-2.087.436-3.008a9.124 9.124 0 0 1-1.565-.667A6.964 6.964 0 0 0 1.018 7.5h2.49zm1.4-2.741a12.344 12.344 0 0 0-.4 2.741H7.5V5.091c-.91-.03-1.783-.145-2.591-.332zM8.5 5.09V7.5h2.99a12.342 12.342 0 0 0-.399-2.741c-.808.187-1.681.301-2.591.332zM4.51 8.5c.035.987.176 1.914.399 2.741A13.612 13.612 0 0 1 7.5 10.91V8.5H4.51zm3.99 0v2.409c.91.03 1.783.145 2.591.332.223-.827.364-1.754.4-2.741H8.5zm-3.282 3.696c.12.312.252.604.395.872.552 1.035 1.218 1.65 1.887 1.855V11.91c-.81.03-1.577.13-2.282.287zm.11 2.276a6.696 6.696 0 0 1-.598-.933 8.853 8.853 0 0 1-.481-1.079 8.38 8.38 0 0 0-1.198.49 7.01 7.01 0 0 0 2.276 1.522zm-1.383-2.964A13.36 13.36 0 0 1 3.508 8.5h-2.49a6.963 6.963 0 0 0 1.362 3.675c.47-.258.995-.482 1.565-.667zm6.728 2.964a7.009 7.009 0 0 0 2.275-1.521 8.376 8.376 0 0 0-1.197-.49 8.853 8.853 0 0 1-.481 1.078 6.688 6.688 0 0 1-.597.933zM8.5 11.909v3.014c.67-.204 1.335-.82 1.887-1.855.143-.268.276-.56.395-.872A12.63 12.63 0 0 0 8.5 11.91zm3.555-.401c.57.185 1.095.409 1.565.667A6.963 6.963 0 0 0 14.982 8.5h-2.49a13.36 13.36 0 0 1-.437 3.008zM14.982 7.5a6.963 6.963 0 0 0-1.362-3.675c-.47.258-.995.482-1.565.667.248.92.4 1.938.437 3.008h2.49zM11.27 2.461c.177.334.339.694.482 1.078a8.368 8.368 0 0 0 1.196-.49 7.01 7.01 0 0 0-2.275-1.52c.218.283.418.597.597.932zm-.488 1.343a7.765 7.765 0 0 0-.395-.872C9.835 1.897 9.17 1.282 8.5 1.077V4.09c.81-.03 1.577-.13 2.282-.287z" />
                            </svg>
                        </span>
                        <input type="checkbox" id="chkPublish" class="chkoption" ng-model="Category.PUBLISH2WEB" ng-click="publish()">
                        <span class="checkmark"></span>
                    </label>

                    <label class="custom-chkbx" style="width: 30px;">
                        @*Print*@
                        <span class="print_icon" title="PRINT">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                                <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
                                <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z" />
                            </svg>
                        </span>
                        <input type="checkbox" id="chkPublishToPrint" ng-model="Category.PUBLISH2PRINT" ng-click="publishToPrint()">
                        <span class="checkmark"></span>
                    </label>

                    <label class="custom-chkbx" style="width: 30px;">
                        @*PDF*@
                        <span class="pdf_icon" title="PDF">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-pdf" viewBox="0 0 16 16">
                                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                                <path d="M4.603 14.087a.81.81 0 0 1-.438-.42c-.195-.388-.13-.776.08-1.102.198-.307.526-.568.897-.787a7.68 7.68 0 0 1 1.482-.645 19.697 19.697 0 0 0 1.062-2.227 7.269 7.269 0 0 1-.43-1.295c-.086-.4-.119-.796-.046-1.136.075-.354.274-.672.65-.823.192-.077.4-.12.602-.077a.7.7 0 0 1 .477.365c.088.164.12.356.127.538.007.188-.012.396-.047.614-.084.51-.27 1.134-.52 1.794a10.954 10.954 0 0 0 .98 1.686 5.753 5.753 0 0 1 1.334.05c.364.066.734.195.96.465.12.144.193.32.2.518.007.192-.047.382-.138.563a1.04 1.04 0 0 1-.354.416.856.856 0 0 1-.51.138c-.331-.014-.654-.196-.933-.417a5.712 5.712 0 0 1-.911-.95 11.651 11.651 0 0 0-1.997.406 11.307 11.307 0 0 1-1.02 1.51c-.292.35-.609.656-.927.787a.793.793 0 0 1-.58.029zm1.379-1.901c-.166.076-.32.156-.459.238-.328.194-.541.383-.647.547-.094.145-.096.25-.04.361.01.022.02.036.026.044a.266.266 0 0 0 .035-.012c.137-.056.355-.235.635-.572a8.18 8.18 0 0 0 .45-.606zm1.64-1.33a12.71 12.71 0 0 1 1.01-.193 11.744 11.744 0 0 1-.51-.858 20.801 20.801 0 0 1-.5 1.05zm2.446.45c.15.163.296.3.435.41.24.19.407.253.498.256a.107.107 0 0 0 .07-.015.307.307 0 0 0 .094-.125.436.436 0 0 0 .059-.2.095.095 0 0 0-.026-.063c-.052-.062-.2-.152-.518-.209a3.876 3.876 0 0 0-.612-.053zM8.078 7.8a6.7 6.7 0 0 0 .2-.828c.031-.188.043-.343.038-.465a.613.613 0 0 0-.032-.198.517.517 0 0 0-.145.04c-.087.035-.158.106-.196.283-.04.192-.03.469.046.822.024.111.054.227.09.346z" />
                            </svg>
                        </span>
                        <input type="checkbox" id="chkPublishToPdf" class="chkoption" ng-model="Category.PUBLISH2PDF" ng-click="publishPdf()">
                        <span class="checkmark"></span>
                    </label>


                    @*<input type="checkbox" id="chkPublish" class="chkoption" ng-model="Category.PUBLISH2WEB" ng-click="publish()">&nbsp;&nbsp;Web &nbsp;&nbsp;
            <input type="checkbox" id="chkPublishToPrint" ng-model="Category.PUBLISH2PRINT" ng-click="publishToPrint()" style="margin-left: 11px;">&nbsp;&nbsp;Print &nbsp;&nbsp;
            <input type="checkbox" id="chkPublishToPdf" class="chkoption" ng-model="Category.PUBLISH2PDF" ng-click="publishPdf()" style="margin-left: 11px;">&nbsp;&nbsp;PDF &nbsp;&nbsp;
            <br>*@
                    @*<input type="checkbox" id="chkPublishToExport" class="chkoption" ng-model="Category.PUBLISH2EXPORT" ng-click="publishExport()">&nbsp;&nbsp;Export &nbsp;&nbsp;
            <input type="checkbox" id="chkPublishToPrintToPortal" ng-model="Category.PUBLISH2PORTAL" ng-click="publishPortal()">&nbsp;&nbsp;Portal &nbsp;&nbsp;*@

                </div>

                <div class="col-sm-3 padding-0">
                    <label class="caption">ID</label>
                    <input type="text" id="txt_CategoryID" name="CategoryId" ng-model="Category.CATEGORY_SHORT" placeholder="{{PlaceHolder_CATEGORY_ID}}" ng-trim="false" required>
                </div>

                <div class="col-sm-3 padding-0">
                    <label class="caption">Parent</label>

                    <input type="text" id="txt_ParentCategoryID" name="ParentCategoryId" ng-model="Category.PARENT_CATEGORYNAME" disabled="disabled">

                </div>

            </div>



            @*<div class="col-sm-12 padding-0 spacer">

              

              
            </div>*@





            @*<div class="col-sm-12 padding-0 margin-bottom-15" ng-if="EnableWorkflow===true">
                    <div ng-if="EnableWorkflow===true"> Work Flow </div>
                    <div ng-if="EnableWorkflow===true">

                        <select kendo-drop-down-list
                                k-data-text-field="'STATUS_NAME'"
                                k-data-value-field="'STATUS_NAME'"
                                k-data-source="workflowDataSource"
                                ng-model="Family.STATUS_NAME"
                                k-on-change="workflowitemChange(kendoEvent)"
                                style="width: 180px"></select>
                    </div>
                </div>*@


            <div id="window"></div>

            <div class="col-sm-12 padding-0 margin-bottom-15" id="formDataView">
                <div class="col-sm-6 padding-0" ng-if="Category.IS_CLONE">
                    <div class="col-sm-3 bold" style="padding: 0;text-align: left;">Clone Lock</div>
                    <div class="col-sm-2" style="text-align: left;"><input type="checkbox" id="CloneLock" ng-model="Category.CLONE_LOCK"></div>
                </div>
                @*<div class="col-sm-6 padding-0" ng-if="EnableWorkflow===true">
                        <div class="col-sm-3 bold textalignright margintop">Work Flow</div>
                        <div class="col-sm-4">
                            <select kendo-drop-down-list
                                    k-data-text-field="'STATUS_NAME'"
                                    k-data-value-field="'STATUS_NAME'"
                                    ng-model="Category.STATUS_NAME"
                                    k-data-source="workflowDataSourceCategory"
                                    k-on-change="workflowitemChangeCategory(kendoEvent)"
                                    style="" class="margin-left-10"></select>
                        </div>
                    </div>*@
                @*--------------------------------------------------------------------------------------*@
                <div class="col-sm-6 padding-0" ng-if="EnableWorkflow===true">
                    <div class="col-sm-3 bold margintop" style="padding: 0;text-align: left;">Work Flow</div>
                    <div class="col-sm-2" style="text-align: left;">
                        <select kendo-drop-down-list id="WorkflowId"
                                ng-model="Category.STATUS_NAME"
                                k-data-source="workflowDataSourceCategorylatest"
                                k-on-change="workflowitemChangeCategorydynamic(kendoEvent)"></select>
                    </div>
                </div>



                @*--------------------------------------------------------------------------------------*@
            </div>



            <div ng-if="rootCategotyForPdfXpress" class="margin-bottom-15">
                <div class="bold col-sm-4" style="padding: 0px;">
                    <div class="file-upload">
                        <div class="file-select">
                            <div class="file-select-button" id="fileName">Select Template</div>
                            <div class="file-select-name" id="noFile">{{getCategoryPdfExpress}}</div>
                            <input type="file" title="{{getCategoryPdfExpressToolTip}}" name="chooseFile" accept=".mrt" onchange="angular.element(this).scope().selectFileforUploadRun_Category(this.files)" id="chooseFile">
                        </div>
                    </div>
                </div>

                <div>

                    @*<button type="button" class="btn btn-primary btn-xs" style="margin-top: 8px;" ng-click="PreviewCategoryPdf()" title="Preview file">Preview</button>*@
                    <button type="button" class="btn btn-primary btn-xs" ng-click="deleteCategoryPdf()" title="Clear file" style="padding: 6px 10px;"><i class="fa fa-close"></i></button>

                </div>

            </div>

            @*<div style="padding: 1em">
                    <div id="FamilySpecsTab">
                        <div style="margin-top: 50px">
                            @{Html.RenderPartial("Partials/CategorySpecGrid");}
                        </div>
                    </div>
                </div>*@


            @*This is for rendering Category Pdf  - Start*@
            <div id="opendesigner" style="display: none">


                @*@Html.Stimulsoft().StiMvcViewerFx(new StiMvcViewerFxOptions()

                                                                 {
                                                                     Actions =
                                                                     {
                                                                         GetReportSnapshot = "../XpressCatalog/openTemplatePreview",
                                                                         ExportReport = "../Category/ExportResult",
                                                                     },
                                                                     Toolbar =
                                                                     {
                                                                         ShowAboutButton = false,
                                                                         ShowOpenButton = false,
                                                                         ShowBookmarksButton = false,
                                                                         Zoom = 100
                                                                     },
                                                                     Width = Unit.Percentage(100),
                                                                     Height = Unit.Pixel(700),

                                                                     Server =
                                                                     {
                                                                         RequestTimeout = 3000
                                                                     }
                                                                 }
                            )
                    <br />

                    <br />
                    <button id="openback" type="button" class="btn btn-primary btn-xs" ng-click="closeOpentemplate()" title="Back">Back</button>*@
            </div>


            @*This is for rendering Category Pdf  - Start*@



            @*<div id="fl_menu">
                    <div class="label">Catalog Association</div>
                    <div class="menu">
                        <div kendo-grid k-options="CatalogAssociationgrid"></div>
                    </div>
                </div>*@

            @*<div>
                    <hr />
                    <h4>Catalog Association</h4>
                    <div kendo-grid k-options="CatalogAssociationgrid"></div>
                </div>*@
            @*<div>
                    <span class="error" ng-show="!Category.CATEGORY_NAME">
                        Please enter a Category ID.
                    </span>
                </div>*@
            <div kendo-window="winCategoryPDF" id="WinCategoryPDFXpress" k-resizable="true" k-draggable="false" k-title="'Category Pdf Xpress'" k-width="1320" k-height="420" k-visible="false"
                 k-actions='["Close"]'
                 k-modal="true" k-on-open="winBatchLogVisible = true" k-on-close="onClose(kendoEvent)">
            </div>

            @*new accordiaons for category attribute 7.6.22*@
            <div class="row no-margin" style="max-width: 100%;">
                <button class="accordion">Category Attributes</button>
                <div class="panel" ng-if="attributes.length>0" style="display: block;">
                    <div style="border-top: 0;">
                        <div class="col-sm-6 float-left padding-0" ng-repeat="attribute in attributes" ng-if="attribute.Caption!=='CATALOG_ID'&& attribute.Caption!=='ATTRIBUTE_ID' && attribute.Caption!=='CATEGORY_ID'&& attribute.Caption!=='Sort'&& attribute.Caption!=='$$hashKey' &&  attribute.Caption.split('__')[1] ==='OBJ'">
                            <div class="row top-buffer col-sm-12 float-left">
                                <div class="col-sm-4 bold textalignright margintop padding-right-0" style="margin-bottom: 10px" title="{{attribute.Caption.split('__')[0]}}">
                                    {{attribute.Caption.split('__')[0]}}
                                    <!--{{ selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT}}-->
                                </div>
                                <div style="margin-bottom: -1px;margin-left: 13px;" ng-if="!selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].IS_CALCULATED " class="col-sm-6">


                                    @*<label class="caption" title="{{attribute.Caption.split('__')[0]}}">{{attribute.Caption.split('__')[0]}}</label>*@


                                    <div ng-if="selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE!==24 && !selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].USE_PICKLIST && selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE!==23">
                                        <!--<input type="text" ng-model="selectedCategoryRow[attribute.Caption]" name="textBoxValue{{$index}}" ng-if="selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Num')" ng-pattern="validPattern">-->
                                        <input type="text" ng-model="selectedCategoryRow[attribute.Caption]" ng-if="selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Num')" ng-pattern="attributePattern[attribute.Caption.replace(' ', '_').split('__')[2]]"
                                               id="textBoxValue{{$index}}" name="textBoxValue{{$index}}" onkeypress='return (event.which >= 48 && event.which <= 57) || event.which == 8 || event.which == 46'>

                                        <input type="text" ng-model="selectedCategoryRow[attribute.Caption]" ng-maxlength="attributePattern[attribute.Caption.replace(' ', '_').split('__')[2]]"
                                               id="textboxvalue{{selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_ID}}"
                                               name="textBoxValue{{$index}}" ng-if="selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Tex') && selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.contains('a-zA-Z') && !selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.contains('uFFFF')"
                                               ng-blur="datatypecheck($event,selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT,attribute)">


                                        <textarea ckedit="selectedCategoryRow[attribute.Caption]" ng-maxlength="attributePattern[attribute.Caption.replace(' ', '_').split('__')[2]]"
                                                  id="textboxvalue{{selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_ID}}"
                                                  name="CattextBoxValue{{$index}}" ng-if="selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Tex') && selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.contains('uFFFF')"
                                                  ng-blur="datatypecheck($event,selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT,attribute)"></textarea>
                                        @*<span class="html-preview" title="Html Preview">
                                                <button type="button" style="text-align: center; padding: 0;border: none;background: none;" data-toggle="modal" ng-click="displayHtmlPreview($index)" data-target="#myModalCategory"><i class="fa fa-eye"></i></button>
                                            </span>*@

                                        <span ng-show="!cat_myForm.textBoxValue{{$index}}.$valid && cat_myForm.textBoxValue{{$index}}.$error.pattern" class="text-danger">Enter valid format ({{uimask[attribute.Caption.replace(' ', '_').split('__')[2]]}}).</span>
                                        <span class="error" ng-show="cat_myForm.textBoxValue{{$index}}.$error.maxlength">
                                            Value is too long. Please correct it. Maximum characters is {{uimask[attribute.Caption.replace(' ', '_').split('__')[2]]}}
                                        </span>
                                    </div>


                                    <div ng-if="selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE===23 && selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink' && attribute.Caption.split('__')[1] ==='OBJ' && !selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date')">
                                        <input style="" type="text" ng-disabled="selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" ng-model="selectedCategoryRow[attribute.Caption]" id="{{attribute.Caption}}" readonly>
                                        <br />
                                        <img ng-if="selectedCategoryRow[attribute.Caption]!=null &&  !selectedCategoryRow[attribute.Caption].toLowerCase().contains('.pdf') && !selectedCategoryRow[attribute.Caption].toLowerCase().contains('.zip') && !selectedCategoryRow[attribute.Caption].toLowerCase().contains('.rar') && !selectedCategoryRow[attribute.Caption].toLowerCase().contains('.xls') && !selectedCategoryRow[attribute.Caption].toLowerCase().contains('.xlsx') && !selectedCategoryRow[attribute.Caption].toLowerCase().contains('.pdf') && !selectedCategoryRow[attribute.Caption].toLowerCase().contains('.exe') &&
                                                   !selectedCategoryRow[attribute.Caption].toLowerCase().contains('.msi') && !selectedCategoryRow[attribute.Caption].toLowerCase().contains('.doc')&& !selectedCategoryRow[attribute.Caption].toLowerCase().contains('.docx') && !selectedCategoryRow[attribute.Caption].toLowerCase().contains('.tif') && !selectedCategoryRow[attribute.Caption].toLowerCase().contains('.tiff') && !selectedCategoryRow[attribute.Caption].toLowerCase().contains('.psd') && !selectedCategoryRow[attribute.Caption].toLowerCase().contains('.eps') " ng-src='{{selectedExternalAssetDriveURL}}Content\\ProductImages\\{{getCustomerCompanyName}}{{selectedCategoryRow[attribute.Caption]}}'
                                             alt="{{selectedCategoryRow[attribute.Caption]}}" style="max-width:30%;max-height:195px;margin:5px" />
                                        <div ng-if="selectedCategoryRow[attribute.Caption].split('.')[selectedCategoryRow[attribute.Caption].split('.').length-1]=='eps' && selectedCategoryRow[attribute.Caption].split('.')[selectedCategoryRow[attribute.Caption].split('.').length-1]=='psd' && selectedCategoryRow[attribute.Caption].split('.')[selectedCategoryRow[attribute.Caption].split('.').length-1]=='tiff'" style="max-width:55%;max-height:195px;"><p>Preview only available in Family/Category preview</p></div>
                                        <a ng-if="selectedCategoryRow[attribute.Caption].toLowerCase().contains('.pdf')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedCategoryRow[attribute.Caption]}}' alt="{{selectedCategoryRow[attribute.Caption]}}" style="max-width:30%;max-height:195px;">
                                            <img src='..\\Content\\images\\pdf.png' alt="{{selectedCategoryRow[attribute.Caption]}}" style="max-width:30%;max-height:195px;" />
                                        </a>
                                        <a ng-if="selectedCategoryRow[attribute.Caption].toLowerCase().contains('.zip') || selectedCategoryRow[attribute.Caption].toLowerCase().contains('.rar')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedCategoryRow[attribute.Caption]}}' alt="{{selectedCategoryRow[attribute.Caption]}}" style="max-width:55%;max-height:195px;">
                                            <img src='..\\Content\\images\\zip.png' alt="{{selectedCategoryRow[attribute.Caption]}}" style="max-width:30%;max-height:195px;" />
                                        </a>
                                        <a ng-if="selectedCategoryRow[attribute.Caption].toLowerCase().contains('.xls') || selectedCategoryRow[attribute.Caption].toLowerCase().contains('.xlsx')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedCategoryRow[attribute.Caption]}}' alt="{{selectedCategoryRow[attribute.Caption]}}" style="max-width:55%;max-height:195px;">
                                            <img src='..\\Content\\images\\xls.png' alt="{{selectedCategoryRow[attribute.Caption]}}" style="max-width:30%;max-height:195px;" />
                                        </a>
                                        <a ng-if="selectedCategoryRow[attribute.Caption].toLowerCase().contains('.exe') || selectedCategoryRow[attribute.Caption].toLowerCase().contains('.msi')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedCategoryRow[attribute.Caption]}}' alt="{{selectedCategoryRow[attribute.Caption]}}" style="max-width:55%;max-height:195px;">
                                            <img src='..\\Content\\images\\exe.png' alt="{{selectedCategoryRow[attribute.Caption]}}" style="max-width:30%;max-height:195px;" />
                                        </a>
                                        <a ng-if="selectedCategoryRow[attribute.Caption].toLowerCase().contains('.doc') || selectedCategoryRow[attribute.Caption].toLowerCase().contains('.docx')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedCategoryRow[attribute.Caption]}}' alt="{{selectedCategoryRow[attribute.Caption]}}" style="max-width:55%;max-height:195px;">
                                            <img src='..\\Content\\images\\doc.png' alt="{{selectedCategoryRow[attribute.Caption]}}" style="max-width:30%;max-height:195px;" />
                                        </a>
                                        <div ng-if="selectedCategoryRow[attribute.Caption].toLowerCase().contains('.pdf') || selectedCategoryRow[attribute.Caption].toLowerCase().contains('.zip') || selectedCategoryRow[attribute.Caption].toLowerCase().contains('.rar') || selectedCategoryRow[attribute.Caption].toLowerCase().contains('.xls') || selectedCategoryRow[attribute.Caption].toLowerCase().contains('.xlsx') || selectedCategoryRow[attribute.Caption].toLowerCase().contains('.pdf') || selectedCategoryRow[attribute.Caption].toLowerCase().contains('.exe') ||
                              selectedCategoryRow[attribute.Caption].toLowerCase().contains('.msi') || selectedCategoryRow[attribute.Caption].toLowerCase().contains('.doc') || selectedCategoryRow[attribute.Caption].toLowerCase().contains('.docx') || selectedCategoryRow[attribute.Caption].toLowerCase().contains('.tif') || selectedCategoryRow[attribute.Caption].toLowerCase().contains('.tiff') || selectedCategoryRow[attribute.Caption].toLowerCase().contains('.psd') || selectedCategoryRow[attribute.Caption].toLowerCase().contains('.eps') " target="_blank"
                                             style="max-width:100%;max-height:195px;">
                                            <div style="max-width:100%;max-height:195px;"><p>Preview only available in Product/Sub-Product preview</p></div>
                                        </div>
                                        <div align="left">
                                            <input name="files" id="{{attribute.Caption}}"
                                                   type="file"
                                                   title="Product Image"
                                                   ng-disabled="!userImageandAttachments"
                                                   kendo-upload
                                                   k-multiple="false"
                                                   k-async="{ saveUrl: '/Category/SaveImage', removeUrl: '/Category/RemoveImage', autoUpload: true }"
                                                   k-select="onProdSelect" k-success="onProdSuccess" ng-if="false" />

                                            <button id="{{attribute.Caption}}" style="margin: 10px;" ng-disabled="!userImageandAttachments" title="Category Image" type="button" class="btn btn-primary" ng-click="OpenPopupWindow(attribute.Caption)"><i class="fa fa-paperclip"></i></button>
                                            <button id="{{attribute.Caption}}" style="margin: 10px;" ng-disabled="!userImageandAttachments" title="Category Image Clear" type="button" class="btn btn-primary" ng-click="clearImagePath(attribute.Caption)"><i class="fa fa-close"></i></button>
                                        </div>
                                        @*<label class="Imgtext" style="margin-top: 5%;margin-left: -29%;">Caption</label>&nbsp;&nbsp;   <input type="text" ng-model="selectedCategoryRow[attribute.Caption.replace('OBJ',1)]" id="textBoximg{{$index}}" style="margin-left: 6%;width: 172px;">*@
                                    </div>

                                    <div ng-if="selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE===24 && !selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].USE_PICKLIST && !selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Hyperlink')  &&  !selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date')" onkeypress='return (event.which >= 48 && event.which <= 57) || event.which == 8 || event.which == 46'>
                                        <input type="text" name="textBoxValue{{$index}}" ng-model="selectedCategoryRow[attribute.Caption]" ng-pattern="attributePattern[attribute.Caption.replace(' ', '_').split('__')[2]]" id="textBoxValue{{$index}}">
                                        <span ng-show="!cat_myForm.textBoxValue{{$index}}.$valid && cat_myForm.textBoxValue{{$index}}.$error.pattern" class="text-danger">Enter valid format ({{uimask[attribute.Caption.replace(' ', '_').split('__')[2]]}}).</span>
                                    </div>

                                    <div ng-if="selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Hyperlink') && !selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                                        <input type="text" ng-model="selectedCategoryRow[attribute.Caption]" focus-me="focusInput" ng-blur="TextBoxChanged($event,this,attribute)" id='textBoxValuenumber{{attribute.split("__")[2]}}'>
                                    </div>

                                    <div ng-if="!selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Hyperlink') && selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') &&
                     selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4}\\s\\d{2}(\\-|\\:)\\d\\d(\\-|\\:)\\d{2})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)(?=.{11}(?:0[0-9]|1[0-9]|2[03]))(?=.{14}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{17}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))' ||
                      selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4}\\s\\d{2}(\\-|\\:)\\d\\d(\\-|\\:)\\d{2}\\s\\w{2})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)(?=.{11}(?:0[1-9]|1[0-2]))(?=.{14}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{17}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{20}(?:[A|P][M]))' && !selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                                        <input kendo-date-time-picker class="form-control" id='datetime{{attribute.Caption.split("__")[2]}}' k-format="'MM/dd/yyyy hh:mm tt'" ng-model="selectedCategoryRow[attribute.Caption]" k-interval="10" ng-blur="datetimecheck($event,attribute)" onkeydown="return true;" k-on-change="onDateSelected(selectedCategoryRow[attribute.Caption],attribute)" />
                                    </div>

                                    <div ng-if="!selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Hyperlink') && selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') &&
                     selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4})(?=.{3}(?:0[1-9]|[12]\\d|3[01]))(?=.{0}(?:0[1-9]|1[0-2]))(?!.{0}(?:0[2469]|11)-31)(?!.{0}02-30)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)...[13579])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)..[13579][048])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)..[02468][26])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.).[13579]00)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)[13579][048]00)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)[02468][26]00)' && !selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                                        <input kendo-date-picker class="form-control" id='datetime{{attribute.Caption.split("__")[2]}}' k-format="'MM/dd/yyyy'" name="monthdate" ng-model="selectedCategoryRow[attribute.Caption]" ng-blur="datecheck($event,attribute)" onkeydown="return false;" />
                                    </div>

                                    <div ng-if="!selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Hyperlink')  && selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') &&
                     selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(-|/|.)\\d\\d(-|/|.)\\d{4})(?=.{0}(?:0[1-9]|[12]d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(-|/|.)02(-|/|.)...[13579])(?!29(-|/|.)02(-|/|.)..[13579][048])(?!29(-|/|.)02(-|/|.)..[02468][26])(?!29(-|/|.)02(-|/|.).[13579]00)(?!29(-|/|.)02(-|/|.)[13579][048]00)(?!29(-|/|.)02(-|/|.)[02468][26]00)' ||
                     selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)' ||
                     selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.contains('System') && !selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                                        <input kendo-date-picker class="form-control" id='datetime{{attribute.Caption.split("__")[2]}}' k-format="'dd/MM/yyyy'" name="datemonth" ng-model="selectedCategoryRow[attribute.Caption]" ng-blur="datecheck($event,attribute)" onkeydown="return false;" />
                                    </div>
                                </div>
                                <div class="" ng-if="selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE!==3
                         && selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].USE_PICKLIST
                         && selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].IS_CALCULATED!==1">
                                    <select kendo-drop-down-list
                                            k-option-label="'--Select Value--'"
                                            id="Category_Pick_Name"
                                            ng-model="selectedCategoryRow[attribute.Caption]"
                                            k-data-source="selectedRowDynamic[attribute.Caption.split('__')[2]]"
                                            k-data-value-field="'ListItem'"
                                            k-data-text-field="'ListItem'" style="width: 175px;"></select>
                                        <span ng-show="userPicklist">
                                            <a style="cursor:pointer;margin-left:10px" ng-click="PicklistCreate(attribute.Caption.split('__')[2],selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].Picklist_NAME)">
                                                <img src='..\\Content\\images\\Edit Picklist.jpg' title="Modify Picklist" style="max-width:20px;max-height:20px;" />
                                            </a>
                                        </span>

                                </div>
                                <div style="margin-bottom: 10px" ng-if="selectedFamilyRowDynamicAttributes[attribute.Caption.replace(' ', '_').split('__')[2]].IS_CALCULATED" class="col-sm-3">
                                    <input type="text" class="form-control" ng-model="selectedCategoryRow[attribute.Caption]" min="0" step="any" focus-me="focusInput" id='textBoxValuenumber{{attribute.Caption.split("__")[2]}}' readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            @*<div id="accordions"  style="max-width: 100%;margin: 30px 0px;">
                    <div style="display: none;">
                        <div ng-if="attributes.length>0">
                            <h3>Category Attributes</h3>




                        </div>
                    </div>
                </div>*@



        </div>

        <div id="myModalCategory" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">HTML Preview</h4>
                    </div>
                    <div class="modal-body">
                        <p ng-bind-html="gettextareaValue"></p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <div role="alert">
            <span class="error" ng-show="cat_myForm.webpath.$error.required">
                Please enter a  WebCat Image Path.
            </span>
            <span class="error" ng-show="cat_myForm.refpath.$error.required">
                Please Enter a Reference Table Image Path.
            </span>
        </div>

        <div kendo-window="winAddOrEditCategorySpecs" k-resizable="false" k-title="'Edit Family Specs'" k-width="600" k-height="570" k-visible="false"
             k-actions='["Close"]'
             k-modal="true" k-on-open="winAddOrEditFamilySpecsVisible = true" k-on-close="onClose(kendoEvent)">
        </div>
    </form>
    <div id="columnsetupcategory" ng-show="attributesetup">
        @{Html.RenderPartial("ColumnSetup/ColumnSetupCategory");}
    </div>
    <div id="CategoryAttributePack" ng-show="attributepack">
        @{Html.RenderPartial("ColumnSetup/CategoryAttributePack");}
    </div>

    @*<div id="FamilyAttributePack" class="panel" style="margin-top: 10px;" ng-show="attributepack">
        <div id="accordion" style="max-width: 100%;">
            <button style="width: 94%; text-align: left;">Product Groups ({{CatfamilyPackCount}})</button>
            <div class="" style="width: 94%;">
                <div kendo-grid options="CategoryfamilyAttributePackOptions">
                </div>
            </div>
            <button style="width: 94%; text-align: left;">Item Groups ({{CatprodPackCount}})</button>
            <div class="" style="width: 94%;">
                <div kendo-grid options="CategoryproductAttributePackOptions">
                </div>
            </div>
        </div>

    </div>*@

</div>
<div kendo-window="winManageDrive" k-resizable="false" k-draggable="false" k-title="'Asset Management'" k-width="1150" k-height="600" k-visible="false"
     k-actions='["Close"]' k-modal="true" k-on-open="driveMahementIsVisible==true" k-on-close="onClose(kendoEvent)">
</div>


@*<iframe src="../Views/App/Partials/ImageManagementPopup.html"></iframe>*@

