﻿@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}

<script src="~/Design/js/split.js"></script>

<style>
    .productgrid1 {
        border: 1px solid #ccc;
        overflow: auto;
        width: 100%;
        display: block;
    }

    #myDIV01 {
        padding: 10px 10px;
        background-color: #fff;
        /*margin-top: -20px;*/
        display: none;
        /*overflow-y: hidden;
                max-height: 350px;*/
        overflow-x: hidden;
        font-size: 12px;
    }

    #pin {
        position: absolute;
        margin-bottom: 0px;
        margin-top: 0px;
        padding: 9px 6px 5px 6px;
        z-index: 1;
        background: #091f3f;
        border-radius: 0px;
        color: aliceblue;
        margin-left: -25px;
    }

    span#NavigationPin, span#NavigationUnPin {
        cursor: pointer;
    }

    #pin:hover + #sidebar-wrapper2 {
        display: block !important;
    }

    #dynamictable01 {
        float: left;
        overflow-x: auto;
        width: 100%;
    }

    .productgrid1 {
        height: 450px;
        overflow: auto;
    }

    .error {
        color: red;
    }

    .odd {
        color: red;
    }

    .even {
        color: red;
    }

    #treedata {
        height: auto;
        overflow: hidden;
        border: 1px solid #bbdceb;
        padding: 10px;
    }

    .gridpaging10 {
        margin: 0 .08333em;
        height: 25px;
        line-height: 1em;
        border-radius: 15px;
        cursor: pointer;
        text-align: center;
        border-style: solid;
        border-width: 1px;
        background-color: #f1f1f1;
        border: 1px solid #f1f1f1;
    }

    div#nullValueAttrEdit {
        max-height: 400px;
        border: 1px solid #efefef;
        padding: 0px 15px;
        margin: 0px 21px;
        overflow: auto;
    }
</style>
<script src="~/Design/js/split.js"></script>
<script type="text/javascript" src='@Url.Content("~/Views/App/Reports/DataCompletenessController.js")'></script>


<div class="main-content no-margin no-padding container" ng-controller="DataCompletenessController">
    <form id="myformmm">
        <div ng-controller="DataCompletenessController">
            <div kendo-window="skuAlertOptions" k-title="'Alert'" k-width="400" k-height="175" k-visible="false"
                 k-actions='["Close"]'
                 k-modal="true" k-on-open="skuAlertOptionsWindow = true" k-on-close="onClose(kendoEvent)">
            </div>

            <!-- Sidebar -->


            <div id="treedata" class="col-sm-3">
                <ul id="menu01" style="list-style: none;padding: 0px;">
                    <li id="ddlcatalog01">
                        <select kendo-drop-down-list
                                id="ddlKendocatalogDropDown01"
                                @*k-option-label="'--- Select Catalog ---'"*@
                                k-data-text-field="'CATALOG_NAME'"
                                k-data-value-field="'CATALOG_ID'"
                                k-data-source="catalogDataSource01"
                                ng-model="SelectedCatalogId"
                                onselect="selectCatalog01(kendoEvent)"
                                k-on-change="catalogChange01(kendoEvent)" style="width:100%"></select>
                    </li>
                    <li id="lblmastercatalog">
                        <label style="align-items:center"><b>MASTER CATALOG</b></label>
                    </li>
                    <li>
                        <div id="treeViewDiv01" style="margin-top: 10px;">
                            <div kendo-tree-view="tree" style="width:100%;min-height:auto;max-height: 430px; overflow:auto;background: #fff;"
                                 ng-right-click="ContextMenuEmpty($event)"
                                 k-data-source="treeData"
                                 id="leftNavTreeViewKendoNavigator01"
                                 k-load-on-demand="true"
                                 k-collapse="collapseData01"
                                 k-expand="expandData01"
                                 data-drag-and-drop="false"
                                 k-on-change="selectedItem = dataItem"
                                 k-options="treeOptionsCatalog01"
                                 @*ng-show="userRoleAddCreateManage"*@>
                                <span k-template style="width: 100% !important">
                                    <a class='k-item' ng-if='dataItem.CategoryIdinNavigator==true' id="{{dataItem.id}}" kendo-tooltip k-content="dataItem.CATEGORY_NAME" ng-click='clickSelectedItem01(dataItem,$event)' ng-right-click="ContextMenu($event,dataItem)" on-long-press="onLongPress(dataItem,$event)" on-touch-end="onTouchEnd()" prevent-click="true">
                                        [{{dataItem.CATEGORY_SHORT}}]{{dataItem.CATEGORY_NAME}}
                                    </a>
                                    <a class='k-item' style="display: inline-block" ng-if="dataItem.CategoryIdinNavigator==false && dataItem.CATEGORY_NAME.indexOf('^') !== -1" id="{{dataItem.id}}" ng-click='clickSelectedItem01(dataItem,$event)' ng-right-click="ContextMenu($event,dataItem)" on-long-press="onLongPress(dataItem,$event)" on-touch-end="onTouchEnd()" prevent-click="true">{{dataItem.CATEGORY_NAME.replace('^','')}}</a>
                                    <a class='k-item' kendo-tooltip k-content="dataItem.CATEGORY_NAME" ng-if="dataItem.CategoryIdinNavigator==false && dataItem.CATEGORY_NAME.indexOf('^') ===-1"
                                       id="{{dataItem.id}}" ng-click='NullvalueAttributes(dataItem)'
                                       ng-right-click="ContextMenu($event,dataItem)" on-long-press="onLongPress(dataItem,$event)" on-touch-end="onTouchEnd()" prevent-click="true">
                                        {{dataItem.CATEGORY_NAME}}
                                    </a>
                                    <a style="display: inline-block" ng-if="dataItem.CategoryIdinNavigator==false && dataItem.CATEGORY_NAME.indexOf('^') !== -1"
                                       ng-click='clickSelectedItemSubProduct(dataItem,$event)' ng-right-click="ContextMenu($event,dataItem)"
                                       on-long-press="onLongPress(dataItem,$event)" on-touch-end="onTouchEnd()" prevent-click="true">
                                    </a>
                                </span>

                            </div>
                        </div>
                    </li>

                </ul>
            </div>



            <div id="myDIV01" class="k-grid k-widget" style="width: 72%;float: right;">

                <div class="col-sm-12 padding-0 Testing" id="nullvalueAttrgrid" style="max-height: 460px;" ng-cloak>
                    <table ng-table="nullvalueattribute" watch="noValueAttribute1" threshold="100" class="productgrid1 table table-condensed table-bordered table-striped" @*width="90px" *@ style="border: 1px solid #ccc; ">
                        <tbody>

                            <tr ng-if="$index==0" ng-repeat="data in attributeValues">
                                <th>ACTION</th>
                                <th ng-repeat="(X,Y) in data" ng-if="X=='PRODUCT_ID'">{{X}}</th>
                                <th ng-repeat="(X,Y) in data" ng-if="X!='PRODUCT_ID'">{{X}}</th>
                            </tr>
                            <tr ng-repeat="data in attributeValues ">
                                <td>
                                    <a href='javascript:void(0);' ng-click="selectedRowValue(data.PRODUCT_ID,$event,data)"><div title='Edit' class='glyphicon glyphicon-edit blue btn-xs-icon'></div> EDIT </a>
                                </td>
                                <td ng-if="X=='PRODUCT_ID'" ng-repeat="(X,Y) in data">
                                    {{Y}}
                                </td>
                                <td ng-if="X!=='PRODUCT_ID'" ng-repeat="(X,Y) in data">
                                    {{Y}}
                                    @*<span ng-if="!Y" style="background:rgb(255, 128, 128);display: block;height: 20px;"></span>*@
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                @*<div class="col-sm-5 Testing" id="nullValueAttrEdit" style="max-height: 460px;" ng-cloak>
                        <br />
                        <input type="text" class="search" placeholder="Search Attribute" ng-model="searchText" ng-keypress="EntercallAttributeNameSearch($event)" style="height: 20px;">
                        <button class="btn btn-primary" ng-click="attributeNameSearch()" style="height: 21px;border-bottom-right-radius: 4px;border-top-right-radius: 4px;margin-left: -4px !important;border: aliceblue;margin-top: -5px;"><i class="fa fa-search"></i></button>
                        <button id="dataReset" class="btn btn-primary" title="Reset" ng-click="ResetEditClick()"
                                style="height: 21px;border-bottom-right-radius: 4px;border-top-right-radius: 4px;margin-left: 1px !important;border: aliceblue;margin-top: -5px;">
                            <i class="fa fa-refresh"></i>
                        </button>
                        <div class="col-sm-5" style="margin-top: 7px;" ng-repeat="(key,value) in getselectedRowValue track by $index" ng-if="key!=='PRODUCT_ID' && key!=='ID'">
                            <label class="nullvaluelabel">{{key}} </label>
                                <input id="editvalue" class="MyTestClass" type="text" ng-if="key!=='PRODUCT_ID'&& key!=='ID'&& key!=='ITEM#'" ng-model="textBoxValue[key]" />
                                <input type="text" ng-if="key=='ITEM#'" ng-model="itemNumbr" readonly />
                        </div>
                        <div id="buttonsForEdit" class="col-sm-12" style="padding: 0;text-align: center;margin: 15px 0px;">
                            <button type="button" class="btn btn-primary btn-xs" id="btnSaveOptions" name="btnSaveOptions" ng-click="updateValue(textBoxValue)" title="{{saveProductSpecs}}">Update</button>
                            <button type="button" class="btn btn-primary btn-xs" ng-click="cancelEdit()">Cancel</button>
                        </div>
                    </div>*@

                <div class="small-capsGrid" id="table10" style="background-color: rgba(255,255,255,.6);padding: 0px;">
                    <div id="nullValueAttrEdit" style="display:none">
                        <div class="scrollArea">

                            <div class="dropdown responsiveip col-sm-12 margin-top-10 margin-bottom-20">


                                <input type="text" class="search" placeholder="Search Attribute" ng-model="searchText" ng-keypress="EntercallAttributeNameSearch($event)" style="height: 21px;">
                                <button class="btn btn-primary" ng-click="attributeNameSearch()" style="border-bottom-right-radius: 4px;border-top-right-radius: 4px;margin-left: -4px !important;border: aliceblue;margin-top: -2px;"><i class="fa fa-search"></i></button>
                                <button @*id="btnReset"*@ class="btn btn-primary" title="Reset" ng-click="ResetEditClick()"
                                        style="border-bottom-right-radius: 4px;border-top-right-radius: 4px;margin-left: 1px !important;border: aliceblue;margin-top: -2px;">
                                    <i class="fa fa-refresh"></i>
                                </button>
                            </div>


                            <div class="col-sm-6 float-left padding-0" style="margin-bottom: 5px;" ng-repeat="attribute in attributes" ng-if="attribute.split('__')[0] == 'ITEM#'">
                                <div ng-if="attribute.split('__')[0] == 'ITEM#'">
                                    <div class="padding-0 margintop" style="margin-left: 5px;text-align: left;" title="ITEM#">
                                        ITEM#
                                    </div>
                                    <div ng-if="attribute.split('__')[0] == 'ITEM#'">
                                        <input style="" type="text" readonly
                                               ng-model="selectedRow[attribute]"
                                               ng-maxlength="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].attributePattern" id="textBoxValue{{$index}}"
                                               name="textBoxValue{{$index}}"
                                               ng-blur="datatypecheck($event,selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT,attribute)">
                                    </div>
                                </div>


                            </div>

                            <div class="col-sm-6 padding-0 float-left more" style="margin-bottom: 5px;" ng-repeat="attribute in attributes" ng-if="attribute!=='DynamicList' && attribute!=='ID'&& attribute!=='CATALOG_ID'&& attribute!=='ATTRIBUTE_ID'&& attribute!=='PRODUCT_ID'&& attribute!=='FAMILY_ID'&& attribute!=='CATEGORY_ID' && attribute!=='SORT'&& attribute!=='WORKFLOW STATUS' && attribute.split('__')[0] !== 'ITEM#' && attribute !== 'PUBLISH2WEB' && attribute !== 'PUBLISH2PRINT' &&  attribute !== 'PUBLISH2PDF' && attribute !== 'PUBLISH2EXPORT'  && attribute !== 'PUBLISH2PORTAL' && attribute.split('__')[1] == 'OBJ'">

                                <div class="row top-buffer col-sm-12 float-left padding-0">
                                    <div class="col-sm-12" ng-if="attribute!=='PUBLISH'&&  attribute!=='ID'&& attribute!=='PUBLISH2PRINT' && attribute!=='WORKFLOW STATUS'  &&  attribute.split('__')[1] ==='OBJ'" style="margin-top: 7px;text-align: left;">
                                        <div class="textwrap" ng-if="attribute.split('__')[0] !== 'ITEM#'" title="{{attribute.split('__')[0]}}">
                                            {{attribute.split('__')[0]}}
                                        </div>
                                    </div>
                                    <div ng-if="attribute!=='DynamicList' && attribute!=='ID'&&  attribute.split('__')[1] ==='OBJ' && attribute!=='PUBLISH'&& attribute!=='PUBLISH2PRINT' && attribute!=='WORKFLOW STATUS' && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED" class="col-sm-6">

                                        <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE!==4 && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE!==3 && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST && attribute.split('__')[0]!=='Supplier'">

                                            <input style="" type="text" ng-model="selectedRow[attribute]" ng-pattern="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].attributePattern"
                                                   ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" id="textBoxValue{{$index}}" name="textBoxValue{{$index}}" />
                                            @*<span ng-show="edit_myForm.textBoxValue{{$index}}.$invalid && edit_myForm.textBoxValue{{$index}}.$error.pattern" class="text-danger">Enter valid format ({{selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].uimask}}).</span>*@




                                            <input type="text" style=""
                                                   ng-model="selectedRow[attribute]"
                                                   ng-maxlength="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].attributePattern" id="textBoxValue{{$index}}"
                                                   name="textBoxValue{{$index}}"
                                                   ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Tex') && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.contains('a-zA-Z') && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.contains('uFFFF')"
                                                   ng-blur="datatypecheck($event,selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT,attribute)">


                                            <textarea ng-model="selectedRow[attribute.ColumnName]" rows="3" columns="3" class="form-control"
                                                      ng-disabled="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY"
                                                      ng-maxlength="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].attributePattern"
                                                      id="textBoxValue{{$index}}" name="textBoxValue{{$index}}"
                                                      ng-if="selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Tex') && selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_ID!==1 && selectedRowDynamicAttributes[attribute.ColumnName.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.contains('uFFFF')"></textarea>
                                            @*<span class="error" ng-show="edit_myForm.textBoxValue{{$index}}.$error.maxlength">
                                                    Value is too long. Please correct it. Maximum characters is {{selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].uimask}}
                                                </span>*@
                                        </div>
                                        <div class="" ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE!==3
                                            && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST
                                            && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED!==1" style="width: 215px;">
                                            <select kendo-drop-down-list
                                                    k-option-label="'--Select Value--'"
                                                    ng-model="selectedRow[attribute]"
                                                    k-data-source="selectedRowDynamic[attribute.split('__')[2]]"
                                                    ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY"
                                                    k-data-value-field="'ListItem'"
                                                    k-data-text-field="'ListItem'" style="width: 175px;"></select>

                                            <span ng-show="userPickList">
                                                <a style="cursor: pointer;margin-left:10px" ng-click="PicklistCreate(attribute.split('__')[2],selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].PICKLIST_NAME)" ng-hide="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY">
                                                    <img src='..\\Content\\images\\Edit Picklist.jpg' title="Modify PickList" style="max-width:20px;max-height:20px;" />
                                                </a>
                                            </span>
                                        </div>
                                        <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE===4 && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink' && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED && attribute.split('__')[0]!=='Supplier' &&  !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date')">

                                            <input style="" type="text" ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" name="textBoxValue{{$index}}" ng-model="selectedRow[attribute]" ng-pattern="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].attributePattern" id="textBoxValue{{$index}}" onkeypress='return (event.which >= 48 && event.which <= 57) || event.which == 8 || event.which == 46'>
                                            @*<span ng-show="edit_myForm.textBoxValue{{$index}}.$invalid && edit_myForm.textBoxValue{{$index}}.$error.pattern" class="text-danger">Enter valid format ({{selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].uimask}}).</span>*@
                                        </div>

                                        <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE===3 && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink' && attribute.split('__')[1] ==='OBJ' && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">

                                            <input style="" type="text" ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" ng-model="selectedRow[attribute]" id="{{attribute}}" readonly>
                                            <br />

                                            <img ng-if="selectedRow[attribute]!=null &&  !selectedRow[attribute].toLowerCase().contains('.pdf') && !selectedRow[attribute].toLowerCase().contains('.zip') && !selectedRow[attribute].toLowerCase().contains('.rar') && !selectedRow[attribute].toLowerCase().contains('.xls') && !selectedRow[attribute].toLowerCase().contains('.xlsx') && !selectedRow[attribute].toLowerCase().contains('.pdf') && !selectedRow[attribute].toLowerCase().contains('.exe') &&
                                                       !selectedRow[attribute].toLowerCase().contains('.msi') && !selectedRow[attribute].toLowerCase().contains('.doc')&& !selectedRow[attribute].toLowerCase().contains('.docx') && !selectedRow[attribute].toLowerCase().contains('.tif') && !selectedRow[attribute].toLowerCase().contains('.tiff') && !selectedRow[attribute].toLowerCase().contains('.psd') && !selectedRow[attribute].toLowerCase().contains('.eps') "
                                                 ng-src='{{getPathFromWebConfig}}Content/ProductImages/{{getCustomerCompanyName}}{{selectedRow[attribute]}}'
                                                 alt="{{selectedRow[attribute]}}" style="max-width:100%;max-height:195px;margin:5px" />

                                            <div ng-if="selectedRow[attribute].split('.')[selectedRow[attribute].split('.').length-1]=='eps' && selectedRow[attribute].split('.')[selectedRow[attribute].split('.').length-1]=='psd' && selectedRow[attribute].split('.')[selectedRow[attribute].split('.').length-1]=='tiff'" style="max-width:55%;max-height:195px;"><p>Preview only available in Family/Category preview</p></div>

                                            <a ng-if="selectedRow[attribute].toLowerCase().contains('.pdf')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;">
                                                <img src='..\\Content\\images\\pdf.png' alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;" />
                                            </a>
                                            <a ng-if="selectedRow[attribute].toLowerCase().contains('.zip') || selectedRow[attribute].toLowerCase().contains('.rar')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;">
                                                <img src='..\\Content\\images\\zip.png' alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;" />
                                            </a>
                                            <a ng-if="selectedRow[attribute].toLowerCase().contains('.xls') || selectedRow[attribute].toLowerCase().contains('.xlsx')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;">
                                                <img src='..\\Content\\images\\xls.png' alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;" />
                                            </a>
                                            <a ng-if="selectedRow[attribute].toLowerCase().contains('.exe') || selectedRow[attribute].toLowerCase().contains('.msi')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;">
                                                <img src='..\\Content\\images\\exe.png' alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;" />
                                            </a>
                                            <a ng-if="selectedRow[attribute].toLowerCase().contains('.doc') || selectedRow[attribute].toLowerCase().contains('.docx')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;">
                                                <img src='..\\Content\\images\\doc.png' alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;" />
                                            </a>
                                            <div ng-if="selectedRow[attribute].toLowerCase().contains('.pdf') || selectedRow[attribute].toLowerCase().contains('.zip') || selectedRow[attribute].toLowerCase().contains('.rar') || selectedRow[attribute].toLowerCase().contains('.xls') || selectedRow[attribute].toLowerCase().contains('.xlsx') || selectedRow[attribute].toLowerCase().contains('.pdf') || selectedRow[attribute].toLowerCase().contains('.exe') ||
                                                     selectedRow[attribute].toLowerCase().contains('.msi') || selectedRow[attribute].toLowerCase().contains('.doc') || selectedRow[attribute].toLowerCase().contains('.docx') || selectedRow[attribute].toLowerCase().contains('.tif') || selectedRow[attribute].toLowerCase().contains('.tiff') || selectedRow[attribute].toLowerCase().contains('.psd') || selectedRow[attribute].toLowerCase().contains('.eps') " target="_blank"
                                                 style="max-width:100%;max-height:195px;">
                                                <div style="max-width:100%;max-height:195px;"><p>Preview only available in Product/Sub-Product preview</p></div>
                                            </div>
                                            <div align="left">
                                                <input name="files" id="{{attribute}}"
                                                       type="file"
                                                       title="Product Image"
                                                       ng-disabled="!userImageandAttachments"
                                                       kendo-upload
                                                       k-multiple="false"
                                                       k-async="{ saveUrl: '/Category/SaveImage', removeUrl: '/Category/RemoveImage', autoUpload: true }"
                                                       k-select="onProdSelect" k-success="onProdSuccess" ng-if="false" />
                                                <button id="{{attribute}}" ng-disabled="!userImageandAttachments" title="Product Image" type="button" class="btn btn-primary" style="margin: 10px 0px;" ng-click="OpenPopupWindow(attribute)"><i class="fa fa-paperclip"></i></button>
                                                <button id="{{attribute}}" ng-disabled="!userImageandAttachments" title="Product Image Clear" type="button" class="btn btn-primary" style="margin: 10px 0px;" ng-click="clearImagePath(attribute)"><i class="fa fa-close"></i></button>
                                            </div>
                                            <input placeholder="Caption" type="text" ng-model="selectedRow[attribute.replace('OBJ',1)]" id="textBoximg{{$index}}">
                                        </div>
                                        <div ng-if="attribute.split('__')[0]==='Supplier'" ng-controller="productSupplierController" ng-cloak>
                                            <div id="dropDownSupplierGrid">
                                            </div>
                                        </div>
                                        <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE==='Hyperlink(0)' || selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE=='Hyperlink'&& !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED && attribute.split('__')[0]!=='Supplier' && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                                            <input style="" type="text" ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" ng-model="selectedRow[attribute]" min="0" step="any" focus-me="focusInput" ng-blur="TextBoxChanged($event,this,attribute)" id='textBoxValuenumber{{attribute.split("__")[2]}}'>

                                        </div>
                                        <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)'
                                                      && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink'&&
                                                      !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED &&
                                                      attribute.split('__')[0]!=='Supplier' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') &&
                                                       selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4}\\s\\d{2}(\\-|\\:)\\d\\d(\\-|\\:)\\d{2})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)(?=.{11}(?:0[0-9]|1[0-9]|2[03]))(?=.{14}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{17}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))' ||
                                                       selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4}\\s\\d{2}(\\-|\\:)\\d\\d(\\-|\\:)\\d{2}\\s\\w{2})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)(?=.{11}(?:0[1-9]|1[0-2]))(?=.{14}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{17}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{20}(?:[A|P][M]))' && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                                            <!--<input id="datetimepicker" name="datetimepicker" style="width:200px;" required />
                                            <span class="k-invalid-msg" data-for="datetimepicker"></span>-->
                                            <!--id='datetime{{attribute.split("__")[2]}}'-->
                                            <input styl>

                                            <input style="" kendo-date-time-picker id='datetimeEditProduct{{attribute.split("__")[2]}}'
                                                   ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" k-format="'MM/dd/yyyy hh:mm tt'"
                                                   ng-model="selectedRow[attribute]" k-interval="10" ng-blur="datetimecheck($event,attribute)" onkeydown="return true;" k-on-change="onDateSelected(selectedRow[attribute],attribute)" />
                                            <!--<span class="k-invalid-msg" data-for='datetime{{attribute.split("__")[2]}}'></span>-->
                                        </div>

                                    </div>


                                </div>


                            </div>

                            <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink'&& !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED && attribute.split('__')[0]!=='Supplier' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') &&
                                                            selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4})(?=.{3}(?:0[1-9]|[12]\\d|3[01]))(?=.{0}(?:0[1-9]|1[0-2]))(?!.{0}(?:0[2469]|11)-31)(?!.{0}02-30)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)...[13579])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)..[13579][048])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)..[02468][26])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.).[13579]00)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)[13579][048]00)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)[02468][26]00)' && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                                <input style="width: 175px !important;" kendo-date-picker id='datetime{{attribute.split("__")[2]}}' ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" k-format="'MM/dd/yyyy'" name="monthdate" ng-model="selectedRow[attribute]" ng-blur="datecheck($event,attribute)" onkeydown="return true;" />

                            </div>
                            <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink'&& !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED && attribute.split('__')[0]!=='Supplier' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') &&
                                                     selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)' ||
                                                           selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)' ||
                                                          selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.contains('System') && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                                <input style="width: 175px !important;" kendo-date-picker id='datetime{{attribute.split("__")[2]}}' ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" k-format="'dd/MM/yyyy'" name="datemonth" ng-model="selectedRow[attribute]" ng-blur="datecheck($event,attribute)" onkeydown="return true;" />

                            </div>


                        </div>

                        <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED" class="col-sm-3">
                            <input type="text" ng-model="selectedRow[attribute]" min="0" step="any" focus-me="focusInput" id='textBoxValuenumber{{attribute.split("__")[2]}}' readonly class="background-color-grey" style="cursor:not-allowed">
                        </div>

                        @*<div id="invertedselectedattributenoresultfound" style="padding: 26px;text-align: -webkit-center;background-color: aliceblue;">
                                No Results Found
                            </div>*@

                        <div class="col-sm-12" style="padding: 12px 0px;text-align: center;background: #f7f7f7;margin-top: 0px;">
                            <button type="button" class="btn btn-primary btn-xs" @*id="btnSaveOptions"*@ name="btnSaveOptions" ng-click="updateValue(selectedRow)" title="{{saveProductSpecs}}">Update</button>
                            <button type="button" class="btn btn-primary btn-xs" @*id="btnCancelOptions"*@ name="btnCancelOptions" ng-click="cancelEdit()" title="{{cancelProductSpecs}}">Cancel</button>
                        </div>
                    </div>
                </div>



                @*pagination*@
                <div class="pull-left" style="position: relative;">
                    <button class="gridpaging10" type="button" ng-click="pagenew('1')"><span class="k-icon k-i-seek-w"></span></button>
                    <button class="gridpaging10" type="button" ng-click="pagenew('PREV')"><span class="k-icon k-i-arrow-w"></span></button>
                    <select kendo-drop-down-list class="selectcss" id="cboProdPageCount2"
                            k-data-source="ProdPageCount"
                            ng-model="ProdCurrentPage"
                            k-on-change="pagingnew(ProdCurrentPage)" style="background-color: white !important;width: 60px"></select>
                    <button class="gridpaging10" type="button" ng-click="pagenew('NEXT')"><span class="k-icon k-i-arrow-e">Go to the next page</span></button>
                    <button class="gridpaging10" type="button" ng-click="pagenew(totalProdPageCount1)"><span class="k-icon k-i-seek-e">Go to the last page</span></button>
                    <div class="pull-right margin-right-30" style="text-transform: none !important;font-size: 15px">

                    </div>
                </div>
            </div>




        </div>
    </form>
</div>

<script>

    Split(['#sidebar-wrapper2', '#page-content-wrapper1'], {
        sizes: [19, 81],
        minSize: 200
    });

    $(function () {
        $('td:empty').css(" background-color", "#ff0000");
    });
</script>



