﻿<script type="text/javascript" src='@Url.Content("~/Views/App/Reports/ReportController.js")'></script>

<style>
    .heightsample {
        height: 600px !important;
        width: 70%;
    }
</style>
<form name="missingimageform" ng-controller="ReportContro
ller" ng-cloak>

    <div class="col-sm-12 no-padding">
        <div kendo-grid k-options="mainGridOptions"></div>
    </div>
</form>