﻿

@{
    ViewBag.Title = "NullAttribute";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}

<script type="text/javascript" src='@Url.Content("~/Views/App/Reports/ReportController.js")'></script>

<div ng-controller="ReportController">



    @Html.Raw("<div class=\"titleblue\"><a href=\"../App/AdminDashboard\" class=\"breadcrumbs\">Home</a><span class=\"breadcrumbs\">&nbsp;&gt;&nbsp;</span><span class=\"breadcrumbs\">List of Empty Image attribute Items</span>  </div>")

    <div id="kendo" kendo-grid options="NullAttributeItemsGridOptions">
    </div>


</div>
