﻿@*//==========================================PRITHVIN===============================================//*@

@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_LayoutWithoutTree.cshtml";
}


@*
    <script src="http://cdn.kendostatic.com/2014.3.1029/js/jszip.min.js"></script>*@
<script src="~/Scripts/jszip.min.js"></script>
<style>
    div#importCompleteness {
        background: rgba(51, 153, 51, 0.39);
        border: 1px solid #339933;
        border-radius: 0px;
        margin-bottom: 5px;
    }

    .k-progressbar > .k-reset {
        left: 0px;
        border-radius: 0px;
    }

    .k-state-selected {
        color: #fff;
        background-color: #339934 !important;
        border-color: #339934 !important;
    }



    .k-progressbar-horizontal .k-item {
        /*border-width: 1px 0 0px 0px !important;*/
        border-radius: 0px !important;
        border-width: 1px 1px 1px 0px !important;
        border-color: transparent !important;
    }

    .k-progressbar-horizontal .k-last, .k-rtl .k-progressbar-horizontal .k-first {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .selectbulkfile {
        padding-bottom: 15px;
    }

    .k-tabstrip > .k-content {
        margin: 0 .286em .3em !important;
    }

    .exportlnk {
        cursor: pointer;
        text-decoration: underline;
        color: green;
        float: right;
        margin: 5px;
    }

    div#tabstripsub-1 {
        border-color: white;
    }

    ul#tabselectsub {
        display: none;
    }

    hr {
        margin-top: 0px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid lightblue !important;
    }

    #ImportProcess {
        text-decoration: none;
        list-style-type: none;
    }

        #ImportProcess > li {
            float: left;
            border: solid;
            border-color: #4b9f46;
        }

    .listFirst {
        border: none;
        width: 15%;
    }

    .leftBox {
        width: 100%;
        height: 50px;
        background-color: #091f3f;
        text-align: center;
    }

    .leftBoxactive {
        width: 100%;
        height: 50px;
        background-color: #4b9f46;
        text-align: center;
    }

    .leftBox > p {
        color: white;
        font-size: 15px;
        text-align: center;
        padding-top: 15px;
    }

    .leftBoxactive > p {
        color: white;
        font-size: 1px;
        text-align: center;
        padding-top: 15px;
    }

    #leftMenu {
        list-style-type: none;
        width: 100%;
    }

        #leftMenu > li {
            background-color: #091f3f;
            border-color: #091f3f;
            color: white;
            display: block;
            border: none;
            background: none;
            width: 100%;
            text-align: justify;
            cursor: pointer;
            outline: none;
            width: 167px;
        }

    .sidenav a, .dropdown-btn {
        padding: 10px 0px 12px 10px;
        text-decoration: none;
        font-size: 15px;
        color: white;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: justify;
        cursor: pointer;
        outline: none;
    }

    .leftMenuactive {
        padding: 30px 30px 30px 30px !important;
        background-color: #4b9f46 !important;
        height: 10% !important;
        border: thin !important;
        border-color: #4b9f46 !important;
        color: white !important;
    }

    .tablescroll {
        display: -webkit-box;
        height: 240px;
        overflow: auto;
        width: 68%;
    }

    .k-list-filter > .k-icon {
        position: absolute;
        right: 6px !important;
        top: 50%;
        -webkit-transform: translateY(-50%) !important;
    }

    .displayfilename {
        word-break: break-all;
        display: block;
        width: 100%;
    }

    file-upload.btn.btn-primary {
        background: #fff;
        color: #000;
        width: 25%;
        border: 2px dotted #f1f1f1 !important;
        height: 35px;
        margin-bottom: 10px;
        margin-top: 0px;
    }

    .tablescroll1 {
        display: -webkit-inline-box;
        height: 240px;
        overflow: auto;
        width: auto;
        margin-left: 15%;
        background: #fff !important;
    }

    ul#ImportProcess > li > #leftMenu {
        list-style-type: none;
        width: 100%;
        background: #081f40;
        height: 506px;
        padding-left: 0px;
    }

    .fixed-header {
        position: absolute;
        width: 971px;
        top: 130px;
        z-index: 1;
    }

    .float-left {
        float: left;
    }

    #myProgress {
        width: 100%;
        background-color: grey;
    }

    #myBar {
        width: 1%;
        height: 30px;
        background-color: green;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 999999; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }


    .grayout {
        opacity: 0.6; /* Real browsers */
        filter: alpha(opacity = 60); /* MSIE */
    }

    .unselect {
        width: 200px;
        border: 1px solid red;
    }

    .select {
        width: 200px;
    }

    .selectattrList {
        width: 300px;
    }

    .unselectattrList {
        width: 300px;
        border: 1px solid red;
    }

    #leftMenu > li.batchlogmenu:hover {
        background: #4b9f46;
    }

    input#txtDataTime {
        width: 99% !important;
        border: 1px solid #ccc;
    }

    .k-datetimepicker {
        padding: 0px;
    }

    .cus {
        font-size: 11px !important;
        color: black !important;
        background-color: #a3d0e4 !important;
    }

    #samplegridmod > thead {
        position: relative;
        display: block; /*seperates the header from the body allowing it to be positioned*/
        /*width: 640px;*/
        overflow: visible;
    }

    .gridpaging10 {
        margin: 0 .08333em;
        height: 25px;
        line-height: 1em;
        border-radius: 15px;
        cursor: pointer;
        text-align: center;
        border-style: solid;
        border-width: 1px;
        background-color: #f1f1f1;
        border: 1px solid #f1f1f1;
    }

    .leftMenu > a {
        color: #ffffff;
        padding: 10px 10px;
        width: 100%;
        display: block;
    }

    #modifiedproductsreport, #newproducts, #discontinuedproductdatepicker {
        padding: 10px 10px;
        background-color: #fff;
        /*margin-top: -20px;*/
        display: none;
        /*overflow-y: hidden;
        max-height: 350px;*/
        overflow-x: hidden;
        font-size: 12px;
    }

    .k-window-titlebar.k-header {
        /*background: #275CAB !important;*/ /*set background to the titlebar*/
        /*color: white;*/ /*set color to the titlebar*/
        font-weight: bold !important; /*set font-weight to the titlebar*/
        /*text-transform: uppercase;*/
        text-transform: capitalize;
        text-rendering: geometricPrecision;
        letter-spacing: 0.065em;
    }



    ul li a:hover {
        color: #fff;
        background: #00b33c;
    }



    /*Left Navigation W3School*/

    /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
    .dropdown-container {
        display: none;
        background-color: #091f3f;
        padding: 5px;
        position: relative;
        width: 95%;
    }

    /* Optional: Style the caret down icon */
    .fa-caret-down {
        float: right;
        padding-right: 21px;
        margin-top: 3px;
    }

    input#datetimepicker_from, #datetimepicker_to {
        width: 100% !important;
    }

    /*Left Navigation Ends*/

    .responsiveip {
        background: #efefef;
        padding: 15px 0px;
    }

    .width-48 {
        width: 56%;
        float: left;
        padding: 0px 10px;
    }

    .scrollArea {
        height: 425px;
        overflow: auto;
    }
      .loadmore {
        background: #ffffff;
        color: #4b9f46;
        padding: 10px;
        text-align: center;
        font-size: 15px;
        border: 1px solid #4b9f46;
        transition: ease-out 0.7s;
        margin: 15px 15px 0px 15px;
        cursor: pointer;
    }

        .loadmore:hover {
            background: #4b9f46;
            color: #fff;
        }
</style>

<div class="main-content no-margin no-padding container" ng-controller="ReportController">
    <div class="container no-padding">
        <div class="row no-margin">


            <div class="col-sm-12 no-padding">

                <div id="tabstripbulk">
                    <ul id="tabselectbulk" style="display:none">
                        <li id="att_assbulk" class="k-state-active">
                        </li>
                    </ul>

                    <div style="padding: 15px 15px;overflow: hidden;">
                        <ul id="ImportProcess" class="col-lg-12 padding-0">
                            <li style="float:left;width: 12.5%; border:none" class="col-sm-2 padding-0">





                                <ul id="leftMenu">

                                    <li class="leftMenu"><a ng-click="catalogsum()">Catalog Summary</a></li>
                                    <li class="leftMenu">
                                        <button class="dropdown-btn">
                                            Last seven days
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                        <div class="dropdown-container">
                                            <ul class="padding-0" style="list-style: none;">
                                                <li><a style="display: block;padding: 7px 2px;" ng-click="famcreated7days()">Family</a></li>
                                                <li><a style="display: block;padding: 7px 2px;" ng-click="prodmodfi7days()">Products</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="leftMenu"><a ng-click="duplicateitem()">Duplicate Item Number</a> </li>
                                    <li class="leftMenu"><a ng-click="supplierlist()">Supplier List</a> </li>


                                    <li class="leftMenu">
                                        <button class="dropdown-btn">
                                            Products
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                        <div class="dropdown-container">
                                            <ul class="padding-0" style="list-style: none;">
                                                <li><a style="display: block;padding: 7px 2px;" ng-click="newprods()">New Products</a></li>
                                                <li><a style="display: block;padding: 7px 2px;" ng-click="modifiedprods()">Modified Products</a></li>
                                                <li><a style="display: block;padding: 7px 2px;" ng-click="discontinuedProducts()">Deleted Products</a></li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li class="leftMenu"><a ng-click="allreports()">All Attributes Reports</a> </li>
                                    @*<li class="leftMenu">@Html.ActionLink("DataCompleteness", "DataCompleteness")</li>*@
                                    <li class="leftMenu"><a ng-click="duplicateimagelist()">Duplicate Image List  </a> </li>



                                </ul>
                            </li>
                            <li class="mappingattribute col-sm-10 padding-0" style="width:87%;height: 500px;">

                                <div id="catsum">
                                    @{Html.RenderPartial("~/Views/App/Reports/Summary.cshtml");}
                                </div>
                                @*============================================family created in last seven days===================*@
                                <div id="Family_Created_in_Last_7_days_Report" class="kendowidth panel-body" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="familycreatedoptions" ng-if="selects!=='' && selects=='Family Created in Last 7 days Report'"></div>
                                @*============================================product created in last seven days===================*@
                                <div id="Products_Modified_in_Last_7_days_Report" class="kendowidth panel-body" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="prodmodifiedoptions" ng-if="selects!=='' && selects=='Products Modified in Last 7 days Report'"></div>
                                @*============================================Duplicate Catalog Item Number Report===================*@
                                <div id="Duplicate_item_Report" class="kendowidth panel-body" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="duplicateitemoptions" ng-if="selects!=='' && selects=='Duplicate Catalog Item Number Report'"></div>
                                @*============================================Supplier list Report===================*@
                                <div id="supplier_list_report" class="kendowidth panel-body" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="supplierlistoptions" ng-if="selects!=='' && selects=='Supplier List Report'"></div>
                                @*============================================All Report=============================*@
                                <div id="all_report" class="kendowidth panel-body" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="allattriboptions" ng-if="selects!=='' && selects=='All Attributes Report'"></div>
                                @*============================================Modified products=============================*@
                                <div class="col-sm-12 row" style="margin: 15px 0px;" ng-show="selects!=='' && selects=='Report modified products'" id="modifiedproductsreport">
                                    <div class="col-sm-7 margin-bottom-15" id="filterbydate">

                                        <div class="col-sm-1 padding-0 textalignright margintop"><label class="bold">From</label></div>
                                        <div class="col-sm-4 padding-right-0">
                                            <div class="datepicker">
                                                <input type="text" id="datetimepickerFrom1" ng-model="startDateModify" style="width: 130px !important" readonly /><i class="fa fa-calendar" style="margin-left: -15px;"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-1 padding-0 textalignright margintop"><label class="bold">To</label></div>
                                        <div class="col-sm-4 padding-right-0">
                                            <div class="datepicker">
                                                <input type="text" id="datetimepickerTo2" ng-model="endDateModify" style="width: 130px !important" readonly /><i class="fa fa-calendar" style="margin-left: -15px;"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-primary btn-sm" id="modifyproducts" ng-if="selects!=='' && selects=='Report modified products'" ng-click="modifyproducts()">Go</button>
                                        </div>


                                    </div>
                                    <div class="col-md-12 row p-0">
                                        <div id="modifyproductss" title="{{hierarchy}}" class="kendowidth panel-body" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="modifyoption" ng-if="selects!=='' && selects=='Report modified products'"></div>
                                    </div>

                                </div>





                                @*============================================New products=============================*@
                                <div class="col-sm-12 row" style="margin: 15px 0px;" ng-show="selects!=='' && selects=='Report new products'" id="newproducts">
                                    <div id="new-filterbydate" class="col-sm-7 margin-bottom-15">

                                        <div class="col-sm-1 padding-0 textalignright margintop"><label class="bold">From</label></div>
                                        <div class="col-sm-4 padding-right-0">
                                            <div class="datepicker">
                                                <input type="text" id="datetimepickerFrom3" ng-model="startDatenew" style="width: 130px !important;" readonly /><i class="fa fa-calendar" style="margin-left: -15px"></i>
                                            </div>
                                        </div>

                                        <div class="col-sm-1 padding-0 textalignright margintop"><label class="bold">To</label></div>
                                        <div class="col-sm-4 padding-right-0">
                                            <div class="datepicker">
                                                <input type="text" id="datetimepickerTo4" ng-model="endDatenew" style="width: 130px !important;" readonly /><i class="fa fa-calendar" style="margin-left: -15px"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-primary btn-sm" id="modifyproducts" ng-if="selects!=='' && selects=='Report new products'" ng-click="newlyproducts()">Go</button>
                                        </div>





                                    </div>
                                    <div class="col-md-12 row p-0">
                                        <div id="newproductss" title={{hierarchy}} class="kendowidth panel-body" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="newprodoption" ng-if="selects!=='' && selects=='Report new products'"></div>
                                    </div>
                                </div>

                                <div class="small-capsGrid" id="table10" style="background-color: rgba(255,255,255,.6);">
                                    <div id="selectedattributeproducts" style="top: 40px;display:none">
                                        <div class="scrollArea" infinite-scroll='LoadMoreData()'>

                                            <div class="col-sm-12">
                                                    <div class="searchattributes margin-top-10 margin-bottom-15">
                                                        <input type="text" class="search" placeholder="Search Attribute" ng-model="searchText" ng-keypress="EntercallAttributeNameSearch($event)" style="height: 20px;">
                                                        <button class="btn btn-primary" ng-click="callAttributeNameSearch()" title="Search Using Keyword"  style="height: 21px;border-bottom-right-radius: 4px;border-top-right-radius: 4px;margin-left: -4px !important;border: aliceblue;margin-top: -5px;"><i class="fa fa-search"></i></button>
                                                        <button id="btnReset" class="btn btn-primary" title="Reset" ng-click="ResetEditClick()"
                                                                style="height: 21px;border-bottom-right-radius: 4px;border-top-right-radius: 4px;margin-left: 1px !important;border: aliceblue;margin-top: -5px;">
                                                            <i class="fa fa-refresh"></i>
                                                        </button>
                                                    </div>
                                            </div>

                                            <div class="col-sm-6 float-left padding-0" style="margin-bottom: 5px;" ng-repeat="attribute in attributes" ng-if="attribute=='SORT'|| attribute=='WORKFLOW STATUS' || attribute.split('__')[0] == 'ITEM#'">


                                                <div ng-if="attribute.split('__')[0] == 'ITEM#'">
                                                    <div class="col-sm-4 padding-0 textalignright margintop" style="margin-left: 5px;" title="{{CatalogItemNumber}}">
                                                        {{CatalogItemNumber}}
                                                    </div>
                                                    <div class="col-sm-6" ng-if="attribute.split('__')[0] == 'ITEM#'">
                                                        <input style="" type="text"
                                                               ng-model="selectedRow[attribute]"
                                                               ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY"
                                                               ng-maxlength="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].attributePattern" id="textBoxValue{{$index}}"
                                                               name="textBoxValue{{$index}}"
                                                               ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Tex') && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_ID===1"
                                                               ng-blur="datatypecheck($event,selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT,attribute)">
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="col-sm-6 padding-0 float-left more" style="margin-bottom: 5px;" ng-repeat="attribute in attributes" ng-if="attribute!=='DynamicList' && attribute!=='CATALOG_ID'&& attribute!=='ATTRIBUTE_ID'&& attribute!=='PRODUCT_ID'&& attribute!=='FAMILY_ID'&& attribute!=='CATEGORY_ID' && attribute!=='SORT'&& attribute!=='WORKFLOW STATUS' && attribute.split('__')[0] !== 'ITEM#' && attribute !== 'PUBLISH2WEB' && attribute !== 'PUBLISH2PRINT' &&  attribute !== 'PUBLISH2PDF' && attribute !== 'PUBLISH2EXPORT'  && attribute !== 'PUBLISH2PORTAL' && attribute.split('__')[1] == 'OBJ'">

                                                <div class="row top-buffer col-sm-12 float-left">
                                                    <div class="col-sm-4 textalignright padding-0 padding-left-5" ng-if="attribute!=='PUBLISH'&& attribute!=='PUBLISH2PRINT' && attribute!=='WORKFLOW STATUS' &&  attribute.split('__')[1] ==='OBJ'" style="margin-top: 7px;">
                                                        <div class="textwrap" ng-if="attribute.split('__')[0] !== 'ITEM#'" title="{{attribute.split('__')[0]}}">
                                                            {{attribute.split('__')[0]}}
                                                        </div>
                                                    </div>
                                                    <div ng-if="attribute!=='DynamicList' &&  attribute.split('__')[1] ==='OBJ' && attribute!=='PUBLISH'&& attribute!=='PUBLISH2PRINT' && attribute!=='WORKFLOW STATUS' && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED" class="col-sm-6">

                                                        <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE!==4 && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE!==3 && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST && attribute.split('__')[0]!=='Supplier'">

                                                            <input style="" type="text" ng-model="selectedRow[attribute]" ng-pattern="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].attributePattern" ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Num')" onkeypress='return (event.which >= 48 && event.which <= 57) || event.which == 8 || event.which == 46'
                                                                   ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" id="textBoxValue{{$index}}" name="textBoxValue{{$index}}" />
                                                            <span ng-show="productgridform.textBoxValue{{$index}}.$invalid && productgridform.textBoxValue{{$index}}.$error.pattern" class="text-danger">Enter valid format ({{selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].uimask}}).</span>


                                                            <input type="text" style=""
                                                                   ng-model="selectedRow[attribute]"
                                                                   ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY"
                                                                   ng-maxlength="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].attributePattern" id="textBoxValue{{$index}}"
                                                                   name="textBoxValue{{$index}}"
                                                                   ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Tex') && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.contains('a-zA-Z') && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.contains('uFFFF')"
                                                                   ng-blur="datatypecheck($event,selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT,attribute)">


                                                            <textarea ckedit="selectedRow[attribute]" style="float: left;" rows="3" columns="3" class="form-control"
                                                                      ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY"
                                                                      ng-maxlength="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].attributePattern"
                                                                      id="textBoxValue{{selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_ID}}" name="textBoxValue{{$index}}"
                                                                      ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Tex') && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_ID!==1 && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.contains('uFFFF')"></textarea>
                                                            @*<span class="html-preview" title="Html Preview" ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Tex') && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_ID!==1 && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.contains('uFFFF')">
                                <button type="button" style="text-align: center; padding: 0;border: none;background: none;" data-toggle="modal" ng-click="displayHtmlPreview($index)" data-target="#myModal0"><i class="fa fa-eye"></i></button>
                            </span>*@

                                                            <span class="error" ng-show="productgridform.textBoxValue{{$index}}.$error.maxlength">
                                                                Value is too long. Please correct it. Maximum characters is {{selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].uimask}}
                                                            </span>
                                                        </div>
                                                        <div class="" ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE!==3
                                            && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST
                                            && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED!==1" style="width: 215px;">
                                                            <select kendo-drop-down-list
                                                                    k-option-label="'--Select Value--'"
                                                                    ng-model="selectedRow[attribute]"
                                                                    k-data-source="selectedRowDynamic[attribute.split('__')[2]]"
                                                                    ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY"
                                                                    k-data-value-field="'ListItem'"
                                                                    k-data-text-field="'ListItem'" style="width: 175px;"></select>

                                                            <span ng-show="userPickList">
                                                                <a style="cursor: pointer;margin-left:10px" ng-click="PicklistCreate(attribute.split('__')[2],selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].PICKLIST_NAME)" ng-hide="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY">
                                                                    <img src='..\\Content\\images\\Edit Picklist.jpg' title="Modify PickList" style="max-width:20px;max-height:20px;" />
                                                                </a>
                                                            </span>
                                                        </div>
                                                        <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE===4 && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink' && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED && attribute.split('__')[0]!=='Supplier' &&  !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date')">

                                                            <input style="" type="text" ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" name="textBoxValue{{$index}}" ng-model="selectedRow[attribute]" ng-pattern="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].attributePattern" id="textBoxValue{{$index}}" onkeypress='return (event.which >= 48 && event.which <= 57) || event.which == 8 || event.which == 46'>
                                                            <span ng-show="productgridform.textBoxValue{{$index}}.$invalid && productgridform.textBoxValue{{$index}}.$error.pattern" class="text-danger">Enter valid format ({{selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].uimask}}).</span>
                                                        </div>

                                                        <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_TYPE===3 && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink' && attribute.split('__')[1] ==='OBJ' && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">

                                                            <input style="" type="text" ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" ng-model="selectedRow[attribute]" id="{{attribute}}" readonly>
                                                            <br />

                                                            <img ng-if="selectedRow[attribute]!=null &&  !selectedRow[attribute].toLowerCase().contains('.pdf') && !selectedRow[attribute].toLowerCase().contains('.zip') && !selectedRow[attribute].toLowerCase().contains('.rar') && !selectedRow[attribute].toLowerCase().contains('.xls') && !selectedRow[attribute].toLowerCase().contains('.xlsx') && !selectedRow[attribute].toLowerCase().contains('.pdf') && !selectedRow[attribute].toLowerCase().contains('.exe') &&
                                                       !selectedRow[attribute].toLowerCase().contains('.msi') && !selectedRow[attribute].toLowerCase().contains('.doc')&& !selectedRow[attribute].toLowerCase().contains('.docx') && !selectedRow[attribute].toLowerCase().contains('.tif') && !selectedRow[attribute].toLowerCase().contains('.tiff') && !selectedRow[attribute].toLowerCase().contains('.psd') && !selectedRow[attribute].toLowerCase().contains('.eps') "
                                                                 ng-src='{{getPathFromWebConfig}}Content/ProductImages/{{getCustomerCompanyName}}{{selectedRow[attribute]}}'
                                                                 src="../Content/ProductImages/{{getCustomerCompanyName}}{{selectedRow[attribute]}}" style="max-width:100%;max-height:195px;margin:5px" />


                                                            <div ng-if="selectedRow[attribute].split('.')[selectedRow[attribute].split('.').length-1]=='eps' && selectedRow[attribute].split('.')[selectedRow[attribute].split('.').length-1]=='psd' && selectedRow[attribute].split('.')[selectedRow[attribute].split('.').length-1]=='tiff'" style="max-width:55%;max-height:195px;"><p>Preview only available in Family/Category preview</p></div>

                                                            <a ng-if="selectedRow[attribute].toLowerCase().contains('.pdf')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;">
                                                                <img src='..\\Content\\images\\pdf.png' alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;" />
                                                            </a>
                                                            <a ng-if="selectedRow[attribute].toLowerCase().contains('.zip') || selectedRow[attribute].toLowerCase().contains('.rar')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;">
                                                                <img src='..\\Content\\images\\zip.png' alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;" />
                                                            </a>
                                                            <a ng-if="selectedRow[attribute].toLowerCase().contains('.xls') || selectedRow[attribute].toLowerCase().contains('.xlsx')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;">
                                                                <img src='..\\Content\\images\\xls.png' alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;" />
                                                            </a>
                                                            <a ng-if="selectedRow[attribute].toLowerCase().contains('.exe') || selectedRow[attribute].toLowerCase().contains('.msi')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;">
                                                                <img src='..\\Content\\images\\exe.png' alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;" />
                                                            </a>
                                                            <a ng-if="selectedRow[attribute].toLowerCase().contains('.doc') || selectedRow[attribute].toLowerCase().contains('.docx')" target="_blank" class="k-link" href='..\\Content\\ProdImages{{selectedRow[attribute]}}' alt="{{selectedRow[attribute]}}" style="max-width:55%;max-height:195px;">
                                                                <img src='..\\Content\\images\\doc.png' alt="{{selectedRow[attribute]}}" style="max-width:30%;max-height:195px;" />
                                                            </a>
                                                            <div ng-if="selectedRow[attribute].toLowerCase().contains('.pdf') || selectedRow[attribute].toLowerCase().contains('.zip') || selectedRow[attribute].toLowerCase().contains('.rar') || selectedRow[attribute].toLowerCase().contains('.xls') || selectedRow[attribute].toLowerCase().contains('.xlsx') || selectedRow[attribute].toLowerCase().contains('.pdf') || selectedRow[attribute].toLowerCase().contains('.exe') ||
                                                     selectedRow[attribute].toLowerCase().contains('.msi') || selectedRow[attribute].toLowerCase().contains('.doc') || selectedRow[attribute].toLowerCase().contains('.docx') || selectedRow[attribute].toLowerCase().contains('.tif') || selectedRow[attribute].toLowerCase().contains('.tiff') || selectedRow[attribute].toLowerCase().contains('.psd') || selectedRow[attribute].toLowerCase().contains('.eps') " target="_blank"
                                                                 style="max-width:100%;max-height:195px;">
                                                                <div style="max-width:100%;max-height:195px;"><p>Preview only available in Product/Sub-Product preview</p></div>
                                                            </div>
                                                            <div align="left">
                                                                <input name="files" id="{{attribute}}"
                                                                       type="file"
                                                                       title="Product Image"
                                                                       ng-disabled="!userImageandAttachments"
                                                                       kendo-upload
                                                                       k-multiple="false"
                                                                       k-async="{ saveUrl: '/Category/SaveImage', removeUrl: '/Category/RemoveImage', autoUpload: true }"
                                                                       k-select="onProdSelect" k-success="onProdSuccess" ng-if="false" />
                                                                <button id="{{attribute}}" ng-disabled="!userImageandAttachments" title="Product Image" type="button" class="btn btn-primary" style="margin: 10px 0px;" ng-click="OpenPopupWindow(attribute)"><i class="fa fa-paperclip"></i></button>
                                                                <button id="{{attribute}}" ng-disabled="!userImageandAttachments" title="Product Image Clear" type="button" class="btn btn-primary" style="margin: 10px 0px;" ng-click="clearImagePath(attribute)"><i class="fa fa-close"></i></button>
                                                            </div>
                                                            <input placeholder="Caption" type="text" ng-model="selectedRow[attribute.replace('OBJ',1)]" id="textBoximg{{$index}}">
                                                        </div>
                                                        <div ng-if="attribute.split('__')[0]==='Supplier'" ng-controller="productSupplierController">
                                                            <div id="dropDownSupplierGrid">
                                                            </div>
                                                        </div>
                                                        <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE==='Hyperlink(0)' || selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE=='Hyperlink'&& !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED && attribute.split('__')[0]!=='Supplier' && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                                                            <input style="" type="text" ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" ng-model="selectedRow[attribute]" min="0" step="any" focus-me="focusInput" ng-blur="TextBoxChanged($event,this,attribute)" id='textBoxValuenumber{{attribute.split("__")[2]}}'>

                                                        </div>
                                                        <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)'
                                                      && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink'&&
                                                      !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED &&
                                                      attribute.split('__')[0]!=='Supplier' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') &&
                                                       selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4}\\s\\d{2}(\\-|\\:)\\d\\d(\\-|\\:)\\d{2})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)(?=.{11}(?:0[0-9]|1[0-9]|2[03]))(?=.{14}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{17}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))' ||
                                                       selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4}\\s\\d{2}(\\-|\\:)\\d\\d(\\-|\\:)\\d{2}\\s\\w{2})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)(?=.{11}(?:0[1-9]|1[0-2]))(?=.{14}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{17}(?:0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]))(?=.{20}(?:[A|P][M]))' && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                                                            <!--<input id="datetimepicker" name="datetimepicker" style="width:200px;" required />
                        <span class="k-invalid-msg" data-for="datetimepicker"></span>-->
                                                            <!--id='datet
                        ime{{attribute.split("__")[2]}}'-->


                                                            <input style="" kendo-date-time-picker id='datetimeEditProduct{{attribute.split("__")[2]}}'
                                                                   ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" k-format="'MM/dd/yyyy hh:mm tt'"
                                                                   ng-model="selectedRow[attribute]" k-interval="10" ng-blur="datetimecheck($event,attribute)" onkeydown="return true;" k-on-change="onDateSelected(selectedRow[attribute],attribute)" />
                                                            <!--<span class="k-invalid-msg" data-for='datetime{{attribute.split("__")[2]}}'></span>-->
                                                        </div>
                                                    </div>


                                                </div>

                                                <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink'&& !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED && attribute.split('__')[0]!=='Supplier' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') &&
                                                            selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4})(?=.{3}(?:0[1-9]|[12]\\d|3[01]))(?=.{0}(?:0[1-9]|1[0-2]))(?!.{0}(?:0[2469]|11)-31)(?!.{0}02-30)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)...[13579])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)..[13579][048])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)..[02468][26])(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.).[13579]00)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)[13579][048]00)(?!02(\\-|\\/|\\.)29(\\-|\\/|\\.)[02468][26]00)' && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                                                    <input style="width: 175px !important;" kendo-date-picker id='datetime{{attribute.split("__")[2]}}' ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" k-format="'MM/dd/yyyy'" name="monthdate" ng-model="selectedRow[attribute]" ng-blur="datecheck($event,attribute)" onkeydown="return true;" />

                                                </div>
                                                <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink(0)' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE!=='Hyperlink'&& !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED && attribute.split('__')[0]!=='Supplier' && selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATATYPE.contains('Date') &&
                                                     selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)' ||
                                                           selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT === '(?=\\d\\d(\\-|\\/|\\.)\\d\\d(\\-|\\/|\\.)\\d{4})(?=.{0}(?:0[1-9]|[12]\\d|3[01]))(?=.{3}(?:0[1-9]|1[0-2]))(?!.{3}(?:0[2469]|11)-31)(?!.{3}02-30)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)...[13579])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[13579][048])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)..[02468][26])(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.).[13579]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[13579][048]00)(?!29(\\-|\\/|\\.)02(\\-|\\/|\\.)[02468][26]00)' ||
                                                          selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_DATAFORMAT.contains('System') && !selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].USE_PICKLIST">
                                                    <input style="width: 175px !important;" kendo-date-picker id='datetime{{attribute.split("__")[2]}}' ng-disabled="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].ATTRIBUTE_READONLY" k-format="'dd/MM/yyyy'" name="datemonth" ng-model="selectedRow[attribute]" ng-blur="datecheck($event,attribute)" onkeydown="return true;" />

                                                </div>


                                            </div>



                                            <div ng-if="selectedRowDynamicAttributes[attribute.replace(' ', '_').split('__')[2]].IS_CALCULATED" class="col-sm-3">
                                                <input type="text" ng-model="selectedRow[attribute]" min="0" step="any" focus-me="focusInput" id='textBoxValuenumber{{attribute.split("__")[2]}}' readonly class="background-color-grey" style="cursor:not-allowed">
                                            </div>

                                            @*<div id="selectedattributenoresultfound" style="padding: 26px;text-align: -webkit-center;background-color: aliceblue;">
                No Results Found
            </div>*@



                                        </div>

                                        <div id="loadMore" ng-click="LoadMoreData()" class="loadmore">Load more attributes</div>



                                        <div class="col-sm-12" style="padding: 12px 0px;text-align: center;background: #f7f7f7;margin-top: 0px;">
                                            <button type="button" class="btn btn-primary btn-xs" id="btnSaveOptions" name="btnSaveOptions" ng-click="SaveOrUpdateProductforinvertItem(selectedRow)" title="{{saveProductSpecs}}">Update</button>
                                            <button type="button" class="btn btn-primary btn-xs" id="btnCancelOptions" name="btnCancelOptions" ng-click="CancelProductItem()" title="{{cancelProductSpecs}}">Cancel</button>
                                            @*<button id="loadMore" class="btn btn-primary" ng-click="LoadMoreData()">Load More</button>*@
                                        </div>
                                    </div>

                                </div>

                                @*============================================Duplicateimage_list=============================*@
                                <div id="duplicateimg" class="kendowidth" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="Duplicateimage_list" ng-if="selects!=='' && selects=='Duplicate image list'"></div>
                                @*============================================Dicontinued products=============================*@

                                <div class="col-sm-12 row" style="margin: 15px 0px;" ng-show="selects!=='' && selects=='DisContinued Products'" id="discontinuedproductdatepicker">
                                    <div class="col-sm-7 margin-bottom-15">


                                        <div class="col-sm-1 padding-0 textalignright margintop" ng-show="selects!=='' && selects=='DisContinued Products'"><label class="bold">From</label></div>
                                        <div class="col-sm-4 padding-right-0">
                                            <div class="datepicker">
                                                <input type="text" id="datetimepicker_from" style="width: 130px !important;" ng-model="start_Date" /><i class="fa fa-calendar" style="margin-left: -15px"></i>
                                            </div>
                                        </div>




                                        <div class="col-sm-1 padding-0 textalignright margintop"><label class="bold">To</label></div>
                                        <div class="col-sm-4 padding-right-0">
                                            <div class="datepicker"><input type="text" style="width: 130px !important;" id="datetimepicker_to" ng-model="end_Date" /><i class="fa fa-calendar" style="margin-left: -15px"></i></div>
                                        </div>


                                        <div class="col-sm-2">
                                            <button type="button" id="gobutton" class="btn btn-primary btn-sm" ng-if="selects!=='' && selects=='DisContinued Products'" ng-click="deletedproduct()">Go</button>
                                        </div>

                                    </div>
                                    <div class="col-md-12 row p-0">
                                        <div id="discontinuedproducts" class="kendowidth" kendo-grid k-data-source="ImageTypeReportsoptionsDatasource" k-options="DisContinued_Products" ng-if="selects!=='' && selects=='DisContinued Products'" style="display: inline-block;"></div>
                                    </div>

                                </div>



                            </li>
                        </ul>

                    </div>

                </div>


            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#tabstripbulk").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });
    });
</script>
<script>
    //Date picker
    jQuery.datetimepicker.setLocale('en'); jQuery('#datetimepickerFrom1').datetimepicker({ i18n: { en: { months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December', ], dayOfWeek: ["Sun", "Mon", "Tue", "Wed", "Thur", "Fri", "Sat", ] } }, timepicker: false, format: 'm/d/Y' });
    jQuery.datetimepicker.setLocale('en'); jQuery('#datetimepickerTo2').datetimepicker({ i18n: { en: { months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December', ], dayOfWeek: ["Sun", "Mon", "Tue", "Wed", "Thur", "Fri", "Sat", ] } }, timepicker: false, format: 'm/d/Y' });

    $(document).ready(function () {
        var d = new Date(),
            date = ((d.getMonth() + 1) + '/' + (d.getDate()) + '/' + d.getFullYear());
        $('#datetimepickerFrom1').val(date);
    });

    $(document).ready(function () {
        var d = new Date(),
            date = ((d.getMonth() + 1) + '/' + (d.getDate()) + '/' + d.getFullYear());
        $('#datetimepickerTo2').val(date);
    });
</script>
<script>
    //Date picker
    jQuery.datetimepicker.setLocale('en'); jQuery('#datetimepickerFrom3').datetimepicker({ i18n: { en: { months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December', ], dayOfWeek: ["Sun", "Mon", "Tue", "Wed", "Thur", "Fri", "Sat", ] } }, timepicker: false, format: 'm/d/Y' });
    jQuery.datetimepicker.setLocale('en'); jQuery('#datetimepickerTo4').datetimepicker({ i18n: { en: { months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December', ], dayOfWeek: ["Sun", "Mon", "Tue", "Wed", "Thur", "Fri", "Sat", ] } }, timepicker: false, format: 'm/d/Y' });

    $(document).ready(function () {
        var d = new Date(),
            date = ((d.getMonth() + 1) + '/' + (d.getDate()) + '/' + d.getFullYear());
        $('#datetimepickerFrom3').val(date);
    });

    $(document).ready(function () {
        var d = new Date(),
            date = ((d.getMonth() + 1) + '/' + (d.getDate()) + '/' + d.getFullYear());
        $('#datetimepickerTo4').val(date);
    });
</script>
<script>
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>
@*============================================Dicontinued products=============================*@
<script>
    //Date picker
    jQuery.datetimepicker.setLocale('en'); jQuery('#datetimepicker_from').datetimepicker({ i18n: { en: { months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December', ], dayOfWeek: ["Sun", "Mon", "Tue", "Wed", "Thur", "Fri", "Sat", ] } }, timepicker: false, format: 'm/d/Y' });
    jQuery.datetimepicker.setLocale('en'); jQuery('#datetimepicker_to').datetimepicker({ i18n: { en: { months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December', ], dayOfWeek: ["Sun", "Mon", "Tue", "Wed", "Thur", "Fri", "Sat", ] } }, timepicker: false, format: 'm/d/Y' });


    $(document).ready(function () {
        // create DateTimePicker from input HTML element
        $("#datetimepicker_from").kendoDatePicker({
            value: new Date(),
            dateInput: true
        });
    });

    $(document).ready(function () {
        // create DateTimePicker to input HTML element
        $("#datetimepicker_to").kendoDatePicker({
            value: new Date(),
            dateInput: true
        });
    });
</script>

<script>
    $(document).ready(function () {
        var tooltip = $("#modifyproductss").kendoTooltip({
            filter: "span",
            width: 120,
            position: "right",
            animation: {
                open: {
                    effects: "zoom",
                    duration: 150
                }
            }
        }).data("kendoTooltip");

        tooltip.show($("#ITEM_NUMBER"));
    });
</script>







<div kendo-window="winManageDrive" k-resizable="false" k-draggable="false" k-title="'Asset Management'" k-width="1150" k-height="600" k-visible="false"
     k-actions='["Close"]' k-modal="true" k-on-open="driveMahementIsVisible==true" k-on-close="onClose(kendoEvent)">
</div>
@section scripts{
    <script type="text/javascript" src='@Url.Content("~/Views/App/Reports/ReportController.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Views/ImageManagement/ImageManagementPopup.js")'></script>


}







@*//================================PRITHVIN=======================================================//*@
