﻿@*<script src="http://cdn.kendostatic.com/2014.3.1029/js/jszip.min.js"></script>*@
<script src="~/Scripts/jszip.min.js"></script>


<script type="text/javascript" src='@Url.Content("~/Views/App/Reports/SummaryController.js")'></script>
<style>
    #custom-menu1, #custom-menuFam {
        z-index: 99999;
        position: absolute;
        border: solid 2px ButtonHighlight;
        /*background-color: darkviolet;*/
        padding: 5px 0;
        display: none;
        cursor: pointer;
    }

        #custom-menu1 ol, #custom-menuFam ol {
            padding: 0;
            margin: 0;
            list-style-type: none;
            min-width: 130px;
            width: auto;
            max-width: 200px;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
            font-size: 12px;
        }

            #custom-menu1 ol li, #custom-menuFam ol li {
                margin: 0;
                display: block;
                list-style: none;
                padding: 5px 5px;
            }

                #custom-menu1 ol li:hover, #custom-menuFam ol li:hover {
                    color: darkslateblue;
                    /*background-color: #0066aa;*/
                    background-color: white;
                }

                #custom-menu1 ol li a:hover, #custom-menuFam ol li a:hover {
                    color: darkmagenta;
                    /*background-color: #0066aa;*/
                    background-color: white;
                }

                #custom-menu1 ol li:active, #custom-menuFam ol li:active {
                    color: White;
                    background-color: #000;
                }

            #custom-menu1 ol .list-devider, #custom-menuFam ol .list-devider {
                padding: 0px;
                margin: 0px;
            }

                #custom-menu1 ol .list-devider hr, #custom-menuFam ol .list-devider hr {
                    margin: 2px 0px;
                }

            #custom-menu1 ol li a, #custom-menuFam ol li a {
                /*color: white;*/
                text-decoration: none;
                display: block;
                padding: 0px 5px;
            }

                #custom-menu1 ol li a:active, #custom-menuFam ol li a:active {
                    color: White;
                }

    .k-grid tbody .k-grid .k-grid-header {
        display: none;
    }

    .k-grid .k-hierarchy-col {
        width: 8px;
    }


    .k-grid-content {
        max-height: 400px;
    }
</style>

<div ng-controller="SummaryController">
    <div class="panel-body">
        <div id="ss" ng-right-click="click($event)">
            <div id="grid"></div>
        </div>
    </div>


    <div id="custom-menu1" ng-mouseleave="HideMenu1()" class="k-list-container k-split-container k-popup k-group k-reset k-state-border-up" ng-cloak>
        <ol>
            <li ng-click="leftNavExpand()"><a><b>Expand All</b></a> </li>
            <li ng-click="leftNavCollapse()"><a><b>Collapse All</b></a> </li>
        </ol>
    </div>
</div>

