.og-grid { list-style: none; padding: 20px 0; margin: 0 auto; width: 100%; text-align:center; }
.og-grid li { display: inline-block; text-align:center; margin: 10px 15px; vertical-align: top; padding: 20px; border: solid thin #ddd; height: 190px !important; box-shadow: 0 0 5px #f7f7f7 inset; transition: all ease .5s; }
.og-grid li:hover { box-shadow: 0 0 5px #cacaca inset; }
.og-grid li > a, .og-grid li > a img { border: none; outline: none; display: block; position: relative; }
.og-grid li.og-expanded > a::after { top: auto; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-bottom-color: #ddd; border-width: 15px; left: 50%; margin: -20px 0 0 -15px; }
.og-expander { position: absolute; background: #ddd; top: auto; left: 0; width: 100%; margin-top: 10px; text-align: left; height: 0; overflow: hidden; z-index: 1; }
.og-expander-inner { padding: 50px 30px; height: 100%; }
.og-close { position: absolute; width: 40px; height: 40px; top: 20px; right: 20px; cursor: pointer; }
.og-close::before, .og-close::after { content: ''; position: absolute; width: 100%; top: 50%; height: 1px; background: #888; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); transform: rotate(45deg); }
.og-close::after { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); transform: rotate(-45deg); }
.og-close:hover::before, .og-close:hover::after { background: #333; }
.og-fullimg, .og-details { width: 50%; float: left; height: 100%; overflow: hidden; position: relative; }
.og-details { padding: 0 40px 0 20px; }
.og-fullimg { text-align: center; }
.og-fullimg img { display: inline-block; max-height: 100%; max-width: 100%; }
.og-details h3 { font-weight: 300; font-size: 32px; padding:10px 0 10px; margin-bottom: 10px; }
.og-details p { font-weight: 400; font-size: 16px; line-height: 22px; color: #999; }
.og-details a { font-weight: 700; font-size: 16px; color: #fff; /*text-transform: uppercase;*/ text-transform: capitalize; letter-spacing: 2px; padding: 10px 20px; border: 3px solid #4A9D43; display: inline-block; margin: 30px 0 0; outline: none; background: #4A9D43; }
.og-details a::before { content: '\2192'; display: inline-block; margin-right: 10px; }
.og-details a:hover { border-color: #4A9D43; color: #000; }
.og-loading { width: 20px; height: 20px; border-radius: 50%; background: #ddd; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc; position: absolute; top: 50%; left: 50%; margin: -25px 0 0 -25px; -webkit-animation: loader 0.5s infinite ease-in-out both; -moz-animation: loader 0.5s infinite ease-in-out both; animation: loader 0.5s infinite ease-in-out both; }

.foot_subscribe { color: #000000; font-size: 11px; height: 38px; padding:0 5px;  border:none; width:100%; }
.sub_submit { background: url("../img/Signup.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);  border: 0; height: 38px;   position: relative; width: 82px;  mar
0; padding:0;}

ul.list-unstyled li a { margin-bottom:5px; display:inline-block;}
p.width_size{ padding-right:30px; padding-top:8px;}


.amenu ul.main-menu li.category:hover { background:#000;}

.main-menu sub-menu a { background:#fff;}

#prodetail-tab { margin-bottom:20px;}

#prodetail-tab li { width:15%; margin-right:2%; text-align:center;}
#prodetail-tab li.active a { background:#003466; color:#fff;}
#prodetail-tab li a { width:auto; text-decoration:none; padding:5px 0;  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif !important; font-size:16px; font-weight:300; margin-bottom:6px; border:1px solid #ccc; color:#003466; }

#prodetail-tab li a:hover { color:#fff; background:#003466;}
#prodetail-tab li a:active{ color:#fff; background:#003466;}



#prodetail-tab li:last-child { margin-right:0;}


.tab-content { margin:px 0px;}

.tab-pane { border:1px solid #ccc; border-bottom-left-radius:8px; border-bottom-right-radius:8px; padding:20px;}

.tab-pane { border-top:none;}

#detailpge_thump { width:100%; text-align:center; }

#detailpge_thump .img_width { width:auto;}

#detailpge_thump .thumb_img { width:22%; margin-right:4%; padding:0; text-align:center; display:block; }

#detailpge_thump .thumb_img:nth-child(4) { margin-right:0;}

#detailpge_thump .thumb_img img { margin:0; padding:5%; text-align:center;  }

.register_panel { padding:0 0px 30px 0; margin-bottom:30px; border:1px solid #ccc;}

.customer_login { padding:12px; margin-bottom:20px; background:#003466; color:#fff;  }

.contact_info { padding:0 0px 0px 0; border:1px solid #ccc;}

.contact_info .address { margin-bottom:25px; font-style:normal;  list-style:none; }

.register_panel .address li  { list-style:none; margin-bottom:15px;}
.address li span { margin-left:45px;}

.blue_color { background:#0069B3;  }

.addto_cart li { padding:5px;}
.addto_cart a  { text-decoration:none; padding:18px 50px; border-radius:5px; background:#4A9D43;}
.addto_cart a:hover { background:#003466;}

.register_panel .mar-less li { margin-bottom:10px; }

@media screen and (max-width:230px) {
	
#prodetail-tab li { width:50%; margin-right:0%; font-size:11px; text-align:center;} 
#prodetail-tab li a { font-size:12px; padding:3px 0;}
}

@media screen and (max-width:215px) {
.sub_submit { background: url(../img/Signup_small.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);  border: 0; height: 38px;   position: relative; width: 49px;  margin:0; padding:0;}
.list-group-item .cate_des_height { height:auto;}

.nav>li>a.cart_drop { padding:0 0 10px 10px; line-height:18px; }
.cart_drop { padding-bottom:0; padding-top:0;}
.cart_drop span.font_size_22 { font-size:11px;}
.item_cart .navbar-nav { margin:0px -10px;}
.navbar-nav .open .dropdown-menu { position:relative;}
.drop_width { width:104px;}
.list-group-item .thumbnail { border:none; }
.thumbnail { border:none;}
.list-group-item .thumbnail { border-bottom:1px solid #ddd;}
.list-group-item .Price_div{ padding-top:30px; display:block; margin:0 auto;}
}

 @media screen and (max-width: 768px) {
.foot_subscribe { width:100%; padding:0 8px;}
.sub_submit { float:left; }



#prodetail-tab li { width:50%; margin-right:0%; font-size:11px; text-align:center;} 
#prodetail-tab li a { font-size:14px; padding:3px 0;}

}

 @media screen and (max-width: 992px) {

.center-welcome { text-align:center; margin:0 auto; display:block; }

.top_menu_bg span { font-size:13px; height:auto; }
.top_menu_bg a { padding-bottom:10px; }


.top_menu_bg li a { font-size:13px; padding:0;}

}

.removepatt.col-sm-8, .removepatt.col-xs-8 { padding:0;}
.removepatt.col-sm-4, .removepatt.col-xs-4 { padding:0;}




 @-webkit-keyframes loader {  0% {
background: #ddd;
}
 33% {
background: #ccc;
box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;
}
 66% {
background: #ccc;
box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;
}
}
 @-moz-keyframes loader {  0% {
background: #ddd;
}
 33% {
background: #ccc;
box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;
}
 66% {
background: #ccc;
box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;
}
}
 @keyframes loader {  0% {
background: #ddd;
}
 33% {
background: #ccc;
box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;
}
 66% {
background: #ccc;
box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;
}
}
 @media screen and (max-width: 830px) {
.og-expander h3 { font-size: 32px; }
.og-expander p { font-size: 13px; }
.og-expander a { font-size: 12px; }
}
 @media screen and (max-width: 650px) {
.og-fullimg { display: none; }
.og-details { float: none; width: 100%; }
}
