/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */
@media(min-width:900px) {
    #wrapper {
        padding-left: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        overflow: hidden;
    }

        #wrapper.toggled {
            padding-left: 264px;
            overflow: hidden;
        }

    #sidebar-wrapper {
        /*z-index: 1000;*/
        position: absolute;
        left: 250px;
        width: 0;
        min-height: auto;
        max-height:777px;
        margin-left: -250px;
        /*overflow-y: auto;*/
        /*background: #000;*/
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-top: 1px;
    }

    #sidebar-wrapper1 {
        /*z-index: 1000;*/
        position: absolute;
        left: 250px;
        width: 0;
        min-height:540px;
        margin-left: -250px;
        /*overflow-y: auto;*/
        /*background: #000;*/
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-top: 1px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 285px;
    }

    #wrapper.toggled #sidebar-wrapper1 {
        width: 285px;
    }

    #page-content-wrapper {
        position: absolute;
        /*padding: 15px;*/
        width: 100%;
        overflow-x: hidden;
    }

    .xyz {
        min-width: 360px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0px;
    }

    .fixed-brand {
        width: auto;
    }
    /* Sidebar Styles */

    .sidebar-nav {
        position: absolute;
        top: 0;
        width: 95%;
        margin: 0;
        padding: 0;
        list-style: none;
        margin-top: 0px;
    }

        .sidebar-nav li {
            /*text-indent: 15px;
    line-height: 40px;*/
        }

            .sidebar-nav li a {
                display: block;
                text-decoration: none;
                color: #999999;
            }

                .sidebar-nav li a:hover {
                    text-decoration: none;
                    color: #fff;
                    background: rgba(255,255,255,0.2);
                }

                .sidebar-nav li a:active,
                .sidebar-nav li a:focus {
                    text-decoration: none;
                }

        .sidebar-nav > .sidebar-brand {
            height: 65px;
            font-size: 18px;
            line-height: 60px;
        }

            .sidebar-nav > .sidebar-brand a {
                color: #999999;
            }

                .sidebar-nav > .sidebar-brand a:hover {
                    color: #fff;
                    background: none;
                }

    .no-margin {
        margin: 0;
    }


    #wrapper {
        padding-left: 285px;
    }

    .fixed-brand {
        width: 264px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper , #sidebar-wrapper1  {
        width: 332px;
        height: auto;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 280px;
    }

    #wrapper.toggled #sidebar-wrapper1 {
        width: 280px;
    }

    #wrapper.toggled-2 #sidebar-wrapper {
        width: 0%;
    }

    #wrapper.toggled-2 #sidebar-wrapper1 {
        width: 0%;
    }

        #wrapper.toggled-2 #sidebar-wrapper:hover {
            /*width: 285px;*/
        }


    #page-content-wrapper {
        /*padding: 20px;*/
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        margin-left: 19px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 264px;
    }

    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -285px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: 126%;
    }
}

/* Toggle Styles */
@media(min-width:1200px) {
    #page-content-wrapper {
        /*padding: 20px;*/
        /*position: relative;*/
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        /*margin-left: 19px;*/
    }

    #wrapper.toggled-2 #page-content-wrapper {
        /*position: relative;*/
        margin-right: 0;
        margin-left: -285px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        /*width: 100%;*/
    }
}
